[2020-08-25 17:43] jtrueblood-anaqua commented on #6597
Hey cobraz,

We are experiencing the same issue. I'm going to gather info an post in a few.

Thanks,
Jeff

[2020-08-26 00:50] gmcelhoe opened #7297 "*Unused* imports is the problem"
"the unused imports in other classes (say Cat.java) prevents the code to compile."

That seems like the most solvable problem -- if the generated file only imported classes it used, then the `.openapi-generator-ignore` trick would work.

[2020-08-26 00:51] #7297 closed

[2020-08-26 00:51] gmcelhoe commented on #3100
That seems like the most solvable problem -- if the generated file only imported classes it used, then the .openapi-generator-ignore trick would work.

[2020-08-26 01:36] #6225 closed

[2020-08-26 08:37] wing328 commented on #7283
Let us know if you still need help on this.

[2020-08-26 08:37] #7283 closed

[2020-08-26 08:38] wing328 commented on #7269
I've filed https://github.com/OpenAPITools/openapi-generator/pull/7299

[2020-08-26 09:53] wing328 commented on #7281
@pgrosslicht thanks for filing the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/7300 to fix it.

[2020-08-26 09:56] jirikuncar commented on #7283
@wing328 I have few updates. It works now if I run the `./bin/generate-samples.sh bin/configs/python-blueplanet.yaml` but it fails for `./bin/generate-samples.sh bin/configs/python-*.yaml`

[code]

[2020-08-26 11:29] #7281 closed

[2020-08-26 12:00] surmabck commented on #3100
As a workaround I can suggest adding `additionalProperties: true` to _child_ schema.
For example, below would not generate additional CatAllOf.java
[code]
That works because composed schema (allOf, oneOf, anyOf) that also defines `additionalProperties` are considered to be  a `MapSchema` and models are not generated for MapSchemas.
I haven't encountered any problems so far with this solution so fa

[2020-08-26 12:46] kito99 commented on #7256
Just ran into this as well with the same version. Can we get this prioritized for the next release?

[2020-08-26 13:52] ityuhui commented on #7221
I'm going to address the remaining bugs in api/*.c

I think 2 PR will be enought.

one is for
Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |  
-- | -- | -- | -- | -- | -- | --
Memory error | Memory leak | api/PetAPI.c | PetAPI_uploadFile | 705 | 5 |

And the other one is for
Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |  
-- | -- | -- | -- | -- | --

[2020-08-26 13:54] neopaf commented on #7256
@kito99 Kito, my sympathy...
For now I've just handmade missing files... just so I could still use generated code.
But I'm not happy :(

[2020-08-26 16:02] wing328 commented on #7256
Please try the `java` (library: jersey2) client generator in the latest master, which offers better support for oneOf, anyOf.

[2020-08-26 18:11] olvlvl commented on #565
@wing328 I see this issue has been closed a long time ago, but I'm facing the same issue with the likes of `Id`, `MenuId`… also, although I'm running the command with `GO_POST_PROCESS_FILE="gofmt -w"`, the files are not properly formatted.

Can you provide a link to the documentation to use that hook?

PS: I'm using the generator `go-server`.

[2020-08-26 21:44] sbu-WBT commented on #5794
I had a look a the generator and found out by trial and error that removing the following method fixes the problem.

https://github.com/OpenAPITools/openapi-generator/blob/11a674f24893d12ce1e35993bef1e93d38178bbb/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java#L458-L470

But there must be reason, why the method was overridden from the default gener

[2020-08-27 01:20] haflare commented on #4303
This issue still seems to be present. I have tried csharp, java, and python; it works fine. It's just with php.

![image](https://user-images.githubusercontent.com/62224054/91372436-fbf21800-e856-11ea-9378-d50211f635f9.png)

Any update on the issue?

[2020-08-27 02:43] wing328 commented on #7280
The upcoming 5.0.0 version (major release) allows breaking change so we can include your changes into go-gin-server directly. Just that we need to highlight the breaking changes in the PR description to make people aware of these.

I would suggest filing small PRs to target the requested features one by one to allow easier review and faster merge.

[2020-08-27 02:47] ash-r1 commented on #7280
@wing328 Thank you for your reply.

Good!

Okay, I'll focus on one thing by one PR as much as I can.

[2020-08-27 03:42] #7252 closed

[2020-08-27 03:43] #7269 closed

[2020-08-27 09:09] avbenavides opened #7303 "Bash Client Escapes parameters with a 't' to %09 and leaves tabs unescaped"
Bash Client Escapes parameters with a 't' to %09 and leaves tabs unescaped

openapitools/openapi-generator-cli Version 5.0.0-SNAPSHOT

Command used to generate:

[code]

Example:
[code]
should be

[code]

Fix:
https://github.com/OpenAPITools/openapi-generator/blob/6358b11516410a62ba7c5ecc1db8148b8da71003/modules/openapi-generator/src/main/resources/bash/client.mustache#L248

Change to
[code]

[2020-08-27 10:29] wing328 commented on #7303
@avbenavides can you please file a PR with the suggested fix so that we can review more easily?

[2020-08-27 15:14] #5779 closed

[2020-08-27 15:44] spacether commented on #6989
Resolved by the above PR

[2020-08-27 15:44] #6989 closed

[2020-08-28 11:08] jimschubert commented on #4492
This has been contributed via #6716 and will be included in our 5.0 release.

It required bumping up from our previous minimum Gradle version to support everything fully.

[2020-08-28 11:08] #4492 closed

[2020-08-28 13:10] ityuhui commented on #7221
There is only one problem remaining:

Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |  
-- | -- | -- | -- | -- | -- | --
Logic error | Uninitialized argument value | api/PetAPI.c | PetAPI_deletePet | 190 | 6 |

But I do not understand why the ```localVarToReplace_petId``` is marked as "Uninitialized argument value"

Hi @wing328 @zhemant @michelealbano

Do you have any commen

[2020-08-28 15:19] #7126 closed

[2020-08-28 15:20] macjohnny commented on #7040
closed with https://github.com/OpenAPITools/openapi-generator/pull/7127
thanks @sarumont

[2020-08-28 15:20] #7040 closed

[2020-08-28 16:27] #6854 closed

[2020-08-29 09:18] stcarrez commented on #3522
This problem is fixed by the pull request.

[2020-08-29 09:18] #3522 closed

[2020-08-29 09:38] ling-qi opened #7310 "Server Variables not working with Multiple Servers by Dart"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-29 20:52] dtiller opened #7311 "[BUG] [openapi-generator-cli] BATCH mode does not recognize multiple or nested '!include' directives."
#### Bug Report Checklist

- [:white_check_mark:] Have you provided a full/minimal spec to reproduce the issue?
- [:white_check_mark:] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [:white_check_mark: ] What's the version of OpenAPI Generator used?
- [:white_check_mark:] Have you search for related issues/PRs?
- [:white_check

[2020-08-30 01:30] yukihane commented on #1915
I have added args using [extensions](https://swagger.io/docs/specification/openapi-extensions/) and [modified templates](https://openapi-generator.tech/docs/templating/).

sample:
https://github.com/yukihane/hello-java/compare/e0ec33c6724d2c1f3a08280a084c91428efc711e..4763823f7934c11982442867fb8b311ed5914ada

[2020-08-30 20:28] michael-wirth opened #7313 "[BUG] kotlin-spring generator resolves invalid package for imports form importMap"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-30 21:41] jimschubert commented on #5301
Please follow community guidelines and be respectful and constructive.

There's always room for improvement in documentation, but opening issues containing only a description of:

Is neither constructive or respectful. I spent maybe 80% of my efforts on this project last year putting together the documentation site at https://openapi-generator.tech, making it easier for developers to find informat

[2020-08-31 02:37] himadree-shekhar opened #7316 "[BUG] [C++][cpp-restsdk] multipart: How to upload multiple files with same form field name per file."
I want to upload multiple files under same form field name per file using multipart in a single request.
But because of the same form field name, it was taking all the files.
The details are already posted on [stackoverflow](https://stackoverflow.com/questions/62381898/c-rest-sdk-how-to-upload-multiple-files-with-same-form-field-name-per-file-in):
please respond if anyone knows the fix.
openapi-ge

[2020-08-31 04:25] jimschubert commented on #7227
I don't understand the question. Could you provide an example?

In general, if you'd like to modify the documentation then you'd do so after generation and add all docs to the `.openapi-generator-ignore` file in the output directory. This allows regeneration without overwriting your work.

[2020-08-31 05:44] #5301 closed

[2020-08-31 07:15] jfeltesse-mdsol commented on #5903
@sebastien-rosset ⬆️ are we on the same page? can you confirm this limitation from the generator? it happens on ruby too, leading me to think it's a core issue, not a language/template specific one.

[2020-08-31 10:18] typhoon2k commented on #7122
@wing328 , could you please take a look at this (should be easy/fast to fix)?

BTW, now there are 2 test classes, which are common for TypeScript codegens - TypeScriptClientCodegenTest and SharedTypeScriptTest. IMO they need to be merged.

[2020-08-31 11:09] AlexMartinezVila commented on #1680
I'm facing the same issue. any plans for merging the fixes?

[2020-08-31 11:20] kbroncel commented on #6639
Could you answer your own question? I'm currently having the same problem.

[2020-08-31 11:24] karllosernnesto-vakt commented on #2906
Im having some issue... using **_openapi-generator-maven-plugin_** at 4.3.1 version. So do u have any updates regarding this issue?

[2020-08-31 13:17] wing328 commented on #2906
Currently, only `java` client (`jersey2` library) generator has better support for oneOf and anyOf. Please give it a try to see if you've any feedback on the implementation.

[2020-08-31 13:19] #6892 closed

[2020-08-31 13:24] wing328 commented on #5903
@jfeltesse-mdsol I think it's a limitation in the inline model/schema resolver when handling oneOf that's defined inline.

[2020-08-31 13:25] #2901 closed

[2020-08-31 13:52] typhoon2k opened #7319 "[BUG] Invalid warning about inline schema usage in allOf"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-31 13:56] typhoon2k commented on #7319
There are reports about this anomaly in already closed issue - https://github.com/OpenAPITools/openapi-generator/issues/1358#issuecomment-466228501.

[2020-08-31 16:20] zeraphin21 commented on #6786
Agree with that, I figured out the same problem and was forced to override the proxy attribute.
We should have the possibility to set proxy when init Configuration class.

[2020-08-31 16:44] spacether commented on #7262
@FelschR we have two issues at play here.

1. It does look like there is a bug in openapi generator where it incoorectly hoisted your discriminator from UserTimeBase into UserSleep.
2. Your spec incorrectly sets additionalProperties to false when additional properties exist in the javascript object. Per the [json schema spec](https://tools.ietf.org/html/draft-wright-json-schema-validation-00#page-

[2020-08-31 21:21] ahreed304 opened #7322 "[BUG][Kotlin] The character '-' in request headers replaced with 'Minus'"
##### Description

Header names defined in the api spec that contain dashes are generated incorrectly.  'x-application-name' generates as 'xMinusApplicationMinusName.  This only happens when generating Kotin.  If the same spec is used to generate Java code, it will appear correctly as 'xApplicationName'.

##### openapi-generator version

Using version 4.3.1.  Also tried 5.0.0-beta with same result

[2020-09-01 01:43] #2294 closed

[2020-09-01 01:54] #7185 closed

[2020-09-01 06:49] mahartma opened #7325 "[BUG] compile errors when generating kotlin-spring with delegate pattern and reactive true"
[code]

Api:
[code]

Delegate:
_in the delegate the exchange param is missing_
[code]

[code]

[2020-09-01 07:59] mishin commented on #6616
https://www.baeldung.com/jackson-exception

[2020-09-01 11:56] ityuhui commented on #7221
Hi @wing328

Since there is no more question and comment, I think the bugs reported by this ticket are resolved.
Could you please re-run the Clang Static Analyzer and verify my PR ?

[2020-09-01 13:27] isycat commented on #2012
Heads up, the issue has not been fixed:
1. Omitting the "= null" from "paramName: TypeName? = null" in method signatures forces the consumer to specify null as the value, which makes the "required: false" parameter effectively required, albeit nullable.

2. The implementation _does not_ handle nullable header values
`val localVariableHeaders: MutableMap<String, String> = mutableMapOf("headerName"

[2020-09-02 00:37] mishin commented on #6616
[code]

[2020-09-02 01:47] jimschubert commented on #3456
@FloKaemmerer I apologize that I didn't make it more clear in my first comment on this thread, but the changes I've shown above are on master, not in 5.0.0-beta. This is what BrokenDTO would look like on master:

![image](https://user-images.githubusercontent.com/109659/91922693-880f9f80-ec9c-11ea-86db-7b2753adfa2e.png)

We'll have a second beta release later this week, but if you want to try thin

[2020-09-02 03:10] wing328 commented on #7283
No luck repeating the issue.

Can you try recloning the repo (https://github.com/OpenAPITools/openapi-generator) or try it in another machine?

[2020-09-02 04:03] nugrahawahyu commented on #4637
@mitsuru793
I'm still experiencing the issue (from master, using swagger-parser 2.0.20), care to elaborate how did you solve it?

My setup:

dir tree:
[code]

openapi.yaml:
[code]

rousources/merchants/components/paths/actions.yaml:
[code]

rousources/merchants/components/schemas/Merchant.yaml:
[code]

rousources/merchants/components/schemas/Merchants.yaml:
[code]

Command line used for generation

[2020-09-02 06:56] wing328 commented on #7221
[sep2report.zip](https://github.com/OpenAPITools/openapi-generator/files/5160573/sep2report.zip)

Attached please find the updated report.

[2020-09-02 08:11] itaru2622 opened #7330 "[BUG] [jaxrs-jersey] [java] [jersey] Generated API interface treats multipart arrays as a single file"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-02 08:15] itaru2622 commented on #7330
I prefer 'choice C' , for fixing this issue :-)

[2020-09-02 10:10] bvfalcon commented on #6881
What is with this feature? I want to add JsonB functionality for language=java too

[2020-09-02 12:32] ityuhui commented on #7221
Thank you @wing328

4 new problems are reported by this time.
I think 1~2 PR will fix them.

Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |  
-- | -- | -- | -- | -- | -- | --
Logic error | Uninitialized argument value | api/PetAPI.c | PetAPI_uploadFile | 718 | 17 |
Logic error | Uninitialized argument value | api/PetAPI.c | PetAPI_deletePet | 198 | 13 |
Logic error | Uninit

[2020-09-02 13:14] tobymurray commented on #4673
I just tried this out on `master` () and was unable to reproduce this issue. The current head of `master` produces an `org.openapitools.client.model.ObjectMap` with no corresponding HashMap (which is where it broke previously) e.g.:
[code]

[2020-09-02 14:28] mitsuru793 commented on #4637
@nugrahawahyu
Hi!

There are lots of typo of path in your reply. I have a trouble.
I think you are beginner. Me too.

I’ll give you advices about openapi-generator. I had a lot of trouble and solve them.

1. Log of openapi is not easy to read. I don’t know Java. So, we have to build command frequently, but when also small change.
2. There is a openapi lint tool. I am going to use it. Then, the fol

[2020-09-02 15:51] pmjordan commented on #7076
Looks like a repeat of issue #3345 and #1666

[2020-09-02 15:59] wing328 commented on #4673
[code]
For `ObjectMap` defined above, openapi-generator generates a Java class `ObjectMap`, which extends `HashMap<String, Object>`:
[code]

It seems to me openapi-genreator is doing the right thing.

What's your expected output?

[2020-09-02 16:13] nugrahawahyu commented on #4637
@mitsuru793, My bad, sorry for typos and the incomplete example (`resources/merchants/components/responses/Merchant.yaml`, I've updated it). In the updated example, the issue is:

[code]

[$ref](https://swagger.io/docs/specification/using-ref/?sbsearch=ref) cannot be used directly under `200:` (swagger-cli can handles it though)

Thank you for your example, especially the linter, truly appreciate

[2020-09-02 16:16] jirikuncar commented on #7283
I have a workaround:

[code]
but still no success on macOS directly with
[code]

[2020-09-02 16:17] mitsuru793 commented on #4637
@nugrahawahyu

OK! I am not angry. I have thought to help you☺️
I am Japanese. I'm not good at speaking English.
I am poor in expression of English🙏

Yes! I think it's correct.
I don't know about openapi correcty😆

[2020-09-02 17:04] mitsuru793 commented on #4637
This issue has resolved. I'll close it.

[2020-09-02 17:04] #4637 closed

[2020-09-02 17:06] gausnes commented on #5690
I'm seeing this as well using `4.3.1`. #2901 appears to just be cleaning up this import is not used. Model generation is still failing if properties are flagged with `nullable: true`

[2020-09-02 17:11] toby-murray-snow-software commented on #4673
I agree with you, maybe poorly worded on my part. I was unable to reproduce this issue on the head of `master`, meaning this bug has been fixed and I did not encounter it in my test.

I mentioned the `ObjectMap` and `HashMap` as that's the functional change I observed. The broken behavior that existed previously tried to do `ObjectMap whatever = new HashMap()`, the current (non-broken) behavior av

[2020-09-02 17:42] Patouche commented on #5690
@gausnes : In fact, it is more than that.

The may objective of #2901 was to remove a jar (and also all associated imports) from the generated code. When I made this PR, I ensure that all dependencies was properly in the classpath (pom.xml or build.gradle) when you enable the property `openApiNullable`. In this case, I noticed that the dependencies were missing and I added.

In the future release

[2020-09-02 19:46] devhl-labs commented on #7265
You can make this happen now if you use the -t template option.  Just save the mustache template to your disk and specify -t pathToDirectory

[2020-09-02 21:32] bora-fsd commented on #6366
Same issue here.

[2020-09-03 03:04] wing328 commented on #4673
Ah ok :)

[2020-09-03 03:04] #4673 closed

[2020-09-03 03:05] itaru2622 commented on #7330
I tested with latest version (*) and found this issue is still exists.

*: docker image named  openapitools/openapi-generator-cli:latest at https://hub.docker.com/r/openapitools/openapi-generator-cli/

[2020-09-03 03:05] wing328 commented on #4673
Please donate the bounty to https://opencollective.com/openapi_generator when you've time. Thank you.

[2020-09-03 08:38] ogerardin commented on #6366
This kind of Swagger is likely produced by Springfox; the workaround is to instruct Springfox to **not** use special characters in the type names by adding the following in the Docket configuration:
[code]

This of course assumes that you have control over the Swagger generation... Otherwise you will need to pre-process the Swagger file to cleanse the identifiers.

The bug is still in openapi-gene

[2020-09-03 08:39] typhoon2k commented on #144
@jmini , @jimschubert, IMO the easiest approach here would be to build CodegenOperation for each combination of possible request body content types and response content types in operation. This will allow to keep existing templates without modifications.

Methods mentioned above will need to have additional `contentType` parameter.
Additionally to support this approach generation of operation IDs

[2020-09-03 09:51] mhanysz opened #7339 "[BUG] [csharp-netcore] UNKNOWN BASE TYPE when using allOf in request body schema declaration"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-03 10:48] MKHSKY opened #7340 "[BUG] [typescript] Get Parameter Object not serialized properly"
##### Description
I am trying to serialize an object into an array.
The GET Url should be generated like this
http://localhost/index?filter[contact]=101d71e1-745e-4efc-8341-ad204bb1c5c7&page=1&count=8

but it generates like this
http://localhost/index/?filter=%5Bobject%20Object%5D&page=1&count=8

##### openapi-generator version
5.0.0-beta

##### OpenAPI declaration file content or url
[code]

####

[2020-09-03 15:01] isycat commented on #2012
I have submitted a small PR re. the above:
https://github.com/OpenAPITools/openapi-generator/pull/7341

Who should I @? Someone/everyone from the kotlin technical committee? Or is posting here enough?

[2020-09-03 15:31] jaaufauvre opened #7342 "[BUG] Missing Java Bean Validation annotations when using `allOf` instead of $ref directly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-03 20:16] shaofeizhang opened #7343 "[BUG] Generated resources with wrong package name"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-03 22:49] tek08 opened #7344 "`in: cookie` not properly handled by dart2 templates?"
https://github.com/OpenAPITools/openapi-generator/blob/ee0686e13f58f1c7029f76bef5c87d547b68f7d5/modules/openapi-generator/src/main/resources/dart2/api_client.mustache#L34

Cookie authentication, I think (correct me if I'm wrong, please, as I'm still learning swagger/generator), is not handled correctly in dart2 templates.  Rather than putting Cookie headers in requests back to server, the `apiKey`

[2020-09-04 01:26] jimschubert commented on #144
@typhoon2k would you be able to provide an example of what you mean?

The issues that I see are:
* Generators that expect a single response or request body would have to be updated to support multiple. This includes built-in templates, but also affects user customizable templates.
* Many built-in generators don't support content negotiation, and because Mustache templates are logic-less, there's a

[2020-09-04 01:58] jimschubert commented on #7290
Haha. @ybelenko I didn't mean to make it sound like I was volunteering you! I just meant to use you as an example because you focus on PHP/MySQL, but I've also seen you respond on other generator pull requests (like Markdown, for example).

I've found that a lot of times it's easy to tell if something is a potential breaking change (parameters are moved around, template files are renamed, or gener

[2020-09-04 02:37] wing328 commented on #7344
https://github.com/OpenAPITools/openapi-generator/blob/ee0686e13f58f1c7029f76bef5c87d547b68f7d5/modules/openapi-generator/src/main/resources/dart2/api_client.mustache#L22-L40 is the code block related to authentication and you're right that it doesn't support cookie authentication at the moment.

May I know if you've time to contribute the enhancement using `{{#isKeyInCookie}} ... {{/isKeyInCookie

[2020-09-04 04:28] tek08 commented on #7344
Happy to give it a try.  Draft PR is at #7346 .  Working on building and updating samples locally, then will check off the rest of the checklist and remove draft status.

[2020-09-04 06:35] typhoon2k commented on #144
Let's use the following example:

[code]
Taking into account current situation (that many generators expect only one schema in request body and response) my idea was that we can generate 4 **CodegenOperation**s:

1. someOperation1:
- path: /person
- consumes: has "application/json" and "application/xml"
- produces: "application/json"
- bodyParam: SuperManA
- responses: SuperManA
2. someOperation2:

[2020-09-04 07:06] #7201 closed

[2020-09-04 07:08] wing328 commented on #7277
@rumatakira thanks for the suggestion. May I know you have time to contribute the new generator? We can show you some starting points to begin with.

[2020-09-04 07:10] wing328 commented on #7278
Is PHP Spiral framework similar to any of the following that we already support?

Laravel, Lumen, Slim, Silex, Symfony, Zend Expressive

If yes, I think a relatively easy way is to clone one of these existing generators to start with and adjust it for the PHP Spiral framework.

[2020-09-04 11:35] macjohnny commented on #7340
@MKHSKY would you like to fix this?

[2020-09-04 14:47] dude-abides opened #7350 "[REQ] Support Java Code with Common Library"
It is difficult to handle client configuration in a general fashion. Frequently microservices interact with more than one service and each ApiClient is a distinct class for each service. I have not seen any example or guidance on using multiple generated clients.

Seems at a minimum a common set of interfaces could be used and applied to the generated classes and placed in a common library.

If th

[2020-09-04 14:57] jimschubert commented on #144
@typhoon2k I'm assuming your example expects 1:1 matching with request and response content types? Again, that's not really something we can assume across the board due to content negotiation. For instance, a request can pass xml and accept json, while another expects xml+xml. We'd have to generate each permutation of these in some generators.

What do you think about if we were to move the logic

[2020-09-04 15:17] phynes-sensiblecode opened #7351 "[BUG] Missing model type declarations in generated Go code"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-04 15:24] slinkydeveloper opened #7352 "[REQ] Update the Vert.x Web codegen to Vert.x 4"
### Is your feature request related to a problem? Please describe.

Vert.x 4 includes a brand new support for OpenAPI, while this project supports only Vert.x 3

## Describe the solution you'd like

Migrate the existing vertx web codegen to vert.x 4

## Additional context

Should this live under a new codegen copy pasted from the previous one and migrated? Or should I just migrate the existing one

[2020-09-04 15:47] lehphyro commented on #4268
@wing328 This is still scheduled to go into 5.0.0 right?

[2020-09-04 16:44] jcracknell commented on #7351
It appears that `go-experimental` has supplanted `go`, for the moment it looks like you can use the old behavior as `go-deprecated`.

[2020-09-04 17:45] dgabrysch commented on #6761
I got the same issue.

[2020-09-04 20:08] phynes-sensiblecode commented on #7351
Thanks @jcracknell. I've switched to the `go-experimental` generator and it works as before.

[2020-09-05 02:25] ityuhui commented on #7221
Thanks @wing328

Could you please re-run the scan of Clang Static Analyzer again ?

[2020-09-05 07:13] typhoon2k commented on #144
@jimschubert

No, any schema, with any content type in request and any content type in response. Permutations only based on request schema and response schema.

I was thinking about replacing all CodegenProperty related fields with Map<String, CodegenProperty> in CodegenParameter and CodegenResponse (i.e. map from content type to schema). As I said for backwards compatibility getters of replaced f

[2020-09-05 12:28] imcloudf commented on #7247
having the same issue with version 5.0.0-beta

[2020-09-05 14:14] wing328 commented on #7104
@hagevvashi thanks for reporting the issue. Do you mind filing a PR with the suggested fix so that we can review and test more easily?

[2020-09-05 15:51] #7262 closed

[2020-09-05 17:22] #2151 closed

[2020-09-05 17:29] spacether opened #7356 "[BUG] ArrayModels lack schema validations"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-06 01:02] #7356 closed

[2020-09-06 06:59] imcloudf commented on #7247
`//TODO collectionFormat for form parameter not yet supported`
[at DefaultCodegen](https://github.com/OpenAPITools/openapi-generator/blob/681e821b719065099470fe4df69f4d3df95ba75c/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5824)
and
and
`                // default to csv:
                collectionFormat = StringUtils.isEmpty(collectionFormat) ? "csv" : co

[2020-09-06 07:01] wing328 commented on #7221
Attached please find the latest report

[sep6report.zip](https://github.com/OpenAPITools/openapi-generator/files/5179182/sep6report.zip)

Only 2 issues remaining :+1:

[2020-09-06 07:25] imcloudf commented on #7247
I read some code and found that `isCollectionFormatMulti` currently is not support for form params.

`//TODO collectionFormat for form parameter not yet supported`
[at DefaultCodegen.java Line 5832](https://github.com/OpenAPITools/openapi-generator/blob/681e821b719065099470fe4df69f4d3df95ba75c/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5823)
and
[code]
[a

[2020-09-06 11:26] GORA-SAG opened #7358 "Unable to use --global-property models="User,Pet" this creates only User model"
Any work around is available for this one

Basic I need to generate only specific things

[2020-09-06 13:39] wing328 commented on #7358
I think a workaround is to use `.openapi-generator-ignore` to skip models that you don't need.

[2020-09-06 13:41] wing328 commented on #7352
Please migrate/update the existing one instead of creating a new generator.

If you need help, please let us know. Thanks for your help on this.

[2020-09-06 14:05] #2966 closed

[2020-09-06 16:49] spacether opened #7361 "[BUG] FreeForm object models with validations are not generated"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-06 17:30] johnmccabe commented on #7351
Just to corroborate I'm seeing exactly the same.

[2020-09-06 21:45] dtiller commented on #7311
Created Pull request OpenAPITools/openapi-generator#7354 to address issue.

[2020-09-07 01:21] ityuhui commented on #7221
Hi @wing328

The detail of remaining issues are described above, I think they are false alarm.  So there is no issues reported by CSA scan actually  now.

[2020-09-07 07:36] JanMosigItemis commented on #144
Thanks for working on the issue guys 👍

[2020-09-07 09:32] hillfias commented on #5103
@wing328, @jimschubert, @cbornet, @ackintosh, @jmini, @etherealjoy Any news on this?
Sorry for keeping on posting here. Maybe just a kind answer saying it's not a priority, noone taking care of it atm, or just an eta for when it'll be tackled? (or did I miss something?)

Any answer would be appreciated :)
Thanks

[2020-09-07 12:15] zawataki commented on #1053
I have confirmed the issue has been resolved by the latest release [v5.0.0-beta2](https://github.com/OpenAPITools/openapi-generator/releases/tag/v5.0.0-beta2). The `RFC3339DateFormat` class extends `DateFormat` class now as below:

[code]

The command I executed to test is below:
[code]

Hence, let me close the issue.

[2020-09-07 12:19] zawataki commented on #1053
@emile-jumo Can you close this issue because the issue has been resolved? Thank you.

[2020-09-07 12:22] StefanWetterActiware commented on #6492
Hi @InfoSec812 I converted to v3, the error is a different, but similar:
Models/Detail.cs(622,15): warning CS1570: XML comment has badly formed XML -- 'End tag 'summary' does not match the start tag 'br'.' [/app/Org.OpenAPITools.csproj]
Models/Addressee.cs(166,15): warning CS1570: XML comment has badly formed XML -- 'End tag 'summary' does not match the start tag 'br'.' [/app/Org.OpenAPITools.cspr

[2020-09-07 12:22] #1053 closed

[2020-09-07 15:18] SilviaCarrozzo opened #7365 "[REQ] Help with the "frontend part""
I am part of a team in this moment.
Normally I work on frontend, but it happened there is no other who can do the Typescript part either than me.
I was given the task to build the client and the APIs.
I tried with your documentation and bought and read the book 'A Beginner's Guide to Code Generation for REST APIs (OpenAPI Generator).pdf', but unsuccessfully.
A colleague of mine did the C++part exe

[2020-09-07 17:43] felschr opened #7367 "[BUG][Typescript] Further union issues"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-07 18:27] macjohnny commented on #6513
@keean would you like to implement a fix?

[2020-09-07 18:28] macjohnny commented on #6513
moreover, you could try the newly refactored https://openapi-generator.tech/docs/generators/typescript

[2020-09-07 18:29] macjohnny commented on #7367
@felschr would you like to implement a fix?

[2020-09-07 18:29] macjohnny commented on #7367
you could also try the newly refactored https://openapi-generator.tech/docs/generators/typescript

[2020-09-07 19:18] mutyasaisrikar commented on #6055
any update on this issue?

[2020-09-08 06:33] sapphi-red commented on #7282
@sebas2day
I think that is a typescript issue. (https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34960)

[2020-09-08 09:07] epidemia opened #7369 "[BUG] Incorrect enum values for typescript clients"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-08 09:18] SilviaCarrozzo commented on #7365
Moreover I can't find spec file:
~/.../moxa_client$ java -jar /home/.../openapi-generator-cli-5.0.0-beta2.jar generate -i ./petstore.yaml -g cpp-restbed-server -o ./api
[error] The spec file is not found: ./petstore.yaml
[error] Check the path of the OpenAPI spec and try again.
This is my output and I can't build the backend part.
where is the spec file meant to be?

[2020-09-08 09:49] felschr commented on #7367
I don't think I'm able to implement it myself.
Also the new experiment `typescript` generator doesn't seem to support unions at all according to the docs. I've just tried using it but the resulting code also fails to compile.

[2020-09-08 09:50] epidemia commented on #7369
#7370

[2020-09-08 10:46] linde9821 opened #7371 "[BUG] Generated Scala Play Server has several import issues"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-08 11:18] itaru2622 commented on #6158
I would like to prepare deprecation of java7 before it is gone.
Please let us know the estimated schedule or roadmap when java8 mode is ready to use for the investigation of the imact against our legacy implementation codes, before official release.
for example, in jaxrs-jersey, mustache files seem to be ready for java8, but it still generates java7 code in default at this moment.

[2020-09-08 15:12] #5720 closed

[2020-09-08 15:47] macjohnny commented on #7183
Would you like to propose your changes in a PR?

[2020-09-08 17:14] keymone opened #7372 "[BUG] python-experimental broken on master (java.lang.NullPointerException)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-08 17:17] keymone commented on #7372
even simpler reproduction spec:

[code]

[2020-09-08 17:36] keymone commented on #7372
some more data: the error goes away if `$ref` is replaced with inline spec, it also happens on version `5.0.0.beta2` but doesn't happen on `5.0.0.beta`

[2020-09-08 18:53] cobraz commented on #6597
@jtrueblood-anaqua Did you get some info to post?

[2020-09-09 00:23] hagevvashi commented on #7104
@wing328

Thank you for your reply.

No, I don't mind filing a PR. I'm going to submit a PR.

[2020-09-09 00:46] cgfarmer4 opened #7374 "[REQ] Update typescript and node types dependency for typescript-node"
### Is your feature request related to a problem? Please describe.

Running the typescript-node generator outputs very old versions of the typescript and node types dependencies.

[code]

## Describe the solution you'd like

[code]

## Describe alternatives you've considered

I prefer not to hack up the `package.json` after the code is generated and before being built with Typescript.

## Addition

[2020-09-09 00:48] cgfarmer4 commented on #7374
cc @stephenjayakar

[2020-09-09 00:56] #7313 closed

[2020-09-09 07:03] keymone commented on #7372
cc @spacether, might be related to https://github.com/OpenAPITools/openapi-generator/commit/892836f772004e775b66e27bb553a41ef3c9e312#diff-01f0152772d2d0df64310f9bec4110fc

[2020-09-09 08:31] Kallb123 opened #7377 "[BUG][aspnetcore] Objects in request body deserialized as base class instead of child classes"
##### Description

When posting data, such as a list of animals, the objects get deserialized as the base Animal class, rather than the Cat or Dog that they should be.
These same classes are used as part of other paths, when sending data to the client and they get deserialized just fine by the c# client.

I would expect the SaveData.Animals list to contain Cat objects and Dog objects, but in fact

[2020-09-09 10:13] Kallb123 commented on #7377
I think I'm close to solving this by adding the following to the base class:

[code]

I also had to run `dotnet add .\AMRC.VRTDP.csproj package JsonSubTypes` to get the package. It's odd that this is auto-generated on the client side, but not on the server side.

[2020-09-09 10:17] vemod opened #7380 "[BUG] Spring Boot fails to parse LocalDate path parameter"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-09 10:28] zole40 opened #7382 "[BUG][javascript-flowtyped] Flow check error (node.js)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-09 12:42] Gally123 commented on #2293
Is there any progress with this? This would be nice.

[2020-09-09 13:58] #7369 closed

[2020-09-09 14:24] wing328 commented on #7382
@zole40 thanks for reporting the issue. I wonder if you can file a PR with the suggested fix so that we can review it more easily.

[2020-09-09 14:25] wing328 commented on #6829
I've filed #7381 to add `wildcardFirstChar` to store the first character of the response code (implicit), e.g. it will store `4` if the response code is 4XX. Then we use `wildcardFirstChar` in different generators to better handle implicit response code.

[2020-09-09 14:48] brintal commented on #7178
Can confirm. <reservedWordsMappings> seems to be ignored.
I have the same setup as @victormartinezjurado except kotlin reserved keyword "open" in an enum.

[2020-09-09 19:41] spacether commented on #7372
Thank you for submitting this bug.
For this spec:
[code]

Per testing in 5.0.0.beta the working condition is:
- Model A not generated since it's a free-form object
- Model B is generated as a model that contains a dict with string keys and any type value allowed

Questions that I will investigate:
- Why is A seen as a free form object? It refs to another schema.
- My understanding is that A should

[2020-09-10 03:23] wing328 commented on #7371
@linde9821 thanks for reporting the issue. Can you please test with `5.0.0-beta2` or the latest master to see if the issue still occurs?

[2020-09-10 04:40] mutech commented on #1976
What is the status of this issue?

Sorry, I'm ranting a bit here.

I would think such a file resolution issue would be important enough to fix it before 20 months.

I'm currently generating a JSON-schema for each tool that uses schema and falls apart for different reasons, I have sliced, slashed, splitted, merged and partially merged schema, I am patching output with regexes and I am now doing the

[2020-09-10 05:11] mahirk opened #7385 "[BUG] [Typescript-Node] Import mapping seems to be working incorrectly with typescript node"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-10 10:53] nasht00 opened #7389 "[BUG][nodejs-express-server] HTTP headers with hyphens"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-10 13:28] kuskoman opened #7390 "[GO][Question] Custom auth method"
I am trying to create a custom auth method for Go client of an application. The auth method requires either to generate a new token every request, or to do it every x minutes. The token is generated locally and it's generation can throw an error.
I tried to create a custom context, similar to this used in AccessToken Authentication, but I can only provide a static value, not a value which is gener

[2020-09-10 15:17] linde9821 commented on #7371
hi thx for the reply. It seems to work 👍
e.g. the imports are generated
[code]
and the dependencies are there
[code]
I guess the issue can be closed. Thx for the support
But i suggest updating some dependencies. For instance `"org.webjars" % "swagger-ui" % "3.1.5",` is used but "org.webjars" % "swagger-ui" % "3.32.5" is available. (There are more :D)

[2020-09-10 15:17] #7371 closed

[2020-09-10 18:13] timo-a opened #7392 "[BUG] dateLibrary: "java8" imports joda instead"
In progress, I accidentally hit enter, please bear with me

#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with

[2020-09-10 18:30] timo-a commented on #7392
My mistake, please delete issue

[2020-09-10 18:30] #7392 closed

[2020-09-10 21:15] mahirk commented on #7385
Upon further investigation it seems that the issue arises from here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java#L312-L315, which seems like it should only be called if there iif:
[code]

is false

[2020-09-11 03:18] wing328 commented on #7371
Nice suggestion. I wonder if you've time to file a PR updating those dependencies to the newer versions. https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/scala-play-server/build.sbt.mustache is a good starting point.

[2020-09-11 06:42] olvlvl opened #7393 "[REQ][GO] Generating unsigned integers"
### Is your feature request related to a problem? Please describe.

Hi everyone,

The Golang generator generates `int32` and `int64` according to the integer format specified in the OpenAPI spec. Could it be possible to generate unsigned integers when `minimum` is `>= 0`?

Consider the following:

[code]

Could we generate a `unit32` for this?

## Describe the solution you'd like

Use the `minimum

[2020-09-11 06:53] linde9821 opened #7394 "[SCALA] Play-Server updated dependencies"
##### Description

As mentioned in [issue 7371](https://github.com/OpenAPITools/openapi-generator/issues/7371#issuecomment-690849284) some of the dependencies for the scala play server are outdated. As suggested by @wing328 i created a new PR. This is the corrosponding issue.

##### Steps to reproduce

Generate a scala-play-server. Open the `build.sbt`-File. Under `libraryDependencies` you will fi

[2020-09-11 06:58] linde9821 commented on #7371
Would be glad to do so. But i dont have Permission to create a new branch and therefore a PR.

[2020-09-11 18:11] identify3d-joe opened #7400 "[BUG][ALL] Error obtaining the datatype from ref:#/paths/.... Default to 'object'"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-11 18:21] Loudsi commented on #5571
This will be very usefull when generating clients for micro services behind a gateway.

@arderyp this link could help you see the problem from another angle : https://blog.runscope.com/posts/how-to-merge-openapi-definition-files

[2020-09-11 19:27] krishtekula commented on #4909
@ElRochito
I got the same prblem, but swapping paths doesn't resolve it. How did it work for you ?

[2020-09-11 19:50] mbaroody opened #7401 "[REQ] hapi typescript server generator"
### Is your feature request related to a problem? Please describe.
n/a

## Describe the solution you'd like
I would like to see a server generator for typescript using the hapi framework ([hapi.dev](https://hapi.dev)). I tried to do [something similar in the past](https://github.com/mbaroody/microservice_template_typescript) and would like to bring in the functionality here.

## Describe alternati

[2020-09-11 20:09] krishtekula commented on #4909
Don't swap the paths, but quotes around and jars separated by semicolon worked for me.

java -cp "out/generators/my-codegen/target/my-codegen-openapi-generator-1.0.0.jar;modules/openapi-generator-cli/target/openapi-generator-cli.jar" org.openapitools.codegen.OpenAPIGenerator

[2020-09-11 21:18] brginfo05 opened #7402 "[REQ][SPRING] Add an option to use java.util.Stream instead of List"
### Is your feature request related to a problem? Please describe.

I'd like to use the spring generator but it only allows me to use List.
Using List requires me to gather all data in memory before hand over to spring, putting some pressure on the JVM heap.

## Describe the solution you'd like

I'd like to add another option to the generator to allow using java.util.Stream instead of List.
I'm ac

[2020-09-12 01:42] #4909 closed

[2020-09-12 01:43] jimschubert commented on #4909
Thanks for bumping this issue.

Sorry for the delay in clarifying the docs more. I hadn't seen the original report or the first two comments.

[2020-09-12 11:16] AndreKoepke opened #7405 "[REQ] Automated Validation Checks"
### This ticket is reference to keep my work tracked

### Is your feature request related to a problem? Please describe.

Nope.

## Describe the solution you'd like

I would like to have a Code-Generator for validation-checks. I know that's not part of the OpenAPI spec yet. For my bachelor thesis I will try to implement that. See my fork for updates: https://github.com/AndreKoepke/openapi-generato

[2020-09-12 13:39] sticreations opened #7406 "[BUG] [Kotlin | Spring] Cookie in parameter is not correctly generated"
This has already been fixed for Java in #5386
Sadly this issue is also in the Kotlin Spring Boot generator.

[2020-09-12 17:42] ErikGrimes opened #7407 "[Bug] JavaScript client generator should serialize/deserialize polymorphic types"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-12 22:09] #4491 closed

[2020-09-12 22:11] #4659 closed

[2020-09-12 22:20] #4657 closed

[2020-09-12 23:56] identify3d-joe commented on #7400
I have spent the past two days testing and working on the suggested fix above. What I found out very early is that my solution wasn't sufficient for the use case. This is because when swagger cli bundles to openapi.yaml, it will reference items all through the path.....including having the target (last keyword in the path) to be a schema, an item or a named property. Each of these caused issues wi

[2020-09-13 00:08] identify3d-joe opened #7408 "[BUG] Child Schemas are not able to be populated into model list"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-13 17:02] aav789 opened #7409 "JAVA code-gen not creating model java files"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-13 18:28] aav789 commented on #7409
@jimschubert

[2020-09-13 21:01] #4658 closed

[2020-09-14 01:58] mahirk commented on #7385
PR created here: https://github.com/OpenAPITools/openapi-generator/pull/7410

[2020-09-14 08:35] drommk commented on #7351
same behavior here as well

[2020-09-14 08:55] zippolyte opened #7412 "[BUG][ruby-client] Body variable not properly serialized when named `body`"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-14 08:59] #7122 closed

[2020-09-14 09:18] #7372 closed

[2020-09-14 09:27] adest commented on #5079
Hello,

Can we requalify this question as a bug ?
We are currently using OpenAPI generator to generate both the server with 'spring' generator and the client with 'typescript-angular' generator.
But the generation is not symmetric:
The spring generator manages importMapping as expected for the response body;
But the typescript-angular seems to rely on importMapping only for model class's attribute

[2020-09-14 09:39] wing328 commented on #7412
@zippolyte thanks for reporting the issue. I've filed a quick fix (https://github.com/OpenAPITools/openapi-generator/pull/7413)

I wonder if you can pull the fix locally and see if it addresses the issue in your use case:
[code]

[2020-09-14 09:55] zippolyte commented on #7412
Yeah that fixes the issue for my use case, but I'm afraid this will break the use case introduced specifically in this PR https://github.com/OpenAPITools/openapi-generator/pull/2754

[2020-09-14 09:58] wing328 commented on #7412
I'll talk to that PR author about the additional logic to pass various options (parameter values) to the method.

(other clients do not have similar logic as the method should work according to the contract/spec)

[2020-09-14 12:46] rumatakira commented on #7277
unfortunately maybe only after new year ((

[2020-09-14 12:54] rumatakira commented on #7278
They are all different, especially Spiral. It is deeply integrated with Cycle ORM and Roadrunner. The main idea of OpenAPITools, as I understand - generate new API version without copy-paste work in the project, only lib folder and sometimes test folder.

[2020-09-14 13:09] swarnim-sib opened #7414 "[BUG] [JAVA] OneOf polymorphism code wasn't generated correctly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-14 15:01] jwmcleod commented on #6678
I too have encountered this problem (with @openapitools/openapi-generator-cli@1.0.15-5.0.0-beta). Here is a minimal spec with endpoints for the case of having the body directly defined in the path definition (which works as expected) and using a body definition in /components/requestBodies (which fails).

[code]
Here's a makefile to build and run the server and show the problem:

[code]

Use:

[co

[2020-09-15 00:36] aav789 commented on #7409
Issue has been resolved. Please close.

[2020-09-15 00:36] #7409 closed

[2020-09-15 07:39] wondergarance opened #7418 "[REQ] [C#] Deserialize JSON empty array associated with additionalProperties"
### Is your feature request related to a problem? Please describe.

I use openapi-generator 4.3.1 to generate a C# client from a yaml file (OpenAPI V3) with additionalProperties inside. A Dictionary<Tkey, Tvalue> is created with an ojbect as Tvalue.
eg:
yml:
debug-item-bean:
        tokens:
          type: object
          description: tokens
          additionalProperties:
            type: objec

[2020-09-15 08:49] wing328 commented on #7414
Please try the `jersey2` library of the `java` client generator in the latest master as it has better support for oneOf and anyOf.

[2020-09-15 10:02] devdream02 commented on #3894
Hi @macjohnny ,

Could you please delete or edit the comment of yours, as by mistake my company name is there in the package name and my compliance team is chasing me to get it removed.
Thanks!

[2020-09-15 10:25] wing328 commented on #7412
@zippolyte I've filed another PR (https://github.com/OpenAPITools/openapi-generator/pull/7422) to avoid naming conflicts for the time being as I've not heard from the author of the PR #2754. Please have a look to see if the fix looks good to you.

[2020-09-15 10:37] zippolyte commented on #7412
Thanks, this solves my use case as well, so I'd be okay to merge. I just hope no one has a body variable named `debug_body` 😅.
For the time being though I'm 👍

[2020-09-15 10:43] antje-ph commented on #6737
We have a similar problem in our project when we want to generate two different feign-clients with openapi-generator-maven-plugin. The class ClientConfiguration is always generated in the same package: **org.openapitools.configuration**. If we generate the clients to different output-folders we get two ClientConfiguration-classes with the same package-name. If we use the same output-folder, the ge

[2020-09-15 11:04] swarnim-sib commented on #7414
Hi @wing328

Actually, we use the same YAML file to generate multiple clients. And facing the same issue in C#, Python, PHP, and Nodejs wrappers too. Would you please suggest alternatives of `jersey2` for other wrappers too? If not, maybe we can consider it a bug?

Just for the confirmation, are you talking about including `jersey2` in Java client's files or the `open-api generator`'s master branc

[2020-09-15 11:29] krajek commented on #6332
If the fix already present in the published version? I cannot see any versions after 4.3.1, which has the bug.

[2020-09-15 11:51] johanbook commented on #6332
Had the same error when generating a client using the docker image `openapitools/openapi-generator-cli :latest`

[2020-09-15 12:13] codeserk commented on #6332
@krajek I think it was published only in v5, which I think it's still in beta!
![image](https://user-images.githubusercontent.com/860516/93208909-9ca06d00-f75d-11ea-9adc-bc82a254fa98.png)

[2020-09-15 13:26] #7412 closed

[2020-09-15 13:34] wing328 commented on #7414
No oneOf support at the moment. Would you or your team be willing to sponsor the enhancement? [Example](https://github.com/OpenAPITools/openapi-generator/issues/6178)

For C#, that's something I'm working on. No ETA

For python, please try the `python-experimantal` generator.

[2020-09-15 14:05] macjohnny commented on #3894
@devdream02 done

[2020-09-15 14:15] dtiller opened #7425 "[TYPO] [Java] Comment in webclient ApiClient.mustache refers to RestTemplate"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-15 14:49] ksvirkou-hubspot opened #7426 "[Python] Incorrect return types if multiple responses are defined"
### Description
If you define multiple responses, the codegen will only support the first one (typically 200).

## openapi-generator version
5.0.0-SNAPSHOT

## OpenAPI declaration file content or url

<img width="735" alt="Снимок экрана 2020-09-17 в 16 24 12" src="https://user-images.githubusercontent.com/57258237/93476330-56d0d980-f902-11ea-8c1a-32a56a4508c3.png">

Correctly generate the return-o

[2020-09-15 14:57] ksvirkou-hubspot commented on #7426
## PR
https://github.com/OpenAPITools/openapi-generator/pull/7427

[2020-09-15 17:01] remvst opened #7428 "[BUG] [Kotlin] useRxJava options not applied"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-15 21:48] MKHSKY commented on #7340
i made a workaround by just using a "POST" form instead of the get form.
I don´t have the time to dig into the code sadly (and probably break something) ;/

[2020-09-16 07:42] wing328 commented on #7428
Can you please try the latest master or 5.0.0-beta2 version instead?

[2020-09-16 07:47] cctor commented on #4586
Same issue here

[2020-09-16 12:43] acgray opened #7431 "[BUG] Scala Sttp Codegen generates empty case class for named enums"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-16 12:48] luixal commented on #7282
Just hit this issue (the `The operand of a 'delete' operator must be optional` one) running version 4.3.1.

Any workaround?

Thanks!

[2020-09-16 13:19] antihax commented on #7390
I am confused. Contexts are per request, pass a context with your authorization token? They don't have to be static.

[2020-09-16 13:27] macjohnny commented on #7282
@luixal this should be fixed in 5.0.0 beta

[2020-09-16 13:41] typhoon2k commented on #7358
Faced similar issue (with supporting files) today during migration to new global-property parameter.

[2020-09-16 14:03] kuskoman commented on #7390
@antihax do you mean that I should generate different context for every request? or is there something i don't understand about the code

[2020-09-16 14:44] antihax commented on #7390
Yes, that is the general idea for the case you are describing.
Authorization tokens are a request parameter and are added using `context.WithValue`.

[2020-09-16 14:55] CKand opened #7434 "[BUG] [GRADLE PLUGIN] openapi gradle project generates main.java.srcDirs = ['src/main\java'] which fails build on windows"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-16 15:17] russ-shmus commented on #2236
did anyone ever get to the bottom if it? I still see that even latest maven plugin 5.0.0-beta2 fails to generate inheritance code, whereas online generator processes exactly the same yaml correctly. Tried all workarounds found, no luck..

[2020-09-16 15:20] remvst commented on #7428
@wing328 that seems to fix it indeed. If I may, the KDoc is however slightly inaccurate:

[code]

The @return line is referring to the non-Rx version, but that's not an issue for us.

Closing this ticket.

[2020-09-16 15:20] #7428 closed

[2020-09-16 16:04] black-snow commented on #5690
I'm playing around with latest version 4 and `5.0.0-beta2` and I hade to manually add the following dependencies:

* GSON (I try 2.8.6)
* swagger-annotations (I try 1.6.2)
* findbugs / jsr305 (I try 3.0.2

[code]

[2020-09-16 16:08] pkkr opened #7436 "cwiki isn't an option"
Hey coudn't find any comment on that in the documentation but it seems like the -l cwiki flag is currently not working. is that as expected or an issue ?

Thanks

[2020-09-16 16:11] black-snow commented on #3516
I second this. Trying to generate code for java. Models are being created but then it breaks with

[code]

[2020-09-17 04:08] wing328 commented on #7436
Use `-g` instead, e.g.:
[code]

Migration guide: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/migration-from-swagger-codegen.md

[2020-09-17 04:12] #7436 closed

[2020-09-17 04:13] wing328 commented on #7418
We just added better support for additional properties via https://github.com/OpenAPITools/openapi-generator/pull/7396

[2020-09-17 05:38] wing328 commented on #7425
@dtiller thanks for catching the typo. May I know if you've time to file a PR to fix the typo?

[2020-09-17 08:30] mahirk opened #7440 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.
`typescript-node` relies on `request` which is no longer supported. Other options from `axios` and `fetch` are already provided, however the generator does not provide a pure `node` version as the generator name mentions. In order to provide an effective alternative, the template should be adjusted to use the `node` HTTP client

##

[2020-09-17 08:38] victorlap opened #7441 "[BUG] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-17 10:19] typhoon2k commented on #144
@jimschubert , I've reviewed dependencies that we have on `CodegenParameter` and `CodegenResponse` fields and have a feeling that it will be quite challenging to implement my proposal.
I agree with you that introducing new fields in `CodegenOperation` that would return new `MultipleContentTypesRequest` and `MultipleContentTypesResponse` and filling them in `DefaultCodegen` would be a bit easier an

[2020-09-17 10:19] jmaister opened #7443 "[Java] Method InlineModelResolver.flatten should be public"
https://github.com/OpenAPITools/openapi-generator/blob/7a846a193ab129dbdadcfbce90572c0a044efcaf/modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java#L57

I am using the InlineModelResolver to "flatten" an OpenAPI spec file and extract the list of schemas and its information.

As the "flatten" method has default access, it is not possible to access it directly.

[2020-09-17 10:53] dtiller commented on #7425
Hello William. I’ll be glad to create a PR for that.

[2020-09-17 10:56] wing328 commented on #7434
cc @jimschubert

[2020-09-17 11:27] jimschubert commented on #7434
This is an issue in Java generator which should be fixed as of a few weeks ago. Can you try 5.0.0-beta2?

[2020-09-17 11:30] black-snow commented on #6485
My issue might be related.

My schema has:

[code]

And I both `Field` and `CircularField` get generated (`java` and `resttemplate` lib). But `CircularField` tries to import `AnyOfCircularFieldField` - but there is no such class.

Will https://github.com/OpenAPITools/openapi-generator/pull/7263 fix this?

[2020-09-17 11:42] black-snow commented on #4576
Still seeing this in `5.0.0-beta2` - will https://github.com/OpenAPITools/openapi-generator/pull/7263 fix this?

[2020-09-17 11:57] typhoon2k commented on #7319
It seems that this behavior was introduced long time ago - https://github.com/swagger-api/swagger-codegen/pull/4251/files. According to comment the idea was that counter (which is evaluated for triggering warning message) would be increased only for models with discriminator:

[code]

[2020-09-17 12:05] OrdinaryNick commented on #6190
The solution is simple if you know how Gradle plugins work. Here are steps how to do it:

1.  You need to add your custom generator class to the classpath of the plugin. But, you can not use there any module of the Gradle project, in which you want to use the generator plugin, because Gradle plugins are applied before the whole compilation of the project and also before dependencies are resolved.

[2020-09-17 12:49] black-snow commented on #5231
I'm also seeing some imports that are not reflected in the project's dependencies:

[code]

and many more. `5.0.0-beta2`

[2020-09-17 12:51] CKand commented on #7434
I have tried  5.0.0-beta2 and the issue still exists

[2020-09-17 15:51] pmjordan commented on #1901
As a stopgap at least issue a warning message when the links clause is encountered in a spec file

[2020-09-17 23:30] adusumillipraveen opened #7447 "[REQ] Add option to generate gradle project for spring libraries"
### Is your feature request related to a problem? Please describe.

We currently started using this and to convert it to a gradle project, we are having to convert it explicitly.

## Describe the solution you'd like

It would be to provide an option through which user can opt to generate gradle project

## Describe alternatives you've considered

Currently running gradle init and converting maven

[2020-09-18 01:46] #7385 closed

[2020-09-18 02:59] #7431 closed

[2020-09-18 07:52] AndyMedtronic opened #7450 "Can't get Templates to work"
I think this is more of a problem with documentation or my stupidity, and I apologize if this has been answered before, (but my search didn't reveal an easy answer) but I can't get Templates noticed with my AspNetCore project

I installed OpenApi-generator with NPM and I can see the openapi-generator  jar file in C:\Users\robera22\AppData\Roaming\npm\node_modules\@openapitools\openapi-generator-cl

[2020-09-18 17:43] gcardoso22 opened #7452 "Unable to migrate from swagger-codegen due to removed method in CodegenModelFactory"
##### Description
I'm currently migrating from swagger-codegen 2.3.1 to openapi-generator 4.3.1 and I came into a big problem. We have a highly customized generator and templates, and I'm currently stuck on a method that was removed with https://github.com/OpenAPITools/openapi-generator/pull/1744. We use this to add more fields into Operations and Properties so that they can be used on the mustach

[2020-09-19 04:07] #7425 closed

[2020-09-19 05:55] thiko commented on #4710
Hi,

unfortunately, using the models in a Response does not solve this issue.
The model files are not generated after splitting the yaml part in multiple files.

[2020-09-19 07:14] wing328 commented on #7452
Can you please elaborate on the customization?

Usually, we customize the generators in the postProcessOperations/Models.

[2020-09-19 07:43] #7352 closed

[2020-09-19 08:48] GORA-SAG commented on #7358
Hi @wing328 ,
Made some code changes to solve the above mentioned problem, but while providing the global property we need to give it as name=value pair like --global-property models=User,models=Pet,modelTests=false,modelDocs=false

` private static Map<String, String> createMapFromKeyValuePairs(String commaSeparatedKVPairs) {
        final List<Pair<String, String>> pairs = OptionUtils.parseComma

[2020-09-19 14:07] ErikGrimes commented on #7407
I took a look at the typescript-fetch and Dart generators.  The typescript-fetch generator uses the discriminator when deserializing the base type to invoke the correct subclass factory function, but it doesn't add the discriminator value when serializing it.  I'm not really familiar with TypesScript, but given that the generator creates interfaces instead of classes, I'm not sure there's a way to

[2020-09-19 15:31] codymikol opened #7453 "[BUG][CLI] crash when evaluating definitions without parameters"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-19 15:44] codymikol commented on #7453
I'll leave this for my findings while digging into this

It looks like when this is evaluated, the result.messages property is null and this is what causes the NPE.

[code]

[2020-09-19 21:15] strarsis opened #7454 "[BUG] Package php-token-stream abandoned"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-19 21:23] strarsis commented on #7454
The label `Client: PHP` makes more sense though.

[2020-09-20 01:04] InTheCloudDan commented on #6492
I just ran into this too testing out the `csharp-netcore` I wonder if being able to add a `namespace` would help resolve it?

[2020-09-20 04:19] petermetz commented on #2939
Polluting the global object should definitely work, but I wanted something where I don't have to rely on it so came up with this:
https://github.com/OpenAPITools/openapi-generator/pull/7455
Feedback would be most welcome.

[2020-09-20 10:51] linvi opened #7458 "[BUG][csharp] Twitter Open API does not compile - Missing `AnyType` and `BaseValidate`"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-20 17:55] #7361 closed

[2020-09-20 20:15] aidanhs commented on #4069
This got slightly better in the latest release of openapi, where it generates invalid code instead of crashing. I was able to fix it in the linked PR above, which will close this issue when merged.

[2020-09-21 01:11] dumbgamedev commented on #7458
I am also looking for this. Thank you.

[2020-09-21 01:18] #5937 closed

[2020-09-21 07:07] macjohnny commented on #2939
fixed by https://github.com/OpenAPITools/openapi-generator/pull/7455

[2020-09-21 07:07] #2939 closed

[2020-09-21 07:49] zilvinasu opened #7468 "[BUG][Python] Bug generating invalid Configuration class with missing access_token"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-21 09:48] emongstad commented on #6779
I face the same issue.
Api is defined like this:
[code]
But the generated Kotlin code insiste on adding application/json to both content-type and accept if not set explicilty:

[code]
Isn't it possible to fetch the value for Accept by looking at the response.<code>.content?

[2020-09-21 09:51] linvi commented on #7458
@dumbgamedev I have changed the generated code to prevent the issue from happening again. But there are many different issues with the generated models and logic.

I am the developer of Tweetinvi a .NET library to access Twitter. I have taken the decision to write the models myself until the open api generator can better support the complex schema of Twitter.

Tonight I will push a first code chan

[2020-09-21 10:55] kuhnroyal commented on #5411
In most cases required and non-nullable mean the same thing. There are probably edge cases where this is not the case.

In regard to built_value usage, only fields that are nullable/non-required in OAS should be annotated with `@nullable`.

From my current tests this works as expected with an OAS 3.0 file when `nullableFields: false` is set. This does not work with an OAS 2.0 file.

[2020-09-21 13:34] t-beckmann commented on #6587
Should be fixed by https://github.com/OpenAPITools/openapi-generator/pull/7471, @onlymate please verify.

[2020-09-21 13:45] last-partizan commented on #4190
Is there any roadmap for this issue?

I'm using typescript-axios generator and it generates invalid code, which requires read-only params for request.

[2020-09-21 13:49] kuhnroyal commented on #5411
Looking at this: https://stackoverflow.com/questions/45575493/what-does-required-in-openapi-really-mean there is a real difference between `nullable` (which OAS 2 does not support) and `required`. The problem is that built_value does not have this concept.

non-nullable in built_value is required+non-nullable in OAS.
nullable in built_value is !required in OAS.

The combination of required+nullabl

[2020-09-21 14:22] codymikol commented on #7453
The root cause of this issue seems to come from swagger-parser. It will return null for messages and throw a NPE. I think what we can do is add some decent error handling for when this kind of error does occur.

[2020-09-21 14:40] etremblay commented on #2204
@wing328  The fix introduced by #2257 has been removed by #3984.

`ObjectSerializer::toQueryValue()` has been removed, I guess to improve collection serialization, but the boolean case is still broken.

[2020-09-21 15:41] codymikol commented on #7453
I have added a PR that will not fix this, but will make it much more obvious what has gone wrong.

[2020-09-21 17:38] Bessonov commented on #2939
What's about typescript-fetch?

[2020-09-21 18:12] macjohnny commented on #2939
@Bessonov you are invited to apply to fix to the typescript-fetch generator as well.

[2020-09-21 18:16] toby-murray-snow-software commented on #4673
@wing328 - do you have any advice on how to practically do that? Its my first time using Bountysource, how do I direct the funds from that bounty to the Opencollective?

[2020-09-21 21:34] aschmahmann opened #7473 "[BUG][GO] Patterned fields cause compile errors"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-22 07:02] peterlendvay commented on #3624
Any update to this?

[2020-09-22 07:07] joerg-walter-de opened #7474 "[BUG] [typescript-axios] a property 'delete' is changed into '_delete' in output"
I have:

`    AccessRights_SingleRightsObject:
      description:
      type: object
      additionalProperties: false
      properties:
        create:
          type: boolean
          default: false
          example: true
        read:
          type: boolean
          default: false
          example: true
        update:
          type: boolean
          default: false
          example: tru

[2020-09-22 09:20] black-snow opened #7479 "[BUG] Gradle Plugin - configOptions unclear / inconsistent"
#### Bug Report Checklist

x

Couldn't find a repo for the gradle plugin so I'm posting this here.

##### Description

The gradle plugin offers some configuration option. But it's not clear what has to go where. The [docs](https://openapi-generator.tech/docs/plugins/#gradle) have an example:

[code]

Why is `dateLibrary` nested inside `configOptions` or regardingly, why isn't e.g. `invokerPackage`

[2020-09-22 09:24] black-snow commented on #7434
5.0.0-beta2 issue remains

[2020-09-22 12:34] black-snow opened #7480 "[BUG][Java] ApiClient.basePath is not a path but an URL"
#### Bug Report Checklist

-

##### Description

The `ApiClient` generated for Java looks like this:

[code]

with string-based getters and setters. But the naming is wrong *imho*. That's not a path but a (base) URL.

##### openapi-generator version

5.0.0-beta2

##### OpenAPI declaration file content or url

not required - use petstore

##### Generation Details

-

##### Steps to reproduce

Gener

[2020-09-22 13:18] jimschubert commented on #7434
I'll try and look tonight. I thought I'd change everything in those generators, but maybe I missed some.

The issue is that we're using file separator in path constructs, when that's not a safe assumption in all cases. In some locations, we're doing things like `"src/main" +File.separator`. which causes the above behavior.

[2020-09-22 13:53] rj93 commented on #2906
@wing328 I have tried using the `jersey2` library, but I it is complaining that it is unable to find `symbol: class JsonTypeInfo` and `class JsonSubTypes`. I have the dependency:

[code]

The generated `OneOf` class doesn't seem to be adding the imports for them:

[code]

Any ideas?

[2020-09-22 16:31] lidel commented on #7473
Seems that this problem was bothering community for a while: https://github.com/OpenAPITools/openapi-generator/issues/199, https://github.com/OpenAPITools/openapi-generator/issues/6829, https://github.com/OpenAPITools/openapi-generator/issues/5397, https://github.com/OpenAPITools/openapi-generator/issues/5812, https://github.com/OpenAPITools/openapi-generator/issues/5812, https://github.com/OpenAP

[2020-09-22 17:54] lwshuo commented on #6666
I'm running into the same issue, any updates?

[2020-09-22 23:21] zyrain opened #7485 "[BUG] Confluence Wiki output doesn't work for array types"
#### Bug Report Checklist

- [Y] Have you provided a full/minimal spec to reproduce the issue?
- [Y] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [Y] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-22 23:30] kydreth opened #7486 "[REQ] Java - Spring JPA support"
### Is your feature request related to a problem? Please describe.

The Spring solution doesn't quickly connect to a variety of databases

## Describe the solution you'd like

The Spring implementation doesn't directly tie into a database driver or solution. Using Java based Spring Data JPA would support many SQL database drivers. https://spring.io/projects/spring-data-jpa

## Describe alternative

[2020-09-23 03:16] aarondl opened #7488 "OpenAPI file wrongly interpreted as json"
##### Description

I was writing an openapi schema in yaml and when I tried to use path templating suddenly it was giving me json parsing errors. It's worth noting that I get two of the exact same error consecutively for a single run of the `generate` command.

[code]

##### openapi-generator version

Present in both 4.3.1 and 5.0.0-beta2 docker images.

##### OpenAPI declaration file content or u

[2020-09-23 03:24] j--wong commented on #2028
Hi,

I just wanna double check, so to use the `additionalProperties` support, do I need to use python experimental generator `-g python-experimental` instead of python `-g python`?

Thanks,
Josh

[2020-09-23 03:34] spacether commented on #2028
Yes, that's right

[2020-09-23 03:51] magick93 commented on #6997
@ruedigerk - can you explain this a bit more please. What do you mean by library, and how is this option passed in the cli?

[2020-09-23 04:03] #7434 closed

[2020-09-23 04:33] j--wong commented on #2028
Thanks @spacether .. is there any documentation on the difference between `python` and `python-experimental` generators?  When do those experimental features become stable? And when they become stable, do they get migrated to `python` generator?

We are already using python code generated by `python` generator.  We also need `additionalProperties` support.  So thinking whether or not to switch to

[2020-09-23 04:49] spacether commented on #2028
The interfaces are very similar in python and python-experimental so switching from one to the other should be easy.
Feature additions from python-experimental are not migrated to python. We don't have the manpower to do it and as you said they are structured a bit differently.

Breaking changes are allowed to python-experimental and one can peg the openapi version that you are using to stay with

[2020-09-23 05:23] j--wong commented on #2028
@spacether sounds like we would eventually need to move to `python-experimental` at some point.

Would you recommend production apps using `experimental` generator right now?  The word `experimental` would scare a lot of people away from adoption for prod. 😅   Also, would you say allowing breaking changes mean not best for production apps at this stage?

[2020-09-23 09:52] black-snow commented on #7140
Experienced the same with an empty title.

[2020-09-23 10:56] black-snow opened #7490 "[Question] Do people successfully use this?"
This may sound like a rant but that's not what's intended. I'd actually like to know if people successfully use this tool to generate code that runs in production because my experiences are pretty bad so far.

The first issue for me was: okay, there's swagger codegen that has 2.5k issues and then there's this fork which also has 1.7k issues. That's a huge warning sign already. But look, there's a

[2020-09-23 11:21] black-snow commented on #5690
Now I'm trying `webclient` instead of `resttemplate` and again dependencies are missing and I don't know which yet:

[code]

[2020-09-23 16:07] upachler commented on #3995
I'm having the same problem.

The reason is because the generated enum does not follow the JAX RS spec. In the 2.0 spec in chapter 3.2 in the section about parameter types, it states:

In the current case, only `toString` and `fromValue` are generated, both of which are decorated with Jackson annotations. `toString` is picked up by a JAX RS annotation (CXF), but the reverse operation is not, becau

[2020-09-23 16:28] calbach commented on #7140
FWIW I got around this issue by switching to the [Gradle Swagger Generator Plugin](https://github.com/int128/gradle-swagger-generator-plugin), which supports [simultaneous usage](https://github.com/int128/gradle-swagger-generator-plugin#switch-version-of-swagger-codegen) of swagger 2/3 codegen and/or OpenAPI generator.

[2020-09-23 16:29] toby-murray-snow-software commented on #7490
As an anecdote, I can say that the Cloud Management team at Snow Software uses OpenAPI specs in production and has been for a couple years. We have one spec that's ~21k lines, another that's ~2k lines, and we are moving forward with more.

That said, in total we use ~4 or 5 versions between the Swagger generator and the OpenAPITools generator because almost all of them have at least one bug that i

[2020-09-23 16:33] upachler commented on #3995
To further clarify: This happens when parameters (query or path) backed by an enum type are parsed by the JAX RS runtime when processing a request. These parameters are encoded as strings when they arrive at the JAX RS runtime. So decoding them is not related to JSON deserialization, because they are not part of a JSON payload - they're part of the request URL.

[2020-09-23 19:02] Frontrider commented on #2906
I think we also had some import problems, but I'm not sure, as I'm not the one directly working with these.

[2020-09-24 02:41] pengcheng commented on #2870
I think the root cause is the CodeGen uses `return data type` while choosing `TextApiResponse` or `JSONApiResponse`, this seems incorrect, we should use the content type (i.e. application/json) in the response body definition instead, if it is  'application/json', `JSONApiResponse` should be used for all types (object, simple type, etc).

[2020-09-24 08:00] ChrisKeut opened #7498 "Generated C# code uses RestSharp 105.1.0 which has a bug in its proxy imlementation"
The current version of openapi-generator-cli (4.3.1) uses RestSharp 105.1.0 for its C# code generation. RestSharp 105.1.0 has a known bug in its proxy-implementation. A later version (106.3) has fixed this bug. Could you please update this dependency. If I manually change the RestSharp.dll to 106.3.1 I get a compile error in the generated code.

[2020-09-24 09:10] wing328 commented on #7498
@ChrisKeut can you please check the latest master, which should have the C# dependencies updated to newer versions?

[2020-09-24 09:15] black-snow commented on #7490
That's a very valuable response, thank you very much! I hope there will be more users reporting in.

[2020-09-24 09:20] ChrisKeut commented on #7498
@wing328 sorry I'm new to github. I downloaded openapi-generator-cli-5.0.0-beta2.jar but in packages.config 105.1.0 is listed:
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFr

[2020-09-24 09:33] wing328 commented on #7498
Search for "SNAPSHOT" in the projecjt's readme and you will find a link to a page listing all the SNAPSHOT version. Then scroll down to find the latest JAR (snapshot version of the latest master)

[2020-09-24 09:39] ChrisKeut commented on #7498
OK, done (openapi-generator-cli-5.0.0-20200924.091403-684.jar). But also 105.1.0 in packages.config

[2020-09-24 09:44] #6587 closed

[2020-09-24 09:52] wing328 commented on #7498
Can you please try `csharp-netcore` generator? I think you tried `csharp` client generator.

[2020-09-24 09:57] ChrisKeut commented on #7498
Yes I have used "csharp" because I have a .Net 4.52 client application. I can't use .Net Core. Any ideas? Thanks!

[2020-09-24 10:01] wing328 commented on #7498
What about .NET standard (the default of `csharp-netcore`) which is compatible with .NET 4.x?

[2020-09-24 10:07] ChrisKeut commented on #7498
OK, let me install Visual Studio 19 to check it.

[2020-09-24 10:43] wing328 commented on #7488
Also adding a proper path parameter `id` fixes the issue as well.

[code]

[2020-09-24 11:08] henryh-force opened #7500 "[BUG APEX] Code Generation in OAS.cls"
openapi-generator/modules/openapi-generator/src/main/resources/apex/OAS.cls

If you send a response that contains anything in addition to "application/json" nothing is returned.

Set the toReturnValue to validate for more than just application/json e.g. UTF-8 within the Content Type.

@TestVisible
        protected virtual Object toReturnValue(String body, Type returnType, String contentType) {

[2020-09-24 11:39] ddaws opened #7501 "[REQ] Derrive Default for generated Rust structs"
### Is your feature request related to a problem? Please describe.

It would be useful to add [`Default`](https://doc.rust-lang.org/std/default/trait.Default.html) to the list of [derived traits here](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/rust/model.mustache#L47). This would make it simpler to create defaults for types. This woul

[2020-09-24 12:16] wing328 commented on #7498
@ChrisKeut I assume it resolves the issue for you, right?

[2020-09-24 12:35] ChrisKeut commented on #7498
@wing328 No, not really
1) In the generated code I get: `The type or namespace name 'HTTPSigningConfiguration' could not be found` in Configuration.cs and IReadableConfiguration.cs (have commented it out!)
2) When I add the generated Project to my solution and make a reference to the generated project in my .NET 4.5.2 Windows Forms project I get: `'Org.OpenAPITools.csproj' targets 'netstandard2.0'

[2020-09-24 13:25] wing328 commented on #7474
I think it's because `delete` is a reserved word in typescript/axios.

[2020-09-24 13:44] IlyaLoshchinin commented on #7490
@black-snow You are definitely not alone. I have exactly the same problems as you and I didn't understand how people use it to generate the api clients (java, spring boot, openapi-generator-maven-plugin:4.3.1).
It just doesn't work! I've been trying to use the 5.0.0-beta2 version of plugin with switched 'openApiNullable' property off, but the generator doesn't generate the interface for schema one

[2020-09-24 13:50] aarondl commented on #7488
@wing328 this is actually true. I can't believe it given the error I was receiving but not having the parameters defined was the problem. For anyone else looking at this issue the other changes that wing made to the yaml file (quotes around the path, tags as a bulleted list vs inline array etc) are not a factor.

[2020-09-24 13:50] #7488 closed

[2020-09-24 13:50] aarondl commented on #7488
Oh and thanks wing! This unblocks my entire side project :D

[2020-09-24 14:04] wing328 commented on #7498
For 1, I've filed https://github.com/OpenAPITools/openapi-generator/pull/7504 to fix it.

For 2, you may want to use the following option to pick a different .net standard version:
[code]
ref: https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support

[2020-09-24 14:56] DanielMSchmidt commented on #7440
I wonder if we can improve the flexibility of the solution by keeping the network solution open to the package user. From my perspective we could define an interface that lets the user choose their preferred networking solution. Maybe this could help us consolidate the different clients into one if they are simple enough. An interface could look like this:

[code]

[2020-09-24 15:11] ChrisKeut commented on #7498
Thank you wing328! Ended up to port my Windows Froms application to .Net Core Windows Forms. Now the references to the generated project works. Currently i'm struggling with the new API.

[2020-09-24 15:11] #7498 closed

[2020-09-24 16:34] wing328 commented on #7500
Your suggestion sounds good to me May I know if you've time to submit a PR with the suggested change?

[2020-09-24 18:47] skyridertk commented on #7479
It's broke. Doesn't work

[2020-09-24 20:29] ahrytsiuk opened #7506 "[BUG] [SPRING] Generator do not respect reserved words mappings for FormParams"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-24 21:11] ad-m commented on #7390
@antihax, Thank you for your answer. The approach with context faces limitations where the authorization token must depend on the request parameters.

For example, some "jwt" implementations provide for a claim "audience" that can be assigned as precisely as the exact address of the request, preventing the abuse of the authorization token. In order to generate it for the request, you need to know

[2020-09-25 02:48] #4069 closed

[2020-09-25 03:17] jasonoaj commented on #7316
I got the same issue.

[2020-09-25 07:20] ChrisKeut commented on #7498
@wing328 Finally I found out that I didn't had a problem with openapi-codegen or the used RestSharp version. The problem was that the .NET Framework, even if you set Proxy.BypassProxyOnLocal = false, don't uses the proxy on a localhost endpoint. I solved the problem by adding a dot after localhost (like: http://localhost**.**:8080/...) I needed to set the proxy to test my api with Burp Suite. Stil

[2020-09-25 11:09] agilob commented on #7490
No it isn't. IMO having issues open is much better than letting bots close it after 3 month. Issue is an issue, and it doesn't just expire because some time past since it was opened. Probably a lot of these issues are duplicates, incorrectly used tool or question that just do not get answer, or were simply fixed without closing the issue. Recently had a discussion with one tech lead who decided to

[2020-09-25 14:15] crtomirmajer commented on #2730
Any progress on this?

[2020-09-25 15:07] black-snow commented on #7490
Thanks for your reply agilob.

No one asked whether it's good to auto-close open issues or not and 1k+ open issues IS a huge warning sign but let's not start this discussion here, that's not what this issue is about. It's also not about why things are like they are - it's pretty obiously a huge project. The question was if people do actually use this productively (and if yes, how). So thanks for y

[2020-09-25 16:08] agilob commented on #7490
My whole comment was building up to the last paragraph. We used it for something "simple". Our schema was generating over 50 models, a few models were added every month.

I find autoclosing issues and complexity of this project important to answer your question.

Whole project was in maven+Java.

Like said before, it's a complex project from developers for developers. The generator you used didn't

[2020-09-25 22:10] gmcabiato commented on #2207
Hi @dragetd !
Yes, literally just run into this myself with `4.3.1`
`[ERROR] Failed to execute goal org.openapitools:openapi-generator-maven-plugin:4.3.1:generate (default-cli) on project connector-xyz: The parameters 'inputSpec' for goal org.openapitools:openapi-generator-maven-plugin:4.3.1:generate are missing or invalid `

Probably this will fall through the cracks (being a closed ticket) but g

[2020-09-25 23:46] zerbitx opened #7511 "[BUG] [Go] model_simple.mustache change"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-25 23:48] davidyee commented on #6332
@krajek @codeserk I ran into the same issue while using the latest stable 4.3.1 but updating to 5.0.0-beta2 resolved the issue. Thanks for the suggestion!

[2020-09-26 03:52] jimschubert commented on #7490
@black-snow those are some great questions, and excellent feedback. I know I'm a maintainer, so my feedback is heavily biased and one might consider "advanced usage". I'll explain my use cases and dive deeper into your concerns.

## My production experiences

When I was at Expedia, I used swagger-codegen generated code and later openapi-generator generated code (after we forked the project) to gen

[2020-09-26 04:10] jimschubert commented on #7479
@black-snow the options you're asking about are different from the example. The example from the gradle plugin that you've shared above is for [kotlin](https://openapi-generator.tech/docs/generators/kotlin/) which does not have an `invokerPackage` configuration option and you've linked to Java. Every generator has different available options specific to that generator.

For Java, as for the reason

[2020-09-26 07:28] ruedigerk commented on #6997
https://openapi-generator.tech/docs/generators/jaxrs-spec

[2020-09-26 08:09] dragetd opened #7513 "[REQ] Maven plugin: Invoking the generate plugin goal directly does not work."
## Problem

I want to bring attention to a closed issue: #2207

Calling the plugin goal directly, I would except the code generator to generate the code. But it only works as part of the compile phase.

## Suggested solution

I'd expect the codegen to have goal, that can be called simply with the generate-sources phase (or directly). It would then generate the code according to the docs.

## Alter

[2020-09-26 09:52] ShoeBoom commented on #2730
I made a related change in #4931. But it hasn't been active for a while so idk

[2020-09-26 10:45] black-snow commented on #7479
Thanks for your reply!

No, I can't. When I add any of the options to `configOptions` the build fails.

I just copy-pasted the example from the linked docs - I didn't come up with this. I (try to) use it for java and of course my config looks a little different.

This issue will probably resolve with #2556.

[2020-09-26 11:40] black-snow commented on #7490
@jimschubert thanks a ton for such a thorough reply.

Also thanks for pointing me towards the plugin's readme. I've actually found it in the meantime. And a last thanks for putting so much efforts into this project. It's an important tool for anyone doing anything with APIs, I think, and has the potential to save kajillion of hours and repetitive work. Aight, let's get to the issues and how to res

[2020-09-26 19:37] henryh-force commented on #7500
Sure I can submit

[2020-09-27 05:25] codymikol commented on #7486
This project is for automatically generating clients that can make requests to applications based on their openapi spec. Spring data would be an implementation detail for your application rather than the generated client.

[2020-09-27 11:54] dkarlovi opened #7518 "[REQ][PHP] depend on meta packages providing the HTTP implementation instead of directly on Guzzle"
### Is your feature request related to a problem? Please describe.

Currently, the packages generated by `php` depend on Guzzle, like so
[code]

This is functional, but not ideal, making it harder to swap out HTTP clients, like for example [Symfony HTTP Client](https://symfony.com/doc/current/http_client.html) if you're using Symfony.

Being able to choose your desired HTTP client is very desirabl

[2020-09-27 12:31] aeneasr opened #7519 "[BUG] [typescript-fetch] Multiple tags cause duplicate export"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-27 12:38] aeneasr commented on #7519
Looks like setting

[code]

fixes the issue :)

[2020-09-27 12:38] #7519 closed

[2020-09-27 13:10] #7500 closed

[2020-09-27 21:01] noordawod opened #7521 "[REQ] Add new bool property "isDefaultValueNull""
### Is your feature request related to a problem? Please describe.

For some weird reason, the authors have decided that when the default value of a property is null, to set `defaultValue` to the string `"null"` rather than the value `null`. It is hence not possible to verify whether a property has a null value or not, and the check `{{{#defaultValue}}}` always succeeds -- because `"null"` is a va

[2020-09-28 01:02] cvgaviao opened #7523 "[REQ] Allow an CodegenConfig implementation to use its own ExampleGenerator"
### Is your feature request related to a problem? Please describe.

Currently an instance of ExampleGenerator,  is being used by the DefaultCodegen class.
Specific generators cannot change this because is fixed type in hardcoded. To change the behavior it would be necessary to override an ultra big method: fromOperation() . too hard path.

## Describe the solution you'd like
- My idea is to turn t

[2020-09-28 02:27] jimschubert commented on #7479
@black-snow I don't understand this line:

Your comments seem to suggest that you're missing a major point. That is - `configOptions` for one generator (`kotlin` in the example) can't be applied or transferred to another (`java` which are the docs you linked to). If you move the option to `configOptions` as you suggested that you did with **kotlin** according to your trial at "unnesting", we would

[2020-09-28 02:30] jimschubert commented on #2556
Let's try to clean this up one way or another for 5.1.

[2020-09-28 02:43] jimschubert commented on #7490
@black-snow

We regularly timeout on our CI builds. We just don't have the resources to build all permutations of build systems and output options.

Regarding customization, this should really be the goal of most of our users I would think. You won't need customization if you genuinely don't have additional observability needs and your target APIs are not very complex APIs. You likely won't need m

[2020-09-28 06:43] macjohnny commented on #7486
see also https://github.com/OpenAPITools/openapi-generator/issues/2972

[2020-09-28 08:18] agilob commented on #5959
Has this been fixed? Should it be closed?

[2020-09-28 09:06] karthik-hr opened #7526 "[BUG] invalid types generated (Array & Array<T>;)"
@openapitools/openapi-generator-cli: ^1.0.18-4.3.1
openapi: https://solver.314ecorp.tech/openapi?format=json
command:` node node_modules/@openapitools/openapi-generator-cli/bin/openapi-generator generate -i https://solver.314ecorp.tech/openapi?format=json -g typescript-axios --skip-validate-spec -o ./src/client/generatedApis`

Types generated `Array & Array<T>` for some schema.
Here for the 1st ty

[2020-09-28 09:09] wing328 commented on #5959
I think so: https://github.com/OpenAPITools/openapi-generator/blob/32adeddd8fd6e217eca2092f4bf370e6d6e7ea33/samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java#L44

[2020-09-28 09:39] black-snow commented on #7479
I'm not doing anything with kotlin, it's 100% java. All I did was picking the example from [the docs](https://openapi-generator.tech/docs/plugins/#example-1).

My config looks like
[code]

My point was that it's not clear to me what goes inside `configOptions` and what not, because `openApiNullable` is [listed](https://openapi-generator.tech/docs/generators/java) at the same level as e.g. `apiPack

[2020-09-28 09:40] wing328 commented on #7526
I would suggest you try the latest master to see if it's already resolved.

[2020-09-28 09:42] black-snow commented on #7490
Sure, but I mean it should just compile and work in a vanilla way out of the box. (Which it does not for me *atm*.)

Alright, I guess I'll close this and report the issues I encounter. Thanks everyone.

[2020-09-28 09:42] #7490 closed

[2020-09-28 09:45] agilob commented on #7490
I think you just got unlucky with version of generator at this time. It works most of the time ;)

[2020-09-28 10:26] wing328 commented on #7490
Just want to add that we also use the issue tracker for feature requests, announcements, and of course issues as well. In other words, not every single issue is a bug report as it could be a feature request or just discussion.

[2020-09-28 10:37] karthik-hr commented on #7526
version: 5.0.0-beta2
`Array & Array<T>` has been changed to `Set & Set<T>`
Typescript compiler expecting generic <T> for Set

[code]

[2020-09-28 10:55] macjohnny commented on #7526
@karthik-hr  thanks for reporting. would you like to fix this?

[2020-09-28 12:45] dkarlovi opened #7530 "[BUG][PHP] Too verbose PHPDoc blocks in each file"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-28 14:39] vincent-raman opened #7532 "[BUG][Python] Stackoverflow error when using required recursive properties"
##### Description

If we want to define a recursive type (like a tree), the client generation for python crashes with a StackOverflowError in the `PythonClientCodegen.toExampleValueRecursive` method.

##### openapi-generator version

4.3.1

##### OpenAPI declaration file content or url

[code]
##### Generation Details

Generation of a client with language "python" and this schema definition

#####

[2020-09-28 14:56] ksvirkou-hubspot opened #7533 "[BUG] [Python] it handles servers urls trailing slash incorrectly"
##### Description
Sample spec(swagger):
[code]
Generated code sends requests to urls with double slashes and It returns 404
Example endpoint url: “https://api.*.com//crm/v3/objects/contacts”

#### openapi-generator version
5.0.0-SNAPSHOT

[2020-09-28 16:38] wondergarance commented on #7418
Thanks for your response.

I download the version 5.0.0-beta2 and generate the code, I always have the same error:
Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'Model.FilterValue' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly.
...

I compared Filter.cs and FilterValue.cs between 2 versions (4.3.1 and 5.0.0-beta2), they are the same.

[2020-09-28 17:30] dkarlovi opened #7534 "[REQ] Allow generators to provide a JSON schema to validate their config"
### Is your feature request related to a problem? Please describe.

Generators support quite a few options which you pass via the config. Having that config be validated would allow for better UX since the user would know about typos, etc.

Example
[code]

An example schema: https://github.com/dkarlovi/openapi-generator/blob/master/generators/php/config/schema.json

## Describe the solution you'd

[2020-09-28 18:40] dkarlovi opened #7535 "[REQ] Support for code licensing"
### Is your feature request related to a problem? Please describe.

[OpenAPI v3 supports supplying licensing information](https://swagger.io/docs/specification/api-general-info/).

## Describe the solution you'd like

It would make sense to propagate this information into the generated code, for example creating a `LICENSE` file in the root of the package, also allowing the generators access to th

[2020-09-28 18:46] dkarlovi opened #7536 "[BUG][PHP] tests generated in "test/", should be "tests/""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-28 22:09] therockstorm opened #7537 "[BUG][typescript-axios] attempts to serialize Node `Buffer` using `JSON.stringify` and corrupts the file upload"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-28 23:36] ybelenko commented on #2910
By the way `scheme` property is case-sensitive, spent few hours to investigate why:
[code]
doesn't work. When I change to `scheme: bearer` works as expected.

[2020-09-29 01:43] jimschubert commented on #7479
@black-snow so the confusion is that the table listed as "Config Options" should go inside `configOptions`, and is specifically caused by those duplicated properties?

I think clarifying this at the top of these pages would be easy enough, if that is indeed where the confusion lies.

[2020-09-29 07:10] Ghufz opened #7541 "[BUG][csharp-netcore] Serializing request body with camelCase leads to unkown property exception from server"
The request body properties serialized using camelCase which leads to exception for the valid property "unkown property".
Example :- Property "Name" becomes "name" after serialization.

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested

[2020-09-29 07:59] himadree-shekhar opened #7542 "[cpp-restsdk]How to write the API request in Open API to get response in UTF8 string instead of wide string without using any redundant type conversion"
##### Description

I want to write an API in OpenAPI so that the generated API function can return JSON response in UTF8 encoding.
but it only returns in string_t wide string.
i check the C++ code definition of the generated function :
The generated function returns wstring by web::http::http_response.extract_string( )
But instead i want to return std:string using web::http::http_response.extract_

[2020-09-29 08:27] ludydoo opened #7543 "[BUG][GO] Error in go server README api example"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-29 08:54] macjohnny commented on #7537
@therockstorm would you like to file a PR to fix this?

[2020-09-29 09:37] juristr commented on #7201
@wing328 from a quick check it looks like this change is not included in the latest beta 2. Would it be possible to have another release to include the Angular 10 compatibility?

[2020-09-29 11:57] skchande commented on #2236
Have you tried using Version 3.0?

[2020-09-29 12:52] #7453 closed

[2020-09-29 13:11] toymachiner62 commented on #5959
Uhh what version was this released in?

[2020-09-29 13:49] black-snow commented on #7479
Yup. It's initially just unclear that there's language specific stuff and general stuff and what goes where. Your issue about this should mostly fix this, I think.

[2020-09-29 14:09] macjohnny commented on #7100
@petermetz you could also post-process the generated code with a script.

[2020-09-29 14:11] wing328 commented on #5959
@toymachiner62 can you try the latest master or v5.0.0-beta2?

[2020-09-29 15:41] keymone opened #7545 "[BUG] Python response fails to deserialize when $ref is used inside additionalProperties"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-29 15:46] spacether commented on #7545
@keymone can you try using the `python-experimental` generator?
The fix that you referred to is for the python-experimental generator, not the python generator.

[2020-09-29 15:49] keymone commented on #7545
ah, i see. i didn't try experimental because there isn't a version tag i can refer to for deterministic builds, so i switched to normal python. will try in a sec.

[2020-09-29 15:51] keymone commented on #7545
yeah, looks correct in experimental, sorry for bothering.

[2020-09-29 15:51] keymone commented on #7545
is there a schedule for beta releases?

[2020-09-29 15:59] #7545 closed

[2020-09-29 16:02] ksvirkou-hubspot commented on #7533
@spacether
I am not sure but I can't find a similar issue
what do you think about it ?

[2020-09-29 17:14] petermetz commented on #7100
@macjohnny Could be a last resort if there's no traction on this, sure, but I'd prefer avoiding custom post processing scripts wherever possible. :-)

[2020-09-29 17:26] macjohnny commented on #7100
@petermetz yeah, I agree it would be better if the generated code did not replace reserved keyword expressions if not necessary, as in your example. But to achieve this one would need to implement more logic to escape values. would you like to contribute this?

[2020-09-29 18:42] petermetz commented on #7100
@macjohnny Yeah I'm definitely interested, assuming it doesn't blow up in complexity: I imagine it could be done by turning a few knobs in the code of the of the axios-typescript template specifically (like a list of reserved keywords in an array of some such simple change).
If it's something that gets down to the core generator and has a potentially high impact change (which it started to seem li

[2020-09-29 19:05] macjohnny commented on #7100
The reserved words are defined here:
https://github.com/OpenAPITools/openapi-generator/blob/336521b464d9edf42002a89d956499a4f73986e4/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java#L111

But we cannot simply change the list, it is more about adjusting when to escape and when not to escape.
https://github.com/OpenAPITools/openapi-gener

[2020-09-30 04:17] tkhm opened #7548 "[BUG][Java] java with microprofile library will generate the code with Apache License"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-09-30 07:16] lightman73 opened #7549 "[BUG] [Swift5] oneOf for return body"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [X] Have you searched for related issues/PRs?
- [X] What's the actual output vs expected output?
       T

[2020-09-30 07:52] wing328 commented on #7548
@tkhm thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/7550 to fix it.

[2020-09-30 08:06] wing328 commented on #7549
@lightman73 thanks for reporting the issue. You're correct in saying that oneOf, anyOf is not supported in the `swift5` generator at the moment.

If you've time to contribute a PR to add oneOf/anyOf support, I can point you in the right direction to add oneOf support to the `swift5` client generator.

[2020-09-30 08:46] #7548 closed

[2020-09-30 08:46] wing328 commented on #7548
PR merged. Please pull the latest master to give it a try.

[2020-09-30 08:55] lightman73 commented on #7549
I might. Considering that the alternative would be to convince my colleagues to change the API endpoints and work around the problem, it could be easier for me to add the support to the generator. Besides, that could help others. ☺️

I'm not gonna promise you anything, though. 😅

Any hint on where to look into the code, and how it could be implemented would be great 😊

[2020-09-30 09:10] lightman73 commented on #7549
Another possibility could be to define `OneOfsomeObject1someObject2` as:
[code]

[2020-09-30 09:54] zarr commented on #1846
A possible solution is adding a type mapping from floats (and doubles) to BigDecimal:

[code]

Source:
https://stackoverflow.com/questions/55654672/how-to-treat-a-double-field-as-bigdecimal-while-generating-java-code-from-a

[2020-09-30 10:12] jogelin commented on #6432
@UnleashSpirit did you progress on this one ?

[2020-09-30 10:27] zarr commented on #7196
#### Possible workaround

Set the `serializationLibrary` to `jackson` in the generator configuration as described in https://openapi-generator.tech/docs/generators/kotlin

[2020-09-30 15:39] iyzana commented on #6715
It seems like this option should be present for the webclient generator as well

[2020-09-30 18:00] dartzki opened #7557 "[BUG] [Typescript] allow body on DELETE"
##### Description

The typescript api currently does not support passing a body to a delete request.
DELETE Requests may have a body as per specification.
Generated services for a DELETE Request with a body simply drop the 'body' argument, leading to a wrong request.

##### openapi-generator version

5.0.0-beta2

##### Suggest a fix

the templates should be adapted to use `httpClient.request` inst

[2020-09-30 18:24] gerlacdt commented on #3100
Are there any news about this? Is it on the roadmap for the upcoming 5.x release?

[2020-09-30 21:16] hasparus commented on #1458
Any tips how to deal with UNKNOWN_BASE_TYPE? I get it both in `typescript-fetch` and `typescript-node`.

[2020-10-01 02:26] jimschubert commented on #7479
For those top-level tooling options, it looks like I'll need to deprecate with a warning at the very least through 5.1.0, possibly throughout all of 5.x.

In the meantime, I've added a clarification documentation around the different types of properties. See  https://openapi-generator.tech/docs/configuration

[2020-10-01 06:03] noordawod opened #7560 "[REQ] Add a new property "baseDataType" for containers"
### Is your feature request related to a problem? Please describe.

For arrays and maps, the `dataType` property currently holds the complete definition of the container, as in:

List&lt;ModelType&gt;
Map&lt;ModelType&gt;

There is a property for the container type (`baseType`), but there's no property for the type itself: `ModelType`

## Describe the solution you'd like

Add a new property in the

[2020-10-01 06:41] albertotn commented on #5584
As part of hacktoberfest 2020 I'd like to try and solve this

[2020-10-01 07:41] agilob commented on #7480
It's an easy fix, but quite a lot of breaking changes
![image](https://user-images.githubusercontent.com/2544251/94781512-79aac580-03b9-11eb-861b-577b47028a95.png)

[2020-10-01 08:03] agilob opened #7561 "[Discussion] Remove Dart (1)"
Openapi supports dart and dart2. Language didn't have many [breaking changes between versions these](https://dart.dev/dart-2) and it can only add confusion, never seen anyone referring to Dart as dart2, it's always dart or dartlang.

* `dart` generator doesn't seem to be tested properly and it shares generator code with `dart2`
* there is no dart1 or dart2 specific schemas: `dart-jaguar-openapi-fl

[2020-10-01 08:36] noordawod commented on #7561
Personally, I agree to drop Dart 1. It's ancient. Let's get more Dart love please!
I'm contributing many things lately but I have no merge rights so...

[2020-10-01 09:47] black-snow commented on #7479
Awesome. Thanks for your efforts. I'll close this specific issue then.

[2020-10-01 09:47] #7479 closed

[2020-10-01 09:48] black-snow commented on #7480
yikes

[2020-10-01 10:43] typhoon2k commented on #7319
@wing328 , ping.

[2020-10-01 11:10] rainerCH opened #7563 "[REQ] PHP Concurrent Requests"
### Is your feature request related to a problem? Please describe.

Hi

to perform real concurrent requests in guzzle i need to create a "Pool" with an array of request objects. these functions are protected and not available from outside the class, thus i can not perform concurrent async requests.

[code]

## Describe the solution you'd like

Make them public

## Describe alternatives you've cons

[2020-10-01 12:09] wamujlb opened #7564 "[typescript-axios] doesn't serialize deepObject query params"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-01 12:32] Dunkhan opened #7565 "[BUG][typescript-angular] All properties generated with "?:" even when they are not optional"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-01 13:44] DenisKnoepfle commented on #4208
@jimschubert this bug is still open and directly corresponds to our conversation here: https://github.com/OpenAPITools/openapi-generator/pull/6357#discussion_r449851055

Have you had another look into it?

[2020-10-01 16:34] thiagoarrais commented on #5818
The base URL may already be overriden like so:

[code]

[2020-10-01 16:34] #5818 closed

[2020-10-01 17:39] agilob commented on #7565
Your schema must be wrong. Required/optional fields are supported and tested for.
In the example schema

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml

[code]

it generates correct output

![image](https://user-images.githubusercontent.com/2544251/94843910-ea2f0200-040c-11eb-9328-bbf3d730f7d0.png)

add `required: true`

[2020-10-01 19:05] agilob commented on #7322
Looks like this was introduced intentionally and test for it was added intentionally too https://github.com/OpenAPITools/openapi-generator/pull/2537/files

Java tests:
![image](https://user-images.githubusercontent.com/2544251/94851965-b6f27000-0418-11eb-82d8-efa59ce7a6e6.png)

Kotlin tests:
![image](https://user-images.githubusercontent.com/2544251/94851998-c376c880-0418-11eb-9aa5-ac112110ec1c.pn

[2020-10-01 19:09] cshamrick commented on #144
@typhoon2k What's the status of this change? I'm currently developing an API that is versioned via the `Accept` header, which if documented correctly in our oas definition, would ideally produce separate operations (e.g. `someOperationV1`, `someOperationV2`) as you described in your proposal above. Has there been any movement toward this type of setup?

[2020-10-01 20:14] alenf commented on #5729
Installing @types/node didn't resolve this problem for me. But when I replaced
`import * as globalImportUrl from 'url';`
in generated code with:
`const globalImportUrl = require('url')`
error has disappeared.

[2020-10-01 20:23] alsma opened #7572 "[BUG][PHP] offsetGet method for generic model"
##### Description

In current `master` version, it generates invalid code for model's `offsetGet` method which always return bool value which is not corre

##### openapi-generator version

master

##### Related issues/PRs

Bug was introduced in following PR
https://github.com/OpenAPITools/openapi-generator/pull/7376

##### Suggest a fix/enhancement

Here is PR that fix the issue
https://github.com

[2020-10-01 22:58] liquidaty opened #7573 "Add support for path prefixes e.g. single endpoint handler for all GET requests to /static/..."
# Problem

I am generating server code in GoLang, and I'd like to use a single handler for the path prefix "/static/"-- i.e. all endpoints that start with "/static/" use the same handler (presumably, the generated code will use PathPrefix instead of Path as described at https://github.com/gorilla/mux).

# Proposed solution
The easiest and most intuitive input/output I can think of would be as foll

[2020-10-02 01:26] #7193 closed

[2020-10-02 01:35] jimschubert opened #7574 "[task] Remove environmentVariables from Maven Plugin for 5.1.0"
see #7559

[2020-10-02 01:37] jimschubert commented on #2556
I think we'll need to deprecate all the top-level properties in CLI and plugins for 5.0 and through at least 5.1.0

[2020-10-02 07:25] alwibrm commented on #5584
@albertotn Would appreciate a bugfix here. I just ran into the problem, too.

[2020-10-02 10:14] alexrashed opened #7575 "[BUG] multipart/form-data parameters can conflict with other parameters"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-02 10:24] ibazavan commented on #7342
Ran into the exact same issue, but when using a multipart request as follows:

    post:
      tags:
        - Details
      summary: Post details
      operationId: postDetails
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                details:
                  $ref: '#/components/schemas/detailsV1'

[2020-10-02 13:15] jvs64893 commented on #6779
@emongstad
I think this belongs in a different issue as this is about the Java native template.

Content-Type and Accept are both having the same issue in Java native:
`
localVarRequestBuilder.header("Content-Type", "application/json");
localVarRequestBuilder.header("Accept", "application/json");
`

[2020-10-02 13:19] emongstad commented on #6779
ok, I can agree on that. But I hope that if this is fixed for the java template, it will be fixed for e.g kotlin too?

[2020-10-02 13:30] mariuspavelnistor commented on #4606
Hi Sebastien, I'm trying to use this feature but it doesn't embed the parent structure into the child. I'm using open-api-generator 4.3.1 . I changed the mustache also. Is anything else I can do ?

[2020-10-02 16:45] RinkAttendant6 opened #7581 "[BUG] Global properties configuration for batch command"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-02 18:26] sebastien-rosset commented on #4606
You use the `go-experimental` target, not `go`, right? This feature is not available in `go` and it's not available in the go server.
Also note that in 5.0, the `go` target is renamed to `go-deprecated` and `go-experimental` is renamed to `go`

[2020-10-02 18:27] #4606 closed

[2020-10-02 19:34] tsraza commented on #7564
@wamujlb do you have a snippet to work around this?

[2020-10-02 21:40] JavaJamie commented on #2594
Any examples? I've switched from swagger-js as its bundle size was ridiculous and have now generated the api.ts file from the codegen editor. It's a Create React App. How should the client be used? More specifically, how do you create the configuration (with a jwt token for each request) and use the generated stub functions? Thanks.

I can see a configuration.ts. I need to be able to use this gene

[2020-10-03 10:57] wing328 commented on #7530
Your suggestion to reduce duplicated comments sound good to me.

[2020-10-03 10:58] #7572 closed

[2020-10-03 10:59] wing328 commented on #7563
Can you please file a PR with the suggested change to start with? That will help us to review more easily.

[2020-10-03 11:30] abillingsley opened #7584 "[BUG][typescript-fetch] multipart/form-data request body does not respect date-time format"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-03 15:09] wing328 commented on #7561
Yes, make sense. I already marked Dart 1.x support as deprecated via https://github.com/OpenAPITools/openapi-generator/pull/3790 so it shouldn't be a surprise to our users Dart 1.x support is gone in the upcoming v5.0.0 major release.

[2020-10-03 15:14] wing328 commented on #7534
Agreed with better error message to report invalid options but the challenge is one can also pass mustache variables via additional properties and use these in the templates, e.g. `--additional-properties newTag=newValue` means users can use `{{newTag}}` in their customized templates.

[2020-10-03 15:15] agilob commented on #7561
What do you think about (future) alias pointing `dart` generator to `dart2` or just renaming `dart2` to `dart`?

[2020-10-03 15:22] jimschubert commented on #7581
Global properties are defined in configs with a `globalProperties` map.

I've just created https://openapi-generator.tech/docs/configuration this week, would it help to have the config file syntax/support documented on this page with a set of examples for those external configuration files? I can see how it may be confusing because the CLI takes `--global-property` with a single key/value, but the

[2020-10-03 15:28] wing328 commented on #7561
If Dart is like Swift (which releases a newer version regular), then we can reuse Swift generator naming strategy, e.g. `swift`, `swift3`, `swift4`, `swift5`.

Otherwise, I would suggest just use `dart`

[2020-10-03 15:37] #440 closed

[2020-10-03 15:37] #7426 closed

[2020-10-03 19:23] jimschubert commented on #4208
@DenisKnoepfle thanks for bumping this. I never got your comment last month from the linked issue for some reason.

I was having trouble reproducing the issue you'd described. I'd found it was because I was testing using git bash in Windows so I guess it uses linux file separators and was never hitting the file separator issue you'd described. When I had tested the maven plugin, I was testing `tem

[2020-10-03 19:32] jimschubert commented on #7581
Hm, I thought we had some yamls under bin/configs with `globalProperties` but I don't see any. I'll do some testing to verify the bug and fix as appropriate. I also think we need some docs around how the configs work, because it is a little different than I'd expect people to know.

[2020-10-03 20:18] agilob opened #7588 "[Dart] Use resources/3_0/petstore.yaml in dart2 generators"
Simple as that, move dart generators to use more complex schema from openapi 3.0.
New files are more complex and expose new bugs in Dart.

[2020-10-03 20:25] freshteapot commented on #6439
How I fixed this.

- goto the folder on your local machine that you want to include.
- run
[code]

- then run
[code]

[2020-10-03 21:35] freshteapot opened #7589 "[BUG] [DART] Using multipart/form-data breaks on File.fromJson"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-03 22:38] noordawod commented on #7561
Dart as a language is coming of age so I think just `dart` would do it justice.

[2020-10-04 04:33] wing328 commented on #7588
Agreed with using another spec with more test cases.

We can consider https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml but likely it will uncover issues that take some time to address.

[2020-10-04 07:26] agilob commented on #7588
Mentioned resources/3_0/petstore.yaml only because it's the most popular.

[2020-10-04 08:21] #7561 closed

[2020-10-04 11:21] warahiko opened #7591 "[BUG][kotlin][jvm-retrofit2] unnecessary nullable type of OkHttpClient / small fix in docstring"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-04 15:30] stcarrez opened #7594 "[BUG][Ada] Incorrect client Ada code generated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-04 16:03] dkarlovi commented on #7534
@wing328 I'm not sure I see your point, how do the additional properties influence validating the config file? :thinking:

[2020-10-04 17:41] YassinHajaj commented on #144
Hi, any updates on this change?

[2020-10-05 02:26] jimschubert commented on #7322
Logic in kotlin's `toVarName` needs to remove characters before escaping with words. I'll open a PR to fix.

[2020-10-05 07:30] nhoughto opened #7601 "[BUG] Use of GlobalSettings in gradle-plugin leads to race conditions in Gradle 6.6+"
##### Description

On the latest version of Gradle 6.6 and latest generator 4.3.1 I am seeing inconsistent generation of outputs, some projects where model generation is disabled, intermittently models appear and the next run they do not appear. I believe this is due to running my multi-module gradle project with a number of openapi generator tasks running at once, the current problem is with ~5 c

[2020-10-05 08:06] hrkristian commented on #6816
In order to get a OneOf* class you have to make it a named component, then reference that in `schema` with a $ref.

This seems to be a universal case for the plugin, an "inline" definition does not result in a generated class (with some few exceptions.)

[2020-10-05 08:21] milczarekIT commented on #3100
When you change from:
[code]

To:
[code]

So, if additional properties for `Cat` are added to the root of `Cat`, then there is no additional class `CatAllOf`

[2020-10-05 08:44] atanasiuk-hubspot commented on #7533
Any updates on this?

[2020-10-05 09:41] mrmstn commented on #5234
Hi @boolafish, Thank you for the issue

You should be able to set an optional body param by adding `body: %{}` to the opts list, can you confirm that?

Something like this should work in your case
[code]

[2020-10-05 09:46] ammar-esrawi opened #7602 "angular-typescript: the generated methods(representing the APIs) in the controller have a number suffix"
##### Description

I have an exposed  file  from spring boot server
and I am using this script to generate a typescript angular client

openapi-generator-cli generate -g typescript-angular -i ./src/app/data/open-api.json -o ./src/app/data/build/openapi

there are duplicated api names among the system

simple structure

Controller1 : [get,list,delete,... ....]
Controller2 : [get,list,delete,... ...

[2020-10-05 11:07] rainerCH commented on #7563
@wing328

i provided a PR :) i am not into the openapi generator code, so maybe i missed something.

https://github.com/OpenAPITools/openapi-generator/pull/7603

[2020-10-05 11:48] mrmstn commented on #5234
Ahh I see, you're absolutely right, the body will be wrapped into a Multipart Request, which if obviously wrong,
I'll look into this..

@boolafish or @InoMurko, would it make sense to you, if the fix would look something like this: ```Api.Account.account_get_transactions(conn, body: %{limit: 1})```

[2020-10-05 13:03] #7322 closed

[2020-10-05 18:56] bilak commented on #5993
@Bloodlex does this work for you https://github.com/OpenAPITools/openapi-generator/pull/5022 ?

[2020-10-05 19:04] #1318 closed

[2020-10-06 01:32] ericamerchant commented on #6816
@hrkristian Can you give an example of what the named component would look like in the oneOf case?

[2020-10-06 03:05] ericamerchant commented on #6816
I tried the following and as a result I got 4 classes. ObjectA, ObjectC, and ObjectD are all as defined. ObjectB is a combination of ObjectA and ObjectB, containing properties from both, but without any "oneof" type validation nor any inheritance with ObjectC and ObjectD.

[code]

[2020-10-06 08:53] skchande commented on #3100
Very nice Workaround @milczarekIT
Does anyone know if this intended behaviour? I could not find any documentation for this.

[2020-10-06 08:57] utadachiren opened #7610 "[BUG][Python-Flask] circular import in python-flask it looks degraded"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-06 09:00] utadachiren commented on #7610
sorry, I make issue in progress

[2020-10-06 09:00] #7610 closed

[2020-10-06 09:06] utadachiren commented on #7610
Please delete this issue

[2020-10-06 11:36] dragonjuggler opened #7612 "[REQ] Feature Request Description"
Is there a way to disable the generation of Swagger documentation annotations in Java code?  OpenAPI generates documentation with Swagger UI from the OpenAPI YAML specification - not from the Swagger annotations.  This requires Swagger as a compile time dependency, essentially for a feature we won't be using.

I saw the following issue:  [#5058 ](https://github.com/OpenAPITools/openapi-generator/p

[2020-10-06 12:58] judgej commented on #6559
I found recently that it is possible to provide parameters to override the mappings for constants. So you you find a constant name (from a list of status values, for example) clashes with a reserved word, you can override it in the generated code.

I'm wondering if there is some kind of mapping option for other properties (and not just emum values) so you could tell the code generator to hande "VA

[2020-10-06 14:39] TehBakker commented on #5289
None else than me has request specific headers that they don't want to define in the openApi specifications ?
Those headers are used internally to track calls.

[2020-10-06 16:02] spacether opened #7613 "[BUG] Validations are not being stored in our java classes for three use cases"
#### Bug Report Checklist

Validations are not being stored in our java classes for the following use cases:
- array model where the validations are in the array.items schema
- object model where additionalProperties has an inline schema definition
- composed schema models
- CodegenResponse
- CodegenParameter (has items + lacks additionalProperties)

- [X] Have you provided a full/minimal spec to

[2020-10-06 19:48] bilak opened #7614 "[BUG] OAuth scopes are being generated even when they doesn't belong to current flow"
When generating oauth scopes for method, scopes are being copied from definition flows (`securitySchemes`), but there is an issue when scope is copied from another flow even when it doesn't belong there.

[2020-10-07 05:36] spacether commented on #7533
Per the spec here:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#serverObject
It looks like full paths are:
servers + path
And the examples that they give lack a trailing slash in servers and include a leading slash in paths

[2020-10-07 07:54] #7541 closed

[2020-10-07 08:46] atanasiuk-hubspot commented on #7533
Hi, @spacether, thank you for the response!

The [OpenAPI Specification](https://swagger.io/specification/) indicates no limitations on the form of the servers URLs, but does indicate that just a slash "/" is a valid URL.
![image](https://user-images.githubusercontent.com/57258334/95307640-93547d00-0891-11eb-8040-1aa3c9c0fcd0.png)

The Specification also notes that paths MUST start with a /.

Ther

[2020-10-07 08:50] atanasiuk-hubspot commented on #7533
The [latest](https://github.com/OpenAPITools/openapi-generator/tree/v4.3.1) stable build handles trailing slash correctly. The issue appears in 5.0.0.

[2020-10-07 08:54] dkarlovi commented on #7535
@wing328 how do you feel about this one?

[2020-10-07 10:01] hyounoo opened #7617 "[BUG] [Swift5] `AnyType` is not defined"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue

[2020-10-07 10:03] hyunoosung opened #7618 "[BUG] [swift5] 5.0.0-beta2 generates AnyType"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue

[2020-10-07 11:02] Burimcakolli commented on #2892
Any update on this issue?

[2020-10-07 14:40] thccorni opened #7619 "[BUG] [typescript-angular] Query param key is undefined when using queryParamObjectFormat=json"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-07 16:00] vi-verrone commented on #3248
The bug is still there with 4.1.3, @RequestParam is not generated for $ref models.

[2020-10-07 16:57] thccorni opened #7620 "[BUG] [typescript-angular] queryParamObjectFormat=json does not work for arrays"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-07 20:05] spacether commented on #7533
Thanks for sharing that. I stand corrected. We welcome any PRs fixing this issue.

[2020-10-07 21:39] nerfpops commented on #6376
Also, the error messages are crazy when you do something wrong with a type where XOR is used. A cleaner solution would indeed be much appreciated.

[2020-10-07 21:42] Stonezdev commented on #6762
Any news here? I am facing exactly the same issue.

[2020-10-08 03:13] #7617 closed

[2020-10-08 06:15] #7537 closed

[2020-10-08 06:48] gionnydeep75 commented on #6775
I have same issue. How to workaround?

[2020-10-08 07:16] mahirk opened #7623 "[REQ] [typescript] Allow ParameterizedServer servers for typescript-node"
### Is your feature request related to a problem? Please describe.
Currently OAS 3 and some of its generators in this repo support `ParameterizedServer` which allows a server to be designed as follows:
[code]

This feature is to track adding in the usage of parameterized servers in typescript-node.

## Describe the solution you'd like
This is likely possible by:
1. Adding a configuration object wh

[2020-10-08 08:08] federicovalenso commented on #1317
Generator still generates enums the same way (a class with no members). Is there any chance that this issue will ever be fixed ?

[2020-10-08 14:43] orosro commented on #5853
I'm encountering the same issue using @latest version (4.3.x I think). In any case, setting modelPropertyNaming=snake_case was not working. Same scenario, required param of oAuth2.

I used the same workaround as the others, downgrading to 4.2.3 and setting the modelPropertyNaming to original.

Any updates? A lot of time passed

[2020-10-08 14:59] deeptowncitizen opened #7629 "Unable to get local issuer exception"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [x] Have you searched for related issues/PRs?
- [x] What's the actual output vs expected output?

##### D

[2020-10-08 15:23] JonasZ95 commented on #7565
@agilob I don't know how the tests look, but they are wrong. By definition nullable is false by default(https://swagger.io/specification/)! Yet not setting nullable at all treats nullable as true.

[2020-10-08 19:54] mlk621 commented on #4586
Yes, same issue. Very troublesome when creating/testing saved output in json format and using across services/testing

[2020-10-09 03:15] #7614 closed

[2020-10-09 03:52] sebastien-rosset commented on #7613
Basic question: by java classes do you mean the java classes of the openapi code generator? Or the generated Java classes, e.g `-g java`?

[2020-10-09 04:08] spacether commented on #7613
I mean the classes:
- CodegenProperty
- CodegenModel
- CodegenParameter
- COdegenResponse

[2020-10-09 04:14] sebastien-rosset commented on #7613
ok, thanks. Any by "validation", you mean the `validate` option, as in `java -jar openapi-generator-cli.jar validate -i ...`?

[2020-10-09 04:25] spacether commented on #7613
I mean openapi Schema validation properties like pattern minimum, maximum, maxItems etc

[2020-10-09 04:39] sebastien-rosset commented on #7613
ah ok, thanks, now it all makes sense.

[2020-10-09 09:21] #5234 closed

[2020-10-09 10:29] michalzubkowicz opened #7635 "typescript-inversify generator wrongly handles array type parameters"
##### Description
api.service.mustache generates such code

[code]
Instead of
[code]
Wrong variable is used in loop.

##### Suggest a fix
I'll provide PR.

[2020-10-09 10:53] dtam-atl commented on #5229
Is a cycle spec uncompliant? It doesn't seem to be mentioned anywhere in the spec what's meant to happen in that case.

[2020-10-09 11:38] sascha-friederich opened #7638 "[BUG] If superclass has no properties, it will not be generated, but derived class does extend not existing/generated class"
##### Description

I use the openapi gradle-plugin to generate java classes  - but if the superclass has no properties, the class will not be generated but the derived class extends the non existing class.
So the code does not compile.

Using the command-line I see the following message:

As a workaround we modify the openapi json to add some dummy attribute in the superclass, so that it will be g

[2020-10-09 13:42] krajek opened #7639 "[C#] How can I change access token in refresh policy?"
##### Description

I am trying to use `RetryPolicy` to support the refresh of access tokens.
Setting up `Polly` policy is easy and it works. However, in the policy the only object I can use is `IRestResponse` and I cannot figure out how to use it to change the access token for the subsequent call.

These are my two attempts, they do not work:

[code]

##### openapi-generator version

cli-5.0.0-bet

[2020-10-09 13:58] krajek commented on #7639
I ended up with following solution.
In my case the key problem was that I had to remove previous `Authorization` header.

[code]

[2020-10-09 13:59] #7639 closed

[2020-10-09 18:51] mslowiak opened #7641 "[Java][Spring][Gradle] Spring Pageable for generator spring"
### Is your feature request related to a problem? Please describe.

The maven generator allows to use generator name JavaSpring which has already this feature created with (5.0.0-beta2):
https://github.com/OpenAPITools/openapi-generator/pull/5022

## Describe the solution you'd like
I would like to use `x-spring-paginated: true` also in generatorName=spring in gradle plugin

## Describe alternativ

[2020-10-09 19:36] cobraz commented on #6597
Bump ❤️

[2020-10-10 03:18] #3958 closed

[2020-10-10 07:27] marcelloceschia opened #7645 "[Docker] openapi-generator-cli code gernator does not respect packageName for AbstractOpenAPISchema"
##### Description

We are generating the client code with the following comand:

`/usr/local/bin/docker-entrypoint.sh generate -i ${SWAGGER_FILE} -g csharp-netcore --skip-validate-spec --additional-properties=targetFramework=${TARGET_FRAMEWORK} --additional-properties=netCoreProjectFile=true --additional-properties=packageName=${PACKAGE} --additional-properties=packageVersion=${MODULE_VERSION} -o

[2020-10-10 08:58] wing328 commented on #7645
@marcelloceschia thanks for reporting the issue. I've included the fix in https://github.com/OpenAPITools/openapi-generator/pull/7626.

[2020-10-10 10:20] #7645 closed

[2020-10-10 10:21] wing328 commented on #7645
Meged #7626 into master. Please pull the latest to give it another try.

Thanks again for reporting the issue.

[2020-10-10 14:42] marcelloceschia commented on #7645
@wing328 Thank you, its working again.

[2020-10-11 05:15] godfryd commented on #7619
I'm not sure if this is the same. I'm observing the same wrong result when I pass an array as argument.

[code]
this function does not recognize that value is an array and it goes into the first condition (as array is object type). And then key is missed and then `throw Error("key may not be null if value is not object or array");` happens.

From debugger:
![image](https://user-images.githubuserco

[2020-10-11 07:59] GrizliK1988 commented on #7620
Hi!

I'd like to take care of this one.

[2020-10-11 08:55] wing328 commented on #7618
Thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/7644 to fix it.

[2020-10-11 16:32] spacether opened #7651 "[REQ] Implement needed common isX properties in java Schema classes in openapi core"
### Is your feature request related to a problem? Please describe.

The openapi generator core java java classes that implement Schema lack all the same kind of isX properties.
One would expect to see:
- isString
- isDate
- isDateTime
- isFloat
- isInteger
- isDouble
- isNumber
- isLong
- isBinary
- isMap
- isArray
- isAnyType
- isNull
- hasValidation
- required
- hasValidation
- not
- discriminat

[2020-10-11 18:10] JRAndreassen commented on #6775
Same...
Running it on the Redfish spec: DSP8010_2018.2_Telemetry\openapi\openapi.yaml
(http://redfish.dmtf.org/schemas/archive/v2018.2/)

java : Exception in thread "main" java.lang.StackOverflowError
At line:1 char:1
+ java -jar openapi-generator-cli-5.0.0-beta.jar generate -c redfish/Op ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotS

[2020-10-12 04:56] sahanatroam commented on #7104
@hagevvashi @wing328 are you sure you don't need the `url` dependency in the codebase for the request to work? In my petstore example it generated the following code

[code]

[2020-10-12 06:21] verokarhu opened #7658 "[BUG][typescript-fetch] Complex values are serialized as the string [object Object] in multipart/form-data"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-12 11:45] UnleashSpirit opened #7660 "[REQ] Configurable download link"
### Is your feature request related to a problem? Please describe.

I started a new project, anuglar, and with the last version I have to download the {version}.jar
On the jenkins server, I have no internet so it can't download from hard coded https://repo1.maven.org/maven2/${group}/${artifact}/${versionName}/${artifact}-${versionName}.jar

## Describe the solution you'd like

A parameter to set t

[2020-10-12 11:54] UnleashSpirit commented on #6432
Hi, unfortunately not yet :(
Trying to find time but hard these days

[2020-10-12 13:52] u23a commented on #1176
It's almost 11 months. Is there any updates?

[2020-10-12 16:31] toymachiner62 commented on #5959
Please reopen. This is still not working in v5.0.0-beta2.

[2020-10-12 16:39] toymachiner62 commented on #6134
Any update on this? A working solution is right here https://github.com/OpenAPITools/openapi-generator/issues/6134#issuecomment-622566458

[2020-10-12 17:22] mojidabckuu commented on #5911
@rvowles any chance to take a look on PR?

[2020-10-12 20:03] batousik commented on #1875
This sounds absolutely reasonable, take a look at #4170.
Typescript client must have dates and date-time as objects. Moment.js is one of the best libs out there.
The generator itself must be upgraded to support this and so ar the mustache templates.
openapi-generator/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Also take a look at

[2020-10-12 20:35] f18m commented on #273
Hi @stkrwork , Hi @muttleyxd ,

sorry to go over this "old" issue... I just tried using the restbed server-side generator with both the OpenAPI generator CLI v4.3.1 and v5.0.0-beta2 and I stumped over the same problem described by @muttleyxd : the automatically-generated restbed::Service-derived class is publishing in its constructor the restbed::Resource...
That means there's no chance to set the

[2020-10-12 21:15] ryan-beisner commented on #7119
I have a nearly identical scenario, where the "del" reserved operator is generated and used as an assignment inside the make_instance method, and it reproduces on 4.2.3 and 5.0.3b.

[2020-10-12 23:59] alvi-canva opened #7687 "[BUG][JAVA] Subclass model was classified as a free-form object even though the super class has a property in it."
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-13 05:20] rvowles commented on #5911
I haven't - because it works nicely outside of the main openapi core, there isn't a huge driver to merge it back in. I actually really really don't like that all these generators are part of this beast. It is working really well for us.

[2020-10-13 05:50] wing328 commented on #1176
The `go` client generator in the latest master has been refactored. Can you give it a try?

[2020-10-13 06:32] #7620 closed

[2020-10-13 07:53] pradhanv commented on #4491
Is the "ignoreAnyOfInEnum" fix available in openapi-generator-cli-4.3.1.jar?
The command - "java -jar openapi-generator-cli-4.3.1.jar config-help -g spring" does not appear to list the "ignoreAnyOfInEnum" config option.

[2020-10-13 10:21] nasht00 opened #7707 "[BUG] Description"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-13 11:01] tsuwatch opened #7708 "[BUG][Ruby] undefined method in api_client.rb"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-13 11:06] tsuwatch commented on #7708
It's possible that it couldn't be used originally.

[2020-10-13 11:22] tsuwatch commented on #7708
Looks like it...
https://github.com/OpenAPITools/openapi-generator/pull/3405

[2020-10-13 12:55] RuTsEST commented on #3848
Having this problem as well. Current workaround is to use absolute paths.

[2020-10-13 15:23] GunnarAK commented on #6332
If you're able to; try downgrading to `4.3.0`
This resolved the issue for me while I came from `4.1.3`. `AnyType` became `Object` again.

[2020-10-14 02:11] wing328 commented on #1176
Closed via #7692

[2020-10-14 02:11] #1176 closed

[2020-10-14 06:33] jaydiablo opened #7712 "[BUG][PHP] DateTime in query param passes DateTime object to Guzzle, causing error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-14 06:45] wing328 commented on #7708
@tsuwatch thanks for reporting the issue. When you've time, can you please PM me via Slack?

https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

[2020-10-14 08:20] wing328 commented on #7601
@nhoughto thanks for reporting the issue. Have you tried the latest master to see if the issue is reproducible?

[2020-10-14 10:14] uyermolkin-hubspot opened #7714 "[Ruby] Incorrect return types if multiple responses are defined"
##### Description

If you define multiple responses, the codegen will only support the first one (typically 200).

##### openapi-generator version

4.3.1 and higher

##### OpenAPI declaration file content or url
<img width="735" alt="test001" src="https://user-images.githubusercontent.com/58524804/95975491-eb096000-0e1e-11eb-8037-d12e4361a6e2.png">

##### Related issues/PRs

###### PHP
https://git

[2020-10-14 13:22] Bronson-Brown-deVost commented on #6714
I am getting the same error as OP when I try to build my package: `Error in parse(outFile) : bad value`.

Steps to reproduce:
[code]

Unfortunately I don't have enough experience with building R packages to debug much further than that, but perhaps there is some data type in my [openapi spec ](https://api.qumranica.org/swagger/v1/swagger.json) that is giving some trouble.

The r client code can be

[2020-10-14 15:05] wing328 opened #7715 "[BUG] Failed to write FILES metadata to track generated files."
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-14 20:29] sharathkolibyle commented on #1324
Hi , Anyone have any idea on how to tackle this ?

[2020-10-15 04:20] nhoughto commented on #7601
Indirectly, the file in question hasn't changed between the link (https://github.com/OpenAPITools/openapi-generator/blob/61b543f03dc546386467c9a7afe8864f6f609ed1/modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt#L513) and master, so yes?

This was more an FYI that gradle have changed something that means you can't safely use stat

[2020-10-15 07:34] 0x7d7b commented on #4575
Any news on this?

[2020-10-15 09:26] #7594 closed

[2020-10-15 09:36] astraljava opened #7720 "[BUG] Generated TypeScript client fails to handle HTTP 204 No Content"
##### Description

When we generate a TypeScript API client from our schema, it generates a correct call for fetching data from backend systems and expects to receive a list in return. This works fine, when we receive HTTP 200 OK and deserialize a JSON object with the aforementioned list.

But if there aren't any data to return, we expect to see HTTP 204 No Content, but the client fails as it atte

[2020-10-15 10:46] D0rmouse commented on #3569
Problem is that you can have multiple media types per endpoint anyway, and you do not always want different handlers per media type.
So preferably, this should be addressed at a higher level (path:method). This way you can define different operations for the same path.
See https://github.com/OAI/OpenAPI-Specification/issues/2142#issue-565820317

[2020-10-15 11:55] MatthewSteeples opened #7721 "[REQ] [csharp] Ability to use properties on Client instead of parameters on method"
We're making use of an OpenAPI specification that has a header parameter called tenant-id defined for every API call. Rather than keeping hold of that value and passing it to every method as we call it, it would be simpler if we could pass it in to the constructor of the generated Client instead or have it made available as a property on the Client.

I've tried looking to see if this feature is al

[2020-10-15 12:43] luisalves00 commented on #6155
Same with me @mmoehring.

As a nice to have, would be cool for IntelliJ to pickup generated folder automatically, like when using Mapstruct. I think is because they use "annotationProcessor". e.g:

[code]

To have a similar layout as mapstruct I did:

[code]

An I have to run on command line so the sources are generated as IntelliJ doesn't seem to execute the openApiGenerate task.

[2020-10-15 13:39] wing328 commented on #7721
Is `AddDefaultHeader` in the Configuration object what you're looking for?

[2020-10-15 13:55] sorohan opened #7722 "[BUG][TYPESCRIPT-ANGULAR] client generated README with apiModulePrefix"
##### Description

When specifying the `apiModulePrefix` the generated README still says to import `ApiModule`.

If you specify a prefix (eg `PetStore`) the generated README should say to import `PetStoreApiModule`.

##### openapi-generator version

4.3.0 (also checked on master)

##### OpenAPI declaration file content or url

The petstore YAML is sufficient to reproduce it.

##### Command line us

[2020-10-15 14:04] kisdaniel commented on #4170
Date is converted to json by JSON.stringify(...) function, when you convert a date from `new Date("2020-04-13T00:00:00.000+08:00")` to json you will get a `2020-04-12T16:00:00.000Z` string, It is converted to UTC, in server side if you receive this string for instance in java spring boot app, LocalDateTIme will get a value of `2020-04-12T16:00:00`. In server side it  means `2020-04-12T16:00:00.000

[2020-10-15 14:54] MatthewSteeples commented on #7721
Sorry @wing328, I'm new to this so I'm not entirely sure where you mean

To give you a bit more detail, the library I'm using requires the following kind of set up
[code]

Those 2 parameters are in the OpenAPI definition in a way that applies to every single call, so I would like to be able to generate the Client so that it behaves like this
[code]

For the sake of flexibility, I'd be happy with t

[2020-10-15 15:08] macjohnny commented on #7722
@sorohan a PR would be appreciated.
however, this line needs to be changed
https://github.com/sorohan/openapi-generator/blob/54d2f056f3ddd56847e969407f2d23c22dd19f75/modules/openapi-generator/src/main/resources/typescript-angular/README.mustache#L135

to
`import { {{apiModuleClassName}} as OtherApiModule } from 'my-other-api-path';`

[2020-10-15 15:10] #7635 closed

[2020-10-15 15:20] sorohan commented on #7722
No, that's not quite right, and that's why this section is a bit strange. Then you would have:

[code]

With the PR it will be

[code]

or

[code]

With the implication that you used `Other` as the prefix for the other module.

But I'm open for suggestions on how to make that more clear :)

[2020-10-15 15:28] sorohan commented on #4101
Would you be open to a pull request for this one for `configurationPrefix` too?

[2020-10-15 15:28] dstotz opened #7726 "[BUG] isRestful flags are always returning false"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-15 15:33] macjohnny commented on #7722
@sorohan the line in question
https://github.com/OpenAPITools/openapi-generator/blame/master/samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/README.md#L136
serves as an example how to use / rename / alias api modules with the same name (e.g. if you use api packages published somewhere and you can't change/prefix the module name)

[2020-10-15 18:39] deniskr opened #7728 "[BUG][SWIFT5] Swift5 generator sets wrong platforms requirement in Package.swift"
##### Description

Swift5 generates `Package.swift` a manifest file for Swift Package Manger. The manifest file contains a `platforms` directive that specifies the minimum iOS, macOS, tvOS, watchOS SDK version required to compile the generaged sources. Swift5 generator config options include a `responseAs` configuration that specifies what libraries the generated code should use. When `responseAs`

[2020-10-15 20:33] rpthorne commented on #4243
It looks like this may be caused by a missing parameters: section in the  /word/{word}:

had a similar issue and tried deleting code until a solution was found.

is a parameter actually necessary for this? if so a more descriptive error should be easy to throw?

[2020-10-15 23:51] dantman commented on #6022
I'm in a similar scenario. I want to use TypeScript, Axios, and React Hooks together with an OpenAPI spec. I don't mind whether this is via a custom hook that uses the typescript-axios classes or via the useAxios hook (i.e. `usePetApiFindPetsByStatus` would pass path, etc to `useAxios`). But I do prefer to use axios and setup proper cancelation and error handling.

I tried following the documentat

[2020-10-16 04:34] #7715 closed

[2020-10-16 10:09] hyounoo commented on #5462
Do you guys have a example project for this?

[2020-10-16 14:06] shades198 opened #7732 "[BUG] [Java] java-vertx generated code fails to run with nullpointerexception @ SwaggerRouter.getBasePath(SwaggerRouter.java:129)"
##### Description

java-vertx generated code fails to run with nullpointerexception @ SwaggerRouter.getBasePath(SwaggerRouter.java:129)

##### openapi-generator version

openapi-generator-cli version:  4.1.2

Platform config:
OS: RHEL 7.8
Java: 11

##### OpenAPI declaration file content or url

[code]

##### Generation Details

`java -jar openapi-generator-cli.jar generate -g java-vertx -i ~/Docum

[2020-10-16 15:11] davidbokor opened #7733 "Gradle plugin seems to be ignoring configuration"
##### Description
I have a multi-module gradle build where I use the OpenAPI generator to generate the spring model in one module (:api:model) and generate the server-side API in another (:api:interface). This worked fine in gradle 6.5. In gradle 6.6 and later, this no longer works.

##### openapi-generator version
4.3.1

Attached is a sample project that demonstrates the issues:

Module :api:mode

[2020-10-16 15:15] #7722 closed

[2020-10-16 17:53] bilak commented on #6833
Would you be able to work on this? I can see that you also prepared MR for spring security so I'd be glad to help you with this if possible.

[2020-10-16 18:34] cerupcat commented on #925
Any updates on this? It looks like using `Any` anywhere on an object breaks building since it's not Codable.

[2020-10-17 10:58] MatthewSteeples commented on #7721
I've found the equivalent behaviour of what I'm looking for now. I'm going to remove the parameters from the YAML and just put them in the template instead.

In general, it would be nice there was a mustache variable for {{isGlobalParameter}} or something like that passed through, so that this could be done without changing the YAML, but I'm happy for this to be closed if you don't think that's a

[2020-10-17 14:57] macjohnny commented on #4170
this issue is fixed with https://github.com/OpenAPITools/openapi-generator/pull/5314 and https://github.com/OpenAPITools/openapi-generator/pull/5266

[2020-10-17 14:57] #4170 closed

[2020-10-17 15:48] Xambey opened #7737 "[REQ][typescript-angular] Custom options object"
Very often in large projects, for example, on angular, which load a huge amount of different data, it is required to display a spinner while loading this data. Managing loaders manually, in my opinion, is very inefficient and inconvenient, especially when you need to handle data loading errors for specific elements loading data without affecting other loaders. About six months ago, I forked the ge

[2020-10-18 03:16] bobpoekert opened #7738 "[BUG] spaces missing from type hints in generated ocaml code"
##### Description

Running the ocaml code generator generates code that fails to build because spaces have been removed from type declarations that should have space. Eg: `string option` becomes `stringoption`

##### openapi-generator version

Both git master and 4.3.1 release

##### OpenAPI declaration file content or url

https://github.com/stripe/openapi/blob/master/openapi/spec3.yaml, though I

[2020-10-18 11:24] vorburger opened #7740 "[REQ] [Java] Helper to create FormDataBodyPart from File & InputStream"
As a user of an OpenAPI (Swagger) client like https://github.com/apache/fineract/tree/develop/fineract-client, I would find it convenient if there was a helper utility class which would simplify creating `FormDataBodyPart` instances given e.g. a `java.io.File` & `java.io.InputStream`.

[2020-10-18 16:05] #4208 closed

[2020-10-18 17:21] #7018 closed

[2020-10-18 20:14] Zomzog opened #7743 "[BUG][Spring] NoClassDefFoundError ToStringSerializerBase at startup"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-18 21:39] berlysia opened #7745 "[BUG] [typescript-fetch] nullable: true is not respected with enum"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-18 21:56] louis-lau commented on #7474
Reserved words don't apply in this context:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Reserved_word_usage

[2020-10-18 23:03] lucjross commented on #4483
I've run into this issue as well. mind if i open a PR to fix?

[2020-10-19 01:36] wing328 commented on #7732
Can you please try the latest master instead?

[2020-10-19 06:30] wing328 commented on #7738
Thanks @Zomzog for filing a fix (#7742)

@bobpoekert can you please also review the fix when you've time?

[2020-10-19 06:56] shades198 commented on #7732
I tried latest stable 4.3.1. I cannot try beta.
Saw the same set of issues.

[2020-10-19 07:26] tzickel opened #7751 "[BUG][cpp-restsdk] Numbers without dots (integers) are not converted to double"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-19 09:45] macjohnny commented on #7720
@astraljava would you like to fix this?

[2020-10-19 09:45] macjohnny commented on #7745
@berlysia would you like to fix this?

[2020-10-19 09:46] xprt64 opened #7753 "[REQ][Java] Use aggregate parameter objects as function arguments for api"
### Is your feature request related to a problem? Please describe.

We would need the possibility to use aggregate parameter objects as function arguments for API, similar to other generators, i.e. [typescript](https://openapi-generator.tech/docs/generators/typescript/).

We have a lot of APIs that have many optional parameters and when a new parameter is added then all the client calls need to be

[2020-10-19 09:52] macjohnny commented on #7737
@Xambey how/where would you use the `loaderKey` option inside the generated methods?

[2020-10-19 10:08] Xambey commented on #7737
I forked the generator, although it was more than half a year ago and the version difference is too big

[2020-10-19 10:22] Xambey commented on #7737
I have HttpInterceptor, which gets loaderKey from parameters and includes a loader for a request by key, where the key is essentially the loader identifier. I use the 'default' value for the global loader with overlay, and for buttons and other components, the generated uuids. If a loading error occurs in any of the loaders, then inside the finally block, the loader will be automatically disabled

[2020-10-19 11:09] macjohnny commented on #7737
you could add the `loaderKey` property to the openapi file, so the generated service method will accept such a parameter

[2020-10-19 11:17] Xambey commented on #7737
I know, but I can't demand that. My company has a lot of APIs and everything is generated. And it is not advisable. These parameters won't be related to the API, they are needed exclusively for the UI

[2020-10-19 12:42] tzickel opened #7756 "[BUG][csharp-nancyfx] An invalid c# Modules file is created under certain conditions"
#### Bug Report Checklist

- [V] Have you provided a full/minimal spec to reproduce the issue?
- [V] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [V] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-19 12:44] tzickel commented on #7751
Also for "cpp-restsdk" in the topic it didn't seem to put the correct client issue tag.

[2020-10-19 15:46] cgensoul opened #7757 "[OpenAPITools/openapi-generator] [Ocaml] Some types get generated with illegal characters in their names in the file support/Enums.ml"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-10-19 16:28] vorburger opened #7758 "[BUG] [Java] RxJava2CallAdapterFactory should not be used & io.reactivex.Observable / io.reactivex.Completable not imported when useRxJava2: 'false'"
When using `useRxJava2: 'false'`, then the `com.squareup.retrofit2:adapter-rxjava2` dependency (and due to & through it transitively its own dependency `org.reactivestreams:reactive-streams`) are still required - even though they should not be used in the generated code with that configuration.

The reason for that is that the generated `ApiClient` has an `import retrofit2.adapter.rxjava2.RxJava2C

[2020-10-19 20:57] muttleyxd commented on #273
Well, I did open a PR, where you can set the callback through the method

https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/cpp-restbed/api/PetApi.h#L65

but now I see it was a bad idea. A good refactor would be to do it like in Pistache generator (PetApi would be class with virtual methods and user would have to override these in their handler code).

[2020-10-19 21:20] Luiz-Monad opened #7760 "[WIP] Ktorm Schema Support"
I'm adding support for the Schema using Ktorm.

I would like some feedback.

Here's the pull request.
https://github.com/OpenAPITools/openapi-generator/pull/7759

[2020-10-20 01:55] #7591 closed

[2020-10-20 02:47] jimschubert commented on #7535
We already pass `license` to templates. It's up to specific templates to incorporate this.

The license in an OpenAPI document is the API's or Spec's license, not necessarily the license of the generated code. We can't assume such. We do, however, allow for easily extending templates so users can apply something like `{{#license}}{{license}}{{/license}}{{^license}}UKNONWN{{/license}}` if required.

[2020-10-20 03:04] jimschubert commented on #7450
@AndyMedtronic you're likely being bitten by case-sensitivity issues. If you create a directory called `Templates` and you're using aspnetcore 3.0, you'd create `Templates\3.0\controller.mustache`. When you run, you point to `Templates` as you've shown in your example.

We do sometimes have issues with Windows paths. If possible, please try in gitbash or other terminal with Linux style file separa

[2020-10-20 05:30] wing328 commented on #7738
👌

We can consider using https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml to generate the OCaml client and test it in the CI.

[2020-10-20 05:32] #7738 closed

[2020-10-20 05:54] edubudubolo opened #7764 "--package-name in Dart"
I have generated a client for dart and dart-dio, the client is generated very well but when using the option to name the package openapi-generator it does not take it into account. The command used is:

**java -jar openapi-generator-cli-4.3.1.jar generate -i api-docs.json -g dart-dio -o salida --package-name=domis**

a line of code in one of the generated files looks like the following:

**import

[2020-10-20 06:19] wing328 commented on #7764
Please try the latest master instead.

For dart-dio generator, here are the options:
[code]

Seems like `pubName` and `pubLibrary` may meet your requirement.

[2020-10-20 07:09] edubudubolo commented on #7764
Great !! Thank you very much for the help, I have achieved it with the following command.

**java -jar openapi-generator-cli-4.3.1.jar generate -i api-docs.json -g dart-dio -o salida --additional-properties="pubName=counterapi"**

[2020-10-20 08:24] dkarlovi commented on #7535
@jimschubert arguably, the license is one of the most important aspects of the code being generated, [the tool goes as far a claiming authorship (basically, ownership) of the code](https://github.com/flexolabs/reddit-client/blob/25feb73a9df32154d14598c298726c0cb3d017bb/src/ApiException.php#L14). The generator user should be able to apply one, there's at least two things it can do:

1. generate the

[2020-10-20 08:40] twonky4 opened #7765 "[REQ] Asciidoc generator should also convert markdown into asciidoc"
### Is your feature request related to a problem? Please describe.

In openapi you can write rich text in element descriptions with the markdown syntax. See https://swagger.io/docs/specification/2-0/basic-structure/
You I now use the asciidoc generator I get files mixed with asciidoc and markdown.

## Describe the solution you'd like

All markdown rich text should be converted into asciidoc.

## D

[2020-10-20 10:10] sascha-krug commented on #3049
This bug is still a thing with typescript-fetch and openapigenerator 5.0.0-beta2.

My workaround:
added code in runtime.ts:
`export const btoa = b => Buffer.from(b).toString('base64');`

[2020-10-20 11:22] RuTsEST opened #7769 "[REQ] Automatic access token refresh"
Hello!

I'm unable to find the answer to this question from the docs so I'll ask it here.

Does OpenAPI Generator support automatic access token refreshing assuming that all of the necessary YAML fields are filled?

[2020-10-20 12:00] jimschubert commented on #7535
@dkarlovi Again, we already do option 2. It is up to generators to consume the license details, or up to users to extend points where licenses should be applied. I don't understand your reasoning that having an author tag in code authored by our tool/community suggests that we should also output licensing details... those are totally different concepts and not related in any way.

As far as output

[2020-10-20 13:21] dkarlovi commented on #7535
You pass the license from the spec, but you've said

So which is it?

You could always use the [OSI license list](https://opensource.org/licenses/alphabetical) as a starting point, that would likely cover 99% of the cases.

So, the workflows:

## Explicit `--license`
1. I run `generate --license MIT --copyright SomeOrg Inc.`
2. general generator pulls https://opensource.org/licenses/MIT into a tex

[2020-10-20 13:42] toby-murray-snow-software commented on #4673
@wing328 - so far as I can tell, once a bounty is created on Bountysource it may not be modified. Are you able to claim the bounty? Otherwise it seems likes it in limbo (can't be claimed, as the bug is fixed, can't be cancelled).

[2020-10-20 15:25] wing328 commented on #4673
@toby-murray-snow-software I think there should be a way you can cancel it. You may need to contact their CS to do it for you.

[2020-10-20 15:25] rar91279 commented on #2418
Yes, it does IMHO.
Resteasy client library generator for example is already configurable with Gson or Jackson per "serializationLibrary" parameter.
Json-B and Moshi are 2 next libraries would be nice here.
It make sense for my usecase too:
I would like to use OkHTTP client instead of Resteasy

[2020-10-20 15:38] wing328 commented on #7535
As @jimschubert has mentioned, we did that previously but based on feedback from our users, it's not a good idea.

The auto-generated code is unlicensed by default: https://github.com/OpenAPITools/openapi-generator#34---license-information-on-generated-code, which seems to be a proper middle ground for most of our users so far.

Based on the feedback from our users before, OSI license may or may n

[2020-10-20 15:49] dkarlovi commented on #7535
Sure, not a problem, seems like a weird middle ground to me, but that's just my POV.

[2020-10-20 15:49] #7535 closed

[2020-10-20 15:56] dkarlovi commented on #7530
Need to strip out comments mentioning the generator (or its team) as "authors", see: https://github.com/OpenAPITools/openapi-generator#34---license-information-on-generated-code

[2020-10-20 16:09] wing328 commented on #7530
The below is more for growth-hacking to introduce `openapi-generator` to more users.
[code]

Auto-generated code in other languages (e.g. Ruby) also put down "OpenAPI Generator team" as the `author`

[2020-10-20 16:38] dkarlovi commented on #7530
@wing328 understandable, but since the code ships without a license by default, as established in https://github.com/OpenAPITools/openapi-generator/issues/7535 and the generated code claims authorship by the generator team, that's at least something to consider.

The generator can be mentioned without it (or its team) being explicitly called the **authors** of the generated code, those two things

[2020-10-20 19:23] puneetgoyal08 commented on #5451
Hi, I tried using this but I was only able to generate it by selecting library as native, which made me use java version 11. Is there any way i can keep using java 8 and still use the builder pattern?

Thanks!

[2020-10-20 19:48] puneetgoyal08 opened #7772 "Is there any way to use builder pattern with java 8?"
##### Description
I am using this for creating a java library.
my config is as follows
[code]
Sadly the code this generates doesnt have builder pattern for the request objects.
https://github.com/OpenAPITools/openapi-generator/pull/5961 I saw this issue where builder pattern support was added. But it seems to only work when I set library to "native" . However that forces me to use java 11.
Is it p

[2020-10-20 21:17] stephen-mojo opened #7773 "[REQ][Kotlin] Use Moshi codegen instead of reflection for generating JSON adapters"
## Is your feature request related to a problem? Please describe.

Moshi can generate JSON adapters two different ways. The old way used reflection. There is a newer way that avoids reflection and uses code generation instead. Typically, code generation performs better than reflection.

OpenAPI uses the reflection approach when generating Kotlin Moshi code.

## Describe the solution you'd like

Id

[2020-10-20 21:22] #7486 closed

[2020-10-21 05:51] #7764 closed

[2020-10-21 05:51] wing328 commented on #7764
👍

I would still recommend you try the latest master which has quite a few enhancement, bug fixes to the dart generators.

[2020-10-21 06:38] wing328 commented on #5451
@puneetgoyal08  please try the `jersey2` library option.

[2020-10-21 06:38] #5451 closed

[2020-10-21 06:52] kuFEAR commented on #7773
Hi, you can try use "moshiCodeGen : true" option in configuration

[2020-10-21 06:59] wing328 commented on #5690
I tested `resttemplate` in the latest master with [petstore spec](https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/modules/openapi-generator/src/test/resources/3_0/petstore.yaml) and could run `mvn clean package`, `gradle build` without issues.

[2020-10-21 07:33] wing328 commented on #5690
@black-snow I've filed https://github.com/OpenAPITools/openapi-generator/pull/7777 to fix the missing dependency issue in Java `webclient` client

[2020-10-21 07:35] stephen-mojo commented on #7773
@kuFEAR Thank you so much! I didn't know that was an option. That worked perfectly. Closing the issue.

[2020-10-21 08:04] stephen-mojo opened #7778 "[REQ][Gradle Plugin] Load input spec from remote URL rather than local file"
### Is your feature request related to a problem? Please describe.

I have looked through the existing issues and documentation and cannot seem to find any way to specify an input spec to the Gradle plugin as a URL rather than a path to a local file.

## Describe the solution you'd like

It would be great if I could load the input spec from my server rather than having to have the spec as a local

[2020-10-21 08:22] dkarlovi opened #7780 "[REQ] PHP generator to support "repository" param"
### Is your feature request related to a problem? Please describe.

Currently, the `php` package does all sorts of things;
- generates `autoload.php` and suggests [Manual installation](https://github.com/flexolabs/reddit-client#manual-installation)
- suggests [adding the repository into your `composer.json`](https://github.com/flexolabs/reddit-client#composer)

This is unnecessary if your package

[2020-10-21 08:28] wing328 commented on #7778
Did you try putting an URL in `inputSpec`? What error(s) did you get?

[2020-10-21 09:35] stephen-mojo commented on #7778
@wing328 I just tried a URL again. This time it worked. I could have sworn I did it exactly the same way earlier today and was getting errors. Weird. Anyways, thanks for your help! Closing this issue.

[2020-10-21 09:35] #7778 closed

[2020-10-21 09:41] stephen-mojo commented on #7773
I am re-opening this. It seems I celebrated too soon. While adding this to my config does in fact generate the models in the way that I want, I now face a new error. When I build, I get the following error in my Android Studio project.

[code]

[2020-10-21 09:45] stephen-mojo commented on #7773
And closing again. Sorry about the back and forth! Once again, I spoke before thinking hard enough.

My issue was that I had the following dependency...
`implementation "com.squareup.moshi:moshi-kotlin-codegen:$moshi_version"
`
..when I should have had this:
`kapt "com.squareup.moshi:moshi-kotlin-codegen:$moshi_version"

Thanks again for your help!
`

[2020-10-21 09:45] #7773 closed

[2020-10-21 09:50] keymone opened #7781 "[REQ] Change Python models to not raise exception when unset attribute is accessed"
Python models raise exception when accessing an attribute that wasn't set. This leads to very defensive coding style that relies heavily on exceptions for control-flow, which is generally accepted to be bad practice. Until recently it wasn't possible to even check if an attribute is set without accessing internal fields of the model, leading to code like this:

    # intended code:
    if model.at

[2020-10-21 11:27] antonio-petricca opened #7782 "JAXB does not unmarshal pojo body field declared as LocalDate/LocalDateTime"
Hi I am using **Open API Generator version 4.3.1**.

**I got null field values for POJOs which contain fields declared as _LocateDate_ or _LocalDateTime_.**

First of all: iIf I use the above types for path/query/header parameters, t works as expected. The issues occurs only with POJOs.

Here some code to better investigate my issue.

**OpenAPI generator maven setup**

[code]

**OpenAPI yaml examp

[2020-10-21 12:12] odidev opened #7783 "Require docker image for ARM64"
Hi Team,

I am checking on adding arm64 support in Travis-CI for the Open Service Broker API package. But I was facing an issue in pulling openapitools/openapi-generator-cli image for arm64 as it is not available in the docker hub. So I tried to build an openapi-generator image locally on arm64 machine and found that 3.6.3-jdk-11-openj9 image is not available for arm64. So I replaced this image wi

[2020-10-21 13:31] antonio-petricca commented on #7782
In order to find a solution I defined a JAXB adapter:

[code]

Then I modified the **pojo.mustache** by prepend field with `@XmlJavaTypeAdapter(LocalDateTimeAdapter.class)`:

[code]

[2020-10-21 13:55] srknkbs commented on #5959
I also had the same problem.

The issue is openapi-generator uses `okhttp-gson` client library by default and the `ApiClient.mustache` template of this library does not have `setBearerToken` method.

So, I have to fetch `HttpBearerAuth` instance from ApiClient and set the bearer token there.

[code]

IMHO this is a workaround and it would be better to have `setBearerToken` method in all `ApiClient

[2020-10-21 14:53] antonio-petricca commented on #7782
Issue solved by modifying **pojo.mustache**:

[code]

[2020-10-21 14:53] #7782 closed

[2020-10-21 15:39] spacether commented on #7781
Such a feature would be merged. I have a very strong preference that it be implemented with a get method like dictionaries do

[2020-10-21 19:21] vorburger commented on #7740
I'm not sure if this really is a bug in the code generator per se, or something wrong in our use / integration of OpenAPI tools in our project (I'm a little bit fuzzy on the exact lines between `openapi-generator` and how the OpenAPI YAML gets generated from annotations such as `io.swagger.v3.oas.annotations.Parameter`, but the TL;DR is that this JAX RS server operation:

[code]

get code generate

[2020-10-21 20:20] paulrizzo opened #7787 "[REQ] Expose option to provide default value for useQuerystring in the typescript-node generator"
### Overview

Currently the `typescript-node` generator creates API clients with the value of `useQuerystring` set to `false`. The problem is around how array query params are handled which is documented here: https://github.com/request/request#requestoptions-callback.
Depending on how the server is handing array query params may result in different usages of the generated API client.

For example

[2020-10-22 03:17] wing328 commented on #7756
@tzickel thanks for reporting the issue. Can you please PM me via Slack (https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM) when you've time?

[2020-10-22 06:25] wing328 commented on #7783
@odidev yes, please open a PR and we'll review.

[2020-10-22 06:37] wing328 commented on #7769
My suggestion is to inspect the auto-generated code as the generators have different levels of support for OAuth authentication.

[2020-10-22 07:35] #7757 closed

[2020-10-22 08:28] f18m commented on #273
yeah I totally agree - virtual methods look like a better way to make the code extensible rather than callbacks attached to the restbed callbacks... that double layer of callbacks also makes debugging less clear

[2020-10-22 09:43] xprt64 commented on #7753
This behavior can be acquired entirely using custom templates but it would be nice to have it included by default.

[2020-10-22 12:19] deluxetom opened #7788 "[BUG][PHP] Code unreachable for responses other than 2xx and bad return types"
##### Description

The generated PHP code (`case 400:`) is unreachable when a response with HTTP code 400 is defined. It adds that return type to the PHPdoc but it's never returned as the RequestException is caught for anything different than a 2xx.
Tools like Psalm will expect a return type that will never be returned.

[code]

##### openapi-generator version

v5.0.0-beta2

##### OpenAPI declarat

[2020-10-22 13:09] smesko85 commented on #5853
Maybe related...

Using a `typescript-axios` generator on a parameter named `query` is generating duplicate identifier. ATM I don't know any workarounds.

[2020-10-22 16:05] tomaszwozniak8 commented on #144
I'm also curious about updates on this.

[2020-10-22 20:00] mahirk opened #7790 "[BUG] [Typescript-Node] Import mappings does not allow multiple imports from the same package"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu