[2018-10-15 21:09] Place1 commented on #802
After my fork is merged in I’ll be very keen to throw myself and time at this work. My company has run into many issues with the ng clients and node clients so I’m very motivated to help unify the generators.

[2018-10-15 22:30] brianwaters3 opened #1251 "[cpp-pistache-server] newItem.fromJson() always called even when type is std::string"
##### Description

The fromJson method defined via **model-source.mustache** declares newItem to be of type items.datatype.  When processing an array of stings this results in generating declaring newItem as std::string and subsequently attempting to execute the fromJson() method which is undefined.  In this case, here is a snippet of the generated code for UePerLocationReport::fromJson(nlohmann:j

[2018-10-16 01:54] wing328 commented on #1246
cc @jebentier (2017/07) @dkarlovi (2017/07) @mandrean (2017/08) @jfastnacht (2017/09) @ackintosh (2017/09) @ybelenko (2018/07)

[2018-10-16 07:40] rubms commented on #1126
Fixed with the merge of #1127 to master. Thanks @jimschubert  and @wing328 !

[2018-10-16 07:40] #1126 closed

[2018-10-16 07:44] rubms commented on #1088
Fixed, as #1089 has been merged into master. Thanks @jimschubert !

[2018-10-16 07:44] #1088 closed

[2018-10-16 10:56] smasala opened #1253 "Inconsistent filenames in Typescript"
##### Description

When using the argument `fileNaming=kebab-case`, the names in the api services are inconsistent with the actual filenames.

Api: `MySetType1Type2 -> my_set_type1_type2`
Filename: `mysettype1_type2`

##### openapi-generator version

3.3.1

##### Steps to reproduce

Declarations which include special characters (https://github.com/OpenAPITools/openapi-generator/issues/1137) and ge

[2018-10-17 01:27] jimschubert commented on #411
Revisiting this as requested recently.

*The issue we're seeing is caused by:*

* Travis using different IP addresses for one or more subsequent requests to Sonatype (see travis-ci/travis-ci#9555 which was closed without a fix)
* Sonatype automatically creating a new staging repository for a new unique IP address, then reusing that staging repository for that IP address; I'm guessing they recycle

[2018-10-17 05:29] lspvic opened #1255 "A primitive type schema with enum values in top-level components shemas will generate a complex data type model"
##### Description
In the next example, `Color` will generate a model class file while `WeekDay` and `Month` won't.
In my python case, the generated `Color` class is actually an `BaseModel` object class and lead to code failure.
[code]

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Relat

[2018-10-17 13:28] wing328 opened #1257 "[4.0.x] Clojure petstore failed to build"
##### Description

Clojure Petstore failed to build (probably due to mistakes in merging conflicts).

##### openapi-generator version

4.0.x

##### Suggest a fix/enhancement

cc @f-f

[2018-10-17 15:46] TiFu commented on #802
@Place1 Thanks! Let me know when you are ready/have time to look into it and I will give you a quick overview over the code base - you can already find it on the `typescript-refactor` branch. The name of the new generator is `typescript`

I have finished a basic prototype for ts-fetch today (still has a ton of todos/bugs/only basic features, but it outlines the direction I want to take for the oth

[2018-10-17 16:55] ackintosh commented on #1246
There are worthwhile challenges ✨:

- Replace deprecated stuffs
- Apply new features
- Update dependencies

[PHP: Migrating from PHP 5.6.x to PHP 7.0.x - Manual](http://php.net/manual/en/migration70.php)

[2018-10-17 17:52] ryanfox opened #1260 "[Python] boolean query parameter capitalization"
(Copy of https://github.com/swagger-api/swagger-codegen/issues/8433)

#### Description

The generated python client translates boolean query parameters in Python case - i.e. "True"/"False" rather than "true"/"false".

I am dealing with a case-sensitive API endpoint, which expects a boolean query parameter, and treats anything except "0" and "false" as true - including "False" evaluating to true.

[2018-10-17 20:45] nvierge opened #1261 "[Java] useNullForUnknownEnumValue"
##### Description

The option useNullForUnknownEnumValue exists but does not appear when using config-help to list config options. I find an example that use this option and the syntax is not standard:
--additional-properties useNullForUnknownEnumValue=true

Is it a voluntary choice ?

##### openapi-generator version

3.3.1

##### Related issues/PRs

PR #633

##### Suggest a fix/enhancement

Add t

[2018-10-17 20:56] ybelenko commented on #1246
I'm working on PHP Slim refactoring descripted in #426. In short it's separating generated stubs from user implementation. I'm quite sure that it will be breaking changes without fallback, so maybe we should include both migration to 7.0.x and interfaces/implementation refactoring to the next release?

@ackintosh @wing328 Does it sounds right to you?

[2018-10-17 21:55] Jackyslaw commented on #1171
Can i help you with it ?
I have the same problem i will try to fix it

[2018-10-18 14:06] pcoltau commented on #1113
I have the same problem.

And in addition, I'm not sure setting the value of the `discriminatorName` field to the class name is a good idea, as it will override the actual value, which might be something other than the class name (if a discriminator mapping has been used).

[2018-10-18 14:18] yringler opened #1266 "openapi-generator-cli attempting to parse json as yaml"
##### Description
The cli is parsing JSON as yaml, and of course failing.

##### openapi-generator version
3.3.1

##### OpenAPI declaration file content or url
https://gist.github.com/yringler/700aaa11f4155ddc6644a43ca6ca5de1

##### Command line used for generation

java -jar openapi-generator-cli-3.3.1.jar generate -i "virtual-path.openapi.json" -g cwiki

Java version:
java version "1.8.0_171"
Ja

[2018-10-18 14:45] wheezil commented on #1113
In my custom C++ generator, I have added a "discriminator" argument to the constructor of every model class, which defaults to the class name if unspecified.  This allows for derived classes to hand THEIR class name down to superclass, at that produces the right default during construction.  You don't need to worry about this overriding the actual value, because this is set during deserialization

[2018-10-18 14:52] CyrilleBenard commented on #537
Fixed at least with current master 3.3.2-SNAPSHOT but I did not notice the exact version that has fixed this issue.
The anyOf is still not well handled but the generated code compile.

[2018-10-18 15:43] wheezil opened #1267 "Enhancement: support isModel variable property"
##### Description

It would be very handy, and more readable, to have an `isModel` property that can be used in mustache templates.  This would be set to true for variables which are references to model schemas. While one can currently use `{{^isPrimitive}}` that is kind of confusing, and breaks if for example one must remap a type (e.g. DateTime or String) to a non-built-in type.

##### openapi-g

[2018-10-18 21:37] cbornet commented on #1250
Also I don't think it should be mixed with `useOptional` since `useOptional` is a completely flawed option : you should not put Optional in method arguments.

[2018-10-18 21:44] cbornet commented on #1250
What does Optional give when serializing ?

[2018-10-19 04:54] atomfrede commented on #1250
Agree more fine grained configuration via x- is a good idea. When using Jackson with the java8 module an empty optional will be serialized as null by default so still not what we need. Maybe we need to handle that for the Patch Part manually

[2018-10-19 06:44] wing328 commented on #1266
@yringler what about using the URL instead of opening a local file? e.g.
[code]
That works for me without error.

[2018-10-19 06:45] wing328 commented on #1261
@nvierge thanks for the question. We've added better nullable support to the openapi generator (core). Can you try the following PR instead that leverages the `nullable` attribute defined in the spec?

https://github.com/OpenAPITools/openapi-generator/pull/1117

[2018-10-19 06:50] wing328 commented on #1260
@ryanfox one workaround is to document the query parameter as a string instead of boolean and users will need to input either "true" or "false"

Another way is to use customized templates with the `-t` option and add logic to normalize the values inside the following mustache tag:
[code]

[2018-10-19 06:52] wing328 commented on #1253
@smasala do you mind sharing a spec to reproduce the issue more easily?

cc @TiFu (2017/07) @taxpon (2017/07) @sebastianhaas (2017/07) @kenisteward (2017/07) @Vrolijkx (2017/09) @macjohnny (2018/01) @nicokoenig (2018/09)
--

[2018-10-19 06:55] wing328 commented on #1251
@brianwaters3 thanks for reporting the issue.

What does the correct code look like?

cc @ravinikam (2017/07) @stkrwork (2017/07) @fvarose (2017/11) @etherealjoy (2018/02) @martindelille (2018/03)

[2018-10-19 07:00] wing328 commented on #1226
@jbumueller is it correct to say that the defaultValue must be a string? In other words, the following is still incorrect:
[code]

[2018-10-19 07:37] jbumueller commented on #1226
Well the default value can be a String but it must be parsable for `parseInt`/`parseLong` that is if it contains only digits. Therefore 10l is still wrong but 10 would be correct as it can be parsed by `Long.parseLong(10)`.

[2018-10-19 08:28] wing328 commented on #1216
@delenius I've filed https://github.com/OpenAPITools/openapi-generator/pull/1270 to fix the issue. Can you give it a try when you've time? Thanks.

[2018-10-19 08:46] MartinDelille commented on #1251
@brianwaters3 Publishing the code on a gist or a github repository would make the analysis easier.

[2018-10-19 08:53] etherealjoy commented on #1251
This issue is known.
map/array support is lacking very much in most of the clients and server, especially nested maps/arrays.
However I have been able to get good nested map/array support only on `cpp-qt-client` and `cpp-qt5-qhhtengine-server` for now.
`cpp-pistache-server` also is also improving.

[2018-10-19 09:33] toXel opened #1271 "[BUG][KOTLIN] No JsonAdapter for LocalDateTime in Moshi serializer"
##### Description

`date-time` fields can't be parsed from a generated Kotlin client with default configuration. It fails with this exception:
`java.lang.IllegalArgumentException: Platform class java.time.LocalDateTime annotated [] requires explicit JsonAdapter to be registered`

The reason for it is that in [Serializer.kt.mustache](https://github.com/OpenAPITools/openapi-generator/blob/master/mod

[2018-10-19 11:48] LudoMon opened #1272 "[PHP-Symfony] Wrong type hint in model setter"
##### Description
I use the php-symfony generator to generate some models.
One of them has an array property, that contains objects

When I generate the model, the generated setter has the wrong typehint:
[code]
The method expects an array of objects, the generated PhpDoc is right but not the type hint

##### openapi-generator version
3.3.2-SNAPSHOT

##### OpenAPI declaration file content or url
[

[2018-10-19 12:44] CyrilleBenard opened #1273 "[C++][Pistache-server] Array of string does not compile whereas Array of object of string does"
##### Description

The generator fails in case the openapi file describes an Array of Strings whereas, if I insert a stair of object between Array and String, the generated code is correct.

The compilation error looks like :

[code]

It is a well known error already fixed in some others conditions. See suggest below.

NOTE1: As previously wrote, if I insert a stair between Array and String, the s

[2018-10-19 12:56] etherealjoy commented on #1273
@CyrilleBenard
I will close this as a duplicate of #1251

[2018-10-19 13:03] CyrilleBenard commented on #773
Good surprise for me today : This bug has already been fixed at least since the current 3.3.2-SNAPSHOT branch. I did not notice from which release it has been fixed but it has.

[2018-10-19 13:03] #773 closed

[2018-10-19 14:46] CyrilleBenard commented on #1273
Oh *oops* sorry for the duplicated. Ok for me

[2018-10-19 14:48] etherealjoy commented on #1273
Duplicate of #1251

[2018-10-19 14:48] #1273 closed

[2018-10-19 15:17] ndjensen commented on #881
I think you need to update the mustache template.  https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/htmlDocs2/index.mustache

[2018-10-19 18:06] ndjensen opened #1276 "[html] bug in default infoUrl"
##### Description
The default URL in the html generator is incorrect.  The default address is `https//openapi-generator.tech`.  It is missing a colon.  https://github.com/OpenAPITools/openapi-generator/blob/v3.3.1/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtmlGenerator.java#L72

##### openapi-generator version
3.3.1

##### OpenAPI declaration file content or

[2018-10-19 19:28] ndjensen opened #1277 "[cwiki] Models section does not output all fields correctly"
##### Description
If you use the cwiki generator, there are two problems in the Models table at the bottom of the generated Confluence wiki markup.  First, the required column is not checked when `required: true`.  Second, the description is not filled in when referencing another component such as `$ref: "/#components/schemas/Error"`

##### openapi-generator version
Version 3.3.1.

##### OpenAPI d

[2018-10-19 19:43] ndjensen opened #1278 "NullPointerException with command line interface and command help"
##### Description
If you run the command line generator with one option of help, it throws a NullPointerException when it can't find the second option.
`java -jar openapi-generator-cli.jar help`
Ideally it would return a list of options that help will work with, such as generate.  (I have no idea what other options you can provide the help command, hence a list would be nice).

[code]

##### opena

[2018-10-20 03:44] ackintosh commented on #1278
Thanks for reporting the issue! I'm working on this.

[2018-10-20 07:06] #1278 closed

[2018-10-20 07:07] wing328 commented on #1278
Thanks for the quick fix by @ackintosh

@ndjensen please give it another try using SNAPSHOT version or docker images and let us know if you still encounter the issue.

[2018-10-20 11:50] #548 closed

[2018-10-20 11:50] #1168 closed

[2018-10-20 11:52] #1163 closed

[2018-10-20 11:52] #1174 closed

[2018-10-20 15:53] wing328 commented on #1276
@ndjensen thanks for reporting the issue. May I know if you've time to contribute a fix?

[2018-10-20 17:33] wing328 commented on #590
@pecigonzalo I've filed https://github.com/OpenAPITools/openapi-generator/pull/1280 to add better `servers` support to the Ruby API client. Please review and let me know if you've any question.

We can use a similar approach in the Python API client. Thanks for offering help to add better "servers" support in other generators.

[2018-10-21 09:02] etherealjoy commented on #1251
@wing328
After debugging the topic, it seems indeed the mustache files are correct in this regard.

It seems to me there is a regression somewhere that Array members don't have the type updated properly anymore.
I checked the `postProcessOperationsWithModels` and this `std::string` does not have `isString` set to true.
so in the mustache `{{^items.isString}}` is passing and generating wrong code.

[2018-10-21 09:59] aufziehvogel opened #1281 "[erlang-server] Usage instructions for using erlang-server stubs missing"
Disclaimer: I was told by William Cheng to [cross-post](https://stackoverflow.com/questions/52905387/how-to-use-the-erlang-server-stubs-from-openapi-generator) this here. This is not a real bug report, but probably a request for documentation or clarification.

##### Description

I am currently trying to develop a REST API using Erlang. I used OpenAPI (Swagger) to define the API and wanted to use

[2018-10-21 22:40] twosigmajab commented on #1110
I think the fix for this issue is small and simple. Is there interest in fixing it?

[2018-10-22 11:14] andrehaveman commented on #1253
I have a similar issue with camelCase:

`MySet[Type1]`  in spec file becomes:
`mySet_Type1.ts`

but import in api service is:

`import { MySetType1 } from '../model/mySetType1';`

I used 3.3.1 with typescript-angular generator.

[2018-10-22 18:54] ndjensen commented on #1278
Tested and confirmed it's fixed.

[2018-10-22 19:09] grokify opened #1287 "[Golang][client] client.decode error is not handled"
##### Description

When StatusCode < 300,  `a.client.decode` returns an error but it is not handled in the code which returns a `nil` error. There is a comment that mentions some kind of handling that is necessary but the handling doesn't exist.

https://github.com/OpenAPITools/openapi-generator/blob/8507916d569a8614286708d45a3cbae20e4da6f2/modules/openapi-generator/src/main/resources/go/api.musta

[2018-10-22 20:54] ryanfox commented on #1260
Thanks for the info. That's not going to work for the use case I am working with - what do you think the chances are of implementing a fix?

In any case, good to know there is a workaround.

[2018-10-22 20:56] curcas opened #1290 "[elm] Add possibility to override basePath"
##### Description

Generating the client for elm takes the current url as the basePath and gives no possibility to override it.

This is absolutely OK when an external API is used. But generating the client for a project which is shipped together with the API has always localhost in it. This should be customizable with the current URL under which the project is served.

##### openapi-generator ver

[2018-10-22 22:05] cbornet commented on #1250
So here are my thoughts:
* Optional in Jackson has a behavior that allows to distinguish between "null" value and "not present"
* java.util's Optional is not serializable (Guava's is), is not available for jdk<8 and shouldn't be used in POJO fields or parameters.
* Also an Optional should never be null
* Optional in itself doesn't carry the meaning we want : it says the value can be present or abs

[2018-10-23 00:41] InfoSec812 commented on #1150
As a workaround, you can add the following webpack config:

[code]

[2018-10-23 02:21] grokify opened #1292 "[CI] Test server generates invalid RFC 3339 date-time"
##### Description

The following error is encountered when running tests for the client:

https://circleci.com/gh/grokify/openapi-generator/91#tests/containers/1

[code]

Of note, the `date-time` value that parsing is being attempted for has an offset that is invalid in RFC 3339 format, namely, the UTC offset is `+0000` and does not have a colon (`:`) which is required by RFC 3339.

The Petstore O

[2018-10-23 06:49] atomfrede commented on #1250
Looks good I think. How would you model the `PresenceAware` in the api? Per x parameter at the model value (as it is quite special)

[2018-10-23 07:54] cbornet commented on #1250
It corresponds to the `nullable`/`x-nullable` option which was defined for this exact use-case.

[2018-10-23 08:51] #1201 closed

[2018-10-23 08:58] #1140 closed

[2018-10-23 10:04] grokify commented on #1292
I just verified this with the following command:

`$ curl -XPOST 'http://petstore.swagger.io:80/v2/store/order' -H 'Content-Type: application/json' -d '{"shipDate":"2018-11-01T00:00:00Z","status":"placed"}'`
Which returns:

`{"id":0,"petId":0,"quantity":0,"shipDate":"2018-11-01T00:00:00.000+0000","status":"placed","complete":false}`

[2018-10-23 12:39] CyrilleBenard commented on #1251
Also interested in a fix
(post to follow this issue :) )

[2018-10-23 13:36] CyrilleBenard opened #1298 "[C++][Pistache-server] Object in a query generates code that do not compile"
##### Description

If a query owns an object in a parameter, the generator makes code that do not compile. It seems that the corresponding method is not generated.

The compilation error looks like :

[code]

##### openapi-generator version

Current master : 3.3.2-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Generate :
[code]

Compile :
[

[2018-10-23 13:42] etherealjoy commented on #1298
@CyrilleBenard
How do you pass Object in Query?

[2018-10-23 14:04] wheezil opened #1299 "Default value for date and date-time fields has no effect"
##### Description

An OpenAPI specification containing default values for date or date-time fields will have no effect on the generated code.

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

It doesn't really matter what generator is used.
[code]

##### Steps to reproduce

Simple test:

- Run the generator comma

[2018-10-23 15:58] #1204 closed

[2018-10-23 17:45] wing328 commented on #1110
Please file a PR so that we can review the fix more easily.

[2018-10-23 19:44] mmunz-nextdoor opened #1302 "[Python] Support for package hierarchy"
##### Description

I am trying to generate a service client for a project that uses a particular package hierarchy by convention. I have tried the following but am yet to generate a client that I can successfully import, due to mis-matching/incorrect import statements, and files that are placed in the wrong folders.

For example #1 (below) I get code like `import api` where `import foo.bar.baz.api

[2018-10-24 03:50] #1276 closed

[2018-10-24 07:50] renepardon commented on #570
Hi!

I'd like to start a new project with documentation of type OAS3.0.0 first and then generate the GraphQL Server and possibly client out of it. I think I will work with next.js and apollo.

So what's the current state here? How can I help to get this finished? @wing328

[2018-10-24 08:29] renepardon commented on #570
Hi @wing328

not yet - can't get the current master building the whole stuff... Maybe it fails because of my JAVA-version? I would also start with a GraphQL server (based on express for simplicity)

[code]

[2018-10-24 08:39] renepardon commented on #570
At first glance the output looks good.

[2018-10-24 08:41] wing328 commented on #570
Let me merge the master into this branch so that you can build it with JDK10. Stay tuned.

[2018-10-24 08:43] renepardon commented on #570
It looks like the branch is already up to date but my problem was that I'm also not able to build the master branch.

[2018-10-24 08:43] wing328 commented on #570
Can you ping me via https://gitter.im (ID:wing328) so that I can help you resolve the build issue?

[2018-10-24 09:19] feihongmeilian opened #1305 "Upgrade the erlang-server dependency from cowboy1.x to cowboy2.x"
Now we are upgrading the erlang-server code generated by openapi-generator from the dependency on cowboy1.x to cowboy2.x.

Simple case has been verified, but I look forward to more in line with the way cowboy.rest advocates, so I need some time to understand the mode of cowboy.rest .  Of course,I also need to completed the ticket from my company.

So it is estimated that the first PR will be 2018.

[2018-10-24 09:39] wing328 commented on #1305
@feihongmeilian thank you. Look forward to your contributions.

[2018-10-24 10:34] renepardon commented on #570
I would create a separate generator as „server generator“ and name it **graphql-express-server** which will output the **types**, **queries**, **mutations** and also the **resolvers**.

For the _resolvers_ we may also adjust/use a custom field within the path definitions of the OAS config because my intention is to add a „microservice URI“ for each path so the resolver knows where to fetch the dat

[2018-10-24 10:38] wing328 opened #1307 "Python tests failed in Travis CI"
##### Description

Python tests failed in Travis CI with the following error message:
[code]

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

It was working fine before and likely there's a overnight change wth a newer version of `flake8`

[2018-10-24 13:55] CyrilleBenard commented on #1298
It seems that it is already done for **jaxrs-resteasy** generator, for example. I mean the generated code does not fail with my example shown.

The spec says that we have to use **content** (application/json) for complex parameter in the query, so that we may understand that nested objects may not be defined outside this rule (?)

By default, could you make a fix to, at least, consider a simple ca

[2018-10-24 14:00] jrobison153 opened #1309 "Allow generation of reactive APIs w/o wrapping Mono<ResponseEntity>"
##### Description
We've been looking at the generated Spring Web Reactive interfaces and the response type wrappings seem superfluous, this is using version openapi-generator:3.3.1. For an API that returns a collection of type T, we get a Java interface with the following response signature

Mono<ResponseEntity<Flux<T>>>

From all of our testing this behaves identically to Flux<Foo> from a reactiv

[2018-10-24 15:41] mxinden commented on #1140
Thanks for the work on this @trenneman @wing328!

I have tested out the latest docker image and current master (196f1228e56e9ba8688a060b8e81cdf307a6bc47).

The generated file now properly imports `Dict`, but still produces an invalid elm file:

[code]

Am I running off of the wrong version?

[2018-10-24 16:01] twosigmajab commented on #1110
Not sure if/when I'll have a chance to do this. If someone wants to beat me to it, here is an example from when Connexion (the library you're using for Python server support) made this same improvement over 3 years ago:
https://github.com/zalando/connexion/commit/b77a5c7145d1f0278f3984c4a346bca1ceb60774

So for example, instead of doing `from {{packageName}} import util` in places like [this](http

[2018-10-24 16:06] CyrilleBenard commented on #1298
I want to add that it is not specific to an object inside a query but to the use of a model. For example, if I set this schema :

[code]

And replace the use of
[code]
by
[code]

The same kind of code is generated :
[code]
_fromStringValue_ is called with its second argument of type _PresenceState2_ that is unknown for it :/

[2018-10-24 16:11] etherealjoy commented on #1298
@CyrilleBenard
Yes, a model is basically a json object. For now like in OAS2, pistache supports only basic query parameters i.e. primitives.
.

[2018-10-24 16:18] demonfiddler commented on #1150
@macjohnny I've just been looking at the samples. I can see that there are various profiles to include the samples in the build (and thus run their tests) but I couldn't find any automated means of regenerating their content - which presumably is a prerequisite for a generator regression test. How does this work?

[2018-10-24 17:42] mmunz-nextdoor commented on #1302
[This](https://github.com/OpenAPITools/openapi-generator/issues/1110) sounds like a related, if not the same, issue.

[2018-10-24 18:42] yringler commented on #1266
Strange.
When I use the gist, it works , and when I use my local file, it throws a yaml error (that tabs are invalid).
Can you confirm that it works for you using a local file, using a command such as I posted previously?
( I also tried specifying the full local path, but that didn't work either.)

[2018-10-24 20:19] Kiran-Sivakumar commented on #1217
Another solution would be to adopt an approach similar to the one used in the AWS and Splunk SDKs.

[code]

This may be preferred over my first proposal.

[2018-10-24 23:15] macjohnny commented on #1150
@demonfiddler you can add the sample generation script to the „ensure-samples-uptodate“ script which is automatically run in CI and ensures that the samples are up to date by re-generating the samples and checking the git status.

See e.g. https://github.com/OpenAPITools/openapi-generator/pull/444

[2018-10-25 04:51] wing328 commented on #1307
Shall we fix it with the suggestion in https://lintlyci.github.io/Flake8Rules/rules/W605.html? e.g.
[code]

cc @taxpon (2017/07) @frol (2017/07) @mbohlool (2017/07) @cbornet (2017/09) @kenjones-cisco (2017/11) @tomplus (2018/10)

[2018-10-25 05:02] kenjones-cisco commented on #1307
Sounds like a good idea to me.

[2018-10-25 05:02] wing328 commented on #1307
or we can do the following to ignore the issue for the time being:
[code]

[2018-10-25 05:05] wing328 commented on #1140
@mxinden you can use `.openapi-generator-ignore` to skip `LabelSet` file from being generated for the time being or you can revise the definition like the following to workaround the issue:
[code]

[2018-10-25 07:46] CyrilleBenard commented on #1298
May be I missed something (?) but why do you say it is a Pistache limitation ? Except the call to _Pistache::Some(value);_ (we could avoid), the serialization is non dependent of Pistache. The serialization may be some successive calls to _fromStringValue_ for each query parameter and the result would be set to each Model member variable, isn't it ?
This is a simple view, I must admit, but it's ju

[2018-10-25 09:28] kester-tt opened #1311 "Spring code generator support for useRuntimeException flag"
##### Description

ApiException.java generation does not take in account useRuntimeException flag.
Embedded swagger code generator files are affected.

##### Steps to reproduce

Regular `mvn clean generate-sources`

*Expected result:*
```public class ApiException extends RuntimeException {...}```

*Actual result:*
```public class ApiException extends Exception {...}```

##### Related issues/PRs
Du

[2018-10-25 10:09] guidoschreuder opened #1312 "[JAVA] incorrect import mapping of DateTime"
##### Description

Generation of java components fails when joda is not used due to incorrect mapping of imports

##### openapi-generator version

3.3.2-SNAPSHOT

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation

##### Steps to reproduce

Generate with any Java generator with dateLibrary other then joda

##### Related issues/PRs

##### Suggest a fix/enha

[2018-10-25 10:09] smasala commented on #1253
https://github.com/OpenAPITools/openapi-generator/blob/eb4dfe0fc1362f82d91d8371e7493dc4e1195d24/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L383

How is this formatted / generated? In reference to https://github.com/OpenAPITools/openapi-generator/issues/1137 the `special` characters are already removed at this point. This is incons

[2018-10-25 11:02] cbornet commented on #1309
In that case, that should be done for both reactive and non-reactive.
In non-reactive you also have the possibility to add headers by injecting the request-scoped `NativeWebRequest`.

[2018-10-25 11:08] cbornet commented on #1312
The type `DateTime` is mapped to another type (eg. `OffsetDateTime`) so I don't see why we need an import for `DateTime`. Do you have a failing example ?

[2018-10-25 11:10] cbornet commented on #1312
The samples look good to me : https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/Order.java
OffsetDateTime is used as type for date-time and the import is there.

[2018-10-25 11:36] guidoschreuder commented on #1312
with this pom

[code]

and this specification:

[code]
the generated model has this import section
[code]

[2018-10-25 11:39] guidoschreuder commented on #1312
the same happens for instance with jaxrs-spec generator

[2018-10-25 11:40] cbornet commented on #1311
I'm against adding yet another flag.
I think we should just remove this class from generation:
* it's not used by the other code that we generate. So it might just end as dead code.
* Spring already has a `ResponseStatusException` that does exactly that and is a RuntimeException
* Generating a checked exception was a smell from the beginning. In Spring, for controllers, it's better to throw runtim

[2018-10-25 11:47] cbornet commented on #1312
Strange : it doesn't seem to affect the samples https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/Order.java#L23 ...

[2018-10-25 12:11] CyrilleBenard commented on #1163
Indeed, fixed

[2018-10-25 12:14] kester-tt commented on #1311
@cbornet fully agree, was confused by the code and templates from swagger project. Closing the issue. Thanks.

[2018-10-25 12:14] CyrilleBenard commented on #1174
Agree, it is fixed :+1:

[2018-10-25 12:19] #1311 closed

[2018-10-25 12:21] guidoschreuder commented on #1312
strange indeed, but this is blocking

[2018-10-25 12:45] bilak commented on #1155
I have the same problem in my project. Unfortunatelly I can't provide the code. But if I can help somehow with debug let me know.

[2018-10-25 13:09] bilak commented on #1155
In my case I have multiple responses (200, 401, ...) where 200 is local like `'#/components/...'` but other are included from other file like `'../common.yaml#/components/...'`. When I removed all those responses which are included from another file everything was generated.

[2018-10-25 13:13] cbornet commented on #1311
@kester-tt would you do a PR to remove `ApiException` ?

[2018-10-25 13:15] cbornet commented on #1312
What I find surprising is that you get `joda` and not `threetenbp` which is the default. Also from what I see in the code, specifying `java8` for webclient shouldn't be necessary. What does it give if you remove ```<dateLibrary>java8</dateLibrary>```

[2018-10-25 13:19] kester-tt commented on #1311
@cbornet yes, will check it

[2018-10-25 13:31] guidoschreuder commented on #1312
i was thinking along the same path, but have not found where the remapping should happen or why it fails, the codebase is rather new to me

[2018-10-25 13:40] cbornet commented on #1312
BTW you can remove interfaceOnly as it's not a java client option. And also java8 as Webclient sets java8 by default.

[2018-10-25 13:47] guidoschreuder commented on #1312
ok , that's good.

I had already remove java8 before, the `interfaceOnly` was indeed a heritage of trying with another generator.

With `interfaceOnly` removed i still get
[code]

[2018-10-25 14:16] bilak commented on #1155
Ok so problem is with response like this:

[code]

is it valid?

[2018-10-25 14:31] cbornet commented on #1312
@guidoschreuder you can workaround the second issue by forcing dateLibrary=java8

[2018-10-25 14:34] guidoschreuder commented on #1312
i totally missed that issue in the specification, good catch

[2018-10-25 14:38] guidoschreuder commented on #1312
i've close the PR

[2018-10-25 14:40] CaptEmulation commented on #1133
Not sure that any clients support it.  Looking at https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L3034-L3087 there does not seem to be any `bearer` support

[2018-10-25 15:13] wheezil opened #1315 "Enhancement: Set isFreeFormObject property"
##### Description

A free-form object field in a model can be hard to distinguish from other types in the mustache template.  Making this an explicit property would be helpful

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

This does not seem to be specific to any generator, although different generators deal w

[2018-10-25 15:17] cbornet commented on #1312
About the spec validation, the issue is also present with the CLI.

[2018-10-25 16:00] brianwaters3 opened #1316 "[cpp-restsdk] Enumerations not generated"
##### Description

Currently the enumeration definition below generates a class with no members.  The attached file archive.zip contains a complete definition (with several enumerations) that demonstrate this problem.

[Archive.zip](https://github.com/OpenAPITools/openapi-generator/files/2515809/Archive.zip)

##### openapi-generator version

v 3.3.0

##### OpenAPI declaration file content or url

[2018-10-25 16:13] brianwaters3 opened #1317 "[cpp-pistache-server] Enumerations not generated"
##### Description

Currently the enumeration definition below generates a class with no members.  The attached file archive.zip contains a complete definition (with several enumerations) that demonstrate this problem.

[Archive.zip](https://github.com/OpenAPITools/openapi-generator/files/2515830/Archive.zip)

##### openapi-generator version

v 3.3.0

##### OpenAPI declaration file content or url

[2018-10-25 16:57] bilak opened #1318 "[JAVA] Could not generate java classes when response does have headers but no content"
##### Description
Hello,
I'm using **openapi-generator-maven-plugin** in version **3.3.1**. When I want to generate java files from within yaml I have issue when there exists response which contains headers but no content. The exception is same asi in #1155 so if you change those sources to contain response decribed like below it should fail.

##### openapi-generator version

3.3.1

##### OpenAPI

[2018-10-25 18:58] Kiran-Sivakumar commented on #1217
Another reason why the current method signatures should be changed is that whenever a new optional parameter is added to an API specification, SDK users who do not use that parameter will have to specify an additional "null" argument if they want their code to compile with the newly generated SDK. This is pretty unreasonable from a maintenance standpoint.

The proposed solutions do not have this i

[2018-10-25 19:02] cowtowncoder commented on #1250
Sounds legit to me, at a high level. One implementation-side thing wrt Jackson support is that this type could probably use much of support that `Optional` has (namely, `JavaType` for new class being a `Referencetype`) to make support via jackson datatype module quite simple (I think).

[2018-10-25 19:31] cowtowncoder commented on #1250
@cbornet I think `AtomicReference` handling might help: type becomes `ReferenceType` and deserializer/serializer extend default reference type (de)serializer. And it's most up-to-date example; Guava's Optional being probably second best example.

[2018-10-25 20:11] tomplus commented on #1307
Yes, raw strings should be used here. And you are right - the latest version of flake8 check this rule (https://gitlab.com/pycqa/flake8/issues/465).

[2018-10-25 22:58] dkvollmar commented on #1266
I can reproduce this locally with a json spec. This succeeds:

java -jar $OAG_HOME/modules/openapi-generator-cli/target/openapi-generator-cli.jar validate -i <local path to my json spec>

while this fails:
java -jar $OAG_HOME/modules/openapi-generator-cli/target/openapi-generator-cli.jar generate \
   -i <local path to my json spec>
   -g html2 \
   -o <local path to my output dir>

since it appea

[2018-10-25 23:55] dkvollmar commented on #1266
I figured out that my problem was that a referenced file was missing the starting "{".
I guess the error message should be better.

[2018-10-26 01:06] wing328 opened #1320 "[New Generator] Reason ML client generator"
##### Description

We would like to create a [Reason ML](https://reasonml.github.io/) client generator so that Reason ML developers can find it more easily to consume REST APIs.

Similar to how some other generators (e.g. R, Lua, PowerShell) are created, we will use the reverse engineering process to create the Lisp client generator.

- create ReasonML pet store samples (implemented at least 2 end

[2018-10-26 03:16] grokify opened #1321 "[Golang][client] Allow access to APIClient.cfg.HTTPClient & APIClient.cfg.BasePath"
##### Description

There are scenarios where using the raw `*HTTP.Client` is desirable. This includes:

1. Scenarios where API definition is not currently supported by OpenAPI Generator and a fallback to native `*HTTP.Client` with `BasePath` is necessary. Examples include:
  * requests with multiple `multipart/form-data` files. Today only one file is supported in `APIClient.prepareRequest`
  * `mu

[2018-10-26 03:20] wing328 opened #1322 "Add Python "aiohttp" server generator"
##### Description

We would like to create a Python [aiohttp](https://github.com/aio-libs/aiohttp/) server generator.

Similar to how some other generators (e.g. R, Lua, PowerShell) are created, we will use the reverse engineering process to create the Lisp client generator.

- create Python aiohttp petstore server samples (implemented at least 2 endpoints to start with: `getPetById`, `addPet`)
-

[2018-10-26 07:30] wing328 commented on #1281
cc @tsloughter @galaxie

[2018-10-26 07:31] wing328 commented on #1281
FYI. There's an ongoing work to upgrade the code base to use Cowboy 2.x: https://github.com/OpenAPITools/openapi-generator/issues/1305

[2018-10-26 08:07] fujigon opened #1323 "[General] default value of enum property that are $ref-ed is not recognized"
##### Description

openapi-generator doesn't recognize default value of enum property that are $ref-ed.

##### openapi-generator version

current master eb4dfe0fc1362f82d91d8371e7493dc4e1195d24

##### OpenAPI declaration file content or url

https://gist.github.com/fujigon/4ae17fc6497cb599d1dfb53c2ebeadea#file-openapi-yaml

##### Command line used for generation

[code]

##### Steps to reproduce

[2018-10-26 08:08] aDuffit opened #1324 "attribute components.schemas.test.default is not of type `string`"
##### Description

The generator throw "attribute components.schemas.test.default is not of type `string`" when property is of type array and default value is array.

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

[code]

[2018-10-26 10:10] #1287 closed

[2018-10-26 10:20] #309 closed

[2018-10-26 10:28] #1216 closed

[2018-10-26 12:01] andreas-eternach commented on #509
I guess it is described here how to make the plugin compatible. I will give it a try http://www.eclipse.org/m2e/documentation/m2e-making-maven-plugins-compat.html

[2018-10-26 12:18] wing328 commented on #509
@andreas-eternach thanks! Let me know if you need help with the PR.

[2018-10-26 12:28] kqr commented on #1206
Actually, this happens also when there is an `allOf` specification present, even in 3.3.1.

[2018-10-26 12:32] andreas-eternach commented on #509
probably the file
        openapi-generator/modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java needs to be updated accordingly.

[2018-10-26 12:47] mxinden commented on #1140
@trenneman @wing328 ah, sorry, I have overlooked the inline `Dict String String` definition in the parent file. Everything working fine.

I am simply deleting `LabelSet.elm` for now. Thanks for the pointers and the repeated help!

[2018-10-26 13:03] grmcdorman opened #1327 "[C#] aspdotnetcore (C# server) generation does not support byte/binary body"
##### Description

When an OpenAPI spec describes the request with a body parameter of either:
   schema: {
      "type": "string",
      "format": "binary"
   }
or
   schema: {
      "type": "string",
      "format": "byte"
   }
the generated controller, correctly, has a [FromBody] System.IO.Stream or [FromBody] byte[] parameter. However, Swashbuckle out of the box does not support either type of

[2018-10-26 13:42] micw523 commented on #1307
I'll take a crack at this issue.

[2018-10-26 15:20] grmcdorman commented on #1327
A more generic mechanism would be to fully support specifying Consumes (Content-Type header) and Produces (Accepts header) in the generated code. While apparently not directly supported by Swashbuckle, it is straightforward to do this using attributes and filters. See https://stackoverflow.com/questions/41141137/how-can-i-tell-swashbuckle-that-the-body-content-is-required; this is for an older ver

[2018-10-26 15:49] cbornet commented on #1250
@cowtowncoder thanks for your guidance. I could write the `ReferenceType` based wrapper module by mimicking the JDK8 one. Now all there is to do is put it in an independent lib and find the correct naming for the wrapper class (hardest thing to do).
My proposals are:
* Nullable --> this recalls the OAS option name
* JsonNullable --> this is nice to recall that it's linked to JSON having three "sta

[2018-10-26 15:55] jeff9finger commented on #1250
I would prefer JsonNullable. @Nullable it also a javax annotation and the use of "Nullable" might cause confusion with that annotation

[2018-10-26 15:59] micw523 commented on #1307
I'm able to get the first few out of the way - but the one in ```fake_api.py``` is quite tricky. The problem is in:
[code]

We cannot make the string raw here since it is in the comments - what do you think we should change here?

[2018-10-26 16:07] grmcdorman commented on #1327
Better way of doing the attribute: it's possible to have a list of types on the attribute itself, see https://blog.kloud.com.au/2017/08/04/swashbuckle-pro-tips-for-aspnet-web-api-part-1/

Classes there can be added nearly as-is. Need to do this in the Filter, however, because the text added on the attribute is URL encoded:
           operation.Consumes = attribute.ContentTypes.Select(s => System.N

[2018-10-26 16:19] grmcdorman commented on #1327
Sorry, that should be HtmlDecode, not UrlDecode.

[2018-10-26 17:01] wing328 commented on #1307
@micw523 thanks for your help on this.

The original value is `To test "client" model`

To avoid code injection, we escape `"`

What about using {{{ . }}} instead of {{ . }} so that the output will become `\"` instead of `\&`?

[2018-10-26 17:09] atomfrede commented on #1250
I think JsonNullable is perfect. No confusion and not too generic

[2018-10-26 17:09] grokify commented on #510
You can see work being done on this in PR https://github.com/OpenAPITools/openapi-generator/pull/690 which hasn't been merged yet.

For now, you can get this in the [rienafairefr/openapi-generator:templating branch](https://github.com/rienafairefr/openapi-generator/tree/templating).

[2018-10-26 17:17] qzmfranklin opened #1330 "[BUILD] Add Bazel support"
I'd like to initiate the discussion of the following topic:

[Bazel] (http://bazel.io/) is a build tool open sourced by Google. Internally at Google, it is known as `Blaze`. It offers a lot of benefits to developers, with the top few being:
- Fully hermetic build, bit reproducible.
- Expressive python-like [meta-language](https://docs.bazel.build/versions/master/skylark/language.html) that specifi

[2018-10-26 19:53] grmcdorman commented on #1327
It appears that the .Net Core 'ProducesAttribute' and 'ConsumesAttribute' can be used, provided there is an appropriate formatter for the the specified media type known to the system. This makes this far simpler; no filters or attributes are required, just put Consumes and Produces on the action.

[2018-10-26 21:03] adamdecaf commented on #1112
I'm having the same problem, but my schema objects aren't missing. Any advice?

I've tried 3.3.1 and the 3.4.0-SNAPSHOT

<details>

[code]

</details>

[code]

[2018-10-26 21:04] adamdecaf commented on #1229
Closing. I think https://github.com/OpenAPITools/openapi-generator/issues/1112 is the issue. I had some errors in my OpenAPI spec.

[2018-10-26 21:04] #1229 closed

[2018-10-26 21:32] adamdecaf commented on #1112
It looks like there's a problem if you `$ref` requestBodies? This commit doesn't NPE and generates the Go client fine.

https://github.com/moov-io/api/pull/24/commits/5486832ce4fa8eed614b0fa8beb76b6b0db4e99d

[2018-10-27 07:05] wing328 commented on #509
@javadch can you please try the fix by https://github.com/OpenAPITools/openapi-generator/pull/1332 to see if it works for you?

[2018-10-27 13:17] andreas-eternach commented on #509
@javadch after pulling the repo as described by @wing328 you need to
1. cd modules/openapi-generator-maven-plugin
2. mvn install
3. in your eclipse-maven-project update the plugin verion to 3.3.2-SNAPSHOT
4. in eclipse update your eclipse-maven-project by pressing Alt-F5

[2018-10-28 03:16] #1307 closed

[2018-10-28 11:36] ackintosh commented on #1246
Thanks for your great work. It sounds good to me. 👍

[2018-10-28 18:57] adamdecaf commented on #8
I'm pretty sure the Go generator has the same problem (https://github.com/OpenAPITools/openapi-generator/issues/1112). Is there something I can do to to help that generator? It sounds like a DefaultCodegen fix?

I've got an OpenAPI v3 spec, not v2 like mentioned in https://github.com/OpenAPITools/openapi-generator/issues/8#issuecomment-411810899

[2018-10-28 22:06] aufziehvogel commented on #1281
@wing328 I think you selected the wrong tag. You selected `Client: Erlang`, but it should be `Server: Erlang`.

[2018-10-29 11:44] dvaerum opened #1339 "[RUST] I don't understand this "Could not process model" error"
##### Description
I am trying to create a rust lib client for MatterMost using openapi-generator as a base, but I keep running in to this error with I understand nothing of :disappointed:
[code]
and I have no idea what to do, can someone point me in the right direction. Plz keep in mind that I am new to openapi and this tool

##### openapi-generator version

I encounter the problem in version *3.3

[2018-10-29 14:57] wing328 commented on #1339
@dvaerum have you tried using online validation tools (e.g. http://apidevtools.org/swagger-parser/online/) to validate the spec and see if there's any error?

[2018-10-29 17:02] odupuy commented on #392
+1

[2018-10-29 21:33] dkvollmar opened #1340 "HTML generated mangles field names with underscores"
##### Description
Assuming a field in the schema with underscores
          "created_at": {
the field name in the generated JSON is
createdUnderscoreat

##### openapi-generator version
3.3.2-SNAPSHOT

##### OpenAPI declaration file content or url

https://gist.github.com/dkvollmar/79b8822ec94073206695366b8674cad2

##### Command line used for generation

 oag generate -i foo.json -g html -o generat

[2018-10-30 02:38] dvaerum commented on #1339
I tried the validate in openapi-generator-cli and have now tried this tool too and non of them shows any errors :disappointed:

[2018-10-30 10:18] cbornet commented on #1312
so that's not us. We should open an issue in swagger-parser

[2018-10-30 14:55] WendellDuncan opened #1345 "qt5 client does not support polymorphism"
##### Description

I have a swagger API that has polymorphism.  The qt5 client does not support this use case.

##### openapi-generator version

master from git repository

##### OpenAPI declaration file content or url

I will submit a pull request.  In the branch /cpp-qt5-client-hierarchy  from tor my fork at Wendell/Duncan/openapi-generator

##### Command line used for generation

java org.opena

[2018-10-30 15:16] WendellDuncan commented on #1345
Attaching a sample json file with some polymorphism.  See for example the IDrawingDefinition in the file, and the classes that use it such a SphereDefinition`
`<script src="https://gist.github.com/WendellDuncan/05e4eb807497055213f3f1917c9ebec1.js"></script>

[2018-10-30 15:42] balzmo opened #1347 "Query parameter at beginning of path leads to class name "nullApi""
##### Description

When using generatorName="jaxrs-spec" and the first path fragement in a declaration is a query parameter, the API class is given the name "**nullApi**".

It happens also in cases where tags are present.

This does not occur e.g. with generatorName="jaxrs-cxf". In this case the tag name or the query parameter name are taken to build the class name.

##### openapi-generator versio

[2018-10-30 18:42] WendellDuncan commented on #1345
Issue 1284 is doing some heavy work on the Qt5 client.  This issue needs to be postponed until that work is completed.

[2018-10-30 22:04] tedepstein opened #1349 "Missing documentation for selective code generation"
Swagger-Codegen documents the use of system properties for [selective generation](https://github.com/swagger-api/swagger-codegen#selective-generation). Apparently, OpenAPI-Generator retains this functionality, but I don't see where it's documented. Is it being deprecated, or did it just move to a different documentation page?

[2018-10-31 08:10] wing328 commented on #1349
@tedepstein we've moved customization-related documentations under https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md#selective-generation as the project's README contains too much information, which may make it not easy for beginners to go through.

[2018-10-31 09:11] CyrilleBenard commented on #1251
Any news on this bug fix ?
Last week I checked the current status of PR #1296 but it did not fixed this current issue.

[2018-10-31 09:14] bocse commented on #745
Any update on this?

[2018-10-31 10:21] cbornet commented on #1250
Making progress on the module. I have some interrogations about the behavior:
* Should `JsonNullable.undefined` never be serialized or should it depend on the `JsonInclude.Include.NON_NULL/NON_ABSENT` serialization config (like Optional) ? I think the former one but I'd appreciate your opinion on that.
* Also how should `JsonNullable.undefined` be serialized when inside a collection (which should

[2018-10-31 10:26] bocse opened #1354 "[C++][Pistache-server] POST methods not generated"
##### Description

When compiling the OpenAPI-v3 specification POST methods which have a specified request body don't get generated at all.

Reference:
https://github.com/deepviss/deepviss-server-example/blob/master/src/main/resources/deep-viss-openapi-v3.json

##### openapi-generator version

Pulled from master [https://github.com/OpenAPITools/openapi-generator] just before creating this ticket.

[2018-10-31 10:43] etherealjoy commented on #1251
indeed, It solves at top level only. needs to be done still.

[2018-10-31 11:29] tedepstein commented on #1349
Got it, thanks @wing328 .

[2018-10-31 11:29] #1349 closed

[2018-10-31 20:21] clintfoster opened #1358 "[Java] "allOf" no longer supports inheritance AND composition"
#### Description

I just attempted to migrate from swagger-codegen to openapi-generator. It was mostly successful, except the behavior of `allOf` has changed. Previously the generated Java class would inherit from the first `$ref` and compose from the rest. With the new generator the Java class still extends the first `$ref`, as expected. But all the other `$refs` are ignored. (Their fields are no

[2018-10-31 21:12] cbornet commented on #1292
The commands to spawn our docker petstore are there but commented.
@wing328 do you know why ?

[2018-10-31 21:55] cbornet commented on #1250
First version of the module here : https://github.com/OpenAPITools/jackson-databind-nullable
I still have things not working as I would want to:
* When using a constructor (JsonCreator) with JsonNullable args, not present args are deserialized as JsonNullable[null] where I would have expected JsonNullable.undefined. See failing CreatorTest. For me this is the biggest issue.
* `@JsonUnwrapped` does

[2018-10-31 22:33] cbornet commented on #247
Did you progress on that ? We still don't have good CI tests on our Java clients...

[2018-11-01 02:59] YeTingGe commented on #634
I have the same issue,  is there any plan to support "anyOf" tag?

[2018-11-01 13:23] etherealjoy commented on #1354
I get this when I generate
[code]
AnalysisApi.cpp is not generated because there is no tag for it.
The `ProcessingRequest` path is inside the tag `frame`

[2018-11-01 14:01] wing328 commented on #1358
Ref: minimal spec to reproduce the issue: https://gist.github.com/clintfoster/d60b4da3f7b1249bf8c765dfb202bbc0

[2018-11-01 15:52] wing328 commented on #1206
@kqr I've filed #1360 to better support allOf, anyOf, oneOf. I wonder if you can give it a try to see if it works better for your spec.

[2018-11-01 17:27] wing328 opened #1361 "Add "servers" support to generators"
##### Description

`servers` in OAS v3 allows users to define mutiple base URL with variable support. We've added `servers` support to the Ruby generator via https://github.com/OpenAPITools/openapi-generator/pull/1280. We want to do the same to other generators.

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/1280
ht

[2018-11-01 17:33] wing328 commented on #1068
@mdulisch thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/1360 with better support for inheritance/composition. I don't think it fixes the issue you described but still would appreciate if you can give the PR a try it produces better output in your case.

[2018-11-01 17:38] wing328 commented on #417
@0v1se thanks for your work on the discriminator's mapping.

I've filed https://github.com/OpenAPITools/openapi-generator/pull/1360 with better support for composition/inheritance. Please give it a try and me know if you've any feedback.

[2018-11-01 17:40] wing328 commented on #927
Hi folks, I've filed https://github.com/OpenAPITools/openapi-generator/pull/1360 with better inheritance/composition support. Please give it a try and let us know if you've any feedback for us.

[2018-11-01 17:45] wing328 commented on #1125
@chenliu0831 thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/1360 with better `allOf` support. I don't think it addresses the issue you reported but still would appreciate your feedback on the PR.

[2018-11-01 17:53] wing328 commented on #634
Hi folks, I've added better support of allOf, anyOf and oneOf via #1360. Please give it a try and let us know if you've any feedback. Clearly, some works need to be done in the Java client templates to better support oneOf and anyOf.

[2018-11-02 04:58] 0v1se commented on #417
Thank you! Will give it a try

[2018-11-02 09:07] bcourtine commented on #1339
I can reproduce the problem. Here is the complete stacktrace:

[code]

We can see that the problem is located in generic classes, not related to Rust. I could confirm it using others generator (python, ruby, etc.): same error.

Note: java generator does not fail.

[2018-11-02 09:36] bcourtine commented on #1339
Problem occurs when generator overrides `getTypeDeclaration`.

[code]

In above code (from `RustClientCodegen`), inner schema can be null. This case should be verified and defaulted to `String` (It is done in `AbstractJavaCodegen`).

I can fix it for Rust codegen, but others generators should also be verified (at least Python and Ruby generators have the same bug).

[2018-11-02 10:02] bocse commented on #1354
Thank you for the feedback, I made the necessary adjustments and now it works.

However, do consider that in Java or Spring, the specification without the tags creates the end-points, while in the Pistache implementation does not. The two implementation from the same specification should have the same behaviour, for consistency.

[2018-11-02 10:02] #1354 closed

[2018-11-02 17:31] grmcdorman opened #1365 "[C# - aspnetcore] 'pattern' specification generated code regular expression is wrong"
##### Description
For a parameter specification similar to the following:

[code]

the resulting action has a parameter decorated (correctly) with ``[FromRoute][Required]``; however, the RegularExpression is incorrect:
[code]
The leading and trailing slashes are treated literally, i.e. they must (incorrectly) appear in the parameter value.
##### openapi-generator version

main; I do not know if th

[2018-11-03 03:30] feihongmeilian commented on #1281
Hi @aufziehvogel

Here is an PR for upgrade 'erlang-server' from cowboy1.x to cowboy2.x. please help to code review, Thanks!

[2018-11-03 08:41] etherealjoy commented on #745
I tested it with #1359 and it worked.

[2018-11-03 13:09] #745 closed

[2018-11-03 14:20] wing328 commented on #1339
Thanks for the fix by @bcourtine . Closing this issue

[2018-11-03 14:20] #1339 closed

[2018-11-03 22:11] dvaerum commented on #1339
Thanks :smiley:

[2018-11-04 05:41] Kiikurage opened #1368 "Generate typescript-fetch code without portable-fetch"
##### Description

Does `typescript-fetch` support generating code without dependent libraries such as portable-fetch?

`BaseAPI` supports injecting `fetch` at runtime.
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-fetch/api.mustache#L49

However, as default, `portable-fetch` is used and import statement is exist. Therefore, r

[2018-11-04 05:41] Kiikurage commented on #1368
For people who wants same feature, Currently I'm bundling all TS files with webpack, so I can avoid installing `portable-fetch` by aliasing with dummy file.

[code]
`portable-fetch-dummy.ts` is empty file, and inject native `fetch` at runtime as follows:

[code]

[2018-11-04 09:07] #509 closed

[2018-11-04 09:08] wing328 commented on #509
@javadch the fix by @andreas-eternach has been merged into master. Please give it a try to see if it works for you.

Thanks @andreas-eternach for contributing the fix.

[2018-11-04 14:16] toiletspider opened #1369 "[rust client] Client does not generate enums. Bug: oneOf schemas are not correct"
##### Description

Enums are not been generated (there is a TODO though).
The [oneOf](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/) schemas are not generated correctly. See my [pr](https://github.com/toiletspider/binance_api/commit/d67384fa40cbe672ca1219f941c757a7b059b0c6) where I changed the generated code so that it could compile.

##### openapi-generator version

ver

[2018-11-04 16:20] wing328 commented on #865
FYI. I've added group parameters support to PHP API client: https://github.com/OpenAPITools/openapi-generator/pull/1337

[2018-11-05 00:05] wing328 commented on #1365
@grmcdorman thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/1371 to fix the issue and my test result looks good without the forward slashes:
[code]

[2018-11-05 00:38] grmcdorman commented on #1365
Nice; thanks. Good that there's an appropriate override, sign of a good design.

[2018-11-05 10:58] wing328 commented on #1327
cc @mandrean (2017/08) @jimschubert (2017/09)

[2018-11-05 12:04] vishnugr opened #1373 "html2 generator does not include requestBody"
##### Description
I have generated html2 documentation. But index.html does not include requestBody.
I need to know, how to add the requestBody in the documentation?

##### openapi-generator version
Version 3.3.2

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation

openapi-generator generate -i swagger/swagger.yaml -g html2 -o docs/

##### Suggest a fix/en

[2018-11-05 13:19] tsiq-karold opened #1374 "[JAVA] Untyped request bodies not handled"
##### Description

Generating code (both client and server) for a model where a resource has a body parameter with either no type or of type `object` generates a warning and code which does not compile.

Warning this generates is similar to:
[code]

Generated client code in `DefaultApi`:
[code]

No such model is generated though even if it was, it wouldn't be terribly useful.  The server generated

[2018-11-05 13:38] wing328 commented on #1374
@tsiq-karold thanks for reporting the issue. I plan to add better handling of free-form object via #1338. It may not completely fix the problem you reported but should be getting closing to a solution.

[2018-11-05 13:43] tsiq-karold commented on #1374
Thanks @wing328, I'll watch #1338 for now then and will come back to this issue once that's in.

[2018-11-05 14:45] wheezil opened #1375 "Feature : merge multiple specification files"
##### Description

While JSON references are useful for certain cases as described [in this tutorial](https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-8-splitting-specification-file/), they cannot "include" an entire specification and merge it into the main one. This would be helpful in organizing API specifications into modules, where each module can include a full compl

[2018-11-05 14:51] wheezil commented on #1375
Comments welcome!  Perhaps this simply becomes a talking point and should really be considered as part of the swagger parser instead.

[2018-11-05 14:54] wheezil commented on #1375
It was pointed out in the forum that this messes with IDEs and editors.  To address that, one could separate the API into swagger-compliant modules, and build an "import only" file to perform the preprocessing.  Perhaps this feature should be moved entirely out of the swagger file?  There could be a pure `merge` pre-processor that is outside of the swagger files but otherwise operates as described

[2018-11-05 15:00] wheezil commented on #1375
Alternative idea: instead of putting the `imports` section into a file, add command-line options like

- `--merge-inputs=input1,input2,...`
- `--merge-collision-handling=error|first_wins|last_wins`

This would trigger the pre-processor to merge the input files to a temp file, which becomes the effective `-i` argument.  Either that or `-i` itself could take a comma-separated list, the presence of w

[2018-11-05 15:24] tsiq-karold opened #1376 "[JAVA] Server and models with readOnly properties"
##### Description

Based on the description of `readOnly` from https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object which states that a response may contain a read-only property but a request must not contain it, I would expect generated client code to only contain getters for such objects and generated server code to contain both getters and setters.  The client

[2018-11-05 15:27] bzb0 opened #1377 "[JAVA] Object type with 'additionalProperties' not annotated/generated properly"
##### Description

We have the following type/object, namely it is a dictionary/map, but it has one custom property, namely 'extras'.

[code]

The following code will be generated. If we set the property extras via the builder method, it will not be part of the serialized JSON object.

[code]

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

See description.

[2018-11-05 15:55] wing328 commented on #1377
What does the payload look like? Maybe we can model it differently.

According to the SO link you provided:

I tend to agree (or I miss the benefit of extending HashMap)

[2018-11-05 17:21] tsiq-karold commented on #1376
I've never used Mustache before so hadn't realised that there are no if statements as such.  So the second solution I proposed would not work.  I'll have more of a play with it to see if I can suggest something else but along similar lines but I think adding something to the content passed to the template ought to work, just need to work out exactly what.

[2018-11-05 17:22] wing328 commented on #1375
Right, I agree it should be done by the Swagger Parser instead of OpenAPI Generator but good to start the discussion.

Have you tried https://github.com/maxdome/swagger-combine (which does not seem to support OAS v3 at the moment)? Is that what you're looking for?

[2018-11-05 17:23] Stealthmate opened #1378 "[Elm] import 'Data.List_' not used, but causing an error"
##### Description

I'm generating an API from haskell's servant-swagger, where an endpoint returns a type `QueryResponse` which is an object with two array fields.
The output file for this a module `Data.QueryResponse`, which has the import line
[code]
however, `List_` is not used anywhere in the file. On top of that, Elm doesn't recognize any module like that, and from what I've found there isn't

[2018-11-05 17:33] wheezil commented on #1375
swagger-combine requires that each input be a complete API.  In particular, it does not support one input defining schemas that another input needs, which is the primary use-case of this issue.

[2018-11-05 17:35] wheezil commented on #1375
This is really quite a simple transformation -- much simpler in fact than swagger-combine because it operates entirely at the JSON/YAML level and does not need to parse swagger.  Perhaps I should make a new project for this?

[2018-11-05 17:36] Stealthmate commented on #1378
I noticed some other problems.

- The API returns `[[string]]`, however the template generated is for `List String` (the `data` field)
- The encoder/decoder functions use `String.encoder` / `String.decoder` respectively, however those don't exist.

Here's a [gist](https://gist.github.com/Stealthmate/afa501109255f4b700930bcdb524255f) of the code as well.

I think nested list generation may not be w

[2018-11-05 17:40] wheezil commented on #1375
[json-merger](https://www.npmjs.com/package/json-merger) actually comes close, but it requires that operations be injected deep into one of the source documents.

[2018-11-05 17:42] bocse opened #1379 "[cpp-pistache-server] Setters not generated for arrays of objects and/or strings"
##### Description

In C++ Pistache, the setters for arrays of objects are not created in the generated source code

##### openapi-generator version

Master branch at the moment of creation of this issues.

##### OpenAPI declaration file content or url

The full OpenAPI spec is available as JSON at:
https://github.com/deepviss/deepviss-server-example/blob/master/src/main/resources/deep-viss-openapi

[2018-11-05 17:51] tobymurray opened #1380 "[Java][Question] Changing generated Java client dependency versions?"
##### Description
Running the `openapi-generator-cli.jar` presently yields a Gradle 2.6 project with the following dependency versions:
[code]

These are mostly significantly out of date (e.g. Gradle 4.10.2 now). Is this still a supported way to use this tool? I'm running into classpath problems because I'm using different major versions of these dependencies (e.g. okhttp) that are not backwards c

[2018-11-05 17:52] wheezil commented on #1375
Actually... json-merger may do everything I need.  It doesn't concatenate arrays by default, but it does merge maps.  I think that array concatenation may be somewhat contrived.

[2018-11-05 18:04] #1375 closed

[2018-11-05 18:22] grmcdorman opened #1381 "[C#] csharp client support for 'string/binary'"
##### Description

When generating code from a spec that has ``format: binary`` and ``type: string`` using the csharp client, the generated code builds an interface with ``System.IO.Stream`` but this usage pattern is not supported by restsharp, including the latest version.

##### openapi-generator version

Main branch.

##### OpenAPI declaration file content or url

Partial content:

[code]

####

[2018-11-05 22:01] cowtowncoder commented on #1250
Ok let's see...

1. On creator, I think value to use for `null` is fetched using `JsonDeserializer.getNullValue()`
2. `@JsonUnwrapped` is designed to just work on POJOs, and although I could kind of see how one might expect it to work elsewhere... it won't. So I would not worry about that yet.
3. There is no way to suppress serialization of anything other than property value (root value or element

[2018-11-05 23:02] cbornet commented on #1250
Indeed. But `getNullValue` is also called to deserialize "null" in bean properties so it has to return JsonNullable[null].

Unfortunately no, it gets handled as `JsonDeserializer.referenceValue(null)`

[2018-11-05 23:35] cbornet commented on #1250
For 4., `_valueDeserializer.deserialize` and the value deserializer deserializes both `""` and `"null"` to `null`. So maybe I can override ReferenceTypeDeserializer::deserialize to detect empty strings before calling the value deserializer ?

[2018-11-05 23:38] cowtowncoder commented on #1250
Ok. Yes, (1) was retrofit to have some way to pre-populate missing entries as Creator must be passed something.

As to (4), handling should still be controlled by `ReferenceTypeDeserializer`, which is bit easier -- `null`s are a pain just because historically deserializer/serializer was NOT called since it was (initially) possible to just have general null handling, and keep (de)serializers simple

[2018-11-06 01:43] YeTingGe commented on #1380
May I suggest using the latest spring-boot version for the generated spring project too ?

[2018-11-06 07:47] andrehaveman commented on #1253
We use a .Net Core backend with [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle) generator. We have classes like MySet<Type1> which results in MySet[Type1] in the swagger.json file.

Version 3.2.3 didn't have this issue.

[2018-11-06 07:58] quanticcc opened #1383 "[Java] Invalid generated code for double array members"
##### Description

Running the openapi-generator-cli.jar with ```--type-mappings Integer=int,Boolean=boolean,Float=float,Double=double --language-specific-primitives boolean,int,float,double``` options, generates incorrect ``` private List<double> vector = null;``` code.

##### openapi-generator version

3.3.3-SNAPSHOT (30bfebfa1670840f66f667fc04924391e1994d57) / master

##### OpenAPI declaration

[2018-11-06 08:00] bogdanzafirov commented on #1377
@wing328 what do you mean, how does the payload look like? If we simply set the property **extras** and don't add an extra property via ```object.put(key, value)```, the serialized JSON object is empty. Here an example:

```Links links = new Links().extras("https://www.example.com");``` will result in ```{}```.

In order to set the property **extras** we have to set it explicitly like this:

[code

[2018-11-06 10:20] cbornet commented on #1250
For (1), could `PropertyValueBuffer::_findMissing` call `getEmptyValue` instead of `getNullValue` or is there a reason not to do so ?

For (4), I'm not sure I understand what you recommend. I've tested this:
[code]
which seems to work. Is it the correct way to do it ?

[2018-11-06 10:37] #323 closed

[2018-11-06 11:54] adrianiacobghiula opened #1385 "[SPRING] Create constants for paths"
##### Description

It would be better to generate constants for the paths (in an apiRoute interface)
`String FIND_PET_BY_STATUS_URL = "/pet/findByStatus";`

`    @RequestMapping(value = PetApiRoute.FIND_PET_BY_STATUS_URL, `

This could be helpful : for testing using mockMvc to to add the constant. for adding the URL in the spring security antMatchers or anywhere you need the actual URL

##### Sugg

[2018-11-06 12:55] Ohadbasan opened #1386 "add scoped package support in package name"
##### Description

openapi javascript generator generates a package with the package name as written in the title attribute in the info object.
a javascript package can be scoped.
for example
npm install @organization/my_library
require('my_library').

##### openapi-generator version

3.3.2

##### Command line used for generation

openapi-generator generate -i ./openapi.yaml -g javascript

##### S

[2018-11-06 13:17] bcourtine commented on #1221
For client generation, is the problem reproducible with "Reqwest" library? I used Reqwest instead of Hyper specially to simplify https management.

[2018-11-06 13:59] wing328 commented on #1381
@grmcdorman Can you please try https://github.com/OpenAPITools/openapi-generator/pull/737 (C# client refactored) to see if it works better with the binary format?

[2018-11-06 14:02] grmcdorman commented on #1381
Right, forgot about that. Will grab the code and give it a try.

[2018-11-06 14:04] wing328 commented on #1380
One way is to use customized templates with the `-t option.

We also welcome PRs ([example](https://github.com/OpenAPITools/openapi-generator/pull/1343)) to update the dependency to a newer version

[2018-11-06 14:06] Ohadbasan opened #1389 "security requiements object is ignored when the components are in different file"
##### Description

my open api file is composed of two files.
openapi.yaml
and components.yaml
the paths in my openapi.yaml references the components files.

openapi-generator (javascript) ignores the security field unless I merged the two files
seems like the security field and the components (and their security schemes ) must be in the same file.

##### openapi-generator version

3.3.2

##### Op

[2018-11-06 14:45] grmcdorman commented on #1381
No joy. The refactoring is just a layer on top of the current generated code; in the end it still ends up doing this:
[code]
with an object of type System.IO.Stream. That's the same as the existing code, and will fail.

[2018-11-06 15:29] grmcdorman opened #1390 "[C#] csharp client generation does not handle "sourceFolder" config setting"
##### Description
If the source folder setting is changed via a configuration file, csharp client generation still generates some files with references to 'src'.

##### openapi-generator version

main

##### OpenAPI declaration file content or url

Not applicable. Configuration file, for -c option:
[code]
or any sourceFolder setting other than ``src``.

##### Command line used for generation

java

[2018-11-06 16:28] fizxmike commented on #611
Though that is helpful, it won't help in my use case. All I need is something like
[code]

[2018-11-06 21:06] ggershoni opened #1392 "Regex param validation not working as expected in Ruby-Client"
##### Description

We are using a \d in our regex to ensure pattern has only digits but this is turned into \\d and Ruby can't interpret it correctly.

In OpenAPI v3 file: `pattern: '^\d{10}$'`
Generated validation code: `Regexp.new(/^\\d{10}$/)`
Should be: `Regexp.new(/^\d{10}$/)`

##### openapi-generator version

Was using latest stable version (3.3.2) and also grabbed and build latest from mast

[2018-11-07 05:09] wing328 commented on #865
Hi all,

I've tried to add group parameters support to TS Fetch client with some fake parameters to illustrate the change in https://github.com/OpenAPITools/openapi-generator/pull/1394.

https://github.com/OpenAPITools/openapi-generator/pull/1394/files#diff-157014844e879c93896c6ee0805f91ddR1541 is a good starting point to review the change.

Please review and let me know if you've any feedback.

D

[2018-11-07 05:37] wing328 commented on #1392
@ggershoni thanks for the PR, which has been merged into master.

[2018-11-07 05:37] #1392 closed

[2018-11-07 07:52] #1253 closed

[2018-11-07 08:06] sanderegg commented on #579
it seems to be again a problem since release 3.3.2

[2018-11-07 08:13] wing328 commented on #579
@sanderegg can you please elaborate on the issue with a spec to reproduce the problem and the actual vs expected output?

[2018-11-07 08:20] sanderegg commented on #579
@wing328 sorry yes, actually the exact same case described in here.
I was happily using version 3.2.3 till now and moved to 3.3.2 and found out that a required __and__ nullable field would now throw a ValueError from the generated python code.

- my openapi spec looks like this:
[code]

The generated code for this part now creates:
[code]

And it is not the case with version 3.3.1

[2018-11-07 09:06] developerpat opened #1396 "[Spring-Cloud] Add fallback at Feign Client"
##### Description

We have the following Situation:
We generate a Feign Client with the OpenAPI-Generator. This produces following Code:

[code]

In the Feign client it is possible to set a fallback class which is executed when the external System is not reachable. This would look like this:
[code]
I couldn't find any configuration to set the fallback class.

##### openapi-generator version
[code]

[2018-11-07 09:20] wing328 commented on #579
@cognifloyd thanks for sharing the spec. Are you using OpenAPI spec v2 or v3?

Only v3 officially supports `nullable`. For v2, you can use `x-nullable` (vendor extension) instead.

[2018-11-07 09:20] wing328 commented on #579
I also did a test locally and it's working fine.

[2018-11-07 09:22] cbornet commented on #1250
Forget my comment about `getEmptyValue`, it's returning `""` for StringDeserializer so it's not fit for `_findMissing`. I've tried various things for JsonCreator including playing with ValueInstanciator but couldn't make it. Anyway I think there's no reason to force to provide a JsonNullable in a constructor since it normally represents a non-required value. So it can be described as a limitation

[2018-11-07 10:10] tsiq-karold commented on #1376
I've had a bit more of a play with this and I'm not sure it's possible to inject another bit of data into the content passed to the template mainly because the property level data in there is of type `CodegenProperty` and I'm not sure it makes sense to add a `generateSetters` property to that class.

I have however tried changing the `isReadOnly` properties to false if `CodegenType` is server and

[2018-11-07 10:15] sanderegg commented on #579
@wing328 using spec v3
here is a screenshot of the differences I see between 3.3.1 and 3.3.2 in the python generated code:
left is 3.3.1, right is 3.3.2 for the same specs
![image](https://user-images.githubusercontent.com/35365065/48125099-3489c180-e27e-11e8-9bc7-2736fcd4cb3e.png)

[2018-11-07 12:48] wing328 commented on #579
@cognifloyd I was not able to repeat the issue with OAS3 spec using the latest master. The nullable support was introduced to v3.3.0 via https://github.com/OpenAPITools/openapi-generator/pull/1073.

Can you please try the latest master instead? You can find the links to the SNAPSHOT version in the project's README.

[2018-11-07 14:34] wing328 commented on #1253
@andrehaveman I've merged the PR by @smasala into master. Can you give it a try using the SNAPSHOT version or the docker image?

[2018-11-07 14:39] wing328 commented on #323
The Python flask generator has been updated to use flask-connexion 2.0.0 stable version. Please pull the latest master to give it a try.

[2018-11-07 14:49] wing328 commented on #453
@poli-granot I've submitted https://github.com/OpenAPITools/openapi-generator/pull/1360 with better support for allOf, oneOf, etc.

Please give it a try and let me if you've any feedback.

[2018-11-07 15:00] wing328 commented on #1046
@bgadrian thanks for reporting the issue.

I believe you're able to get the auto-complete to work with other JS modules in Intellji, right? We can modify the docstring accordingly with reference to other JS modules.

[2018-11-07 15:57] cognifloyd commented on #579
@wing328 I think you meant @sanderegg :)

[2018-11-07 16:02] sanderegg commented on #579
I'm using the docker images, is there one for master as well? like latest? it seems to be recent.

[2018-11-07 16:06] sanderegg commented on #579
well using the latest docker (which is an hour old at this time of writing) I get the same issue.

[2018-11-07 16:22] wing328 commented on #579
@cognifloyd sorry :(

@sanderegg can you please share the full spec with me so that I can repeat the issue locally? You can find my email address in my Github profile page.

[2018-11-07 18:03] andrehaveman commented on #1253
@wing328 Yes, it's working again. @smasala Thanks for fixing this :+1:.

[2018-11-07 20:49] sanderegg commented on #579
Ok I think I found the issue. It seems the problem arises when the property is nullable and a ref (see schema that reproduces the issue below). I confirm that the problem with __nullable__ of type __string__ works fine. The problem arises when the property is a ref and nullable.
Now searching a bit, I am not quite sure if this is accepted as such or if one should use some allOf trick to make that

[2018-11-07 20:51] sanderegg commented on #579
so replacing the above specs, by
[code]

works!

[2018-11-07 21:56] developerpat commented on #1396
how can i access {{classname}} at an supportingfile?

[2018-11-08 07:52] wing328 commented on #439
@guenhter I've filed https://github.com/OpenAPITools/openapi-generator/pull/1400 to add post-processing to Kotlin files and I'm able to use `ktlint` to format the code.

Please review and let us know if you've any question.

[2018-11-08 08:03] wing328 opened #1401 "[Kotlin] Do not use wildcard import"
##### Description

`ktlint` cannot auto-correct wildcard import:
[code]

##### openapi-generator version

Latest master

##### Command line used for generation

##### Steps to reproduce

[code]

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/1400

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to let us know.

[2018-11-09 02:33] chenliu0831 commented on #1125
@wing328 Great to see you working on this! A small suggestion for your PR #1360: could you add a few high level pointers to the module where we could look at the major change of those fixes/features. It's somewhat hard to follow for someone not familiar with the repository. Thanks!

[2018-11-09 04:53] acornett commented on #802
Not sure if this has been brought up elsewhere, but one issue I'm having adopting the generated typescript client is the use of namespaces for enums.  If the typescript generator is being overhauled could alternate code styles be considered?
Babel 7 doesn't support namespaces in typescript (https://babeljs.io/docs/en/babel-plugin-transform-typescript) and advises the use of ES2015 modules instead.

[2018-11-09 10:04] james-rantmedia opened #1406 "[SWIFT4] Generated Code has warnings when using Swift 4.2 Compiler"
##### Description

When using Xcode 10 with swift 4.2, the generated code from the swift4 openapi-generator contains a few warnings. They're not necessarily causing any problems, but I like a clean codebase.

The warnings:

[code]

##### openapi-generator version

3.3.2

##### Command line used for generation

`openapi-generator generate -i swagger.json -l swift4 -o ~/Desktop/APIClient`

##### Ste

[2018-11-09 10:45] phiamo opened #1408 "[PHP] Username checks null default value is empty string"
The php generator checks username and password for null, but default values are empty string ''

https://github.com/OpenAPITools/openapi-generator/blob/1522855915f941826879d468be0b65f798f732ca/modules/openapi-generator/src/main/resources/php/api.mustache#L510
https://github.com/OpenAPITools/openapi-generator/blob/1522855915f941826879d468be0b65f798f732ca/modules/openapi-generator/src/main/resources

[2018-11-09 13:54] kimamula commented on #989
Is this available with the docker image?
I tried the following command which does not work.

[code]

[2018-11-09 15:48] #436 closed

[2018-11-09 21:12] ndjensen commented on #1302
I'm upvoting this as helpful.  When I ran the command line with a `config.json` that had packageName of `foo.bar.baz` (no model-package or api-package) I ended up with two directory structures.  The first was one directory named `foo.bar.baz` that included `api_client.py`, the `__init__.py` files, `configuration.py`, and `rest.py`.  The second directory structure I ended up with was `foo/bar/baz/`

[2018-11-10 03:13] kimamula opened #1410 "The official OpenAPI Generator CLI Docker image does not respect JAVA_OPTS environment variable"
##### Description

Setting `JAVA_OPTS` environment variable has no effect on the official OpenAPI Generator CLI Docker image.

##### openapi-generator version

Latest

##### Command line used for generation

[code]

`-Dlog.level=error` should set the logging level to error(#1000).
However, above command prints info and warning logs.

##### Suggest a fix/enhancement

I guess `ENTRYPOINT` in https:/

[2018-11-10 07:46] ackintosh commented on #989
hmm...

As @kimamula said, the option does not work on the docker image. 👀

On the other hand, it works on the image which is built locally. 🤔

[code]

[2018-11-10 07:52] kimamula commented on #989
I have created [a new issue](https://github.com/OpenAPITools/openapi-generator/issues/1410) for this problem.
I am guessing that this is because https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator-cli/Dockerfile is not using `JAVA_OPTS` environment variable.

[2018-11-10 08:18] ackintosh commented on #1410
@kimamula Thanks for reporting this issue!

@OpenAPITools/generator-core-team
How about using [docker-entrypoint.sh](https://github.com/OpenAPITools/openapi-generator/blob/master/docker-entrypoint.sh) in [modules/openapi-generator-cli/Dockerfile](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator-cli/Dockerfile) as well as [Dockerfile](https://github.com/OpenAP

[2018-11-10 17:52] meganemura opened #1412 "Running mvn package in docker gets an error"
##### Description

In current master (5711985), `./run-in-docker.sh mvn package` raises following error.

[code]

##### openapi-generator version

master (5711985)

##### OpenAPI declaration file content or url

n/a

##### Command line used for generation

n/a

##### Steps to reproduce

Run `./run-in-docker.sh mvn package`

##### Related issues/PRs

##### Suggest a fix/enhancement

`./run-in-docke

[2018-11-12 14:07] #1412 closed

[2018-11-12 14:15] bocse commented on #1379
Any suggestions for a workaround until a fix is available?

This is a blocking issue for releasing our first implementation with OpenAPI :)

[2018-11-12 17:10] wing328 commented on #1408
@phiamo thanks for reporting the issue. May I know if you've time to contribute a fix to the issue?

[2018-11-12 17:56] tnmtechnologies opened #1420 "[Java/Jaxrs/Resteasy] NPE thrown when response is defined with $ref without content"
##### Description

When a response is defined as follow
[code]
and in ./TS29571_CommonData.yaml
[code]
then this exception is thrown during source code generation :

[code]

##### openapi-generator version

3.3.3-SNAPSHOT with PR #1416

##### OpenAPI declaration file content or url

[TS.yaml.zip](https://github.com/OpenAPITools/openapi-generator/files/2573035/TS.yaml.zip)

##### Command line used

[2018-11-12 18:06] phiamo commented on #1408
yes, sure, i am just not sure if it would be better to change default values from '' to null, or checking for empty instead would be better? any suggestions?

[2018-11-13 07:08] kingofdisasterr opened #1421 "[Java][jaxrs-jersey] unnecessary multipart imports in generated code"
##### Description

if the java jaxrs-jersey server code is generated from a model which doesn't need the jersey multipart feature, the multipart packages are imported anyway.

##### openapi-generator version

openapi-generator 3.3.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Java -jar openapi-generator-cli-3.3.2.jar generate -i /foobar.yaml -g j

[2018-11-13 09:17] wing328 opened #1422 "[Ruby] Add support for Faraday (HTTP lib) #3270"
##### Description

Currently, Ruby API client has a dependency on Typhoeus (HTTP lib).

We want to add support for [Faraday](https://github.com/lostisland/faraday) to provide more flexibility in choosing what HTTP lib to use in the Ruby API client.

(Typhoeus will still be supported)

##### OpenAPI Generator version

Latest master

##### Suggest a solution

Similar to Java, we can use the `-l/--li

[2018-11-13 09:29] wing328 commented on #1408
I suggest checking for empty as if I remember correctly, that's the approach taken by other clients (e.g. ruby)

To be clear, both username and password must be empty in that condition. (there're use cases in which an empty password is sent to the server)

[2018-11-13 09:38] phiamo commented on #1408
Sure, so we leave default values empty strings and check for emptyness as
condition...

Am Di., 13. Nov. 2018, 10:29 hat William Cheng <notifications@github.com>
geschrieben:

[2018-11-13 09:42] wing328 commented on #1408
Right. Ping me in https://gitter.im if you need any help on the PR. Thanks in advance.

[2018-11-13 09:47] #1406 closed

[2018-11-13 11:08] meganemura commented on #1422
I'll tackle this issue 💪

[2018-11-13 12:52] developerpat commented on #15
Is there a bugfix at the actual Version? I am using Version 3.3.2 and i have the same problem with oneOf.

[2018-11-13 13:05] tnmtechnologies opened #1423 "[JAVA] generating Map with jaxrs-reasteasy does not import the hashmap"
##### Description

The description is the same as the one described here [swagger-codegen/issues/8876]( https://github.com/swagger-api/swagger-codegen/issues/8876) but for the jaxrs-resteasy generator.

##### openapi-generator version

3.3.1

##### OpenAPI declaration file content or url

The issue occurs with this piece of yaml definition:

[code]

##### Command line used for generation

##### St

[2018-11-13 13:31] james-rantmedia opened #1424 "[SWIFT4] Dates Are Inconsistently Encoded"
##### Description

The generated code for GET requests that have URL Query Parameters that are dates currently encodes the date to JSON and inserts it as a query parameter.

The problem with this is that it is possible for the encoded date to contain a `+` character, which is a valid character in a query parameter, but not as an encoded space, as intended.

My problem example:

I have a date with

[2018-11-13 13:42] renepardon commented on #570
The current state is available here: https://github.com/renepardon/openapi-generator/tree/graphql_client/samples/server/petstore/graphql-server/openapi3graphql-server

But there is a problem with the types so the server won't start. A discussion about this has been started here: https://spectrum.chat/graphql/general?thread=9ee3d211-566d-4250-849c-2f8e4b42268c

[2018-11-13 13:54] renepardon commented on #570
I've adjusted the existing GraphQLSchemaGenerator class and added an AbstractGraphQLCodegen class as well.

Feedback is welcome @jmini @Eddie-CooRo @yarax

[2018-11-13 14:15] smoebody opened #1427 "serverUrl is not parsed correctly"
##### Description

server URL is not parsed correctly, when i try to generate from url.
[code]

The URL is as follows:

    http://api:3000/v2/api-docs

This is the generated `basePath`in the code:

[code]

##### openapi-generator version

latest version of docker-image `openapitools/openapi-generator-cli:latest`

##### Command line used for generation

`generate -i http://api:3000/v2/api-docs -g

[2018-11-13 14:23] wing328 commented on #1427
@smoebody can you please share the spec? Hard to troubleshoot without the spec to reproduce the issue.

[2018-11-13 15:01] smoebody commented on #1427
I dont think the spec is relevant here. In case it is you can take the spec from here and remove the `host` property. Then serve it via http at a non-standard port and use this url to generate the code

[2018-11-13 19:08] advance512 opened #1429 "[JavaScript] Client produces a wrong object for a string enum type that is used with $ref"
##### Description

Quoting the initial post in https://github.com/swagger-api/swagger-codegen/issues/4819.

I got something like { '0': 'f', '1': 'i', '2': 's', '3': 'h' } for an enum type. It should be "fish".

##### openapi-generator version

openapi-generator-cli-3.3.3-20181113.090410-41.jar

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation

$ java -j

[2018-11-13 19:08] lzybkr opened #1430 "[rust client] Incomplete type in response generates code that fails to compile"
##### Description

The Rust generated code fails to compile if the api defines a response type of `object` with no additional information. Other code generators like C# do generate code that compiles and runs even if it isn't a very useful response.

The errors look like:

[code]

##### openapi-generator version

3.3.2

##### OpenAPI declaration file content or url

[code]
##### Command line used

[2018-11-13 19:14] advance512 opened #1431 "[JavaScript (with promises)] Bug following $ref in object properties"
##### Description

Generated type file `ID` contains the following:

[code]

`data` is an integer input. `obj` is null. Hence, the result is `exports()` instead of simply `data`.

##### openapi-generator version

openapi-generator-cli-3.3.3-20181113.090410-41.jar

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

java -jar openapi-generator-cli-3.3.3-20

[2018-11-13 19:17] advance512 opened #1432 "[JavaScript] Boolean body parameters are not sent when `false`"
##### Description

When a body parameter is of type `boolean` and is `false`, then parameter does not get sent to the server.

##### Version

openapi-generator-cli-3.3.3-20181113.090410-41.jar

##### Swagger declaration file content or url

Example parameter:

[code]
If `approved` is set as `true`, then the call works perfectly. Otherwise, it fails, since the code (in `ApiClient.js` in the functio

[2018-11-13 19:20] wheezil opened #1433 "C# decimal default literal doesn't compile"
A field of type "number" with no format is mapped to decimal/Decimal types in various languages.  However, the utility method ModelUtils.IsDouble() incorrectly reports true.  This leads to cases where e.g. generated C# code creates fields of type decimal but tries to initialize them with default values that are double-formatted literals ("0.1D") instead of decimal-format literals ("0.1M").  Code d

[2018-11-13 19:24] advance512 commented on #1431
This might be related:
https://github.com/swagger-api/swagger-codegen/issues/7994

[2018-11-13 19:34] Dviejopomata opened #1434 "[Dotnet][client] Add a language to use the HttpClient from System.Net.Http"
##### Description
There is no client generator for *dotnet* which uses the [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netframework-4.7.2) from dotnet. This client has the benefits of being asynchronous and is in the .NET framework, without the need to download any library.

##### openapi-generator version

##### OpenAPI declaration file content or url

[2018-11-13 19:36] advance512 commented on #1431
This seems fixed in swagger-codegen-cli-2.4.0-20181113.142213-347.jar

[2018-11-13 19:53] advance512 commented on #1429
@wing328
Is there a way to have this bug fixed with priority? A donation?

[2018-11-13 20:18] advance512 opened #1435 "[JavaScript] Parameters naming in functions, documentation and file name is wrong"
##### Description

Code generated creates some parameters as inline objects, some with bad names like NULLUNIQUENAME, and with parameter names in functions called "opts" instead of their proper name.

##### openapi-generator version

openapi-generator-cli-3.3.3-20181113.090410-41.jar

##### OpenAPI declaration file content or url

Not complete, but you get the point:

[code]

Diffing, compared to

[2018-11-13 20:23] advance512 commented on #1429
@jfiala could you have a look at this?

[2018-11-13 21:46] john3300 opened #1437 "[HTML] Unable to parse multi-level $refs"
##### Description

My API spec is split across two files, `test-base.yaml` and `test-common.yaml`.  In `test-base.yaml` I have my `paths` defined with `responses`.  Some of my `responses` contain `$ref` links to `test-common.yaml`.  In `test-common.yaml` I have both `responses` and `definitions` sections.  The `responses` have another layer of `$ref` to the `definitions` within the same file.  The

[2018-11-14 00:00] kimamula commented on #1410
@ackintosh Thanks for the quick fix!

[2018-11-14 02:18] #1423 closed

[2018-11-14 09:55] james-rantmedia commented on #1424
After doing some thinking I don't think the fix I suggested in the original issue is the correct way to solve this problem.

It attempts to fix a symptom, and not the cause. I think according to the spec, dates should always be represented as UTC (with the Z suffix), and so there shouldn't ever be a positive timezone adjustment.

I think the proper approach would be to change the date formatter us

[2018-11-14 11:30] bjgill opened #1441 "[html2] missing body/response schema documentation"
##### Description

I'm generating html2 documentation from modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml.

I've noticed that the html2 docs seem to be missing the body and response schemas. These were present when generated in swagger-codegen

New (openapi-generator): https://bgill.eu/openapi-generator/issues/new-html2.html#api-Default-htmlPost
Old (swagger-cod

[2018-11-14 11:47] demonfiddler commented on #1435
Looks like the regression occurred in commit 53597764c344fb45283891da2c4c60300c9db726
Author: Jeremie Bresson <dev@jmini.fr>
Date:   Tue Apr 17 09:19:10 2018 +0200
in which the code that hitherto preserved the body parameter name was commented out (lines 2593-2675, specifically line 2675 p.paramName = toParamName(bp.getName());). These lines are still present in the latest swagger-codegen version

[2018-11-14 12:08] james-rantmedia commented on #1424
Unfortunately `ISO8601DateFormatter` is a new API, and subclasses `Formatter` instead of `DateFormatter`, so it can't be used as a direct replacement in this case.

No propblem, we can just use the less concise way and specify the `DateFormatter`s used in the generated code to be 8601 compliant and use the desired date formatting.

[2018-11-14 13:40] renepardon commented on #570
https://github.com/OpenAPITools/openapi-generator/pull/1444

[2018-11-14 13:52] POD666 opened #1445 "[Python3] Binary decode fails"
##### Description

I'm using openapitools/openapi-generator-cli:v3.3.1 docker image to generate client from my swagger.yml

One of endpoints returns binary data and generated client fails with `UnicodeDecodeError`.

The problem is [here](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/rest.mustache#L213). I don't need response to be

[2018-11-14 14:06] james-rantmedia commented on #1424
I've submitted PR #1442 to address this issue. I've updated the issue title to reflect my later thoughts on the issue.

[2018-11-14 14:20] chattersley opened #1446 "[typescript-axios] Generating bearerAuth create Basic auth instead"
##### Description

Attempting to generate from an openapi definition with bearerAuth marked as the security schema. When it generates using axios-typescript it generates Basic auth security instead? It does generate a comment referencing Bearer auth but no code to add the header.

##### openapi-generator version

"@harmowatch/openapi-generator-cli": "0.0.3-3.3.2"

##### OpenAPI declaration file co

[2018-11-14 14:57] canaz opened #1448 "[spring] equals and hashCode for models with array type []"
##### Description

equals() and hashCode() are not generated correctly for generatorName _spring_ and library _spring-boot_.
It uses Objects.equals() to compare primitive arrays.

The same model generated with generatorName _java_ and library _resttemplate_ uses Arrays.equals(), which ist correct.

##### openapi-generator version

3.3.2

##### OpenAPI declaration file content or url
[code]

#####

[2018-11-14 15:11] advance512 commented on #1429
I just posted a $50 bounty on this at:
https://www.bountysource.com/issues/42152999-javascript-client-produces-a-wrong-object-for-a-string-enum-type-that-is-used-with-ref

It is for swagger-codegen, but I'll honor a fix here too. :)

[2018-11-14 15:28] alexcuesta opened #1449 "When yml file not found, returns parsing errors"
##### Description

When providing an non existing file to the generator, it returns parsing errors instead of a simple message saying "file not found".

It is confusing.

##### openapi-generator version

0.5.0

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

og unexistingfile.yml markdown

##### Steps to reproduce

Just run the command.

##### Related is

[2018-11-14 20:40] john3300 commented on #1437
Running this in a debugger it looks like the problem starts in `CodegenConfigurator` `toClientOptInput()` with the call to `OpenAPIParser().readLocation()`.  The resulting `SwaggerParseResult` contains the error message.

[2018-11-14 23:15] mmunz-nextdoor commented on #1302
So I was able to work around this by customizing 3 of the python templates to use relative imports, as follows.

__init__api.mustache
[code]

__init__model.mustache
[code]

__init__package.mustache
[code]

[2018-11-15 00:12] Kiran-Sivakumar commented on #865
Hi all, I have made a PR for Java okhttp-gson API client addressing the same issue of method signatures being too long and inflexible: https://github.com/OpenAPITools/openapi-generator/pull/1341

However, instead of "group parameters", my solution employs the builder pattern for API requests (https://github.com/OpenAPITools/openapi-generator/issues/1217)

Currently, the vendor extension is x-group

[2018-11-15 02:20] #1424 closed

[2018-11-15 11:12] andreyshade opened #1455 "[Swift4] Does generator generate error responses for requests?"
##### Description

When I tried to generate swift client for yaml file contains different types of responses.  For example:

[code]
It will generate only 200 response. How to generate another responses?

[2018-11-15 14:04] Sal0g opened #1456 "[SWIFT4] Value of type XX has no member 'map'"
##### Description

When using using Objc compatible code, the produced code is not valid in Swift 3/4.

Using openapi-generator Version 3.3.2

with the command:
[code]
and the config file api-generation-config.json:
[code]
and the yaml:
[code]

produces this code:
[code]

resulting in the error:
`    - ERROR | xcodebuild:  ModelA.swift: error: value of type 'Int64' has no member 'map'`

This occur

[2018-11-15 14:35] akehir opened #1458 "[java] [typescript-angular] Regression: No model for array of type file"
##### Description
We have an api, where the resource consumes in the post body an array of files. While I'm not sure if it's fully spec compliant, the swagger codegen generates workable code , but the openapi-generator does not find a model / schema, and uses the `UNKNOWN_BASE_TYPE`.

###### Generated Code from openapi-generator
[code]

###### Generated Code from swagger-generator
[code]
###### Ge

[2018-11-15 17:24] dusiema opened #1460 "(`value1` and `value2`) in parameters:description leads to error in Confluence"
##### Description

I have a value of
[code]
in one of my descriptions in a parameter. Copying the resulting confluence markup into Confluence (Version 6.8.2) leads to a server error.

In Confluence wiki it results to:
[code]

It works if I put a space after and before the parenthesis. Or if I escape the parenthesis.

##### openapi-generator version

3.3.2
##### OpenAPI declaration file content or

[2018-11-15 18:42] mbayou commented on #1446
Hi,

This issue exists for typescript-angular too.

[code]
And my generated code:

[code]

[2018-11-15 22:43] Clovisforyou commented on #1458
Hi,
I have the same problem in version 3.3.2. I'm going to check in what version this functionality works but in the swagger generator it works as mentioned above.
I've seen that @macjohnny added support for multipart in this MR https://github.com/swagger-api/swagger-codegen/pull/6574 in case it serves to fix this regression.

[2018-11-15 23:27] andys8 opened #1461 "[elm-client] Update http operations for elm/http 2.0.0"
[elm/http@2.0.0](https://package.elm-lang.org/packages/elm/http/2.0.0/) was released with a new api. There is a blog post talking about the new api: https://elm-lang.org/blog/working-with-files

The client has to be adapted for the new request type:

#### Current

https://github.com/OpenAPITools/openapi-generator/blob/b24b6df448878cd8eccae234644e5123785295b5/modules/openapi-generator/src/main/reso

[2018-11-16 02:33] wing328 opened #1462 "Announcement: Upcoming major release 4.0.x"
##### Description

The upcoming major release with breaking changes (4.0.x) is scheduled on Jan 31st. There will be no minor release before that and the last patch release 3.3.4 will be on Nov 29th. 4.0.0-beta will be released on Dec 20th.

For a list of breaking changes in 4.0.x, please refer to the [list](https://github.com/OpenAPITools/openapi-generator/pulls?utf8=%E2%9C%93&q=+is%3Apr+milestone

[2018-11-16 05:27] FutureGadget opened #1463 "ApiUtil class does not support UTF-8 response by default."
##### Description

ApiUtil class does not support UTF-8 response by default.

##### openapi-generator version

3.3.0

##### OpenAPI declaration file content or url

##### Command line used for generation

openapi-generator generate -i {filename} -g spring

##### Steps to reproduce

1. write a spec including utf-8 chars in the response example

2. generate spiring code using the command
`openapi-ge

[2018-11-16 06:32] advance512 commented on #1435
@jmini
Coule you handle this regression, fix it back?

[2018-11-16 09:11] wing328 commented on #1463
@FutureGadget thanks for reporting the issue. Can you file a PR so that we can review the change more easily?

Also please share the spec to reproduce the issue.

We do have test cases to cover double-byte characters but clearly it didn't catch the issue you mentioned so we probably need to update it to extend the coverage: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/open

[2018-11-16 10:19] mxinden opened #1465 "[elm] Process additionalProperties in parent alias when using composition (allOf)"
##### Description

This is a follow up to https://github.com/OpenAPITools/openapi-generator/issues/1140 and https://github.com/OpenAPITools/openapi-generator/pull/1262.

When I use the [allOf](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#composition-and-inheritance-polymorphism) keyword to compose `GettableAlert` based on `Alert`, the `Annotation` is not defined as a `D

[2018-11-16 10:19] akehir commented on #1458
@Clovisforyou : What's exactly your error / issue? The unknown model?

Did you try changing the signature of the .json for the api?
with the following:
[code]

The code is actually generated. However, in the Java code / mustache template, it appears that the incorrect code branch is selected.

This generates the following:
[code]

Looking at the mustache, this should be generated if the collection

[2018-11-16 11:31] r-alukhanov opened #1466 "[java] Combining "properties" and "additionalProperties" in one class generates broken Jackson mapping."
##### Description

If using both "properties" and "additionalProperties", the generated class extends HashMap and contains plain properties. Like this:
[code]

Such a class cannot be meaningfully deserialised using Jackson. Jackson puts all the fields as key/value pairs into the HashMap ignoring the plain fields. In provided example getA() would return "null", while get("a") contains the value.

#

[2018-11-16 11:32] VincentSurelle opened #1467 "[Typescript-Angular] modelFileSuffix change dots '.' to slashes '/'"
##### Description

I'm trying to generate `typescript-angular` api client with pet store sample.
I installed openapi-generator with Homebrew and got version 3.3.3.

When I try to generate with `modelFileSuffix='.model'` with `kebab-case` my dot is changed to a slash.
When I try to generate the same but with `camelCase`, it simply does not appear.

Here is a sample output :

![capture d ecran 2018-

[2018-11-16 11:48] r-alukhanov opened #1468 "[Java][Spring] Make generated API controller methods throwing Exception."
Spring allows general error handling based on exceptions. It requires the controller method throws plain Java exceptions. Generated API interface should not restrict this behavior. In other words the code

[code]

should become

[code]

One can make this feature configurable over the configuration parameter. For example in case of Maven plugin:

[code]

##### openapi-generator version

openapi-gen

[2018-11-16 14:33] smasala commented on #1253
@wing328 did this really make it into 3.3.3? The dock hub image generates wrong file names still but locally on master branch it is correct with the same spec.

[2018-11-16 17:16] Clovisforyou commented on #1458
I test you json and I have the same issue.
But my issue I guess is related but not exactly the same, you can check it in requestBodies PetMultipart
`{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "http://www.localhost:8080"
  } ],
  "info" : {
    "description" : "Sample test Pet API",
    "version" : "1.0.0",
    "title" : "Test Pet API",

[2018-11-16 17:53] wing328 opened #1473 "Enhancement to the C client generator"
##### Description

Below please find a list of pending enhancements to the C client generator:

- [ ] Change required cURL version to 7.58.0
- [ ] Fix authentication methods(either with a new #define or by only generating the correct code snippet)
- [ ] Allow multiple uses of the apiClient_t object
- [ ] Build as library
- [ ] Add build target "make install"
- [ ] Provide/Document an example how t

[2018-11-16 17:54] #226 closed

[2018-11-16 18:12] arshadkazmi42 opened #1474 "Broken link in README.md"
##### Description

The link to list of scripts under this cateogry
https://github.com/OpenAPITools/openapi-generator/blob/master/README.md#3---usage
is broken, its redirecting to 404 page.

##### Suggest a fix/enhancement

I think this should be pointed to samples directory here
https://github.com/OpenAPITools/openapi-generator/tree/master/samples

If someone can confirm this, I can create a PR fo

[2018-11-16 18:31] Clovisforyou commented on #1458
@akehir Well very strange, with content declared in line I didnt get an error and all work correctly. You are using 2.0 or 3.0 ?
[code]

[2018-11-16 23:50] ackintosh commented on #1474
@arshadkazmi42 Thanks for reporting this issue!

Correctly, the `"Here is a list of all scripts."` should point to https://github.com/OpenAPITools/openapi-generator/wiki/Samples-folder#scripts . 💡

[2018-11-17 01:24] AlwinGarside opened #1475 "[PHP] Invalid enum const names"
##### Description

When generating clients for the Bungie OpenAPI v2 spec, certain enum types with unnamed integer values result in invalid constant names, consisting only of integers.

What I mean, concretely, is that this:

[code]

results in this:

[code]
(note the `const 0 = 0;`)

For the complete spec file, check:
https://raw.githubusercontent.com/Bungie-net/api/master/openapi-2.json

##### o

[2018-11-17 03:08] arshadkazmi42 commented on #1474
Thank you for the correct URL.
I will create a PR for this in some time.

[2018-11-17 10:01] ackintosh commented on #1475
@Yogarine Thanks for reporting this issue!

The Ruby approach helps us to fix the issue. 👇
https://github.com/OpenAPITools/openapi-generator/blob/5b57eae5deb5a5583db089bfb6589542d8be76eb/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java#L421-L425

---

`toEnumVarName` of PHP generator is [here (AbstractPhpCodegen.java)](https://github.com/OpenAPITool

[2018-11-17 12:29] Yogarine commented on #1475
Actually, that's the approach I took in my attempted fix for Swagger Codegen:
https://github.com/swagger-api/swagger-codegen/compare/master...Yogarine:fix-php-enums#diff-0c6382fc2a23f96e761485e6ed6bbb9b

However instead of prefixing with an 'N' I just allow `escapeReservedWord()` to prefix the enum name with an underscore, which is also valid in PHP. Unfortunately that causes unintentional side ef

[2018-11-17 18:43] Yogarine opened #1480 "NullPointerException when generating Bungie.net OpenAPI spec"
##### Description

When trying to generate clients for the Bungie.net OpenAPI spec, I get a NullPointerException:
[code]
(I'll add a full `--verbose` log in a comment.)

##### openapi-generator version

3.3.4-SNAPSHOT (master @ c656194f22f9624ee861abe57964758ae7e7bd39)

##### OpenAPI declaration file content or url

[https://raw.githubusercontent.com/Bungie-net/api/master/openapi.json](https://raw

[2018-11-17 19:35] Yogarine commented on #1480
Found the issue. There is a tag at the end with an empty 'name' field:
[code]

Should we just want to ignore the empty name?

[2018-11-18 01:20] #1474 closed

[2018-11-18 02:41] ackintosh commented on #1475
Looks good idea as that naming rule which based on enum class name is descriptive. 💡

But unfortunately I think implementing that naming rule is a bit difficult as we couldn't find the enum class name in the [`toEnumVarName`](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java#L668) scope.

[2018-11-18 03:25] wing328 commented on #1475
I agree with @ackintosh that we should go with the `x-enum-varnames` approach if the user wants full control.

[2018-11-18 04:38] #1272 closed

[2018-11-18 16:12] mandrean opened #1488 "[rust client] Generated README auth section is for Go, not Rust"
##### Description

When generating a Rust client from a given API spec that uses authentication (e.g. Basic Auth or API Key), the auth section in the generated README contains a code example for Go, not rust:

![image](https://user-images.githubusercontent.com/4631744/48675070-76571980-eb54-11e8-873c-af3fbe0854f9.png)

##### openapi-generator version

Tried both the latest stable release, and the

[2018-11-18 18:47] Clovisforyou commented on #1458
The problems that I have detected with this are:
1. When I declare in yml / json multipart in requestBodies and use it referenced
UNKNOWN_BASE_TYPE appears like in my first comment.
2. If you declare the multipart inline everything is generated correctly but the problem of
TypeError: files.join is not a function appears like @akehir says.
[code]

[2018-11-19 03:30] anilj1 opened #1490 "API does not have a return value. but API spec has"
##### Generated API does not return the HTTP response code.
As shown below, the API specification has responses 200 and 400; however, when the addTeam() API is generated, it is generated with the return type 'void'.

I want to handle the response code 200 and/or 400. Does it mean I have explicitly, define the payload type in the response specification? Can someone please provide more details on ho

[2018-11-19 06:30] renepardon commented on #570
https://github.com/OpenAPITools/openapi-generator/pull/1451

[2018-11-19 08:45] wing328 opened #1493 "Travis CI failure due to Dart 2.1"
##### Description

Travis CI failure due to installation of Dart 2.1 (released last week)
[code]

Full log: https://travis-ci.org/OpenAPITools/openapi-generator/builds/455965775

The failure is caused by testing `samples/client/petstore/dart2/petstore/` with Dart 2.1

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

The test for Dart2PetstoreClientTests has been com

[2018-11-19 09:18] wing328 commented on #1302
@mmunz-nextdoor thanks for sharing the workaround. Do you mind submitting a PR so that we can review the change more easily?

[2018-11-19 10:10] akehir commented on #1458
@anthowm:

I'm using swagger / openapi 2.0:
[code]

[2018-11-19 11:31] macjohnny commented on #1458
@akehir I agree that this is a bug, and should be fixed. Do you have time to implement a fix?

[2018-11-19 15:06] ackintosh commented on #1449
Thanks for reporting this issue!

Your suggestion looks good. 👍 I'll working on the fix.

[2018-11-19 17:23] john3300 commented on #1437
This issue is actually resolved by https://github.com/swagger-api/swagger-parser/pull/921.  Hopefully the new version of swagger-parser that contains this fix will be picked up by openapi-generator as soon as it's available.

[2018-11-19 21:58] fuzzzerd opened #1498 "///reference is defined before //tslint:disable which causes linting error"
##### Description

In generated .ts file; the `///reference` is included above the `//tslint:disable`. Using the latest tslint configuration generates this error:

    <reference> is not allowed, use imports

##### openapi-generator version

3.3.3

##### Command line used for generation

typescript-fetch

##### Steps to reproduce

Run generator for typescript-fetch and view output .ts file:

[code

[2018-11-20 04:52] danikarik opened #1500 "[Go] Response unmarshalling error"
##### Description

Problem with decoding response body to struct. Decode methods of generated `client.go` expects `interface{}`, but api methods pass string pointer. As as result decode function returns `json: cannot unmarshal object into Go value of type string`.

##### openapi-generator version

3.3.3

##### OpenAPI declaration file content or url

[openapi.yaml](https://raw.githubusercontent.co

[2018-11-20 06:29] wing328 commented on #1488
@mandrean thanks for reporting the issue. May I know if you've time to contribute a fix to the auto-generated doc?

cc @frol (2017/07) @farcaller (2017/08) @bjgill (2017/12)

[2018-11-20 06:34] wing328 commented on #1467
@VincentSurelle thanks for reporting the issue. My guess is that convertUsingFileNamingConvention is converting dot to slash.

Was it working for you before the commit https://github.com/OpenAPITools/openapi-generator/commit/73162cbcca6b1c3c086e2a764dac9c753ed87a0f ?

cc @smasala

[2018-11-20 06:38] wing328 commented on #1460
I'm no expert in Confluence. If the description is simply `(something here)`, do we need to insert space after and before the parenthesis?

[2018-11-20 06:39] wing328 commented on #1456
@Sal0g thanks for reporting the issue. Is it correct to say that it works fine with `Int32` but not `Int64` for Integer type?

[2018-11-20 06:41] wing328 commented on #1445
@POD666 thanks for reporting the issue. Do you mind filing a PR with the suggested fix so that we can review more easily?

[2018-11-20 06:43] wing328 commented on #1455
Is it correct to say that these error descriptions are included in the HTTP response body? If yes, then I think the exception should probably contain the "description" (at least that's how we do it in Ruby, PHP, C#, etc client)

[2018-11-20 06:45] wing328 commented on #1448
Do you mean using `Arrays.equals()` is correct?

[2018-11-20 06:52] wing328 commented on #1435
That's the correct approach at the moment as there's no "body" parameter in OpenAPI spec 3.0 any more.

[2018-11-20 06:54] wing328 commented on #1389
@Ohadbasan I think it's more of an issue with the Swagger Parser. I would suggest open an issue with the Swagger Parser repo instead.

[2018-11-20 06:56] wing328 commented on #1386
What about customizing the output with `projectName`?

Ref: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/javascript.md

[2018-11-20 06:58] wing328 commented on #1385
@adrianiacobghiula thanks for the suggestion. Would you please file a PR with the suggestion so that we can review it more easily?

[2018-11-20 07:08] wing328 commented on #1347
@balzmo `"nullApi` is definitely less than ideal. What about naming it as "DefaultApi" for the time being?

[2018-11-20 07:35] mandrean commented on #1488
@wing328, yeah sure! I’ll look into it.

[2018-11-20 09:00] Ohadbasan commented on #1386
Exactly what I needed. thank you

there were no generator specific links from the openapi-generator README.md so I could not find them. maybe it's worth considering adding them.
I also don't see where the "config options" feature is documented (how to use that)

thanks!

[2018-11-20 09:01] #1386 closed

[2018-11-20 09:21] Ohadbasan commented on #1389
I will do that.
thank you!

[2018-11-20 09:21] #1389 closed

[2018-11-20 10:30] rasmusfaber opened #1501 "Skip maven code generation if source file is unchanged"
##### Description

When using the Maven task the generator always runs, even if the source file is unchanged.

It would be nice to skip the generation, if there have been no changes.

##### openapi-generator version

3.3.3 / 3.3.4-SNAPSHOT

##### Steps to reproduce

Run maven compile twice in a row, notice that the generator always run, even if there have been no changes.

##### Suggest a fix/enha

[2018-11-20 12:24] andys8 opened #1503 "[elm] Question is UUID referenced but not generated?"
I'm not sure about this issue, so I'll raise it in form of a question.

The elm client generation creates data types like this (shortened).

[code]

but there is no `Data.UUID` file.

There is also no dependency in the `elm.json` template:
https://github.com/OpenAPITools/openapi-generator/blob/b24b6df448878cd8eccae234644e5123785295b5/modules/openapi-generator/src/main/resources/elm/elm.mustache

#

[2018-11-20 13:41] bjgill opened #1505 "[rust-server] Using old version of hyper"
##### Description

rust-server uses hyper v0.11. We should upgrade to the more recent [v0.12](https://seanmonstar.com/post/174480374517/hyper-v012)

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

See https://github.com/Metaswitch/vault-client/pull/6 for an example of someone

[2018-11-20 14:56] d0x opened #1506 "[typescript-angular] outdated zone.js@^0.7.6 peer dependency"
##### Description

Using the generated client for a new angular 6 application will lead into this warning:
[code]

##### openapi-generator version

3.3.3

##### Command line used for generation

[code]

##### Suggest a fix/enhancement

I tried the generated client using Zone.js 0.8.26 and so far everything works fine. But I don't know the internals of it and when zone.js is really used. So I can't

[2018-11-20 15:36] akehir commented on #1458
@macjohnny : If it was just updating the generated client code I'd have made a PR.

The problem is, that I suspect that an incorrect condition is set in the codegen .jar itself. Below, you see the relevant template code. Generated is what's in `{{^isCollectionFormatMulti}}`, whereas I'd expect `{{#isCollectionFormatMulti}}` code to be run:

[code]

[2018-11-20 16:45] Amoki opened #1507 "[Python] AttributeError: 'UUID' object has no attribute 'openapi_types'"
##### Description
[code]

##### openapi-generator version
3.3.3

##### OpenAPI declaration file content or url
https://api-staging.bimdata.io/doc.json
or
https://api-staging.bimdata.io/doc.yaml

##### Command line used for generation
java -jar /tmp/openapi-generator.jar generate -i /tmp/openapi.json -g python -o /tmp/python-lib

##### Steps to reproduce
When serializing response to https://api-sta

[2018-11-20 17:54] yperess opened #1509 "Generating typescript-node code uses incorrect type"
##### Description

Generating typescript-node code uses `http.ClientResponse` type which was removed in node 10, it should now be `http.IncomingMessage`.

##### openapi-generator version

3.3.3

##### Command line used for generation

java -jar ../openapi-generator-cli.jar generate -i api/openapi.yml -l typescript-node -o build/gen/swagger

##### Suggest a fix/enhancement

Fix the template (I'm so

[2018-11-20 18:30] anilj1 commented on #1490
Can someone please comment on this?

[2018-11-20 20:46] trenneman commented on #1461
@andys8 can you give the PR a try? I slightly changed the API to prepare it for future additions.

[2018-11-20 20:52] demonfiddler commented on #1435
Although... this issue refers to OpenAPI 2.0, where you would expect the body parameter name to be preserved without having to resort to extension properties.

[2018-11-20 21:11] trenneman commented on #1503
`Data.UUID` suggests it is a generated type. Can you provide a minimal working YAML?

[2018-11-21 03:14] wing328 commented on #1462
## Why
As the code base was first created back in 2011, we want to gradually refactor the code base to make it more maintainable as we add more and more features to the project.

## What
We will refactor the base classes (e.g. DefaultCodegen.java, DefaultGenerator.java, CodegenModel, etc) and generators (e.g. GoClientCodegen.java). These changes will not be considered as breaking changes, which ar

[2018-11-21 10:34] Sal0g commented on #1456
Yes, it seems that `Int32` in the yaml definition is getting translated into `Int/Int?` whereas `Int64` gets translated into `Int64` in the generated Swift code.

[2018-11-21 10:41] wing328 commented on #1506
Thanks for testing the upgrade locally and checking to see if there's any compatibility notes. I would recommend submitting a PR to see if the CI catches any issue with the upgrade.

[2018-11-21 11:03] wing328 commented on #1507
@Amoki thanks for reporting the issue. I used https://apidevtools.org/swagger-parser/online/ to valid the spec and got some errors. Not sure if it's related to the exception you got but I think worth fixing these errors.

[2018-11-21 11:11] mxinden commented on #1465
@wing328 @trenneman would you mind taking a look at this?

[2018-11-21 14:59] d0x commented on #1506
Ok, i can do that.

[2018-11-21 15:13] trenneman commented on #1465
@wing328 Am I correct to say this is a general issue? I'd actually prefer to have the alias `LabelSet` here which makes it much easier to read IMHO.

[2018-11-21 15:33] macjohnny commented on #1458
@akehir thanks for the analysis. Maybe @wing328 or @jmini can help out here? I guess they know best about openapi 2.0 vs 3.0

[2018-11-21 16:02] fuzzzerd commented on #1498
@wing328 I'd love to take a stab at it, and I'm confident I could adjust the template files to work correctly, but I don't work with java or maven so it will take time to get a local environment working to validate the changes.

[2018-11-21 19:29] trenneman commented on #1503
Thanks, @andys8. I was able to replicate the error. Please see the PR for the fix.

[2018-11-21 19:49] tcjcodes commented on #1170
Having the same problem for Java code generation, using:
`org.openapitools:openapi-generator-gradle-plugin:3.3.2`

[code]

Also tried pattern `'/[0-9]{10,11}/'`

[2018-11-21 20:55] Raznic opened #1517 "Python client code improperly escaping regex strings"
##### Description

I've got a web server running Django + REST Framework that I am trying to generate Python client code for. One of my Serializers defines a RegexField that includes `\d` as a part of the regular expression. The generator appears to be escaping these characters in the generated client code.

Serializer regex: `r'^\d$'`
Actual Python client code: `re.search(r'^\\d$', value)`
Expect

[2018-11-21 21:39] Raznic commented on #1517
After a little more testing, it appears the problem is not just limited to `\d`. Any backslash character in the regex string is getting escaped.

[2018-11-21 21:52] jaumard opened #1518 "Protobug support ?"
Is there any protobuf support ? Or any plan for it ? Would love to see that append :)

[2018-11-22 05:23] maheshcamath opened #1519 "Swagger generated Java Client doesn't have overloaded calls, even though the query parameter is marked as optional"
I'm introducing an **optional**  "query parameter" (**with default value**) for one of my API endpoint ( i.e. /foo2) but hoping that existing API consumers don't have to make any changes in their application when they regenerate the java client stub from the new swagger file.

I was expecting that the generated java client will offer overloaded methods, to operate with and without a method paramet

[2018-11-22 06:20] maheshcamath commented on #1519
My apologies for posting it here. I've re-posted into the **swagger-codegen** instead.

[2018-11-22 06:20] #1519 closed

[2018-11-22 06:50] canaz commented on #1448
Yes.
_array1. equals(array2)_ will be true only if they are the same instances (referencing same object)

_Arrays. equals(array1, array2)_ will be true if each elements are equal (element1.equals(element2) is true) at same indexes. This method will not compare the nested arrays' elements.

_Arrays. deepEquals(array1, array2)_: same as _Array.equals()_ but will also check nested arrays recursively.

[2018-11-22 07:09] wing328 commented on #1448
Thanks for the clarification. Do you mind filing a PR by copying the fix from `resttempalte` template?

[2018-11-22 08:14] nicokoenig commented on #1498
@fuzzzerd Should I provide a fix for the issue or did you already setup your local environment?

[2018-11-22 08:52] meganemura opened #1520 "[ruby] Generated client has a syntax-error"
##### Description

As I described in https://github.com/OpenAPITools/openapi-generator/pull/1482#issuecomment-439669221,

I found that the generated ruby-client for OpenAPI 2.0 has a syntax-error.

[code]

https://github.com/OpenAPITools/openapi-generator/blob/9be5b9926694f929c450040312d7b90fde625b0d/samples/client/petstore/ruby/lib/petstore/models/format_test.rb#L198
https://github.com/OpenAPIToo

[2018-11-22 11:14] carlos-mg89 commented on #1095
I'm getting the `java.lang.IllegalArgumentException: missing discriminator field` error when I run the code of my client (java gson). So I was able to generate the client apparently without issues.

I'm not sure on how to grasp on which line is the error(s). Any help here?

[2018-11-22 11:31] wing328 commented on #1095
@carlos-mg89 please share the spec to reproduce the issue.

[2018-11-22 13:13] mbayou commented on #1205
Hi,

Tested with the 3.3.3 and still not working.

Best

[2018-11-22 14:01] rubms opened #1524 "[csharp] useDateTimeOffset is ignored and datetimes are always generated as "DateTime?""
##### Description

The `useDateTimeOffset` configuration property is ignored and datetimes are always generated as `DateTime?`. The expected behavior is to get `DateTimeOffset?` when  `useDateTimeOffset=true` and  `DateTime?` when  `useDateTimeOffset=false`.

This happens for both: operation parameters and object properties.

##### openapi-generator version

Error reproduced with openapi generator

[2018-11-22 14:08] canaz commented on #1448
I am not allowed  to open a new branch, but in fact it will be the same change as https://github.com/swagger-api/swagger-codegen/pull/7341/files/450e72180522c0ad09ae6e28e277dabc348cae78
but for the JavaSpring model

[2018-11-22 15:46] advance512 commented on #1435
Sadly, this makes OpenAPI Generator much harder to use for OpenAPI 2.0 and JavaScript clients, and it loses lots of information that assists in development - like parameter naming.

Can we fix this regression?

BTW, I placed a bounty on this regression:
https://www.bountysource.com/issues/66124155-javascript-parameters-naming-in-functions-documentation-and-file-name-is-wrong

[2018-11-22 16:18] ccozzolino opened #1525 "[JAVA][Server] Generated model classes are missing default values"
##### Description

Certain java server model classes do not properly declare default values for certain fields. For example, here is the beginning of Pet.java from the samples directory (pulled from `undertow`, `vertx-async`, `vertx-rx`). Note the missing default value for the `id`, `name`, and `status` fields:

[code]

##### openapi-generator version

This appears to be a regression since 3.3.1.

[2018-11-22 16:37] wing328 commented on #1435
I agree that's the ideal case done by the Swagger Parsers to prevent information loss.

[2018-11-22 19:58] trenneman commented on #1378
Thanks for your report @Stealthmate. `List_` is indeed a bug as nested Lists/Dicts were not yet supported. See the PR for a fix for both.

[2018-11-22 20:11] joeboyscout04 opened #1529 "[Swift] Safer handling of enums"
##### Description
There are [known issues](https://blog.novatec-gmbh.de/the-problems-with-swagger/) around how Swagger handles enums.  In Swift, if we attempt to parse an enum that doesn't exist, then it will fail.  This is problematic when for example, there is an enum of states, and then more states get added in future versions of the API.  The older Swagger clients will break instead of just ig

[2018-11-22 22:16] demonfiddler commented on #1435
@advance512 I'd like to point out that optional parameters are placed in an object parameter named 'opts'. This is by design and although I don't particularly like the pattern, we need to preserve it otherwise it will break all the clients that have been generated to date. For this reason any change to this pattern would need to be enabled by a new configuration parameter that is off by default.

[2018-11-23 00:55] dpweberza opened #1530 "Issue loading template from custom generator due to classloader used"
##### Description
I am running into an issue whereby the generator cannot load my custom generator's template when using the gradle plugin.

I believe the issue is due to the fact that the custom generator is loaded via a class-loader different to the one used below:

https://github.com/OpenAPITools/openapi-generator/blob/5aa1da7c2edb5d0a9552b95fd0f2598a538ea3f6/modules/openapi-generator/src/main/

[2018-11-23 08:33] rubms opened #1531 "[csharp] Generated enumerations as query parameters not compiling"
##### Description

When specifying query parameters as enumerations, the autogenerated code uses the enumeration type, instead of making it `Nullable`. This C# code fails compile when those query parameters are assigned `null` because C# enumerations are not nullable (they are not objects, as Java enumerations).

The expected behavior is to generate nullable enumerations: `EnumClass? varName`.

##

[2018-11-23 12:14] bocse commented on #1379
A fix or workaround for this issue would be really helpful. Please advise.

[2018-11-23 13:44] wing328 commented on #391
I did another test with #1296 and no longer got the empty struct:
[code]

[2018-11-23 13:44] etherealjoy commented on #391
Nice.

[2018-11-23 14:40] wing328 commented on #391
Just pushed an update and I now get this:
[code]

[2018-11-23 14:43] etherealjoy commented on #391
I compiled it successfully.

[2018-11-23 14:51] fuzzzerd commented on #1498
@nicokoenig I have not had a chance to work on this, realistically it will be a week or two until I have time to try this out.

[2018-11-23 15:03] #1378 closed

[2018-11-23 15:04] #1461 closed

[2018-11-23 17:42] Stealthmate commented on #1378
@trenneman Thank you! I'll take a look!

[2018-11-23 17:46] someone1 opened #1535 "[typescript-fetch] (4.0.X) Missing queryParameters initialization"
##### Description

Testing out the updated generator from PR #569 and I noticed an issue where I have multiple authentication requirements for an API endpoint (logical AND - both required) for an API key via query parameter and via an Authorization header. The generated code places both in correctly, however, for endpoints where I otherwise have no other query parameters (e.g. the authentication m

[2018-11-23 22:35] jimschubert commented on #1530
@dpweberza I've tried to reproduce the issue, and I was unable to repro on the current release (3.3.3), although classloaders don't seem to have changed.

I have my example here: https://github.com/jimschubert/custom-generator-example

Can you check the example repro and see if it also occurs for you? If so, can you provide the gradle version you've tested on so I can also check if it's a gradle i

[2018-11-24 08:42] #1506 closed

[2018-11-24 08:42] #1432 closed

[2018-11-24 09:05] #1429 closed

[2018-11-24 10:08] etherealjoy commented on #1379
@bocse
This is not related to #1251

See the return type here is reference to the vector.
[code]
Once you get the reference to the vector you can clear it and  push_back elements into it.
So this is not an issue but rather it is like this by design.
Please check it and confirm if it works for you.

[2018-11-24 15:40] wing328 commented on #1465
@trenneman yup, it should be fixed by #1296

[2018-11-24 15:43] #945 closed

[2018-11-25 12:41] advance512 commented on #1435
@demonfiddler

1. As you can see by looking above, these parameters are NOT optional - they are required. Please have another look:
[code]

2. This is not a pattern that is to be preserved - this is a regression from a pattern that existed before, which was both right *and* should be preserved. This pattern was

This regression is, in fact, breaking the usage of existing clients.

[code]

Swagger-

[2018-11-25 12:45] advance512 commented on #1435
@wing328

As OpenAPI-Generator is supposed to support OpenAPI v2, do you think someone could look into this? We'd love to begin using this project, but right now - we are blocked from doing so..

[2018-11-25 19:02] demonfiddler commented on #1435
@advance512 oh... my apologies then, I misunderstood the point you were making. I hadn't realised you're saying that required params are ending up in opts. That is definitely wrong. We are still using swagger-codegen for JavaScript (to which I have contributed in the past) and much as I'l like to migrate to OpenAPI Generator (which we _are_ using for JAX-RS/CXF, and to which I have a pending contr

[2018-11-25 21:43] dpweberza commented on #1530
Hey @jimschubert
Thanks for your example, it helped me narrow down the issue.
Your repo worked as is and with my generator artifact.

Seems the issue was in my consumer where I still had a buildSrc for a different generator.
As soon as I deleted that buildSrc dir everything worked as is.

Not sure exactly what issue that was causing for the classloader to fail to find my mustache templates yet suc

[2018-11-25 21:43] #1530 closed

[2018-11-26 08:14] macjohnny commented on #1535
@someone1 thanks for reporting. would you like to give it a try and fix the code?

[2018-11-26 08:54] rubms commented on #1524
Created the https://github.com/OpenAPITools/openapi-generator/pull/1544 pull request that fixes the error.

[2018-11-26 11:46] andreyshade commented on #1455
No, I mean about generated client code which include only handling 200 response only

[2018-11-26 12:31] advance512 commented on #1435
@demonfiddler No worries. And I am glad you also see it as imperative to fix.

@jmini Any chance to get your inputs on this?

[2018-11-26 14:01] #391 closed

[2018-11-26 14:48] jimschubert commented on #1530
Do you have a minimal example of what you were doing in buildSrc? I can see if I can track down exactly what caused it.

[2018-11-26 14:49] macjohnny commented on #1529
cc @d-date

[2018-11-26 15:05] etherealjoy commented on #397
solved with #1296

[2018-11-26 15:05] #397 closed

[2018-11-26 15:07] etherealjoy commented on #922
solved with #1296

[2018-11-26 15:08] someone1 commented on #1535
I wouldn't mind but I honestly don't know how this tool is designed and am not sure if the fix I proposed would even be the right approach. If the code to parse and set the template variables is shared between all generators, then wouldn't making this change affect all implementations?

I honestly don't know when I'd get the time to try and tackle this, let alone setup my local dev environment for

[2018-11-26 17:06] someone1 commented on #1535
Actually, an alternative and easier approach might be to modify the mustache template to treat `queryParameters` like `headerParameters` in that it's always assumed to be required (there is no conditional surrounding the inclusion of `headerParameters`).

This is a fix I can implement fairly quickly.

[2018-11-26 20:55] someone1 opened #1546 "[typescript-fetch] (4.0.X) Model parameter uses string type when format: date"
##### Description

The typescript-fetch generator defines models with type: string/format: date as type string, but serializes/deserializes the value as a Date

##### openapi-generator version

openapi-generator-cli-4.0.0-20181126.024631-44

##### OpenAPI declaration file content or url

[code]
Generated Code (excerpt):

[code]

##### Command line used for generation

openapi-generator generate -i

[2018-11-26 22:03] someone1 opened #1547 "[typescript-fetch] (4.0.X) Missing required parameter in <Model>FromJSON"
##### Description
When there is a composition of multiple models, the generated typescript code does not add the required parameters of the extended type in the generated `FromJSON` function.

##### openapi-generator version
openapi-generator-cli-4.0.0-20181126.024631-44

##### OpenAPI declaration file content or url
[code]

Generated Code (excerpt):

[code]

Compiler throws an error since its mis

[2018-11-26 22:20] someone1 commented on #1547
I think this can also extend to the `ToJSON` generated function. All variables are not added to the returned JSON and no attention is given to `readOnly` variables. I think switching to the `allVars` template  variable makes sense for both functions and adding functionality for `readOnly` parameters can be added in the process.

[2018-11-27 07:55] rubms opened #1551 "[spring] Invalid default values for arrays and maps on API method declarations"
##### Description

When parameters of type array are added to an operation, the generated `Spring` code includes an invalid `defaultValue` in the Spring MVC parameter annotations. For instance, an array of strings query parameter would generate a Spring code like the following:
[code]

That generated `defaultValue` is invalid: the Spring MVC application will throw an error when a request is perfor

[2018-11-27 08:22] wing328 opened #1553 "Add a Duke Script generator"
##### Description

As discussed with @dukescript, he's happy to add the Duke Script generator to the OpenAPI Generator project: https://github.com/dukescript/dukescript-swagger-codegen

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to let us know.

[2018-11-27 12:42] macjohnny commented on #1547
cc @Place1

[2018-11-27 12:42] macjohnny commented on #1546
cc @Place1

[2018-11-27 14:19] #1503 closed

[2018-11-27 14:26] gr423 opened #1557 "Interfaces are not getting generated for the Model classes"
[code]

[code]

[2018-11-27 16:45] zhemant opened #1559 "Support for enum variable incase of reusable enum class"
##### Description

When an enum is defined as schema it generates new model which can be reused. But when the variable of this class is defined at other places they are treated as nonprimitivetype and isEnum is false hence they can't be handled as enum variables.

##### openapi-generator version

openapi-generator v3.3.3

##### OpenAPI declaration file content or url

test yaml spec:
https://haste

[2018-11-27 17:39] POD666 commented on #1445
Probably we should remove attempt to decode data at all as it's [saved as binary](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/api_client.mustache#L548) any way.

[2018-11-27 21:26] someone1 opened #1561 "[typescript-fetch] (4.0.X) format: date parameters should not include time component"
##### Description

Currently, when a request is generated via the typescript-fetch client, type: string/format:date parameters include a time component when it should not.

##### openapi-generator version

openapi-generator-cli-4.0.0-20181126.024631-44

##### OpenAPI declaration file content or url

[code]

Output:

[code]
##### Command line used for generation

openapi-generator generate -i opena

[2018-11-27 22:16] scott-lin opened #1562 "[csharp] Multiple response types not supported"
##### Description

When multiple responses are present in a v3 OpenAPI document with differing types, only the first one is respected when C# client SDK is generated.

##### openapi-generator version

`3.3.3`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`openapi-generator generate -g csharp -i .\openapi.json -o .\output`

##### Related issues/PRs

[2018-11-28 00:03] someone1 opened #1563 "[typescript-fetch] (4.0.X) unioned types incorrectly deserialized"
##### Description

The generated deserializer for unioned types incorrectly inlines the unioned types

##### openapi-generator version

openapi-generator-cli-4.0.0-20181126.024631-44

##### OpenAPI declaration file content or url

[code]

Generated Code (excerpt):

[code]

Example response (notice no `"Paging"` key):
[code]
##### Command line used for generation

openapi-generator generate -i open

[2018-11-28 03:51] wing328 commented on #1305
Closed via https://github.com/OpenAPITools/openapi-generator/pull/1364

[2018-11-28 03:51] #1305 closed

[2018-11-28 05:14] someone1 commented on #1563
Related to https://github.com/OpenAPITools/openapi-generator/pull/1360 though my spec is v2 not v3, looks like the code is shared between the two anyway.

[2018-11-28 08:40] #1520 closed

[2018-11-28 08:50] #1449 closed

[2018-11-28 08:57] ackintosh commented on #1449
@alexcuesta  The PR which adds the error message has been merged. ✨ Please give it a try with latest master.

[2018-11-28 09:53] #1217 closed

[2018-11-28 11:45] tsiq-karold commented on #1374
Hi @wing328, now that #1338 is in, can we discuss this issue again please?

[2018-11-28 13:03] mxinden commented on #1465
This is fixed with #1296! Thanks a lot for the help @wing328 and @trenneman.

Fix further downstream in Alertmanager: https://github.com/prometheus/alertmanager/pull/1640.

[2018-11-28 13:03] #1465 closed

[2018-11-28 13:29] CyrilleBenard commented on #922
Agree @etherealjoy
Current master (3.3.4) solved this issue. :+1:

[2018-11-28 13:29] #922 closed

[2018-11-28 21:18] adamdecaf commented on #8
I figured out my problem. It was missing `components.schemas` for a `components.requestBodies`.

https://github.com/moov-io/api/pull/43 was the fix for my project

[2018-11-28 21:18] adamdecaf commented on #1112
I figured out my problem. It was missing `components.schemas` for a `components.requestBodies`.

https://github.com/moov-io/api/pull/43 was the fix for my project

[2018-11-28 23:47] someone1 opened #1565 "[typescript-fetch] (4.0.X) enums in API generator template missing"
##### Description

The model mustache template takes into account enums, the api template does not and incorrectly sets the datatype to the enum values.

##### openapi-generator version

openapi-generator-cli-4.0.0-20181126.024631-44

##### OpenAPI declaration file content or url
[code]

Generated code (excerpt):
[code]

##### Command line used for generation

openapi-generator generate -i openapi

[2018-11-28 23:55] jmalin-signalfx opened #1566 "4.0.x html template doesn't load header parameters"
##### Description

The `index.mustache` template for v4 `openapi-generator` in
`openapi-generator/modules/openapi-generator/src/main/resources/htmlDocs`
doesn't load header parameters for a request or a response.

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

https://gist.github.com/jmalin-signalfx/4ac72d4e651608da8f36c1b5ba856d3b

##### Command li

[2018-11-29 07:10] wing328 opened #1567 "[OpenAPI Generator Online] requests for server code generation return https://localhost"
##### Description
Example:
[code]
http://localhost is used instead of `http://api.openapi-generator.tech` specifed in the environment variable.

[code]

Ref: https://github.com/Mermade/openapi-gui/issues/36#issuecomment-442722796

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

A good starting point is to look at how `/api/gen/clients/ruby` process the request and

[2018-11-29 09:04] kkrhdd opened #1568 "Jaxrs-cxf generator generated code is not supporting different success codes"
##### Description

When we have defined 201 status code for POST success response. The interface is generated with return type mentioned in the response but always sends 200 status code instead of 201.

##### openapi-generator version

org.openapitools:openapi-generator-maven-plugin:3.3.1

##### OpenAPI declaration file content or url

post:
summary: Create a pet
operationId: createPets
tags:
- pe

[2018-11-29 09:52] wing328 commented on #1567
Workaround: replace `http://localhost:8080` with `http://api.openapi-generator.tech` in the URL when downloading the source code

[2018-11-29 12:49] 666Ben opened #1570 "[Typescript] [Angular] api client method call not receiving the intended response header"
##### Description

I am working on an Angular 6 project using an api client library. When calling a create method in this api library I don't receive the intended response header. My code:

[code]
The intended project is successfully created and on the console I get the following output through
`res => console.log('create success', res),`
See at: [response in angular](https://i.stack.imgur.com/pqi

[2018-11-29 14:29] Sal0g opened #1571 "[SWIFT4] Objective C compatibility"
Currently the generator (**v3.3.3**) produces Swift 4.2 code that is not directly useable in Mixed **Swift/Objective C** projects even though the config files contains:

`"objcCompatible":"true",`

- Currently the generator produces `Struct` objects which are not accessible in **Objective C**. It would instead produces `@objc public class CLASSNAME: NSObject, Codable { ... }`
- everywhere where `p

[2018-11-29 14:33] CyrilleBenard opened #1572 "[C++][Pistache-server] Object containing an Array - model file (.h) is not included and generated code is wrong - Compilation failed"
##### Description

When the YAML file describes the use of an array inside an object there are two issues :

- One model file is not included (whereas it as been well generated)
In the current example see the lack of #include "EpsBearerId.h" inside the file AssignEbi.h

- The generated code below is wrong because the ::push_back method can't handle an json object

[code]

It should generate someth

[2018-11-29 15:17] tomvangreen commented on #1467
I'm having a similar issue. I'm using the model file suffix `.vm` and the generated filename is `model_vm.ts` instead of `model.vm.ts`. I think this might be related.

[2018-11-29 16:35] CyrilleBenard opened #1574 "[General generator] Use Swagger-UI client to test server stubs"
##### Description

This is almost an improvement request that deals with the use of Swagger-UI.

I started to use Swagger-UI to check my server part (generated with openapi-generator) and I must say that it is really convenient to get the client part from the same OpenApi file without any code to write. It shows immediately the REST interface (from the client point of view) and allow the tester to

[2018-11-29 22:53] Kiran-Sivakumar opened #1575 "[Java][okhttp-gson] Bug when performing OAuth token retry"
##### Description

Users of okhttp-gson client SDKs now have the option to set up their ApiClient for automatic authentication / OAuth token retry. When an old OAuth token expires, a retrying Interceptor in RetryingOAuth.java is meant to refresh the token after receiving a 401. However, it does not do this if an overriding authorization header is already provided. In the original OAuth.java (which

[2018-11-30 03:14] vmorris opened #1577 "[python] bearerAuth always type basic"
##### Description

Defining security component like
[code]

When I generate a python client, the API configuration code only allows for `type: basic`.

In configuration.py:
[code]

##### openapi-generator version
3.3.3

[2018-11-30 03:15] vmorris commented on #1577
Does #1207 address this?

[2018-11-30 06:31] macjohnny commented on #1570
@666Ben this does not seem to be an issue of the angular codegen, but of the ussage of the angular http client itself. The `Location` response header indicates that the request should continue to the url given, so your response is just an intermediate result and thus not considered the final response.
you could try
[code]
See https://angular.io/api/common/http/HttpHeaderResponse

[2018-11-30 09:06] wing328 commented on #1566
@jmalin-signalfx thanks for reporting the issue. I've filed #1579 to fix it (there's a similar issue in the `cwiki` template as well)

[2018-11-30 09:09] wing328 commented on #1571
@Sal0g thanks for reporting the issue. May I know if you've time to contribute the fix? We can work with you on the PR.

cc @jgavris (2017/07) @ehyche (2017/08) @Edubits (2017/09) @jaz-ah (2017/09) @d-date (2018/03)

[2018-11-30 09:46] Sal0g commented on #1571
I do have a little bit of time that I can offer, but I don't have deep knowledge about the inner workings of the generator. Is it only adapting a few mustaches? If you point me into the right direction I can maybe patch it.

[2018-11-30 10:36] wing328 commented on #1571
To add `@objc` in the output when the option `objcCompatible` is set, you can do the following:
[code]

Ref: https://github.com/OpenAPITools/openapi-generator/blob/0eb385c0d6497c38c09b42158b2d66109b78b15b/modules/openapi-generator/src/main/resources/swift4/modelObject.mustache#L16

The templates for Swift 4 can be found in the folder `modules/openapi-generator/src/main/resources/swift4/`

[2018-11-30 12:56] wing328 commented on #439
Closed via #1400

[2018-11-30 12:56] #439 closed

[2018-11-30 12:57] #1566 closed

[2018-11-30 13:07] bjgill opened #1581 "XML 'wrapped' lost on internal conversion from openapi v2 to v3"
##### Description

I am currently unable to generate wrapped XML lists using openapi v2. This works fine when I try the same thing with a spec written in openapi v3.

As far as I can tell, this is because openapi-generator drops `xml: wrapped: true` during the conversion from openapi v2 to v3.

##### openapi-generator version

Current master

##### OpenAPI declaration file content or url

###### O

[2018-11-30 14:04] #1517 closed

[2018-11-30 14:50] tobuh commented on #453
I just wanted to add another issue and noticed there is already one open. Maybe you might find my input useful:

##### Description

Generating python client code with yaml listed below will result in model of "another_object" containing only "anotherproperty" instead of additionally "name" from "test_object".

##### openapi-generator version

3.3.1
3.3.3
openapi-generator-cli-3.3.4-20181130.143646

[2018-11-30 16:30] tobuh opened #1587 "[Python] not generating if query parameteres contain object"
##### Description

I cannot generate python server (flask) or client if yaml contains query parameters based on an object.

Error thrown:
[code]

##### openapi-generator version

3.3.3
openapi-generator-cli-3.3.4-20181130.143646-28.jar
openapi-generator-cli-3.4.0-20181108.104734-7.jar
openapi-generator-cli-4.0.0-20181129.104836-46.jar

with 3.3.1 generating didn't throw any errors, but I had to ad

[2018-11-30 17:30] vmorris commented on #649
Would be nice if a release didn't break the script...

3.3.4 just dropped and my cli is broken:

[code]

[code]

[2018-11-30 17:32] vmorris opened #1588 "Release breaks cli script"
Would be nice if a release didn't break the script...

3.3.4 just dropped and my cli is broken:

[code]

[code]

[2018-11-30 17:32] Stealthmate opened #1589 "[Elm] Missing import Json.Encode in Request.Default"
##### Description
When generating `Request.Default`, `Json.Encode` is not imported even though `Encode.string` and the like are used when building the request body.

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation
`java -jar ./openapi-generator-cli.jar generate -i "http://localhost:8080/swagger.json" -l elm`

#####

[2018-11-30 17:40] MF1-MS opened #1590 "[rust-server] Loss of opaque names for simple types"
##### Description
I am trying to wrap a primitive type such as a `string` with an `opaqueWrapper`. This is correctly rendered using swagger, but OpenAPI 'sees through' the wrapper and the underlying primitive type appears in the method signatures of the resulting generated code.

##### openapi-generator version
current master

##### OpenAPI declaration file content or url
[code]
##### Command line

[2018-11-30 18:18] vmorris commented on #1588
It's fine now, but ideally the release wouldn't be cut until the code was made available!

http://central.maven.org/maven2/org/openapitools/openapi-generator-cli/3.3.4/
:+1:

[2018-12-01 11:47] maranqz opened #1593 "Yaml anchors (using &) and references (using *)"
##### Description

I have problem with using anchors (using &) and references (using *) in my Openapi file.
I have to generate a file without anchors and references , and only then there is a successful generation.

[code]

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

docker run --rm -v %CD%:/local openapitoo

[2018-12-01 14:43] wing328 commented on #1567
Fixed via https://github.com/OpenAPITools/openapi-generator/pull/1580

[2018-12-01 14:43] #1567 closed

[2018-12-03 08:42] gndrm opened #1597 "Bug (Race-Condition) - Refactor use of System.(get|set|clear)Property"
##### Description

When using the openapi-generator-maven-plugin in a multi module Build with maven failsafe-plugin for Integration Tests, the generator is not working properly. Race conditions arise, since surefires AbstractSurefireMojo (Base class for IntegrationTestMojo) clones the Properties Object returned by System.getProperties() before the run and sets it as the new Properties in System af

[2018-12-03 09:30] romantul commented on #1587
Hello all.
I have the same problem generating java server with openapi-generator-maven-plugin version=3.3.3

I agree with @tobuh that it is valid spec also according to official "OpenAPI-Specification": https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameterObject

[2018-12-03 14:44] dmascialino opened #1600 "[go] Bug: Invalid generated code for client when apiKey in cookie is used."
##### Description

The client code generated for go, when `cookie` option is used for apiKey (as described here: https://swagger.io/docs/specification/authentication/api-keys/ ) is broken.

##### openapi-generator version

3.3.4-SNAPSHOT (commit: 33016f279029d0d82884b5450cfd2d8ccd0957ea )

##### OpenAPI declaration file content or url

https://gist.github.com/dmascialino/016fd42979b4736658d91a3034

[2018-12-03 15:42] ybelenko commented on #710
Yeah, I've checked it locally, this bug fixed in #1360

[2018-12-03 18:42] antihax commented on #522
Was this not resolved with the optional package?
It may be better to extend that, since we could have NULL as a valid value in addition to NotSet?

[2018-12-03 19:57] grmcdorman commented on #1572
This OpenAPI declaration:
[code]
which is syntatically invalid.

It appears to be related to this mustache code:
[code]
which apparently evaluates ``#parent`` to __true__ when it is null instead of the expected __false__.

[2018-12-04 02:23] ravthiru opened #1602 "[Java] Generate model for component with allOf has not attributes"
##### Description

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-12-04 03:29] wing328 commented on #1602
@ravthiru can you please test https://github.com/OpenAPITools/openapi-generator/pull/1360 to see if it fixes the issues for you?

[2018-12-04 05:33] ravthiru commented on #1602
@wing328  which snapshot version i should use for testing

[2018-12-04 05:34] wing328 commented on #1602
@ravthiru you will need to build the JAR from the branch locally as the PR has not yet been merged into master.

[2018-12-04 06:49] jmini commented on #1597
Thank you for starting this!

Using `System.setProperty(..)` is a bad practice, we discussed it in https://github.com/OpenAPITools/openapi-generator/issues/845#issuecomment-415316114

[2018-12-04 06:49] jmini commented on #845
Removal of `System.setProperty(..)` is now tracked in https://github.com/OpenAPITools/openapi-generator/issues/1597

[2018-12-04 08:38] deigote opened #1605 "[Java] Missing dependency on generated project on build.sbt"
##### Description

When generating code for my spec using Java and no other option, the SBT build file is missing a dependency.

The dependency seems to be present in gradle and pom build files. Adding it manually to build.sbt (`"org.apache.oltu.oauth2" % "org.apache.oltu.oauth2.client" % "1.0.1"`) fixes the issue.

##### openapi-generator version

I'm using `docker` image `openapitools/openapi-ge

[2018-12-04 08:40] wing328 commented on #1605
@deigote thanks for reporting the issue. May I know if you've time to contribute a fix by submitting a PR?

[2018-12-04 08:50] jmini opened #1606 "[Java client] add a way to duplicate an model class"
There are scenario where being able to create a new instance of a model class with the same values as an other one is necessary.

Example:

[code]

I suggest to add two constructors to the models classes:

* An empty one (current behaviour)
* A constructor accepting an other instance of the same class

In the second case, the values will be copied.

[2018-12-04 08:56] deigote commented on #1605
I can try. Can you point me to the relevant modules or classes where I could start looking at?

[2018-12-04 09:00] jmini commented on #1605
It would be great if it was working like this, but sadly the included dependencies are only included in the templates with some if-else mustache templates.

And we also have a lot of copy paste between the templates for the different java libs we support.

---

For **feign**, it is OK:

* Template for maven POM:

https://github.com/OpenAPITools/openapi-generator/blob/cd61442387d09e72c11b62edd2e94c

[2018-12-04 10:33] #1575 closed

[2018-12-04 12:14] grktsh opened #1607 "[typescript] strictNullChecks errors for Configuration.apiKeys"
##### Description

When OpenAPI document has `security` field of `apiKey` type, openapi-generator generates service classes which have strictNullChecks errors for `Configuration.apiKeys`.

##### openapi-generator version

v3.3.3

##### OpenAPI declaration file content or url

[code]

##### Suggest a fix/enhancement

I'd like to add `this.configuration.apiKeys &&` to the following condition from [t

[2018-12-04 12:20] tback opened #1608 "Documentation does not mention ProjectName"
##### Description

I'm new to openapi generator. I want it to generate an api client for me. Since I'm using python a lot the first client to generate was python. I noticed early on that the generated client was named openapi-client. Then I spent more time than I'm willing to admit to configure the project name.
I started reading the generation templates and found out that I had to create a `confi

[2018-12-04 12:55] dmolnarqu opened #1610 "Codegen operation scopes inconsistency"
##### Description

Operation auth method scopes in template currently hold all defined scopes for specific security definition.
Swagger 2.* populates the list only with scopes defined for that particular operation.

Example:
If operation1 requires `scope:op1`, but there's also `scope:op2` defined globally, then
[code]
swagger codegen produces
[code]
openapi generator produces
[code]

This issue wa

[2018-12-04 13:09] jmini commented on #1608
The different config option that are supported by the Python client generator are available here:
https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/python.md

You can get the same information if you enter:

[code]

You can use command line arguments to set the values or use an external json file (as you have described) to set the values.
You are right this might not be

[2018-12-04 17:01] pkainz opened #1612 "[typescript-angular] Bug generating client library with ngVersion=7"
##### Description

Generator `typescript-angular` delivers incompatible versions for Angular 7.x in `package.json`. This causes `npm install` to fail and blocks packaging the library using `npm run build`.

New dependencies in Angular 7 (according to the [release notes](https://github.com/angular/angular/blob/master/CHANGELOG.md#dependency-updates)) also should be upgraded to `rxjs 6.3.0+` and `ty

[2018-12-04 17:39] bjgill commented on #1590
Hmm. I'm not sure whether this is a `rust-server`-specific problem or not.

[2018-12-04 18:00] bjgill commented on #1590
In fact, I think this comes from DefaultCodegen.java:fromRequestBody

[code]

It looks as if we're deliberately throwing the outer wrapper away.

[2018-12-04 18:03] bjgill commented on #1590
@wing328 - it looks as if this change was made in 53597764c344fb45283891da2c4c60300c9db726 (Add OpenAPI spec 3.0 support (beta)). Do you remember why this change was made (and/or have any ideas how to turn this behaviour off)?

[2018-12-04 18:08] dusiema commented on #1460
I looked up the log on the confluence server and this is the exception:

`java.lang.RuntimeException: com.atlassian.confluence.content.render.xhtml.XhtmlParsingException: The XML content could not be parsed. There is a problem at line 1, column 363. Parser message: Unexpected character &#39;&lt;&#39; (code 60); expected a hex digit (0-9a-fA-F).`

it goes on with:

`Caused by: com.atlassian.conflue

[2018-12-04 18:33] dusiema commented on #1460
Maybe there is some hidden conversion somewhere.
Anyways, I just removed the parenthesis in my OpenAPI description.

We could close this issue if you want to. It might just happen to be a problem in the parser that confluence uses. Or something else.

[2018-12-05 05:15] jmini commented on #1588
We do not control how quick the jars are deployed in maven central... So I guess there is nothing we can do about this.

[2018-12-05 05:18] jmini commented on #1605
@deigote I hope my explanations are clear enough, if not feel free to ask for more...

[2018-12-05 05:35] saprenitin commented on #34
Hello,
When are you guys planning to release support for NodeJS?
Thanks

[2018-12-05 07:15] #1612 closed

[2018-12-05 07:16] macjohnny commented on #1458
@jimschubert could you help here please?

[2018-12-05 07:47] dominikg opened #1615 "wrong ngPackagr version for angular6"
The pr (https://github.com/OpenAPITools/openapi-generator/pull/1613) that added angular7 support (thank you for this, came here to report an issue about it!)
added the following code:
https://github.com/OpenAPITools/openapi-generator/blob/10ea00066a51df8613488318747bd31dcb92a736/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L264-L275

[2018-12-05 08:30] wing328 commented on #1615
@dominikg I've filed https://github.com/OpenAPITools/openapi-generator/pull/1616. Can you check to see if it looks good to you?

[2018-12-05 09:48] dominikg commented on #1615
looks good to me. @pkainz what do you think?

[2018-12-05 10:06] #1615 closed

[2018-12-05 10:07] wing328 commented on #1615
@dominikg @pkainz the fix has been merged into master. Please pull the latest to give it another try.

[2018-12-05 13:19] ravthiru commented on #1602
No the said branch has not fixed the issue, for below spec **Pet** model class should have **id**, **name** and **tag** attributes, but with generated **Pet** Model class only extends **Address**

[code]

[2018-12-05 13:20] ravthiru commented on #1602
I used the branch oas3-spec-support1

[2018-12-05 13:32] jmini commented on #1602
@ravthiru: I did not look in detail at the change made in the PR, but I think that the correct way of expressing what you want is:

[code]
=> Please notice the indentation difference.

And as far as I know this is already working with version `3.x.x`. It produces a child class.

@wing328 : swagger-editor https://editor.swagger.io/ seems to support this as well:

[code]

I am not sure if this is co

[2018-12-05 13:57] r-alukhanov opened #1619 "[Java][Spring] Make generated API model classes Java Serializable"
The Java classes of the model generated by OpenAPI are perfect candidates to be Java Serializable. Unfortunate I did not fine a way to make the generated model classes implement Serializable interface.

Without serialization it is not possible to store model objects as part of the JEE/Web-Container Session. It also restricts the usage of these objects as part of Java Exceptions and inside other se

[2018-12-05 16:19] deigote commented on #1605
@jmini they are! I'll try to submit a PR over the weekend, thanks.

[2018-12-05 16:55] vmorris commented on #1588
Yes, thanks for the attention!

[2018-12-05 16:55] #1588 closed

[2018-12-05 17:53] jmini commented on #1619
Can you propose a pull request for this?

[2018-12-05 18:04] pkainz commented on #1615
Yes, that's a typo and should read 7.0.0 - thanks for fixing!

[2018-12-05 22:13] jmalin-signalfx opened #1623 "NullPointerException in StaticHtmlGenerator when components: doesn't have schema:"
##### Description

I found a possible bug the 3.0.3 generator for html. If a file has a `components` object that doesn't contain a `schemas` object, I get a NullPointerException in the StaticHtmlGenerator.

I've tested this against 17 different `.yaml` files. The only ones that fail have a `components` object that contains a `securitySchemes` object but not a `schemas` object.

The full error is:

[2018-12-06 03:03] wing328 commented on #570
We've added the GraphQL generators via https://github.com/OpenAPITools/openapi-generator/pull/1603. Please pull the latest to give it a try.

[2018-12-06 03:03] #570 closed

[2018-12-06 04:14] wing328 commented on #1623
Can you please test with the latest stable version instead and if it's still an issue?

[2018-12-06 04:44] jmini commented on #1623
@wing328 : the code is still the same on master:

https://github.com/OpenAPITools/openapi-generator/blob/df19c13347fa259b44b71b34556eb224546a6833/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtmlGenerator.java#L193-L202

Replacing line 197 with `ModelUtils.getSchemas(openAPI)` should solve the NPE.

@jmalin-signalfx can you propose a pull request? do you need he

[2018-12-06 05:14] ravthiru commented on #1602
Thanks it was because of indentation issue , it is working now

[2018-12-06 09:10] #1607 closed

[2018-12-06 11:52] stephanpelikan commented on #1226
I experienced the same behaviour and viewing my API in swagger-ui gives my this exception:

`2018-12-06 12:01:13.339  WARN 12096 --- [nio-8400-exec-2] i.s.m.p.AbstractSerializableParameter    : Illegal DefaultValue -1l for parameter type integer

java.lang.NumberFormatException: For input string: "-1l"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.

[2018-12-06 14:29] padamstx opened #1624 "NPE in ModelUtils.isFreeFormObject"
##### Description
The attached apispec causes an NPE in ModelUtils.isFreeFormObject().   Within the apispec, the "Context" schema is defined like this:
[code]
The fact that additionalProperties is set to an ObjectSchema that contains no properties seems to be the crux of the problem.   Which is odd because that's a fairly common construct.

##### openapi-generator version

master (latest)

##### O

[2018-12-06 15:45] #1565 closed

[2018-12-06 15:45] #1561 closed

[2018-12-06 15:45] #1547 closed

[2018-12-06 15:45] #1546 closed

[2018-12-06 15:45] #1535 closed

[2018-12-06 16:49] someone1 opened #1626 "[typescript-fetch] (4.0.X) Feature Request: Use OperationID to name Inline Responses"
##### Description

Personal choice but I don't think the naming of inline models is very useful:

![image](https://user-images.githubusercontent.com/1321933/49597949-9146cd80-f94b-11e8-93a4-0b43de2b7220.png)

##### openapi-generator version

openapi-generator-cli-4.0.0-20181206.114535-69.

##### OpenAPI declaration file content or url

See #1563 for an example

##### Command line used for generati

[2018-12-06 16:51] padamstx opened #1627 "[java] Referenced schema is not generated properly"
##### Description
After applying the fix for issue #1624 (PR #1625), the attached schema results in incorrect code generation for the "java" generator, although I suspect other generators would suffer from the same fate.
Prior to applying the fix for #1624, the generator throws an NPE :)

The crux of the problem is that the java generator will generate the "Message" class as expected, with the "co

[2018-12-06 16:52] ndjensen commented on #994
I would like to +1 this idea.  My scenario is slightly different in that I could use an InputStream on the Java client side.  The client generated method returns a File object.  I want the bytes to be streamed and read in, so it's inefficient to write the bytes to disk then immediately read them back into memory.

[2018-12-06 17:46] wing328 commented on #1626
To have complete control of the model naming, I would suggest defining the model properly ([example](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L645)) and use $ref to reference it throughout the spec.

[2018-12-06 19:49] someone1 commented on #1626
I guess for my use-case it's somewhat repetitive, most of my inline responses are paginated and are an `allOf` composition of a `pagination` model and an array of the model for that API (e.g. `User`).

I realize this is personal preference but the current naming could (arguably) be made better without adding more models to the spec.

If this isn't a direction to take the project in or is too big a

[2018-12-06 22:12] jmini commented on #1627
**Related issues/PRs:**

We have discussed aliasing java `Map<?,?>` and `List<?>` in https://github.com/OpenAPITools/openapi-generator/issues/472#issuecomment-402753370

I agree that if we do not generate the `Context` class (because it extends a `Map`), then `Message` can not reference it.

[2018-12-07 05:53] #1602 closed

[2018-12-07 12:06] sruehl opened #1633 "[all] BUG: intentional underscore in front of fields removed"
##### Description

Currently if we have an spec where one field (e.g. _links) is defined the current StringUtils replaces the first underscore on camelize. This doesn't seem right so I fixed it in my branch. However there are couple of Tests that fail then:
`org/openapitools/codegen/go/GoModelTest.java:282`
`org/openapitools/codegen/php/PhpModelTest.java:284``
and so on.
The correct behavior shoul

[2018-12-07 15:16] #1624 closed

[2018-12-07 17:03] wing328 commented on #1627
@padamstx thanks for reporting the issue. I could repeat it with the latest master. I'll look into it over the weekend to see if I can come up with a fix to better handle the alias to map.

[2018-12-07 17:56] wing328 commented on #1589
@Stealthmate thanks for reporting the issue.

cc @trenneman

[2018-12-07 19:51] padamstx commented on #1627
@wing328 I can understand the reasoning behind the changes to implement the "alias to map" feature, but in our (IBM Cloud developer experience) code generators, we would not want that feature triggered.  In the context of my testcase above, we'd want Context to be generated even if that means that it is simply a class with no fields of its own that subclasses Map<String, Object>.
So, perhaps the s

[2018-12-07 20:04] grmcdorman commented on #1572
Further investigation: It appears that the cpp-restsdk does not support _at all_:
- As specified above, the base class is incorrect; this is in part because CppRestSdkCodegen.java is missing initialization of the instantiationTypes map
- The code generation also needs the _full_ property type for the array items to generate correct code.
- The model-header.mustache needs to include ModelBase
- The

[2018-12-08 02:14] ackintosh commented on #1437
@john3300 Thanks for this issue!

---

Related PR : https://github.com/OpenAPITools/openapi-generator/pull/1569

[2018-12-08 04:04] wing328 commented on #1627
@padamstx understood. Here are some follow-ups questions:

1) Is it correct to say that alias to map (in other words, not generating the map as a model/class) is also acceptable in your use case but you prefer subclassing Map instead?

2) According to https://softwareengineering.stackexchange.com/a/246318 (there's a link to an IBM article), it's an anti-pattern. From what I know it's not a common

[2018-12-08 16:47] mkornbluh opened #1637 "[cpp-pistache-server] Bug: not generating all files and methods"
##### Description

cpp-pistache-server can generate code which does not compile because it's missing files and methods:

    - There are files which have `#include "Object.h"` but no `Object.h` file was generated anywhere.
    - `model/AsdfInfo.cpp`'s `AsdfInfo::fromJson` includes a call to `setAttributes` but
      no such method was generated for `AsdfInfo`.

##### openapi-generator version

It'

[2018-12-08 20:00] #710 closed

[2018-12-08 21:32] padamstx commented on #1627
@wing328 Actually, I don't think the alias to map approach will work in our situation.  In our use case, we have a handful of custom generators (java, go, node.js, swift, python, ruby, apex - salesforce java-like language - plus a few others) which attempt to generate code using patterns that are consistent across those languages... or at least as consistent as is reasonable, accounting for langua

[2018-12-09 19:36] beedub opened #1640 "[KOTLIN] Templates in templateDir are not being used during generation"
##### Description

I'm using the openapi generator gradle plugin to customize the `kotlin-spring` template according to the instructions [here](https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md). I've set `templateDir` to a local directory. It looks like the existence of that directory is being validated properly (also confirmed checking verbose mode), but the mus

[2018-12-09 19:43] beedub commented on #1640
Nevermind! Looks like `templateDir` is the path to the generator files, not the general `templates` directory in which it is.

[code]

[2018-12-09 19:43] #1640 closed

[2018-12-10 03:55] wing328 commented on #1633
What about using the following option to keep the original name?
[code]

[2018-12-10 04:17] jmini commented on #1627
As discussed in #472 if a flag to create alias for List/Map is introduced, the default value should be not to create the aliases (and of course not to use them in the other models).

Flag can be activated in special cases like this one or also if users wants to get back the behavior they had with Swagger-Codegen v2.x

[2018-12-10 06:06] wing328 commented on #1627
Understood. I had the same goal when started contributing to the code base a few years back but later I got feedback from developers with different preferences when using a SDK of a particular programming language (e.g. returning an ApiResponse object vs returning a list containing response payload, headers and status code). We still want to achieve that as we've been providing many different opti

[2018-12-10 07:44] tetsushiawano opened #1644 "Thank you for supporting kotin-spring!!!"
:)

[2018-12-10 08:45] beedub opened #1645 "Customizing generators using subclass"
##### Description

I'm trying to customize the `kotlin-spring` generator, using the "subclass" technique described in the [customization](https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md) doc. I tried to use the instructions to generate, applying `generatorName = com.example.codegen.KotlinSpring` in my gradle settings, but I get the following error:

[code]

I ov

[2018-12-10 08:46] sruehl commented on #1633
that would work as a workaround but wouldn't help in at least `camelCase`

[2018-12-10 08:47] sruehl commented on #1633
im assuming you meant the option `original`

[2018-12-10 08:57] sruehl commented on #1633
and to why I think it is a Bug: typescript gen defaults to 'camelCase' in which the deserialization is then broken (`_links` doesn't match `links` at runtime) when using leading underscores in the spec. But maybe I haven't not yet understood the intention about the whole modelPropertyNaming and this is a problem local to the typescript deserialization.

[2018-12-10 09:39] wing328 commented on #1644
Credits go to @dr4ke616 who contributed the Kotlin (spring-boot) generator 👏 👏 👏

[2018-12-10 09:59] balzmo opened #1646 "[Java][Spring][BUG] Code for multipart not working"
##### Description

When generating multipart interfaces, the interface code is not working for Spring with Jersey:
* A mixture of @RequestPart and @RequestParam is used to describe the multipart, while only @RequestPart is recognized by the framework at runtime
* The parameter name for binary parts is not taken from the specification, instead "file" is used
* The flag "required" is ignored for bin

[2018-12-10 10:32] toXel opened #1647 "[BUG][KOTLIN] Wrong import for fields with "format: date""
##### Description

Models that have a field with `type: string` and `format: date` are generated with a wrong `import` when using threetenbp as the date library.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

Every OpenAPI spec with at least one field like this will trigger the bug:

[code]

##### Command line used for generation

Gradle plugin was used wit

[2018-12-10 13:36] idkw opened #1648 "Configure HTTP client library with different JSON processing library"
Looking at [customisation.md](https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md) it seems that the generator imposes to use specific pairs of http client/json processing libraries.

The pairs are specified as :

- library template (sub-template) to use:
- jersey1 - HTTP client: Jersey client 1.18. JSON processing: Jackson 2.4.2
- jersey2 - HTTP client: Jersey clie

[2018-12-10 14:00] wing328 commented on #1648
I think that'st the ideal case but I don't think anyone has time to work on that yet.

Would you have time to contribute the enhancement?

[2018-12-10 14:18] quackes opened #1649 "[BUG] [JavaSpring]: optional parameters in delegate method signature are not wrapped in Optional<?>"
##### Description
When generating a spring-mvc controller from an opan api yaml with a non required parameter (required: false) the generated method annotated with request mapping annotations declared the parameter type wrapped in Optional (e.g. Optional<String> myparam )

[code]

The method that the call is delegated to ( in this example searchGet) does not declare the parameter as Optional Type:

[2018-12-10 14:20] idkw commented on #1648
I'd like to, though I don't have much time either and don't really know where to start.
Could you indicate where to look first in the project ?

[2018-12-10 14:34] padamstx commented on #1627
Thanks @wing328...  sounds good.

[2018-12-10 14:47] wing328 commented on #1627
Just merged #1638. Will leave this issue opened for tracking until we introduce the flag/switch.

[2018-12-10 15:06] advance512 commented on #1435
BTW, I noticed that a workaround would be, instead of:

[code]

[code]
This generates the code as expected.

[2018-12-10 15:36] jmini opened #1651 "Update Swagger-Parser to 2.0.7"
We should update swagger-parser to 2.0.7
https://github.com/swagger-api/swagger-parser/releases/tag/v2.0.7

[2018-12-10 15:36] jmini commented on #1437
I will try to update to swagger-parser to 2.0.7 to see if it helps you: https://github.com/OpenAPITools/openapi-generator/issues/1651

[2018-12-10 16:20] wing328 commented on #1358
#1360 has been merged into master. Please give it another try and let us know if it's still an issue.

Closing this issue for the time being.

[2018-12-10 16:20] #1358 closed

[2018-12-10 16:21] wing328 commented on #1206
#1360 has been merged into master. Please give it another try and let us know if it's still an issue with `allOf`. Fro oneOf & anyOf, we will need to update the PHP templates to support these. Please let us know if you've time to contribute the enhancement.

Closing this issue for the time being.

[2018-12-10 16:22] wing328 commented on #927
@topce let me look into it...

[2018-12-10 16:30] wing328 commented on #927
[code]

Based on my understanding, it should not extends either Model A or B because both the definitions of A & B lack the `discriminator` field, e.g. https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#models-with-polymorphism-support

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#composition-and-inheritance-polymorphism

#1360 does not su

[2018-12-10 16:33] wing328 commented on #1125
@chenliu0831 #1360 has been merged into master. Please give it a try and let us know if you still see issues with `allOf`

[2018-12-10 16:34] wing328 commented on #1125
Agree. I'll try to add more comments to the code so that new users can more easily follow.

[2018-12-10 16:35] wing328 commented on #537
#1360 has been merged into master so the `anyOf` mustache tag is available and the templates can leverage this to support `anyOf` in the code.

[2018-12-10 16:39] tobymurray opened #1652 "[BUG][JAVA] Build fails because com.android.tools.build:gradle missing from JCenter"
##### Description

At some point this weekend, `com.android.tools.build:gradle` went missing from JCenter. Artifacts are generally not expected to be removed from repositories. It may come back before this gets looked at, but it's not there right now. This means any Gradle project that declares a dependency on it, e.g. [Java](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/op

[2018-12-10 16:55] jmini commented on #1651
I have updated and reused PR #1569 to do it.

[2018-12-10 17:02] clintfoster commented on #1358
Thank you! I will test with the next  `openapi-generator-gradle-plugin` release, presumably `3.3.5`.

[2018-12-10 17:53] wing328 commented on #1358
Next release is 4.0.0 (tentatively scheduled on Jan 30th)

[2018-12-10 18:19] dacloutier opened #1654 "[BUG][jaxrs-cxf] serializableModel not adding serializable implements and import for jaxrs-cxf"
##### Description

Using jaxrs-cxf to generate pojos and api interface.

I need to have the pojos serializable for the to be cachable with hazlecast. the configOption <serializableModel>true</serializableModel> is not adding:
'import ...Serializable;'
and
 '... implements Serializable'

##### openapi-generator version

<version>3.3.4</version>

##### OpenAPI declaration file content or url

[code]

[2018-12-10 20:36] tomghyselinck opened #1657 "[BUG][Python] allOff not supported when used in array, in object"
##### Description

We have an object definition (i.e. `SomeRemoteObject`) which contains a schema which maps a few "_names_" (e.g. `some_object_list`) to an array of items.
Each of these items is a composition (using `allOf`) of an ID (i.e. `RemoteId`) with data (i.e. `SomeObjectData`).

Note that it _does_ work when we wrap `RemoteId` and `SomeObjectData` in `SomeObjectDataWithReference` first (s

[2018-12-10 21:08] john3300 commented on #1437
Awesome, thank you so much!

On Mon, Dec 10, 2018 at 9:36 AM Jérémie Bresson <notifications@github.com>
wrote:

[2018-12-10 21:38] tomghyselinck opened #1658 "[BUG][Python] "sub-module" definition in packageName does not work"
##### Description

We define `"packageName": "myapi.rest.client"` in the config file for the `python` generator.
This is because we want our REST API to de a submodule of the `myapi`.

The generated code does not give us the expected code layout.

##### openapi-generator version

I used OpenAPI generator CLI version `4.0.0-SNAPSHOT`:
https://oss.sonatype.org/content/repositories/snapshots/org/open

[2018-12-11 02:06] vmorris commented on #1446
Python too #1577

[2018-12-11 04:31] fujigon opened #1659 "[BUG] [JavaJaxRs] header bean validation is not performed"
##### Description
bean validation is performed to header.

##### openapi-generator version
current master

##### OpenAPI declaration file content or url
N/A

##### Command line used for generation
N/A

##### Steps to reproduce
N/A

##### Related issues/PRs
N/A

##### Suggest a fix
[code]
is missing in [headerParams.mustache (in JavaJaxRS)](https://github.com/OpenAPITools/openapi-generator/blob/mas

[2018-12-11 07:08] yushu9 opened #1660 "[BUG] [C]Generate OpenAPI 3.0 client SDK failed"
[BUG][C]  Multiple schemas found, returning only the first one

##### Description

Generate OpenAPI 3.0 client SDK failed!

##### openapi-generator version

3.3.4 and 4.0.0 snapshot

##### OpenAPI declaration file content or url

openapi: 3.0.0
servers:
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/3GPP_5G_core/JSON_PATCH_Example/1.0.0
info:
  version: "1.

[2018-12-11 10:57] tomghyselinck opened #1662 "[BUG][Python] Multi-level inheritance not working correctly"
##### Description

The generated Python client does not properly return the final classes when multi-level inheritance is used.

For example:

* When `GET /pet` returns any of `AngryDog`, `NiceDog`, and `FunnyCat` object, the Python client will return a `Pet` object (without all final_type-specific attributes missing).
* When `GET /dog` returns any of `AngryDog` or `NiceDog` object, the Python cli

[2018-12-11 12:43] tomghyselinck opened #1663 "[BUG][Python] oneOf (with multi-level inheritance) misses code generation"
##### Description

As a workaround for #1662 I was trying to use `oneOf`, listing the first-level inheritance objects instead of the base type.

Unfortunately, this shows pops up another related issue:

The generated code wants to resolve an `OneOfDog` object, but it looks like it is not generated anywhere.

Please note that you can also see that the member fields of the `Pet` and `Dog` parent obj

[2018-12-11 16:03] topce commented on #927
Hi @wing328
Thank you for fast response bu I do not agree with your opinion.
Here we do not speak about polymorphism.
Do not let extends in interface fool you.
Here it is typical case of composituion
And both approach interfaces or intersection types are valid .
Regarding polymorphism I think in case of typescript it
Should be implemented as tagged union types
https://github.com/Microsoft/TypeScri

[2018-12-11 18:42] topce commented on #927
@wing328
Not easy to be expert in TypeScript some of smartest developers of Microsoft
every two months give us new version ;-)
As your code example is about class extends not interface extends in my opinion it is not relevant
for this issue.
Regarding extending interface there is alternative intersection types like @Shockolate wrote in comment above
I prefer both approaches (extending interfaces o

[2018-12-11 21:44] TiFu commented on #927
From the spec: `While composition offers model extensibility, it does not imply a hierarchy between the models.`

Extending an interface implies a parent-child relationship in the type hierarchy. This is therefore incorrect in the context of the spec. I think that intersection types would be appropriate to use in this case.

[2018-12-11 21:46] topce commented on #927
Agree with you

On Tue, 11 Dec 2018 at 22:44, Tino Fuhrmann <notifications@github.com>
wrote:

[2018-12-12 05:11] kkrhdd commented on #1568
issue:bug

[2018-12-12 05:13] kkrhdd commented on #1568
Any comment on the above issue

[2018-12-12 08:40] tomghyselinck opened #1665 "[BUG][Python-Flask] Missing import when deserializing (composed) models"
##### Description

We have a composed model: A `House` which has a `Door`.

When a client calls `PUT /house`, the server fails to deserialize the given input (in the _request body_).

The problem exists because the `House` implementation (`python-flask-deserialize/openapi_server/models/house.py`) defines:
[code]
without including the definition of `Door`.

##### openapi-generator version

I used O

[2018-12-12 09:09] tomghyselinck opened #1666 "[BUG][Python-Flask] Missing required argument on PUT, POST, PATCH"
##### Description

`PUT /data` fails to provide positional argument when `Data` is an `object` type.

[code]

I've seen this also fails with `POST` and `PATCH`.

Please note that this does work fine when the `Data` is not an `object` type. For example when using:
[code]

##### openapi-generator version

I used OpenAPI generator CLI version `4.0.0-SNAPSHOT`:
https://oss.sonatype.org/content/reposit

[2018-12-12 11:01] topce commented on #927
Small example for
@wing328  and @TiFu how polymorphic types could be generated in TypeScript
[code]

[2018-12-12 11:05] topce commented on #927
[Playground link](https://www.typescriptlang.org/play/#src=%0D%0Atype%20huntingSkillType%20%3D%20%22clueless%22%20%7C%20%22lazy%22%20%7C%20%22adventurous%22%20%7C%20%22aggressive%22%0D%0A%0D%0Ainterface%20PetDiscriminator%20%7B%0D%0A%20%20%20%20petType%3A%20%22Pet%22%7C%22Dog%22%7C%22Cat%22%0D%0A%7D%0D%0A%0D%0Ainterface%20PetProperties%20%7B%0D%0A%20%20%20%20name%3A%20string%3B%0D%0A%7D%0D%0A%0D%0

[2018-12-12 14:18] TheLetSteps commented on #1665
I have the same problem

[2018-12-12 17:11] #1525 closed

[2018-12-13 08:23] tomghyselinck opened #1667 "[BUG][Python-Flask] securitySchemes: Endpoint module/function is not generated"
##### Description

* We define a (`securitySchemes`) `type: apiKey` for `in: header` in our OpenAPI v3.0.1 yaml file.
* We generate the `python-flask` code.

When we start the server, it shows a warning: `... x-apikeyInfoFunc missing`.
This definition is required by connexion to identify the module/function which performs the apiKey authorization/authentication. See also what changed in [#546 - Re

[2018-12-13 08:42] tomghyselinck commented on #1667
I would love to! But unfortunately I don't get the time to implement them.
But I try to make the issues reports as clear as possible.

If you need any further things to verify, please let me know!

[2018-12-13 11:28] tomghyselinck opened #1668 "[BUG][Python-Flask] Missing import of `re` when using `string` with `pattern`"
##### Description

* We use a `pattern` in `string` schemas.
* `python-flask` uses `re.match` for the pattern matching in the generated `model` code, but it misses the import of `re`.

**Note**: I noticed that there seems to be another point in the generated server code where the `pattern` validation is done. You can see this by calling the following command when the server runs:

    curl -X PUT

[2018-12-13 19:31] viralanomaly opened #1669 "[BUG] [KOTLIN][JAVA][SPRING] Ref to another file doesn't work"
##### Description

My openapi spec is split into multiple files.  In some cases, one of the subfiles will refer to a component from another.

##### openapi-generator version

3.3.4, not sure on regression

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
[code]
OR
[code]

config.json:
[code]

##### Steps to reproduce

Run the command given above.  The o

[2018-12-13 21:41] anthowm commented on #1458
Hi guys any update about this ?

[2018-12-13 22:33] viralanomaly commented on #1669
I think this may be more general than just the spring versions I've tried.  I tried generating python-flask and hit the same problem.

[2018-12-14 00:08] jimschubert commented on #1458
Thanks for coming this. I didn't see that I was tagged above.

I'll reach out and see if someone knows if this is being fixed elsewhere.

[2018-12-14 01:39] wing328 commented on #1458
I'll take a look later today.

[2018-12-14 09:35] tomghyselinck opened #1671 "[BUG][Python-Flask] camelCase path parameters are not converted to snake_case"
##### Description

* We have _parameterized_ `paths` in our OpenAPI v3.x definition file.
* We generate a and start `python-flask` server.
* When trying to obtain the data, we get an internal server error and the server logs:
[code]

The `camelCase` path parameter is not converted to a `snake_case` (== _pythonic_) function argument for the controller.

##### openapi-generator version

I used OpenA

[2018-12-14 10:32] el2ro opened #1672 "[BUG][MYSQL-SCHEMA] howto handle nested objects in schema generation?"
##### Description

When generating DB schema out of OpenAPI spec how should be nested data structures be handled?

Currently it is working so that nested object will create a new table with fields in nested structure. Nested parameter in parent table is set as TEXT. This does not feel like right?

I am not sure if this is a bug, but I am looking info how this should be really handled in nested obj

[2018-12-14 13:41] kingofdisasterr opened #1673 "[BUG][jaxrs-jersey][oas3] input with openapi spec v3 results in generated code with v2 annotations"
##### Description

usage of the generator with:
[code]

results in generated code with openapi spec v2 annotations.
i.e. samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/AnotherFakeApi.java:
[code]

according to the openapi spec v3 it should result in:
[code]

if generating the html-documentation, the resulting yaml doesn't include all the information which was originally spe

[2018-12-14 14:07] wing328 commented on #1669
What about using `./` to reference files? e.g.
[code]

[2018-12-14 14:32] wing328 commented on #1458
[code]

I don't think the `consumes` (application/json) is correct. It should be `multipart/form`, right?

[code]
What does the payload looks like? Heads up: `file` in OAS v2 will be replaced by `type: string, format: binary` in OAS v3.

When you said it works fine with swagger codegen 2.3.1. Do you only mean the code generation does not throw error/warning? or you're referring to the auto-generat

[2018-12-14 14:33] viralanomaly commented on #1669
I wasn't using the ./, but I added in and get the same behavior.  The chunk of code it's giving me an error on:
[code]
Wouldn't be impacted by a leading ./