[2020-12-21 23:40] sarumont commented on #5279
FYI, this use-case *seems* to be resolved in `5.0.0` @ViktorPegy. The mapping is not on `object` but on `map`, however, so @amakhrov's comment still stands.

[2020-12-22 00:40] littlespex opened #8253 "[BUG] [Typescript] Model for oneOf types not being generated."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-22 04:45] vancegillies opened #8254 "[BUG][DART-DIO] break in for loop in 'ApiKeyAuthInterceptor'"
Hi,

Sorry for not following the bug report template but the issue is so simple and can probably be answered without having to have a repro.

There is a break statement in '/modules/openapi-generator/src/main/resources/dart-dio/auth/api_key_auth.mustache'

[code]

A break in a for loop stops lopping, so if there is more then one apiKey only the first is added to the headers

I think 'continue' was

[2020-12-22 08:57] joschi opened #8255 "[BUG] Gradle plugin doesn't support remote locations for inputSpec"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issue still exists?
- [x] Have you searched for related issues/PRs?
- [x] What's the actual output vs expected output?

##### D

[2020-12-22 09:16] shashank0201 opened #8256 "Generate Python client library with OpenAPI 3"
##### Description
I am trying to generate a python client library with openApI3 . For this I have created a openapi.yml file(https://github.com/shashank0201/python-client-openapi/blob/main/openapi.yml).
For this purpose I am using  openApI-generator(https://github.com/OpenAPITools/openapi-generator)

This generator, producing a set of directory and files based on schema defined in yml file.

When

[2020-12-22 10:28] sburnicki commented on #8080
For java/spring similar issues existed: #2655, #3248.
They were fixed by #2710 and  #5131.

I will create a fix based on the same logic for kotlin/spring.

[2020-12-22 12:23] SchillingSebastian opened #8258 "[Feature] [TYPESCRIPT] Generator parses to Array instead of Set"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-22 13:02] macjohnny commented on #8258
@SchillingSebastian using `Set` when `uniqueItems: true` has not yet been implemented. would you want to do so?

[2020-12-22 13:12] kuhnroyal commented on #8254
I think noone thought of having multiple API-keys and the break is just case of wrong optimization.
Can you add a PR for this?
As a workaround you need to manually add a custom `AuthInterceptor`.

[2020-12-22 13:14] kuhnroyal commented on #8237
The enum names should be better with 5.0.0 - all lower or upper based on the source.
If you want to add a PR for the enum casing, that would be great.

[2020-12-22 13:17] kuhnroyal commented on #8097
This is fixed in 5.0.0, inner enum private fields are now prefixed with the enum name.
Please confirm and close the issue if it works for you.

[2020-12-22 13:19] kuhnroyal commented on #8092
Since you didn't post a generator version that you used, I would assume it was some 4.x version. This is now working in 5.0.0 - please confirm and close if that is the case.

[2020-12-22 13:20] kuhnroyal commented on #7867
@ka-zo Can you try with 5.0.0?

[2020-12-22 13:21] kuhnroyal commented on #7850
@chemaxa It would be great if you can run this again with 5.0.0 and describe the specific problems that you are having.

[2020-12-22 13:23] kuhnroyal commented on #7589
I fixed something related to this in 5.0.0 - can you test this again?

[2020-12-22 13:23] kuhnroyal commented on #7109
@wing328 I think this can be closed.

[2020-12-22 13:27] SchillingSebastian commented on #8258
@macjohnny Thank you for you fast answer.
I haven't had a look into the deeper inner workings of the generator. How much of a time investment would the implementation of that feature be (for me)? I am interested :)

[2020-12-22 13:29] kuhnroyal commented on #6750
We are setting `ResponseType.bytes` when the response is some kind of binary file which is the correct type for binary content.
`ResponseType.stream` would return a `ResponseBody` which you would have to convert manually to whatever you are expecting, even if it is just json.
Can you verify that binary responses yield the correct result with 5.0.0?

[2020-12-22 13:30] kuhnroyal commented on #6160
We now have the broken case in the examples and can accept a PR to fix this.

[2020-12-22 13:37] macjohnny commented on #8258
@SchillingSebastian I guess this could be done in one or two days.
in order to maintain backwards compatibility, an option would need to be introduced that enables this new behavior

[2020-12-22 13:52] chemaxa commented on #7850
Unfortunately it doesnt work with github spec.

![2020-12-22_16-51-27](https://user-images.githubusercontent.com/9295022/102895593-04113b80-4476-11eb-872c-62df10c53fd2.png)

[2020-12-22 14:43] MarcelGeo opened #8259 "[BUG] Methods are without @param JSDOC in typescript-fetch"
##### Description

Method in generated Resources.ts via typescript-fetch does not have the same JSDocs, params are missing in non Raw version of function.

`/**
     * Method operate on cached values.
     * @param {{ [key: string]: Array<string>; }} [body] Case sensitive.
     * @param {*} [options] Override http request option.
     * @throws {RequiredError}
     * @memberof KeycloakResourceApiI

[2020-12-22 14:50] frochi42 opened #8260 "[BUG] openapi-generator-maven-plugin version 5.0.0 does not work for OpenApi 3.0 yml-files"
##### Description
I have a perfect OpenApi 3.0.1 yml-file. openapi-generator-maven-plugin v4.3.1 generates perfect code.
When changing the plugin version from 4.3.1 to 5.0.0 I get a syntax error. No other changes.

[INFO]
[INFO] --- openapi-generator-maven-plugin:5.0.0:generate (api) @ core-automation ---
[ERROR] failed to read resource listing
com.fasterxml.jackson.core.JsonParseException: Unreco

[2020-12-22 14:52] kuhnroyal commented on #7850
They seem to use a lot of plain objects, that is an issue that is tracked here: https://github.com/OpenAPITools/openapi-generator/issues/8179
For the other errors like `Expected to find ';'` and `Expected an identifier` we need more specifics.

[2020-12-22 15:04] SchillingSebastian commented on #8258
@macjohnny
I am currently looking into it, but can't quite get the starting point.
As this seems to be a problem during the deserialization from the http body to the model I tried finding the actual process but there doesn't seem to be (an obvious) one.
My guess is I have to extend the ts generator config options and make changes/extend typescript-fetch. Is this correct?
If I am missing something

[2020-12-22 15:20] CGavrila commented on #8192
I have the exact same issue.

[2020-12-22 15:31] macjohnny commented on #8258
I just noticed that for the `typescript-angular` generator, this would require implementing a deserialization logic. currently, the plain JSON object is returned, and since `Set` is not a JSON type, one would have to transform that object.
I deleted my original time estimate, since this would require much more effort to implement. maybe it would be beneficial to adapt the current angular generator

[2020-12-22 15:33] CGavrila commented on #8192
The problem seems to be coming from here: https://github.com/OpenAPITools/openapi-generator/blob/c974c512ff590c797db9f3e93c079017d65d3dcd/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java#L456

There are a few way around it: use `apiFirst=true`, `reactive=true` or add the Springfox dependency to your `pom.xml`. They might work for you, but they are not e

[2020-12-22 15:50] BitDrifter opened #8261 "[BUG] README.md does not list "reactive" as a config option."
README.md does not list "reactive" as an option even though it appears to be supported.

[2020-12-22 17:05] vasilich6107 commented on #8097
Thanks, I'll check.

[2020-12-22 19:44] bartektartanus commented on #8092
It might be hard to confirm right now as I'm using dart package https://github.com/gibahjoe/openapi-generator-dart which uses OpenAPI Dart Generator jar, which uses openapi-generator version 4.2.2.

Looks like I need to contact with package maintainer. I think you can close this issue now and if this won't work after update to 5.0 I will reopen it. :)

Thank you!

[2020-12-22 22:08] cobraz commented on #6597
@agilob @davija reopened. Hope we'll get this fixed :)

re
@bbdouglas @sreeshas @jfiala @lukoyanov @cbornet @jeff9finger @karismann @Zomzog @lwlee2608 @bkabrda

[2020-12-22 22:32] vancegillies commented on #8254
Happy to do a PR later today, if not, after Christmas. Yes my workaround was just removing that break and it then works as expected

[2020-12-22 23:14] tigerinus commented on #7897
Hit the same issue. Would be nice to have this solved.

[2020-12-23 12:39] agilob commented on #6597
I will be slowly looking into it step after step, trying to pick low hanging fruits first, one PR is ready #8181 reduces number of open files, closes resources much sooner. Should help, but I didn't do any professional profiling for it.

[2020-12-23 13:20] Mrak2017 commented on #2901
Name of the new property "openApiNullable"

[2020-12-23 15:16] thiagoarrais opened #8263 "[BUG][GO][Client] Returned err is never nil"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-23 16:48] code-lucidal58 commented on #8263
`Execute()` function returns 3 values: Go object that you are trying to create, the response and error (if any). The last value is of type `GenericOpenAPIError`. [struct code is here](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/go-deprecated/client.mustache#L553). Instead of checking the nullablity of this error (since this is not Gola

[2020-12-23 20:03] thiagoarrais commented on #8263
What if we return a `*GenericOpenAPIError` (allowing it to be nil)? That way users will be able to use the usual `err != nil` idiom. It may even be declared as `error` in the function header since it satisfies the error interface. Will that interfere with the response body?

[2020-12-23 22:47] flipch commented on #6951
I'll have to test and get back at you. Thank you for investigating on your end.

[2020-12-24 08:26] UnleashSpirit commented on #5432
I agree, why change default ajax behaviour ?
We need access to headers, like real ajax in fact (for content-type and others)
I go back to pure rxjs cause of this issue :(

[2020-12-24 09:08] code-lucidal58 commented on #8263
pointer to a struct (or any variable) will never be nil. https://play.golang.org/p/53vSwOYcCV0 even if it's an empty struct.

[2020-12-24 10:14] chibat opened #8264 "[BUG][typescript(experimental)] Support Deno v1.6"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-24 10:23] networkdevCD commented on #6332
Hello

I am still facing this issue when using the opengenerator version 5.0.0 beta 1-2-3 on the following yaml file : https://github.com/jdegre/5GC_APIs/blob/master/TS29510_Nnrf_NFManagement.yaml (or any) to create python-flask server . Upon running the python -m openapi_server I am greeted with following :

Traceback (most recent call last):

  File "C:\Python39\lib\runpy.py", line 197, in _run_

[2020-12-24 11:31] codeserk commented on #6332
Hello @networkdevCD

Not sure if I'm missing something, but looks like you are using a different generator (python). This change only affected the generator for `typescript-axios`, but this change had no impact on the generators for `python` :(

[2020-12-24 11:53] networkdevCD commented on #6332
Hello @codeserk

Your correct apologies was get to end of my tether with found this bug report .   It seems we also have the same issue in the python generator , was there any quick around you did the with YAML ?

[2020-12-24 12:37] UnleashSpirit opened #8266 "[BUG] 5.0.0 breaks generator if servers url relative"
Hi recently switch from openapi-generator-maven-plugin@4.3.1 to 5.0.0 and the generation of my swagger did not work anymore.

After hours of search, I finaly found that it was mu servers > url value that breaked the generation.
Of course my swagger is valid according to https://apitools.dev/swagger-parser/online/ (and many others).
And also specification : https://swagger.io/specification/#server-

[2020-12-24 13:11] mitsuru793 commented on #8000
I have the trouble, me too.
I use a template of typescript-fetch.
So, I can't use allOf.

[2020-12-24 15:10] wessmq opened #8268 "[BUG] Python client code generation with allOf and discriminator"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-24 15:34] ahmednfwela opened #8270 "[bug][dart-dio] Allow models to be serialized within a map using `MapBuilder`"
##### Description

Currently the generator adds all possible List builders for each model, but another viable option is to add Map builders (`Map<String,{{Model}}>`)
Ref:
https://github.com/OpenAPITools/openapi-generator/blob/c3220848f24bbc5e5441f53846916eaa82e6673c/modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache#L20-L27

##### openapi-generator version

v5.0.0

##### Su

[2020-12-24 15:40] ahmednfwela opened #8271 "[BUG][dart-dio] optimize parameterToString to convert DateTime correctly"
##### Description

Currently DateTime is being converted to string using normal .ToString()
Ref:
https://github.com/OpenAPITools/openapi-generator/blob/c3220848f24bbc5e5441f53846916eaa82e6673c/modules/openapi-generator/src/main/resources/dart-dio/api_util.mustache#L6-L14

instead, `toIso8601String` should be used

##### openapi-generator version

V5.0.0

##### Suggested fix:

[code]

[2020-12-24 16:42] ahmednfwela opened #8273 "[BUG][dart-dio] add package:built_collection/built_collection.dart to imports"
##### Description

API end points that require sending `BuiltList<String>` will fail since this is missing from the imports
[code]

Ref: https://github.com/OpenAPITools/openapi-generator/blob/c3220848f24bbc5e5441f53846916eaa82e6673c/modules/openapi-generator/src/main/resources/dart-dio/api.mustache#L1-L5

##### openapi-generator version

V5.0.0

[2020-12-25 15:22] skalinkin commented on #8260
I have the same issue.
the test project is here
https://github.com/skalinkin/openapi-generator-maven-plugin-test

[2020-12-27 07:52] jpmeijers commented on #1271
I'm hitting this same issue with the `OffsetDateTime` type.

Applicable line in generated code looks like this:
[code]

Applicable lines in `api.swagger.json`:
[code]

And the exception that moshi is throwing:
[code]

[2020-12-27 15:50] thenadz opened #8276 "[REQ] Provide Validation-Only Utility Functions"
### Is your feature request related to a problem? Please describe.

I'm using OpenAPI doc to populate an AWS API Gateway, however API Gateway provides very limited validation capabilities, which do not include for example pattern checking for parameter values. As a result, I'm implementing additional validation manually within Lambda functions triggered off of Gateway endpoints. The generated code

[2020-12-28 03:29] harsimranmaan opened #8278 "[DART] Add null-safety for dart 2.12+"
### Is your feature request related to a problem? Please describe.
Starting with DART 2.12 dart packages support sound null-safety making it easy to detect common pitfalls during static analysis.

The current implementation of DART2 does not follow null-safety principles.

## Describe the solution you'd like
The generated code should follow sound null-safety as per https://dart.dev/null-safety.

I

[2020-12-28 12:57] #8264 closed

[2020-12-28 14:04] thiagoarrais commented on #8263
But one can (knowing that the generated code's `error` is actually a `GenericOpenAPIError`) [define an interface to use those methods (playground link)](https://play.golang.org/p/6XMAn9QUnIX). I may be misunderstanding your point, though...

[2020-12-28 16:31] andreclinio opened #8284 "[REQ] Simple solution to @javax.annotation.Generated for java11 (no annotations at all?)"
Hi,

I used to have the maven plugin (v4.3.1) with openjdk11 (generator jaxrs-jersey) in my project.
At that time, I got some problems with the @javax.annotation.Generated issue and I reached to a simple and
quick solution with the <hideGenerationTimestamp>true</hideGenerationTimestamp> inside the configOptions section.
No ``@Generated`` annotations were present... Maybe this workaround was not th

[2020-12-28 16:32] adg-mh opened #8285 "[dart-dio][client] Generated code for property that is array type with default value does not compile"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-28 21:57] cvgaviao opened #8286 "[BUG] SharedTypeScriptTest is creating artifacts in the source directory"
When building java projects with maven, the convention is that you (the developer) should generate everything needed to run any tests after the {project}/target/... folder...
But in the SharedTypeScriptTest test class, it is being create in the source folder...
[org.openapitools.codegen.typescript.SharedTypeScriptTest.typesInImportsAreSplittedTest()](https://github.com/OpenAPITools/openapi-generat

[2020-12-29 01:46] devhl-labs opened #8287 "[BUG] Error with mvn clean install"
I'm trying to do a pr and I'm having an issue getting started. I merged this repo's master to my fork, and pulled it down to my machine to work with the lastest unaltered code. I ran `mvn clean install` but the build is failing. Am I doing something wrong in getting started? I've done this before but it's been a while. I have Java 8 and Maven 3.6.3.

[code]

[2020-12-29 04:09] cvgaviao opened #8288 "[Enhancement] Remove OpenAPI parameter from DefaultCodegen methods"
The methods `hasBodyParameter`, `hasFormParameter`, `getConsumesInfo`, `getProducesInfo`, `addOneOfInterfaceModel`, `getOneOfAnyOfDescendants` and `discriminatorFound` doesn't need to have an `OpenAPI object` as a parameter since the `DefaultCodegen` class already has it as an instance attribute and its its always required.

Also, removing the static property from `getConsumesInfo` and `getProduce

[2020-12-29 05:28] cvgaviao commented on #5360
I would like this too.

Jdk 11 brought a lot of changes that would be valuable on this kind of project, mainly the ones related to Collections and Streams.

[2020-12-29 06:20] robert-chiniquy commented on #7975
FWIW I've hit nearly identical errors with the OpenAPI spec I've tried with 5.0.0 and latest master both, for example:
[code]

[2020-12-29 10:51] DownloadHelper opened #8290 "[BUG][JAVA][Spring][Server] Javadoc error in generated controller with delegate pattern"
##### Description
Javadoc fail in generated controller with delegate pattern :

[code]

This is cause by **@org.springframework.beans.factory.annotation.Autowired(required = false)** :

[code]

##### openapi-generator version
5.0.0

##### OpenAPI declaration file content or url

[code]

##### Generation Details

[code]

##### Steps to reproduce
Generate server with spring (and delegate pattern opt

[2020-12-29 13:38] dmitry-weirdo opened #8291 "[BUG] Java maven plugin: `_id` and `id` generates 2 getters with same name #getId"
#### Bug Report Checklist

- [ x] Have you provided a full/minimal spec to reproduce the issue?
- [ x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the i

[2020-12-29 16:02] JoshuaKGoldberg opened #8292 "[BUG] Redundant JSDoc attributes in typescript-fetch"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-29 16:24] kuhnroyal commented on #8285
I see, there is also a problem with Date/DateTime default values for dart/dart-dio. I will see what I can do.
Non-empty array default values will not work either.

[2020-12-29 16:43] cvgaviao opened #8295 "[REQ] Add support for conditional Global Import option for both Model and Operation"
### Is your feature request related to a problem? Please describe.

When using ImportMapping option in the Java language (and others), both the **baseType** and **dataType** properties of the **`CodegenModel`** will be mapped to a possible value existing in the **`DefaultCodegen`'s** `importMapping` property.

This forces the creation of full inline types declaration everywhere in the generated ja

[2020-12-30 00:51] devhl-labs commented on #8287
Something is wrong with my local copy I guess.

[2020-12-30 00:51] #8287 closed

[2020-12-30 02:58] wing328 commented on #8287
We've reverted a change in the master. Please pull the latest and try again.

[2020-12-30 08:18] platy opened #8296 "[REQ][typescript-axios] parameterNaming option"
### Is your feature request related to a problem? Please describe.

In using the typescript-axios generator, I found that the default behaviour of using positional paramters for query parameters to be dangerous, as described in #6288 - and so I'm using `useSingleRequestParameter=true`. This then exposes the `paramName` (which is normalised to camelCase) to my application. I need the parameter name

[2020-12-30 11:43] hugo-ma-alves opened #8297 "[Enhancement][JAVA] Replace apache oltu with scribejava"
##### Description

Hello

Currently the Java feign generator is using apache oltu to construct the oauth requests.
Since oltu is now deprecated I was making some changes on my branch to replace it with scribejava, the same used in jersey2 generator.

For now I just have implemented the client credentials flow, but I believe I can keep implementing the others.

Do you think it can be useful? I can

[2020-12-30 11:51] TheKvist opened #8298 "[BUG][JAVA] maven-compile-plugin fails with missing symbol errors after openapi-generator-maven-plugin generated the sources"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
  https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.json
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openap

[2020-12-30 14:28] arnaud-cortisse commented on #7966
What's the status?

[2020-12-30 14:36] arnaud-cortisse commented on #7966
Would it also make sense to do something like this?
[code]
(pay attention to "[]" appended to "include" in the key).

That way, even an array with a single element would be considered as an array in major frameworks such as NestJS.
Otherwise, the array is parsed as a string if it only contains 1 element, which would make things less predictable.

[2020-12-30 14:44] kuhnroyal commented on #8285
I am actually not sure if an array with values can be defined as default value. I also have never seen a map/object default value. An empty array should be `ListBuilder().build()`.

[2020-12-30 15:53] adg-mh commented on #8285
Example with complex default value [here](https://gist.github.com/adg-mh/0368f25394a185d0aa12c0abc567e892) does validate, but it seems the JSON representing the object ends up in the dart output.

[2020-12-30 16:03] agilob commented on #8285
From line 617 https://gist.github.com/adg-mh/0368f25394a185d0aa12c0abc567e892#file-petstore-array-default-complex-yaml-L617 creates two pets by default

[2020-12-30 18:09] kuhnroyal commented on #8285
Yes, that is definitely the problem, there is a default to a plain string. Before my changes default values were not supported at all. I am now wondering to what extend I want to implement this, many generators don't seem to support this beyond simple values.

Thanks for the examples, maybe we should add/generate them for dart/dart-dio.

[2020-12-30 20:56] telday opened #8300 "[BUG][Python] Generated python client fails to correctly process optional response bodies"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2020-12-30 21:09] SteveHespelt commented on #1666
following up on the [earlier comment](https://github.com/OpenAPITools/openapi-generator/issues/1666#issuecomment-451684201) by @nathan5280,
I've found that the OpenAPI-tech 5.0.1 code generator will preserve the x-body-name property if it is NOT a sibling of a $ref usage as mentioned in [using-ref](https://swagger.io/docs/specification/using-ref/#sibling). So I have x-body-name as a top-level prop

[2020-12-30 22:41] bartektartanus commented on #8092
@kuhnroyal yes, now I can confirm - it works in 5.0.0 version.
Thank you.

Closing this issue. :)

[2020-12-30 22:41] #8092 closed

[2020-12-31 06:37] yangguangxiadeyun commented on #2701
This may be the work-around for this case.
https://openapi-generator.tech/docs/usage/#type-mappings-and-import-mappings

[2020-12-31 06:38] yangguangxiadeyun commented on #6926
This may be the work-around for this case.
https://openapi-generator.tech/docs/usage/#type-mappings-and-import-mappings

[2021-01-01 19:28] hmt commented on #7602
Did you find a solution to this, @ammar-esrawi ?

[2021-01-02 05:40] yishanhe commented on #7350
@dude-abides I think the common library you mentioned can be done by

- only generate supportFiles and declare the invoker package to /pkg/path/of/invoker
- for all the client api package that shares the common client library, you only need to generate api package, and point to the same invoker package

[2021-01-02 12:16] kuhnroyal commented on #6951
I was talking about the builder factory above. Judging from your issue in built_value this is the one that was missing. Now it is being generated as far as I can tell.

[2021-01-02 12:47] kuhnroyal commented on #8285
@adg-mh Where is this config from that you have there?

[2021-01-02 17:21] agilob opened #8307 "[BUG] Dart - generated enum class overrides == so it can't be used in switch cases"
Getting the following error with enum generator:

![image](https://user-images.githubusercontent.com/2544251/103462654-9d660a80-4d1e-11eb-9b4a-65ab213ff385.png)

openapi 5.0.0

[2021-01-02 22:10] cvgaviao commented on #20
Hi, could you explain me please the reason those classes do not have a complexType property as has a CodegenProperty (in other to have both the base collection type and its inner type)?

[2021-01-03 00:47] devhl-labs opened #8309 "[Question] Mustache Delimiters"
How do I use triple curly brace when I change the delimiter? I thought it might be like this:

[code]

But that produces this:
[code]

[2021-01-03 09:45] agilob commented on #8291
Can you validate your whole schema in https://apitools.dev/swagger-parser/online/ ?

This is expected in java code generator as the naming convention removes special characters from field names.

[2021-01-03 09:54] hyounoo commented on #5479
I'm experiencing this on both npm and mvn clean package

with NPM
`openapi-generator-cli generate -g swift5 --additional-properties=projectName=OpenApiClient,podVersion=1.4.1,responseAs=Combine --library alamofire -o ./outDir -i https://raw.githubusercontent.com/openapitools/openapi-generator/master/modules/openapi-generator/src/test/resources/3_0/petstore.yaml`

with mvn clean package
`java -jar

[2021-01-03 16:42] dashared commented on #5008
Shouldn't these options be listed in [docs](https://openapi-generator.tech/docs/generators/typescript-axios)?

[2021-01-03 17:04] dmitry-weirdo commented on #8291
Underscore `_` is NOT a special characters and MUST NOT be escaped.

I've validated a trivial schema at https://apitools.dev/swagger-parser/online/, it passes the validation without any errors.
[code]

[2021-01-03 18:17] feenr opened #8311 "[REQ] Update gradle example"
### Small update to gradle example code.

As a new user to this project I had simply copy, pasted and modified the openApiGenerate example to suite my needs, but I struggled a bit to understand why absolutely nothing was being generated in the generated  folder. I tried a few different OAS definitions, info logging, and verbose output in an attempt to debug.

What ended up being the problem is tha

[2021-01-04 00:23] devhl-labs opened #8313 "[Question] DataType"
In C#, {{dataType}} returns `string`. For parameters that are not required, how do I get it to return `string?`

[2021-01-04 02:22] feenr commented on #3054
I am encountering this same problem in 4.2.2

[2021-01-04 02:35] #8212 closed

[2021-01-04 02:50] feenr commented on #3054
I was able to make a local change to workaround this. I was reviewing the source code to submit a PR to fix this in master, but it appears to already be fixed in 5.0. If I get a chance to try that out I will update here.

[2021-01-04 03:04] #7141 closed

[2021-01-04 05:38] wing328 commented on #8297
@hugo-ma-alves thanks for offering help on this. Yes we welcome PR with the suggested change. Let me know if you need help with the PR.

[2021-01-04 05:56] wing328 commented on #8218
Is it correct to say that these issues already present in the latest master regardless of the fix I filed?

[2021-01-04 07:39] macjohnny commented on #8313
you could use `{{^required}}`
https://github.com/OpenAPITools/openapi-generator/blob/caf52641f01539496876d716445b3d8e32d649e8/modules/openapi-generator/src/main/resources/typescript-angular/modelGeneric.mustache#L8

[2021-01-04 08:53] wing328 commented on #86
I've filed https://github.com/OpenAPITools/openapi-generator/pull/8304 to start with. `add_pet` and `get_pet_by_id` work and are tested as part of the CI.

There's still a lot needs to be done and I'll create a TODO list later.

For the time being, please try it out and let me know if you've any feedback.

[2021-01-04 10:06] astraljava commented on #7720
I'll try to find time. :)

[2021-01-04 10:44] MathiasHi opened #8315 "[REQ] removing size, page and sort parameter if using x-spring-paginated option"
### Is your feature request related to a problem? Please describe.

I use the feature from the #5022 Pull Request. When I use the same API generation file for some other programming language as Typescript, which doesn't have a pageable type I have to add the size, page, and sort parameter. This parameter now does also appear in the spring application which I want to automatically remove when I use

[2021-01-04 10:54] MathiasHi commented on #8315
#5022

[2021-01-04 11:21] dordadush opened #8316 "[BUG][powershell] Reusable enum schemas generates invalid .ps1 files"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-04 12:03] michael-wirth opened #8317 "[BUG] kotlin-spring does not generate Serializable models"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-04 14:11] tkalmar opened #8320 "[BUG] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-04 14:23] tkalmar commented on #8320
Also happens when switching the library to `resttemplate`

[2021-01-04 14:26] kuhnroyal commented on #7358
Ran into the same problem, could also use a different separator.

[2021-01-04 14:40] wing328 commented on #7358
@GORA-SAG please file a PR to start with. Also agreed with @kuhnroyal to use a different separate, e.g. colon `:`

[2021-01-04 15:25] adg-mh commented on #8285
@kuhnroyal That was the petstore example I just cobbled in the extra bits to see how it would act. I don't actually need that functionality now, I was just checking to see if it validated.

Haven't tested yet but it looks like the fixes in your PR cover my case.

[2021-01-04 15:49] akutz opened #8322 "[BUG][golang] 'isCollectionFormatMulti' flag not being set to true on multiple file uploads"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-04 18:08] SiriusStarr commented on #8218
#8223 fixes the decoder duplication issue introduced in [d5002f4](https://github.com/OpenAPITools/openapi-generator/commit/d5002f4bebce87eb2ad14efe9eb0f16ec7bf6592); the additional problem with decoders is (I assume) completely orthogonal since it has been present in every commit in 5.0 that I've checked (including the latest master as of 18 days ago).  If there have been relevant commits since th

[2021-01-04 19:11] kuhnroyal commented on #7358
In my case I need to generate about 50 files out of about 150. It is pretty hard to add this to a commandline flag. I would much prefer to add it to the config file as yaml list. Maybe this could be added with global-property as override so that it is not a breaking change.

[2021-01-04 21:56] fbl100 commented on #8052
@spacether I submitted a new PR as this one was closed when you merged the original.

[2021-01-04 22:03] spacether commented on #8052
New PR is at https://github.com/OpenAPITools/openapi-generator/pull/8326#issuecomment-754248387

[2021-01-05 01:45] #8285 closed

[2021-01-05 06:58] #8218 closed

[2021-01-05 06:59] wing328 commented on #8218
@SiriusStarr I've merged #8223. Please open a new issue instead. Thank you.

[2021-01-05 07:18] EngineerCoding opened #8329 "[BUG][Powershell] -WithHttpInfo ContentTypes issue"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-05 07:24] EngineerCoding opened #8330 "[REQ][Powershell] Implement SkipHttpErrorCheck"
### Is your feature request related to a problem? Please describe.

In some cases I need the response status code of an endpoint, even when it is in the 400-500 range. Currently this is stopped by the default Invoke-WebRequest cmdlet which checks for this status code and errors by default.

## Describe the solution you'd like

Specify --SkipHttpErrorCheck like you can skip Https currently in the c

[2021-01-05 07:58] vandadnp opened #8332 "Support for RxSwift 6.0.0"
RxSwift 6.0.0 has now been released and we want to move our entire project to using it. Would it be possible to add support for RxSwift 6.0.0 code generation?

[2021-01-05 10:43] notizklotz opened #8333 "[BUG][KOTLIN-SPRING] Multipart file upload generate wrong type"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-05 14:10] wing328 commented on #8332
Definitely, May I know if you've time to make the contribution? The swift5 template is a good starting point: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/swift5

[2021-01-05 14:11] cheshir commented on #8263
The 5.0.0-beta3 version has native for go developers behaviour – methods return `error` type. Not the custom structure.
GenericOpenAPIError.Error() method confuses because it uses the same signature as an error interface. So I and many other developers think that we can use it in the same way but its not true.

It would be awesome if you will alow users to configure generator to select desired beh

[2021-01-05 14:18] alholm commented on #8263
Excuse me, but what does it mean? Which one this error is then? It implements standard lib `error` interface, so one would expect standard behaviour, including nil comparison. May it at least be done as in previous versions - without local var `executionError` and returning `nil` on successful path?

[2021-01-05 15:25] #5958 closed

[2021-01-05 16:07] vandadnp commented on #8332
@wing328 yes sure I’ll have a look at it

[2021-01-05 17:45] thiagoarrais commented on #8263
Since there seems to be some interest here, I may be able to offer a PR reverting the return type back to `error` while still keeping the response body accessible. As I understand, this is the main issue raised by #8136 anyway.

[2021-01-05 17:45] #8052 closed

[2021-01-05 18:01] spacether commented on #5229
Cycles are allowed and compliant with the spec as far as I know. As you said it is not mentioned there.

[2021-01-05 18:08] kuhnroyal commented on #7358
Using a different separator is a mess, I can change the cli code but the `DefaultGenerator` still just reads it from `System.getProperties` and would have to split it differently as well, this might have other consequences.
I created #8339 as a minimal POC to use lists in config files. I much prefer config file over command line arguments and it is much easier to manage. Maybe this is enough and w

[2021-01-05 18:12] onitake opened #8340 "[REQ] Golang generator Nullable* types should be much easier to consume"
### Is your feature request related to a problem? Please describe.

openapi-generator 5.x introduced new Nullable types in the Golang code generator.

While "proper" nullables are useful, it's not entirely clear why they were implemented with pointer New()/Get()/Set() arguments and an additional isSet flag, instead of supporting plain values and using the nil pointer as a "is not set" marker.

##

[2021-01-05 18:19] leonluc-dev opened #8341 "[BUG][ASPNETCORE] The aspnetcore generator doesn't generate essential authorization import"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-05 19:40] SiriusStarr opened #8343 "[BUG] 5.0 produces invalid Elm code with missing decoders/encoders for custom types"
In the petstore example, it looks like custom types's don't have their encoders/decoders properly written:

[code]

[code]

Additionally, there is an erroneous DEcoder in the middle of one of the ENcoders.

[code]

This is the full diff between the output of #8223 (now merged, fixing other Elm issues) and a manually corrected version:

[code]

_Originally posted by @SiriusStarr in https://github.c

[2021-01-05 20:11] paulmchugh777 commented on #8260
I have the same problem.

The YAML file works fine with versions 4.3.1 and 5.0.0-beta3 but gives the following exception when using the released 5.0.0 version.

com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'openapi': was expecting (JSON String, Number, Array, Object or token 'null', 'true' or 'false')

YAML file starts as shown below:

openapi: 3.0.0
info:
  title: Administrat

[2021-01-05 20:30] SiriusStarr commented on #8343
Just pulled and confirmed that the issue with custom types persists in the latest master, 04dfff83e0717e693afb61499c62440491c1ac9c.  The issue with the erroneous decoder appears to have been fixed, however, so I have struckout that above.

[2021-01-05 21:50] cheshir commented on #8263
@thiagoarrais I believe there should not be a problem.

In most of the cases we don't need access to the response body if we got an error.
But we can use type assertion if we need to do this.

[2021-01-06 03:09] wing328 commented on #8333
@notizklotz thanks for reporting the issue. Can you please file a PR with the suggested fix in the spring generator when you've time? We'll review accordingly

[2021-01-06 03:15] wing328 commented on #6800
We've filed a PR (https://github.com/OpenAPITools/openapi-generator/pull/8331) to add HttpClient support in the csharp-netcore generator (thanks for the work started by @devhl-labs )

Please feel free to submit PRs against the `csharp-netcore-httpclient` to help move it forward.

[2021-01-06 09:52] EngineerCoding opened #8347 "[BUG][Powershell] Multipart form data is not properly supported"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-06 11:04] kuhnroyal commented on #8307
Well these are no real enums, these are normal classes, you cant really switch on them.

[2021-01-06 11:07] kuhnroyal commented on #8278
I have thought about this for a while. We first need to ensure OAS3 nullable/required work correctly and then we can add a switch for this. Otherwise all properties would just be nullable which doesn't help much.

[2021-01-06 11:08] kuhnroyal commented on #8273
Yes I have just had this happen to me with `BuiltMap`, this is my bad. I will add a fix shortly.

[2021-01-06 11:11] kuhnroyal commented on #8271
If it is a `DateTime` it should use the configured serializer that is also used for JSOn content. Is this not happening?

[2021-01-06 11:12] kuhnroyal commented on #8270
So you do have `Map<String, ,{{Model}}>` as return type from an API call?

[2021-01-06 11:20] thall commented on #4847
I have the same problem

[2021-01-06 12:05] codedevstem opened #8351 "[REQ] Add support for golang `[]byte` with `format: byte`"
### Is your feature request related to a problem? Please describe.

When generating golang code from openapi 3.0 the following snippet
[code]
results in the following
[code]
## Describe the solution you'd like

I want the .yaml snippet above to generate the following
[code]
This is in accordance with the result in Java as seen from the sample in the repo:
[inlineObject3.java](https://github.com/Op

[2021-01-06 12:09] thiagoarrais commented on #8263
For my use case I do use the `Model()` method, since the API I'm working with returns a JSON object with details in case of non-2xx responses (and I believe that is common). The model is read from the response body, but yeah I don't need access to `Body()` directly.

For now I'm using the strategy I've delineated in the [playground link](https://play.golang.org/p/6XMAn9QUnIX) above and that has be

[2021-01-06 13:23] gspatace opened #8352 "[BUG] [Java Resttemplate] Incorrect handling of free form query parameters"
**Description:**
Currently, when using free form query parameters, the URI is not built correctly.

**Steps to reproduce:**
_Input spec file:_
[code]
_Command to generate client files:_
`java -jar modules\openapi-generator-cli\target\openapi-generator-cli.jar generate -i spec.yml -o work -g java --library resttemplate
`

_Client code ( usage of generated API ):_
[code]

**Expected result of URI bu

[2021-01-06 14:20] selliera commented on #8260
I have the exact same problem with openapi-generator-cli 5.0.0:
A command that worked with 4.3.1:
`java -jar openapi-generator-cli-4.3.1.jar  generate -g openapi -o dir -i my.yaml -c my_config.json`
Now, with:
`java -jar openapi-generator-cli-5.0.0.jar  generate -g openapi -o dir -i my.yaml -c my_config.json`
it fails with the error show above: it looks like it tries to parse the yaml as json.

Lo

[2021-01-06 14:31] #6432 closed

[2021-01-06 15:25] spacether commented on #4847
@thall please provide a spec, headers, body content and what generator you are using so your issue can be reproduced

[2021-01-06 16:01] wing328 commented on #8341
@leonluc-dev thanks for reporting the issue. Do you mind filing a PR with the suggested fix for us to review it more easily?

[2021-01-06 16:31] felixfiskare commented on #8258
I think I've encountered the same error and that it is actually a bug.
A small example: My openapi yaml has a training object, which has a audiences array, where every entry is supposed to be unique

[code]

I use `openapi-generator-cli generate -g typescript-angular` to generate a client to use in my angular application. This results in an interface called Training, which has an attribute audienc

[2021-01-06 16:38] macjohnny commented on #8258
@felixfiskare due to the missing serialization/deserialization logic, we should ensure the resulting type is `Array` instead of `Set`

[2021-01-06 17:21] felixfiskare commented on #8258
I agree :+1:

[2021-01-06 17:26] macjohnny commented on #8258
As a current workaround, you could add a type mapping from set to array

[2021-01-06 17:41] kuhnroyal commented on #8278
Besides that, there is no nullsafety version from either `http` or `dio` available yet.

[2021-01-06 17:42] onitake opened #8358 "[REQ] [Go] Mixed pointer/non-pointer usage leads to messy nested types"
### Is your feature request related to a problem? Please describe.

The Go code generator was updated in version 5.0 to support distinction between set/unset fields. While this may be a useful addition in some scenarios, there is a flaw in how Getters for nested types are represented: They act on a pointer, but return a plain object instead of a pointer. This makes it impossible to chain Get*() ca

[2021-01-06 17:44] kuhnroyal commented on #8278
This is not always correct. In OAS3 a field can be required but nullable. Required meaning it has to be serialized but may be serialized as `null` depending on the nullable flag.

[2021-01-06 17:55] jonschoning opened #8359 "[haskell-http-client] Restore proper detection of JSON mimetypes"
Mimetypes based on JSON seem to be no longer producing JSON instances

https://github.com/kubernetes-client/haskell/issues/83

[2021-01-06 18:01] harsimranmaan commented on #8278
Thanks @kuhnroyal . TIL.

[2021-01-06 18:04] harsimranmaan commented on #8278
Yes, it is a pain to adopt null-safety at the moment as most of the packages are not null-safe yet. I am hoping that we'll have null-safe versions of major packages by March/April timeframe. Maybe then, it would make sense to prioritize this

[2021-01-06 19:18] 4brunu commented on #8169
@Pe-te could you please try the version in the master branch to see if it solves your problem?

[2021-01-06 19:53] macjohnny commented on #8258
related PR: https://github.com/OpenAPITools/openapi-generator/pull/6931

[2021-01-06 20:00] morphlne opened #8360 "[BUG][JAVA][Spring] Config options for Pageable & ApiIgnore"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-06 21:39] jarruda commented on #7034
@wing328 Can you post those starting points?

[2021-01-06 21:41] #8359 closed

[2021-01-06 22:27] ahmednfwela commented on #8271
no, even bool isn't serialized correctly
it outputs a json object rather than a json value

[2021-01-06 22:31] ahmednfwela commented on #8270
yes, I do

[2021-01-06 22:34] CGavrila commented on #7490
I do understand there's a lot of work put into this and I don't want to insult anyone putting in the time into what is, ultimately, an opensource tool.

I have been struggling with various issues with the Java generator for days now, in two different projects. There is no way to make it work, even for a very basic project. I am trying the Maven 5.0.0 generator and it just _doesn't work_. There's a

[2021-01-06 22:50] kuhnroyal commented on #8271
Yea we should not serialize primitives with a serializer.

[2021-01-06 22:51] kuhnroyal commented on #8270
My PR should fix this, would be great if you can review or build and test it.

[2021-01-07 02:06] wing328 commented on #7034
Here is the PR to add AWS V4 signature support to the Go client generator: https://github.com/OpenAPITools/openapi-generator/pull/7326/files.

[2021-01-07 06:38] code-lucidal58 commented on #8263
`GenericOpenAPIError` is not an implementation to the GoLang `error`. This is a custom error struct. I need the reponse body to understand the cause for the non-2xx status code.

@cheshir Body is required for non-2xx status code response because it will have the message which will indicate the cause to the failure. Using type assertion to convert `GenericOpenAPIError` to `error` will trim the valu

[2021-01-07 08:22] cheshir commented on #8263
@code-lucidal58 thanks for the detailed response. Can I ask you to provide example of trimming  data after type assertion? I can't imagine what it could be.

Here is my example of how it could be: [example](https://glot.io/snippets/fup79i4oxz).

The idea of returning wide interface (like @thiagoarrais proposed) is also ok to me.

[2021-01-07 08:51] notizklotz commented on #8333
Hi, yes I'll prepare a PR

[2021-01-07 08:51] thall commented on #4847
@spacether
Spec:
[code]
Client generated with:
[code]

Error message:
[code]

Data returned by server:
[code]

[2021-01-07 09:04] spacether commented on #4847
Thank you for providing that info! Is there a url that I can hit to get the response headers? Or could you provide them?

[2021-01-07 09:09] thall commented on #4847
Its not a public endpoint, but i can provide curl output:
[code]

Is that enough?

[2021-01-07 09:14] wing328 opened #8363 "Enhancement to the Crystal client generator"
##### Description

Here is a list of pending enhancements.

- remove commented code: some code (ruby) was commented out. If confirmed these code do not need to be plotted to Crystal, we can safely remove it
- add return type to the function signature
- add auto-generated doc (api, model, readme)
- add more tests (e.g. upload file filie)
- better code format

If anyone wants to help, please reply t

[2021-01-07 09:23] spacether commented on #4847
Awesome, thanks! Yes it is. I can use that to write a test and fix it.

[2021-01-07 09:30] wing328 commented on #86
Closed via #8304

[2021-01-07 09:30] #86 closed

[2021-01-07 09:41] #8233 closed

[2021-01-07 10:11] EngineerCoding opened #8364 "[BUG][PowerShell] Url params not URL encoded"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-07 10:12] ArtyMaury commented on #7045
I'm having the same issue with version 4.3.1.

Have you found a fix that doesn't mean adding a false property to the subclasses ?

[2021-01-07 10:17] thall opened #8365 "[BUG][PYTHON] Cant send binary content using Python"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-07 10:53] notizklotz opened #8366 "[BUG][KOTLIN-SPRING] Constructor call generated for interface supertypes if using inheritance/discriminator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-07 13:34] leonluc-dev commented on #8341
@wing328 I've filed a PR for the issue ( #8368 )

[2021-01-07 14:27] #8273 closed

[2021-01-07 14:28] #8270 closed

[2021-01-07 15:00] onitake opened #8370 "[BUG] [Go] GenericOpenAPIError returned from Execute should be pointer, not plain object"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-07 15:11] meadsteve opened #8371 "[BUG] Is it expected that generated python client code now depends on nulltype"
##### Description
We've previously been running v5.0.0-beta2. Switching to the full release v5.0.0 results in the error `ModuleNotFoundError: No module named 'nulltype'`.

The fix was to add the nulltype package to my project's requirements but I'm not sure if this is expected and it doesn't seem ideal. Is this package really required or was it an accidentally inclusion?

##### openapi-generator v

[2021-01-07 15:23] erezgeva commented on #6532
Hi,
After looking in https://restsharp.dev/api/RestSharp.html#interface-irestrequest

Seems that the line should be:
request.AddFile(param.Value.Name, param.Value.Writer, param.Value.FileName, **param.Value.ContentLength,** param.Value.ContentType);

As param.Value already have the value for ContentLength. Seems clear path to fix this one.

I use RestSharp 106.11.4

[2021-01-07 15:34] kuhnroyal commented on #8271
Can you please review and possibly test the PR

[2021-01-07 15:37] kuhnroyal commented on #8271
If no specific serializer is used, built_value will add a discriminator field and make it a JSON object.
The check for bool was missing.

[2021-01-07 16:04] kuhnroyal commented on #6681
I am really interested in getting this fixed but Dio seems inactive atm.
We could provide a custom `DioPatched` and `RequestOptionsPatched` class that does this correctly.

[2021-01-07 17:14] code-lucidal58 commented on #8263
@cheshir Thank you for correcting my concept here. I still think that `*GenericOpenAPIError` as return type is better than `error`, as that will prevent type assertions or type checks after `Execute` function ends with non 2xx code.

[2021-01-07 17:15] toby-murray-snow-software commented on #7490
@CGavrila - I think your statement is too broad.

I personally contribute to ~4 Java projects that use many different versions of the generator and 2 TypeScript projects. They all work today, albeit with compromises in some places. The generator absolutely has difficulty with sections of the OAS, and some functionality is not available.

One of the common tripping points is that there's a particul

[2021-01-07 17:47] punitcse opened #8374 "[REQ][Ruby] Override header params"
### Is your feature request related to a problem? Please describe.

I want to pass header `AUTHORIZATION` token and `Accept` per request by passing it as an option from the generated client. Here is an example in ruby

[code]

## Describe the solution you'd like

If I pass any header params from client it should not be overridden.
Update the template before this line so

[code]

https://github.com

[2021-01-07 17:48] selliera commented on #8260
Oh, it looks like this issue is related to #8266
At least it is the case for me: I do have relative urls in "server", and using full urls lets the build work.

[2021-01-07 17:59] selliera commented on #8266
Reverting the version of swagger-parser in 5.0.0 to 2.0.20 enabled me to have a better error message:

[code]

And true enough: adding the --skip-validate-spec to my call lets this work. Ugly, but a suitable workaroud waiting for the problem to be fixed.

[2021-01-07 18:08] UnleashSpirit commented on #8266
Ho it's not OpenApi so ? It's "deeper".
You know if there is a issue on swagger-parser ?

[2021-01-07 18:13] selliera commented on #8266
It looks like there is one. In fact when I searched first, I had nto yet understood that it was coming from the url.
https://github.com/swagger-api/swagger-parser/issues/1509 look like the cause of our problems.

[2021-01-07 18:42] selliera commented on #8266
Oh, my bad: the --skip-validate-spec workaround is only usable with 5.0.0 rebuilt with swagger-parser version 2.0.21 as a dependency. With the real 5.0.0, it does not work at all ! (I tested with the wrong jar)

[2021-01-07 20:44] cgfarmer4 commented on #7058
@spacether Any movement here? Accessing enums should be as simple as Type.VALUE but I can't seem to get this to work.

[2021-01-07 21:50] cheshir commented on #8263
@code-lucidal58, the semantic of golang error will be broken. Some part of the community uses codegen to generate wrappers around the API clients for writing logs, metrics, traces etc. They highly depend on the error type.
E.g. [gowrap template for opentracing](https://github.com/hexdigest/gowrap/blob/master/templates/opentracing).

Let's look closer to the idea of returning error type:
If you car

[2021-01-07 21:57] spacether commented on #7058
No progress here yet in the python-generator or the python-legacy generator.

This is difficult to implement because:
- Enums can be combined in composed schemas
- Composed schemas can contain any type (oneOf: - null, -int -StrEnum
I am slowly making progress on this at https://github.com/OpenAPITools/openapi-generator/pull/8325
If you look in that branch at [StrEnum](https://github.com/spacether/

[2021-01-08 00:02] ahmednfwela commented on #8271
I think the issue here is that built_value should have handled primitives better than this, serialization shouldn't be so over-complicated.
I think we should file an issue at their side to handle this while we temporarily fix it.

[2021-01-08 01:05] cgfarmer4 commented on #7058
Thanks for the quick reply @spacether. So what is the proper way to access them currently?

The model serialization fails if they aren't passed as `Type('stringvalue')` however this emits incorrect values in the JSON.

I get `{value: 'stringvalue'}` when I would expect it to be `'stringvalue'`

[2021-01-08 02:58] spacether commented on #7058
The way to access them now is through allowed_values.

[2021-01-08 03:30] spacether commented on #7058
If there is a bug can you open up a separate issue with a reproducible example?

[2021-01-08 04:02] cgfarmer4 opened #8377 "[BUG] Python not serializing enums correctly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-08 04:03] cgfarmer4 commented on #7058
Thanks @spacether. Filed https://github.com/OpenAPITools/openapi-generator/issues/8377

[2021-01-08 04:15] spacether commented on #8377
So I see this working in our tests here:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py#L133
What version of openapi-generator are you using?

[2021-01-08 04:22] spacether commented on #8377
Values are strictly typed in the python generator. A string will not be accepted, you have to pass in an instance of Products.

[2021-01-08 04:24] cgfarmer4 commented on #8377
`openapitools/openapi-generator-cli:v5.0.0`

The request body is as follows:
[code]

`InitialProducts` is not a model, its simply a request body parameter name.

[2021-01-08 04:30] spacether commented on #8377
Can you provide the endoint definition also?

[2021-01-08 04:38] cgfarmer4 commented on #8377
[code]

[2021-01-08 04:59] spacether commented on #8377
Thanks!

[2021-01-08 08:35] thim81 opened #8378 "[REQ] K6 generator - Use openapi examples values as query parameters & body values"
### Is your feature request related to a problem? Please describe.

The K6 generator, generates an almost ready to use K6 script.

Example

[code]

In the above there are 2 parts of the generated script, that require some manual modifications.

Query parameter:
`let domainClusterId = "TODO_EDIT_THE_DOMAINCLUSTERID";`

Request Body
`body = {"name": "string", "servers": "list"};`

The goal is to use

[2021-01-08 09:00] maxfriedmann commented on #3938
@affanshahid ran into the same issue, how did you solve it?

[2021-01-08 09:24] jon-v commented on #8000
I'm also observing the same issue in typescript-fetch. As far as I can tell it seems general to all allOf constructions. It correctly generates an intersection type, but there seem to be two issues with the generated code:
1: The type intersection operator `&` is generated as `&amp;`, which obviously doesn't compile.
2: It attempts to use the intersection type definition directly in the import sta

[2021-01-08 09:42] ArtyMaury opened #8379 "[BUG][Typescript-angular] generates maps with object instead of any for additionalProperties without properties"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-08 09:54] cl1ck commented on #8000
I'm using typescript-axios and have both issues with the following configuration:
[code]

[2021-01-08 10:58] zippolyte commented on #8263
I'm in favor of reverting to the previous behaviour to keep the semantics of golang error.

I think the helper function is a good way to improve readability and avoid too many code duplications when dealing with errors.
This is what is done in our terraform provider for instance, which uses a generated go client:
https://github.com/DataDog/terraform-provider-datadog/blob/335296982e9cca452d206442bc

[2021-01-08 11:08] kuhnroyal commented on #8271
`parameterToString` is only used for form data, we always need a normal String representation. That is not really what built_value is meant to be used for. Maybe the problem is triggered by the `json.encode` call.

In any case, for `DateTime` it should have used the registered `Iso8601DateTimeSerializer`.

[2021-01-08 11:58] kuhnroyal commented on #8278
Thinking about possible and allowed API combinations:
[code]

To achieve this, we need to first make sure that it works without NNBD.
We need to always serialize `required` fields, even if they are nullable.
Only optional fields can have default values (this is currently wrong in the generator).

[2021-01-08 13:07] falk-stefan commented on #8311
@feenr Any chance you can help me [on this](https://stackoverflow.com/questions/65628873/using-org-openapi-generator-in-gradle-project)?

[2021-01-08 13:11] alesharik opened #8380 "[BUG][Rust Client] Duplicated crate::models in Params struct"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-08 13:27] leonluc-dev opened #8382 "[BUG][ASPNETCORE] Using anyOf or oneOf generates uncompilable server code"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-08 14:02] GiamBoscaro opened #8383 "[BUG] supportJava6=true creates a client with dependencies that do not support Java 6"
Goodmorning,

I am trying to generate an API client in Java with Open API. Sadly, it needs to work with java 6. I enable the flag, and everything works fine in the development environment (Eclipse) running on Java 11 with compliance for Java 6. When I export the JAR and try to run it in the staging environment with JRE 1.6, I get the error ClassDefNotFound okhttp3/Interceptor. If I try to download

[2021-01-08 15:45] borsch commented on #8003
@BorjaSalazar if you remove this, then everything will work
[code]

to be
[code]

as for me there is no sense in property `field_C` since it's not generated at all

**FYI**: this behaviour was changed with this PR https://github.com/OpenAPITools/openapi-generator/pull/6052 . Without those changes valid code is generated for your input(but still without field `field_C` 😄 )

[2021-01-08 15:49] SwingGuy1024 commented on #8266
I should point out that there are two problems here. One is that a relative url breaks the build. The other is that the error message is incorrect. I'm having a different issue that's breaking the build (https://github.com/SwingGuy1024/OpenAPI_inputSpec_Bug) where I also get a misleading error message, so this may be a wider problem with the code.
I haven't looked at the code, but in my experience

[2021-01-08 16:23] spacether commented on #8377
@cgfarmer4 can you try moving your initial_products definition into a component and $refing it?

[2021-01-08 17:45] spacether opened #8386 "[BUG] python refed ArrayModel in object property has wrong type"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-08 18:15] spacether commented on #8386
I was mistaken refed array models as properties work correctly

[2021-01-08 18:15] #8386 closed

[2021-01-08 19:02] cvgaviao commented on #8295
@jimschubert @wing328
I'm finishing my contribution for this.
I've improved the way import data is being captured (basically only getTypeDeclaration has the job now).
I also removed many unecessary overriding from all languages CodeGen classes and fixed many false positive tests of all them.

But I'm getting a kind of test error that I'm not understand properly and how to proceed to fix it. could

[2021-01-08 19:37] cgfarmer4 commented on #8377
Thanks so much for jumping in to fix here @spacether. Will keep an eye on the merge.

[2021-01-08 20:05] kuhnroyal commented on #8278
https://github.com/OpenAPITools/openapi-generator/pull/8235 contains some work on required/nullable

[2021-01-08 21:15] #8377 closed

[2021-01-08 22:50] spacether commented on #8377
All merged

[2021-01-08 22:56] spacether commented on #7064
Removing the milestone because this project is stale
The project is stale because python-experimental was converted into python

[2021-01-08 23:01] cgfarmer4 commented on #4612
Im still seeing this on latest.

[code]

[2021-01-08 23:52] sudall commented on #5853
I'm also seeing a similar issue in `typescript-axios` with a parameter named `options` conflicting with the `options: any = {}` that gets generated on all parameter creator functions.

[2021-01-09 00:19] cgfarmer4 commented on #8377
@spacether do you expect this to land in `5.1`? Looks like I'll get a new docker build tomorrow so Ill pull latest but hoping to settle on a version in the next month or so.

[2021-01-09 00:41] phemmer commented on #4807
After trying to generate a python model for a new project using the 4.3.1 generator, and finding it to be less than good, I tried using the 5.0.0 generator only to find it's drastically worse.

With the 4.3.1 generator `__init__` at least had arguments for the optional parameters. The 5.0.0 doesn't, instead relying on `**kwargs`.
As another major regression, in 4.3.1 all the properties were define

[2021-01-09 00:55] spacether commented on #4807
We welcome any prs which will add type definition to the signatures of the methods and functions in the python generators. Types are described in the docstrings

[2021-01-09 06:01] Alphasite commented on #8263
This current approach can lead to bugs elsewhere in the code, it leads to really nasty boilerplate everywhere (even worse than the occasional cast):
[code]

If you really want to make the Error early accessible, embed it in an `http.Response` like object, which is already being returned.

[2021-01-09 06:54] harsimranmaan commented on #8278
Thanks @kuhnroyal.  I have also started some work to get the dio package to support null-safety but it would likely take a few iterations to stabilize. 🤞🏽
https://github.com/flutterchina/dio/pull/1026

[2021-01-09 09:28] shahargl commented on #2118
any workaround on this? (cc @rienafairefr)

[2021-01-09 09:32] shahargl commented on #2118
can you describe how you did this? @rienafairefr

[2021-01-09 10:10] feliperuiz commented on #8360
I believe #8192 also relates to this. It seems to have been introduced by #5022, which added the imports for `@ApiIgnore` and `Pageable` without checking they are indeed required to be present.

[There seems to exist a computed flag/setting for the use of `@ApiIgnore`](https://github.com/OpenAPITools/openapi-generator/blob/ce893a84ff21f6719ecad01fb9e7b1e09346bffb/modules/openapi-generator/src/main

[2021-01-09 13:05] borsch commented on #6055
@ondrakucera @mutyasaisrikar please check this one https://github.com/OpenAPITools/openapi-generator/pull/8389

[2021-01-09 14:34] thSoft commented on #2906
A (not type-safe) workaround is to enumerate the class names generated from oneOf types in the following command line switches when running the generator:
`--language-specific-primitives=OneOfTypeATypeB,OneOfTypeCTypeB --type-mappings=OneOfTypeATypeB=java.lang.Object,OneOfTypeCTypeB=java.lang.Object`

[2021-01-09 16:57] chloegonzales opened #8391 "[BUG] Description"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-09 17:31] borsch commented on #8360
@feliperuiz there is no need to run tests. after you fix templates you simply has to re-generate all related samples via `./bin/generate-samples.sh` to generate all or `./bin/generate-samples.sh bin/configs/CONFIG.yaml`  to generate specific (ex: `./bin/generate-samples.sh bin/configs/java-vertex.yaml`

[2021-01-09 17:38] borsch commented on #8298
If you use plugin then you have to care about all dependencies on your own. On the other hand plugin generate all need dependecies for you. This what I get when I run `mvn clean install` for yours sample. That generated `pom.xml` has all necesary dependencies

![зображення](https://user-images.githubusercontent.com/7887777/104104658-21d20380-52b2-11eb-9153-c4ba50e728a1.png)

[2021-01-09 17:38] dhontecillas opened #8392 "[BUG][Go] Generated go client cannot upload file"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue? [repo with code spec and code to reproduce](https://github.com/dhontecillas/openapi-generator-go-upload-bug)
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPI

[2021-01-09 18:55] #4001 closed

[2021-01-09 18:57] ybelenko opened #8394 "[BUG][php] json_decode missing when response is object"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-09 20:04] aneksamun opened #8395 "[BUG][scala-sttp] error generating client with basic authentication"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-09 21:15] morphlne commented on #8360
Fixed locally by adding new config options & changing mustache template. Will prepare PR for this fix

[2021-01-09 23:23] davesnx opened #8397 "[BUG][OCaml] Generation of `Any_of` and `One_of` is missing, fails at compilation"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-10 00:19] davesnx opened #8398 "[BUG] [OCaml] Generation of `unknown_base_type:UNKNOWN_BASE_TYPE` isn't valid"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-10 15:19] jimschubert commented on #8311
@falk-stefan fix is to remove the option from the example. The example assumed use of the example spec. Any spec with different model names or targeting different language or framework options would require updates to any settings values. I think it's obvious in the other configurations in the example, but I agree the model constraint wouldn't be obvious to new users.

I've merged #8312 with the d

[2021-01-10 15:19] #8311 closed

[2021-01-10 18:00] andrew-s opened #8400 "[REQ] Upgrade Hyper/packages in Rust Client"
### Is your feature request related to a problem? Please describe.

The hyper package used in the rust client "rust" generator is very old, sat at version 0.11 - there was a big shift in the way it works between 0.11 and 0.12. It makes sense to upgrade this to 0.14.

## Describe the solution you'd like

Upgrade the package to a newer version beyond 0.12

## Describe alternatives you've considered

[2021-01-10 19:52] spacether commented on #8377
This should land in 5.0.1. How do you use versions of openapi generator?

[2021-01-10 22:08] petermetz opened #8401 "[BUG][rust-server] Unable to turn 5XX into a StatusCode invalid suffix `XX`"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-11 05:46] cgfarmer4 commented on #8377
Trying to stabilize on `5.0.0` as we have been using the betas to develop over the past few months. I'll make an exception for `python` and pull latest from docker CLI. Thanks again for jumping on this promptly!

[2021-01-11 06:53] spacether commented on #8377
You're welcome. Thank you for submitting the issue. :)

[2021-01-11 08:16] ondrakucera commented on #6055
@borsch Thanks. I agree with the general approach (a new option) but I can't really comment on the particular changes made in the commit.

[2021-01-11 10:21] RonnyPfannschmidt opened #8404 "[BUG][Python] own Endpoint type shadows autogenerated Endpoint helper for python"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-11 11:12] pcuriel commented on #8003
Hi @borsch.

Yes, you are right in that `field_C` is not generated at all.

However, if you look at the OAS 3 spec, this is a valid definition intended to represent that `field_C` is a required key in the Map (see "Fixed Keys" section [here](https://swagger.io/docs/specification/data-models/dictionaries/)).

So, IMHO, even if explicit fields will never be present in the code, the generator should

[2021-01-11 11:17] anban02 opened #8406 "Can't genereate code with OpenApi 3 Annotations (Java Springboot)"
##### Description

Hello, I am using the generator in a java project (Springboot Application) and want it to generate the code with Annotations for openapi 3.0 instead of swagger.
After searching for a longer period of time I could not find any information on how tow do that.
Is there a setting that i can change to achieve this or do i need to use a different version / product branch?

If there is

[2021-01-11 11:45] gerardsimons opened #8407 "[BUG] Dart dio-http DateTime serialization parameterToString becomes weird JSON serialized object"
##### Description

The code generator works just fine for dart-dio but I am getting some strange datetime serialization. I was expecting some kind of ISO date string but rather it becomes this weird JSON serialized string when I use a DateTime type

`{\"$\":\"DateTime\",\"\":\"2021-01-11T11:30:52.387885Z\"}`

That looks more like a raw data dump than something you would want to send to the server.

[2021-01-11 11:59] wwwsrikanth opened #8408 "[BUG] Auto generated Client side Java source files missing "import java.util.Arrays""
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-11 12:09] codedevstem commented on #8086
Solved in the latest release, important sidenote: If you have trouble with your resulting models, move the insulting component out to a seperate component.

[2021-01-11 12:09] #8086 closed

[2021-01-11 12:12] wwwsrikanth commented on #8408
[audit_service_swagger.txt](https://github.com/OpenAPITools/openapi-generator/files/5795635/audit_service_swagger.txt)

[2021-01-11 12:34] elexx opened #8409 "jaxrs-cxf-client uses wrong sourceFolder"
When using the jaxrs-cxf-client with the mavenplugin (version 5.0.0) the generator creates the java files into `target/generated-sources/openapi/src/gen/java`, as defined by:
https://github.com/OpenAPITools/openapi-generator/blob/e26f44072929e7392c04ffe4158e4d9bff3658da/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFClientCodegen.java#L57

However, the [documenta

[2021-01-11 12:46] thiagoarrais commented on #8263
That is very close to what we did on our terraform provider too, @zippolyte (can't link to code because it is still closed source, though). And we ran for some time _without_ the helper function because the `Error()` message was sufficient.

In my PR I've included sample code with that strategy to make it clear how to get the `Body()` and `Model()` fields from the returned `error`. I'll even chang

[2021-01-11 13:33] mostafa commented on #8378
Hey @thim81,

thanks for filing the issue. I'd be happy to see any contribution from you or any member of the community. Currently I am busy doing other things and this is not one of the priorities, but I might look at it in the future. Also, I can help with the code review if you create a PR.

[2021-01-11 13:43] thim81 commented on #8378
Hi @mostafa,

Fully understood. Do you find it a valuable addition?

Since I'm not at home of the code base, can you perhaps me towards the piece in the code where you would want to see this extension being implemented?

[2021-01-11 15:17] nikosmoum commented on #144
Any updates on this? Returning different schema based on accept header is common imo. We are currently forced to workaround this, which is not ideal, so it would be great if this was implemented.

[2021-01-11 15:19] nikosmoum commented on #3990
Hi, any update on this? I am facing the same problem.

[2021-01-11 15:23] rokkerboci commented on #3623
I experienced the same issue with a string bodied request.
I found, that it is because the `sendBody` function does not check if `body` is a `String`, in which case it should convert it to a buffer, and send that, rather then send it as a json

[code]

[2021-01-11 16:26] #1909 closed

[2021-01-11 17:01] basyskom-dege opened #8410 "[REQ][Qt][C++] Callback support for Qt5"
### Is your feature request related to a problem? Please describe.

I would like to add callback support for Qt5. I started to implement it but i came across a problem i could not solve.
As far is I know, the callback URL has to be put in the query and if it requires parameters in the request body, those parameters have to be put in the body. I can retrieve the callback URL but i cant get the para

[2021-01-11 20:25] mostafa commented on #8378
@thim81 Of course!

[This](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java) is the file that generates the k6 script. And [this](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/k6/script.mustache) is the template I used to generate

[2021-01-12 02:36] #7358 closed

[2021-01-12 03:13] #8395 closed

[2021-01-12 09:46] fizzet opened #8414 "[JAVA] schema type named "Date" uses wrong date class"
##### Description

If a data type in the OpenAPI specification is called `Date`, the code generator doesn't generate the type correctly.

##### openapi-generator version

5.0.0 (worked fine in 4.2.3, but not in 4.3.1)

##### OpenAPI declaration file content or url

This document:

[code]
generates the following code, using generator=jaxrs-cxf and dateLibrary=java8:

[code]
What it should output in

[2021-01-12 10:21] arnis87 commented on #5077
Similar behavior occurs when enum name is defined in camel-case and during code generation it gets value for the original name used in api and name in upper case. When this is (de)serialized it does not use this value but name instead.

Can be fixed also with `@JsonCreator ` annotation on the generated `fromValue(String)` method.

Currently the only workaround seems to be to override the enumOuter

[2021-01-12 10:31] lozybean commented on #5993
I have same problem. `Page<User>` in api-docs will produce schema name like `Page« User»` , and this will cause an error

[code]

[2021-01-12 10:38] Thessi opened #8415 "[BUG][typescript-angular] The ApiInterface import statement for the Configuration doesn't take use the configurationPrefix option"
##### Description

This issue occurs when both the `configurationPrefix` and the `withInterfaces` options are used.
While the Configuration field in the interface correctly uses the configurationPrefix, the import for the Configuration tries to import `Configuration`, which leads to an error.

From https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/res

[2021-01-12 12:47] jkoendev opened #8417 "[Question][cpp-restsdk] Which version of CppRest is required?"
Dear,

i am trying to use the client code generated by cpp-restsdk in my application. I am able to compile the code but not able to link it. I suspect that i am linking to a wrong version of CppRest but i could not figure out which version is required.

At the moment I am getting linker errors like

[code]
with the default package of my Debian (libcpprest-dev 2.9.1)

or

[code]

with https://githu

[2021-01-12 13:34] wing328 commented on #8408
Can you try the latest stable version v5.0.0 instead as mentioned in the issue template?

[2021-01-12 14:37] wwwsrikanth commented on #8408
Yes the issues is there with the latest stable version v5.0.0. Just verified

[2021-01-12 15:28] JohannesHoppe commented on #355
@jimschubert I once again googled for a solution, found my own issue and realised that you provided a solution. Thank you very much for that! 👍

[2021-01-12 16:01] #8415 closed

[2021-01-12 16:02] evergreen-lee-campbell commented on #7374
I'd also like to see this, I'm currently hacking with the package.json between generating and transpiling.

[2021-01-12 16:10] evergreen-lee-campbell commented on #7526
If it helps, I faced a similar issue just yesterday to do with the fact that the server itself was generating a definition for `Set` and `Array` without actually adding them to the definitions node in the generated JSON schema, because the server was running an old version of Springfox which did not handle `Map<>` types well. Upgrading Springfox to 3.0.0 on the server resolved the issue.

[2021-01-12 18:22] falk-stefan opened #8419 "[Q] How to make openApiGenerate depend on another task?"
I'm sorry to ask this here but I'm just not able to find an answer to this rather simple question:

How can I make a task `openApiGenerate` depend on another task? And how would I create different instances of it?

What I mean is, how could I do something like this:

[code]

[2021-01-12 18:29] phemmer opened #8420 "[BUG][Python] Adding custom model template with Python generator throws exception"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-12 19:39] debuglevel opened #8422 "[BUG][typescript-angular] Syntax error with current TypeScript"
##### Description
![image](https://user-images.githubusercontent.com/2401265/104363523-96f14300-5515-11eb-8ef7-3aaf7d67b000.png)
as described in README.md: https://github.com/OpenAPITools/openapi-generator/blob/34d2e25899a6380521a443a3f702438a1aceb11b/modules/openapi-generator/src/main/resources/typescript-angular/README.mustache#L78

Works fine without `=>`

But I don't know too much about TypeSc

[2021-01-12 20:54] spacether commented on #8420
So I am also unable to get this working:
Spec file (ensures the model is written)
[code]
Config file:
[code]
This did not work for python or Java

[2021-01-12 22:06] broccolihighkicks commented on #7975
I am thinking of merging my fix, but it needs work.

If anyone is interested in generating Rust clients let me know.

[2021-01-13 01:34] rainmanhhh opened #8424 "[BUG] kotlin-spring generator doesn't generate comments on api methods"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-13 01:46] wing328 commented on #8424
I wonder if you've time to file a PR to port those comments in java spring generator's template to the one in kotlin-spring

[2021-01-13 02:03] rainmanhhh commented on #8424
sorry but I'm not familiar with openapi-generator template.
BTS, java-spring comments are in Controller files, but kotlin-spring commentes should be generated into Api files(XXXApiService.kt which contain interfaces), so that those who write XXXApiServiceImpl could see comments inherited from parent interface XXXApiService

[2021-01-13 02:03] cgfarmer4 opened #8425 "[REQ] Update OkHTTP dependency"
### Is your feature request related to a problem? Please describe.

https://github.com/plaid/plaid-java/issues/257

## Describe the solution you'd like

The OkHTTP dependency updated for Java to latest.

## Describe alternatives you've considered

Manual updates inside of the templates or a forked version of the generator.

[2021-01-13 02:39] wing328 commented on #8424
no worry. let's see if anyone from the community can help out on this.

kotlin-spring templates: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/kotlin-spring
java spring templates: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/JavaSpring

[2021-01-13 02:40] wing328 commented on #8425
May I know if you've time to contribute a PR to update the dependencies to newer versions?

https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson is a good starting point.

[2021-01-13 02:58] ityuhui opened #8426 "[REQ] [C][Client] Generate document automatically for C client"
## Describe the solution you'd like

I'd like to add the templates to auto-generate documentation for C client
Just like ruby client https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/ruby/docs/PetApi.md
and C++ generators do.

[2021-01-13 03:17] ityuhui commented on #8426
@wing328 @zhemant @michelealbano

[2021-01-13 03:24] wing328 commented on #8426
:+1 let me know if you need help on that.

[2021-01-13 03:28] wing328 commented on #8426
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java#L988 maybe useful as a reference in constructing the example code as it can deal with self-referencing models.

[2021-01-13 04:19] #7082 closed

[2021-01-13 04:20] devhl-labs commented on #7082
Supported in new httpclient library.

[2021-01-13 07:40] benmoeARZ commented on #4119
We are facing the same issue. any news?

[2021-01-13 08:56] wing328 commented on #8263
I've filed https://github.com/OpenAPITools/openapi-generator/pull/8427 to revert #8137 . Please review when you guys have time.

[2021-01-13 09:09] cgfarmer4 commented on #8425
hi @wing328, unfortunately I dont have the bandwidth or enough Java experience to make this update without creating regressions in the process.

[2021-01-13 09:12] wing328 commented on #8425
That's ok. Let's see someone from the community has time to contribute the enhancement.

(of course you can also sponsor the task to give it a higher priority)

[2021-01-13 09:48] jaumard opened #8429 "[DART-DIO] Dart dio generated code can't handle binary upload"
##### Description

The code generated by dart dio generator is wrong for the type string binary (for files).

[code]
##### openapi-generator version

I've tried with the 5.0.0

#### Details

The generated code compile with no issues, but once you tried to do the call you get an error saying there is no serializer for Uint8list

##### Suggest a fix

`isPrimitiveType` should be true for Uint8list, l

[2021-01-13 09:56] janishorsts commented on #5441
alternative, to keep it simple - set it directly in the API client as DefaultService is DI:

[code]

[2021-01-13 10:41] jaumard commented on #8429
I've tried the `isPrimitiveType`, it partially works, the import is not added at the generation now so it doesn't compile...

[2021-01-13 11:33] zsmuller commented on #8370
I concur. In client.go (generated with openapi generator 5.0.0) the GenericOpenAPIError struct has an Error() method with the following definition:
[code]

So the usual `if err != nil { ... }` error handling now has to be `if err.Error() != "" { ... }`, which is quite inconvenient.

[2021-01-13 12:54] TheKvist commented on #8298
I see, thanks for that information. I falsely made the assumption that Maven would be installing the dependencies from the generated POM so the first `mvn clean install` does not fail with the missing symbols errors.

So if I got it right the procedure is to actually have the first `compile` fail, then copy the generated dependencies in my root POM, then execute the command again? Or do I need so

[2021-01-13 13:02] wing328 commented on #8370
I think it's a duplicate of https://github.com/OpenAPITools/openapi-generator/issues/8263. A PR has been filed to revert the change.

[2021-01-13 13:02] #8370 closed

[2021-01-13 13:16] borsch commented on #8298
yeah, you can do that. `mvn clean compile`, then check newly generated `pom.xml` add copy all required dependencies to yours `pom.xml`

[2021-01-13 14:56] codyhutchens opened #8432 "[REQ] [typescript-axios] Bump axios to version v0.21.1"
### Is your feature request related to a problem? Please describe.

Axios version v0.19.2 has known Server-Side Request Forgery vulnerability
https://github.com/axios/axios/issues/3407
https://snyk.io/vuln/SNYK-JS-AXIOS-1038255

## Describe the solution you'd like

This can be fixed by bumping the version in the package.mustache to 0.21.1 for typescript-axios

## Describe alternatives you've consi

[2021-01-13 16:38] #8404 closed

[2021-01-13 16:41] june07 commented on #7246
Would be nice to get an update on this...

Running into the same issue.  After running every permutation of javascript additional-options in a desperate attempt to get a working build, I still continue getting this:

[code]

[2021-01-13 19:19] falk-stefan opened #8434 "[BUG] TypeScript version not compatible with Angular 11"
I am not sure if this is a bug or it's more like a "feature request" in this case:

I am not able to compile the generated client because the TypeScript version is not compatible with Angular 11:

[code]

How can I set the correct TypeScript version while I generate the code? This is how I defined the gradle task:

[code]

This is what gets written into the `package.json`-file of the `rest-client`

[2021-01-13 19:20] falk-stefan commented on #8419
In case somebody has the same issue:

[code]

[2021-01-13 19:20] #8419 closed

[2021-01-13 19:22] MaSven opened #8435 "[REQ] Update of the spring dependencies and evaluation of all the options"
### Is your feature request related to a problem? Please describe.

The problem is, the spring dependencies are using old libraries or libraries that are not relevant anymore or are superseeded by better alternatives. Springfox for example could be replaced by springdoc. Also, now it only generates maven projects. There should also be an option to generate only sourcecode wihtout the project files

[2021-01-13 19:25] falk-stefan commented on #8434
Turns out this was solved in https://github.com/OpenAPITools/openapi-generator/pull/7937

Just needed to upgrade the version in my gradle from

[code]

to

[code]

[2021-01-13 19:25] #8434 closed

[2021-01-13 19:45] gbormann commented on #144
We're suffering from the same issue.

What's the status of this issue after 2.5years?

[2021-01-13 19:47] gbormann commented on #6708
Not just for requestBodies, also for reponse: http://spec.openapis.org/oas/v3.0.3#response-object

[2021-01-13 21:25] falk-stefan commented on #5246
Somehow this is not working for me in a generated library of mine. Heres my `angular.json` excerpt:

[code]

Any ideas?

See also: [Question on stackoverflow](https://stackoverflow.com/questions/65709951/getting-inject-must-be-called-from-an-injection-context-after-upgrading-to-a)

[2021-01-14 06:34] anban02 commented on #8406
Hello MaSven
what you mean is that i should use a newer version of springfox in my project pom, is that correct?
Or does the template in this case mean my yaml file?

[2021-01-14 07:09] cgfarmer4 commented on #8425
@wing328 how would we go about sponsoring this request? Think we could do that.

[2021-01-14 07:42] matze999 commented on #3796
I have the same problems as mentioned above:
With version 5.0.0, the plain generated code:
- when i define the discriminator field <discriminator_field> explicitly it is not being filled (null) automatically with the name of the class.
- When i do not define that <discriminator_field> i get no type information.
- When i, in the generated code, replace "@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, inc

[2021-01-14 08:31] macjohnny commented on #8432
would you like to fix this?

[2021-01-14 08:54] gbormann commented on #5097
How can you 'deprecate' a _spec_ feature?? It doesn't make sense if you claim support for OAS v3.

Rather than being a bug, it looks like the authors have not read
http://spec.openapis.org/oas/v3.0.3
in detail and only made assumptions based on a cursive read.

Not all inheritance is polymorphic!! Since most models translate to simple data objects (as all the behaviour should be in the endpoints+v

[2021-01-14 10:21] CR4567 opened #8441 "[BUG][Ruby] NameError when using OneOf in json schema"
Hi,

I used the openapi-generator to build ruby code from a json schema, which is using oneOf relations for some of their attributes in the response data model.

    "UserDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the user."
          },
          "fullName":

[2021-01-14 12:31] ravermeister opened #8442 "[BUG] kotlin-spring generator, different results for enum classes and in-place enums (mustache templates)"
Hi,
I noticed following difference in the generated enum, when using an enum class over an in-place enum in a data class.  The difference is already in the mustache Templates:

- [Data Class](https://github.com/OpenAPITools/openapi-generator/blob/32b01cb39bea5bc0d006e9d31d41afedf4dcab29/modules/openapi-generator/src/main/resources/kotlin-spring/dataClass.mustache#L30)
  @JSONProperty **is set**, s

[2021-01-14 14:12] thiagoarrais commented on #8263
Closing because (as of #8427) this is fixed in the main branch . But #8439 is important to avoid regressing the original issue (#8136).

[2021-01-14 14:12] #8263 closed

[2021-01-14 14:34] cvgaviao opened #8443 "[REQ] Change method toExampleValue in order to accept a CodegenProperty"
Many language's generators are recalculating values that were already calculated by `fromProperty` method. For example, the DataType, the InstanceType, between others.

## Describe the solution you'd like

- Change the method signature to:
[code]
- move the call of toExampleValue to the end of fromPropertyMethod, so it can use all other already calculated values
## Additional context

it is relate

[2021-01-14 15:54] StefanCenusa commented on #8432
I've added this [PR](https://github.com/OpenAPITools/openapi-generator/pull/8445) to fix this issue.

cc: @macjohnny

[2021-01-14 16:13] daymar23 opened #8446 "Path Parameters fails if there is an space in the request."
Hello! I want to report a bug with my swagger version: api version: v2.

When I made a request with an API with path parameters and in the path parameter is an space at the end I receive the following error:

![image](https://user-images.githubusercontent.com/68713491/104613218-a030fb80-564c-11eb-9380-cfdb0647f4dd.png)

If I remove the space the API works as expected, so the problem is with the sp

[2021-01-14 16:19] falk-stefan opened #8447 "[BUG] Getting “inject() must be called from an injection context” after upgrading to Angular 11"
##### Description

After having generated an API-client under the `org.openapi.generator:5.0.0` using the `org.springdoc.openapi-gradle-plugin:1.3.0`, my web application crashes, giving me the following error:

[code]

##### openapi-generator version

5.0.0

##### OpenAPI declaration file content or url

[code]

##### Generation Details

I am using the [`openapi-generator-gradle-plugin`](https://g

[2021-01-14 17:09] codyhutchens commented on #8432
Thanks for getting that done so fast. I was trying to do it myself but I had some issues with the tests failing for the typescript-axios pet store sample. I was getting 404s and I feel like I was missing a step. lol

[2021-01-14 18:56] jixuan1989 opened #8448 "[BUG] openapi-generator-maven-plugin generates incorrect package import for go-server"
##### Description

When using openapi-generator-maven-plugin to generate go-server codes, there are two errors in the generated codes:
(openapi-generator-version is 5.0.0)

1. 	`"mime/multipart"` is forget to import in `router.go`
2.     `github.com/gorilla/mux` should not be imported in `api_default.go` file.

How to produce:

I can stable reproduce it using the following file:

1. get codes from

[2021-01-14 19:03] #8432 closed

[2021-01-14 19:11] cgfarmer4 opened #8449 "[REQ] Track what languages get generated via headers."
### Is your feature request related to a problem? Please describe.

We'd like to be able to track what languages get generated and the version of the OpenAPI file they are using.

## Describe the solution you'd like

Ideally we could embed this in a global header similar to the current apiKey security scheme. Our preference would be user-agent.

## Describe alternatives you've considered

Not sure

[2021-01-14 19:41] macjohnny commented on #8447
can you elaborate in more detail what the step "2. Reference the API-Client in your Angular 11 Web-Application" means technically? maybe you can upload a demo repo on github.

[2021-01-14 20:31] keysight-diana-belmega opened #8450 "[BUG] ModelBase.cpp fromJson method for int64 types always returns 0, regardless of JSON value"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-14 20:37] keysight-matthew-giassa commented on #8450
Thanks for putting this together Diana.

If the maintainer/developer investigating this ticket needs additional info, we could likely put together a throwaway Docker script + container to execute the build + run operations that yield the behaviors noted in the report above. I believe I already have a template for that which I use for VIM bug reports.

[2021-01-14 21:34] cvgaviao commented on #8443
As this method is only used by properties, it is not necessary to keep it in any Codegens, the interface to be created by issue #7523 can hold a method for the same purpose...

[2021-01-14 21:34] #8443 closed

[2021-01-15 06:24] wing328 commented on #8425
I've added an FAQ about sponsorship: https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-sponsor-a-task-eg-bug-fixes-enhancements-new-generators-etc

Please have a look and let me know if you've further questions.

[2021-01-15 10:10] mppperez commented on #6701
We had the same issue with 5.0.0 ... but even after fixing it there is still the problem that typescript-node generates code that doesn't match the same code generated for backend... it always tries to send JSON data although application/csv or multipart/form-data is specified in YAML. Even overriding the content type header would have no effect since the content is still not the same as the backe

[2021-01-15 10:26] asaf opened #8453 "[REQ] GO: Expose setting 'context' in generated request objects"
OpenAPI SDK for Golang generates two methods to execute an endpoint (e.g., `MyEndpoint` and `MyEndpointExecute`)

`MyEndpointExecute` is not accepting context nor possible to set the context on the payload object as its `ctx` is private.

This blocks from setting auth token such: `context.WithValue(context.TODO(), myclient.ContextAccessToken, SecretToken)`

Suggested solution: to avoid breaking ch

[2021-01-15 12:26] davesnx commented on #8398
I'm not familiar with the project, but I might be able to give it a try. Is there anything you could guide me here? @cgensoul

I opened 2 issues regarding code-gen and both seem straight forward, but I can't be sure, seems the templating needs to change the formating to lower case?

[2021-01-15 13:27] Tohnmeister commented on #1666
The workarounds mentioned only seem to work when using `application/json`. When using `multipart/form-data` (for example when uploading files), it has no effect and the error remains.

[2021-01-15 13:42] StefanCenusa commented on #8432
@macjohnny When will this fix be available on the `openapi-generator-cli` npm package? Thanks!

[2021-01-15 13:47] jherbage commented on #8448
Also affected by this and I am using the docker image openapitools/openapi-generator-cli

[2021-01-15 13:52] macjohnny commented on #8432
probably in february, see https://github.com/OpenAPITools/openapi-generator/milestone/33

if you want to use it now, you can use the latest snapshot version: https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/5.0.1-SNAPSHOT/

[2021-01-15 14:20] falk-stefan commented on #8447
@macjohnny Hi! Of course.. well..

The API-Client is a compiled package which is located at `<project-root>/generated/meditation-rest-client"`. So, in my **package.json** I have this as a dependency set as follows:

[code]

This setup worked in Angular 9 and I am not sure what exactly change with Angular 11 here. On one side, I upgraded the OpenAPI tool-chain as stated, on the other side I upgrade

[2021-01-15 14:44] macjohnny commented on #8447
in the `<project-root>/generated/meditation-rest-client`, is there a `node_modules` folder? if so, it should be deleted, because you should use the angular code in `<project-root>/node_modules`

[2021-01-15 15:07] borsch commented on #8414
because of this `dateLibrary=java8` it's a valid and expected result. Try `dateLibrary=legacy`

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java#L227

[2021-01-15 15:09] falk-stefan commented on #8447
@macjohnny Interesting.. you are right. Indeed, there is one.. how did that get there? O_o

This client gets generated at build-time. So.. in my `server/` project, there is a `build/generated/sources/meditation-rest-client/dist` and inside that `dist/` folder is no `node_modules/`..

Any idea how it got there? Maybe from a `npm install` run?

[2021-01-15 15:13] fizzet commented on #8414
I think you misunderstood the report. I get `java.util.Date` *in spite of* `java8`.

[2021-01-15 15:13] macjohnny commented on #8447
if you want to run the code of the compiled npm package, you would need to reference it in your `package.json` as follows
[code]
if you want to compile the generated code as part of your frontend-build, you can reference
[code]
but then you need to make sure the `<project-root>/generated/meditation-rest-client/node_modules` is deleted or simply not creating during the code-generation (as part of t

[2021-01-15 15:16] falk-stefan commented on #8447
Just to clarify:

This here is already the `dist/`

[code]

Basically:

[code]

That's how I always did it (Angular 9).

[2021-01-15 15:17] falk-stefan commented on #8447
And I already tried to use `build/generated/sources/meditation-rest-client` and compile it but that didn't work. I can't remember what the problem was though..

[2021-01-15 15:18] macjohnny commented on #8447
yes, but my guess would be that `build/generated/sources/meditation-rest-client/dist/.../myapi.js` will still pick the `build/generated/sources/meditation-rest-client/node_modules/@angular/core` instead of the `<project-root>/node_modules/@angular/core`.

Please try deleting `build/generated/sources/meditation-rest-client/node_modules`

[2021-01-15 15:20] macjohnny commented on #8447
another source of issues could be symlinks

[2021-01-15 15:21] falk-stefan commented on #8447
@macjohnny I'll have to make a few changes to make sure this works but from the first look.. it seems the `node_modules/` directory in the API-client was indeed the issue. I'll need some time to check a few things and keep you up to date!

Thank you so far. Thanks a lot! :)

[2021-01-15 15:26] falk-stefan commented on #8447
@macjohnny Just a quick question.. The problem with copying `server/build/generated/sources/meditation-rest-client` was that in that case I wasn't able to build the App.

The error was

[code]

This was why I compiled the API-Client beforehand and then copied the `dist/` folder. So.. how can I make sure that this gets compiled along with my web-application?

[2021-01-15 15:30] macjohnny commented on #8447
you should not place the `meditation-rest-client` inside the `<project-root>/node_modules` folder, but rather somewhere like
[code]
this way, you can compile the generated code along with your frontend code, without the need to compile the npm package separately.

[2021-01-15 15:32] cgensoul commented on #8398
Hello David,

I am not able to help you out much these days (being on holidays far from a
computer) but feel free to give it a try, I’ll review the code when I’ll
get back.

As a super rough guide though, there are only two kind of artefacts you
might touch : either the ocaml generator java source code (the only java
source file with OCaml in its name) or the moustache template files for the
afore

[2021-01-15 15:33] macjohnny commented on #8447
I also added an answer to https://stackoverflow.com/questions/65709951/getting-inject-must-be-called-from-an-injection-context-after-upgrading-to-a/65738925

if this resolves your issue, please close the issue and if you like it, mark the answer as accepted.

[2021-01-15 15:33] falk-stefan commented on #8447
No, no. I never put it there. It's always in `<project-root>/generated/meditation-rest-client`. This error:

[code]

comes if I put the **non-compiled** version of `meditation-rest-client` there.

[2021-01-15 15:34] macjohnny commented on #8447
Could you please post more details about the error that occurs, and more details about which code is placed where?

[2021-01-15 15:38] davesnx commented on #8398
Hey @cgensoul, no worries and enjoy your vacations!

I will give it a shot and try to post any question that I might here.

Thanks for the fast response

[2021-01-15 15:46] falk-stefan commented on #8447
So, this here is the generated (non-compiled) version of `meditation-rest-client`

![image](https://user-images.githubusercontent.com/58136779/104746809-0ce0ee80-5750-11eb-822e-d710d8d4b904.png)

What I used to do is compile this beforehand and copy the content of `dist/` to <web-client>/generated/meditation-rest-client` == (`dist/`) which I then referenced in **package.json** like this:

[code]

[2021-01-15 15:54] falk-stefan commented on #8447
This here is the `dist/` after compilation. As you can see, there is no `node_modules/` directory inside:

![image](https://user-images.githubusercontent.com/58136779/104748366-f0de4c80-5751-11eb-8f3a-0992fbc7b108.png)

I am sure this didn't happen previously but as you can see, there is now a `node_modules/` directory where it shouldn't be:

![image](https://user-images.githubusercontent.com/5813

[2021-01-15 15:55] macjohnny commented on #8447
to avoid the
[code]
the simplest way would be to copy the entire content of `/server/build/generated/sources/meditation-rest-client` to your frontend app, e.g. `<frontend-project-root>/src/core/api/meditation-rest-client`.

otherwise you would need to add `/server/build/generated/sources/meditation-rest-client` to the `includes` array of `<frontend-project-root>/tsconfig.json`

[2021-01-15 16:12] falk-stefan commented on #8447
Okay. So, with `./generated/meditation-rest-client` being the non-compiled code of the API-Client

**tsconfig.json**

[code]

Does not work with imports like `import {Track} from 'meditation-rest-client';` instead it seems to require relative paths `import {Track} from '../../../meditation-rest-client';`.

This is the same for copying the code directly into `<project-root>/src/core/api/meditaiton-

[2021-01-15 16:16] macjohnny commented on #8447
Here is what I tried to reproduce your situation:
* In `Downloads`, create a new angular 11 app with
[code]
* Clone https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm to `Downloads/petstore-api/src` and in that folder run
[code]
* Copy `Downloads/petstore-api/src/dist` to `Downloads/bla-mega/generated/api-cl

[2021-01-15 16:20] falk-stefan commented on #8447
I think I've got it. Instead of `"include"` I have to set `compilerOptions.paths` ([see](https://scotch.io/tutorials/reference-angular-imports-absolutely-for-easier-development)) like so:

[code]

This seems to work now! :)

[2021-01-15 16:21] macjohnny commented on #8447
To avoid having to use relative paths, you can add a path mapping to your `tsconfig.json`:
https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping
i.e.
[code]

I dont know why this happens, maybe some `npm install` is accidentally run inside the `api-client/dist` folder for some reason. As

[2021-01-15 16:22] macjohnny commented on #8447
so can you close this issue as it is resolved?

[2021-01-15 16:23] falk-stefan commented on #8447
Yeah, thanks a lot man! Do you have a "buy me a coffee"-button somewhere? :D

Yeah, this issue is resolved! Thanks a hundred times!

[2021-01-15 16:23] #8447 closed

[2021-01-15 16:26] macjohnny commented on #8447
glad it works.

[2021-01-15 16:27] falk-stefan commented on #8447
Falls ich mal in der Schweiz bin ;)

[2021-01-15 18:28] nathan-nichols-by commented on #8003
I've also hit this issue after upgrading to `5.0.0` of the generator. I have quite a few schemas that worked fine with `additionalProperties: true` along side several other explicitly defined properties in the previous version of the generator. I half-way worked around the issue by defining special component schemas for each attributes map

[code]
[code]

This creates a class called `Attributes` t

[2021-01-15 19:29] spacether opened #8455 "[BUG] MavenReportException: Error while generating Javadoc"
#### Bug Report Checklist

Unable to run `mvn clean install` without getting this error:
[code]
on master branch

Environment:
[code]

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPIT

[2021-01-15 21:03] sujayran opened #8456 "cpp-restsdk code generation issue for type: string when used as $ref:"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-15 21:28] spacether commented on #4847
This should be fixed by the above merge

[2021-01-15 21:28] #4847 closed

[2021-01-15 21:28] spacether commented on #8365
This should be fixed by the above merge

[2021-01-15 21:28] #8365 closed

[2021-01-15 22:01] spacether commented on #8268
` requests fail on nullable and non-required properties if returned as null from server`
You did not describe that any of the properties are nullable in your input spec.
This is expected behavior. Set nullable to true for any parameters where null can be received by the client and this will work.

[2021-01-15 22:11] spacether commented on #8227
Can you provide your full input spec?
You have left out the Element definition and the endpoint definition that uses it.

[2021-01-15 22:17] spacether commented on #8227
Our sample spec includes a similar-to example in the Pet model.
Pet.tag definition: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml#L1500
[code]

Generated model:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/openapi3/client/petstore

[2021-01-15 22:19] spacether commented on #8227
This is happening because your Element class is a vanilla object definition so no model is created for it. It is the same as a dictionary that accepts any values. If you need your model to be defined, please add any optional property to it and your model will be generated and the types will be defined correctly.

[2021-01-15 22:21] spacether commented on #8227
One way to fix this may be to add `typeMapping.put("object", "dict");` into PythonCLientCodegen.java
I welcome any PRs adding this.

[2021-01-15 22:27] spacether commented on #7934
Can you try this again using the latest master branch?
Improvements were made to setting example values in the test files.

[2021-01-15 22:36] spacether commented on #7468
This property can be set on the configuration instance. If you want to add access_token as an init parameter please file a PR.

[2021-01-15 22:39] spacether commented on #7142
This ticket is stale and should be fixed in master.
maxItems and minItems validations are checked here:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/openapi3/client/petstore/python/petstore_api/model_utils.py#L777-L797

[2021-01-15 22:39] #7142 closed

[2021-01-15 22:46] spacether commented on #7010
This issue applies to:
- python-flask
- python-blueplanet
- python-aiohttp

[2021-01-15 22:57] spacether commented on #5909
In the latest python generator types are now defined using classes. `"list[str]"` became `[str]`
We welcome PRs adding type definition and that is a big task especially if supporting composed schemas.
Variable types can collide when composing a schemas and variable types can come from a variety fo schemas at many level of inheritance.
Our code at least does strict run time type checking which is b

[2021-01-15 22:57] #5909 closed

[2021-01-15 23:31] nlundquist commented on #6601
I'm also experiencing issues resulting from the `type` field not being correctly copied between instances during flatting.

[2021-01-16 02:01] cgfarmer4 opened #8457 "[BUG] Using `allOf` and `$ref` generates an `object` in the python model when it should be a `string`"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-16 03:34] stephen-mojo opened #8458 "[BUG] [Kotlin] [Gradle Plugin] [Android] Generated enum classes expect strings when specification specifies integers"
##### Description

I am using the OpenApiGenerator via the Gradle plugin in my Kotlin Android project. One problem (of many) that I am having with enums is that the generated enum classes are expecting strings even though the specification specifies integers. The means Moshi is unable to parse enum values in my sever responses.

Enums in my OpenAPI specification file are of this form:
[code]

The

[2021-01-17 02:01] stephen-mojo commented on #8458
I added this VERY quick and dirty Moshi adapter for the time being. It is probably missing a lot of error handling and I am not really sure if I am doing things correctly as I have never worked with reflecting annotations before, but it seems to work:

[code]

[2021-01-17 09:42] kannkyo opened #8460 "[BUG][JMeter] can't throw json data from csv"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-17 10:41] sandermvanvliet commented on #5853
I have a similar problem with the regular `typescript` generator.

We have a request parameter with the name `from` which conflicts with the `rxjsStubs` definition for the `from` method leading to build errors like this on `npm run build`:

[code]

[2021-01-17 11:27] AledLewis commented on #5157
Saurabh, you saved my day! Hitting the exact same issue and same resolution.

[2021-01-17 13:22] ravermeister commented on #8458
sounds very similar to #8442

[2021-01-17 19:14] kohestanimahdi opened #8463 "[BUG] [dotnetCore] error in generate email fields when we want get data from form"
##### Description

Hello
I use .Net core for backend. When I set annotation of email below of property and use model as FromForm, open Api generate this like
Email: {
type: "string",
format: "email",
nullable: true
}
When generate api, the email files generate as Blob.

The enum field genereate as Blob.

##### openapi-generator version

5.0.0

[2021-01-18 12:01] brettryan commented on #3438
@cbornet it shouldn't be assumed that the same classes are used for everything. One reason for this is for forwards compatibility where backend model classes are enriched with enhancements over time but some software is using an older yet compatible version of the API that does not need access to these properties.

[2021-01-18 12:09] brettryan commented on #3438
One option that could be used is to utilise `additionalModelTypeAnnotations`. I've attempted this by putting the fllowing in my configuration file:

[code]

What happened though is my annotation got translated with escaped equals sign.

[code]

[2021-01-18 12:32] thall commented on #4847
Can confirm that the patch fixes the problem. Thanks @spacether!

[2021-01-18 12:32] thall commented on #8365
Can confirm that the patch fixes the problem. Thanks @spacether!

[2021-01-18 12:41] AndreKoepke commented on #7405
I found out that a validation is already in open-api-spec.
Here is nice article how to use them: https://www.baeldung.com/spring-rest-openapi-documentation#beanvalidation
The `spring`-generator using this validation-informations already and makes great code.

But the `typescript-angular`-generator cannot do validations.
So the new subject of this issue is: Change the generator to add validation-an

[2021-01-18 16:10] sausageRoll commented on #2901
With `openApiNullable` property set to false I still have unused import

[code]

version: 4.3.1

[2021-01-18 17:09] macjohnny commented on #2901
@sausageRoll https://github.com/OpenAPITools/openapi-generator/pull/6154 is included in 5.0.0

[2021-01-18 17:18] sausageRoll commented on #2901
I see
Thank you!

[2021-01-18 20:49] spacether commented on #1662
This looks like this is working with the composition features that have existed since 2019.
Please see the tests in https://github.com/OpenAPITools/openapi-generator/pull/5341

[2021-01-18 20:49] #1662 closed

[2021-01-18 20:50] spacether commented on #1717
Closing this because https://github.com/OpenAPITools/openapi-generator/issues/1715 captures my intention

[2021-01-18 20:50] #1717 closed

[2021-01-18 20:55] sergiofigueras commented on #7589
Hello there @kuhnroyal ,

I'm facing the same issue.

[code]

Currently, I'm using 5.0.0.

[code]

Is there anything else that you need?

Thanks.

[2021-01-18 20:56] spacether commented on #1853
packageName is the correct parameter to use to set the python package name for your client or server

[2021-01-18 20:56] #1853 closed

[2021-01-18 20:57] spacether commented on #1919
The composition feature addition in the above PR fixed this

[2021-01-18 20:57] #1919 closed

[2021-01-18 20:59] sergiofigueras commented on #7589
Hello there @kuhnroyal ,

I had the same issue in 4.3.1 , but its now fixed in 5.0.0 .

Thanks!

[2021-01-18 21:04] spacether commented on #2077
I think that this was resolved with:
https://github.com/OpenAPITools/openapi-generator/pull/2367/files

[2021-01-18 21:04] #2077 closed

[2021-01-18 21:15] spacether commented on #1663
This should be resolved by https://github.com/OpenAPITools/openapi-generator/pull/5341
If it is not, can you re-open it and describe the payload that the server is sending back?

[2021-01-18 21:15] #1663 closed

[2021-01-18 21:18] spacether commented on #8068
This was fixed in https://github.com/OpenAPITools/openapi-generator/pull/8437/files

[2021-01-18 21:19] spacether commented on #2165
This was fixed with https://github.com/OpenAPITools/openapi-generator/pull/8437/files
Please see the `test_upload_files` test

[2021-01-18 21:19] #2165 closed

[2021-01-18 21:27] spacether commented on #2797
This should be resolved for the latest version of the python generator

[2021-01-18 21:27] #2797 closed

[2021-01-18 21:34] spacether commented on #5421
This issue should no longer exist in the python generator
Please re-open it with an updated code sample if you still have this problem

[2021-01-18 21:34] #5421 closed

[2021-01-18 21:38] spacether commented on #5214
This is being worked in my draft PR here https://github.com/OpenAPITools/openapi-generator/pull/8325

[2021-01-18 21:52] spacether commented on #6897
Auto written model testing in python and python-legacy produces payloads for some models. Those payloads can be used in the way that you describe.

[2021-01-18 22:00] spacether commented on #7915
The client generates without issue using the latest `python` generator. That generator includes composition support.

[2021-01-18 22:00] #7915 closed

[2021-01-18 22:09] spacether commented on #7929
Note: this is for:
[code]
Which is probable `{{#isBasicBearer}}` here:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/configuration.mustache#L508

[2021-01-18 22:15] schmist commented on #6385
This is still an issue in version 5 and it is preventing us from updating to the current version.

If you point me in the right direction, I could invest some time and try to fix it.

[2021-01-18 22:17] #6897 closed

[2021-01-18 22:23] spacether commented on #8371
This is an accident
nulltype is still in the mustache template here: https://github.com/OpenAPITools/openapi-generator/blame/master/modules/openapi-generator/src/main/resources/python/model_templates/method_init_composed.mustache#L30

In my original composition pr here: https://github.com/OpenAPITools/openapi-generator/pull/5341/files#r379938730
nulltype.Null was used as the default value of requi

[2021-01-18 22:26] spacether commented on #8457
Why not change your spec to have access_token point directly to the referenced #/components/schemas/AccessToken without using allOf? That should solve your problem.

[2021-01-18 22:35] spacether commented on #7064
Closing this because file handling meets needs here right now and there are many open python issued

[2021-01-18 22:35] #7064 closed

[2021-01-19 05:04] polydectes opened #8468 "[BUG] Having allOf ref back to the schema using oneOf causes infinite loop during Java code generation"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-19 05:29] wing328 commented on #8383
I think only the `jersey2` library supports Java 6. Can you please give it a try?

[2021-01-19 05:40] polydectes commented on #8468
This appears to derived from this situation: https://github.com/OpenAPITools/openapi-generator/issues/15#issuecomment-454676707

[2021-01-19 07:26] wwwsrikanth commented on #8408
HI @wing328  any update on this issue ?

[2021-01-19 09:56] ravermeister commented on #8442
Note, The HTTP GET Parameter, which are marked as  @RequestParam are still handled by the enum **name**. This is **not the case** if you use them in a Complete @ReuestBody Object...

weird...

[2021-01-19 10:14] kuhnroyal commented on #7589
@wing328 This can be closed

[2021-01-19 10:22] hugo-ma-alves commented on #8297
Since the PR https://github.com/OpenAPITools/openapi-generator/pull/8318 is now merged I will close this ticket.

[2021-01-19 10:22] #8297 closed

[2021-01-19 10:39] alexfacciorusso commented on #7773
Hi all!

I think the `moshiCodeGen : true` option is not listed anywhere, and it should be added to the doc!

[2021-01-19 16:21] fl034 commented on #7728
The same goes for the `OpenAPIClient.podspec` file. I may have a look at it tonight.

[2021-01-19 20:09] GiamBoscaro commented on #8383
I can try again, but from what I remembered I still got errors, like:
- Compiling error: getOrDefault is used but requires java 8. No problem, fixed with an if statement.
- Then at runtime I get Jackson/databind/ISO8601DateFormat: Unsupported major.minor version 51.0

[2021-01-19 21:08] cgfarmer4 commented on #8457
@spacether reading here:

https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

All of should reference the subschema and its not. Its transforming it to object when the `$ref` schema is a string.

[2021-01-19 21:43] nickshoe commented on #3796
This might be a possible solution: https://github.com/OpenAPITools/openapi-generator/pull/4588#issuecomment-763159780

[2021-01-19 21:48] cerupcat commented on #1529
@joeboyscout04 @macjohnny was this ever resolved? This is something we're running into. We need to add new enum cases without older clients crashing (which is currently what will happen).

[2021-01-19 22:26] pauldwolfe opened #8475 "Java generator (jersey2) does not serialize object query parameters according to OAS3"
##### Description

Hello,

We'd like our generated API to use objects to store query parameters rather than a list of arguments. Mostly for readability and to avoid long argument lists with a lot of nullable string parameters (eg. `list(null, null, null, str1, null, str1, null...) vs
list(new QueryParameters().setStr1(str1).setStr2(str2)`)

The OAS3 spec docs give examples where you can do this wi

[2021-01-19 22:47] spacether commented on #8457
Yes, I agree that there is a bug here.
Inline composed schemas are not yet very well supported in openapi-generator.

My suggestion is a work around which may work for you.
Another work-around would be to place your composed schema in a component and ref it.

[2021-01-19 23:04] fl034 commented on #7728
@wing328 please have a look at my PR #8476 :)

[2021-01-19 23:25] Yona-Appletree opened #8478 "[BUG] [kotlin] list of reserved words is incomplete"
##### Description

The kotlin generator's list of reserved words is incomplete. Trying to name a property "internal" for example causes an error.

##### openapi-generator version

master

##### Related issues/PRs

I'm creating this ticket to facilitate a PR that I created.

[2021-01-19 23:37] cgfarmer4 commented on #8457
Oh I see. Yep that does fix my problem :D!

[2021-01-20 06:30] joeboyscout04 commented on #1529
I’m not sure.  I’m no longer working with Swagger/OpenAPI.

[2021-01-20 07:09] cgfarmer4 commented on #8457
Hmm spoke too soon. Any timeline on better `$ref` support? Can workaround for now, just curious

[2021-01-20 10:42] wing328 commented on #8383
[code]

My bad. Looks like only jersey1.x supports Java6.

[2021-01-20 10:46] GORA-SAG commented on #8425
Hi @wing328 can you explain a bit on what to do for this enhancement. I will take this forward.

[2021-01-20 10:54] wing328 commented on #8425
https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson is a good starting point.

Then you will need to compile the project (`mvn clean package -DskipTests`) and update the samples (`./bin/generate-samples.sh`) so that CI can verify the change.

[2021-01-20 11:35] aeneasr opened #8483 "[BUG] [Go] Execution responses and errors are values not pointers"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-20 11:39] aeneasr commented on #8483
I see that this is partially a duplicate - however the other issues and fixes do not appear to talk about the response values, only errors. Response values should also be pointers because:

1. Response values are empty if an error occurs and should thus be nil
2. There is no point in having pass-by-value as the original value is not used anywhere else - it is created during the call to `Execute`

[2021-01-20 11:59] GORA-SAG commented on #8184
Hi @simonsonzhang is it possible to attach the swagger definition.

[2021-01-20 12:26] aeneasr opened #8485 "[BUG] [Go] Generated client code does not pass golint and has several style antipatterns"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-20 13:01] dstepanov25 opened #8486 "Can't generate .Net5.0 project"
##### Description

I'm trying to generate .net 5.0 project using docker image

##### openapi-generator version

image: openapitools/openapi-generator-cli:latest

##### OpenAPI declaration file content or url

Doesn't matter. I took example from specification https://swagger.io/docs/specification/basic-structure/

##### Command line used for generation
command: docker-compose up
docker-compose.yml

[2021-01-20 13:16] Reinhard-PTV commented on #469
We made an implementation to support deepObject for .NET Core and Java native client in https://github.com/Reinhard-PTV/openapi-generator/commit/4fbd2105443384e3300c7b1f1eebcae89e669031 .

Can we submit these changes as a pull request?

[2021-01-20 14:55] BarthaBRW commented on #7629
Is there a solution for this issue?

[2021-01-20 16:25] aeneasr opened #8489 "[BUG] [Go] `oneOf` generates uncompilable code for primitive types"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-20 17:31] aeneasr commented on #8489
Looks like this works:

[code]

However, both are valid OAS3 specs as far as I understand!

[2021-01-20 18:45] kuhnroyal commented on #8429
The body param is a `Uint8list`?

[2021-01-20 18:46] kuhnroyal commented on #8429
I have actually never tried this, only used multipart for uploads so far.

[2021-01-20 19:02] kuhnroyal commented on #8429
From what I can see we need to either provide a `Stream<List<int>>` or use a custom request encoder.
https://github.com/flutterchina/dio/blob/21136168ab39a7536835c7a59ce0465bb05feed4/dio/lib/src/dio.dart#L994
https://github.com/flutterchina/dio/blob/21136168ab39a7536835c7a59ce0465bb05feed4/dio/lib/src/dio.dart#L1015

Can you try if your case works manually?
https://github.com/flutterchina/dio/blob

[2021-01-20 19:16] jaumard commented on #8429
Uint8List work nicely, it's just the generated code who is wrong. `Stream<List<int>> ` will works too as it can be create from the list but the problem will be the same as for Uint8List.

[2021-01-20 19:35] spacether commented on #8457
No firm timeline here. I am slowly working on a number of improvementss to the Python generator in a new generator python-experimental. This feature will be included in that.

[2021-01-20 21:02] kuhnroyal commented on #8429
I got this generated:
<details>
  <summary>Code</summary>

[code]
</details>

So this
[code]

needs to be
[code]

Imports seem to be correct tho.

[2021-01-20 21:28] ricardozanini opened #8492 "[BUG] [Client] [Java] [Vertx] Current context may return NPE when creating new WebClient"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-21 01:08] spacether commented on #8457
For this use case you and delete your AccessToken schema and just define it as `type: string` in BankTransferCreateRequest.access_token. Python does not produce a model because it is an alias to a primitive type and does not include any validations or enums. If there is a validation or enum in AccessToken it will be made as a model.

[2021-01-21 01:14] cgfarmer4 commented on #8457
@spacether I see. May have to make a workaround for just `python`. We'd prefer not to have to hack for one language as we are generating a bunch of things with this file.

[2021-01-21 01:31] cgfarmer4 commented on #8457
Ruby, Node, Python, Go, Java and js client side SwaggerParser for our docs.

Ive run into another issue with using `anyOf` again today and have confirmed its only `python` and doesn't effect ruby/node. Dont have the other ones tested yet.

[2021-01-21 01:32] cgfarmer4 commented on #8457
Going off the Swagger docs this format should be valid.

[2021-01-21 01:35] spacether commented on #8457
It is a valid spec, our tooling just isn't there yet.
The main composed schema use case that the generator supports is a component object schema that contains allOf or oneOf or anyOf.
Additionally, python supports the use cases where:
- oneOf can have mixed types
- allOf is combined with oneOf or anyOf

[2021-01-21 01:44] cgfarmer4 commented on #8457
I think we have a workaround for now. Thanks for talking through it @spacether!! Hoping to get a sponsorship going here soon for you all.

[2021-01-21 01:56] wing328 commented on #8492
@ricardozanini thanks for reporting the issue. Please submit a PR to address these issues and we'll review accordingly. Let me know if you need help with the PR.

[2021-01-21 03:07] wing328 commented on #7922
@tonymurphy thanks for the issue details and the workaround. I've filed a PR to improve the error message: https://github.com/OpenAPITools/openapi-generator/pull/8493

I wonder if you can report the issue to https://github.com/swagger-api/swagger-parser as it seems to be an issue with how Swagger Parser handles reference schemas.

[2021-01-21 03:08] wing328 commented on #8398
@davesnx thanks for reporting the issue. This issue seems related: https://github.com/OpenAPITools/openapi-generator/issues/7922.

[2021-01-21 03:10] wing328 commented on #6967
[code]

I don't think that's valid as reported by openapi-generator:
[code]

[2021-01-21 03:11] wing328 commented on #6610
@cscetbon can you please give it another try with the latest master? SNAPSHOT version available in the README.

Will reopen if it's still an issue.

[2021-01-21 03:11] #6610 closed

[2021-01-21 03:12] wing328 commented on #3086
Looks like issue in Swagger Parser. A workaround it to define the schema inline.

Related issue: https://github.com/OpenAPITools/openapi-generator/issues/7922

[2021-01-21 03:13] wing328 commented on #2955
Hi all, please give it another try with the latest master as the issue should have been addressed.

Happy to reopen the issue if it's not the case.

[2021-01-21 03:13] #2955 closed

[2021-01-21 03:14] wing328 commented on #2575
I think the latest master has been handling of application/json request body. Please give it another try.

Happy to reopen the issue if it's still reproducible.

[2021-01-21 03:14] #2575 closed

[2021-01-21 08:25] antonio-petricca opened #8495 "[BUG] No more inheritance for components generated by version 5.0.0"
##### Description

No schema inheritance.

##### openapi-generator version

5.0.0

##### OpenAPI declaration file content or url

[code]

##### Generation Details

The above YAML produces:

[code]

Instead as for the 4.3.1:

[code]

##### Suggest a fix

Does exist a configuration parameter to enforce the DTO inheritance generation? Or it is a bug?

[2021-01-21 08:34] borsch commented on #8406
@anban02 "templates" mean's mustache templates that is used to generate final code
https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/JavaSpring

[2021-01-21 08:42] jaumard commented on #8429
Hum here is what I have generated with last version 5.0.0:

[code]

So:
[code]
Need to become what you have in fact, because the following is working when I change it manually:
[code]

What version should I use to have this generation instead ?

[2021-01-21 09:41] jaumard opened #8497 "[BUG][DART-DIO] Dart dio generated code for map"
##### Description

When the body of the request is a map, a `BuiltMap<String, JsonObject>` is generated. Problem is that BuildMap doesn't serialize itself as a map once used, so it's not coherent with what's in the definition.

BuiltMap generate this json:
[code]
Where we want:
[code]

##### openapi-generator version

5.0.0

##### OpenAPI declaration file content or url

[code]

### Results:
Gener

[2021-01-21 10:07] kuhnroyal commented on #8429
So `json.encode` probably has no effect for a `Uint8List`, well that works.
I guess this was fixed with https://github.com/OpenAPITools/openapi-generator/pull/8367

You can try the current master.

[2021-01-21 10:08] kuhnroyal commented on #8497
This might be fixed by https://github.com/OpenAPITools/openapi-generator/pull/8367 as well.

[2021-01-21 10:11] kuhnroyal commented on #8497
Due to `built_value` usage we need to use `BuiltMap` for the body as this needs to be serialized correctly.
In your example there are no serializers involved which would fail for say a `Map<String, Pet>`.

[2021-01-21 10:21] kuhnroyal commented on #8497
FYI you can use ` ```yaml ` and ` ```dart ` to enable syntax highlighting for the code blocks, makes it a bit easier to read.
If you have any more problems with dart-dio, feel free to mention me in the ticket.

[2021-01-21 10:24] jaumard commented on #8497
Let me test master then and I'll let you know how it goes :D thanks!

[2021-01-21 13:43] #8497 closed

[2021-01-21 13:59] kuhnroyal commented on #8497
I guess it worked :)

[2021-01-21 14:01] jaumard commented on #8497
Forget to add the comment lol sorry! Yes with master it works nicely :) thanks a lot!

[2021-01-21 14:16] jaumard commented on #8429
Look like this one is fixed too on master ^^
Thanks !

[2021-01-21 14:16] #8429 closed

[2021-01-21 14:29] jaumard commented on #8497
One more question... is there a way to move from BuiltMap<String, JsonObject> or MapBuilder<String, JsonObject> to a map<String, Object> ? because it's super annoying to have JsonObject everywhere....
Same for the opposite because in my app I'll have Map<String, Object> and when I call the network it complain because Object is not JsonObject...

[2021-01-21 14:35] dlumpp commented on #7458
There is more detail about the problem and a proposed fix in the swagger-codegen repo in issue [7669](https://github.com/swagger-api/swagger-codegen/issues/7669).

The root of the problem seems to be that Dictionary isn't treated as a system type.

[2021-01-21 15:19] ys commented on #8448
Same here, a simple fix would be this https://github.com/OpenAPITools/openapi-generator/compare/master...ys:patch-1

[2021-01-21 16:28] kuhnroyal commented on #8497
Well a `BuiltMap<String, JsonObject>` would have to be a `Map<String, dynamic>` and all values would have to be either again a `Map<String, dynamic>` or primitives or classes in which you have manually implemented `toJson` because otherwise it can not be encoded.

At the moment the dart-dio generator uses `built_value` and there is pretty much no way around it. All in or nothing at all, because `b

[2021-01-21 16:38] jaumard commented on #8497
I hate built_value ^^ so much boilerplate...

My app have a lot of dynamic stuff so I use some Map<String, Object> where value are only primitives so it will always serialize. But because of built_value I need to do that everywhere:

[code]

So to have a real map with primitive without JSONObject:
[code]
Send a map:
[code]

So much code for nothing ^^, if you have a solution I would love it, if no

[2021-01-21 16:48] kuhnroyal commented on #4878
I assume you used the `.openapi-ignore` file.
You can use https://openapi-generator.tech/docs/customization/#selective-generation to achieve this.

There are recent PRs which also address the selective generation.
https://github.com/OpenAPITools/openapi-generator/pull/8339
https://github.com/OpenAPITools/openapi-generator/pull/8388

[2021-01-21 16:57] kuhnroyal commented on #8497
Yea `built_value` works best with strongly typed data.
You can try the normal dart generator which doesn't use dio/built_value but still has some problems with serialization.

But for your cases I would suggest to add a custom extension on the API class and handle those manually.
Then you are free to use normal maps with primitives.

[2021-01-21 17:01] jaumard commented on #8497
I was using the jaguar generator :) but as jaguar is not maintained anymore I wanted to switch to dio because I like it.
My API is mostly typed but I have one or two endpoint with full dynamic data in this project, we use this generator at work too and no issues as we're fully typed ^^

I'll try to use custom extension, I forget about those might make things a bit easier and hide the shit in one p

[2021-01-21 18:26] adpoliak opened #8499 "[PYTHON-LEGACY] Use programmer-provided Configuration() objects when possible"
##### Description

The generated `PACKAGENAME.configuration.Configuration()` class has means of persisting options via its `set_default()` class method.
However, in order for the persisted options to be used on future instances, the `Configuration.get_default_copy()` class method must be used instead of the `Configurator()` constructor.
This isn't currently done in any of the generated models, so

[2021-01-21 18:36] MaSven commented on #8406
@borsch  yes iam talking about the mustache template. Instead of springfox this should use springdoc-openapi

[2021-01-21 18:39] MaSven commented on #8406
For your interest I asked if I can rebuild the spring generation in #8435 so we can generate the code with springdoc instead of springfox. This is also a breaking change, so I think it is only fair to wait for a response there.

[2021-01-21 21:41] xsveda commented on #4627
I don't see the warning anymore in version `5.0.0`. If somebody can confirm this, we can close the issue.

[2021-01-21 22:18] condorcorde opened #8502 "Invalid Powershell code generated"
##### Description

I have tried the powershell client generator with two openAPI input files and the generated code does not build for (at least) two different issues.

The first is backtick characters surrounding name of parameters in many throw statements, e.g.

[code]

Most occurrences are ignored, but `u is interpreted as the beginning of a Unicode sequence and raises an error message:
[code]

[2021-01-22 00:10] wing328 commented on #8502
First issue already fixed by https://github.com/OpenAPITools/openapi-generator/pull/8321

[2021-01-22 06:50] tek08 commented on #1981
I think this issue has re-emerged, at least on python generated code?  Fwiw, I'm usually using 4.3.1, but have also tried 5.0.0, for the sake of debugging, and found the same issue occurring.

[2021-01-22 08:54] PhilippParis commented on #3589
Hi!
It seems this is broken again in version 5.0.0? (generator: jaxrs-spec)
Looks like the changes are not in the master branch?

[2021-01-22 09:46] Msurrow commented on #8495
Just to confirm. I updated from 4.3.1 -> 5.0.0 and I'm seeing the same issue (with dotnet-core generator) and AllOf inheritance.
For us, this makes vers 5.0.0 unusable.

[2021-01-22 10:02] anban02 commented on #8406
@MaSven Thank you for your reply. As I understood it from what you have written: "The current version cannot do that right now"
I'll keep an eye on the issue you mentioned.

[2021-01-22 10:12] #8097 closed

[2021-01-22 10:13] #7867 closed

[2021-01-22 10:13] #7589 closed

[2021-01-22 10:14] #7560 closed

[2021-01-22 10:15] #7109 closed

[2021-01-22 10:15] #6951 closed

[2021-01-22 10:15] #6671 closed

[2021-01-22 10:15] #6439 closed

[2021-01-22 10:16] #6317 closed

[2021-01-22 10:16] #5794 closed

[2021-01-22 10:16] #5627 closed

[2021-01-22 10:17] #4878 closed

[2021-01-22 10:17] #4157 closed

[2021-01-22 10:18] #1493 closed

[2021-01-22 10:18] wing328 commented on #1493
@bigkrp the issue should be fixed. Please try the latest stable version or master.

[2021-01-22 13:23] Donorlin commented on #5717
Any news about this? It would be a really nice feature to be able to inject either own JSON.stringify's replacer (second argument of JSON.stringify) or be able to turn off serialization completely.

In most Axios cases serialization is done via Axios's request transformers and because of this issue, all objects are serialized in generated API code, not in request transformers. (request transformer

[2021-01-22 15:03] dlumpp commented on #6532
RestSharp dropped net45 support in version 106 so it wouldn't make sense to update the dependency in the v4.5 generator. This changed signature has already been fixed in #5870.

If you generate with targetFramework v4.5.2 you'll get a dependency on RestSharp 106 and the correct `AddFile` call.

[2021-01-22 15:14] NANASHI0X74 opened #8510 "[REQ] [DART] add getters for private default Headers and authentications"
### Is your feature request related to a problem? Please describe.

see #8509

[2021-01-22 15:21] fl034 opened #8511 "[BUG][swift5] Closure isn't called anymore in latest snapshot with default configuration"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-23 01:57] wing328 commented on #8502
[code]

One way to address this is to add an option to use the original naming in the model (without conforming to PowerShell's variable naming convention)

[2021-01-23 02:35] #7728 closed

[2021-01-24 00:51] JLLeitschuh opened #8517 "Please open a security advisory"
The openapi-generator and the swagger code generator both share the same common security vulnerability. Please open a security advisory so we can privately discuss the vulnerability.

https://github.com/OpenAPITools/openapi-generator/security/advisories

[2021-01-24 00:52] JLLeitschuh commented on #8517
Cross posing as this is the same vulnerability.
https://github.com/swagger-api/swagger-codegen/issues/10873

[2021-01-24 02:16] wing328 commented on #8517
@JLLeitschuh please email team@openapitools.org to discuss the vulnerability for the time being as stated in the project's README.

[2021-01-24 02:48] JLLeitschuh commented on #8517
I'd prefer to not, if possible. I'm finding email to be a PITA.

If you really need me to, I can, but I'd prefer if I didn't need to.

[2021-01-24 02:50] wing328 commented on #8517
Please email us the details to start with 🙇‍♂️

(the core team will discuss internally about using the `security advisory` provided by Github and who's going monitor it, etc)

[2021-01-24 15:21] DeniskaAbr opened #8524 "[Bug Bounty] Fix a bug related to binary response in csharp-netcore client"
I am generate APIClient With "-g csharp-netcore --additional-properties=targetFramework=netstandard2.1,netCoreProjectFile=true" parameters.

OpenApi specification contains
`"responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"

[2021-01-24 20:29] 4brunu commented on #8511
@fl034 you are rigth.
The problem was introduced in https://github.com/OpenAPITools/openapi-generator/commit/dd9a19ab8ffb01acabee694b3f142e51ef6813c7, when in URLSessionImplementations.swift line when `self.observation?.invalidate()`was removed from the `cleanupRequest` closure.
This closure was passed inside the `URLSession` response callback which was retaining self (URLSessionImplementations) i

[2021-01-24 23:17] JLLeitschuh commented on #8517
Sent

[2021-01-25 04:16] wing328 commented on #8517
Thanks. We'll review and get back to you.

[2021-01-25 05:32] #7533 closed

[2021-01-25 05:45] wing328 commented on #8524
cc @mandrean (2017/08) @frankyjuang (2019/09) @shibayan (2020/02) (C# tech committee)

[2021-01-25 08:03] antonio-petricca commented on #8495
I am going to revert to 4.3.1. :(

[2021-01-25 08:34] Msurrow commented on #8495
@antonio-petricca  I'm getting this from the log when running the generator:

[code]

I havn't had time to dive into it fully yet (we've reverted to 4.3.1 for now) but from what I can gather it seems that my swagger.json doesnt have the discriminator field on the supertype. However I'm using asp.net swashbuckle to generate the swagger.json/.yaml which is setup to OAS3. So what I havn't figured out

[2021-01-25 08:43] slinkydeveloper opened #8527 "[REQ] Java vertx template should be deprecated"
### Is your feature request related to a problem? Please describe.

Java vertx uses a library which is not maintained anymore since 2 years https://github.com/phiz71/vertx-swagger and doesn't work with recent Vert.x. This template should be marked as deprecated and [java-vertx-web](https://github.com/OpenAPITools/openapi-generator/tree/master/samples/server/petstore/java-vertx-web) (the one update

[2021-01-25 09:55] wing328 commented on #8383
As communicated before, we'll remove the supportJava6 option in 5.x

I've filed https://github.com/OpenAPITools/openapi-generator/pull/8514

[2021-01-25 10:01] GiamBoscaro commented on #8383
From what I remember, even with jersey1 I had problems at runtime with some unsupportedd major minor version 51.0 errors. Some libraries used by openapi still need java7 even with jersey1 and supportJava6=true

[2021-01-25 10:07] wing328 commented on #6158
Closing this as v5.0.0 has been released.

[2021-01-25 10:07] #6158 closed

[2021-01-25 10:13] #8102 closed

[2021-01-25 10:17] #8460 closed

[2021-01-25 10:31] #8307 closed

[2021-01-25 10:56] patricklucas opened #8530 "[BUG] Gradle deprecation warning, scheduled for removal in Gradle 7.0"
##### Description

When I build a Java client using 5.0.0 of the Gradle plugin, I receive the following warning:

[code]

This appears to be referring to [this property](https://github.com/OpenAPITools/openapi-generator/blob/v5.0.0/modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt#L83-L90) in `GenerateTask.kt`, complaining that t

[2021-01-25 11:37] kisdaniel opened #8532 "[REQ] Feature Request Description"
When we generate a typescript client, openapi generator makes interfaces to describe types. In other languages like java it generates pojo-s.

If anybody reuses these generated interfaces/classes it is a disadvantage, that generated code definition allows to modify the object after creating it.

So I need a feature (that can be a parameter) to make generated model immutable.

In typescript for ins

[2021-01-25 11:42] kumarbava opened #8533 "[BUG] @Pattern annotation is not getting validated"
##### Description

I am trying to generate a server stub using spring generator.
One of the POST api, sends a json object which has a property of type below in the api spec.
******************************************************************
productVersion:
          description: 'Product version.'
          type: 'string'
          example: 'R1A'
          maxLength: 7
          pattern: '^[RP][0-

[2021-01-25 13:13] rashmi6225 commented on #7934
@spacether i tried with the latest master branch openapi-generator-cli-5.0.0.jar still the same issue. Could you please check again.

[2021-01-25 14:18] kostadin-mandulov commented on #4404
@aanno2 & @macjohnny do I understand correctly that the key `pageable` is omittied and instead you'd have just `size`, `sort`, and `page` query parameters (instead of `pageable.size` for example)?

If this is so, then it's currently not possible to have more than one object containing the same key, correct?

[2021-01-25 15:19] loicdesguin commented on #2845
palufra90 : Could you confirm the version of the generator used ? Because I'm still facing the missing "extends" in the interface definition.
Thanks

Iclo

[2021-01-25 16:05] palufra90 commented on #2845
@loicdesguin
source: https://github.com/openapitools/openapi-generator
version: 4.3.1

[2021-01-25 16:24] kumarbava commented on #8533
sorry ! it was my mistake in missing to add the below dependency. Nothing to do with openapi-generator

<groupId>org.springframework.boot</groupId>
<artifactId>spring-boot-starter-validation</artifactId>

[2021-01-25 16:24] #8533 closed

[2021-01-25 16:47] timothee-peron opened #8535 "[BUG][JAVA][jaxrs-cxf-cdi] Generating invalid java code (@ApiParam annotation) for defaultvalue of type integer in parameters"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-25 19:08] fl034 commented on #8511
Hey Bruno, thanks for this thorough error search.
Removing the `[weak self]` seems like the obvious solution. But what is with the inner closure?

https://github.com/OpenAPITools/openapi-generator/blob/646bcc64add4cfce7dfbe78195dd727bd11cb5d0/modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache#L135-L146

I'd suggest removing the `[weak self]`

[2021-01-25 19:11] 4brunu commented on #8511
I agree!
Do you want to create a PR with those changes, or do you me to do it?

[2021-01-25 19:44] vasilich6107 commented on #8097
@kuhnroyal thanks everything works fine.

[2021-01-25 20:03] vasilich6107 opened #8536 "[BUG][Dart] How to force generator to use String instead of EnumClass for enums"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-25 21:21] fl034 commented on #8511
I'm happy to do the PR :-)

[2021-01-25 21:22] 4brunu commented on #8511
Nice, thanks for your help 👍😊

[2021-01-25 23:52] alqh commented on #2534
It looks like from the [Data Types](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md) section

and [JSON schema](http://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.4.2.1) model defines `number` as

If I'm reading it correctly, wouldn't that mean `number` is decimal ?

[2021-01-26 02:25] #5403 closed

[2021-01-26 08:26] macjohnny commented on #4404
@kostadin-mandulov the
https://github.com/OpenAPITools/openapi-generator/blob/fb1b62816faa5fb0520caad7eb5248b0c9fe4c72/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L104-L134
method is called recursively, thus concatenating the property names with a `.` or `[]`

[2021-01-26 08:35] kostadin-mandulov commented on #4404
@macjohnny this is true, but `addToHttpParamsRecursive` is not called directly, but via `addToHttpParams`. And when the `value` passed is of type `object`, `addToHttpParamsRecursive` is called without the `key`:

https://github.com/OpenAPITools/openapi-generator/blob/fb1b62816faa5fb0520caad7eb5248b0c9fe4c72/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L95-L1

[2021-01-26 09:29] MosheElisha opened #8541 "[REQ] [Java] [native] Make generated ApiClient friendlier for extending"
### Is your feature request related to a problem? Please describe.

I am using Java generation with library = "native" and there are some things (ObjectMapper, HttpClient.Builder, ...) I would like to customize.

## Describe the solution you'd like

I would like to add a new generated constructor that takes some of the values as parameters.
The default constructor will call the new constructor.
Ba

[2021-01-26 10:59] borsch commented on #8541
@MosheElisha, I can take this if you don't mind

[2021-01-26 11:35] MosheElisha commented on #8541
Thanks, @borsch . I don't mind if you think you can do it in the next couple of weeks. If. in the future, for some reason you see you are unavailable to work on this, please let me know and I'll take it.

Regarding impl, I am thinking perhaps this is better:

[code]

With this we can allow a subclass to influence the fields by passing ctor parameters or by overriding methods (they can use what is

[2021-01-26 11:40] #8417 closed

[2021-01-26 14:56] pascalwild commented on #6173
I fixed it with overriding OperationNameGenerator:
[code]

[2021-01-26 15:33] pavelvrublevskij commented on #5447
I have tried first time to use OpenAPI generator and without **builder pattern** many of developers returned to legacy state. Waiting for improvements to use lombok without using templates for generator.

[2021-01-26 15:38] jjtang1985 opened #8542 "[BUG][typescript-axios] The generated ts file from 5.0.0 cannot be transpiled."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-26 15:41] macjohnny commented on #3336
closed with #8522

[2021-01-26 15:41] #3336 closed

[2021-01-26 15:44] bodograumann commented on #4119
The example in the original post seems invalid. I have created a working example here: https://github.com/bodograumann/openapi-generator-issue-4119
As you can see there are no models generated.

Unfortunately I can currently not develop on openapi-generator due to #8455.

[2021-01-26 16:04] ricardozanini commented on #8492
@wing328 I've opened the PR (#8492), but it seems that we are lacking reviewers. Do you mind taking a look? Many thanks! :raised_hands:

[2021-01-26 16:12] dimatomp commented on #3336
@wing328 Sorry for a rather basic question, but is it only about a NestJS-compatible client generator, with server stub left out of scope?

[2021-01-26 16:39] spacether commented on #2534
My understanding is that this ticket is asking that the decimal type be sent as string in transmission to preserve sig figs. Most generators send numbers as floats in transmission.

[2021-01-26 19:29] leochan007 opened #8543 "custom statuscode support need."
my server program status code is designed before not in range 200-599. how to suppport thiz codes?

[2021-01-26 19:35] macjohnny commented on #4404
@kostadin-mandulov thanks for pointing to the issue, I guess you are right that the current implementation does not allow for multiple objects with same property names. changing this would result in a breaking change, so I am unsure whether this should be considered a bug or not.

[2021-01-26 21:04] Zomzog opened #8545 "[REQ][Spring] Be able to filter with API version"
### Is your feature request related to a problem? Please describe.

I need to generate multiple versions of an API handled by the same service. The version can be provided by a custom header or a custom query param. So I can't use Media-type tricks.

My need is to use the spring capacity of filtering (example can be found [here](https://www.springboottutorial.com/spring-boot-versioning-for-rest-se

[2021-01-27 02:24] robert-chiniquy commented on #7975
If you tell me how to build it to try it out I'm happy to try it against some specs.

[2021-01-27 03:17] #8511 closed

[2021-01-27 03:39] wing328 commented on #8492
Thanks for the PR. Will try to review later today.

[2021-01-27 08:39] paololucchino commented on #5539
Hello, I'd like second this issue.

Because of the bug in how the `async_req` flag works, the client currently can really only work asynchronously. Having it work both as an async and sync would be a very handy functionality.

Is someone working on this issue?

Thanks!

[2021-01-27 08:39] PhilippParis opened #8548 "[BUG][JAVA] import mapping of alias types in API interface"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-27 09:04] DavideFarina96 commented on #8420
Version: `openapi-generator-cli 5.0.1-SNAPSHOT` (using the provided docker container)

I am facing the same issue. The code gets generated correctly with the default configurations, but it throws an error when using the following config file:
[code]

Error:
[code]

[2021-01-27 09:18] wing328 commented on #5539
@paololucchino we welcome contributions to fix it.

Also worth mentioning the `python` generator in 4.x has been renamed to `python-legacy` generator in 5.x while the `python` generator in 5.x has been refactored.

[2021-01-27 09:21] slinkydeveloper commented on #8527
@wing328 Any way i can help here? Can you point me out how I can mark a generator as deprecated?

[2021-01-27 09:33] wing328 commented on #8542
@jjtang1985 thanks for reporting the issue. Do you mind doing a `git bisect` to figure out which commit may have broken it?

[2021-01-27 09:45] wing328 commented on #8527
@slinkydeveloper thanks for offering help. The goal is to mark `java-vertx` as deprecated and mark `java-vertx-web` as stable, right?

[2021-01-27 09:51] kostadin-mandulov commented on #4404
@macjohnny thanks for confirming. I wouldn't say it's a bug, but a rather unfortuantely behaving feature 😅 No point in changing it, especially considering the amount of people affected. May be something to note going forward.

We have already worked around the issue by flattening the API parameters themselves (e.g. `object1Key`, `object2Key`).

[2021-01-27 10:00] slinkydeveloper commented on #8527
Yep, or better, we can mark java-vertx-web as stable in a second moment, but marking java-vertx ad deprecated IMO it's important to don't lead users to already old code.

[2021-01-27 10:01] wing328 commented on #8527
OK. Let me do it later today.

[2021-01-27 10:01] borsch commented on #8548
The problem here is that you describe this object by your own here https://gist.github.com/PhilippParis/28c40d590b4a9019cb8040b143e09884#file-openapi-yaml-L36

to work with alias do the following
1. don't create you own definition for alias in yaml file
2. in place where you need to use that alias don't `$ref` them, but just use `type: TypeAlias`

At least this is how I configured alias for my pro

[2021-01-27 10:09] deeplook commented on #8371
I wonder what the justification for using the `nulltype` package really is? Looking at the code, it is more imported than used. And where it is used it's always with testing for `nulltype.Null`. Is that really worth doing and adding one more dependency which is not even available on conda-forge?

[2021-01-27 10:37] florentbo commented on #4627
I am using the 5.0.0 version and the warning is still present

[2021-01-27 11:10] MosheElisha opened #8549 "[REQ] [Java] [native] Support useAbstractionForFiles for this library as well"
### Is your feature request related to a problem? Please describe.

I would like to be able to send and receive an InputStream instead of a File when uploading/downloading.

## Describe the solution you'd like

Support the `useAbstractionForFile` config option for the `native` library for uploading files (similar to "resttemplate").

## Describe alternatives you've considered

Create a custom temp

[2021-01-27 11:38] PhilippParis commented on #8548
I've just tested this, and it also works in version 5.0.0
But without the definition of the alias type the yaml is an incomplete api specification and cannot be used by a third party..

[2021-01-27 11:52] eliasdraexler commented on #5103
Experienced the same issue today. Any news if this will be implemented in the future?

[2021-01-27 12:57] wing328 commented on #8492
@ricardozanini do you mind sharing more on how you reproduce the issue? We do have some tests in https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/java/vertx/src/test/java/org/openapitools/client/api/PetApiTest.java#L55-L61 so would appreciate if you can add some tests in that test file to catch the issue moving forward.

[2021-01-27 13:19] felschr commented on #8495
This happened to me after upgrading from `5.0.0-beta3` to `5.0.0`.
Our openapi schema hasn't changed.

[2021-01-27 13:43] danielbartsch commented on #2580
I have the same error with a much smaller `yaml`, and only within one file:

[code]
running `validate` doesn't say anything bad (except unused models)
running `generate` then yields what's defined in the issue
(Twice for some reason)
[code]

[2021-01-27 14:15] jaroslawZawila opened #8552 "[BUG][SCALA] Akka-client cannot be build agains scala 2.13.x version"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-27 14:28] macjohnny commented on #8542
probably related to https://github.com/OpenAPITools/openapi-generator/pull/7892

[2021-01-27 15:30] kelianClerc opened #8553 "[BUG][Warning] [Java] [WebClient] BodyInserters.fromObject is deprecated since Spring 5.2"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-27 16:03] spacether commented on #8371
Hey there. The comment above describes why null type was added. As described in that comment it can now be removed.

[2021-01-27 18:37] davidbokor commented on #7733
This seems to be a thread safety issue with global properties since properties are set on the static GlobalSettings object. If two openApiGenerate tasks run at the same time (multimodule builds) and they specify global properties, things don't work.

Adding this line to the attached code seems to workaround the issue:

tasks.findByPath(":api:interface:openApiGenerate").mustRunAfter(tasks.findByPat

[2021-01-27 20:06] ricardozanini commented on #8492
@wing328, the error only occurs on JUnit 5 + Vertx 3.9.x. This test case of yours will always work. In the PR, I added a verification code to ensure the Vertx context is never null. Instead of using the static class, we use the one provided by the constructor.

You would need to create a JUnit test like this one:
https://github.com/ricardozanini/openapi-codegen-poc/blob/main/src/test/java/com/gith

[2021-01-28 01:52] cgfarmer4 commented on #8449
Already done for most langs!

[2021-01-28 01:52] #8449 closed

[2021-01-28 05:04] #1448 closed

[2021-01-28 07:20] macjohnny commented on #8542
the generated `Configuration` class implements the `isJsonMime` method:
https://github.com/OpenAPITools/openapi-generator/blob/5b82ed940762846689f95d9b2cd1f541385c58fd/modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache#L86-L89

so you need to create an instance of this `Configuration` class.

Does that resolve your issue?

[2021-01-28 07:26] #8492 closed

[2021-01-28 07:27] wing328 commented on #8492
@ricardozanini thanks for the explanation. I've merged your fix.

Can you please file a PR to upgrade dependencies to JUnit 5 and Vertx 4.x when you've time?

[2021-01-28 07:28] andersflemmen opened #8559 "[BUG][JAVA] Generated model contains double JsonTypeName annotation"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-28 07:30] wing328 commented on #8552
@jaroslawZawila can you please file a PR with the suggested fix when you've time?

[2021-01-28 08:49] acouvreur commented on #724
Any update on this ?
We can't generate a valid client because one of our endpoint is a multipart request with files and object.
The object has the encoding set to application/json in the spec, but when using the generated client it uses octet/stream.

[2021-01-28 09:16] noako commented on #8549
I can take this

[2021-01-28 09:32] trietsch opened #8560 "[BUG][Kotlin] Generated clients cannot serialize into `List<T>`"
##### Description

An endpoint definition in the Open Api Spec that returns an array of objects, is not correctly serialized by all available `serializationLibrary` options (Moshi, Gson, Jackson) for the Kotlin generator.
This results in deserialization issues, such as:
[code]

##### openapi-generator version

Version 5.0.0

##### OpenAPI declaration file content or url

[code]

##### Generation D

[2021-01-28 09:38] #6171 closed

[2021-01-28 09:43] MelleD opened #8561 "[REQ] [SPRING-CLOUD] Generates deprecated code"
### Is your feature request related to a problem? Please describe.

Deprecated code configurations are generated and spring security depedencies are old.

See https://github.com/spring-cloud/spring-cloud-openfeign/issues/417

[code]

## Describe the solution you'd like

It should support the new classes and configurations

[2021-01-28 10:29] fl034 opened #8562 "[REQ] [swift5] Reuse URLSessions for requests"
### Is your feature request related to a problem? Please describe.

After doing a little research on best practices for URLSession, I stumbled upon this: https://developer.apple.com/videos/play/wwdc2018/714/?time=1646

## Describe the solution you'd like

- I'd suggest having a dictionary of `[Configuration: URLSession]` that will return you an existing session object for your configuration.
- Con

[2021-01-28 11:20] basyskom-dege opened #8564 "[REQ][Qt] Add allowReserved variable to mustache for operation parameter"
### Is your feature request related to a problem? Please describe.

I am working on parameter styling support for the Qt code generator. I came across the problem that the `allowReserved` variable is missing in the template. I need this variable for the parameter encoding, because they are either percent encoded or not.

## Describe the solution you'd like

I would like to be able to retrieve the

[2021-01-28 13:04] gsaousopoulos opened #8566 "Cannot find class RelativePathProvider when building project using "openapi-generator-maven-plugin-5.0.0""
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-28 14:10] ricardozanini commented on #8492
@wing328 of course, I'll do it. Should I open an issue first?

[2021-01-28 15:25] PeterStayPool opened #8568 "Opengenerator creates additional query parameter for the second path parameter"
##### Description

- [X]  Have you provided a full/minimal spec to reproduce the issue?
- [X]  Have you validated the input using an OpenAPI validator (example)?
- [ ]  What's the version of OpenAPI Generator used? 5.0.0 (gradle plugin and openapi-generator cli),
- [X]  Have you search for related issues/PRs? could not fine one.
- [X]  What's the actual output vs expected output?
   - Expected: do

[2021-01-28 15:31] wing328 commented on #8553
@kelianClerc thanks for reporting the issue. Can you please file a PR with the suggested fix? Let us know if you need help with the PR.

[2021-01-28 15:52] PeterStayPool commented on #8568
One more data point, this additional query parameter disappeared when I changed the type of parameters from number to integer. I wonder it is because change caused entire yaml file to be reconstructed.

[2021-01-28 15:56] #8568 closed

[2021-01-28 16:01] wing328 commented on #8492
Up to you. You can also link the PR to the discussion here

[2021-01-28 17:30] #8371 closed

[2021-01-28 17:31] spacether commented on #8371
This has been resolved by the above PR. nulltype is no longer included in the python generator.

[2021-01-28 17:41] mcejp commented on #7837
Apologies for hijacking the issue, but have you tried to generate a Python _client_ for this spec? It seems to me that `style: deepObject` is completely ignored there, but I could not find a relevant issue already open.

[2021-01-28 17:43] gaetPax commented on #5709
Support to better HttpClient has been added by #8484 which sets OkHttp as the default feign client, which should be the most complete one (even better than ApacheHttpClient) and capable to handle most of the use cases.
[Comparison [here](https://www.mocklab.io/blog/which-java-http-client-should-i-use-in-2020/)]
So adding the choice of select the HttpClient implementation could be really not necess

[2021-01-28 17:43] #5709 closed

[2021-01-28 17:43] spacether commented on #7934
Hi there. So I have a lot of work at the moment and don't have time to look into this at this time.
If you want to submit a PR to fix this issue, the place to look would be in the toExampleValueRecursive method:
- python-legacy https://github.com/OpenAPITools/openapi-generator/blob/a4f84b2f8cd71964891f273826087ed171b2b91e/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/P

[2021-01-28 18:21] colford commented on #7837
No, I didn't since I couldn't get the server side to work with python and deepObjects.

[2021-01-28 18:23] code-lucidal58 opened #8569 "[REQ] [Go][Client]Accept privateKey content as string in http-signing"
In `signing.go` file in client/go, the http signing struct expects privateKey file path. In a scenario, when the text file is not present in the local system, and it is sourced from cloud, this property poses a restriction. `privateKey` is a private property and there is no setter function for the same.

## Proposed solution

Add a setter function in `signing.go` to allow sending the key content a

[2021-01-28 19:08] MartinDelille opened #8571 "[PYTHON-FLASK] Problem posting with x-www-form-urlencoded"
##### Description

My python flask server is crashing when posting url encoded post parameter.

##### openapi-generator version

5.0.0

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

1. Generate the flask server
2. Run it with `python -m openapi_server`
3. Make a post request on the path `/login`
4. See the crash log

[2021-01-28 19:43] bherw commented on #8268
I have a similar structure to the example one above, and when I try to construct a ChildObject1(object_type="ChildObject1"), for example, my code throws a RecursionError in model_utils's get_discriminated_classes method. It looks like because the discriminator() property for all the child objects is set to a list of all of the sibling class plus the child class its, the method tries to recurse for

[2021-01-28 20:33] kronstein opened #8572 "[REQ][Kotlin] Support deepObject for jvm-retrofit2"
### Is your feature request related to a problem? Please describe.

Kotlin openapi-generator ignores `style: deepObject` `explode: true` query param options.

<details>
<summary>Spec (click to view)</summary>

<p>

[code]

</p>

</details>

The output produced:
[code]

**Actual:** `https://host/tags/?filter=Filter%28important%3Dtrue%29`
**Expected:** `https://host/tags/?filter[important]=true`

##

[2021-01-29 00:25] spacether commented on #8268
@bherw that sounds like a separate issue. Can you file a separate ticket with it with a minimal sample that reproduces your issue?

[2021-01-29 03:26] #7952 closed

[2021-01-29 03:26] wing328 commented on #7952
Closed via #8348

Thanks for the fix by @borsch

@FloKaemmerer please pull the latest master to give it another try.

[2021-01-29 03:43] mplescano commented on #5533
maybe you can do this
`
<additionalModelTypeAnnotations><![CDATA[
                                @com.fasterxml.jackson.annotation.JsonIgnoreProperties(ignoreUnknown \u003D true)
                                @JsonInclude(JsonInclude.Include.NON_NULL)
                                ]]></additionalModelTypeAnnotations>
`

[2021-01-29 08:19] borsch commented on #8548
I'll fix this

[2021-01-29 09:05] borsch commented on #8535
I'll take this

[2021-01-29 09:19] mosino opened #8576 "[BUG][typescript-fetch] Base Path can't be set to relative path"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-29 09:59] jjtang1985 commented on #8542
Hi @macjohnny , I resolve the issue by updating the configuration template from the `5.0.0`.
Thank you for taking care.

[2021-01-29 09:59] #8542 closed

[2021-01-29 12:19] martyzz1 commented on #3136
We get the same thing too

     UnsplashImageMixin:
      allOf:
        - type: object
          properties:
            user:
              type: object
              properties:
                link:
                  type: string
                  format: uri
                  maxLength: 1024
                  pattern: "^(?:[a-z0-9\\.\\-\\+]*)://(?:\\S+(?::\\S*)?@)?(?:(?:25[0-5]|2[0-4]\\\

[2021-01-29 12:20] macjohnny commented on #8576
@mosino would you like to fix this?

[2021-01-29 14:21] JuanMorenoDeveloper commented on #4745
Hi guys!
I have the same problem with the 5.0.0 version, I wrote the details here. https://stackoverflow.com/questions/65954112/openapi-generator-maven-plugin-generated-bigdecimal-properties-without-the-prope

[2021-01-29 16:03] bherw opened #8579 "[BUG][Python] Constructing an object with a polymorphic base class parameter causes RecursionError"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-29 16:07] bherw commented on #8268
Thanks, @spacether, I reported #8579

[2021-01-29 18:16] mattknappchhj opened #8580 "[BUG] Javascript generated SDK"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-29 21:23] mgazim commented on #1095
Same issue trying to generate client code from `https://developers.strava.com/swagger/swagger.json`

@Ludde321 , did you manage to resolve that somehow?

[2021-01-29 23:34] ahl commented on #4322
What would you think about deleting the two unused style formats: `eclipse-formatter.xml` and `google_checkstyle.xml`

I found it confusing that neither of these was in use so wasted a bit of time trying to use them.

[2021-01-30 11:34] BenjaminKlatt opened #8583 "[BUG][JAVA] AbstractOpenApiSchema package output and declaration missmatch"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-01-30 13:57] acabarbaye commented on #8039
It is indeed no longer possible to download files out-of-the-box with the generated go client. Could the former way of decoding response bodies be reintroduced so that we overcome such regression?

[2021-02-01 05:31] #7991 closed

[2021-02-01 06:24] wing328 commented on #8580
@mattknappchhj thanks for reporting the issue but I've no experience with Intellisense so can't help much.

Would https://stackoverflow.com/a/36235539/677735 help?

[2021-02-01 06:39] wing328 commented on #8524
Given that no one have time to work on this bug bounty after a week, I'll give it a try to come up with a fix.

[2021-02-01 10:48] rossjones opened #8586 "[BUG] [PYTHON] Duplicate parameter name causes syntax error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-02-01 13:11] kuhnroyal commented on #8510
@NANASHI0X74 Can you close this please

[2021-02-01 13:12] #8510 closed

[2021-02-01 13:18] kuhnroyal commented on #8536
I am not sure what you are trying to achieve but this is not how it works.
`enum` is not a type in OpenAPI, which means you can not map it:

[code]

Besides that, I don't see a way to generate enums as Strings with dio/built_value atm.
Your best bet is to modify your spec by removing the `enum: ...`. That should result in a String field but then it is no enumeration anymore.

[2021-02-01 14:02] wing328 commented on #8583
@BenjaminKlatt thanks for reporting the issue. I wonder if you can file a PR with the suggested fix so that we can review the fix more easily?

[2021-02-01 14:31] wing328 commented on #8586
Another way is to whitelist `args` and rename it to `param_args` or something else to avoid duplicated parameter names.

[2021-02-01 14:57] vinkenfl opened #8591 "[BUG] Gradle 6.7.1 complains about outputDir property to be deprecated"
This generate call done with gradle 6.7.1 and openapi-generator 5.0.0:

`gradlew --warning-mode=all build`

causes the following deprecation warning:

[code]

This is the generate config for build.gradle

[code]
Currently the ist no way to avoid this message.

[2021-02-01 15:47] vasilich6107 commented on #8536
Thanks for the reply!

[2021-02-01 15:50] falk-stefan opened #8592 "[Q] How can I run openApiGenerate twice in gradle?"
So far, I generated the code for my web client like this:

[code]

This has been working so far but I am now at a point where I need to generate another client.

However, I have no idea how I can run `openApiGenerate` twice using `org.openapi.generator:5.0.0`. The following would be how I'd configure both tasks:

[code]

But, obviously, I cannot create a depdendency the way I did before. How would

[2021-02-01 15:51] rossjones commented on #8586
@wing328 thanks for the suggestion.  I couldn't find anything in the docs about configuring a whitelist, is there a phrase or term that I should be searching for which'll give me a pointer?

[2021-02-01 16:55] wing328 commented on #8524
I've filed https://github.com/OpenAPITools/openapi-generator/issues/8524 to fix the issue. My local test result looks good.

[2021-02-01 16:58] kuhnroyal commented on #8543
Please use the issue templates, they exist for a reason.

[2021-02-01 18:37] DeniskaAbr commented on #8524
How to make build with this fix for testing?

[2021-02-02 02:17] wing328 commented on #8524
[code]
(assuming you're using Windows and you've GIT bash installed)

[2021-02-02 09:09] MosheElisha commented on #8541
Hi @borsch ,

Can you please confirm that you are working on this? Otherwise, I can take it.

Thanks.

[2021-02-02 12:29] adrian-ilie opened #8598 "[BUG][aspnetcore] Generating with custom templates of type APITests fails"
##### Description

The aspnetcore generator does not support generating api tests out of the box from what I can see so I am trying to generate my own based on custom templates, following the instructions detailed [here](https://openapi-generator.tech/docs/customization/).

When running the generator I get back this exception and no test files are generated:

`Exception in thread "main" java.lang.

[2021-02-02 12:48] nikosmoum commented on #27
Any updates on this?

[2021-02-02 12:49] nikosmoum commented on #5478
Any updates on this?

[2021-02-02 13:56] borsch commented on #8541
@MosheElisha just above you message there is a link to PR
Here you can see it https://github.com/OpenAPITools/openapi-generator/pull/8557

[2021-02-02 14:11] MosheElisha commented on #8541
Thanks, @borsch . I probably missed the link.

Your changes look like a step in the right direction.

What do you feel about the code suggested in [this comment](https://github.com/OpenAPITools/openapi-generator/issues/8541#issuecomment-767485209)?

I think it will be better and allow more options for the subclasses.

[2021-02-02 15:41] Ankhell opened #8599 "[BUG][JAVA] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] Have you [tested with the latest master](https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-to-test-with-the-latest-master-of-openapi-generator) to confirm the issu

[2021-02-02 15:49] maartenapple opened #8600 "[BUG][Kotlin] kotlin generator causes warning: 'Unnecessary safe call on a non-null receiver of type ...'"
##### Description

The changes in pull request [https://github.com/OpenAPITools/openapi-generator/pull/7341](https://github.com/OpenAPITools/openapi-generator/pull/7341)  are forcing `paramName` as an nullable. This causes the compiler to return the following warning for non-nullable objects:
`Unnecessary safe call on a non-null receiver of type String`

This breaks our ability to build our app us

[2021-02-02 15:59] joggeli34 opened #8601 "[BUG][typescript-angular] Binary string response leads to json parse error"
##### Description

When generating the api with a binary/string response, the generated code tries to parse it as json. Which will lead to an SytnaxException.

##### openapi-generator version

Occurs newly on 5.0.0
It worked correctly on 4.3.1

##### OpenAPI declaration file content or url

[code]

##### Suggest a fix

when generating with 4.3.1 a part of the code snipped looked as following:
[cod

[2021-02-02 17:33] PeterBuschSF opened #8602 "[REQ] add getWebClient to ApiClient"
## Describe the solution you'd like

My company uses spring-cloud-sleuth for transaction tracing.  This tool requires that the WebClient be registered as a Bean.

I would prefer to allow the ApiClient to build the WebClient using it's defaults.  Then retrieve the completed WebClient from the ApiClient so I can register as a Bean.

[code]

## Describe alternatives you've considered

I currently ach

[2021-02-02 19:21] macjohnny commented on #8601
@joggeli34 would you like to fix this?

[2021-02-02 19:30] macjohnny commented on #8601
@wing328 this seems like a general problem, since the line
https://github.com/OpenAPITools/openapi-generator/blob/1b440e191cb98d7895aee4554b3c808b1dcefb06/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L349-L351

seems ok.
any idea?

[2021-02-02 20:12] spacether commented on #8300
Please upgrade to v5.0.0 and use the python genertor and set nullable to True for your response body schema.
Nullable schemas are supported in v5.0.0 python.

[2021-02-02 20:14] spacether commented on #7834
This is the method that generates examples values that are used in model tests: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-gene[…]g/openapitools/codegen/languages/PythonLegacyClientCodegen.java

And here is where the example value is output into python code: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources

[2021-02-02 21:42] BenjaminKlatt commented on #8583
@wing328 yes, I will prepare one

[2021-02-03 01:45] #8425 closed

[2021-02-03 03:19] spacether commented on #4807
@phemmer what IDE are you using?

[2021-02-03 08:10] joggeli34 commented on #8601
I found out that when I change the response from "default" to "200" it works correctly. So it probably doesn't consider the "default" response in the "isResponseFile" function.

I'm not even sure if "default" is a correct value and should be considered?