[2019-07-11 03:23] yue9944882 commented on #3260
try run this spec and you'll see the surprise

[code]

[2019-07-11 05:54] macjohnny commented on #3336
sure, any contribution is welcome. Please keep in mind https://github.com/OpenAPITools/openapi-generator/issues/802
cc @TiFu

[2019-07-11 06:50] ellipsistechnology commented on #34
I have forked both openapi-generator and oas3-tools and made just enough changes to get it working for my case. It is relatively untested and I make not guarantees that it will solve others' problems, but you might light to have a look at the changes and/or use it:
[ellipsistechnology/openapi-generator](https://github.com/ellipsistechnology/openapi-generator)
[ellipsistechnology/oas3-tools](https:

[2019-07-11 09:51] tkalliom opened #3337 "[BUG][spring] Enum query parameter parsing fails due to enum constants being generated in uppercase"
##### Description

Even when enum values are lower-case in the specification, openapi-generator produces uppercased enum constants in Java, apparently due to the convention. However, this means that lowercased values in enum query parameters are not parsed correctly, resulting in 400 Bad requests for valid requests.

##### openapi-generator version

4.0.3, was present in 3.2 as well

##### OpenAPI

[2019-07-11 10:04] simion96 commented on #2892
Bump. I'm having similar issues with code generation on java with the same error. Schema is defined very similarly to OP's, and I just cannot get it to work. The only difference is that mine is not defined in the requestbody, just as a normal schema.

[2019-07-11 11:39] oleksabor opened #3338 "[BUG][aspnetcore][csharp][csharp-dotnet2] allOf generates source code for *AllOf model"
##### Description

I've tried to use allOf to check inherited classes case. But the problem is that it generates surplus model class `ExtendedErrorModelAllOf.cs` among with `ErrorModel.cs` `ExtendedErrorModel.cs`
I expect that `ExtendedErrorModelAllOf.cs` should not be generated.

##### openapi-generator version

v4.0.3

##### OpenAPI declaration file content or url

[classInherit.yml.zip](https:/

[2019-07-11 11:52] evantrimboli opened #3339 "[BUG][typescript-rxjs] Generator imports some conditional imports unnecessarily"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-11 14:36] Adelrisk opened #3341 "[BUG][typescript-angular] Custom typeMapping for file is overriden in generator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?

[code]

The generator produces `msg` with the type `Blob`.

[code]

Regardless of the various mappings I attempt to set, I cannot find the correct mapping declaration to ensure that this is instead mapped to string. The obvious typeMapping `file=string` should work, but it's overriden in code here: http

[2019-07-11 15:30] sj4nes opened #3342 "[BUG] serverPort Mustache value is always 8080"
##### Description

I have an OpenAPI specification that gives a "servers:" value and a URL, `http://localhost:8000/`. It generates everything else fine but openapi-generator always returns "serverPort" as 8080 in my source output.  Am I missing something obvious?

##### openapi-generator version

4.0.3

[2019-07-11 15:40] vfrank66 commented on #3336
@macjohnny can do!

[2019-07-11 15:47] macjohnny commented on #3336
If you want to help the typescript refactoring, this would be very nice

[2019-07-11 16:42] jonstaff commented on #3333
I'm able to reproduce this issue with the following spec:
[code]

Command:
[code]
This passes validation just fine. It seems related to the `minItems` and `maxItems` properties, because when those are commented out, the command succeeds:
[code]

[2019-07-11 17:08] jmini commented on #3260
In my opinion this is an issue of Swagger-Parser: https://github.com/swagger-api/swagger-parser/issues/1148

[2019-07-11 17:08] jmini commented on #3260
@yue9944882 thank you a lot for the spec! it helps moving forward.

[2019-07-11 18:12] thilux commented on #3338
This is affecting other clients as well. I see the same problem for Java and Typescript at least.
I am using the same generator version as the reporter (v4.0.3).

[2019-07-12 05:49] macjohnny commented on #3333
the spec file is invalid.
you need to place the `minItems`/`maxItems` one level up, i.e.
[code]
because `minItems`/`maxItems` can only exist on `type: array` elements, but in your example they are part of the `type: number` item.

See
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object
http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.4.3

[2019-07-12 07:11] papegaaij commented on #3058
It seems the check for a discriminator only looks one level up. Repeating the discriminator in the intermediate type (`dog` in the example) seems to fix the inheritance.

[2019-07-12 07:16] macjohnny commented on #3339
@evantrimboli would you like to fix this issue?

[2019-07-12 07:22] macjohnny commented on #3341
@Adelrisk one way to overcome the problem in your project would be to add a post-processor, which should be quite easy.

On the other hand, a profound analysis of the impact of your suggested solution would be very welcome.

[2019-07-12 08:03] t2y commented on #3248
I found some parameters have `@RequestParam` and some parameters doesn't.

[2019-07-12 08:26] macjohnny commented on #3248
@t2y can you give an example spec and point to the parameters that generate `@RequestParam` and those that dont?

[2019-07-12 08:44] t2y commented on #3248
@macjohnny Now I made a test environment to run openapi-generator cli for git bisect. I will investigate which revision affects this issue in this weekend.

Currently, my production spec is complicated, so I will try to create simple example spec if possible.

[2019-07-12 08:48] t2y commented on #3248
I confirmed 4.0.3 still has this issue.

[2019-07-12 09:46] FFY00 opened #3345 "[BUG] missing 1 required positional argument"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [X] [Optional] Bounty to sponso

[2019-07-12 10:17] TomBenjamins opened #3346 "[BUG] maven plugin with Java generator generates 2 classes that still use okhttp2"
#### Bug Report Checklist

##### Description
When updating the openapi-generator-maven-plugin from 3.3.4 (which generates okhttp2-dependent code) to 4.0.3 (which uses okhttp3) running the 'generate' goal with the java generator generates 2 classes which are still dependent on okhttp2, OauthOkhttpClient and RetryingOauth in the ${invokername}.auth package. This means that I now have to include 2 ve

[2019-07-12 10:51] Adelrisk commented on #3341
@macjohnny Thanks for the tip, I'll look into the post-processor as a workaround.

If the other hand is about a polite request from me to provide the necessary profound analysis of the impact of my suggestion, then here it is:

It appears that this tool (OpenAPITools/openapi-generator) builds on a framework of concepts and conventions to enable generator-specific customization and extensibility. F

[2019-07-12 10:56] bytenik commented on #3333
Sorry, this sample spec from @jonstaff is not representative of my issue. The spec I attached doesn't have minItems and maxItems.

[2019-07-12 10:59] macjohnny commented on #3333
@bytenik yes, that's why I reopened the issue. could you try to narrow down the problem with a simplified version of your spec?

[2019-07-12 11:00] bytenik commented on #3333
Yep, I'm trying to do that now. Its not trivial with so many things referencing each other.

[2019-07-12 11:01] bytenik commented on #3333
Is there a way to get better information on the failure than just `body_25` without renaming everything in the spec?

[2019-07-12 11:11] bytenik commented on #3333
Okay, looks like this simplified version still blows up with my original command:
[code]

[2019-07-12 12:11] macjohnny commented on #3333
does the error still occur if you remove `amount` or `address`?

[2019-07-12 12:12] bytenik commented on #3333
Yes, removing `address` still generates the error.

[2019-07-12 12:32] macjohnny commented on #3333
and if you just remove `amount` the error does not occur anymore?

[2019-07-12 12:35] bytenik commented on #3333
Correct.

[2019-07-12 12:40] macjohnny commented on #3333
and if you remove `pattern: "^-?\\d+$"`?

[2019-07-12 12:41] bytenik commented on #3333
Looks like its the `oneOf`. Removing it and picking either of the two works, but, with it present everything blows up. Unfortunately this would be difficult to work around as the original spec has these all over.

[2019-07-12 12:47] macjohnny commented on #3333
hmm, I see. would you like to give it a try and fix the issue? the code line where the null-pointer exception occurs is a good starting point to investigate what is missing at that point

[2019-07-12 13:11] yuji38kwmt opened #3347 "[BUG] Description Why ....?"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [x ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spons

[2019-07-12 13:56] macjohnny commented on #3341
maybe @roni-frantchi @akehir @topce have an idea?

[2019-07-12 14:21] evantrimboli commented on #3339
At this point I don't have the time/expertise to dig into it. Perhaps in the future.

[2019-07-12 15:11] macjohnny commented on #3339
cc @denyo maybe you can implement this as part of your code cleanup

[2019-07-12 17:29] mribichich commented on #3092
i think its not supported to have top level `properties` and `oneOf`. you should include the `color: type: string` on each schema

but its true that even like this, the union type `FromJSON` and `ToJSON` are not being generated.

the individuals `FromJSON` and `ToJSON` to each oneOf are being generated

[2019-07-12 17:42] wing328 commented on #3346
I tried but couldn't the issue using the CLI.

For step 5, did you manually insert `<okhttp.version>2.7.5</okhttp.version>` to the auto-generated pom?

[2019-07-12 17:47] JFCote opened #3349 "[BUG] Typescript-fetch generator not respecting the specification"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-12 17:48] JFCote commented on #3349
I will see if I can create a PR for this.

[2019-07-12 17:56] TomBenjamins commented on #3346
No I used a new clean maven project in Eclipse with a clean pom file. I do not use the autogenerated pom in my project. If required I can attach an example maven project to this issue?

Tom

[2019-07-12 18:20] TomBenjamins commented on #3346
unfortunately I can only give more details on Monday, since the pom that gives this issue is on my work PC and when I try to reproduce it at home it compiles correctly....

Tom

[2019-07-12 18:26] TomBenjamins commented on #3346
maybe it also has something to do with the yaml file I use at work, i'll try to upload that as well on Monday

[2019-07-12 20:13] tsiq-jeremy commented on #2745
Hey, I see the same issue occurring with typescript/fetch using

[code]
Since the parameter getting passed in is ALWAYS going to be a string, it should never be calling `toIsoString()` on it. Can we just update it to not worry about calling that function?

[code]

[2019-07-13 05:16] t2y commented on #3248
I did git bisect. This revision is the first bad commit.

* https://github.com/OpenAPITools/openapi-generator/commit/146c1fb25530699661211bcdd92b76491902b4b7
* https://github.com/OpenAPITools/openapi-generator/issues/2655

[2019-07-13 06:00] t2y commented on #3248
@macjohnny I updated `openapi.yaml` in above description to be able to reproduce this issue.

In my environment, generated api interface has diff between 0d701b7ce9e21c9405cac5cf17facd48dba542fc and 146c1fb25530699661211bcdd92b76491902b4b7 as below. The `format` parameter doesn't have `@RequestParam` annotation. Could you confirm?

[code]

[2019-07-13 14:32] denyo commented on #3339
Should be taken care of with some more improvements here in #3316.

[2019-07-13 16:14] TiFu commented on #3349
I disagree that it breaks the spec - I believe the spec only defines how the HTTP request for `addPet` has to look like, not *how* the parameters are passed around in the code generator.

With that out of the way, I think both options - `AddPetRequest` interface and the `addPet(pet: Pet)` - have their merits. In particular, `AddPetRequest` is very useful if you have an endpoint with a lot of param

[2019-07-13 16:28] TiFu commented on #3336
Unfortunately, I currently don't have the capacity to actively work on the refactoring due to some other stuff going on in my life. However, the most basic features are supported in the new code base and kinda documented. If @vfrank66 decides to implement nestjs support in the refactored code base, I'd be happy to provide some guidance on that.

Otherwise, I think it would also be possible to just

[2019-07-13 16:44] vfrank66 commented on #3336
Alright I'll help out, I see #802 and a lot of different issues. I will help get this converted in order to then add nestjs. What would you like completed first or what filter to use on the issues?

[2019-07-14 02:43] yuji38kwmt opened #3352 "[REQ] Please add schema name to log message that tell me which the problem is."
### Is your feature request related to a problem? Please describe.
When I generated python file with OpenAPI Generator, the following warning occurred.
But I can't find which schema object is problem from the following log.

[code]

## Describe the solution you'd like
Please add schema name to log message that tell me which the problem is.

## Additional context
* OpenAPI Generator v4.0.0

[2019-07-14 06:10] yuji38kwmt opened #3354 "[REQ] Please document how to print log message of debug level."
### Is your feature request related to a problem? Please describe.
I did not know what caused the warning from the following log message.
Therefore I added log message to source code, and I built `openapi-generate-cli` project.

[code]

https://github.com/OpenAPITools/openapi-generator/issues/3352

## Describe the solution you'd like
Please document how to print log message of debug level.
For exa

[2019-07-14 07:56] yuji38kwmt opened #3356 "[QUESTION] Why do error occur with `--ignore-file-override` option ?"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-14 10:06] #809 closed

[2019-07-14 13:00] yuji38kwmt opened #3358 "[REQ] Add `isDeprecated` field to schema object."
## Is your feature request related to a problem? Please describe.

I created the following yaml file that `tag` field of `Pet` Object is deprecated.
I executed `generate` command with  `-DdebugModels` option and I printed JSON model.
But json model does not include `isDeprecated` field.
So I can not use `isDrecated` variable in `model.mustache` file.

### `petstore.yaml`

[code]

### Executed comm

[2019-07-14 14:31] james-beer opened #3359 "[ASP .NET Core] Support default values for model properties."
##### Description

Generated models in ASP .NET Core projects do not have default values for properties using the `default` schema element. It appears this is supported in some other generators, e.g. the Python Flask generator.

##### openapi-generator version

`master` branch.

##### OpenAPI declaration

[code]

##### Current ASP .NET Core codegen

Command:
`./run-in-docker.sh generate -i ./test/

[2019-07-14 15:33] bytenik commented on #3333
It appears this works okay in 4.0.x.

[2019-07-14 15:33] #3333 closed

[2019-07-14 19:21] JFCote commented on #3349
@TiFu Fair point.

I will update my PR and see which of the 2 options is easier to implement and don't mess the mustache too much. I'll let you know when it's ready.

[2019-07-14 21:38] parrotcar00 opened #3360 "[QUESTION] Modify Openapi spec yml and regenerate server stub without changing business logic?"
##### Description

Is it possible to iteratively modify the spec of some endpoints in the yml file and then regenerate the server stub without having to modify your business logic each time you do that?

To give an example, consider the endpoint:
GET /api/v1/{petID}/details

Suppose we modify this to look like, adding another parameter to the endpoint:

GET /api/v1/{petstoreRegionCode}/{petID}/det

[2019-07-15 05:42] MichalFoksa opened #3364 "[BUG] Option template directory ignored in 4.1.0-SNAPSHOT"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-15 05:46] macjohnny commented on #3336
that's excellent, thank you!

[2019-07-15 05:51] macjohnny commented on #2745
in order not to break existing code, it would be simpler to check for both `Date` and `string`:
[code]

[2019-07-15 07:26] macjohnny commented on #3248
@t2y thanks for the analysis
a workaround for your problem could be to inline the parameter, i.e.
[code]

I guess either `components.schemas` should not be used for query params or
https://github.com/OpenAPITools/openapi-generator/blob/146c1fb25530699661211bcdd92b76491902b4b7/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L2213
should be extended to also check

[2019-07-15 07:38] colameo commented on #2907
happens with the newest gradle plugin 4.0.3 as well

[2019-07-15 09:21] colameo commented on #2907
...obviously the type for date defaults are resolved to "Date". So I guess at least a check is needed before casting the default value or change the type for the _default variable to Object.

[2019-07-15 09:37] vanipareek opened #3366 "openapi-generator-maven-plugin not generating any test cases when the provided generatorName is spring"
<plugin>
<groupId>org.openapitools</groupId>
<artifactId>openapi-generator-maven-plugin</artifactId>
<version>4.0.0</version>
<executions>
    <execution>
        <goals>
            <goal>generate</goal>
        </goals>
        <configuration>
            <inputSpec>${project.basedir}\src\main\resources\api.yml</inputSpec>
            <modelPackage>com.demo.model</modelPackage>
            <apiP

[2019-07-15 10:24] TomBenjamins commented on #3346
Hi, I finally was able to reproduce the issue again, but I believe it has more to do with Eclipse 2019-06 than with the maven plugin...

i first used plugin version 3.3.4, and I updated it to 4.0.2 in the pom. Then I updated the project configuration in Eclipse, and then the okhttp 3 was generated, but there was still OK http2 dependent code. When I first removed the generated code folder and refr

[2019-07-15 10:47] vanipareek commented on #3318
Same issue I m facing, Please resolve this on priority

[2019-07-15 10:49] Leo-Rutschmann opened #3367 "[BUG][R] Generating R enums results in empty class with no values"
##### Description

I have noticed that R enums are not generated properly, that is, instead of a proper enum structure, an empty class is generated. In it, there is nothing but the to-/fromJSON-methods; the values of the enum - that are specified in the schema - are not present.

##### openapi-generator version

openapi generator 4.0.1 (gradle plugin)

##### OpenAPI declaration file content or url

[2019-07-15 13:43] macjohnny commented on #665
fixed with #2266
thanks @christof-vollrath-spring-media

[2019-07-15 13:43] #665 closed

[2019-07-15 13:45] tsiq-jeremy commented on #2745
@macjohnny works for me! Im going to open up a PR with an update to do this. So I also did a bit more digging into the issue on why this is occurring. If the format is "date", then the parameter type is a `string`, while if the format is "DateTime", the the parameter it is looking for is a `Date`.

In `AbstractTypeScriptClientCodegen.java:
[code]

While in `typescript-fetch/api.mustache` I found:

[2019-07-15 13:46] tsiq-jeremy commented on #2745
@macjohnny works for me! Im going to open up a PR with an update to do this. So I also did a bit more digging into the issue on why this is occurring. If the format is "date", then the parameter type is a `string`, while if the format is "DateTime", the the parameter it is looking for is a `Date`.

In `AbstractTypeScriptClientCodegen.java:
[code]

While in `typescript-fetch/api.mustache` I found:

[2019-07-15 15:22] gerardbosch commented on #2827
I could not solve the issue, BUT.. I took another aproach and instead of referencing the remote API-components from Bitbucket, I managed to publish my API definitions to the corporate Artifactory, which gave me a different URL to reference from the Bitbucket's one. Doing that way, the generator has been able to read remote definition references and therefore build successfully.

So I started to th

[2019-07-15 19:53] jmini opened #3370 "[Java rest-assured] reqSpec is reused across multiple requests"
Given this spec:

[code]

Adjust the generated test `src/test/java/org/openapitools/client/api/LoremApiTest.java` to:

[code]
(Do not forget to remove the generated `@Ignore` annotation on top of the unit-test class)

---

Run the test against a server where you can have a look at the requests.

The server is receiving this logs:

First request:
[code]

Second request:
[code]

Having two `q` param

[2019-07-16 06:12] macjohnny commented on #865
related: https://github.com/OpenAPITools/openapi-generator/issues/3349

[2019-07-16 06:12] macjohnny commented on #3349
related issue: https://github.com/OpenAPITools/openapi-generator/issues/865

[2019-07-16 08:20] akehir commented on #3341
I'm tempted to say, that the behaviour is correct. If you specify a 'string' of format 'binary', it shouldn't be a string in Typescript.
If you check the OAS Specification for [Data Types](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#data-types), then we see that string can have the formats:
[`type`](#dataTypes) | [`format`](#dataTypeFormat) | Comments
------ | ------

[2019-07-16 08:33] Adelrisk commented on #3341
I'm missing the complete context in this answer. Is this an insistence that
the described behaviour of the overrides matches the observed behaviour?

And maybe there is another problem if this Blob hack is on in the one
typescript generator and not in the abstract base.

On Tue., 16 Jul. 2019, 10:20 Raphael Ochsenbein, <notifications@github.com>
wrote:

[2019-07-16 08:46] akehir commented on #3341
@Adelrisk:

I'm just stating that the correct data type to handle binary data is [Blob](https://developer.mozilla.org/en-US/docs/Web/API/Blob) in JavaScript / TypeScript.

If you are trying to use a string as a string as a string type, you'd need to adapt the `format` part of your API specification.

The same, if I use the `typescript-fetch` generator with your declaration ([my full swagger exampl

[2019-07-16 08:49] akehir commented on #3341
So yes, maybe this should be in the abstract base class; but I'd say it's specific to the JavaScript / TypeScript handling of the binary string format.

[2019-07-16 08:55] macjohnny commented on #3341
I agree with @akehir, `type: string` with `format: binary` should always result in a `Blob`, while `type: string` with `format: byte` results in a `string`, which matches the implemetation of the specification.
So IMHO we should close this issue.

[2019-07-16 09:01] Adelrisk commented on #3341
So, there is no support for allowing custom types instead of Blob in the
tooling? Not all types are equal?

This is disappointing. I like my type safety in Typescript. Thanks anyway I
guess.

On Tue., 16 Jul. 2019, 10:55 Esteban Gehring, <notifications@github.com>
wrote:

[2019-07-16 09:08] macjohnny commented on #3341
@Adelrisk can't you change `format: byte` in your spec?

[2019-07-16 09:10] macjohnny commented on #3341
tooling? Not all types are equal?

In general this feature is available, but in this case, I can't really tell you why the type is set explicitly, regardless of any overriding mechanism, but I suppose it is there for some reason. Another way to fix your issue would be to additionally check for type overrides.

[2019-07-16 09:24] Adelrisk commented on #3341
Thank you for the first answer that seems to acknowledge the bug in the
code or the elephant sharing the room with me.

However, the lack of knowledge demonstrates that we are now (finally?)
exactly there where I said I am when I analysed the code and the possible
way forward. (Tests?)

Also, thank you for your time pointing out how a correctly specified API
might look like. Thus prepared and info

[2019-07-16 10:22] j8seangel commented on #2154
Same here with typescript-fetch

[2019-07-16 10:26] TiFu commented on #3336
@vfrank66 The code for the rework is currently on the typescript-refactor branch and follows the structure outlined in #802. So far I have added support for ts-fetch and I think jquery is almost done.

I think you could either try to add other generators (angular, rxjs, axios, node request module) support or just try to include nestjs in this new structure. My understanding so far is that nestjs s

[2019-07-16 10:43] cubidobusinesssolutions opened #3372 "[BUG] TypeScript Angular Escape colon"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-16 10:59] SirWayne opened #3373 "[FEATURE] [SPRING-CLOUD] Configuration for token and authorization url"
### Is your feature request related to a problem? Please describe.

There is no way to override the token url and authorization url in the client configuration.
That is why, for example, it is difficult to use the generated configuration code for multi teneancy. It cannot not be used for that scenario.

## Describe the solution you'd like

I would generate a properties class (as recommended by Spr

[2019-07-16 11:49] gerardbosch commented on #3100
I'm with this issue as well. But when I have realized the generator working this way I asked myself if this was intended or really a weird bug. Could someone clarify it? I was pretty happy with 3.3.4 so I will go back to it for now. @wing328

[2019-07-16 14:37] neurohre commented on #3163
due to no one is obviously interested in that here.... -> clos :-( 👎

[2019-07-16 14:37] #3163 closed

[2019-07-16 18:43] dan-drl opened #3374 "[BUG][C++-rest-sdk] Issue when default value is nullptr"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-16 20:04] jamesrusso opened #3376 "[REQ] Only generate API methods/models which are part of a certain tag."
I have an API which has both public and internal methods. I'd rather not expose the internal methods and endpoints on the public client.

It would be nice if you could only generate API code for methods which contain a certain tag.

[2019-07-16 21:42] skrawn opened #3377 "[BUG][typescript-fetch] 4.0 returns void instead of raw Response type for controllers with blob responses"
##### Description

After upgrading openapi-generator from 3.3.4 to 4.0.3 we lost the ability to download files. I looked at the difference in the code generated by openapi and I noticed that instead of returning ```Promise<Response>```, it now returns ```Promise<void>``` for this API path. Here's the C# code for controller path:

[code]

In openapi-generator 3.3.4, this code was:

[code]

In opena

[2019-07-17 07:04] macjohnny commented on #3377
in your OpenAPI declaration file, there is no response defined. See https://swagger.io/docs/specification/describing-responses/

[2019-07-17 07:16] macjohnny commented on #3372
the solution you propose makes sense
@JohannesHoppe @akehir what do you think?

[2019-07-17 07:23] macjohnny commented on #3372
see also
https://stackoverflow.com/questions/49438737/how-to-escape-angular-httpparams/49440389#49440389
https://github.com/tiangolo/ngx-http-client#very-technical-details

[2019-07-17 11:37] jimschubert commented on #3358
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#fixed-fields-20

We'll probably want to evaluate the other `deprecated` fields as well (operations, paths).

[2019-07-17 12:32] skrawn commented on #3377
Our declaration file is generated by Swashbuckle.AspNetCore.SwaggerGen. I know there is an issue with the response not being defined and that's a separate thing. But I want to know why openapi-generator 3.3.4 was giving me Response as a return value and now 4.0.3 is giving me void as a return value.

[2019-07-17 13:00] jimschubert commented on #3364
Thanks for reporting this. It looks like this may affect versions 4.0.2+.

GeneratorSettings and WorkflowSettings may need to push all properties with a corresponding CODEGEN_CONSTANTS into the additionalProperties map. I'll try to get a fix for this into master later today.

[2019-07-17 13:12] macjohnny commented on #3377
I can't really tell, maybe this was a bug before, but I think the current behavior is correct.

[2019-07-17 13:42] akehir commented on #3372
I wonder if we should provide a facility to configure this, as I can image different projects having varying requirements (depending on the backend framework). In other words, we could have the encoder being injected into the api.

In general, however, the solution as proposed should be better than the angular default behaviour, though it might be a minor breaking change for some projects.

[2019-07-17 13:49] macjohnny commented on #3372
@cubidobusinesssolutions would you like to implement a runtime configuration option to pass a custom `HttpParameterCodec` if needed?

[2019-07-17 13:52] MichalFoksa commented on #3364
You are welcome.
BTW: This particular issue (with template directory) is not in 4.0.3.

[2019-07-17 14:48] SirWayne opened #3381 "[BUG] [SPRING-CLOUD] Invalid generated ConfigurationProperties annotation"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-17 16:15] swillis12 opened #3382 "[REQ] [Typescript] Only generate types with no services calls"
### Is your feature request related to a problem? Please describe.

We have a requirement to add cancel tokens to our Axios service calls and have already written this layer. I want to be able to only generate Typescript typings without the axios/fetch service calls (since I would have to write a generator to get cancel token sent to Axios).

## Describe the solution you'd like

Option to generate

[2019-07-17 16:23] swillis12 opened #3383 "[REQ] [typescript-axios] Ability to pass cancel token to axios"
### Is your feature request related to a problem? Please describe.

There is currently no way to cancel requests in the generated service calls for both Axios and Fetch generators (..that I know of, sorry if this is not true).

## Describe the solution you'd like

A way to enable an option to have a cancel token added to the request and ideally be able to reference this cancel token after the requ

[2019-07-17 17:06] dougheitkamp commented on #3145
Update: This problem exists in the Java generated code as well.  This isn't a Python-only issue.

[2019-07-17 20:26] ShoeBoom commented on #2730
Is it possible to extend this feature to other types. For example my spec uses something similar to

[code]

the codgen maps this to Int

[2019-07-17 20:30] #3349 closed

[2019-07-18 04:00] jimschubert commented on #3364
I've filed #3385 to resolve the issue. Looks like `templateDir` was the only property I'd missed setting on `additionalProperties`.

[2019-07-18 04:51] d-date commented on #2721
Don't worry. Swift4 generator still can be used for existing users (including need objcCompatible option). Swift 5 and Swift 5.1 has so many great features for OAS 3.0. Until Swift 4 generator we have only for OAS 2.0(Swagger).

For various API Clients, this generator only provide interface and protocols with `onlyPalinInterface` option default is `true` . So we can use URLSession in Foundation, A

[2019-07-18 04:53] d-date commented on #2721
I'd like to ask you how many PromiseKit users exist now? From Swift 5, Result is introduced in Standard Library. If you have no problems, I want to deprecate PromiseKit support since this generator has too many option to keep maintain.

[2019-07-18 05:13] wing328 commented on #3382
If you want to generate certain files only, you may consider using `.openapi-generator-ignore` (readme => customization has more info on that)

If you want to customize the templates, please use the `-t` option (of the latest stable version)

[2019-07-18 05:15] wing328 commented on #3381
@SirWayne thanks for reporting the issue, which can be fixed with mustache lambda.

Is that something you can help us with by filing a PR with the fix? Thanks in advance.

[2019-07-18 05:16] wing328 commented on #3374
please provide more details. otherwise, it would be hard for others to help you out.

[2019-07-18 05:17] wing328 commented on #3373
Your suggestion sounds good to me to start with. I wonder if you can file a PR so that we can review your suggested approach.

[2019-07-18 05:19] wing328 commented on #3367
@Leo-Rutschmann given the example you provided, what does the enum class look like in R?

[2019-07-18 05:20] wing328 commented on #3359
Thanks for the PR. We'll review shortly.

[2019-07-18 05:25] wing328 commented on #3359
Closed via https://github.com/OpenAPITools/openapi-generator/pull/3369

[2019-07-18 05:25] #3359 closed

[2019-07-18 05:27] grokify opened #3386 "[BUG][Golang][Client] Serialize exploded query params array of type string-array of style form"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-18 05:29] wing328 commented on #3376
As a workaround, what about using .openapi-generator-ignore to skip files that you don't need?

[2019-07-18 05:39] macjohnny commented on #3383
you could use the typescript-rxjs generator, since RxJS Observables are cancellable

[2019-07-18 05:45] macjohnny commented on #3382
@swillis12 you could also add a postprocessor that generates typings from the generated services and deletes the generated services

[2019-07-18 05:46] #3370 closed

[2019-07-18 05:52] MichalFoksa commented on #3364
Great, when merged, I will test it.

[2019-07-18 06:04] #3354 closed

[2019-07-18 06:15] macjohnny commented on #865
this is implemented for typescript-fetch, see #3349

[2019-07-18 06:37] cubidobusinesssolutions commented on #3372
Ok, I will do it.

[2019-07-18 07:36] jweisman commented on #1976
Hi @jmini - same with 4.0.3.

Out of curiosity- does this [sample spec](https://raw.githubusercontent.com/swagger-api/swagger-codegen/50d5cf092cb05e76d88f8900664c0a248fdd0d95/modules/swagger-codegen/src/test/resources/3_0_0/petstore.json) work for you? Perhaps it's something I'm doing wrong?

[2019-07-18 08:16] wing328 commented on #3338
Thanks for reporting the issue. Can you please check the latest master? if it's still an issue, I'll take a look in the next 2 weeks after I'm back from my trip.

[2019-07-18 08:19] wing328 commented on #3286
Looks like 1.1.1 has been released.

@aadibajpai I wonder if you can help file a PR to re-enable those tests that were commented out via https://github.com/OpenAPITools/openapi-generator/commit/fa10103363da4ce60128488892b359c222397a48

[2019-07-18 08:55] aadibajpai commented on #3286
Cool enough, I'll do that in a bit.

[2019-07-18 08:59] miketonguk commented on #2056
This looks like a duplicate of https://github.com/OpenAPITools/openapi-generator/issues/2058

[2019-07-18 10:55] oleksabor commented on #3338
I've just checked with latest master but it generates three files

and ExtendedErrorModel does not inherit from the ErrorModel:
`public partial class ExtendedErrorModel : IEquatable<ExtendedErrorModel>`

[2019-07-18 13:50] #3364 closed

[2019-07-18 13:52] jimschubert commented on #3364
@MichalFoksa this has been merged into master. Feel free to reopen the ticket if there are other kinks that I've missed.

[2019-07-18 14:01] balazs-zsoldos opened #3388 "[BUG] [DefaultCodeGen] Map<String, X> is generated as API requestBody if Model class has additionalProperties=true"
##### Description

In case a model class has _additionalProperties=true_, in the API a Map is inserted as requestBody parameter instead of the model class.

I

##### openapi-generator version

4.0.3

##### OpenAPI declaration file content or url

I used the following pom.xml to generate the sources: https://gist.github.com/balazs-zsoldos/7c707b098d97bac59a3b411d5d6b0664

For an example, see _Group

[2019-07-18 14:57] MichalFoksa commented on #3364
I believe it won't be necessary.  :smiley:

[2019-07-18 15:12] markfinlabs commented on #2721
We're not using PromiseKit and also are trying to adopt the latest Swift features 😀

[2019-07-18 15:54] dkliban commented on #3335
This is not a language specific bug. I am seeing the same behavior for Ruby clients.

[2019-07-18 16:49] dan-drl commented on #3374
Sorry, I didn't realize that submitted : / ...  Please see revised issue above.

Since the proposed fix, although small, could have a large impact, feedback about the change would be good. I am simply not familiar enough with the code to full understand the the ramifications of a change to the toDefaultValue method.

I am currently waiting to see if anything else comes up as other folks use my pat

[2019-07-18 20:49] Zomzog commented on #3366
Looks like a duplicate of #3318

[2019-07-18 20:59] vfrank66 commented on #3336
@TiFu okay I started looking at the code and the changes between master and typescript-refactor. Is this project still current https://github.com/OpenAPITools/openapi-generator/projects/4? It seems TODO's match up with what you responded with.

We can take this conversation outside of here if you would like, just let me know.

[2019-07-18 21:04] Zomzog commented on #3318
I don't know why they have been removed, but I think more useful test must be generated because previous only assert that we have `NOT_IMPLEMENTED` default implementation generated and nothing linked to the real API spec.

I've done a quick test and I think it may be possible to generate at least one test per `responses` of each `operation` of an API and disable them.

[2019-07-18 21:14] clemens-smartparking opened #3392 "[BUG] [typescript-axios] Definition names are not resolved correctly (e.g. MyTypeName -> InlineObject)"
The generated API uses definition names such as InlineObject1 instead of the proper name.
Furthermore, the type interfaces are generated twice, once with InlineObject names and once with the correct name.

The typescript-fetch backend does it directly but I am not quit sure what they are doing differently... (EDIT: its also an issue in typescript-fetch)

I'am using `@openapitools/openapi-generator

[2019-07-18 21:53] freemanchen opened #3393 "Babel CLI vulnerability in Javascript ES6 generator"
##### Description

The babel upgrades done to the Javascript Flowtyped generator are needed in the Javascript ES6 generator as well.  The 6.26.0 version of babel-cli causes a lot of `npm audit` vulnerabilities

##### openapi-generator version

Using the latest 4.0.3 release, ES6 Javascript generator

##### OpenAPI declaration file content or url

##### Command line used for generation

Running the

[2019-07-19 05:10] MichalFoksa commented on #3364
@jimschubert it works. Thank you!

[2019-07-19 05:52] macjohnny commented on #3393
@freemanchen would you like to file a PR?

[2019-07-19 05:58] macjohnny commented on #3392
cc @TiFu

[2019-07-19 05:59] grokify opened #3395 "[BUG][Golang][Client] Response JSON array of object not handled in spec 2.0 but works in spec 3.0"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-19 06:00] macjohnny commented on #3392
cc @nicokoenig

[2019-07-19 06:04] #3167 closed

[2019-07-19 06:30] Leo-Rutschmann commented on #3367
@wing328 the generated enum class looks as follows:

    # JSON test
    #
    # No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
    #
    # The version of the OpenAPI document: 1.0.0-SNAPSHOT
    #
    # Generated by: https://openapi-generator.tech

    #' EnumTest Class
    #'
    #'
    #' @importFrom R6 R6Class
    #' @importFrom jsonl

[2019-07-19 07:31] wing328 commented on #3367
@Leo-Rutschmann you're totally correct. The R client generator does not support enum model/class yet.

As you've already figured out how other generators support enum class, I believe you're heading the right direction.

I wonder if you can file a PR with the fix so that we can include it in the official project.

[2019-07-19 09:33] lwlee2608 opened #3397 "[BUG] Callback request and response not being flattened to InlineObjects"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-19 11:07] MartinDelille opened #3399 "[BUG] OAS3 server URL/host not parsed"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-19 13:36] gerardbosch opened #3401 "[REQ] OAS3 Tag to define external components URL"
Hi there, I'm not sure if this question/feature-req applies here or not, but sure if it is implemented affects the generatior, so here I ask:

I find myself using the power of `$ref` to reference external components in my API definitions, which is great as allows component reuse. But I find myself with this kind of code in my API definitions, where the links to external components are very long an

[2019-07-19 13:58] jskhedkarl commented on #3318
Thanks for the quick help Thibault,

I tried generating test cases for –g spring –library spring-mvc , but still no luck.

Test templates are missing and I don’t know a way to generate test cases.

If you know a hook or workaround to generate spring based test cases using latest stable version then please let me know. Otherwise I will end up using swagger-codegen-cli which does this job without fa

[2019-07-19 14:02] JFCote opened #3402 "[BUG] Typescript-fetch : The `options` parameter is gone. No way to pass options."
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-19 15:30] bkabrda commented on #522
FTR, my PR that aims to fix this - #3371 - was merged to the `go-experimental` client. Feel free to give it a shot, I'd be happy to fix any issues that you might have with the implementation.

[2019-07-19 17:17] freemanchen commented on #3393
@macjohnny Sure, but I probably won't get around to it until Monday.

[2019-07-19 19:52] lemoinem opened #3404 "[BUG][Swift] JSON not deserialize if expected type is just a string"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? Yes
- [x] What's the version of OpenAPI Generator used? `master`
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

[2019-07-19 20:50] mAAdhaTTah commented on #2956
Ran into this same issue. Trying to generate a TS client that works between React Native & Web and having no luck. Axios is the closest but this is blocking. I could PR this, but should the `accessToken` type change based on if it's `BasicBearer` or should the call site change to include those values?

[2019-07-20 16:50] gerardbosch commented on #3401
OAI/OpenAPI-Specification#1979

[2019-07-20 17:37] silasbw opened #3407 "[REQ] [typescript-node] Promise-based Authentication interface"
### Is your feature request related to a problem? Please describe.

The current TypeScript Node [`Authentication`](https://github.com/OpenAPITools/openapi-generator/blob/21e29d7177/modules/openapi-generator/src/main/resources/typescript-node/models.mustache#L165) interface for applying authentication settings (`.applyToRequest`) is synchronous.  It would be useful to support a Promise-based asynch

[2019-07-20 17:42] silasbw commented on #3407
I created a PR with an example solution/implementation: https://github.com/OpenAPITools/openapi-generator/issues/3407

[2019-07-20 21:07] TiFu commented on #3336
Yeah it is up-to-date. I will have a look at the TODO items tomorrow and see if I can make their titles a little bit clearer and add some more context.

I don't have any preference, whatever helps you most.

[2019-07-21 02:04] grokify commented on #1133
The Go / Golang client has the same issue. When specifying a bearer token, basicAuth is implemented.

In addition to taking an access token, it would be nice to take a refresh token as well so the client can refresh the token itself.

For now, I'm passing in a custom Go `*http.Client` but it would be nice for this to be supported natively. When I do this, I can use a static non-expiring token or a

[2019-07-21 11:36] hellboy81 commented on #3235
Got it!
[Open api supports customization](https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md)

Also `openapi-generator-ignore` can be used

[2019-07-21 11:36] #3235 closed

[2019-07-21 16:03] pe-st commented on #3293
This bug bit me too, it's a regression and I was astonished when I could generate my code with 4.0.0-beta3 but not anymore with 4.0.0.

I tracked it down to have been introduced by the PR https://github.com/OpenAPITools/openapi-generator/pull/2794

Either the regex that @rgala mentions should match digits only after the first position (e.g. `^[A-Z_][A-Z0-9_]*$`) or the condition checking for a wor

[2019-07-21 20:43] etherealjoy commented on #3399
In [OAS 2.0](https://swagger.io/docs/specification/2-0/basic-structure)
[code]

In [OAS 3.0](https://swagger.io/docs/specification/api-host-and-base-path)
[code]

I think we should use the one parsed by the base utils.

This is handled automatically by the Qt client when the scheme is https. Qt will use the host cert chain to verify the server. When a custom cert is to be used the Qt [method](http

[2019-07-22 02:43] grokify opened #3411 "[BUG] `type` reserved word does not prevent using `Type` attribute name"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-22 03:28] grokify opened #3412 "[REQ][Golang][Client] Add `*http.Client` Accessor"
### Is your feature request related to a problem? Please describe.

It can be useful to access the `*http.Client` directly when certain APIs cannot be currently supported by OpenAPI Generator.

This is currently inaccessible in `*APIClient.cfg.HTTPClient`

## Describe the solution you'd like

An accessor to retrieve the `*http.Client` for usage.

## Describe alternatives you've considered

**Optio

[2019-07-22 05:46] macjohnny commented on #3402
I think adding back this functionality in the existing generator is fine.

[2019-07-22 08:54] #3372 closed

[2019-07-22 08:54] #3407 closed

[2019-07-22 09:32] herveDarritchon opened #3414 "[REQ] [Kotlin] Switch between Moshi and Jackson depending on import library"
### Is your feature request related to a problem? Please describe.

Currently with the Kotlin generator, there is no choice in the library used for marshalling/unmarshalling. Kotling codegen uses Moshi (may be because of the android history).

But when you use Jersey, Ktor ou Spring, you use more often Jackson than Moshi or at least Gson.

Because of this automatic import, you have to had Moshi in

[2019-07-22 10:00] MartinDelille commented on #3399
After looking at the template, it seems that the scheme is handled: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache#L13

It looks like it is not parse for OAS 3.0

[2019-07-22 12:05] Doxoh commented on #2908
@wing328 Same issue is at aspnetcore generator. Can you add "isCookieParam" their too to hide the comma?

[2019-07-22 13:20] bcourtine opened #3418 "[BUG][Rust client] Generated API documentation contains obvious errors"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-22 13:28] abangerl opened #3420 "[BUG] Generated code uses class from gson internal package"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-22 15:48] ragazzojp commented on #1714
I can still reproduce this problem with 4.0.3. @wing328 , can we please reopen it?

[2019-07-22 16:26] Araevin commented on #2427
I ran into the same issue. I didn't fix it generator-side, but changing every instance of the line:
`var schema = schemaWrapper.schema` to
`var schema = schemaWrapper.content['application/json'].schema;`
in my generated index.html worked for me.

In the generated document, the schemaWrapper variable was formatted like this:
[code]
So it makes sense schemaWrapper.schema is undefined

[2019-07-22 16:36] MartinDelille opened #3421 "[qt] Binary format doesn't compile"
##### Description

I tried to describe a binary format file download as describe here: https://swagger.io/docs/specification/describing-responses/

Unfortunately, the generated code doesn't compile.

##### openapi-generator version

4.0.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Generate the upper spec with th

[2019-07-22 16:41] MartinDelille opened #3422 "[BUG] [qt5] cppNamespace argument doesn't work"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-22 18:32] macjohnny commented on #2745
@tsiq-jeremy could you please open the PR here in openapi generator?

[2019-07-22 20:49] freemanchen commented on #3393
@macjohnny PR has been created.  Thanks.

[2019-07-22 21:45] feliksik commented on #3098
@jmini thanks for the input. I did not get to playing around with the generator yet, but seeing different approaches is the best first step.

I used the plain java generator to trigger the issue (see [here](https://github.com/feliksik/bug-reports/blob/master/openapi-generator/enum-casing/pom.xml#L41)).

Maybe that Adapter solution is actually nice. I was thinking whether it may also be used for th

[2019-07-23 05:14] macjohnny commented on #3393
@freemanchen thanks a lot!

[2019-07-23 07:08] MartinDelille commented on #3422
Ok my mistake: the correct command line to pass option to the generator is the following:

[code]

[2019-07-23 07:08] #3422 closed

[2019-07-23 07:15] macjohnny commented on #347
with https://github.com/OpenAPITools/openapi-generator/pull/3351 by @JFCote one can choose the method signature style.

[2019-07-23 07:15] #347 closed

[2019-07-23 07:16] denyo commented on #3339
Can be closed since #3316 is merged?

[2019-07-23 07:17] macjohnny commented on #3339
fixed with #3316.

[2019-07-23 07:17] #3339 closed

[2019-07-23 07:20] macjohnny commented on #926
fixed with #569

[2019-07-23 07:20] #926 closed

[2019-07-23 07:22] Doxoh commented on #2908
Hello @wing328,

I have changed it locally successfully, but I cannot create a new branch to commit.

Can you help me?

Kind regards

[2019-07-23 07:22] macjohnny commented on #1185
is this still an issue with `4.0.0`?

[2019-07-23 07:23] #1010 closed

[2019-07-23 07:26] macjohnny commented on #1368
this can be configured, see e.g. https://github.com/OpenAPITools/openapi-generator/blob/d2576f411e0222c3f4fe998037a76b08b472db12/modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache#L73

[2019-07-23 07:28] #1570 closed

[2019-07-23 07:28] #1509 closed

[2019-07-23 07:30] macjohnny commented on #1689
could be part of https://github.com/OpenAPITools/openapi-generator/issues/802

[2019-07-23 07:30] #1689 closed

[2019-07-23 07:33] macjohnny commented on #1882
might be refactored in https://github.com/OpenAPITools/openapi-generator/issues/3402

[2019-07-23 07:33] #1882 closed

[2019-07-23 07:37] macjohnny commented on #2384
resolved in #2452

[2019-07-23 07:37] #2384 closed

[2019-07-23 07:37] #2594 closed

[2019-07-23 07:39] macjohnny commented on #2336
this is due to https://github.com/OpenAPITools/openapi-generator/blob/d2576f411e0222c3f4fe998037a76b08b472db12/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java#L106

[2019-07-23 07:40] Kiikurage commented on #1368
@macjohnny Sorry, but your answer looks how to configure fetch API implementation at runtime. Even if it's configurable, as long as portable-fetch is used as default, we have to install and bundle it. Otherwise, error is occurred when it's loaded.

[2019-07-23 07:41] macjohnny commented on #2739
fixed with https://github.com/OpenAPITools/openapi-generator/pull/2899

[2019-07-23 07:41] #2739 closed

[2019-07-23 07:44] macjohnny commented on #2956
@mAAdhaTTah a PR is very welcome

[2019-07-23 07:44] macjohnny commented on #2956
cc @nicokoenig

[2019-07-23 07:45] macjohnny commented on #1368
@Kiikurage would you like to implement a fix?

[2019-07-23 07:46] Kiikurage commented on #1368
OK, I'll send PR in a few days!

[2019-07-23 07:53] rizwansaeed opened #3427 "[BUG] Python generator incorrectly renames non-reserved model objects"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-23 07:58] rizwansaeed opened #3428 "[BUG] Python generator incorrectly renames valid model names"
##### Description

The generator is renaming valid model object names. Looking at https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java#L119 it seems that it is ignoring casing which means that valid names such as `Property` are being renamed to `ModelProperty`

##### openapi-generator versi

[2019-07-23 07:59] macjohnny commented on #2870
@matthewbpt is this issue still present?
would you like to implement a fix for this?

[2019-07-23 08:02] macjohnny commented on #3377
@TiFu do you think we can close this issue?

[2019-07-23 08:36] oburgosm commented on #3334
I found that exists parameter _useTags_, with _false_ as default value. If I set it to true, Generated classes are grouping by tags.

In my previous code:

[code]

[2019-07-23 08:36] #3334 closed

[2019-07-23 09:10] anton-lebodkin commented on #3074
I have an issue with the prefix, when I add prefix and then generated imports are wrong.
For example I provide --model-name-prefix abc
And then generated import as
 import { AbcResponseStateType } from './abcAbcResponseStateType';

So in the file name prefix is duplicated
Have somebody seen this behavior?

[2019-07-23 09:19] macjohnny commented on #3074
@anton-lebodkin please open a new issue an specify the version, command etc. you are using.

[2019-07-23 09:25] anton-lebodkin commented on #3074
@macjohnny Excuse me, occasionally runned `swagger-codegen`. `openapi-generator`  is ok

[2019-07-23 11:44] horzsolt opened #3430 "[BUG][ANDROID] java.util.concurrent.TimeoutException"
##### Description

After generating an android client calling any API method results in java.util.concurrent.TimeoutException.
Stack trace:

     Caused by: java.util.concurrent.TimeoutException
        at com.android.volley.toolbox.RequestFuture.doGet(RequestFuture.java:128)
        at com.android.volley.toolbox.RequestFuture.get(RequestFuture.java:97)
        at com.etalonsoft.delifarm.invoker.A

[2019-07-23 12:49] macjohnny commented on #3421
@MartinDelille a PR would be very welcome!

[2019-07-23 13:44] #2745 closed

[2019-07-23 14:15] MartinDelille commented on #3421
@macjohnny Would you have another codegen I could inspire myselft to do it?

[2019-07-23 14:36] macjohnny commented on #3421
maybe the `typescript-angular` or `typescript-rxjs`?

[2019-07-23 15:52] hatzlj opened #3432 "[BUG][JAVA][OKHTTP] UnsupportedOperationException when using okhhtpclient with gzip feature enabled"
##### Description
When instantiating a java/okhttp based client (generated with 'useGzipFeature' enabled) with parameters for oauth authentication, the constructor throws a `java.lang.UnsupportedOperationException` because the generated ApiClient tries to add the `GzipRequestInterceptor' to an Unmodifiable Collection of the 'OkHttpClient`.

The error originates in the generated code of the ApiClie

[2019-07-23 15:58] yue9944882 commented on #3260
knock knock, any follow-ups in the thread?

[2019-07-23 16:35] scottydawg commented on #3149
@filipvh - I'm up against this issue as well for the `TypeScriptNodeClientCodegen`. I'm going to look into a fix unless you've already got something going here that might address both.

In the case of the Node client generator, [these mappings seem to be intentionally obliterated in the constructor](https://github.com/OpenAPITools/openapi-generator/blame/master/modules/openapi-generator/src/main/j

[2019-07-23 16:39] scottydawg commented on #3149
I was mistaken about the Angular generators; the abstract class that these TypeScript generators all specialize also [clears the initMappings in the constructor.](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java#L62)

[2019-07-23 17:37] eseliger commented on #1943
they are keywords, but can be used for property names, function names and variables 🤔

maybe it makes sense looking at all cases where they are used in templates and see if it's safe to remove some keywords from the list

[2019-07-24 04:46] #3286 closed

[2019-07-24 06:16] bbdouglas opened #3433 "[REQ] [JAVA] Java 11 Native HTTP client library"
##### Description

Support Java 11 Native HTTP client library.

New in the standard library of Java 11 is an [HTTPClient](https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/HttpClient.html) class that simplifies much of the low-level details of making HTTP calls. Using this native client as opposed to a third party client such as Jersey or Feign comes with a few key ben

[2019-07-24 06:22] macjohnny commented on #3433
@bbdouglas a contribution would be very welcome!

[2019-07-24 06:52] bbdouglas commented on #3433
CC @cbornet  @karismann  @Zomzog for other members of the Java technical committee.

[2019-07-24 08:14] bkabrda opened #3435 "[BUG][Java][client] Erroneous support for nullable attributes"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
  - The included `modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml` can be used to reproduce this.
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of Op

[2019-07-24 08:24] hatzlj commented on #3432
Same happens also within the constructor when adding the `RetryingOauth` interceptor
[code]

will add a separate Bug report if necessary when this one is verified.

[2019-07-24 09:04] matthewbpt commented on #2870
Hi @macjohnny , the issue is still present as far as I can see. I was thinking of implementing a fix when I reported the issue, but did not find the time, and we decided to use the typescript-axios generator instead as it does not have this issue.

[2019-07-24 10:02] Fjolnir-Dvorak commented on #3293
I'm am currently writing a pull request. What bothers me about this issue. It did work in the past. Why and when was this destroyed or was it not intended?

[2019-07-24 10:49] macjohnny commented on #2870
cc @TiFu

[2019-07-24 11:37] TiFu commented on #3377
As far as I can tell, in the case of a non void response type, it returned Promise<{ResponseType}> in both 3.3.4 and 4.0.0, corrrect? In this case I'd argue that it was a bug in 3.3.4 and we can close this.

[2019-07-24 11:42] #3377 closed

[2019-07-24 11:54] TiFu commented on #2870
I think the issue is probably in this line:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache#L214

The fix could be as simple as adding additional conditions here and adding a new response type to https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typesc

[2019-07-24 12:15] StrictlyDPBlaine commented on #2929
So it looks like another version swagger parser util got referenced else where in the code. I finally got it to work after running with these 2 flags `-Dio.swagger.parser.util.RemoteUrl.trustAll=true` `-Dio.swagger.v3.parser.util.RemoteUrl.trustAll=true`

[2019-07-24 12:16] macjohnny commented on #2870
@matthewbpt would you give us a hand and try to fix it with @TiFu's suggestion?

[2019-07-24 12:27] Fjolnir-Dvorak opened #3438 "[REQ] [Java] Add JsonIgnoreProperties to model"
### Is your feature request related to a problem? Please describe.

We have the scenario that we have a service with multiple client APIs and a lot of other interfaces for other systems like databases which are also working with json.
The project is using one single JsonMapper for everything. The problem is: The JsonMapper is not iognoring unknown fields per se.

## Describe the solution you'd lik

[2019-07-24 12:39] Fjolnir-Dvorak opened #3439 "[BUG][CLI][GENERATOR] NullPointer when not setting outputDir"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-24 13:00] wing328 commented on #2929
@StrictlyDPBlaine thanks. I've updated the FAQ: https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#is-there-a-way-to-disable-certificate-verification

[2019-07-24 16:02] bkabrda commented on #3435
Ok, so a potential way to go forward that I can see:

I will be detailing this out using jackson, since it seems to me that it would make it easier to implement than gson.

Scenario 4 (from the original issue report) is easy to solve, just mark the variable with `@JsonInclude(JsonInclude.Include.ALWAYS)`.

Scenario 3 is a little bit complicated, but I think it could be solved like this:
* Create a

[2019-07-24 16:28] pe-st commented on #3293
It was destroyed when the PR #2794 was merged, see my comment above. But I don't think that the regression was intended, there was just no unit test there yet with leading digits...

[2019-07-24 16:33] #3418 closed

[2019-07-24 16:47] eseliger commented on #2336
since List ist not a keyword or anything reserved in TS, is it safe to remove it from the list @macjohnny ?

[2019-07-24 21:56] eseliger opened #3451 "[REQ][typescript-*] String Enums"
### Is your feature request related to a problem? Please describe.

Since TS version 2.4 string enums are supported, which are the preferred way of defining enums that can have string values (over the legacy object-type-dualism). https://www.typescriptlang.org/docs/handbook/enums.html#string-enums

## Describe the solution you'd like

I implemented it already on a branch for internal use at my com

[2019-07-25 02:32] #447 closed

[2019-07-25 02:35] #3264 closed

[2019-07-25 05:38] #3293 closed

[2019-07-25 05:49] macjohnny commented on #2336
we can't remove it from the type mapping, as `List` might be used internally when types are determined, so it needs to be mapped correctly to `Array`.
The problem, however, arises from the inability of the code generator to distinguish the type by the fully qualified class name, rather the class name alone. Therefore the class `List` is just converted to `Array`.
Therefore, I believe there is no e

[2019-07-25 05:49] #2336 closed

[2019-07-25 06:24] macjohnny commented on #3451
@eseliger a contribution would be welcome!

[2019-07-25 07:13] wing328 commented on #34
Please check out the branch `nodejs-express-server` (alpha) and let us know if you've any feedback.

Thanks @YishTish for contributing the new generator.

[2019-07-25 07:44] etherealjoy commented on #3421
general issue for all C++ generators :(

[2019-07-25 08:45] FloKaemmerer opened #3456 "[BUG] [JAVA] Referencing Object with additionalPorperties does not import HashMap in Model"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-25 11:11] MartinDelille opened #3457 "[BUG] Qt5 client PetStore example doesn't compile when using openapi 3 specification"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-25 11:19] jpgneves opened #3459 "[BUG] [haskell-http-client] Incorrectly generated query strings"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-25 11:49] daniel-sc opened #3460 "[BUG] [typescript-angular] Angular 8: generated package.json includes `@angular/http` dependency"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-25 11:50] bademux opened #3461 "[BUG] bad import for SpringBoot model"
The commit https://github.com/OpenAPITools/openapi-generator/commit/0fca90133ce097f987098e6121936c0ffcb210a8 adds
`` `import org.openapitools.jackson.nullable.JsonNullable; ```

Why I need to import the class if I don't need it?

[2019-07-25 12:31] #3393 closed

[2019-07-25 12:51] macjohnny commented on #3460
@daniel-sc would you like to file a PR to fix that?

[2019-07-25 12:52] macjohnny commented on #3460
you could use the `{{#useHttpClient}}` variable, see e.g. https://github.com/OpenAPITools/openapi-generator/blob/a3cf964ce929504e3906bad8a8f246bd77009f44/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L5-L15

[2019-07-25 12:53] eseliger commented on #3460
@macjohnny I have a fix for that ready, I can submit a pr in a few

[2019-07-25 12:53] macjohnny commented on #3461
cc @cbornet

[2019-07-25 12:54] macjohnny commented on #3460
@eseliger that would be great!

[2019-07-25 13:46] eseliger commented on #3460
@macjohnny I just realized when I wanted to port the changes to the other typescript clients, that most of them use string enums already, but typescript-angular doesn't.

What would you prefer?
- Align it and make it a breaking change
- Only implement it with the flag for typescript-angular and might remove it in v5

[2019-07-25 13:48] macjohnny commented on #3460
wrong issue?

[2019-07-25 13:49] eseliger commented on #3460
the heck, sorry

[2019-07-25 13:50] eseliger commented on #3451
@macjohnny I just realized when I wanted to port the changes to the other typescript clients, that most of them use string enums already, but typescript-angular doesn't.

What would you prefer?
- Align it and make it a breaking change
- Only implement it with the flag for typescript-angular and might remove it in v5

this one I meant 🤦‍♂

[2019-07-25 13:53] macjohnny commented on #3451
I would prefer to go with the flag, and decide later whether to default to true and introduce a breaking change. The typescript-generators are subject to refactoring, see https://github.com/OpenAPITools/openapi-generator/issues/802

[2019-07-25 13:53] githubERIK commented on #2199
Step 1. Make it so, that a constructor won't assign nulls for attributes which values are not given to the constructor via an argument array.

For example,

[code]

and

[code]

should not result in an instance of Any object which has `protected $container = [];` filled with

- 'id' => null
- 'name' => 'Tom'
- 'anything' => null

but should result in an instance of Any object which has `protected

[2019-07-25 14:40] CyrilleBenard opened #3462 "[REQ] [cpprestsdk] ApiException is not used in the way it is generated"
### Is your feature request related to a problem? Please describe.

The generator produces code that uses ApiException not in the way is has been intended. Ok, this is not exactly true but let me show what I mean thanks to the PetApi example :

In the file [PetApi.cpp line 136](https://github.com/OpenAPITools/openapi-generator/blob/8231cbfe81fef8082c5733376a6ede6d3d91ca41/samples/client/petstore/c

[2019-07-25 16:53] Fjolnir-Dvorak commented on #3428
I will look into it and create a pull request <- Memo to myself so I find the issue again :D

[2019-07-25 18:12] vmisra2018 opened #3467 "[BUG] openapi-generator-gradle-plugin: systemProperties option :settings.gradle gets generated if apis and/or supportingFiles required to be generated"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ 4.0.3] What's the version of OpenAPI Generator used?
- [ YES] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty t

[2019-07-25 18:18] vmisra2018 commented on #551
I am getting error when I try a to generate a (java reactive webclient) client stub using gradle plugin I am generating in  a subflolder of a parent folder .  I submitted   https://github.com/OpenAPITools/openapi-generator/issues/3467

Basically, if I make  changes in like below:
systemProperties = [
            modelDocs: "false",
            apis: "",
            supportingFiles:""
    ]
I am ex

[2019-07-25 18:42] vmisra2018 commented on #3461
I also saw this. It is unused import and it forces to add dependency.

[2019-07-25 19:59] Fjolnir-Dvorak commented on #3435
Phew, that would be (in my opinion) really ugly to create a new Optional. I would go as far as saying it is an 8+ feature only since older java versions are no longer officially supported I would not bother with making something ugly just to support some unsupported language versions.

The Idea of using a Monad to box the optional `null` sounds nice. The problem I see with this solution: Some peop

[2019-07-25 20:13] Fjolnir-Dvorak commented on #3461
I think this issue is far bigger. In a lot of generators there are a heck of a ton unused imports in every file. My IDE really hates me for that since there are generated files which are not annotated as generated in the comments. I think the best option would be to make each single import conditional which would bloat the whole generator in its current state.

Each import would be associated with

[2019-07-25 20:22] scottydawg commented on #3149
@macjohnny @filipvh - I've [created a PR](https://github.com/OpenAPITools/openapi-generator/pull/3469) that addresses this issue for the Node client generator. It should be a similar fix for the Angular (and other TypeScript) generators. It might be worth putting this change in the abstract class so that all the TS generators can pick it up, but I wanted a small impact crater for now.

[2019-07-25 20:24] Fjolnir-Dvorak commented on #2978
This can actually be fixed in python 3.7+ since they added postponed evaluation of annotations: https://www.python.org/dev/peps/pep-0563/

And credits to the stack overflow answer where I found that feature:
https://stackoverflow.com/questions/33533148/how-do-i-specify-that-the-return-type-of-a-method-is-the-same-as-the-class-itsel?rq=1

The generator does not specify which python version it is ge

[2019-07-25 23:19] jimschubert commented on #3467
Can you provide an example of the working tree structure in these cases (expected vs actual)?

I'm a little confused by the expected output. When you define `supportingFiles`, this means that you want the extra files that the template defines.  In your first task, you're saying to only generate models.

It seems to me like you might expect a structure that's not achievable by the selective generat

[2019-07-25 23:22] jimschubert commented on #551
@vmisra2018 your linked issue doesn't seem to have anything to do with `systemProperties` being non-functional. Can you clarify why you've commented on this issue? If unrelated to this issue, let's keep the discussion in your open issue.

[2019-07-26 00:25] vmisra2018 commented on #3467
Hi Jim,
 I no longer have this issue. (May be my gradle config issue) .
Not able to replicate.  By supportingFiles, I want to to genenrates files like ApiClient.java and Auth package. (which it did).
Thanks for looking into it.
Vivek

[2019-07-26 00:25] #3467 closed

[2019-07-26 01:31] wing328 commented on #2199
@githubERIK does my comment earlier make sense to you?

[2019-07-26 01:59] #3433 closed

[2019-07-26 02:47] yuji38kwmt opened #3471 "[REQ] Please create models that type is premitive type (str or int). （プリミティブなタイプのschemaも、モデルとして生成して欲しいです）"
### Is your feature request related to a problem? Please describe.

I want to write type hints of python from the following OAS3 file.

#### petstore.yaml

[code]

#### python type hints that I want to write

[code]

#### What I tried
I execute the following command.

[code]

I checked  `tmp.json` file, but  `PetId`, `AnimalId` or `HumanId`  model were not defined in `tmp.json` file.

## Describe

[2019-07-26 05:54] #3460 closed

[2019-07-26 06:41] githubERIK commented on #2199
I think that the comment about openAPITypes could be used in Step 2.

In model_generic.mustache, there is

[code]

which maps properties and their [data types](https://swagger.io/docs/specification/data-models/data-types).
One can access data types in a template via `{{{dataType}}}`.

Similarly, `$openAPIFormats` maps properties and their optional format hint keywords.
One can access data formats

[2019-07-26 10:49] Fjolnir-Dvorak commented on #3428
This is actually a bigger issue concerning every generator. The function is implemented in the abstract generator which can not easily be changed since I do not know if casing is done before or after the function call `isReservedWord`. A change here would require to validate every single generator (with automated tests and checking whether a change would be possible or not.) before the function `i

[2019-07-26 10:59] rizwansaeed commented on #3428
Looking at the code I suspected that might be the case. For our current use case an optional flag on the Python generator would be helpful 👍

[2019-07-26 11:55] rizwansaeed opened #3473 "[C#][csharp-netcore] Error responses do not correctly deserialise"
##### Description

If an API returns a response in the 400 range e.g. 404 along with a body, it attempts to deserialise into the target model object rather than `ApiException` resulting in a deserialisation error and loses the body of the response

##### openapi-generator version

4.0.3

##### OpenAPI declaration file content or url

https://fbn-prd.lusid.com/api/swagger/v0/swagger.json

##### Com

[2019-07-26 12:51] scavarda opened #3475 "When polymorphism is present, csharp code has an issue on positional parameters"
##### Description

CSharp client for framework netcoreapp2.0 version.
When polymorphism is present, such as MyJob extends Job, MyJob constructor calls base constructor
 with not named arguments, when these arguments are not optional.
This issue occurs when a parameter is Enum type and so it's required, not optional

[code]

##### Swagger-codegen version

swagger-codegen-cli-2.4.0-20181007.065826-3

[2019-07-26 15:06] cbornet commented on #3435
In the Spring codegen, we use a custom wrapper called `JsonNullable` which can have the three states: absent, present and null, present and non-null (where Optional can only have 2 states: empty or present).
I suggest to use it for the java clients also. See https://github.com/OpenAPITools/jackson-databind-nullable for documentation on JsonNullable

[2019-07-26 15:07] githubERIK commented on #2199
Things to keep in mind.

When a request goes out

- field is nullable and value is null
  - when somebody set the value to null on purpose then this should not be filtered out by ObjectSerializer
  - when somebody did not specify the value when using the constructor (causing the constructor to automatically set the value to null) then that null value should be filtered out

When a response comes i

[2019-07-26 15:15] bkabrda commented on #3435
@cbornet looks nice! I'll try to swap it for the simple implementation that I did in my PR #3474, it looks like it could make it simpler.

[2019-07-26 15:30] Fjolnir-Dvorak commented on #3428
While refactoring I saw that half of the generators cheated and made their own solution instead of fixing this bug. Java for example did it in an most amusing way They are comparing a lower camelCased word with a lowercased one. All reserved words are lowercased. If they would have a camelCased word in the reserved list (which they do) that would not me marked as reserved. Well, guess I have to fi

[2019-07-26 15:44] miyanokomiya commented on #3392
The name of parameter is just a name, not a type.
How is this?

[code]

[2019-07-26 16:11] Cellebyte commented on #2978
Thank you i will fix that in my Code generator. That is a better fix than my approach.

[2019-07-26 16:26] cubek opened #3477 "[REQ] [JAVA] Add the option to add flags to pattern validation"
In our project we need to validate a request parameter using a regex but the matching needs to be case insensitive.

The most straightforward solution would be the possibility to use a flag for the regex. The generated Java constraint for pattern validation is `@Pattern` annotation which does support flags, so it doesn't sound impossible.

[2019-07-26 16:49] fuzzzerd commented on #2372
Is the only solution here to migrate to v4? Will v3.x be patched?

[2019-07-26 19:39] etherealjoy commented on #3457
Issue due to file upload not being handled.

[2019-07-26 19:59] mrmeku commented on #1330
I'll be adding this over the next week

[2019-07-26 20:22] etherealjoy commented on #3462
@CyrilleBenard
This is by design like this, so that different exceptions can be thrown and the handler can process the derived object properly.

In your case please do something like this

[code]

perform `std::dynamic_pointer_cast`

In this case I can see the error like this for example

[code]

[2019-07-26 20:24] etherealjoy commented on #3462
@CyrilleBenard
Please update when you have time and if this hint resolve your issue.

[2019-07-26 21:39] fuzzzerd opened #3478 "[BUG][typescript-fetch] withInterfaces option does not generate interfaces"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-27 01:19] gmcelhoe opened #3480 "[BUG] Description"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue? **The problem is easily seen by inspection of the generated sample code or the mustache files**
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? **N/A**
- [X] What's the version of OpenAPI Generator used? **4.0.3**
- [X] Have you s

[2019-07-27 04:17] wing328 commented on #2372
We won't patch 3.x. For upcoming versions, please refer to https://github.com/OpenAPITools/openapi-generator#11---compatibility.

[2019-07-27 08:14] CyrilleBenard commented on #3462
@etherealjoy Thanks for your answer and proposal but I did not opened a **Bug issue** "only" a **Feature request** :)
I also write this kind of treatment in my code and it worked well but what I pointed is the restrictive use of istream instead of using stringstream along all the Exception treatment.

Throw ApiException using stringstream and catch it using stringstream. No restrictive type inside

[2019-07-27 17:05] armandmgt opened #3482 "[REQ][Kotlin-client] Support for authentication"
### Is your feature request related to a problem? Please describe.

The `securitySchemes` or `securityDefinitions` are not taken into account in the generated client.

## Describe the solution you'd like

The code generator should support them as they are already supported in other languages (e.g. ruby-client)

## Describe alternatives you've considered

I can workaround this by using a custom tem

[2019-07-28 22:02] clemens-smartparking commented on #3392
Yes good point, the spec is auto generated by the NestJS swagger module and it seams there is something wrong on this site. Sorry for not checking the specs (I assumed they are valid). I will investigate and close the ticket.

[2019-07-28 22:02] #3392 closed

[2019-07-29 02:00] grokify opened #3485 "[BUG][Golang][Client] reserved word collision for required API parameter"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-29 02:34] #3480 closed

[2019-07-29 05:37] FloKaemmerer commented on #3456
Why didn't the Bot pick this issue up and added Tags to it?
What did i miss :-/

[2019-07-29 05:48] macjohnny commented on #3149
anyone interested in porting https://github.com/OpenAPITools/openapi-generator/pull/3469 to the abstract typescript generator?

[2019-07-29 06:48] Leo-Rutschmann commented on #3367
@wing328 I have found out that it did not work smoothly, and I am still working on fixing everything - the generator struggles with R data types and I have not found a way to correctly convert to and from JSON for every type, and those that work as of now only work because of a ton of ifs & the like.
I also used a small plugin for the enums, and the template looks terribly messy as it is right now

[2019-07-29 07:58] Doxoh opened #3487 "[REQ] [aspnetcore] Secure the swagger documentation"
### Is your feature request related to a problem? Please describe.

As an optional to set a middleware to secure the swagger documentation with basic authentication

## Describe the solution you'd like

I create locally the middleware and would be implement it into this project.

## Describe alternatives you've considered

-

## Additional context

-

[2019-07-29 09:30] #1913 closed

[2019-07-29 09:31] #1865 closed

[2019-07-29 12:34] macjohnny commented on #3478
cc @TiFu are the interfaces necessary? classes can also be used as interfaces...

[2019-07-29 12:35] macjohnny commented on #3487
@Doxoh can you please explain your feature request in more detail?

[2019-07-29 13:01] fboucquez commented on #634
Any news?

[2019-07-29 13:22] Tim-Smyth opened #3491 "[REQ] Validation for primitive request bodies"
### Is your feature request related to a problem? Please describe.

While working with the codegenerator i stumbled across the problem that validation parameters (eg minimum) were not added to the generated code in primitiv request bodies. The reason is that the parameters are just not handed over

## Describe the solution you'd like

I would like the codegenerator to add the validation to the req

[2019-07-29 16:06] #3491 closed

[2019-07-29 19:50] rterra commented on #3430
I had a similar issue and turns out that the problem was a thread issue. Try to create a new thread to call invokeAPI.

[2019-07-29 23:47] t2y commented on #3248
remind, @wing328 @jimschubert @jmini what do you think about above solution?

[2019-07-30 02:27] jimschubert commented on #3248
@t2y thanks for pinging. I'm very far behind on emails and didn't see the last mention in the thread.

It looks like `property.isModel` assignment could add an `&& !ModelUtils.isEnum(p)`? This function doesn't exist, but may be necessary for this case

[2019-07-30 04:08] jmini commented on #3180
@tjquinno: I am trying the [openapi-basic](https://github.com/oracle/helidon/tree/master/examples/microprofile/openapi-basic), following the readme there.

I get:

[code]

Any standalone example somewhere, relying only on released version?

[2019-07-30 06:04] jmini commented on #3180
I have checked out https://github.com/oracle/helidon/commit/8626acba6e124fbdda7db971504c03a9a8ed9167 and now it seems to work...

[2019-07-30 06:14] Doxoh commented on #3487
@macjohnny yeah, I think its better to have the option to secure the swagger documentation under "/swagger".
At my local branch I created this option. The endpoint "/swagger" is secured with basic authentication and the credentials will be set at the appsettings.json.

[2019-07-30 08:15] lostiniceland opened #3497 "[BUG] [JAVA] okhttp-gson generates broken method in ApiClient.java"
##### Description

The current Okhttp3 - ApiClient [Mustache](https://github.com/OpenAPITools/openapi-generator/blob/f04ef76d0763984c2c37056d94c4d500e627baf0/modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache#L195-L209) generates a broken method.
the current `setHttpClient(OkHttpClient newHttpClient)` copies the interceptors from the current field to the new

[2019-07-30 08:40] wing328 commented on #3260
I've filed https://github.com/OpenAPITools/openapi-generator/pull/3498 to fix it (local test is good). Let's wait for it to pass all the CI tests.

[2019-07-30 10:03] wing328 commented on #3497
@lostiniceland thanks for reporting the issue. Do you mind filing a PR with the suggested fix?

[2019-07-30 10:43] unintended opened #3499 "RestTemplate client misses placeholdered URI's in metrics and logs a pre-build one (with replaced variables)"
##### Description
Common practice of using resttemplate is to use methods that handle templated paths with variables either use `restTemplate.getUriTemplateHandler().expand()` to expand path variables, so resttemplate can store and reuse original template path while logging metrics (e.g. via `org.springframework.boot.actuate.metrics.web.client.MetricsClientHttpRequestInterceptor` in Spring Boot 2)

[2019-07-30 14:43] lemoinem commented on #2534
This is definitely something that we'd need as well.
Supporting decimal types is a requirement for us, as we manipulate value that needs to be represented in base-10 to avoid (well-known) rounding issues.

Special care should be taken in the code generation templates to ensure the value is either never transformed in base-2 values (float/double in most language) or is exactly transformed back to b

[2019-07-30 20:24] richardwhiuk commented on #3360
I think #426 is related to this - where there's a desire for the generators to cleanly separate implementation and interface logic.

[2019-07-30 21:36] fuzzzerd commented on #2594
After the refactor was merged in to v4, I feel that a lot has changed. The simple parts of using it as a package or copying the files into your own project haven't changed that much. What's I'd love to see is guidance on consuming the generated clients.

The new `Configuration` options specifically: oauth, bearer, and middleware. I cannot find examples/guidance on that anywhere.

[2019-07-31 02:38] parrotcar00 commented on #3360
I was able to solve my issue by using the openapi generator maven plugin which does the re-generation of the API interface while preserving your business logic.

[2019-07-31 03:17] #3360 closed

[2019-07-31 05:29] ybelenko opened #3503 "[REQ][MySQL] snake_case table and column names"
### Is your feature request related to a problem? Please describe.

Current MySQL schema generator is far from perfect. I think that output of this generator should look exactly like `mysqldump` utility output or PHPMyAdmin SQL export. `mysqldump` and PHPMyAdmin are both stable and well-tested solutions, so same output would be a great achievement.

This particular issue is not about syntax, but S

[2019-07-31 05:36] ybelenko commented on #3503
Question addressed to all Java skilled developers. Is there any Maven package that can check SQL syntax? It would be great to validate generator output this way.

[2019-07-31 05:43] macjohnny commented on #3503
maybe you can add an option, similar to other generators (similar to e.g `fileNaming`, see https://openapi-generator.tech/docs/generators/typescript-angular), to avoid breaking changes.

[2019-07-31 05:49] ybelenko commented on #3503
@macjohnny Yeah, I know about generator option. In the meantime @wing328 doesn't recommend to add too many options and I'm agree with him, because it can lead us into technical debt. So the questions is, do we really need this option or not?

[2019-07-31 05:50] #3260 closed

[2019-07-31 06:22] #2327 closed

[2019-07-31 07:26] armandmgt commented on #3482
I managed to support it but I have no idea if I did it the right way, would you guys be interested in a PR ?

[2019-07-31 09:32] horzsolt commented on #3430
Thanks for answering. Actually, I already tried this possible workaround, but didn't work. Also, I'm talking about the generated code, which I assume should work witthout touching it.

[2019-07-31 10:34] Jovons opened #3505 "allOf contains two oneOfs but DefaultCodegen addProperties throws NPE"
##### Description

in a model schema, `allOf` contains two `oneOf`s,  `DefaultCodegen ` class  `addProperties(Map<String, Schema> properties, List<String> required, Schema schema)  `function line 1977 throws  NPE exception. Besides, if I added a Null check like this:
[code]
Then at line 1987,
[code]
it throws the above RuntimeException.

However, `allOf` contains nothing but two `oneOf`s is legal

[2019-07-31 11:26] Ramanth opened #3507 "[REQ] Allow user to add custom mustache template for adding/generating user specific code"
## Problem
## There is no provision to add custom logic or code other than modifying the existing mustache files. Users might want to add additional logic by creating their own mustache file, which might need a provision from the generator to support it.

This could be an optional feature but will generally useful to make custom template code generation to suit the needs of users generating the cl

[2019-07-31 14:21] kino90 opened #3511 "[typescript-rxjs] How to handle server errors?"
Hello,
Thanks a lot for all the efforts in making this!

I'm using typescript-rxjs, but I'm having troubles handling server errors responses.

##### Description

I am trying to use a `Post` Middleware to react to ajax errors (status >= 300) in a centralized pattern.
This post-middleware should only look at the response object and conditionally trigger actions on my Redux store or trigger a redirec

[2019-07-31 15:03] macjohnny commented on #3511
cc @denyo

[2019-07-31 15:06] fuzzzerd commented on #425
Is this something that needs updated within the Java code for OpenAPI Generator and then the mustache templates, or does this only need implemented in the templates?

[2019-07-31 15:17] CyrilleBenard opened #3512 "[BUG] [cpprestsdk] multipart/related not correctly handled"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

The generator

[2019-07-31 17:39] EleanorRigby commented on #522
@bkabrda : Which version of openapi-gen, I have to use to get his `go-experimental` feature?
I am using `4.0.3` . Do I need to make a new binary from source?

[2019-07-31 17:42] frankyjuang opened #3513 "[BUG][aspnetcore] Use enum in query string throws 400"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-31 17:45] bkabrda commented on #522
@EleanorRigby 4.0.3 release happened before my PR for this was merged, so you'll either need to wait for a new release or do a testing build yourself.

[2019-07-31 19:05] nmuesch commented on #2844
I'm currently seeing this on other generated languages as well. I think this is something in the core code as opposed to each template. It would be nice to have a way to allow multiple tags in the openapi spec.

[2019-07-31 19:16] #3451 closed

[2019-07-31 19:57] dalinarkholin commented on #3278
Sorry for the annoying bump, but any movement on this one? @wing328 @macjohnny

[2019-07-31 20:07] macjohnny commented on #3278
@dalinarkholin would you like to implement a fix for that? i can point you to the relevant files.

[2019-07-31 20:08] macjohnny commented on #3278
cc @Place1 @someone1

[2019-07-31 21:08] ivan-aksamentov opened #3514 "[BUG] PHP Symfony server generator forces return type of actions to be an array"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-31 22:21] alexras opened #3516 "[BUG][Python] UUID properties with default values trigger ClassCastException"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-07-31 22:31] kraney opened #3518 "[BUG][Go] enum name collision"
##### Description

In the generated Go client, specific values of enums are declared at package scope using only the value name. This causes name collisions between enums with overlapping value names.

##### openapi-generator version

4.1.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]
This results in two package-level variables both named "SYSLOG" causing build failure.

##### C

[2019-07-31 23:28] mrbatista commented on #1374
Same problem if define two endpoint with formData argument. Example with relevant code:

[code]

[2019-08-01 00:25] vijjayy81 opened #3519 "[REQ] [Java][Spring] Add support for custom validation messages in Beanvalidation annotations"
The feature specified in https://github.com/swagger-api/swagger-codegen/issues/5643 not available with openapi-generator.

[2019-08-01 04:39] jmini commented on #3439
Isn't `-o` (or `--output`) a mandatory parameter on the CLI ?

What should be the default if omitted ? (I think a proper error indicating that the option is missing could also be ok)

[2019-08-01 04:39] #3497 closed

[2019-08-01 06:32] denyo commented on #3511
Not sure if a middleware is the right place. I personally never used the `post` ones but I could only imagine it for post request transformations or logging.

What I personally do is, I use `redux` with `redux-observable` for async calls. There you have `epic`s that call a service method which then calls the generated api call. The service method does some mapping but you could also call the gener

[2019-08-01 06:38] Fjolnir-Dvorak commented on #3439
na, it is not required. The default is the current directory

[2019-08-01 07:44] wing328 commented on #1422
Closed via https://github.com/OpenAPITools/openapi-generator/pull/3405

[2019-08-01 07:45] #1422 closed

[2019-08-01 08:39] eras opened #3521 "[BUG][OCaml] Generating matrix.org client-server API fails with an exception"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?

Not minimal (by far), but complete.

- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?

Yes.

- [X] What's the version of OpenAPI Generator used?

openapi-generator-cli-4.1.0-20190729.024538-72.jar

- [X] Have you search for relate

[2019-08-01 08:46] cgensoul commented on #3521
Hi,

Thanks for the report. I have a pretty good idea of what happens. I'll look
into it. It should be easy to fix.

Christophe

On Thu, Aug 1, 2019 at 10:39 AM Erkki Seppälä <notifications@github.com>
wrote:

[2019-08-01 08:57] CyrilleBenard commented on #3512
After having a look on what's this kind of media type, I noticed that the generator produces a multipart/form-data treatment (class, method, code) and I wonder why ?

In my really small openapi file example, there is no multipart/form-data referenced so, is there a confusion between these two media types (multipart/form-data vs multipart/related) ? Does the expected code is really close to the cur

[2019-08-01 11:21] stcarrez opened #3522 "[BUG][Ada] Wrong style for generated Ada model types and missing security scopes"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-01 11:32] Arbuste opened #3523 "[BUG][JAVA] Generator does not generate inheritance when first element of allOf is not a ref"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-01 12:57] wing328 commented on #3335
Please use `--additional-properties` instead of `-D`.

[2019-08-01 12:57] #3335 closed

[2019-08-01 13:48] frankyjuang opened #3528 "[BUG][aspnetcore] incorrect nullable type generated from default nullable config and DateTimeOffset config"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-01 15:45] cgensoul commented on #3521
I have a PR coming up that fixes all the problems encountered while processing the matrix.org file but one :

Room_participation_api.default_filter is generated with UNKNOWN_BASE_TYPE as the type of its second parameter. This comes from DefaultCodegen which failed to provide a type for this parameter. I did not investigate that particular problem and I can't tell if this is expected behaviour or n

[2019-08-01 15:47] toXel opened #3529 "[REQ] [KOTLIN] Don't use TODO() function provided by Kotlin"
The use of the Kotlin function TODO() can IMO be dangerous sometimes. For example here:
https://github.com/OpenAPITools/openapi-generator/blob/4d285939a662312b99b238dc5385fea548253ba2/modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache#L60-L63

When `mediaType` is not `application/json` the app or program, in which the client is used, just crashes. AFAIK

[2019-08-01 20:19] duqcyxwd commented on #3216
I am having the same issue. There is no error thrown on the console. The workaround works. Thanks

[2019-08-01 21:28] ivan-aksamentov opened #3531 "[BUG] For PHP Symfony, both Swagger 2.0 and OpenAPI 3.0 samples are written to the same directory"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-01 22:54] #3514 closed

[2019-08-01 22:55] #3531 closed

[2019-08-01 22:59] #3528 closed

[2019-08-02 00:18] ybelenko opened #3533 "[REQ][MySQL] Openapi data format uuid to VARCHAR UNIQUE"
### Is your feature request related to a problem? Please describe.
 There is special Openapi data format `uuid`. Right now this format mapped to `TEXT` column type and it's not possible to add `UNIQUE` index to this column because of error:
[code]

First of all let's check how usually uuid looks like, in PHP:
[code]

or in MySQL:
[code]

So, it's alphanumeric string and not too long.

## Describe

[2019-08-02 01:00] ybelenko opened #3534 "[REQ][MySQL] Primary and Foreign Keys"
### Is your feature request related to a problem? Please describe.
It would be great to generate tables with primary keys, but current Openapi spec doesn't have an option to clearly mark identifiers. Let's take a look at the example:

[code]
any experienced developer would say that `id` is primary key and `petId` is not(maybe just an index). It just feels so.

## Describe the solution you'd like

[2019-08-02 02:08] dkliban opened #3535 "[BUG] [Ruby] [Faraday] JSON fields are represented as ruby hash to_string()"
Notice how the content_summary field does not look like JSON but instead a ruby hash that had to_string() called on it.

[code]

[2019-08-02 05:57] jmini commented on #3180
It also work when checking out the `1.2.0` tag (commit https://github.com/oracle/helidon/commit/cde7f3386f5298f2e8809d144574d4acc095e059), but this is far from a standalone project: it relies on the parent pom defined in the project.

I have tried to transform it to a standalone project, but I did not succeed.

[2019-08-02 06:04] sohrab- commented on #3523
I think you have the wrong project. The code looks to be generated using [swagger-codegen](https://github.com/swagger-api/swagger-codegen), not openapi-generator.

[2019-08-02 06:26] sohrab- commented on #2845
Is there a previous version I can rollback to so I can get `extends` back?

[2019-08-02 07:17] grokify commented on #3277
+1

[2019-08-02 07:22] grokify commented on #3277
I've run into a similar issue where:

`type: object` results in a `map[string]string` when it should be a `map[string]interface{}`

[2019-08-02 07:49] msymonov commented on #2845
In our project we had to temporarily switch to another Gradle plugin 'org.hidetake.swagger.generator' which works well with Gradle 5 and allows downgrading open-api generator to 3.3.4(org.openapitools:openapi-generator-cli:3.3.4). And 3.3.4 properly handles inheritance, so if you need it then you definitely have somehow use this particular version

[2019-08-02 08:08] Arbuste commented on #3523
You're right, I updated the post with a snippet of the openapi-codegen generated class (same problem though).

[2019-08-02 09:56] fernard opened #3538 "[BUG][typescript-fetch] generator does not map Java Date object to string"
##### Description

I'm unable to generate proper typescript code, because the generator does not convert swagger Date definitions into string, even though I've explictly used the type-mappings argument.

##### openapi-generator version

4.0.3

##### Command line used for generation

[code]
##### Result
[code]

[2019-08-02 10:22] YLoveX opened #3540 "[REQ] Can this tool used for generating flutter mobile api code?"
## Use generated api classes for mobile flutter dev

This is my flutter doctor:
[code]

I'm trying to use this tool to generate the api code which give these files.
![Screen Shot 2019-08-02 at 18 18 19](https://user-images.githubusercontent.com/12166908/62363442-f0e48f80-b551-11e9-9da2-8f3c1518d74c.png)

And when i import these files to flutter project, i want to use api_client to instead of my co

[2019-08-02 10:33] wing328 commented on #3540
I'm no expert in Dart. Let's see if the Dart technical committees have an answer to your question: @ircecho (2017/07) @swipesight (2018/09) @jaumard (2018/09)

[2019-08-02 10:53] YLoveX commented on #3540
Thanks. I think i solved the problem. I removed the 'dart: html', and edit the 'api_client.mustache'   file...and it works...thanks anyway. I will close this for now, if there is no other issues.

[2019-08-02 10:53] #3540 closed

[2019-08-02 10:55] jaumard commented on #3540
@YLoveX I don't know about the default dart generator, but the dart jaguar generator can be used with flutter, I use it on multiple projects. If you want to give it a try ^^

[2019-08-02 11:05] #3521 closed

[2019-08-02 11:05] wing328 commented on #3521
Thanks for the PR (#3526) by @cgensoul

@eras please pull the latest master/snapsnot version to give it a try.

[2019-08-02 12:49] LucaVazz opened #3542 "[BUG][typescript-angular] fails with java.lang.ClassCastException"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
Occurs both for 4.0.3 and 4.1.0-20190802.113338-103
- [X] Have you search for related issues/PRs?
- [X] What's the actual output v

[2019-08-02 12:53] RupprechJo commented on #3461
The problem is even bigger, if you want to use the generator in build tool, after generating it does not compil witout removing that unused import, so you cannot use it in an automated build!

[2019-08-02 13:03] LucaVazz commented on #3542
okay, after taking a different look at it, it seems to be caused by [TypeScriptAngularClientCodegen.java L168](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L168). The cast for the `providedInRoot` option casts it to a String first, in contrast to other options.

Is this i

[2019-08-02 13:10] eugeneEgorovWA commented on #15
The same for generated c# client. Oneof property typed as "Oneof..." in output project instead of using object (as it was in openapi-generator-tool of 3.3.4 version)

[2019-08-02 13:24] #3381 closed

[2019-08-02 15:05] kino90 commented on #3511
Thanks for the reply @denyo!
We were trying using post middlewares to avoid adding another dependency (which, *by the way*, is already in the '*things to add*' list)!
We'll probably add `redux-observable` to our app, then 👍

[2019-08-02 15:05] #3511 closed

[2019-08-02 15:22] #982 closed

[2019-08-02 16:19] wing328 commented on #3542
@LucaVazz yes please file a PR using the following:
[code]

[2019-08-02 16:33] wing328 commented on #3535
In the spec, is the field `content_summary` documented as a string?

[2019-08-02 16:41] dkliban commented on #3535
@wing328 Yes, they are. What type should it be?

[2019-08-02 16:42] tjquinno commented on #3180
You say that the example is not a "standalone project." If by that you mean that you have to build the example yourself, then, yes, I agree. But you need to build only the specific example you want -- you do not have to build any other parts of Helidon -- so in that sense I would say it is standalone.

As you discovered, and as the examples doc here https://github.com/oracle/helidon/tree/release-1

[2019-08-02 16:45] wing328 commented on #3535
@dkliban an object to describe the JSON properties (keys) one by one, e.g. https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L645

[2019-08-02 17:01] dkliban commented on #3535
@wing328 Makes perfect sense.

I now suspect we had this problem all along and only now noticed it. I'll update the OpenAPI schema.

[2019-08-02 17:01] #3535 closed

[2019-08-02 18:13] ybelenko opened #3545 "[REQ] Mock Server"
### Is your feature request related to a problem? Please describe.

Is there any server generator with mocking feature already? We briefly discussed it in #969. I'm really interested to make first one with PHP Slim framework. It's complicated topic, so we need to discuss how mock server should work.

## Describe the solution you'd like

Imho, the biggest problem is to distinguish mock server from

[2019-08-02 20:21] jimschubert commented on #3545
I think the generation of this per language and per framework is beyond the scope of the project.

I also think that generating a production server which can auto-switch to a mock server (which is how I've read one of the suggestions) isn't something that anyone critical of security on a production system would want.

That said, I think it would be cool to have a generator called `mock` which is i

[2019-08-02 20:56] boskiv opened #3546 "[BUG] go-ginserver conflict route"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description
Server can't s

[2019-08-02 22:17] boskiv opened #3547 "[GO][Server] Question: Life after generation"
What is the recommended flow after generation server?
Should I change code under ./go folder?
Or I need to override Api methods in my own files?
Would the interface generation, in this case, be a better solution?

I guess that maybe one of the ways is the implementation of logic in a particular file and adding a file to the `.openapi-generator-ignore`, but how in this case will the update occur if

[2019-08-03 03:01] YLoveX commented on #3540
@jaumard, thank you for your suggestion,  I will give it a try. ^ ^

[2019-08-03 04:35] ybelenko commented on #3545
@jimschubert Thanks for your feedback, let me explain why mock feature is crucial for automatic testing.

I've spend some time with Swagger API and Openapi. Im my case every server development ended up with two types of test suites. I call them light and heavy tests. Heavy unit tests checks database inputs before and after endpoint call(these tests become even more difficult now, because PHP DDUni

[2019-08-03 06:53] wing328 commented on #3547
@boskiv I think you're referring to the generation gap pattern and we totally welcome such enhancement.

May I know if you've time to make the contribution? I can show you some good starting points.

[2019-08-03 21:59] ybelenko opened #3549 "[REQ][PHP Slim] Add OAuth2 server library"
### Is your feature request related to a problem? Please describe.
After spending too much time with own custom OAuth2 server implementations I've tried to find something recommended by framework authors. Here is list of server libraries(source [Server Libraries](https://oauth.net/code/php/)):
* [PHP OAuth2 Server](https://github.com/bshaffer/oauth2-server-php) and [Demo](https://github.com/bshaff

[2019-08-03 22:29] ybelenko opened #3550 "[REQ][MySQL] Tables for OAuth2 security schema"
### Is your feature request related to a problem? Please describe.
While thinking about OAuth2 library for PHP Slim generator in #3549 I've found OAuth database schema in source code. [Here](https://github.com/dsquier/oauth2-server-php-mysql/blob/master/oauth.ddl) and [here](https://github.com/bshaffer/oauth2-server-php/blob/5a0c8000d4763b276919e2106f54eddda6bc50fa/src/OAuth2/Storage/Pdo.php#L649-

[2019-08-03 23:27] boskiv commented on #3547
Sure, with pleasure. What I have to do?

[2019-08-04 11:56] richardwhiuk commented on #314
Fixed by https://github.com/OpenAPITools/openapi-generator/pull/3494

[2019-08-04 11:56] #314 closed

[2019-08-05 08:13] macjohnny commented on #3538
I guess this is due to the following code not respecting type overrides:
https://github.com/OpenAPITools/openapi-generator/blob/3f7653a5c9e1d66b71eac651168690380305b477/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java#L102-L120

@fernard would you like to implement a fix?

[2019-08-05 08:16] boskiv commented on #3547
Have found https://github.com/golang-standards/project-layout
Should we follow as generation result?

[2019-08-05 08:40] #3542 closed

[2019-08-05 08:49] #3230 closed

[2019-08-05 08:57] SirWayne commented on #3230
@macjohnny thanks for the quick answer

[2019-08-05 09:03] richardwhiuk commented on #3313
I think we don't currently derive examples for models, so you'd need to define the example for the object as a whole.

I had a go at doing that, and that still didn't work because of https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java#L798-L804

@bjgill This was upstreamed by me, but you mad

[2019-08-05 09:10] jmini commented on #3461
I have started to add [google-java-format](https://github.com/google/google-java-format) as post-generation step when I use OpenAPI-Generator.

It removes the unused imports and format the code.
There are gradle and maven plugins available.

[2019-08-05 09:23] jmini commented on #3337
I do not think that this is an option…

Having uppercase follow the java recommendation:
https://docs.oracle.com/javase/tutorial/java/javaOO/enum.html

---
When the name of the enum is computed, other aspect are also taken into consideration:

* Illegal chars (valid OpenAPI spec) in Java enum names are replaced.
* Illegal names are fixed (Java does not allow the name of enum to start with number,

[2019-08-05 10:02] jmini commented on #3180
Maybe I picked the wrong world.
But right now, I am not able to reproduce the [openapi-basic](https://github.com/oracle/helidon/tree/master/examples/microprofile/openapi-basic) example in a separated project outside of the Helidon repo.

In my opinion this is because of the imbrication of the poms (and believe me I have tried).
A lot of stuff in `openapi-basic/pom.xml` is coming from the parent po

[2019-08-05 10:37] #2956 closed

[2019-08-05 12:43] mario-d-s opened #3561 "[BUG] [csharp-netcore] DefaultHeader in Configuration are ignored"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] <s>Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?</s> N/A
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bount

[2019-08-05 16:19] tjquinno commented on #3180
Here is an updated `pom.xml` (as a .txt so GitHub would let me attach it) for the openapi-basic example. Please try using this attachment instead of the file from the repository and it should work for you. It did for me locally. The rest of the project should work without change.
[pom.xml.txt](https://github.com/OpenAPITools/openapi-generator/files/3468480/pom.xml.txt)

[2019-08-05 18:51] kjq opened #3563 "Add ignore-models to generators"
### Is your feature request related to a problem? Please describe.

We have the need to "exclude" models before the generation using the Maven plugin to cleanup the final generated code.  We have only a handful of models that this needs to happen (less than if we use the whitelist approach of models to be included).

I am filing this per a comment from Jim Schubert:

## Describe the solution you'd

[2019-08-05 19:00] richardwhiuk commented on #3563
Do you have a sample API you can share which demonstrates the problem?

Normally I'd expect all models generated to be used by the API in some form?

[2019-08-05 19:32] kjq commented on #3563
Sure, i will update the ticket tonight with some samples.  Real quick, we have resources/endpoints annotated with JAX-RS using Project Reactor (but not Webflux from SpringBoot - we use CXF).

The generated outputs for non-reactor projects (or outside of java) are correct - List<XXX> or XXX (in the case of Mono).  The generated output for Spring WebClient is also correct using Flux or Mono form.  B

[2019-08-05 19:33] fuzzzerd commented on #3478
Is that the recommended guidance outside the Angular style guide? I've found at least one dissenter: https://www.stevefenton.co.uk/2017/11/typescript-using-classes-interfaces/

Even if not, the tooling not providing them when it used to should be a breaking change at least.

[2019-08-05 19:55] JFCote commented on #3402
I'm back from vacation and will look to implement this somewhere this week.

[2019-08-05 22:08] lightbow commented on #2721
AlamoFire was fun while it lasted, but I'd love one fewer dependency. A generator using just URLSession / Foundation would be wonderful.

[2019-08-06 01:01] wing328 commented on #3547
That looks good to follow

cc @antihax (2017/11) @bvwells (2017/12) @grokify (2018/07) @kemokemo (2018/09) @bkabrda (2019/07)

[2019-08-06 01:23] wing328 commented on #3547
Please PM me via Slack so that I can show you where to start: https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

[2019-08-06 03:09] edag94 commented on #3338
Any updates on this? Seems like inheritance isn't supported by these generators.

[2019-08-06 03:32] alex-korobko commented on #3159
Any update on that, guys?

[2019-08-06 04:49] macjohnny commented on #3478
I agree that a class which contains logic either in the constructor or in some methods should not be used as an interface. However, for generated model-interfaces I think this is not a problem.

Yes, the refactoring caused some breaking changes, this should have been avoided.

[2019-08-06 05:36] jmini commented on #3180
I was able to start the server. Thank you for the example

[2019-08-06 06:56] ioquatix opened #3565 "Add support for `async-rest`?"
It's a RESTful client implementation that follows the REST thesis.

https://github.com/socketry/async-rest

Feel free to close this issue if irrelevant.

[2019-08-06 07:08] wing328 commented on #3565
@ioquatix thank for the suggestion. https://github.com/OpenAPITools/openapi-generator/pull/3564 should make it easier to add another HTTP library support.

[2019-08-06 08:18] sviatoslavRSV commented on #3144
@tpurcell90  simply override method in CodegenConfig.java to get preferable type
[code]

[2019-08-06 10:41] ferblaca opened #3569 "[REQ] Media type versioning"
## Problem

It is not possible to use the Accept Header in the request for versioning endpoint rest services (instead of URI Versioning).

by example, We want versioning the "**findStock**" method using the content-type for the same path "**/stock**" in this contract first:

[code]

When we generate the code from the contract described above, it generates an API with a single "**findStock**" metho

[2019-08-06 10:56] #3499 closed

[2019-08-06 12:52] jmini opened #3570 "[REQ][java rest-assured] support for jackson"
For the moment the java rest-assured is configured to use `gson`.

In some scenario using Jackson instead of gson is required. Rest-assured supports both serialization library:

See https://github.com/rest-assured/rest-assured/wiki/Usage#object-mapping

---

The rest-assured templates can be extend to support either jackson or gson (current default).

[2019-08-06 13:20] andys8 commented on #3523
It looks like inheritance is broken for several languages with 4.0.3.
4.0.0-beta3 is working for me.

https://github.com/OpenAPITools/openapi-generator/issues/2845

[2019-08-06 13:41] MikeMcGarry commented on #1139
This looks to be resolved with version 4.0.3

[2019-08-06 13:54] manderson23 commented on #3248
I also see missing `@RequestParam` with `date-time` format.
[code]
If I delete `format` to have the parameter a `String` then `@RequestParam` is present.

[2019-08-06 14:25] fuzzzerd commented on #3478
I was not concerned with the models; but with the api clients themselves. They used to have interfaces too and are arguably the more valuable piece that was lost.

[2019-08-06 16:04] lemoinem commented on #846
It's been almost a year. Is there any plan to be able to bring in an external generator?

I'm not sure we absolutely need an interface through maven.
For a start, requiring that a generator be in the classpath could be enough.

Our use case is that we need to tweak some of the generators (Kotlin, Swift) to do some logic specific to our needs, that cannot be done via template support only (It's mos

[2019-08-06 18:21] jimschubert commented on #846
@lemoinem custom generators have been available since prior to our fork. We have documentation here: https://openapi-generator.tech/docs/customization and you can find an example of what you're hoping to achieve (extending a built-in generator) here: https://github.com/jimschubert/custom-generator-example

The plugin stuff in this issue is more about internals (loading specs, json/yaml parsing, et

[2019-08-06 18:21] richardwhiuk commented on #3563
Ah right, these aren't really models, but auxiliary types which one generator is creating.

[2019-08-06 18:23] richardwhiuk commented on #3545
We've been vaguely looking at adding auto-generation of mocks to the Rust Server code generator - likely as a feature flag on the generated library.

[2019-08-06 18:53] jmini commented on #3570
I have prepared the patch on the branch: [issue3570-restassured-jackson](https://github.com/jmini/openapi-generator/tree/issue3570-restassured-jackson).

The templates are correct (we have patch the templates in the openapi-generator version we are using), but this need some work before doing a PR.

As discussed with @jimschubert on Slack, instead of adding a new library `rest-assured-jackson` (wh

[2019-08-07 06:57] jmini opened #3573 "[java-client][jersey2] ignore getter when serializing"
Given this spec:

[code]

It generates:

[code]

Because the getter `get$Type()` looks a little bit different than the `$type` field annotated with `@JsonProperty("$_type")`, jackson serializes the object like this:

[code]

Because all fields are generated with a proper `@JsonProperty`, discovery of the getters should be disabled when doing the serialization.

This can be configured in the genera

[2019-08-07 07:01] jmini commented on #3570
Also open in this issue, jackson needs to be properly configured in Rest-Assured.
This is not done yet on the `issue3570-restassured-jackson` branch.

For example we are interested in the disabling the `AUTO_DETECT_` features as described in
https://github.com/OpenAPITools/openapi-generator/issues/3573 for the jersey 2 client

[2019-08-07 08:53] ingarpedersen opened #3574 "[BUG][aspnetcore] bug enum becomes nullable when required or nullable=false"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-07 10:53] Prior99 commented on #3478
We're also kind of stuck with the missing interfaces. We were using them to mock the Api's for testing purposes.

[2019-08-07 12:28] TimoMorris opened #3577 "[BUG] [Python] Default configuration gives unexpected behaviour"
##### Description

After it has been called once, the `Configuration` class constructor effectively ignores the parameters passed to it on subsequent calls, and instead returns a copy of the configuration created the first time it was called.

##### openapi-generator version

v4.0.1 (this is the version I was using, and also where the issue first appears)

##### OpenAPI declaration file content or

[2019-08-07 12:46] andys8 opened #3578 "[REQ][Elm] Remove `DateTime` in favour of `Posix`"
### Is your feature request related to a problem? Please describe.

Generated code is obfuscating `Posix` with a new name `DateTime`.

## Describe the solution you'd like

[`DateTime`](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/elm/DateTime.mustache) is an alias for [`Time.Posix`](https://package.elm-lang.org/packages/elm/time/1.0.0/T

[2019-08-07 13:38] ChintanSK commented on #2906
Facing the same problem with the java maven plugin: OneOf* classes are not generated, hence failing the compile task in the maven build.

[2019-08-07 13:48] wing328 commented on #3578
@andys8 thanks for the suggestion.

cc @eriktim

[2019-08-07 14:10] wing328 commented on #3578
What about using `--type-mapping` with `Time.Posix` for the time being?

[2019-08-07 14:20] tcrg311 opened #3580 "Bug in InlineModelResolver"
##### Description

Logic of flattenComponents method is out of sequence.  ArraySchema are not flattened.

##### openapi-generator version

4.0.0, but noted also in master

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation

N/A (Mojo)

##### Steps to reproduce

1. #/component/schema/ProductList is type "array"
2. Array items are an object with properties

[2019-08-07 14:54] lemoinem commented on #846
Ok, I did find this documentation (customization is the first one I went to actually), but I overlooked it because it says "Creating a new template" which is not quite what I want... "Creating a new template" sounds more like overriding the template-dir than creating a new generator, but maybe it's just me.

Thank you for the answer and more details. I'm looking forward to avoid classpath manipula

[2019-08-07 16:51] GunboatDiplomat opened #3581 "[REQ] Add support for C# Refit"
Refit is probably the most lightweight solution for implementing .NET backend API calls. We would need to generate only the models and interfaces (with the attribute metadata).

[2019-08-07 17:49] andys8 commented on #3578
@wing328 Could work, but isn't really necessary. Because it's a `type alias` it can be used the same way without the need to convert it.

The suggestion is mainly targetted towards avoiding confusion and using the type people know.

[2019-08-07 21:57] edag94 opened #3582 "[BUG] [aspnetcore] Enums are generated in models when referencing an enum, causing collision"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-08 01:40] swaroopshere commented on #2901
This issue is affecting us as well. Is there an ETA for fixing this? Alternatively, is there a workaround by which we dont need to include the dependency?

[2019-08-08 01:44] wing328 commented on #2901
What about using customized template with the `-t` option for the time being?

[2019-08-08 01:51] wing328 commented on #3565
https://github.com/OpenAPITools/openapi-generator/pull/3564 has been merged into master.

Would you have time to contribute the enhancement (`async-rest` support)?

[2019-08-08 02:08] swaroopshere commented on #2901
Thank you for your response @wing328 . Could you please elaborate on what you meant? Do you mean i could create a custom template that does not include the dependency and use the template while building? (I use open-api generator maven plugin)

[2019-08-08 02:40] Rugal commented on #2901
This affect my project as well.

[2019-08-08 06:05] hypdeb opened #3584 "[csharp-netcore generator] Setting "netCoreProjectFile" to true with target framework "netStandard2.0" does not produce .NET Core project files"
##### Description
I configure the target framework and the .csproj file type using a JSON (also tried with YAML) file that I pass to the CLI using the -c flag. When targetting `netStandard2.0` the project file is always the old .NET framework format. When targetting `netcoreapp2.0`, the project file type changes accordingly.

My command line arguments (taken from my docker compose):
[code]
My conf

[2019-08-08 06:18] #3584 closed

[2019-08-08 07:23] jmini opened #3585 "[java][model] Collection initialized to empty collection even if not required"
We are trying to use the same model between our client (using a model serialized with Jackson) and server (JaxRS jersey2).

If a collection is not required, the server model set its value to `null`.

https://github.com/OpenAPITools/openapi-generator/blob/7f36f2642209c6d7070e1d76209ba1928d816922/modules/openapi-generator/src/main/resources/JavaJaxRS/pojo.mustache#L24-L29

This is not the case on cl

[2019-08-08 09:49] bkabrda commented on #3585
👍 from my side. It also leads to problems like always sending empty `{}` when you don't touch a value of that attribute, which can be problematic when doing `PATCH` requests that are only expected to change certain parts of the resource, but with this issue they actually reset some attributes to empty.

[2019-08-08 11:18] JFCote commented on #3402
Shoud be fix with this PR: https://github.com/OpenAPITools/openapi-generator/pull/3586

[2019-08-08 11:21] HoaBo commented on #2850
@mushketyk @macjohnny This is because of https://github.com/OpenAPITools/openapi-generator/blob/7f36f2642209c6d7070e1d76209ba1928d816922/modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache#L226

When return type is empty, it's defaulted to `Response` while it should be `void`.

Should I fork and submit a pull request for this? In that case, who should be the reviewer? @

[2019-08-08 11:33] macjohnny commented on #2850
@HoaBo a PR is very welcome

[2019-08-08 12:23] d0x opened #3587 "[BUG][kotlin-spring] Doesn't create valid model when inheritance is used ($allOf)"
##### Description

When using inheritance, the generated code won't compile. It fails with this error:

You can see it in this example:

[code]

##### openapi-generator version

Generator Version 4.0.3
Spec Version 3.0.1

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Generate the spec above and check the Pet class.

[2019-08-08 12:48] #3402 closed

[2019-08-08 15:22] bkoziak opened #3589 "[JAVA] incorrect import mapping of alias types"
[JAVA] incorrect import mapping of alias types

##### Description

Hi guys,

I've hit the wall trying to use importMapping together with type aliases. I'm a newbie when it comes to openapi so forgive me if I used wrong terms or something. Here's an example of what I wanted to achieve (use below yaml as a reference):

1. I've created `TypeAlias` which aliases `string`
2. I used `TypeAlias` as $ref

[2019-08-08 16:24] #3561 closed

[2019-08-08 17:38] kraney opened #3591 "[BUG][Go] path parameter values should be urlencoded"
##### Description

When .a path / method includes a path parameter, the generated Go client accepts the value and injects it into the path unchanged. If the value contains URL-significant characters, like a '/', this will cause unexpected behavior.

##### openapi-generator version

4.1.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`docke

[2019-08-08 20:46] jamesrusso opened #3595 "[BUG] [csharp] UserAgent not updated in CallApiAsync"
In ApiClient.cs, The UserAgent is not updated in the CallApiAync method, but it in the CallApi method.

[code]

vs

[code]

I can submit the pull request to fix this template, but wanted some discussion if this should be fixed/set on each request or globally when the RestClient is created. I haven't dug into it this much.

[2019-08-08 22:45] jamesrusso commented on #3595
[code]

I had thought about putting it in here, where it makes sense, but for some reason Client.Configuration.Default returns null when I do this? Can't figure out exactly why yet. Maybe Something to do with the static constructor not firing on Configuration() class.

[2019-08-09 00:48] jamesrusso commented on #3595
I don't fully understand it, but the Static Constructor in Configuration object sets Timeout, which then instantiates a new ApiClient, which then calls Configuration again. Since this all originates from the Static constructor, the call to Configuration.Default returns null in initial ApiClient.

[2019-08-09 06:35] d0x opened #3596 "[BUG][kotlin-spring] "SwaggerAnnotations=true" leads into compile error when using inheritance"
##### Description

When using inheritance, the generated code won't compile. It fails with this error:

You can see it in this example:

[code]

##### openapi-generator version

Generator Version 4.0.3
Spec Version 3.0.1

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Generate the spec above and check the Animal clas

[2019-08-09 08:34] eriktim commented on #3578
I could rename the alias to `Posix`. That indeed makes sense. We can still use the decoder/encoder then. Any suggestions what to do with the `DateOnly` version then? Alias it as `PosixDate`? I do like the fact the type (alias) keeps them distinct.

[2019-08-09 09:17] Fjolnir-Dvorak commented on #3461
@jmini That is a good solution to start with. But that only fixes the issue for Java. Since the generator is not java specific I tend to not like that as a final solution.

[2019-08-09 12:06] macjohnny opened #3598 "[FEATURE/BUG] Reusable Enum values / References not supported"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-09 12:28] macjohnny commented on #3598
closing, as this can be solved with e.g.
[code]

[2019-08-09 12:28] #3598 closed

[2019-08-09 13:27] trajano opened #3600 "[BUG][jaxrs-spec] Generated code is not valid with additionalProperties"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-09 13:42] coder82 opened #3601 "[BUG] basePath is not set when passed as additional property during java client generation"
I am using openapi generator gradle plugin 4.0.3.

In my yaml file, the basepath is meant to use relative values:
[code]
I am tryng to pass additional parameters like this:
[image1](https://i.imgur.com/2KLoaJ3.png)
In the kotlin case it works indeed my basepath overridden properly:
[image2](https://i.imgur.com/lbPpCWi.png)
But in Java this is not working (uses default library okhttp):
[image3](htt

[2019-08-09 13:58] Na3blis opened #3602 "[BUG][resttemplate] Object with additionalProperties (HashMap) does not generate a model"
##### Description

I am trying to generate a HashMap class, but no class is generated and a plain Java Map is used where the class `ContextHeaders` should be used.

[code]

##### openapi-generator version

4.0.3

##### OpenAPI declaration file content or url

[swagger.json](https://gist.github.com/Na3blis/93dbca819faf2598fdae5f595dbf66e9)
[swagger-client-config.json](https://gist.github.com/Na3bli

[2019-08-09 14:09] edawn commented on #2979
I can confirm this issue still exists with openapi-generator version 4.0.3

[2019-08-09 15:22] andys8 commented on #3578
I was thinking of dropping the name. Is anything wrong with it or would you subject doing it like this?

[code]

[2019-08-09 18:48] eriktim commented on #3578
There are two issues here:
* To be honest I do not know how easy it would be to have the type (`Posix`) come from a different module than the de/encoders (`DateTime`) in the generator;
* There is also `DateOnly`. I would like the record to have distinct types for dates with time and dates without time.

[2019-08-09 19:29] gbark opened #3604 "[BUG][typescript-fetch] HTTPHeaders and RequestCredentials type errors"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
4.1.0
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

_Expected_:
No type errors

[2019-08-10 07:10] bademux commented on #3461
@jmini sound like a big hack. This kind of solution tends to hide problems. Why to not fix the bug as it perfectly visible and reproducible.

[2019-08-10 08:45] #3604 closed

[2019-08-10 10:56] wing328 commented on #2350
Closed via #2824

[2019-08-10 10:56] #2350 closed

[2019-08-11 12:32] viclovsky commented on #3585
I use rest-assured client for testing.
The issue leads to inability to check that a field is definitely absent (by comparing by null), because collections are always empty.

[2019-08-11 13:26] jimschubert commented on #3601
Looks like this isn't constrained to the Java client… `UrlPathUtils` has this method:

[code]

This will turn all relative paths to the constant value `"http://localhost"`. I think we'll need to allow an option to set this server location for relative paths.  Ideally, if we read the spec doc via HTTP/HTTPS, we should also attempt to extract the base (`scheme://host:port`) from the spec doc's URL.

[2019-08-11 13:29] jimschubert commented on #3601
I've added the `help wanted` label, because I think it's a pretty good way for someone to get their feet wet in the project.

@OpenAPITools/generator-core-team any alternative options to solving the problem of configuring that default base to something other than `"http://localhost"`?

[2019-08-11 13:56] jimschubert commented on #3529
👍  I think the custom exception option would be the better approach than an implementer comment and returning null.

[2019-08-11 16:25] jimschubert commented on #3529
I opened #3611 to change `TODO()` to `throw UnsupportedOperationException`. What are your thoughts on this exception type rather than some custom exception?

[2019-08-12 03:14] glennschmidt opened #3613 "[BUG] Composed properties are missing from allVars"
##### Description

When a model includes properties by composition (`allOf`, without a discriminator), these properties end up in the `vars` template variable but they are missing from the `allVars` variable.

I would expect `allVars` to include, at minimum, everything in `vars`. Some generators only iterate `allVars` when producing a model class, so they will be missing these composed properties.

[2019-08-12 04:16] jimschubert commented on #3613
Seems like this _might_ affect more than just allVars… required/optional/parent/readonly/readwrite.

[2019-08-12 05:54] jmini commented on #3585
@bkabrda thank you for your feedback, you wrote exactly what I wanted to add. This is a valid argument for people who are interested only in the java-client (and do not care about client and server being aligned).

---
I have proposed the change in PR #3615

[2019-08-12 07:20] glennschmidt commented on #3613
@jimschubert  I think because of the location of my fix those other template vars will be updated too (by the `addVars()` method)

[2019-08-12 07:59] HoaBo commented on #2850
@macjohnny I submitted the PR but cannot add any reviewers. Could you help please?

[2019-08-12 08:14] toXel commented on #3529
I think that's a great solution. Thank you for the PR! I hope it'll be merged soon.

[2019-08-12 09:00] #2850 closed, assigned to nobody

[2019-08-12 09:14] siada opened #3618 "[BUG][typescript-inversify] Type mismatch between service model and HttpClient requirement"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-12 09:30] macjohnny commented on #3618
how about changing it to `body?: Object|FormData` and also adapting
https://github.com/siada/openapi-generator/blob/b54a5266ac9824306e5904554275d809dcd66057/modules/openapi-generator/src/main/resources/typescript-inversify/HttpClient.mustache#L40
to handle undefined/null values?

[2019-08-12 09:30] macjohnny commented on #3618
@gualtierim what is your opinion?

[2019-08-12 10:00] siada commented on #3618
For handling the undefined/null values should getJsonBody return null, empty string, or `{}` ?

[2019-08-12 10:17] macjohnny commented on #3618
good question, I guess `undefined` ?

[2019-08-12 10:47] chawax opened #3620 "[REQ][php-slim-server] Support for Bearer authentication with Slim framework"
The Slim framework generator doesn't support Bearer authentication as described here in Open API specifications  :
https://swagger.io/docs/specification/authentication/bearer-authentication/

Only `type` property is taken into account,  not `scheme` property. So when you define such a security scheme in your Open API file :

[code]

It generates the wrong regex in `http` case in `SlimRouter.php` f

[2019-08-12 11:22] glennschmidt commented on #3613
I've also run into a question about this code in `DefaultCodegen.java:1857`

[code]

It looks at the component parts to find the one that has an empty `$ref`, and treats that as the properties of the schema itself. In my example, I'd expect the `events` property to be treated this way on the `EventCollection` schema. But it seems that there can never be a child schema with an empty `$ref`, because

[2019-08-12 11:33] gualtierim commented on #3618
I agree to change the signature of httpClient with Object|FormData, getJsonBody should return undefined but I will try the next week

[2019-08-12 11:50] yucer commented on #450
Just want to note that in OpenAPI spec all strings are supposed to be unicode, and that is not "bytes".

At least python2 **maxLen** should fail for strings if unicode characters are returned from the server. They need more characters in the raw (byte) representation.

[2019-08-12 12:38] chawax commented on #3620
I made a pull request for this #3621

[2019-08-12 13:34] jan-berger commented on #1226
Is there any workaround for this issue?

[2019-08-12 15:27] #3613 closed

[2019-08-12 15:50] wing328 commented on #3601
@coder82 I believe the basePath can be changed during runtime in the Java client. Would that meet your requirement?

[2019-08-12 16:12] coder82 commented on #3601
Actually not, I developed an sdk downloader from the documentation page and I’d like to generate the client stubs with the basePath already preset.

[2019-08-12 16:15] coder82 commented on #3601
Later realized that the customization options are very poor so what I ended up doing is to preprocess the whole yaml file filling dynamic variables in it. It was the only way to allow full control. At this point you could close thie as I solve it by other means.

[2019-08-13 04:02] jmini opened #3623 "[java-client] String response body sent as 'application/json'"
While I was working on a test suite for the java clients (I will post my results in #689)

I have noticed that if the server sends a response with Content-Type `application/json` and following body:
[code]

It gets wrongly de-serialized by the JaxRS based java clients:
expected:<`"[Hello world]"`> but was:<`"\"Hello world\""`>

The default java-client (using okhttp and gson) do not have the issue.

[2019-08-13 04:48] idi888 opened #3624 "[BUG] [SWIFT] OneOf Code Gen"
Hi All

I have a project where the YML has alot of oneOf's in it (see example below)
The swift generated code creates a callback type of 'oneofarrayarrayarray' but doesnt define the type anywhere

Is this a bug or a limitation of the swift code gen

[code]

**One example of the YML**

[code]

**Code Gen Output**

[code]

**My workaround (will get annoying every time they update their API)**

[code

[2019-08-13 04:58] jmini opened #3625 "[java-client][google-api-client] version update?"
When a Java client is generated using the `google-api-client` library, then the version used is quite old:

https://github.com/OpenAPITools/openapi-generator/blob/123efc5d651938d7c077fbbb057a3e4d64da5a73/samples/client/petstore/java/google-api-client/pom.xml#L254

Any reason why we are not using something newer?

[code]

Version `1.23.0` is from "Oct, 2017"
https://mvnrepository.com/artifact/com.g

[2019-08-13 05:00] wing328 commented on #3545
I think feature flag is a good starting point.

HTTP header in server response to indicate the response is from a mock server  is also a good idea.

[2019-08-13 05:06] jmini commented on #3623
The java-client with the `resttemplate` library has the same problem.

[2019-08-13 05:10] jmini commented on #3623
One additional test-case, this is also a valid JSON value:

[code]

[2019-08-13 05:49] ybelenko commented on #3545
About implementation itself, I see it as optional middleware. Slim framework supports PSR-15 middlewares. Something like that:
[code]

This middleware also can check `ENV` for `production` flag and pass request forward in that scenario.

[2019-08-13 05:51] nickmeinhold opened #3626 "[REQ] [Dart] Update testing documentation in petstore client sample"
### Is your feature request related to a problem? Please describe.

The testing documentation is out of date, eg. suggests using `pub serve`.

## Describe the solution you'd like

The documentation and potentially the testing tools to be updated.  I plan to go through the sample when I get some time and try and update.

## Describe alternatives you've considered

Maybe review the other test folder

[2019-08-13 06:05] wing328 commented on #3624
@idi888 would you have time to contribute the enhancement to support `oneOf`?

[2019-08-13 08:46] vellengs commented on #2694
Before this issue PR,  My test case is correct, but after that, I got an error of
[code]
there are some one saids the headers will auot set;
https://stackoverflow.com/questions/17415084/multipart-data-post-using-python-requests-no-multipart-boundary-was-found

[2019-08-13 09:06] macjohnny commented on #2694
the SO answer relates to python.
In https://stackoverflow.com/questions/41878838/how-do-i-set-multipart-in-axios-with-react the and https://github.com/axios/axios/issues/318#issuecomment-218948420 content type is automatically set when using `FormData`
@vellengs  would you like to file a PR that removes https://github.com/OpenAPITools/openapi-generator/pull/2695/files#diff-d270de95051055e6c877f904

[2019-08-13 10:27] macjohnny commented on #2694
this one is important to consider:
https://github.com/axios/axios/issues/318#issuecomment-444827876

[2019-08-13 10:57] nickmeinhold opened #3628 "[REQ] [Dart] Remove redundant null checks"
### Is your feature request related to a problem? Please describe.

The fromJson methods in my models have lots of redundant checks like this:
[code]

## Describe the solution you'd like

Remove redundant check and just assign:
[code]

## Describe alternatives you've considered

I'll start a PR now, should just be a small change to `class.mustache` I believe.

[2019-08-13 11:57] jmini opened #3629 "[REQ][java][jackson] add @JsonPropertyOrder annotation"
When the model classes are serialized to JSON the order of the JSON members are not controlled.

Given this schema:

[code]

This is not a big deal because the order is not relevant in a JSON object:

[code]

Is the same than:
[code]

But if the JSON objects are displayed or stored as file, it would be nice to have always the same order (the same as in the OpenAPI specification).

With Jackson the

[2019-08-13 11:58] ssteeg-mdsol opened #3630 "[BUG][Ruby] Using oneOf generated code has unexpected results"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-13 12:05] jmini commented on #3573
Instead of configuring the mapper, an other approach is to use the`@JsonAutoDetect` annotation with visibility `NONE`.

[2019-08-13 12:11] jmini commented on #3438
Which client/server are you using?

The `jersey2` java-client is configuring the jackson mapper to ignore the missing properties:

https://github.com/OpenAPITools/openapi-generator/blob/411199bc9954c14779201e569d5f475ffb3e4be0/samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/JSON.java#L19

So is the `jaxrs-jersey` server:

https://github.com/OpenAPITools/openapi-generator

[2019-08-13 12:40] jimschubert commented on #3529
I've merged the PR. Please keep an eye out for the change in the latest snapshot.

Feel free to reopen the issue if the fix needs any adjustments.

[2019-08-13 12:40] #3529 closed

[2019-08-13 13:15] nickmeinhold opened #3633 "[REQ] [Dart] Don't initialize variables to null"
### Is your feature request related to a problem? Please describe.

Models have their members initialized to null which is against the Effective Dart guidelines.

## Describe the solution you'd like

When the default value is null, just declare the variable as in Dart, "a variable or field that is not explicitly initialized automatically gets initialized to null" and "Adding = null is redundant an

[2019-08-13 13:15] wing328 commented on #2828
Added `nodejs-express-server` generator (included in v4.1.0 release).

[2019-08-13 13:16] wing328 commented on #34
Added `nodejs-express-server` generator (included in v4.1.0 release).

[2019-08-13 13:16] #34 closed

[2019-08-13 13:19] #3386 closed

[2019-08-13 13:20] vellengs commented on #2694
if on nodejs side should use form.getHeaders() otherwise browser side will auto set.
https://github.com/axios/axios/issues/1006#issuecomment-320165427

[2019-08-13 13:20] wing328 commented on #565
We've added file post-processing hook so I think this can be closed.

If that won't meet your requirement, please let us know and we can reopen the issue.

[2019-08-13 13:20] #565 closed

[2019-08-13 13:41] jmini commented on #3602
Can you please switch to a newer version of OpenAPI generator?

Can you provide a small OpenAPI-Spec that show what is not working for you?

[2019-08-13 14:06] Na3blis commented on #3602
@jmini I just tried with 4.1.0 same results, as well as with the 4.2 snapshot.

[Here](https://swagger.io/docs/specification/data-models/dictionaries/) is what I'm referring to. Currently I'm using a 2.0 spec, and swagger-codegen 2.3.1 and it generates [ContextHeaders.java](https://gist.github.com/Na3blis/2d0d2d73d3960b776884ebf0ba94889e).
And in the model that references that, it has:
[code]
Howe

[2019-08-13 14:33] trajano commented on #3600
I have tested this on 4.1.0 as well with the same results.

[2019-08-13 15:29] wing328 commented on #3633
OK. I can take a look as I'm familiar with the default value.

[2019-08-13 15:34] wing328 commented on #3620
Thanks for the PR, which has been merged.

[2019-08-13 15:34] #3620 closed

[2019-08-13 15:35] #3601 closed

[2019-08-13 15:40] wing328 commented on #3591
@kraney thanks for reporting the issue. May I know if you've time to contribute a fix?

[2019-08-13 15:41] wing328 commented on #3581
@GunboatDiplomat may I know if you've time to contribute the enhancement?

I believe the refactored C# client allows us to more easily add support for another HTTP library.

cc @jimschubert

[2019-08-13 15:43] wing328 commented on #3595
@jamesrusso to help us understand the issue more, which version of openapi generator are you using? we just release v4.1.0. Please give it a try.

Which C# client generator are you using? `csharp` or `csharp-netcore`?

[2019-08-13 15:45] kraney commented on #3591
I can try to take a look. I can't make any promises because I'm only familiar with the generator as a user of it, not as a developer. It's one thing to look at the code it produces and recognize an issue, and another to understand how that code came to be generated.

[2019-08-13 15:46] wing328 commented on #3545
As discussed with some of you, another approach is to convert the OpenAPI spec into the input format expected by https://github.com/typicode/json-server. This is not to say I prefer this approach but just trying to come up with ideas.

[2019-08-13 15:46] wing328 commented on #3565
Only 3 files need to be modified. I can get it started and you can fill in the blanks.

[2019-08-13 16:03] wing328 commented on #3591
OK. Just PM me via Slack if you need help: https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

[2019-08-13 16:28] davide-maestroni opened #3635 "[BUG][Java][Client][Feign] does not properly encode query parameters when using a parameter map"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

The generate

[2019-08-13 16:56] wing328 commented on #3580
@tcrg311 thanks for reporting the issue. Can you please file a PR with the suggested fix so that we can more easily review the fix?

[2019-08-13 17:03] jamesrusso commented on #3595
Thanks @wing328.

Sorry I was not clear. This issue exists on master. This is on the csharp generator.

The issue originated that UserAgent was not being set. I then forked to work on a PR to add it to the constructor of ApiClient, but the interaction between the static constructor, the static property and the side effect of the timeout properly creating the ApiClient (which also calls Configurati

[2019-08-13 19:52] bbdouglas opened #3636 "[BUG][Java][native] Wrong `Generated` annotation package for Java 9+"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? 4.1.0
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to

[2019-08-14 01:30] vellengs commented on #2694
Might use
[code]
instead of
[code]

[2019-08-14 01:38] tcrg311 commented on #3580
@wing328 thanks for the invitation - it will be a first PR for me.  Initial run of the unit tests shows that the " else if (ModelUtils.isArraySchema(model)) {" has no coverage.  On the other hand, my initial suggestion causes three unit tests to fail.  Time to dig deeper....

[2019-08-14 06:46] jmini commented on #1861
Thank you for the analysis.

An other important reason why null is better than empty list was provided by @bkabrda in https://github.com/OpenAPITools/openapi-generator/issues/3585#issuecomment-519450159

In some scenario (typically with `PATCH`) a `null` list means "do not change the value" and an empty list means "remove the items of that list".

Setting the value to empty list is confusing becau

[2019-08-14 07:09] jmini commented on #3602
I think that with `generateAliasAsModel` you get the Swagger-Codegen behavior where models (`ContextHeaders extends Map<String, List<String>>`) are created .

See: https://github.com/OpenAPITools/openapi-generator/issues/472

[2019-08-14 07:17] #3485 closed

[2019-08-14 07:46] martijnpolak commented on #2427
We have the same problem, making it unusable for us. Is there a previous version we could fall back to which doesn't have this issue?

[2019-08-14 09:42] lagebaue commented on #2427
I switched to a different generator tool chain: https://github.com/tobilg/api2html

[2019-08-14 11:37] Na3blis commented on #3602
Thanks, that does look like the solution! However it does not create the object correctly when referenced,
`[ERROR] /Users/tim/dev/authorization-rules-service/generated-client/src/main/java/com/example/authrules/v1/client/model/RulesUser.java:[146,43] incompatible types: java.util.HashMap<java.lang.String,java.util.List<java.lang.String>> cannot be converted to com.example.authrules.v1.client.mode

[2019-08-14 12:28] macjohnny commented on #1458
any update here? the issue still exists in the current version

[2019-08-14 13:20] wing328 commented on #3577
cc @saigiridhar21  (author of #3002)

[2019-08-14 13:32] wing328 commented on #3482
@armandmgt yes please submit a PR so that we can review your fix.

[2019-08-14 13:50] wing328 commented on #3471
-DdebugModels is only for debugging.

What does the correct `tmp.json` look like?

[2019-08-14 13:54] wing328 commented on #3432
@hatzlj please file a PR so that we can review the fix more easily.

[2019-08-14 13:57] wing328 commented on #3430
It should work right out of the box. As a workaround, can you try the Java client instead, which should work in Android environment as well?

[2019-08-14 13:59] wing328 commented on #3414
I think it's definitely valuable.

For the Java client, it supports Jackson and GSON so I would foresee when the Kotlin gains more popularly, someone will ask for this feature.

Let us know if you need help with the PR to add an option to support Jackson in addition to Moshi.

[2019-08-14 14:02] wing328 commented on #3367
@Leo-Rutschmann that's perfectly fine. Let's see if anyone else from the community can help out on this.

[2019-08-14 14:08] #3374 closed

[2019-08-14 14:09] wing328 commented on #3366
Duplicated. Please see #3318

[2019-08-14 14:09] #3366 closed

[2019-08-14 14:45] nickmeinhold opened #3641 "[REQ] [Dart] instructions in generated README are problematic"
### Is your feature request related to a problem? Please describe.

I spoke to someone today who was having issues trying to use a generated client as the README instructions are a bit confusing and incorrectly use a mapping value.

The generated README includes instructions like this:

If this Dart package is published to Github, please include the following in pubspec.yaml
[code]

## Describe th

[2019-08-14 14:59] wing328 commented on #3226
Would the following help?

https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2019-08-14 15:00] wing328 commented on #3216
We've included a new `nodejs-express-server` in 4.1.0 release. Please check it out.

[2019-08-14 15:00] #3216 closed

[2019-08-14 15:03] nickmeinhold commented on #3641
Also the Requirements in the generated README are
[code]
and I believe should be
[code]

I might rename this issue to something more general like "generated README needs updating" and go through more thoroughly and see if there is anything else I think should be changed. Is it preferred to group together small changes like this?

[2019-08-14 15:03] wing328 commented on #3197
@nehme-bilal-ah maybe just modify the one in the `csharp-netcore` generator to start with and we'll then review the change

[2019-08-14 15:04] #3190 closed

[2019-08-14 15:04] wing328 commented on #3189
@lelongg that sounds reasonable. Can you please file a PR with the suggested fix?

[2019-08-14 15:05] wing328 commented on #3641
Agreed if `supportDart2` is set to true, the requirement should be Dart 2.0 or later.

[2019-08-14 15:08] wing328 commented on #3179
Similar to other API clients, the C client should come with an additional WithHttpInfo method (e.g. getPetByIdWithHttpInfo) so that users can obtain the status, HTTP headers, etc.

Would you have time to help us with this enhancement?

CC @zhemant

[2019-08-14 15:09] wing328 commented on #3171
@Cellebyte Can you please file a PR with the suggested fix?

[2019-08-14 15:14] wing328 commented on #3157
@spacether may I know if you've time to contribute a fix?

[2019-08-14 15:18] spacether commented on #3157
Things are pretty busy with work right now. And I am more interested in adding features to the Python experimental generator. Not at this time.

[2019-08-14 15:19] wing328 commented on #3157
@spacether that's ok. Let's see if anyone from the community can help on this.

[2019-08-14 15:22] wing328 commented on #3124
@amiller-ims thanks for reporting the issue. Do you mind filing an issue with the suggested fix? Let us know if you need help with the PR.

[2019-08-14 15:35] tcrg311 commented on #3580
The InlineModelResolver unit tests (Example: arbitraryObjectModelWithArrayInlineWithTitle) are expecting that an inline array item ObjectSchema is not refactored to a Schema with a $ref.

Array items with ObjectSchema are being flattened for the request body, parameters, responses, and properties, but a /components/schemas/ArraySchema is not flattened, regardless of the complexity of the items Obj

[2019-08-14 16:38] horzsolt commented on #3430
Thanks, this is a good idea to use the Java client. Also, is there a way to change the underlying HTTP client in the android code (not using Volley)?

[2019-08-14 16:40] wing328 commented on #3430
Please check the --library option

[2019-08-14 18:13] TimoMorris commented on #3577
cc @mbohlool would be great if you could give us some background info on the `TypeWithDefault` class 😀

[2019-08-14 19:29] jmini commented on #3461
@bademux: feel free to propose a PR.

The problem is that the way the generator is built, the imports are written first and at this point in time the information to know if one of the field will use `JsonNullable` in the class content or not is not present.

[2019-08-14 21:12] ioquatix commented on #3565
I don't have time for this right now.

However, it seems like an interesting idea.

`async-rest` is pretty opinionated and while I think it's in a good space right now, I don't mind changing it as I understand the problem domain better. What I mean by that, is that it isn't a generic HTTP client, but it is modelled after the REST thesis.

What I find fascinating, is how bad - inconsistent - and me

[2019-08-15 02:28] wing328 commented on #3565
That's ok. Let's see if anyone from the community has time to work on this enhancement.

[2019-08-15 03:06] wing328 commented on #3101
@ppaulojr thanks for reporting the issue. May I know if you've time to contribute a PR to fix it?

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/swift4/Podspec.mustache#L8 is a good starting point.

[2019-08-15 04:47] #3636 closed

[2019-08-15 06:50] macjohnny commented on #3635
@davide-maestroni do you want to provide a fix for this?

[2019-08-15 08:43] stephanpelikan opened #3646 "[BUG] [typescript-fetch] serialize/deserialze not working with inheritence"
##### Description

Properties of super-classes are not serialized/deserialized.

##### openapi-generator version

4.1.0

##### OpenAPI declaration file content or url

[code]

##### Suggest a fix

in modelGeneric.mustache add the lines with comment:

[code]

and

[code]

[2019-08-15 08:55] bademux commented on #3461
@jmini Well, it a bit of a work to propose new generator :)
Anyway, thanks for discussion!

Closed as a "Won't fix" (until global generator context with all needed information will be passed)

[2019-08-15 08:55] #3461 closed

[2019-08-15 09:30] denyo commented on #3646
May be related to #2845.

[2019-08-15 09:52] jmini commented on #3276
I did a review while working on a test suite for the Java clients (more to come in #689)

With `jersey2` (with `Object localVarPostBody = new Object();`) the current exception is:

[code]

I agree that `localVarPostBody` needs to be set to `null` if no request-body is defined.

----

For resteasy:

[code]

----

As far as I can tell, the other clients are OK

[2019-08-15 09:56] jmini opened #3647 "[OpenAPI v3] Support for TRACE operation"
The OpenAPI spec support "trace" as operation inside a PathItem.
There is no support for that in OpenAPI Generator yet.

At core level, the fix is straight forward, maybe some adjustments are needed in the templates

[2019-08-15 11:26] stephanpelikan commented on #3646
Maybe. But I tested the fix I suggested and it works. It simply seems to be forgotten.

[2019-08-15 11:33] stephanpelikan commented on #3646
Concerning #2845: I suffured this bug in Java-Service with 4.0.0. In this situation the template was ok but the parent-value seems not to be filled. With 4.1.0 and typescript-fetch the parent-value is filled, but the template is not ok |-)

[2019-08-15 12:01] martijnpolak commented on #2427
Nice thanks! We've opted for https://sourcey.com/spectacle for the time being, will have a look at that one too.

[2019-08-15 12:06] macjohnny commented on #3646
@stephanpelikan can you open an PR?

[2019-08-15 13:29] wing328 opened #3650 "[REQ] sbt plugin for OpenAPI Generator"
We already have maven and gradle plugins. As discussed in in the slack channels, there's also demand for an sbt plugin.

If anyone would like to contribute an sbt plugin for openapi generator, please reply to let us know.

[2019-08-15 14:00] #3647 closed

[2019-08-15 14:01] #3585 closed

[2019-08-15 14:10] dongfangxunlei opened #3651 "Qt5 client code fail to be compiled for https://github.com/jdegre/5GC_APIs/raw/master/TS29502_Nsmf_PDUSession.yaml"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-15 14:16] YanDoroshenko commented on #3650
I already have a [barely] working prototype, working on improving it.

[2019-08-15 14:20] jimschubert commented on #3650
@YanDoroshenko let me know if you need any assistance and I'd be happy to check it out. I have experience writing SBT plugins.

[2019-08-15 15:01] wing328 commented on #3191
@yue9944882 Tried to repeat the issue with a leading dollar sign in the property name as follows:
[code]

but the Java code is compiling fine:
[code]

so am I repeating or understanding the issue correctly?

[2019-08-15 16:48] jmini commented on #2645
Mentioned by @jaumard on Slack, following works for him to know if a field is an enum:
[code]

[2019-08-15 17:00] wing328 commented on #3651
It would help to show the error message here or via https://gist.github.com

[2019-08-15 19:56] dalinarkholin commented on #3278
@macjohnny Was this included in 4.1.0? I still see the same behavior. `stringToJSON` function is undefined.

[2019-08-15 20:59] alexnavratil opened #3655 "dart2 client not compiling and ignoring templateDir"
##### Description

The dart client generator overwrites a custom set templateDir when using dart 2.x. The default dart2 templates also fail to compile since they depend on some old and already deleted dependency (dartson).

##### openapi-generator version

<=4.1.0 and master

##### OpenAPI declaration file content or url

/

##### Command line used for generation

openapi-generator generate -o api

[2019-08-15 21:00] fuzzzerd commented on #2745
This seems to be affecting the typescript fetch client too. Looks like there was a pull against the swagger-gen fetch client, but not the openapi generator fetch client.

[2019-08-15 21:02] fuzzzerd commented on #1233
This makes a lot of sense to me.

[2019-08-16 04:32] macjohnny commented on #2745
@fuzzerd would you like to port https://github.com/OpenAPITools/openapi-generator/issues/3423 to the typrscript fetch client?

[2019-08-16 04:34] macjohnny commented on #3278
@dalinarkholin this should be inlcuded in 4.1.0
Can you post the relevant part of your spec?

[2019-08-16 04:36] yuji38kwmt commented on #3471
[code]

[2019-08-16 07:05] saigiridhar21 commented on #3577
@TimoMorris I like the option 3 as you have mentioned. Thanks for the detailed explanation.

[2019-08-16 08:05] andreas-schilling commented on #1861
Hi all! Jumping in, as we're also discussing around those things right now.
In our case it would be really cool to have an option to allow using the default initializers for `List`/`Map` types even when the respective property is not `required`.
We don't use (or rather allow) `null` as a value for container types and Jackson is configured to omit empty containers upon serialization. Anything down

[2019-08-16 08:26] #3435 closed

[2019-08-16 13:19] dalinarkholin commented on #3278
@macjohnny my mistake. This is resolved.

[2019-08-16 13:42] macjohnny commented on #3278
thanks again to @someone1 for fixing this

[2019-08-16 23:08] TeFiLeDo opened #3664 "[BUG] Rust server doesn't compile due to openssl crate version"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-17 02:18] #3397 closed

[2019-08-17 05:00] t2y commented on #3248
@macjohnny @jimschubert This bug is critical for me, and block upgrading version. Do you have a plan to fix?

[2019-08-17 05:05] frankyjuang commented on #3513
Fixed by #3557

[2019-08-17 05:05] #3513 closed

[2019-08-17 10:59] richardwhiuk commented on #3664
https://github.com/Metaswitch/swagger-rs/issues/66 is the blocking issue here (swagger-rs is the support crate for the Rust Server generator).

[2019-08-17 13:24] davidkarlsen opened #3668 "[BUG][jaxrs-cxf] Wrong imports (io.swagger.annotations)"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor

[2019-08-18 06:01] macjohnny commented on #3248
@t2y would you like to submit a PR with a fix?

[2019-08-18 06:12] t2y commented on #3248
@macjohnny I don't know the background this issue. But, I can try to fix and create a PR, so I will do it next week if no one will fix.

[2019-08-18 06:16] macjohnny commented on #3248
This would be very appreciated

[2019-08-18 07:22] autopp commented on #3630
@ssteeg-mdsol Thank you for the report.
Does the following response reproduce this problem?
[code]

[2019-08-18 07:28] autopp commented on #3630
@ssteeg-mdsol

And isn't the expected output in your description here?

[code]

[2019-08-18 09:22] autopp opened #3670 "[BUG] [Ruby] `valid?` for model that contains oneOf or anyOf raises exception"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-18 13:25] jimschubert commented on #3668
I've updated the title as this isn't a Maven plugin concern but a concern of the specific generator.

I think this is a feature request rather than a bug. There's no expectation that generated code matches the OpenAPI spec version, but it sounds like this is the assumption being made. I don't disagree, I just wanted to clarify. I think it would make sense that if you're generating a server impleme

[2019-08-18 15:19] YanDoroshenko commented on #3650
@jimschubert Is there a way to define an optional settingKey in SBT?

Example:
Api package setting is not mandatory (generator has some default value). I can declare a `settingKey[Option[String]]` and initialize it to `None` as a default. Then if it's present, I update the generator setting. But that means that plugin user has to specify it with Option like `openapiApiPackage := Some("org.somethin

[2019-08-18 19:32] jimschubert commented on #3650
@YanDoroshenko another way to do this would be to have a string and initialize it to a null. Then when you use the string,

[code]

[2019-08-18 19:48] YanDoroshenko commented on #3650
@jimschubert Nope:
[code]

[2019-08-18 20:16] markus-wa commented on #2238
Any news on this?

[2019-08-18 21:49] jgiles commented on #1998
^ I was just constructing a repro case to file a fresh issue for what @Teyras mentioned above. We have some model definitions named <OperationId>Request by design, and that makes the typescript-fetch generation unusable for us (we're trying to move off of swagger-codegen and this blocks us).

[2019-08-18 21:49] jimschubert commented on #3650
@YanDoroshenko I could've sworn I had done this with null, but maybe I used an empty string and filtered on nonEmpty values in the past. I don't think the usage of assigning `Some(value)` is bad, as it clearly indicates that you're setting an optional value. This is done using `Option[String]` in some plugins (see https://github.com/sbt/sbt-autoversion/blob/2f7798d8de68cf2b5425423b2c9b702df2cdb5f4

[2019-08-18 23:21] thecrazzymouse opened #3672 "[BUG] Incorrect handling of octet stream for java 11 native"
##### Description

##### openapi-generator version

4.1.0

##### Problem
The generated code will treat "File" as any other type and try to connvert it.

      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw new Api

[2019-08-19 00:59] autopp commented on #3630
This is not just a problem for Ruby, but for example Python.
A Python client generated with the same input contains the following code in `openapi_client/models/monitor_results.py`:
[code]

This looks like a problem with the Ruby client.

[2019-08-19 01:40] saigiridhar21 opened #3673 "[BUG][csharp-netcore] Fix XML documentation warnings"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 05:30] #3673 closed

[2019-08-19 05:31] #3670 closed

[2019-08-19 05:36] wing328 commented on #3672
@thecrazzymouse thanks for reporting the issue. I wonder if you can file a PR with the suggested fix so that we can review the fix more easily.

cc @bbdouglas

[2019-08-19 07:57] fernard commented on #3538
I don't feel confident enough to make such a change in Java, additionally  don't have a proper IDE for development in languages other than JS/TS, so I would really appreciate if someone pushed this change instead of me.

[2019-08-19 08:19] arrigod opened #3678 "[BUG] [typescript-angular] Angular 8: generated package.json include wrong dependencies"
##### Description

When generating for angular-typescript and setting the Angular version to 8 the generated package.json is invalid, as the included typescript, rxjs and zone.js versions are not correct.

##### openapi-generator version

4.1.0

##### Steps to reproduce

Generate with ngVersion 8.0.0

##### Suggest a fix
The dependency typescript, rxjs, and zone.js should be set to the following:

[2019-08-19 08:23] #3678 closed

[2019-08-19 10:17] jmini commented on #3461
According to https://github.com/OpenAPITools/openapi-generator/pull/3474#issuecomment-520393508, I think that @bkabrda added the code you wanted:

Can you test with the latest SNAPSHOT?

[2019-08-19 11:27] saigiridhar21 opened #3682 "[BUG] [csharp-netcore]: Failing to load the project"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 13:24] YanDoroshenko commented on #3650
https://github.com/upstart-commerce/sbt-openapi-generator

[2019-08-19 15:02] vintuwei opened #3684 "[REQ] List Of Generated Files"
We need to dynamically exclude the generated files from lint and coverage report. https://github.com/OpenAPITools/openapi-generator/blob/6addd76e1144d44d5b2f0d4da117c772739bf7d1/modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt#L617 returns a list of all the generated files. Maybe add the output to project.ext?

[2019-08-19 16:39] #3518 closed

[2019-08-19 17:27] 414004738 opened #3686 "[BUG] [csharp-netcore] Outputs unexpected warning "Invalid .NET framework version, defaulting to v4.6.1""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 17:45] 414004738 opened #3687 "[BUG][csharp-netcore] Unexpected ItemGroup with references in csproj file"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 18:07] 414004738 opened #3690 "[BUG][csharp-netcore] XML documentation of Api class constructors has incorrect reference to PetApi"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 19:48] nolanlocke commented on #1858
This is also an issue in the typescript-fetch client

Using latest snapshot this is still an occurring issue

[2019-08-19 20:33] 414004738 opened #3691 "[BUG][csharp-netcore] Setting netCoreProjectFile doesn't work"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 20:40] pdlk opened #3692 "[BUG][Java] OpenApi3 to Angular model - generation with oneOf"
While generating angular model based on openapi3 json specification, the entity of model generated for types marked as "oneOf" has wrong name including "oneOf" prefix. But this type is not available because it is generated in separated file with proper name without this prefix.

**OpenApi Generator:**
openapi-generator-cli-4.0.3.jar

**Initial c# class:**

    public class ProfileDetail
    {

[2019-08-19 20:53] 414004738 opened #3693 "[BUG][C#][csharp-netcore] Many warnings detected when building generated code"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-19 21:51] 414004738 commented on #3690
Seems to be a duplicate of #3673

[2019-08-19 21:51] #3690 closed

[2019-08-19 22:07] jgiles commented on #1998
Repro case:

example_spec.yaml
[code]

Snippet from generated src/api.ts:
[code]

(see that we both import and declare the type `CreateFooRequest`)

The generated code does not compile:

[code]

[2019-08-19 22:09] fuzzzerd opened #3694 "[BUG][typescript-fetch] Output is now nested in a "src" folder which breaks typescript package references"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

Changes in [t

[2019-08-19 22:25] jgiles commented on #1998
https://github.com/OpenAPITools/openapi-generator/pull/3695 is the start of a fix along the lines of the namespacing suggestion from @bradenmacdonald (which fixes both of the naming collision issues discussed in this thread).

Note that adding namespacing can be a breaking change for clients of the generated code. So that this does not have to wait for a major release (based on policies in https:/

[2019-08-19 23:08] jpascualsana opened #3696 "[Python] How to make http asyncrhonous calls with generated python client"
##### Description

I'm creating a auto-generated API client using the openapi-generator for python. This API has some asynchronous functions that returns lines of `data: JSON` asynchronously.

I would like to have a callback that get this data and process it on a separate thread but **I don't know how to use** the `async=True` option when the call is instantiated. As I show it return a `Thread` bu

[2019-08-19 23:18] mistriel opened #3697 "[BUG][typescript-axios] enums types are generated by field name rather by the schema when using `withoutPrefixEnums=true` option"
##### Description
using typescript-axios generator and  withoutPrefixEnums==true yields to enums that are getting created by the referencing entity parameter name rather the schema declared enum name.

Eventually this causes conflicts between enums that overrides one another when two entities use same parameter to reference the same enum.

##### openapi-generator version

Using the [online version

[2019-08-20 03:26] wing328 commented on #3696
Would the following example (test) help?

https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python/tests/test_pet_api.py#L142-L184

[2019-08-20 05:29] Locour commented on #3439
I just downloaded version 4.1.0 as a npm package and i got the same error.

Using the cli command without `-o` parameter

[code]

results in the following error

[code]

Whereas when specifying the output parameter directly it works without any error:

[code]

[2019-08-20 05:34] wing328 commented on #3191
Can you share the compilation error with us? The dollar sign may not be the culprit.

[2019-08-20 05:52] macjohnny commented on #3697
@mistriel would you like to implement a fix for that?

[2019-08-20 05:56] macjohnny commented on #3694
this change was introduced in https://github.com/OpenAPITools/openapi-generator/pull/3403
I am also in favor of reverting the `src` sub-path change. @fuzzerd would you like to file a PR for this?
cc @JFCote @TiFu what do you think?

[2019-08-20 06:45] mistriel commented on #3697
I do, it's a matter of time and availability

On Tue, Aug 20, 2019, 08:53 Esteban Gehring <notifications@github.com>
wrote:

[2019-08-20 07:59] jmini opened #3698 "[java-client][google-api-client] authentication support?"
It seems to me that the `google-api-client` does not support authentication yet.

Tested with:

[code]

I have opened this for tracking.
If anyone is interested by the feature, please comment bellow.

[2019-08-20 08:48] juviwhale commented on #3345
I am having this issue as well, does anyone know a quick patch to the generated code? @FFY00

[2019-08-20 08:49] jmini commented on #689
With https://github.com/jmini/openapi-experiments/commit/ccc91469d39c43e3e71387be421b29ab4773dc82 I have created a PoC of a test-suite for java clients.

Code is located mainly in the [`icespellmint/`](https://github.com/jmini/openapi-experiments/tree/master/openapi-generator-utils/icespellmint) folder (`icespellmint` is an anagram of "simple client"). The OpenAPI spec used to generate the code is

[2019-08-20 09:00] jmini commented on #503
Testing is discussed a lot in this thread.

---
I totally agree with @jimschubert's vision:

IMO those are unit-tests. Very valuable to understand what is going on and if based on an OpenAPI input we prepare the correct input for the templating engine. We can catch a lot at this level.

---

Nevertheless, I also think that integration tests are also relevant.

If a client generator claims supporti

[2019-08-20 09:37] juviwhale commented on #3345
Oh I see, it is adding arguments for the request body with the param arguments. So I can just delete those.

[2019-08-20 11:05] JFCote commented on #3694
@macjohnny I'm no expert in typescript/npm but I did these change to fix the npm version that wasn't working at all when it was time to publish (there was no compiled code in resulting npm package).

I don't mind of the folder structure in the end. That was done to follow good practice in typescript npm package.

So, if the new PR still provide a valid output when publishing npm package, that's go

[2019-08-20 11:11] saigiridhar21 opened #3700 "[REQ][r] Include HTTP response codes and their corresponding headers in the api docs"
### Is your feature request related to a problem? Please describe.

Include HTTP response codes and their corresponding headers in the api docs

## Describe the solution you'd like

Update the api_docs.mustache file to include HTTP response details.

## Describe alternatives you've considered

## Additional context

[2019-08-20 14:18] bruceharrison1984 opened #3701 "[BUG] Angular-Typescript - Uninitalized queryParameters"
##### Description
Output from Angular-Typescript generator cannot be packaged/compiled because Authorization query parameter variable is not initialized.

[code]
##### openapi-generator version
4.1.0

##### OpenAPI declaration file content or url
OpenAPI template is generated from an Azure Api Management Gateway

[code]

##### Command line used for generation
[code]

##### Steps to reproduce
Gener

[2019-08-20 14:28] jmini opened #3702 "[java-client][resteasy] bearer authentication is not working"
It is not possible to set the token.

In the ApiClient it should be:

[code]

[2019-08-20 15:21] jmini commented on #3276
@kevinoid: your issue report is realy great.

I have proposed a fix for `resteasy` and `jersey2`: https://github.com/OpenAPITools/openapi-generator/pull/3703, because it was not working with those libraries.

[2019-08-20 15:22] LoveIsGrief opened #3704 "[BUG][PYTHON] templates render multiline descriptions on one line"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-20 15:30] jmini commented on #3702
See issue #457
And similar PR for `okhttp-gson`: #3236 + #3343

[2019-08-20 15:30] kevinoid commented on #3276
Your PR looks great @jmini, thanks for taking the time to work through it and implement a fix!

Note that it doesn't fix the empty object request body for `okhttp-gson` which was my original motivation for opening the issue.  It does appear to fix the exceptions for `jersey2` and `resteasy`, which are more severe issues and look more urgent to me.  I'm all in favor of merging it as-is to fix those

[2019-08-20 15:56] deluksic opened #3705 "[BUG] [typescript-inversify] rxjs imports are wrong for newest version"
Newest rxjs version has changed imports:

[code]
to
[code]

and

[code]

to

[code]

[2019-08-20 16:09] deluksic commented on #3618
Also, `addJsonHeaders`'s `headers` parameter should be optional.

[2019-08-20 16:09] jmini commented on #3276
Of course.
There is also one task pending for `jersey2` and PUT, see: https://github.com/OpenAPITools/openapi-generator/pull/3703#issuecomment-523061132

---

I can have a look at this too.

I am trying to understand the original motivation in #98, but I do not get it (I must admit that I did not dig into the history as you did).

* `okhttp-gson`: no jackson is involved.
* and for the clients usin

[2019-08-20 16:44] fuzzzerd commented on #3694
@macjohnny I lack the tooling setup and Java expertise to feel comfortable making sweeping changes to the underlying generator class. I'm just not familiar with the tooling or setup, even if the actual code changes aren't that large.

I could work on revising the mustache templates to produce a valid output package. As it is today, the generated package.json has the wrong paths for the /dist files

[2019-08-20 16:46] fuzzzerd commented on #3694
@JFCote Can you go into any more detail about what is/was wrong with the package? Did you expect the output of OAIG to produce both the typescript source code for the package as well as the compiled javascript? I think you will always need to run `npm install && npm run build` on the output of the generator.

[2019-08-20 17:03] JFCote commented on #3694
@fuzzzerd First, what is `oaig`?

As for your question:

The problem was that the npm package contained `.ts` files. A real npm package needs to be compiled because if you don't, you will need to have all sort of nasty trick in your webpack configuration. When you run `npm publish`, there is a configuration that tell npm what to do. In our case, it is `tsc` and `npm run build`, as you can see here

[2019-08-20 17:15] fuzzzerd commented on #3694
Sorry: OAG = OpenAPI Generator (updated my post).

[2019-08-20 17:31] fuzzzerd commented on #3694
@JFCote your explanation makes sense.

I used OpenAPI Generator to produce a folder with the package inside. I called it `private_node_modules\myclient` and then did a file reference in my main package.json. Since there were only typescript files in there everything just worked, and my project took care of doing the compiling. I never actually published the generated npm package.

The changes in t

[2019-08-20 17:42] JFCote commented on #3694
@fuzzzerd Like I said earlier, I'm no typescript / npm expert. If I understand correctly, you generate the default fetch-client, not the npm one but you seem to fake an npm import. Maybe that's the problem? Since you don't use npm, why don't you just import the folder with a normal `import` statement in your ts files?

Like this:

`import fetch-client from './my-generated-fetch-client/src/index'`

[2019-08-20 17:58] macjohnny commented on #3694
Like this:
`import fetch-client from './my-generated-fetch-client/src/index'`

This makes sense and is how I use it in my project if the package is not published.

the more I think about it, the more I am in favor of leaving the code as it is now, as the npm package isn't intended to be used as an npm package without compilation, which means, the generated `package.json` is correct.

[2019-08-20 18:13] bbdouglas commented on #3672
This seems to be tangentially related to issue #994, where binary stream are given the type `File` instead of `InputStream`. Let me look at how the other generators treat binary return types.

@thecrazzymouse Can you provide a sample openapi spec showing your problem so we can make sure we address the specific issue you're seeing?