[2020-07-08 08:29] praveen049 commented on #4873
Hi
   I am having similar problem when using object in query string. The code generated has
`.from_dict(connexion.request.get_json())`

Is there any fix or workaround for this issue  ?

Thanks

[2020-07-08 08:30] #6428 closed

[2020-07-08 08:30] #6876 closed

[2020-07-08 08:39] Tohnmeister commented on #4873
If I read the previous comments correctly there was a [PR](https://github.com/OpenAPITools/openapi-generator/pull/5372) which fixes this issue. It was included in version 4.3.0.

Haven't tested that yet though. I worked around the issue by not using an object in the query anymore. So not really a workaround. :-)

[2020-07-08 10:31] Alex-e opened #6889 "[BUG] scala-play-server apiTrait.scala.mustache does not contain json import"
#### Bug Report Checklist

- [+] Have you provided a full/minimal spec to reproduce the issue?
- [+] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [+] What's the version of OpenAPI Generator used?
- [+] Have you search for related issues/PRs?
- [+] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-08 11:17] andrena-eike-kohnert commented on #6282
@dmielewczyk I am using openapi generator gradle plugin. I do some text replacement scripting within gradle:

[code]

[2020-07-08 11:49] ghostbuster91 commented on #6685
Thanks for the answer.

By scala compiler plugin I meant sbt-plugin just like the one you linked (incorrect use of words, sorry).

It took me a while to reply because while it looks like something we were looking for I wanted to check if it fulfills all our requirements.

From my tests it looks like despite explicitly saying that we are only interested in `src/main/scala` openapi-generator generat

[2020-07-08 13:53] wing328 commented on #6889
@Alex-e thanks for reporting the issue. Can you please file a PR with the suggested fix so that we can review more easily?

[2020-07-08 15:38] sebastien-rosset opened #6892 "[REQ][Java][Jersey2] Generate java method for each oneOf/anyOf"
### Is your feature request related to a problem? Please describe.

Currently, in the generated Java jersey2 library, a class is generated for every oneOf, anyOf schema in the OpenAPI document. Every oneOf/anyOf class inherits from `AbstractOpenApiSchema`. The AbstractOpenApiSchema.java class has the `public Object getActualInstance()` and `Object getActualInstanceRecursively()` methods which both

[2020-07-08 15:53] wing328 commented on #6892
@sebastien-rosset thanks for the feedback. Agreed with these improvements. I'll see what I can do to make it better.

[2020-07-08 16:17] bgong-mdsol opened #6893 "[Build][SonarCI] Run failed at Sonar CI after sync'd the latest master into my fork"
##### Description

I have sync'd the latest master into [my fork](https://github.com/bgong-mdsol/openapi-generator) since week ago, and keep getting `Run failed` at `Publish to Sonar`as the errors below:

[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.7.0.1746:sonar (default-cli) on project openapi-generator-project: null: MojoExecutionException: NullPointerExcep

[2020-07-08 23:38] trixprod opened #6895 "[BUG] Can't use Set instead of List on Java generation ( Set is not imported )"
Hello, i'm using the latest snapshot of openapi-generator ( 5.0.0-SNAPSHOT ).

Here is the maven plugin is use :
`                        <execution>
                            <id>Generate Spring</id>
                            <goals>
                                <goal>generate</goal>
                            </goals>
                            <configuration>

[2020-07-09 02:44] wing328 commented on #6821
@mh03r932 thanks for reporting the issue. I wonder if you can file a PR with the suggested fix so that we can review more easily.

[2020-07-09 02:46] wing328 commented on #6809
Agreed https://github.com/OpenAPITools/openapi-generator/blob/6a61910df15447356a8b223fa465e37781c3fdac/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5296 may be a problem. Thanks for the trace.

Can you please file a PR with the suggested fix?

[2020-07-09 05:14] mdavis-xyz opened #6897 "[REQ] Add mock payload support for python"
### Is your feature request related to a problem? Please describe.

I would like to test the code I wrote which invokes the python client code generated by this tool.

## Describe the solution you'd like

I would like for the ability to invoke my code (that decides which API call to make, what the argument values are etc),
then have that invoke the client code to check the arguments are valid,
the

[2020-07-09 06:27] mdavis-xyz opened #6899 "[BUG] python-flask ignores missing required fields, and values that don't match enum"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-09 07:29] argenstijn opened #6900 "allOf with a allOf does not generate in Java the correct model"
MainModel:
      required:
        - premium
      allOf:
        - $ref: "#/components/schemas/P"
        - properties:
            premium:
              allOf:
                - $ref: "#/components/schemas/X"
                - $ref: "#/components/schemas/Z"

X:
     properties:
            x:
             type: string

Z:
     properties:
            y:
             type: string

P:
     proper

[2020-07-09 08:02] #6900 closed

[2020-07-09 08:02] argenstijn commented on #6900
Now understand that allOf is not supported completely by the generator.

[2020-07-09 12:45] wing328 commented on #6815
@jeff9finger I've filed https://github.com/OpenAPITools/openapi-generator/pull/6901 to fix the issue. I tested with the spec you provided and no longer get the models with inheritance. (It turns out the same spec in OAS v3 also has the issue, which is addressed by the PR)

[2020-07-09 14:00] wing328 commented on #5876
FYI. Filed https://github.com/OpenAPITools/openapi-generator/pull/6901 to completely remove the old (incorrect) behavior.

[2020-07-09 14:14] wing328 commented on #6815
@m-mohr I don't think that's a good idea. We've been trying hard to correct this since 4.x release. Better update the spec to use discriminator if you want model inheritances. (other tools that can import/read OpenAPI spec also rely on the discriminator field to determine model inheritances)

[2020-07-09 15:37] juanpablo-santos commented on #4680
It is possible, although normally that's an implementation detail, so it should not appear in your contract definition. If you don't mind to do so, here's how you could do it:

1.- define a model such as:
[code]

2.- reference that model wherever needed, f.ex.:
[code]

3.- Last, your plugin configuration should contain this import mapping:
[code]

Generated code would look something like this (str

[2020-07-09 20:52] Thornsnake opened #6904 "[BUG] [Typescript-Axios] Sets are treated like Arrays"
##### Description

When creating Typescript code of the EVE Online API (https://esi.evetech.net/_latest/swagger.json) the generated code contains **Set** objects that are treated like **Array** objects. The code attempts to use **Set<>.join()** on Sets and tries to **JSON.stringify(Set<>)** them. Those are things that would only work on Arrays.

##### openapi-generator version

5.0.0 Beta

##### C

[2020-07-09 21:12] hosseinsalemi commented on #5899
Same problem.

[2020-07-10 06:01] huehnerlady commented on #1975
Hi, in my opinion this pull request #6358 should **NOT** close the issue about the oauth2 as it is not fixing the kotlin-spring and this is referenced here as well.

Also happy to create a seperate issue for the kotlin-spring if that is requestes

[2020-07-10 07:15] jdussouillez opened #6905 "[REQ][Java][Native] Add templated server support to Java native client"
## Description

Add templated server support to the Java native client. See https://github.com/OpenAPITools/openapi-generator/pull/4998

Similar to https://github.com/OpenAPITools/openapi-generator/issues/5678

## Context
- openapi-generator v4.2.3

[2020-07-10 10:09] kbrz opened #6906 "[REQ][Swift] Date as URLQueryItem"
### Is your feature request related to a problem? Please describe.

When sending a date as URL query param and using ISO 8601 date formatter the resulting string may contain a plus ('+') sign. As per [apple documentation](https://developer.apple.com/documentation/foundation/nsurlcomponents/1407752-queryitems) this plus sign isn't percent encoded. Most of web servers will translate this plus sign i

[2020-07-10 13:44] mraineri opened #6907 "[REQ] Add enumClassPrefix option for Go server"
### Is your feature request related to a problem? Please describe.

I'm currently trying to build a Go server from an OpenAPI spec that contains enumerations where some values are re-used in different enumerations. Doing so today, it results in the following errors when building:

[code]

## Describe the solution you'd like

Issue #535 discusses this same problem in the context of Go clients, and

[2020-07-10 17:06] videki commented on #5803
As I saw we both have made similar changes to those mentioned in #4779. Pr #6306 contains springdoc and oas v3. I set mine ready and am currently waiting for review with it (the core team seems to have a lot to do as I saw the commits).

[2020-07-11 00:13] mdavis-xyz commented on #6899
Ah, I found the problem.

There are getter and setter functions which validate the response matches the schema.

But they're not used, because the main `__ini__` function for the response classes directly sets `self._attr` instead of `self.attr`.

https://github.com/OpenAPITools/openapi-generator/blob/850c958d83b32de9f2274349ef3a111631fd938a/modules/openapi-generator/src/main/resources/python-flas

[2020-07-11 00:27] mdavis-xyz commented on #6899
I believe this is the solution:

https://github.com/mdavis-xyz/openapi-generator/commit/1dd40ef3fe463de8198f7839aed30630858e91b9

Unfortunately I'm not able to successfully get tests running locally. So I can't test this change.
(It's also worth writing a unit test to ensure that omitted/invalid parameters in a response are rejected.)

[2020-07-11 06:05] ndup0nt commented on #6815
@wing328 wee have a similar need than @m-mohr. Our specification is generated from classes in which we don't want to add a discriminator property. Our consumer would like to get inheritance in their generated classes from our spec, for reusability reasons. I wonder in which case one would want to NOT having the inheritance ?
Also other tool (swagger-codegen) do generate inheritance without the nee

[2020-07-11 11:56] ybelenko commented on #6741
@jimschubert something like?
[code]
I copied that line from https://github.com/laravel/lumen#license

[2020-07-11 13:45] jimschubert commented on #6741
Yeah I think that will work. They don't seem to have an official license header or even a LICENSE file to copy a longer license from.

[2020-07-12 10:29] StasiShulvi commented on #5980
Facing the same issue.
Any updates?
I'm using `typescript-axios`, not dart.

Related issues:
- https://github.com/OpenAPITools/openapi-generator/issues/6500
- https://github.com/OpenAPITools/openapi-generator/issues/6426

[2020-07-12 13:38] wing328 commented on #6815
Don't think you can do that according to the spec

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#composition-and-inheritance-polymorphism

There are definitely use cases in which users simply want the model composition (which is correct according to the spec). You can search in the "issues" to find out those use cases.

The current (incorrect) behavior doesn't sup

[2020-07-12 13:57] wing328 commented on #6907
@mraineri thanks for the suggestion. I wonder if you've time to file a PR to make the enhancement to the Go server generator.

[2020-07-12 17:43] wing328 commented on #5980
I have fixed it. Please give it another try

[2020-07-13 06:12] StasiShulvi commented on #5980
@wing328 hi! thank you, it works now fine!

[2020-07-13 10:55] mh03r932 commented on #6821
@ wing328 I thought I did but I filed it against my own fork by mistake.

Now I think I filed it against master
https://github.com/OpenAPITools/openapi-generator/pull/6922

[2020-07-13 12:09] mraineri commented on #6907
Sure, I can take a look at making the enhancement myself and contributing it back.

[2020-07-13 18:57] sebastien-rosset opened #6923 "[BUG][Java][jersey2] Date header should be in GMT format, but it has timezone information"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-14 02:41] shylasrinivas opened #6926 "[BUG] [Go] [Java] [Python] Duplicate models generated with $ref in yamls"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
Yes
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
Yes. Spec is valid.
- [ ] What's the version of OpenAPI Generator used?
5.0.0 SNAPSHOT and 4.3.1
- [ ] Have you search for related issues/PRs?
https://github.com/OpenAPITools/ope

[2020-07-14 02:50] revilwang commented on #5303
I'm also frustrated to find that customizing the templates will not help with the removal of swagger annotations from the generated code. You have to modify the code to remove dependency which has nothing to do runtime execution.

[2020-07-14 02:56] shylasrinivas opened #6927 "[BUG] [Go] api.mustache template change to use strings.replace for localVarPath not importing strings lib"
##### Description

Modified api.mustache template to replace localVarPath. In files where strings package is not already present by default, generator is not importing the lib for strings causing compilation failure. Manually adding the imports causes duplicate import error.

##### openapi-generator version

4.3.1

##### OpenAPI declaration file content or url

https://gist.github.com/shylasriniva

[2020-07-14 04:11] rvowles commented on #6771
I am tagging relevant issues in case I can get some feedback for my updates to this generator. I have written extensions to the generator and it is here: https://github.com/rvowles/openapi3-typescript-axios

I would like people to test it out if they can so we can iron out all of the issues before submitting it back.

[2020-07-14 04:15] chameleon82 commented on #5303
Depends on generator for most of them it is possible to switch annotation generation off providing additional property setting.

[2020-07-14 04:25] rvowles commented on #5911
I am tagging relevant issues in case I can get some feedback for my updates to this generator. I have written extensions to the generator and it is here: https://github.com/rvowles/openapi3-typescript-axios

I would like people to test it out if they can so we can iron out all of the issues before submitting it back.

[2020-07-14 05:53] wing328 commented on #5980
UPDATE: I've setup monitoring using [checkly](https://checklyhq.com/) to catch the issue moving forward.

[2020-07-14 05:53] #5980 closed

[2020-07-14 05:53] wing328 commented on #6500
Fixed and setup monitoring using [checkly](https://checklyhq.com/) to catch the issue moving forward.

[2020-07-14 05:54] #6500 closed

[2020-07-14 05:54] wing328 commented on #6426
Fixed and setup monitoring using [checkly](https://checklyhq.com/) to catch the issue moving forward.

[2020-07-14 05:54] #6426 closed

[2020-07-14 06:42] Persi opened #6929 "[BUG] [typescript-axios] uniqueItem Sets in api spec generate wrong typescript"
##### Description
When generating client classes with generator template typescript-axios having properties with type array and flag "uniqueItems: true", the generated typescript model classes cannot be compiled. This only happens if template parameter "withSeparateModelsAndApi" is set to true.

##### openapi-generator version
 **5.0.0-SNAPSHOT**

##### OpenAPI declaration file content or url
[cod

[2020-07-14 08:35] dpisarevskiy opened #6932 "typescript-axios"
Hello!
How can use query filter in typescript-axios template OpenAPI 3.0.1 by swashbuckle?

##### Description
[code]

##### openapi-generator version

"@openapitools/openapi-generator-cli": "^1.0.15-4.3.1",

##### OpenAPI declaration file content or url

[2020-07-14 08:43] bseiller opened #6934 "[BUG] [JAVA] okhttp-gson generates broken method in ApiClient.java"
##### Description

The current Okhttp3 - ApiClient [Mustache](https://github.com/OpenAPITools/openapi-generator/blob/1a2097e81d17da9c74bc8c93facbb4f768f455bd/modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache#L533) generates a broken method.
The method setDebugging(boolean debugging) tries to remove the logging interceptor from an immutable list.
This result

[2020-07-14 08:57] dziedrius opened #6935 "[BUG] C# GetHashCode is using not read only properties to calculate hash"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-14 10:57] KamilJedrzejuk commented on #6815
When this issue  will be resolved?  We can't wait any longer.

[2020-07-14 12:35] wing328 commented on #6934
@bseiller thanks for reporting the issue. I wonder if you can file a PR so that we can review the fix more easily.

[2020-07-14 12:37] wing328 commented on #6935
@dziedrius thanks for reporting the issue. As a workaround for the time being, please use customized templates (`-t` option in the CLI) with the `GetHashCode` code removed.

[2020-07-14 13:56] jornhd opened #6940 "[BUG][csharp-netcore] ClientCertificates are not merged with GlobalConfiguration in api constructors"
#### Bug Report Checklist

- [ x ] Have you provided a full/minimal spec to reproduce the issue?
- [ n/a ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ x ] What's the version of OpenAPI Generator used?
- [ x ] Have you search for related issues/PRs?
- [ n/a ] What's the actual output vs expected output?
- [ n/a ] [Optional

[2020-07-14 15:37] Novalis15 opened #6941 "[REQ][typescript-axios]"
## Current state

(I'm new to openAPI, but) As far as i know, with typescript-axios, we would have to pass in a configuration object into each generated API Factory. However, something like the `accessToken` property might always get resolved in the same way from each Factory.

[code]

## Possible solution
It would be nice to have something like a default Configuration object, which gets used if n

[2020-07-14 17:27] #6932 closed

[2020-07-14 17:27] dpisarevskiy commented on #6932
resolved service.odataIdeasGet({ query: { $filter: query.split('=')[1] } })

[2020-07-14 17:41] badsyntax commented on #6192
@bard I'm curious as to why you're using `additionalProperties` to define the response schema. If you need array of map, shouldn't it just be:

[code]

Perhaps `additionalProperties` is intentional but i'm struggling to understand why...

[2020-07-14 19:40] juanpablo-santos commented on #1915
another workaround involving the use of import mappings at #4680

(late but hth to others looking on how to do this)

[2020-07-14 20:18] jeff9finger commented on #6815
Just a quick note on my company's use/ non-use of discriminator.
The issue we have is that adding a discriminator in a multi hierarchical model makes the payloads contain a bunch of unneeded discriminator properties.  Only the discriminator for the outermost model is actually needed for serialization.
This seems to be a limitation/feature of the OAS/JSON schema, and one that we have tried to worka

[2020-07-14 20:43] stgraham2000 opened #6942 "[REQ][typescript-redux-query] Allow client to set the base path to be prepended to endpoints in the generated query configs."
##### Description

If you generate a client using the `typescript-redux-query` generator, there is no way to set the base path for the url in the generated query configs.  This means you can't easily make your generated client communicate with your backend API if your client is hosted from a different domain.  One option is to override the network interface but that seems wrong considering other g

[2020-07-15 02:50] djnalluri opened #6944 "[BUG][typescript-angular] Unable to use multiple access tokens"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-15 02:52] djnalluri commented on #6944
I can work on a PR if the suggested changes are suitable.

[2020-07-15 07:01] bseiller commented on #6934
@wing328 Thanks for the fast reply.
It might take me a while. If that's fine then sure I'll file a PR.

[2020-07-15 09:00] jekkel commented on #1688
See https://github.com/kokuwaio/micronaut-openapi-codegen

[2020-07-15 09:39] laubfall commented on #4656
Just for your information: i ran into the same problem and fixed this issue in https://github.com/laubfall/openapi-generator/tree/typescript-node_mixes_require_and_import_4656 . PR is on its way.

[2020-07-15 10:35] mbeko commented on #5698
I think this is a misunderstanding. It's important to remember that OpenAPI describes JSON objects and in this context, "not required" means that the field can be missing in the JSON.

If `nullable` isn't specified, it's `false` by default, so as you said, the Java client generator will create a `String` field instead `JsonNullable`. If you want to omit it, just set it to `null` (the default if yo

[2020-07-15 11:01] wing328 commented on #6714
For the enum issue in auto-generated test files, I've filed https://github.com/OpenAPITools/openapi-generator/pull/6936 to fix it.

[2020-07-15 11:06] macjohnny commented on #6944
sounds good. keep in mind that this should be backwards compatible

[2020-07-15 12:23] bard commented on #6192
@badsyntax It's not an array of maps, it's a map of array of maps, e.g. comic title to array of characters:

[code]

I know, not the best layout, but it's an existing API over which I have no control.

[2020-07-15 14:19] ogerardin commented on #6366
Same issue here. Did you find a workaround?

[2020-07-15 14:28] laubfall commented on #4656
https://github.com/OpenAPITools/openapi-generator/pull/6947

[2020-07-15 14:40] y14a commented on #5896
May this issue also occurs if specified uppercase in a name of a parameter definition.

A parameter definition excerpted from my OAS3 YAML file.
[code]

Generated code by using `go-server` generator

[code]

[2020-07-15 16:53] wing328 commented on #1688
@jekkel 👍 I wonder if you can submit a PR to contribute back to OpenAPI Generator

[2020-07-15 18:07] djnalluri commented on #6944
Does this mean version 5.0 is no longer accepting new breaking changes?

[2020-07-15 18:42] bspies-work commented on #2906
We are using the openapi-generator-gradle plugin to do the generation, and seeing this issue too with version 4.3.0. Tried the 5.0.0-beta version (released June 2020) and still seeing this issue, so either that merge didn't make it in to either version, or it is not fixed.

[2020-07-15 19:37] macjohnny commented on #6944
@wing328 hoe about breaking changes for version 5, are they still allowed?

[2020-07-15 21:25] jeff9finger opened #6950 "[BUG] Multi level inheritance (with discriminator declared) does not generate classes with inheritance"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-15 21:53] flipch opened #6951 "[BUG] [dart-dio] No builder factory for BuiltMap<String, JsonObject>"
##### Description

When describing an object whose  type is a List<Dictionary<string, object>> dart-dio fails to generate a proper serializor prompting an exception

[code]

##### openapi-generator version

`"@openapitools/openapi-generator-cli": "~1.0.13-4.3.1"`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
Options besides this only include the swa

[2020-07-15 22:18] sagikazarmark opened #6952 "[REQ] Single executable binary"
### Is your feature request related to a problem? Please describe.

Installing Java in 2020 is still a pain in the ass, especially if you don't develop any Java projects, just want to run software written in Java.

## Describe the solution you'd like
I've read somewhere (I think in the Bazel repository) that it's possible to redistribute the appropriate environment in a single executable, so you c

[2020-07-15 22:23] flipch commented on #6952
You also have the npm package

[2020-07-16 00:09] sebastien-rosset opened #6954 "[BUG][Java][jersey2] Incorrect serialization of HTTP GET request body"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-16 01:48] adg-mh opened #6955 "[dart-dio][client] Integer enums generate code which does not compile"
Both inline enums and reusable/declared enums seem to be affected. For enums with type `"integer"` the generated code:

 - Includes `wireName` as an integer. `wireName` can only be a string.
 - Has every member name as `numberN`

There is a `wireNumber` argument you can use instead of `wireName`. However, the generated code doesn't let you get the integer values easily (you can by reaching into th

[2020-07-16 04:54] #6923 closed

[2020-07-16 09:06] jekkel commented on #1688
@stephanschnabel what do you think?

[2020-07-16 11:15] Fiv5 opened #6958 "【REQ】How to get the samples generate command or config?"
##### Description
The samples of `typescript-axios` -> `with-npm-version-and-separate-models-and-api` is handsome, i like the interface naming and file structure. How can i do?

##### openapi-generator version
4.3.1

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2020-07-16 11:51] dkliban opened #6959 "[BUG] Ruby client doesn't compile when Cookie Header Auth is present in OpenAPI schema"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-16 11:58] dkliban commented on #6959
@wing328 @cliffano  @zlx @autopp: Should I make a PR for the proposed solution or do you have a better solution in mind?

[2020-07-16 13:35] #6859 closed

[2020-07-16 14:28] vitaly-magyari commented on #6190
Same issue, gradle plugin readme lacks Custom Generator section, unlike maven one.

I'd try to implement it myself, if somebody gives me guidance.

I see it must be present in the output of Generators task
But I'm not sure how to properly implement external generator dependency handling in the plugin.

[2020-07-16 15:12] adg-mh opened #6963 "[dart-dio] Not all generated .dart files are post processed"
When generating a dart-dio client not all of the generated dart files are being post processed due to a change in `fileType` argument passed to `postProcessFile()` which indicates the category of file being processed. This change was made in the core refactoring in #6357. cc @jimschubert who worked on that.

An example of a file that would be skipped is `lib\api.dart`. You can reproduce the issue

[2020-07-16 15:31] autopp commented on #6959
@dkliban Thanks for report.

I agree with you.
Offcourse, the best solution is supporting cookie auth. But for the time being, I think it's okay to generate an error in `RubyClientCodegen` if cookie-auth was included.

@OpenAPITools/generator-core-team Is there a precedent where the Codegen class will generate an error depending on the contents of the spec?

[2020-07-16 21:53] pratikmallya opened #6966 "[REQ] Allow generation of jar files for java web app frameworks"
### Is your feature request related to a problem? Please describe.

For our API implementation, we want to use [Quarkus](https://quarkus.io), which does not have a stub generator. However, there does exist a jaxrs-resteasy server stub generator, which is close enough.

However, the current stub generator generates a war as an artifact. We would like the generated artifacts to be a jar, and then im

[2020-07-17 06:23] mitsuru793 opened #6967 "Cannot define multiple resource in request body of json."
##### Description

I want to the following generated code.

[code]

----------

I create the yaml.

[code]

`openapi-generator generate -i ./index.yml -o ./generated/ -g typescript-fetch --additional-properties=typescriptThreePlus=true`

openapi-generator command outputs the following.

[code]

----------

When I use application/x-www-form-urlencoded and properties, it generates ideal code.

[code

[2020-07-17 07:43] m-kay commented on #3382
There is the option `-D models` you could pass to the generate command when typescript-angular generator is used, but I'm not sure if this also works when using typescript-axios.

[2020-07-17 08:17] asatobi commented on #6780
It has been fixed thanks to @tsuwatch so I close this issue.

[2020-07-17 08:17] #6780 closed

[2020-07-17 08:59] kdebski85 commented on #6820
After discussion with my team, we will change to Bearer scheme.

@wing328
However, the generator should allow "schema: Bearer", not only "schema: bearer".
With "schema: Bearer" (the first letter uppercase), the generator does not add the import to HttpBearerAuth class.
This is a bug because HttpBearerAuth class allows the word "Bearer" to be in any case:

[code]

Also, HttpBearerAuth class allows

[2020-07-17 09:58] Fiv5 commented on #6942
ditto!

[2020-07-17 13:15] #6958 closed

[2020-07-17 15:02] michalzubkowicz opened #6969 "Typescript-inversify generator is unusable"
##### Description

Returns compile errors like TS2339: Property 'response' does not exist on type 'unknown'.

##### openapi-generator version

master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/6970

##### Suggest a fix/enhancement

I've fixed this and also inconsistent apostrophes

[2020-07-17 15:26] daiscog opened #6972 "[typescript-angular] Mark deprecated operations with the @deprecated JSDoc tag in typescript-angular"
When generating a client from a spec that contains deprecated operations, the generated client does not indicate to the consumer that the operations have been deprecated.

Example deprecated operation:

[code]

##### Related issues/PRs

Akin to https://github.com/OpenAPITools/openapi-generator/issues/6474

[2020-07-17 15:37] #5698 closed

[2020-07-17 19:34] dkliban commented on #6959
My suggested fix doesn't work. It produces a client that runs, but then it fails at run time. We ended up removing cookie auth from the OpenAPI schema before generating the Ruby client.

[2020-07-17 20:51] kmturley opened #6975 "[BUG][NODEJS] graphql-nodejs-express-server with PetStore, only one type named "User""
##### Description

When generating and running the PetStore demo with graphql-nodejs-express-server you get the error:

This errors and prevents the server from running.

##### openapi-generator version

`"@openapitools/openapi-generator-cli": "^1.0.15-4.3.1"`

##### OpenAPI declaration file content or url

Using: https://petstore.swagger.io/v2/swagger.yaml
[code]

##### Command line used for gene

[2020-07-17 23:24] kmturley opened #6976 "[BUG][NODEJS] nodejs-express-server API docs path mapping inconsistencies"
##### Description

Swagger and OpenAPI usually expose API documentation at:
`/api-docs`

Then approach is mirrored across your generators:
https://github.com/OpenAPITools/openapi-generator/search?q=api-docs&unscoped_q=api-docs

However nodejs-express-server uses `/api-doc`
`this.app.use('/api-doc', swaggerUI.serve, swaggerUI.setup(this.schema));`
https://github.com/OpenAPITools/openapi-generator/s

[2020-07-18 01:12] #6615 closed

[2020-07-18 01:13] donatwork commented on #6615
My mistake. Nullable reference types are supported on both sides of the ?? operator since C# 7,3 I think. Closing.

[2020-07-18 01:19] crtab commented on #2207
Just leaving a comment here to say I also fell into this trap and spent quite a while trying to figure out what was wrong. My experience with other generator plugins lead me to believe I could call the plugin directly, as opposed to having to run a compile.

[2020-07-18 04:15] crtab commented on #1085
Ran into the same issue - as I'm using openapi-generator to create a client to consume an existing external API, I don't need (or want) the swagger annotations as I won't be reproducing documentation already available from an external party.

[2020-07-18 04:20] kmturley opened #6979 "nodejs-express-server - Auto-populate URL_PORT, URL_PATH, BASE_VERSION from schema servers url"
### Is your feature request related to a problem? Please describe.

Under the v3.0 spec, you can configure the server url, port and base API path, as shown here
[code]
https://swagger.io/docs/specification/basic-structure/

However when generated using nodejs-express-server the settings are not used. They seem to be hardcoded:
[code]
https://github.com/OpenAPITools/openapi-generator/blob/master/mo

[2020-07-18 08:30] Andrewpk opened #6982 "[BUG] Kotlin multiplatform requires auth methods"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-18 11:01] wakedeer commented on #1466
Any updates on this issue?

[2020-07-18 11:03] wakedeer commented on #5515
Any updates on this issue?

[2020-07-18 20:39] juniocezar commented on #5421
I am facing the very same problem currently. Your suggested patch indeed solves the problem.

I am thinking in creating my own container of the openapi-generator with this fix, so I don't have to manually edit the generated clients.

[2020-07-18 22:05] bit-factor commented on #6853
In addition, regular file upload is not working. For a simple upload like this:

`------WebKitFormBoundaryyN1chvLecCMpLg1F
Content-Disposition: form-data; name="file"; filename="sample.txt"
Content-Type: text/plain

00000
11111
22222
33333
44444
55555
66666
77777
88888
99999
------WebKitFormBoundaryyN1chvLecCMpLg1F
Content-Disposition: form-data; name="submit"

Upload Image
------WebKitFormBoundar

[2020-07-18 23:01] spacether opened #6987 "[python-experimental] drop python2, switch to python3 only"
- [X] remove future from templates + samples
- [X] remove six from templates + samples
- [X] remove mock from tests
- [X] remove python2 target from make command
- [X] remove 2.7 from travis.yml, .gitlab-ci.yml, tox.ini
- [X] add python3 to as a requirement to setup.py

[2020-07-18 23:02] spacether opened #6988 "[python-experimental] remove model module names from model names"
Java: remove the Java code which sets the python model imports to use pet.Pet to describe external classes, remove the try except import loading

Blocked by: https://github.com/OpenAPITools/openapi-generator/projects/11#card-41822074

[2020-07-18 23:07] spacether opened #6989 "[python-experimental] create generator-specific method to unalias schemas and have python-experimental use it"
Clean up the python-experimental java layer so we return models for primitive schemas with validation when an endpoint references a - simple type with validations

- create unaliasSchema as method in defaultCodegen
- in defaultCodegen invoke the modelutils version
- in python-experimental use its own version where $refed primitive schemas with validations are treated as models

[2020-07-19 04:28] jsilverpa opened #6990 "[BUG] Generated R client code does not allow multiple Query Params with the same argument name"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-19 07:52] bit-factor commented on #6853
PR is here: https://github.com/OpenAPITools/openapi-generator/pull/6986

[2020-07-19 16:45] #6987 closed

[2020-07-19 20:03] trixprod commented on #6005
@tan9, nothing new about this ticket ?

I'm surprised that "position" is not valid for openapi java generator.

[2020-07-19 20:18] trixprod opened #6992 "[REQ] Openapi java / spring extension to generate order / position annotation for model attribute"
Hello, my request is simple. I think it already exists but i can't find it.

Does it exist a way to generate a java annotation ( custom or legacy ) which contains an information of ordering.

Example :

@Order(value = 1) or @ApiModelProperty(position = 1)
private String name;

This attribtute will just be read by java reflection.

ApiModelProperty contains position but it's not recognized by the j

[2020-07-20 05:13] himadree-shekhar opened #6994 "[cpprestsdk] Bug: if block for setting localVarRequestHttpContentType for content type x-www-form-urlencoded is not generating"
##### Description
I was trying to generate c++ REST SDK client for submitting form request.
However i noticed the generated API function code has following part:
[code]
    else if (localVarConsumeHttpContentTypes.find(utility::conversions::to_string_t("application/x-www-form-urlencoded")) != localVarConsumeHttpContentTypes.end())
    {
        localVarRequestHttpContentType = utility::conversions

[2020-07-20 05:28] dragetd commented on #2207
I have not tested it recently. Is it still the case @crtab ?

[2020-07-20 05:53] nhoughto commented on #5097
Not being able to trigger inheritance instead of composition when polymorphism isn't needed seems like a useful feature, with this changed does that mean there is now no longer a way to achieve it?

[2020-07-20 07:30] ghobona commented on #4612
The work around suggested by @conet works well. In my case, I added it to the pom.xml file as shown below.

[code]

[2020-07-20 09:14] bseiller commented on #6934
Ok, one question: Should I base the PR on master or on the tag of 4.3.1?

[2020-07-20 10:18] wing328 commented on #6934
Latest master please

[2020-07-20 10:57] #6976 closed

[2020-07-20 12:21] pratikmallya opened #6997 "[REQ] Add support for generating Quarkus Server Stubs"
### Is your feature request related to a problem? Please describe.

As a user of Quarkus, I would love the ability for open-api codegen to generate opinionated, quarkus oriented server stubs that I could then use to build a quarkus based API.

## Describe the solution you'd like
The codegen would probably be almost identical to JAX-RS resteasy; the difference would be in the README and the metadat

[2020-07-20 14:12] #6972 closed

[2020-07-20 14:54] #6715 closed

[2020-07-20 15:57] Allezxandre commented on #5256
I'm also stumbling on this issue using a Python OpenAPI definition. My date-times are in the RFC3339 format with 6 digit, like so: `2020-07-20T17:00:00.123000+00:00`.

But the Swift5 generator is crashing for me (on versions `4.3.1` and `5.0.0beta1`).

<details>
  <summary>(Disclose the full error)</summary>

[code]
</details>

[2020-07-20 20:39] bradvido commented on #6807
Yes please! Our calls often have 20+ params, and really only the first few are required, so it's really messy and hard to read when we have to have a bunch of nulls to make the call.

[2020-07-20 22:48] mohanaraosv commented on #3668
But the original query was when we are using **jaxrs-cxf** not spring-mvc or webflux implementation.

[2020-07-21 00:48] littlespex opened #7004 "[BUG] [nodejs-express-server] Generated output does not include api-docs path"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-21 05:24] wing328 commented on #7004
We've merged https://github.com/OpenAPITools/openapi-generator/pull/6977 to fix it. Please pull the latest master or use the snapshot to give it a try.

Happy to reopen the issue if it still exists.

[2020-07-21 05:24] #7004 closed

[2020-07-21 10:08] cbornet commented on #4245
This is not due to the annotations. You can perfectly generate an OAS3 from old swagger annotations. The fact that a Swagger2 spec is exposed comes from the lib used to generate it (probably springfox v2 ?). You can upgrade to Springfox v3 which supports generating OAS3 specs.

[2020-07-21 12:46] wing328 commented on #5256
@Allezxandre thanks for the PR. We'll review and merge accordingly if no question from us.

@cljk @FloKaemmerer please give the latest master a try as I could no longer repeat the issue.

[2020-07-21 12:59] wing328 commented on #6807
Please try the vendor extension `x-group-parameters` with Java client generator (okhttp-gson, jersey2, native).

[2020-07-21 13:08] wing328 commented on #6990
I think you will need the following to describe your query parameter(s):

[code]

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#style-examples

(but I don't think that's currently supported by the R client)

[2020-07-21 13:10] wing328 commented on #6959
We seldom do that. Sometimes we throw warnings to inform the users that certain things in the spec are not yet supported.

[2020-07-21 13:20] wing328 commented on #6959
@dkliban Your suggested fix looks like a good start. Mind sharing more about the run time failure?

[2020-07-21 13:41] ogerardin commented on #4222
I just ran into the same problem.
@crosbyb did you use a workaround ?

[2020-07-21 13:45] ChristianCiach opened #7007 "[BUG] Revert update to Feign 11"
https://github.com/OpenAPITools/openapi-generator/pull/6068 updated the Feign library to 11, but this artifact has been pushed to Maven Central by accident. See here: https://github.com/OpenFeign/feign/issues/1218#issuecomment-621766031

There is still no official release of Feign 11 on their Github page. Feign 11 is extremely buggy for us, so we had to downgrade our generated api clients.

Please

[2020-07-21 13:55] ChristianCiach commented on #7007
@wing328

[2020-07-21 13:58] bradvido commented on #6807
@wing328 that looks great!  But after searching, I can't find an example of how it's used. Could you provide a quick code sample?

[2020-07-21 14:04] wing328 commented on #7007
@ChristianCiach thanks for pointing it out. I'll update it tomorrow.

[2020-07-21 14:19] dkliban commented on #6959
@wing328 The traceback can be seen here: https://github.com/pulp/pulpcore/pull/785#discussion_r455976578

[2020-07-21 15:51] jsilverpa commented on #6990
Thanks for the comment.   Can you clarify what you mean by "I think you will need"?  According to https://swagger.io/docs/specification/serialization/
`
"style": "form",
"explode": true
`

is the default value so it does not need to be included.   You are saying even the default is not supported by the R client?

[2020-07-21 17:03] thebhushanp commented on #3813
@spacether Can you guide me little on where should I look in the code for this above approach ?

[2020-07-21 20:45] rvowles commented on #6904
@Thornsnake are you sure you are using the Typescript AXIOS client? It doesn't generate sets.

[2020-07-22 01:58] rvowles commented on #6904
and the second ternary option needs to be an empty array ideally. Not an object.

[2020-07-22 01:58] rvowles commented on #6904
(I'm fixing this in my variant)

[2020-07-22 02:29] rvowles commented on #5262
If you look at the example, you are required to put the property in the base type yourself.

https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

so @class should be a property with a type, etc defined.

[2020-07-22 06:53] kierans opened #7009 "[BUG][OBJC] Boolean header not being recognised as boolean type"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-22 07:24] Song2017 opened #7010 "[BUG][Python3.7][openapi-generator-cli] ImportError: cannot import name 'GenericMeta' from 'typing'"
### Description
When running python client package in python 3.7 runtime, it raised error `ImportError: cannot import name 'GenericMeta' from 'typing'`
- typing.GenericMeta is [not available in Python 3.7](https://github.com/python/typing/issues/468)
- add [ImportError exception](https://github.com/pawamoy/mkdocstrings/issues/2)
### openapi-generator version
- openapitools/openapi-generator-cli:v4

[2020-07-22 07:36] wing328 commented on #7009
That is for the query parameter.

We may need to copy that for the header parameters (and other parameters such as form, path, etc as well)

Would you have time to help contribute a fix on this?

[2020-07-22 08:29] #6944 closed

[2020-07-22 08:48] thepipeman commented on #3808
@lsuski were you able to find a workaround for this?

[2020-07-22 08:52] #4562 closed

[2020-07-22 08:56] wing328 commented on #7007
@ChristianCiach I've filed https://github.com/OpenAPITools/openapi-generator/pull/7012 to rollback Feign version.

[2020-07-22 10:04] Sshnyari commented on #2844
I had the same issue, but with a client generator. with typescript-redux-query we have the same methods duplicated among different files, thus the generated code have compile errors.

@wing328 considering only the first tag means that there is a primary tag, and that defeats the purpose of tags.

Is there another way to regroup paths in code ? (by path start perhaps)

[2020-07-22 10:47] nasht00 opened #7015 "[BUG] Swagger-UI is broken"
https://github.com/swagger-api/swagger-ui/issues/6249

One of your dependencies has a bug.

Is there a way to workaround it until they fix it? Maybe a way to use the previous version that worked?

[2020-07-22 11:14] wing328 commented on #6997
@pratikmallya thanks for the suggestion. Would you have time to contribute the Quarkus server stub generator?

[2020-07-22 11:46] jimschubert commented on #6950
@spacether would you be able to look into this? I didn't do a git bisect, but I think it may be related to the composition changes you made.

[2020-07-22 12:28] thepipeman opened #7016 "[BUG] [Java]: Wrapper class with generic type can't be compiled successfully because of a special character "«»" present in the equals method"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-22 12:50] lsuski commented on #3808
I have own postprocessor built upon openapi generator and antlr. It recognizes invalid character in class name and replaces it

[2020-07-22 13:10] jcimoch commented on #6282
When it will be fixed?

[2020-07-22 13:21] #7007 closed

[2020-07-22 13:52] toymachiner62 commented on #6134
Command used to generate along with the swagger.json file url
[code]

[2020-07-22 14:16] NickHardy opened #7017 "[REQ] Would like a requestPropertyNaming config option in typeScript-fetch"
### Is your feature request related to a problem? Please describe.

Currently requestProperty names are rewritten. For instance underscores are removed.

## Describe the solution you'd like

I'd like an option to choose for original naming. just like with modelPropertyNaming and enumPropertyNaming.
eq. requestPropertyNaming - Naming convention for request properties: 'camelCase', 'PascalCase', 'sn

[2020-07-22 14:58] spacether commented on #6950
Yup I will look in to this.

[2020-07-22 15:43] ioannisioannou16 opened #7018 "[BUG][Java][jersey2] Incorrect import mapping for arrays"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [x] [Optional] Bounty to sponso

[2020-07-22 16:05] Thornsnake commented on #6904
I am using the command with the parameter **-g typescript-axios**.
I think that should be the correct one, but this was my first time using this generator, so I might have made a mistake somewhere.

I executed the whole command (java -jar openapi-generator-cli-5.0.0-beta.jar generate -i https://esi.evetech.net/_latest/swagger.json -g typescript-axios -o api) again to double check, but it definitel

[2020-07-22 18:45] ericpetrowiakjelli opened #7019 "[REQ] Allow ability to get raw response as String from ApiResponse"
### Is your feature request related to a problem? Please describe.
I have run into clients that return void for various reasons, but actually have a text response. This is when using the generated client library 'jersey2'.
[code]

## Describe the solution you'd like
I'd like for the ApiResponse<T> to have an additional field that would return the raw response as a String.

## Describe alternatives

[2020-07-22 19:13] #6462 closed

[2020-07-22 19:45] ybelenko opened #7020 "[REQ][php-symfony] Add Mock Server optional feature"
### Is your feature request related to a problem? Please describe.

I've successfully integrated Mock Server in `php-slim4` and I'm going to add this feature to rest PHP server generators. If there are users or contributors who against it, please leave a comment.

## Describe the solution you'd like

Add Mock Server feature(optional, disabled by default) to `php-symfony` server generator.

## Addi

[2020-07-22 19:47] ybelenko opened #7021 "[REQ][php-laravel] Add Mock Server optional feature"
### Is your feature request related to a problem? Please describe.

I've successfully integrated Mock Server in `php-slim4` and I'm going to add this feature to rest PHP server generators. If there are users or contributors who against it, please leave a comment.

## Describe the solution you'd like

Add Mock Server feature(optional, disabled by default) to `php-laravel` server generator.

## Addi

[2020-07-22 19:49] ybelenko opened #7022 "[REQ][php-lumen] Add Mock Server optional feature"
### Is your feature request related to a problem? Please describe.

I've successfully integrated Mock Server in `php-slim4` and I'm going to add this feature to rest PHP server generators. If there are users or contributors who against it, please leave a comment.

## Describe the solution you'd like

Add Mock Server feature(optional, disabled by default) to `php-lumen` server generator.

## Additi

[2020-07-22 19:50] ybelenko opened #7023 "[REQ][php-ze-ph] Add Mock Server optional feature"
### Is your feature request related to a problem? Please describe.

I've successfully integrated Mock Server in `php-slim4` and I'm going to add this feature to rest PHP server generators. If there are users or contributors who against it, please leave a comment.

## Describe the solution you'd like

Add Mock Server feature(optional, disabled by default) to `php-ze-ph` server generator.

## Additi

[2020-07-22 20:08] rvowles commented on #6904
Yes, its a new feature of 5.0. I have fixed it in my attempt to fix it:
https://github.com/rvowles/openapi3-typescript-axios

On Thu, Jul 23, 2020 at 4:06 AM Thornsnake <notifications@github.com> wrote:

--
---
Richard Vowles,
Full stack - from Kubernetes, through Node & Java, Web and Mobile
development in Flutter - software developer for hire!

ph: +64275467747

[2020-07-22 22:59] parindakshah commented on #4777
Is there any possibility of getting this bug resolved for non Jersey2 types?

[2020-07-22 23:01] parindakshah commented on #4777
Is there any possibility of getting this bug resolved for non Jersey2 types?

[2020-07-23 02:39] #6954 closed

[2020-07-23 03:26] #6727 closed

[2020-07-23 03:26] #3633 closed

[2020-07-23 06:09] #6969 closed

[2020-07-23 08:08] nasht00 commented on #7015
Swagger fixed the bug, no longer relevant (avoid `swagger-ui-dist@3.30.1`)

[2020-07-23 08:08] #7015 closed

[2020-07-23 14:16] UnleashSpirit opened #7032 "[REQ] Improvment additionalModelTypeAnnotations"
### Is your feature request related to a problem? Please describe.

Not really, there is a "workaround"
I need multiple model annotations but the additionalModelTypeAnnotations is not really clear
If you want multiple you need either to write all of them oneline or one by line which result in lot of useleff blank space (ok not a big deal)
#### Exemples
Using
[code]
Result in
[code]
Yes there is a

[2020-07-23 14:31] gm4git commented on #4875
@johnthagen have you find a way to generate `Date` objects for `strings` with `date-time` formats? I tried adding `--type-mappings=DateTime=Date` but it didn't work. I'm using v4.3.1

[2020-07-23 15:31] sylvester-rubidium opened #7033 "[BUG][Java][jersey2] Bug generating client with jersey2 for specification with anyOf or oneOf"
##### Description

I have an API specification that makes use of inheritance and polymorphism using the `oneOf`,`anyOf`, and `allOf` syntax. In the current master snapshot, the Java generator using `jersey2` library handles the `allOf` inheritance without errors. However, the `oneOf` and `anyOf` polymorphism does not result in the creation of classes, thus causing compile errors.

##### openapi-ge

[2020-07-23 15:40] johnthagen commented on #4875
No, I needed to do the serialization outside the generated class. It seems like that is the only option as far as I could tell.

[2020-07-23 17:26] kcsuraj opened #7034 "[REQ] Support for withAWSV4Signature in TypeScript Axios Generator"
TypeScript generator lacks support for signing apis with AWS v4 generator.

This generator lacks `withAWSV4Signature` which indicates whether to include AWS v4 signature support. This feature is available in Go generator: https://openapi-generator.tech/docs/generators/go/

So, it would be great to have support for this feature in TypeScript Axios generator as well.
https://openapi-generator.tech/d

[2020-07-23 19:05] nrgraham23 commented on #6715
Hello,

Is there documentation on how this is used?

I am using gradle and have done the following:

Added this to my dependencies:

`compile group: 'org.springframework.android', name: 'spring-android-rest-template', version: '1.0.1.RELEASE'`

Updated our generator:

`id "org.openapi.generator" version "5.0.0-beta"`

And added this option to the configOptions:

`    configOptions = [

[2020-07-23 19:50] patst opened #7036 "[REQ] [typescript-angular] Support Angular 10"
### Is your feature request related to a problem? Please describe.

I want to have the API clients generated using `ngVersion=10.0.0`.
At the moment this does not work because at least the typescript version needs to be bumped to `>=3.9.2 <4.0.0`.

## Describe the solution you'd like

Update the typescript and ngpackagr dependencies if `ngVersion` is set to 10.

Maybe increase the default version

[2020-07-23 21:51] MosheElisha commented on #6715
Hi,

The feature is not included in 5.0.0-beta and will be included in 5.0.0-beta2 that is expected to be released in 30.07.2020.
If you would like to test this feature earlier, you should use the latest 5.0.0-SNAPSHOT.

[2020-07-24 01:07] seantreg opened #7038 "[BUG][JAVA] Problem generating model where default value is specified for date property"
##### Description

Model properties that are dates generate invalid Java code where a default value is specified.

##### openapi-generator version

v5.0.0-beta

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

java -jar openapi-generator-cli-5.0.0-beta.jar generate -i test.json -g java -o .\output --additional-properties dateLibrary=java8-localdatetime

[2020-07-24 01:14] anusha94 commented on #2151
Hi @GeneticGenesis
+1 for this feature!
Have you considered creating a PR?

[2020-07-24 01:45] spacether commented on #3813
Sure thing :)
So I think that [this](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java#L487) is where the parameter names are set in the python client
And here is an example of a PR that adds a CLI parameter in a python generator:
https://github.com/OpenAPITools/openapi-generator/pull/47

[2020-07-24 03:56] #5256 closed

[2020-07-24 06:48] volphy opened #7039 "[BUG] OpenAPI Generator CLI command help does not work"
Whenever I want to get help on a particular operation it says:
[code]

General help works for me:
[code]

My Java version:
[code]

[2020-07-24 06:49] volphy commented on #7039
My bad. The following works:
[code]

[2020-07-24 06:49] #7039 closed

[2020-07-24 07:44] rvsingh011 commented on #4576
I am also getting inappropriate model generated for anyOf in golang generators,
[code]
It is generated like this. Any fix for this?

[2020-07-24 08:37] ogerardin commented on #4208
What's the status on this ? It seems I have the same issue (Maven plugin, v4.3.0, using templateDirectory)

[2020-07-24 08:44] cervengoc opened #7040 "[BUG][typescript-fetch] Serilizer and deserializer methods should not be generated when generating only models"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

We'd like to

[2020-07-24 08:44] #6712 closed

[2020-07-24 10:20] ogerardin commented on #6715
This is a good idea, but is there a reason for not using the interface Resource instead of AbstractResource ?

[2020-07-24 10:23] Sshnyari opened #7042 "[BUG][aspnetcore] Virtual and abstract not used correctly"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-24 12:30] #7036 closed

[2020-07-24 12:37] LeKwisatz opened #7044 "[BUG][TypeScript] Description"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-24 12:56] MarcMil opened #7045 "[BUG] [General] Problem with inheritance when subclass has no property"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? - 5.0.0-beta
- [x] Have you search for related issues/PRs?

##### Description

The problem occurs when reading a schema with subcl

[2020-07-24 13:29] LeKwisatz commented on #7044
here is the full stacktrace

[code]

[2020-07-24 14:02] sk- opened #7046 "[BUG] [typescript-axios] Somewhat incorrect code with multiple api keys"
##### Description

The code generated when [multiple api keys](https://swagger.io/docs/specification/authentication/api-keys/#multiple) are defined is somewhat incorrect, as only an `apiKey` defined as a function would work (unless of course both api keys required the same value).

See the generated code below

[code]

Instead I think that the apiKey in this case should be an object, holding both

[2020-07-24 14:21] MosheElisha commented on #6715
Good question :-). No good reason except it was just missed. I will change it to Resource soon. Thanks!

[2020-07-24 16:26] brisssou commented on #6190
here is how we ended up doing it:

[code]

I'm no Gradle expert either, but here is what I've been told:
The `GenerateTask` code package also contain the generator code. This classpath of the task is evaluated during the configuration phase of the gradle build, and you cannot go back and update the build env. The classpath of the task execution is the gradle execution one, the task is not spawning

[2020-07-24 20:01] devhl-labs opened #7048 "[REQ][csharp-netcore] Cancellation Tokens"
Please consider adding an optional CancellationToken to async calls similar to https://github.com/OpenAPITools/openapi-generator/pull/6243.

[2020-07-25 18:10] devhl-labs commented on #6935
If yml has a way to specify which property of the mutable type is the key, that could help decide what should be in GetHashCode.  I just tried setting my id property isId: true and that produced no change in the GetHashCode.

[2020-07-25 23:45] ybelenko commented on #6626
Closed in #5930

[2020-07-25 23:46] #6626 closed

[2020-07-26 06:43] spacether commented on #6950
@jeff9finger when did this last work for you?
When I tested our 4.2.3 release I also did not see extend being used.

[2020-07-26 07:33] wing328 commented on #6935
@devhl-labs what about using vendor extensions (e.g. x-csharp-mutable-type) to annotate the property?

[2020-07-26 19:17] JRAndreassen opened #7053 "[REQ] proposal: rust/reqwest changes"
@frol / @farcaller / @richardwhiuk / @paladinzh

In order to make the rust/reqwest api/models more flexible for use with an arbitrary/external client
I would propose the following changes...

1) Add extensions to alter generation :
 new extension attributes:  vendorExtensions.*
     x-add-dependencies          Cargo dependency additions
     x-add-dependencies-dev  Cargo dependency-dev additions

[2020-07-26 20:06] devhl-labs commented on #6935
I don't know what that is and I don't see it online anywhere.  However, I tried adding this to

`{{^vendorExtensions.x-is-id}}
// this is an id {{name}}
{{/vendorExtensions.x-is-id}}`

It puts the text for all properties, so I'm not sure how to check if it has the x-is-id property.

[2020-07-26 20:21] mishin commented on #6616
I found the same issue https://github.com/FasterXML/jackson-module-kotlin/issues/80

[2020-07-27 02:17] wing328 commented on #7048
@devhl-labs thanks for the suggestion. May I know if you've time to contribute a PR with the enhancement?

[2020-07-27 02:29] devhl-labs commented on #7048
I can give it a go.  Do I do a pr for master or 5.0?  In the issue I referenced there is a pr checklist, I don't understand the last bullet.  Copy the technical committee.  Sorry, copy what?

[2020-07-27 03:36] wing328 commented on #7048
Please target the current master (5.0.0-snapshot)

Please copy (cc or tag) the C# technical committee stated in https://github.com/OpenAPITools/openapi-generator#62---openapi-generator-technical-committee to review the PR.

[2020-07-27 10:01] amorozov commented on #3360
I would like to ask what generator did you use for that?

[2020-07-27 11:03] heyudude opened #7056 "Question on the bearer aurhorisation / apikeys"
##### Description

I am writing a website generator for a game Brawlstars, their API is defined and they use bearer auth with api keys limited to IP addresses. If I make a manual get request the response is OK. Via the generated code and some tests the response is "Missing Authorisation"
The api url format is:
[code]
##### openapi-generator version

version 3.0.0 and tried also with 3.0.3 format,

[2020-07-27 14:03] gmeral opened #7057 "[BUG][DART] Multiple security options are all being added instead of only one."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-27 16:56] spacether opened #7058 "[python-experimental] models + endpoints, replace allowed_values with enums"
Include python Enums when the schema defines an enum

This applies to:
- endpoints
    - inline enum
    - $ref enum
- enums in object type models
    - inline enum
    - $ref enum
- models of type enum (ModelSimple models)

[2020-07-27 17:11] devhl-labs commented on #7048
I'm running `mvn clean install` which appears to succeed, then from .\bin\windows `& ".\typescript.bat` to update the samples, but that gives me an error of `The goal you specified requires a project to execute but there is no POM in this directory (E:\repos\openapi-generator\bin\windows). Please verify you invoked Maven from the correct directory.`  I'm not sure how to update the samples.

[2020-07-27 23:05] jeff9finger commented on #6950
I just started recent work in 4.3.1. Am trying to move my company onto this tool. So, I'm not sure it was working, but accoring to @jimschubert, this should work.

[2020-07-28 00:38] lgnashold opened #7059 "[BUG] Content-Type headers for */* contents always default to application/json in client generation"
##### Description

If an open api specification wants to support an arbitrary content type or arbitrary file uploading, they might use `*/*` as a key in their contents list for a given endpoint. However, when generating a client for this specification using RestTemplate, the `Content-Type header` is always sent as `application/json`.

I would expect the code to be able to support setting custom he

[2020-07-28 01:35] #6988 closed

[2020-07-28 01:43] spacether opened #7060 "[python-experimental] simplify python-experimental serialization"
Have the python serializer use a json serializer and handle inputs based on class type. Serializing the data in a serializer feels like a cleaner compartmentalization vs using a function to do it.

[2020-07-28 02:22] #6934 closed

[2020-07-28 02:29] kierans commented on #7009
@wing328 If I can get some time on my project I will.

[2020-07-28 05:43] spacether opened #7064 "[python-experimental] add byte support"
Add byte support
byte -> str
- in Java for a codegenproperty + codegenparameter that is type byte add the base64 regex
`^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$`
This will mean that all byte types have validations.
This way validation errors will be raised if the client or server loads malformed data into byte models or properties.

[2020-07-28 08:02] #6853 closed

[2020-07-28 08:21] wing328 commented on #7038
@seantreg thanks for reporting the issue. The correct code should look like the following?

[code]

[2020-07-28 09:40] rainmanhhh commented on #6771
sameproblem for typescript-rxjs

[2020-07-28 10:31] heyudude commented on #7056
I figured out the above question by hard coding the value for `access_token` in the `configuration.py`
Now the api call succeeds!

Next question: where to initialize the value correctly? because access_token needs to added manually as it seems

[2020-07-28 13:35] ro0NL opened #7065 "[REQ][PHP] Patch "null" values"
We are unable to perform an API patch request, to change a field value to "NULL" (as supported in JSON and openapi schema).

This is caused by https://github.com/OpenAPITools/openapi-generator/blob/fa75469828fdfe6b43487b7826655e1d15432d7a/samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php#L91-L93

and im generally curious why those fields are ignored.

[2020-07-28 15:16] #7060 closed

[2020-07-28 16:07] M3lkior commented on #5358
Same problem here. i need to use java11 for packaging but stuck with this java 8 limitation

[2020-07-28 17:52] BullDog57Rus commented on #4849
Any updates/workaround on this?

[2020-07-28 18:39] rvowles commented on #6771
@rainmanhhh without a proper deserializer this thing won't ever work. I'm in the last throes of testing my changes before submitting them back. The model generate and de/serializer will work now without the api libraries, so it will be able to be used with whatever transport you use.

[2020-07-28 21:49] roostapour opened #7066 "[BUG] [JAVA} "additionalProperties" does not generate a HashMap Model, openapi: 3.0.2"
##### Description
I am using "additionalProperties"  in my yaml file as below.
[code]

But when running `mvn clean package`, no class is being created for Messages. I was expecting to see a class like :
[code]
in `org.openapitools.client.model.Messages` the same as other classes generated based on the yaml file. I tried ` additionalProperties: true` and ` additionalProperties: {}` but none of them

[2020-07-29 02:01] wing328 commented on #7066
Please try the option `generateAliasAsModel`, which will generate array, map as models

[2020-07-29 02:20] wing328 commented on #5358
Which version are you using? Can you try the latest master or 5.0.0-beta?

[2020-07-29 07:35] #6929 closed

[2020-07-29 08:19] roostapour commented on #7066
Thanks for your answer @wing328 . I tried both
[code]
and
[code]

But none of them worked. How should I set the `generateAliasAsModel` option?

[2020-07-29 08:21] mdavis-xyz opened #7069 "[REQ] Document what the folder structure is"
As a new contributor, I find this repo's structure to be very unintuitive and confusing.

It's hard to find the files I need to modify. The important ones, like the mustache templates for each generator are nested 6 layers deep, under parent folders that aren't clear.

For example, imagine you're a user who's just generated some code with this tool.
You spot an error in the generated code, so you

[2020-07-29 08:46] #522 closed

[2020-07-29 08:57] typhoon2k opened #7070 "[BUG] PlantUML generation produces a lot of warnings"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-29 09:44] wing328 commented on #7070
@typhoon2k thanks for reporting the issue. I've filed #7071 to fix it.

[2020-07-29 09:46] wing328 commented on #7066
Doc: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator-maven-plugin

I think the first one should work ...

[2020-07-29 09:46] karaatanassov opened #7072 "[BUG][GO] go api_* files fail to import time module"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used? 4.3.1, 5.0.0 Beta in both go and go-experiemental modes
- [X] Have you search for related issues/PRs? Yes .I filed similar in swa

[2020-07-29 11:01] #7070 closed

[2020-07-29 11:11] wing328 commented on #7070
@typhoon2k fixed. Please pull the latest master to give it another try.

[2020-07-29 11:47] typhoon2k commented on #7070
Looks good now, there are no warnings anymore. Thanks!

[2020-07-29 12:25] M3lkior commented on #5358
It seems to be ok using the 5.0.0-beta version but it is still a pre-release version ;)

Thanks

[2020-07-29 12:58] da9l commented on #4568
This has still not been fixed. I got exactly the same error trying to generate a mock today.

I'd guess that is just a matter of finding out what to replace https://www.nuget.org/packages/AspNet.Security.ApiKey.Providers with.

[2020-07-29 16:19] oscarfh commented on #5004
If it helps, I am getting the following error message interchangeably with the error message already provided.
[code]
Going back to 4.2.2 works.

[2020-07-29 16:24] wing328 commented on #4568
@da9l may I know if you've time to contribute a fix? The templates can be found in https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/fsharp-giraffe-server

[2020-07-29 18:12] roostapour commented on #7066
@wing328 I realized if I define a Map of string to string in the yaml file like the following then `generateAliasAsModel` works.
[code]

But if the value is an object or ref (which I need) like the the following then `generateAliasAsModel` does not work and doesn't generate `Messages`

[code]
or
[code]

[2020-07-29 19:11] BullDog57Rus commented on #5565
@wing328 Hey! Any updates on this bugfix? It would be nice to have this feature implemented :)

[2020-07-29 19:12] BullDog57Rus commented on #5381
@bkabrda Hey! Do you know if there are any updates on this issue? It would be really nice to have this feature :)

[2020-07-29 20:57] da9l commented on #4568
If I knew how to replace the removed package I'd do it. Right now I don't
but it's a useful tool and an interesting problem so yeah, maybe.

Den ons 29 juli 2020 18:24William Cheng <notifications@github.com> skrev:

[2020-07-29 22:56] mdavis-xyz opened #7075 "[BUG] [Online Generator] silently fails and seemingly does nothing when spec uploaded"
# Steps to reproduce

1. Go to [the online generator](http://api.openapi-generator.tech/index.html) (stable or master, same on both)
2. Upload any valid json spec

# Expected behavior

Something on the page should change.

If the spec is invalid, it should say so. (It does if you try to upload a yaml spec.)

If the spec is valid, I should get a download popup, or a link saying "click here to gener

[2020-07-29 23:08] mdavis-xyz opened #7076 "[BUG] [python-flask] server doesn't work, crashes on tests"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-30 00:50] roostapour commented on #7066
Just to add, I do have the same issue on javascript side. Having the following version in my package.json
[code]
and running with `--generate-alias-as-model` flag, with the same yaml file behaves exactly the same as Java side. For Map of string to string it works but for Map of string to object/ref it does not generate the model.

[2020-07-30 01:25] wing328 commented on #5358
Just reviewed my conversations with @kibertoad and confirmed the issue has been fixed in v4.3.1

[2020-07-30 01:25] #5358 closed

[2020-07-30 01:43] wing328 commented on #7034
@kcsuraj may I know if you've time to contribute the enhancement? We can show you some good starting points to start with.

[2020-07-30 01:51] nmfisher commented on #4568
I’ll take a look at it.

[2020-07-30 02:19] #2567 closed

[2020-07-30 06:49] M3lkior commented on #5358
For info, I'm previously using v4.3.1 and it does not work with this version

[2020-07-30 07:03] kcsuraj commented on #7034
@wing328 Sure. I can give it a try.

[2020-07-30 07:41] typhoon2k opened #7079 "[Question] Is it possible to generate model file names with "i-" prefix in TypeScript Axios generator?"
##### Description

We are using  TypeScript Axios generator and trying to generate model files (with interfaces) with "i-" prefix in file names.
At the moment using "I", "i", "i-" as model name prefix will always generate file name without dash.
For example, GoodEntity in OAS is generated as igood-entity.ts.
It's also interesting that if we try to use 2 letters as prefix (for example, "ii"), then

[2020-07-30 08:08] ybelenko commented on #6217
Closed via #7067

[2020-07-30 08:08] #6217 closed

[2020-07-30 08:13] HyeonGook opened #7080 "[BUG] [typescript-fetch] Discriminator field transformed from snake_case to CamelCase incorrectly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description
We use `Python

[2020-07-30 08:33] spacether opened #7081 "[python-experimental] improve binary handling"
Bytes Improvement
We Should be able to send byte or files when type is binary, should be able to receive type bytes or files
Add tests for:
- Tx Post bytes
- Tx Send file in form
- Tx Send files in forms
- Rx Receive file with content-disposition + filename set
- Rx Receive files with content-disposition + filename set
- Rx Receive bytes without content-disposition

Add endpoint argument _binary_r

[2020-07-30 14:43] devhl-labs opened #7082 "[REQ] Support for rate limiting"
I don't see a way to implement rate limits.  I have the following changes to my templates to support this in my csharp-netcore template that uses bearer tokens.

## Configuration.cs
[code]

## ModelApi.cs
[code]

This allows the consumer to set the GetTokenAsync function to one of their own that handles rate limits.  It also has the benefit that it allows the consumer to use multiple bearer tokens

[2020-07-30 17:13] pvdbosch commented on #5957
https://github.com/eclipse-ee4j/jaxrs-api/issues/418 talks about adding support for multipart to JAX-RS. It lists the different implementation-specific mechanisms that currently exist (https://github.com/eclipse-ee4j/jaxrs-api/issues/418#issuecomment-481323782), but the generated code doesn't seem to match any of them.

Maybe the jaxrs-spec code generator should fall back to generate an InputStrea

[2020-07-30 20:42] badsyntax opened #7083 "[BUG] [typescript-fetch] quotes added to text/plain POST body"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-30 21:31] calvinwyoung commented on #6423
@benwiley4000 PR #6873 was just merged to fix this — you should be able to close this issue now.

[2020-07-30 23:27] abhijith-prabhakar commented on #7066
It is slightly different issue in JAX-RS.  I am working on v4.3.1 and OpenAPI v2

It generates Message.java but the pojo where messages are included does not have type information.  This generates a compile error.
[code]
I traced it to below code on pojo.mustache
[code]
I am not sure how HashMap<> is getting substituted here.

[2020-07-31 09:58] #4656 closed

[2020-07-31 10:02] dmavrichev opened #7090 "[BUG][JAVA] Fix error handling in okhttp-gson async api client #7089"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([exasmple](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spons

[2020-07-31 14:51] TehBakker commented on #5478
Any news on that?
This prevents me from using openPai plugins requiring the right annotation, there is no reason to use the old atm.
A property to allow to use old one might be good, but the default implementation should be the right annotations

[2020-07-31 14:56] TehBakker opened #7092 "[REQ] Is there a way to prevent user from being able to push body boolean attribut = null"
### Is your feature request related to a problem? Please describe.

I've described in my openApi that a boolean field is optional, and the default value is false, because most ppl do not need to care about this argument.
I've defined a default value, and it worked great until a customer sent an explicit null value.

Can I do anything so that the request with null value will be either rejected or t

[2020-07-31 16:10] Sshnyari opened #7093 "[BUG][aspnetcore] Doesn't work well with WebApplicationFactory"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-31 16:19] ruedigerk opened #7095 "[BUG][jaxrs-spec] When using the "jackson" option to disable use of Jackson, some jackson annotations and imports are still generated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-07-31 16:51] pkucmus commented on #6899
I just ran into the same issue. But please see this: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python-flask/util.mustache#L109.
That very line makes the `if` to be `False` and skip the field if it's not in `data` (i.e. a missing but required key).

[code]

Later `data.get` would put a `None` there and be caught by the validator of th

[2020-07-31 17:05] pkucmus commented on #6899
My solution would only work, for the `from_dict` method, I see how yours is better.

[2020-07-31 19:51] ruedigerk opened #7099 "[REQ][jaxrs-spec] Generate typesafe responses from contract"
### Is your feature request related to a problem? Please describe.

I want my Java compiler to be able to typecheck that I can only return responses that are valid according to the contract. This is a feature of the RAML code generator I was using before, but is not available with OpenAPI/OpenAPI-Generator.

Assume I have an operation defined with the following responses in OpenAPI 3:

[code]

Whe

[2020-07-31 20:38] petermetz opened #7100 "[REQ] Flag to Ignore Reserved Keywords"
### Is your feature request related to a problem? Please describe.

The JSON Web Signatures RFC [1] says that a signature can have a property called `protected`.
The `typescript-axios` generator however renames properties like `protected` into `_protected` because it's a reserved keyword in Typescript. The issue is that though a reserved keyword in the language, that doesn't mean that an object ca

[2020-07-31 22:04] mikesaurus commented on #4222
@fermartel @ogerardin
You can workaround this issue by creating a local copy of the Java/resttemplate/api.mustache template and using the templateDirectory or templateResourcePath config properties to override the default.  I just submitted a PR to update the template in the main codebase, so hopefully they will merge this in for the next release.  In the meantime, you can copy the api.mustache te

[2020-08-01 06:27] cljk commented on #5256
@wing328
I´ve lost this issue out of focus - and checking it again is not easy for me since I switched more or less completely to `retrofit2` - which has a different API.
Sorry that I´ve no proof / test case.

[2020-08-01 12:51] #6070 closed

[2020-08-01 14:46] hagevvashi opened #7104 "[BUG] typescript-axios(API Clients) could not build because of --typeRoots option(TypeScriptCompiler) when using yarn workspace"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-01 18:15] donbowman commented on #7072
this worked in 4.2.2

[2020-08-01 19:42] asterikx opened #7105 "[typescript-axios] accept promises for bearer tokens"
### Is your feature request related to a problem? Please describe.

I want to use Bearer authentication with AWS Amliply. Amplify returns tokens as promises (as it checks whether the current token has expired and attempts to refresh it).

[code]

However, the generated API only accepts plain strings or functions returning plain strings for `accessToken`.

[code]

## Describe the solution you'd lik

[2020-08-01 21:21] #6089 closed

[2020-08-02 00:41] spacether opened #7107 "[python-experimental] improve example setting in the java layer"
- improve example setting in the java layer
- only set the example using the schema
- have codegen properties and codegen parameters use that example
- remove codegenparameter example setting

[2020-08-02 05:19] a22349 opened #7109 "[dart-dio]need sample of how to set model's property"
need sample to know how to use api to create model and set property
there is only empty object in readme, which is "Pet pet   =new Pet()" . i can't find other sample in repo .

how to set the "name" property of it ?
the code only has "get" of it :
        @nullable
    @BuiltValueField(wireName: r'name')
    String get name;
to set it i     tried
pet()..name = "testname"
but
"There isn’t a setter

[2020-08-02 09:53] #7048 closed

[2020-08-02 10:34] InfoSec812 commented on #2972
The more I dig into this, the more I am convinced that this needs to be a broader effort which modernizes/updates all of the Java based generators, including JAX-RS. I'm going to close this issue and consider doing some work toward that end.

[2020-08-02 10:34] #2972 closed

[2020-08-02 10:43] InfoSec812 opened #7112 "Refactor AbstractJavaCodegen and inheriting generators to allow use of modern Swagger annotations"
##### Description

In #2972, #6108, #5478, and many others there are complaints about old libraries/annotations being used in various Java generators. As a user of OpenAPI Generator who works in a number of Java toolkits/frameworks, I would like to see the AbstractJavaCodegen and all child generators updated to allow the use of the latest annotations and features of OpenAPI.

##### openapi-generat

[2020-08-02 11:01] InfoSec812 commented on #7112
The work I am doing will be track in this branch:

https://github.com/InfoSec812/openapi-generator/tree/Issue_7112-_-Refactor_AbstractJavaCodegen_and_inheritors

Design Goals:

1. **MUST** not break backward compatibility
1. **SHOULD** allow for more flexibility in choosing supporting libraries
    * Perhaps allowing variaous `x-` extensions to the API Spec will be a reasonable means
1. **MUST** a

[2020-08-02 11:29] ybelenko opened #7113 "[REQ] Pair of server and storage codegens"
### Is your feature request related to a problem? Please describe.

I would like to generate both server stubs and MySQL schema for my project, but it's complicated to connect them right now. For instance, `php-slim4` codegen doesn't know database table/field names while`mysql-schema` generator cannot access model property names. With current implementation it's very hard to use ORM(Object-Relatio

[2020-08-02 17:52] ybelenko commented on #7023
@Articus can you shed some light on how we can create `before` middleware with your `articus/path-handler`?

Does this generator support PSR-15 `Psr\Http\Server\MiddlewareInterface`?

Basically I need to execute my data mocker before each request and return fake response or pass response without any modification(when feature is disabled).

[2020-08-02 18:42] Articus commented on #7023
Yep, you can pipe additional PSR-15 middleware inside App\Factory class - template is [here](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/php-ze-ph/Factory.php.mustache#L51) and generated sample [here](https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/php-ze-ph/src/App/Factory.php#L51).

But personall

[2020-08-02 18:52] jorissteyn commented on #7065
The client currently does not distinguish between "field not set in request" and "nullable field explicitly set to null". This is a problem for PATCH but also for "partial PUT" operations. A solution is proposed in #2199 but no real work has been put in it yet, so it seems.

[2020-08-02 18:59] ybelenko commented on #7023
First of all, you didn't try my library :smile:

Disadvantages of `prism`:
1. It's written with TypeScript so I have to setup Node.js on server.
2. It requires shell access to web hosting and requires addition domain/subdomain for Mocking Server.
3. Additional configuration.

My package(`OpenapiDataMocker`) is pure PHP and has been developed not for mock server, but for automatic testing. I cannot

[2020-08-03 10:00] biovolt commented on #6906
The same goes for email addresses with a + in which is a valid email address but does not work.
We cannot encode the + before the time because that results in it being double encoded.

Or supposed to pass handle this?

[2020-08-03 12:32] borsch opened #7116 "[REQ] additionalModelTypeAnnotations doesn't handle annotations with quotes"
### Is your feature request related to a problem? Please describe.

`additionalModelTypeAnnotations` was introduced to add ability to insert extra annotation over POJO like `@lombok.Builder`, but this doesn't allow to add annotations with `String` parameters because Mustache Template Engine will escape all `"` with `&quot;`

## Describe the solution you'd like

Standard Mustache Compile provide a

[2020-08-03 13:27] #4829 closed

[2020-08-03 13:27] wing328 commented on #4829
Thanks for the fix by @Sshnyari

@tmakin please pull the latest master or snapshot version to give it a try.

[2020-08-03 14:13] bkabrda commented on #6892
@sebastien-rosset I would also love the oneOf implementation to get better. Could you please provide a specific example of code where having `getX()`, `getY()` and `getZ()` brings benefit? I'm trying to figure out how I'd use it and I can't see what the benefit would be - currently I use:

[code]

and with what you propose I'll have do

[code]

What I'm trying to say is that I don't see a benefit

[2020-08-03 15:31] dlicois opened #7118 "[REQ] Handle list of String special case in webclient generator"
### Is your feature request related to a problem? Please describe.

When describing an operation that returns an array of string, the openapi-generator for java-webclient generates an api returning a `Flux<String>`.

However Spring's Webclient handles serialization of JSON array of strings in a special way : spring-projects/spring-framework#22662

This means expecting a `Flux<String>` when a serve

[2020-08-03 16:06] sebastien-rosset commented on #6892
In practice I see the problems below:

[code]

1. Documentation issue: how do developers even know what are all the possible returned classes in getActualInstance? In practice this depends on the level of familiarity with the associated OpenAPI doc. If you are both the author and Java SDK user, then presumably you would know. But there are also casual users who don't know much about the OpenAPI do

[2020-08-03 17:01] InfoSec812 commented on #7112
To start, I think that adding a non-functional (for now) option in `AbstractJavaCodegen` which says something like `preferOpenAPIv3` and then proceeding to update each set of templates from there makes sense. Any thoughts @macjohnny?

[2020-08-03 17:39] rmerceragari opened #7119 "[BUG] Python generator generating reserved word ("from")"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? v4.3.1 (implementation-version: 4.3.1)
- [x] Have you search for related issues/PRs? Yes
- [x] What's the actual output vs expecte

[2020-08-03 17:50] ybelenko commented on #7023
@Articus Just noticed another php library to generate fake data from OAS specs - [canvural/php-openapi-faker](https://github.com/canvural/php-openapi-faker). I can't even say how it gained 44(❗) stars already(first release at June 15th, 2020). I think it means that there are people who need PHP based mockers.

[2020-08-03 19:37] ruedigerk commented on #6997
The jaxrs-spec generator has a "library" option for Quarkus. Is that what you are looking for?

[2020-08-03 19:44] ruedigerk opened #7120 "[REQ][jaxrs][server] Are 8 variants of the jaxrs generator really necessary?"
### Is your feature request related to a problem? Please describe.

Having worked on the jaxrs-spec generator for a bit in a fork and now trying to get some changes of it into the official repository, I am wondering if it is really in the best interest of the OpenAPI Generator project to support and maintain 8 different variants of jaxrs server generators with lots of code and template duplication

[2020-08-03 21:17] Articus commented on #7023
Guess we have slightly different workflows then :)

I use full HTTP-mocking only during development when you need to develop web service consumer before web service is created and there is only its OAS specification. So Prism works pretty well in this case - just one more container in docker-compose.yml for your development environment that has access to local copy of specification (to manage "exa

[2020-08-03 22:37] #6150 closed

[2020-08-04 01:16] #6950 closed

[2020-08-04 01:52] #4222 closed

[2020-08-04 01:53] wing328 commented on #4222
Thanks for the fix by @mikesaurus

Please pull the latest master or snapshot to give it a try.

[2020-08-04 02:35] wing328 commented on #4799
Thanks for the fix by @nmische

@Tsovak please pull the latest master or snapshot version to give it a try.

[2020-08-04 02:35] #4799 closed

[2020-08-04 07:44] bkabrda commented on #6892
Ok, that makes sense, thanks for the explanation. That said, we have to ensure that we have protection set to ensure there are no method name clashes (e.g. if someone had a `oneOf` which had `actualInstance` as a member, the class would suddenly have two `getActualInstance` methods and wouldn't compile).

[2020-08-04 08:12] pmonty commented on #6527
Any progress on this or a timeline on when it might be added?

[2020-08-04 08:46] akhileshnair08 commented on #3246
ABCEnum:
      enum:
        -{0,"aum"}
        -{1,"gautham"}
        -{2,"Buddha"}
      x-enum-varnames:
       - AUM
       - GAUTHAM
       - BUDDHA
      type: object
      properties:
        num_value:
          type: integer
          format: int32
        str_value:
          type: string

Why is this not working???

[2020-08-04 08:50] akhileshnair08 commented on #893
ABCEnum:
      enum:
        -{0,"aum"}
        -{1,"gautham"}
        -{2,"Buddha"}
      x-enum-varnames:
       - AUM
       - GAUTHAM
       - BUDDHA
      type: object
      properties:
        num_value:
          type: integer
          format: int32
        str_value:
          type: string

Why is this not working???

[2020-08-04 09:26] typhoon2k commented on #7079
Will close this due to no response.

[2020-08-04 09:26] #7079 closed

[2020-08-04 09:30] typhoon2k opened #7122 "[BUG] Package declaration problem in openapi-generator module"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-04 12:21] zupo commented on #5615
Hey @eriktim, where should I report this so that it gets fixed in the "OpenAPI generator", so that I can then help getting it fixed for Elm?

[2020-08-04 12:59] mmondino commented on #2845
I'm facing the same issues reported by @iekdosha

[2020-08-04 13:56] xaviergxf opened #7124 "Typescript angular v10 missing providers"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X ] What's the version of OpenAPI Generator used?  "@openapitools/openapi-generator-cli": "1.0.15-4.3.1"
- [X ] Have you search for related issues/PRs?
- [X ] What's the actual ou

[2020-08-04 14:31] Chismur opened #7125 "[BUG][JAVA] @Size not generated in the method parameters which are treated as headers"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-04 15:30] wing328 commented on #6892
@bkabrda good catch about the edge case. We'll handle it when there's a report on the issue.

[2020-08-04 15:56] #6497 closed

[2020-08-04 16:30] sarumont opened #7126 "[BUG] [typescript-node] Generating only models generates invalid TS"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

When providin

[2020-08-04 17:01] sarumont commented on #7126
It actually appears that the better approach may be defining a new supporting file for `model/index.ts`. I'm working on that approach in my WIP PR... :)

[2020-08-04 19:58] CodySchaaf commented on #6022
Would using the `--template-dir` option to override the `apis.index.mustache` files be a good solution if we were hoping to use a 3rd party fetch hook like [swr](https://swr.vercel.app/) or [react-query](https://github.com/tannerlinsley/react-query)?  Has anyone successfully done that and have an example project?

[2020-08-04 20:44] sarumont commented on #7040
@cervengoc You can use `{#generateApis}` in the templates to conditionally generate the serializer. See #7127 for an example where I'm using this.

[2020-08-04 21:31] connor-butch opened #7128 "[BUG] [Java JAXRS-Spec] Additional annotations not being added to models"
#### Bug Report Checklist

- [ ] What's the actual output vs expected output?

##### Description
It appears that the gradle open api plugin jax-rs-spec generator (java server-side api without an implementation) version 4.3.1 is not adding additional annotations on top of model classes.  I would like to add the @Introspected annotation for use with a micronaut implementation of the jaxrs specificat

[2020-08-05 06:30] wing328 commented on #6382
Please try the `jersey2` library in the Java client generator, which has better support for oneOf and anyOf.

[2020-08-05 07:52] macjohnny commented on #7124
the providers are not necessary, since the services are generated with
https://github.com/OpenAPITools/openapi-generator/blob/c1b8c294aae46b6799ad1cd548ef2588100bc043/samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/api/pet.service.ts#L28-L31

[2020-08-05 07:54] macjohnny commented on #7105
@asterikx would you like to file a PR to implement this?

[2020-08-05 07:55] macjohnny commented on #7083
@badsyntax sounds good, go ahead

[2020-08-05 07:56] macjohnny commented on #7046
@sk- would you like to implement a fix?

[2020-08-05 07:57] macjohnny commented on #6942
@stgraham2000 would you like to file a PR?

[2020-08-05 07:59] macjohnny commented on #6904
so this is related to https://github.com/OpenAPITools/openapi-generator/pull/6931?

would you like to fix it?

[2020-08-05 08:02] rvowles commented on #6904
I have already delt with Sets in the above repo, the serialisation and deserialisation into sets is actually a bit more complex than just making them primitive types.

[2020-08-05 08:09] helt commented on #6841
add the following dependency to the pom.xml `dependencies` section
[code]

[2020-08-05 08:21] helt commented on #7016
Just in case that the openapi spec has been generated by springfox, you can change the generation docket like this:

[code]

See http://springfox.github.io/springfox/docs/current/#changing-how-generic-types-are-named

[2020-08-05 08:33] #6907 closed

[2020-08-05 12:23] #7105 closed

[2020-08-05 13:02] borsch commented on #5447
@com2ghz @michaelpro1 @pburls I have this feature here https://github.com/OpenAPITools/openapi-generator/pull/4026

[2020-08-05 15:37] pmjordan opened #7135 "[BUG] Description"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-05 15:38] pmjordan opened #7136 "[BUG] git_push.sh can incorrectly set git config without recovery method"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-05 16:23] ThomasRBurke opened #7137 "[BUG] Description OpenApi Generator 5.0.0 beta gradle-wraper.jar corrupted when copying to a Java Api Client"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-05 16:42] GregTheGreek opened #7138 "[BUG] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? Latest npm
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

In

[2020-08-05 17:39] macjohnny commented on #7112
@InfoSec812 Sounds good

[2020-08-05 18:41] bukowa commented on #4933
Any updates?

[2020-08-05 18:57] spacether commented on #4933
Python-experimental has been updated to support python >= 3 only in https://github.com/OpenAPITools/openapi-generator/pull/7061

[2020-08-05 23:59] calbach opened #7140 "[REQ] Document gradle plugin incompatibility with swagger codegen"
### Is your feature request related to a problem? Please describe.

I attempted to use both the Open API generator gradle plugin and Swagger codegen within a single Gradle project, during a transitional phase between the two. When running the Open API generator task in this configuration, it appears to silently use the old Swagger codegen libraries at some level under the hood, resulting in invali

[2020-08-06 07:02] wangq8 commented on #3438
Is this resolved?

[2020-08-06 07:14] ajeans opened #7141 "[BUG] Java RestTemplate client using application/problem+json for its Accept header"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-06 07:17] ajeans commented on #7141
As a sidenote, for now I workaround this by doing the following bash voodoo after the generation.

[code]

[2020-08-06 07:43] SapMaria opened #7142 "[BUG] [Python] arrays validation problems for maxItems/minItems"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-06 09:04] wangq8 commented on #5533
any update? did we resolve it?

[2020-08-06 09:47] red61wjt commented on #2293
+1 for this please

[2020-08-06 11:32] phuotran opened #7144 "[BUG] [Python] Server port remains 8080 regardless of value in spec"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-06 12:06] bodograumann commented on #5195
I just had the same problem with openjdk-14. Don’t really need the gradle plugin, I think, but would still love to see this fixed in v5.0.

[2020-08-06 16:13] jakub-astrahit commented on #3814
@macjohnny What do I need to change to add this for typescript-axios as well?

[2020-08-06 16:14] jakub-astrahit opened #7146 "Add eslint-disable support for typescript-axios"
@macjohnny What do I need to change to add this for typescript-axios as well?

_Originally posted by @jakub-astrahit in https://github.com/OpenAPITools/openapi-generator/issues/3814#issuecomment-670026541_

[2020-08-06 20:43] guthrum commented on #7033
Also getting the same issue ([repo with example](https://github.com/guthrum/open-api-generator-bug)). So would be interested in the cause of this.

[2020-08-06 20:48] Xendar commented on #6830
Pull Request #7150 created

[2020-08-06 21:11] macjohnny commented on #7146
You need to modify the templates in https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-axios and re-generate the samples (https://github.com/OpenAPITools/openapi-generator/blob/master/.github/PULL_REQUEST_TEMPLATE.md)

[2020-08-06 21:12] macjohnny commented on #7146
Be sure to run
mvn clean package
Before re-generating the samples

[2020-08-06 21:14] macjohnny commented on #7146
See also https://github.com/OpenAPITools/openapi-generator/pull/4110

[2020-08-06 21:49] ybelenko opened #7151 "[BUG] ensure-up-to-date path separator in FILES"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-06 22:09] ybelenko opened #7152 "[BUG] Untracked files constantly reappearing"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-06 22:17] roostapour commented on #7066
Can someone please answer this?

[2020-08-06 23:19] ybelenko commented on #7138
Seems like you didn't install Java Runtime Environment. You need Java 8 or higher to run generator.

[2020-08-07 01:49] wing328 commented on #7066
@roostapour based on what you provided, looks like it's a bug. A good starting point is https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java and search for `isGenerateAliasAsModel`

[2020-08-07 03:08] wing328 commented on #7152
Your fork is 199 commits behind the official repo. Maybe sync with the official one first or "refork" the official repo.

[2020-08-07 03:15] SarangKanabargi opened #7155 "[BUG] Incorrect Request Mapping for Kotlin-Spring generated API"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-07 03:33] #7138 closed

[2020-08-07 03:44] GregTheGreek opened #7156 "[BUG] Typescript - Multiple imports missing comma"
#### Bug Report Checklist

##### Description

The [following](https://ethereum.github.io/eth2.0-APIs/beacon-node-oapi.yaml) yaml file has multiple instances where two exports are import into the same file:
eg:
[code]

Problem being, the comma is missing in the above example, for instance the correctly generated code should be:
[code]

##### openapi-generator version

Latest npm version

##### Step

[2020-08-07 04:47] ankugarg opened #7158 "openapi-generator-cli generating requests with empty body data for Jmeter"
#### Bug Report Checklist

- Description - openapi-generator-cli.jar is generating jmeter tests with requests which have empty body data.
Used API `java -jar openapi-generator-cli.jar generate -i petstore.json -g jmeter` to generate tests.

- Used https://petstore.swagger.io/v2/swagger.json to generate jmeter tests.

- Screenshot of request from Swagger:
![SwaggerRequest](https://user-images.githu

[2020-08-07 04:54] ybelenko commented on #7152
I never push master to my fork. I pull master from this repo in local in a way:
[code]
I mentioned that my latest `master` commit is 57ee092 which isn't 199 commits behind.

[2020-08-07 06:14] wing328 commented on #7152
What about "refork" the official repo?

[2020-08-07 06:25] ybelenko commented on #7152
I will try to refork if @jimschubert got nothing to suggest. He showed interest to my problem that's why I submitted this issue.

I have feelings that it's not `git` problem itself, because I usually see these files few minutes later my IDE(VSCode) got opened. I'll try to clean my index without opened IDE and wait for a few hours.

[2020-08-07 09:54] Ghufz opened #7161 "[BUG] [PS] : PsData specified in config file leads to invalid module manifest file"
#### Bug Report Checklist
- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor

[2020-08-07 10:28] ybelenko commented on #7152
Yeap, I have another evidence that it's IDE issue. I've left clean repo in terminal for few hours and no change. Right after I opened VSCode I noticed spinner at the right bottom, I clicked on it and terminal with selected dropdown `1: Task - Java Build Status` was opened with that log:
[code]

It's weird that `git status` says `working three clean` for now. I hope that I'll catch the moment when

[2020-08-07 10:31] magnuskvalheim commented on #7018
👍  We are seeing exact same issue for v4.3.0 & 4.3.1.
Have made a workaround, but interested to follow progress of this

[2020-08-07 11:41] InfoSec812 commented on #6215
Same here... I need to modify the template for the controllers to replace `IActionResult` with `ActionResult<{{dataType}}>`

[2020-08-07 11:43] InfoSec812 commented on #6215
@wing328 Any chance that this could be a point release prior to 5.0?

[2020-08-07 13:08] wing328 commented on #6215
I remember there was a PR to fix it. Did you have a chance to try the latest master?

[2020-08-07 13:09] wing328 commented on #6215
Also for the customization you guys mentioned, please also open an issue (ticket) for tracking as we can potentially incorporate these enhancements in the default template.

[2020-08-07 13:18] InfoSec812 commented on #6215
@wing328 Please disregard, the latest 5.0.0-beta worked flawlessly

[2020-08-07 13:19] wing328 commented on #6215
@InfoSec812 thanks for the confirmation.

[2020-08-07 13:19] #6215 closed

[2020-08-07 14:02] anand188 commented on #1901
Basically the response should links to other operations which similar to hateous links

[2020-08-07 14:58] Thorium1 opened #7162 "[BUG] Description"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x ] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spo

[2020-08-07 18:02] kevinoid commented on #5899
For reference, it sounds like the OpenAPI files generated by API Platform don't comply with the Schema name restrictions specified in OpenAPI 3.  See OAI/OpenAPI-Specification#634 and OAI/OpenAPI-Specification#1387 for spec discussion, api-platform/api-platform#1493 for API Platform discussion.

[2020-08-07 19:35] loicsiret opened #7163 "[REQ] [Kotlin] Add Polymorphic support for Kotlin with GSON"
### Is your feature request related to a problem? Please describe.

Add polymorphic support for Kotlin-Retrofit2-Gson

## Describe the solution you'd like

A backport of the java feature in the Kotlin Codegen

[2020-08-08 12:58] #6883 closed

[2020-08-08 16:46] wing328 commented on #7156
Have you tested with the latest master (e.g. snapshot or build from master) to see if it's still an issue?

[2020-08-08 18:32] GregTheGreek commented on #7156
I have not. I only ran with npm

[2020-08-09 03:09] devhl-labs opened #7167 "[BUG] [csharp-netcore] DateTime format deserialization"
While using bearer tokens, I am setting Configuration.DateTimeFormat, but that format string is not being used while deserializing. I modified the following to use Configuration.DateTimeFormat while deserializing and it does work. Am I doing something wrong? And is there a way to specify different formats for different properties?

[code]

[2020-08-09 06:20] heyudude commented on #7056
Found the solution... no replies unfortunately o a valid question: why?

[2020-08-09 06:20] #7056 closed

[2020-08-09 09:16] ksato9700 opened #7168 "[BUG][Protobuf-Schema] Can't convert enum strings"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-09 09:48] wing328 commented on #7168
Can you try the latest master as I believe there was fixed already?

[2020-08-09 10:07] wing328 commented on #7167
Looks like a bug. Do you mind submitting a PR with the suggested fix?

[2020-08-09 10:17] #6830 closed

[2020-08-09 13:34] ybelenko commented on #7152
I've catched it today. I rebased my feature branch on latest master (5bbcf30c9c). Once I opened VSCode I saw terminal processes:
[code]
There might be more log records I didn't catch them all.

At the end I got 1 untracked file at `samples/client/petstore/kotlin-retrofit2/bin/main/org/openapitools/client/infrastructure/ApiClient.kt`.

[2020-08-09 13:47] wing328 commented on #7152
I think the IDE that you used tried to find all build files (e.g. pom.xml, build.gradle, etc) and build all these projects, which will result in a lot of build files (ideally these folders should be added to .gitignore).

I usually import "swagger-codegen" module only instead of the whole project in the IDE.

[2020-08-09 14:49] ybelenko commented on #7152
@wing328 So, should we add these folders to the root `.gitignore` of the project?

[2020-08-09 15:08] wing328 commented on #7152
Yes, I think so. There should be a way to skip all these build sub-folders in .gitinore. I'll take a look in the coming week if no one has time to look into it.

[2020-08-09 15:09] wing328 commented on #7168
Related PR: https://github.com/OpenAPITools/openapi-generator/pull/7073

[2020-08-09 16:20] Bessonov commented on #4923
@jimschubert from my point of view the question is more "should openapi generator include validation in generated coder or just provide mapping"? We use typescript-fetch for mapping and use [ajv](https://github.com/ajv-validator/ajv) for validation. It's a little bit cumbersome, because there are some differences between them and sometimes we must implement some transformations to satisfy both. Fo

[2020-08-09 16:40] devhl-labs commented on #7167
Yes I can, but if the end user does not set the configuration.DateFormatString, I'm not positive if this will change the outcome or not.  Here are the defaults:
`yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK  //https://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_JsonSerializerSettings_DateFormatString.htm`

`yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fffffffzz  //https://docs.microsoft.com/en-us/dotnet/stan

[2020-08-09 21:35] jothi-prasad opened #7170 "[BUG] [JAXRS-JERSEY] - Openapi code generation for jaxrs-jersey is not generating xml tags withXml option."
#### Bug Report Checklist

- [YES] Have you provided a full/minimal spec to reproduce the issue?
- [YES] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [YES] What's the version of OpenAPI Generator used?
5.0.0-Beta
- [YES] Have you search for related issues/PRs?
YES - https://github.com/OpenAPITools/openapi-generator/issues/47

[2020-08-09 23:24] tray2100 opened #7171 "[BUG][Javascript] paramToString does not handle non-primitives"
##### Description

It looks like the when an API call is being constructed, the params are passed through a generic `paramToString` function defined [here](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache#L110-L123) that looks like this:

[code]

This breaks if any of your parameters are not primitives because

[2020-08-10 00:08] ksato9700 commented on #7168
@wing328 Thank you for the information. I should have checked not only issues but also PRs. Sorry.

Now, I tried with the latest version and the Case 1 works as I expected!
Unfortunately, Case2 still doesn't work, generating an empty message definition for the enum type. Are there any other suggestions, please?

[2020-08-10 01:40] #6472 closed

[2020-08-10 01:46] wing328 commented on #7168
For case 2, please use inline schema as a workaround for the time being.

[2020-08-10 01:54] wing328 commented on #7167
The format defined by OAS only covers RFC3339. That's why we make it configurable during runtime so that users can use other date time format as well.

[2020-08-10 02:36] devhl-labs commented on #7167
Okay, but are the two defaults the same?  Notice one is f and one is F and also K versus zz.

[2020-08-10 03:22] masmgr opened #7174 "[BUG][Typescript] Import path is invalid in windows."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-10 09:27] #7171 closed

[2020-08-10 12:53] thokuest opened #7177 "[REQ] Migrate off of com.google.code.findbugs:jsr305 or make it configurable"
### Is your feature request related to a problem? Please describe.

Pull request #3409 added nullable annotations to generated Java POJOs. The annotations are provided by library `com.google.code.findbugs:jsr305`. I'd like to cite [SpotBugs issue #130](https://github.com/spotbugs/spotbugs/issues/130) for why I think this is a problem for applications:

Additionally, using the library with the Java

[2020-08-10 13:26] borsch commented on #7128
@connor-butch Hi
I'll try to fix this. But before could you please provide small example of gradle based project where issue exists?

[2020-08-10 14:13] victormartinezjurado opened #7178 "openapi-generator-maven-plugin reservedWordsMappings tag doesn't work"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-10 14:51] ksato9700 commented on #7168
Yes, I will. Thank you.
At the same time, we occasionally define an enum type as a common schema, so that it can be referred from other schemas. Hopefully, it will be supported in the future.

[2020-08-10 15:21] wing328 commented on #7170
[code]
Looks like only jaxrs-cxf-ext and jaxrs-cxf generators support the `withXml` option.

[2020-08-10 15:24] borsch commented on #7128
@connor-butch
I have fixed issue and create PR here - https://github.com/OpenAPITools/openapi-generator/pull/7180 . Problem is that I have accidentally put import of model annotations in wrong place.

There is a workaround. I have created pull request to you repository - https://gitlab.com/connorbutch/micronaut/-/merge_requests/1/diffs

[2020-08-10 16:04] #7135 closed

[2020-08-10 16:04] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:04] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:04] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:04] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:05] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:05] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 16:05] pmjordan commented on #7135
duplicate issue opened in error

[2020-08-10 17:49] sdoeringNew commented on #2901
@Patouche Is this done?
This whole ```JsonNullable``` concept bothers me as well - not just the import and creates, imo, more problem than it solves.

I would be happy if ```enableJacksonNullable``` is soon implemented so we can use it. :+1:

[2020-08-10 17:51] shibayan commented on #6800
It's going to be a busy time, but lately I've had a little time to work on the csharp-experimental generator.

https://github.com/OpenAPITools/openapi-generator/compare/master...shibayan:csharp-experimental

The goal of this generator is to generate code according to the latest C# specification.

- C# 8.0 based feature
  - Null Reference Type
  - Pattern matching
  - using declaration
- .NET Core

[2020-08-10 19:12] jothi-prasad commented on #7170
Thank you @wing328 what does the following line mean?
"We can plot XML support to other JAX-RS generators." - is the support coming soon?

[2020-08-10 20:27] ioannisioannou16 commented on #7018
Updated post to suggest a fix

[2020-08-10 20:33] ioannisioannou16 commented on #7018
@magnuskvalheim What is your workaround?

My workaround to this is to change MyType3 in the above example to type object (from string) and add a single property. By doing that, it replaces correctly MyType3 to com.example.MyType3

[2020-08-10 21:01] BrianMWest opened #7181 "[BUG] scala-sttp doesn't appear to be compatible with sttp 2.2.3"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

As an educati

[2020-08-10 21:38] magnuskvalheim commented on #7018
After upgrading from 3.3.4 to 4.3.1 the importmappings for Lists generated List<Object> types and we got a few compiler errors.
We have temporarily made workaround by simply upcasting objects in the request payload to List<Object> as well.
Jackson, of course, serializes the payload just fine through reflection - but I'll revisit in order to remove the duct tape when we have a bit of time ;)

Thumb

[2020-08-10 21:51] dhutchison commented on #7120
As someone who has recently put in a similar PR to the swagger codegen generators project for the same issue as #6130 I would tend to agree.

This would require effort to work out what exactly is different (both from an available settings & generation point of view). It might be my newness to this codebase, but it looks like it some cases it it should be handled by "libraries" instead of being sep

[2020-08-11 03:10] wing328 commented on #7181
Can you please try the latest master instead? You can find links to download the snapshot version in the README.

[2020-08-11 03:13] wing328 commented on #7170
As shown above, the {{withXML}} tags are used in JAX-RS cxf-ext, cxf generators. We technically can plot these enhancements to the templates for the JAX-RS jersey1, 2 templates.

Do you have time to contribute the enhancements? I can show you some good starting points.

[2020-08-11 08:26] cschabl opened #7183 "[BUG] typescript-axios generator ignores additional property basePath"
##### Description

The typescript-axios code Generator ignores the additional property 'basePath' (-p basePath=<other basepath>).

##### openapi-generator version

5.0.0-beta, master branch, rev. c89a5c416d95c18a635ebcca7d683e68b703672d

##### OpenAPI declaration file content or url

https://raw.githubusercontent.com/openapitools/openapi-generator/master/modules/openapi-generator/src/test/resource

[2020-08-11 09:32] macjohnny commented on #7183
@cschabl would you like to fix this?

[2020-08-11 09:39] #7174 closed

[2020-08-11 09:43] macjohnny commented on #7151
@ybelenko I noticed this problem appeared recently, however, I have not investigated why. The CI apparently generates the paths containing `/./`

[2020-08-11 09:52] #6942 closed

[2020-08-11 10:41] hazraarka072 opened #7184 "[Java] Usage of old annotation(Spring 2.5) in Java Spring Boot generator(lib: Java Spring boot)"
##### Description
When I am using the Java Spring Boot Generator to generate controller code, the generated code is using @RequestMapping annotation instead of new @GetMapping/@PostMapping(started from Spring 4.3).

[2020-08-11 12:03] krinklesaurus commented on #6841
Ran into the same issue. Fixed in v5.0.0-beta

[2020-08-11 12:23] eriktim commented on #5615
@zupo this should be the right location. I was actually hoping for @wing328 to give some clarity on this issue.

[2020-08-11 14:22] Elewyth opened #7185 "[BUG][Java] DateFormat ist not used when serializing OffsetDateTime"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-11 15:22] timgclark opened #7187 "[BUG][python-experimental] API imports may be incorrectly formatted"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-11 15:51] timgclark commented on #7187
@spacether @wing328

[2020-08-11 17:29] BrianMWest commented on #7181
@wing328

Looks like regarding the `mainPackage` property, I was wrong and it _did_ pick it up, but I didn't see the new directory because I apparently can't read. but v4 and 5-beta were still not using the sttp version config correctly.

I just tried the latest snapshot version and it seems to work correctly with the `sttpClientVersion` property! Success! Thanks for the help! During that process,

[2020-08-11 19:20] jothi-prasad commented on #7170
Yeah pls provide some pointers

[2020-08-11 21:11] spacether commented on #7187
Resolved by https://github.com/OpenAPITools/openapi-generator/pull/7186

[2020-08-11 21:11] #7187 closed

[2020-08-11 23:57] connor-butch commented on #7128
Thanks Borsch.  You are awesome!  I'm not sure how to upvote your contribution, but it looks to have worked.

[2020-08-12 01:12] jimschubert commented on #7152
I agree with William. It seems like your IDE is maybe building the samples profile and certain tooling is auto-formatting.  I'll test with the configs you've provided to see if I can repro.

[2020-08-12 02:55] jimschubert commented on #7152
I wasn't able to repro this behavior. Have you closed your IDE and tried rebuilding to see if that is definitely the case? If so, you may want to look at how to mark directories as non-source and mark the entire samples directory as excluded.

[2020-08-12 06:16] Razzokk commented on #5079
So, are there any news about this problem? I want to use an existing model in my service but he keeps getting the import wrong.

[2020-08-12 07:49] ybelenko commented on #7152
Yes, I checked `mvn clean package` and it works correct until I open my IDE and wait for a while. Like I said it's `Visual Studio Code` with Java extension pack to run tests. I'm almost 99% sure that it's IDE + extension problem.

[2020-08-12 07:55] #5782 closed

[2020-08-12 07:58] jfeltesse-mdsol commented on #5903
Any chance to get this looked at?

[2020-08-12 08:52] #7116 closed

[2020-08-12 09:04] paulfrench commented on #6145
mistake in my open api spec

[2020-08-12 09:04] #6145 closed

[2020-08-12 18:37] abhijith-prabhakar commented on #2218
This issue is causing problems for us.  Any update on this?  Is there any workaround we can put on codegen?  We customize codegen to add few vendor extensions.  I was trying to fix this in our customization and see that schema which is read does not have defaultValue at all.  So, I can't even fix it with a workaround.

[2020-08-12 18:58] Btorkoy commented on #1915
try it:
HttpServletRequest request = ((ServletRequestAttributes) RequestContextHolder.getRequestAttributes()).getRequest();

[2020-08-12 19:50] Patouche commented on #2901
@sdoeringNew : yes, it was. Now there is some conflict on the PR. I already propose to resolve them.

But I have no news for a code reviews. Maybe I did something wrong. I don't know...

[2020-08-12 19:56] bzmw commented on #5720
Having a similar issue here: https://github.com/PagerDuty/api-schema/issues/82

Was there any resolution that you found @SimonIT

[2020-08-12 20:48] SimonIT commented on #5720
I discovered now that if you replace this line
https://github.com/OpenAPITools/openapi-generator/blob/c9939a2754f22aa747e51d45398aa51a3211e86f/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java#L389
with
[code]
the name gets properly encoded. I will make a PR

[2020-08-12 22:33] gerardbosch opened #7192 "[Java] Configurable collections framework (like Vavr)"
## Is your feature request related to a problem? Please describe.

The Java/Spring/... generated models are using the Java collections from `java.util` like `java.util.List` or `java.util.Map`. It would be very nice to have any way to configure the generator to use another collections library which provides enhanced functionality.

[Vavr](https://github.com/vavr-io/vavr) is a Functional Programmin

[2020-08-12 23:45] gerardbosch commented on #1309
I understood from https://github.com/OpenAPITools/openapi-generator/pull/571 that the "inconvenience" is not only the complex signature of return type, but the fact that `ResponseEntity.status()` need to be set upfront before fetching data which can be not always possible if the status depends on the data on the stream. Is that right?

Aside of this, is a good practice for an API to return directl

[2020-08-13 00:02] SimonIT commented on #5720
Okay, I tested it myself with the provided command from your issue and this didn't fix your problem.
I think your problem is, that `#/paths/` is nowhere handled by the generator because IntelliJ couldn't find any occurrences of it in the whole project. I think you have to change you specification or you make a PR which solves this.

[2020-08-13 01:10] jothi-prasad commented on #6813
Thank you for posting the question. i am facing the same problem. i want the HttpServletRequest request methods to be passed via the api methods(resource methods) because i need to access the request parameters in my implementation.

[2020-08-13 04:43] wing328 commented on #2901
@Patouche thanks for the PR. Please PM me via Slack so that we can help move forward with your PR.

https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

[2020-08-13 05:22] biasc commented on #6270
Is there any news on the reported problem?

[2020-08-13 06:00] bilak opened #7193 "[BUG] Oauth flows are not generated when there is more than 1"
##### Description

When working with [multiple oauth flows](https://swagger.io/docs/specification/authentication/oauth2/) in definition and then using some kind of templates to use those flows, only first flow that is found is used. Problem is in [DefaultCodegen](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCo

[2020-08-13 06:14] borsch commented on #6813
@yadaom @jothi-prasad there is a workaround like this one https://github.com/OpenAPITools/openapi-generator/issues/4680#issuecomment-656199687

[2020-08-13 06:59] borsch commented on #7128
@connor-butch no problem. could you please close the issue

[2020-08-13 08:44] AlexFazakas opened #7195 "[JAVA][Template] Creating and using a simple custom template"
Hi everyone,

I'm trying to use openapi-generator in order to generate some classes. However, I'm not entirely sure I can do what I want using openapi-generator. I'd want to define my own classes using the mustache templating language, but render them using openapi-generator to make use of it parsing the API's docs.

I have also tried following [this wiki](https://openapi-generator.tech/docs/custo

[2020-08-13 08:47] nilskuhn opened #7196 "[BUG][Kotlin] Generated Serializer for ApiClient does not support BigDecimal"
#### Description
Generating a Kotlin client for an API that uses BigDecimal in the model, the generated ApiClient doesn't work because the generated Moshi serializer does not have a type adapter for BigDecimal. Unfortunately, there is no way to inject the type adapter yourself.

#### openapi-generator version
4.3.1

#### Steps to reproduce
Any API with BigDecimal should demonstrate the problem. Ge

[2020-08-13 10:21] nilskuhn opened #7199 "[BUG][kotlin] Path params with type: array doesn't work"
##### Description

If API contains path parameters of type array, generated client function uses toString() method on kotlin.Array which doesn't provide comma separated representation.

Generated code:
[code]

The problem is the string templating here (`"$<my-array-param>"`), which uses objects toString() method.

##### openapi-generator version

4.3.1

##### OpenAPI declaration file content or ur

[2020-08-13 12:42] harel-e commented on #6146
I'm running into a similar issue. When I try to serialize an generated object that extends HashMap (using Jackson), I get an empty json {}.

+1 to the suggested solution, delegation vs inheritance. I suspect it would also simplify generating class inheritance.
fyi, delegation of additional properties is the solution in the project jsonschema2pojo, and it works quite well.

[2020-08-13 12:53] harel-e commented on #1466
I think that having a member of HashMap instead of extending HashMap would address the issue.
@JsonAnyGetter and @JsonAnySetter are designed for this exactly.
Like @FatCash suggested, there could be a feature flag that would allow backward compatibility (though it seems broken right now anyway)

[2020-08-13 15:33] gerardbosch commented on #3100
@renskesterrenburg @wing328 (or any other with edit permission), Maybe the issue title should be updated to reflect the actual problem: [Java] Broken inheritance (and hence polimorphism). What do you think?

[2020-08-13 15:41] davidkarlsen opened #7201 "[BUG] angular: incompatible with v10"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor

[2020-08-13 16:24] Dretch commented on #4808
There is a similar issue when sending POST data parameters that should be JSON-encoded - e.g.

[code]

This is valid in OpenAPI 3 according to https://swagger.io/docs/specification/describing-request-body/ (see "Complex Serialization in Form Data").

However, this does not work because the `data` POST body parameter gets sent as its Java toString representation rather than its JSON-encoded form.

[2020-08-13 16:43] revmischa opened #7204 "Support binary responses in Kotlin client"
##### Description

Right now the Kotlin client doesn't support binary responses, only JSON.

##### openapi-generator version

5.0.0-beta

##### OpenAPI declaration file content or url

It is impossible to consume this response with Kotlin right now:
[code]
[Throws error](https://github.com/OpenAPITools/openapi-generator/blob/f402126460e7d01251f9f13ff3213cb69bce7fae/modules/openapi-generator/src/ma

[2020-08-13 18:33] sebastien-rosset commented on #5903
For our projects we decided to go through the jersey2 library path. Multiple PRs were raised and merged, not all of them related to oneOf, but you could take a look at some of them to see how the work was done for jersey2 and propose something similar for the native library.

#7115
#6956
#6954
#6933
#6925
#6784
#6606
#6632
#6633
#6634
#6637
#6636
#6646
#6647
#6695
#6551
#6518
#6508
#6463
#6476
#64

[2020-08-13 22:17] xingyc15 opened #7207 "[REQ] [Python-Flask] Request for a independent "init" template for controllers."
### When we use the OpenAPI Generator to generate a python-flask server with the mustache tempalte, we find that the __init__.py for the whole package and the __init__.py for controllers are using the same mustache template.

Did I miss something or is it possible to have a independent template for that?

## I think one of the possible solution is to add a seperated mustache template for it. It sh

[2020-08-13 23:26] shaban-rant opened #7208 "[BUG] [Kotlin] [Retrofit 2] [openapi-generator-gradle-plugin] - Generating an absolute paths instead of relative."
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-13 23:41] anthonyhseb opened #7209 "[BUG] Missing import statement in ApiClient.java for JsonNullableModule when using generator 'java' and library 'resttemplate' with option 'withXml' enabled"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-14 03:53] wing328 commented on #7209
Can you please try the latest master instead to see if it's still an issue?

[2020-08-14 04:16] wing328 commented on #7196
@nilskuhn thanks for reporting the issue. Do you mind filing a PR with the suggested fix?

[2020-08-14 06:01] nilskuhn commented on #7196
Yes, I will try to find the time.

[2020-08-14 07:14] yahyavi commented on #7066
Hello,
We have a similar issue trying to generate a Map from our YAML file (v3). Is there a document/example on how to generate maps/dictionaries properly?

[2020-08-14 11:36] ybelenko opened #7213 "[BUG] Build error: failed to copy full contents from (VSCode IDE)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-14 12:05] axl89 commented on #1082
I faced this same issues with the latest 3.X version.

[2020-08-14 12:30] anthonyhseb commented on #7209
I tried with 5.0.0-SNAPSHOT (modified 14 Aug 2020), the `import` statement for `JsonNullableModule` is still missing

[2020-08-14 12:53] nrail-joerg-walter opened #7215 "[BUG] COLLECTION_FORMATS.pipe is used but does not exist but pipes exist"
![image](https://user-images.githubusercontent.com/64463556/90251229-ad4b8380-de3d-11ea-91fc-6071e4124b90.png)

call:

`openapi-generator generate -i x.yaml -g typescript-axios -o ./src`

[2020-08-14 13:00] kptfh commented on #1309
@gerardbosch excellent explanation!

[2020-08-14 14:02] gerardbosch commented on #3100
I've just realized that I have been confused on all my previous assertions regarding inheritance. The inheritance is not actually broken and seems never was (I've tried again with several generator versions 4.0, 4.02, 4.0.3, 4.1, 4.3.1) and Java inheritance is still fine. So I apologize if I introduced noise. I think other commenter stated the inheritance was broken as well.

So the actual problem

[2020-08-14 14:03] jmaister opened #7216 "Resource files are not referenced correctly"
https://github.com/OpenAPITools/openapi-generator/blob/55f928a82ef619e607b4377f262b820944f3a305/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java#L357

The reference to the .mustache files do not reference an unique file in the JAR file.

i.e.

    new SupportingFile("pom.mustache", ...)

In the JAR file for the templates, there are several pom.mustache

[2020-08-14 16:11] #6657 closed

[2020-08-14 16:22] cbornet commented on #1309
@gerardbosch I think what you're talking about is the code generated for the spring client using Webclient. This discussion is about the server side (Webflux) where we already generate with Mono<ResponseEntity<Flux<T>>>. And the request is to generate only Flux<T> with a RestController which is something supported by Spring.

[2020-08-14 16:25] Andy-L commented on #1053
I am running into the same problem using the v4.2.3 release and dateLibrary: java8.

[2020-08-14 16:30] wing328 commented on #1053
There's a PR to address it - https://github.com/OpenAPITools/openapi-generator/pull/5786

Can you please test to see if it resolves the issue?

[2020-08-14 17:03] adamf opened #7218 "[BUG] YAML fails validation; same JSON passes"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?

- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spons

[2020-08-14 17:36] jarodburchill opened #7219 "[BUG] allOf $ref combination causes issues for unnecessary schema level example field in auto-generated openapi.yaml output file"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-14 18:56] borsch commented on #7216
based on "active" library: spring-boot, spring-cloud etc.

[2020-08-14 20:07] jarodburchill commented on #7219
This is my fix in the meantime
[code]

[2020-08-14 22:32] yadaom commented on #6813
@jothi-prasad I did this by modifying the java templates and providing the templates in command line arguments. Here is my gradle task.

[code]
This line above ` '-t', 'template',` specifies the directory where modified templates are stored.
It becomes really easy this way.

Here are my template files....
[api.mustache](https://github.com/OpenAPITools/openapi-generator/files/5077655/api.mustache.t

[2020-08-15 11:12] wing328 opened #7221 "[C] report by Clang Static Analyzer"
I used [Clang Static Analyzer](https://clang-analyzer.llvm.org/) to detect potential issues with the client and got a report like the following:

<img width="1127" alt="Screenshot 2020-08-15 at 7 03 40 PM" src="https://user-images.githubusercontent.com/934260/90311164-cbdb7880-df2a-11ea-9527-19b1e7d449a1.png">

Attached is the full report (unzip and open index.html in the browser).

[scan-build-re

[2020-08-15 14:32] ityuhui commented on #7221
Hi @wing328 @zhemant @michelealbano

I'd like to address some fixes.
To avoid duplicated work,  I'll pick up the defects in ```src/apiClient.c``` firstly

Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |  
-- | -- | -- | -- | -- | -- | --
API | Argument with 'nonnull' attribute passed null | src/apiClient.c | apiClient_invoke | 275 | 12 |
Dead store | Dead assignment | src/ap

[2020-08-15 16:48] shibayan commented on #5375
I wrote about it in #6800 and I'll write about it here as well. I am currently working on adding a `csharp-experimental` generator.

https://github.com/OpenAPITools/openapi-generator/compare/master...shibayan:csharp-experimental

The quality of the generated code is much improved. I will be replacing RestSharp with HttpClient in the future. The caveat is that the target is limited to modern C# / .

[2020-08-16 05:00] GabeL7r commented on #7056
@heyudude can you share the solution? I'm facing the same problem.

[2020-08-16 05:47] #6837 closed

[2020-08-16 06:41] heyudude commented on #7056
@GabeL7r Sure. Anytime here to help, this piece of yaml generated the correct code in my API module
I had to check also for old and floating modules: I cleaned them all before I build a new one with this change.
Just to double check. My yaml can be found at https://github.com/heyudude/brawlstars-swagger
And the API code is called pybrawl. Good luck with the solution and if I need to peek and help,

[2020-08-16 12:20] InfoSec812 commented on #2285
@jimschubert Are all of your original items addressed, or are there still outstanding items? I'm about to submit some template changes for aspnetcore and I want to avoid conflicts.

[2020-08-16 12:31] InfoSec812 commented on #7042
@Sshnyari There is an option which can be set for `classModifier` as well which would accomplish what you want. That said, I believe it WOULD be best if when `generateBody` is set to `false` the generator should also set `classModifier` and `operationModifier` to `abstract`.

[2020-08-16 12:42] InfoSec812 commented on #6492
@StefanWetterActiware Have you tried converting your API Spec to OpenAPI v3? v2 specs are getting more difficult to support as time progresses. You should be able to paste your v2 spec into https://editor.swagger.io and choose "Convert to OpenAPI v3". If you could try converting and then re-generating after I can take a much closer look.
![image](https://user-images.githubusercontent.com/99691/903

[2020-08-16 12:51] InfoSec812 commented on #3487
@Doxoh I believe that's always going to be a choice for individuals and I do not believe it makes sense to add that functionality to the generator. For example, companies which publish a public API probably do not want their SwaggerUI secured. Also, as you have probably already discovered, it is trivial to add this after the code generation.

@macjohnny I'm not sure this makes sense as part of the

[2020-08-16 12:52] InfoSec812 commented on #3311
@manhao-chen Could you please try again with the latest 5.0.0-beta? I'm wondering if this is still valid

[2020-08-16 12:53] InfoSec812 commented on #3283
@manhao-chen Please try this with the latest 5.0.0-beta as I believe this is resolved.

[2020-08-16 13:05] InfoSec812 commented on #3088
@MBcom Looks like your PR was merged, does that mean this issue is resolved? If so, could you please close?

[2020-08-16 13:06] InfoSec812 commented on #3086
@cbaurand Could you try using the latest 5.0.0-beta and see if this issue has been resolved?

[2020-08-16 13:12] InfoSec812 commented on #2844
@Sshnyari According to the docs for OpenAPI, tags are there to help group related operations and all of the examples show a single tag on each operation/endpoint. Multiple tags also will not work correctly in SwaggerUI. Could you explain the use-case in which you would desire multiple tags on a single operation?

[2020-08-16 13:13] InfoSec812 commented on #2646
@theletterf Could you please try out the latest 5.0.0-beta as I am certain it contains Swashbuckle 5 and is working for some of my projects. If that resolves your issue, could you please resolve this issue?

[2020-08-16 13:19] InfoSec812 commented on #2101
@A-Joshi I believe this is the case in the latest 5.0.0-beta. Could you test and confirm that your needs are addressed?

[2020-08-16 13:20] InfoSec812 commented on #1858
@ericbl and @nolanlocke This appears to be working as expected in the latest 5.0.0-beta, could you test and confirm?

[2020-08-16 13:22] InfoSec812 commented on #1060
@wing328 Pretty sure this is completed, or am I misreading the linked issues?

[2020-08-16 15:16] magnayn commented on #2844
I'm not sure I can be much clearer than the original ticket.

When you have a large-ish API, I want to be able to tag methods around themes. That's exactly the capability as described in the OpenAPI documentation, and is useful to help users reduce a big API surface area down to just the calls likely needed.

This is helpful in the documentation generated, as you can say "these are tagged to relat

[2020-08-16 15:27] #1060 closed

[2020-08-16 20:15] InfoSec812 commented on #2844
I guess I'm curious what you would want this to look like in the generated code. How does the generator decide which controller the operation should be attached to. If we do it based on path, that also has issues which I have experienced in the past.

[2020-08-16 22:44] gerardbosch commented on #1309
Hello @cbornet , nope, I'm talking about the server side-Webflux generator :)
As per mi testing, the generated code is `Mono<ResponseEntity<T>>` and not `Mono<ResponseEntity<Mono/Flux<T>>` (tested with the `4.3.1` and `5.0.0-beta`).
I've linked above the feign-reactive discussion where the difference is aparently explained as @gmcouto also showed in that thread.
Of course removing the `ResponseEnt

[2020-08-16 23:39] frameset opened #7225 "[BUG] [DART-DIO] Generated client tries to parse jpeg body as JSON content"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
https://raw.githubusercontent.com/gotson/komga/master/komga/docs/openapi.json
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
Yes
- [ ] What's the version of OpenAPI Generator used?
4.3.1
- [ ] Have you search for related issues/P

[2020-08-17 05:54] macjohnny commented on #3487
I don‘t understand the relation to the openapi-generator

[2020-08-17 06:02] cbornet commented on #1309
So there's a regression as it used to work.

[2020-08-17 07:19] macjohnny commented on #7215
@nrail-joerg-walter would you like to fix this?

[2020-08-17 07:30] nrail-joerg-walter commented on #7215
What is the offending repo and what is the intended behaviour?

[2020-08-17 07:38] macjohnny commented on #7215
I think this should be changed here
https://github.com/OpenAPITools/openapi-generator/blob/b7b009082a3f68c622f418a0b5a4f900a7225d0d/modules/openapi-generator/src/main/resources/typescript-axios/baseApi.mustache#L16-L21

this is related to https://github.com/OpenAPITools/openapi-generator/pull/6553

It should be `pipe` instead of `pipes`

[2020-08-17 09:10] gerardbosch commented on #1309
Hi @cbornet  I have tried with 3.3.4, 4.0.0, 4.0.2, 4.0.3, 4.1.0, 4.1.1, 4.1.2, 4.1.3, 4.2.0, 4.2.1, 4.2.2, 4.2.3, 4.3.0, 4.3.1 and 5.0.0-beta of the openapi-generator-maven-plugin. The generated code is `Mono<ResponseEntity<T>>` in all cases, instead of `Mono<ResponseEntity<Mono/Flux<T>>`. Cheers!

[2020-08-17 09:29] erohana commented on #1309
hi
i see the ongoing discussion, i solved it by changing the Mustache template locally on my project as a workaround
i can share it if you need

[2020-08-17 09:32] erohana commented on #1309
api.mustache

`
/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) ({{{generatorVersion}}}).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import io.swagger.annotations.*;
{{#jdk8-no-delegate}}
{{#virtualService}}
import io.virtualan.annotation.ApiVirtual;
import io

[2020-08-17 10:28] cbornet commented on #1309
I just generated the petstore with v4.3.1 and got
[code]
Also the description of this issue says that what is generated is `Mono<ResponseEntity<Flux<T>>>`.
@gerardbosch can you share your openapi-generator-maven-plugin and an OAS reproducing the issue ? Also can you open another issue for this as it's not the same as this one ?

[2020-08-17 10:51] erohana commented on #1309
please see the example in my [GitHub gist](https://gist.github.com/erohana/2684cfdc4b8c889462997770b90b7921)
i'm using gradle plugin so you have to reference those files for the open-api plugin

see example
[code]

[2020-08-17 11:02] gerardbosch commented on #1309
I see what happens @cbornet , I've tried with [Petstore](https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/modules/openapi-generator/src/test/resources/3_0/petstore.yaml) and the generated code is of type:

[code]

for those responses declared of `type: array` in the OAS definition file.

But of type:

[code]

for those responses of `type: object`, instead of being `Mono<Resp

[2020-08-17 12:08] cbornet commented on #1309
@gerardbosch oh, I understand now : you mean the single item case ! `Mono<ResponseEntity<Mono<>>>` is indeed more reactive as you can send the status code and headers before getting the body. But in reality does it really happen ? I mean, if you have an error while fetching the information to fill the body, you will want to send a 500, not a 200.
It also makes the signature more complex so I'm not

[2020-08-17 12:10] cbornet commented on #1309
Note that the situation is not the same on the client side : it can be interesting to read the status code and just ignore the body.

[2020-08-17 12:20] Paul-Etienne opened #7226 "[Android] Automated client generation using Gradle"
##### Description

Apologies if this isn't the correct place for this question. This is not a bug report. This might be an improvement / feature request in case my question doesn't have an answer, which I doubt though.
I have recently made [a StackOverflow post](https://stackoverflow.com/q/63447875/6527252) about this issue I'm facing.
All I'm trying to do is incorporate the OpenAPI client generat

[2020-08-17 14:24] ajeans commented on #994
This seems to be related to #6715
`File` is replaced with `Resource` for the `resttemplate`

[2020-08-17 14:52] a-ignatov-parc commented on #5911
@rvowles could you please share the current status of your improvements? There are no open issues in your fork, does it mean that it's ready to be merged into the main repo?

[2020-08-17 15:09] gerardbosch commented on #1309
Ok, I understand your point. Maybe the solution to all pain is to remove the `ResponseEntity`, letting:

[code]

Much simpler signatures, fully-reactive response bodies for both `object` and `array` return types.
This will also conform to the reactive-feign for those interested in using it.

I'm never writing APIs returning `array` because I found problems in Java losing type info for polymorphic

[2020-08-17 15:44] harshad5498 opened #7227 "Custom classes generation using openapi-generator-cli.jar"
Hello all,
We need to add some additional Java classes(for ex. our own custom HTTPInterceptor) in our project, which we generate using openapi-generator-cli.jar.
Can anyone help us how this can be done ?

[2020-08-17 15:56] joerg-walter-de commented on #7215
It seems to me that pipes is the dominant usage in the repo. This definition of COLLECTION_FORMATS appears in many files. And from the conversation (https://github.com/OpenAPITools/openapi-generator/issues/4999) it seems to me that I should be pipes.

[2020-08-17 16:26] renato-farias commented on #5187
I am having the same issue when I tried to generate the code using the following OpenAPI spec: https://raw.githubusercontent.com/bacen/pix-api-recebimentos/master/openapi.yaml

The command to generate was:
[code]

I also tried with the `--legacy-discriminator-behavior` flag but still not generating the module.

[2020-08-17 16:50] macjohnny commented on #7215
@jimschubert can you help here?

[2020-08-17 17:12] alexbenitez opened #7228 "[aspnetcore] configuration options to generate IActionResult` with `ActionResult<{{dataType}}>`"
Is there a way or config option (https://openapi-generator.tech/docs/generators/aspnetcore/) available to generate controllers using the generic `IActionResult<T>` as the return type instead of just IActionResult? (to constraint the expected object to be returned)

I see @infoSect812 was looking forward for the same feature.

Same here... I need to modify the template for the controllers to replac

[2020-08-17 17:21] OnkelTem opened #7229 "[BUG] nodejs-express-server Controller.js response.end() not found"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? **4.3.1**
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description

nod

[2020-08-17 18:28] ybelenko opened #7230 "[Announcement] Deprecate flash(ActionScript) client generator"
December 31, 2020 is end of life for Adobe Flash Player. As soon as there is no usage evidence(open issues, pull requests) of `flash` generator I think we can deprecate it now.

It's a kinda sad for me personally because it was my first programming language and the first tech book I read (**Essential ActionScript 3.0 published June 2007 by O'Reilly Media, Inc.**).

[Adobe Flash Player End of Life]

[2020-08-17 18:31] rvowles commented on #5911
It is in active use in our company now so I think the answer is yes. I will make an effort today.

[2020-08-17 19:03] erohana commented on #1309
the solution i added above does remove the ResponseEntity and create the simple signature with simple Mono/Flux

[2020-08-17 19:21] gerardbosch commented on #1309
Thanks @erohana , it would be nice to see it in a pull request :)

[2020-08-17 19:36] frameset commented on #7225
https://openapi-generator.slack.com/archives/CLSB0U0R5/p1597622482059900 I discussed this with a member of the Dart technical committee on the slack, and it seems like the generator is not applying the `isFileResponse` part of the template.

[2020-08-18 02:54] josh-burton commented on #7225
@frameset it turns out dart-dio does support `isResponseFile` but it was just recently added so is only in the 5.0.0-beta version, not 4.3.1.

If you switch to the beta you should be all good. If you'd rather not use beta but still want that change then copy the api.mustache file from [here](https://github.com/OpenAPITools/openapi-generator/blob/v5.0.0-beta/modules/openapi-generator/src/main/resou

[2020-08-18 05:58] cbaurand commented on #3086
@InfoSec812:
Hi,

I don't work with openAPI anymore and i'm not able to do the test since my environment is fully different.

[2020-08-18 06:44] #7225 closed

[2020-08-18 07:50] ccpulse opened #7235 "[BUG] Java and javascript generators don't create suitable polymorphic types"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-18 08:49] myke-80 commented on #4757
Hi @AIexG, just a comment about some changes introduced with the related PR (#4758).
I had defined a container of objects, like:
[code]
I noticed the output code was not fine. In fromPropertyTree the generated code was considering the Parameter as a container of primitives instead of a containers of models.
Looking at the model-source.mustache file I see there's isModelContainer property that, if

[2020-08-18 10:09] MartinDelille opened #7236 "[BUG][Qt5] QJSonDocument::toBinaryData is deprectated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-18 10:34] bendem commented on #6192
I'm having the same problem with the `typescript-angular` generator (I'm guessing they share the same code). I'm trying to generate code from the spring-boot actuator which contains the following schema:

[code]

<details>
<summary>full json</summary>

[code]
</details>

Same problem, the type under `additionalProperties` is not imported causing a compile error for the generated code:

[code]

[2020-08-18 11:36] JFreakDK opened #7237 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

I was looking into implementing SSL Pinning in Dart. To implement that it is necessary to be able to provide a SecurityContext to the HttpClient used in the IOClient.

## Describe the solution you'd like

It should be possible to pass a SecurityContext to the generated ApiClient that can be used by the Client().

## Describe alter

[2020-08-18 11:40] bendem commented on #6192
For reference, I work around this by fixing the generated file on the fly, it is very brittle but the only way to not break our CI build.

[code]

[2020-08-18 13:15] joerg-walter-de opened #7238 "[BUG] v4.3.1 - Typescript-axios - configuration block is not used in resulting code when using factory"
I generated code  for typescript/axios.

My code is:

[code]

This code will disregard the provided basePath, but will use BASE_PATH = `http://localhost/api/v1` from the generated base.js file.

[2020-08-18 13:28] joerg-walter-de commented on #7238
So does this code:
`const configuration = new API.Configuration( { basePath: 'http://localhost:3000/api/v1'} );
let accountsApi = API.AccountsApiFactory(configuration);
accountsApi.getAccountAccessRights('84D865BA-DC1D-4FB3-A2F2-7A85362F7D1D');`

[2020-08-18 18:35] chrylis commented on #7066
Confirmed that as of 4.3.1 classes are generated, but:

- The classes incorrectly extend `CollectionType<Object>` instead of whatever they're a collection of.
- The above-mentioned initializer error.
- When the classes are referred to in code, they're replaced with `Object`.

[2020-08-18 20:39] chrylis opened #7241 "[BUG] Object with additionalProperties detected as "free-form""
##### Description

I have a type `Money` and a type `MoneyTuple`, which simply has `additionalProperties: $ref: '#/Money'`. Despite that the properties are all typed, the Java generator decides that this is a "free-form object" and doesn't output a DTO for it. Other types ref'ing `MoneyTuple` then fail.

The equivalent code `NumberTuple` where the values are `number`s works as expected.

##### ope

[2020-08-18 20:43] chrylis opened #7242 "[REQ] (Optionally) Use LinkedHashMap in Java"
### Is your feature request related to a problem? Please describe.

Although JSON is technically unordered, it is useful to have a predictable serialization order, such as for display sorting. The `generateAliasAsModel` option on Java uses `HashMap`, which will reorder the properties. Instead, using `LinkedHashMap` would have a minimal performance impact but provide consistent ordering.

## Descri

[2020-08-18 21:02] dobl1 opened #7243 "[REQ] [Protobuf-Schema] Protobuf available inside OpenAPI Generator Online"
Hi,

How to proceed to add existing converter module to OpenAPI Generator Online ? As protobuf-schema for example.

[2020-08-19 02:18] wing328 commented on #7243
Have you tried the "latest master" of the online generator?

[2020-08-19 06:27] macjohnny commented on #7238
@joerg-walter-de would you like to fix it?
https://github.com/OpenAPITools/openapi-generator/blob/bee03685f06ba60cf4ef2677a9b15bbc730e42af/modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache#L239-L242

https://github.com/OpenAPITools/openapi-generator/blob/bee03685f06ba60cf4ef2677a9b15bbc730e42af/modules/openapi-generator/src/main/resources/typescript-axios/baseApi.must

[2020-08-19 06:38] dobl1 commented on #7243
Yes, I noticed nothing is returned trying to get details about generation options

![image](https://user-images.githubusercontent.com/9740002/90600641-39bbc480-e1f7-11ea-99e0-244ec6ac3866.png)

[2020-08-19 09:05] bykof opened #7246 "[BUG][JAVASCRIPT] OneOfobjectobject is not generated in javascript"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

Generating Ja

[2020-08-19 09:40] wing328 commented on #7243
@dobl1 I just checked the source code of openapi-generator-online and confirmed that you're right - there's no endpoints for schema/doc generator.

Please use the CLI for the time being.

[2020-08-19 09:44] jfeltesse-mdsol commented on #5903
@sebastien-rosset is there any kind of specific configuration that needs to be passed? because if I use the jersey2 templates from latest master (98c606c32d) then the results are similar...

### openapi_issue_5903.yaml
[code]

### command
[code]

### api/DefaultApi.java
[code]

But there's no such `OneOfObjAObjB` model created...

### ls models/
[code]

Am I missing something?

[2020-08-19 10:19] joerg-walter-de commented on #7238
Am I just using it wrong or is this in fact a bug?

[2020-08-19 10:22] jmaister commented on #7216
https://github.com/OpenAPITools/openapi-generator/blob/3199ddc6152effe92aa8fa5ba4918d9054337bcb/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java#L665

However, I can't see how the active library is used when the the supporting files are generated.

[2020-08-19 10:41] shrkw opened #7247 "[Bug][typescript-axios] When Multiple File Uploaded, it does not work as isCollectionFormatMulti"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-19 10:47] borsch commented on #7216
@jmaister

https://github.com/OpenAPITools/openapi-generator/blob/58ed6afc0dc51a341cad01420274752b6ec31bff/modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/GeneratorTemplateContentLocator.java#L44

[2020-08-19 10:50] joerg-walter-de commented on #7238
Is there a documentation of the usage of the created code?

[2020-08-19 10:53] #7230 closed

[2020-08-19 11:23] macjohnny commented on #7238
I guess it is a bug.
unfortunately, for the typescript-axios generator, there is no Readme. If you want to contribute one, this would be nice (see e.g. https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/README.mustache)

[2020-08-19 11:25] wing328 commented on #7243
@dobl1 if you've time to contribute a fix, I can show you a couple of good starting points.

[2020-08-19 13:00] mitsuru793 commented on #4637
@ptopor
Thank you for replying. I have confirmed that it has solved.
I am happy!

[2020-08-19 13:02] mitsuru793 commented on #4637
@xvilo
I think the `components/mainTypeUrl.yml` requires content property under responses.
document: https://swagger.io/docs/specification/describing-responses/

[2020-08-19 13:49] blue00 commented on #6559
I have the same problem with the typescript-angular converter using the option `"modelPropertyNaming": "camelCase"`:
"VAT" becomes "vAT", but I expected it to become "vat".

[2020-08-19 14:44] Isukthar opened #7249 "[REQ] [Typescript] Choose method signature generation"
Hello,
i'd like to know if there is an option for generator or in the contract in order to choose the signature generated for each service ?

**Context**
In my project we're using OpenApi generator in order to generate typescript client services (angular application).
When using generated code in the app, all is fine, but we have some problems with unit testing with jasmine.

We're using OpenApi 3

[2020-08-19 15:48] sebastien-rosset commented on #5903
For OneOf, a Java class is generated for the schema that has a oneOf. That class inherits from `AbstractOpenApiSchema` which has a `getActualInstance` method.

[2020-08-19 16:17] #5324 closed

[2020-08-19 16:44] Kenjee commented on #6815
i have more less same problem
i switched from 4.3.0 to 4.3.1 and since 4.3.1 a simple allOf definition does not generate X extends Y anymore

i put and example project into https://github.com/Kenjee/hello-world << simple maven code generation
Readme explains all in details

but using same swagger definition with
swagger.io and openapi-generator 4.3.0 generates SubscriptionResponse extends Response

[2020-08-19 16:59] FelschR commented on #5467
This is also an issue with the `typescript-fetch` generator.

[2020-08-19 20:26] sebastien-rosset opened #7252 "[BUG][java][jersey2] Generated java jersey2 client fails compilation when 'allOf' child has enum constraint"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-19 20:52] sebastien-rosset commented on #7252
@wing328

[2020-08-19 21:29] sebastien-rosset commented on #7252
There are other variants of the problem. For example, the parent class `Animal` could itself have a `enum` constraint with all possible enum values of the `allOf` children (recursively).

[code]

There are also pathological use cases:

[code]

[2020-08-20 02:38] jfeltesse-mdsol commented on #5903
That's the thing, it is _not_ generated.
In my previous comment I've shown the generated code featured an import for some `OneOfObjAObjB` class but such a class is not generated.

From what I can tell, if oneOf is used outside of a named schema the generator will come up with a name for it and reference it in the code but "forget" to generate the class itself.

[2020-08-20 03:05] dynofu opened #7254 "[BUG] generator cannot handle cross referenced schema $ref"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?

- [ ] What's the actual output vs expected output?
there should be no warning/error

[2020-08-20 04:03] wing328 commented on #7209
Thanks for the confirmation. May I know if you've time to contribute a fix? I can show you some good starting points.

[2020-08-20 04:22] #7090 closed

[2020-08-20 04:29] spacether commented on #7107
Resolved by https://github.com/OpenAPITools/openapi-generator/pull/7157

[2020-08-20 06:46] macjohnny commented on #7249
can you provide some example of your unit test code?

[2020-08-20 06:55] LBoraz commented on #455
No, i didn't

[2020-08-20 08:26] Isukthar commented on #7249
I edited initial post with test exemple.

[2020-08-20 08:56] macjohnny commented on #7249
I guess in this case you need to disable type checking for the spy:
[code]

[2020-08-20 10:39] sesamzoo commented on #6472
Looks like this duplicates #4492.

[2020-08-20 10:51] neopaf opened #7256 "[BUG] Java oneof Classes are not generated"
##### Description

(Thanks for fantastic tool!)

I expect OneOfGeographicLocationGeographicLocationRef.java be created.

Actual: no such file is generated

##### openapi-generator version

Tried with
* 4.3.1
* openapi-generator-cli-5.0.0-20200813.162255-527.jar

##### OpenAPI declaration file content or url

[Swagger.json.txt](https://github.com/OpenAPITools/openapi-generator/files/5102449/Swagger

[2020-08-20 11:16] Gornoka opened #7257 "[BUG] [HTML] [Python] The code example for the python client in the HTML2 documentation generator is invalid"
#### Bug Report Checklist

- [~] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator, yes I used the validate function of the api generator
- [5.0.0 ] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

The automated

[2020-08-20 12:17] cschabl commented on #7183
@macjohnny I've made a change that fixes the issue just for the basePath additional property (s. 7f8e7f8 on my fork). This works for the typescript-axios generator, at least.

But it is in class DefaultGenerator.buildSupportFileBundle() and not in code of the generator typescript-axios. Since I couldn't existing Tests that test additional properties, I don't know if that fix breaks othercode Gener

[2020-08-20 13:15] macjohnny commented on #5467
fixed in https://github.com/OpenAPITools/openapi-generator/pull/6789

[2020-08-20 13:15] #5467 closed

[2020-08-20 14:28] jmaister commented on #7216
Great. It's more clear now.

Thank you @borsch

[2020-08-20 14:28] #7216 closed

[2020-08-20 14:56] ParakhMittal opened #7258 "Headers getting overwritten n scala-akka client generation"
#### Description

In scala-akka-client code that is getting generated, addAuthentication method is called after setting headers using header parameter in the below mentioned line
addAuthentication(request.credentials)(
      httpRequest.withHeaders(headers(request.headerParams))
    )

However, in addAuthentication method, we are using withHeaders method that overwrites the headers set using heade

[2020-08-20 15:17] jcracknell opened #7260 "[Go] Array of nullable items not modeled as a slice of pointers"
If I run the following spec against the online API:

[code]
it produces the following model:

[code]
where `strs` should probably be a `[]*string`.

Some inspection of the code suggests the problem is that `AbstractGoCodegen.getTypeDeclaration` does not deal with nullability at all, when in reality it must because it is recursive.

[2020-08-20 15:31] ParakhMittal commented on #7258
Fix proposed in the pull request #7259

[2020-08-20 16:19] DacianCoder opened #7261 "[Typescript - Fetch] validation on properties"
Hello,

I'm exploring what this generator can do. While I see it can correctly infer  the validation of required properties in complex objects.
I'm wondering if there is any option for the generator to include the validation from swagger.
I don't have  any particular use case but I can't seem to find any trace of this potential feature here

[2020-08-20 17:10] FelschR opened #7262 "[BUG] Generation fails "the allOf schemas must use $ref""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-20 19:50] akapuya commented on #1368
Any updates on this?

[2020-08-20 19:57] jonaslagoni opened #7265 "[REQ] [csharp] option to use asynchronous callbacks or generate it by default."
### Is your feature request related to a problem? Please describe.

This is a dublicate issue from https://github.com/swagger-api/swagger-codegen/issues/10424

I want to have the option of asynchronously call the api with the `csharp` generator. I am unable to use the generator `csharp-netcore` which has this feature.

## Describe the solution you'd like

With the following document
[code]
This is

[2020-08-20 20:26] toby-murray-snow-software commented on #4673
I've just posted a 50$ CAD bounty on this: https://www.bountysource.com/issues/84779902-bug-java-generated-code-fails-compilation-using-wrong-object-for-generated-model

[2020-08-21 01:32] dyno commented on #7254
swagger-cli also think it's valid

[code]

[2020-08-21 02:23] #2696 closed

[2020-08-21 07:05] TomaszRumpca commented on #7241
I have exaclty the same problem while migrating from swagger-codegen to openapi-generator. Swagger codegen is able to handle that and generate an alias for HashMap<String, Money>.

[2020-08-22 05:45] UkonnRa opened #7269 "[BUG] Rust generator does not do the local variable protection"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-22 15:14] UkonnRa opened #7270 "[REQ] Rust generated code should follow Clippy suggestions"
### Is your feature request related to a problem? Please describe.

Now, when using `cargo clippy` to check the generated code, some **bad smell** may raise.

For example, when running `cargo clippy --all-targets --all-features --allow-dirty --allow-staged --fix -Z unstable-options -- -D warnings`, the following warning may raise:

**About naming**

[code]

**About rules like `new_without_default`

[2020-08-23 01:54] sebastien-rosset opened #7272 "[REQ] Extensible enums - how to model and generate"
### Is your feature request related to a problem? Please describe.

This is a request for discussion that may lead to enhancements. How to model extensible enumerations in OpenAPI doc and how to generate client SDKs? Specifically how to generate clients that don't cause exceptions when new enums are added in the OpenAPI documents at a later date?

Suppose an OpenAPI doc has a property which is an

[2020-08-23 05:21] lachlanwp opened #7275 "[REQ] Specify which examples to add to HTML2 documentation"
## Describe the solution you'd like

I only generate about 7 client libraries for my API and it would be great if I could specify to generate examples (in HTML2 documentation) for the client libraries I am making available.  The HTML2 docs are great but some of the samples are irrelevant to my project as I'm not supplying those particular client libraries.

e.g. the tabs showing examples can't be

[2020-08-23 18:14] jonaslagoni commented on #7265
Gonna reopen, I could really use the `Action` callback variant instead of using Tasks. I am restricted in using all features of `System.Threading` directly in my code.

[2020-08-23 21:41] #5920 closed

[2020-08-23 22:59] jimschubert commented on #7227
@harshad5498 you'd need to create a custom generator which extends the existing generator to add new file outputs. You'll need to provide a new name in `getName`, register the new class in the META-INF location in your project, and finally add all templates plus your new templates. The key part would be to add your new files to the `supportingFiles` list.

The process is fairly simple. You can che

[2020-08-24 02:07] jimschubert commented on #3456
Hey, I've just tested this in master and it's working as I would expect (HashMap is imported, but the dynamic object has no initializer and would default to null). Would you mind giving it a try if possible?

![image](https://user-images.githubusercontent.com/109659/90996151-e3021200-e58b-11ea-8b39-607bd8733f9d.png)

I think it was fixed as a result of #6052 which I'd implemented as a result of co

[2020-08-24 02:19] jimschubert commented on #7215
This would be a problem with the spec document itself, I think, but it's hard to say without a sample document. There is no collectionFormat `pipe`.

In OpenAPI 3.x, there's style `pipeDelimited`.
![image](https://user-images.githubusercontent.com/109659/90996775-c4047f80-e58d-11ea-932f-b3cf765bc5b7.png)

In OpenAPI 2.0, there's collectionFormat `pipes`.
![image](https://user-images.githubusercont

[2020-08-24 02:49] jimschubert commented on #7215
Dug in more, the issue is that 4.3.1 incorrectly [set this as pipe](https://github.com/OpenAPITools/openapi-generator/blob/v4.3.1/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5433) and this is [already fixed](https://github.com/OpenAPITools/openapi-generator/blob/v5.0.0-beta/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.jav

[2020-08-24 02:55] jimschubert commented on #7215
As a workaround for 4.3.1 if 5.0.0-beta is not possible, you can download [4.3.1's baseApi.mustache](https://raw.githubusercontent.com/OpenAPITools/openapi-generator/v4.3.1/modules/openapi-generator/src/main/resources/typescript-axios/baseApi.mustache) to some directory such as `template-fix`, edit from `pipes` to `pipe`, then generate targeting the customized template:

[code]

[2020-08-24 03:25] jimschubert commented on #6889
Thanks for the report. #6891 has been merged to master.

[2020-08-24 03:25] #6889 closed

[2020-08-24 03:27] rumatakira opened #7277 "Pls make all for Dlang. 🤞"
### Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-08-24 03:29] rumatakira opened #7278 "Pls make server stub for php Spiral framework"
### Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-08-24 04:13] jimschubert commented on #6095
The fix contributed in #6834 is now in master

[2020-08-24 04:13] #6095 closed

[2020-08-24 04:31] ash-r1 opened #7280 "[REQ] Improve go-gin-server template"
Hi, I'm gopher, as others already mentioned, go-gin-server has several issues.
I want to make points clear in this issue and discuss it.

Below is my suggestion as a gopher.
Locate source codes on the root (instead of under `go` directory)
Use separated package for controller or model.
Controller's implementation which based on request/response definition.
Bind body with `shouldBind` or get parame

[2020-08-24 05:34] harshad5498 commented on #7227
Thanks Jim will go through your project , and let you know .

[2020-08-24 05:53] FloKaemmerer commented on #3456
@jimschubert Thanks for looking into this.

I tried the 5.0.0-Beta

The HashMap is now imported correctly, but the Object with the additional Properties does not extend HashMap any more.

My Objects look like this:

[code]

[code]

[2020-08-24 08:49] #7107 closed

[2020-08-24 09:03] #7184 closed

[2020-08-24 09:09] cobraz commented on #6597
Any updates on this?

[2020-08-24 09:35] pgrosslicht opened #7281 "[BUG][Swift5] Generator output not compilable with uniqueItems"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-24 10:32] CoenWarmer commented on #5301
I too came looking for documentation on `--enable-post-process-file` and find it a perfectly reasonable expectation that that can be found through the main documentation for the project, whether that is the main `README.md` or a documentation site.

Not denying anyone's efforts here, just stating there's room for improvement here.

[2020-08-24 10:54] sebas2day opened #7282 "[BUG][Typescript-axios] Typescript 4.0.x: the operand of a 'delete' operator must be optional"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-24 11:29] jirikuncar opened #7283 "[BUG] Failed to generate bin/configs/python-blueplanet.yaml"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] ~Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?~
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spon

[2020-08-24 11:53] dkarlovi opened #7284 "[REQ] (New?) PHP client generator with -l support"
### Is your feature request related to a problem? Please describe.

We should discuss the fact that `php` is the client which you should be able to ask to build Symfony bindings (bundle) similar to `php-symfony` (but as a client, obviously). Currently the other PHP generators are all servers (AFAIK?), but you wouldn't know it from the names alone: `php-symfony` could also mean "PHP client with Sym

[2020-08-24 11:53] dkarlovi commented on #7284
@ybelenko WDYT?

[2020-08-24 12:11] ybelenko commented on #7284
I'm always open to renaming and refactoring, because like to use the latest versions of packages all the time. I don't know whether @wing328 will approve it.

The second questions is... do we have contributors to implement new 5 php client generators :smile:

I tried to upgrade current 5 php generators and it took a lot of time, feels like a real job. Beside I was unemployed from November 2019 and

[2020-08-24 12:25] dkarlovi commented on #7284
I'm suggesting adding **one** new generator (which could optionally implement specific libraries), not five.

The featureset I'm thinking about:
- Handlebars by default, allowing for (hopefully) more easier implementation (I have no Handlebars experience so don't know how powerful it actually is, hope it's a lot better than Mustache)
- [PDS](https://github.com/php-pds/skeleton) compatible
- `-l` s

[2020-08-24 12:41] ybelenko commented on #7284
I never used Handlebars either, but if it can solve nested variables issue I would vote for it.

I'm not sure that users need templates feature at all, because I found recently popular implementation which works with OpenAPI spec file directly. Here the link https://packagist.org/packages/cebe/yii2-openapi It's crazy if we will have to deprecate templates completely when all frameworks will be abl

[2020-08-24 12:56] macjohnny commented on #7282
@sebas2day would you like to fix this?

[2020-08-24 13:53] sebas2day commented on #7282
@macjohnny Yes, I'll make a PR for it

[2020-08-24 14:10] wing328 commented on #4673
I tested with the latest master but couldn't repeat the issue with https://gist.githubusercontent.com/tobymurray/c9733c7e1ca3bac292eb906838949d2c/raw/4d61a8fbb23c9637493c09259285fe329501991b/api.yaml

Can you please test with the latest master to see if it works for you?

[2020-08-24 14:42] #6979 closed

[2020-08-24 15:06] andrewparmet opened #7287 "[BUG][KOTLIN] Generator printing warnings for type-mapped class"
##### Description

I'm trying to generate Kotlin code using a mapped type `Feature` that I want to provide. The generated code looks correct, but the plugin prints a warning line:

```Unknown type found in the schema: Feature```

Am I configuring something incorrectly and that line can go away?

I have a minimal example at https://github.com/andrewparmet/test-openapi-kotlin-type-mapping.

My confi

[2020-08-24 15:17] sebas2day commented on #7282
Ah looks like this issue implicitly got fixed by this PR #6960 but is not released yet :)

[2020-08-24 15:17] #7282 closed

[2020-08-24 15:35] sebas2day commented on #7282
There's still some compiling issues however:
[code]

I'll make a fix

[2020-08-24 15:45] macjohnny commented on #7282
@sebas2day the URL class should be available in the browser as well as in node environments: https://nodejs.org/api/url.html#url_new_url_input_base

[2020-08-24 16:12] maxbrokman opened #7288 "[BUG][JAVA] Numeric String enums cause duplicate enum keys"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? *4.3.1*
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty t

[2020-08-24 16:28] #3088 closed

[2020-08-25 01:46] jimschubert commented on #3456
@FloKaemmerer The objects are no longer treated as a HashMap, but rather as a regular object where `additionalProperties` are stored in the "bag" of `additionalProperties` as introduced via #6518

![image](https://user-images.githubusercontent.com/109659/91112170-59684800-e650-11ea-98a3-9230b389bc70.png)

I don't have context around the change from #6518, but I assume it has to do in part with how

[2020-08-25 02:29] jimschubert opened #7290 "[REQ] First-time contributor labeling and core team tagging"
### Is your feature request related to a problem? Please describe.

Some technical committees have slow response times, which could potentially be off-putting to new contributors. I think it would be helpful to have a core team member in the loop on all first-time contributors.

## Describe the solution you'd like

If possible, label pull requests from first-time contributors as such and assign @O

[2020-08-25 04:00] wing328 commented on #7053
What about using customized templates with the `-t` option in stead?

[2020-08-25 04:03] wing328 commented on #7269
Right, other clients are already using similar prefix. For Rust, what bout using `local_var_` prefix instead?

Would you have time to contribute the enhancement?

[2020-08-25 04:06] wing328 commented on #7270
Good idea 👍

We just did the same for the C petstore client using a different code analysis tool.

I wonder if you can put the full report here so that the community can work on these issues reported by Clippy one by one.

Thank you.

[2020-08-25 05:38] FloKaemmerer commented on #3456
@jimschubert Thanks for clearing that up, I missed that in the changelog.

But the problem is that the generator tries to initialize the Object that has the additional properties as a HashMap. (See the Code in my previous comment)

[2020-08-25 06:35] wing328 commented on #7283
it's working fine for me:
[code]

[2020-08-25 07:27] takisawa opened #7291 "[BUG] unexpected generated code when override security scheme on swagger2.0"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-08-25 07:42] sebas2day commented on #7282
@macjohnny Yes, but the compilation will break when you don't have the `"lib": ["dom"]` included in your tsconfig like within the tests. For my use case I'm working a node-only environment where I don't want to include this lib.

[2020-08-25 09:17] ybelenko commented on #7290
Sounds good, but how should I review code made with languages that I never seen before?)

Should I write something like:

[2020-08-25 09:35] AlejandroKolio commented on #5993
It would be nice to have a generified Page response automaticaly generated from spec. something like:
`ResponseEntity<Page<User>>` instead of `ResponseEntity<Page> `

[2020-08-25 09:43] UkonnRa commented on #7270
Well, that will be a long list, but the main problems are the two mentioned:

[code]

[2020-08-25 10:44] harshad5498 commented on #7227
@jimschubert  That worked for me , have another question . Can you tell me how i can create docs created by open api generator or should i write new mustache files and add then in supporting files as i did previously  to create and modify java files .

[2020-08-25 11:03] onitake opened #7294 "[REQ][Go] Validate enums"
## Is your feature request related to a problem? Please describe.

The Go models generated by openapi-generator currently don't contain any kind of input validation code.

Using the `x-go-custom-tag: validate:"regexp=..."` syntax, it is possible to at least add some validation tags for external validation modules (this example is intended for `gopkg.in/validator.v2`).

This will not work when refe

[2020-08-25 12:28] its-atique1987 commented on #2901
@Patouche
Why to add maven dependency? we can select the package (Eclipse IDE) do press Ctrl+Shift+O which removes unused imports and done.

[2020-08-25 14:11] JRAndreassen commented on #7053
@wing328 👍  Sory for the delay...
I do have my own templates...
But these seem like features useful for others...

[2020-08-25 14:21] ityuhui commented on #7221
Hi @wing328 @zhemant @michelealbano

I reviewed all cases of memory leak in model/*.c and think they are false alarms.

Take the below case as an example:

Bug Group | Bug Type ▾ | File | Function/Method | Line | Path Length |-
-- | -- | -- | -- | -- | -- | --
Memory error | Memory leak | model/pet.c | pet_parseFromJSON | 244 | 30 |  

[code]

The openapi c client only allocates the memory of mode