[2020-01-22 15:39] kingdun3284 commented on #5032
Sure, I would like to offer help within my capability, but I have no idea about is there any mustache variable already exist for checking an array of object and the document about it is really a mess.

The temporary fix for my project is just overriding the default apiInner.mustache by adding
[code]
before
[code]
And I think this must not be the final fix. What do you think?

[2020-01-22 16:25] gritschf opened #5079 "[BUG][typescript-angular] use imported mapping in api"
Is there any way to use an imported mapping in the api.service itself?

I already have an external dependcy with my typings (`@entities`)
And an api which uses them.

If i generate the api client with

`$ openapi-generator generate -i http://xxx -g typescript-angular  -c ./gen.cfg`

gen.cfg:
`{
  "importMappings": {
        "Payload":"@entities"
  }
}`

the import in the default.services.ts is `im

[2020-01-22 16:26] macjohnny commented on #5032
the type checking can be done in the actual typescript code, no need for a mustache variable.

[2020-01-22 16:56] roddy commented on #5073
Yeah I can take a swing at it.

[2020-01-22 18:12] paul-utley opened #5080 "In php, date type query parameters formatted as date-time"
##### Description

When using a parameter with the format 'date', it is incorectly formatted as a date-time. In my situation, we're passing 2 dates in the query parameters, and our api is receiving the parameters formatted as date-time and rejecting the request.

##### openapi-generator version

Version 4.2.0

##### OpenAPI declaration file content or url
[code]

##### Command line used for genera

[2020-01-22 18:25] selankon commented on #4887
The method that is not implemented and is implemented on other models should be like:

[code]

I'm not sure why this is not implemented, but looking at the mustache files [dart/class.mustache](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/dart/class.mustache) I found:

[code]

So maybe we need only to add this code on [dart/enum.mustache

[2020-01-22 18:30] dkliban opened #5081 "[BUG] Python generator emits java.lang.RuntimeException: Could not process model"
Our schema is available here: https://docs.pulpproject.org/api.json

When I run the following command (v4.2.2) it works correctly:

`
podman run -u $(id -u) --rm -v ${PWD}:/local openapitools/openapi-generator-cli:v4.2.2 generate  -i https://docs.pulpproject.org/api.json -g python -o /local/pulpcore-client --additional-properties=packageName=pulpcore.client.pulpcore,projectName=pulpcore-client,pac

[2020-01-22 20:01] daiscog opened #5083 "[BUG][Java] Java generator does not generate a model class for a schema named 'File'"
When an api.yml file contains a type definition called 'File' no model class is generated by the Java/spring generator for that type.

##### openapi-generator version

4.2.2

##### Details

The `api.yaml` file defines a type called `File` and an endpoint that returns a wrapper object containing a field of this type.

The generator is configured to use the package `com.example.rest.model` for gener

[2020-01-22 21:11] axbusch commented on #5072
I did this for me and it works. I free the data received later in apiclient_free()

Can make a PR if wanted.

[2020-01-23 03:19] kingdun3284 commented on #5032
So, do you think my fix above is appropriate?If it is fine, I can make a PR for it.

[2020-01-23 05:44] macjohnny commented on #5032
Yes, just go ahead

[2020-01-23 07:11] bscheller-iso opened #5086 "[BUG]Error generating java due to a default for a date"
##### Description

I'm facing a problem using a date in openapi3 and generating java or spring code using openapigenerator 4.2.2 or 4.2.3-SNAPSHOT.

##### openapi-generator version

openapigenerator 4.2.2 or 4.2.3-SNAPSHOT

##### OpenAPI declaration file content or url
[code]
##### Command line used for generation

java -jar modules/openapi-generator-cli/target/openapi-generator-cli.jar generate -

[2020-01-23 07:20] wrssmi opened #5087 "[BUG] IndentedLambda not working across different OS"
##### Description
Intendtion is not working when generator is build on Unix OS (New Lines are LF) and Generator executed on Windows (New Lines are CRLF)

##### openapi-generator version
4.2.2

##### Steps to reproduce
0) use `{{#lambda.indented}}` somewhere
1) build and store jar of a customized generator on Unix OS
2) run codegeneration on Windows OS
3) {{#lambda.indented}} is not doing indention

[2020-01-23 08:39] macjohnny commented on #5032
see also https://github.com/OpenAPITools/openapi-generator/pull/4407/files

[2020-01-23 11:14] tflis opened #5089 "travis"
##### Description

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2020-01-23 11:14] #5089 closed

[2020-01-23 11:19] axbusch opened #5091 "[BUG] C Libcurl no enums created"
Minimal spec
https://gist.github.com/axbusch/d7c0a34ff31167e052f4eed7ad5c744d

Version: 4.2.3-SNAPSHOT

cmd:
OPENAPI_GENERATOR_VERSION=4.2.3-SNAPSHOT ./openapi-generator-cli generate -i ~/bin/weather_minimal.yaml -g c  -o ~/openweather-c-minimal

#### Problem
The parameters are defined as enums in the API specification, so i expect i get some enums in my c-sources

#### Output
A default API is cre

[2020-01-23 11:42] dbe128 commented on #1688
Micronaut support would be nice! Any plans?

[2020-01-23 13:14] Sebastiencreoff commented on #5053
@AIexG
Thanks for your answer, I will check it and close this issue if it is fine for me.

[2020-01-23 14:35] dkliban opened #5092 "[REQ] add 'latest-stable' tag to dockerhub image for openapi-generator-cli"
Our project uses openapi-generator-cli image from Dockerhub to generate client libraries. We would like to always use the latest release. When a new release is available, we have to update our scripts to use the new tag. It would be easier if 'latest-stable' tag always pointed to the latest release.

[2020-01-23 14:46] fabianvf opened #5093 "[Python] Generated code is out of contract - application hangs indefinitely"
Bug originally reported by @gaborbernat in the swagger-codegen project, but the same issue applies here: https://github.com/swagger-api/swagger-codegen/issues/9991

The generated code snippet from - https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/api_client.mustache#L78 is not allowed:

    def __del__(self):
        if self._pool i

[2020-01-23 15:14] dkliban commented on #5081
I just test this with the latest image published to Dockerhub and the problem has been resolved. I am going to close this issue.

[2020-01-23 15:14] #5081 closed

[2020-01-23 17:47] jfsiii commented on #1943
One more data point. I found this when looking into why `typescript-node` & `-fetch` switched  `package`  to `_package` for ~~`interface`~~ `class` properties

[2020-01-23 18:57] gattytto commented on #3806
should this be closed since the requested feature was implemented? I'd like to add a thread for client and server libs generation from the grpc schemas

[2020-01-23 19:18] gattytto opened #5096 "[REQ] gRPC client/server libs snippet engine templating plugin"
googleapis use a specific templating engine for their client-side SDK.

the template engine uses .snip files present in https://github.com/googleapis/gapic-generator/tree/master/src/main/resources/com/google/api/codegen

.snip snippet file example:
[code]
the template engine implementation is made using Java and the code seems to include linting functions for validation and also some "common pract

[2020-01-23 19:28] vitaliysapounov opened #5097 "[BUG] [Java] inheritance is generated without discriminator field"
##### Description

We see that inheritance (instead of composition) is generated where, as we think, it should not.

Namely, we have the following model file:

[code]

The following two classes are of interest:

1. Basically, `Inheritance` class is declared as having all the properties of `Base` and some additional. Note that there is no discriminator defined. Thus, since there is no discriminator

[2020-01-23 19:53] seanlaff commented on #1943
I use a dirty sed to get around this for now `gsed -i 's/_default?:/default?:/' src/models/*;`

[2020-01-23 19:59] gattytto commented on #5096
@wing328 you mind if I ping you here? since you made the commit for https://github.com/OpenAPITools/openapi-generator/pull/3818

[2020-01-23 22:08] kvernon opened #5099 "[BUG] [JavaScript] Cannot Output Multiple Response Types"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-24 07:38] jmini commented on #27
@mohanaraosv:
OpenAPI generator supports OpenAPI v3 (you can use this as input file). Some code generators (like the jaxrs server generator in this case) produce code that rely on Swagger v2 libraries…

As explained in this issue, it is just a matter of fixing the generator.

[2020-01-24 07:56] #5073 closed

[2020-01-24 09:42] axbusch opened #5101 "[BUG] C "-" in Parametername is converted to "_""
Version: 4.2.3-SNAPSHOT

[code]

The generated code is:

[code]

but i would expect
[code]

[2020-01-24 12:26] jimschubert commented on #5092
Would it be sufficient to wrap https://github.com/OpenAPITools/openapi-generator/blob/master/bin/utils/openapi-generator-cli.sh into a standard JDK image? This script checks the latest tag on GitHub at every invocation and pulls/executes that jar.

By wrapping that script, we build the image once (or scheduled daily to keep dependencies updated) and there's no maintenance or need to hook into our

[2020-01-24 14:05] hillfias opened #5103 "[BUG][SERVER][Maven plugin][JAVA][JAXRS-CXF] securitySchemes components applied to endpoint/whole API in the specs fail to generate anything in code"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-24 15:12] edouardmercier commented on #2761
I agree with @Emdee89, a global configuration parameter which would achieve this work-around by default, would be nice: when you want your generated methods to have the same name as their default "operationId" counterpart (which is the method name for instance in Java), having to add a prefix on all colliding web services operations is a bit tedious.

[2020-01-24 19:42] amakhrov opened #5104 "[BUG][typescript-angular] isReservedWord check is performed before appending modelSuffix"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-24 21:59] #5104 closed

[2020-01-25 17:18] Clean-Cole commented on #2646
I have a list of all the necessary changes to get this working with dotnetcore 3.0/3.1 and the latest swashbuckle.  Will try to get an MR up unless it would be duplicative of anyone else's work

[2020-01-26 00:07] #3066 closed

[2020-01-26 04:44] anthowm commented on #1458
This is working with OAS 3

[2020-01-26 09:42] Warchant opened #5110 "[BUG][Typescript] Duplicate key in enum when value (string) has characters that are not valid in variable name"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-26 10:57] silentsnooc opened #5112 "[BUG][typescript-fetch] Multipart/form-data doesnt work with requestBody"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? (openapi-generator-maven-plugin, 4.2.2)
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected o

[2020-01-26 11:06] silentsnooc opened #5113 "[BUG] Support for consumes in @RequestMapping not working"
Instead of

[code]

One has to go with `@ApiResponse` in order to get `Content-Type` set in the generated code.

[code]

The first generated

[code]

instead of

[code]

[2020-01-26 14:57] silentsnooc opened #5115 "[BUG] @RequestPart (sometimes) ignores first argument depending on order"
##### Description

I am working on a file upload endpoint which is supposed to take a file and two string `title` and `description`.

Now, it seems that the order changes whether this works or not:

With this order:

[code]

I am getting

![image](https://user-images.githubusercontent.com/1429426/73136998-2fb45780-4054-11ea-8b62-2ee55367c66e.png)

Whereas changing it to this order

[code]

I would

[2020-01-26 16:32] jimschubert commented on #33
Excellent contribution in #5040.

I've created the [Sonar CI](https://github.com/OpenAPITools/openapi-generator/blob/master/.github/workflows/sonar.yml) GitHub Action as well to perform analysis via SonarCloud, which will run on pushes to master or feature branches.

I put the contribution from #5040 under a new profile in #5116. I want to get this into master, and then evaluate where is the best

[2020-01-26 17:45] #33 closed

[2020-01-26 17:53] sebastien-rosset opened #5117 "[BUG] Need more robust handling of URL operation 'path' segment character encoding"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-26 18:35] sebastien-rosset commented on #5074
Fixed through #5075

[2020-01-26 18:35] #5074 closed

[2020-01-26 18:36] sebastien-rosset commented on #5025
Fixed through #5095

[2020-01-26 18:36] #5025 closed

[2020-01-26 21:27] sebastien-rosset commented on #5117
I see AbstractJavaCodeGen modifies the path with a  call to sanitizePath(), but it's done in a very limited way (only the double quotes are changed). IMO, this should be done in a canonicalized way across all languages.

[2020-01-26 22:35] sebastien-rosset commented on #5117
Here is a golang program that does proper path escaping. It does not escape the curly braces to retain them for OAS path templating. The implementation is more complicated that it seems at first. Even the standard go library does not properly escape the path.

https://play.golang.org/p/X-sX8CwwlnM

[2020-01-27 01:07] jimschubert commented on #4357
Closed via #5035

[2020-01-27 01:07] #4357 closed

[2020-01-27 06:18] spacether commented on #4885
This issue has been resolved by https://github.com/OpenAPITools/openapi-generator/pull/4888

[2020-01-27 06:18] #4885 closed

[2020-01-27 06:26] spacether commented on #4668
@sdirnstorfer and @vontell have you tried using the python-experimental generator?
If you define an enum with a single value in it, that is used as the default value?
Is your use case for a python server or client?

[2020-01-27 06:28] spacether commented on #4181
@slash-arun can you provide a sample spec and data response that demonstrates this issue?
Then we can use it to debug and solve this problem.

[2020-01-27 06:31] spacether commented on #3844
This has been resolved by https://github.com/OpenAPITools/openapi-generator/pull/4988

[2020-01-27 06:31] #3844 closed

[2020-01-27 07:15] Lumyo commented on #5112
I've got the same issue

#4844

[2020-01-27 07:42] steklopod commented on #4128
Same

[2020-01-27 07:48] Lumyo commented on #5112
@silentsnooc You seem to have an error in your definition file though, you are defining the file parameter as in query and not as a requestBody.

Here is how my definition file looks like : https://gist.github.com/Lumyo/1a29079da92ee1c0b8b1f7415c99a42f

But the problem is that the request body goes then through a JSON.stringify instead of using a FormData in the generated code.

It works fine with

[2020-01-27 08:40] #4404 closed

[2020-01-27 11:55] cthiebault opened #5121 "[BUG] [kotlin-spring] MissingKotlinParameterException instead of BeanValidation exception for required property"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-27 12:21] sdirnstorfer commented on #4668
I don't understand that. Why should I use an enum? I can't just change the type of the argument. Let's say I have a parameter "param" which is of type Number. I want to be able to apply other than the default values, but optionally leave it away.
This problem is maybe not the standard use case of the client generator. The described problem purely simplifies the live of a developer who relies on he

[2020-01-27 14:40] tmakin commented on #1983
@MBcom I'm trying to implement Role based authorization via the `aspnetcore` generator. However, I can't work out how to define the scopes for this mustache block
[code]
Can you point me towards a working examaple?

[2020-01-27 15:00] #3065 closed

[2020-01-27 15:19] luStopai commented on #3065
Thanks a lot, etherealjoy !! :smile:

[2020-01-27 17:58] spacether commented on #4668
Let me try to help explain why.
Enums allow our users to specify one or more options for the value of a parameter per https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/python-client-experimental/petstore-with-fake-endpoints-models-for-testing.yaml#L1830
In python-experimental, if a operation parameter/model property is:
- required
- only

[2020-01-27 18:21] spacether opened #5126 "[BUG] [python] Endpoint required enums of length one unset"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-27 21:18] parachutemind commented on #1529
This one seems like an important thing to do. Otherwise, future proofing the clients against API extensions could be a problem.

[2020-01-28 01:53] amakhrov opened #5127 "[BUG][typescript-angular] Incorrect import path for inline models"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

Inline models

[2020-01-28 04:38] spacether commented on #4668
Hm upon closer reading of this ticket it looks like your use case is on the server.
Option 1 that you laid out is how the spec defines default on the server side.
Which generator and framework are you interested in adding it in?

[2020-01-28 06:34] macjohnny commented on #5127
@amakhrov

this seems correct, or am I missing something?

[2020-01-28 06:45] amakhrov commented on #5127
My bad. The actual import looks like
[code]
see the missed dashed before `1`

[2020-01-28 07:23] #5127 closed

[2020-01-28 08:42] bkabrda commented on #522
I believe that this issue can be closed now thanks to #4787 and #3989.

[2020-01-28 11:08] macjohnny commented on #5112
any contribution to fix this is appreciated

[2020-01-28 11:09] macjohnny commented on #5110
@Warchant would you like to contribute a fix?

[2020-01-28 12:06] ericdariel commented on #4803
Hello,

I have the same problem, impossible to generate a MultipartFile[] in Spring Boot with openapi-generator 4.2.2

Anyone knows how to do in Open API v3 ?

[2020-01-28 16:12] martyzz1 opened #5133 "[Question] To Subclass or to Customize"
Given I've just gone through the process of upgrading from V 4.0 Beta to 5..0 pre release via version 4.*.
I'm falling very much out of love with doing bespoke code in my configuration.mustache.

I was wondering how other people deal with managing bespoke code in generated projects vs to hassle of updating configuration.mustache

I currently consume python, php and axios.   Python and php are the

[2020-01-28 16:47] spacether opened #5134 "[BUG] CircleCI is erroring out"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-28 22:40] amakhrov opened #5135 "[BUG][typescript][typescript-angular] enumSuffix appends to modelNameSuffix"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

1. [all types

[2020-01-29 00:12] eicki opened #5136 "[REQ] Load templates from classpath"
### Is your feature request related to a problem? Please describe.

Currently the only way to overwrite embedded templates is to use the templateDir. If openapi generator is used in multiple projects that should share all the same customized templates you have to copy the templates to each project or to fork and adjust he generator project itself and adjust the embedded templates directly.

## Des

[2020-01-29 00:38] jimschubert commented on #5134
CircleCI sometimes had these issue and simply requires a restart.

I don't agree with the proposed solution because it's a potential security risk (like if an attacker can somehow grab our secrets and deploy "new" artifact versions).

[2020-01-29 01:34] jimschubert commented on #4072
The fix for this was merged and released in 4.2.2 (see https://github.com/OpenAPITools/openapi-generator/commit/10f17877f1237af99fc286ed21b2fcd374e19a27)

I've updated the milestone back to 4.2.2 because this bug was already documented in our [4.2.2 Release Notes](https://github.com/OpenAPITools/openapi-generator/releases/tag/v4.2.2).

[2020-01-29 01:34] #4072 closed

[2020-01-29 01:36] #5134 closed

[2020-01-29 02:01] jimschubert commented on #103
This work has been done since #1770, and I've updated relevant wiki pages with a note directing to the hosted doc site.

[2020-01-29 02:01] #103 closed

[2020-01-29 02:03] jimschubert commented on #146
This has long since been resolved by using a custom build of swagger-parser when we need change that don't exist upstream.

Our repo for swagger-parser intermediate changes is at https://github.com/OpenAPITools/swagger-parser.

[2020-01-29 02:03] #146 closed

[2020-01-29 02:05] jimschubert commented on #266
This is a minor change and obviously low-priority, so I'm closing. We can reopen if it ever becomes a huge issue.

[2020-01-29 02:05] #266 closed

[2020-01-29 02:08] jimschubert commented on #156
I think this was an issue for a while, but we relied only on oas2 spec outputs. Now that oas3 support is more inline with oas2, I think it's less of a concern.

Should we close this?

[2020-01-29 02:13] jimschubert commented on #297
This has been resolved since #2399. The error wasn't tests, but javadoc trying to find a link to the repository. See http://maven.40175.n5.nabble.com/quot-Error-fetching-link-quot-when-running-Javadoc-Report-but-can-t-find-link-td5149790.html

[2020-01-29 02:13] #297 closed

[2020-01-29 02:17] amakhrov opened #5139 "[BUG][typescript] Models named after language-specific types generate incorrectly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-29 02:17] jimschubert commented on #238
Closing this as we've obviously stuck with GitHub, and Microsoft's acquisition of GitHub has made the platform more solid if anything. [See the issue on mobile web which I reported and they fixed in under 4 hours](https://twitter.com/jimschubert/status/1221130522920878080). We've also spread our integration/regression/unit testing efforts across multiple free providers to spread the load and reduc

[2020-01-29 02:17] #238 closed

[2020-01-29 02:18] jimschubert commented on #300
Closing this as we've gone with Open Collective.

[2020-01-29 02:18] #300 closed

[2020-01-29 02:19] jimschubert commented on #17
We've created a ton of labels, and I created the GitHub App [auto-labeler](https://github.com/jimschubert/auto-labeler) to assist with labeling issues. I think this is good to close.

[2020-01-29 02:19] #17 closed

[2020-01-29 02:22] jimschubert commented on #355
This was fixed, but I don't recall when (the PR wasn't linked back to this issue). Tried on master, and there are no NPE but the spec does require `--skip-validate-spec`:

[code]

Please open another issue if there are concerns with the spec handling or output.

[2020-01-29 02:22] #355 closed

[2020-01-29 02:30] jimschubert commented on #386
I hope you don't mind, but I'm going to close this in favor of #746. Although that one is a duplicate, it has more details and more discussion than this issue.

[2020-01-29 02:30] #386 closed

[2020-01-29 02:36] jimschubert commented on #361
Closing this as it's labeled as invalid spec, and our samples demonstrate valid output from valid specs.
We've since added spec validation to the generator, and should help explain spec issues to users at generation time.

[2020-01-29 02:36] #361 closed

[2020-01-29 02:39] jimschubert commented on #335
This will have to come after #4979, so the validation work can be shared between the CLI and the plugins.

[2020-01-29 03:02] jimschubert commented on #530
Regarding the options…

We have these.

Twitter apparently no longer lets you choose the twitter name?

We have this, it redirects to this repo currently but could/should redirect to organization details in the future.

This isn't necessary. Most tools/framework have a dedicated site which is not resourced under a TLD. See, for example delta.io (DataBricks), swagger.io (SmartBear),

If we wanted t

[2020-01-29 03:02] #530 closed

[2020-01-29 03:39] jimschubert commented on #5133
You can exclude these files using `.openapi-generator-ignore`. Or are you more looking for these configuration properties to have a precedence for environment variables (like, loading in the constructor)? That would be a great feature request to discuss with the Python technical committee.

[2020-01-29 05:58] #5093 closed

[2020-01-29 06:11] spacether commented on #2028
This feature was added in https://github.com/OpenAPITools/openapi-generator/pull/4154

[2020-01-29 06:11] #2028 closed

[2020-01-29 06:21] spacether commented on #712
@fabianvf will your PR https://github.com/OpenAPITools/openapi-generator/pull/5094
also resolve this issue?

[2020-01-29 07:09] MartinDelille commented on #300
I don't see why there should be only one funding option. A store accept cash or credit card to let the customer choose the best way to pay. I think we can apply that to funding too.

[2020-01-29 07:14] MartinDelille commented on #238
Ok I changed my mind regarding Microsoft acquisition and I agree with you.

What should we do with the current Gitlab repository?

- Remove it
- Manually mirror it

If there is some issue/merge request there we could eventually advertise that we use Github for that.

[2020-01-29 07:16] fabianvf commented on #712
@spacether it should at least allow the user to manually close the thread properly (or use the context manager). It might still happen `atexit` but I'm not sure.

[2020-01-29 07:53] adamaiken89 commented on #2235
Can we generate a static HTML documentation using template like Swagger UI without changing the output files now?

[2020-01-29 08:33] arrigod commented on #3336
Hello, I would also be interested in this feature. What is the current status?

[2020-01-29 08:45] aroslaniec opened #5143 "[REQ] Support for unknown type in typescript generators"
### Is your feature request related to a problem? Please describe.

API generator should allow config option to use `unknown` type instead `any`.
The main difference between `unknown` and `any` is that `unknown` is much less permissive than `any:` we have to do some form of checking before performing most operations on values of type `unknown`, whereas we don't have to do any checks before perform

[2020-01-29 08:50] #4818 closed

[2020-01-29 08:53] wing328 commented on #3336
@vfrank66 please file a PR to start with. We'll review and let you know what else needs to be done to get it merged into master.

[2020-01-29 09:18] #3704 closed

[2020-01-29 09:25] hillfias commented on #5103
@wing328 can you take a look on this please? :)

[2020-01-29 10:29] sakanaou opened #5144 "[BUG] [SPRING-CLOUD] Unnecessary package imports in clientConfiguration"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-29 11:41] jimschubert commented on #4936
I think this is a great idea for a generator!

To implement a new generator, you'd want a minimal sample application and an understanding of the configuration options you'd like to offer.

Then, run the `new.sh` script in the repo which will stage all the files necessary to contribute the generator into the project. Filling out the  actual generator code is pretty straightforward to start: define

[2020-01-29 11:45] jimschubert commented on #4923
Are you looking for generated code which includes validation in models? We do this in some of our generators. We would need to know which language/framework you're targeting to know if it's implemented in the relevant generator.

[2020-01-29 12:58] bkabrda commented on #3796
I think I managed to solve this as part of https://github.com/OpenAPITools/openapi-generator/pull/5120 - feel free to give it a go (although it's not a part of an existing release, it will be in openapi-generator 4.3.x release).

[2020-01-29 13:30] #4654 closed

[2020-01-29 13:31] nickshoe commented on #2906
Same issue with a JHipster API-first development project, which uses:
`<openapi-generator-maven-plugin.version>4.1.3</openapi-generator-maven-plugin.version>`

[2020-01-29 14:41] P3tronius commented on #1309
Any update on this? The signatures are barely usable as-is.

[2020-01-29 15:23] anandgbhat opened #5148 "[C++] openapi-generator does not handle additional properties type map"
##### Description
C++ openapi generated code has an issue wherein additional properties of the type map are converted to array with {key, value} due to which from_json() fails in the generated code.

##### openapi-generator version
4.2.2. Same issue is seen in 4.1.3 too.

##### OpenAPI declaration file content or url

Model generated for the below JSON snippet
[code]

C++ code generated:

This is

[2020-01-29 16:00] cputoaster opened #5149 "[BUG] [dart][dart-dio] Generator does not work with property named "source" or definition named "URL""
#### Bug Report Checklist

- [ x] Have you provided a full/minimal spec to reproduce the issue?
- [ x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ x] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2020-01-29 16:52] #3693 closed

[2020-01-29 16:52] #4604 closed

[2020-01-29 17:41] martyzz1 commented on #5133
I'm thinking I'd like to make my own subclass of Configuration.mustache, and override a function, so that as new features are added to Configuration.mustache I'm not forever having to deal with the changes....

[2020-01-29 18:10] #5126 closed

[2020-01-29 18:37] adrienzieba opened #5153 "[BUG][GO] imported and not used compilation error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-29 18:55] josephmulholland commented on #4816
I have noticed the exact same issue.

I have pinpointed where the issue was introduced:

* Version v4.0.3 non-required properties are generated as nullable types
* Version v4.1.0 non-required properties are generated as **NON-NULLABLE**

As mentioned by @kevinoid a non-required Date property is populated instead with the Min value for a date i.e. 1900-01-01 when not present in a request

[2020-01-29 19:25] keenanpepper commented on #3796
@bkabrda it seems like the approach does work, but the change from PROPERTY to EXISTING_PROPERTY needs to be made for other generators as well, for example JavaSpring, which we are using. I'll created a PR for this shortly.

[2020-01-29 20:03] saurabhsjoshi opened #5157 "[BUG][JAVA][Gradle Plugin] Java client generator not initializing fields"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-29 21:43] LBoraz commented on #1646
this is still a bug in version 4.2.2 of the generator and multiple files (specified as an array of binary strings) don't produce a list of multiPartFiles. Swagger generator does a better job generating a list of Resource objects, respecting the "required" indications and using the names provided in the yaml for the parts

[2020-01-29 22:04] amakhrov commented on #5143
@aroslaniec Do you have any particular example of the api spec and the generated output that would demonstrate the requested change?

[2020-01-29 22:23] amakhrov opened #5159 "[BUG][typescript] "List" model defined in my spec results in illegal TS code"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

##### openapi

[2020-01-30 00:44] sebastien-rosset commented on #2090
Are you still having the issue?

[2020-01-30 04:01] cvgaviao commented on #590
@wing328, would be possible to set some parameter at command prompt to override values in model's server variable ?

[2020-01-30 04:17] dansleboby opened #5163 "[BUG] Invalid accept header PHP"
OpenAPI Generator version: 4.2.2

##### Description
You should not overwrite the headers
It a valid header and also define in RFC: https://tools.ietf.org/html/rfc2616#section-14.1

Here is the JSON: https://github.com/dansleboby/ubity-sdk-php/blob/master/swagger.json#L307

##### Suggest a fix/enhancement

The elseif for application/json overwrite the wanted headers in my YAML

I use

FIX:
Remove e

[2020-01-30 04:22] dansleboby commented on #5163
Fix in a pull just not release: https://github.com/OpenAPITools/openapi-generator/pull/4684

[2020-01-30 04:22] #5163 closed

[2020-01-30 04:51] jimschubert commented on #5136
We used to support this. I've relaxed `File#exist` checks in a few places to add back the behavior. Please see #5164.

[2020-01-30 05:06] jimschubert commented on #4643
Hey. Sorry, just getting caught up on a huge backlog of issues/questions that we accrued over the holidays.

You've probably already figured this one out, but I wanted to comment for anyone else who might find your question.

[code]

The openApiValidate definition you've shown in your description is a project extension which has an identical task. All tasks in the plugin can be defined explicitly

[2020-01-30 05:06] #4643 closed

[2020-01-30 07:47] #5159 closed

[2020-01-30 08:43] prateek2007 commented on #2053
in case of "dateLibrary": "java8", DateFormatter is =DateTimeFormatter.ofLocalizedDate(FormatStyle.SHORT)
which accepts date of format 12/6/19

[2020-01-30 08:55] aroslaniec commented on #5143
Generator return models like:
[code]

As some checks for proper type are already present `unknown` should work fine in place of `any` in below code:
[code]

At the same time if you would like to pass `json` as `false` to `LoremIpsumFromJSON(json: unknown)` TS would start shouting that this is not properly handled for this case while `LoremIpsumFromJSON(json: any)` won't until compile.

[2020-01-30 08:56] eicki commented on #5136
Ok sorry missed that already existing issue, can we extend the solution by ours regarding the maven plugin? There templateDirectory is already a File, so if we add a templateResourcePath option here it should work as well

[2020-01-30 09:01] MBcom commented on #1983
@tmakin you can add the needed scopes in the security part of each route as an array
e.g.
[code]
this should generate the following annotated route
[code]
I did not tested it again with upstream version - so let me know if you are experiencing any errors

[2020-01-30 09:50] mariusstokseth opened #5165 "[BUG] [kotlin-spring] interfaceOnly doesn't work as expected"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-30 10:07] #5053 closed

[2020-01-30 11:32] guillaumedsde commented on #4586
(For information, I've tried openapi-generator `3.0.0` and the issue is also there, so no workaround, it does not seem like this bug is due to regression)

[2020-01-30 18:23] Kentalot commented on #2534
Isn't the number type w/o a format just default to decimal?

[2020-01-30 18:40] lemoinem commented on #2534
The number type w/o a format defaults to float, (or double).
These are binary floating point arithmetic. Decimal implies decimal floating point arithmetic (or sometimes, decimal fixed point arithmetic)

[2020-01-30 20:39] johnflanigan commented on #2624
I encountered this also and am going to try to address it.

[2020-01-30 20:59] jimschubert commented on #4643
I decided to add docs in #5167. I figured if you had the question, others probably do as well.

[2020-01-31 03:12] #4582 closed

[2020-01-31 04:19] zhanwenchen opened #5170 "[BUG] Not Dropping Python 2 Support in python-flask codegen"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-31 04:19] zhanwenchen commented on #5170
The info is too costly atm. Will get back to this

[2020-01-31 05:56] amakhrov commented on #4146
Perhaps a duplicate of https://github.com/OpenAPITools/openapi-generator/issues/4770 ?

[2020-01-31 06:22] amakhrov commented on #927
Looks like currently both typescript-angular and typescript-axios handle this properly (and identically):
- `allOf` when one of the referenced schemas has `discriminator`: extends the discriminated base interface
`allOf` without any `discriminator`: all properties from referenced schemas are cloned into the target interface

[2020-01-31 06:40] amakhrov commented on #2845
@skorunka you don't need to (or actually are able to) set `supportsInheritance`. It's defined inside the java classes responsible for supporting particular languages. The typescript-specific class already has it defined.

However, note that you have to use `discriminator` in order for the emitted code to include interface inheritance, as per @wing328 's links above. Without a discriminator, `allOf

[2020-01-31 06:59] amakhrov opened #5171 "[BUG][typescript-angular] allOf without discriminator results in unnecessary imports"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description

When a model

[2020-01-31 10:00] gaetPax opened #5173 "[REQ] [JAVA - FEIGN CLIENT] OpenFeign forms library version is out of date"
Currently the openFeign template features a very out of date version dependency of
io.github.openfeign.form:feign-form library ('2.1.0').
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache#L130

In my project i would require a recent version because of bugs that were solved only in later versions , e

[2020-01-31 10:23] daniel-frak opened #5174 "[BUG] [typescript-angular]: objects as query parameters break when fields are null"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description

When using th

[2020-01-31 11:17] #5135 closed

[2020-01-31 12:42] tmakin commented on #1983
Thanks @MBcom . That's the pattern I was following but I'm not seeing anything inside the `[Authorize] ` attribute. I've created a demo repro here to illustrate the problem.
https://github.com/tmakin/openapi-generator-issue

[2020-01-31 15:43] sebastien-rosset opened #5180 "[BUG][codegen] Nullable references, nullable primitive types and complex types"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-31 15:53] kroegerama commented on #2979
@edawn @falejand @NicolaeGP
You may want to try my new project:
https://github.com/kroegerama/openapi-kgen

It's a new generator, written entirely from scratch. A generated example can be found here:
https://github.com/kroegerama/openapi-kgen-generated

[2020-01-31 15:54] kroegerama commented on #3135
You may want to try my new project:
https://github.com/kroegerama/openapi-kgen

It's a new generator, written entirely from scratch. A generated example can be found here:
https://github.com/kroegerama/openapi-kgen-generated

[2020-01-31 15:54] #3135 closed

[2020-01-31 18:55] amakhrov commented on #926
I believe the typemapping for date / date-time must be `string` in the abstract typescript codegen.
And only specific ts generators that really implement serialization/deserialization (like typescript-fetch) should map to Date type in typemapping by default

[2020-01-31 21:28] macjohnny commented on #926
@amakhrov I agree, only generators that implement a conversion should use Date

[2020-01-31 22:36] #5136 closed

[2020-01-31 22:37] jimschubert commented on #5136
I've merged the PR with `templateResourcePath` into master, targeting the 4.3.0 release.

[2020-01-31 23:03] saurabhsjoshi commented on #5157
I seem to have narrowed down the issue. It appears that if you have the swagger-codegen plugin in your class path (specifically I had io.swagger:swagger-codegen:2.3.1) it results in the above error.
Removing this plugin resolved the issue. Not sure if having a different plugin in the classpath should affect the functioning of this plugin so keeping the bug open.

Here is my original build.gradle c

[2020-01-31 23:27] sebastien-rosset commented on #5180
Summary of the proposal:
1. Support **type: 'null'**. It is defined in JSON schema and got added to OAS 3.1. It also seems to be implemented by other OAS tools.
1. Support type arrays such as **type: ['null', 'string']** for primitive types.
1. Support the following construct:
[code]

[2020-02-01 09:03] #335 closed

[2020-02-01 16:08] #3687 closed

[2020-02-01 16:26] #3691 closed

[2020-02-01 16:34] julianhowarth commented on #3180
Hi @tjquinno - wondering what progress you have managed to make in creating templates to support Helidon SE? We're actively evaluating Helidon SE at the moment and being able to generate code using openapi-generator would be a major plus point.

[2020-02-01 17:14] tmakin commented on #1983
For the record, I've gone with a vendor extension based approach for this instead. It seems more compliant with the OpenAPI spec and also better for documentation generation.

[code]

Note that `RoleFilter` is my custom enum based attribute, but the approach would work just as well with the standard `[Authorize(Roles=""]`.

[2020-02-01 17:36] zhanwenchen opened #5187 "[BUG] python-flask: oneOf model class doesn't generate though imported"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-01 23:43] zhanwenchen commented on #4586
Same issue here

[2020-02-02 02:32] jimschubert commented on #5097
@vitaliysapounov it looks like the confusion may come from our early implementations of OAS3 `allOf` and our cross-compatibility with OAS2 spec documents.

Can you verify the existence of something like this output when you generate?

[code]

This comes from here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/Mo

[2020-02-02 08:26] maxfriedmann commented on #1985
@MBcom, is this issue solved for you? I use the same securityScheme as you, and as expected by looking at your PR's content, my auth header gets prefixed with "Bearer ", and not "JWT ". I assume, the "bearerFormat" is ignored?

[2020-02-02 09:21] ybelenko commented on #4217
Thanks to @jimschubert
Closed via #4979

[2020-02-02 09:21] #4217 closed

[2020-02-02 09:22] ybelenko commented on #4216
Thanks to @jimschubert
Closed via #4979

[2020-02-02 09:22] #4216 closed

[2020-02-02 15:16] d3vopz-net opened #5190 "[BUG] Default nodejs-express-server generation not runnable in default express: error: undefined {"service":"user-service"}"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-02 19:00] trohrberg commented on #3432
I provided the referenced pull request to fix this issue. Waiting for approval and merge by maintainers.

[2020-02-02 20:32] dario-frongillo commented on #1901
@jimschubert can you explain better your proposed solution ?

[2020-02-02 21:41] spacether commented on #5170
atm = at the moment

[2020-02-02 22:37] jimschubert commented on #4615
Closed via #5193

[2020-02-02 22:37] #4615 closed

[2020-02-03 02:16] greenpau opened #5195 "[BUG] Could not execute build using Gradle distribution"
Environment:

[code]

On `mvn clean install`, I get the following:

[code]

[2020-02-03 02:36] greenpau commented on #5195
Downgraded to java11 and `openapi-generator` `4.2.1` and got a successful build.

[code]

[2020-02-03 05:09] dev-chirag commented on #372
I was trying this in 4.2.0 for jaxrs-jersey but it dint generate a callback service. Was this implemented for jaxrs-jersey?

[2020-02-03 08:03] macjohnny commented on #5174
@daniel-frak would you like to file a PR to fix this issue?

[2020-02-03 08:03] macjohnny commented on #5174
cc @aanno2

[2020-02-03 09:01] Fjolnir-Dvorak commented on #4072
Thank you jimschubert

[2020-02-03 09:03] daniel-frak commented on #5174
I've filed #5197, let me know if I did this right :)

[2020-02-03 09:12] #4866 closed

[2020-02-03 11:50] FloKaemmerer commented on #3456
I there any possible update on this?

[2020-02-03 12:33] #5174 closed

[2020-02-03 13:20] H3llsing commented on #4576
yes the problem still exists with version 4.2.3
The anyOf.... model classes are not generated at all.
Maybe the length of the path together with the model name is longer then allowed and the file can not be created?

[2020-02-03 14:24] mplattr3 opened #5198 "kotlin-server/ktor doesn't generate nullable types"
##### Description

The kotlin-server/ Ktor generator generates a `Path.kt` file that doesn't mark optional parameters as nullable.

##### openapi-generator version

openapi-generator-cli/4.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`java -jar openapi-generator-cli.jar generate -i demo.yaml -g kotlin-server -o test/`

##### Steps to reproduce

[2020-02-03 15:01] NeilW opened #5199 "[BUG] [Ruby] Initalize validation should apply to 'build_from_hash' too"
##### Description

The changes to introduce better validation to the attributes hash in the 'initialise' method, should also apply in the 'build_from_hash' method.

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

$ docker run --rm openapitools/openapi-generator-cli version
4.2.3-SNAPSHOT

##### Steps to reproduce

1. Generate

[2020-02-03 15:10] NeilW commented on #5199
Additionally the attribute names requirements are different between the methods

[code]

[2020-02-03 16:31] tjquinno commented on #3180
@julianhowarth Support in openapi-generator for Helidon SE remains on our to-do list but, as it turns out, lower on the list than other tasks. We want to continue to improve our OpenAPI story and this is part of that, but we have not progressed on this, unfortunately.

[2020-02-03 16:42] LongBeachHXC commented on #4873
Is there a fix for this yet? I am experiencing this issue when trying to generate python server config using aiohttp

[2020-02-03 18:19] vitaliysapounov commented on #5097
@jimschubert

Yes, we see the warning you mentioned ("inheritance without use of 'discriminator.propertyName' is deprecated and will be removed in a future release"). Here is the full Gradle build output:

[code]

[2020-02-03 20:47] GMZwinge opened #5201 "[BUG][typescript-node] Large spec client results in java.lang.OutOfMemoryError"
##### Description

When trying to generate a `typescript-node` client from a large size v2 spec (10,000 lines of JSON), the generator crashes with `java.lang.OutOfMemoryError` and this output and stack trace:
[code]

Similar error with `swagger-codegen`.

##### openapi-generator version

Standalone: `4.2.2`

##### OpenAPI declaration file content or url

https://vdc-download.vmware.com/vmwb-reposi

[2020-02-03 21:44] jamesopti opened #5202 "[BUG][Typescript-Fetch] Incorrect toJSON & fromJSONTyped functions"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description

For a propert

[2020-02-04 06:40] vellengs commented on #5004
Same problem,  It seems updated new version is incompatible.

[2020-02-04 06:53] NikoGrano commented on #5008
Bump.

[2020-02-04 07:05] wing328 commented on #5004
I've rolled it back to openapi-generator v4.2.2 for the time being while we investigate the issue further.

[2020-02-04 07:15] vellengs commented on #5004
It works, after rolled back.

[2020-02-04 10:39] antweb commented on #806
Using an enum descriminator is still broken on 4.2.3 and the current master (4.3.0-SNAPSHOT).

I built a simple example based on the OpenAPI docs:
[code]

Generated with
[code]

The issue seems to be this line in the constructor of the base type (`Pet`):
[code]
which doesn't compile unless `petType` is a String. The fix should be rather simple. Whenever  the discriminator is an enum, the construct

[2020-02-04 11:43] daniilmatafonov commented on #4745
Helllo, guys! When you will be able to fix it?

[2020-02-04 13:22] ackintosh commented on #2979
Ahh, I've confirmed the spec below reproduces the issue:

[code]

The non-compilable code is generated from:

https://github.com/OpenAPITools/openapi-generator/blob/26c9c64634d30b9003da0758c230d5393607d89e/modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache#L63

[2020-02-04 14:35] vfrank66 commented on #3336
@wing328 okay I can do that

[2020-02-04 18:56] ybelenko commented on #4513
@wing328 or @jimschubert help me figure out specification. Spec says about [Security Requirement Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#security-requirement-object):

This enables support for scenarios where multiple query parameters or HTTP headers are required to convey security information.

Can you provide two spec examples when ALL security schemes

[2020-02-04 22:43] adamdecaf commented on #2701
I was able to use a shared file in multiple specifications (which are merged into one later on) without duplicating a model. I think this is the same problem as what is posted here, except my situation has no cyclic deps in the files.

- [openapi-common.yaml](https://github.com/moov-io/api/blob/9a5c6b9744882829166e8b930b728081e948fc07/openapi-common.yaml#L11-L18)
- [ach openapi.yml](https://github

[2020-02-05 02:37] ackintosh commented on #5121
Thanks for the issue!

---

I've confirmed the steps below reproduces the issue:

<details>

<summary>issue5121.yaml</summary>

[code]

</details>

[code]

[2020-02-05 03:01] #2979 closed

[2020-02-05 03:02] jimschubert commented on #2979
Fixed in #5205 5205

[2020-02-05 07:32] amakhrov commented on #4968
@bodograumann this looks related to https://github.com/OpenAPITools/openapi-generator/issues/4563 . Is it so, or is it a separate issue that only manifests itself in Typescript generators?

[2020-02-05 09:37] binaryunary commented on #2701
After playing around with external refs for a bit I discovered that swagger-parser will do some normalization on them, but it seems to happen lazily.

If you have a ref like

[code]

then it will become

[code]

inside the parser _after_ the first time this ref is resolved.
Internally `SomeSchema` is cached when it is first read, when accessed the second time its source is different (`somefile.yml

[2020-02-05 11:01] Rytisk commented on #3356
I had the same issue with **csharp-netcore** generation. Try to provide the absoulte (full) path to the ignore file, that helped me.

[2020-02-05 11:59] keesvanlierop commented on #2870
Typings are fixed, but serialization of the responses is still incorrect with `runtime.TextApiResponse` instead of `runtime.JSONApiResponse`. @matthewbpt were you able to fix it with the latest commits you've pushed in your fork? If so, can you submit a PR?

[2020-02-05 13:11] lindgrenfredrik commented on #510
I looking at migrating from Swagger-generator to Openapi-gen due to creating a issue on their git and not receiving any response for months

Currently have Handlebar templates for project so looking at running with it as template engine but found a issue with it:

In generateSupportingFiles in DefaultGenerator.java it looks if files end with correct template extension before compiling them as temp

[2020-02-05 14:20] Novanic opened #5212 "[BUG][JAVA] "required" information is lost in combination with inheritance (allOf)"
##### Description
When a type is inherited and extended with additional properties, the properties can not declared as "required". The YAML is valid and the Swagger-Editor and Swagger-UI shows the properties as required, but the generator doen't generate @NotNull. The verbose output shows the property, but "required" is displayed as "false".

This is the case, when "required" is declared after "pr

[2020-02-05 14:21] Novanic commented on #5212
It is a bug within the core generator, not within the Java or Spring code generator, because the verbose output displays already false information.

[2020-02-05 14:26] Novanic commented on #5212
"required" after "properties" (the "additionalType" property is recognized generated, but isn't recognized as "required").
`openapi: "3.0.2"
info:
  version: 1.0.0
  title: Test
  description: Test-Endpoint
tags:
  - name: testEndpoint
paths:
  /testEndpoint/test:
    put:
      operationId: test
      tags:
        - testEndpoint
      requestBody:
        content:
          application/json:

[2020-02-05 14:27] Novanic commented on #5212
[testEndpointRequiredAfter.txt](https://github.com/OpenAPITools/openapi-generator/files/4160005/testEndpointRequiredAfter.txt)
[testEndpointRequiredBefore.txt](https://github.com/OpenAPITools/openapi-generator/files/4160006/testEndpointRequiredBefore.txt)

[2020-02-05 14:46] jonashaag opened #5214 "[REQ] Support modelPropertyNaming=original for Python"
Add support for `modelPropertyNaming` (or similar) to Python codegen.

If you have definitions like this one:

[code]

Then the resulting code uses underscore notation:

[code]

It should also be supported to leave the identifiers as-is, so that the code is:

[code]

Related tickets:
- https://github.com/OpenAPITools/openapi-generator/issues/3813

[2020-02-05 14:57] Novanic commented on #5212
Now I found a workaround: When "properties" is declared without "- " (other than "required"), everything is working fine...

[2020-02-05 17:32] milesressler opened #5215 "[CSharp] JSON encoding on a form value not supported"
##### Description

C-Sharp generator doesn't support complex serialization in form data.  For example, the Slack example [here](https://swagger.io/docs/specification/describing-request-body/) under **Complex Serialization in Form Data** (after removing application/json block under content) will send form data like "payload=class Message...etc" instead of "_payload={"text":"Swagger is awesome"}_",

[2020-02-05 18:42] dmcguire81 opened #5218 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

Several of the generators we've used (rust, typescript-axios, swift5) forcefully serialize and deserialize to JSON irrespective of the setting of the `Content-Type` header. For example, see this [needsSerialization declaration](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resourc

[2020-02-05 19:28] etherealjoy commented on #2040
solved with #3417.
Pass *useStructModel* as true when invoking the generator.

[2020-02-05 19:28] #2040 closed

[2020-02-05 22:24] deeptowncitizen opened #5219 "Ability to add files to the template without code changes"
I'm using `typescript-fetch` template to generate TS api client.
In addition to all standard files I want to generate actions and reducers for my redux code.
Correct me if I'm wrong, but the current template does not support any additional files, so I can't simply add a new file e.g. `apis.actions.mustache` and use it to generate the file in apis folder?

Is that possible to add some sort of refer

[2020-02-06 04:09] jimschubert commented on #4537
For those experiencing this in older versions of the generator, you can modify the template and change `{{paramName}}` to `{{{paramName}}}` to resolve without upgrade. To change the template, you'd copy the affected template file to some directory retaining the directory structure after `kotlin-client`.

For example, if you wanted to modify `modules/openapi-generator/src/main/resources/kotlin-clie

[2020-02-06 05:29] yutaka0m commented on #5121
If declear nullable and embed `@field:Notnull` :

[code]
This issue will be solved. What do you think about this solution? @ackintosh @cthiebault

[2020-02-06 05:49] #4537 closed

[2020-02-06 08:50] herveDarritchon commented on #3414
hi,

No answer since my last post so I have planned to add support for Jackson following the issue #3734

Are you ok with that ? No one is doing it ?

[2020-02-06 09:20] #5062 closed

[2020-02-06 09:30] mcpummec opened #5223 "[Typescript-angular] Bug generating APIs with Date-Time parameters"
##### Description

When generating APIs with Date-Time parameters, the generated service returns the error "key may not be null if value is Date".

##### openapi-generator version

This was introduced by 4.2.3. I'm having no issues running 4.0.1.

##### OpenAPI declaration file content or url

"parameters": [{
		"name": "date",
		"in": "query",
		"type": "string",
		"format": "date-time"
	}
]

###

[2020-02-06 09:34] macjohnny commented on #5223
this should be fixed with https://github.com/OpenAPITools/openapi-generator/issues/5174

[2020-02-06 09:49] mcpummec commented on #5223
I think this is unrelated, as [PR 5197](https://github.com/OpenAPITools/openapi-generator/pull/5197) just adds a null check. In my case, value is not null, but a valid date.

[2020-02-06 09:51] dwlabcube opened #5224 "[BUG][JAVA][webclient] queryParams get encoded twice"
In ApiClient.mustache of the webclient (Spring) the Query Params get encoded after this Comment at Line: 559
 //encode the query parameters in case they contain unsafe characters

But will get encoded AGAIN in Line 574:
final WebClient.RequestBodySpec requestBuilder = webClient.method(method).uri(**builder.encode().toUriString()**, pathParams)

that is leading to a double-encoding.
suddenly a Quer

[2020-02-06 10:07] macjohnny commented on #5223
@mcpummec would you like to file a PR to fix this?

[2020-02-06 10:08] dwlabcube commented on #5224
The following Code makes it work for my case:

`if (queryParams != null) {
            //encode the query parameters in case they contain unsafe characters
            /*for (List<String> values : queryParams.values()) {
                if (values != null) {
                    for (int i = 0; i < values.size(); i++) {
                        try {
                            values.set(i, URLEnco

[2020-02-06 12:10] mcpummec commented on #5223
Sure, but unfortunately I can't push a feature branch (403).

[2020-02-06 12:13] macjohnny commented on #5223
just fork the repository, push a branch there, and then file a PR

[2020-02-06 13:06] parachutemind commented on #3414
I'm cool with that! - I think it will be great to have Jackson support.

On Thu, Feb 6, 2020 at 3:50 AM Herve DARRITCHON <notifications@github.com>
wrote:

[2020-02-06 13:43] #5223 closed

[2020-02-06 13:47] mcpummec commented on #5223
thanks @macjohnny for your support & quick respone

[2020-02-06 13:55] cthiebault commented on #5121
It would work... but it's too bad to have a poor model with non null field becoming nullable because of validation :(
Maybe related to https://stackoverflow.com/a/41994512/386713 ?

[2020-02-06 14:15] #4004 closed

[2020-02-06 14:19] wing328 opened #5227 "Revise Petstore spec"
##### Description

The Petstore spec (json/yaml, 2.0/30) was obtained a while ago but it may not be perfectly and accurately describing the Petstore API so we may need to revise it to ensure it correctly describes the API.

##### openapi-generator version

Latest version

##### OpenAPI declaration file content or url

- https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-

[2020-02-06 15:15] thiko commented on #2417
Any news here? :-/
@tom-mayer could you find a workaround (beside adding the annotation manually)?

Thanks!

[2020-02-06 15:49] milesressler commented on #5215
See PR #[5217](https://github.com/OpenAPITools/openapi-generator/pull/5217)

[2020-02-06 16:09] purple-dragon commented on #4803
@ericdariel  pls check @surajgautam commets

[2020-02-06 16:14] Bakkiyaraj commented on #3869
Cannot find name 'GlobalFetch'.  TS2304
export type FetchAPI = GlobalFetch['fetch'];

We are using typescript-fetch to generate models. Can you please confirm which release has the fix?
or suggest the workaround for this

[2020-02-06 16:33] LEZIER-S2 opened #5228 "[BUG] [asciidoc] Unresolvable include path by asciidoctor processor"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?

- [x] Have you validated the input using an OpenAPI validator

- [x] What's the version of OpenAPI Generator used?

- [x] Have you search for related issues/PRs?

- [x] What's the actual output vs expected output?

- [ ] [Optional] Bounty to sponsor the fix

##### Description
The asciidoc generator crea

[2020-02-06 17:10] amakhrov commented on #5223
@mcpummec a late question: what do you do with Dates coming as a part of response models? Currently, openapi-generator doesn't de-serialize date-formatted strings into Date objects.

A common workaround to the problem is to add `--typeMapping DateTime=string` param to the generator. Which effectively also eliminates the issue you described.

Are you doing this de-serialization yourself in the code

[2020-02-06 17:19] spacether opened #5229 "[REQ] [CORE] Prevent Stack Overflows when cycles present in spec"
### Is your feature request related to a problem? Please describe.

Per a discussion in: https://github.com/OpenAPITools/openapi-generator/pull/4906
It is possible to create stack overflows with some of the below cases:
- a oneof model which alloF includes the composed schema that includes it
There are probably other cases here.
- what about a grandparent, a parent which allof inherrits the grandp

[2020-02-06 17:27] spacether opened #5230 "[BUG] [CORE] Don't have the inline model resolver extract composed schemas"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-06 17:35] pixelshaded commented on #1904
I also attempted a custom template, but parentVars is empty along with vars in the subclass. This might be ok if there was a way to determine inside allVars if a var is from a parent. There is no such boolean.

[2020-02-06 17:50] pixelshaded commented on #1904
isInherited seems like the proper boolean for this but it is false in cases when the var comes from a parent.

[2020-02-06 18:15] mtraynham opened #5231 "[BUG] Description"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description
Generator fail

[2020-02-06 19:20] macjohnny commented on #5223
@amakhrov here it is only about the query parameters, not model parameters. Query parameters are handled in a different way

[2020-02-06 19:21] #4770 closed

[2020-02-06 22:43] djensen47 commented on #3135
First, just wanted to say that this is a wonderful, useful project and I appreciate all the hard work put into it.

Second, my querstion is why did this get closed? Is there any possibility of getting kroegerama/openapi-kgen merged into this project?

[2020-02-06 22:59] dbaltor commented on #2906
It has seemingly fixed by this PR #5120

[2020-02-07 03:25] dbcfd commented on #3664
@TeFiLeDo this is upgraded in https://github.com/OpenAPITools/openapi-generator/pull/4210

[2020-02-07 03:35] thomasjm commented on #2527
@jonschoning is there a way we can work around this? I tried manually correcting the import and the big `Model.hs` compiled successfully after that.

It seems like we're tantalizingly close to building the Docker client in Haskell, which hasn't been possible for a long time. There are only a couple more glitches after this where the generator emitted `UNKNOWN_BASE_TYPE` instead of a real type, so

[2020-02-07 03:45] jimschubert commented on #4976
Three parts to this:

- [x] Normalize extension naming (see #5192)
- [ ] Update template with new named extensions
- [ ] Remove "Old" extensions in the 5.0 release

[2020-02-07 03:51] ackintosh commented on #5121
Hmm... I can't think of other way. 🤔 💦

Technical Committee (Kotlin): @jimschubert @dr4ke616 @karismann @Zomzog @andrewemery @4brunu

Do you have any ideas?

[2020-02-07 04:16] jimschubert commented on #5121
Seems like a secondary constructor with and JsonCreator might work best, maybe also `Delegates.notNull`.

I'm not sure when I'd have time to look into, though.

[2020-02-07 04:54] Nik-Novak commented on #5190
This is also happening to me with the v3 petstore.yaml definition

[2020-02-07 07:34] amakhrov commented on #5219
I don't believe openapi-generator allows to compile arbitrary external mustache templates at the moment.

However, I would imagine that it can be universally supported across generators by creating a cli option for each bag of templates (api templates, model templates, supporting files). E.g. `--api-template apis.actions.mustache --api-template another.mustache --model-template my-model-extension.

[2020-02-07 09:01] boolafish opened #5234 "[BUG] Elixir generated client does not work with optional request body"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-07 09:05] wing328 opened #5235 "[CI Issue] Travis CI failed itself due to "ImportError: cannot import name 'FileStorage'""
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-07 09:09] wing328 commented on #5224
Thanks for reporting the issue. I wonder if you can file a PR with the suggested fix and we'll review accordingly.

[2020-02-07 09:12] InoMurko commented on #5234
Hey @boolafish maybe reference yaml files on a certain commit rather than master. Uf we decide to fix the spec by not allowing option params the example will be missing from this issue.

[2020-02-07 10:35] mcpummec commented on #5223
@amakhrov tbh for me date-times within response models are deserialized just fine.

swagger definition of

[code]

results in something like

[code]

using the generator command posted above.

[2020-02-07 11:16] Salexy opened #5238 "[BUG] java-inflector templates do not generate proper hashCode"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-07 11:23] Olafxso opened #5239 "[QUESTION][JAVASCRIPT] generated source differs from your example (How to use it)"
Hi

I have got a small api and generate some code for it. I am figuring out how to use it.

From the examples I found this [https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/javascript/docs/PetApi.md#addPet](https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/javascript/docs/PetApi.md#addPet)

So I have tried to apply this examp

[2020-02-07 13:45] beneeng commented on #2054
Hey, any chance @mrzeszotarski 's solution will make it into the main repo?

[2020-02-07 13:54] jonschoning commented on #2527
@thomasjm if other languages/generators also cannot generate the docker spec, it's a problem with the core parsing logic. I only really maintain the Haskell client bits, and don't have a lot of free time to fix other issues.
I'll investigate if I can find for a workaround

[2020-02-07 14:11] guidoknoll commented on #4763
@denyo could you take a look at this issue? This seems to be easy fixable. I'd appreciate it a lot!

[2020-02-07 14:13] macjohnny commented on #4763
@guidoknoll would you like to implement a fix?

[2020-02-07 14:17] guidoknoll commented on #4763
Yeah, i could do that too. But I've never committed to an open source project like this before but I'll try!

[2020-02-07 14:21] macjohnny commented on #4763
as a starting point:
adjust the template in https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
then run `mvn clean package`
and re-generate the samples by running https://github.com/OpenAPITools/openapi-generator/blob/master/bin/typescript-rxjs-petstore-all.sh

finally commit the changed templates and the generat

[2020-02-07 14:32] Xambey commented on #4763
@guidoknoll you can take the package from my forks, there this and some problems are fixed https://github.com/Xambey/openapi-generator-cli and https://github.com/Xambey/openapi-generator

[2020-02-07 15:03] wing328 commented on #5235
Commented out Python flask test as well due to the following errors:
[code]

[2020-02-07 15:26] wing328 commented on #5238
Something is not right. There should be no inheritance as `discriminator` is not used ...

[2020-02-07 15:46] ssYkse commented on #5187
I am facing the same. In one of my models:

`from openapi_server.models.one_ofstringnumberboolean import OneOfstringnumberboolean  # noqa: E501`

however this file doesn't exist:
`
    from openapi_server.models.one_ofstringnumberboolean import OneOfstringnumberboolean
ModuleNotFoundError: No module named 'openapi_server.models.one_ofstringnumberboolean'
`

the component yaml looks as follows:

[c

[2020-02-07 16:38] nickshoe commented on #3796
I've tried to generate the same example above for "spring" target with a 4.3.x build, but still can find the discriminator property in the class.

[2020-02-07 16:40] amakhrov commented on #5223
@mcpummec yep, that's what I mean. The generated type is Date. But the value coming over http is just string, and the generated code doesn't have explicit conversion for that. It means that type Date is simply incorrect here.
That's why users usually add custom typemapping (passed as a cli argument to the generator).
And with that custom mapping your particular issue with a request param of type D

[2020-02-07 16:47] bodograumann commented on #4968
@amakhrov You are correct, that this seems to be the same issue. Not sure which other languages are affected though. php maybe, but there the types are only annotations in comments.
The issue should not affect languages without types, like javascript.

[2020-02-07 17:00] dalewking opened #5241 "[REQ] Don't create directory for supporting file if it is not generated"
When excluding generation of supporting files and all files in that directory are excluded the directory is still created, resulting in a worthless empty directory.

## Describe the solution you'd like

The directory for a supporting file is only created if a file is written there.

## Additional context

The relevant code is here: https://github.com/OpenAPITools/openapi-generator/blob/master/modu

[2020-02-07 17:27] amakhrov commented on #4563
@wing328 Looks like there is an attempt to address that - https://github.com/OpenAPITools/openapi-generator/pull/4981

[2020-02-07 19:02] djensen47 commented on #4669
I apologize profusely in advance if this goes without saying. But please make sure that the missing dependencies for Android are only included if specified. Not all Kotlin users are building for Android. Thanks!

[2020-02-07 20:56] thomasjm commented on #2527
Thanks! If you happen to know who would be better to ask then I can bug them too :)

[2020-02-08 16:47] eiswind opened #5246 "[REQ] Please Support Angular 9"
### Is your feature request related to a problem? Please describe.

Angular 9 has new requirements on typescript and rxjs that require updates.

[2020-02-08 17:44] dalewking opened #5247 "[BUG][Kotlin] Incorrect enum parameter type"
##### Description

Kotlin generation is producing a wrong parameter type for an enum that is declared in an array. It is getting the type from another array declared in the same object

##### openapi-generator version

4.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -i test.yml -g kotlin --skip-validate-spec -o output

[2020-02-08 17:48] sebastien-rosset opened #5248 "[BUG][codegen] Clarify behavior of inlined schema with "title" attribute"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-08 19:29] Chr1st0ph opened #5249 "[BUG][JAVA][Feign]: erroneous Param-mapping causes "Body parameters cannot be used with form parameters""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-08 20:29] #2624 closed

[2020-02-08 22:10] jimschubert commented on #5067
Thanks for reporting the issue and for fixing it via #5069!

[2020-02-08 22:10] #5067 closed

[2020-02-09 05:08] jimschubert commented on #5195
Java 13 support is available in Gradle 6.0, which we don't yet support.
I started on the upgrade work but hit a snag (I don't recall the issue). I think it would be best to target that upgrade for our 5.0 release.

[2020-02-09 15:43] nikodemin commented on #2901
still have this bug on version 4.2.2 and 4.2.3

[2020-02-09 18:48] redturtlepower opened #5252 "[BUG] C++ Server (Qt5) does not implement "fromStringValue(const QString &, OAIObject &)""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-10 01:36] lewcianci commented on #5246
Is this just as simple as updating the generator to reference Typescript >= 3.6.4 and rxjs?  Or is more required? If it's that simple I can submit a PR for this issue as I'm keen to get it resolved also.

[2020-02-10 06:18] ackintosh commented on #5199
cc: Technical Committee (Ruby)
@cliffano (2017/07) @zlx (2017/09) @autopp (2019/02)
(Please tell me if I'm saying something wrong... 🙏 )

I think it is intentional that `build_from_hash` doesn't throw errors.

* `build_from_hash` is used when deserializing JSON payload into Ruby object
* Let's say adding a property to the JSON payload
  * If `build_from_hash` throws errors, we have to upgrade clie

[2020-02-10 06:44] macjohnny commented on #2901
@nikodemin this issue will not magically disappear as long as there is no one that wants to contribute a fix.

[2020-02-10 06:51] uortiz commented on #4745
This is working fine for me.
openapi-generator-maven-plugin plugin version: 4.2.3
<generatorName>java</generatorName>

Try adding the mapping as a child of <configuration>

e.g.,
[code]

As stated in https://github.com/OpenAPITools/openapi-generator/issues/3868

```Import-Mappings is now direct part of configuration node and not inside configOptions node anymore```

Looking at org.openapitools.cod

[2020-02-10 07:39] dwlabcube commented on #5224
Unfortunately i am not smart enough to create pull request, because i can not create a branch on this repo. i only get 403 back.

So, this file would be the fix:
openapi-generator\modules\openapi-generator\src\main\resources\Java\libraries\webclient
[ApiClient.mustache.zip](https://github.com/OpenAPITools/openapi-generator/files/4179506/ApiClient.mustache.zip)

[2020-02-10 07:43] wing328 commented on #5224
Please refer to https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements on how to submit a PR.

[2020-02-10 07:45] NeilW commented on #5199
That may be the case - also the round trip of XYZ::build_from_hash(my_object.to_hash) should be an identity.

But there is also a use case where you want to validate the hash - say from user input. Which is the same process but with errors thrown.

Which perhaps suggests another method `build_strictly_from_hash`, with both that method and `build_from_hash` curried onto a common refactor that can h

[2020-02-10 07:59] Januson opened #5254 "[REQ][JAVA]: Add option to generate arrays with "uniqueItems" true as Sets rather than Lists"
### Description
It would be great if there was an option to generate properties declared as "array" with "uniqueItems": true as a Set/HashSet rather than a List/ArrayList.

### Proposed solution
This could be enabled with a flag option to avoid it beying a breaking change.

[2020-02-10 08:13] macjohnny commented on #5246
anyone up to adapting the code?

[2020-02-10 08:43] phazebroek commented on #4627
I got the same warning and was able to suppress it with:
`<ignoreFileOverride>${project.build.outputDirectory}/spec/.openapi-generator-ignore</ignoreFileOverride>`

I've put an empty file under `src/main/resources/spec/.openapi-generator-ignore`.
Tested with openapi-generator-maven-plugin 4.2.3

Hope this helps :-)

[2020-02-10 09:31] FloKaemmerer opened #5256 "[BUG][JAVA][MAVEN] java.time.OffsetDateTime cannot be cast to java.lang.String"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-10 10:45] jirikuncar commented on #4177
@jimschubert what about adding write permissions to the technical committee members but protecting who can merge to branches to `@OpenAPITools/generator-core-team` only?

[2020-02-10 11:51] Mugenor opened #5259 "[REQ] Allow to pass OkHttpClient into ApiClient constructor"
## The problem
Right now ApiClient for language java and library okhttp-gson is generated so that it always create a new OkHttpClient, which is not efficient. And it also recommended to have shared instance of OkHttpClient
In my app I'm go to call API, which is the same for different hosts, so I'm enforced to create ApiClient per host. And it creates OkHttpClient per host, which is I want to avoid

[2020-02-10 12:37] jimschubert commented on #4177
That wouldn't work because it would allow those with write access to create branches and do some other things.

GitHub have added the "Triage" permission. I can see if this adds automatic review via CODEOWNERS, even though it's not a  documented use case on CODEOWNERS.

[2020-02-10 13:57] cervotoc opened #5262 "[BUG][typescript-axios] missing discriminator"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-10 14:37] janniclas commented on #3869
@Bakkiyaraj I'm not sure which release contains a fix for this, but a general workaround is to replace `GlobalFetch['fetch']` with `WindowOrWorkerGlobalScope['fetch']`

[2020-02-10 15:00] JulienUsson opened #5264 "[BUG][typescript-fetch] ModelPropertyNaming ignored for list of reference item"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-10 15:41] eiswind commented on #5246
I also updated
"ng-packagr": "^9.0.0", still in need a proof that it works because of other issues.

[2020-02-10 15:49] dkirrane commented on #2236
related to
https://github.com/OpenAPITools/openapi-generator/issues/2845

[2020-02-10 15:57] dkirrane commented on #2845
This getting `UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE` with Java generator for the [Cat Dog example](https://github.com/OpenAPITools/openapi-generator/issues/2845#issuecomment-490518871) above

[2020-02-10 16:59] guidoknoll commented on #4763
The fix was quite easy and no samples changed. @macjohnny to which branch should i commit my changes or can i create my own?

[2020-02-10 18:13] macjohnny commented on #4763
You can fork the repo, create your own branch and then file a PR

[2020-02-10 19:09] dalewking opened #5267 "[BUG][Kotlin][Multiplatform] Incorrect api code when collectionType is list"
##### Description

Kotlin multiplatform client generator is generating incorrect code when collectionType is list. It is generating code that is only appropriate for collectionType of array

##### openapi-generator version

4.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -i test.yml -g kotlin --skip-validate-spec -pco

[2020-02-10 19:25] luStopai commented on #4745
Many thanks @uortiz, that was pretty hidden

I wonder if it's possible to make this change clear in the documentation or to show some kind of warning when generating sources.

Also, I don't really get this "backwards-compatibility" if it won't work. I think it's preferable to show an error instead of not complaining at all but also do nothing, it's confusing.

Anyways, thanks again

[2020-02-10 19:25] #4745 closed

[2020-02-10 21:17] alexweav opened #5268 "[BUG][C++] Reserved keywords are escaped via underscore prefix, resulting in compile failure on MSVC 14"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-11 02:46] zibuyu1995 commented on #5235
werkzeug==0.16.1 solved this problem.

[2020-02-11 07:56] bkabrda opened #5278 "[BUG][go-experimental] Explicit nulls support is broken"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-11 08:12] ViktorPegy opened #5279 "[BUG][typescript-axios] Object type instead any"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-11 08:39] omaralbeik opened #5280 "[BUG][Swift] Template does not decode strings in date-only format"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-11 09:20] autopp commented on #5199
I agree with @ackintosh's opinion. In particular, the following can be problematic.

I understand this use case. By the way, `new` can receive `Hash` as well as `build_from_hash`. Is this insufficient? (Maybe the point indicated by https://github.com/OpenAPITools/openapi-generator/issues/5199#issuecomment-581460022 is a problem?)

[2020-02-11 10:13] NeilW commented on #5199
New doesn't appear to recurse like `build_from_hash` does. So when you have heavily nested Typed APIs (hi Kubernetes), you don't get the result you want.

And as you say `new` takes Ruby style attributes rather than camelCase attributes.

[2020-02-11 10:49] duxiaofeng-github opened #5282 "[BUG] [typescript-fetch] Base Path can't be set to '<empty string>'"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-11 11:35] macjohnny commented on #5282
@duxiaofeng-github would you like to fix this with a PR?

[2020-02-11 12:51] mthoolen opened #5284 "[BUG] Description"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [x ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x ] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2020-02-11 15:47] jonathan-c-avento commented on #4121
What is the status of this, was a PR ever created?

[2020-02-11 16:06] TehBakker opened #5289 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

Is it possible to have server and client side, a MAP attribut to allow user to pass headers ? And server to retrieve them directly from method signature ?
I'm using the java generator.

## Describe the solution you'd like

I want to be able to ask codeGen to add a header parameter in the method generated in java for a path.

[2020-02-11 16:32] wing328 commented on #5235
@zibuyu1995 yup, that's one way to do it but can we update the code to work with the latest version of wekzeug - 1.0.0 (https://pypi.org/project/Werkzeug/#history)?

[2020-02-11 16:36] tom-mayer commented on #2417
Hey @thiko . No couldn't find a good workaround here. We were in the lucky spot that we could change the API to return wrapped lists,... but that was not a very satisfying solution and for sure not applicable if you don't own the API,.. even then it's not really a preferable solution.

Cheers

[2020-02-11 16:47] thiko commented on #2417
hi @tom-mayer, thanks for your response!
great that you were able/allowed to change the API. Unfortunately, thats not possible for us. The "calling system" is fix and we really need to serve the expected output.
Our current _workaround_ is: generating the model, copy the files to another place, add the custom annotations, deactivate the model creation, delete the generated files and work with the

[2020-02-11 18:06] chameleon82 opened #5292 "[REQ] [scala-akka-client] Use sttp client to make scala client more generic"
### Is your feature request related to a problem? Please describe.

Scala has a lot of different clients like `akka-http-client`, `http4s`, `async-http-client` and many others. Code generator can generate client with only few of them and use different templates for it
Second problem for scala clients is Json parser which is also hardcoded in every template.

## Describe the solution you'd like

It

[2020-02-11 22:11] praveen-diffbot opened #5293 "[REQ] Adding optional query parameter breaks Java API"
[REQ] Adding optional query parameter breaks Java API

We added a new optional query parameter to our REST API and regenerated the Java OpenAPI library. This caused the Java method signatures to break for that operation, because a new parameter was added to the signature. We use [semver guidelines](https://semver.org/) for versioning and a change like this means a major version bump for our API.

[2020-02-11 23:57] shwetashukla opened #5294 "[BUG][CSharp] Bug generating code with Enum having maxLength property"
Hi

We have an open api spec version 2.0 and we are trying to generate code in csharp .
We have an issue in generated SDKif the property whose type is string is an enum and has maxLength specified . Please refer line 121 in attached contract .
[petstore.txt](https://github.com/OpenAPITools/openapi-generator/files/4189137/petstore.txt)

Below is the code in csharp and the one in bold throws error.

[2020-02-12 03:58] thomasjm commented on #2527
I've put some more work into this and made some progress. Let me record some notes here in case it helps anyone:

* I was able to build the `v1.30` API by making some manual tweaks to fix some glitches from the codegen. In particular, I was able to get it to generate `ContainerSummary` by editing the `swagger.yaml` to move it to the "Definitions" sections; see this commit: https://github.com/coded

[2020-02-12 07:37] duxiaofeng-github commented on #5282
@macjohnny i don't know how to generate those examples in https://github.com/OpenAPITools/openapi-generator/pull/3489/files

[2020-02-12 07:53] macjohnny commented on #5282
[code]

[2020-02-12 08:50] Salexy commented on #5238
@wing328
Online swagger editor https://editor.swagger.io/ generates correct java client with the same yaml file.
Hash function for Image class looks:

`
  @Override
  public int hashCode() {
    return Objects.hash(actions, super.hashCode());
  }
`

[2020-02-12 09:50] #4763 closed

[2020-02-12 12:09] lloydmeta opened #5296 "[REQ] Remove `RC` wrapping for Rust client"
### Is your feature request related to a problem? Please describe.

The `RC` wrapping `Configuration` generated in clients makes it impossible to share the client between threads (implements `!Send`), not even if you wrap it with `Arc` + `Mutex`.

For underlying clients like `reqwest`, this is a shame because _that_ client can be shared between threads.

## Describe the solution you'd like

For th

[2020-02-12 15:07] u4842 commented on #5231
I also have this issue, but with the java spring generator. Could these issues be related?

[2020-02-12 15:08] u4842 commented on #4760
I have this issue, but with the typescript-fetch generator and java spring generator. I also see someone has reported this [same issue with the kotlin-java](https://github.com/OpenAPITools/openapi-generator/issues/5231) generator. Could these issues be related?

[2020-02-12 15:14] darkantoine opened #5298 "[BUG][CSHARP] Issue with readOnly fields and inheritance for csharp-netcore generator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue? Yes
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? Yes
- [x] What's the version of OpenAPI Generator used? latest
- [x] Have you search for related issues/PRs? Yes
- [x] What's the actual output vs expected output? see below
- [

[2020-02-12 15:21] henrebotha opened #5301 "[docs] Document --enable-post-process-file"
There is no proper documentation for this tool anywhere.

[2020-02-12 15:27] hosswald commented on #2574
This is still not working in Gradle Plugin v4.2.3

[2020-02-12 16:24] mtraynham commented on #5231
@u4842 I believe the issue you linked is related and not necessarily typescript, nor java-spring or kotlin-client specific.  I believe the issue is actually buried deep in the DefaultCodegen parsing of Operations and this affects all languages.

As mentioned in the **Suggest a fix** section, I believe the `additionalProperties` on a map type don't get added to the `imports` Set and thus aren't inc

[2020-02-12 18:43] pixelshaded commented on #5301
https://openapi-generator.tech/docs/usage/
https://github.com/OpenAPITools/openapi-generator/tree/master/docs

How are these not proper documentation?

[2020-02-12 18:55] pixelshaded opened #5303 "Swagger Annotations: Who Are They For?"
While looking at cleaning up dependencies for my generated models, I saw that swagger annotations are always imported and would require a code change to exclude from imports. My question is: why is this a feature at all?

https://github.com/swagger-api/swagger-core/wiki/Swagger-2.X---Annotations

My understanding of these annotations is that their main purpose is to support a code first style of p

[2020-02-13 08:54] henrebotha commented on #5301
I challenge you to find documentation for, say, `--enable-post-process-file`.

[2020-02-13 09:02] ghacupha commented on #1714
Experienced this issue once when I was running an application with openjdk 8 update 41 RI. I then changed the environment to use oracle jdk 8 update 202 ( 1.8.0_202), and that fixed the problem. My guess: missing schemas in your jdk?

[2020-02-13 09:37] dummyalias commented on #4849
FYI: I have a similar construct in a project and it works with version 3.3.4, but not with 4.2.3.

[2020-02-13 10:42] bart-kors-rabobank commented on #4947
Bean validation 2.0 has support for this see:
[https://stackoverflow.com/questions/22233512/adding-notnull-or-pattern-constraints-on-liststring](https://stackoverflow.com/questions/22233512/adding-notnull-or-pattern-constraints-on-liststring)

[2020-02-13 11:25] duxiaofeng-github commented on #5282
ok, @macjohnny , i send a pr already, please review it when you're free.

[2020-02-13 12:32] jornhd opened #5306 "[REQ] Support client certificates for csharp-netcore"
### Is your feature request related to a problem? Please describe.

The API I'm using authenticates by a client certificate. RestSharp that's used for csharp-netcore, supports this, but as the RestClient is not exposed (like in the old csharp version), it's not possible for me to provide the certificate collection.

## Describe the solution you'd like

- Add a new property in the configuration (IR

[2020-02-13 14:06] wing328 commented on #3589
The PR has been merged. Thanks both for contributing the enhancement.

[2020-02-13 14:06] #3589 closed

[2020-02-13 14:30] jvs64893 commented on #3352
I just ran into the same problem. It's basically impossible to debug this problem.

[2020-02-13 14:30] alexrashed opened #5307 "[REQ] [Angular] JSDoc for useSingleRequestParameter"
### Is your feature request related to a problem? Please describe.
PR #4479 introduced the single-request-parameter, creating an interface with all parameters for each service method.
While this is awesome for type safety and readability, the created interface members are currently not documented (in contrast to the documentation of the usual parameters in the functions JSDoc).

## Describe the so

[2020-02-13 15:36] #5282 closed

[2020-02-13 16:12] kimsey0 opened #5309 "[BUG] [csharp-netcore] ToJson is not marked virtual even though it's overridden"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-13 16:28] pixelshaded commented on #5301
In the docs for the gradle plugin: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator-gradle-plugin/README.adoc

[code]
So this sounds very generator specific. Looking at the source code, just about every generator is looking for its own environment variable. Here is processOpts from the AbstractJavaCodegen.

[code]
This took less than 30 min to track down. Id

[2020-02-13 17:27] onitake opened #5311 "[REQ] Pattern validation in Go generator"
### Is your feature request related to a problem? Please describe.

The go generator currently doesn't support any form of string validation.

OpenAPI has a pattern parameter on properties that allows specifying a validation regex, and this is supported for some generators, but not Go.

## Describe the solution you'd like

There are several Go packages available that support regex validation on st

[2020-02-13 20:00] etherealjoy commented on #3270
Fixed with #5123

[2020-02-13 20:00] #3270 closed

[2020-02-13 20:34] MarkusBansky commented on #2972
Recently wrote this extension for myself.

Trying to push this feature, but git says: permission denied. Any suggestions how to make it accept the contribution?

[2020-02-13 21:50] MarkusBansky commented on #2972
Proposed extension on #5312

[2020-02-13 22:38] etherealjoy commented on #5252
Fixed with #5253

[2020-02-13 22:38] #5252 closed

[2020-02-14 00:44] chameleon82 commented on #2684
p. 3 was fixed in https://github.com/OpenAPITools/openapi-generator/pull/5106  [here](https://github.com/OpenAPITools/openapi-generator/commit/1bba3a563e51666ce245ebae8eba15a09c5db402#diff-533cda2cc5816419e70c4f54fabfc71dR278)
i will create separate PR to cover this case with tests

[2020-02-14 03:43] sebastien-rosset opened #5317 "[BUG] Generation of composed Schemas that also have additionalproperties: true"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-14 07:51] #1728 closed

[2020-02-14 07:52] iintothewind commented on #1728
Hi @wing328 can you please remove the link you mentioned above. I am not supposed to expose the link here. thanks.

[2020-02-14 07:54] dummyalias commented on #4849
According to this comment, the issue may be fixed with #5120 https://github.com/OpenAPITools/openapi-generator/issues/2906#issuecomment-58315263.

[2020-02-14 08:14] henrebotha commented on #5301
Ok, so to find that, I'd have to guess that it would be referred to not as `--enable-post-process-file`, as per the actual CLI, but `enablePostProcessFile`. (I actually did grep for the CLI argument, and found nothing.) Further, I'd have to guess that a core CLI feature is actually documented in… a Gradle plugin? I don't even _use_ Gradle. Why should I go there for core functionality?

This is not

[2020-02-14 08:32] lindgrenfredrik opened #5320 "[BUG] Handlebars template engine doesn't generate SupportingFiles properly"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
       Any spec, any language using defaultGenerator that has supporting Files
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
      Issue related to Template engine and not schema
- [X] What's the version of OpenAPI Generator use

[2020-02-14 08:34] #5307 closed

[2020-02-14 09:46] quezak commented on #2924
Just a quick update, in the latest 5.0.0 snapshots the `reject` variant throws an `HttpError` instead of a plain object, but still with the same `body` parameter -- which will be empty if the error response type is different (which is true 99% of the time).

Posting this just FYI, I know the typescript generators are under a rewrite, waiting patiently for them to be done :smiley:

[code]

[2020-02-14 10:29] epochcoder commented on #1975
@mikezx6r Did you find a way to do this yet? since adding preauthorize on the implemented controller seems to make spring not pick up the controller at all.

[2020-02-14 11:36] dayofr opened #5322 "[BUG][dart2] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-14 14:47] mattnorris opened #5323 "[REQ] Add `--enable-post-process-file` example for `nodejs-express-server`"
### Is your feature request related to a problem? Please describe.

Most generators give you an environment variable and example command in the log output for
`--enable-post-process-file`. Generating `nodejs-express-server` does not.

## Describe the solution you'd like

Add `--enable-post-process-file` example for `nodejs-express-server`.

## Additional context

Discussed with @jimschubert and @w

[2020-02-14 15:22] kiranps commented on #1320
@wing328 I'm interested

[2020-02-14 16:51] xiwenc commented on #1095
I can also confirm with the usage of `allOf` with a java generated (tested with okhttp-gsjon) client does not work. The only workaround is to get rid of `allOf`. Kinda sad because this makes enables re-use. Now I have many unnecessary duplications.

[2020-02-14 17:15] sebastien-rosset opened #5324 "[BUG][Java] Generated API class has wrong dataType and does not compile"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-14 21:06] redturtlepower opened #5325 "[BUG][Spring] Hateoas with Swagger bean resolution error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-15 03:29] p4pramod commented on #5325
Use https://github.com/springdoc/springdoc-openapi  which will allow you to use swagger without any issue.

you can follow

https://stackoverflow.com/questions/58682321/integration-test-sarted-failing-post-spring-boot-2-2-0-upgrade-with-swagger-late

[2020-02-15 10:39] redturtlepower commented on #5325
Maybe this works, but this defeats the purpose of a code generator. I do not want to touch the generated code after each re-generation. Or do I miss something obvious?

[2020-02-15 17:06] sebastien-rosset commented on #5324
I have determined this issue occurs with the "okhttp-gson" and "native" libraries.

[2020-02-15 17:36] sebastien-rosset commented on #5324
Narrowing the issue to https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java#L740

If a composed schema 'allOf' has the additionalAttribute set to "true", ModelUtils.isMapSchema() returns true

[2020-02-15 18:54] amakhrov commented on #5279
I agree `object` type (default) is not helpful in Typescript. In fact, the same issue also exists for other typescript generators (e.g. `typescript-angular` ), not just typescript-axios.

This can be solved at your end by providing a cusstom typemapping via cli arguments:
[code]

This should probably be a default mapping for the typescript generators.

Maybe even `unknown` instead of `any` - for b

[2020-02-15 21:18] jimschubert commented on #1811
Feature set documentation is available via #4941 and #5188
Standardization of vendor extensions is available via #5295
The `--dry-run` option as recommended in #4976 is available via #5332

Additional things I'd like to explore for this feature:

- [ ] A command to make authoring easier for users (extracting all files from the jar to some output location)
- [ ] A CLI option to dump vendor extensio

[2020-02-15 23:22] mmalecki opened #5334 "[REQ][typescript-node] Migrate to a different Node.js HTTP client"
### Is your feature request related to a problem? Please describe.

[`request`](https://www.npmjs.com/package/request), the HTTP client used in the `typescript-node` has been deprecated recently: request/request#3142
There's no rush here, since request will continue working.

## Describe the solution you'd like

A new module should be picked, or implementation changed to use the core HTTP module.

[2020-02-16 05:08] amakhrov commented on #5334
@mmalecki thanks for the heads up on `request` deprecation.

Ideally we do not limit a generator to a particular http library, but have one that can be provided with a specific http client implementation by end users. This would generally eliminate the need to pick one of the existing popular solutions.

The problem with having multiple slightly different typescript generators (one for each client

[2020-02-16 05:28] amakhrov opened #5335 "[REQ][typescript] Use more sophisticated yaml spec for typescript generators samples"
Currently samples for all typescript generators are built based on petstore.yaml (2_0 and 3_0).
This spec doesn't include features like "date" format, allOf / oneOf, discriminators, enum aliases (for OAS3).

As a result, issues related to those features are not obvious, and also it's not obvious how fixes addressing those issues impact the end result.

A number of other generators already use a mo

[2020-02-16 09:36] chameleon82 opened #5336 "[REQ] [scala-akka-client] Customize url provider"
### Is your feature request related to a problem? Please describe.

Provide url provider wrapper to able customise client with round-robin/service-discovery and similar options based by multiple dynamic urls

Current solution allowed to use only one fixed URL
[code]

## Describe the solution you'd like

Pass url provider instead of fixed url into ApiInvoker

For example something like this

[code]

[2020-02-16 15:53] chameleon82 commented on #5303
it could make sense for server generation to support both approaches - "code first" and "spec first". From some point it easy to switch from one to another.
My thoughts is it not needed by default for "spec first" approach as required additional dependencies

[2020-02-16 18:17] sebastien-rosset commented on #5324
@wing328, @jimschubert , what is the rationale for toAllOfName() to return the name of the first element in the 'allOf' list?
https://github.com/OpenAPITools/openapi-generator/blame/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L1754

The reason I ask is so I can submit a PR that addresses the use cases below. One option is I could do something similar

[2020-02-16 18:33] sebastien-rosset commented on #5324
There might be a problem at this line: https://github.com/OpenAPITools/openapi-generator/blame/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5251.  I don't think it handles the case of a ComposedSchema which also defines additionalproperties: true

[2020-02-16 21:02] LoveIsGrief opened #5340 "[REQ] Python .gitlab-ci.yml"
### Is your feature request related to a problem? Please describe.

It would be great to have a `.gitlab-ci.yml` for the python package. It would support Gitlab CI and not only TravisCI.

## Describe the solution you'd like

A simple `.gitlab-ci.yml` for python that does the same as `.travis.yml`.

## Describe alternatives you've considered

A simpler way to include files in templates? I'm not sur

[2020-02-17 02:39] jimschubert commented on #5324
@sebastien-rosset Thanks for bring this conversation!

Unfortunately, the logic to grab the first item in the array was an original implementation bridging the gap between our 2.3.x branch (when we forked from Swagger Codegen) and the initial implementation of OpenAPI Generator which included minimal OAS 3.0 support.

The method you've linked to would allow generators to override the logic specifi

[2020-02-17 03:00] sebastien-rosset commented on #5324
I will read these issues. I was taking notes for myself for the various options to generate code:

1. Get all inner schemas, both inline and referenced, flatten all properties into single class/struct
2. Create inheritance or composition model. External properties and vendor extensions may be used to control the implementation output.

a. Flatten properties from all inline schemas into single clas

[2020-02-17 03:13] jimschubert commented on #5324
@sebastien-rosset for your use case with the inline schema and $ref merge, OpenAPI Specification specifically [says](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#discriminator-object):

Seems like we'd need an option or vendor extension to allow this behavior as well.

[2020-02-17 03:26] mikezx6r commented on #1975
It's been a long time since I've even thought about this. I believe the @PreAuthorize needs to be with the @Mapping, and that's on the interface. So yes, it won't work if you put it on the Controller.

But at the moment, I'm not using this project (not writing REST Services, doing other work)

[2020-02-17 05:40] sebastien-rosset commented on #5324
Like you wrote before, the OAS spec is not clear. Unfortunately the spec mentions both validation and code generation in the introduction, but it never seem to state which sections or sentences apply to code generation. My understanding is the OAS spec is only about validation, and it's completely outside the scope of the spec to dictate how to generate code (?)

So when the spec mentions composit

[2020-02-17 07:00] wing328 commented on #5293
@praveen-diffbot What about using `x-group-parameters` in your OpenAPI spec/doc instead to group the parameters into a single object?

[2020-02-17 11:07] shadowsheep1 opened #5346 "[REQ] kotlin multiplatform - support newer kotlin version"
Currently library versions are

- **Platform**: Kotlin multiplatform.
- **Kotlin version**: 1.3.50
- **HTTP client**: Ktor 1.2.4.
- **JSON processing**: Kotlinx Serialization: 0.12.0.

It should be nice to address those library versions:

- **Platform**: Kotlin multiplatform.
- **Kotlin version**: 1.3.61
- **HTTP client**: Ktor 1.3.0.
- **JSON processing**: Kotlinx Serialization: 0.14.0.

[2020-02-17 12:26] cljk commented on #2845
I think I have the same error that `allOf` is not supprted correctly. I use a derived type as request body. I´m using maven generator "java" with different libraries - native, retrofit , ...  `4.3.0-SNAPSHOT`

[code]

The class `UserCreate` is created with all fields from `UserUpdate` and the `send_welcome_email` property - but the method has no argument.

[code]

So why is this issue marked as cl

[2020-02-17 12:52] mmalecki commented on #5334
Oh, that is an interesting idea! I agree with multiple similar generators leading to preventable bugs.

I'll take a look at the PR you mentioned and generators for other languages and let you know. It certainly seems doable.

[2020-02-17 14:46] wing328 commented on #5340
PR merged. Thanks for the contribution.

[2020-02-17 14:46] #5340 closed

[2020-02-17 14:59] wing328 commented on #3291
Looked into it but really no clue why this fails. Please use the CLI as a workaround for the time being.

[2020-02-17 15:39] xvilo opened #5349 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

Currently, PHP 7.4 has support for typed properties (see this RFC: https://wiki.php.net/rfc/typed_properties_v2). I think we should support this behind a feature flag.

## Describe the solution you'd like

Add types to class properties, as we have them already as method arguments.

## Additional context

This could be added for th

[2020-02-17 16:07] wing328 commented on #5248
A bit more background on why we use `title` to name the inline model. Some users prefer to define the model using the inline schema instead of defining the model separately, which gives users total control in naming the model. We do advise them to define the model separately if they want to have complete control on the model naming but they still prefer to use the inline schema.

`title` is probab

[2020-02-17 16:17] sebastien-rosset opened #5351 "[Python][Validation] Knob to control whether to ignore additional attribute in the HTTP response"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-17 16:21] skorunka commented on #2845
@amakhrov Thank you for your help. It's sorted now.

[2020-02-17 16:25] LoveIsGrief commented on #5340
Thanks for merging and the quick response!

[2020-02-17 16:25] sebastien-rosset commented on #5351
@spacether

[2020-02-17 16:48] spacether commented on #5351
Also, I am not sure if additionalProperties is widely supported across our generators yet.
This CLI option sounds useful when people want to allow new properties without raising validation errors.

[2020-02-17 16:55] hacki11 opened #5352 "[REQ] [csharp-netcore] Allow setting CachingPolicy for RestSharp Requests"
### Is your feature request related to a problem? Please describe.
To enable caching within the generated csharp-netcore Rest Client, the CachingPolicy must be set:
https://github.com/restsharp/RestSharp/issues/401

Please open access to be able to pass the CachingPolicy to RestSharps RestClient.

## Describe the solution you'd like
A property (CachingPolicy) in IReadableConfiguration which will b

[2020-02-17 17:00] sebastien-rosset commented on #5248
Wouldn't it be better to use a vendor extension? Or a configuration property? Imo, the doc team should be able to edit the title without impacting the generated sdk. For example, they should be able to fix typos, such as changing the title from "OS instaler" to " OS installer". Or decide to change to "operating system installation". Or use i18n and set the title to 운영 체제 설치

[2020-02-17 17:02] sebastien-rosset commented on #5351
Yes, I can confirm support for additional properties is lacking in Java and go

[2020-02-17 17:06] sebastien-rosset commented on #5351
Also, I think my preference would be to make it a configuration parameter of the generated SDK, not a build time option. That way, the same SDK can be used in both modes, rather than publishing two SDKs

[2020-02-17 17:49] sebastien-rosset opened #5353 "[BUG][Java] Generated 'native' code uses lambda expressions, which requires Java8, but default is Java7"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-17 18:37] sebastien-rosset commented on #5353
Never mind, somehow the pom.xml was not regenerated after switching from okhttp-gson to native.

[2020-02-17 18:37] #5353 closed

[2020-02-17 19:19] spacether commented on #5351
That sounds like a good plan.
Some options would be to:
- add it as a module level constant
- add it as a configuration instance property
A configuration instance property would allow separate our users to have multiple clients in memory and use different deserialization behavior for them which gives them good control.
If a class has that flag flipped in configuration, then it could set additional

[2020-02-17 19:37] sebastien-rosset commented on #5351
Yes, that would be great.

Good question. In our specific case, it would make sense NOT to send the unknown attributes back to the server, but at this point I don't have a strong opinion either way. If the client has been built using an older version of the OAS document, my rationale is it shouldn't send stuff that it does not know about. And it will not send the unknown attribute in a POST operat

[2020-02-17 20:28] selankon commented on #4887
I created the PR but modifying the template inside `dart2` folder.

[2020-02-17 20:36] sebastien-rosset commented on #5248
Wouldn't it be better to use a vendor extension? Or a build-time configuration property? IMO, a doc team should be able to edit the "title" without impacting the generated SDK. It's very surprising that "title" (a human-friendly title) ends up being used for code generation. At the very least, we should document it. If you point me to the right .md file where to document, I can submit a PR, but IM

[2020-02-18 01:48] wing328 commented on #5248
I don't see "human consumption" mentioned in the spec. Can you quote directly in your reply or provide an URL to the section describing it?

To have complete control of the model name (for composed schema or non-composed schema), define it separately instead. Is that something you would consider?

[2020-02-18 02:10] sebastien-rosset commented on #5248
I think it's more the spirit than a literal statement, I should have written differently. It does mention. "Title" is used once in the spec with the following example, which is a clear example for human consumption.
``
title: Sample Pet Store App
description: This is a sample server for a pet store.
[code]
   Both of these keywords can be used to decorate a user interface with
   information about

[2020-02-18 02:54] wing328 commented on #5097
I'll look into this issue this weekend. Stay tuned.

[2020-02-18 09:22] Magicking opened #5357 "[BUG][Go] Badly formated enum name"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used? =>
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description

Shared typ

[2020-02-18 09:44] SimpleCookie commented on #5293
I'm not sure if it's the exact same issue, but we have an optional query param in out Java API.
We got `Bar foo(@RequestParam(required = false) String someParam) { ... }`
and the generated URL becomes `http://localhost:3000/api/7B?someParam}?someParam=4444`

So for some reason the openApi generator tries to add the parameter to the path causing everything to break?
I think it's related?

[2020-02-18 13:10] kibertoad opened #5358 "[BUG] Missing dependency in pom.xml on Java 11"
#### Bug Report Checklist

- [X] What's the version of OpenAPI Generator used? 4.2.3

##### Description

Default pom.xml generated for Java project fails on Java 11 because javax.annotation is no longer bundled with the language.

##### Command line used for generation

`java -jar openapi-generator-cli-4.2.3.jar generate -i ../specs\hilton\hospitality-partner.json -g java -o ../src/generated/hilto

[2020-02-18 13:30] ltomes commented on #5246
@eiswind so you updated your `typescript`, `rxjs`, and `ng-packagr` versions? Could you list the versions you are using?

I updated all angular versions as well, and although I can build the module, when I include it in my application, and use it I get cyclic dependency errors
[code]

There is a chance I am still just on the wrong rxjs version (`6.5.4`) or some other dependency.

[2020-02-18 13:57] SimpleCookie opened #5359 "[BUG] @Pathvariable and @QueryParameter yields invalid specification error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-18 13:58] kibertoad opened #5360 "[REQ] Run CI on Java 11"
### Is your feature request related to a problem? Please describe.

Java 11 is current supported LTS version and it is natural to expect significant chunk of library users to be running on it.

## Describe the solution you'd like

Introduce a new Jenkins config, similar to JDK6 one that would execute all tests in JDK11, which is an up-to-date LTS Java version.

If this is approved, I can provide a

[2020-02-18 14:20] eiswind commented on #5246
This worked at my side:

[code]

[2020-02-18 14:24] ltomes commented on #5246
Thanks for sharing the versions you are using. I will try going to rx `6.5.0`+ and see if that improves anything.

My issue seems to be around importing `HTTP_INTERCEPTORS` into  `app.module.ts` in Angular 9, A cyclic dependency error occurs when using the code generated by `openapi-generator-cli` and a custom interceptor in the core app. Removing my interceptor causes the cyclic dependency issue

[2020-02-18 15:01] SimpleCookie commented on #5359
Changing `enableUrlTemplating(true)` to `enableUrlTemplating(false)` in the SwaggerConfig seem to have resolved the issue. Which was the template part of the following path `'/api/apple/{id}{?fruit}'`. Not sure if it's intentional like this or not.

[2020-02-18 15:01] #5359 closed

[2020-02-18 15:21] spacether commented on #5351
My suggestion is to add a parameter discard_unknown_keys to the configuration instance then. If false we keep our current strict behavior. If true then we discard the extra key info.

[2020-02-18 15:53] sebastien-rosset commented on #5351
ok. What should be the default value?

[2020-02-18 16:02] sebastien-rosset commented on #5351
Something like #5362?

[2020-02-18 16:18] wing328 commented on #5248
It's fine. Just want to make sure I didn't miss it in the official spec. Even the spec didn't say anything about whether `title` can be used in code generation or is human consumption only, your suggestion is still valid.

Again title is not the best way to come up with the model name (I believe we all agree on this). To avoid using it to name the model, the best way is to define the model separat

[2020-02-18 16:23] sebastien-rosset commented on #5248
Just so I understand what you are proposing, are you suggesting there would be a configuration file in YAML or JSON format, outside the OAS spec, that would provide additional parameters to help with code generation? Essentially it would be a way to externalize what is currently specified as vendor extensions?

[2020-02-18 16:26] wing328 commented on #5248
No additional configuration files or vendor extensions.

Just define the schema separately instead of inline to have complete control of the model name.

[2020-02-18 16:54] jorgerod commented on #2908
Any news about this issue?

[2020-02-18 17:47] pixelshaded commented on #5301
Asking about a specific, poorly documented cli option is far more constructive than making a generalized FALSE statement that the tool has no proper documentation. The former is asking for specific help, or even pointing out a specific issue with docs. The latter is largely just a complaint without any details that serves absolutely no one.

[2020-02-18 17:56] pixelshaded commented on #5303
But you aren't supporting both approaches then. Using your spec to generate code that produces a spec is still spec first. Your code and output spec is a function of your original spec, unless you plan to abandon the original spec, but then I would ask why use codegen to begin and just stick with code first the whole way? I'm just not seeing when it would ever be advantageous to have multiple sour

[2020-02-18 20:22] svmn commented on #3159
@stevenvdr Won't work in the case when referenced definition used in multiple places, with and without nullable.

[2020-02-18 21:22] EddiVonDerAlm opened #5363 "jaxrs-jersey: Problem with nonexisting import and wildcard responsecode"
##### Description
The generator creates non compilable java code.

Contains the response a schema with oneOf, the created code references to an class OneOfxxx. In my examlple `de.test.openapi.server.model.OneOfCatDog`. But the file will not be generated, so the code doesn't compile.

Furthermore if I add a wildcard response like '5XX' as described here https://swagger.io/docs/specification/describ

[2020-02-19 02:27] jimschubert commented on #5320
Thanks for reporting this. I know some people are using handlebars, but I guess only for model/api generation and not supporting files.

I've opened #5364 to resolve this. I've tested it against the templates in your fork and everything but `build.bat` work, and build.bat seems to only be an escaping issue.

[2020-02-19 03:22] jimschubert commented on #4681
I've tested this against current master and I don't receive an NPE. I was wondering if you could check?

[code]

I verified on 4.2.2 that I did get NPE:

[code]

I believe I fixed this in #5107

[2020-02-19 04:42] davinchia opened #5367 "[BUG] Ruby Client generates docs that encourage bad client configuration."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-19 07:18] wing328 commented on #2574
PR merged. Please give it another try.

[2020-02-19 07:18] #2574 closed

[2020-02-19 07:38] #5293 closed

[2020-02-19 08:16] lindgrenfredrik commented on #5320
Thanks

Had a quick review of code in PR and it looks good.
Currently on a business trip so will see if I find time during this week to test it.

Will look into details of the build.bat issue you saw

[2020-02-19 08:57] onitake commented on #5357
I'm also using the latest docker image, and don't see this bug:
[code]
produces:
[code]
While the naming concept of the enum keys is questionable (they should be namespaced and in camel case IMHO), the type identifier is how it should be.
Can you post your API spec?

[2020-02-19 12:20] lindgrenfredrik commented on #5320
Had the chance to run the new code in PR and it works fine for generating code for supporting files.

I had no issue with the build.bat file it self, though found 2 issues where changing from -last in mustache template to @last to handlebars template doesn't produce the same behavior which is causing build fails with template from my repo. (Authentication/ApiAuthentication.handlebars & Startup.han

[2020-02-19 16:14] avl42 opened #5373 "[request for clarification]: generating Java from Yaml: multiple "responses", but only one ResponseEntity<...>"
The yaml file contains a call like this:
[code]
The generated API declares the method as returning a `ResponseEntity<FooResult>`, and I cannot see how my implementation can ever return a `ResponseEntity<FooError>` for cases that lead to a code 400.

I'd appreciate explanations, what I may be expecting wrong, or if this is a bug.

[2020-02-19 16:15] avl42 commented on #5373
PS: I didn't intend to label this as a "bug"...

[2020-02-19 16:27] zalito12 opened #5374 "[BUG] [Java Spring] Cookie in parameter is not correctly generated"
##### Description

Like the other Java generators, Spring api generator is writting and ``, `` when there is a cookie param on the endpoint definition.

##### openapi-generator version

openapi-generator-maven-plugin 4.2.2

##### Steps to reproduce

It's detailed on #2908

##### Related issues/PRs

#2908
#2689

##### Suggest a fix

For spring we could add ``@CookiValue`` annotation to cookie param

[2020-02-19 16:30] #5323 closed

[2020-02-19 16:31] wing328 commented on #5323
#5369 merged into master.

Please give the latest master/snapshot version a try.

[2020-02-19 16:58] avl42 commented on #5373
Ok, there is already issue #1096 ...     Is there still no hope for this feature?

Is it just a question of someone adding it, or are there any fundamental problems involved?

[2020-02-19 17:06] prajon84 opened #5375 "Revamp of a generator (csharp-netcore)"
We are evaluating the code generated by several of the C# templates and be quite dissatisfied with it.
The closest to what we need is the csharp-netcore template but it uses RestSharp internally and we need to pass our own middlewares which does not seem possible.

We are willing to work on improving these templates but the nature of our changes are very backwards incompatible, for instance, we wa

[2020-02-19 17:42] spacether commented on #4873
@Tohnmeister I think that this is a problem with your spec, not the generator.
Have toy tried sending a string query parameter?
I don't think type object is allowed as a query parameter.

[2020-02-19 17:44] spacether commented on #4873
My mistake, we can send objects per: https://swagger.io/docs/specification/describing-parameters/
[code]

[2020-02-19 18:22] JustinBusschau commented on #4873
Correct, @spacether

Also if I define an enum as:
[code]

and then pass that as an input parameter to a `PATCH` call, that should serialise as something like:
[code]

That all works fine, but there are no samples that do this in the `petstore.yaml` so I think this is why the failure to generate a valid handler/controller for this in the flask servers was never identified and there is no way of tes

[2020-02-19 22:22] kibertoad commented on #5358
@wing328 What do you think?

[2020-02-19 22:59] LoveIsGrief opened #5377 "[BUG] Python client tests fail (syntax errors)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you searched for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spon

[2020-02-20 01:29] wing328 commented on #5195
@greenpau as a workaround, you can use the following to build the project if you do not use the gradle plugin before we address the issue in the 5.0 release:
[code]

[2020-02-20 01:40] wing328 commented on #5375
@prajon84 thanks for the feedback.

cc @jimschubert the author of `csharp-netcore`

[2020-02-20 01:50] #5306 closed

[2020-02-20 01:56] wing328 commented on #5375
cc C# technical committee as well: @mandrean @jimschubert @frankyjuang @shibayan

[2020-02-20 02:29] jimschubert commented on #5375
The client is designed in such a way that you can implement the required interfaces and inject your own ApiClient implementation without introducing code into the built-in templates. ApiClient is also a partial class, allowing users to extend without touching the generated code itself.

Is there an issue with the interfaces, or are you more looking for an option which would create ApiClient withou

[2020-02-20 03:33] jimschubert commented on #5320
@lindgrenfredrik looks like you have incorrect syntax for `@last`. See [jknack/handlebars.java tests](https://github.com/jknack/handlebars.java/blob/3b702a4a8ffeb07e52867fdf1ab69c9c414ae973/handlebars/src/test/java/com/github/jknack/handlebars/PseudoVarsTest.java#L24)

Try changing from:

[code]

To:

[code]

And change things like this:

[code]

to:

[code]

I tested this locally and seems to wor

[2020-02-20 05:48] wing328 commented on #5374
@zalito12 do you mind filing a PR with the suggested fix?

[2020-02-20 06:45] lyuanlai commented on #3623
I am using resttemplate to generate client-side codes. I run into error I suspect is the same root cause as this ticket. The generated code looks like
`public RolePermission addRolePermission(String role, String body) throws RestClientException {
        Object postBody = body;
        ....
`
The endpoint accepts json, and returns json. This code got "Bad Request" from server. If I change to `Obje

[2020-02-20 06:46] wing328 commented on #5358
Let's have a quick chat via Slack when you've time today or tomorrow.

[2020-02-20 07:25] lindgrenfredrik commented on #5320
I've been mainly looking at info on swagger-codegen page for which statements that need updating between mustache and handebars.
https://github.com/swagger-api/swagger-codegen/wiki/Swagger-Codegen-migration-from-Mustache-and-Handlebars-templates.

This since both seem to use jknack for handlebars and didn't see any bad effects when using those with swagger codegen
But could be that those templates

[2020-02-20 07:44] wing328 commented on #3623
Please try the latest master to see if the issue still occurs. You can download the SNAPSHOT JAR as mentioned in the readme.

[2020-02-20 08:06] qbixsd commented on #2053
according to documentation, string with date format should be formatted with ISO format (yyyy-MM-dd): https://swagger.io/docs/specification/data-models/data-types/
So this default approach is in contradiction to openapi specification.

Also, is there a way to override this setting?

[2020-02-20 08:07] zalito12 commented on #5374
@wing328 Yes, I'm working on it. I haven't contribute before so I'm catching up the on the working of the generator.

[2020-02-20 10:17] dkirrane opened #5381 "[BUG] [spring][server] oneOf Polymorphism support for spring boot"
##### Description

Currently, openapi-generator doesn't support `oneOf`. It currently generates the following broken code, outputting `UNKNOWN_BASE_TYPE` rather than `Pet` for the example below.
The code is broken with or without the `discriminator` in the Spec.

[code]

##### openapi-generator version
`pom.xml`
[code]

##### OpenAPI Spec
`api.yaml`
[code]

##### Command line used for generation

[2020-02-20 12:50] #5246 closed

[2020-02-20 14:00] rkoehn opened #5382 "[BUG] OneOf inside property of a schema generates broken Java Client"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-20 14:27] standayweb opened #5385 "[REQ] Typescript, ability to pass in parameters as an object"
### Is your feature request related to a problem? Please describe.

It can be hard to read the code and can introduce bugs when using normal function parameters, for instance, if you have this:
[code]
and the backend adds an argument websiteId, after orgId, depending on the types of the items it won't necessarily cause a type error.

## Describe the solution you'd like

I would like the option to

[2020-02-20 14:48] shibayan commented on #5375
Hello

I also aim to add a completely new designed C# client generator.
The current generator is based on C# 2.0, so the latest language features are not fully utilized.

I have been writing the so-called `csharp-latest` generator this year. The following branch is it.
https://github.com/shibayan/openapi-generator/tree/csharp-latest

[2020-02-20 16:30] greenpau commented on #5195
@wing328 , thank you! 👍 I will try it when I am back to openapi work.

[2020-02-20 16:31] jorgerod opened #5386 "[BUG] [JAVA | Spring] Cookie in parameter is not correctly generated"
#### Description

When trying to do code generation with cookie in parameter yaml file, uncompilable code are being generated and generator does not report error.

##### openapi-generator version

openapi-generator-maven-plugin 4.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
[code]
##### Steps to reproduce

Using maven to trigger the generation.

[2020-02-20 16:58] yarikkustrich commented on #3054
Hi guys, facing the same issue trying to authorize via client credentials flow. Any updates on this?

[2020-02-20 18:54] sebastien-rosset opened #5387 "[Clarification Needed] Validation and code generation of open-ended "type: object""
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-20 19:51] lyuanlai commented on #3623
Using 4.3.0-SNAPSHOT does not fix it, same codes generated. The part of the mustache template    for the generated code has not changed in a relevant way:
[code]

[2020-02-20 20:01] rettgerst commented on #3896
I just discovered on my coworker's macOS Catalina machine the generator is writing "unset" as well. we are using `^1.0.10-4.2.3` from npm.

[2020-02-20 20:43] qbixsd opened #5389 "[BUG][SPRING] SpringBoot module generates api with wrong date format on nested objects"
#### Bug Report Checklist
- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor

[2020-02-20 21:16] sebastien-rosset commented on #5387
In this specific scenario, I think the OAS spec is clear (but maybe I missed one crucial sentence). I.e. "type: object" can only a map from string to arbitrary values.

In OpenAPITools, there are fields and methods named "FreeForm". That term is not used anywhere in the JSON schema spec, and it is used a couple times in the OAS spec. I think it conveys semantically that it can be any arbitrary typ

[2020-02-20 21:18] richardwhiuk commented on #5387
Regarding type arrays, yes I think the expectation would be that you use `oneOf`.

[2020-02-20 21:38] sebastien-rosset commented on #5387
So if we go with the approach that "type: object" is (exclusively) an unordered set of properties mapping a string to any valid value, the following would have to happen:

1) Fix existing code generators to apply strict validation, as specified in the spec.
2) But (1) will probably make a lot of people unhappy (depending on the specific code generator). In that case should we add a configuration p

[2020-02-20 21:43] kibertoad commented on #5358
@wing328 Sure, which workspace should we use for that? I'm also on gitter.

[2020-02-20 21:53] damstradevelopment opened #5390 "[BUG] aspnetcore enum generation"
Openapi Generator 4.3.0 using latest master branch as 20/02/2020.

I have setup the enum in openapi as:

[code]

However, upon generation it still sets it as string type and does not assign the numeric values to the relative name

[code]

[2020-02-21 00:05] spacether commented on #5387
How is the go interface behavior different than the python-experimental implementation? Can you provide an example? I am not following you from your explanation.
python-experimental requires that the key be a string and that the values be of any type when {} is used.

[2020-02-21 00:14] sebastien-rosset commented on #5387
Given the following schema:
[code]

Go will accept the following JSON payloads:
[code]

But the following payloads will fail:
[code]

AFAIK, Python will accept all of the above.

[2020-02-21 00:36] spacether commented on #5387
Ah, thank you for explaining that. How about we  switch python-experimental to definition #2?

[2020-02-21 00:45] sebastien-rosset commented on #5387
The problem is I wouldn't be surprised if a bunch of OAS document use definition 1. Do you think most authors care to write the mouthful schema for arbitrary JSON documents:

[code]

One practical issue I see is that many validators are lenient, the OAS spec lacks examples, so it's easy to assume that "type: object" equates arbitrary JSON document.

In that case, the python-experimental SDK would

[2020-02-21 01:34] spacether commented on #5387
Have any other generators implemented the {} support? Also, OneOf does seem like the cleaner way to explicitly define types of a parameter.
If the generators do not yet support it, that means that we should build more.

[2020-02-21 01:37] sebastien-rosset commented on #5387
The Java client does, but otherwise I don't know.

[2020-02-21 01:38] spacether commented on #5387
Did java do it the mao way or the any type way?

[2020-02-21 02:13] sebastien-rosset commented on #5387
I don't know enough about the Java generator, but it looks like it uses generics:
[code]

https://github.com/OpenAPITools/jackson-databind-nullable/blob/master/src/main/java/org/openapitools/jackson/nullable/JsonNullable.java

[2020-02-21 04:19] nickmeinhold opened #5392 "[REQ] [Dart] Add tests for recent PRs"
### Is your feature request related to a problem? Please describe.

Several PRs have come through that were fixing small specific issues that would make for excellent tests to add to the CI, some PRs even provided repro steps with an OpenAPI declaration file. An example is #4887.

## Describe the solution you'd like

- Go back through recent PRs and determine good candidates for tests
- Create a n

[2020-02-21 05:51] wing328 commented on #1159
Added via #3446

For issues/feedback, please open an issue for tracking.

[2020-02-21 05:51] #1159 closed

[2020-02-21 07:40] ackintosh commented on #4403
@hinrik Thanks for the PR! It has been merged into master. 🎉

[2020-02-21 07:40] #4403 closed

[2020-02-21 07:48] wing328 commented on #5358
https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

[2020-02-21 10:52] wing328 commented on #4513
I'll take a look and reply over the weekend.

[2020-02-21 11:29] macjohnny commented on #5385
which generator do you use? e.g. the typescript-angular generator supports this feature already.

[2020-02-21 11:47] standayweb commented on #5385
We are using typescript-axios @macjohnny Would typescript-angular be appropriate for a react app?

[2020-02-21 12:03] macjohnny commented on #5385
the `typescript-angular` generator is not suitable for a react app, since it generates services that rely on the angular `HttpClient` service.
However, you could use the `typescript-rxjs` generator by @denyo, as it supports passing all parameters in an object, see e.g.
https://github.com/OpenAPITools/openapi-generator/blob/972ba18e6adbf57c59b502bad1d4cebf917a7dee/samples/client/petstore/typescript

[2020-02-21 12:11] standayweb commented on #5385
Thanks, we would rather not introduce rxjs just for this, although the typescript-fetch looks promising, any idea how complex it would be to submit a PR to typescript-axios, allowing a flag to be passed which generates functions taking in objects rather than regular parameters?

[2020-02-21 12:37] macjohnny commented on #5385
the simplest approach, which would cost you less than half an hour, would be to conditionally wrap the method parameters with braces:
from
[code]
to

[code]

you could do that here:
https://github.com/OpenAPITools/openapi-generator/blob/972ba18e6adbf57c59b502bad1d4cebf917a7dee/modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache#L37

which currently results in
https://gi

[2020-02-21 12:50] michelealbano opened #5395 "[BUG] generated code crashes with additionalParameters label:"Client: C""
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-21 13:21] juergenschuft commented on #4967
Hi, looks like I am not the only one having that question. Any update on that? Regards, Jürgen

[2020-02-21 14:00] astik opened #5397 "[REQ][Java][resttemplate] Being able to override response handling for a better error management"
### Is your feature request related to a problem? Please describe.

restTemplate generated ApiClient handles response this way :

[code]

It means, either we have a success response which is return with the right type, either we get a generic response with interesting information hidden in its message.

## Describe the solution you'd like

Some methods from ApiClient are defined as private and oth

[2020-02-21 14:00] wing328 commented on #4967
Have you tried setting the `library` option to use a different HTTP library?

[code]

[2020-02-21 14:15] juergenschuft commented on #4967
was able to get it working by doing the following:
1. set java8 option of openapi plugin to true
2. add dependency com.google.code.findbugs / jsr305

[2020-02-21 15:01] lemoinem commented on #3896
The Catalina bug will become an issue for us as well. We mostly use Windows and macOS and we're in the process of upgrading to Catalina.

[2020-02-21 15:03] astik commented on #5397
Here is an example of an overrided APIClient:

[code]

Notice that i removed *updateParamsForAuth* as i managed it through RestTemplate directly. I also remove *defaultHeaders* and *defaultCookies* as it is not needed for my use case. As those 3 elements are not protected, if i would have needed them, it would have needed more copy / paste ='(

[2020-02-21 16:31] astik commented on #5397
One other solution that don't need overriding ApiClient is to add error management to ResponseErrorHandler:

[code]

then, set it to the RestTemplate (you'll see the authentication management as well):

[code]

and finally the ApiClient:

[code]

So you can do pretty much what you want once you've got the RestTemplate instance. Therefore, this feature could be closed without anything else.

Still,

[2020-02-21 20:07] bkabrda commented on #5382
Hey 👋 thanks for opening this issue, my shot at fixing it is at https://github.com/OpenAPITools/openapi-generator/pull/5400

[2020-02-21 22:58] Scythen commented on #5238
I also have this issue, the comma is missing as shown in the OP.

[2020-02-22 04:10] cheungpat commented on #2172
Sorry for commenting on an old issue, but I think this is related to #1087. Both issues mentioned Linode’s OpenAPI spec with respect to properties and `$ref`.

[2020-02-22 04:39] chameleon82 opened #5401 "[REQ][Java/Scala] Migrate away from outdated joda library by default"
### Is your feature request related to a problem? Please describe.

Since java 8 released joda recommend to use java.time library instead (see official note https://www.joda.org/joda-time/)

For now on different java based generators we have at least 3 different implementations:
- `joda.time` (outdated)
- `java.util.Date` (deprecated)
- `java.time.*` (standard since java8)

## Describe the solutio

[2020-02-22 07:45] chameleon82 commented on #3650
@wing328  I have finished my own version of plugin https://github.com/adenza/sbt-openapi-generator which use settings similar to gradle plugin. I would like to move it under OpenAPITools to have better support by community and maintain it here.

[2020-02-22 07:56] chameleon82 commented on #3650
@YanDoroshenko can we collaborate with your version to integrate sbt-plugin into OpenApiTools?

[2020-02-22 08:10] amakhrov commented on #5385
Btw, that's exactly what I did in a previous project that used axios - worked well for me. A drawback, of course, is that occasionally I needed to modify my local template copy to catch up with the changes introduced by newer openapi-generator changes.

[2020-02-22 11:02] wing328 commented on #5097
It's bug and here is the workaround by adding "type: object" to the last schema definition in allOf:
[code]

and the output models no longer have inheritance generated.

I'll see if I can hunt down the bug and file a PR this weekend. Please use the workaround before we come up with a permanent fix.

[2020-02-22 13:19] jimschubert opened #5402 "[core] Tracking item: add GlobalFeature.ParameterizedServerPerOperation"
I was not clear. There are actually 2 features to track:

1. Support for global server configuration with templated values (all Java)
2. Support for server configuration per endpoint (only jersey2, go-experimental)

_Originally posted by @jirikuncar in https://github.com/OpenAPITools/openapi-generator/pull/5380_

[2020-02-22 14:15] madasebrof opened #5403 "[BUG] [Elixir] Missing body in POST or PUT cause crash (Simple Fix!)"
This is a simple bug with a simple fix.

If an endpoint uses a POST or a PUT but doesn't require anything in the BODY tag, the underlying HTTP client on Elixir (Erlang) `:httpc` will bomb.

E.g. generated code that looks like this:

[code]

will cause a crash like this:

[code]
Becasue `:httpc` doesn't allow a missing body for a POST or PUT.

The simple fix is to always include an empty body if th

[2020-02-22 15:36] richardwhiuk commented on #5235
Upstream bug is https://github.com/zalando/connexion/issues/1149

[2020-02-22 17:26] richardwhiuk commented on #5387
I've dug into this a bit to decide what to do in the Rust Server generator.

1) No type specified at all:

[code]

This is allowed to be anything - and is thus equivalent to the anyOf solution proposed further up.

2) Specifying the type as object.

[code]

which makes it a requirement that the object contains properties.

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/opena

[2020-02-22 17:49] richardwhiuk commented on #4513
Should be confirmed, but my understanding of the spec is:

[code]

The first specifies a Security Requirement object with two requirements.

The second gives two options for the Security Requirement object, one of which must be satisfied.

[2020-02-22 18:45] sebastien-rosset commented on #5387
I've added a helper function in this PR to distinguish the two cases: https://github.com/OpenAPITools/openapi-generator/pull/5391/files#diff-57d7532cf464a8d7c24aab4b22ceb993R680

[2020-02-23 10:02] ybelenko commented on #4513
Thanks @richardwhiuk . I've checked provided spec briefly and it passes validation. The only misspell is `flow` instead of `flows` in `oauth` object. I'll take a deeper look today.

[2020-02-23 15:17] ybelenko commented on #4513
@jimschubert and @wing328 please confirm, that we understand provided spec 100% correctly. Confirm that ALL security schemas MUST be satisfied in `/security-requirement-all` endpoint and that ONE of security schema MUST be satisfied in `/security-requirement-one-of` endpoint.

[2020-02-23 15:47] raphael-jungers commented on #5165
You can set the "generateSupportingFiles" option to false. It's not specifically related to the kotlin-spring generator. See [this answer](https://stackoverflow.com/a/48774368/5695522)

[2020-02-23 16:58] ybelenko commented on #4513
I just understood that it can be even more complex:
[code]

[2020-02-23 17:36] valentinbercot opened #5409 "[BUG][dart][dart-dio] "--api-name-suffix" and "--model-name-suffix" options have no effect on generation"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-23 17:49] valentinbercot opened #5411 "[BUG][dart][dart-dio] required fields are nullable in generated files"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-23 21:59] #5320 closed

[2020-02-24 08:58] skorunka commented on #5223
Having same issue. Moreover the date string value has stripped out the time part, any reason for that?
[code]

[2020-02-24 10:12] macjohnny commented on #5223
@skorunka this happens because it is a date and not date-time, so the time part is removed.

[2020-02-24 10:25] skorunka commented on #5223
The cpes says it is a datetime:
[code]

[2020-02-24 10:27] skorunka commented on #5223
This change actually breakes it https://github.com/OpenAPITools/openapi-generator/pull/4337/commits/96bf86ffb0174de7df535bf98799d176db65c793

I just wonder, how to pass the date-time(including the time part) as a querystring parameter, after this change? Cheers.

[2020-02-24 10:34] macjohnny commented on #5223
@skorunka you are right, the "old" behavior was to use type `Date` for date-time values, and `string` for date values. Therefore this is wrong.
However, the type-mapping of date-time to `Date` was removed in https://github.com/OpenAPITools/openapi-generator/pull/5314, as this was Bug, since there no date serialization / deserialization logic is implemented in the typescript-angular generator for t

[2020-02-24 10:55] skorunka commented on #5223
@macjohnny I see. What if you need a date-time parameter in the querystring? Any chance? Thank you.

[2020-02-24 11:18] macjohnny commented on #5223
@skorunka the easies way would be to convert it to a string first, e.g. with .toISOString(), in your consumer code.

[2020-02-24 11:24] xygon opened #5416 "[BUG][csharp-netcore] : 'BaseValidate' does not exist in the current context"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-24 12:19] rhuanbarreto opened #5417 "[BUG] Rubocop Fixes"
##### Description

Rubocop is giving the following error:

[code]
##### openapi-generator version

4.2.3

[2020-02-24 13:02] cbrunnkvist commented on #4871
Purely my guess: the authors of `spring-graphql` chose to use `.graphqls` in order to be able to distinguish files defining GraphQL _schema_ from those containing named queries, -mutations, and fragments?

[2020-02-24 13:24] #5268 closed

[2020-02-24 13:54] wing328 commented on #4513
I think the example provided by @richardwhiuk  is correct to explain AND, OR in security definitions for endpoints.

Your example (even more complex) is also correct.

[2020-02-24 14:14] ybelenko commented on #4513
@wing328 I've spend an hour yesterday and realized that both endpoints contains flat array in codegen variables. Codegen variables below:
[code]
It seems to me that we need `securityJsonSchema` codegen variable which looks like `jsonSchema` in `responses` nodes. It will make possible to keep OR|AND logic.

[2020-02-24 15:05] jcarres-mdsol commented on #5375
@jimschubert
There are multiple changes we would like to make:
- We need middlewares (We use Zipkin, also our own auth schema implemented in middleware), AFAIK there is no support to do this with RestSharp so we need other client.
- Our solution to the above would be to allow the user of the library to create an httpClient outside the library, with whatever middlewares, and passing the client to a

[2020-02-24 15:23] ackintosh commented on #5417
@rhuanbarreto Thanks for this issue. 😃 Would you please provide your OpenAPI declaration file content which produces the issue?

[2020-02-24 15:39] rhuanbarreto commented on #5417
You can use the petstore API definition in http://petstore.swagger.io:8080/api/v3/openapi.json.

Command to generate:
[code]

If you fix the errors by hand, then you have the following error:

[code]

[2020-02-24 15:39] rhuanbarreto commented on #5417
Rubocop version: 0.80.0

[2020-02-24 17:41] ybelenko opened #5419 "[REQ] Maven plugin to validate SQL"
### Is your feature request related to a problem? Please describe.

Current MySQL generator doesn't have any CI tests, but it obvious, that generated SQL queries must be 100% valid. If there is any Maven plugin that can check SQL syntax from file we should add it to dependencies.

## Describe the solution you'd like

Add Maven plugin to check SQL syntax if possible.

[2020-02-24 17:52] esseti commented on #1577
is this fix released in 3.X version? in my generated code there's no `bearerAuth` in the `auth_setting(self)` it should have something like this (note: what should be the `identifier` ?)

[code]

[2020-02-24 18:00] vmorris commented on #1577
@esseti this went into the 4.0.0 milestone

[2020-02-24 20:10] zalito12 commented on #5386
Related to #5374
That issue could be closed with this one.

[2020-02-24 20:20] nibytes opened #5420 "[BUG] Can't set headers from configuration object Typescript Axios"
Typescript Axios.

Can't set custom headers from configuration object.
`localVarRequestOptions.headers = {...localVarHeaderParameter, ...options.headers};` in `ApiAxiosParamCreator`
In this row you must get headers from `...baseOptions.headers,` for fix this. If I can find this, I will make pull request.

[2020-02-24 20:20] srosenberg opened #5421 "[BUG][Python] Bug deserializing nested dictionary value(s)"
##### Description

When the generated python client deserializes the response payload corresponding to the below model, the following error is yielded: `AttributeError: module 'openapi_client.models' has no attribute 'dict'` (also see the stacktrace below).

**OpenAPI Model**,

[code]

**Generated python model**,

[code]

**Stacktrace**,

[code]

##### openapi-generator version

**4.2.3**

##### S

[2020-02-24 21:52] spacether commented on #5235
For python versions < 3.6 we will need to hard code the installation of:
werkzeug==0.16.1
See the versions of connexion that we install here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python-flask/requirements.mustache are limited by python versions.
Per the upstream connexion bug, the fix only went in in connexion == 2.6.0 so earlie

[2020-02-25 03:01] rainmanhhh opened #5425 "[BUG] typescript-rxjs generated code compile failed"
typescript-rxjs
typescript compiler(3.8.2) reports error
[code]

how to fix:
in runtime.mustache
line: 39
[code]
change to
[code]
line: 44
[code]
change to
[code]

[2020-02-25 03:24] #5086 closed

[2020-02-25 07:13] amakhrov commented on #2976
@Hardtack that's totally correct.
The existing behavior is clearly a bug - it should use "original" by default, while currently it's set to "camelCase".

Note, however, that a few typescript generators (e.g. typescript-fetch) implement runtime conversion between the generated property names and the original names as per spec. For them it's totally ok to produce property names different from the sp

[2020-02-25 09:21] #934 closed

[2020-02-25 09:21] #2003 closed

[2020-02-25 09:21] #3254 closed

[2020-02-25 09:21] #4022 closed

[2020-02-25 09:21] #5148 closed

[2020-02-25 12:21] rainmanhhh opened #5432 "[BUG] typescript-rxjs cannot handle regular form params(application/x-www-form-urlencoded)"
similar to typescript-fetch #3920
it always use FormData without check api doc "consumes"
application/x-www-form-urlencoded should be default content-type
FormData should be used only if api doc specific consumes=multipart/form-data
probably other client generator have the same problem too

[2020-02-25 13:04] zalito12 commented on #5374
I close it as it was duplicated in #5386

[2020-02-25 13:04] #5374 closed

[2020-02-25 14:32] sebastien-rosset commented on #5278
One consideration is that to address #4881, #4606, #4559, I think it will be required to write a customer unmarshaler.

[2020-02-25 14:41] zalito12 opened #5436 "[BUG] [JAVA | Spring] Dates are not annotated on param model"
##### Description

Date and datetime are correctly annotated in query params but when you use a model as query param the model date and datetime properties are not correctly annotated so it cannot recognize format.

##### openapi-generator version

openapi-generator-maven-plugin 4.2.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
[code]

##### Steps

[2020-02-25 15:16] zalito12 commented on #5436
Created PR #5437

[2020-02-25 19:18] dbanty opened #5441 "How to set a token for typescript-angular?"
I feel like I'm missing something super obvious, but I can't figure out how to set an accessToken at runtime in my generated Angular client.

I can see in the source code that it's properly trying to get the accessToken from the Configuration and set the header, but I'm not sure how to set that token on the Configuration in the first place.

If I follow the instructions in the README and set up my

[2020-02-25 22:35] vaindil opened #5442 "[BUG] [csharp-netcore] Invalid expressions are generated using ??"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-26 04:35] delitahub opened #5444 "[BUG] [JAVA | CLIENT Generator | Spring Boot] RestTemplate client incompatibility between JsonDeserializer and ThreeTenDateTimeDeserializerBase"
##### Description

I have a Spring boot service that needs to make a call to another Spring boot service. Tried generating a RestTemplate client with the java generator to be used within the first spring boot service. However, among the client classes that are generated the CustomInstantDeserializer can't compile due to an incompatibility between com.fasterxml.jackson.databind.JsonDeserializer and

[2020-02-26 07:16] tomplus commented on #5377
I'm faced the same problem. It looks like generated tests don't use model's arguments name which my be different than defined in a spec.

[2020-02-26 09:42] Erikmolin opened #5446 "[BUG] Typescript-node does not apply basic auth with blank username or password"
##### Description
Using Basic auth should be possible with empty username, however, 4.3.3 generates this code:

[code]

since "" is falsy, auth is never applied if either username or password is empty.

##### openapi-generator version

Worked in 4.2.2, fails in 4.2.3. Introduced by #4896

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

openapi-generator

[2020-02-26 10:29] com2ghz opened #5447 "[REQ] Lombok support for models"
I created a pull request with support for lombok models that come with certain convenient annotations for immutable models with builders. Currently I implemented this only for spring-mvc.

The problem is that I can't add any reviewer to the pull request.

https://github.com/OpenAPITools/openapi-generator/pull/5430

[2020-02-26 10:32] peppelinux opened #5448 "[Feature Request] Add Django in server code-gen"
I think that a widely used and popular Framework like Django should be supported in openapi-generator. Do you agree?

Is there something moving in that direction?

[2020-02-26 10:36] HieronymusLex opened #5449 "[BUG][MARKDOWN] Primitive Type not set to true for primitives on Models"
##### Description

When using both the html and markdown doc generators, `isPrimitiveType` is set to false for model vars even if the var is a primitive type. This leads to dead links for primitive types e.g. https://github.com/OpenAPITools/openapi-generator/blob/master/samples/documentation/markdown/Models/ApiResponse.md

##### openapi-generator version

v4.2.3

##### Command line used for genera

[2020-02-26 12:41] jorissteyn commented on #2199
API platform supports partial PUT operations: omitting a field in the request does not clear the value on PUT operations. So I'm wondering, the change discussed here, how would the client distinguish nullable fields explicitly set to null versus fields omitted in the payload?

I believe this question is espacially important because the client does not support PATCH requests.

[2020-02-26 13:09] pvdbosch commented on #5097
I find inheritance without descriminator rather useful and would prefer it to be kept.
I stumbled on this issue because I didn't get inheritance in generated code (I was using "type: object").

I've encountered two use cases where it is useful:
* when the full list of subtypes isn't known in advance when declaring parent type
* when no polymorphism is required in OpenAPI document, but it is still

[2020-02-26 13:59] HighSoftWare96 commented on #2845
So, is there a workaround for this?

[2020-02-26 14:38] HighSoftWare96 commented on #4130
This actually happened another time....
I'm generating a schema like this:
[code]
And the generated SDK imports something like this:
[code]
![image](https://user-images.githubusercontent.com/22793967/75354910-020a3a80-58ae-11ea-900c-e5102c6634c8.png)
Any thoughts on this? This is a blocking issue...

[2020-02-26 16:26] bgong-mdsol opened #5451 "[REQ] [Java] use a builder pattern for parameters?"
### Is your feature request related to a problem? Please describe.
Not an issue per se, just a better way to achieve the same result.

## Describe the solution you'd like
Currently parameters of an endpoint become parameters on a method.

Some endpoints have many parameters and as a result, the method will have 10s of parameters.
Something like:
[code]

The problems are:
- Usually you only need a

[2020-02-26 18:03] cljk commented on #2845
I personally don't think so. At least not for openapi -> java model

[2020-02-26 18:59] HighSoftWare96 commented on #2845
So why is this closed?

[2020-02-26 19:00] spacether commented on #5351
This feature was added in https://github.com/OpenAPITools/openapi-generator/pull/5362

[2020-02-26 19:00] #5351 closed

[2020-02-26 19:50] lemoinem commented on #2845
Enough people have commented on this. The old behavior is what we expect. Not the fixed one.

Inheritance via allOf (what we want) isn't the same as polymorphic serialization (what discriminator does). Could we at least have an option to restore the previous behavior that worked for a lot of people?

[2020-02-26 19:58] skorunka commented on #5223
Ok, thank you.

[2020-02-26 20:53] jbwyme commented on #4626
Seeing the same issue here when using `Union` from Python type annotations (which results in a `anyOf` in the OpenAPI schema.

[2020-02-27 01:13] jeff9finger commented on #5451
I would definitely like to see this. We have implemented our own builders for this purpose and to have them generated would be excellent.

I'd like to see the methods on server generated controller methods be able to not need to declare all the possible query parameters as well. I know that is a separate item, but very similar in concept.

[2020-02-27 10:25] lindgrenfredrik commented on #5320
Tried to change template to use the ones mentioned above related to last statements
I didn't get those to work with the input file of https://petstore.swagger.io/v2/swagger.json

@jimschubert did you try with other input file when you got it to work ?

For some reason I now get a issue with \ characters in build.bat file that I for some reason didn't get when I tested it last week
Though that seem

[2020-02-27 10:33] Ricardo1980 opened #5462 "How to program the refresh token logic when using Swift generated code?"
##### Description

Hello,

I'm using openapi-generator, version 4.2.3, exactly this one:
openapi-generator generate -g swift5 -i my_openapi.yaml -o ./swift5 --library alamofire

The reason I want to use Alamofire is because my api (created by a workmate), uses access token and refresh token, and the access token expires every hour so the refresh token has to be used to get a new one, while the ong

[2020-02-27 10:38] helgadeville commented on #3305
I run into same issue.
Piece of YAML file says:

  securitySchemes:
    oAuth:
      type: oauth2
      description: This API uses OAuth 2 with the clientCredentials grant flow. [More info](https://api.example.com/docs/auth)
      flows:
        clientCredentials:
          authorizationUrl: https://some-server...

During generation, 2 spec errors exist:

org.openapitools.codegen.SpecValidationExc

[2020-02-27 10:54] rechvs opened #5463 "[BUG][JAVA] Gradle plugin ignores "templateDir""
#### Bug Report Checklist

##### Description

The Gradle plugin seems to ignore the _templateDir_ argument set in [build.gradle](https://github.com/rechvs/openapi-generator-gradle-plugin-debugging/blob/master/build.gradle): the argument points to a non-existent directory but no exception is thrown (whereas a non-existent file as the _inputSpec_ argument does throw).

##### openapi-generator versio

[2020-02-27 11:56] dkirrane commented on #5381
Line it's failing on [DefaultCodegen.java#L5404](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L5404)

@bkabrda Any pointers on possible fix here? I assume SpringCodegen needs to postProcess the model in some way to configure the Base interface/class to use for each anyOf schema?
https://github.com

[2020-02-27 11:57] macjohnny commented on #4130
@HighSoftWare96 would you like to give it a try and find a fix for this?

[2020-02-27 12:14] HighSoftWare96 commented on #4130
I don't know even where I should start... Maybe someone more competent about this can try

[2020-02-27 14:02] jpestima commented on #2610
Same error as @DonDi94.

[2020-02-27 15:49] Magicking commented on #5357
I have something like this:
[code]

This indeed end-up with the problem I described above, also I noticed that at every other place in the code, the type is properly camelCased.

I guess the temporary fix is to CamelCase type even in the specification.

[2020-02-27 16:32] t03apt opened #5467 "[BUG][typescript-angular] generator generates invalid TypeScript for polymorphic types"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-27 19:57] jfeltesse-mdsol commented on #5451
As you recognize, I think the server-side of this should be implemented at a different time, through a separate PR.

As for the client side, should we keep the existing code in place (that generates methods with _n_ arguments) for backwards-compatibility or should we replace entirely and target 5.x?

[2020-02-27 21:53] cbornet commented on #5451
:+1 very good idea !

[2020-02-28 01:00] arderyp commented on #1246
So this issue is still out there.  Any hopes of addressing it soon?  5 is long gone by now.

[2020-02-28 01:22] simonhaines opened #5470 "[BUG][C#] Wrong type in default constructor for nullable enumerations"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-28 01:28] #5395 closed

[2020-02-28 02:26] jimschubert opened #5473 "Move cache string helper methods to Caffeine cache"
This should be moved from a Map to caffeine cache to automatically expire records, otherwise OpenAPI Generator will be unusable in hosted environments (such as our online generator).

_Originally posted by @jimschubert in https://github.com/OpenAPITools/openapi-generator/pull/5152#issuecomment-592279263_

[2020-02-28 06:27] #5420 closed

[2020-02-28 06:31] #2976 closed

[2020-02-28 07:17] wing328 commented on #5462
cc @jgavris (2017/07) @ehyche (2017/08) @Edubits (2017/09) @jaz-ah (2017/09) @4brunu (2019/11)

[2020-02-28 07:25] amakhrov commented on #5441
@dbanty Right, a Configuration instance is injected statically. But it doesn't mean it's properties cannot change dynamically at run time.

Simplified example
[code]

Does this help?

[2020-02-28 08:29] eachirei commented on #2610
Same error for typescript-angular

[2020-02-28 08:51] 4brunu commented on #5462
Hey,
you don't need to change the generated code.
First you need to create those classes

[code]

Then you assign the `CustomAlamofireRequestBuilderFactory` to the property requestBuilderFactory in the `APIs.swift` file.
`PetStoreAPI.requestBuilderFactory = CustomAlamofireRequestBuilderFactory()`
The name `PetStoreAPI.requestBuilderFactory` will change depending on your project name.

Hope this he

[2020-02-28 09:01] 4brunu commented on #5462
This is also possible if someone is using URLSession.
Here is an example how to do it.

[code]

Then you assign the `CustomURLSessionRequestBuilderFactory` to the property requestBuilderFactory in the APIs.swift file.
`PetStoreAPI.requestBuilderFactory = CustomURLSessionRequestBuilderFactory()`
The name `PetStoreAPI.requestBuilderFactory` will change depending on your project name.

[2020-02-28 10:26] Ricardo1980 commented on #5462
Thanks a lot @4brunu
I was so close!
Now it is working without modifying the generated code.

Last question, what do you recommend me know if a request needs an access token or not?

Right now, in my prototype I have this:

[code]

Which is working, but it is crappy using those endpoints to know it.

In the open api specification file, I see:
[code]

But no mention in the generated code.
What appr

[2020-02-28 10:33] 4brunu commented on #5462
Hum, sorry but I don't have a better solution for that.

[2020-02-28 10:39] hemynem opened #5476 "[BUG] The kotlin-spring generator ApiUtil object doesn't compile"
##### Description

the kotlin-spring generator produces code which doesn't compile.

##### openapi-generator version

openapi-generator version: 4.2.3
gradle version: 5.6.2

##### Command line used for generation

I'm using gradle to generate the classes

[code]

##### Steps to reproduce

just call gradle task generate endpoints and build, after that you see three compile errors.

e: /home/.../api

[2020-02-28 10:39] Ricardo1980 commented on #5462
@4brunu
would be possible to attach a flag or something (using a URLRequest extension) in the generated code so I know when a request requires an access token, because that info is in the specification file?
What other suggestion do you suggest me to try to implement something in the code generator?
Thanks a lot.

[2020-02-28 10:53] 4brunu commented on #5462
I don't see how this can fit in the generator. :/
But wouldn't be easier if all the endpoints require authentication?
Or you can send the authentication headers always, even if the method doesn't require it.

[2020-02-28 10:59] Ricardo1980 commented on #5462
@4brunu
"But wouldn't be easier if all the endpoints require authentication?"
There must be at least one or 2 endpoints that don't require auth: signup and signin, for obvious reasons.
In fact, I already tried to ignore that and send the access token all the time (if available in the keychain), but if I do that in those endpoints, the backend replies with 401 unauthorized.
Somehow, that error make

[2020-02-28 12:36] #5417 closed

[2020-02-28 14:54] dummyalias commented on #27
I have tried updating the version for the `jaxrs-*` generators, but gave up halfway, because the task became to overwhelming for me. You can see my efforts in the last commits of this branch: https://github.com/dummyalias/openapi-generator/tree/feature/swagger2_jaxrs . The changes are still untested and the following is still missing (as far as I can tell):
- More adaptations for `@ApiParam` (e.g.

[2020-02-28 14:55] dbanty commented on #5441
I'll give that a shot, thanks!

[2020-02-28 14:55] #5441 closed

[2020-02-28 15:05] dummyalias opened #5478 "[REQ] [Java] Swagger dependency old"
### Is your feature request related to a problem? Please describe.
Through this issue I'm forced to use different Swagger versions in my project, which leads to more dependencies and more knowledge, that developers at my company have to acquire about the different Swagger versions.

## Describe the solution you'd like
In my `pom.xml` I want to have this:
[code]

## Describe alternatives you've con

[2020-02-28 15:57] michelealbano commented on #515
Is this Issue still open?
@wing328

[2020-02-28 16:14] adamkaplan opened #5479 "[BUG] Unable to set `podSource` for Swift clients"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-02-28 16:14] autopp commented on #5417
@rhuanbarreto Thanks for reporting. It should have been resolved with #5474.

[2020-02-28 17:20] arderyp commented on #3926
when I set the **phpLegacySupport** option to false, I do see (more) strongly typed code output when using the **php-symfony** generator.  I do not, however, see any difference in output when using this option with the **php** generator.  Am I missing something, is it supposed to only work with **php-symfony**?

[2020-02-28 17:31] arderyp opened #5480 "[REQ] Move phpLegacySupport option from PhpSymfonyServerCodegen.java to AbstractPhpCodegen.java"
### Is your feature request related to a problem? Please describe.

the **phpLegacySupport** flag is available to the **php-symfony** generator, and it produces more strongly typed code.  It is not available, however, in the main **php** generator.

## Describe the solution you'd like

I think this option should be moved up to the parent **AbstractPhpCodegen** class so that all child php generator

[2020-02-28 20:09] Nirostar commented on #5246
I have the exact same problem. Did you already fix it?

[2020-02-29 06:22] ityuhui commented on #2338
Hello @stdevMac

I think this defect is fixed by this [PR](https://github.com/OpenAPITools/openapi-generator/pull/5130)

[2020-02-29 06:31] ityuhui commented on #5101
Hello @axbusch

I think this defect is fixed by this [PR](https://github.com/OpenAPITools/openapi-generator/pull/4893), could you please check your code merges this PR ?

[2020-02-29 17:12] macjohnny commented on #5246
@Nirostar if the current snapshot version still faces a problem, would you like to figure out which further changes need to be made apart from https://github.com/OpenAPITools/openapi-generator/pull/5370?

[2020-02-29 22:19] spacether opened #5489 "[REQ] [Python] improve additional_properties_type"
### Is your feature request related to a problem? Please describe.

@sebastien-rosset did work that uncovered that additionalProperties: {}
should set additional property value data types to:
{str: (bool, date, datetime, dict, float, int, list, str)}
whereas python-experimental currently sets it to:
(bool, date, datetime, dict, float, int, list, str)

## Describe the solution you'd like
For additi

[2020-02-29 23:04] Nirostar commented on #5246
everything works fine now. The `inject() must be called from an injection context` error was related to linking the package locally and was resolved by adding `/projects/leaderportal-frontend-angular/architect/build/options/preserveSymlinks: true` property to the `angular.json` of the consuming project.

See also: https://github.com/angular/angular/issues/25813

[2020-02-29 23:52] spacether commented on #5489
@richardwhiuk do you agree with my interpretation above?

[2020-03-01 00:00] sebastien-rosset commented on #5489
It should be dict. And if the property is also Nullable, add NoneType.

[2020-03-01 00:17] spacether commented on #5489
Can you point me to where the jsonschema spec says that?
https://json-schema.org/draft/2019-09/json-schema-core.html
Is it 4.3.2. Boolean JSON Schemas?

[2020-03-01 01:28] sebastien-rosset commented on #5489
Sorry I think I got confused. additionalProperties: true is the same as additionalProperties: {}
https://swagger.io/docs/specification/data-models/dictionaries/

Initially I thought you were referring to the difference between the two schemas below (from #5391)
[code]

[2020-03-01 01:34] spacether commented on #5489
No worries. This issue was originally only looking at the:
additionalProperties: True/False/{} use cases but I expanded it to the empty object cases that you included in your work because they are all relevant to python-experimental's additional_properties_type

[2020-03-01 08:50] shaxbee commented on #5278
Pointer to nullable field was a bit weird and changing it to non pointer
with custom marshaler sounds sensible.

On Tue, Feb 25, 2020, 9:32 PM Sebastien Rosset <notifications@github.com>
wrote:

[2020-03-01 09:58] #5198 closed

[2020-03-01 10:53] ybelenko commented on #5419
After a small investigation I've found a topic https://stackoverflow.com/questions/141499/any-java-libraries-out-there-that-validate-sql-syntax which gives me small list of packages:
1. [JSQLParser](https://github.com/JSQLParser/JSqlParser) Looks like the best fit
2. ~[General Sql Parser](http://www.sqlparser.com)~ Not free of use, declined
3. [CalciteSqlValidator](https://calcite.apache.org/apido

[2020-03-01 18:30] crazyk2 opened #5492 "[BUG][Kotlin]Description"
@jimschubert @dr4ke616 @karismann @Zomzog @andrewemery @4brunu
What result shoud be when you pass var name `111` or `111name`?
By according [this](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java#L869) comment I think it should be escaped `` `111` `` and `` `111name` `` but [this clas

[2020-03-01 18:39] chrislemaire opened #5493 "[BUG][JAVA] Generator fails to fill in defaults"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-03-01 19:25] nuno-silva commented on #5190
Does anyone know of any workaround for this?

[2020-03-01 19:34] bartveenstra commented on #5447
Lombok does take away all those bugs for hashCode, toString and equals away, by just adding @Data to all pojo's. Greatly simplyfies the generation of models

[2020-03-01 20:12] chrislemaire commented on #5493
Finally found out what was going wrong:
I had the `swagger-codegen` dependency in my gradle classpath, causing some `.mustache` files to be used from there and some others to be used from the openapi generator dependency.
After removing the swagger dependency, things started to make sense again.

[2020-03-01 20:12] #5493 closed

[2020-03-01 21:20] com2ghz commented on #5447
Agree with @bartveenstra. I can build lombok support in the java templates. Which would simplify the models.
The models are overcomplicated in my opinion.

[2020-03-02 02:57] wing328 commented on #5190
cc @YishTish

[2020-03-02 03:14] wing328 commented on #4679
cc @YishTish

[2020-03-02 06:45] macjohnny commented on #5467
related: https://github.com/OpenAPITools/openapi-generator/issues/4130#issuecomment-591458888

[2020-03-02 07:38] chameleon82 opened #5496 "[BUG] Scala templates using different case styles and formatters for variables"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-03-02 07:43] chameleon82 commented on #5496
@jimschubert what do you think to change this behaviour?

[2020-03-02 08:15] #5386 closed

[2020-03-02 09:20] bkabrda commented on #5381
@dkirrane hey 👋 so in order to use the whole oneOf machinery I implemented, you'll need to do couple of things (your previous comment says "anyOf", but I think that's a typo and should have been "oneOf" - what I did only supports oneOf right now):

* The generator needs to set `useOneOfInterfaces = true` (and since it's Java, you'll also have to add `addOneOfInterfaceImports = true`).
* If the gen

[2020-03-02 09:24] dumitru-petrusca opened #5497 "[REQ] Support the use of tags for delegated Kotlin APIs (useTags)"
### Is your feature request related to a problem? Please describe.

The Java Spring (server side) generator supports generating an API using the delegate pattern with or without the use of tags as names for the generated classes. Tags do not work for a Kotlin Spring API.

## Describe the solution you'd like

Allow tags to be used as names of the generated classes (the useTags option)

## Describe

[2020-03-02 09:36] wing328 commented on #5448
@peppelinux thanks for the suggestion. Would you have time to contribute the new generator? We can work with you on that.

[2020-03-02 12:14] wing328 commented on #1571
Please try the latest `swift5` generator and report back if there's still an issue. Thanks.

[2020-03-02 12:14] #1571 closed

[2020-03-02 12:16] martinfoersterling commented on #4627
The [code](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/ignore/CodegenIgnoreProcessor.java) suggests that this warning occurs when the **directory** where an ignore could be doesn't exist. It's not even a warning about a missing ignore file. If the latter happens, it's just an INFO message.

Please remove the warning

[2020-03-02 13:35] peppelinux commented on #5448
Having an already available implementation in flask could let us think to have a django port without too much stress.

Thank you for the invite, I have a quite busy agenda in these months however I'm moving foreward to analyze the resourses to be involved in that. Let's keep this thread open for now

[2020-03-02 13:40] quackes commented on #5476
I encountered the same error.
Still works with 4.2.1, but ApiUtil.kt is not generated.

I suspect the following PR to be the cause:
https://github.com/OpenAPITools/openapi-generator/pull/3925

[2020-03-02 14:31] ctirs opened #5501 "[REQ] [Java/native] possibility to intercept responses"
### Is your feature request related to a problem? Please describe.

Currently the java native client only returns the Response Body Object. For various cases that might not be enough .e.g logging of User Agent and so on.

## Describe the solution you'd like

2 Possible solutions would be good from my Point of view either return a Pair of Response + Header or add a Response interceptor.

[2020-03-02 15:50] chameleon82 commented on #5492
Scala templates have similar problem. See https://github.com/OpenAPITools/openapi-generator/issues/5496 and related PR
Generally, all templates of particular language should have same variable styles.
Basically, all cases should be covered with [tests](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotli

[2020-03-02 15:59] albertotn opened #5503 "[BUG] Description"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?

See following spec:
[LblOnWeb.zip](https://github.com/OpenAPITools/openapi-generator/files/4276297/LblOnWeb.zip)

- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?

yes

- [x] What's the version of OpenAPI Generator used?

4.2.3

-

[2020-03-02 17:06] Ricardo1980 commented on #5462
Well, the refresh token logic I implemented is working properly.
Only remains to improve the piece of code that decides whether an endpoint should include an access token or not.

[2020-03-02 17:06] #5462 closed

[2020-03-02 17:23] spacether commented on #5317
@sebastien-rosset I'm not sure if your interprestation of additionalProperties being a plain old javascript object is correct. When looking at the jsonSchema examples here:
https://json-schema.org/understanding-json-schema/reference/object.html
They give an example where they pass in an the extra property `direction` it is accepted because by default additionalProperties: {}
What is your interpret

[2020-03-02 17:33] Ricardo1980 opened #5504 "[BUG] [SWIFT] Cannot read custom error codes using Swift auto-generated code."
##### Description

Hello,

My backend uses this for errors:
https://jsonapi.org/format/#errors

So, errors look like this:
[code]

The open api specification file I have, uses that. For example, this is a request:
[code]

As you can see, it has a custom error structure.
And here you have the error structure:

[code]

The reason we use ErrorResponseBS instead of ErrorResponse is because the code ge

[2020-03-02 17:36] sorinansys opened #5505 "[BUG] Broken cpp-restsdk code is generated for POST methods returning a "file" type"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-03-02 18:02] 4brunu commented on #5504
Can you check if the code is in the body returned by the server?
[code]
This will print the body of the response.

[2020-03-02 19:02] ro0NL opened #5506 "[REQ] Generate BC friendly PHP client"
### Is your feature request related to a problem? Please describe.

It's easy to break a project by regenerating the PHP API client, given the backend added a new  backwards compatible filter (i.e. optional).

This caused a new required argument in the generated argument list, changing the total order and thus breaking all calling sides.

## Describe the solution you'd like

Overall, i think the g

[2020-03-02 19:14] sebastien-rosset commented on #5317
The 3.0 spec states:

So if you want the value of the additional (undeclared) properties to be an arbitrary JSON document, use additionalProperties: {}. If on the other hand, you want to constrain the type of the values, then provide a specific schema for additionalProperties.
1. The value can be a boolean, string, integer, number, array or object (which is any JSON doccument):
[code]
1. The value