[2018-07-01 10:57] wing328 opened #428 "Next release (3.1.0) postponed to Jul 6th (Fri)"
##### Description

Minor release 3.1.0 has been postponed to coming Friday (Jul 6th) from Monday (Jul 2nd) as the core team would like to include a few more enhacements, bug fixes to the 3.1.0 release.

##### openapi-generator version

3.1.0

[2018-07-01 11:11] jmini commented on #413
I have pretty good results with `Swagger-Parser` (the same tool that this project is using).
See my quick how-to: https://j2r2b.github.io/2018/05/18/from-oas2-to-oas3.html

[2018-07-01 11:17] jmini commented on #428
Maybe we might need to work on our wording... When you read "Minor Release" in this context:

* Patch release (we have no more patch release planned for the `3.0.x` stream)
* Minor release => version `3.1.0` planned. Release containing breaking changes with fallback.
* Major release => version `4.0.0` planned. Release with breaking changes, some of them without fallback

It is clear what "minor" m

[2018-07-01 19:15] jmini commented on #426
In my opinion this is called the **generation gap pattern**

---

I did not check all the java servers, but for jersey2 this is already the case:
Under `src/main/java` the stuff you edit (and that you no longer regenerate).
Example: [PetApiServiceImpl](https://github.com/OpenAPITools/openapi-generator/blob/e960fe95125457d837d834a120f31a2f9c7f4bbb/samples/server/petstore/jaxrs/jersey2/src/main/java

[2018-07-02 06:39] jmini commented on #413
Your `reduced-spec.yaml` is also invalid. I get this error with http://editor.swagger.io/

should have required property 'responses'
missingProperty: responses
Jump to line 10

I think you just need to define a response like this:

[code]

[2018-07-02 10:43] bjgill commented on #426
`rust-server` already does this - it generates a standalone library. A server-side user imports the library and _implements_ the API (a Rust `trait`), whilst a client-side user imports the library and _uses_ the API. The autogenerated code also includes example client/server integrations that users can copy from to make their integration a little easier.

[2018-07-02 14:13] 0v1se opened #434 "Add support for Spring 5 WebClient and projectreactor"
##### Description

Support new Spring 5 WebClient and reactive / webflux

##### Suggest a fix/enhancement

Will submit new PR with Spring 5 WebClient support

[2018-07-02 14:33] wing328 commented on #434
@0v1se please open a PR to start with given that you have the change ready in your branch.

[2018-07-02 15:00] 0v1se commented on #434
@wing328
Opened: https://github.com/OpenAPITools/openapi-generator/pull/435

[2018-07-02 16:03] jmini opened #436 "[JaxRS] compile error with spec without models"
##### Description

When you generate a jersey server for a spec that have no model, you can not compile the generated project.

This might be true for other java generated project (java-client, spring?...)

Work-arround: add this section in your spec:

[code]

##### openapi-generator version

3.1.0-SNAPSHOT

##### OpenAPI declaration file content or url

https://github.com/OpenAPITools/openapi-gen

[2018-07-02 20:15] tomplus commented on #348
Hi @wing328 I don't know which `params `you want to rename. For sure we have a problem with `async` which has became keywords in recently released Python 3.7.

[2018-07-03 03:58] #373 closed

[2018-07-03 05:11] jmini commented on #376
Internally we are using Swagger-Parser to read the model. If we read an OAS2, the tool also do an on-the-fly conversion “OAS2 -> OAS3”.

Here is what we get from the parser when we read your example spec:

[code]

In OAS3 the Request body does not have a name...

I have raised https://github.com/swagger-api/swagger-parser/issues/748 in order to keep this information during the conversion. Feel fre

[2018-07-03 06:57] guenhter opened #439 "[KOTLIN] Feature: Use linter to verify coding style"
##### Description

Use a linter (like klint) to verify the style of the generated Kotlin code as suggested by
https://github.com/OpenAPITools/openapi-generator/pull/427#issuecomment-401612067

##### openapi-generator version

Next minor release

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/427#issuecomment-401612067

[2018-07-03 07:41] raubel opened #440 "[Python] Client code is wrong when an endpoint accepts multiple MediaTypes"
##### Description

My OpenApi 3.0 specification contains an endpoint for which the response media type can be `application/octet-stream` or, if the query cannot be completed, `application/json`.
The generated Python client code builds a query with a MediaType being the concatenation of both: `application/octet-streamapplication/json`

##### openapi-generator version

3.0.3

##### OpenAPI declarati

[2018-07-03 08:17] jmini opened #441 "Publish a documentation of options available with each generator"
We should publish all the option for each generator to our documentation somewhere on GitHub Pages.

[2018-07-03 08:18] jmini commented on #441
As workaround the easiest way to get this information is with the CLI:

[code]

[2018-07-03 08:28] jmini opened #442 "CLI: config-help still uses -l instead of -g"
With https://github.com/OpenAPITools/openapi-generator/pull/57 the `--lang` (short: `-l`) option was deprecated and replaced with `--generator-name` (short: `-g`)

In the `config-help` command, this was not changed and is not not consistent.

---

[code]

Should be OK but returns:

[code]

---

Empty command:
[code]

Returns:
[code]

[2018-07-03 08:30] jmini commented on #441
I understand that users would like to have a page online (especially for maven and gradle users), but this needs to be generated otherwise it will be outdated.

[2018-07-03 09:11] wing328 commented on #441
We can try to automate that with a script and leverage the CI to perform a check to ensure the config options are up-to-date.

[2018-07-03 09:55] #282 closed

[2018-07-03 10:19] tnmtechnologies opened #443 "[jaxrs-resteasy] generated code doesn't compile when @Produces contains multiple values"
##### Description

In case of multiple possible Content-Type values for a response, the values for the Produces annotation are not separated by a coma.
It leads to a compilation error.

##### openapi-generator version
openapi-generator version is 3.0.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

 java  -jar ./openapi-generator-cli-3.0.3.jar gener

[2018-07-03 11:43] jmini commented on #80
@macjohnny, @TiFu: I have noticed a lot of activity/review around the typescript generator.

If you are interested by the feature described here (checking with each PR that the generator runs and that its result included in a commit as part of the same PR to make the Shippable build green), feel free to add the necessary `bin/*.sh` scripts in the list:

https://github.com/OpenAPITools/openapi-gene

[2018-07-03 13:49] CyrilleBenard opened #446 "[C++][Pistache-server] Wrong "fromJson" method generation - compilation failed"
##### Description

The C++ generated code does not compile and I don't think it is localized to the fromJson method but more "global".

One of the generated code looks like below :

[code]

The error produced by the compiler looks like :
[code]

The compiler misunderstand what is expected with the explicit call of the constructor and I think this is not "allowed" to call the constructor like that

[2018-07-03 15:32] le-jhe opened #447 "[JAVA] enums with number type are not supported"
##### Description
Given that a numerical enum is in my custom input types, openapi-generator "decides" to use BigDecimal for mapping the "type" : "number" (maybe because of something in my pom). The problem is that the java source code generated for the enum is not correct
[code]
Correct code should be something like
[code]
##### openapi-generator version
* 3.0.2
* 3.1.0-SNAPSHOT [master]

##### O

[2018-07-03 15:46] tnmtechnologies commented on #426
For jaxrs-resteay source code generation, jaxrs annotations are set at class level (see [api.mustache](https://github.com/jmini/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/libraries/resteasy/api.mustache)).

As proposed, jaxrs annotations could be set at interface level. Of course we still need the class implementation which would inherit from the interface.
Thi

[2018-07-03 16:59] grokify opened #448 "[Golang][client] Non-test files should not end in `_test.go`"
##### Description

Go client generator will create model files that end in `_test.go` when a definition / schema name ends in `Test`, `_Test`, or `_test`. These files are unreachable and not compiled in Go per the following:

Ref: https://godoc.org/github.com/golang/go/src/cmd/go#hdr-Test_packages

The client generator should modify the filename when this is encountered.

##### openapi-generator v

[2018-07-03 21:46] jmini commented on #443
This is fixed with merge of #445

[2018-07-03 21:46] #443 closed

[2018-07-04 01:10] ugnom opened #450 "Byte length not calculated correctly in python"
Copying from original issue in swagger-codegen issue 6582
https://github.com/swagger-api/swagger-codegen/issues/6582

Description
In our swagger declaration, we defined a property of type string and format bytes. We also specified that it should be between 15 and 16 bytes in length, like "AAAAAAAAAAAAAAAAAAAAAA==". When using our service as a REST API and sending it through our swagger page, strin

[2018-07-04 01:44] grokify opened #451 "[jaxrs-cfx][server] bin/jaxrs-cxf-petstore-server.sh does not generate required files"
##### Description

When adding new tests, builds fail because new endpoints are not added to `samples/server/petstore/jaxrs-cxf`

This happens because many files exist and thus are not overwritten.

This is generated by `bin/jaxrs-cxf-petstore-server.sh` which is run by all three of the following:

[code]

An example of this is here:

https://github.com/OpenAPITools/openapi-generator/pull/382#issu

[2018-07-04 04:31] #369 closed

[2018-07-04 04:48] jmini commented on #451
Thank you a lot for this investigation.

---
In my opinion the generator works as expected, because in a real project it is a good practice to split:

`src/gen/java`: generated code that you regenerate every time again.
`src/main/java`: code containing your implementation, your business logic. You often get some stubs with the initial project, but then you prefer get compile error indicating that

[2018-07-04 04:48] jmini commented on #447
Thank you a lot for this Issue.

Initial issue #49 was fixed by @Zomzog in PR #75 and is available with `3.1.0-SNAPSHOT`. In the `3.0.x` version this was not supported at all.

You ave spotted the right place in code and `"type" : "number"` should be supported.

[2018-07-04 04:49] jmini commented on #426
I seems that having annotation on interface is a jaxrs-resteasy thing. JaxRS-Jersey2 does not seems to support it. See [How to annotate JAX-RS on an interface while using Jersey](https://stackoverflow.com/questions/40877018/how-to-annotate-jax-rs-on-an-interface-while-using-jersey).

[2018-07-04 07:47] grokify commented on #451
@jmini Thanks for the reply. It's useful to understand the reasoning for this.

I agree it would be nice to delete the entire `samples/` directory when creating new samples with the `bin/*.sh` scripts. It keeps the output cleaner and more up to date. I had expected deleting the entire `samples/` directory would work earlier and tried it but it didn't yield the desired results. Getting back to a wo

[2018-07-04 09:21] wing328 commented on #348
`params` is a good starting point: https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python/petstore_api/api/pet_api.py#L172 ([template](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/api.mustache#L91))

`collection_formats` is another good candidate: https://github.com/OpenAPITools/openapi-gener

[2018-07-04 09:56] ghost opened #453 "[Python] Generated model for component with "allOf" has no attributes"
##### Description

Given below is a snippet of the input YAML file I am using. I have several components in the original file that are all have the same structure as "AddEmailContactRequest". All of these components' classes are generated without any attributes, although the YAML file is read correctly.
Here is the relevant snippet of the generated code for "AddEmailContactRequest":

    `class Ad

[2018-07-04 10:23] macjohnny opened #454 "[Typescript][Angular] Enhancement: allow filename to be transmitted by using File instead of Blob"
##### Description

allow filename to be transmitted by using `File` instead of `Blob`
See https://github.com/swagger-api/swagger-codegen/issues/8386

[2018-07-04 10:24] macjohnny commented on #454
@albertotn would you like to implement this feature in OpenAPI Generator (a community fork of Swagger Codegen)?

[2018-07-04 10:31] le-jhe commented on #447
Actually, looking at the initial issue gave me an idea to test. What I can say now is that, with 3.0.3, my problem is fixed if I use `"type" : "integer"` instead of `"type" : "number"`
So thank's, my problem is worked around even in 3.0.3. I will test the fix when 3.1.x becomes available.

[2018-07-04 10:37] tnmtechnologies opened #455 "[codegen] external $ref in parameters not supported"
##### Description

When a parameter schema $ref references an external yaml file, code generation fails.

##### openapi-generator version

openapi-generator-cli-3.0.3.jar

##### OpenAPI declaration file content or url

here is a yaml definition fragment relating to the code generation failure:
[code]

##### Command line used for generation

 java  -jar ./openapi-generator-cli-3.0.3.jar generate -i

[2018-07-04 11:00] albertotn commented on #454
I can but I need some guidance on how and where contribuite exactly

[2018-07-04 11:02] jmini commented on #447
@le-jhe I am glad your problem is solved, but I still think that we should support `number`

[2018-07-04 11:06] jmini commented on #455
This should be supported as indicated in #80, can you please publish the content of your `TS29571_CommonData.yaml` file (the necessary extract) so that we have a chance to reproduce this?

[2018-07-04 11:36] albertotn commented on #454
@macjohnny you are right, File extends Blob, but method signature are misleading: a developer could see Blob, and pass the blob, that is without filename.
A method signature with File are more clear, because always carry the filename

[2018-07-04 12:23] tnmtechnologies commented on #455
Please find in attachment the yaml files
[#455-yaml-files.ZIP](https://github.com/OpenAPITools/openapi-generator/files/2163170/455-yaml-files.ZIP)

[2018-07-04 12:30] macjohnny commented on #454
@albertotn I think a developer can easily figure out to pass a `File` object if he wants to pass the filename with it. Since `Blob` is more general and suits all cases, including those that don't need a filename. So since there is no technical necessity to change the signature, I would close this issue.

[2018-07-04 12:30] #454 closed

[2018-07-04 14:37] lorenzleutgeb opened #457 "[Java] support for bearer authentication"
Please see swagger-api/swagger-codegen-generators#113

The output that OpenAPI generator 020883fd4da67050a6ae1b228daa8cef6849d732 produces suffers from the same defect. However I did not look into your codebase. I understand that referring to the Swagger Codegen project might not be the most sensible thing to do, and if you rather do not want to look at it, I could look for the cause in this codeb

[2018-07-04 14:47] andys8 opened #458 "[elm-client] Update dependency: elm-date-extra"
Update dependency `"justinmimbs/elm-date-extra": "2.0.0 <= v < 3.0.0"`.

There is a breaking change in the api.

[code]

### See

https://github.com/OpenAPITools/openapi-generator/blob/b5942624d6714f38c0bde9ae9c7400df1d48b1ed/modules/openapi-generator/src/main/resources/elm/DateTime.mustache

https://github.com/OpenAPITools/openapi-generator/blob/b5942624d6714f38c0bde9ae9c7400df1d48b1ed/modules/op

[2018-07-04 15:01] lorenzleutgeb opened #459 "java: Parameter keys are not escaped properly"
##### Description

Note the `|` character in the parameter key. This translates to:

[code]

... which does not parse as Java.

##### openapi-generator version

020883fd4da67050a6ae1b228daa8cef6849d732

##### OpenAPI Declaration

[code]

##### Command Line used for generation

[code]

##### Steps to reproduce

Generate client.

##### Related issues/PRs

None.

##### Suggest a fix/enhancement

Esca

[2018-07-04 15:31] jmini commented on #457
Welcome here!

_There is no problem to mention Swagger-Codegen. The codebase are similar, Swagger-Codegen v3 and OpenAPI-Generator are both evolutions of Swagger-Codegen `2.x`.
My personal summary of the story is that the opinions about next steps went apart..._

---

You have located the correct section in the template. In this code base it is here:
https://github.com/OpenAPITools/openapi-generat

[2018-07-04 16:00] lorenzleutgeb commented on #457
I cloned/checked out 020883fd4da67050a6ae1b228daa8cef6849d732 and ran `mvn clean package`. With the resulting JAR I do

[code]

I do not understand why you categorized this to affect the Java compilation target. From my limited understanding of the codebase here, it seems that the error is actually in the frontend, i.e. in the shared Java code that underpins generation. In the issue for the Swagge

[2018-07-04 16:01] jmini commented on #459
Thank you a lot for this issue. Have you the possibility to check the patch I have proposed in #461?

[2018-07-04 16:03] jmini commented on #457
You are right, I did not investigate it yet, but one part of the fix will be in the Codegen-layer (`OAS3-Feature` label) and the java template needs to be adjusted too.

Or I have missed something and I will be happy to change that.

[2018-07-04 16:04] lorenzleutgeb commented on #457
I see. Thanks.

[2018-07-04 16:12] lorenzleutgeb commented on #459
Yes, I checked and the fix works for me. Thank you!

[2018-07-05 03:45] #451 closed

[2018-07-05 04:10] grokify opened #464 "[Golang][client] ineffectual assignment in client.go / client.mustache"
##### Description

`client.go` and `client.mustache` has an ineffectual assignment that triggers a [Go Report Card](https://goreportcard.com/) ineffassign error.

Specifically, the following assignment is never used:

[code]

because it is immediately followed by:

[code]

`client.mustache`:

https://github.com/OpenAPITools/openapi-generator/blob/00354d3264a2c7502ab09b21a66da4baae50445f/modules/op

[2018-07-05 05:16] jmini commented on #459
This is fixed in `3.1.0-SNAPSHOT` (release is planned tomorrow)

[2018-07-05 05:16] #459 closed

[2018-07-05 06:02] #448 closed

[2018-07-05 06:07] jmini commented on #455
The problem is to be solved in Swagger-Parser. See issue: https://github.com/swagger-api/swagger-parser/issues/749

[2018-07-05 07:02] ugnom commented on #450
@wing328
I took a look at the code.
What I am planning to change is to add a new boolean variable as isBase64 and put true when type == string and format == byte.
Then in the mustache template adding isBase64 condition to add "import base64" and using base64 decoded length.

If it is valid enough I will start the change.

[2018-07-05 07:39] chrisesharp commented on #457
+1 on this. I came across exactly the same issue this week trying to generate a client with a Bearer JWT token:
[code]

[2018-07-05 07:47] wing328 commented on #450
@ugnom I'll look into your suggestion and get back to you by tonight.

[2018-07-05 08:03] tnmtechnologies commented on #455
Thank you for your analysis.

[2018-07-05 08:22] lorenzleutgeb opened #469 "codegen, oas-3-compat: Treatment of parameter style "deepObject" is shady"
##### Description

It seems to me that your codegen layer does not treat the deepObject style for parameters. For example it is missing in the method [`DefaultCodegen#getCollectionFormat`](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L4086-L4103) where it should probably be treated in one way or a

[2018-07-05 08:36] ugnom commented on #450
@wing328
Looks like there is already a condition for this as "isByteArray" which gets true when type is string and format is byte. I guess I can reuse this condition.

It is a bit harder for me to figure out "import" part dynamically, as "isByteArray" is in each model so that I can't be really sure how I can see if any one of model in the file needs base64. I'll take a bit closer look for that. I

[2018-07-05 10:09] emreakca opened #471 "[JAVA] Bug - External Reference doesn't work on a external File"
##### Description

The external reference from child to ../openapi.yaml#/components/schemas/Parent doesn't resolve correctly. It creates a empty Parent2.java class and references to Parent2. The code works just fine with the Swagger UI and parsing/validating is also not a problem.

##### openapi-generator version

3.1.0 / 4.0.x

##### OpenAPI declaration file content or url

openapi.yaml
[code]
pa

[2018-07-05 10:41] jmini commented on #471
The problem is that Swagger-Parser reconciles the schemas and resolves the external references. See issue #149 about this.

You can see what we see by running this code:

[code]

In this case, I can not say that Swagger-Parser is buggy, because you have already a `Parent` and a `Child` schema in your main spec. When the external ones (in `parent.yaml` and `child.yaml`) are merged into the current

[2018-07-05 10:48] wing328 commented on #450
You can define the import mapping at https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java#L73, e.g.
[code]

Then you can use it in the mustache templates, e.g. https://github.com/OpenAPITools/openapi-generator/blob/b5942624d6714f38c0bde9ae9c7400df1d48b1ed/modules/openapi-generator/src/main/

[2018-07-05 10:56] PowerOfCreation opened #472 "[jaxrs-jersey] Generated method doesn't use model"
##### Description

I have generated a jaxrs-jersey server with two models:
[code]
When I use the TimeseriesData model as a parameter, then the generated code has a `List<TimeseriesEntry>` instead of a TimeseriesData in it. This is problematic, because our code works with TimeseriesData and not with `List<TimeseriesEntry>`.

##### openapi-generator version

3.0.0

##### OpenAPI declaration file con

[2018-07-05 10:56] lorenzleutgeb commented on #469
Yeah, that makes sense.

By the way, is there any issue that aggregates incompatibilities with OAS-3? If not I would argue that this is *really* needed. In one of the first sentences of `README.md` I read "OpenAPI Spec (both 2.0 and 3.0 are supported)" which sounds like OAS is supported, e.g. anything that is mention in the spec will be reflected in the generated clients. But issues like this cont

[2018-07-05 11:01] devplayer0 opened #473 "[cli] Generator logs to STDOUT when debug options are set"
##### Description
Since #207, log messages are written to STDOUT and STDERR respectively based on the level of the message, which makes sense.

However, when debugging the models / operations passed to the templates, it would be nice to be able to pipe the JSON directly into a file / program which could parse it directly.
Currently the piped output will include any of the messages written to STDOU

[2018-07-05 11:20] emreakca commented on #471
The Swagger Parser (https://bigstickcarpet.com/swagger-parser) produces a code like this:
[code]

So I'm not sure, how you get this:

[code]

Also, the codegen blacks out, when I use references like
[code]
-- in the parent.yaml file --
[code]
whereas, this works also just fine when running on swagger ui and parsing/validating.

[2018-07-05 12:16] Place1 commented on #347
I've created a fork of the typescript-fetch generator over at https://github.com/Place1/swagger-codegen-typescript-browser

I'd be very interested in using it as the foundation for a rework of typescript-fetch over here. It follows the params object as api method argument and fixes a bunch of other issues present in the generator related to form data and model naming conversions (camelCase), addit

[2018-07-05 12:20] macjohnny commented on #347
@Place1 thanks for sharing!
@TiFu could you have a look at this?

[2018-07-05 13:42] lorenzleutgeb opened #475 "codegen: ComposedSchema should not always yield UNKNOWN_BASE_TYPE"
##### Description

I have the following scenario: In an API I want to perform some PUT requests that only differ in their bodies. So what I did is declare a composed schema using oneOf in the request body section of my OAS 3 spec. The code generation performs quite badly on this input.

The implementation of `DefaultCodegen` gives up on inferring a good type for composed schemas very easily. Basic

[2018-07-05 14:01] lorenzleutgeb opened #476 "java: Content-Type: application/json on GET requests"
##### Description

GET requests usually have no body, and therefore most of the time no `Content-Type` header is transferred. The OpenAPI makes it especially hard (probably impossible) to define one, as I have noted in OAI/OpenAPI-Specification#1628

I only ran into this issue because I observed that the Java client generated by this generator used `Content-Type: application/json` and I could not

[2018-07-05 14:42] jmini commented on #475
See also #15

[2018-07-05 14:54] jmini commented on #469
Feel free to open an aggregation issue for all "[Feature: OAS 3.0 spec support](https://github.com/OpenAPITools/openapi-generator/labels/Feature%3A%20OAS%203.0%20spec%20support)" issues. I will try to tag all what you find and I welcome any effort that try to triage the issues.

I think that we never tried to hide that some corner cases of OpenAPI v2 or v3 are not supported. For v3, it might be mo

[2018-07-05 14:56] ugnom commented on #450
Thank you, I could figure out the import part too.
but got another concern here that :

in Python, base64 is usually only take bytes type. So I'm thinking ByteArray type should be converted to bytes type in Python (it's currently done as a str type, as a temporary solution)
But if I do so, it will be a spec change for the user of the generated code too. that they have to put bytes type for the par

[2018-07-05 15:00] lorenzleutgeb commented on #15
I duplicated this as #475, and came to the same conclusion as @jmini in the previous comment. Codegen should expose as much information as possible to the generators, and they should use language features accordingly.

[2018-07-05 15:04] jmini commented on #472
I do not remember exactly why and I could not find any direct discussion of this topic, but I think that it was decided for now to not create a type for "array of items". If I remember it correctly Swagger-Codegen `2.x` generate a class like this:

[code]

Maybe someone else will remember why this decision was taken.

[2018-07-05 15:10] lorenzleutgeb commented on #469
Actually if the label is well-maintained, that should be fine. I just did not believe that actually these issues are all known counterexamples to OAS 3 conformance. Just in the last two days I found a number of bugs. But that's not to talk badly, just to help point the finger at where more work would make sense.

[2018-07-05 15:12] wing328 commented on #450
I prefer the following:

The user can use `--type-mapping` to restore the mapping of `ByteArray` back to `str` if they need to:
[code]

Also mapping `ByteArray` to `str` is just a workaround so it needs to fix to map to a correct type in Python.

[2018-07-05 15:32] PowerOfCreation commented on #472
I need to verify when I'm back at work, but I'm pretty sure this model got created exactly like that in Open API 3.0 as well, but it won't be used by the operations.

[2018-07-05 18:41] akhaisin commented on #426
From what I experienced neither **standalone** JaxRS-Jersey2 nor Spring Web could not get you having annotations only on interfaces.
Spring project has this ticket for years https://jira.spring.io/browse/SPR-11055
Spring Framework/Web 5.0.7 supports `@RequestParam` on interfaces, but not `@RequestBody` nor `@PathVariable`.

For Jersey2, as mentioned before such approach also does not work.

I was

[2018-07-06 00:57] ugnom commented on #450
OK, I'll take that direction and change the ByteArray to bytes type.

I also taking a further look for the --type-mapping option. I guess I have to change a bit to take care of the situation when the ByteArray taken as str but still needs to count length as base64.

[2018-07-06 04:07] grokify commented on #181
There are a couple of places where a default protocol / scheme is used as shown below in `URLPathUtils.java`.

Should we default to `http` for both this issue and and line 64.

Default to `http`

https://github.com/OpenAPITools/openapi-generator/blob/d43801a9b72e9ecee760b9ede031aa355f1f8e9e/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java#L120

Default to `h

[2018-07-06 04:19] jmini commented on #181
See also #320. If you do not specify a scheme in an OAS2 schema, it should take the one from the server.

But this issue can be implemented independently. #320 must be solved in swagger parser.

[2018-07-06 05:38] wing328 commented on #12
Already added:
[code]

[2018-07-06 05:38] #12 closed

[2018-07-06 05:40] wing328 commented on #177
@bmordue agreed. May I know if you've time to file a PR to better handle the NPE?
[code]

[2018-07-06 05:42] wing328 commented on #191
@JFCote we'll close this for the time being as others have confirmed #360 has fixed the issue.

[2018-07-06 05:42] #191 closed

[2018-07-06 05:48] jmini commented on #471
I am pretty sure that other implementations are possible. I have just described how things works in the library we are using: https://github.com/swagger-api/swagger-parser/

The case you have described in your initial post in this issue is a limitation due to the decisions made by swagger-parser. Other tools swagger-ui or other parsers might do something else with the same input.

---

I think the

[2018-07-06 07:19] wing328 commented on #236
@asqui @kenjones-cisco I've filed https://github.com/OpenAPITools/openapi-generator/pull/480. Please review when you've time.

[2018-07-06 08:19] macjohnny commented on #234
implemented with https://github.com/OpenAPITools/openapi-generator/pull/418

[2018-07-06 08:19] #234 closed

[2018-07-06 08:46] CyrilleBenard opened #482 "[C++][Pistache-server] Wrong code generation : prototype does not exist"
##### Description

With the example I submitted below, the code generator produces a call to a constructor that does not exist

The compile error looks like :
[code]

Indeed, the InvalidParam::InvalidParam(std::nullptr_t) method does not exist and should it ?

Extract of the code :
[code]

Why does the condition  _if(item.is_null())_ should push a "null" object ?
Another generation code (that look

[2018-07-06 08:54] bm17 opened #483 "Add custom annotation to swagger-codegen-maven-plugin"
##### Description
Hi ,
I am generate with swagger-codegen-maven-plugin using JAX RS Project .
I have swagger yaml file .
I want to add custom annotation to swagger generator

##### openapi-generator version

swagger-codegen-maven-plugin
version - 2.3.1
##### OpenAPI declaration file content or url

##### Command line used for generation

JAVA -jersey
 JAX-RS

##### Steps to reproduce
1.create cust

[2018-07-06 08:57] bm17 commented on #483
Hi ,
I am generate with swagger-codegen-maven-plugin using JAX RS Project .
I have swagger yaml file .
**I want to add custom annotation to swagger generator**

openapi-generator version:
swagger-codegen-maven-plugin
version - 2.3.1
JAVA -jersey
JAX-RS

Steps to reproduce

1.create custom annotation in my code. for example @foo .
2.update mustache file :
beanValidationCore.mustache with following

[2018-07-06 09:12] jmini commented on #483
Well there is a way, but it requires a little more works.

First of all, from an OpenAPI Specification perspective it is not allowed to add an arbitrary content to your specification. you will need [specificationExtensions](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#specificationExtensions).

Example:

[code]

Then in your template you can access it with something l

[2018-07-06 09:18] wing328 commented on #450
We'll mark it as a breaking change so don't worry too much about backward compatibility.

If the users insist on using "str" for byte array, they can stick with the latest stable version before this enhancement.

[2018-07-06 09:28] wing328 commented on #483
@bm17 please upgrade to the latest version of OpenAPI Generator plugin: https://mvnrepository.com/artifact/org.openapitools/openapi-generator-maven-plugin

README: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator-maven-plugin

Let us know if you need any help with the upgrade.

[2018-07-06 09:33] wing328 commented on #483
beanValidationCore.mustache with following
{{#foo}} @ Foo {{/foo}}{{!
foo set
}}{{#pattern}} @pattern(regexp="{{{pattern}}}"){{/pattern}}

To set {{#foo}} to true in the mustach template, you can use "additional properties". Here is what we use in the command line:

[code]

[2018-07-06 09:56] bm17 commented on #483
Thanks guys it help .

[2018-07-06 11:00] TiFu commented on #347
Ah that's a very good idea. I'll look into it.

I didn't have any time to start working on it yet (due to another project running sideways) but it should become more relaxed now.

[2018-07-06 12:56] bmordue commented on #177
@wing328 This is a simple fix for the issue described above: https://github.com/OpenAPITools/swagger-parser/pull/6

That was enough for me to build the Rust client without errors, using the command above. I didn't check whether the generated client is correct or complete.

[2018-07-06 13:02] PowerOfCreation commented on #472
Can confirm OpenAPI 3.0.0 generates a model MetaData, but it doesn't get used.
[code]

[2018-07-06 16:20] jmini commented on #428
Release Tag: https://github.com/OpenAPITools/openapi-generator/releases/tag/v3.1.0

Docker image are present:
* https://hub.docker.com/r/openapitools/openapi-generator-cli/tags/
* https://hub.docker.com/r/openapitools/openapi-generator-online/tags/

Waiting for Maven central sync

[2018-07-06 17:11] jmini commented on #428
PR for brew formula: Homebrew/homebrew-core#29806

[2018-07-06 17:12] jmini commented on #428
Maven central is also good.
I will work on the Gradle Plugin later this evening.

[2018-07-07 00:25] siddharthist opened #490 "[Go] Generate XML struct annotations"
##### Description

When generating Go code, one gets types tagged with JSON:
[code]
This is awesome for JSON APIs. However, OpenAPI also allows for `application/xml` content-types! I am writing an XML API and currently have to manually go in and tag these types.

##### openapi-generator version

The Docker CLI generator.

##### Command line used for generation
[code]

##### Steps to reproduce
Writ

[2018-07-07 00:41] siddharthist commented on #490
Is this done with ` -D withXml=true`? It's hard to figure out the command line options when the software crashes when called with `--help`.

[2018-07-07 02:07] grokify commented on #490
Yes, `-D withXml=true` will produced the XML struct tags. You can use it with other flags like `-D packageName=petstore,withXml=true`.

[2018-07-07 02:50] ackintosh commented on #440
@raubel Thanks for reporting the issue!

It has fixed in latest release [v3.1.0](https://github.com/OpenAPITools/openapi-generator/releases/tag/v3.1.0), so please give it a try with latest version. 😉

(Related PR: https://github.com/OpenAPITools/openapi-generator/pull/445 📝 )

[2018-07-07 04:04] jmini commented on #428
Gradle plugin is published to Maven-Central

[2018-07-07 04:16] jmini commented on #428
I just closed milestone [3.1.0](https://github.com/OpenAPITools/openapi-generator/milestone/3).

[2018-07-07 05:23] grokify commented on #490
Well noted. I updated the error message here: https://github.com/OpenAPITools/openapi-generator/pull/494

[2018-07-07 05:48] #442 closed

[2018-07-07 09:47] etherealjoy commented on #482
@CyrilleBenard
We are totally broken on Pistache after #264
I started with #495
So that we can build the project automatically.
Then I will look into the others.

[2018-07-07 12:51] etherealjoy commented on #482
Fixed with ##497

[2018-07-07 13:06] etherealjoy commented on #446
I generated and compiled your spec, it is fixed with ##497

[2018-07-07 13:07] etherealjoy commented on #414
Fixed with ##497

[2018-07-07 15:03] etherealjoy commented on #407
Fixed with #497. I generated and made a quick test.
I change the api to post instead and send a body with `Content` to see if serialization works. Looks Ok.
I was wrong in saying `ByteArray` should be mapped to `std::vector`
In most cases it should be `string` and for  pistache is `std::string`

[2018-07-07 22:41] siddharthist commented on #490
@grokify Thanks for the quick response! I must be putting this option in the wrong place, because I'm still not seeing any XML tags. Does this look right?
[code]

[2018-07-07 22:45] siddharthist commented on #490
Ah, I see that I was writing `withXML` instead of `withXml`. Perhaps an error should be thrown on unknown key-value arguments as well.

[2018-07-07 22:48] siddharthist opened #499 "Throw an error when unknown key-value arguments are passed with -D"
##### Description
When attempting to use the golang codegen with the option `withXml=true`, I mistakenly typed `withXML` (#490). My error was silently ignored and I spent a few minutes trying to figure out why it wasn't working. It might be more user-friendly to throw an error.

##### openapi-generator version
Docker

##### Command line used for generation

[code]
vs
[code]
##### Steps to reproduc

[2018-07-07 22:49] #490 closed

[2018-07-07 23:23] langston-barrett opened #500 "[Go] Heterogeneous array with oneOf"
##### Description
Structs are not properly generated to handle arrays with item schema using `oneOf`. For instance, for the `swagger.yml` in the next section, an empty struct is generated:
[code]
This is what should be generated:
[code]
See the following Go playground: https://play.golang.org/p/rdNNL6nUUl1

##### openapi-generator version
Docker container version

##### OpenAPI declaration file co

[2018-07-07 23:57] grokify opened #501 "[Golang][client] Support `json.Number`"
##### Description

Some APIs have model properties that can be either a number of a string, typically when an id is being converted from one format to another and there is a mix of support in production. Everything else about the model is the same.

Many languages have a way to support these properties and transparently convert numbers and strings. In Go, `json.Number` can be used.

https://golang

[2018-07-08 01:44] grokify opened #503 "[Discussion] Generator Compatibility Check and Table"
### Overview

This is a discussion of some items that I think could increase adoption of OpenAPI Generator by doing two things:

1. Provide API publishers and users a high degree of confidence that an API of interest with a spec is supported by generators of interest. The idea is similar to Browser Compatibility Tables but with a report specifically for a given API. This should include OAuth, requ

[2018-07-08 04:38] #464 closed

[2018-07-08 04:48] grokify opened #505 "[Golang][client] Posting file limitations - MIME part name, multiple files, etc."
##### Description

(1) MIME part name
Customized `multipart/form-data` `name` parameter. Right now this is hardcoded to `file`. This means APIs that expect a particular part name will not recognize the file.

https://github.com/OpenAPITools/openapi-generator/blob/a14e757059e8db02260f06263675d581dcdc33fb/modules/openapi-generator/src/main/resources/go/client.mustache#L210

(2) Multiple files

Curre

[2018-07-08 06:07] grokify opened #507 "[DefaultCodegen] Need to hook into generator after all files have been created"
##### Description

I'd like to add some post generation functionality after a generator has created all the files.

Specifically, I'd like to call `gofmt` for the files being produced by the Go client generator. I have a working implementation but I'm currently overriding `postProcessSupportingFileData` with the following:

[code]
When I do this, `gofmt` gets called after the models and APIs but b

[2018-07-08 15:34] javadch opened #509 "Plugin does not work from inside Eclipse"
I have the following plugin spec in my eClipse POM:
[code]
It generates the output artifacts using the `mvn clean package` command, but does not generate the code form inside Eclipse! The IDE complains about the <execution> node saying:

Description Resource Path Location Type Plugin execution not covered by lifecycle configuration: org.openapitools:openapi-generator-maven-plugin:3.1.0:generate (e

[2018-07-09 01:09] grokify commented on #500
`oneOf` is not yet supported in the core project. OAS3 features are being supported on a one by one basis.

A couple questions:

* Are you working on a public or private API? If it's public, can you share the spec?
* Is this model for a request, response, or both?

[2018-07-09 02:22] wing328 opened #510 "Switching template system from Mustache to Handlebars (or something else)"
##### Description

There were discussions about switching from Mustache to Handlebars (or something else) before. The goal was to simplify the templates as Mustache is a logicless template system and therefore we will need to create a lot of mustache tag(e.g. isInteger, isHttpBasic, etc) every time we need to compare values.

As discussed in https://github.com/swagger-api/swagger-codegen/issues/60

[2018-07-09 02:30] wing328 commented on #510
Here is my view:

- are we going to support both at the same time? **Yes with mustache as the primary to start with and later switch to Handlebars as the primary**
- when will we remove Mustache template support? **If 5.x uses Handlebars as the primary template system, then we should Mustache template support in 6.x.**
- Is any tool/script to help migrate the templates from Mustache to Handlebar?

[2018-07-09 02:45] #181 closed

[2018-07-09 03:02] wing328 commented on #509
@javadch I could be wrong but I don't think the issue is with the OpenAPI Generator plugin.

Would the following article help?

http://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html

[2018-07-09 04:06] siddharthist commented on #500
Unfortunately, the API and spec are private. Both.

[2018-07-09 04:11] grokify commented on #510
Here are my thoughts:

* Should we switch to another templating system?
  * There are important benefits.
    * Both the Java and template code will be cleaner and easier to follow. Logicless templates are great when you have no logic, but when you start putting a lot of view logic in your code, it makes sense to consider more powerful templating systems.
    * More people can participate in build

[2018-07-09 04:14] grokify commented on #500
Is this model for a request, response, or both?

[2018-07-09 04:15] grokify commented on #500
I see this is for a response in your example. Do you also use `oneOf` for request schemas?

[2018-07-09 05:00] jmini commented on #68
Dear Swagger-Parser maintainers,

I have noticed a lot of activity around the project with great patches contributed over the few days. Some of them are patches for issues that were raised by OpenAPI-Generator users.

We also got one patch submitted directly to our fork. I have asked the contributor to also contribute its change against the official project.

I have started to review some of them.

[2018-07-09 05:15] jmini commented on #509
@wing328 : yes and no. Our maven plugin could be a little bit more eclipse IDE friendly by integrating some additional metadata. This way no error would be displayed in Eclipse IDE.

[2018-07-09 05:20] siddharthist commented on #500
Yes, sorry I meant "both" to answer your second question.

[2018-07-09 05:26] euank opened #512 "Rust client code generation is unhygenic"
##### Description

The rust client's code generation can have variable name conflicts with function's definition and the generated parameter names. For example, if a parameter to a function using oauth2 auth is called "token", the below code will override its value:

https://github.com/OpenAPITools/openapi-generator/blob/b5942624d6714f38c0bde9ae9c7400df1d48b1ed/modules/openapi-generator/src/main/r

[2018-07-09 05:41] grokify commented on #500
Thanks for the clarification.

I've added a `oneOf` example schema to our example specs so it will be read for testing when we have it.

https://github.com/OpenAPITools/openapi-generator/pull/511

[2018-07-09 05:43] jmini commented on #510
I hope @jimschubert will join this discussion because I think that he has some vision to change the architecture of the responsabilities between the component.

For the moment we have:

* DefaultGenerator: the main class that reads the spec, process them (delegating to the language specific layer), run the template engine and write the files. This is not Language specific.
* Generator classes (lik

[2018-07-09 06:53] wing328 commented on #509
@jmini 👌 please share more so that the community can help add the metadata.

[2018-07-09 06:58] wing328 commented on #512
We use this approach for other generators (e.g. C#, Ruby client generators) by prefixing "local_var_" or "localVar", e.g.

C#: https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Api/PetApi.cs#L508

Ruby: https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/ruby/lib/petstore/api/

[2018-07-09 07:16] euank commented on #512
I've started working on writing a generic helper that is called by the generated methods since I think that's an aesthetically nicer solution. I do expect I'll be able to get it working and contribute it, but if I can't I can easily enough prefix all the local variables and PR that instead.

[2018-07-09 07:58] raubel commented on #440
@ackintosh, unfortunately, does not seem do be fixed in 3.1.0. I still have an Accept header being `application/octet-streamapplication/json`.

[2018-07-09 09:50] MatanRubin opened #513 "[Java Spring RestTemplate] Could not write request: no suitable HttpMessageConverter exception when using client"
##### Description

I have generated a Java RestTemplate client using the sample PetStore API. I compiled and installed the client, then used it from a Spring Boot 2.0.3 application like this:

My configuration:

    @Bean
    public RestTemplate restTemplate(RestTemplateBuilder restTemplateBuilder) {
        return restTemplateBuilder.build();
    }

    @Bean
    public ApiClient apiClient(RestTe

[2018-07-09 11:37] shfx opened #514 "[javascript-flowtyped] Enum (uniontype) not excaped properly"
##### Description

When openapi contains a enum type for any of the attributes and this enum contains `'`, enum union type is not escaped properly.

e.g.
[code]

##### openapi-generator version

3.1.1-SNAPSHOT

##### Command line used for generation

[code]

##### Steps to reproduce

1. Generate client code
2. `yarn`
3. `yarn run build`

##### Suggest a fix/enhancement

Escape string union types g

[2018-07-09 13:20] ackintosh commented on #440
Oh... 😢

Could you please check the generated file `default_api.py`?

(Below is part of files generated from [the simplified spec](https://github.com/OpenAPITools/openapi-generator/issues/440#issue-337780301))
[code]

There should be the difference between `3.0.3` and `3.1.0` on `default_api.py` like below:

#### 3.0.3

L96
[code]

#### 3.1.0

L96
[code]

What about your `default_api.py`?

[2018-07-09 13:21] macjohnny commented on #514
related: https://github.com/swagger-api/swagger-codegen/issues/7369

this should be fixed for all typescript / javascript generators

[2018-07-09 14:39] jmini commented on #503
This is a very interesting topic... OpenAPI-Generator is doing a lot to ensure no regression but we have nothing that scales.

When I work on an issue, I like:

* A small OpenAPI spec to reproduce the case.
* A unit test that illustrate the case.

But sometimes this is not enough.

Because to test that a feature is supported, we need to generate a project and then perform some test on it.

@wing32

[2018-07-09 15:00] raubel commented on #440
The generated code seems correct in `default_api.py`.

However, the code in `api_client.py` is suspicious:
[code]
It removes all media types exception `application/json`. It this correct?

That's why I still have a 406 (Not accepted) status code.
(BTW, I'm not able to retrieve the `application/octet-streamapplication/json` (I was probably looking at the wrong log file).)

[2018-07-09 15:01] wing328 opened #515 "[C] Revise "apiClient_invoke" method"
##### Description

@PowerOfCreation I think we need to revise the "apiClient_invoke" method: https://github.com/OpenAPITools/openapi-generator/blob/96e0814510d80605cdc6211e462308cb4ac15367/samples/client/petstore/c/src/apiClient.c#L67-L70 to pass the query, form, header and body parameters and other useful information such as HTTP verbs (GET, POST) as method parameters.

https://github.com/OpenAPI

[2018-07-09 17:35] macjohnny commented on #513
@MatanRubin I guess you are missing the jackson message converter, see http://forum.spring.io/forum/spring-projects/android/126794-no-suitable-httpmessageconverter-found

[2018-07-09 17:46] jcohen-stingray opened #517 "[Java][Jersey2] Java6 compatibility broken in ApiClient using diamond operator without generic type inference"
##### Description

ApiClient.mustache template for method invokeApi() uses return statements that do not conform to java 6 compatibility. Return statements should include generic type in method definition. Every other class generated with the java-jersey2 generator is java6 compatible with regards to diamond operators.

[code]

##### openapi-generator version

3.0.3

##### OpenAPI gradle task spec

[2018-07-09 17:55] siddharthist opened #518 "[Go] Nested object schema output as map[string]interface{}"
##### Description

When using nested/anonymous object schemata, the nested objects are treated as opaque and no structs are generated for them.

##### openapi-generator version

Docker container

##### OpenAPI declaration file content or url
The following spec
[code]
generates
[code]
whereas
[code]
generates
[code]

##### Command line used for generation

[code]

##### Steps to reproduce
Generate

[2018-07-09 20:16] siddharthist opened #520 "[Go] Enum: Identifiers cannot begin with numerals"
##### Description

When creating a string enum, the Go code generator can generate invalid identifiers.

For instance, the following code is generated:
[code]
which [is incorrect](https://play.golang.org/p/OojmU9nhZXU).

##### openapi-generator version

Docker container

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation

[code]

##### Steps to reproduce

[2018-07-09 20:53] langston-barrett opened #522 "[Go] Optional values should be pointers"
##### Description

If a field of a struct isn't specified as `required`, then it should be a pointer to that value so that one can differentiate between unset by the user or set to the "zero value". See the following Go playground: https://play.golang.org/p/85r_JbH5XVr

See also e.g. this [Stackoverflow answer](https://stackoverflow.com/questions/38486564/golang-unmarshal-marshal-json-with-int-set

[2018-07-09 21:02] siddharthist opened #523 "[Go] Support the marking of fields as XML attributes"
##### Description

When I mark a `property` as an attribute, it isn't reflected in the Go code. This:
[code]
should yield
[code]
but currently is missing the `attr` part.

##### openapi-generator version

Docker container

[2018-07-09 21:43] grokify commented on #522
It should be. The template is here:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/go/model.mustache

You can do the following to try this out:

[code]
Use the resulting `openapi-generator-cli.jar` to rebuild your client and see if it works as expected.

If so, then do the following to send a PR with the following:

[code]

If `ensure-up

[2018-07-09 23:17] siddharthist commented on #522
@grokify Wow, thank you for the thorough instructions! I hope you have this saved as a "quick reply" :smile: I'd like to solve this, I'll report back here (within a week) if I'm able to.

[2018-07-10 02:06] ugnom commented on #450
I tried with changing byteArray type as bytes type in Python, but it does not seem to sound well.
Anyway it requires to change the bytes type into string when I try to encode it to json format to put it in a request.

Maybe it should end up with str type after all, from what I see for the python specification around base64, bytes type and json encoding.

I would like to have a comment on this abou

[2018-07-10 04:22] jmini commented on #517
Thank you a lot for this issue! I will try to look into it.

[2018-07-10 05:32] jmini commented on #361
I have filed https://github.com/swagger-api/swagger-parser/issues/766 to get the parser fixed.

[2018-07-10 05:40] MatanRubin commented on #513
@macjohnny , thanks for the quick reply.
That was what I initially thought, but was able to rule it out by debugging the application and seeing which message converters my RestTemplate had. This is what I saw:

[code]

As you can see, `MappingJackson2HttpMessageConverter` is registered.

I also tried debugging right to the point where RestTemplate was trying to use the converter. It seems that the

[2018-07-10 06:36] euank opened #524 "[Rust] client codegen regression for inline response schema"
##### Description

##### openapi-generator version

This issue was introduced in commit 53597764c344fb45283891da2c4c60300c9db726. Before that commit, the below example definition worked.

##### OpenAPI declaration file content or url

<Detail>

[code]

</Detail>

##### Command line used for generation

[code]
##### Steps to reproduce

Running `cargo check` will produce an error:

[code]

Before th

[2018-07-10 07:07] euank opened #525 "[Rust] client codegen ignores all fields that are of type "formData""
##### Description

I think the title for this one is fairly self-descriptive.

I intend to fix this one myself fairly soon.

[2018-07-10 07:08] wing328 commented on #405
@Morac2 for file upload, usually the "file" type in the Form parameter is used instead, e.g. https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L245-L265

Can you share more with us what the payload looks like? An example would be a good starting point.

(I suspect the spec you provided does not correctly describe the endpoi

[2018-07-10 07:42] javadch opened #526 "[Spring] Some of the generated classes/artifacts still belong to Swagger v2!"
I am generating a very basic `customers` path with `openapi-generator-cli-3.1.0.jar` for spring with delegate pattern.
- [ ] It genereates a `OpenAPI2SpringBoot` class that seems to belong to Swagger v2.
- [ ] More than that the `HomeController` class has a redirect to `swagger-ui.html` that is obviously a Swagger 2 documentation endpoint. I upgraded the `springfox` dependency to 2.9.2, but did no

[2018-07-10 08:05] grokify commented on #503
I think it's important to add more endpoints with API / spec features as the test spec will better represent real specs found in the wild. A test spec with too few endpoints and features is less useful to represent real world APIs.

When generators don't support features, it is an opportunity to identify areas of improvement to be worked on. It can be very frustrating when building a SDK to find o

[2018-07-10 09:37] markus-wa opened #527 "[codegen] Unexpected behavior for remote YAML $ref"
##### Description

1. Ref needs `./` for the filepath, not sure why (i.e. `$ref: './model/lov.yaml#/Lov'` instead of `$ref: 'model/lov.yaml#/Lov'`)
2. In referenced yamls, I had to do a remote reference to the current file (i.e. `$ref: './lov.yaml#/LovEntry'` instead of `$ref: '#/LovEntry'`)

Note that this is on Windows, not sure if that could have something to do with it.

##### openapi-generato

[2018-07-10 10:42] markus-wa commented on #455
My workaround for now:

[code]

[2018-07-10 11:23] andreevlex commented on #177
How I can try? build from source code?

[2018-07-10 11:33] jmini commented on #526
(Related issue for JaxRS: #27)

[2018-07-10 11:36] jmini commented on #527
This needs to be analyzed at [Swagger-Parser](https://github.com/swagger-api/swagger-parser/) level. Sample Java Snippet:

[code]

If you find something that is not working, please create an issue in [Swagger-Parser](https://github.com/swagger-api/swagger-parser/).

Let me know if you need help.

[2018-07-10 13:07] bjgill commented on #307
Right. I'm planning to pick this up this week.

[2018-07-10 13:37] macjohnny commented on #304
@wing328 @jmini I can confirm this still is an issue with `3.1.0` for `typescript-angular` and `spring`, so I think this is an issue with the default codegen / parser.
could be related to https://github.com/OpenAPITools/openapi-generator/issues/222 and https://github.com/OpenAPITools/openapi-generator/issues/8

@topce would you like to attempt to fix this? maybe @wing328 @jmini can point you to th

[2018-07-10 13:49] macjohnny commented on #304
@topce the problem can be fixed by changing the api definition as follows:
[code]

the reason is that inline-defined objects are not generated, see https://github.com/OpenAPITools/openapi-generator/issues/222#issuecomment-394645648

@jmini I think this issue should be closed as a duplicate of #8

[2018-07-10 13:56] macjohnny commented on #8
Consider case reported in https://github.com/OpenAPITools/openapi-generator/issues/304

[2018-07-10 13:57] Morac2 commented on #405
@wing328  Using a type of "file" (and adding in: formData) makes no difference.  The model class java file is still not generated.

The reference object is defined as such:

[code]

Of note, the "Document" model class java file referenced by "Document_Update_With_Stream_Request" is being created, though that is also used elsewhere in the yaml file.  It's just the Document_Update_With_Stream_Reques

[2018-07-10 14:09] topce commented on #304
Thank you @macjohnny  for fast comment and workaround.
@jmini probably you are right I will close this on
even this one is little bit different it use swagger: '2.0'
not openapi: 3.0.0

@jmini  and @wing328 do you think we should fix this
or you recommend me to change swagger.yaml file as workaround ?

[2018-07-10 14:11] wing328 commented on #405
@Morac2 thanks for sharing more with me. Is it correct to say that if you manually create the missing model "DocumentCreateWithStreamRequest", the code works without issue (which means you can upload something to the server)?

[2018-07-10 14:11] etherealjoy commented on #258
Fixed in #497

[2018-07-10 14:21] Morac2 commented on #405
@wing328 Yes.

[2018-07-10 16:38] bjgill commented on #307
My plan is to add notes to this issue as I go. I'm likely to be working on this over a few days, and don't want to forget things.

The schema problem is interesting. From my testing, it appears that the problem is any base schema in a response with at least one header defined. both the body and first header get the type of the first header. The type is correct in the generated `openapi.yaml`, so m

[2018-07-10 17:28] jmini commented on #503
Yes this was also discussed before. I think it is one of the vision shared by @jimschubert (currently in holidays). My take is that doing a such move requires:

**1/** Much more cleaner "separation of concerns" between the layers of the current generators. This is a global architecture question.

I give you one example: For the moment all generators are deriving from `DefaultCodegen`. Lets assume

[2018-07-10 17:52] jmini commented on #361
I go great feedback from @ymohdriz: Your OAS2 input is not valid.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#exampleObject.

(Source https://github.com/swagger-api/swagger-parser/issues/749#issuecomment-403150012)

[2018-07-10 18:28] markus-wa commented on #527
Hmm, the output of the swagger parser seems correct to me.

<details>
  <summary>Output from `expected/lov-api.yaml`</summary>
[code]
</details>

<br>

The version the generator is using looks good as well https://github.com/OpenAPITools/openapi-generator/blob/master/pom.xml#L1058

[2018-07-10 18:41] markus-wa commented on #527
Turns out this happens when the parser receives a path that doesn't start with `file://`.

`file:/C:/Users/mwalt/dev/workspaces/java/swagger-parser-ref/bin/lov-api.yaml` works
while both `C:\Users\mwalt\dev\workspaces\java\swagger-parser-ref\src\main\resources\lov-api.yaml` and `src/main/resources/lov-api.yaml` contain unresolved `$ref`s

Filing a issue for the parser. Thanks for your help

[2018-07-10 18:41] #527 closed

[2018-07-10 20:20] jmini commented on #177
For the moment there is no reaction from the Swagger-Parser team (see #68).

I have started to integrate and build an alternative version of the Swagger-Parser in this fork [OpenAPITools/Swagger-Parser](https://github.com/OpenAPITools/Swagger-Parser). For the moment this is only for testing purpose, I hope that we will be able to have everything fixed and released in the Swagger-Parser project.

T

[2018-07-10 23:20] siddharthist commented on #522
The fix is indeed one line. I have a branch here: https://github.com/siddharthist/openapi-generator/tree/go/client/fix/optional-as-pointer. I tested this with my project and it works fine.

Unfortunately, it looks like it will take more effort than I can justify to fix the tests: many of the fields are optional and now must be converted to pointers. Example conversion in my branch.

[2018-07-11 04:24] grokify opened #530 "Consolidate web presence names for better discovery"
##### Description

Right now, OpenAPI Tools and Generator have a number of different names for various web presences. If we can consolidate the names, it would make for better discovery and a more consistency for users. Some examples include:

* https://github.com/OpenAPITools/openapi-generator
* https://twitter.com/oas_generator
* https://openapi-generator.tech
* https://openapitools.org

Some qu

[2018-07-11 04:54] wing328 commented on #405
@Morac2 thanks for sharing more. Let me try to come up with a solution.

[2018-07-11 05:39] jmini commented on #476
Thank you for this issue.

I am not that familiar with HTTP Headers, but if I understand you correctly when in a OpenAPI Spec with an `operation` that do not have a `produces` (it does not send any payload - like the `pingGet` operation in the `ping.yaml` spec), then it should not send, this header:

[code]

---

I have compared the header sent between the java clients for the `pingGet` operation:

[2018-07-11 05:43] jmini commented on #530
Thank you a lot for this summary! It helps to start a discussion.

[2018-07-11 06:13] #304 closed

[2018-07-11 07:16] macjohnny opened #531 "[typescript-fetch] Add support for file (application/octet-stream) response types"
See https://github.com/swagger-api/swagger-codegen/issues/8409

Solution: adapt PR https://github.com/swagger-api/swagger-codegen/pull/8410

[2018-07-11 07:33] lorenzleutgeb commented on #476
Sorry for missing that, I always talk about OAS3. There is no mention of `produces` [in the OAS 3 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md), and I am not familiar with older versions, so I am not sure whether I understand. The only similar concept from OAS 3 that I know is the [Request Body Object](https://github.com/OAI/OpenAPI-Specification/blob/master/ver

[2018-07-11 07:56] 0v1se commented on #417
@jmini I can fix this and change jackson annotations to
[code]

Also, I can remove property identifying type (in my example is 'petType') from the pojo.
I think it won't break anything.

What do you think?
This way basic polymorphism will be supported at least for Java clients

[2018-07-11 08:08] jmini commented on #417
Yes, I have started to work on it:
[fix_discriminator](https://github.com/jmini/openapi-generator/tree/fix_discriminator). I have introduced a `DiscriminatorCodegen` used in `CodegenModel` and in `CodegenOperation`. This is a drop in replacement for `io.swagger.v3.oas.models.media.Discriminator` that was used before.

This is work in progress, but my Idea was to edit the templates so that the case

[2018-07-11 08:16] jmini commented on #476
Yes I have also mixed OAS2 and OAS3 in my message. `produces` is a OAS2 concept, but OpenAPI-Generator works with OAS3 concepts (when we get an OAS2 input, Swagger-Parser convert it to an OAS3 for us).

Is to understand as: that does not have a requestBody with a mimeType.

---

Thank you for the quick feedback. I think changing the code as you have proposed is a good idea.

In ApiClient (to be ch

[2018-07-11 08:21] emreakca opened #532 "[JAVA] Hierarchical Code Generation"
##### Description

Hello,

I want to generate fluent code. Since OpenAPI 3.0 doesn't support subtags, the openapi-generator can't achieve this. Lets take the petstore as example and extend it:

[code]
As you can see, I used the Paths as Tags, so the openapi-generator generates seperate APIs (PetsApi.java, PetsInsectsApi.java,PetsInsectsAntsApi.java). With this method we achieved a more programmer-

[2018-07-11 09:18] 0v1se commented on #417
https://github.com/jmini/openapi-generator/blob/b90c53deb6d90a5b9995cd8aa1d1786eacaa2f90/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java#L565

So, this method (modelInheritanceSupportInGson) won't be needed? Am I right?
There will support for inheritance for every generator.

And, 'mappedModels' will be used insted of 'children' in (https://github.

[2018-07-11 09:20] 0v1se commented on #417
I know it's WIP, but a small note:
equals should be implemented for `DiscriminatorCodegen`, it's used in the code

[2018-07-11 09:45] jmini commented on #417
Thank you a lot for this feedback.

Yes this was my idea.

And an other template change is needed to remove the creation of the discriminator as field:
[code]
(did not investigate yet)

Nice catch, I did not analyze who was computing the "children" map.

Nice catch!

---

Do you want to take over the PR? I have not that much time right now.
If you finish it, I will review it.

[2018-07-11 10:09] 0v1se commented on #417
I will try, but I'm not very comfortable with the code right now (I mean, not very familiar with).
Also, I won't be able to implement this feature for other languages/libraries.

Will get back if I have questions.

[2018-07-11 10:29] wing328 opened #533 "[New Generator] Lisp client generator"
##### Description

We would like to create a [Lisp](https://en.wikipedia.org/wiki/Lisp_(programming_language)) client generator so that Lisp developers can find it more easily to consume REST APIs.

cc @incjung

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

If anyone wants to help on this (e.g. testing, creating templates, etc), please reply to let us know.

[2018-07-11 11:11] bjgill commented on #307
On the binary/byte form params - I don't think this ever worked.

What happens is that if `hasFile` is set, we generate `entry.parse::<{{{dataType}}}>()`, but "the trait `std::str::FromStr` is not implemented for `swagger::ByteArray`". In the old sample, `hasFile` was not set, so we fell through to the other implementation, which was just to set it to the example value.

So:
* if the API `hasFile`

[2018-07-11 11:37] wing328 commented on #307
I compared Swagger Codegen and OpenAPI Generator and both show the following mustache tags:
[code]

Do mean you're looking for the data type of the response body?

Can you point me to the exact lines in the mustache template having the issue and ideally what you expect?

[2018-07-11 11:39] wing328 commented on #307
Speaking of `hasFile`, just want to share that there's no `file` type in OAS3 so `isFile` and `isBinary` are now identical. I don't recall doing anyting in particular for `hasFile` flag so we may need to revise and test it to ensure its value is correct.

[2018-07-11 12:05] lorenzleutgeb commented on #476
These two changes LGTM. I could open a PR, but you did the work and are maintainer, so I guess the change would get through quicker if you do it.

[2018-07-11 12:28] bjgill commented on #307
Thanks for taking a look.

On the first point - see https://github.com/bjgill/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/rust-server/lib.mustache#L45 for the template. Then, `SuccessfulOperation { body: String, x_rate_limit: i32, ...` (https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/rust-server/src/lib.rs#L246) is the old (correct)

[2018-07-11 12:46] moser4035 opened #535 "[Go] Duplicate constant names for enums with same values"
##### Description

I've defined enums that contain same values (see below)
The openapi-generator creates constants with the same names.
But this is not allowed and the code does not compile anymore.

I get an error like this:
[code]

used openapi-generator version: 3.0.3

##### OpenAPI declaration file content or url

[code]

##### Generated Go code

file model_color_space.go:
[code]
file model_co

[2018-07-11 13:22] jmini commented on #417
This is always the case. I just fix stuff in for the Java generators and I help at model level (the codegen classes that are exposed in the templates). Then I consider that people with knowledge of other languages needs to consume the elements in their models.

I can help you if you need to know something, but from the feedback you gave me on my WIP commit, I think you know enough to create a grea

[2018-07-11 13:39] jmini commented on #417
Sure feel free to do stuff in multiple small steps...

[2018-07-11 13:50] 0v1se commented on #417
@jmini
submitted https://github.com/OpenAPITools/openapi-generator/pull/536

some concerns about the PR:
1. Deleted `modelInheritanceSupportInGson` cause it doesn't do anything besides calculating children (for annotation) - not 100% sure about this. Pls, review
2. Removing discriminator field requires more information. Will add later

[2018-07-11 14:00] 0v1se commented on #434
This one is fixed now I think

[2018-07-11 14:00] #434 closed

[2018-07-11 14:01] 0v1se commented on #417
Regarding not including discriminator field from model (petType from this issue)

1. According to https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/ this property should be defined for every type (Pet, Dog, Cat). Why do we need it in the first place? Is it code duplication? If I define discriminator property, it's obvious I have this property. No need to add it to the

[2018-07-11 14:39] CyrilleBenard opened #537 "[C++][Pistache-server] "anyOf" keyword generates code that do not compile"
##### Description
As far as I know, the generator is not yet compliant with the _anyOf_  syntax but I'm not sure of that because the generator does not fail nor warn when it encounter it (?).

On the other hand, the generator produces a C++ code that do not compile, using _Object_ type that has not been defined or mapped ?

One of compile error looks like :
[code]

See also AmfEventArea.h for Obje

[2018-07-11 15:58] bjgill opened #538 "[rust-server] how to cope with loss of `file` type?"
##### Description

Swagger v2 had three types to represent binary data: `{type: string, format: binary}`, `{type: string, format: byte}`, and `{type: file}`. In OpenAPI v3, we lost the last of these.

In `rust-server`, binary and byte were treated identically - as `swagger::ByteArray`. File was `Box<Future<Item=Option<Box<Stream<Item=Vec<u8>, Error=Error> + Send>>, Error=Error> + Send>`.

I'm not

[2018-07-11 16:56] bjgill commented on #307
The fourth point (`binary` properties is just another re-occurence of the problems caused by the changes to the various binary/byte/file types. Specifically, the binary format has not got `isFile` set, where previously it did not.

In any case, #538 will fix this as well.

[2018-07-11 17:05] bjgill commented on #307
Looking at the second, I wonder is this is another weird mustache-related bug.

Repro template:

<details>

[code]

</details>

Interestingly, if I comment out either of `enum_form_string_array` or `enum_form_string`, I get code that compiles. However, with both, we get an error where something is thinking that `param_enum_form_string` should have the same type as `enum_form_string_array`

[2018-07-11 20:51] OmriHarary opened #540 "[Java] Default values for string-type query parameters are generated with two sets of quotes"
##### Description
In annotations on parameters for generated api methods, default values for request query parameters are surrounded in two sets of double quotes. Completely prevents compilation.

Example of problem code, generated using information below:
[code]
Example partial result from running `mvn package` on generated project:
[code]
##### openapi-generator version

latest master

##### Ope

[2018-07-11 23:47] Place1 commented on #531
I've created a fork of typescript-fetch that fixes this issue and a bunch of others such as model property naming etc. I've already mentioned it in #347 but there seems to be a little bit of interest. Would this fork solve the issue for you? I'm keen to gauge interest :)

[2018-07-12 05:22] macjohnny commented on #531
@Place1 thanks for the fork. I haven't tried it, yet.

I wouldn't say that. I think any improvement is welcome and wanted.
I think it would be good to file a PR here that incorporates all your code, don't you think so @wing328 ?

[2018-07-12 05:33] macjohnny opened #541 "[Typescript][jQuery] fix return type"
##### Description

see https://github.com/swagger-api/swagger-codegen/issues/8383

[2018-07-12 05:34] macjohnny commented on #541
@baol @grollinger would you like to incorporate the changes of https://github.com/swagger-api/swagger-codegen/pull/8385 here, too? openapi-generator is a community-fork of swagger codegen, and it is released frequently. migration is easy, just change the dependency in your `pom.xml`

[2018-07-12 06:36] grokify commented on #535
Good post @moser4035.

I've filed PR https://github.com/OpenAPITools/openapi-generator/pull/542 against the `4.0.x` branch because this is a braking change without fallback.

This only changes `model.mustache` as shown below. Everything else in the PR is for testing. Feel free to use this locally until this is shipped in a release.

https://github.com/OpenAPITools/openapi-generator/pull/542/files#

[2018-07-12 07:57] Place1 commented on #531
i'll start working on a PR. Something I've done in my fork is make sure the generated client is a single `.ts` file which is quite different to what typescript-fetch currently does. What's the best practice for openapi-generator in this situation? Should I make my PR introduce a new generator to avoid causing a breaking change in the current typescript-fetch generator?

[2018-07-12 07:59] macjohnny commented on #531
We recently included a change to https://github.com/OpenAPITools/openapi-generator/pull/363 to split the api up into separate files, as it can cause issues with inheritance if the files are all in the same file and in the wrong order, see https://github.com/OpenAPITools/openapi-generator/issues/350

[2018-07-12 08:24] markus-wa opened #543 "[typescript-angular] Wrong RxJS version for Angular 6 when using DefaultGenerator.generate()"
##### Description

- When using DefaultGenerator.generate() with `ngVersion=6.0.7` the resulting `package.json` contains a dependency to RxJS 5.4.0.
- It works when using the CLI.
- Adding `useRxJS6=true` to additionalProperties doesn't help

According to
https://github.com/OpenAPITools/openapi-generator/blob/ab8ec45b50968d6df9a8de699d82219d4a341687/modules/openapi-generator/src/main/java/org/open

[2018-07-12 08:44] Place1 commented on #531
Perhaps the generator could alternatively support hoisting of all parent classes. It partially gives up on alphabetical ordering but there's a benefit in a single file output in terms of simplicity. This suggestion is for typescript-fetch

[2018-07-12 09:02] markus-wa commented on #543
I beleive I'm having a classpath issue because I'm also using `group: 'io.swagger', name: 'swagger-codegen', version: '2.3.1'` for some older code.

Now it finds `typescript-angular/package.mustache` from there which doesn't support Angular 6.

Closing the issue once I've confirmed this is indeed the case.

[2018-07-12 09:24] markus-wa commented on #543
This was indeed the case

[2018-07-12 09:24] #543 closed

[2018-07-12 09:24] macjohnny commented on #531
@Place1 I personally think that splitting the apis into multiple files does not add complexity, it adds simplicity, but apart from personal preference, if any technical problems can be sorted out, why not.

[2018-07-12 09:24] macjohnny commented on #531
maybe @TiFu can give his opinion about this, too

[2018-07-12 09:51] bjgill opened #545 "String array in form data has `isString` set"
##### Description

As discovered in #307, it seems as if the move from swagger v2 to openapi v3 has caused arrays of strings (at least, in forms) to now have `isString` set. This makes it difficult to separate out handling of strings and arrays of strings in the mustache template.

See the repro template below, which produces the following parameter:

[code]

##### openapi-generator version

Seen

[2018-07-12 10:22] bjgill commented on #307
@wing328 - I'm suspicious that something has changed in the mustache template logic.

I'll use the following spoec to demonstrate:

<details>

[code]

</details>

# Swagger-codegen

[code]

yields

[code]

# Openapi-generator

[code]

yields

[code]

# Hypothesis

From the output from openapi-generator, it looks as if the difference is to do with what happens inside `{{#headers}}{{#-first}}`. In s

[2018-07-12 13:18] jcohen-stingray opened #546 "[Java][Spring] Server codegen gradle task fails when operation only has header parameters, and generator has implicitHeaders=true"
##### Description

Gradle codegen task fails with IndexOutOfBoundException. This is caused when the generator task has the additional parameter of _implicitHeaders = true_ and the operation in the api yaml specification file only has header parameters.

##### openapi-generator version

3.0.3

##### OpenAPI gradle task specification (partial)
[code]

##### Gradle task specification for generation

[2018-07-12 13:30] #348 closed

[2018-07-12 14:55] CyrilleBenard opened #548 "[C++][Pistache-server] Help - How to write one server application that handles the full API ?"
##### Description

I wonder how we are supposed to write one cpp-pistache server application that will handle the full API ? When I have a look to the [petstore sample ](https://github.com/OpenAPITools/openapi-generator/tree/master/samples/server/petstore/cpp-pistache), I can find 3 "main example", so 3 different applications.

I mean _PetApiMainServer.cpp_, StoreApiMainServer.cpp and UserApiMainS

[2018-07-12 15:07] bjgill commented on #307
On my previous comment. I've now read through some of the mustache spec. It looks like the new behaviour is probably correct. I think I may have found a way to fix by using `hasHeaders` rather than `headers`.

[2018-07-12 15:40] grokify commented on #535
This also happens when the values are similar but have different non-punctuation characters:

Here is some test output:

type EnumClassAntiCollision string

[code]

`go-swagger` handles this by substituting characters for the punctuation:

[code]

[2018-07-12 15:48] bjgill opened #550 "[rust-server] allow Metaswitch to migrate to openapi-generator"
##### Description

Once https://github.com/OpenAPITools/openapi-generator/issues/307 is fixed, `rust-server` will be usable in openapi-generator. At @metaswitch, we'd like to migrate across.

Currently, we're working on a branch of swagger-codegen. We need to work on a branch due to having some changes to `html2` we've not yet upstreamed, as well as having added some `rust-server`-specific CI.

No

[2018-07-12 16:01] FatCash opened #551 "Unable to use systemProperties in gradle plugin"
##### Description

Hi, I'm struggling to configure the gradle plugin to generate only model.
I can't seem to pass any property at all in systemProperties. Is my syntax incorrect?

[code]

gives:
`Caused by: java.lang.IllegalStateException: System.getProperty(key) must not be null
        at org.openapitools.generator.gradle.plugin.tasks.GenerateTask.doWork(GenerateTask.kt:350)
`
If sent as boolean

[2018-07-12 16:36] jmini commented on #550
This sounds like a good plan... Thank you a lot for sharing it.

[2018-07-12 17:17] wing328 commented on #540
@OmriHarary thanks for reporting the issue. I'll take a look tomorrow.

[2018-07-12 20:46] jmini commented on #546
This looks a very nice fix to me.

Could you file a Pull-Request?
Do not hesitate to ask for help if you are blocked with something.

[2018-07-12 21:06] jmini commented on #545
You have  `{{isListContainer}}`, `{{isMapContainer}}` and `{{isContainer}}` to know if it is just a string, an array of string or a map of string.

I am not sure I understood your problem correctly.

[2018-07-13 05:17] grokify commented on #510
If the interface to the generators, like `JavaClientCodegen`, `GoClientCodegen`, changes and we decide we need to have old and new systems running simultaneously because not all generators should be required to move at the same time, then one decision is whether a new template system would (a) only be on the new architecture or (b) be on the old and new architectures.

If the new template system i

[2018-07-13 05:46] grokify commented on #503
**1/ Separation of Concerns**

One approach may be to have a monorepo including a default generator, possibly Java since the core codebase is Java. This way if you needed to work on a generator and the core at the same time, you would work in the monorepo. Then other generators could live in their own repos but use established interfaces established in the core monorepo.

I don't know enough of th

[2018-07-13 06:13] jmini commented on #530
The OAI group (The "OpenAPI Initiative" group, responsible for the OpenAPI project) has raised some concerns about the name of our project and about the name of our organization. After our public launch, they have updated their guideline.
We are trying to understand the implications and have opened OAI/OpenAPI-Style-Guide#14 to discuss it.

Right now we are waiting for feedback.

Until we know mor

[2018-07-13 09:35] TiFu commented on #531
PRs which improve the structure of the generators are always welcome. Especially, the change proposed by @Place1  would make it easier to implement the redesign of all ts-generators, so I'd be happy to review it (which I'll do, later see the PR above).

Background: We want to unify all ts-generators into one generator, so that we don't have to copy bug fixes to 5 other generators. Having a better

[2018-07-13 09:51] wing328 commented on #551
@FatCash thanks for reporting the issue.

cc @jimschubert

[2018-07-13 10:05] jmini commented on #503
I had really 2 ideas in mind.

The refactoring (`1/`, `2/` `3/`) and the architecture. This is a sort of digression and more a related topic in comparison to what is really discussed here (the report and the table).

I like your idea to keep stuff as single repo. My thought were driven by the Swagger-Codegen-v3 experience, and you are right: we can separate stuff without separating build and repos

[2018-07-13 10:42] ackintosh commented on #440
cc @taxpon @frol  @mbohlool @cbornet  @kenjones-cisco

[2018-07-13 14:43] tnmtechnologies opened #559 "[jaxrs-resteasy/anyOf] code generator doesn't generate good java classes for types based on anyOf"
##### Description
When a declared type is based on an anyOf, the generated java class owns no attribute, just default methods from Object class.
It leads to an error at runtime because the json value can't be bound to its bean class by jaxrs framework.

anyOf  declaration seems to not be supported by code generator while it is part of OpenApi 3 standard.

##### openapi-generator version

openapi-g

[2018-07-13 15:42] #546 closed

[2018-07-13 15:54] OmriHarary commented on #540
@wing328 I found the source of the problem and will file a PR for a fix soon.

[2018-07-13 18:21] jmini commented on #517
I have proposed a PR: https://github.com/OpenAPITools/openapi-generator/pull/560

[2018-07-13 19:03] jason-cohen commented on #517
Nice. Much more encompassing than my suggested fix. I'll retract my PR in light of yours. Thanks!

[2018-07-13 20:48] OmriHarary commented on #540
Issue is not limited to the `spring` generator, also found in: `jaxrs-cxf`, `jaxrs-spec`, `jaxrs-cxf-cdi`, `jaxrs-cxf-client`, `jaxrs-jersey`, `java-msf4j`, `jaxrs-resteasy`, `java-play-framework`, and `java-pkmst`.

[2018-07-13 21:50] knelsonmeister opened #561 "[C++][cpp-restsdk] $ref generates codes that does not compile"
##### Description

When using simple types (ex: integer and string) without using $ref the cpp-restsdk generates the appropriate C++ type (ex: int32_t and string_t).  However, if a $ref is used to a name that refers to a simple type,  then the generated C++ code has the appropriate C++ type wrapped in a shared_ptr.  This causes the C++ to not compile.

Additionally, if I try to use $ref to a diffe

[2018-07-14 05:01] jmini commented on #411
Some notes about publishing the gradle plugin during releases:

If the build is not failing (green build) then you might be able to just redo the publication. (This was the case for `3.0.3` and `3.1.0`

Go to: https://oss.sonatype.org/#stagingRepositories
And search for the multiple `orgopenapitools-0000` repositories (see screenshot in the previous message)

Collect the items:

* `openapi-generat

[2018-07-14 05:32] jmini commented on #517
@jason-cohen I am really sorry not having seen that you were working on this too.
If you have tested my PR, please leave a comment there, so that we know it works for you.

[2018-07-14 05:38] #428 closed

[2018-07-14 10:49] topce opened #564 "improve openapi-generator to create (scaffold) UI and back-end from OpenAPI Spec (v2, v3)"
##### Description
Why we have this limitation
"OpenAPI Generator allows generation of API client libraries (SDK generation), server stubs,
documentation and configuration automatically given an OpenAPI Spec (v2, v3)"

I think it is also possible to create UI (front-end) also back-end persist REST API call in database.
For example be possible to create Angular front-end  that calls already existing

[2018-07-14 13:25] grokify opened #565 "[Golang][client] fix linter issues"
##### Description

Go client code fails various linters. This issue tracks a number of these for resolution.

1/ Comments

The following type of error looks like simple improvement opportunities for our templates, e.g. `response.mustache`.

[code]

2/ Capitalization Convention

The following is an algorithm update. This will also make the client SDK more consistent because `APIClient` is not `ApiC

[2018-07-14 16:42] wing328 commented on #517
@jcohen-stingray the PR has been merged. Let us know if you still see issues.

FYI. I'm preparing tests to better catch the issue moving forward.

[2018-07-14 16:42] #517 closed

[2018-07-14 17:45] wing328 commented on #517
UPDATE: I've filed https://github.com/OpenAPITools/openapi-generator/pull/568 with a travis.yml file to catch the issue moving forward.

[2018-07-14 20:34] jimschubert commented on #503
There's a lot of different discussions in this thread, and potentially unrelated to the title/description of having a compatibility table. I had brought up this issue as an internal private discussion, so I'm glad to see it come up here to discuss it more with the wider community. I have a personal interest in this work, as I hope to improve upon my IntelliJ plugin to support a similar feature com

[2018-07-15 02:14] grokify commented on #565
Here's the list of `commonInitialisms` used by Go Lint:

https://github.com/golang/lint/blob/master/lint.go#L749-L788

[code]

[2018-07-15 02:45] incjung commented on #533
If I have an update, let you know.
Thanks

[2018-07-15 04:07] Place1 commented on #531
This sounds great. How might it work with something like `typescript-angular` which is intrinscally very different; i.e. uses dependency injection, a dedicated HTTP client, Observables rather than promises and has multple 3rd party dependencies?

[2018-07-15 20:10] jimschubert commented on #411
@jmini I'd brought this up on Gitter, but you may not have seen it.

The Travis timeout is because Travis defaults to 10 min of timeout. We can increase this ad hoc per command using `travis_wait` (see [Travis CI: Common Build Problems](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received)). The decision before the last release was to see if the pro

[2018-07-15 20:39] jimschubert commented on #411
I sent an email to Travis CI support and CC'd the OpenAPI Tools team. I'll report back here when I have a response.

[2018-07-16 05:13] Eddie-CooRo opened #570 "[GraphQL] Graphql support"
##### Description

Adding support for graphql

Do you have any plan for a graphql generator or something similar? It would be nice if we can generate both rest and graphql endpoints from one specification.

[2018-07-16 08:22] jmini commented on #570
This was discussed, but for the moment the templates and the model are really close to OpenAPI. Supporting multiple input formats requires a lot of refactoring... This is really long term vision.

cc: @jimschubert

[2018-07-16 09:06] javadch opened #572 "[Spring] The code-gen to have an option to generate JsonObjects instead of POJOs"
In many cases, the data is stored in JSON format (e.g. MongoDB) and is delivered to the client as JSON too. In these kinds of scenarios two unnecessary JSON transformation happens; one from DB to POJO and another from the POJO to the response body.
Having a  JSON aware POJO can help to eliminate these two transformations. So, it is requested to have a switch in the code-gen to allow generating the

[2018-07-16 09:17] javadch opened #573 "[Spring] default XyzApiDelegate.getRequest() method returns empty!"
The following `getRequest()` method in `XyzApiDelegate` retunrns `Optional.empty()`. This causes the generated API to not funtion unless a `@Service` implementation id developed. However, if there is a default request implementation in the delegate, the whole generated API could be runnable and the `GET` endpoints could return example responses.
[code]

An additional request: None of the provided

[2018-07-16 10:38] TiFu commented on #531
The idea looks like this (feedback welcome):

https://gist.github.com/TiFu/44abab1bc3a430f7ecad5fed06416445
(you'll probably have to download the image - it looks weird on Github)

It's not very fleshed out, but in general, I'd like to try to isolate certain modules (e.g. HTTP) and hide them behind a common API so that every generator can just include whatever it needs, possibly removing dependenc

[2018-07-16 11:37] wing328 opened #576 "Generated Lumen code can contain dots in routes"
##### Description

According to @philip

The current behaviour is to throw an exception if the path contains dot so that the user is aware of the known limitation.

##### openapi-generator version

Latest master

##### Related issues/PRs

Ref: https://github.com/swagger-api/swagger-codegen/issues/6897

[2018-07-16 12:47] dimitriyremerov opened #577 "[php-symfony] Generated Controller uses an undefined property"
##### Description

Controller does not have `container` property which is being accessed in the code.
https://github.com/swagger-api/swagger-codegen/pull/6842 introduced access to `container` property of the `BaseController`. At this point Controller did not have `container` property anymore since the inheritance from the Base Symfony Controller was removed in https://github.com/swagger-api/swagge

[2018-07-16 13:29] Eddie-CooRo commented on #570
Hi @jmini thankyou for reply

What do you mean by

[2018-07-16 14:23] cognifloyd opened #579 "[python] required AND nullable"
##### Description

I'm modeling an existing api in an OpenAPI 3.0 spec.
A key thing across most of this particular API (like it or not) is that all fields must be present (they are all required), but most of the time the fields are nullable. Some APIs include the fields and never use them (ie they are always set to null), but try to send a request without the field and it fails. (A replacement API

[2018-07-16 14:34] bjgill commented on #538
Right - I've spoken with some of the people using swagger-codegen at the moment, and it turns out that there are currently people using the `file` type. It's necessary when transferring large files to avoid excessive memory usage.

Broadly, I think there are 3 options:
1. Drop support for `swagger::ByteArray`, and use the stream option for `binary`/`byte`. This has the advantage of simplicity, but

[2018-07-17 03:05] jeff9finger commented on #15
My company requires oneOf functionality.

[2018-07-17 04:35] jmini commented on #472
Quick update :

The way it is now is preferred: `List<TimeseriesEntry>`

If you use the aliased form (`TimeseriesData`), you can not other java constructs like `Arrays.asList(..)`:
[code]
Or streams + collectors:
[code]

But in order for you to have a smooth transition, we will introduce an option to use the aliased form (`TimeseriesData` in you example).

What do you think?

[2018-07-17 07:29] macjohnny commented on #564
@topce this sounds like a good, yet ambitious idea. In order to prevent the generated code being outdated, one would need to rely on code scaffolding of e.g. https://github.com/angular/angular-cli and https://github.com/spring-io/initializr/

if the frontend is a standard CRUD, a default CRUD angular component could be developed that is configured from the spec.

[2018-07-17 07:32] macjohnny commented on #304
@topce

I think https://github.com/OpenAPITools/openapi-generator/issues/8 should definitely be fixed.

[2018-07-17 10:11] grollinger commented on #541
@macjohnny Sure, why not.

[2018-07-17 10:52] JFCote opened #582 "Model not generated with the right type (allOf)"
##### Description

A member of a model is not using the model type requested by the spec. Please check the example for a better explanation

##### openapi-generator version

Master (3.1.1-SNAPSHOT)

##### OpenAPI declaration file content or url

This is a self contained file that reproduce the issue

[code]

As you can see `returnSoftwareStatus` is supposed to be of type `DeviceLifecycleStatus`. I

[2018-07-17 11:12] macjohnny commented on #582
@JFCote I had a similar issue with `3.0.0`, which was solved by upgrading to `3.1.0`. In my case it was the body parameter that had the wrong type.

[2018-07-17 11:13] JFCote commented on #582
@macjohnny Yeah I had this too. It's all fixed with 3.1.X but this is something else. I'm using 3.1.1-SNAPSHOT and still got this. I think it's a different use case.

[2018-07-17 13:02] JDziurlaj opened #583 ""Could not process model" with nested schema"
##### Description

I'm running into an issue where `openapi-generator` fails to generate files for any generation target when referencing an external schema, with a variant of the following error

[code]

I have no concerns that my external schemas are valid, `swagger-editor` is able to parse and generate documentation for them, they pass JSON schema validation tools, etc.

This schema is quite co

[2018-07-17 13:20] macjohnny commented on #347
@TiFu if the parameters of the api methods are to be combined into a single object (maybe as an option), https://github.com/swagger-api/swagger-codegen/issues/8435 of @sschoeb could also be considered. maybe @sschoeb would want to help?

[2018-07-17 14:37] wing328 commented on #540
Thanks for offering help to fix it.

For the following:
[code]

Should it be using `type` directly instead?
[code]

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L203-L207

[2018-07-17 15:27] jmini opened #585 "Path in `phpunit.xml.dist` is platform dependent"
In PR #578 the samples were generated on windows, and when the ensure-up-to-date scripts run (see #80) we have the following diff on Shippable:

[code]

Our output should be platform independent.

[2018-07-17 15:29] jmini commented on #582
Related issues/PRs: https://github.com/OpenAPITools/openapi-generator/issues/340 (but not directly)

[2018-07-17 16:42] wing328 commented on #585
One "workaround" is to put phpunit.xml.dist in .gitignore as the file is not being used in the test at the moment and I seldom see changes made to that particular file

cc @ackintosh

[2018-07-17 16:45] Peaches491 opened #586 "[all-languages] Supporting files duplicated"
##### Description

Currently, all executions of `openapi-generator` produce a set of `supportingFiles` alongside the `model/` and `api/` files. If you have more than one `openapi-generator` spec target, these `supportingFiles` are completely identical, except for the namespace in which they are generated.

This prevents end-users from creating useful libraries or abstractions on top of the generat

[2018-07-17 17:14] wing328 commented on #570
@Eddie-CooRo I think @jmini is referring the input of OpenAPI Generator, which currently supports OpenAPI spec at the moment.

[2018-07-17 17:16] wing328 commented on #570
@Eddie-CooRo as discussed, here is the high-level project plan:

- create GraphQL files for 2 endpoints ([getPetById](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L148-L175), [addPet](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L21-L47))
-

[2018-07-17 17:18] wing328 commented on #570
I've cc'd @yarax who is the owner of https://github.com/yarax/swagger-to-graphql to see if we can collaborate on this.

[2018-07-17 17:24] topce commented on #304
Thank you @macjohnny !
Workaround works for me as well ;-)

[2018-07-17 18:32] OmriHarary commented on #540
The former is required for OAS3. ex: https://github.com/swagger-api/swagger-samples/blob/4750a960128953f77c5428b669b8a75689329b1a/java/swagger-petstore/src/main/swagger/openapi.yaml#L234-L238

Issue occurs in either case anyways.

[2018-07-17 20:14] jmini commented on #476
I have started to work on this on a branch [issue476_contentType](https://github.com/jmini/openapi-generator/tree/issue476_contentType) in my fork. I would like to perform some tests before I open a PR.

You can already review it there.

[2018-07-17 20:21] Eddie-CooRo commented on #570
Nice
I am going to implement a sample graphql server in nodejs for given endpoints.
So which library you think we should use? pure [graphql-js](https://github.com/graphql/graphql-js) or [graphql-yoga](https://github.com/prismagraphql/graphql-yoga)(maintained by Prisma).
I think graphql-yoga is a better choice because we can make use of

1. file uploads (pure graphql doesn't support it but there is

[2018-07-18 04:50] jmini commented on #405
Quick update:

It is not possible to support both use-cases simultaneously:

* Some user using an OAS2 spec with "form parameter" see too much models generated. See https://github.com/OpenAPITools/openapi-generator/pull/74#issuecomment-390925712
* The OAS3 spec as presented here.

Sometime the corresponding model classes should be filtered, sometimes not. A new option will be added `do_not_generat

[2018-07-18 05:30] macjohnny commented on #583
maybe this can help you: https://github.com/OpenAPITools/openapi-generator/issues/304

[2018-07-18 06:15] etherealjoy commented on #548
Have you found a solution?
If not I could check this weekend.

[2018-07-18 11:09] jmini commented on #411
We got an answer, they stick to not changing anything on there side as indicated in https://issues.sonatype.org/browse/OSSRH-37302

We can still work on one of the solution exposed in my first message here.

I also spoke with @wing328 about it. For the moment it is a low prio. Republishing the gradle plugin manually is not such a big deal.

[2018-07-18 12:22] CyrilleBenard commented on #548
I was a little wrong :
The "HTTP End point" (ie listened port) is not defined by the _operationId_ keyword but by the keyword _tags_  that will produce a one to one relationship between class and tags.

A workaround to embed all the API inside the same application would be to define every path/operationId with the same tags list, so that the generator will produce only ONE api class and so, only o

[2018-07-18 13:47] rienafairefr commented on #586
Yeah, it's a concern that I think is linked to what I've partially expressed and implemented in the Python target (see #470). The idea that sometimes the users (the one generating the SDK) have different a priori about the directory structure of the generated code. The idea that sometimes we want to generate a package, namespaced code in your C++ case, and not generate duplicated supporting files

[2018-07-18 14:01] moser4035 commented on #532
I think this would be really improve the usability of the api client. I also would appreciate a generator that generates an client that way.

[2018-07-18 14:04] moser4035 commented on #532
I think one way to implement this would be to use the `paths` property and generate sub ApiClients for each subpath and correctly nest the ApiClients into the other ApiClients. (Also pass all the authentication/configuration information to the sub ApiClients)

[2018-07-18 14:36] hippoKnight opened #590 "[OAS 3.0.0] yaml with multiple server urls generates code using first url only"
##### Description
I wrote a yaml following OAS 3.0, its servers part looked like this:
[code]
I used this yaml generating python code, and didn' t see the second url('http://1.1.1.1:9201/v2')

So, my question is: What is the desired result if the yaml contains multiple urls?

##### openapi-generator version

I installed openapi-generator using Homebrew yesterday.

##### OpenAPI declaration file co

[2018-07-18 15:51] haitongz opened #592 "Support obtain all server URLs for OAS 3.x"
##### Description
When running generator on an openapi 3.x document, if you use a variable for the port, generator print a warning. The warning does not block the generation, but does support openapi 3.x new feature. In addition it use default value instead in this circumstance.

Error looks like:
`[main] WARN  o.o.codegen.utils.URLPathUtils - Not valid URL: http://example.com:{port}/v1. Default t

[2018-07-18 17:58] wing328 commented on #540
OK. I'll give it another try tomorrow and hopefully file a PR to fix all Java-related generators regarding this issue.

[2018-07-18 18:00] say25 opened #593 "[C#] Generating a Client with Non-String Dictionary Keys"
##### Description

Generating a dictionary where the key is non-string. I basically want to generate a `Dictionary<long,Guid>`

##### openapi-generator version

All

#### Payload
[code]

##### Suggest a fix/enhancement

Support generating a client with non-string keys in a dictionary. @wing328 has more context about this.

[2018-07-19 07:32] #577 closed

[2018-07-19 10:54] bjgill commented on #538
I've now had some discussions. This revealed a few things.

1. First, the old `Stream`-based file handling wasn't actually streaming on the server - we buffered the file in its entirety, and then presented the in-memory file as a stream.
2. Second, there is a rather gnarly design problem server-side. Things are simple for the client - it can just push files out over the wire in whatever format it

[2018-07-19 11:39] Dynatrace-Reinhard-Pilz opened #601 "Array types with maxItems 2147483647 lead to generator crash"
##### Description

Too many array types with `maxItems 2147483647` lead to generator JVM crash.

##### openapi-generator version

3.1.1

##### OpenAPI declaration file content or url

[spec2.json](https://gist.github.com/Dynatrace-Reinhard-Pilz/eb22b842d9f090dd986943de20b8cd76)

##### Command line used for generation

`java -jar openapi-generator -i spec2.json -g go`

##### Related issues/PRs

PR

[2018-07-19 12:30] CyrilleBenard opened #604 "[C++][Pistache-server] OpenApi properties starting with a number are not well handled"
##### Description

If the OpenApi file (YAML or JSON) defines a property name starting with a number, for example _5gItem_, the generator produces a class member named _m_5gItem_ (that's OK) BUT a method named _5gItemIsSet()_. This syntax is not allowed in almost all languages, not only C++.
No symbol names should start with a number.

One workaround would be to avoid the OpenApi property name sta

[2018-07-19 12:49] bossmc commented on #538
On (2), I'm assuming you're mostly talking about multipart bodies when you talk about ordering?  In which case I think supporting out-of-order bodies is pretty much par for the course for the server-side implementation and exposing them to the server in the order they arrive is fine, so long as there's a way for the server to re-order them if needed (by caching the contents in local memory or even

[2018-07-19 12:58] bjgill commented on #545
I think there are two problems:
1. This is inconsitent with the behaviour in header and query params, where arrays of strings have `isString` set to false.
2. What is the advantage of having things that aren't strings with `isString` set to true? The current implementation means that we will need to know about all the things with `isString` set to true that aren't `type: string`.

In swagger-codeg

[2018-07-19 13:03] bjgill commented on #538
That sounds correct, yes. We'd probably want to give some thought to the API design, though, to make it harder for server implementers to shoot themselves in the foot.

[2018-07-19 13:42] macjohnny commented on #513
@rubms thanks for the analysis. I also think this should be reverted for `GET` requests.
 @bmordue @jmini what do you think?

[2018-07-19 14:44] rubms commented on #513
I just created the https://github.com/OpenAPITools/openapi-generator/pull/605 pull request in order to get this issue fixed. In it I suggest to use null, as default, for POST body only for RestTemplate, whose behavior gets broken as message converters are not able to propery convert ´java.lang.Object´.

[2018-07-19 14:48] ackintosh commented on #585
Oh...

Should we use `/` instead of `File.separator`?

[phpunit.xml.mustache#L23](https://github.com/ackintosh/openapi-generator-1/blob/925ae681678c9000ff65fd19f46c8b3457894275/modules/openapi-generator/src/main/resources/php-slim-server/phpunit.xml.mustache#L23)
[modelSrcPath](https://github.com/ackintosh/openapi-generator-1/blob/ab8ec45b50968d6df9a8de699d82219d4a341687/modules/openapi-generator/

[2018-07-19 15:00] jmini commented on #585
I do not think that `.gitignore` can be a solution. If I remember well how git works you have 2 situations:

1) the file is in the repo, then `.gitignore` is ignored, meaning that you will see when there are some changes and I believe that the file is also displayed when you do a `git status`.
2) the file is not in the repo, to add it you need to do a `git add --force` and then you are back to cas

[2018-07-19 15:11] jmini commented on #513
When I read the description of #98:

It comes to my mind that I have started to work on https://github.com/OpenAPITools/openapi-generator/issues/476. There the use case is that if there is no body (which I guess is the case when it is `null`) then the client should not send a content type at all.

Feel free to comment on #476 if you think this is a good idea.
If we implement #476 (I have a branch

[2018-07-20 07:55] #601 closed

[2018-07-20 09:36] wing328 commented on #570
I've filed https://github.com/OpenAPITools/openapi-generator/pull/609 to create the 1st version of the GraphQL client generator. The Petstore samples can be found in https://github.com/OpenAPITools/openapi-generator/tree/af38f807f05cc6042187f4a50fe7e64597b75320/samples/client/petstore/graphql-client

Please test and comment on the code on what needs to be fixed.

[2018-07-20 09:50] wing328 commented on #570
My suggestion is to start with whatever you feel comfortable. My view is that it's just a matter of time someone asks for graphql-js later

[2018-07-20 14:04] #414 closed

[2018-07-20 14:04] #446 closed

[2018-07-20 14:04] #482 closed

[2018-07-20 14:04] #258 closed

[2018-07-20 14:04] #407 closed

[2018-07-20 15:45] #585 closed

[2018-07-20 15:51] jmini commented on #513
Is this fixed by merge of PR #605 ?

[2018-07-20 15:56] jmini commented on #545
I am not saying that this can not be changed… I also always like consistency.

Changing semantic is always complicated, as you need to ensure that you do not break existing templates.

And what I do not know is if `{{isString}}` is only for simple string, how do you differentiate between an array of string and an array of integer (for example).

[2018-07-20 15:58] fizxmike opened #611 "[NancyFX] Name normalization breaking my toolchain"
##### Description

In regards to class and parameter name mappings... I'd expect that if I create a JSON Schema based on a a class I have in a given language (C# for example), that openapi-generator (fka swagger-codegen) would preserve the parameter names when I generate a client or server in the same language. I understand that there is a "bring your own models" option, and that works for virtual

[2018-07-20 16:51] bjgill commented on #545
True - the fact that this is how the behaviour now is probably means that it would be unpleasant to change.

The way that headers and queries deal with this is to have `isString` false, but `baseType` set to `String`.

I'm not convinced this is worth fixing, though, so will close.

[2018-07-20 16:51] #545 closed

[2018-07-21 05:15] jmini commented on #592
Thank you a lot for this issue. It is important for us to support the most OAS3 concept we can.

Your analysis is right, I have modified the method with #614.

The TODO line in `URLPathUtils` is about something else:

https://github.com/OpenAPITools/openapi-generator/blob/0da55081c934704f24c702659e93e640fadf006c/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.ja

[2018-07-22 06:01] ackintosh commented on #576
It is due to the PHP built-in web server. ( not related to Lumen )

[code]

#### Invoke built-in server without specifying router script

[code]

- 404 Not Found

[code]

#### Invoke built-in server with router script

the sample below specifies the index.php as a router script.

[code]

- 200 OK 👌

[code]

[2018-07-22 06:14] ackintosh commented on #576
#### Quick idea

1. Add the sample command runs built-in server like below to [the README](https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/php-lumen/lib/readme.md).

[code]

2. Remove [the codes checking dots contained in path](https://github.com/ackintosh/openapi-generator-1/blob/27426f7b522c1b55f6ebe6c90d41d77e3c7ab589/modules/openapi-generator/src/main/java

[2018-07-22 08:29] etherealjoy commented on #604
@CyrilleBenard
Would `modelNamePrefix` work for you in this case.
We have this for Qt5 client.

[2018-07-22 08:52] mintu19 opened #617 "[Java] [Android] Jersey2 library request/issue - suppress warning log in android"
I am continuing the issue i have filed at Swagger-Codegen. I think that similar approach can be applied to here as well (as i understand this is fork of swagger). I have not tried it with latest release. I am creating this issue here as well for reference to feature.

##### Description

When I generate client for java using Jersey 2 library and use it with both java and android project (which work

[2018-07-22 08:56] CyrilleBenard commented on #604
This is a good idea but I think this option should be used only when developers want to named their own model not to workaround a generator bug.

Anyway, your proposal will not fix the variable name, nor the method name (xxxxIsSet) and probably not the circular header protection (not sure about that). It would fix the class name, isn't it ?

[2018-07-22 09:39] rienafairefr opened #618 "Discussion, Enhancement: customisation of generated structure through templating"
I've been thinking about some discussion/PR/issues (e.g. #470, #586, PR #580, #591 ), or others, and I felt that right now when you want to customise anything about the generated code that doesn't fit into the directory structure that have been defined in the java *Codegen class, you're stuck.

The tool allow people to specify a template directory to customise the output of the tool, by changing t

[2018-07-22 14:29] wing328 commented on #576
@ackintosh thanks for the explanation. I liked your ideas!

[2018-07-22 18:06] Jauler opened #621 "[cpp-restsdk] Dots and dashes are allowed in C++ identifiers."
##### Description

When generating cpprest dots and dashes are allowed for C++ identifier names which causes uncompilable code like:
[code]

##### openapi-generator version

3.1.2-SNAPSHOT

##### openapi declaration file content or url

https://raw.githubusercontent.com/kubernetes/kubernetes/v1.10.4/api/openapi-spec/swagger.json

##### Command line used for generation

[code]

##### Steps to repro

[2018-07-23 04:00] wing328 commented on #604
@CyrilleBenard so prefixing the variable name with "_" (underscore) will at least make the code compile, right?

[2018-07-23 04:20] #592 closed

[2018-07-23 07:03] etherealjoy commented on #621
Same issue is solved in Qt5 with #388

[2018-07-23 07:40] Jauler commented on #621
Nice, later I will be able to backport those changes to cpprestsdk :).

[2018-07-23 08:12] etherealjoy commented on #621
You could make the changes in `AbstractCppCodegen` so that all changes are available for all `C++` generators.

[2018-07-23 08:14] etherealjoy commented on #604
`toVarName`, `toModelName` could be taken over from `cpp-qt5-client` and ported to `AbstractCppCodegen` to solve this.

[2018-07-23 08:31] etherealjoy commented on #548
The issue is there only for pistache. Others don't have this problem. This is due to the inheritance pattern used. But it can be solved.

[2018-07-23 08:47] jmini commented on #590
This is a known issue in my opinion because of the TODO in the code:

https://github.com/OpenAPITools/openapi-generator/blob/d42ff75cebeb7d7aab80f4b48e6a77f3ac5e489a/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java#L49

Thank you a lot for this issue, because I think it is important for us to support the most OAS3 concepts we can.

The current behavior is to

[2018-07-23 08:52] grokify commented on #522
@siddharthist I just put together a contribution quickstart here:

https://medium.com/ringcentral-developers/openapi-generator-for-go-contribution-quickstart-8cc72bf37b53

Take a look. I'll also take a look at your change when I have time.

[2018-07-23 09:10] madhead commented on #551
Does not work with Kotlin DSL either:

[code]

[2018-07-23 09:23] ybelenko commented on #618
I know that nobody asked me about that issue, but I have another negative point:
* There are languages with folder-namespace dependency. If we give all freedom to overwrite paths newbie developers can break their bundles. For example PHP requires namespace to match folder, when user specifies different folder and not sets matched namespace then codegen can produce broken stubs.

[2018-07-23 09:26] emreakca opened #623 "[Python] Inheritance doesn't work"
##### Description

The generated Python SubClass doesn't inherited from the BaseClass, when allOf is used.
[code]

The generated class shows
[code]
instead of
[code]
This issue was already posted (#453), but it's not solved nor answered.
##### openapi-generator version

3.1.1

##### Command line used for generation

[code]
##### Suggestion
Either do the inheritance correctly (as shown at the begin

[2018-07-23 10:17] macjohnny commented on #623
@emreakca @poli-granot this could be fixed by applying the changes in https://github.com/swagger-api/swagger-codegen/commit/843c638c2a86926f201d006daeb2e8c5028d6cfb to https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/model.mustache#L13 and other relevant files. would you like to file a PR for this?

[2018-07-23 10:19] madhead opened #624 "Invalid Java code generated for inline schemas"
##### Description

I'm trying to generate model and API for this schema: http://api.adx1.com/v1.0.2/schema.json using Gradle plugin.

A few of the models are generated incorrectly, making it impossible to compile the code.

I guess, part that error (unminified) is: https://gist.github.com/madhead/ac2cc3fb029db795bfbc6488f315e517#file-swagger-json

The error is:

https://gist.github.com/madhead/ac2

[2018-07-23 10:38] jmini commented on #624
Thank you for reporting this issue, isn't it a duplicate of #8?

[2018-07-23 10:39] madhead commented on #624
@jmini Thanks. Sorry, it's a duplicate.

[2018-07-23 10:39] #624 closed

[2018-07-23 10:49] jmini opened #625 "[Java] new option: Throw an exception for invalid enum values instead of using null"
I have a similar problem than the one reported in https://github.com/swagger-api/swagger-codegen/issues/5950

When working with enum in a java server, if the enum value sent by the client is unknown, after deserialization, the value is set to `null`.

This might be useful in some cases (the OpenAPI Spec does not always contains all the possible values) but is not the behavior expected in most of t

[2018-07-23 10:53] bjgill commented on #307
OK, with #547 merged, we are now feature back-compatible.

[2018-07-23 10:53] #307 closed

[2018-07-23 11:17] bjgill commented on #538
We've now implemented the removal in #547. I'm going to close this PR on that basis. When someone needs file support, they can open a new issue.

[2018-07-23 11:17] #538 closed

[2018-07-23 14:06] slarti-b commented on #625
Well, thanks for the ping - I did say I'd look into the swagger issue and still intend to, but haven't had time.  And I hadn't even noticed the fork!  i was wondering when a new swagger codegen release would come along.:)

I'll have to consider which to use going forward - I'm inclined towards this but need to discuss internally.  in the meantime how close the codebases?  Are you still integrating

[2018-07-23 15:00] jmini commented on #625
This project is a fork of swagger-api/swagger-codegen due to some disagreements with:

* some fundamental choices made for Swagger-Codegen-v3.
* the governance of the project in general.

Swagger-Codegen-v3 and OpenAPI-Generator are both based on Swagger-Codegen-v2, but they now live separately. You can read more in the [Q&A](https://github.com/OpenAPITools/openapi-generator/blob/master/docs/qna.m

[2018-07-23 15:10] #512 closed

[2018-07-23 15:21] macjohnny commented on #541
closed with https://github.com/OpenAPITools/openapi-generator/pull/581

[2018-07-23 15:21] #541 closed

[2018-07-23 18:08] cognifloyd commented on #231
This is relevant to OpenAPI 3.0 as well.

I tried to use `allOf` in a request body to **merge** the objects defined in three seperate schemas (One schema provides two properties common to almost all APIs, another provides a set of object properties for a subset of the APIs, and a final is an inline list of a few unique properties for a particular API. However, when I use `allOf` in either requestB

[2018-07-23 18:29] javadch opened #630 "[Spring] shared parameters in paths with IDs are ignored"
The following spec that helps to reuse a set of parameters for all the verbs of a path is supported in OAS3 but the spring (with delegate) code-gen (version 3.1.0) ignores it.
[code]
However, when I move the parameters to each verb, the code-gen works.
[code]

[2018-07-24 08:19] jmini commented on #625
PR for this issue: #633

[2018-07-24 08:30] jmini commented on #231
@cognifloyd I think that `allOf` is not well supported yet => https://github.com/OpenAPITools/openapi-generator/issues/582

---
As for the original issue discussed here, I have the feeling that the filtering issue (model not being created) might be very similar to #405

[2018-07-24 08:34] jmini commented on #630
Thank you for this Issue, I also discovered that `PathItem` can have parameter in OAS3 (which makes perfectly sense). For the moment we are only reading the parameter of the `Operation` (the "verb" mentioned by @javadch).

This is definitively something that must be improved.

[2018-07-24 10:12] MarvGilb opened #634 "[Java] Add proper support for allOf anyOf oneOf"
##### Description

In the openApiSpec it is possible to define a schema with properties, where one property can be defined directly or be using _oneOf_ _anyOf_ or _allOf_ and passing the some provided Schemas.

Currently only allOf is considered and only the first of these schemas is taken (allOf requires all of them!). The other two delimiter are not even considered.

The following example makes

[2018-07-24 10:26] albator1932 opened #635 "[C#] Issue with enum members"
I very recently started to study the migration of our API from _swagger-codegen_ to _openapi-generator_ and I encounter a problem with enumeration members.

Our API is C# .NET Core based and the Swagger JSON is generated through the latest _swashbuckle-aspnetcore_ I believe almost everyone is using in this context.

I'm using the latest stable of openapi-generator: 3.1.1

##### What the swagger-co

[2018-07-24 10:44] jmini commented on #634
Related issues:

* `oneOf`: discussion take place in #15.
* `anyOf`: #537, #559.
* `allOf`: there are also some issues

[2018-07-24 11:33] and0x000 opened #636 "[ruby-on-rails] Bug generating ruby-on-rails controller"
##### Description

ruby-on-rails generator uses different names for controller class file and controller name in `routes.rb`.
I suppose it is related to the usage of tags.

##### openapi-generator version

3.1.2-SNAPSHOT via docker

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`docker run --rm -v ${PWD}:/local openapitools/openapi-generator-cli gen

[2018-07-24 12:15] CyrilleBenard opened #637 "[C++][Pistache-server] model is not a namespace-name"
##### Description

The generator seems to add systematically the instruction _using namespace xxx::yyy::model ;_ without any needs and without, at least, one corresponding definition of the model namespace. The C++ compilation failed.

Compilation error looks like

[code]

NOTE : The hierarchical namespace names shown above is mine but the bug issue is non dependent. Using the default namespaces w

[2018-07-24 12:54] raubel commented on #440
Any update?

[2018-07-24 14:42] CyrilleBenard opened #638 "[C++][Pistache-server] (Type string - format binary) are not well handled - compilation failed"
##### Description

The use of a _[type string, format binary]_ inside a body generates a miscalled method \<string\>::fromJson().

The method generated is as below (see the call to _newItem.fromJson_)
[code]

The compilation error looks like :

[code]

##### openapi-generator version

3.1.2-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

[code]

##### Command line used for generat

[2018-07-24 16:18] jmini commented on #630
PR to fix this: #639

[2018-07-24 18:04] cbornet commented on #625
:+1: for throwing exception being the default

[2018-07-25 04:08] jmini commented on #630
BTW: with the current version, "shared" parameters on the path are propagated to the operation parameters (the "verb") only if there are other parameters on the operation.

With #639 I have fixed it: shared parameters always added to operation ones.

[2018-07-25 10:21] rubms commented on #513
@jmini, I have just launched a code generation using https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator/3.1.2-SNAPSHOT/openapi-generator-3.1.2-20180724.111208-30.jar and, indeed, the error is not reproduced anymore.

@MatanRubin, could you please confirm?

[2018-07-25 10:45] rajanmodi opened #641 "PHP - pass array(key-value pair) as an argument instead of comma separated individual arguments"
##### Description

Functions generated automatically in SDK should support array(key-value pair) as an argument.

Suppose there is search function with 66 arguments.
search($this->arg1 = null, $this->arg2 = null, ...., $this->arg66 = null)

When we need to make a call to this search function ,we need to provide all the arguments
  $apiInstance->search($this->arg1 = 5, $this->arg2 = 10, $this->arg3

[2018-07-25 10:52] wing328 commented on #641
@rajanmodi thanks for the suggestion.

cc @jebentier @dkarlovi @mandrean @jfastnacht @ackintosh @ybelenko

[2018-07-25 12:49] rubms opened #644 "[JAVA][Client][RestTemplate] Query parameters not properly URL-encoded"
##### Description

Before https://github.com/OpenAPITools/openapi-generator/pull/260 (fix for https://github.com/OpenAPITools/openapi-generator/issues/249), query parameters were not URL encoded.

https://github.com/OpenAPITools/openapi-generator/pull/260 attempts to fix this problem, but after https://github.com/OpenAPITools/openapi-generator/pull/260 was applied a problem still persists: URLs ar

[2018-07-25 12:58] bjgill commented on #550
OK - we're making progress. I'm now waiting on the following PRs:

- [ ] #612
- [ ] #643
- [ ] #645

[2018-07-25 13:18] CyrilleBenard commented on #604
Same issue with cpp-restsdk

[2018-07-25 14:11] ybelenko commented on #641
@rajanmodi Hmm... Give us an example? I can't find any function with more than one argument in current PHPClient samples. We're talking about models, right?
[code]

[2018-07-25 14:16] wing328 commented on #641
@ybelenko I think @rajanmodi is referring to method arguments, e.g. [updatePetWithForm](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml#L176-L210) with 3 parameters only and let's imagine it has 20 additional optional parameters.

[2018-07-25 14:36] ybelenko commented on #641
@wing328 If so, I think that more common practice is to create endpoints with just few parameters, or with one complex JSON object parameter.
I like current "full list of parameters" appouch more and user always can rewrite mustache template a bit.

But key-values pairs very handy when you add both required and optional parameters and rebuild client SDK. You can use fresh SDK right away without ne

[2018-07-25 15:15] bjgill opened #648 "root Dockerfile doesn't seem to work"
##### Description

Trying to run `docker build .`, I hit an error - `Child module /opt/openapi-generator/modules/openapi-generator-gradle-plugin of /opt/openapi-generator/pom.xml does not exist`.

<details>

[code]

</details>

It seems as if the root Dockerfile doesn't work, therefore.

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for gen

[2018-07-25 15:16] wing328 opened #649 "Improvement to release script"
##### Description

Based on https://github.com/OpenAPITools/openapi-generator/pull/647/commits/beaf2a56dc678cf0d8c5ffb468a6e7a128c9f84e, we can further automate the release process by replacing previous stable version (e.g. 3.1.1) with the latest stabe version (3.1.2)

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/6

[2018-07-25 15:47] jmini commented on #649
On branch [`issue649`](https://github.com/OpenAPITools/openapi-generator/tree/issue649), I have split `release_version_update.sh` into 2 scripts:

1/ `release_version_update.sh` for the POM and gradle items.

To prepare a release PR you call:

[code]

2/ `release_version_update_docs.sh` to do the update the docs.

To prepare a release PR you call:

[code]

---
This way you obtain almost PR #647.

[2018-07-26 04:52] rajanmodi commented on #641
@wing328 <https://github.com/wing328> @ybelenko
<https://github.com/ybelenko> - Yes I am referring to method arguments.
There are 66 arguments in my search method. According to my requirement, to
access search method, I need not pass all the arguments.
I will pass only desired few arguments to search methods and accordingly my
api returns JSON response.

But current SDK code is forcing me to pass

[2018-07-26 05:13] ybelenko commented on #641
@rajanmodi
66 arguments in search operation, huh?
Even Facebook and Twitter doesn't have API methods with huge arguments list like that.
Anyway, I understand why you don't wanna use object as input parameter, obviosly your HTTP method is `GET` for a search. Maybe you can use enum filters to make arguments list shorter, in way:
[code]
@rajanmodi Can you give us endpoint example, when you need huge

[2018-07-26 05:41] rajanmodi commented on #641
@ybelenko <https://github.com/ybelenko> Basically it is CarSearch Api. You
can refer this documentation for more detail -
https://developer.marketcheck.com/#/Listings/search
https://apidocs.marketcheck.com/

One endpoint is search in which we can pass possible combinations of search
parameters.
for e.g
http://api.marketcheck.com/v1/search?api_key={your_api_key}&latitude=39.73&longitude=-104.99&rad

[2018-07-26 06:33] wing328 commented on #579
@cognifloyd yes, may I know if you've time to contribute the enhancement? I can show you some good starting points.

[2018-07-26 06:34] wing328 commented on #649
Sure let's start with that. Later we can try to consolidate these release preparation scripts into one.

[2018-07-26 06:49] grEvenX opened #652 "[SWIFT4] Default values for ENUMs are using strings instead of the enum"
##### Description

OpenAPI 3.0.0 has support for strings in `enum` format. The Swift4 generator maps these into `enum` in the Swift code which works fine. However if you provide a `default` value in the OpenAPI document, the values for the properties of enum types are set as strings instead of the enum which again causes the compiler to fail.

##### openapi-generator version
3.1.2

##### OpenAPI d

[2018-07-26 08:56] albator1932 commented on #652
I wonder if this could be related to my issue :frowning:
I may be wrong but it looks close enough to #635

[2018-07-26 09:00] #625 closed

[2018-07-26 11:17] #236 closed

[2018-07-26 14:08] CyrilleBenard commented on #638
I am not yet able to do a suitable proposal but the idea would be to declare an "Object" class that exposes a fromJson method. The wrong code is probably due to the specialization of the OpenApi type string in a binary format that seems to be ignored by the generator but I may be wrong.

A good idea would be to see how this type is handle in another "lang" and imitate what have been done, if any.

[2018-07-26 14:40] wing328 commented on #636
@and0x000 thanks for reporting the issue and suggesting a fix. May I know if you've time to contribute the fix? I can show you some good starting points.

[2018-07-26 16:12] bjgill opened #659 "[rust-server] Regressed inner objects"
##### Description

We get `Object` rather than a real inner object type. This is a regression from swagger-codegen that will block https://github.com/OpenAPITools/openapi-generator/issues/550.

##### openapi-generator version

Current master

##### OpenAPI declaration file content or url

<details>

[code]

</details>

##### Command line used for generation

##### Steps to reproduce

##### Related

[2018-07-26 16:17] bjgill commented on #550
I've started regression testing of internal specs. Bugs found:

- [ ] #659

[2018-07-26 16:54] bjgill commented on #318
This may be at least partially a regression. The following spec worked in swagger-codegen:

[code]

[2018-07-26 21:06] Jauler opened #660 "[cpprestsdk] Clashing of cpp parameter names with local variables."
##### Description

Some local variables declared in cpprestsdk api-source.mustache file are likely to clash with real parameter names in specs, for example, having spec:

[code]

will generate function:
[code]

where parameter `path` will clash with local variable `path`:
[code]
in api source file.
##### openapi-generator version

3.1.2-SNAPSHOT

##### OpenAPI declaration file content or url

http

[2018-07-27 02:08] wing328 commented on #660
@Jauler thanks for reporting the issue. For other generators, we usually add the "local_var_" or "localVar" prefix to the local variable to avoid similar issues.

May I know if you've time to contribute a fix? I can show you some good starting points.

[2018-07-27 04:12] developersteve commented on #604
yep got this same problem particularly with python

[2018-07-27 04:19] developersteve opened #662 "[python] Paths starting with numerics"
##### Description

Paths starting with version (not ideal but supported in openapi) generate functions that cannot be called in Python.

##### openapi-generator version

3.1.1 - Found this issue with all v3 releases

##### OpenAPI declaration file content or url
For example
[code]
creates the following type of call when generated
[code]

##### Suggest a fix/enhancement

Digging around the template

[2018-07-27 04:57] rajanmodi commented on #641
This solution will work, but I am wandering if there is anything like java adapter classes in php.
Automatic sdk generation, if supports this java adapter class concept, then this will be great help and  this problem will be solved and great rescue for devs.

[2018-07-27 05:18] developersteve commented on #662
Update: Did some more digging.

If operation id is missing it will create it using the path but doesnt use the toModelName function to determine if its a name that can be used so it will try to carry the number into the start of the function

[2018-07-27 06:51] developersteve opened #663 "[PHP] Generate SDK into root directory not into a folder"
##### Description

Currently PHP generation is one of the only libs to generate into a folder inside the nominated root directory

##### openapi-generator version

3.1.1 but has been doing it since 2

##### Steps to reproduce

Generate a standard PHP SDK

##### Suggest a fix/enhancement

Generation to occur in the base directory rather than the named folder inside the base directory

[2018-07-27 07:08] jmini opened #664 "[typescript] allow $ in var name"
##### Description

In the OpenAPI Specification there is no limitation on the name of the properties in an object schema. Some clean-up logic is made to prevent illegal member name.

The problem is that `lorem`, `$_lorem` are all mapped to a member field called `lorem`

CC: @kayhuba

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

[code]

##### Command line u

[2018-07-27 07:11] jmini opened #665 "[typescript] support for enum"
##### Description

Enum are not correctly generated in typescript client. Some investigation are requested to understand what is going wrong.

See also: https://www.typescriptlang.org/docs/handbook/enums.html

CC: @kayhuba

##### openapi-generator version

3.1.2

##### Command line used for generation

CLI to use the `typescript-node` generator.

[2018-07-27 08:16] Jauler commented on #660
I will be able to do a PR next week.

[2018-07-27 09:46] emreakca opened #666 "[Question] How can a extension Tags (x-...) be accessed in mustache"
##### Description

Hello, I want to use my extension
[code]
in the java (resttemplate library) mustache template.
I already tried
[code]
inside the operation tag, but with no success.

How can I get the wanted value?

[2018-07-27 10:07] wing328 commented on #666
Please try the following:
[code]

[2018-07-27 10:16] and0x000 commented on #636
@wing328 I can try. But beware, I am pretty new to both, rails as well as contributing on github.

[2018-07-27 11:21] bjgill opened #668 "[rust-server] regressed inline object parameter"
##### Description

Inline objects in body parameters seem to have been regressed from swagger-codegen.

##### openapi-generator version

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-07-27 11:38] ackintosh commented on #440
Sorry for late reply. 💦

Maybe it is not good. (but currently most of the generated clients (even other language) has same issue.)

My understanding about why the API client removes all media types except `application/json` is...

[API client treats the response data as JSON](https://github.com/ackintosh/openapi-generator-1/blob/8867d2b34c6861667619359823ee1c3c45cbc963/samples/client/petstore/pyth

[2018-07-27 11:48] akehir opened #669 "[JAVA][Client]: basePath defaults to "/" instead of ""."
##### Description
I'm generating a typescript/angular client without a basePath in the API specification (json). This sets the basePath in the client to include a trailing "/", instead of not having a basePath as in Swagger.

The test cases specify a basePath "/v2" where both generators yield the same API client, and thus they don't detect this case.

However, if basePath is an empty string (""),

[2018-07-27 12:08] CyrilleBenard commented on #638
Ok, after investigating, I may write a proposal. One of right code should be as below :

[code]

There is no need to declare a new type (class) because the type is already well known (std::string), even if its content is binary, so that we can process it immediately.

That's my proposal

[2018-07-27 13:31] wing328 commented on #638
Shall we use the following tag to handle `binary` format by simply copying the string into the property?
[code]

FYI: "type: string, format: binary" in OAS3 is equivalent to the `file` type in OAS2

[2018-07-27 13:53] CyrilleBenard commented on #638
I need some others developers mind / opinion and first, does std::string is the right type to hold string:binary OpenApi type ?

@etherealjoy @stkrwork

[2018-07-27 14:01] etherealjoy commented on #638
@CyrilleBenard
This is dependent on how this is to be done.
In Qt5 Client the binary is mapped to a file and read as a binary stream

[2018-07-27 14:06] bjgill commented on #318
OK - what's happened is that we never supported additional properties. openapi-generator introduced a regression that caused a compile failure. I've put in a workaround in #671 to restore things to how they previously were - i.e. that the `additionalProperties` directive is simply ignored.

[2018-07-27 14:18] bjgill commented on #659
OK, under further investigation this (and #668) might be a regression in openapi-generator itself.

In swagger-codegen, we would get an `ArrayOfObjectsInner` in our list of models. This is no longer the case in openapi-generator. I don't know why this is...

[2018-07-27 14:19] bjgill commented on #668
This is a duplicate of #659

[2018-07-27 14:19] #668 closed

[2018-07-27 15:25] wing328 commented on #669
@akehir thanks for reporting the issue. I agree with you it's not the expected behavior. I'll try to fix it over the weekend.

[2018-07-27 16:12] jmini commented on #320
I have opened https://github.com/swagger-api/swagger-parser/issues/780 to ask the Swagger-Parser team for the next release. Feel free to let a comment on this issue.

I hope that we will have a new version of Swagger-Parser with our next `3.2.0` release of OpenAPI-Generator.

[2018-07-27 16:13] jmini commented on #8
@bjgill thank you for the analysis, do you think you can propose a PR for this?

[2018-07-27 16:42] bjgill commented on #8
I've started having a look at restoring InlineModelResolver.java - see https://github.com/bjgill/openapi-generator/tree/InlineModelResolver.

I'm now out of time to work on this for now, however. Anyone else who wants to pick this up would be more than welcome.

[2018-07-27 21:37] arpit9mittal opened #673 "[Spring] Code generated from OpenApi 3.0 created Swagger2.0 specification"
I have created am open api 3.0 version specification. Then I used the tool to generate the spring code. When I started the API service, it created the specification with version Swagger 2.0. The code generated uses swagger jar which doesn't support openapi 3.0 specification.

openapi-generator version : 3.1.2

##### OpenAPI declaration file content or url
https://app.swaggerhub.com/apis/arpit9mitt

[2018-07-28 07:31] wing328 opened #674 "Extend Tizen Codegen with AbstractCppCodegen class"
##### Description

Similar to other C++ generators, we want to extend CppTizenClientCodegen with AbstractCppCodegen: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppTizenClientCodegen.java#L35

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-

[2018-07-28 12:11] Jauler commented on #621
As #631 has been merged, I believe this issue can be closed :)

[2018-07-28 12:49] #621 closed

[2018-07-29 07:23] ta2-1 opened #677 "[Perl] Generating fails with exception"
`openapi-generator 3.1.2` installed via Homebrew fails on https://gist.github.com/ta2-1/19600dae5c611a8e7dbcdd248a41d470#file-smartcat-json.
It's regression comparing to `swagger-codegen 2.3.1`.

[code]

See https://gist.github.com/ta2-1/19600dae5c611a8e7dbcdd248a41d470#file-generate-error for `STDERR` output.

[2018-07-29 07:32] jmini commented on #673
I think this is a duplicate of #526. Can I close this one?

[2018-07-29 07:39] wing328 commented on #669
@akehir I've filed #678 to fix the issue. I've tested locally with the spec you provided and a few other spec, and the result is good so the the basePath does not contain trailing "/":
[code]

[2018-07-29 08:31] akehir commented on #669
Hi @wing328,

Thanks a lot for the quick fix!

[2018-07-29 10:14] wing328 commented on #663
@developersteve thanks for the suggestion. I also agree we should make the generators more consistent.

I've filed #681 to remove package path from the default output folder (path)

[2018-07-29 11:10] #677 closed

[2018-07-29 11:19] ta2-1 commented on #677
@jmini thanks for the very quick fix.
 I've tested #680 and it works for my spec file.

[2018-07-29 11:36] MatanRubin commented on #513
I have just tested this using version 3.1.2 and I confirm the issue I saw is now resolved. Thanks a lot for the quick resolution!

On a side note - this was a serious bug in a very basic scenario for a very common library (i.e. the generated client fails a simple GET for Java + RestTemplate). Don't we have tests that cover this kind of scenarios for all languages and libraries? Not trying to blame

[2018-07-29 11:36] #513 closed

[2018-07-29 14:10] wing328 commented on #662
@developersteve thanks for reporting the issue. I've filed https://github.com/OpenAPITools/openapi-generator/pull/682 to fix it.

I'll add a test case in another PR to see if other generators (e.g. Java, C#) have similar issues

[2018-07-29 15:08] grokify commented on #522
Looking into this more.

Seems like the common way to do this is to use the following properties:

* OpenAPI 3.0: `nullable` - https://swagger.io/docs/specification/data-models/data-types/#nullable
* OpenAPI 2.0: `x-isnullable`, `x-nullable` - https://github.com/go-swagger/go-swagger/blob/master/generator/types.go

[2018-07-29 21:06] arpit9mittal commented on #673
Hi,

I see that the issue 526 is still not address with the old version.
My issues is the same but the newer version.

I don't know how is this going to be addressed if you close my issues ?

Regards
Arpit

On Sun, Jul 29, 2018 at 3:32 AM, Jérémie Bresson <notifications@github.com>
wrote:

[2018-07-30 05:36] macjohnny commented on #665
@jmini can you give an example?

[2018-07-30 07:09] #669 closed

[2018-07-30 07:10] wing328 commented on #669
@akehir PR merged into master. Please give it a try using SNAPSHOT or build from the latest master.

[2018-07-30 07:12] AnuragGarg89 opened #685 "Compilation error while compiling client code generated through open api maven plugin"
# Description
mvn compile results in build failure because of missing import of the file org.openapitools.client.model.Link;

# openapi-generator version
<groupId>org.openapitools</groupId>
<artifactId>openapi-generator-maven-plugin</artifactId>
<version>3.1.1</version>

# OpenAPI declaration file content or url
pom.xml  and .yaml used for generating java client code:
https://gist.github.com/Anura

[2018-07-30 07:14] jmini commented on #665
@macjohnny thank you for asking... I wanted to do it but I forgot.

I have the feeling our problem is for enum at top level. This is well supported in Java (client/server). My colleague reported it to me as broken in Typescript.

[code]

Generated `color.ts` class:

[code]

[2018-07-30 07:20] macjohnny commented on #665
@jmini

I guess this is typescript-fetch specific, maybe https://github.com/OpenAPITools/openapi-generator/pull/569 by @Place1 resolves this issue?

I can confirm that using enums in models works properly with the `typescript-angular` generator.

[2018-07-30 07:33] #674 closed

[2018-07-30 07:35] jmini commented on #685
I looked at your spec, near `Link:` you have a strange object:
https://gist.github.com/AnuragGarg89/3118e8ee58f19a9ee87ff775a9265662#file-sdp-yaml-L1179-L1182
I am not sure that this is the root of the problem.

To analyze this issue, it would be great if you can reduce the input spec to a minimal example.

[2018-07-30 07:39] PowerOfCreation commented on #515
#558 Should resolve this issue @wing328

[2018-07-30 07:42] #662 closed

[2018-07-30 07:42] davidvanlaatum opened #686 "[ruby/typescript-angular] Configure Accept header"
##### Description

There appears to be no way of specifying what format you want a response in for endpoints that can return multiple.

eg in the generated ruby code (also looks to me like the opts argument is never used)
[code]
[code]

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

##### Command line used for generation

openapi-generator generate -i http:/

[2018-07-30 07:56] AnuragGarg89 commented on #685
swagger: '2.0'
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: qa.api.sdp.ihsmvals-dev.com
basePath: /
tags:
  - name: web-mvc-endpoint-handler-mapping
    description: Web Mvc Endpoint Handler Mapping
	/actuator:
    get:
      ta

[2018-07-30 08:09] rubms commented on #644
With the merge of https://github.com/OpenAPITools/openapi-generator/pull/646 this issue is now fixed.

[2018-07-30 08:09] #644 closed

[2018-07-30 09:09] bjgill commented on #648
Fixed by #650

[2018-07-30 09:09] #648 closed

[2018-07-30 09:14] bjgill opened #688 "[rust-server] rust-server-petstore.bat not up to date"
##### Description

In https://github.com/OpenAPITools/openapi-generator/pull/658, we added support for multiple samples. However, we only updated rust-server-petstore.sh, not rust-server-petstore.bat. We need to go back and retrofit the same set of changes.

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reprod

[2018-07-30 09:41] jmini opened #689 "Improve Java-Client Tests and CI"
Input @MatanRubin on #513:

Well the more I am confronted with changes to java-client templates, the more I think we need to do a real setup.

I theory some of the Java-Client have some tests for clients implemented (replacement of the generated stup) that perform test against some server serving the "Petstore sample". During the creation of OpenAPI-Generator, some of them were removed => #247. Th

[2018-07-30 09:43] jmini commented on #513
@MatanRubin : I have opened an other issue to discuss your tests question: https://github.com/OpenAPITools/openapi-generator/issues/689 I would appreciate some feedback there.

[2018-07-30 09:57] jmini commented on #685
I have edited your example for better readabillity...

Is really `'Map?string,Link?'` really the name of the type that you want?
This might be a valid "Swagger V2 Spec", but it looks wired to me.

Can you not rename it `LinksMap` or something similar?

[2018-07-30 10:31] AnuragGarg89 commented on #685
Map«string,Link» this is what it was in my original json

[2018-07-30 14:30] rubms commented on #582
I am also affected by this bug.

The problem comes from the https://github.com/OpenAPITools/openapi-generator/commit/a897feef50989d8b0d0238c067eebaef4f7f6c70 commit in the https://github.com/OpenAPITools/openapi-generator/pull/360 pull request. More precisely, from this change https://github.com/OpenAPITools/openapi-generator/commit/a897feef50989d8b0d0238c067eebaef4f7f6c70#diff-7cb46fa53f89a458a7b

[2018-07-30 14:32] jmini commented on #649
Wiki https://github.com/OpenAPITools/openapi-generator/wiki/Release-Checklist is updated to mention the `bin/utils/release_version_update_docs.sh` script.

[2018-07-30 15:00] jmini commented on #582
This change looks good to me! Please create a PR for it.
In the ideal case, a unit test could help to ensure no regression.

[2018-07-31 06:14] jmini commented on #665
This is not solved at all by #569.

But this is probably because [`/openapi-generator/src/main/resources/typescript-node/model.mustache`](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-node/model.mustache) seems old compared to other typescript generator templates:

* [typescript-angular](https://github.com/OpenAPITools/openapi

[2018-07-31 11:21] grEvenX opened #699 "[SWIFT4] JSON Decoding fails to parse all valid date-time values"
##### Description

The OpenAPI 3.0 specification specifies that string with format: `date-time` should match the definition of `date-time` specified in
https://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14.

The current implementation only handles date-time values that contains micro-seconds, which is per the RFC optional. The Swift 4 version of the library should support all valid date-t

[2018-07-31 12:09] jmini commented on #320
The issue in Swagger-Parser was fixed, and with PR #696 OpenAPI-Generator was updated to use a version containing the fix.

This issue reported here, should no longer appear with the newest `3.2.0-SNAPSHOT` version.
@bmordue, @andreevlex, can you check it?

[2018-07-31 12:10] jmini commented on #342
The issue in Swagger-Parser was fixed, and with PR #696 OpenAPI-Generator was updated to use a version containing the fix.

This issue reported here, should no longer appear with the newest `3.2.0-SNAPSHOT` version.
@cbornet, can you check it?

[2018-07-31 12:10] jmini commented on #455
The issue in Swagger-Parser was fixed, and with PR #696 OpenAPI-Generator was updated to use a version containing the fix.

This issue reported here, should no longer appear with the newest `3.2.0-SNAPSHOT` version.
@markus-wa, @tnmtechnologies, can you check it?

[2018-07-31 12:10] jmini commented on #177
The issue in Swagger-Parser was fixed, and with PR #696 OpenAPI-Generator was updated to use a version containing the fix.

This issue reported here, should no longer appear with the newest `3.2.0-SNAPSHOT` version.
@bmordue, @andreevlex, can you check it?

[2018-07-31 15:01] wing328 commented on #405
@Morac2 I've filed https://github.com/OpenAPITools/openapi-generator/pull/700 to add an option for generating all models:
[code]
My test result using the spec you provided looks good:
[code]

[2018-07-31 17:36] #664 closed

[2018-07-31 18:59] andreevlex commented on #177
@jmini Thank you. I haven't checked anything yet.
I'll check it tomorrow.

[2018-08-01 07:24] esoni88 opened #701 "support integer enum"
##### Description

Hi All,
is possible generate integer enum with alias value ?
For i.e

[code]
The gen raise the errore
`Exception in thread "main" java.lang.IllegalArgumentException: Cannot deserialize value of type `java.lang.Number` from String "Outright": not a valid number`

The expected result ( for i.e using java) is the following:

[code]
How can obtain this result ?

##### openapi-genera

[2018-08-01 08:02] wing328 commented on #636
https://github.com/OpenAPITools/openapi-generator/wiki/faq#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements is a good starting point for contributing to this project

What does the correct route or controller file name look like in the example you provided above?

[2018-08-01 09:29] rubms commented on #582
Just created the https://github.com/OpenAPITools/openapi-generator/pull/704 pull request in order to get this issue fixed.

[2018-08-01 12:10] and0x000 commented on #636
wrong:
[code]
Message whent trying to start the server with it:
[code]

correct:
[code]

[2018-08-01 14:24] wing328 opened #705 "Upgrade CircleCI JDK8 to a newer version to catch JavaDoc errors"
##### Description

Current JDK8 in CircleCI build won't detect the following Javadoc errors:
[code]
Current JDK version in CircleCI:
[code]

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/697#issuecomment-409573524

##### Suggest a fix/enhancement

Upgrade JDK to a new version (8.x)

[2018-08-01 14:28] wing328 commented on #689
Previously (a while ago) I suggested using our own server generator to generate a server stub that allows us to add new test cases easily.

If time permits, I may try to do that with the Rails generator or one of the PHP server generators.

[2018-08-01 14:52] wing328 commented on #636
@and0x000 thanks for the info, which is very useful in fixing the issue.

I've filed https://github.com/OpenAPITools/openapi-generator/pull/706 and my test result (tag: pet_foo_bar) looks good.

[2018-08-01 15:52] jeff9finger commented on #320
Will check this out today.

[2018-08-01 15:56] wing328 commented on #685
"Map«string,Link»" looks like the name of the type. You should replace it with something more meaningful such as "LinkMap"

[2018-08-01 16:46] jeff9finger commented on #320
When I execute the same command with the same yaml file, it does seem to execute correctly. Note: This is  without --verbose

[code]

However, when I execute the same command with "--verbose", there seem to be some issues that still need to be resolved, though probably not related to the swagger-parser issue.
[code]

Are these errors an issue? Should we create a separate issue for this?

[2018-08-01 17:22] awvio opened #707 "[Java-Play-Framework] Missing @JsonTypeInfo annotation"
##### Description

In my OpenAPI spec, I have defined a model and then two models that extend it using "allOf". I then generated Java Play Framework server code from that specification. The resulting Java class corresponding to the model being extended (in the folder "apimodels") is missing the @JsonTypeInfo and @JsonSubTypes annotations needed for proper serialization/deserialization of the subcl

[2018-08-01 18:28] jmini commented on #701
I do not think that this is possible.

[code]

Should work, but this probably not what you want...

[2018-08-01 20:03] ybelenko opened #710 "Parser optionalVars.hasMore in models"
##### Description

Found weird parser bug.
Last variable in `optionalVars` array shows `hasMore: true` which is obviously wrong.
It's even more weird that this behavior noticed only with `FormatTest`(definition: `format_test`) model withing all spec.
This bug breaks constructor function in models generation.
Mustache
[code]
Output:
[code]

Link to parser output:
https://gist.github.com/ybelenko/89

[2018-08-02 02:13] #520 closed

[2018-08-02 03:59] coin8086 opened #712 "[Python] Bug async api call producing "RuntimeError: cannot join current thread""
##### Description

There's an Python program making some asynchronous API calls by passing `async=True` to the generated default API methods. Then an exception was thrown at the end of program(no such error if no async calls):

[code]

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

https://raw.githubusercontent.com/EvanCui/hpc-acm/master/src/Swagger/swagger.

[2018-08-02 04:00] coin8086 commented on #712
See also https://github.com/swagger-api/swagger-codegen/issues/8504

[2018-08-02 04:16] wing328 commented on #712
@coin8086 thanks for reporting the issue with the details.

cc @taxpon (2017/07) @frol (2017/07) @mbohlool (2017/07) @cbornet (2017/09) @kenjones-cisco (2017/11) to see if they've any clue.

[2018-08-02 08:24] ledsun opened #713 "[ruby-on-rails] Suggest to generate Dockerfile for Ruby on Rails stub server"
##### Description

I suggest generating Dockerfile with Ruby on Rails stub server to be able to start server with short commands:

[code]

I think it Dockerfile and docker-entrypoint.sh are necessaary for this purpose.

###### Dockerfile:

[code]
Note: In this example only SQLite is considered

##### docker-entrypoint.sh:
[code]

[2018-08-02 08:36] wing328 commented on #713
@ledsun coincidentally I just start working on the same thing.

Can I take your Dockerfile and docker-entrypoint.sh and file a PR?

[2018-08-02 09:03] ledsun commented on #713
Of course you can.

[2018-08-02 09:08] davidvanlaatum opened #714 "[ruby] Exception in download_file when request fails"
##### Description

[code]

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-08-02 10:21] scorsi opened #716 "Kotlin Server Ktor 0.9.3"
Hi,

Actually, the generator support Kotlin Ktor Server 0.9.1, is there any future plan considering the upgrade to 0.9.3 ?

Thanks,

[2018-08-02 10:34] dario-frongillo opened #717 "[JAVA] field declared as array of string format date is not recognized as isDate in mustache"
##### Description

Hi All ,
i have a model in my yaml

[code]
I want to customize the template to generate a java class with a field exceptionDates declared in this way:

[code]

because the openagenerator with default template generate

[code]

and miss the @JsonFormat annotation.  My idea was to customize the pojo.mustache in order use isDate to dinamically write JsonFormat annotation

[code]

b

[2018-08-02 13:37] wing328 commented on #716
@scorsi I don't think anyone is working on that. May I know if you've time to contribute the enhancement? I can show you some good starting points.

[2018-08-02 13:42] #636 closed

[2018-08-02 13:43] wing328 commented on #636
@and0x000 the PR has been merged into master. Please pull the latest master to give it a try to use the SNAPSHOT version.

[2018-08-02 13:49] scorsi commented on #716
Yeah, please share me some good starting point like:
 - Where the repository/source is ?
 - If I understand, it's a kind of templating engine ? Is there some documentations ?

I have some projects in progress, I will see if I have the time for that.
Thanks,

[2018-08-02 14:07] #713 closed

[2018-08-02 14:35] wing328 commented on #716
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache#L11 is a good starting point.

After updating the file, please also do a "mvn clean package" locally and run the following to update the Petstore samples so that CI can verify the change:
- Windows: `.\bin\windows\kotlin-server-petstore.bat`

[2018-08-02 15:02] scorsi commented on #716
Thank you, I will take a look at this.

[2018-08-02 16:58] wing328 commented on #714
Closed via #715

Thanks for your contribution.

[2018-08-02 17:45] hemikak opened #724 "[JAVA] Doesn't not support 'encoding' field"
##### Description

I have set the content-types to the entities of my multipart payload in my yaml definition using the 'encoding' field. But content-types does not get applied in the payload when sending the request using the generated code. It seems the encoding field is not yet supported[1][2]. I debugged and it seems the generated code not actually consider the values set to the encoding field

[2018-08-02 18:46] andreevlex commented on #177
still can't generate Yandex api.

wrote to the developers Yandex.

[2018-08-03 03:00] #714 closed

[2018-08-03 03:40] fujigon opened #726 "[jaxrs-spec*] samples/server/petstore/jaxrs-spec* are not compilable"
##### Description
Sample maven projects of `jaxrs-spec`, `jaxrs-spec-interface`, `jaxrs-spec-interface-response` are not compilable.

- https://github.com/OpenAPITools/openapi-generator/tree/master/samples/server/petstore/jaxrs-spec
- https://github.com/OpenAPITools/openapi-generator/tree/master/samples/server/petstore/jaxrs-spec-interface
- https://github.com/OpenAPITools/openapi-generator/tree/m

[2018-08-03 07:47] #666 closed

[2018-08-03 07:56] wing328 commented on #666
@emreakca If you don't mind, can you contact me via the email address in my Github profile? Just a few quick questions if you don't mind.

[2018-08-03 10:54] etherealjoy commented on #604
@CyrilleBenard
It tried this today, and the changes from #631 did not help.
I will check it

[2018-08-03 11:57] fjd1234 commented on #323
So the issue seems to be that connexion doesn't support openapi v3 and a suggested solution would be to use a mustache tag that conatains v2 version. How would I do this? I'd like to use this codegen to generate python-flask code for v3 specs.

Thanks
Frank

[2018-08-03 12:13] ackintosh commented on #641
(This is just my personal opinion 😉)

I think that adopting [the adapter class workaround](https://github.com/OpenAPITools/openapi-generator/issues/641#issuecomment-408292155) to SDK generation should avoid as much as possible.

because...

- [the adapter class](https://github.com/OpenAPITools/openapi-generator/issues/641#issuecomment-408292155) is workaround
- ideally the issue should be resolved

[2018-08-03 12:18] softdays opened #727 "[typescript-angular] how to customize output filenames?"
Do someone can help me to customize output files names?

Given the tag below:
`My Resource`
I want to obtain the output file:
`my-resource.service.ts`
instead of  `myResource.service.ts`

Given the model below:
`MyModel`
I want to obtain the output file:
`my-model.ts`
instead of `myModel.ts`

Many thanks for your help

[2018-08-03 13:17] ackintosh opened #728 "Use Quality values in "Accept" request header"
##### Description

Related issue: https://github.com/OpenAPITools/openapi-generator/issues/440

In the case below:

[code]

the generated api client (e.g. python client) [selects `application/json` as Accept header](https://github.com/ackintosh/openapi-generator-1/blob/8867d2b34c6861667619359823ee1c3c45cbc963/samples/client/petstore/python/petstore_api/api_client.py#L463). but the API server accep

[2018-08-03 13:52] antihax commented on #8
I've also started digging through this and trying to resolve the changed function names. Are you actively working on this also? @bjgill

[2018-08-03 14:20] bjgill commented on #8
No - I started work in https://github.com/bjgill/openapi-generator/tree/InlineModelResolver, but am not going to have time to work on this for the foreseeable future. I'd be very happy to let you handle this.

[2018-08-03 15:00] Amoki opened #729 "[PYTHON] migration problems from swagger-codegen with PATCH call parameters"
##### Description
I migrated from swagger-codegen (too many critical fix in merge pending) but now I face a big change in generated code.
PATCH requests now require to have an instance of the object in parameters or an exception is raised

[code]

In many case, I don't care about the previous values so I never retrieve the object before the PATCH call.

I can't find when this change append. Is the

[2018-08-03 15:22] wing328 commented on #729
@Amoki Do you mind sharing the spec to reproduce the issue?

[2018-08-03 15:24] Amoki commented on #729
Sure !
You can found it here: https://api-staging.bimdata.io/doc?format=openapi

[2018-08-03 15:27] demtnt commented on #551
there problem is in line
`355: originalEnvironmentVariables[key] = System.getProperty(key)`
Map originalEnvironmentVariables could not contains nulls but getProperty returns null.

And for me it is unclear what we would like to achieve. If remember initial state and return this state after, then we need to remember not existing properties, store it in set and remove it after as well(not only chang

[2018-08-03 15:37] wing328 commented on #729
I tried with the spec you provided but in the auto-generated Python client (using OpenAPI Generator), I couldn't find `update_user`. In the spec, I did a search for update_user or updateUser (case insensitive) but no luck.

[2018-08-03 15:45] Amoki commented on #729
Oops, sorry. It was an example with common names instead of my work related names.
If found the bug with the operation `updateIfc` but it applies with with other calls

[2018-08-03 15:53] wing328 commented on #727
@softdays you will need to customize the code in order to achieve that:
API: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L454-L459
Model: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/langua

[2018-08-03 16:19] wing328 commented on #729
[code]
From the error message, looks like the function/operation has a required parameter "user" to start with.

Does the spec of that operation include a required parameter?

By reviewing the change in https://github.com/OpenAPITools/openapi-generator/pulls?q=is%3Apr+is%3Aclosed+label%3A%22Client%3A+Python%22, I don't see any PRs that impact required/optional parameters in the Python client.

You

[2018-08-03 17:00] softdays commented on #727
@ wing328 many thanks for the code highlights

See this guide for TypeScript/Angular conventions:
[https://angular.io/guide/styleguide#service-names](https://angular.io/guide/styleguide#service-names)

Do you think this could be the subject of a feature request and/or PR?

[2018-08-03 17:16] wing328 commented on #727
Thanks for sharing more.

Yes, I think we should follow the style guide.

May I know if you've time to file a PR with the correction/enhancement?

cc @TiFu (2017/07) @taxpon (2017/07) @sebastianhaas (2017/07) @kenisteward (2017/07) @Vrolijkx (2017/09) @macjohnny (2018/01)

[2018-08-03 20:38] ybelenko opened #734 "[Slim] Security samples script fails"
##### Description

Following instruction for every PR I've noticed that I cannot generate security samples anymore.

##### openapi-generator version

3.2.0-SNAPSHOT

##### OpenAPI declaration file content or url

[petstore-security-test.yaml](../blob/master/modules/openapi-generator/src/test/resources/2_0/petstore-security-test.yaml)

##### Command line used for generation

[code]

##### Steps to

[2018-08-04 05:52] softdays commented on #727
It will depend of the charge. Should the PR just be a drop-in replacement of the current camelCase strategy? Or do you prefer to setup a new option driving different strategies? I think about something similar that we already have with `modelPropertyNaming ` for example...

[2018-08-04 06:52] wing328 commented on #727
A new option is definitely more preferable as users can easily restore the
old behavior

在 2018年8月4日週六 下午1:52，Remi Patriarche <notifications@github.com> 寫道：

[2018-08-04 07:54] softdays commented on #727
Do you have any preference for the name of the new property defining the naming strategy?
Should I use the master branch (3.2-SNAPSHOT) for this job as this will be a non-breaking change?

[2018-08-04 08:28] wing328 commented on #727
For option name, I would suggest "fileNaming".

Yes, please.

[2018-08-04 19:03] etherealjoy commented on #268
Integrated with #322

[2018-08-04 19:03] #268 closed

[2018-08-04 19:36] etherealjoy commented on #637
@CyrilleBenard
Will be solved by #733

[2018-08-04 19:38] etherealjoy commented on #604
@CyrilleBenard
Will be solved by #730
See example how to use it.

[2018-08-04 19:45] etherealjoy commented on #548
@CyrilleBenard
To solve this;
In the Api class the following members should be `std::shared_ptr`
[code]
The Api class has to accept these members in the constuctor
They need to be constructed outside in a single file hosting the main function.
Pass the same router and endpoint to all Api classes from the same spec.

[2018-08-04 22:38] rienafairefr commented on #618
Don't worry, everyone is welcomed to discuss :-)

Yes, I understand that problem, in the context of php, breaking a bundle would mean creating a bundle that is not installable or usable, something like that ? Many languages have that same problem, in PR #619 I've shown a python `structure.mustache` example, which has a `{{packageName}}` folder for the package location, of course if you modify it t

[2018-08-05 08:38] wing328 commented on #734
@ybelenko thanks for reporting the issue. I've filed @739 to fix it.

[2018-08-05 16:57] wing328 commented on #726
@fujigon thanks for reporting the issue. You're right and please file a PR with the patch to fix the pom.xml to start with. We'll then work together to fix the remaining issues.

[2018-08-06 04:57] wari opened #741 "[GO] Problem with generating go client code, too many structs re-declared"
##### Description

I'm unable to run the following:

[code]

[code]

##### openapi-generator version

openapi-generator-cli-4.0.0-20180728.030217-16.jar including earlier release versions (and swagger 2.4.0 as well)

##### OpenAPI declaration file content or url

https://products.solace.com/download/PUBSUB_SEMPV2_SCHEMA_JSON

##### Command line used for generation
[code]
##### Steps to reproduce

[2018-08-06 06:49] tomi77 commented on #741
It's probably problem with tags. Creates the same code for `acl_profile` and `ms_vpn` tags.

[2018-08-06 09:02] #734 closed

[2018-08-06 10:01] johnfg10 opened #742 "[ASPNETCORE] Multiple files"
##### Description
I am trying to split my project up and in doing so I'm using $ref quite extensively but when I run the generator it does seem to build it, I suspect I'm doing something incorrect as this is the first time I've created a project with openapi 3. it generates no controllers or models.

##### openapi-generator version
3.1.2

##### OpenAPI declaration file content or url
[code]
which

[2018-08-06 10:10] #663 closed

[2018-08-06 10:18] #458 closed

[2018-08-06 10:18] bjgill commented on #659
I think this is just a duplicate of #8, so closing

[2018-08-06 10:18] #659 closed

[2018-08-06 10:19] bjgill commented on #550
OK - we've worked around one regression, and documented the other. Thanks for all the help - I think we're now ready to use openapi-generator.

[2018-08-06 10:19] #550 closed

[2018-08-06 10:20] bjgill commented on #524
I think this is likely to be a duplicate of #8

[2018-08-06 11:16] f-f opened #743 "[Clojure] Add more complex spec tests to run the generator on"
##### Description

As we figured out in #122, the current Petstore spec is not enough to test all the edge cases of the generator.

##### Suggest a fix/enhancement

As @wing328 suggested in https://github.com/OpenAPITools/openapi-generator/pull/122#issuecomment-403228826, we should start testing on the [fake petstore spec](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/opena

[2018-08-06 11:19] markus-wa commented on #455
I think it's fixed for me @jmini.

But unfortunately `2.0.2-OpenAPITools.org-1` breaks the workaround for https://github.com/swagger-api/swagger-parser/issues/764.

[2018-08-06 11:48] Amoki commented on #729
I dug a little deeper, and I was wrong.

![screenshot from 2018-08-06 11-54-39](https://user-images.githubusercontent.com/1349751/43710293-8ab04eba-996f-11e8-8252-e82417854d4f.png)
The parameter name is "data" in the swagger.

![screenshot from 2018-08-06 13-35-44](https://user-images.githubusercontent.com/1349751/43714565-abe3b2bc-997d-11e8-88b3-70084b4f88c1.png)
And it is named "ifc" in the gene

[2018-08-06 12:42] wing328 commented on #742
@johnfg10 can you try adding "./" to the path instead: `$ref: './seller.yml#/paths/get'`?

[2018-08-06 12:44] wing328 commented on #729
There's no "body" parameter in OAS3. To retain the old body parameter name, please refer to https://github.com/OpenAPITools/openapi-generator/blob/master/docs/migration-from-swagger-codegen.md#body-parameter-name

[2018-08-06 12:50] Amoki commented on #729
Oops, I missed that part.

Thank you very much :)

[2018-08-06 12:50] #729 closed

[2018-08-06 12:58] wing328 commented on #729
@Amoki no problem. Let us know if you need any help with the migration.

[2018-08-06 13:29] johnfg10 commented on #742
ahh that appears to have got it but rather than `$ref: './seller.yml#/paths/get'` i used `$ref: './seller.yml#/paths'`, thanks a lot for your help

[2018-08-06 13:29] #742 closed

[2018-08-06 14:12] wing328 commented on #742
@johnfg10 no problem. Let us know if you need further assistance.

[2018-08-06 14:19] vbs96 opened #745 "[C++][Pistache-server] Wrong "toJson" and "fromJson" method generation - compilation failed"
##### Description

The C++ generated code does not compile because of the following errors:
 1) there is no matching function for ModelBase::toJson taking as argument std::map<std::string, std::vector<Point2D>>
2) the generated code is calling "fromJson" method as it is a member of std::map type
3) the generated code is calling a set method that is not generated

These error occur in model/Detecti

[2018-08-06 14:56] demtnt opened #746 "[JAVA] [SPRING] Missed ApiUtil when generated interface only"
##### Description

`
task buildAPI(type: org.openapitools.generator.gradle.plugin.tasks.GenerateTask){
    verbose = true
    generatorName = "spring"

    systemProperties = [apis: ""]

    additionalProperties = [
            "sourceFolder"  : "",
            "interfaceOnly" : "true",
    ]

}`

Generates code:

`    @ApiOperation(value = "List all pets", nickname = "listPets", notes = "", respo

[2018-08-06 15:00] vbs96 opened #747 "[C++][Restbed-server] Compilation error from missing header "ByteArray.h""
##### Description
The Restbed server generated code includes a header file that does not exists (ByteArray.h):

From Frame.h:
[code]

##### openapi-generator version
3.2.1 (cloned the master branch)

##### OpenAPI declaration file content or url
https://raw.githubusercontent.com/deepviss/deepviss-server-example/master/src/main/resources/deep-viss.json

##### Command line used for generation
Inside

[2018-08-06 17:01] etherealjoy commented on #747
There is no remapping for ByteArray in Pistache yet.
So we have to implement this.

[2018-08-06 17:05] bocse commented on #747
@etherealjoy Can you suggest any work-around until this is implemented?

[2018-08-06 17:10] MartinDelille opened #749 "Strange default value for simple definition file"
##### Description

When I generate the documentation, I have some undesired field when they are not mentioned in the definition file.

Here is the documentation output:

[code]

Why is helloreverb the default? can we override it? Why is there a link to the apache licence?

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for gen

[2018-08-06 17:12] etherealjoy commented on #747
Sadly there is no workaround.
I made an implementation for Pistache and REST SDK in this PR #497. We need to do something like this   for Restbed

[2018-08-06 17:14] etherealjoy commented on #745
This is currently not handled. This is a map of array. But it is a small update to the mustache file.

[2018-08-06 17:16] bocse commented on #745
@etherealjoy Any way to either have this built automatically from the OpenAPI file, either using Pistache or Restbed?

I'm not sure what exactly you mean by "mustache file".

Having a manual step in an automatic build process would not be ideal, even if the update is small :)

[2018-08-06 17:18] etherealjoy commented on #745
We need to add some conditions in the mustache file to handle this , so that it will be automatic.

[2018-08-06 17:18] bocse commented on #747
Could you please advise on how to make this work on Pistache?
(We have no preference between Restbed and Pistache)

[2018-08-06 18:55] langford opened #750 "Need to port off of Circle CI 1.0 by August 31st 2018"
##### Description

Circle CI issues an warning message when doing builds stating the version we use is going to be no longer available after August 30th, 2018

##### openapi-generator version

All

##### OpenAPI declaration file content or url

https://github.com/OpenAPITools/openapi-generator/blob/master/circle.yml

##### Command line used for generation

N/A

##### Steps to reproduce

Do a build

[2018-08-06 18:55] langford commented on #750
<img width="756" alt="screen shot 2018-08-06 at 2 51 20 pm" src="https://user-images.githubusercontent.com/271309/43735503-bf99e49c-9988-11e8-891f-197aac6939b6.png">

[2018-08-06 23:47] stkrwork commented on #747
Restbed Generated code doesnt use the json.hpp file from nlohmann. It uses the boost library for the json handling.

[2018-08-07 00:10] stkrwork commented on #747
Added the fix from pistache to restbed in #752, can you try with that version?

[2018-08-07 04:05] wing328 commented on #750
@langford thanks for the reminder. We already migrated to 2.0 in the latest master: https://github.com/OpenAPITools/openapi-generator/blob/master/circle.yml#L1

For PRs opened before that, we'll rebase those so as to use CircleCI 2.0.

[2018-08-07 07:38] ymilin opened #756 "[PHP] Bug deserialize default responses as a Model"
##### Description

I'm generating clients that make use of `default` responses for other HTTP codes (implying an error). It's defined as a Model (code, message) in `definitions` in the swagger file.

[code]

After generating the client API with openapi-generator, when catching an `ApiException`, the deserialized response object `ApiException::responseObject` is empty (it is an an instance of `Erro

[2018-08-07 08:06] attrobit opened #758 "jaxrs-spec: @Path-Generation is wrong for resource-path "/""
##### Description
When we define our primary resource under path "/" (see declaration file), jaxrs-spec generates the following stub:

[code]
The generated path "/default" is wrong and the name of the interface is confusing. Additionally to that the following interface will be generated for the path "/{uuid}":
[code]

##### openapi-generator version
3.2.1-SNAPSHOT

##### OpenAPI declaration file c

[2018-08-07 08:45] #726 closed

[2018-08-07 09:40] wing328 commented on #663
@developersteve PR merged into master and you can find the change in the v3.2.0 released yesterday.

[2018-08-07 09:40] wing328 commented on #662
@developersteve PR merged into master and you can find the change in the v3.2.0 released yesterday.

[2018-08-07 09:41] hemikak commented on #724
bump!

[2018-08-07 10:06] developersteve commented on #662
Awesome thank you

[2018-08-07 10:06] developersteve commented on #663
Awesome thank you

[2018-08-07 14:27] stkrwork commented on #747
move it to a new issue please.

[2018-08-07 14:35] stkrwork commented on #747
after some investigation it seems to be part of the same issue, so you can keep it in here.

[2018-08-07 14:43] stkrwork commented on #747
Make a new issue for it, it seems to be not connected to this issue

[2018-08-07 14:49] vbs96 opened #760 "[C++][Restbed-server] Compilation error from missing function call parameter"
##### Description
The following compilation error occurs when I'm trying to compile a Restbed server from the given specification:
[code]

##### openapi-generator version
3.2.1(latest master branch with PR #752)

##### OpenAPI declaration file content or url
https://raw.githubusercontent.com/deepviss/deepviss-server-example/master/src/main/resources/deep-viss.json

##### Command line used for gene

[2018-08-07 15:07] #747 closed

[2018-08-07 15:21] prathik457 opened #763 "Generating python client using asyncio library does not generate examples showcasing the usage of asyncio"
##### Description

I am planning to use asyncio in a python client and I see that documentation is not provided for the usage of asyncio

##### openapi-generator version

3.2.0

##### OpenAPI declaration file content or url

##### Command line used for generation

[code]
##### Steps to reproduce

I checked the main readme.md and also the docs to check for the documentation of asyncio

##### Relate

[2018-08-07 17:02] wing328 commented on #763
@prathik457 thanks for reporting the issue. We can update the code sample according for other libraries "asyncio", "tornado".

Let's start with one method: https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python-asyncio/docs/PetApi.md#get_pet_by_id
[code]

What should be the correct looks like so that we can fix the mustache template accordingly?

cc @taxpon (2

[2018-08-07 19:23] #142 closed, assigned to jimschubert

[2018-08-07 20:08] jimschubert commented on #551
@FatCash I've opened #764 to address this issue. Sorry it took a while- it's been a busy month.

[2018-08-07 23:51] ybelenko opened #766 "[Slim] Injection into host or basePath breaks server"
##### Description

Injection into `host` and `basePath` breaks Slim server.

##### openapi-generator version

3.2.1-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

[code]
then
[code]

##### Related issues/PRs

##### Suggest a fix/enhancement

Any solution could work:
* Escape quotes in `{{{basePathWithoutHos

[2018-08-08 00:35] ybelenko commented on #766
After small investigation, I've found that double quote `"` is escaped in both variables, but single quote `'` isn't escaped.

Of course, I can change my mustache template to use double quotes:
[code]
or even use encoded mustache variables:
[code]
But it's a half-measure because user can write own template and encounter the same issue over and over again.

I think best solution is to escape single

[2018-08-08 08:00] grokify commented on #23
Here is a SVG:

![](http://grokify.github.io/images/logo_openapi-generator.svg)

[2018-08-08 09:44] CyrilleBenard commented on #637
Unfortunately there is another condition in which this bug occurs. I just found it using a heavy YAML file. Below a minimalist YAML file to reproduce it.

If one path uses a model content and a second path **below** the first one does NOT need a model, the generator still insert the line _using namespace xx::yyy::model_ without any corresponding include file.

See below the YAML file to reproduce

[2018-08-08 14:11] CyrilleBenard opened #768 "[C++][Pistache-server] Query parameter Type is not well handled (if not string)"
##### Description

When the OpenApi file describes a parameter inside the query, the generator produces the corresponding  code with a wrong type handled (if the current type is not string, for example integer).

The generated **handler** for the query looks like :
[code]

The  generated _check_query_param_ method prototype looks like :
[code]

But the **handler** described above call this method

[2018-08-08 17:07] JFCote commented on #582
Fixed by https://github.com/OpenAPITools/openapi-generator/pull/704

[2018-08-08 17:07] #582 closed

[2018-08-08 18:04] cognifloyd commented on #579
I looked to see if nullable was set injected into the templates, but it's not. A couple of the templates use `x-nullable`, which gets passed in thanks to the vendor `x-` prefix. I don't have time or inclination to deal with the Java side of this. If someone wants to add injecting nullable into templates, then I'd be happy--assuming I can find some time--to take care of the handlebar template + pyt

[2018-08-09 04:29] wing328 commented on #611
What about adding an option to let you choose the parameter naming? Something like the following:

[code]

[2018-08-09 07:57] wing328 commented on #551
THE fix (#764) by @jimschubert has been merged into master. Please give it a try using the SNAPSHOT version, docker image or building the project locally.

[2018-08-09 07:57] #551 closed

[2018-08-09 08:52] FatCash commented on #551
Thank you @jimschubert and @wing328
I confirm that jims latest commit works for gradle. This is the syntax to generate models only:
[code]
models: "true" does not work because it thinks thats a model name. Can live with that!

[2018-08-09 09:14] hyronx opened #772 "[Javascipt] ReferenceError: ca is not defined"
## [Javascipt] ReferenceError: ca is not defined

##### Description

In the generated Javascript ApiClient.js:405
[code]
the last `ca` variable is not defined.
This breaks the whole client if `this.ca` is defined.

##### openapi-generator version

`org.openapitools:openapi-generator-gradle-plugin:3.1.2`

##### Command line used for generation

` ./gradlew :openApiGenerate`

##### Suggest a fix/enh

[2018-08-09 09:30] hyronx commented on #772
My fault, I forgot to update my node_modules.

[2018-08-09 09:30] #772 closed

[2018-08-09 09:38] albator1932 commented on #635
Nobody even acknowledge that there is indeed an issue with the C# generator being broken?

[2018-08-09 12:39] CyrilleBenard opened #773 "[C++][Pistache-server] Model file is not generated if its defintion is stored in an external yaml file"
##### Description

The generator does not produce the corresponding model file in case the "type" is defined, not in the "main" YAML file but outside in an external YAML file.

The include file directive is well generated in the source file but the header file does not exist so that the compilation failed.

The compilation error looks like :

[code]

**NOTE**: If the content of the external YAML f

[2018-08-09 15:58] wing328 commented on #635
@albator1932 let me look into this...

[2018-08-09 16:00] albator1932 commented on #635
While browsing the pull requests I found out that Jim made the same observation: https://github.com/OpenAPITools/openapi-generator/pull/737

[2018-08-09 16:06] bjgill commented on #8
OK - the following (v2) definition was fixed by #736 (thanks @antihax!):

[code]

However, the following still doesn't seem to work (at least for `rust-server`):

[code]

[2018-08-09 17:26] wing328 commented on #635
@albator1932 I've filed https://github.com/OpenAPITools/openapi-generator/pull/774. Please review when you've time.

[2018-08-10 02:30] pgnaleen opened #776 "How can i integrate my access token generation and refreshing code into client auto generated code."
##### Description

there is a API gateway middle of the Rest Service and my client. So i need to connect to that API using access token. So that access token generation and refreshing part i need to add into auto generated client code.

##### openapi-generator version

3

[2018-08-10 03:46] pgnaleen commented on #776
i added template directory like following but not working in eclipse

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>org.openapitools</groupId>
    <artifactId>sample-project</artifactId>
    <

[2018-08-10 03:48] pgnaleen commented on #776
<configuration>

                            <inputSpec>${project.basedir}/swagger.yaml</inputSpec>
							<templateDirectory >${project.basedir}/templates</templateDirectory>

this not working so added folllwing still not working

<configuration>

                            <inputSpec>${project.basedir}/swagger.yaml</inputSpec>

                            <generatorName>java</generatorName>

[2018-08-10 03:53] fujigon opened #777 "[Java][jaxrs-jersey] It's nice if we have samples with jaxrs-jersey + openapi v3"
##### Description
Currently, it seems that there's no jaxrs-jersey + openapi v3 example.
https://github.com/OpenAPITools/openapi-generator/tree/master/bin/openapi3

It's nice if we have for not only showing how to, but also CI tests.

##### openapi-generator version

current master (987fd7704237c305a41934964352e2d5b50a879d)

##### OpenAPI declaration file content or url

N/A

##### Command line us

[2018-08-10 07:10] developersteve opened #781 "[Ruby] multi line path description breaking gem if 'in' appears"
##### Description

Ruby generation breaking if 'in' is in any path multi line description, only seems to be ruby that has an issue language wise.

##### openapi-generator version

3.2.0

##### OpenAPI declaration file content or url

[code]
##### Steps to reproduce

Generate ruby lib then try to use it, for any description text on a new line the text wont be parsed

##### Suggest a fix/enhancement

[2018-08-10 07:58] wing328 opened #782 "[Julia] Add a Julia client generator"
##### Description

We want to add a new generator for Julia client. A good starting point is https://github.com/JuliaComputing/Swagger.jl

Ref: https://julialang.org/

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to let us know.

cc @log0ymxm, @tanmaykm

[2018-08-10 08:25] albator1932 commented on #635
Looks like it's good, I regenerated the client from our project and there is no more enumeration problems, good job!

I do have issues with float values though, they are missing a "f" so it's not confused with double. Not sure if it's related, going to dig this a bit if I have some time today.

[2018-08-10 08:26] wing328 commented on #635
@albator1932 do you mean float value in enum? or just float in general (model properties, parameters)?

[2018-08-10 08:40] albator1932 commented on #635
It is always in model properties afaik, for instance I do have this JSON generated in my API:
[code]

And the generated C# result will be:

[code]

[2018-08-10 08:59] wing328 commented on #635
@albator1932 thanks for the details. Please open a separate issue if you don't mind.

For this PR, if @jimschubert has no concern, I'll merge it later tonight.

[2018-08-10 08:59] albator1932 commented on #635
Sure, will do.

[2018-08-10 09:12] albator1932 opened #783 "[C#] Issues with float type in models"
It is always in model properties afaik (at least that's where I have the issue), for instance I do have this JSON generated in my API:
[code]
And the generated C# result will be:
[code]
which gives these errors:
[code]

The generated C# code should be:
[code]

[2018-08-10 12:56] jimschubert commented on #635
@wing328 what PR are you referring to? Looks like you've merged the enum one, and I don't see one for the float issue mentioned.

[2018-08-10 13:02] wing328 commented on #635
@jimschubert https://github.com/OpenAPITools/openapi-generator/pull/774 (still open)

For the float issue, I've not filed any PR yet.

[2018-08-10 20:31] gbrown-ce opened #785 "[Typescript-Node] Date formatting using Date.toString instead of Date.toISOString()"
##### Description

When dealing with dates in the generator it formats a date with the javascript toString method (which looks like this:

"Wed Oct 05 2011 10:48:00 GMT-0400 (Eastern Daylight Time)"

Rather than the more standardized toISOString() method:

"2011-10-05T14:48:00.000Z"

This makes dealing with dates tricky in different scenarios we have come across.  The Angular client already proper

[2018-08-11 03:34] #635 closed

[2018-08-11 03:35] wing328 commented on #635
@albator1932 PR merged into master. Thanks again for reporting the issue and sorry for the delay in fixing it.

[2018-08-11 06:57] wing328 opened #788 "[Code Analysis] Report by sonarcloud.io"
##### Description

The code analysis report by https://sonarcloud.io/project/issues?id=org.openapitools%3Aopenapi-generator-project&resolved=false&types=BUG uncovers some bugs and vulnerabilities.

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

@ymohdriz is very kind to offer help to fix the bugs in the report. If anyone wants to help out (e.g. fixing the vulnerab

[2018-08-11 07:44] jmini commented on #689
@wing328: Thank you for this feedback, but I would like to have something 100% java. Each unit test for the java-client should looks like this:

* Small server started
* Expected behavior defined (expected call defined in the server, expected response send by the server for this request)
* Call made with the generated java-client code
* Assertions on the request that the server got and client-side

[2018-08-11 08:50] softdays commented on #727
@wing328: at the moment, the names of the imported classes are deduced from their file names. This causes some trouble with the new _dash-case_ strategy.

Let's take an example. Given the following resource tag name: `MY Resource AAA`.
The generated service name will be `MYResourceAAAService`

With default _fileNaming_ property value (i.e. original code using camelCase) we got the following filena

[2018-08-12 14:43] wing328 commented on #758
Closed via #771. Thanks @attrobit for the fix.

[2018-08-12 14:43] #758 closed

[2018-08-12 20:10] TiFu opened #793 "[OAS 3.0.0] Variables in "servers" object"
##### Description

The generator currently produces the following output for `-DdebugSupportingFiles`:

[code]
for the following input:

[code]
([full spec](https://gist.github.com/TiFu/086608e56d01c685e03a275e72557314)

AFAIK mustache does not allow iterating objects (Correct me if I'm wrong - I tried a lot of different combinations and couldn't get it to work).
This is problematic because the en

[2018-08-13 02:14] pgnaleen commented on #776
anyone please help me.

[2018-08-13 03:52] wing328 commented on #776
`<templateDirectory>` should be the same level as `<generatorName>`

`<configOptions>` refers to generator-specified options

[2018-08-13 05:09] pgnaleen commented on #776
this is pom again
<execution>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                        <configuration>

                            <inputSpec>${project.basedir}/swagger.yaml</inputSpec>

                            <generatorName>java</generatorName>
							<templateDirectory >${project.basedir}/templates</templateD

[2018-08-13 05:28] #783 closed

[2018-08-13 05:28] wing328 commented on #783
@albator1932 PR merged into master. Please give it another try and let me know if you still face the same issue.

[2018-08-13 07:01] michbeck100 opened #795 "[JAXRS-spec] Use Microprofile Openapi annotations instead of swagger"
##### Description

Moving forward to OAS 3.0 the openapi-generator should have the option to switch from Swagger annotations in the generated code to annotations from the [Microprofile OpenAPI Specification](https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc).

[2018-08-13 07:17] pgnaleen commented on #776
hello i created java custom generator. please send me how can i use that in pom.xml to generate apiClient

this is command i used.
java -jar modules/openapi-generator-cli/target/openapi-generator-cli.jar meta \
  -o out/generators/my-codegen -n my-codegen -p com.my.company.codegen

then copied all java templates. then mvn package
custom java-generator created but please kind enough to send me suit

[2018-08-13 08:36] macjohnny commented on #727
In this way we can deduce the names of the imported classes from their files names.

this could lead to potential problems. file names and class names *can* differ. if i remember correctly, there were PRs that explicitly introduced this feature.

[2018-08-13 09:30] yuanpli opened #796 "[java] "additionalProperties: true" for free form object in directory/map is not working"
##### Description
I am using openapi-generator-maven-plugin to generate the model pojo beans, but the hashmap object is not generated correct if "additionalProperties: true" introduced in declaration file.

##### openapi-generator version
[code]

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation
mvn clean compile

##### Steps to reproduce
The maven pom.xm

[2018-08-13 10:55] softdays commented on #727
Ok I understand.

Another way could be to extend the _imports_ model to add a class name in addition to the import path. What do you think about it?

[2018-08-13 11:45] emreakca opened #797 "[GO] Bad Multiple Authentication Key setting"
##### Description

Multiple Authentication settings won't work, since the API is setting the same key for multiple Headers.

##### openapi-generator version

3.1

##### OpenAPI declaration file content or url
in yaml:
[code]
in go:
[code]

[2018-08-13 11:49] srividhyak27 opened #798 "Java enums are not generated correctly"
Using openapi-generator-maven-plugin 3.1.2

    EventType:
      anyOf:
      - type: string
        enum:
          - "A"
          - "B"
          - "C"
          - "D"
      - type: string

Enum is generated as a class EventType and contains only the basic equals, toString and hashCode methods. The values not not available in the class.

[2018-08-13 12:05] jmini commented on #798
Can you tell the generator and the library you are using?

[2018-08-13 12:12] jmini commented on #795
Yes this would be great...

Related discussion is #27 and the more I participate in the MicroProfile Project, the more I am convinced that it is the way to go.

---

My approach was more: we could propose a new generator for MicroProfile (also based on `AbstractJavaJAXRSServerCodegen` but with new templates). The more I think about it, the more I think that it will take some time to reach the matu

[2018-08-13 12:14] jmini commented on #372
Can you maybe open a new issue (can be related to this one) where you post all the requested elements to reproduce the problem?

[2018-08-13 12:17] michbeck100 commented on #795
Currently my approach is to remove the swagger annotations by using a boolean switch in the mustache templates. Because the microprofile openapi spec allows to merge YAML API definition with annotations, it is enough to have just the YAML definition together with the generated code.

[2018-08-13 12:19] jmini commented on #796
Related issue: #409 (this was only handling the case `additionalProperties: false`)

Can you post some examples of the expected changes to the generated code? I guess you expect something else for `MapTest1`, `MapTest2` or `MapTest3`. More description would help.

[2018-08-13 13:46] jmini commented on #795
I did not understood your last point:

[2018-08-13 13:54] michbeck100 commented on #795
The Microprofile OpenAPI specification allows to have just the API definition as single YAML file without any annotations in code (see [here](https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#documentation-mechanisms)):

[2018-08-13 14:01] michbeck100 commented on #795
And this [section](https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#45-processing-rules) describes merging the YAML with annotations.

[2018-08-13 16:03] srividhyak27 commented on #798
I am using openapi-generator maven plugin, version 3.1.2
generator is jaxrs-jersey

Below is my configuration for maven plugin.  [I have changed the actual package/yaml names  below].

[code]

Thanks,
Srividhya