[2019-08-20 18:28] fuzzzerd commented on #3694
To be clear, I am using the generated client as an npm package, just not one that is published to public npm repository. My package.json looks like this:

[code]
Having said that, as it stands today in master, the `package.json` points to `./dist/index.ts.d` and `./dist.index.js` respectively, but the build script generates `./dist/src/index.ts.d` and ./dist/src/index.js`. One of them needs update

[2019-08-20 18:35] deluksic opened #3708 "[BUG] [typescript-fetch] Configuration class fails on strict mode"
`Configuration` class from `runtime.ts` doesn't transpile if `tsconfig.ts` set to `strict: true`.

Specifically, `| undefined` should be added to these methods:
[code]

[2019-08-20 18:52] macjohnny commented on #3694
when changing into the generated package and building with
[code]
I get
[code]
which seems correct.

concerning the docs, you are right, documentation of the usage of the generated code could be improved, but please have a look at the generated [Readme](https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/typescript-fetch/builds/with-npm-version/README.md)

[2019-08-20 19:22] deluksic opened #3709 "[BUG] [typescript-fetch] Correctly handle number response"
When generating code from a path like this:
[code]

A type checking error is encountered:
[code]

Suggest adding a response handler, something like this to `runtime.ts`:
[code]

[2019-08-20 19:24] macjohnny commented on #3705
@deluksic would you like to implement an option similar to the typescript-angular client?
see

https://github.com/OpenAPITools/openapi-generator/blob/4575b3074ab6f2628837ca84ed5c287f2afaceee/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L89
https://github.com/OpenAPITools/openapi-generator/blob/4575b3074ab6f2628837ca84ed5c287f2afacee

[2019-08-20 19:25] macjohnny commented on #3708
this has been fixed with https://github.com/OpenAPITools/openapi-generator/pull/3605

[2019-08-20 19:25] #3708 closed

[2019-08-20 19:27] macjohnny commented on #3701
@bruceharrison1984 thanks for reporting.
would you like to implement a fix for this? I can point you to the relevant files, it should be somewhere here:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache

[2019-08-20 19:32] macjohnny commented on #3701
see also
https://github.com/OpenAPITools/openapi-generator/blob/8231cbfe81fef8082c5733376a6ede6d3d91ca41/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java#L253-L308

[2019-08-20 19:36] fuzzzerd commented on #3694
I may have spoke out of turn. I am not able to reproduce my issue of having `/dist/src/...` in the output.

I think my issue might be related to adding of the sub folder `src` and me not knowing that happened, so running subsequent updates still had my old generated client. Let me do more a bit more digging and see if I can't get it working with a clean slate.

I'll close the issue if its an issue

[2019-08-20 19:47] macjohnny commented on #3709
I think this is the same problem as in https://github.com/OpenAPITools/openapi-generator/issues/2870

@deluksic would you like to implement a fix?

[2019-08-20 20:25] fuzzzerd commented on #3694
I was able to get things working, there were two things I had to change.

1. I had to remove the `./` from the "main" and "typings" entries in package.json -- this is in line with the other package.json files in I found my node_modules. I'm not sure what's correct though.

With the client as-generated, when I did an `npm install path-to-generated-client` the reference was added to my `package.json

[2019-08-20 20:46] fuzzzerd commented on #3694
FWIW: the error I get at run time, is this:

as mentioned above, changing the generated tsconfig.json to `"module": "esnext"` clears this up. I'm thinking perhaps its related to webpack dynamic importing?

[2019-08-20 21:24] fuzzzerd commented on #3694
I also found this: suggesting `esnext` is more appropriate for client side apps: https://mariusschulz.com/blog/dynamic-import-expressions-in-typescript

[2019-08-20 21:26] jmini commented on #3276
I agree with that. And this might be the problematic point back then (I think Jackson was updated in-between).
When the entity is `null` (especially for Jersey2 client), I think that the solution is to send an empty string as body.

---

I guess I have found how to formulate the expected behavior when no `request-body` is defined in the OpenAPI spec:

* The header `"Content-Length"` must have valu

[2019-08-20 21:55] kevinoid commented on #3276
Thanks for the additional investigation @jmini!  I agree about the test suite.  Great addition!

I would expect most request libraries have a way to make a request without a body (e.g. [`okhttp3.Request.Builder.delete()`](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-request/-builder/delete/) without arguments for OkHttp) so you wouldn't have to set the headers explicitly.  However, I agree

[2019-08-20 22:14] Nxtra commented on #2764
I use the gradle plugin to generate my java classes based on a `openAPI.yml` file (openAPI spec `3.0.0`).
In my generated classes I find the import `io.swagger.annotations.ApiModelProperty annotation`.
This comes from `io.swagger:swagger-annotations`.

How can I make it so that the generated classes use the annotations from the newer an maintained `io.swagger.core.v3:swagger-annotations` ?

[2019-08-20 22:38] cjc343 opened #3712 "[BUG][Java][native] Client - wrong Content-Type, double-quoted payload"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
https://github.com/cjc343/wrapped-string
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
4.1.0
- [x] Have you search for related issues/PRs?
Possibly: #3672
- [x] What's the actu

[2019-08-20 22:59] 414004738 opened #3714 "[BUG][C#][csharp-netcore] Authentication doesn't work if there are multiple security definitions"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-21 00:59] prisoneroftech commented on #3414
I started a somewhat related change in swagger-codegen that I want to bring over to openapi-codegen. It only applies to kotlin-cli so far, though.
Here is the related PR in swagger-codegen. The code for openapi is very very similar.

https://github.com/swagger-api/swagger-codegen/pull/9656

What do you think about bringing this part over? It is just for the client but at least it brings some gson

[2019-08-21 02:21] #3700 closed

[2019-08-21 03:45] wing328 opened #3716 "[Dart] compilation error with dart2 petstore"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-21 06:14] macjohnny commented on #3694
@fuzzzerd

this is the reason why the generated api client should be either
 - compiled and published, which allows it to be consumed independently of the `module` setting, or
 - used in your code, without the generated `tsconfig.json`, but this increases the requirement for the generated code to adhere to your project setup/tsconfig.json

you can also specify the `tsconfig.json` in `.openapi-gene

[2019-08-21 06:26] wing328 commented on #3716
Fixed by removing build_runner

[2019-08-21 06:26] #3716 closed

[2019-08-21 06:42] jmini commented on #3276
I am speaking from the expectation at test suite level, the library should take care of this stuff.

---
The code generated by OpenAPI-Generator is just about using the HTTP-Library in an correct & opinionated way (this is more or less the role of `ApiClient`) and creating convenient methods to call each of the endpoints described in the spec.

[2019-08-21 07:00] erik-telesoftas commented on #2645
This workaround works for single enum field
`        "right" : {
            "type": "string",
            "enum": [
              "FOO", "BAR"
            ]
        },
`
but does not work for array of enums
`        "rights" : {
          "type" : "array",
          "items": {
            "type": "string",
            "enum": [
              "FOO", "BAR"
            ]
          }
        },
`

[2019-08-21 07:18] Marvin1912 opened #3718 "[BUG] Values of instantiationTypes not considered"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
[code]
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
4.0.1 (`org.openapitools:openapi-generator-gradle-plugin:4.0.1`)
- [ ] Have you search for related issues/PRs?
- [x] What's

[2019-08-21 07:29] bbdouglas commented on #3712
Hi @cjc343 , thanks for logging this bug and creating a test case to show the issue. As you noticed, the native HttpClient generator at the moment only supports JSON-formatted payloads, not `text/csv`.

In looking at the Jersey version of the generated code, it seems that it is leaving it up to Jersey to do the serialization in this case, as can be seen in the Jersey2 mustache template.

https://g

[2019-08-21 08:08] jmini commented on #3276
IMO and according to my tests, the `ApiClient` of `okhttp-gson` is already doing what it should in case the body is null:

https://github.com/OpenAPITools/openapi-generator/blob/10a310ef69d49742405b4b520b1d53b20b16e845/samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java#L1084-L1091

So it is safe to set `Object localVarPostBody = null` instead of `Object l

[2019-08-21 08:16] hatzlj commented on #3432
ok, i will try to do so as soon as possible

[2019-08-21 08:32] bkabrda commented on #3276
I've just hit an issue with Jersey client that is very related to this IMO - it's not possible at all to send payloads with DELETE requests. While the HTTP spec says that semantics of DELETE payload is undefined, there is nothing that strictly prohibits sending payloads with DELETE requests (and I'm actually generating a client for API that needs payloads on DELETE :/ ).

I think this should be al

[2019-08-21 08:35] jmini commented on #3276
I found an other issue with `google-api-client`:

When the request body is not defined in the OpenAPI Spec, the generated code is:
https://github.com/OpenAPITools/openapi-generator/blob/10a310ef69d49742405b4b520b1d53b20b16e845/samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/FakeApi.java#L99

This is wrong, the request send to the server is:

* `Content-Leng

[2019-08-21 08:41] wing328 commented on #3414
Sure, we definitely welcome that. Let us know if you need help with the PR.

[2019-08-21 08:54] jmini commented on #3276
@bkabrda: can you open an other issue for that? yours is related, of course but not the same.

[2019-08-21 09:05] bkabrda opened #3719 "[BUG][Java][client] Not possible to send payloads on DELETE requests"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-21 09:25] jmini commented on #3719
My test suite (see https://github.com/OpenAPITools/openapi-generator/issues/689#issuecomment-522919341) did not catch this case, probably because of https://github.com/jamesdbloom/mockserver/issues/663

---

Just using `invocationBuilder.method("DELETE", entity);` is sufficient in my opinion after my fixes in https://github.com/OpenAPITools/openapi-generator/pull/3703

---
[code]

Is necessary to

[2019-08-21 09:50] jmini opened #3720 "[java-client][resteasy] use real PATCH instead of POST with "X-HTTP-Method-Override""
For PATCH call, the `resteasy` client should use a real "PATCH" method instead of using "POST" with "X-HTTP-Method-Override"

Example spec:

[code]

Code that must be changed:

https://github.com/OpenAPITools/openapi-generator/blob/10a310ef69d49742405b4b520b1d53b20b16e845/modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache#L665-L666

[2019-08-21 10:18] #3682 closed

[2019-08-21 11:06] JFCote commented on #3694
@fuzzzerd May I suggest we close this issue and continue this conversation in the chat room. Core members, template generator and users should be able to answer your questions.

https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM

I think your main problem is not an OpenApi Generator bu

[2019-08-21 11:48] jmini commented on #3719
As discussed with @bkabrda, I am integrating this patch in #3720
https://github.com/OpenAPITools/openapi-generator/pull/3703/commits/354b62b4a47e3e71bbebae3499dea14dec5fb8ce

---
`resteasy` has the same issue also fixed with #3720

[2019-08-21 11:49] jmini commented on #3720
Fixed with #3720

[2019-08-21 11:51] jmini commented on #3276
@kevinoid I have now updated all the points discussed here with PR #3703.

[2019-08-21 12:23] siada commented on #3618
@deluksic I already fixed that in PR #3607 this issue has been opened as a discussion from that

[2019-08-21 12:45] siada opened #3721 "[REQ][typescript-inversify] Add option to specify namespaces"
### Is your feature request related to a problem? Please describe.

I've used the openapi-generator to produce two separate typescript-inversify client's on a single project, however I can't find a way to specify different instances of the IAPIConfiguration per-project.

## Describe the solution you'd like

I'm suggesting the ability to add namespaces in the config/parameters for typescript-invers

[2019-08-21 12:58] siada commented on #3705
This is already handled in typescript-inversify if you specify `UseRxJS6: true` in a config.yml, and add `-c config.yaml` to your `openapi-generator generate` call it will generate correctly

[2019-08-21 13:02] macjohnny commented on #3705
@siada great, so we can close this.

[2019-08-21 13:02] #3705 closed

[2019-08-21 13:10] kevinoid commented on #3276
Looks great @jmini.  Thanks so much for all of your effort on this!

[2019-08-21 13:16] JFCote commented on #3694
Closing this issue and continuing discussion in chat. If we found a real problem, let's create a new issue with the problem.

[2019-08-21 13:16] #3694 closed

[2019-08-21 13:34] prisoneroftech commented on #3414
Sounds good. Should I create a separate issue to make it Kotlin client specific or associate the PR with fix_issue3414

[2019-08-21 13:38] #3702 closed

[2019-08-21 14:21] jamesrusso commented on #3595
I've done a PR to fix the underlying issue of UserAgent not being set on Async calls. I still would like to have a discussion about the circular dependency between the Configuration object holding the RestClient which itself creates the Configuration object.

Basically, if you try and reference the Configuration in the constructor of the ApiClient you'll get a null point exception.

[2019-08-21 14:38] EdwardTremblay opened #3724 "[Question] OpenAPI v3 support in OpenAPI Generator"
First of all, thanks for this wonderful project.

I notice OpenAPI specification v3 is generally supported in this project but there are many new features in OpenAPI specification v3 such as oneOf, anyOf are still missing proper implementations in most generators. We plan to use OpenAPI Generator and want to know how many of these new features we can utilize when creating the specifications to des

[2019-08-21 15:02] wing328 commented on #3724
Thanks for the kind words and the questions.

You're right in saying that we're adding better support for new OpenAPI spec (OAS) v3 features gradually to different generators one by one and it will take time to fully cover all these new features even just in the popular generators (e.g. Java, C#, Ruby, etc).

Both the community and the project (core) team have been helping with PRs for better OAS

[2019-08-21 15:07] 414004738 opened #3725 "[BUG][C#] Model properties are generated as non-nullable after 4.1.0 release"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-21 15:08] 414004738 commented on #3725
Note that this seems to be an issue for both the csharp and csharp-netcore generators

[2019-08-21 15:10] EdwardTremblay commented on #3724
Thank you for the quick response.

I'll discuss with my team to see if we are going to make some contributions to better support the missing new features in OpenAPI specification v3.

[2019-08-21 15:31] swillis12 commented on #3383
Thanks @macjohnny for the suggestion. If possible I would like to avoid adding a dependency on RXJS for this.

Right now we have a large codebase that uses the above Axios service layer with a cancel token added to a [CANCEL] property on the promise. Service calls can be used in our Redux Sagas and cancellation is handled automatically by the TAKE_LATEST effect. In other parts of the code these sa

[2019-08-21 15:36] swillis12 commented on #3382
Thanks @macjohnny, that was a great idea. I was able to script this and it is working well for me. I will leave this open since this would still be an intuitive feature for other people that are in the same boat as me (written a service layer already and just need generated types).

I will continue using only the generated models until I get the time to write a template that supports adding an Axi

[2019-08-21 15:41] swillis12 commented on #3382
@wing328 Is there a good example of using the `-t` option to customize or extend an existing template? Does this require making a copy of the `axios-typescript` template as a whole and then doing modifications thereafter?

[2019-08-21 15:44] macjohnny commented on #3383
@swillis12 would you like to file a PR to implement this feature?

[2019-08-21 16:03] swillis12 commented on #3383
@macjohnny I will most-likely try using the `-t` option as a first-step. Do you know of a good example that I could follow to do this (preferably js or typescript)? Also does `-t` allow extending of existing templates or would copy the `axios-typescript` template (for example) and add my changes to it?

After exploring a custom template I may make a contribution to the project, but so far I haven'

[2019-08-21 16:09] wing328 commented on #3725
@414004738 please try `x-nullable: true` in OAS 2.0

[2019-08-21 16:11] macjohnny commented on #3383
-t allows you to provide single files in a folder, while for the rest of the templates it will fall back to the ones shipped with openapi generator

[2019-08-21 16:12] swillis12 commented on #3383
I will give that a try! That's awesome I did not realize that. I can try this out and then if I can think of a feasible way to contribute passing a cancel token as a feature then I'll open a PR.

[2019-08-21 16:43] wing328 commented on #3414
Referencing the PR to this issue is fine.

[2019-08-21 17:41] 414004738 commented on #3725
Hi @wing328. Thanks for the response.

Manually adding `x-nullable: true` did seem to work. However, we are using swashbuckle to generate the OAS 2.0 JSON files for our C# .net core services and springfox to do the same for our spring boot java services, which don't seem to include the `x-nullable: true` property in the generated JSON. Do we have to customize the output of these libraries somehow

[2019-08-21 18:35] JFCote commented on #1374
I confirm what @mrbatista is saying. I have a spec to reproduce that looks almost identical to his so I will not copy it.
@wing328 Is there a PR somewhere to address this problem? It is blocking me to move to OpenApi V3 (because OpenApi V2 doesn't have this problem).

[2019-08-22 05:32] jmini commented on #3718
I am not sure if the `instantiationTypes` were ever used for default value, but this would be a great addition (more a feature than a bug).

---
I think it is safe to replace:

https://github.com/OpenAPITools/openapi-generator/blob/4575b3074ab6f2628837ca84ed5c287f2afaceee/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java#L722-L727

With:
`final Str

[2019-08-22 05:59] #1998 closed

[2019-08-22 06:20] jmini commented on #689
To put it in an other way:

My goal with this OpenAPI-Generator test suite (that will probably be different from the proposed PoC focusing only on Java) is to test the complete cycle:

an OpenAPI Spect as intput -> OpenAPI-Generator generates a client that compiles -> given some input parameters for one operation -> the request must arrive server side correctly -> and given a response from the ser

[2019-08-22 06:32] wing328 commented on #3725
PM me via [Slack](https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM) when you've time.

[2019-08-22 07:35] wing328 commented on #1374
I don't think anyone has opened one yet.

[2019-08-22 07:50] #3276 closed

[2019-08-22 07:50] #3719 closed

[2019-08-22 07:50] #3720 closed

[2019-08-22 08:04] wing328 commented on #1374
I'm able to workaround the issue using $ref in the multipart/form-data as follows:
[code]

(the issue has nothing to do with multiple endpoints as I could repeat the issue with just the `path1` endpoint)

We need to fix the issue in the `InlineModelResolver.java` to flatten the inline schemas defined in `content`

[2019-08-22 08:30] deluksic commented on #3709
Sorry for a late reply, I have just started to get into OpenAPI and I have little experience with java. I can look into it over the weekend and see if I can do it.

[2019-08-22 08:33] deluksic commented on #3705
Great thank you for explaining! :+1:

[2019-08-22 09:01] wing328 commented on #2908
@Doxoh would the following help?

https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2019-08-22 09:03] wing328 commented on #2864
You can customize the Java client generator to name it in whatever way you want.

PM me via [Slack](https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM) if you need help on that.

[2019-08-22 09:03] #2864 closed

[2019-08-22 09:04] #2842 closed

[2019-08-22 09:05] wing328 commented on #2844
Are you suggesting only the first tag should be considered if multiple tags are present?

[2019-08-22 09:14] #2828 closed

[2019-08-22 09:15] wing328 commented on #2724
Closed via #3642

[2019-08-22 09:15] #2724 closed

[2019-08-22 09:17] wing328 commented on #2715
Please PM me via [Slack](https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM) if you still need help on this.

[2019-08-22 09:20] wing328 commented on #2689
@focuscs please PM me via [Slack](https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM) if you still need help on this.

[2019-08-22 09:21] wing328 commented on #2672
Good suggestion. We definitely welcome the enhancement.

Please let me know if you need any help.

I can be reached via [Slack](https://join.slack.com/t/openapi-generator/shared_invite/enQtNzAyNDMyOTU0OTE1LTY5ZDBiNDI5NzI5ZjQ1Y2E5OWVjMjZkYzY1ZGM2MWQ4YWFjMzcyNDY5MGI4NjQxNDBiMTlmZTc5NjY2ZTQ5MGM)

[2019-08-22 10:25] macjohnny commented on #3721
@siada feel free to file a PR.
cc @gualtierim

[2019-08-22 10:32] macjohnny commented on #3721
@siada you could also write a script that replaces the string `@inject("IApiHttpClient")` in the generated output with `@inject("OtherIApiHttpClient")`

[2019-08-22 10:37] gualtierim commented on #3721
We can use tags to group the services. In the apiConfiguration we can introduce a dictionary to override the basePath for every tag if there is a entry for the tag.

[2019-08-22 10:43] gualtierim commented on #3721
@macjohnny Siada maybe wants a prefix for every service registered in the container. So during binding every services is registered with: container.bind(“${prefix}${serviceName}”).

[2019-08-22 11:36] ips219 commented on #3139
I am not sure if it is the best solution.... But for me this worked....

1-Download templates for JavaSpring to local project folder from [](https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/JavaSpring)

2-Include the templateDirectory parameter in the plugin configuration
[code]
3-Fix the related templates: api.mustache, apiDelegate.mustach

[2019-08-22 12:14] JFCote commented on #1374
@wing328 Yes it fixes the error but it seems the code now think `form_object` (in your example) is a `bodyParam` instead of a `formParam`.

When I generate the server in Play Framework. I get this:

[code]

Instead of expected:
[code]

Somewhere in this new code to handle V3, we lose the concept of `FormParam`.

[2019-08-22 12:15] qmuntal commented on #1600
With the fix applied in #1601 I can only specify am apiKey cookie per ApiClient by using a cookiejar. I have a use case where I need to specify the cookie per request, as my application acts as a proxy used by multiple users, and the only solution I have now is to create a new APIClient on each incoming request, which is very inefficient.
Go Technincal committee: @antihax @bvwells @grokify @kemoke

[2019-08-22 12:21] bcourtine commented on #3331
Corresponding PR was merged. So, this issue can be closed.

[2019-08-22 12:21] #3331 closed

[2019-08-22 12:24] #3595 closed

[2019-08-22 12:27] wing328 commented on #1374
Declaring inline (as a workaround) should work, e.g.
[code]

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/petstore.yaml#L190-L201

[2019-08-22 12:27] JFCote commented on #1374
Will give it a try today. Thanks @wing328

[2019-08-22 12:31] wing328 commented on #1374
Yes, please.

(I agree the generator should better handle references to `content`)

[2019-08-22 12:53] antihax commented on #1176
The path to the package is still unknown and I avoided putting them in the same package because it could (and did) collide with an API specification.

I think it would be better to put this into the OpenAPITools repo so it at least is known to come from the generator.

[2019-08-22 12:57] antihax commented on #1600
Agree, this should flow like OAuth2.

Short term, you can add the API key to the Request.Context and use a middleware to set the cookie header.

[2019-08-22 13:03] wing328 commented on #1176
Sure we can fork `github.com/antihax/optional` to create `github.com/openapitools/optional`

- we need to keep `github.com/antihax/optional` as many Go SDKs are still referencing it.
- what about renaming "optional" to "gooptional"? (to make it clearer it's for Go)

Any other thoughts?

cc @OpenAPITools/generator-core-team

[2019-08-22 13:04] qmuntal commented on #522
@bkabrda as per v4.1.0 optional values of structs created to act as container for optional path and body parameters still uses the `antihax/optional` and not the pointer approach.
I think it would be great to implement your changes also in this situation, as we are currently loosing the type safety when the parameter is a `optional.Interface`.

Example:
### Optional approach
[code]

### Pointer ap

[2019-08-22 13:06] antihax commented on #1600
Just went back and looked.

Changes from #1601 probably needs to be reverted and the cookie applied in the following area.

[code]

[2019-08-22 13:12] antihax commented on #1176
I am fine with renaming and keeping it around (i am using it anyway).

A shorter name would be nice: goopts? The name will get used a bit in the end developer code.

[2019-08-22 13:24] thecrazzymouse commented on #3672
I have created a sample API definitions file here: https://pastebin.com/nVxUsNTz
Two examples are included one for upload one for download. I think that the input stream should be a lot better solution since one could easily direct the stream to a file if needed.

[2019-08-22 13:31] thecrazzymouse opened #3729 "[BUG] Https protocol schema is not handled correctly in java 11 native code"
##### Description

The schema in the ApiClient is hard wired to http and there is no way to change this like the other parameters like host.

##### openapi-generator version

4.1.0

##### Suggest a fix

Add a setter method for schema:

`
public ApiClient setScheme(String scheme){
    this.scheme = scheme;
    return this;
}
`

[2019-08-22 13:41] macjohnny commented on #3729
@thecrazzymouse would you like to file a PR for this?

[2019-08-22 14:20] thecrazzymouse commented on #3729
I have created the PR

[2019-08-22 14:27] thecrazzymouse commented on #3712
This issue is also related to [#3672 ](url)

[2019-08-22 15:11] #3482 closed

[2019-08-22 15:21] JFCote commented on #1374
Yes it work, I have been able to get around the bug. Thanks.

[2019-08-22 16:02] jgiles commented on #1998
Starting with release 4.1.1 (which should be out soon), you can avoid this issue by passing
[code]
on the command line with your `generate` command.

Or, adding `"namespaceParameterInterfaces": true` to `myconfig.json` and passing `-c myconfig.json` with your generate command

[2019-08-22 18:21] ybelenko opened #3733 "[REQ][Slim4] Request Validation"
### Is your feature request related to a problem? Please describe.

I thought about perfect API implementation a lot and I think it should contain 5 steps `mock -> auth -> validation -> business logic -> process` and exactly in that order.
1.  `Mock` step returns example response when mock feature is enabled. Skipped otherwise. Feature discussion #3545
2. `Auth`(authentication) step checks authori

[2019-08-22 20:18] prisoneroftech commented on #3414
I've created a pull request. #3734 https://github.com/OpenAPITools/openapi-generator/pull/3734

[2019-08-23 04:33] jgiles commented on #1998
So... @macjohnny @bradenmacdonald I discovered while trying to incorporate the new generated code into my team's build today that Typescript namespaces are not well-supported by Babel (often used in React projects like ours). I think the specific usage of namespaces added here actually *would* work with Babel after a slight tweak to add `declare` to the namespace declaration (according to https://

[2019-08-23 04:49] macjohnny commented on #1998
@jgiles thabks for the analysis, go ahead. It should be as easy as removing the dot, right?

[2019-08-23 04:55] jgiles commented on #1998
Yeah it's simpler actually than the namespacing was. How close is the 4.1.1 release? I can try to make the change tomorrow.

[2019-08-23 05:14] macjohnny commented on #1998
@wing328 can we wait for this change before releasing 4.1.1?

[2019-08-23 06:28] bbdouglas commented on #3729
Hi @thecrazzymouse, thanks for bringing this up and creating the PR.

I believe that the scheme is taken from the spec, for example the [server url](https://swagger.io/specification/#serverObject) in OpenAPI v3.0 or the [schemes](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema) in OpenAPI v2.0. The scheme is calculated by parsing that URL as seen in the code below.

[2019-08-23 06:48] macjohnny commented on #3729
the spec could also contain a default url, like `http://localhost`, while it might be useful to define different urls for different environments, at runtime. I think this PR aims at this scenario

[2019-08-23 06:57] bbdouglas commented on #3729
That's definitely reasonable. The PR looks good to me, with the one comment I left that I think it would follow the existing pattern better if there were only a setter and no getter.

[2019-08-23 08:19] siada commented on #3721
@macjohnny When you say 'write a script' is this a feature of openapi-generator, ie: there's a post-execute hook, or do you just mean a shell script that 'just does it' as an extra step? I'm looking to make it feel as seamless as possible so if there's a hook then great, but having to manually do it isn't ideal

@gualtierim perhaps not every service though, the HttpClient for example will (to the

[2019-08-23 09:39] gualtierim commented on #3721
@siada When you want to inject a different `IApiConfiguration` for service maybe you want only override the basePath. To solve this problem we can use tags and the interface of ApiConfiguration should be changed in:
`
    apiKeys?: {[ key: string ]: string};
    username?: string;
    password?: string;
    accessToken?: string | (() => string);
    basePath?: string;
    withCredentials?: boolean

[2019-08-23 11:54] #2733 closed

[2019-08-23 11:54] #3729 closed

[2019-08-23 12:28] siada commented on #3721
I didn't realise `whenInjectedInto` was a thing - that will solve my issue completely so thanks for that.

Do you want me to close this issue? Or leave it open while you introduce the prefixer code

[2019-08-23 12:35] macjohnny commented on #3721
if the issue can be resolved with `whenInjectedInto`, I think it should be closed. @gualtierim what do you think?

[2019-08-23 13:11] gualtierim commented on #3721
Yes, I will create a PR adding the prefixer

[2019-08-23 14:58] bzglm opened #3741 "[BUG] Generator ignores "default" field name when it is a sibling of "allOf" field name"
**Description:**

I would like to define a default value for a property of a class, whose type is an enum. So this enum is defined with a schema, and this schema is referenced by the property of my class, like so:

So I have my "PenColor" property, it is an enum of type "Color". Now I would like this property to have the default value of "Blue". The first thing I have tried was to add the "default

[2019-08-23 15:21] quezak commented on #1133
Hello! do you have any updates on this?
I see that this was already [fixed as a bug](https://github.com/OpenAPITools/openapi-generator/pull/2578) for typescript-axios, but I see it's still not implemented in typescript-node, don't know about the other tyepscript targets.

[2019-08-23 15:30] silasdavis opened #3743 "[BUG] typescript-axios sometimes generates unused imports"
**Provided fix here: #3742**

Running with generator version: `4.1.1-SNAPSHOT` (docker image `95e2e965b1fe`)

The following valid swagger spec (there's nothing special about this to create the issue):

[code]

Is sufficient to replicate. Code generated with:

[code]

Then `api.ts` contains unused imports `COLLECTION_FORMATS` and `RequiredError`:

[code]

`base.ts` contains unused imports `AxiosPro

[2019-08-23 16:16] jaboc83 opened #3745 "[BUG][CSHARP-NETCORE] Spelling error in Multimap"
##### Description

There is a simple spelling error in one of the comments. 'Dictioary' should be 'Dictionary'

##### openapi-generator version

4.1.0

##### OpenAPI declaration file content or url

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/csharp-netcore/Multimap.mustache

Lines 280 and 302

##### Command line used for generation

c

[2019-08-23 16:25] wing328 commented on #3745
@jaboc83 thanks for reporting the typo. Please edit the file directly to submit a PR when you've time. We will then help you to complete the checklist.

[2019-08-24 03:11] #3721 closed

[2019-08-24 03:55] #3745 closed

[2019-08-24 08:42] jmini commented on #3233
https://github.com/swagger-api/swagger-parser/issues/1147 seems to be fixed in `swagger-parser` and we did an update in OpenAPI-Generator to use this new version (see https://github.com/OpenAPITools/openapi-generator/pull/3737)

@DonDi94: Can you try with the latest `4.1.1-SNAPSHOT` ?

[2019-08-24 08:46] jmini commented on #2729
swagger-api/swagger-parser#1089 seems still to be open, you need to provide a patch there. For the moment the PR in the issue there only references a test case and no fix.

[2019-08-24 10:52] ybelenko opened #3748 "[BUG] Codegen isMultipart always false"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-24 11:04] ybelenko commented on #3748
#3736  doesn't help, checked today.

[2019-08-24 17:02] #3748 closed

[2019-08-24 17:16] #3628 closed

[2019-08-25 16:47] #1652 closed

[2019-08-26 01:07] qmuntal opened #3755 "[REQ] Support git repositories other than github.com"
I'm hosting an auto generated go client in an private instance of github enterprise and the generated `mod.go` file points to `github.com` instead of my own host.

I would like to be able to configure the host of my git repository using a cli parameter, for example `--git-host`, in the same way as it is done for `--git-user-id` and `--git-repo-id`.

Without this parameter, the only alternatives I

[2019-08-26 01:10] wing328 commented on #3755
That sounds reasonable. Would you have time to contribute the enhancement?

[2019-08-26 01:22] qmuntal commented on #3755
Yes I do.
@wing328 do you know if this parameter could be used in more places other than `git_push.sh` and `go.mod`? My initial focus will be this two files.

[2019-08-26 01:27] wing328 commented on #3755
We can start with these 2 files first.

Later we can roll it out to other files like PHP composer config file, Ruby client's README, etc

[2019-08-26 03:09] prisoneroftech commented on #3414
Any ideas what is going on here? https://travis-ci.org/OpenAPITools/openapi-generator/builds/576564797?utm_source=github_status&utm_medium=notification

Running the same command on my machine works for me.
[code]

[2019-08-26 04:28] ssteeg-mdsol commented on #3630
@autopp Sorry for the slow reply! My Gmail filters let me down 🙇

You're right about the expected output, I will update the issue description.

I believe the response you provided should reproduce the problem but will double-check this afternoon.

[2019-08-26 06:10] ssteeg-mdsol commented on #3630
Confirmed that the response you provided reproduces the issue.

A response of
[code]

results in the following (from the ruby console):
[code]

[2019-08-26 08:47] DonDi94 commented on #3233
I tested on the previous case and it works, all the references are resolved correctly.

[2019-08-26 10:10] jmini commented on #3570
Part one submitted as PR https://github.com/OpenAPITools/openapi-generator/pull/3759: this adds the `serializationLibrary` option.

[2019-08-26 10:40] #3743 closed

[2019-08-26 12:34] Marvin1912 commented on #3718
Hi @jmini,
seems like I'm not able to push to created feature branch from my current workstation. I'll try it once more when I've switched places.

[2019-08-26 15:04] karussell opened #3761 "[BUG] ClassCastException for any client"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/)) -> this website does not work.
- [x] What's the version of OpenAPI Generator used? 4.1.1
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected outpu

[2019-08-26 19:39] G10h4ck commented on #3696
The use case referred by @jpascualsana is usually called event stream, or server-sent events it is even standardized by W3C, you can read something about it here, https://www.html5rocks.com/en/tutorials/eventsource/basics/ and here https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events

So basically once one call an event stream API as first line one receive t

[2019-08-26 21:15] ybelenko commented on #1361
Is this relevant to client generators only? Can't imagine any use case when `servers` values are useful from backend. We can list available `servers` in README of server stubs and that's all, imho.

[2019-08-27 05:54] jmini commented on #3761
The problem is here:
https://github.com/OpenAPITools/openapi-generator/blob/d0d545bbdd409a177befa12cff809607751941f2/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java#L720-L721

For your `Vehicle` Schema, you have set `minItems: 1`. I am not sure if this make sense from an OpenAPI point of view. If you remove it, you will be able to use OpenAPI-Gen

[2019-08-27 06:02] jmini commented on #3761
The ClassCastException is fixed by https://github.com/OpenAPITools/openapi-generator/pull/3765

But because of your `minItems: 1` under `Vehicle` our Generator will still think that `#/components/schemas/Vehicle` is an array.

I wait for your feedback on this.

[2019-08-27 06:20] karussell commented on #3761
Thanks a lot for this fast review and even a fix already! Do you create a jar via a CI pipeline somehow so that I can easily try the master once merged or this PR?

The `minItems` seem to be at the wrong place - thanks for the hint.

[2019-08-27 08:34] jmini commented on #3761
Yes we are publishing `master` branch to https://oss.sonatype.org/content/repositories/snapshots/ which is more or less the maven-central location for SNAPSHOT versions.

If you remove it, then my fix is not necessary.

[2019-08-27 09:15] karussell commented on #3761
Ah, cool. This makes it even easier - thanks! It works now (a few warnings - will verify later if something is broken)

[2019-08-27 09:55] mbayou commented on #1085
Hi,

Do you have any news about this fix/enhancement?

Mathieu.

[2019-08-27 12:15] stephanpelikan commented on #3646
@macjohnny PR created

[2019-08-27 12:42] loeti82 opened #3768 "[Bug][Python] oauth"
#### Description

I generated Python client from our valid OpenAPI Spec. But the OAuth2 code is incomplete (in my understanding)

The Getting Started section in the generated client looks like [this](https://gist.github.com/loeti82/4e91687aff3b85822355d9387d89d1ef)

##### openapi-generator version

Latest release (commit d0d545bbdd409a177befa12cff809607751941f2) with the help of docker

##### Open

[2019-08-27 16:27] yue9944882 commented on #2178
ouch! got burnt by this

[2019-08-27 16:43] mnahkies commented on #2845
This is blocking us from upgrading from `3.3.4` which is unfortunate as the desire to upgrade was prompted by an unrelated bug that is present in `3.3.4` but fixed in the latest release.

Our use case is we have a common model definition:

[code]

And then many models that extend from this, adding an `items` property. Eg:
[code]

None of the operations have a polymorphic return type, they will all

[2019-08-27 17:36] macjohnny commented on #2845
@mnahkies it would be great if you could help us fix this in the generator, would you like to give it a try?

[2019-08-27 17:42] julesdent opened #3769 "[BUG] No setter function generated for arrays"
#### Bug Report Checklist

- [ x] Have you provided a full/minimal spec to reproduce the issue?
- [ x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ x] What's the version of OpenAPI Generator used?
- [ x] Have you search for related issues/PRs?
- [ x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2019-08-27 17:47] wing328 commented on #3769
What does the correct code for setter look like? That can help us to update the mustache template more easily.

[2019-08-27 19:13] elier opened #3770 "[BUG][JAVA] Crash generating Spring server from OpenBanking swagger"
#### Description
I'm trying to generate a SpringBoot server using an OpenBanking swagger and I get the following error:

`
java.lang.RuntimeException: Could not process model 'CreditInterest'.Please make sure that your schema is correct!
`
I think the schema is correct, it is just very complex.

##### openapi-generator version
4.1.1

##### OpenAPI declaration file content or url
https://raw.github

[2019-08-27 21:28] mnahkies commented on #2845
@macjohnny @abhijitvk I've opened https://github.com/OpenAPITools/openapi-generator/pull/3771 which I believe addresses this issue.

I've given it a quick test run over my real api definitions, and it appears to have had the desired effect. Will test the change more tomorrow.

[2019-08-28 01:52] #3761 closed

[2019-08-28 01:57] wing328 commented on #3761
PR (fix) had been merged into master. Please pull the latest or use the SNAPSHOT to give it another try.

Thanks @jmini for the fix.

[2019-08-28 04:48] prisoneroftech opened #3773 "[REQ] [Kotlin][client] Allow use of Double instead of BigDecimal for number type"
### Problem

In the context of Kotlin multiplatform, BigDecimal is not portable.
There are efforts to create a kotlin multiplatform library for BigDecimals (e.g., https://discuss.kotlinlang.org/t/multiplatform-bigdecimal-implementation/5631/6). However, even if such library was available, I think it would still be overkill for those situations where a "Double" should suffice.

## Proposal
New Kotl

[2019-08-28 06:13] jmini commented on #3770
Stacktrace:

[code]

This is really similar to #3761 but at an other place (`AbstractJavaCodegen.getTypeDeclaration(..)` and I just fixed it for `AbstractJavaCodegen.toDefaultValue(..)` in PR #3765).

That said, I am wondering why we get an ObjectSchema instead of an ArraySchema.
The spec at this point looks good:
https://github.com/OpenBankingUK/read-write-api-specs/blob/2b5270a3838cf0de2bd2347d2

[2019-08-28 06:27] wing328 commented on #3770
Issues with Swagger Parser?

[2019-08-28 06:31] jmini commented on #3770
@wing328: Yes. I am filling the issue right now.

[2019-08-28 06:35] jmini commented on #3770
This is due to an error in Swagger-Parser:
https://github.com/swagger-api/swagger-parser/issues/1190

The trigger seems to be `additionalProperties: false` in `array` Schema.

@elier If you have the possibility to remove them, it should fix the issue you have with OpenAPI-Generator.

---

That said we can fix the `ClassCastException` (but I guess the generated code will still be broken, swagger-pa

[2019-08-28 06:38] MartinHatas opened #3775 "[REQ] Allow configuring User-Agent in 'openapi-generator-maven-plugin'"
Allow configuring User-Agent in 'openapi-generator-maven-plugin' to override default User-Agent.

Example of usage:
[code]

[2019-08-28 06:58] eirikandre opened #3776 "[BUG][TypeScript] Multipart request missing Content-Type for models"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-28 07:37] jmini commented on #3770
PR #3780 is fixing the ugly `ClassCastException`, but to have a correct generated project with the spec described in this project, the solution is to get a fix for the issue in Swagger-Parser.

[2019-08-28 08:03] cbornet commented on #3438
To me the root issue is that you use the same mapper for everything. Why do you have to do so ? It's a design smell IMO since it introduces coupling. If you're shipping the client, can't you just include your own mapper configured as you like ?

[2019-08-28 08:17] #3775 closed

[2019-08-28 09:20] wing328 commented on #3773
What about using --type-mapping instead ?

[2019-08-28 09:32] quezak commented on #3336
This is a nice idea! @vfrank66 out of curiosity, what are your plans for the NestJS generated clients? I mean: how will they differ from the regular `typescript-node` clients? Do you want to generate full services ready to be injected using Nest's DI?

[2019-08-28 10:19] quezak opened #3781 "[BUG][typescript-node] invalid handling of array param in forms, `encoding` options ignored"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-28 10:36] quezak opened #3782 "[BUG][typescript-node] Enum params in form body generated as plain strings"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-28 10:50] quezak commented on #3781
Note: I've also tried using other allowed values for `encoding.scope.style` -- it's completely ignored, the generated code doesn't change at all.

[2019-08-28 11:10] #3646 closed

[2019-08-28 11:11] #3776 closed

[2019-08-28 11:29] macjohnny commented on #3782
would you like to implement this feature?
see https://github.com/OpenAPITools/openapi-generator/blob/2016bc086fc363ad59d6cf08a5bdeeff8963e50d/samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/pet.ts#L30-L36
and
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/modelEnum.mustache

[2019-08-28 11:30] macjohnny commented on #3781
@quezak would you like to implement a fix?

[2019-08-28 12:31] #3523 closed

[2019-08-28 12:54] quezak commented on #3782
@macjohnny I'm not familiar with the codebase yet, but I'll take a look tomorrow and try to fix it if it's not too complex.

Do you maybe know the answer for my side question? :)

[2019-08-28 12:57] quezak commented on #3781
@macjohnny  I'll take a look tomorrow if it's easy enough. For now I've worked around this by directly passing a comma-separated string as the param, but that's not typesafe.

Do you maybe know the expected rough timeline for the typescript generators rewrite (#802)? If the work is already advanced, it might be not feasible to fix issues in the current TS generators.

[2019-08-28 13:03] macjohnny commented on #3781
I don't know when the rewrite will be finished, so for the time being, the current typescript generators are maintained.

[2019-08-28 13:04] macjohnny commented on #3782
I don't know, but I guess due to historical reasons

[2019-08-28 14:14] lingster opened #3785 "[REQ] [dart] add option to generate dart with dio library"
I'd like to add new templates to generate dart code to use the [dio](https://github.com/flutterchina/dio) http library instead of the http lib, as this library has additional useful features compared to the standard http lib.

In addition, I'd like to generate the output code so that it generates [bloc](https://felangel.github.io/bloc/#/) code as I'm currently finding that I'm writing much boiler

[2019-08-28 15:53] dbusacca commented on #2845
#3771 doesn't seems to fix the above example:

Result with #3771:

[code]

[code]

[2019-08-28 17:38] macjohnny commented on #2845
@wing328 inheritance with discriminator seems broken, too

[2019-08-28 20:52] jcald1 opened #3788 "schemas are blank in html2 generatation"
I pulled the latest openapitools/openapi-generator-cli Docker image: 193486a2ca74

Command:

`docker run --rm -w /local -v ${PWD}:/local openapitools/openapi-generator-cli generate     -i openapi.yaml     -g html2`

Opened the generated `index.html` file and saw that all of the schemas were blank.  When I ran the html2 generator in https://github.com/swagger-api/swagger-codegen, the schemas were p

[2019-08-29 03:12] #2830 closed

[2019-08-29 03:12] #3655 closed

[2019-08-29 03:37] #3414 closed

[2019-08-29 03:45] wing328 commented on #3785
@lingster thanks for the suggestions

cc @ircecho (2017/07) @swipesight (2018/09) @jaumard (2018/09)

[2019-08-29 06:56] jmini opened #3792 "[BUG] the generated gradlew file does not have the correct permission"
The `gradlew` file in the generated project (like in `samples/`) is wrong.

If you run `.gradlew build` in `samples/client/petstore/java/okhttp-gson` you get:

[code]
---
Workaround: run `chmod +x gradlew` before starting gradle.

---

I think `gradlew` is a supporting file. We probably need something like this after generation.

[code]

[2019-08-29 07:01] markusl opened #3794 "[BUG] typescript-node generates invalid code for 'api-key'"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x<] What's the version of OpenAPI Generator used? 4.1.1
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

1. Dow

[2019-08-29 07:10] wing328 commented on #3792
or run `/bin/sh gradlew` instead (same for git_push.sh)

[2019-08-29 07:24] jaumard commented on #3785
The title is not correct, it should be "Add a dart DIO generator" as it will not replace the one with http only.

That's a good idea, you can take example of what I've done to add dart-jaguar generator should be the same technic here.

But I'm not agree with generating bloc code, it's not the purpose of openapi generator, the purpose is to generate the network stack from a definition, it shouldn't

[2019-08-29 07:30] wing328 commented on #3785
Shall we take this opportunity to consolidate the Dart client generator with the `library` option instead creating a new one for every HTTP library available on Dart?

[2019-08-29 07:51] macjohnny commented on #3794
@markusl thanks for opening this issue. would you like to submit a fix for it?

[2019-08-29 08:40] jmini commented on #3570
Implemented as PR https://github.com/OpenAPITools/openapi-generator/pull/3795

[2019-08-29 08:40] #3629 closed

[2019-08-29 09:08] lingster commented on #3785
@jaumard : ok I agree with your point about bloc(title updated too), so it would be better to just have the dio code generated, and keep the code gen for architecture separate.

[2019-08-29 09:11] jaumard commented on #3785
@wing328 might be interesting indeed but they all have differences in the Java code too, not only in templates. Might be a huge refactoring for this no ?

[2019-08-29 10:00] nickshoe opened #3796 "[BUG][JAVA] Discriminator property gets serialized twice"
##### openapi-generator version

3.3.4

##### Command line used for generation

I'm working with a JHipster API-First project, which uses openapi-generator-maven-plugin (v3.3.4).

##### Description

By following the OpenAPI 3.x documentation/examples, it seems that the property used as discriminator must also be specified in the properties list of the schema.

Example:
[code]

The generated Java c

[2019-08-29 12:47] nickmeinhold opened #3797 "[REQ] [Dart] Models as value types"
### Is your feature request related to a problem? Please describe.

I would like to be able to have the generator produce models that are value types with features like state based equivalence and deep clone / copyWith.

## Describe the solution you'd like

[built_value](https://github.com/google/built_value.dart)

## Describe alternatives you've considered

The openapitools generator could just a

[2019-08-29 14:00] someone1 opened #3798 "[BUG] [typescript-fetch] TypeScript 3.6 breaks generated code"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-29 14:01] someone1 commented on #3798
cc @macjohnny

[2019-08-29 14:08] macjohnny commented on #3798
@someone1 are you willing to fix this?

[2019-08-29 14:18] nickmeinhold opened #3799 "[REQ] [Dart] Don't create redundant samples"
### Is your feature request related to a problem? Please describe.

Running `./bin/dart2-petstore.sh` creates 3 identical samples:
- `samples/client/petstore/dart2/openapi`
- `samples/client/petstore/dart2/openapi-browser-client`
- `samples/client/petstore/dart2/flutter_petstore/openapi`

## Describe the solution you'd like

Just create one sample

[2019-08-29 14:44] someone1 commented on #3798
Working on it now - should I bump the typescript version to 3.6 the packages.json ships with?

[2019-08-29 14:58] someone1 commented on #3798
FYI - I think 3.0 would be the minimum version required for this change.

[2019-08-29 15:34] #3570 closed

[2019-08-29 15:55] prisoneroftech commented on #3773
@wing328 - I think you are right. This feature does not add a lot of value since you can do what I want with --type-mapping. The only thing that is a bit annoying because of the "redundant" warning is that I have to set the --type-mapping to "kotlin.Double" not just "Double"

I guess the feature request now boils down to just removing "kotlin." and "kotlin.collection." package name from basic type

[2019-08-29 16:04] prisoneroftech commented on #3773
Ok. I think I found a way to do what I want without making any code changes to the generator.
The answer is --type-mappings and --language-specific-primitives

--type-mappings number=Double,string=String,array=List,boolean=Bool,integer=Int --language-specific-primitives=Double,String,List,Int,Map,Int,Bool

[2019-08-29 19:23] vitaliysapounov opened #3803 "[BUG] [Kotlin] Class fields are generated with immutable 'val' instead of 'var'"
### Description
Kotlin generator generates Kotlin classes with 'val' fields, not 'var'. Thus, the fields are constant and cannot be changed by a programmer -- you cannot even an instance programmatically.

##### openapi-generator version

Generator Version 4.1.1
Spec Version 3.0.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`openapi-generator gen

[2019-08-29 19:31] vitaliysapounov opened #3804 "[BUG] [Kotlin] Enums are generated with odd capitalization"
### Description
Kotlin generator generates Kotlin enums with strange capitalization: it lower-cases the first enum item letter (e.g. generates `rED` instead of `RED`).

##### openapi-generator version

Generator Version 4.1.1
Spec Version 3.0.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

`openapi-generator generate -i my-models.yml -g kotlin`

NO

[2019-08-30 03:03] prisoneroftech commented on #3804
Set enumPropertyNaming to "UPPERCASE"
config.json:
{
     "enumPropertyNaming" : "UPPERCASE"
}

openapi-generator generate -i my-models.yml -g kotlin -c config.json

[2019-08-30 03:39] wing328 commented on #3785
Not sure. I've not reviewed the code yet.

We just did that for Ruby to add another library support: Faraday.

TypeScript is doing the same but there are too many HTTP libraries to support so it's definiltey not easy.

My suggestion is to do it earlier (now) to make a swappable ApiClient class and that will make our life easier afterward.

[2019-08-30 04:02] #3799 closed

[2019-08-30 04:32] amakhrov commented on #926
@macjohnny, the original issue reported here mentions both `typescript-angular` and `typescript-fetch`.
However, #569 only fixes `typescript-fetch`.
It seems that the issue with `typescript-angular` still exists. Am I missing anything here?

[2019-08-30 04:45] macjohnny commented on #926
With typescript-angular there is no serialization/deserialization, so you need to add a typemapping and map it to strong, as mentioned above.

[2019-08-30 07:32] keithtian opened #3806 "[REQ] Protobuf v3 schemas and gRPC service definitions"
### Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

Is there any plan to provide a converter to transform OpenAPI specification v3 to Protobuf v3 schemas and gRPC service definitions?

I'd a look at https://github.com/nytimes/openapi2proto but it only supports OpenAPI specification v2.

Thank you

## Describe alternatives you've considered

http

[2019-08-30 08:52] wing328 commented on #3806
@keithtian Very good suggestion.

There's no plan at the moment and we definitely welcome contribution for that. Would you have time to make the contribution? We can show you some good starting points.

[2019-08-30 09:06] frankyjuang commented on #3100
Also happen in csharp client and server https://github.com/OpenAPITools/openapi-generator/issues/3338

[2019-08-30 09:19] wing328 commented on #3100
[code]
That's treated as an inline schema (which can be replaced with $ref to avoid the additional model generation).

[2019-08-30 09:53] nickshoe commented on #2835
Maybe it's the same bug of this issue: #2835

[2019-08-30 09:54] nickshoe commented on #3796
Maybe it's the same bug of this issue: #2835

[2019-08-30 09:58] paunovic-stefan opened #3807 "[BUG][TYPESCRIPT FETCH] Nullable dates produce compilation error"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-30 10:11] nickshoe commented on #417
The fix for this may also be needed for Java Spring target?
Maybe related to #3796

[2019-08-30 11:02] #3773 closed

[2019-08-30 11:56] keithtian commented on #3806
@keithtian Sorry that I'm not familiar with Java/mustache plus I'm busy with a new project so I won't be able to help out :(

[2019-08-30 12:00] lsuski opened #3808 "[BUG] [JAVA] Generic type generates invalid equals body"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-08-30 12:01] siada commented on #3618
@gualtierim Did you manage to get around to trying the solution out yet?

[2019-08-30 12:09] macjohnny commented on #3807
would you like to fix this here?
https://github.com/OpenAPITools/openapi-generator/blob/d21b3390feeb0cf0eab44e412fd50eb0b66cc1e6/modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache#L119

[2019-08-30 19:59] #3798 closed

[2019-08-30 20:21] Zomzog commented on #3803
This creates an immutable object, you can create instance of it `val a = TestRec(1, "label", "userId")`

Maybe we can add an option for generating mutable models. But I'm not sure if it's a good idea.

[2019-08-30 20:52] Fjolnir-Dvorak opened #3810 "[REQ] Feature Checklist"
### Question:

I am currently trying to create a new generator. Before I start with the implementation I want to have a checklist what I have to implement to support all features of openapi. If that is not available I am not able to create a transparent well documented python generator with a feature list of what I already have implemented and what not.

## Describe the solution you'd like

I woul

[2019-08-31 10:48] mnahkies commented on #2845
I've looked into this a little more (I happen to also use the `typescript-angular` generator) and it appears that the template was re-written to expect the `supportsMultipleInheritance` flag to be enabled in 8c599ebf12483495f889cfc07ba6988d68b5e3ca but that the flag wasn't actually enabled.

By enabling the flag I get the correct parent in @dbusacca's example.

Opened https://github.com/OpenAPIToo

[2019-08-31 12:07] andys8 commented on #2845
What's the difference between `supportsMultipleInheritance` and `supportsInheritance`? Do all broken languages need to enable the flag or is something wrong with the default?

[2019-08-31 12:37] macjohnny commented on #2845
@wing328 do you know an answer?

[2019-08-31 23:14] jpascualsana opened #3813 "[Question][Python] Is posible to change to cammel case naming convention?"
##### Description

Our project is wrote on camelCase convention. Is possible to generate python client following camelCase instead of the pythonic snake_case?

I looked at mustache templates on:

https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/python

And the instructions under `openapi-generator config-help -g python`.

Also I looked at [

[2019-09-01 08:13] AshSuzuki opened #3814 "[REQ] add /* eslint-disable */ to JS/TypeScript files"
### Is your feature request related to a problem? Please describe.

I'm using open-api-generator with create-react-app / typescript.

I generated dead simple API by below command:
`openapi-generator generate -i openapi.yml -g typescript-axios -o ./src/api-client`

Then, executed `yarn start` command, It shows warning:

[code]

I feel these generated codes shouldn't be lint-ed.

## Describe the sol

[2019-09-01 20:04] coder82 opened #3815 "[BUG][Kotlin] With version 4.1.1 I cannot build my kotlin server stubs anymore, was working with 4.1.0"
#### Bug Report Checklist
- [x] What's the version of OpenAPI Generator used?
4.1.1

##### Description

I am using the openapi gradle plugin.
If I switch to version 4.1.1, it stops working with unknown error. I have to rollback the version to 4.1.0 to make it work again.
The yaml file is validated automatically via gradle.
I get this exception when trying to generate the server stubs:

`FAILURE: B

[2019-09-02 01:41] nickmeinhold opened #3816 "[REQ] [Dart] Add testing of generated client to CI"
### Is your feature request related to a problem? Please describe.

Currently CI runs the generated tests that are part of the petstore client library, but these are all empty passing tests.

## Describe the solution you'd like

It would be helpful to have a reasonable set of tests that are run by the CI in order to have confidence that any fixes/enhancements to the dart generator haven't broken t

[2019-09-02 01:52] nickmeinhold commented on #3810
This would also be helpful for creating a thorough set of tests for a generator.

[2019-09-02 14:51] wing328 commented on #3806
I've come up with a prototype (beta) generator for gPRC/ProtoBuf over the weekend: https://github.com/OpenAPITools/openapi-generator/pull/3818

Please check it out and let us know what you think.

[2019-09-02 17:44] vitaliysapounov commented on #3803
Thanks, but what's the purpose of generating immutable models? Mutation is necessary in certain cases -- the simplest is getting an object from remote API, changing certain fields, and posting it back to update.

There is no reason to make models immutable, as I can see it. It will only complicate programmer's life. Also, this is not consistent with other languages (e.g. Java) where models are ess

[2019-09-02 17:45] vitaliysapounov commented on #3804
Thanks. But, shouldn't the code generator generate enums with the capitalization given in the declaration file?

[2019-09-03 00:08] keithtian commented on #3806
@wing328 That's awesome. Thanks so much. I'm on vacation for 2 weeks and will review your PR after that.

[2019-09-03 00:51] #3626 closed

[2019-09-03 00:51] #3641 closed

[2019-09-03 01:25] wing328 commented on #2845
`supportsMultipleInheritance` is something I added in the 4.x release if I remember correctly. Currently, we've it enabled in the Perl generator that I tested `supportsMultipleInheritance ` with

As you saw in the code, I left a comment about enabling it for TypeScript generators and filed https://github.com/OpenAPITools/openapi-generator/pull/1684/files later but no one from the TS community has

[2019-09-03 01:31] wing328 commented on #3816
That's the unit testing the Dart generators (Java classes)

[2019-09-03 01:33] wing328 commented on #3813
Is pythonic snake_case causing issues (e.g. JSON payload serialization/deserialization)?

[2019-09-03 01:42] wing328 commented on #3810
Would https://github.com/OpenAPITools/openapi-generator/pull/2270 meet your requirement for a new Python generator?

[2019-09-03 02:00] wing328 commented on #3810
At the moment, we don't have such a checklist.

Based on my experience, I would personally suggest you not to target supporting **all** features of OpenAPI v3 spec from day 1.

For example, is there any demand for the `not` keyword (Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schema-object)? We've not seen any yet (of course we welcome PR to support `not`)

For

[2019-09-03 02:38] wing328 commented on #3785
cc @nickmeinhold as well

[2019-09-03 02:40] wing328 commented on #3785
To elaborate a bit more, for Ruby we only need to implement one function in the HTTP library template (e.g. faraday):
[code]
Ref: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache#L5

It's not that hard to support multiple HTTP libraries.

[2019-09-03 03:17] wing328 commented on #3815
What about doing a git bisect to identify the commit causing the issue?

Ref: https://www.metaltoad.com/blog/beginners-guide-git-bisect-process-elimination

[2019-09-03 08:13] nickmeinhold commented on #3785
It would be really cool to have a `library` option.  I think [chopper](https://github.com/lejard-h/chopper) is pretty popular too (haven't used it myself).

So are we talking about a `library` cli option, with a new set of templates and a check in `DartClientCodegen.java` that determines which set of templates is used?

I've been working on a dart generator that creates the models as value types w

[2019-09-03 08:16] jaumard commented on #3785
@wing328 not sure it will be that simple as (at least in jaguar) the parsing (so models) are also tight to the api calls. Also jaguar is supported JSON and Proto protocols. I had to change "a lot of" stuff in the Java to make it work.

I'm not saying it's impossible, just that is not trivial :)

[2019-09-03 09:45] lucaspiller commented on #2384
Just in case anyone comes across this, in version 4.1.1 you still need this flag to produce output compatible with Node v10.

[2019-09-03 09:47] wing328 commented on #3785
@jaumard Agreed it's not trivial as you've made some features exclusively for Dart Jaguar generator.

What about using Jaguar as the Dart base generator and refactor it to allow a swappable API client class to support other HTTP libraries?

[2019-09-03 09:48] wing328 commented on #3785
@nickmeinhold most of the templates (e.g. models, README, etc ) will be shared among all HTTP libraries. Usually, it's the API client template that needs to be specified to a particular HTTP library.

[2019-09-03 10:32] saigiridhar21 commented on #3577
@TimoMorris Please feel free to raise the pull request. I don't see an benefit of using `TypeWithDefault`.

[2019-09-03 10:49] jaumard commented on #3785
We can use dart jaguar as a base without problem, we'll still need a Java abstraction to handle particularities of the chosen http api I think, for example jaguar is using jaguar_serializer to do proto/json parsing where the raw dart is doing the parsing/mapping manually without third library.

So either we chose to use jaguar_serializer for all http libraries, or we will have different models tem

[2019-09-03 11:30] FatCash commented on #1466
Also having problems with serialize/deserialize properly because of this.
Desired approach would be to populate a mustache flag like {{hasAdditionalProperties}} on class level (not vars level), similar to {{isMapContainer}} which is currently true if ` additionalProperties: true`
Then we could use it however we want in mustache to add the otherProperties field and necessary json annotations and bu

[2019-09-03 11:36] FatCash commented on #1377
+1
I think its essentially the same issue @vandeseer.
My suggestion from user perspective (don't know if its possible in code)
https://github.com/OpenAPITools/openapi-generator/issues/1466#issuecomment-527419227

[2019-09-03 12:43] mnahkies commented on #2845
@wing328 so as far as I can tell from the diff, you updated the typescript template to support the new mechanism you developed without enabling the flag

https://github.com/OpenAPITools/openapi-generator/commit/8c599ebf12483495f889cfc07ba6988d68b5e3ca#diff-8c3f9603ed75fb2ae70a40c24cd00539

This had the net effect of breaking typescript inheritance support, I didn't review your template change in d

[2019-09-03 14:07] peyerroger commented on #3248
Blocking for me as well. A fix would be highly appreciated.

[2019-09-03 14:13] arrigod commented on #3248
This is needed by me as well. A fix would be very appreciated.

[2019-09-03 14:43] #3755 closed

[2019-09-03 14:51] macjohnny commented on #2053
See also https://github.com/OpenAPITools/openapi-generator/issues/2053

[2019-09-03 15:08] jorgerod commented on #3248
This is needed by me as well. A fix would be highly appreciated.

[2019-09-03 15:20] valliman commented on #3100
The proposed solutions would lead to a file being generated for the inline schema again. That sounds a bit counter-intuitive. Why would I want to give the inline schema a dedicated name, if I didn't had the need before?

[2019-09-03 15:43] macjohnny commented on #3248
@arrigod @peyerroger would you like to file a PR to fix this?

[2019-09-03 15:47] bensimpson-ch commented on #1347
@balzmo @wing328
I created a pull request to catch the null (nullApi) and write "DefaultApi" instead.  The pull request uses the above yaml as a [test:](https://github.com/OpenAPITools/openapi-generator/pull/3821)
Its my first pull request on github - please forgive me if I am doing it wrong.
Cheers
Ben

[2019-09-03 17:26] wing328 commented on #3785
For Java, the user can choose gson or jersey so I think we can do the same with Dart.

[2019-09-03 17:27] damc-dev commented on #3305
I am running into this same issue when trying to generate a feign client with OAuth2.0.
I see that the fix has been merged to master, but are there any plans to include this on a release?
Also are there any workarounds I could use in the meantime?

[2019-09-03 17:55] DartMen opened #3823 "[REQ] [Dart] Consider StreamController or RxDart for (de)serialization json"
If possible, instead of (de)materializing json in memory, consider the use of StreamController combined with StreamTransformer to (de)serialize json.

Or with RxDart, for example:

[code]
More RxDart examples: https://www.burkharts.net/apps/blog/rxdart-magical-transformations-of-streams/

This would benefit the processing of larger json payloads and overall performance.

[2019-09-03 20:52] damc-dev commented on #3305
I was able to work around this by just defining my endpoint security as oauth (even with an empty array of scopes) it will then correctly generate the OAuth files.
e.g.
[code]

[2019-09-03 21:26] zsweigart opened #3825 "[BUG][KOTLIN] serialization library 'gson' not working"
#### Bug Report Checklist

- [X ] Have you provided a full/minimal spec to reproduce the issue?
- [ X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ X] What's the version of OpenAPI Generator used? 4.1.1
- [ X] Have you search for related issues/PRs?
- [X ] What's the actual output vs expected output?

##### Description

Al

[2019-09-04 03:45] wing328 commented on #3825
Please build from the latest master in order to use the enhancement.

[2019-09-04 07:08] nickmeinhold opened #3827 "[REQ] [Dart] Have names available using descriptions of cases in Effective Dart"
### Is your feature request related to a problem? Please describe.

I am working on a generator/cli-option and I've found that the maps created by the java codegen for the models don't have all the items for names I need.

Currently there is "name", "nameInCamelCase" and "nameInSnakeCase"
- "nameInSnakeCase" has names that are in what Effective Dart calls SCREAMING_CAPS (I've seen it called SCREAM

[2019-09-04 07:35] wing328 commented on #3305
Please share a minimal spec to help reproduce the issue.

[2019-09-04 08:04] dbusacca commented on #2845
I've tried the flag with an our real-life API and it seems to generate the inheritance correctly.

[2019-09-04 08:23] alfirin commented on #3624
Could we have some update of this issue, because it's mandatory for our project.

Thanks a lot guys.

[2019-09-04 08:24] #1792 closed

[2019-09-04 08:26] wing328 commented on #1792
Please give it another try as #3440 has been merged into master

[2019-09-04 08:27] alfirin commented on #2692
Facing the same issue here.

Do you have some updates ?

Thanks

[2019-09-04 08:28] alfirin commented on #2906
Same issue here.

[2019-09-04 09:15] #1347 closed

[2019-09-04 09:18] wing328 commented on #1347
Thanks for the PR by @bensimpson-ch to fix the the issue.

@balzmo please give another try with the latest master.

[2019-09-04 09:41] alfirin commented on #2236
Same issue here and I don't wat to use the allOf instead.

[2019-09-04 09:50] nickmeinhold opened #3828 "[REQ] [Dart] Avoid using part and create mini libraries instead"
### Is your feature request related to a problem? Please describe.

I had to refactor the templates from using `part` to creating mini libraries because having models as parts caused problems. That was for my case but more generally, I think it might be a better and is the recommended approach.

## Describe the solution you'd like

Refactor the templates to avoid using `part`

## Describe alternat

[2019-09-04 10:01] wing328 commented on #3806
I've merged the PR into master to release a beta generator for gPRC, Protobuf for the time being so that we can start collecting feedback from the developers.

[2019-09-04 10:23] bensimpson-ch commented on #3157
@wing328  I will do this one.

[2019-09-04 10:52] FelixA commented on #3456
I ran into the same issue. Would be amazing to see some progress here

[2019-09-04 12:35] qmuntal opened #3829 "[BUG][GO] Empty object generates compilation failure"
**Version**
4.1.1

**Command line used for generation**
openapi-generator generate -i swagger.yaml -g go-experimental -o ./

**Spec**
[code]

***Description***
Generated Foo model is:
[code]
which does not compile as ```optional.Map``` does not exist.
I would expect this model definition instead:
[code]

I can reproduce this issue with any object without properties.

[2019-09-04 13:40] swordmaster2k commented on #3140
I too have run into this problem, and am unable to use the "example" section in my API definition as the generated code doesn't have the correct escaping on the strings.

I tried using both 4.0.2 and the latest 4.1.0 versions, remains present in newer versions.

Leads to ERRORs from in my Maven build with illegal character: '\'

[2019-09-04 14:24] wing328 commented on #3796
If removing discriminator property addresses the issue, we can certainly do that.

[2019-09-04 14:26] wing328 commented on #2835
What about removing  the discriminator property from the child class? Is that the solution you're looking for?

[2019-09-04 15:22] clintfoster commented on #3804
It seems odd that the default behavior would be to generate enums with capitalization like `dOG` and `cAT`. All caps with underscores seems to be the convention for Kotlin (as with Java):

https://kotlinlang.org/docs/reference/enum-classes.html

[2019-09-04 15:28] clintfoster commented on #3803
We have request/response data classes that we generate for interacting with our cloud APIs. In many cases the request classes contain quite a few fields, some of which are optional, and some of which might be built up individually through different logic paths before the request is sent, making a single constructor unwieldy.

[2019-09-04 16:03] nickshoe commented on #3796
Manually removing the attribute (plus getter/setter), corresponding to the discriminator property, from the generated class does the trick. As stated above, I've just needed to turn off the `DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES` configuration on the `ObjectMapper`.

I've also tried to use `JsonTypeInfo.As.EXISTING_PROPERTY` in the discriminator's related annotation, but with no succes

[2019-09-04 17:04] zsweigart commented on #3825
Will this be in 4.1.2, 4.2.0 or 5.0.0?

[2019-09-04 17:06] wing328 commented on #3825
All of them (when these releases are published in the future)

[2019-09-04 17:06] wing328 commented on #3825
Please try the snapshot version for the time being.

[2019-09-04 17:06] #3825 closed

[2019-09-04 19:49] greyskyy commented on #2613
Suggest the error is coming from lines like [this one, in GenerateTask](https://github.com/OpenAPITools/openapi-generator/blob/6a4e92887aa9b3933b98cc46ae4e04a95f2e1a53/modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt#L93) (there are a few other lines like it in the file as well)

[2019-09-04 20:54] tripleplayj commented on #3224
I'm sure there's a bit of overlap here, but I am also noticing that both my ```files``` and ```publishConfig``` sections are missing when the new package.json. I'm sure this is related to your problem?

[2019-09-04 21:46] jasonculverhouse opened #3832 "[BUG] java-inflector templates do not generate proper hashCode and equals functions"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-05 03:03] wing328 commented on #3832
@jasonculverhouse can you please submit a PR with the suggested fix?

[2019-09-05 05:07] #2845 closed

[2019-09-05 05:08] fuzzzerd opened #3833 "[REQ][typescript-fetch] Allow module selection via command line argument for npm package"
### Is your feature request related to a problem? Please describe.

The generated typescript package uses `commonjs` which is not suitable for client side applications.

## Describe the solution you'd like

Additional command line arguments to tailor the generated `package.json` file for npm packages.

## Additional context

Discussion here: https://github.com/OpenAPITools/openapi-generator/issues

[2019-09-05 06:43] andys8 commented on #2845
Since the changes were made to TypeScript - so now Java and Elm need to set `supportsMultipleInheritance`, too?

[2019-09-05 07:06] mnahkies commented on #2845
It depends on whether their templates have been updated to use the new properties that are populated when supports multiple inheritance is enabled.

I haven't checked this myself, but inheritance is still working fine for me with the java client generator as well as the spring boot server stubs generator.

Could you name the exact generators you believe need updating and I can take a look at their

[2019-09-05 07:31] ssteeg-mdsol commented on #3630
@autopp Do you have ideas about how or where the logic to handle `oneOf` could be implemented? Is there anything I can do to help fix the issues? Sorry for the vague questions, I'm not really sure where to start. 😕

[2019-09-05 07:45] etherealjoy commented on #3769
@julesdent
Actually there is no setter for the array because the array could be `get` and inserted directly.

But this is a common request, so we will look into this as it is not a breaking change.

[2019-09-05 07:46] etherealjoy commented on #3769
@MartinDelille @muttleyxd @stkrwork @etherealjoy

[2019-09-05 07:50] muttleyxd commented on #3769
@etherealjoy I was working on this, but got sidetracked in the end (and my approach had too much code-breaking changes)
https://github.com/OpenAPITools/openapi-generator/pull/3417

Should we tackle this just by adding the required setters?
Also .get() is broken since it doesn't set 'isSet' variable IIRC

[2019-09-05 07:59] etherealjoy commented on #3651
Looking at this issue now, I see the client is C but the expectation is Qt5.
@dongfangxunlei
Could you please comment which one is the needed one?

[2019-09-05 08:06] etherealjoy commented on #3769
#3417

Yes I checked the other issue again today, and I agree generally about refactoring but code breaking is bad experience for end users, unless we have a major version going forward.
Then I leave this with you to continue.

Yes, I think we could add, there are too many users expecting it.

Indeed, one way we can check is during serialization if there are items in the map, vector, (like how qt5

[2019-09-05 08:07] melissapalmer commented on #2053
@macjohnny  which issue did you mean to link this too #2053 is this issue?

I am having the same issue that Spring server generated code is not parsing LocalDate correctly, reason I found is because the code being generated for these request parameters is as:
[code]
where as it should (include @RequestParam)
[code]

And this seems to be caused by the change you pointed out at:
https://github.com/O

[2019-09-05 08:15] dongfangxunlei commented on #3651
@etherealjoy  It is Qt5. Sorry for  the mistake

[2019-09-05 08:21] dongfangxunlei commented on #3651
The main problem is in OAIInline_object.h
OAIHttpRequestInputFileElement* binary_data_n1_sm_message;
OAIHttpRequestInputFileElement* binary_data_n2_sm_information;

[2019-09-05 08:41] muttleyxd commented on #3769
Then I leave this with you to continue.

I guess we could think about switching to my approach for 5.0 release? This would yield much smaller amount of code. Also we could use Pistache::Optional for optionals, so everything could be a structure and have optional fields implemented in simple way.

Okay, let's do it for 4.*

To clarify, what should we do here:
- add 'set', which would set isSet
- ma

[2019-09-05 09:12] qmuntal opened #3835 "[BUG][GO][CLIENT] Compilation failure when multiple multi params"
**Version**
4.1.1

**Command line used for generation**
openapi-generator generate -i swagger.yaml -g go-o ./

**Spec**
[code]

**Description**
The Go client code generation is adding duplicated `reflect` imports for each parameter of type array multi. The above spec produces the following import:
[code]
This bug was introduced in the PR #3390  ([source code](https://github.com/OpenAPITools/openap

[2019-09-05 09:56] etherealjoy opened #3836 "[BUG] [aspnetcore] File Upload throws exception"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-05 10:16] etherealjoy commented on #3769
make 'get' set isSet
auto-detect if vector is set, problem is that someone may want to send and empty array
I'd go with make 'get' set isSet, if someone will want an empty array, they could call get(), if someone doesn't want it, they could use unset

Just a small proposal to your thought process here
What about `set` setting the `isSet` value.
If the array is empty and the `isSet` is set then we

[2019-09-05 10:19] etherealjoy commented on #3651
I see, thanks for the clarification, Binary input is not supported yet in the Qt5 client.
See also this one
#3421

But I think we can think of it because it is requested often.

[2019-09-05 10:20] etherealjoy commented on #3769
Lets also ask @wing328 for his opinion on this.

[2019-09-05 10:26] etherealjoy commented on #3651
I think this mapping is wrong it should be QByteArray, it is not an input file.
We will have to update this mapping then.

[2019-09-05 11:49] nickshoe commented on #3796
I would like to contribute to the project, but it's my first time ever in the open-source..
If the proposal of removing the discriminator property from the generated class is sensible, I can work on it. Maybe I'll need some advice for getting started on the repo and on the workflow.

[2019-09-05 11:52] peyerroger commented on #3248
@macjohnny I'll try...

[2019-09-05 12:39] muttleyxd commented on #3769
Take a look at #3837

[2019-09-05 12:42] t2y commented on #3248
@peyerroger Sorry, I haven't started yet. Please!

[2019-09-05 12:46] etherealjoy commented on #3271
@muttleyxd
So I made a check on this issue, the issue is because of the mapping of  `object` to `Object`.
So whenever `Object` is detected the import is added. This is wrong for Pistache.

[code]
To support free form objects in Pistache is easy, simply by mapping the `object` to `nlohmann:json`

so the include can be changed to `nlohmann/json.hpp`  or `nlohmann\json.hpp` (Linux/Windows)

All the i

[2019-09-05 13:20] bodograumann commented on #3814
I don’t think this is necessary or helpful. You are responsible for the linting you are doing, @AshSuzuki. If you feel that the linting done on the generated code is to much, just add your own `.eslintrc.js` in the `src/api-client` directory and disable the respective rules.

[2019-09-05 13:34] bodograumann commented on #3721
@gualtierim Are you still intending to implement some kind of discriminator?
We are using `@named("{{classname}}")` for that. I could include it in a PR.

[2019-09-05 13:41] swordmaster2k commented on #1888
I've also encountered this issue as it is still present in 4.1.1, in my maven build I get the following errors:

With the generated code:

[code]

[2019-09-05 14:10] bodograumann commented on #3451
This is not implemented for typescript-inversify.

Out of interest: What is your use case of enums in contrast to union types? I have found that the latter are sufficient.

[2019-09-05 14:39] macjohnny commented on #3451
Enum values can be re-used elsewhere

[2019-09-05 14:43] macjohnny commented on #3833
Would you like to implement this?

[2019-09-05 14:45] macjohnny commented on #2053
I updated my comment to link the correct issue

[2019-09-05 15:00] bodograumann opened #3838 "[REQ] [typescript-inversify] Three small changes and one big?"
We have adapted the typescript-inversify template for our own use. Some changes are definitely worth integrating into upstream. As per the contributing guidelines, let us discuss these changes. Pull request should follow.

I think for fixing these small issues, one pull request would be ok. I would also include a fix of #3618

## Falsy Required Parameters
When a required parameter is falsy, an err

[2019-09-05 16:31] RockyMM opened #3839 "[BUG] Java generator - maven plugin - withXml maven plugin configuration option is not honored during maven build"
##### Description

I used `generatorName` java with a simple Swagger 3.0 spec file.

I noticed that the `withXml` option of the Maven plugin is not used. After issuing `mvn clean generate-sources` the sources are not annotated with `@Xml*` annotations.

This can be verified with `verbose` maven pluging configuration option set to `true` where at the very end of execution I noticed:

    "modelDocP

[2019-09-05 16:43] onionhammer opened #3840 "No docker tag corresponding to 'latest' release"
If I go to docker hub, I can see the 'latest' tag has been updated 45 minutes ago, but there is no corresponding version bump, so if a user already has 'latest' tag they would have to forcibly re-fetch the image to get the latest

![image](https://user-images.githubusercontent.com/969938/64361513-505f1080-cfd2-11e9-9469-6942faaff7be.png)

[2019-09-05 17:10] wpatter6 commented on #1943
@eseliger 	Will this fix apply to all typescript clients or just typescript-angular?  And will it apply to all prefixed properties, or just the ones listed here? I've encountered an issue with the `long` keyword being prefixed as `_long` as well.

[2019-09-05 17:13] RockyMM opened #3841 "[BUG] Maven-plugin - Build fails if inputSpecs are a file from a remote URL"
##### Description

If an URL is used as the inputSpecs, the build fails at the very end (all files are generated) with:

	INFO] writing file D:\Projects\mdh-gen\mdh-modelgen-test\target\generated-sources\mdh\.openapi-generator-ignore
	[INFO] writing file D:\Projects\mdh-gen\mdh-modelgen-test\target\generated-sources\mdh\.openapi-generator\VERSION
	[ERROR] D:\Projects\mdh-gen\mdh-modelgen-test\http

[2019-09-05 17:17] eseliger commented on #1943
this would be for all typescript clients, but it needs more investigation if that won't break with some dialects ...  Since in object property names much more keywords are allowed than for function names for example. Unfortunately, I'm really busy these weeks and won't be able to continue the work on the generator. I hope I can find some spare time end of this month

[2019-09-05 17:24] markusl commented on #3794
@macjohnny unfortunately I do not have time to work with this in the near future :/

[2019-09-05 17:35] wpatter6 opened #3842 "typescript-axios generator string property with date-time format needs to remain a string"
##### Description

Using `typescript-axios` generator, I'm getting some undesirable behavior:

For an API with a model property defined as type `string` with a format of `date-time`, the generated interface has a type of `Date` instead of `string`.

We have serious issues with time zones when converting the strings we receive from and pass to the API to a Date object on the client that are easily

[2019-09-05 18:01] bilak commented on #2901
@wing328 can you please tell me which template is it? I create PR with fix.

[2019-09-05 18:55] melissapalmer commented on #3248
@wing328 @jimschubert @jmini @macjohnny   is the fix not just to remove the {{^isModel}} from the /JavaSpring/queryParams.mustache template? As suggested by @macjohnny at: https://github.com/OpenAPITools/openapi-generator/issues/2053#issuecomment-495561796

Test example at: https://github.com/melissapalmer/openapi-generator-cli showing working params and not working with template override .

[2019-09-05 19:01] phillip-elliott opened #3844 "[BUG][PYTHON] Multiple authentication schemes are used, only want to use one"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-06 02:59] jaydeep987 commented on #2384
I think it has other issue then ?
I am using `4.1.1` and ended up with this:

[code]
(two times lol)

any idea?

[2019-09-06 03:29] wing328 commented on #3844
In other clients, if username and password are not set, then the HTTP basic header won't be sent out.

I wonder if you've time to make a similar enhancement to the Python client.

[2019-09-06 03:31] wing328 commented on #3840
The `latest` refers to the latest master (which is updated pretty frequently).

[2019-09-06 04:37] fuzzzerd commented on #3833
Updating the templates is within my capability. I don't have the java tooling or expertise to go beyond that.

[2019-09-06 04:42] fuzzzerd commented on #3833
For what its worth, per some discussions on the slack channel, I ended up doing some tweaks to my main package.json, where I run the generator.

I installed the replace package:

[code]
I have a few tasks defined:

[code]
Which isn't the best work around, but for anyone else looking for a work around this might be useful.

[2019-09-06 04:56] qmuntal commented on #3835
I´ll try to fix it during the next days

[2019-09-06 05:25] bensimpson-ch commented on #3157
@wing328  A pull request with the updated mustache file and corresponding extension to the 2_0/petstore-with-fake-endpoints-models-for-testing.yaml to test against floats.
[PR:  #3846](https://github.com/OpenAPITools/openapi-generator/pull/3846)

[2019-09-06 06:49] qmuntal commented on #3829
It seems that an empty object is tagged as `isBinary=false`. This cause that the generation automatically capitalize the first letter of the type and adds the `optional.` prefix to id, hopping that `antihax/optional` has that type implemented, which in this case it does not.

@antihax I´m not sure if map[interface]string could be implemented in your package, or even if it makes sense. WHat do you

[2019-09-06 06:53] AshSuzuki commented on #3814
I think it's *helpful*, but unnecessary.

@bodograumann, As I mentioned in `Additional context`, CRA doesn't follow `.eslintrc.js`.

[2019-09-06 07:00] #3835 closed

[2019-09-06 07:15] bodograumann commented on #3814
@AshSuzuki You talked about `.eslintignore`, which is something different.

Another solution would be to put the generated api client into a separate npm package. Then it would be included in `node_modules` of your main application and you can setup your own linting for the api. This will also make the api client code more easily reusable.

[2019-09-06 08:59] bilak commented on #2901
as workaround while new version is published create directory `${maven.multiModuleProjectDirectory}/openapi/templates/JavaSpring` add `<templateDirectory>${maven.multiModuleProjectDirectory}/openapi/templates/JavaSpring</templateDirectory>` to `openapi-generator-maven-plugin` config and include there [this file](https://github.com/OpenAPITools/openapi-generator/pull/3843/commits/ce3b7c5215a3d0ceb9

[2019-09-06 09:03] macjohnny commented on #2384
@jaydeep987 can you open a separate issue?

[2019-09-06 09:38] lorthirk opened #3848 "[BUG][JAVA] Relative references to different directories always followed from the main openapi.yaml"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

I have a spec

[2019-09-06 14:01] onionhammer commented on #3840
@wing328 Makes sense.. so if there is a fix you want to use (like the one that lets you use Typescript 3.6), you just have to wait for it to come out with a tag in order to truly use it because the next person to download :latest may get an awful breaking change?

[2019-09-06 14:08] wing328 commented on #3841
Can you try the latest master, which should have the issue addressed?

Happy to reopen the issue if it's not the case

[2019-09-06 14:08] #3841 closed

[2019-09-06 15:44] wing328 commented on #3840
What about using SNAPSHOT JAR instead? The SNAPSHOT is published whenever there's a change to master, next minor/major release branches.

Ref: https://github.com/OpenAPITools/openapi-generator#11---compatibility

[2019-09-06 17:39] andys8 commented on #2845
I retested with the current version and the generated files are working fine with discriminator inheritance (elm and java/springboot).

For both languages there are additional files generated with an `AllOf` suffix that weren't before.
(`MessageAllOf.elm` / `MessageAllOf.java`). Not an issue, but I noticed it as a difference.

Thanks to everybody who took a look at the issue :)

[2019-09-06 20:30] onionhammer commented on #3840
@wing328 we're using docker as part of our build system so every developer doesnt have to give their computer cancer (i.e. java)

[2019-09-06 20:34] austbot opened #3852 "[REQ] WithHttpInfo for Dart Clients"
### Is your feature request related to a problem? Please describe.

This feature request is related to not being able to get HTTP response headers easily within the dart client. Some

## Describe the solution you'd like

Like many other clients we should implement the `*WithHttpInfo` methods on the ApiClients

## Additional context

I have submitted a pr #3851
@ircecho @swipesight @jaumard @nickme

[2019-09-06 23:05] peyerroger commented on #3248
@melissapalmer That was my first idea as well, but it would reintroduce [#2655](https://github.com/OpenAPITools/openapi-generator/issues/2655) this issue here.

Instead of ^isModel we could use #isPrimitiveType. I wrote a couple of test cases to ensure it's properly working and it does.

What I don't really understand is why this change was introduced [146c1fb](https://github.com/OpenAPITools/open

[2019-09-07 01:47] jimschubert commented on #3248
@peyerroger correct, that commit was intended to fix #2655. I think there are two options.... first, we could add to the condition as I suggested previously, something like:

[code]

Or second, we could revert that commit and reopen the bug.

[2019-09-07 02:51] jimschubert commented on #3248
I've opened #3855 with a proposed fix. Would someone from this thread be able to test it out and provide feedback?

[2019-09-07 08:31] peyerroger commented on #3248
Hi guys,

I created a PR as well ( #3857 ). Here's what I did:

- I reverted this [146c1fb](https://github.com/OpenAPITools/openapi-generator/commit/146c1fb25530699661211bcdd92b76491902b4b7), but kept the test to ensure that there's no regression on issue #2655
- I used isPrimitiveType instead of ^isModel in the mustache template. This seems to be a much simpler solution and a lot less invasive as

[2019-09-07 10:20] #3769 closed

[2019-09-07 13:31] #3852 closed

[2019-09-07 14:40] etherealjoy commented on #3651
Added support for binary data in #3853

[2019-09-07 15:29] jaumard opened #3858 "[REQ] [dart] Generate a copyWith help method on models"
### Is your feature request related to a problem? Please describe.
It can be very useful to generate a copyWith help method on the generated models.
Generated models are immutable so to change a properties you need to recreate an object, a copyWith method will be super helpful for that.

## Describe the solution you'd like

Modify the template to generate a copyWith method

## Describe alternative

[2019-09-08 01:17] nickmeinhold commented on #3858
Sounds great!

I put up #3797 at some point, not the same thing but related (and I agree with your point about not adding a further dependency)

Please correct me if I'm wrong but I believe the Dart generator currently does not currently create immutable models. I notice the DartJaguar generator creates final fields - are collection types also immutable? I couldn't tell with a quick read sorry.

I

[2019-09-08 06:10] nickmeinhold commented on #3816
Thanks @wing328!

So am I right in saying:
1. the java produces a set of maps for use with the templates
2. the java uses jmustache to apply the templates to the maps, which produces the client lib

- currently we have unit testing of step 1 but no testing of step 2

So I'm thinking I might get the tests that are at `samples/client/petstore/dart2/petstore` working and add to CI, what do you think?

[2019-09-08 06:18] nickmeinhold commented on #3816
I've also been wondering about having a step in the CI that runs the analyzer (after adding a standard `analysis_options.yaml`, I would think using the `pedantic` lints).

Maybe this needs a separate issue?

[2019-09-08 08:53] jaumard commented on #3858
Look like jaguar don't use immutable list (but they are final, just not immutable), but that's something I want to work on when I have some time as for me it's a must have.

I generally use the copyWith with named parameters but you're right you can't set value to null :/
I'm not familiar with built_value at all but if they have a solution that fix this problem I guess it should be the way to go :

[2019-09-08 09:10] peyerroger commented on #2053
Hi guys

Even with the RequestParam annotation spring is not able to parse date/datetime into localdate/localdatetime.

The suggested fix of @macjohnny to add @DateTimeFormat(iso = DateTimeFormat.ISO.DATE) is the correct way from my point of view. At the moment we add this on the implementation. But it would be nice to have it in the generated code. I will create a PR if you agree.

@macjohnny The

[2019-09-08 10:19] kanwar-saad commented on #535
I am using version 4.1.1 and I still see the same issue.

[2019-09-08 11:11] peyerroger commented on #2053
@macjohnny Had some time and created the PR right away. #3860 Could you take a look? Do you know who can add the technical committee? Could you do that?

Please note this only works correctly when issue #3248 is resolved as well.

[2019-09-08 18:36] jaumard commented on #3858
I've checked built_value and the notation is indeed weird lol
But what we can do is this:

[code]

Will be much easier to use and implement. `Optional` class must be generated once on his own file and we're done :)

[2019-09-08 20:33] jpascualsana commented on #3813
For the moment it don't seems so, but we would like to use only CamelCase on our project, also in python wrappers, breaking with the pythonic rules.

Is there a way to modify the template to disable snake_case and use CamelCase for variable names an others?

[2019-09-08 20:34] jpascualsana commented on #3696
It seems that will be not a way to do that with the current template, so the solution could be to modify the template to add this feature?

[2019-09-09 03:27] nickmeinhold commented on #3858
Yeah it's super weird!

So this would be the "optional optional named parameters" approach :-)  Yeah I've gotten around the named parameters limitation by wrapping any fields I wanted to be able to set to null in an extra object, same kind of approach and I agree it gets past the limitation. I don't agree that a copyWith that takes Optional objects is definitely the answer though. In my opinion it

[2019-09-09 04:17] nickmeinhold commented on #3785
@lingster this would be really cool, are you working on this? I'd like to have a go at it but wanted to check with you first.

[2019-09-09 05:19] melissapalmer commented on #2053
@diyfr are you possibly the correct person to include as the technical person for Java Spring server related work?

[2019-09-09 05:20] macjohnny commented on #3838
cc @gualtierim

[2019-09-09 05:22] melissapalmer commented on #2053
@peyerroger looks like there are a few people on the tech committee see here:
https://github.com/OpenAPITools/openapi-generator#62---openapi-generator-technical-committee

[2019-09-09 06:08] macjohnny commented on #2901
you could also post-process the generated files with a script and remove the unused import by search/replace.

[2019-09-09 06:13] macjohnny commented on #3842
you could pass a custom type-mapping `--type-mappings date=string`

[2019-09-09 06:50] jaumard commented on #3858
as stated in https://github.com/OpenAPITools/openapi-generator/issues/3785#issuecomment-529293361 we'll go for merging as much as we can into one generator, but it will still be two different generators imho, as models and api will have to be generated differently.

I'm talking about what I know, so only dart-jaguar but it's a generic discussion to bring this on all dart generator if there is a ne

[2019-09-09 07:39] #3838 closed

[2019-09-09 07:39] #3618 closed

[2019-09-09 07:54] gualtierim commented on #3838
I prefer an unique request that summarise all. For the first request, @macjohnny in the other javascript based languages only undefined is checked?

[2019-09-09 07:59] nickmeinhold commented on #3858
I think either merging or keeping separate would make sense but trying to do both doesn't.

The first step before making them both immutable would be to discuss it. I think there are many cases where immutable models are great but I'm not sure it's reasonable to assume everyone will want immutable models.

Maybe we could get some input from the core team on whether the project have a best practice

[2019-09-09 08:39] jaumard commented on #3858
I don't see any valid arguments to have mutable models :)
For me mutable models are bad practice so let's not allow bad practice for our users.
But let's ear the arguments in favor of mutable models , I'm curious maybe I miss something.

What do you think @wing328 ? Any common practice across generators around this ?

[2019-09-09 09:55] RockyMM commented on #3841
I will have a busy week, so I cannot test it until next week. If the release is coming soon I could test with 4.1.2; that would be much simpler for me :)

[2019-09-09 09:59] RockyMM commented on #3841
Likely duplicate of #3440

[2019-09-09 10:02] nickmeinhold commented on #3858
The main arguments as I understand for allowing mutation are about speed and memory.  Don't get me wrong, I think there are problems that come with mutation and many great arguments for having immutable objects in many circumstances and I usually make that choice.  But different circumstances have different requirements and priorities so each has its place and I don't think it's fair to call mutat

[2019-09-09 10:40] Flugtiger opened #3861 "[BUG][JAVA][JAXRS] Query and path parameters are not validated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

The validatio

[2019-09-09 10:55] #2731 closed

[2019-09-09 11:12] bodograumann commented on #802
Seems like there hasn’t been any progress in some time on this!? What is the status, @TiFu ?

Have you decided about using rxjs, cancelable promises polyfill or no cancelation?
How do you intend to build the different framework-specific variants onto this template?

[2019-09-09 13:31] jmini commented on #3848
OpenAPI-Generator is relying on Swagger-Parser. If they have an issue (which seems to be the case), then there is nothing we can do.

You need to work on a solution for the issue in the Upstream project, then we can see how to integrate it.

[2019-09-09 13:38] lorthirk commented on #3848
I see. As you can see, I already opened an issue on their side. Thanks anyway!

[2019-09-09 13:51] marikori opened #3863 "[BUG][SPRING] Default value for query parameter not exported to code and doc"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-09 13:59] macjohnny commented on #3863
swaggerhub uses swagger-codegen. this project is a fork of swagger codegen.
did you try generating the code with openapi-generator with one of the options mentionned in https://openapi-generator.tech/#try ?

[2019-09-09 14:01] macjohnny commented on #3863
or e.g. http://api.openapi-generator.tech/index.html

[2019-09-09 14:52] wpatter6 commented on #3842
Thanks @macjohnny 	that got me to what I need, with a little trial and error it looks like the parameter to switch JS Date objects to strings is `--type-mappings Date=string`.  This works for me, closing issue

[2019-09-09 14:52] #3842 closed

[2019-09-09 15:51] fuzzzerd commented on #802
This is a really good idea, and will greatly help the typescript community using openapi generator. The ecosystem is quite fractured. Having a single typescript generator with the various abstractions being optional (http, promise/observable, authentication) arguments would really be a game changer.

While my ability to work on the underling java platform is practically none, I'd be more than happ

[2019-09-09 21:47] TiFu commented on #802
@bodograumann unfortunately i don't have any updates and for the foreseeable future, I also don't know when I will have time to work on it.

@fuzzzerd I'll create an overview of where we currently stand and what the major decision points are this weekend. I think I mostly stuck to what I originally proposed and I think I even implemented one of the generators already. I'll tag you when I post the

[2019-09-09 21:48] dbcfd opened #3865 "[REQ] Upgrade to tokio 0.2 and related async/await features"
### Is your feature request related to a problem? Please describe.

The tokio ecosystem is currently migrating to std::future::Future and async/await support. This should land in rust 1.39 (currently stable in nightly)

## Describe the solution you'd like

Upgrade to appropriate versions for tokio and hyper that make use of std::future::Future and async/await

## Describe alternatives you've consi

[2019-09-09 21:51] dbcfd commented on #3865
Not seeing how to add label `client:rust` or `server:rust`

[2019-09-10 04:01] falejand commented on #2979
+1
Happening on 4.1.0 and 4.2.0

[2019-09-10 06:47] lingster commented on #3785
@nickmeinhold I've not started working on this yet as there's been a bit of discussion above on how best to tackle it. Feel free to give it a go in the meantime!

[2019-09-10 07:58] flaxoiu opened #3868 "[BUG] Java Open-API-Generator Version > 4.0.0.0 - Broken Import-Mappings"
Since Version 4.0.0 of openapi-generator-maven-plugin for Java, the import-mappings not working anymore.

I tried the following with the Maven "openapi-generator-maven-plugin" plugin with version 4.0.0 until 4.1.1

![image](https://user-images.githubusercontent.com/36970409/64594955-4b72d600-d3b1-11e9-8774-dc87c0a6fea4.png)

![image](https://user-images.githubusercontent.com/36970409/64594990-5c23

[2019-09-10 07:59] flaxoiu commented on #3868
With version 3.3.4 it works but not with newer version

[2019-09-10 08:22] macjohnny commented on #3868
@flaxoiu would you like to help us and fix it?

[2019-09-10 08:42] nickmeinhold commented on #3785
Awesome, thanks for the response! I was checking out Dio and really impressed. I'd like to start using it. I'll let you know if I get anywhere with adding it.

[2019-09-10 12:49] keean opened #3869 "[BUG][typescript-fetch] Generating incorrect types"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [x ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x ] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2019-09-10 13:37] macjohnny commented on #3869
can you explain why it should be `List` instead of `Array`?

[2019-09-10 14:04] keean commented on #3869
First, Array is not a valid typescript type, It would have to be Array<T> and what is T?

The easiest way to see what type it should be is to look at the code. If we look at the return statement from the function starting at line 182:
[code]
We can see that the parameter to runtime.ApiResponse must be the same as the type returned from ListFromJSON which returns List.

[2019-09-10 14:15] macjohnny commented on #3869
@keean can you try with the latest version `4.1.1`?

[2019-09-10 15:28] keean commented on #3869
4.1.1 seems to have the same problem, but less serious because it at least compiles (with warnings).

However the client code has to treat the value as a "List" because it has this interface:
[code]
It is clearly not an `Array`, it does not even have a `length` property. ListFromJSON returns a `List` because that is what the JSON structure passed from the server its, not an array.

I don't really

[2019-09-10 16:00] ccopland94 opened #3870 "[BUG] Description"
##### Description

When trying to generate the code for a file upload endpoint in aiohttp (python), it generates a "file" type for the binary string.

##### openapi-generator version
4.1.1
##### OpenAPI declaration file content or url

##### Suggest a fix

[2019-09-10 19:28] keean commented on #3869
Have just discovered this is an Error in production mode, it's a warning only for development compilation, so it is important to me to get this resolved.

[2019-09-10 19:56] macjohnny commented on #3869
Would you like to implement a fix?
I think the type should be Array<T>, and hence fixed in the ...FromJSON
@TiFu what is your opinion?

[2019-09-10 23:58] keean commented on #3869
How can the type be an Array? Can you explain the logic to me, because what is there is not an Array at all, it has no elements, it has not length, it is an object. This can be proved quite simply by adding a console.log in there:
[code]
So we can clearly see the Promise resolves to a `List` and not an `Array`, hence the return type of postEventSearch must be `Promise<List>`

[2019-09-11 01:29] TiFu commented on #3869
@macjohnny I agree with @keean that it should be of type `List`.

The bug is in AbstractTypeScriptClientCodegen:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java#L110

It defines that the type `list` maps to a (TypeScript) array which in my opinion doesn't make a whole lot

[2019-09-11 05:40] macjohnny commented on #3869
@TiFi @keean thanks for the analysis. Now I understand, `List` is a custom type, and I agree, the mapping in
https://github.com/OpenAPITools/openapi-generator/blob/e73bf9be1d79746b31046424f3ab011b0584ac95/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java#L110
does not make sense. @wing328 can you confirm there is no generic type `List`

[2019-09-11 06:26] aeb-sia opened #3872 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

In generated typescript code promises are rejected with plain objects instead of error instances.
By not using errors we loose stacktraces and thus easy debugging.

## Describe the solution you'd like
Reject Promises with proper Error instances. This would be done [here](https://github.com/OpenAPITools/openapi-generator/blob/maste

[2019-09-11 06:35] marikori commented on #3863
Tested openapi-generator. The code contains default value definition, however doc doesn't (for par1 in the example OAS).
@macjohnny - would you know where to raise bug for swagger-codegen?
Can openapi-generator consume URL instead of file with OAS def?

[2019-09-11 06:42] wing328 commented on #3869
"List" is not an OpenAPI type from what I can tell.

[2019-09-11 07:00] macjohnny commented on #3872
if your proposed new `HttpError` class contains the properties `body` and `response`, it isn't a breaking change and thus could be included soon. so go ahead and file a PR.

[2019-09-11 07:25] jaumard commented on #3858
What do you mean by that ? Dart as immutable types:
https://api.dartlang.org/stable/2.5.0/dart-core/List/List.unmodifiable.html
https://api.flutter.dev/flutter/dart-core/Map/Map.unmodifiable.html

I think that's all we need for immutability :)

[2019-09-11 10:21] nickmeinhold commented on #3858
Maybe I should have said it differently, I meant Dart doesn't have language level support for making classes immutable. Some languages do but Dart isn't one of them. When you create your own classes and choose how you're going to make them immutable you'll be making your own assumptions and decisions that won't necessarily match other peoples.  For example I don't agree that final fields and unmod

[2019-09-11 10:55] jaumard commented on #3858
Ho ok got it :)

For jaguar you don't have much of a choice ^^ either you make your models mutable, or you make them "immutable" with final fields. Jaguar-serializer doesn't support any other kind of models right now.

I agree that in pure dart you have multiple ways of achieving it ^^ I should have specify the context ^^

[2019-09-11 11:39] Kapim commented on #3274
Hello, any news on this issue? optionalEmitDefaultValues parameter is still ignored.

[2019-09-11 12:06] ackintosh opened #3874 "[BUG] Options are not parsed correctly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
  - 4.1.2-SNAPSHOT
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optiona

[2019-09-11 12:48] carlosmonterocanabal commented on #327
Hi @bulalak , did you resolve this bug with any workaround?

[2019-09-11 12:52] #2053 closed

[2019-09-11 15:12] TomerJLevy opened #3877 "[BUG] Cpprestsdk - ModelBase.cpp fails to compile on Kubuntu 14"
Hi,

The sample of cpp-restsdk/client/ModelBase.cpp fails to compile on Linux.
The same Cpprestsdk version compiled fine using v4.0.2 generator.

**Because of line 299:**
![image](https://user-images.githubusercontent.com/22237259/64709179-80b91a00-d4be-11e9-9422-0d1565bd0103.png)

"No matching function for call to 'utility::datetime::from_string(const wchar_t....).."
"Candindate is: utility::date

[2019-09-11 15:31] #3868 closed

[2019-09-11 15:32] flaxoiu commented on #3868
Import-Mappings is now direct part of configuration node and not inside configOptions node anymore

[2019-09-11 16:32] martyzz1 commented on #3844
I've just run up against this when supplying an ApiKey header - but on an endpoint configured for a Bearer or ApiKey header....  I'll see if I can submit a patch

[2019-09-11 16:45] TomerJLevy commented on #3877
The bug was created in the last pull request:
https://github.com/OpenAPITools/openapi-generator/pull/3572/files

[2019-09-11 18:05] keean commented on #3869
So if I comment out that line, it generates the correct types.

However I still have to make a manual change to get it to compile without error, that I might as well mention here, I have to replace GlobalFetch with WindowOrWorkerGlobalScope in src/runtime.ts

[2019-09-11 18:06] martyzz1 commented on #3844
My custom configuration.mustache file is looking a bit out of date so hard to post a diff....

But the crux of the issue is here...

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/configuration.mustache#L251

If auth_settings() returns *any* value, then the api_client's update_params_for_auth() . will get a "value" for the Authoriz

[2019-09-11 18:38] macjohnny commented on #3869
I believe there is a PR for that

[2019-09-11 19:09] macjohnny commented on #3869
An option to generate code for typescript 3+ was introduced, which should fix that

[2019-09-11 21:36] f-zampieri commented on #3223
@Sevenarth refers to two issues - one in the case of using $ref, the other in the case of items in an array. I am running into this issue when attempting to use $ref. Duplicating the example below:
[code]
As indicated, the generated name is the base name, and not the XML name.
Any possible work-arounds for now?
Thanks for any replies.

[2019-09-12 12:28] atetzner opened #3880 "[BUG] [KOTLIN] [CLIENT] Optional query parameters handled wrong"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-13 13:42] robinbakkerus opened #3884 "Error in generated Dart client code: Undefined name 'OneOf'."
The generated Dart code gives the error:  'Undefined name 'OneOf' on this line in klantbeeld.dart:
OneOf&lt;VroegPensioenAanspraak,WeduwePensioenAanspraak&gt;.listFromJson(json['aanspraken']);

The command used to generate the Dart code:
`java -jar modules\openapi-generator-cli\target\openapi-generator-cli.jar generate -g dart -i klantbeeld.yaml -o  /tmp`

Using the openapi-generator (https://gith

[2019-09-13 23:01] sverch opened #3885 "[BUG] [Rust] Rust-reqwest client fails because of null values in tags arrays from petstore.swagger.io"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-13 23:03] dan-drl opened #3886 "[C++][cpp-restsdk][BUG] Templating variable x-codegen-response-ishttpcontent not being set correctly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-14 10:50] wing328 commented on #3829
Looks like the mapping is correct:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java#L110

but the reference (alias) is not resolved correctly somehow.

There's another PR trying to map "object" to just interface: https://github.com/OpenAPITools/openapi-generator/pull/3878

Please review

[2019-09-14 17:32] SullivanWazowskii opened #3891 "combine"
##### Description

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2019-09-14 17:32] #3891 closed

[2019-09-15 07:02] wing328 commented on #3885
Travis CI is using a local Petstore server for testing so we can avoid issues with bad data in the public petstore server.

[2019-09-15 10:12] TomerJLevy commented on #3877
Fix - Commit 2c95d10

[2019-09-15 13:47] keithtian commented on #3806
I notice that the new generator is included in the v4.1.2 release. Thanks a lot.

My teammate has taken over the task so I'll let him know and ask him to reply here if he has any question.

[2019-09-15 13:59] michelealbano commented on #3179
I can work on it, if it's still pending

[2019-09-15 14:56] richardwhiuk commented on #318
We still don't entirely support additional properties - e.g. we don't support objects which mix additional properties and non-additional properties.

[2019-09-15 16:09] frankyjuang commented on #3836
might be the same  as https://github.com/OpenAPITools/openapi-generator/issues/2398

[2019-09-15 16:25] etherealjoy commented on #3836
@frankyjuang
You are right. I will close this one.

[2019-09-15 16:25] #3836 closed

[2019-09-15 18:46] devdream02 opened #3894 "Springboot codegen : Compilation error in generated controllers if the skipDefaultInterface tag is set to true"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-16 06:58] macjohnny commented on #3894
you need to override the interface methods, as the error message indicates:
[code]

[2019-09-16 12:22] macjohnny commented on #3336
@vfrank66 would you want to implement this in the current master, too? so it could be made available soon.

[2019-09-16 13:59] TiFu commented on #802
As promised:

# Major Decision Points

- Buffer (Node) vs Blob (Browser) support
    - Idea: Add a flag which indicates whether Blob or Buffer should be used for files
- Cleanup TypeScriptClientCodegen.java (our new generator class)
- Integration of OAuth2 (How?)
- Support for Inversify
	- How can inversify be integrated into the current design?
- Integration of different current generators (I had

[2019-09-16 16:35] devdream02 commented on #3894
Hi @macjohnny , well that's the point, every time i generate/build my project it will override the existing controllers and again i need to override the methods. If the skipDefaultInterface is generating the API interfaces with default methods then the generated controllers should also automatically override the methods without default implementation. Please correct me if i am wrong.

[2019-09-16 16:52] wing328 commented on #3815
We just release v4.1.2. Please give it a try to see if it works for you.

[2019-09-16 17:22] macjohnny commented on #3894
You can add the controllers to the .openapi-generator-ignore file

[2019-09-16 17:32] devdream02 commented on #3894
But again that's just a workaround, i need my controllers to be generated but with proper methods overridden.

[2019-09-16 17:46] macjohnny commented on #3894
As far as I know the openapi generator only generates on a per-file basis, it does not modify l existing code

[2019-09-16 17:48] lemoinem opened #3896 "[BUG] .openapi-generator/VERSION always says `unset` on windows (installed via npm)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? 4.1.2
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

On Wind

[2019-09-16 17:56] vfrank66 commented on #3336
Sorry started this and then fell asleep on it, will complete this week.

@quezak - nestjs will be most similar to `typescript-angular` with small exceptions like token injection, and decorator naming convention. With regards to these library similarities it will be injectable into the nestjs DI container as a nestjs service, or in nestjs terms `module` just as angular codegen is injectable into an

[2019-09-16 18:02] devdream02 commented on #3894
okay well that's partially true, lets say i have written a spec with 3 endpoints, and it has generated the api interface as well as controllers with errors to override the methods. And i have fixed that issue manually for the first time. Now i add one more endpoint in my spec and i want to generate the api interface and controller for it too, but the issue that will come now is the existing file w

[2019-09-16 18:04] macjohnny commented on #3336
If you want to have your feature published in an official release soon I suggest you to file your PR against master. I don‘t know how long it will take for the typescript refactoring to land

[2019-09-16 18:39] macjohnny commented on #3894
Here is what I usually do: I generate interfaces, and in a separate location I write the controllers that implement those interfaces. You have to write the controllers anyway as you need to implement the endpoint

[2019-09-16 18:45] devdream02 commented on #3894
Well i am doing the same, just thought that it would be good if the issue is fixed and the generated code will work out of the box without any errors.

Thanks for the suggestion though.

[2019-09-16 18:53] jmini commented on #3625
Thank you for the contribution

[2019-09-16 18:53] #3625 closed

[2019-09-16 19:31] #3894 closed

[2019-09-16 20:17] gouthams opened #3897 "[BUG] Description"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
Yes
- [ ] Have you validated the input using an OpenAPI validator ([example]
Yes
(https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
openapi-generator-cli:v3.3.4
- [ ] Have you search for related issues/PRs?
Yes, no related issues
- [ ] What's the actual

[2019-09-16 22:11] BenedicteLeo opened #3898 "[Question] [CSHARP] Disable validation of required fields in model constructor and json"
I am attempting to disable client model validation entirely in C# in order to run negative tests on my service. More specifically, I need my client model classes to not perform null checks in the constructors, and the Json serializer to ignore empty fields. Some of the fields are required in my yaml, but I specifically want to send null values to the service to test its behavior. Is there an easy

[2019-09-17 03:48] andrewemery opened #3899 "[REQ] Kotlin Multiplatform client"
Support the generation of Swagger clients for [Kotlin Multiplatform](https://kotlinlang.org/docs/reference/multiplatform.html).

[2019-09-17 04:20] andrewemery commented on #3899
Pull request open: https://github.com/OpenAPITools/openapi-generator/pull/3900

[2019-09-17 06:09] jmini commented on #3180
Check PR https://github.com/OpenAPITools/openapi-generator/pull/3901

[2019-09-17 06:10] jmini commented on #795
For the "Static file" approach, I have proposed PR https://github.com/OpenAPITools/openapi-generator/pull/3901

[2019-09-17 11:09] vsizko opened #3902 "[JAVA - SpringCodegen] Bug/feature generating code with swagger annotations v3"
##### Description
In Spring Boot 2.1.6 project we use SpringCodegen and openapi-generator-maven-plugin to generate DTOs and interfaces for controllers from yaml-file with openapi 3.0.0. Generated files contains swagger annotations from package "io.swagger.annotations", although expected annotations from package "io.swagger.v3.oas.annotations", because in source yaml-file used openapi v3. Generated

[2019-09-17 15:27] macjohnny commented on #3902
please post some example code

[2019-09-17 16:11] etherealjoy commented on #3421
solved in #3853

[2019-09-17 16:11] #3421 closed

[2019-09-17 16:12] etherealjoy commented on #3457
solved in #3853

[2019-09-17 16:12] #3457 closed

[2019-09-17 16:13] etherealjoy commented on #3651
@dongfangxunlei
Could you please check current master if your issue is solved.

[2019-09-17 16:22] sparqueur opened #3904 "[REQ] Java client - Extra http parameters"
### Is your feature request related to a problem? Please describe.

Some "swagger.json" of external api are incomplete (missing query parameter documentation for instance or http headers...).
The generated rest client has no extension point (to pass extra parameters).

## Describe the solution you'd like

Ability to pass a lamba function to interract with localVarQueryParams, localVarHeaderParams.

[2019-09-17 16:31] wing328 commented on #3904
The best way is to fix the OpenAPI/Swagger spec/document.

[2019-09-17 16:48] sparqueur commented on #3904
Obviously :-) I was expecting such response and I do agree.
It's just I don't manage the third party project.
So, I'm going to copy paste the swagger file and alter it manually but in case of api evolution I will have to do it again.
I will also create a ticket in the library project.
Thank's for your answer

[2019-09-17 17:05] wing328 commented on #3897
Please try the latest stable version: v4.1.2

[2019-09-17 17:43] f-zampieri commented on #3223
Hello @Sevenarth,
Thanks very much for your response. I have spent some time trying to understand your guidelines, and it seems to me there is a mismatch between my issue and the fix you are suggesting. The class InlineModelResolver does not appear to be responsible for unaliasing $refs. If we refer to our example:
[code]
The issue at hand is that MyObject needs the XML data contained in OtherObje

[2019-09-17 17:47] Sevenarth commented on #3223
Hi @f-zampieri,

No, InlineModelResolver only deals with flattening the schema. What I explained is that you can edit it, because it already contains the loops that you need. Since it loops through the models recursively, it checks if a model above first level is referenced or needs to be moved (flattened). In this situation, when it encounters a referenced model you can just add the code that tak

[2019-09-17 18:55] anuhyapolisetti opened #3905 "[BUG][SPRING]compilation errors due to different request body type in api and apiDelegate files"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-18 00:33] dongfangxunlei commented on #3651
@etherealjoy Should I build the source of generator myself?

[2019-09-18 02:41] wing328 commented on #3651
You can use the snapshot jar as mentioned in the readme.

在 2019年9月18日週三 上午8:33，dongfangxunlei <notifications@github.com> 寫道：

[2019-09-18 08:06] MaPhiWe commented on #15
What is the status here? I have a Swagger file containing `oneOf`.

`        bankAccount:
          oneOf:
          - $ref: "#/components/schemas/BankAccountWithIban"
          - $ref: "#/components/schemas/BankAccountWithoutIban"
`

It compiles to

`
  public static final String JSON_PROPERTY_BANK_ACCOUNT = "bankAccount";
  private OneOfBankAccountWithIbanBankAccountWithoutIban bankAccount = nul

[2019-09-18 08:36] j0th opened #3908 "[BUG] [Java Spring] Illegal date format in generated delegate examples"
##### Description
The generated code (generator v4.1.2) for the example responses in an api delegate has illegal date formats for the properties of type "string" and format "date".

[code]

##### openapi-generator version
4.1.2

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation
`docker run --rm -v %CD%:/local openapitools/openapi-generator-cli:v4.1.2 gene

[2019-09-18 10:35] #3591 closed

[2019-09-18 10:59] kkalavantavanich opened #3909 "[BUG][SCALA] sbt unresolved dependency org.openapitools#openapi-generator;4,1,2: not found"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you search for related issues/PRs?

##### Description

Cannot use openapi-generator with sbt. I have provided a reproduction sample at https://github.com/kkalavantavanich/cannot-import-openapi-generator

##### openapi-generator version

4.1.2

##### OpenAPI declaration file content or url

N/A

[2019-09-18 11:02] kkalavantavanich commented on #3909
Sorry, my bad. Just noticed the typo in the `build.sbt` file the moment I submitted this issue.

[2019-09-18 11:02] #3909 closed

[2019-09-18 12:37] ChristianLutz commented on #1381
@grmcdorman Note: If your are only using the csharp generator you may switch from `format = "binary"` to `format = "byte"` then you get a `byte[]` instead of an `System.IO.Stream`. I know this is wrong. And it doesn't help you if you use several generators.

@wing328 Does this help to fix this bug?

[2019-09-18 13:09] atetzner commented on #3880
Created pull-request #3903 to fix the issue

[2019-09-18 14:42] f-zampieri commented on #3223
Hello @Sevenarth,
With your help I was able to get a fix in place. Thanks very much!
The algorithm (if I may call it that) might not be quite what you envisioned. What I'm doing is as follows.
1. While flattening the properties of schema X, for a given property we'll call schema Y, I check if $ref is present. If so, I add schema X and schema Y to a Map such that schema Y maps to schema X. For exam

[2019-09-18 18:17] siilats commented on #2534
i submitted this PR https://github.com/OpenAPITools/openapi-generator/pull/3910 that seems to work

[2019-09-18 19:51] benjaminSchilling33 opened #3912 "[REQ] [Dart] Generated code ready to be published to pub"
### Is your feature request related to a problem? Please describe.

The generated code can not be published to pub without manual post-processing due to mismatch with the Dart guidelines.
1. The **docs** directory should be named **doc**
2. The pubspec is missing the author and homepage
3. The overall score in the pub analyzis is very low ([Example](https://pub.dev/packages/openrqm#-analysis-tab-)

[2019-09-19 00:54] dongfangxunlei commented on #3651
Yeah. It works now. Thanks for your great work!
One more suggestion: Qt5 client put all source files in the same folder, it is better to seperate they into different folder by Models/Apis/Others

[2019-09-19 04:52] sagikazarmark opened #3913 "[BUG] [Go] Missing os import when the return value is a file"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-19 07:54] janssk1 commented on #15
oneOf just means that one of the 'subschema' should match. Those schema's can even be validation-only schemas, without any properties. 3GPP is using 'oneOf' to express that one of two properties in the 'parent' must be required.

Example:

`components:
  schemas:
    Notification:
      type: object
      properties:
        externalId:
          type: string
        msisdn:
          type: string

[2019-09-19 07:58] MaPhiWe commented on #15
Thanks. My problem is that the class `OneOfBankAccountWithIbanBankAccountWithoutIban` is used as a type, but not created anywhere, causing the compilation to break.

The obvious workaround (declare the empty class in the regular code) is available.

[2019-09-19 08:21] nickmeinhold commented on #3912
Thanks for the issue!

Are you proposing we assume the generated packages will be hosted on the Pub site?

I guess the positive side to that is it will save time for some (those that do want that) but then it (depending on how the solution is implemented) could be leaving unwanted clutter for those that don't.

One major downside in my opinion to removing any friction so the generated package is a

[2019-09-19 12:13] julesdent opened #3916 "[BUG][C++][Pistache] Serialized object path parameters missing operator>>"
#### Bug Report Checklist

- [ x ] Have you provided a full/minimal spec to reproduce the issue?
- [ x ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ 4.1.2 ] What's the version of OpenAPI Generator used?
- [ x ] Have you search for related issues/PRs?
- [ x ] What's the actual output vs expected output?
- [ ] [Optional] Bo

[2019-09-19 12:27] benjaminSchilling33 commented on #3912
@nickmeinhold I thought about the same issues that you mentioned, but using the generated code via a dependecy makes maintenance a lot easier then having to copy it manually.
The generated could would be useful only for path packages right now.

I would like to provide more pull requests in the future that enhance the analyzis score of the generated code and thus making the code generation results

[2019-09-19 13:08] prajon84 commented on #3197
@nehme-bilal-ah , @wing328 : Any PR has been opened for this issue yet or not?

[2019-09-19 13:15] nehme-bilal-ah commented on #3197
Sorry guys, I am not sure that I will have time for this any time soon.

[2019-09-19 13:29] nickmeinhold commented on #3912
Sounds great!

So currently the generated README has advice on using the package as either a Path package or a Git package - the latter doesn't require any extra maintenance right?  Have I misunderstood?  Why do you say the generated code would be useful only for path packages right now?

[2019-09-19 14:18] KaiStapel commented on #2252
I have the same problem with `<generateApiDocumentation>false<generateApiDocumentation>`. The API annotations are still there with the `spring` generator.

[2019-09-19 14:21] etherealjoy commented on #3651
@dongfangxunlei
Many thanks for the feedback.
We will consider this improvement in the future for the source files.

[2019-09-19 14:21] #3651 closed

[2019-09-19 14:25] etherealjoy commented on #3877
solved in #3892

[2019-09-19 14:25] #3877 closed

[2019-09-19 15:00] benjaminSchilling33 commented on #3912
As per https://dart.dev/tools/pub/dependencies a Path Package is a package which is referenced via a local path in the filesystem and not via e.g. a Git repository URL or from pub.
For a path package less fields in the pubspec are required then for a package which should be published via pub.

[2019-09-19 19:08] massimosiani commented on #2526
Hi, I was opening the exact same issue.
I did some work in this branch https://github.com/massimosiani/openapi-generator/tree/feature/kotlin-spring-delegate-pattern, but something is still missing (reactive for instance).
Would you like to give me some feedback?
I'd like to submit a PR in a few days.
Thanks!

[2019-09-20 00:29] andrewemery opened #3917 "[BUG][KOTLIN] Bug generator Kotlin client definition with multiple enums"
##### Description

Generating a Kotlin client that contains a definition with multiple enums produces invalid output.

##### openapi-generator version

4.1.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Output

[code]

##### Expected output

[code]

[2019-09-20 07:33] namaozi opened #3920 "[BUG][typescript-fetch] cannot handle with application/x-www-form-urlencoded content"
##### Description

In OpenAPI Specification [Media Type Object](https://swagger.io/specification/#mediaTypeObject), it says `requestBody->content` 's key is media type (it includes `'application/x-www-form-urlencoded'` ) or media type range.

like this:
[code]

It seems that the request body made through by the generated code however always make `multipart/form-data` request.

like this (in src/ap

[2019-09-20 07:43] macjohnny commented on #3920
@namaozi would you like to implement a fix for this?

[2019-09-20 07:51] namaozi commented on #3920
I'm not quite familiar with openapi-generator implementation now, it seems that mustache template has no conditional branch for seeing content type...

https://github.com/OpenAPITools/openapi-generator/blob/f15f814d9b4d6f43c541cf4f837a912a75e5621d/modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache#L153

[2019-09-20 07:57] macjohnny commented on #3920
you could look at the typescript-angular client, it is handled correctly there:
https://github.com/OpenAPITools/openapi-generator/blob/b793a95765501caf120aac8538177c89c8df65f1/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L298-L307

[2019-09-20 08:32] namaozi commented on #3920
Nice! So [typescript-fetch/apis.mustache#L153](https://github.com/OpenAPITools/openapi-generator/blob/f15f814d9b4d6f43c541cf4f837a912a75e5621d/modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache#L153) could handle FormParams like this?
It was just inferred from the typescript-angular client, so I not so sure,,,

[code]

[2019-09-20 08:45] wiruzman commented on #3691
Any progress on this?

[2019-09-20 09:02] macjohnny commented on #3920
`useHttpClient` is not part of the `typescript-fetch`.
Moreover, it should be decided similar to `this.canConsumeForm(consumes);`

[2019-09-20 11:12] ChristianCiach opened #3922 "[BUG] Models of generator "jaxrs-spec" are missing `@Generated` annotations"
#### Bug Report Checklist

- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?

##### Description

When using the generator "jaxrs-spec", the generated model classes are missing `@Generated` annotations even when the generator option *hideGeneratedTimestamp* is set to *false*. The generated api-interface is annotated correctly.

##### openapi-generator

[2019-09-20 11:43] ChristianCiach commented on #3160
We can't update our OpenAPITools because this change breaks our type mapping.

In build.gradle:
[code]

Generated "Problems.java":
[code]

[2019-09-20 14:44] rbaarsma opened #3926 "[BUG][php-symfony] phpLegacySupport=false does not seem to generate strongly typed code"
#### Bug Report Checklist

##### Description

When using the option `phpLegacySupport=false`, I expect type hinting to be generated in all files, but sadly it isn't. From a quick look at https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java#L346 I deduced that there should be type hintin

[2019-09-20 17:06] wing328 commented on #3898
@BenedicteLeo what about adding a model property to skip validation in the model?

I think we've added something similar to Ruby and another generator.

Ref: https://github.com/OpenAPITools/openapi-generator/blob/ea029b402957caa27ca83909d6e7a2b175bfc879/samples/client/petstore/ruby/lib/petstore/configuration.rb#L80

[2019-09-20 18:13] etherealjoy commented on #3886
Fixed with #3888

[2019-09-20 18:13] #3886 closed

[2019-09-20 18:15] BenedicteLeo commented on #3898
So it doesn't exist yet in C#, correct? I don't have time to make changes at the moment, but thanks for the info!

[2019-09-20 23:29] sverch commented on #3885
That's good to know, thanks!  It makes sense for reproducibility.

The reason I still consider this a bug is that I would expect it to be impossible to input bad data for servers that satisfy a given OpenAPI spec.  So given your comment that probably means this is a bug in the petstore server itself.  I don't know where the code for the public petstore lives though.

[2019-09-21 00:17] fabiokung commented on #3191
the compilation error was caused by something else, with the Builder generated by sundr.io:

https://github.com/sundrio/sundrio/pull/156

[2019-09-21 09:20] fujibot opened #3930 "[YoungAngel] TITLE"

[2019-09-21 10:21] #3930 closed

[2019-09-21 10:25] richardwhiuk commented on #3865
For Rust Server, my plan is to upgrade to tokio 0.2 and hyper 0.13 when Rust 1.39 stabilises in November, which adds non-nightly support for async/await.

[2019-09-22 16:30] mikezx6r commented on #2526
I've begun looking at your PR, and provided a couple minor comments on it, but it doesn't close this ticket. I'm not 100% sure what you are adding as I haven't dug in real deep, but it is a different approach to what I desire.

My scenario would only have the interface for the Controller. This interface would have 2 methods defined for each operation.

The first method, `fun _getContact(id: Int):

[2019-09-22 16:58] fj-roman commented on #2526
@mikezx6r can you please provide an example for the spec. How do you want to define the ResponseEntity **Any** ?

[2019-09-22 17:07] mikezx6r commented on #2526
My services either have a SuccessResponse, which has a `data` and a ` notifications` property, where `data` is mandatory.
For ErrorResponse, `data` is nullable, and `notifications` can't be empty. In other words, the Controller function can return 2 different objects, hence the actual requirement that the ResponseEntity be an `Any`, and not a specific type.

For the custom generator I created, I p

[2019-09-22 17:42] den-ligin commented on #2427
https://github.com/swagger-api/swagger-codegen-generators/pull/285

[2019-09-23 02:27] erfang-bondhouse commented on #3917
Hey guys, how does a patch release introduce such a breaking change? Does this mean ordinarily in production we should not rely on the `openapi-generator-cli` shell script and instead hard code a version? Since this was not broken in 4.1.1 just one patch version before

[2019-09-23 07:31] Frontrider commented on #2906
Same here.

[2019-09-23 09:13] templafymek commented on #3691
Why even support the old model when Microsoft is not supporting it?

[2019-09-23 10:14] deroude opened #3935 "[BUG][Angular] Query parameters with additionalProperties not serialized"
##### Description

Having the following spec:

[code]

The TS is correctly generated:

[code]

But the item is not serialized, instead I get a query like this: `host/jobs?sort=[object Object]`

##### Command line used for generation

/bin/docker run [...] openapitools/openapi-generator-cli generate -i source.yaml -g typescript-angular -o /data/sdk/angular --additional-properties=npmName=@api,withI

[2019-09-23 10:17] #3920 closed

[2019-09-23 13:16] macjohnny commented on #3935
@deroude would you like to implement a fix?

[2019-09-23 14:13] affanshahid opened #3938 "Typescript Axios - Change meta configuration class name"
I have a model on my API called `Configuration`. If I generate a `typescript-axios` client, this model name clashes with the meta class name `Configuration`.

![image](https://user-images.githubusercontent.com/17955210/65433187-fbc2ee80-de35-11e9-821f-c216441b4a7e.png)

Is there a way I can specify the name of the builtin class? Otherwise I would have to prefix all model names just to solve the pr

[2019-09-23 15:57] #1498 closed

[2019-09-23 15:58] MaksimRT opened #3940 "[REQ] Feature Request Description"
## Describe the solution you'd like

I have a problem with kotlin-spring generator.

It doesn't preserve _example_ information and store _description_ in the Java doc format instead of usage @ApiModelProperty compare to the spring generator.

Springfox doesn't show _example_  and _description_  information at all(

I use openapi-generator 4.1.2 and springfox 2.9.2.

Thanks in advance!

[2019-09-23 16:03] wing328 commented on #3917
First of all, my apologies in advance if the patch release contains breaking changes, which should not be the case. Breaking changes with fallback should go to 4.2.x release while breaking changes without fallback should go to the 5.0.x.

From what I can tell, it causes compilation issues but it's more like regression.

To better catch the issue, we'll add a test case to better uncover similar iss

[2019-09-23 20:19] jpascualsana opened #3941 "[BUG] [Golang] Integer enum types values are quoted"
##### Description

When we generate a Go code for our API wrapper we get the Integer enums as string values causing problems talking with the API.

If you generate an enum like:

[code]

It generate this model:

[code]

Where the `"0"` should be `0`. As it is quoted, the JSON API call gets an string instead of an integer.

##### openapi-generator version

[code]

##### OpenAPI declaration file con

[2019-09-23 20:41] fj-roman commented on #2526
I think about the drawbacks. You are losing type safety! Spring handles Error Responses with ControllerAdvices and ExceptionHandler. Sorry, but I don't understand any advantage to avoid expected Exceptions.

[2019-09-23 21:50] rhedges commented on #3701
We are encountering this exact same issue. We're using an OpenAPI 2.0 config being generated by Azure Api Manager as well. Obviously it's a showstopper because we can't publish our angular libraries with these generated services without going through and manually initializing the queryParameters for every call individually. Would greatly appreciate this being fixed!

If it's any help this variable

[2019-09-23 22:48] julianwilkinson opened #3942 "[BUG][Golang][Server] Golang Server (Maybe Others) creates identical stubs for endpoints with multiple tags"
##### Description
Golang Server (Maybe Others) creates identical stubs for endpoints with multiple tags. The Golang compiler disallows redeclaration.

##### openapi-generator version

4.1.2

##### Steps to reproduce

Create golang server stubs with a spec with an endpoint that has multiple tags

##### Related issues/PRs

Similar behavior for ASP.net:
https://github.com/OpenAPITools/openapi-generat

[2019-09-24 00:21] clemens-smartparking opened #3943 "accept"
### Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2019-09-24 00:21] #3943 closed

[2019-09-24 00:48] clemens-smartparking opened #3944 "TypeScript (Node): Better support for binary upload and download"
### Is your feature request related to a problem? Please describe.

When having a form data parameter, e.g.:
[code]
the generated API simply takes a Buffer object. However, I think it would be nice to support the other request options, especially the one to pass meta data along with the file (also see the example on https://github.com/request/request in the 'multipart/form-data (Multipart Form Upl

[2019-09-24 04:47] macjohnny commented on #3701
As a workaround you could add an optional dummy query parameter

[2019-09-24 05:37] macjohnny commented on #3944
it would be nice if you could come up with a backwards-compatible implementation for this feature

[2019-09-24 08:43] macjohnny commented on #3938
`reserverdWords` can be used for that, but it needs to be done in a PR

[2019-09-24 08:50] Frontrider commented on #2906
The base schema that it uses to generate from does not seem to have `oneOf`, `anyOf`,`allOf` in it. I can't even generate examples with those.

[2019-09-24 10:22] mihai-dinculescu commented on #3814
I would really like this to be added as well for the very same reason mentioned by @AshSuzuki .

The files in question already have a `// tslint:disable` as the top. But `tslint` is no longer the preferred tool for linting TypeScript, `eslint` is.

[2019-09-24 11:51] affanshahid commented on #3938
For my case is there some way I can prefix the generated model names on the generator side? Don't see such an option in the `typescript-axios` configuration options.

[2019-09-24 11:56] mikezx6r commented on #2526
I prefer explicit error/validation handling from business logic, and return values that reflect this over the 'goto like' approach of using Exceptions for error/validations AND Exceptional situations.

Yes, I give up a bit of type safety in the Controller, but strictly speaking, ResponseEntity<Any> is the truest representation as Java/Kotlin don't support some form of `OR` typing so that I could b

[2019-09-24 13:30] deroude commented on #3935
I would, but I can't commit to any date before mid October. Also, just to be clear I understand the codebase correctly, the fix would be in [this ](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache) template. I would add a `serialize(param:any)` method which would be different depending on the `style`

[2019-09-24 14:21] macjohnny commented on #3935
yes, the fix should be in https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache

This feature is already implemented for the `typescript-fetch` generator, see
https://github.com/OpenAPITools/openapi-generator/blob/8408232d1a277b194848010675793e0f2ea439b1/modules/openapi-generator/src/main/resources/typescr

[2019-09-24 20:37] rhedges commented on #3701
So I investigated this further on our end and I think you're correct. The issue is the queryParameters initialization is gated behind the hasQueryParams check but the generated code that handles apiKeyQuery also expects that variable to be there.

There are two solutions, I'm not sure which is preferred:
Add a check in hasQueryParams for isKeyInQuery and set that flag to true if it is present. I t

[2019-09-24 20:49] clemens-smartparking commented on #3944
I am not aware of backwards-compatibility problems. What do you have in mind?

[2019-09-25 03:19] wing328 commented on #3917
The issue should have resolved in the latest master. Please give it a try.

[2019-09-25 03:19] #3917 closed

[2019-09-25 04:47] macjohnny commented on #3944
Just go ahead, if there is any problem, we will analyze it in the review

[2019-09-25 05:22] macjohnny commented on #3701
@rhedges thanks for the analysis!
Would you be up to filing a PR to fix this issue?

[2019-09-25 06:46] AshSuzuki commented on #3814
@bodograumann

Yeah, I know there's several options to prevent from linting.
But I feel linting should be disabled by **default**.

(Sorry about late reply)

@mihai-dinculescu

Thanks. I didn't realized these files already has `// tslint:disable`.
As current implementation produces it, this request would be reasonable.

[2019-09-25 15:40] gurumeditator opened #3952 "[BUG][Java][client] jackson-databind-nullable version variable Gradle Incompatibility"
##### Description

When generating a Java Client library, the `jackson-databind-nullable` version parameter (`jackson-databind-nullable-version`) used in `build.gradle.mustache` contains dashes instead of underscores. This results in an error during a Gradle build:

[code]

The dashes for this version parameter should be replaces with underscores. [Example file with error](https://github.com/OpenA

[2019-09-25 15:48] mrmstn commented on #3211
We use some auto-generated clients in our elixir 1.9 application and they look to work fine

[2019-09-25 16:07] wing328 commented on #3952
cc @cbornet

[2019-09-25 17:08] roman-ponomarenko opened #3954 "Is there a way to generate mock server based on the responses and examples defined OpenAPI 2.0 and 3.0 specs by using openapi-generator?"
Hi,

I'm curious Is there a way to generate mock server based on the responses and examples defined OpenAPI 2.0 and 3.0 specs by using openapi-generator?

Thanks a lot in advance.

[2019-09-25 19:01] Morkos opened #3955 "[BUG][DART]: DateTime class conflict issue in Dart? No method found (toUtc, parse)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
https://otr-backend-service-us-devo.offtherecord.com/v2/api-docs

- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?

Getting an error, but is unrelated to compilations errors I'm getting from Flutter.

_Error resolving $ref pointer

[2019-09-26 03:30] wing328 commented on #3211
@mrmstn thanks for the confirmation.

[2019-09-26 03:30] #3211 closed

[2019-09-26 09:21] aneksamun opened #3957 "[BUG][SCALA][AKKA] The base URL is hardcoded in API class"
Hi,

I found a bug in `scala-akka-client` module. In the `api.mustache` file the basePath is been set to basePath instead of provided baseUrl. As result there is no way I can set correct URL. Please find example of autogenerated file:
[code]
The bug is present in v4.1.2 (master).

The possible fix is in [api.mustache](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-ge

[2019-09-26 10:54] bigardone opened #3958 "[BUG][Elixir] Wrong api client spec on multiple result types"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-26 11:16] shaxbee commented on #522
@bkabrda PR that you referenced makes all fields pointer, that makes developer experience pretty bad as it requires wrapping every field with `Ptr*` func, shouldn't pointers be used only for non-pointer fields?

[2019-09-26 12:58] bkabrda commented on #522
@qmuntal yeah, I guess this would make sense to do, good point.

@shaxbee so IIUC you're saying that pointers shouldn't be used for maps/slices? I think that's a fair point and worth looking into.

Unfortunately I don't have time to work on any of these features ATM, but I know that @zippolyte is going to be working with the go-experimental templates, so he might be able to help.

[2019-09-26 13:59] andys8 opened #3959 "[Elm] [BUG] Enum paramters not working if not inlined ($ref)"
##### Description

Using string enums as url parameters is working, if they're defined inline per path. If a single enum definition should be used for multiple paths as parameter and referenced with `$ref`, it won't be recognized as being an enum.

For comparison: A parameter reference to an enum seems to be working for java.

##### openapi-generator version

4.1.2

##### OpenAPI declaration file

[2019-09-26 18:02] sigpwned opened #3962 "[REQ] Support for abstract classes in inheritance hierarchies"
### Is your feature request related to a problem? Please describe.

My team manages a lot of analytical tools that involve data sets with complex inheritance relationships. As a result, most of our APIs involve schemas with inheritance, even if it's just describing data.

For example, right now we're working on a tool that allows analysts to upload and analyze data with dynamic schemas defined by

[2019-09-26 18:47] smileprem opened #3963 "[REQ] Ability to skip package names in the Java Model classes"
### Is your feature request related to a problem? Please describe.

I am trying to create the Java Model classes for the below argo workflow open api spec.

https://raw.githubusercontent.com/argoproj/argo/master/api/openapi-spec/swagger.json

Here is the command that I used to create the java model classes.

[code]
Here is the config.json
[code]

What I get is a bunch of java model classes with th

[2019-09-26 23:16] alevinetx opened #3965 "[BUG][DART] oneOf dart code generation: wrong types and html-encoded code"
#### Bug Report Checklist

- [ Y] Have you provided a full/minimal spec to reproduce the issue?
- [ Y] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ Y] What's the version of OpenAPI Generator used?
- [Y ] Have you search for related issues/PRs?
- [ Y] What's the actual output vs expected output?
- [ -] [Optional] Bounty to

[2019-09-27 08:18] aneksamun commented on #3957
PR: https://github.com/OpenAPITools/openapi-generator/pull/3964

[2019-09-27 08:36] #3635 closed

[2019-09-27 12:16] stkrwork opened #3970 "[BUG][C++][C++ Rest SDK] Enum types with '-' character in name don't get escaped"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-27 13:12] reznikartem commented on #3209
Made pull request https://github.com/OpenAPITools/openapi-generator/pull/3971

[2019-09-27 13:52] masci opened #3972 "[BUG] Missing import of 'time' package when model contains array of dates"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-27 21:24] alevinetx commented on #3884
@robinbakkerus  : Did you find an answer for this?   I did find this package that contains the class, and looks like it may be what was intended:

https://pub.dev/packages/codable

[2019-09-27 23:19] jimschubert opened #3974 "[BUG] Multiple samples not regenerated after 4.1.2 release"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-28 09:39] nickmeinhold opened #3978 "[REQ][Dart] Refactor templates dirs: dart -> dart1-option and dart2 -> dart"
### Is your feature request related to a problem? Please describe.

I found it confusing at first when I wanted to make modifications to the dart generator that the dart folder refers to dart1. Also it wasn't clear to me that there was a single dart generator with dart1 and dart2 options.

## Describe the solution you'd like

I think logically it would make more sense to have the 'dart' templates

[2019-09-28 10:12] nickmeinhold commented on #3978
@ircecho @swipesight @jaumard @wing328 do you think the project needs to continue to support Dart 1? If not I'll make a PR pulling out all the dart 1 stuff rather than work on the refactoring I described in this issue.

[2019-09-28 10:16] jaumard commented on #3978
Imho no need to continue supporting dart 1 :)

[2019-09-28 10:26] MickStanciu opened #3980 "[BUG] Description"
Hi, I am using Gradle with Kotlin DSL

This is the important part of the code:
`
plugins {
    java
    id ("org.openapi.generator") version "4.1.2"
}

configure<org.openapitools.generator.gradle.plugin.extensions.OpenApiGeneratorGenerateExtension> {
    this.generatorName = "spring" as Property<String>
}
`

This is the error:

I have to mention that I tried in a separate project with Groovy and i

[2019-09-28 18:23] alevinetx commented on #3965
@nickmeinhold : any chance you have any thoughts on this? I am looking through the source, and coming up empty.

[2019-09-28 21:11] borsch opened #3981 "[REQ] Add option "input directory""
## Describe the solution you'd like
Currently I have to run separate command for each contract file. Assume I have two contract files `user-api.yaml` & `books-api.yaml`. For this two files I have to run separate commands:

- `openapi-generator-cli generate --input-spec user-api.yaml <...other options...>`
- `openapi-generator-cli generate --input-spec books-api.yaml <...other options...>`

Instead

[2019-09-29 01:13] arciisine opened #3982 "[REQ] Allow for the CLI to watch for spec file changes, and generate on demand"
### Is your feature request related to a problem? Please describe.

Currently, I run a project in which model/controller classes are monitored in real time, and the `spec.json` is updated automatically as any changes are made.  The desire is to marry this with front-end development, and allow for dynamic updating of API clients.  This aims to provide a seamless integration between making model cha

[2019-09-29 02:38] wing328 commented on #3974
Go samples (OAS3) added to ensure-up-to-date script via https://github.com/OpenAPITools/openapi-generator/pull/3979

If there are more, I'm happy to look into it.

[2019-09-29 02:38] #3974 closed

[2019-09-29 04:54] nickmeinhold commented on #3965
@alevinetx you probably know more about it than I do, I haven't had to work with oneOf/anyOf yet.

Stumbling around trying to be helpful - I generated libraries for the [oneOf.yaml](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/oneOf.yaml) and [anyOf.yaml](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-

[2019-09-29 06:25] eriktim commented on #3959
Thanks for reporting @andys8. I've created a PR.

[2019-09-29 08:34] copypasta-g commented on #2292
I'm working on this issue and will send a PR soon.

[2019-09-29 09:49] etherealjoy commented on #2769
`cc:`
@muttleyxd

[2019-09-29 12:54] Choobz opened #3987 "[BUG] [AVRO] MR 3728 broke the package handling of the avro generator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-09-29 15:19] arciisine commented on #3982
I have a working PR in a fork if that helps the conversation.  https://github.com/arciisine/openapi-generator/pull/1/files

[2019-09-29 17:33] rhedges commented on #3701
I am unfortunately in a heavy crunch time for the next few weeks. I'd be willing to take a look at this after my deadline if the issue is still open. I am not incredibly familiar with mustache templates or java though so it may take bit and I may need someone with more experience to take a look and ensure I'm following best practices etc.

We are supplementing our generated services with the prope

[2019-09-29 18:15] #3970 closed

[2019-09-30 00:29] jharriman opened #3990 "[REQ] Allow multiple bodyParams for multiple Content Types in RequestBody"
### Is your feature request related to a problem? Please describe.

The `requestBody` specification for OpenAPI 3.0 (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#requestBodyObject) allows you to specify multiple MediaType names and schemas for the `Content` section of the `requestBody`.

Leveraging the ability to use multiple MediaTypes in the `Content` section of the

[2019-09-30 01:15] #3899 closed

[2019-09-30 01:51] andrewemery opened #3992 "[BUG][Kotlin] Kotlin client variable name"
##### Description

Kotlin client generates invalid variable names for reserved words.

##### openapi-generator version

Working in: 4.1.2
Broken in: 4.1.3-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

Expected:
[code]

Actual:
[code]

##### Command line used for generation

[code]

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/issues/3899

[2019-09-30 03:45] jimschubert commented on #1597
Closing this, as it was included in 4.0.0-beta and the contribution seems to work very well.

Thanks for the cleanup!

[2019-09-30 03:45] #1597 closed

[2019-09-30 08:53] Hans-Maulwurf opened #3995 "jaxrs-cxf enum defined in lowercase but server only accepts UPPERCASE"
is this how it should work or is it a bug? At the moment, the swagger-ui uses the lowercase enum and the server only accepts uppercase. This means, the swagger-ui is not usable

[2019-09-30 11:14] spawn-guy commented on #2292
@copypasta-g i have a remark to the implementation.
the proposed method is correct _Only_ if the `explode: true` (equals `true`). - guzzle serializes parameters correctly.
However, if `explode: false` i'd suggest to leave the current implementation IN. i'm referring to https://swagger.io/docs/specification/serialization/#query webpage. notice the difference of `expolde true/false`.
- `true` will p

[2019-09-30 11:42] #3957 closed

[2019-09-30 12:03] Hans-Maulwurf commented on #3995
I forgot to mention, I use the enum as queryparam

[2019-09-30 12:06] ivarreukers commented on #417
According to the status of the PR, I assume that this has been fixed since `3.2.x` correct?

Because I'm still facing the same issue when generating from swagger. Although one difference is that my `discriminator` is in the definition.

I have:

[code]

And in turn the `Instruction` is wrapped in another object. When generating, it still uses the class name for the `JsonSubType` annotation:

**Act

[2019-09-30 14:04] copypasta-g commented on #2292
@spawn-guy that's a good point, I will fix this tomorrow. Thank you!

[2019-09-30 18:21] aneksamun opened #4001 "[BUG][Scala-AKKA] reference.conf been overwritten"
Hi,

Running code generation the `reference.conf` file is being constantly overwritten. I was trying to define an item as ignore one in `.openapi-generator-ignore` file but it does not work. If there is the way of keeping file with custom settings please provide an example.
Thanks.

Regards,
Sergey

[2019-09-30 18:30] 4brunu opened #4002 "[REQ] [Kotlin] Parcelize is now stable"
## Is your feature request related to a problem? Please describe.

The feature Parcelize show's a warning in the console saying that is an experimentar feature, but since Kotlin 1.3.41 is now stable.

https://github.com/JetBrains/kotlin/blob/1.3.40/ChangeLog.md#tools-android-extensions

https://github.com/OpenAPITools/openapi-generator/blob/600a81f76e14b3e52e52ec74986d17b4a5524a5d/modules/openapi-

[2019-09-30 18:51] aneksamun opened #4004 "[BUG][Scala-AKKA] The custom package name is being overwritten in reference.conf file"
Hi,

I been settings custom `mainPackage` name in the `pom` file.
[code]
When code generation complete the `reference.conf` file contains hardcoded package name `org.openapitools.client` which is causing runtime error making HTTP request:
[code]
I need the same namespace as `mainPackage`.

At the first glance looking at`ScalaAkkaClientCodegen` it look like the `configKeyPath` is not being set from

[2019-10-01 03:30] #4002 closed

[2019-10-01 05:46] wing328 commented on #3981
I think https://github.com/OpenAPITools/openapi-generator/pull/3789 should meet your requirement. Please give it a try.

[2019-10-01 05:48] wing328 commented on #3992
Closed via #3993

[2019-10-01 05:48] #3992 closed

[2019-10-01 06:48] 4brunu opened #4007 "[REQ] [kotlin-client] Add support for OkHttp3 to support Android API 4.X"
### Is your feature request related to a problem? Please describe.

In https://github.com/OpenAPITools/openapi-generator/pull/3504 the version of OkHttp version was bumped from 3.14.2 to 4.0.1.

This has a side effect that the Kotlin-client no longer supports Android 4.X version, it only supports Android 5.0 and upwards, because OkHttp 4.X only supports Android 5.0 and upwards.
https://github.com/

[2019-10-01 07:12] sdoeringNew commented on #3274
This whole behaviour of omitting values is fatal.

We use a request validation on the server side and fields - marked as _required_ - are missing because those values are either ``0`` or ``false``. Those requests are rejected because they are invalid. And the request validation is right - required fields have to be there.

[2019-10-01 07:48] copypasta-g commented on #2292
@spawn-guy let's take this discussion to the pull-request since it's more relevant there.

[2019-10-01 08:03] #2300 closed

[2019-10-01 13:22] #3972 closed

[2019-10-01 13:36] mrmstn opened #4011 "[REQ][Elixir] Generate ExUnit tests"
### Is your feature request related to a problem? Please describe.

I'm always frustrated when I have to write my own tests based on a given OpenAPI Spec with already valid example responses.

## Describe the solution you'd like

Would be pretty great if the openapi-generator would create some ExUnit Tests based on the given examples or even create some own test data based on the given type.

## A

[2019-10-01 13:59] wing328 commented on #3987
@Choobz I removed those options since those options didn't seem to be used in the templates.

If I understand the fix correctly, the model needs to be prefixed with the namespace, right?

cc @sgadouar

[2019-10-01 14:22] frincon opened #4012 "[haskell-http-client] Bug in generated file when `dateTimeFormat` parameter set"
##### Description
When specified `dateTimeFormat` the module generated does not compile. The problem is in the this line: https://github.com/OpenAPITools/openapi-generator/blob/31827f5f35a049ec70697d642ce966c3b4499aac/modules/openapi-generator/src/main/resources/haskell-http-client/Core.mustache#L429

Wrong trailing comma!

##### openapi-generator version
Master

##### OpenAPI declaration file con

[2019-10-01 14:48] RockyMM opened #4014 "[BUG][JAVA][XML] Java generator with withXml option produces duplicate XML properties"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-01 15:27] spawn-guy commented on #1763
according to [this](https://swagger.io/docs/specification/serialization/#query) the defaults _are_
`style:form explode:true`
the other thing is, as it seems, the `explode` param is ignored :/ https://github.com/OpenAPITools/openapi-generator/pull/3984#issuecomment-536914876

[2019-10-01 17:15] jonschoning commented on #4012
merged - thanks!

[2019-10-01 17:15] #4012 closed

[2019-10-01 17:44] Choobz commented on #3987
Yep exactly, the current implementation default to model.object ignoring the namespace of the referenced object.

[2019-10-01 18:13] bkabrda commented on #4014
This should be fairly easy to fix. I'll try to send a PR tomorrow. Thanks for the report!

[2019-10-02 01:37] #3259 closed

[2019-10-02 03:16] #3816 closed

[2019-10-02 07:40] wing328 commented on #4004
Sure we can. If you have time I can probably show you where to fix it.

[2019-10-02 08:16] stkrwork opened #4022 "[BUG][C++][C++ REST SDK] Generating with ByteArray produces Compiler Error"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-02 09:09] borsch opened #4025 "[REQ][JAVA][CLIENT][SERVER] Feature Request Description"
## Describe the solution you'd like

I want to have a possibility to add custom annotation to models like `lombok.Builder`.

[2019-10-02 11:38] gvanderpol commented on #1662
We are also facing issues with our Python model generation when there is a 'allOf' reference in the swagger JSON file. The issues are similar to what is described above (empty models in our case). The openapi generator used is v4.1.2.

We are wondering what the status is to fix this for the Python client generation? We actually need this functionality pretty bad.

[2019-10-02 11:40] someone1 opened #4027 "[BUG][typescript-fetch] runtime ConfigurationParameters accessToken doesn't match return type"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-02 11:46] ffMathy commented on #2870
This is still present today on the latest version.

[2019-10-02 11:47] ffMathy commented on #2870
The ironic part is that if you look at `userEmailExistsRaw`, it actually contains the correct return type, but isn't able to write out the correct return statement.

Should be relatively simple to fix, but I don't have much time.

[2019-10-02 11:54] pavel-zdenek commented on #2870
We have fixed this for our project by dropping primitive return values altogether in favour of objects with a single value of the primitive type. It can even be considered "better design" (i.e. consistent JSON) but not applicable for every one and every project out there.

[2019-10-02 11:57] macjohnny commented on #4027
I think something like
[code]
should be correct.

@TiFu  any thoughts about that?

[2019-10-02 15:09] bkabrda commented on #689
I think this is a very good proposal. It seems to me that especially with larger changes like my PR to introduce explicitly nullable fields (#3474) which made some of the templates quite complex, it's going to get harder and harder to maintain the codebase without introducing regressions.

Therefore I fully support this proposal - I think the idea of having generated clients send requests, verifyi

[2019-10-02 15:26] #2870 closed

[2019-10-02 15:26] #3709 closed

[2019-10-02 15:34] Fjolnir-Dvorak opened #4031 "[BUG][GO] generated go code not not formatted properly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- - generated sample code in `./samples/client/petstore/go/`
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- - branch master date 2019-10-02 commit c136b83bdb5e56ddb297de7f0d5b

[2019-10-02 15:34] bodograumann commented on #802
I had a bit of a problem with the git history, seems you did some rewrite after my last pull.

So now to answer my own question, as I understand the code: The intention is to only have a single generator lang “typescript” in the future. To choose a variant, you can define the `framework` config option. Currently there is `fetch-api` and `jquery`.

The actual api client seems to be in the `types` d

[2019-10-02 15:48] JanMosigItemis commented on #144
Hi there, I recently encountered these two warnings and find them rather annoying. That is: Although my input files are perfectly valid (from what I can tell), my build log contains these warnings, indicating that there is something wrong where afaik there isn't.

Is it possible to suppress those warnings or get rid of them by any other means?

[2019-10-02 16:50] kierson opened #4034 "[REQ] [typescript-fetch] Allow to generate runtime.ts only for projects with multiple clients."
### Allow to generate `runtime.ts` only for projects with multiple clients.

My frontend application is consuming many microservices.
Each of them has its own swagger definition file.
For each of them I generate API client using `typescript-fetch` generator.

Now I have two problems:
1. Runtime for each of the clients is exactly the same code, however I have it bundled into my frontend application

[2019-10-02 18:42] aneksamun commented on #4004
Sure, I reckon it is in
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
within `processOpts` function.

[2019-10-02 20:50] sgadouar commented on #3987
Yes correct ! I agree

[2019-10-03 00:26] wing328 commented on #4031
You can use file post-processing to format the code using your favorite code formatter.

Run `./bin/go-petstore.sh` and you will see the following output:
[code]

[2019-10-03 07:33] macjohnny commented on #4034
I would suggest to write a small script in your build/generation process that
replaces the content of all but one `runtime.ts` with something like
[code]

[2019-10-03 08:00] ackintosh opened #4039 "[REQ] Better collection serialization support"
### Is your feature request related to a problem? Please describe.

Since OAS 3.0, in order to support common ways of serializing simple parameters, [`style` and `explode`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#style-examples) are defined instead of [`collectionFormat`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#user-content-parame

[2019-10-03 08:15] wackykid commented on #2906
so when is this going to be resolved? I am using the latest openapi-generator and I too get this issue. luckily I am doing the design of the API so I can redesign my API to NOT use oneOf to avoid this.

[2019-10-03 08:23] wackykid commented on #798
similiar to #2906 , i am missing anyOf classes when i try to use openapi-generator for jaxrs-jersey generation.

i want to design my API to be able to return different object types depending on the kind of input. the ability to use oneOf or anyOf will be very useful to achieve that. however, the generator is unable to generate either oneOf or anyOf classes, as a result i have to use allOf to desig

[2019-10-03 08:26] inthegarage commented on #2186
Is it possible tor remove this line altogether or trim it, currently some of the sample values are using the full extent of the value, IE a number is 5.6373766566333287642009963747113943099975585937

Is there any option to remove this at all? I don't really need this example response in the interface.

[2019-10-03 09:10] wing328 commented on #2186
@inthegarage maybe removing it from the spec as a workaround for the time being?

[2019-10-03 09:24] inthegarage commented on #2186
@wing328 How do you mean "spec"? Is this the yaml file used to created the API or something else?

[2019-10-03 10:04] hukka opened #4040 "[BUG] Installation doc runs unrelated code with npx"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-03 13:11] kidcosmic commented on #3024
@Wooyme currently breaks when using oneOf:
![image](https://user-images.githubusercontent.com/1861264/66129325-89c07700-e5a4-11e9-80d3-f5ba137337bb.png)
![image](https://user-images.githubusercontent.com/1861264/66129286-76ada700-e5a4-11e9-8572-d29efaf77b58.png)

[2019-10-03 13:39] wing328 commented on #3024
oneOf (OAS v3 new feature) is not yet supported in the Kotlin server. Of course, we welcome contributions to implement its support in Kotlin and other generators.

[2019-10-03 14:04] TiFu commented on #802
Mhh that's weird - I definitely didn't change anything since early May.

That is correct. Both `fetch-api` and `jquery` are still missing some features compared to the current generators in `typescript-fetch` / `typescript-jquery` but generally work.

The main reason for this was to separate the frameworks (which export the appropriate Api OR an Api with a different interface (but compatible with)

[2019-10-03 14:14] kidcosmic commented on #3024
@Wooyme @wing328 `Response<Void>` response types are impossible in Kotlin. 204 No Content responses need to be supported with `Response<Unit>` instead of `Response<Void>` or use `Response<Void?>` to allow null to be passed in.

[2019-10-03 15:15] grapevictory opened #4044 "[REQ] Some Questions on Converting C# flags Enumeration to Python"
Can you provide an interface for converting the C_ flags enumeration into a user-defined Python data structure, not just a list? And an interface to customize the corresponding enumeration matching mechanism for users. Thank you.

[2019-10-03 16:03] wing328 commented on #3024
@Wooyme thanks for the feedback. Do you submitting a PR for that? I can show you some good starting points.

[2019-10-03 16:09] keithchong commented on #1164
Hi @wing328 , is the 'unrelated' issue that @raghuraman1 mentioned going to be fixed?

I'm seeing the problem too in that right after code generation, there is a maven compile error.   I see that the master branch of openapi-generator\modules\openapi-generator\src\main\resources\JavaSpring\libraries\spring-boot\openapi2SpringBoot.mustache doesn't have the commented out code, if that is the desired

[2019-10-03 20:00] oharaandrew314 opened #4046 "[REQ] Kotlin Client should support DELETE with body"
### Is your feature request related to a problem? Please describe.

[RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.5) allow for the inclusion of a body in a DELETE request, but generated kotlin clients ([as seen here](https://github.com/OpenAPITools/openapi-generator/blob/e5a0d183744c3a7d331b77af4d451ff36cc3da16/samples/client/petstore/kotlin/bin/org/openapitools/client/infrastructure/

[2019-10-04 03:03] JMontagu opened #4050 "[Typescript-Axios] Api outputs incorrect serialization type check"
##### Description

The typescript-axios generator outputs an incorrect type check for serialization.

Current output:
[code]

Expected output:
[code]

The issue is `<any>"Pet" !== "string"` will always evaluate to true, as it's comparing a string value to a string value.

What the correct logic should be is: `typeof body !== "string"`, which checks the body object is not a string in order to run s

[2019-10-04 08:05] giannisla commented on #2906
do we know when is it going to be resolved?

[2019-10-04 08:07] macjohnny commented on #3944
closed with https://github.com/OpenAPITools/openapi-generator/pull/3966 and https://github.com/OpenAPITools/openapi-generator/pull/3967

[2019-10-04 08:08] #4050 closed

[2019-10-04 08:39] coder82 commented on #3815
I works now, I used 4.1.3.

[2019-10-04 08:41] coder82 commented on #3815
I tried 4.1.3 and I get the same issue.

[2019-10-04 08:59] coder82 commented on #3815
I think something is wrong with
[code]

Because if I remove it it goes further, but I need it and it's explained [here](https://i.imgur.com/4Pp3fdP.png)

[2019-10-04 10:05] bodograumann commented on #802
There is really a lot to consider and it’s not easy to get a proper understanding of all the factors involved. So that’s what I’m currently doing.

I’m using `typescript-inversify` currently, with some modifications. Afaics adding inversify support should not be too difficult. Just add a new option for it and insert some code for import and class / constructor decorators. Before we do that, we sho

[2019-10-04 13:00] 4brunu opened #4057 "[REQ] [Swift] Swift Package Manager integration"
### Is your feature request related to a problem? Please describe.

Xcode 11 was released with Swift Package Manager integration.
At this moment, the Swift 4 generator supports Cocoapods and Carthage integration.
It would be nice to integrate Swift Package Manager also.

## Describe the solution you'd like

Add support for Swift Package Manager

[2019-10-04 14:40] lemoinem opened #4059 "[BUG][kotlin] enums with x-enum-varnames do not respect enumPropertyNaming"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue? YES
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? YES
- [x] What's the version of OpenAPI Generator used? 4.1.2
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

[2019-10-04 16:37] vietj opened #4060 "[Announcement] add an entry for this project in Vert.x Awesome"
It would be great to make a PR to https://github.com/vert-x3/vertx-awesome and advertise this generator.

[2019-10-04 16:45] deviantlycan opened #4061 "[BUG] [cwiki] Confluence wiki poorly formatted"
##### Description

The output of the Confluence wiki (cwiki) results in a poorly formatted confluence page.
* rows in the model table are split
* anchor to the models does not work
* several other small offending issues.

##### openapi-generator version
4.1.2

##### Command line used for generation

[code]
##### Steps to reproduce

1. generate the wiki document
2. add to Confluence Cloud
3. Look a

[2019-10-04 21:31] misantronic opened #4065 "[BUG] Dashed (-) are transformed to underscores (_)"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-04 22:29] mpiroc opened #4066 "[BUG] POST endpoint playgrounds on http://api.openapi-generator.tech are broken"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-05 05:38] TiFu commented on #802
Sounds good.

The main reason I used `Observables` was that I did not want to have to differentiate between Promise & Observable internally (e.g. in the `HTTPLibrary`).

One possible solution is writing a small wrapper which implements a bare minimum version of the `Observer` api (only the actual method calls used internally) using promises. We could then replace the `rxjs` imports with an import

[2019-10-05 10:20] Fjolnir-Dvorak opened #4067 "[REQ] Clean up and refactor DefaultCodegen"
On trying to add support for multiple return models in PR https://github.com/OpenAPITools/openapi-generator/pull/4063 I get lost pretty fast in DefaultCodegen and all the property classes. Part of that is the (sorry) spaghetti nature of DefaultCodegen with over 5000 lines of code without code documentation and a not so trivial naming scheme.

Request: I would like to start refactoring this class.

[2019-10-05 10:26] Fjolnir-Dvorak commented on #1898
As far as I understood the restructuring you have intended this issue will be solved somehow giving enough time for the refactoring to take place.
I would close this issue for now.

[2019-10-05 10:26] #1898 closed

[2019-10-05 11:05] #1893 closed

[2019-10-05 11:06] Fjolnir-Dvorak commented on #3439
merged and working

[2019-10-05 11:06] #3439 closed

[2019-10-05 12:52] jimschubert commented on #80
#4030 is an in-progress work to clean up the samples directory.
#3789 is an initial take on generating the samples in batch.

I think there are a few issues currently with generating the samples directory:

* It take a very long time to run the `ensure-up-to-date` script (attempting to address this with my batch PR)
* We only overwrite previous files, we don't clean up old files… this means that a

[2019-10-05 16:20] aidanhs opened #4069 "[BUG] Generator creates invalid code on validated schema when an enum contains ~="
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-10-05 17:42] ozlembulur opened #4070 "[REQ][javascript]Generated javascript client mutual authentication support"
We use open-api codegen to generate javascript client code to test server . Until now we have no need to use mutual authentication between server and client . Now we need to send client certificate using generated code to server. How can we implement it ?

Ex: Server side want certificate from client side during the TCP session . And I get below error:

Could you please help us?

{ Error [ERR_HTTP