[2018-08-13 16:07] wing328 commented on #798
As a workaround, what about using the spec below instead?
[code]

[2018-08-13 16:20] srividhyak27 opened #800 "openapi 3.0.0 codegen throws error when using callbacks"
##### Description

Having a callback defined in the openapi 3.0.0 yaml file. This throw below error while trying to generate code. Its ok if no code is generated for the callback section, but the code-generation stops without generating rest of the model/api classes.

##### openapi-generator version

Using the openapi-generator-maven-plugin, version 3.1.2
generator name - jaxrs-jersey

##### OpenA

[2018-08-13 17:27] #785 closed

[2018-08-13 20:21] TiFu opened #802 "Rewrite of TypeScript Generators"
# Motivation

We currently have 7 (!) different generators for TypeScript, which do not share common code. This makes introducing bug fixes to the TypeScript generator family very hard.

# Goal

Create a general framework which can be used in any OOP language - unifying the generator structure and making the project easier to work with. At the beginning, I would like to look into merging the TypeS

[2018-08-14 01:16] SixYearsInFebruary opened #803 "[JavascriptFlowtyped] snapshot property"
[code]
If the version in pom.xml is x.x.x-SNAPSHOT, the config of openapi-generator-maven-plugin like below:
[code]
the generate code in package.json will be x.x.x-SNAPSHOT-SHAPSHOT.yyyyMMddHHmm.
May be, if the version contains SNAPSHOT, should not append `-SNAPSHOT` to it again.

[2018-08-14 02:47] jimschubert commented on #802
@TiFu I went through a similar (smaller) refactor for the C# generator to allow users to customize the generator's underlying HTTP client.

That's #737, if you're interested.

[2018-08-14 03:37] wing328 opened #805 "Add ObjectSerializer (+ Tests) from ts-node"

[2018-08-14 03:39] wing328 commented on #805
@TiFu I found https://github.com/loedeman/AutoMapper. Not sure if we can use it to replace our own ObjectSerializer.

Maybe we can go with our ObjectSerializer first and consider switching to AutoMapper as a day-2 requirement.

[2018-08-14 05:56] yuanpli commented on #796
Hi,

Based on my testing, `MapTest1` generates the code like
[code]
And `MapTest3` also generates the code like
[code]
 When should  the value of properties `additionalProperties` be `true` and when can be `false`?  There is no clear description in the spec OAS3 definition for [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#schema-object).

But there is a

[2018-08-14 06:52] yuanpli opened #806 "[java] Compilation failure when 'discriminator' is introduced"
##### Description

I got the following error when generate code by using `openapi-generator-maven-plugin`.
[code]
##### openapi-generator version
<version>3.2.0</version>

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation
mvn clean compile

##### Steps to reproduce
The maven pom.xml is
[code]
##### Related issues/PRs
No
##### Suggest a fix/enhancement

[2018-08-14 07:30] bocse commented on #745
Thank you very much for your support, @etherealjoy

[2018-08-14 07:57] ybelenko opened #808 "[PHP] DataType conversion discussion"
After a lot of thinking about what is perfect representation of Openapi Data Types in PHP.
I'm working on data mocking, so any examples of how fake data should look like are welcome.

### Openapi Data Types

| Common Name | Type | Format | Comments |
|---|---|---|---|
| integer | integer | int32 | signed 32 bits |
| long | integer | int64 | signed 64 bits |
| float | number | float |  |
| double |

[2018-08-14 08:13] wing328 commented on #808
`file` (in OpenAPI spec v2) has been replaced with `type: string, format: binary` in OpenAPI spec v3 so both file in OAS2 and `type: string, format: binary` should be mapped to the same type in OpenAPI
Generator.

[2018-08-14 08:34] jmini commented on #806
Thank you for this feedback. It is very valuable.

I think the specific issue is that your discriminator is an enum. This might be not supported yet.

Other question from my side:
Is your spec complete? What is the idea behind using a discriminator here? There is no mapping and no ComposedSchema (`oneOf`, `allOf`).

[2018-08-14 08:36] jmini commented on #417
I have some cases that produce compile error when prefixes are used (all my models are using a common prefix). I will document this.

Other interesting case, @yuanpli reported a compile error when an enum is used: https://github.com/OpenAPITools/openapi-generator/issues/806

[2018-08-14 08:54] yuanpli commented on #806
Hi,

This swagger is provided by collaborator, and what I used here is simplified for the privacy policy. The whole definition for object `VimConnectionInfo` is posted as below. And there is a explanation for why used discriminator `"Type of the VIM info structure. This field will be used as a discriminator for different types of VIMs. `OTHER_VIM_INFO` is provided for forward compatibility with la

[2018-08-14 08:58] michbeck100 opened #809 "[JAXRS-spec] Make path for openapi.yaml configurable"
Currently the path of the generated openapi.yaml is always "src/main/openapi" (see [here](https://github.com/OpenAPITools/openapi-generator/blob/7acba8a4d86b3cdadc5707345817513dad11c36f/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java#L130)). This should be configurable, because the microprofile openapi spec, for example, needs the openapi.

[2018-08-14 10:22] csimmons0 opened #811 "[python-flask] Can't specify more than one value in -Dmodels"
##### Description

If I use the -Dmodels argument to specify which models to generate and I specify more than one model, only the first is generated. Wrapping the list of model names in quotes does not fix the problem. I experience the same problem with -DsupportingFiles.

I took a look at the code in modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java, but I cou

[2018-08-14 10:31] Louisa-Lee opened #812 "Reserved Characters in Query Parameters"
##### Description

Reserved Characters in Query Parameters
RFC 3986 defines a set of reserved characters :/?#[]@!$&'()*+,;= that are used as URI component delimiters. When these characters need to be used literally in a query parameter value, they are usually percent-encoded. For example, / is encoded as %2F (or %2f), so that the parameter value quotes/h2g2.txt would be sent as
GET /file?path=quot

[2018-08-14 10:41] macjohnny commented on #802
@TiFu I suggest to consider using RxJS / Observables. Maybe there is an easy way to make this configurable?

[2018-08-14 10:51] TiFu commented on #802
What would be the use case for Observables in this case? What should be observable?

[2018-08-14 11:07] macjohnny commented on #802
@TiFu the return value of the api call. see e.g. https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts#L70

the use case is that observables are the standard for http interaction in angular. Therefore in the template it should be easy to have a configuration option to either have a promise-bas

[2018-08-14 11:42] jmini commented on #812
I think this OpenAPI v3 feature is not supported yet.
Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameter-object

What are you using as client to perform the call? Java?

[2018-08-14 12:06] Louisa-Lee commented on #812
@jmini We use Python as client.

[2018-08-14 13:57] wing328 commented on #793
It's not supported and a good starting point is [URLPathUtils.java#L43-L51](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java#L43-L51)

[L50](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java#L50) r

[2018-08-14 14:40] glockhart commented on #372
@jmini are there any timelines for when this work might be scheduled?

[2018-08-14 14:54] jmini commented on #793
There are 2 related topic

* Without using variables, you can define multiple servers
* When using variables, with the combination of possible value in the enum, you can derive multiple server URL from one server declaration (see discussion in #592)

And of course the 2 topics can be combined.

The problem is that none of the generators can do something with multiple servers... And some of them al

[2018-08-14 15:01] wing328 commented on #803
@SixYearsInFebruary thanks for reporting the issue. May I know if you've time to contribute the enhancement? Let me know if you need any help.

[2018-08-14 15:02] TiFu commented on #793
I thought about this mainly because I'm rewriting the typescript generators and am designing them so that variables can be supported quite easily.

[2018-08-14 15:02] jmini commented on #809
I totally agree with this request because this allow to support MicroProfile without annotation (see discussion in #795).

I have also seen your PR https://github.com/OpenAPITools/openapi-generator/pull/813 that is also a step to support "MicroProfile without annotation". I will review it ASAP.

---

In my opinion we should have a new generator for that:
`java-microprofile-without-annotation` that

[2018-08-14 15:03] jmini commented on #372
Well the development of OpenAPI-Generator is community driven... Which means that features are developed as quick as PR comes in.

[2018-08-14 15:06] jmini commented on #800
Thank you for this issue. I agree with you, even if no code is generated, the tool should at least not fail.

[2018-08-14 15:08] TiFu commented on #805
Good find! Should definitely be possible to use AutoMapper instead of our ObjectSerializer. The only thing I couldn't find is how it handles inheritance, but iirc it should be easy to work around that.

I'm going to kee pthis in mind as a day-2 requirement.

[2018-08-14 15:29] TiFu commented on #802
I think I would opt for using promises internally and then provide an automatically generated wrapper for angular which uses observables. It should be possible to provide the exact same functionality it has today this way. Not 100% sure if it will be easily possible, but there should be some way of converting promises to Observables.

[2018-08-14 15:32] TiFu commented on #802
I will think about that some more. It looks quite complicated to include Observables together with promises internally (especially observing the different options like `body`, `response` and `events`).

One option is to simply wrap promises in Observables e.g.

[code]

I'm just not sure how this could be integrated into the current HTTPLibrary design.

[2018-08-14 15:50] macjohnny commented on #802
@TiFu it is very important to handle observables correctly and not only wrap promises, since promises can‘t be cancelled, while observables can, which is an essential feature.

[2018-08-14 16:01] glockhart commented on #372
ok, I have one engineer that may be able to start working on this in a few days and could contribute a PR if the effort isn't massive.

If you could send on those starting points then we'll take a look and see if it's something we can deliver in a reasonable amount of time

[2018-08-14 16:02] macjohnny commented on #802
However it is possible to convert an observable into a promise. This should fit all needs. Therefore internally it should be buolt on observables

[2018-08-14 16:05] TiFu commented on #802
Oh okay. I have an idea how to solve this issue.

1. For each api/operation: generate a method which returns a RequestContext (this describes 'how' a request should be executed e.g. url, header params, query params etc)
- if angular: Generate a class/method for each api/operation which gets the `RequestContext` from 1. and uses the normal angular http client (which returns an observable - exactly

[2018-08-14 17:02] SixYearsInFebruary commented on #803
@wing328 Sorry, I tried to clone the fork repo at home. But the network of Unicom is too slow. Behind of XX-Net, the clonw is also slow. Later, I will try to edit code in web browser IDE to fix. In addition, I had checked the current code, `x.x.x-SNAPSHOT-SNAPSHOT.yyyyMMddHHmm` is works for `^x.x.x-SNAPSHOT*` in package.json.

[2018-08-14 21:00] arthurdm commented on #795
+1 to supporting MP OpenAPI!

that's an interesting approach @michbeck100 - if someone already has an OpenAPI v3 YAML file before the code they're likely (but not exclusively) using a design-first approach, in which case the code should not deviate from the static file..which creates the question on whether or not do we need OAS3 annotations at all?

Looking from the other side of the coin, I thin

[2018-08-15 04:07] jmini commented on #788
Does this mean that someone registered us at sonarcloud? We have issue #33 pending since month...

I think that we can also integrate "sonarcloud.io" with GitHub PRs to get a report of the changes introduced by a PR. We should also investigate this.

[2018-08-15 05:17] jmini commented on #795
As I wrote in #809, I think it would be nice to have 2 generators:

* `java-microprofile-without-annotation` (your Stage 1)
* `java-microprofile-with-annotation` (your Stage 2)

=> I am open for better name.

The generators should produce a meaningful project (README, pom.xml, ...) so that it is easy for the user to start.

The generator could also provide the possibility to select the implementat

[2018-08-15 05:25] wing328 commented on #33
UPDATE: I've used sonarcloud.io to generate the [report](https://sonarcloud.io/project/issues?id=org.openapitools%3Aopenapi-generator-project&resolved=false&types=BUG)

Ref: https://github.com/OpenAPITools/openapi-generator/issues/788

[2018-08-15 06:04] michbeck100 commented on #795
Stage 1 is already finished with #813. It just removes all swagger parts like annotations, imports and dependencies.

@arthurdm IMHO when using the contract-first approach, there is actually no need for any extra annotations in the first place. Every annotation generated from the static file would be "duplicate code", because of the ability to merge the static file with annotations.
The only thing

[2018-08-15 08:57] spawn-guy commented on #570
@wing328 or [VulcanJS](https://github.com/VulcanJS/Vulcan) :)

[2018-08-15 09:44] dr4ke616 opened #819 "[KOTLIN] Spring Boot Server Generator"
##### Description

Hey everyone,

I'd like to propose a new server generator for Kotlin using the Spring Boot framework.

##### openapi-generator version

Based off `master` - next minor release

[2018-08-15 13:11] tixomirx opened #821 "Multiple examples in yaml end as response that is array - generrating Spring Boot"
##### Description

When model has multiple examples.
[code]

You end with something like this in generated Interface.

`ApiUtil.setExampleResponse(request, "application/json", "{  \"one\" : {    \"id\" : \"d7f94ec-072b-4187-0000-6d4a8aa824d9\",    \"sometype\" : \"Some1\",    \"descritpion\" : \"Decription1\"  },  \"two\" : {    \"id\" : \"aaa94ec-072b-8787-0000-6d4a8bb824d9\",    \"agencytype\" :

[2018-08-16 03:05] wing328 opened #824 "Improve HTTP Library Interface"
- [ ] URL representation in RequestContext
- [ ] Make compatible with all HTTP-Request Types
- [ ] better handling of files/buffers

[2018-08-16 03:06] wing328 commented on #824
@TiFu  FYI. `file` in OAS2 has been replaced by `type: string, format: binary` in OAS3 and so both should be mapped to the same type in the new TS generator.

[2018-08-16 04:08] jmini commented on #99
There was some work made with #736 for version `3.2.2-SNAPSHOT` can you give this version a try?

[2018-08-16 04:12] jmini commented on #222
There was some work made with #736 for version `3.2.1` can you give this version a try?
(#736 is a start, maybe more use cases needs to be covered as discuss in #8)

[2018-08-16 04:13] jmini commented on #304
There was some work made with #736 for version `3.2.1` can you give this version a try?
(#736 is a start, maybe more use cases needs to be covered as discuss in #8)

[2018-08-16 04:13] jmini commented on #624
There was some work made with #736 for version `3.2.1` can you give this version a try?
(#736 is a start, maybe more use cases needs to be covered as discuss in #8)

[2018-08-16 04:30] jmini commented on #8
@bjgill:

I think support for items in array is exactly targeted by this test:
https://github.com/OpenAPITools/openapi-generator/blob/e7340bfe5bb8f61a501d00975399488b6c32006b/modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java#L279-L303

(and the next ones)

[2018-08-16 16:12] aduval opened #827 "[java] Polymorphic deserialization not working for sub-subtype"
##### Description

Cannot deserialize an object when using its super-supertype.

##### openapi-generator version

3.2.1 Not a regression. Same issue when using Swagger 2.

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation

Using the maven plugin with hideGenerationTimestamp=true
Using the default okhttp-gson client

##### Steps to reproduce

These two tes

[2018-08-17 01:06] yuanpli commented on #806
Any update?

[2018-08-17 05:48] gfelbing opened #828 "[kotlin-server] Paths.kt does not contain post-operations"
##### Description

When generating a kotlin-server, the generated Paths.kt does not contain locations for post-operations.

##### Swagger-codegen version

2.3.1

##### Swagger declaration file content or url

[code]

Results in:

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Generate the code using the config mentioned above.

##### Suggest a fix/enhancement

Th

[2018-08-17 06:51] jmini commented on #806
Feel free to propose a pull request

[2018-08-17 06:56] jmini commented on #827
Thank you a lot for this detailed issue.

The code that creates the code is here:
https://github.com/OpenAPITools/openapi-generator/blob/1c6ab3f831d517ce89fae2adc4cb7bab65c3a199/modules/openapi-generator/src/main/resources/Java/JSON.mustache#L61-L76

But I think that the problem is that for the moment the Codegen layer do not consider that ``

[2018-08-17 07:18] yuanpli commented on #796
Hi, there is any update? Thanks!

[2018-08-17 08:39] tomi77 commented on #741
Workaround is commenting / removing tags. But this is not a solution…

[2018-08-17 09:27] wing328 commented on #405
@Morac2 We've merged the fix into master. Please give it a try and let us know if you still experience the issue.

[2018-08-17 09:31] wing328 commented on #710
@ybelenko thanks for reporting the issue. What about using `{{#-first}}` or `{{#-last}}` as a workaround for the time being?

[2018-08-17 11:04] wing328 commented on #231
UPDATE: we've merged
https://github.com/OpenAPITools/openapi-generator/pull/700 to generate all models (with an additional option to skip form-related models). Please give it a try (SNAPSHOT version, docker images) and let us know if you're still facing the same issue.

[2018-08-17 12:48] wing328 commented on #372
Let me try to share more details by this weekend

[2018-08-17 13:16] wing328 commented on #803
@SixYearsInFebruary please take your time. Just ping me if you need any help.

Thanks for offering help to improve this.

[2018-08-17 14:26] jmini commented on #705
Main CircleCI issue: https://github.com/OpenAPITools/openapi-generator/issues/344

With the current setup, I do not understand how the java version is picked-up. Is it the one installed in the VM that CircleCI provides because we are using a "machine" executor?

[2018-08-17 14:27] jmini commented on #344
For the moment because we want to run docker (to start the petstore server), it seems that we are forced to use "machine". We might think about changing this also, it would be nice to have access to the workflow features described in this issue.

For example it would be nice to have one workflow step per languages/projects/framework being tested...

[2018-08-17 14:59] wing328 commented on #796
I believe you want to describe arbitrary JSON, please use "type": "object" instead. Here is an example in JSON:

[code]

Ref: https://stackoverflow.com/questions/35782175/how-to-receive-a-dynamic-response-in-a-swagger-spec

[2018-08-17 15:11] leonardb opened #832 "[erlang-client] Inline schema not handled"
##### Description

When a body is defined in-line the 'type' is not automatically created and the body is excluded as a function argument

##### openapi-generator version

openapi-generator-cli.jar version
3.2.2-SNAPSHOT

##### OpenAPI declaration file content or url

https://gist.github.com/leonardb/7647fb11158b1d53a95dbffc079909ba

##### Command line used for generation

java -jar openapi-genera

[2018-08-17 16:28] jmini commented on #796
@wing328 there is probably not that much difference between a [Free-Form Object](https://swagger.io/docs/specification/data-models/dictionaries/#free-form):

[code]

and an object:

[code]

But we should support the free form object.

---

In a java (for example), having an `Object` or a `Map<String, Object>` is not the same, even if the JSON payload is the same.

Maybe my fix in a02b313b892ba0134

[2018-08-17 18:33] ccozzolino opened #834 "[JAVA][library: vertx] generated client does not maintain backwards compatibility with older versions of vertx"
##### Description

The `buildResponseHandler` method defined in `Java/libraries/vertx/ApiClient.mustache` makes a call to `Json.decodeValue(String, Class<T>)` which is not supported in older versions (< 3.5) of Vert.x. The call should be adjusted to handle all versions.

##### Swagger-codegen version

All versions with vertx async & rx support

##### Suggest a fix/enhancement

Change the call from

[2018-08-18 12:11] etherealjoy commented on #637
@CyrilleBenard

XD

[code]
Solved in #775.

[2018-08-18 15:59] Jauler commented on #660
I believe this can be closed as #731 got merged :)

[2018-08-18 19:06] jimschubert opened #840 "Create reusable feature metadata for all generators"
##### Description

As discussed in #503, this would be a starting point for creating a compatibility matrix. We need some way for generators to define all feature sets supported by the generator.

We need to take into consideration that a base (abstract) type used across multiple generators may implement more features than a subtype intends to support. This means we need to be able to mutate the f

[2018-08-18 19:54] jimschubert opened #841 "Decouple generation workflow from DefaultGenerator and CodegenConfig types"
##### Description

Some discussion around this exists in #503. I'm copying here for context.

---

Conceptually, we have the following concerns:

* Generation workflow
* Templating engine
* Global Options
* Framework generator
* Language definition
* Generator Options
* Spec loading
* Spec parsing
* API definition ADT (e.g. CodegenModel)
* Template object ADT (currently, a map)
* potentially other

[2018-08-18 20:02] jimschubert opened #842 "Extract language-specific functionality from generators"
##### Description

See #503 for a little bit of discussion on this.

Language support is currently tightly coupled to generators, often dumped into a base "abstract" type identifying the language rather than the generator.

##### Suggest a fix/enhancement

It would be useful if we could move language-only definitions out of generators into a `LanguageOptions` type or something similar. As an examp

[2018-08-18 20:12] jimschubert opened #843 "Abstract away from OpenAPI via transformation."
##### Description

We have abstractions such as `CodegenModel`, `CodegenOperation`, `CodegenProperty`, etc. which represent abstractions away from OpenAPI for the sake of generation. This currently creates tight coupling between different versions of OpenAPI specifications and the underlying templating (examples: `CodegenOperation#vendorExtensions`, `CodegenOperation#externalDocs`)

##### Suggest

[2018-08-18 20:20] jimschubert opened #844 "Configurable spec loading/parsing"
##### Description

We currently rely heavily on swagger-parser to load and parse input specifications. We should put this behind a generic interface (supporting spec location, auth/security inputs), such that users may extend this to their liking.

##### Suggest a fix/enhancement

If done after #843, we could provide a service located transformer for the generic type mentioned in the interface abo

[2018-08-18 20:31] jimschubert opened #845 "Create a "core" artifact"
##### Description

There's currently no clearly defined "interface" between templates, extension points, or code generation.

If we extract model definitions and interfaces to a "core" artifact, this would reduce noise for those who want to extend and/or contribute to the project.

This would ideally be done after other work in the [Separation of Concerns](https://github.com/OpenAPITools/openapi-g

[2018-08-18 21:05] jimschubert opened #846 "Create a plugin architecture"
##### Description

This is only relevant in the context of the [Separation of Concerns](https://github.com/OpenAPITools/openapi-generator/projects/5) project workflow.

Once we have enabled multiple extension points in the code:

* Spec loader
* Spec transformer
* Customizable workflow
* Customizable templating

We'd want an easy way for users to manage these for a per-invocation basis.

A use cas

[2018-08-19 09:40] igbch commented on #795
Hi, I like a lot the contract first approach and I think each change should go first to the contract and then to code, so I like what @michbeck100 is proposing and I follow his changes in code (but still have problems in running with openliberty), but I also share the thoughts of @arthurdm about the possibility of code-first. Out there in the community you always find both flavors and so to have s

[2018-08-19 09:47] #793 closed

[2018-08-19 09:50] #749 closed

[2018-08-19 09:52] wing328 commented on #590
UPDATE: we've added better `servers` support via #816

We'll need to update the templates accordingly.

[2018-08-19 09:58] wing328 commented on #617
@mintu19 thanks for reporting the issue. Have you considered using other Java/Android clients (e.g. Retrofit2)?

Have you reported this issue to Jersey2 library owner (https://jersey.github.io/)?

[2018-08-19 12:44] chatelao opened #848 "Denormalize YAML / JSON - All references resolved"
##### Description

A generator to resolve all reference into a new JSON/YAML to simplify 1:1 comparision after refactoring.
##### openapi-generator version

?

##### Suggest a fix/enhancement

* Allow any OpenAPI specification to be denormalized (and maybe normalized too)
* Adding version comparison / diff to the tooling

[2018-08-19 15:44] MartinDelille commented on #749
That's a better default value! ;-)

[2018-08-19 16:40] wing328 commented on #372
First of all, thanks for offering help to add the callback support.

A good starting point is the [`fromOperation` method](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L2218), which converts the operation's values obtained from the spec into Codegen objects (e.g CodegenResponse) for code generatio

[2018-08-19 17:54] wing328 commented on #797
@emreakca thanks for reporting the issue.

cc @antihax (2017/11) @bvwells (2017/12) @grokify (2018/07)

[2018-08-19 17:56] wing328 commented on #741
What about an option to only generate code for the 1st tag (assuming there're multiple tags defined in the operation)?

[2018-08-19 17:57] wing328 commented on #741
@wari can you please also try another client generator to see if you experience similar issues?

[2018-08-19 21:10] mintu19 commented on #617
I had tired others clients but these clients do not have option to resolve circular dependency with jackson circular json response. Only jackson jersey provides such features as much as i know of.
No i haven't filed this issue under jersey team. I am sure problem is that android doesn't provide few of classes of JDK.

That's why its a solution to bridge andoird and jackson and remove warnings/erro

[2018-08-20 01:33] #473 closed

[2018-08-20 02:14] fujigon commented on #405
I was facing the same issue with multipart/form data spec, and I confirmed @wing328's PR fixed this issue. thanks.

[2018-08-20 04:58] jmini commented on #796
I have filed a PR: https://github.com/OpenAPITools/openapi-generator/pull/849

[2018-08-20 05:00] jmini commented on #409
Support for `additionalProperties: true`:

* issue https://github.com/OpenAPITools/openapi-generator/issues/796
* PR https://github.com/OpenAPITools/openapi-generator/pull/849

[2018-08-20 05:07] jmini commented on #372
The OpenAPI-Tool can be summarised into 3 steps:

Step 0/ An OpenAPI specification is parsed with Swagger-Parser and OpenAPI-Generator gets as input a model representing the OpenAPI Spec. => this is an external lib we use.

Step 1/ This model is transformed according to some logic that is command and/or targeted-language specific into a second model built with the `Codegen*` classes.
(`CodegenMode

[2018-08-20 09:18] fujigon opened #851 "[General] generator fails with oas 3 that includes relative local file ref that includes remote file ref"
##### Description
Generator fails when it reads openapi.yaml that includes relative local file ref that includes remote file ref
(i.e. root -> local ref -> remote ref).

I use "jaxrs-jersey" language for this sample, but I debugged and found that the problem is not limtied in jaxrs-jersey or java. All languages are affected, because the parser has the root problem.

##### openapi-generator version

[2018-08-20 09:32] jmini commented on #851
Please file a PR against https://github.com/swagger-api/swagger-parser in order to get this issue fixed (the best case would be to open a separated issue first https://github.com/swagger-api/swagger-parser/issues).

Please post the link to this PR here so that I can keep track of it.

Updating Swagger-Parser is something we can consider for `3.3.0` (due date by the end of this month).

[2018-08-20 10:11] fujigon commented on #851
Thanks for quick reply.
- I created an issue in parser project.
https://github.com/swagger-api/swagger-parser/issues/805
- I sent a PR to parser project, too
https://github.com/swagger-api/swagger-parser/pull/806

Great. thanks for letting me know the schedule.

[2018-08-20 10:25] jmini commented on #68
`2.0.2` has been released but contains a regression that prevent us to use this version. See #787 for more detail. We will stay to [`2.0.2-OpenAPITools.org-1`](https://github.com/OpenAPITools/swagger-parser/releases/tag/v2.0.2-OpenAPITools.org-1) until a `2.0.3` is published.

---

I track here the changes we are interested in for a `2.0.3` release. We might come up with a `2.0.3-OpenAPITools.org-

[2018-08-20 10:27] jmini commented on #177
@andreevlex : my guess is that you now have an other issue (and an other stacktrace). Maybe this issue could be closed and a new one could be created with the issue that appears with the `3.2.1` release.

[2018-08-20 12:58] jmini commented on #364
See #836

[2018-08-20 15:55] iBicha opened #853 "[C#] Codegen for Unity"
##### Description
This is an issue to discuss how a C# generator can be effectively useful in a Unity project.
I've been told the C# codegen is under a [refactor](https://github.com/OpenAPITools/openapi-generator/pull/737) phase, so my suggestion is to consider the next few points, to maybe include in this refactor.

I don't know if Unity will require a separate template, but it's a possibility.

[2018-08-20 15:56] iBicha commented on #853
@wing328 Here's my take on a Unity C# generator

[2018-08-20 16:04] wing328 commented on #853
@iBicha thanks for sharing your feedback. I've copied the C# technical committee below:

cc @mandrean (2017/08) @jimschubert (2017/09)

[2018-08-21 07:02] hl191 opened #855 "[DefaultGenerator] NullPointerException on code generation"
##### Description

Generating Code for yaml produces Nullpoint exception

[code]
Tried inlining/modifying headers and responses with description.

##### openapi-generator version

openapi-generator-maven-plugin
version 3.1.0/3.2.0

generator: jaxrs-spec

##### OpenAPI declaration file content or url

https://berlingroup.stackstorage.com/s/d4KSrRW9bDYmrSg

##### Steps to reproduce

Use openapi-gene

[2018-08-21 07:33] ikriz commented on #853
What's stopping you from using the unity editor integrated JSON utility? Code generation will never run at runtime. I think that's better than introducing a new dependency (aka newtonsoft)

[2018-08-21 07:54] BriceGagnageRenault commented on #634
Looking forward to this feature !

[2018-08-21 08:15] jmini commented on #855
Thank you for this issue.

Your spec is almost 10500 lines. Having a minimal example to reproduce the issue would help.

Have you tried with the latest version `3.2.1` and/or `3.2.2-SNAPSHOT`?

[2018-08-21 08:19] jmini commented on #540
Fixed with #708.

Can you verify with version `3.2.2-SNAPSHOT`?

[2018-08-21 08:57] rienafairefr commented on #855
For what it's worth, with version 3.1.0 of the code, the stack trace says line 3005
[code]

[2018-08-21 09:06] MartinDelille opened #856 "Simpler json response"
##### Description

When adding an example to the spec and generating the documentation, I have such answer:

[code]

Would it be possible to have less verbose answer like:

[code]

##### openapi-generator version

`3.2.2-SNAPSHOT`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

1. Generate the doc
1. Look at the gene

[2018-08-21 09:12] chatelao commented on #848
Thanks for all the great hints. Yes inlining everything to compare after a refactoring.

[2018-08-21 09:13] rienafairefr commented on #855
Just debugged the issue, it's coming from some header definitions, at least `/components/parameters/X-Request-ID`

I could reproduce the issue on branch `v3.1.0` with this minimal yaml:
[code]

[2018-08-21 09:52] jmini commented on #856
Have you tried the other static html generator ?

I think it is called `html2`

[2018-08-21 10:02] jmini commented on #856
I had a look at what https://editor.swagger.io/ is displaying for your spec. And I think that your spec not defining the example as expected.

If your property is just a string, then your example must also be a string. So like this:

[code]

Because you have indicated the example value to be `value: '01srv001'`, then you get this value (converted to JSON and then escaped) in the HTML spec generate

[2018-08-21 10:07] MartinDelille commented on #856
Ok thanks ! That was the trick!

[2018-08-21 10:07] #856 closed

[2018-08-21 10:15] jmini commented on #855
Reproduced with:

[code]

Referenced Header are not supported. We need to support this OAS3 feature.

Work around:
[code]

---

Do you want to propose a fix for this?

In ModelUtils 2 methods are requested:

* Header getReferencedHeader(OpenAPI, Header)
* Header getHeader(OpenAPI, String)

They need to be called, at least at the point where there is a NPE. You will also need to add the OpenAPI ins

[2018-08-21 10:26] #796 closed

[2018-08-21 10:27] jmini commented on #796
Can you give version `3.2.2-SNAPSHOT` a try?

[2018-08-21 10:29] MichaelSu1983 opened #858 "Couldn't find preset "react-app" relative to directory"
Today I generated the flow client using "javascript-flowtyped" for a swagger file. I found the generated client was fine, but I encounter this problem below when running a unit test.

Couldn't find preset "react-app" relative to directory "/Users/msu/xxxxx/node_modules/@custom/swaggergen-flow-client-testing"

      at node_modules/babel-core/lib/transformation/file/options/option-manager.js:293:19

[2018-08-21 10:39] MichaelSu1983 commented on #858
@jaypea I saw you are the author for flow client. do you have any idea?

[2018-08-21 11:01] MichaelSu1983 commented on #858
@cnx-bot, thanks for your reply. I did run those scripts. I am able to generate the client. But our production code uses env, http://babeljs.io/docs/en/env/, I always have "Couldn't find preset "react-app" relative to directory " error when I run a test.

`npm install
export NODE_ENV="production"
npm install rimraf -g
npm install babel-preset-react-app -g
npm run build`

[2018-08-21 11:06] devplayer0 commented on #372
@wing328 @jmini I have created a `CodegenCallback` model for use in mustache templates -s ee my pull request #861.

[2018-08-21 11:45] jaypea commented on #858
@MichaelSu1983 how do you use the generated client sdk?
as a dependency in your production code using npm?
or do you copy it directly into your production repo?

if you install the babel preset globally, your local babel installation wouldn't find it and just give you the error message.

i would recommend to put the generated client sdk in its own repository.
make sure to check in all generated fi

[2018-08-21 12:16] grEvenX commented on #652
@wing328 What's needed to "tag'n bag" this issue? :)

[2018-08-21 12:52] MichaelSu1983 commented on #858
@jaypea Thanks very much for your reply. I run the client generator to generated the client code, then npm install, and npm run build, and then npm publish it to NPM private repo.

In production code, I define the version in package.json to use it as a normal library. Everything works fine. But the product code has a unit test. It always failed as below.
`
Running NODE_ENV=development BABEL_ENV=no

[2018-08-21 13:04] rienafairefr commented on #855
@jmini I'm looking into it :-)

[2018-08-21 13:39] rienafairefr commented on #855
With #863 merged this should be fixed, don't think it will make it into the 3.2.2 release though

[2018-08-21 14:07] hl191 commented on #855
@rienafairefr thanks, did u run the full yaml by any chance?

[2018-08-21 14:10] rienafairefr commented on #855
Yep, I tried with generator `jaxrs-spec` and the yaml you sent, no more NPE at that place. There might still be some bug lurking in there though, if there is, don't hesitate to file another issue.

[2018-08-21 14:10] wing328 commented on #811
@csimmons0 can you try the following by putting the `-Dmodels` at the beginning of the command line argument?
[code]

[2018-08-21 14:17] iBicha commented on #853
That's a good question. Just to clarify, the JSON deserialization will run at runtime during api calls. But the reason the json utility probably not the best suited is because it's very limited when it comes to supported types.

[2018-08-21 14:57] jmini commented on #372
@devplayer0 I will have a look (a lot of reviews these days)

[2018-08-21 15:08] cspotcode opened #865 "Feature: [TypeScript] "CollectParameters" to accept params as option-bag"
##### Description

I would like the TypeScript code generator to support "CollectParameters" extension, which tells generated methods to accept all parameters as a single object / option-bag instead of multiple, positional arguments.

This extension is described here:
https://blog.apimatic.io/swagger-2-0-extension-for-code-generation-settings-abf602c3869d

##### openapi-generator version

3.2.1

#

[2018-08-21 17:13] MartinDelille commented on #821
Don't refer to swagger documentation. Multiple examples should be handled in the future: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java#L64

[2018-08-21 17:29] wing328 commented on #413
@karussell if you still need help with this issue, please let us know.

Closing it for the time being.

[2018-08-21 17:29] #413 closed

[2018-08-21 17:31] wing328 commented on #425
@jessechahal thanks for the details. May I know if you've time to contribute the support of OpenID in the Java client? I can show you some good starting points.

[2018-08-21 17:45] wing328 commented on #746
@demtnt thanks for reporting the issue. I tried to reproduce with the following:
[code]
But the output can be compiled without issue using `mvn test`

and I can verify the file `src/main/java/org/openapitools/api/ApiUtil.java`existed

[2018-08-22 04:08] jmini commented on #855
@hl191 Please try with `3.2.2-SNAPSHOT`

[2018-08-22 06:12] wing328 commented on #781
@developersteve thanks for reporting the issue, which should be fixed by #866

Please give it a try and let us know if you still experience the issue.

SNAPSHOT version: https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/3.2.2-SNAPSHOT/

[2018-08-22 07:05] #540 closed

[2018-08-22 07:05] wing328 commented on #540
@OmriHarary if it's still an issue, please let me know and we'll reopen this issue for tracking.

[2018-08-22 07:08] #781 closed

[2018-08-22 13:05] macjohnny commented on #865
@TiFu maybe this can also be considered in the rewrite of the TS generators?

[2018-08-22 13:32] CyrilleBenard commented on #637
Confirmed. It fixes this issue :+1:

[2018-08-22 13:47] TiFu commented on #865
Will keep this in mind.

[2018-08-22 14:12] marcoreni opened #872 "[Java][webclient] NullPointerException on generated code - getAuthentication"
##### Description
I have a spec that includes authentication.
I successfully generated sources using java/webclient, but as I try to use the generated code and set the authentication as explained in the generated README I get NullPointerException.

[code]
[code]

##### openapi-generator version
3.2.2

##### OpenAPI declaration file content or url

##### Suggest a fix/enhancement
Checking the code

[2018-08-22 15:46] jmini commented on #851
For the time beeing, I have merged https://github.com/OpenAPITools/swagger-parser/pull/15, meaning that the version `2.0.3-SNAPSHOT` of our fork of swagger-parser will contain the change.

[code]

Artifact is published in the sonatype snapshots repository:
[code]

---

To test it in OpenAPI-Generator, the `swagger-parser-version` value in the main pom:

https://github.com/OpenAPITools/openapi-gene

[2018-08-22 15:53] cspotcode commented on #865
@TiFu the code-gen changes should be really minimal.  Given a function signature like this:

[code]

The `CollectParameters` version looks almost identical:

[code]

When none of the params are required, then append a default value so that the option-bag can be omitted entirely:

[code]

[2018-08-22 16:00] TiFu commented on #865
@cspotcode Another option would be to create classes for these parameter bags

e.g.

[code]

What would you prefer?

[2018-08-22 16:04] cspotcode commented on #865
No preference.  I merely wanted to show that argument destructuring can be
used to avoid any changes to the body of each method.  The signature will
be different, but the method body will still refer to each parameter via a
local identifier.  No need for property access expressions, e.g.
`params.foo`

On Wed, Aug 22, 2018, 12:00 PM Tino Fuhrmann <notifications@github.com>
wrote:

[2018-08-22 16:41] #660 closed

[2018-08-22 17:18] hfgbarrigas opened #874 "[JAVA] Add constructor to allow custom WebClient to be passed into ApiClient."
##### Description

Add a new constructor in the JAVA Webclient mustache template allowing a custom webclient to be used instead of the default one. This allows for flexible customisation of the client, e.g, timeouts.

##### openapi-generator version

maven-plugin -> 3.2.1

##### Suggest a fix/enhancement

I have a simple branch and willing to merge.

[2018-08-22 17:59] hl191 commented on #855
Thanks, the NullPointer is gone.

There are some generated classes without member variables when using the full yaml. I will evaluate the created model and file another issue eventually.

[2018-08-22 19:35] jmini commented on #874
Please feel free to propose a PR for that.

[2018-08-22 19:40] jmini commented on #855
Thank you for the feedback.

Please feel free to open other issues if requested.

[2018-08-22 19:40] #855 closed

[2018-08-22 23:34] MichaelSu1983 commented on #858
I figured this out. It was because jest still looks for .babelrc for transpiling inside the generated client repo. So the fix is to ignore the babel config file for publishing.

[2018-08-22 23:34] #858 closed

[2018-08-22 23:59] Addvilz opened #875 "[Symfony] [spec 3.0] No support for API keys in Cookies"
##### Description

Symfony code generator lacks support for API keys in cookies as per 3.0+ spec.

In addition to that, generated code does not fail gracefully either, instead just skipping the definition of the variable. That leads to runtime errors if left unchecked.

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/php-symfony/api_contro

[2018-08-23 02:03] wari commented on #741
Hi @wing328 what is the option to generate the first tag? I've tested this with Swagger (released and unreleased) and I got the same problem as well. I've not reported to swagger yet though. Are there any other client generators I can try? I only know of openapi and swagger

[2018-08-23 04:46] jmini commented on #872
Nice catch, can you propose a pull request to fix this issue?
Let us know if you need help.

[2018-08-23 06:12] jmini commented on #811
I am at the root of this repo (cloned locally)
I have run `mvn verify` once

Then I enter:

[code]

And I get:
[code]

This is the expected result.

I have the feeling you are using Homebrew. Is that correct? If not, what is the `openapi-generator` command you enter?

[2018-08-23 06:52] wing328 opened #878 "Update CI config to support Elm 0.19"
##### Description

Elm 0.19 has been released: https://elm-lang.org/blog/small-assets-without-the-headache

- no longer support --yes
- we will need to add elm.json or run `elm init`

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/877

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to

[2018-08-23 07:04] jmini commented on #811
Ok I took an other look at the problem.

In our code we do a `System.getProperty("models")`:
https://github.com/OpenAPITools/openapi-generator/blob/6a47d49ee807293d4ac37e9d3f96e4a52ef4322c/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java#L134

But if you put `-Dmodels=Order,Pet` after the `-jar` line, the app is responsible to parse it.

So this is what we are

[2018-08-23 07:15] jmini commented on #845
I am not sure how I can add an idea to the list, but I think we should remove using `System.setProperty(..)` from our code.

It is ok to read them (requested for backward compatibility), but setting the values is a bad practice.
At the end they are some inputs options for the `DefaultGenerator`

Related issue: I have described how System properties are set by `CodegenConfigurator.setSystemProperti

[2018-08-23 09:54] MartinDelille opened #880 "Handle example in array schema"
##### Description

This should be possible to handle multiple examples for better documentation purposes.

##### openapi-generator version

`3.2.2-SNAPSHOT`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Simply try to generate the documentation with the information above.

##### Related issues/PRs

Not that I now.

[2018-08-23 09:57] MartinDelille opened #881 "html2 generator doesn't handles examples"
##### Description

The `html2` generator should handle `example` for better documentation purposes.

##### openapi-generator version

`3.2.2-SNAPSHOT`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Simply try to generate the documentation with the information above.

##### Related issues/PRs

#880

##### Suggest a f

[2018-08-23 10:03] hfgbarrigas commented on #874
Sure, but I'm probably missing something. Getting 403 trying to push the branch to create the PR. Point me in the right direction :)

[2018-08-23 10:36] jmini commented on #874
Well I guess you are not familiar with working with forks on GitHub. Are you trying to push on `OpenAPITools/openapi-generator` ?

You have forked the repo on Github https://github.com/hfgbarrigas/openapi-generator/ this is great.

When you enter `git remote`, do you see one or two entries?
With `git remote --verbose` what do you have for the `origin` remote?
Something like:
[code]

If you have no

[2018-08-23 10:47] jmini commented on #881
The `html` generator generates sections for example, see:
https://github.com/OpenAPITools/openapi-generator/blob/f2b0adfa0502f308fed134240e6deb9d67aa250b/samples/documentation/html/index.html#L777-L786

This can probably be ported to `html2`

[2018-08-23 10:49] hfgbarrigas commented on #874
Enlightening, ty. [PR](https://github.com/OpenAPITools/openapi-generator/pull/882)

[2018-08-23 11:17] emreakca opened #883 "-DdebugModels returns StackOverFlowException"
##### Description

Hey, can someone help me with this issue: when i try to -DdebugModels, i get an StackOverFlowErrorException. Generating the client works without problems, so does
-DdebugOperations...
Had someone the same error or know a fix? Or a suggestion on how I can find the cause?

##### error
[code]
##### openapi-generator version

3.1 & 3.2.3

##### Command line used for generation

`jav

[2018-08-23 12:03] marcoreni commented on #872
PR per se should be easy.

As for testing, I checked other libraries and I don't see any specific test regarding this kind of scenario. Should we generate code, dinamically load the generated class and check whether we can set an authentication?

[2018-08-23 12:44] jimschubert commented on #845
@jmini yeah I think that should be another card. Work from this card will be a breaking change, but removing setProperty should be done as soon as possible, imho.

I would append that setProperty is used in the Gradle plugin, I think it's fine in this case. It shouldn't exist in the generator packages, though, because these can be consumed by other artifacts or tools.

[2018-08-23 13:39] jmini commented on #137
There is one thing that makes it a little more complex:
`--lang` was the old name for `--generator-name` (in swagger-codegen). So for backward compatibility you might need to keep this possibility until 4.0.0. But this is also not a blocker.

@rienafairefr : Yes I agree with you, it can be done even by keeping the generators the way they are. In later refactorings we can get remove the abstract co

[2018-08-23 13:42] jmini commented on #872
For testing I have started a conversation in #689... Feel free to add your ideas there.

[2018-08-23 13:52] flozano opened #886 "Generated java code uses invalid java parameter name (non-camelcased, separated with `-`)"
##### Description
Generated parameter name is not valid java for multipart file parts

##### openapi-generator version

3.2.2

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -i /Users/flozano/Projects/golang/src/github.com/KiiCorp/varanus-frontend/server/swagger.yml -g spring

##### Steps to reproduce

Try to compile. In ge

[2018-08-23 14:33] jmini commented on #886
Thank you for the report.

[2018-08-23 15:17] jason-cohen commented on #457
@jmini has there been any further development into this issue?

Like you pointed out, it's not exactly an issue with the mustache templates. It primarily arises from the DefaultGenerator assuming HTTP security type implies BASIC Auth, without any further investigation as to the scheme provided.

A simple minimal solution might be to replace (DefaultGenerator.java line 2953):
[code]

with
[code]

H

[2018-08-23 15:59] marcoreni commented on #689
I think that

can be accomplished with a mock server. I haven't had any chance to use them with Java yet, but a simple Google Search brought me to http://wiremock.org/docs/junit-rule/ that may be easy enough to use (it allows stubbing via json files http://wiremock.org/docs/stubbing/ )

To accomplish also

requests can be verified ( http://wiremock.org/docs/verifying/ ) or the server may be strict

[2018-08-23 18:12] softdays commented on #727
No feedback on this proposal? Maybe my proposal is not clear enough...

[2018-08-23 19:59] jason-cohen opened #890 "[Java][Spring] Optional query parameter of type array-string doesn't respect defaults"
##### Description

Using OAS 3, I have a query parameter defined as follows:
[code]
However after running the generator, my controller class has the following defined as `defaultValue`:
[code]

When a request is made to the service with the optional parameter missing, Spring creates a new string list and adds `new ArrayList<>()` as the single element of the list, so the defaulted string becomes:

[2018-08-24 03:52] wing328 commented on #875
Closed via #884

[2018-08-24 03:52] #875 closed

[2018-08-24 04:40] lorenzleutgeb commented on #457
@jason-cohen Just hijacking the OAuth security scheme is a bad idea. For example, the spec requires an OAuth flow to be set on security schemes of this type, which is something that cannot be inferred (and might even not apply) in the case of a different HTTP authentication scheme. What you suggest as a solution here is a workaround that will immediately fail as soon as someone wants to use a diff

[2018-08-24 05:06] jmini commented on #890
Thank you for the detailed issue report.

Feel free to propose a pull request with the proposed change. Let us know if you need help.

[2018-08-24 05:06] jmini commented on #883
Maybe this is a duplicate of #241 ?

[2018-08-24 05:07] jmini commented on #689
Thank you a lot for your inputs. Because I pointed to this issue, I did the same research yesterday evening ;-)

I think I was first confused with http://wiremock.org and/or http://www.mock-server.com/ because I do not want to mock a server (mock like in Mockito or EasyMock), I want to have a real server so I can use the real Http-libs in the generated clients.

Am understand you concern and your

[2018-08-24 06:26] wing328 commented on #727
@softdays to move this forward, what about testing different API and model naming (PascalCase, snake-case, etc) with your PR? That way we can ensure the new naming option you introduced works with different cases.

[2018-08-24 08:52] #637 closed

[2018-08-24 15:01] jason-cohen commented on #457
@lorenzleutgeb Very good point. I agree, hijacking the OAuth scheme is a bad idea as it couples them, when the very point of the http-bearer scheme was to have an authorization bearer header not coupled with OAuth.

Maybe a more viable option would be to add a new field `isBearer` that could be used in the templates in a manner similar to the `isBasic`.

[2018-08-24 16:22] osjupiter opened #893 "Invalid enum var names are generated by multi-byte characters"
##### Description

Hi. I have been using openapi-generator with definitions which contains multi-byte characters.
When I wrote enum definitions  which names contain only non-word characters(RegExp \W), invalid code generated.
(All of enum names become "_".)

Are double-byte characters not allowed for enum names in OAS ?
If it is valid, I hope these characters will be supported.

##### generated co

[2018-08-24 16:59] wing328 commented on #893
Double-byte characters are allowed for num names in OAS v2, v3.

@osjupiter thanks for the details in reporting the issue. I agree with you the existing solution we'd in place won't meet your requirement and I like your idea of using extensions to control the naming of the enum parameter name.

Would you have time to contribute a PR to fix the Go or Java client generator as a starting point?

(It'

[2018-08-24 23:40] BBKolton opened #896 "[Java] Codegen fails with multiple response types"
##### Description

With two different defined response types for two different response codes, the generated file has a missing comma which crashes the build.

##### openapi-generator version

3.0.2

##### OpenAPI declaration file content or url

[code]

Deep in the target folder hierarchy, the `HealthApi.java` file has this section which throws a syntax error

[code]

##### Command line used for

[2018-08-25 14:59] softdays commented on #727
Not sure to understand what you suggest...
Would you suggest that I should continue my PR by adding more output possibilities for filenames?

As you know I'm currently facing a structural issue with my PR concerning 'imports' generation using kebab-case and I don't have any potential solution for that...

[2018-08-25 15:36] wing328 commented on #727
Sorry, that's not what I meant.

Your PR add an option to choosing the naming convention: camelCase, dash-case, which is good.

My question is have you test both to ensure the issue mentioned by @macjohnny does not occur:

If both options (camelCase, dash-case) have been tested to ensure there's no discrepancy between the two and the code is compilable, then we can move forward with your PR.

[2018-08-25 17:39] softdays commented on #727
The issue mentioned by @macjohnny is related to my proposal concerning class names normalization.
But as you can see in the code below the model names of imports are already deduced from file names, at least for the typescript-angular generator. So I don't understand how file names and class names can differ given that model names of a service will be resolved from their file names:
https://github

[2018-08-26 07:06] trenneman commented on #878
I've started working on upgrading the generator to 0.19. There are also some changes required to the generated files. Can the CI config be used to support both a 0.18 and 0.19 version?

[2018-08-26 07:27] osjupiter commented on #893
Thanks for your agreement!
I'll send a PR.

[2018-08-26 07:41] jmini commented on #896
This is a great report for an issue.

If I remember well, something similar have already be reported and fixed. Can you try with the last released version: `3.2.2` instead of `3.0.2`?

[2018-08-26 08:59] wing328 commented on #878
We can use different CI provider to test different versions of Elm, e.g. Travis for 0.18 and Shippable for 0.19

[2018-08-26 10:01] andys8 opened #900 "[Elm] Upgrade to version 0.19"
Recently after a long period Elm was released in a new version `0.19`. There are some changes which have to be done. The package json files was renamed to `elm.json` and the format changed.

Blog:
http://elm-lang.org/blog/small-assets-without-the-headache

Release Notes:
https://github.com/elm/compiler/blob/master/upgrade-docs/0.19.md

### Related
https://github.com/OpenAPITools/openapi-generator/

[2018-08-26 10:59] #384 closed

[2018-08-26 11:02] #808 closed

[2018-08-26 12:17] #99 closed, assigned to nobody

[2018-08-26 12:26] wing328 commented on #900
@andys8 thanks. We'll instead use https://github.com/OpenAPITools/openapi-generator/issues/878 to track it instead.

[2018-08-26 12:26] #900 closed

[2018-08-26 12:44] andys8 commented on #900
Thanks, I've overlooked that one.

[2018-08-26 13:06] wing328 commented on #900
@andys8 no problem :) If you want to work on that one, please reply to let us know to avoid duplicated effort.

[2018-08-27 03:47] wing328 commented on #241
UPDATE: I've filed https://github.com/OpenAPITools/openapi-generator/pull/903 to fix the issue.

Please take a look when you've time.

[2018-08-27 03:48] wing328 commented on #883
UPDATE: I've filed #903 to fix the issue.

Please take a look when you've time.

[2018-08-27 06:30] jmini commented on #411
PR for this approach: https://github.com/OpenAPITools/openapi-generator/pull/902

[2018-08-27 08:14] #241 closed

[2018-08-27 10:58] ybelenko commented on #426
I would love to implement this approach in PHP server generator. It was the most frustrating thing when I worked with SwaggerCodegen. You always need to be careful to not override your current progress. I've ended up with condition in router:
[code]

I would extend your list with:
1. an interface, which will be overwritten by code generation
2. **mock class, which is skipped by router when `mockin

[2018-08-27 11:44] abdullin commented on #323
Still the same error with 3.2.2 of the generator. I couldn't find any documentation on how to make openapi generator work with python-flask with any version of the spec.

To avoid confusion, I would propose to remove "python-flask" from the list of the generators on the home page.

[2018-08-27 13:00] SebastienRvl opened #907 "Bad object serialization when query parameter is Object"
##### Description

When y try to send an object in a query with method get, the object is not serialized, the api call toString method

14:57:56.747 [main] DEBUG f.r.p.t.f.l.j.s.r.RestLoggerProvider - --> GET http://localhost:8000/v1/declarations/etablissements?page=class%20PageIn%20%7B%0A%20%20%20%20page%3A%200%0A%20%20%20%20size%3A%200%0A%7D&filtre=class%20FiltreRechercherEtablissementDSN%20%7B%

[2018-08-27 14:02] marcoreni opened #909 "[Java][Webclient] Authentication queryParams double encoded"
##### Description
A querystring authentication param is double encoded during request.

##### openapi-generator version
3.2.3-SNAPSHOT

##### OpenAPI declaration file content or url
[code]

##### Steps to reproduce
1. Generate a client with authentication
2. Set `1234=` as auth value
3. Request should be sent as `apiKey=1234%3D`, but instead is sent as `apiKey=1234%253D`

##### Suggest a fix/enhan

[2018-08-27 14:06] wing328 commented on #883
#903 has been merged into master. Please try the latest (SNAPSHOT, docker images, etc) when you've time

[2018-08-27 14:06] #883 closed

[2018-08-27 14:07] wing328 commented on #241
#903 has been merged into master. Please try the latest (SNAPSHOT, docker images, etc) when you've time

Thanks again for reporting the issue.

[2018-08-27 15:20] marcoreni opened #910 "[Java][Webclient] Unable to deserialize OffsetDateTime"
##### Description
If we declare a date-time string, the deserialization causes an exception:

[code]

##### openapi-generator version
3.2.3-SNAPSHOT

##### OpenAPI declaration file content or url
[code]

##### Suggest a fix/enhancement

Jackson jsr310 module is listed as a dependency but it's not registered inside the objectMapper instance.

We should add:
[code]
during `buildWebClient()` as state

[2018-08-27 18:40] BBKolton commented on #896
Looks like the issue in the `HealthApi` file is resolved, but now `servicenameApi.java`, a generated file under `src/main/java/com/company/team/service/client/v1/serviceApi.java` fails. I assume a fix to the health api file was not propogated.

[code]

[2018-08-27 18:44] mukulb90 opened #912 "Incorrect code being generated [java]"
[JAVA] Incorrect code generation when subtypes and

##### Description

##### openapi-generator version
openapi-generator-cli-3.2.3

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation

java -jar openapi-generator-cli-3.2.3-20180824.092221-7.jar generate -i openapi-apiresource.json -o ./gen -g java

Expectation: Generated classes Space and Source java should

[2018-08-27 19:37] matteomazza91 commented on #241
I tested it too, it works also for me.

[2018-08-28 07:42] trenneman commented on #878
OK, thanks, I'll use that one as a reference.

[2018-08-28 10:01] tnmtechnologies commented on #773
Same issue occurs with the jaxrs-resteasy generator.

[2018-08-28 13:08] etherealjoy commented on #548
@stkrwork @wing328
Is this something we should do, I have some idea to do this? I mean the Pistache server is probably the only server with three separate binary to run the PetStore sample.

[2018-08-28 13:12] wing328 commented on #372
#861 by @devplayer0 has been merged into master. Please give it a try and let us know if you've any feedback.

Next action item: We'll need to add callback support to the generator one by one by updating the mustache templates.

[2018-08-28 14:54] osjupiter commented on #893
I send PR!
I changed  the extension name to "x-enum-varnames".

With this extension, users will be able to control  names of enum property for more diverse purposes.

exmaple
[code]
gererates
[code]

Note that this feature affects output of all languages.

[2018-08-29 00:40] jokedurnez opened #919 "choose authentication in python client?"
Thank you developers ! This is a great tool !! Just a problem with multiple authentication methods...

##### Description

I have multiple ways of authenticating:

i.e. in a path:
[code]
...
[code]

When I only specify `-apiKey: []`, I get my data in the python client.  However, when both are there, it by default tries to use the `openlattice_auth`.  Is there a way to specify the specific authentic

[2018-08-29 03:56] jmini commented on #701
Update: there is a proposition in #917 to control the generated enum names with the `x-enum-varnames` extension.

When the PR is merged, for your case, you should be able to do:

[code]

[2018-08-29 04:15] wing328 commented on #865
There were similar suggestions before but nothing has been implemented yet. The use case was that the method contains many optional parameters, which will make the method signature very long in languages such as Java.

[2018-08-29 08:57] marcoreni commented on #909
Issue confirmed for all querystring params here: https://github.com/marcoreni/openapi-generator/tree/repro/909 Will submit PR soon

[2018-08-29 09:41] CyrilleBenard opened #922 "[C++][cpp-restsdk] Array of objects are not well handled. Compilation failed"
##### Description

The use of an array of objects generates wrong C++ code that do not compile. This is strange because I already tested this feature in the past with a previous generator version and it did not failed. It is almost a regression.

The compilation error looks like :

[code]

NOTE: The object properties type does not interfere. I mean it also appears in case the properties are string

[2018-08-29 10:42] Parilar opened #925 "[SWIFT4] Request does not conform to protocol 'Decodable'"
##### Description

Every request got the error "Type 'MyRequestRequest' does not conform to protocol 'Decodable'"

##### openapi-generator version

3.2.2

##### Command line used for generation

openapi-generator generate - swagger.json -g swift4 -o api

Using Xcode 10 and Newest Swift version

[2018-08-29 13:00] wing328 commented on #727
@softdays as discussed, there's a way to retrieve the "original" model/class name. Using that will fix the import issue.

[2018-08-29 13:01] wing328 commented on #727
cc @TiFu as we may also need this feature/option in the refactored TS generator.

[2018-08-29 13:17] wing328 commented on #507
UPDATE: I'm working on adding a hook so that we can post-process each auto-generated file.

[2018-08-29 13:28] Fredx87 opened #926 "[typescript] Dates are reported as Date type in model but not serialized"
##### Description
When the format of a string property of a model is "date-time" or "date", the generated model in Typescript have that property of `Date` type, but no conversion is performed after the fetch of the response, so that property is actually a `string`. I've tried both with `typescript-angular` and `typescript-fetch`.

##### openapi-generator version

3.2.2

##### OpenAPI declaration f

[2018-08-29 13:37] Fredx87 opened #927 "[typescript] allOf with multiple values is not handled properly"
##### Description
If a schema is defined with the `allOf ` operator with multiple values, the generated model is an interface that extends only the first value.

##### openapi-generator version
3.2.2

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation
docker run --rm -v ${PWD}:/local openapitools/openapi-generator-cli:v3.2.2 generate -i /local/swagger.yaml

[2018-08-29 14:20] rienafairefr commented on #919
In the yaml you linked there is no path with the multiple authentications, I guess you're adding it to a specific path or group of paths before generating ?

What code are you using for calling the python client ? If you're using the auto-generated calling example as-is it's indeed overriding the api_key authentication, example:

[code]

correct code would omit the second `configuration=` step

Wh

[2018-08-29 17:04] wing328 commented on #507
I've filed https://github.com/OpenAPITools/openapi-generator/pull/929 to add postProcessFile and update Go generator to use it with `gofmt -w`. The results look good so far. Please have a look when you've time.

[2018-08-30 01:51] jimschubert commented on #853
@iBicha have you taken a look at the refactor work you've linked? I'm wondering if the API abstractions I've made would support the `UnityWebRequest` cleanly.

The intention of the refactor is that it allows users to write their own simple adaptors for api query operations such that you can have a task-based asynchronous client or a synchronous client. The API implementation types then allow you t

[2018-08-30 05:24] #893 closed, assigned to nobody

[2018-08-30 08:46] wing328 opened #933 "Better code format/style for Elm code"
##### Description

For Elm client code, we can run `elm-format` to better format the auto-generated code.

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/929

##### Suggest a fix/enhancement

We'll do something similar to #929 (after it's merged into master)

[2018-08-30 08:52] CyrilleBenard opened #934 "[C++][cpp-restsdk] (Type string - format binary) are not well handled - compilation failed"
##### Description

This bug issue is almost the same than the one I identified for Pistache server, see #638
For convenience, I decided to create a dedicated cpp-restsdk bug issue.

The compilation error looks like :

[code]

##### openapi-generator version

Current master 3.2.3-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

[code]

##### Command line used for generation

Generat

[2018-08-30 09:08] macjohnny commented on #926
@Fredx87 you are right, dates should be deserialized or the type should be string.
In our project, we choose the second option with the following configuration in the `pom.xml`:
[code]
But I think the type should be changed to string by default. Or maybe there is an easy way to deserialize the string into `Date` objects?
@TiFu @Place1 what is your opinion on that?

[2018-08-30 09:13] bocse commented on #257
We have encountered the same issue with the specification of DeepVISS

https://raw.githubusercontent.com/deepviss/deepviss-server-example/f5f6bf736b5cc82c4c99fd8f1903017e66d6bc8f/src/main/resources/deep-viss.json

[2018-08-30 09:25] macjohnny commented on #926
@Fredx87 would you like to give it a try and support @TiFu in his typescript-refactoring #802?

[2018-08-30 09:32] Place1 commented on #926
I added support for this in my fork on #569 today. It serializes and deserializes dates based on `new Date(value)` and `date.toISOString()`.

I think any work in #802 should make use of date format specifiers and allow a wider range of date strings to work, as well as a flag to disable automatic date handling (i.e. use strings instead) for users with complex use-cases.

[2018-08-30 10:46] etherealjoy commented on #426
`cpp-qt5-qhttpengine-server` is implementing this for `c++`. The method `createApiHandlers`
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.h#L68

has to be overridden and that the handlers inherited that is all.

[2018-08-30 11:00] bocse commented on #745
The version of the DeepVISS specs that reproduces this issue is
https://raw.githubusercontent.com/deepviss/deepviss-server-example/f5f6bf736b5cc82c4c99fd8f1903017e66d6bc8f/src/main/resources/deep-viss.json

Do you have any update regarding a fix?

[2018-08-30 11:19] etherealjoy commented on #745
I will take a look at this once I finish the other issue which is assigned to me.

[2018-08-30 14:11] acommuni opened #940 "XML import generated even if withXml option is set to false"
##### Description

When using maven openapi generator with configuration : **<withXml>false</withXml>**

Model and API generated files contains the following import : **import javax.xml.bind.annotation.*;**

##### openapi-generator version

Version 3.2.2
##### OpenAPI declaration file content or url

Any

##### Command line used for generation

Here is the plugin configuration

_<plugin>
				<grou

[2018-08-30 14:56] gbrown-ce commented on #350
@macjohnny yes it has!

[2018-08-30 14:56] #350 closed

[2018-08-30 14:57] gbrown-ce commented on #349
@macjohnny yep!

[2018-08-30 14:57] #349 closed

[2018-08-30 15:06] mwoodland commented on #927
I've just run into this same issue with the Spring generator, except in that case it's generating classes so multiple inheritance wouldn't work.

[2018-08-30 15:10] mwoodland commented on #634
I've just run into the same problem with the Spring generator.

[2018-08-30 17:22] acommuni opened #941 "APISErviceImpl class generated even if interfaceOnly option set to true (jaxrs-cxf-cdi generator)"
##### Description

Implementation of server stub classes are generated even if **interfaceOnly** option set to true

##### openapi-generator version

Version : 3.2.3

##### OpenAPI declaration file content or url
Any
##### Command line used for generation

[code]
##### Steps to reproduce

Run maven

##### Suggest a fix/enhancement

Add a condition when impl classe is genrated

[2018-08-30 17:36] wing328 commented on #523
@siddharthist FYI. The fix has been included in v3.2.3 release: https://twitter.com/oas_generator/status/1035200785066254336

[2018-08-31 08:09] macjohnny commented on #927
@jmini @wing328 do you think this is a general bug? If the target language does not allow extending multiple classes, then the generated model should copy all properties.

[2018-08-31 08:31] mwoodland commented on #927
@macjohnny for java at least the model could be implementing multiple interfaces instead of  extending a concrete class but I'm guessing that's a fairly big change to the generator.

[2018-08-31 13:04] Parilar commented on #925
Problem solved. The solution was that the API got some mistakes.
When an Request defines his params as object :
`"properties": {
    "params": {
      "type": "object"
    },`
the API generates code which is not Codeable.
`public var params: Any`

defining an object and referencing it in the request solved the problem

[2018-08-31 14:00] #441 closed

[2018-08-31 14:08] etherealjoy opened #945 "[Documentation] Missing doc export from default codegen"
Missing options which are exported by the DefaultCodegen like modelNamePrefix for example.

##### Related issues/PRs

#932

[2018-08-31 16:00] MartinDelille commented on #881
I can't manage to find the code generating this here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtmlGenerator.java

Any idea?

[2018-08-31 19:29] wheelsandmetal commented on #323
I would also like the ability to generate a OAIv2/Swagger v2 spec until such a time as connexion can fully support v3

[2018-09-01 04:14] wing328 commented on #323
Here is the PR to support OpenAPI spec v3 in connexion: https://github.com/zalando/connexion/pull/621

[2018-09-01 06:57] wing328 opened #947 "[Ruby] A potential security vulnerability in one of the dependencies"
##### Description

Reported by Github

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

A fix is being worked on.

[2018-09-01 07:57] wing328 commented on #947
<img width="762" alt="screen shot 2018-09-01 at 3 56 48 pm" src="https://user-images.githubusercontent.com/934260/44943853-b7664a00-adff-11e8-8024-df984f6eaed6.png">

[2018-09-01 13:03] wing328 commented on #507
Closed via #929

@grokify please pull the latest to give it a try when you've time.

[2018-09-01 14:35] #947 closed

[2018-09-01 15:48] jmini commented on #851
Swagger-Parser update containing the fix #951

[2018-09-01 15:58] jmini commented on #68
Version [2.0.3-OpenAPITools.org-1](https://github.com/OpenAPITools/swagger-parser/releases/tag/v2.0.3-OpenAPITools.org-1) of Swagger-Parser was published on maven central:

[code]

---

In https://github.com/swagger-api/swagger-parser/pull/806#issuecomment-415559341, the timeline for `2.0.3` was given:

This might be to late for our `3.3.0` release. So we will use `2.0.3-OpenAPITools.org-1` until

[2018-09-01 17:42] ndbroadbent opened #952 "[Discussion] A framework for injecting custom code, automated integration tests, and release management"
#### Description

`openapi-generator` is awesome, but I think it's missing a "framework" to help with code organization, custom code injection, automated testing, and releasing libraries.

I've been trying to build my own sort of framework for internal use, but it's been really exhausting because I've had to learn so many things about so many different languages, ecosystems, and package managers.

[2018-09-01 22:39] John235713 opened #953 "please close this, thanks. I had I mistake :)"
please close this, thanks. I had I mistake :)

[2018-09-02 00:35] #953 closed

[2018-09-02 13:26] chatelao commented on #510
Is Handlebars in the 4.0.x branch already available?

[2018-09-02 15:14] wing328 opened #955 "MySQL Schema Generator"
##### Description

As discussed with @ybelenko we want to create a MySQL schema generator so as to create the MySQL database/tables more easily given an OpenAPI spec.

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to let us know.

[2018-09-02 15:16] wing328 commented on #955
We will need to store MySQL-specified attributes/properties (e.g. AUTO_INCREMENT) in the model defined in the OpenAPI spec.

One option is to use vendor extension (e.g. x-mysql-auto-increment).

[2018-09-02 16:48] jmini opened #956 "Discussion: change the release frequency?"
Since the start of the project we have used following release schedule:

In average **one release each week**.

* Each month a release containing breaking changes with fallback:
  - [3.0.0](https://github.com/OpenAPITools/openapi-generator/releases/tag/v3.0.0) June 2018
  - [3.1.0](https://github.com/OpenAPITools/openapi-generator/releases/tag/v3.1.0) July 2018
  - [3.2.0](https://github.com/OpenA

[2018-09-02 17:47] jmini commented on #956
I forgot to say that the consideration to change the release schedule is not for `3.3.0`. A new schedule could be used starting with `3.3.1`.

cc: @OpenAPITools/generator-core-team, @OpenAPITools/openapi-generator-collaborators

[2018-09-03 05:32] macjohnny commented on #955
if you do so, you could also consider to have a more general database generation option in different languages, e.g. `JPA` in `java`

[2018-09-03 13:40] Ilya1vanov opened #957 "[angular-typescript] Bug generating model with suffix"
##### Description

Generator tries to insert such import:
[code]
when suffix is provided (e.g. Swagger)
and model contains map inside (same for services which take map as parameter)
[code]

##### openapi-generator version

3.2.2
3.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]
where $1 and $2 are input and output.

##### Steps to reproduc

[2018-09-03 15:13] wing328 commented on #955
Is that similar to the `databaseAdapter` option in the `ruby-on-rails` generator?
[code]

[2018-09-03 17:59] sanamsarath opened #958 "[C++][cpp-restsdk] model file generated for the enum type definition does't have any variable to assign value."
##### Description

I defined a object type enum in yaml file and after API client library is generated for that, I see the .h file has only 3 methods toJson(), fromJson() and fromMultiPart(). It does't has any protected variable members to pass the value to it. If I want to create the CompareCompareTarget object with value "CREATE" for the below example, how can I do that??

##### openapi-generato

[2018-09-04 03:08] sanamsarath commented on #798
I am seeing similar issue for C++ enums, @wing328 will the above mentioned workaround works for C ++ as well ?? [https://github.com/OpenAPITools/openapi-generator/issues/958](url)

[2018-09-04 06:26] macjohnny commented on #957
@Ilya1vanov  could you please explain more in detail which part of the output is not correct?
Maybe https://github.com/OpenAPITools/openapi-generator/pull/767 by @softdays resolves your issue?

[2018-09-04 06:27] #878 closed

[2018-09-04 07:58] #909 closed

[2018-09-04 14:33] jmini commented on #851
Can you give `3.3.0-SNAPSHOT` a try?

[2018-09-04 14:35] fmartinou opened #962 "[openapi-generator-gradle-plugin] - Failure with Gradle 4.10"
##### Description
Hello, the openapi-generator-gradle-plugin seems to be broken with Gradle 4.10.
[code]

##### openapi-generator version
org.openapitools:openapi-generator-gradle-plugin:3.2.3

##### Platform
------------------------------------------------------------
Gradle 4.10
------------------------------------------------------------

Build time:   2018-08-27 18:35:06 UTC
Revision:     ee37

[2018-09-04 15:04] wing328 commented on #956
I vote for a bi-weekly patch release and bi-monthly minor release.

[2018-09-04 15:22] chatelao opened #964 "mvn generate only one generator"
Is there an easy way to build only one generator (my new one) ?

[2018-09-04 15:37] ndbroadbent opened #965 "Is it possible to run openapi-generator-cli from source without compiling the jar?"
I've found that it's easier if I can just fork the `openapi-generator` repo and modify the source code directly. This is because I need to update files like `RubyClientCodegen.java` to add some new mustache templates.

I've been compiling with `mvn install -DskipTests=true`, but it would be great if I could skip this step and just run the `.java` file directly, to save some time.

I'm not too fami

[2018-09-04 17:41] jmini commented on #964
Where did you add this generator, in an external java project like [`custom-java-client-openapi-generator`](https://github.com/jmini/openapi-experiments/tree/master/custom-java-client-openapi-generator), then yes you can build it separately...

[2018-09-04 18:05] ndbroadbent commented on #965
This was answered here: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md#creating-a-new-template

[2018-09-04 18:05] #965 closed

[2018-09-04 18:06] jmini commented on #965
Using:
[code]
speeds up the maven build a little bit.

But creating the official cli project still takes time, because all sources are transformed into a jar.

----

Personally I am using Eclipse IDE. With its incremental compiler, I do not see compile time when I start the generators.

---

An other approach could be to use a generator in a separated project (can be a maven project, that you buil

[2018-09-04 18:09] ndbroadbent commented on #965
@jmini Thanks very much! I also just found the documentation about creating a custom generator. That looks like the right approach for me, and then I also don't need to modify the source code of `openapi-generator`.

[2018-09-04 23:57] #727 closed

[2018-09-05 01:15] #933 closed

[2018-09-05 05:41] ndbroadbent opened #969 "Are there any server stubs that can respond with examples from the schema?"
Hello,

My goal is to automatically generate an integration test for every API client, to make sure that all my API clients are working properly and don't crash. I think the easiest way to do this would be to start a mock server, and make my API clients connect to this server by setting the host. My API changes fairly regularly, so I also want this whole process to be automated and based on the op

[2018-09-05 09:28] Ilya1vanov commented on #957
@macjohnny I don't think I'm good at Java. I want to ask you to fix it, if you don't mind.

On the face of it, the issue is in statement execution order. Map, Set, etc. (languageSpecificPrimitives array) have to be excluded from tsImports (for model) and imports (for api.service) before suffix is applied. But I'm not sure it is as simple as at first glance. You know code better.

Anyway, thank you

[2018-09-05 10:56] srividhyak27 opened #972 "String type defined with "pattern" is generated as Object instead of String"
##### Description

We have a type defined as string along-with pattern
[code]

This is referenced as a parameter in POST method:

[code]

The service stub generated has SID defined as object, as shown below:
`addUser(@ApiParam(value = "SID of user",required=true) @PathParam("sid") String sid,....)`

This throws Jersey Model validation errors whille running the service.

I changed the type of the p

[2018-09-05 11:05] macjohnny commented on #957
@Ilya1vanov i filed PR #973 which fixes this issue.

[2018-09-05 12:44] elion opened #974 "[PHP] Yii 2 support"
Is there any plan to add Yii 2 support?

[2018-09-05 13:16] dr4ke616 opened #975 "[CORE] Pragmatically Extending Generators(?)"
Hey,

There is a situation where there is a need to pragmatically extend an existing code generator, and provide custom templates and behaviours within a project that has the core `openapi-generator` dependency.

Initial attempts are as follows:

- Create a class that extends a given generator:

[code]

- Create an instance of the generator providing some configuration and passing in the classpath

[2018-09-05 14:00] tnmtechnologies commented on #455
It is fixed for me too (tested with 3.2.0).

[2018-09-05 14:00] #455 closed

[2018-09-05 14:38] wing328 commented on #974
@elion I don't think anyone is working on that.

May I know if you've time to contribute the generator? We can work with you to create one.

[2018-09-05 16:16] ihrankouski opened #977 "Java Feign template doesn't work with Feign 10"
Hello,

Currently Java Feign template generates code for Feign 9.4.0.
I'd like the generated client to work with Feign 10.0.1 since I already use that version in my project.
However that not possible currently because of [breaking change in Feign](https://github.com/OpenFeign/feign/releases/tag/10.0.1):

https://github.com/OpenFeign/feign/pull/744/files#diff-64c69768b214213c25fd1246bae90adaR33 - `

[2018-09-05 19:58] Ilya1vanov commented on #957
@macjohnny thank you. You are doing a great job!
Will #973 be added to 3.3.0 release in September? And when 3.3.0 is scheduled?

[2018-09-06 03:01] wing328 commented on #972
Can you try the latest stable version, which has better support for reference to primitive type?

[2018-09-06 05:13] jmini commented on #977
Yes feel free to file a pull request for that.

Please also update the corresponding dependencies for the generated pom.xml:

https://github.com/OpenAPITools/openapi-generator/blob/3abeb826851aeeb53db5f56accab50ad939c9d7e/modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache#L296-L297

the generated gradle file:

https://github.com/OpenAPITools/openapi-generator/blob/3abeb

[2018-09-06 08:15] wing328 commented on #977
For this one, I suggest we add an option "feignOption" to allow users setting the Feign version: 9.x, 10.x, with the following mustache tags:
[code]

Please let me know if you need help on this.

[2018-09-06 08:45] macjohnny commented on #957
@Ilya1vanov it looks like this will be added to the `3.3.0` release, due in September 2018 (see https://github.com/OpenAPITools/openapi-generator/issues/956)

[2018-09-06 09:05] jmini commented on #975
Thank you a lot for all the details you put in the question.

May I ask why you need to use a `GlobalSupportingFile`, can't you just use a `SupportingFile` in your generator instead:

[code]

PS: I am like you, trying to understand the goals behind the `GlobalSupportingFile` design...

[2018-09-06 09:08] manhhavu opened #982 "[SWIFT4] CodableHelper's encode() does not use dateFormatter property"
##### Description

The current Swift4's [CodeableHelper](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/swift4/CodableHelper.mustache)'s **encode()** method does not into account the class' property dateFormatter. The consequence is that we are unable to customize the encoding format for date.

##### openapi-generator version

3.2.3

####

[2018-09-06 09:54] dr4ke616 commented on #975
@jmini you are right. I can just use `SupportingFile`. Thanks for your help. I'll close this off.

[2018-09-06 09:54] #975 closed

[2018-09-06 09:56] wing328 commented on #974
The following PR to add the PHP Laravel is a good reference:

https://github.com/OpenAPITools/openapi-generator/pull/574

[2018-09-06 10:09] wing328 commented on #982
@manhhavu please submit a PR so that we can review the fix more easily.

[2018-09-06 12:29] ackintosh commented on #576
Sorry for late 💦 I'll file a PR!

[2018-09-06 12:36] manhhavu commented on #982
@wing328 : I've created the PR #984

[2018-09-06 14:13] dr4ke616 opened #986 "[KOTLIN] [SPRING] Fixes for: invoker-package / Jackson Module / Configuration / Misc"
There are a number of minor bugs that this issue will look to highlight within the Kotlin Code Generator. Ideally these all should be small enough to be fixed as part of a single PR.

##### Description

- Set the `basePackage` from `invokerPackage` so can be picked up from the `--invoker-package` argument.
- Add the [Kotlin Jackson module](https://github.com/FasterXML/jackson-module-kotlin) to sup

[2018-09-06 15:53] #756 closed

[2018-09-06 19:00] skydoctor opened #989 "CLI option to control logging level"
##### Description

There doesn't seem to be a way to control the verbosity of the output logs printed by the generator-cli, even though each line has a level defined. There should be a way to limit the output logs to errors or warnings only as desired.

##### openapi-generator version

3.1.2

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

java -jar /usr

[2018-09-06 21:48] grokify commented on #956
I like frequent releases as it helps get new fixes in and provides feedback to contributors making updates. It's a big difference from other projects. One or two weeks apart is fine, though I'd prefer if it wasn't longer, e.g. a month or more.

[2018-09-07 04:10] ackintosh commented on #974
I'm new to Yii 2 but I can help someone who tries to create the new generator. ✨

[2018-09-07 04:27] fujigon commented on #851
I confirmed that the problem has been fixed.
thanks!

btw, I found another problem while trying.

I'll file another issue.

[2018-09-07 04:27] #851 closed

[2018-09-07 04:41] fujigon opened #992 "[General] generator fails with oas 3 that includes remote ref that includes (remote's) local file ref"
##### Description
Generator fails when it reads openapi.yaml that includes remote ref file ref that includes (remote's) local file ref
(i.e. root -> remote ref -> (remote's) local ref).

This problem was found while confirming https://github.com/OpenAPITools/openapi-generator/issues/851 is fixed.

I use "jaxrs-jersey" language for this sample, but I think the problem is not limtied in jaxrs-jersey

[2018-09-07 06:47] fujigon opened #994 "[Java] InputStream is preferable to File from oas v3 with format binary"
##### Description

Currently, `File` type is employed in generated codes from oas v3 with format binary.
I think InputStream type is more suitable for it.

I locally test with jersey, and found that jersey accepts `File` type as request body entity, but it internally writes the binary stream to local disk, and passes the wrote file to the resource class argument.
It is not good for performance, so

[2018-09-07 08:37] #576 closed

[2018-09-07 14:08] colelawrence commented on #312
I found this issue when running into the same problem.
I was able to confirm duplicate methods and such being made in the server example files when multiple tags were specified.

[2018-09-07 14:34] bjgill commented on #312
I've just had a quick look at the appropriate section in the spec - https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields-8:

Field Name | Type | Description
-- | -- | --
tags | [string] | A list of tags for API documentation control. Tags can be used for  logical grouping of operations by resources or any other qualifier.

Looking at the output from the generator

[2018-09-07 14:53] ndbroadbent opened #996 "How can I generate a C# client that supports both .nuspec and tests?"
I've just finished writing some integration tests for my C# client with a targetFramework of `v4.5`, but I started looking into packaging it, and I realized that the `.nuspec` file is missing. And then I saw that it's explicitly excluded in `CSharpClientCodegen.java`, unless the target framework is `v5.0` ("netStandard").

How difficult would it be to provide a `nuspec.mustache` templates that als

[2018-09-08 14:24] #964 closed, assigned to nobody

[2018-09-08 14:31] wing328 commented on #956
If we decide to update the release schedule, we'll need to update our documentation. Here is a list for tacking:

- https://github.com/OpenAPITools/openapi-generator/blob/master/docs/qna.md#why-was-it-decided-to-fork-swagger-codegen-and-to-maintain-a-community-driven-version
- https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-long-does-it-take-to-release-a-stable-version-eg-305--306

[2018-09-08 22:07] ybelenko commented on #955
I've significant progress working on it. Prototype name for new codegen is `MysqlSchemaServerCodegen`. If anyone have better name - drop it in the comment.
Also I would consider any suggestion of Openapi Data Type -> MySQL Data Type matching.

### Openapi Data Type to MySQL Data Type
| Openapi Data Type | Openapi Data Format | MySQL Data Type |
| --- | --- | --- |
| `integer` | `int32` | `INT` |
|

[2018-09-09 10:12] #977 closed

[2018-09-09 10:19] SeanFarrow opened #999 "[C#] Support Asp.net core 2.1"
It would be nice if the generator supported Asp.Net Core 2.1.

I'm happy to do the work for this, but have a few questions:

Firstly, is there a way to completely exclude files from the output if they are not needed. The case where SwashBuckle is not included is the example I'm thinking of, so we should probably exclude wwroot.
 Secondly, how does the generator indicate that authorization is neede

[2018-09-09 10:53] wing328 commented on #999
@SeanFarrow thanks for offering help to improve this project.

To exclude files, have you considered using .openapi-generator-ignore files to prevent files from being overwritten/generated?

Whether authorization is required depends on the OpenAPI specification. We can consider authorization as a day 2 requirement.

Have you tried the `aspnetcore` generator? Does the output meet your requirement?

[2018-09-09 12:30] MartinDelille commented on #881
@jhitchcock Could you point me where to start to fix this?

[2018-09-09 13:05] ackintosh commented on #989
Thanks for reporting this issue. I'll file a PR later.

[2018-09-09 13:59] Addvilz opened #1002 "[Symfony] Make controllers explicitly public"
##### Description

Yet another Symfony4 compatibility fix.

Since Symfony 3.4, services in container are private by default. Because of that, doing a resource import in root routing (for example, to prefix paths or do something similar) will not work, as the controllers are inaccessible, resulting in an error.

##### Suggest a fix/enhancement

The only backwards compatible fix is to mark these con

[2018-09-09 14:01] Addvilz commented on #1002
P.S if anyone is interested, a monkey patch I have been using so far is to manually override controller services in the app services. Works fine for small api's with 1.3 controllers total, not so well if there are 100+...

[2018-09-09 14:43] wing328 commented on #999
@SeanFarrow thanks for the details. Sounds like we should support 2.1 directly and drop the support for 2.0.

@jimschubert @mandrean do you have an option on this topic?

[2018-09-09 14:46] SeanFarrow commented on #999
@wing328,
As well as everything I’ve previously mentioned, 2.1 provides the capability to support open api through attributes directly.
Perhaps we should allow a user to specify a version when generating the code?
Is this something that would be feasible?

From: William Cheng <notifications@github.com>
Sent: 09 September 2018 15:44
To: OpenAPITools/openapi-generator <openapi-generator@noreply.gith

[2018-09-09 16:58] wing328 commented on #955
Here are my suggestions:

| Openapi Data Type | Openapi Data Format | MySQL Data Type |
| --- | --- | --- |
| `string` | `byte` | `VARCHAR(255)`  |
| `string` | `binary` | `MEDIUMBLOB` |
| `file` | | `MEDIUMBLOB` |

Ref: https://stackoverflow.com/questions/5959043/how-to-insert-a-file-in-mysql-database

(`file` in OAS2 has been deprecated and replaced by `type: string, format: binary` in OAS3)

[2018-09-09 17:13] jimschubert commented on #962
Looks like we'll need to update Kotlin and Kotlin DSL in the plugin as it looks like ABI incompatibility with the versions in Gradle 4.10.

I have a lot of stuff going on this week, but I'll try to get to this and test the changes as soon as I can.

[2018-09-09 17:16] ybelenko commented on #955
@wing328 What about `float` and `double`? Do you agree with `FLOAT` and `DOUBLE` accordingly?

[2018-09-09 17:32] ybelenko commented on #969
@ndbroadbent I'm working on PHP Slim enhancements and I'm really want to create proper mock server generation. But... it will take a lot of time before stable release. For instance, right now I try to create `DataMocker` class which can produce any Openapi Data Type example. The biggest issue is to take in account complex models with multidimensional arrays. The other issue is that when there is m

[2018-09-09 17:42] ndbroadbent commented on #969
Hi @ybelenko, that sounds great!

I've actually realized that it would be better if I just start my application server and run API client tests against my real backend code. I ended up integrating the API client tests with my server test suite, so it starts a real server with mock data, and then runs the API client tests against that server. One advantage of that approach is that my API clients ar

[2018-09-09 19:01] ybelenko commented on #969
@ndbroadbent
Frankly, client side unit tests doesn't bother me so much. What you can test from the client side? Response to valid request and response to invalid request, that's all. It would be waste of time to write client side unittests to test every request parameter.

Let's say we have basic api endpoint called `/authentication/login` which accepts `username` and `password` in form data or JS

[2018-09-09 20:24] ndbroadbent opened #1004 "Required body params are not marked as required when they are the only parameter"
This is for OpenAPI v2.

I have some API endpoints without any path or query params, but you need to POST the required data in the body. However this data argument is not being added to the method in my API clients, and I have to pass it in the options hash. e.g. the method signature looks like this in Ruby:

[code]

This isn't an issue whenever my schema also has a path parameter. Then the method

[2018-09-09 20:39] jimschubert commented on #955
I agree with William's addition.

My comments are below.

## String (no format)

OpenAPI string types with no data format specified should not have a maximum specified for varchar, unless there is an OpenAPI `maxLength` constraint. See [maxLength in JSON Schema](https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.2.1) validation for strings, defined in Schema Object (spec [2.

[2018-09-09 21:06] ndbroadbent commented on #1004
I've tracked it down to https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L4422

[code]

`body.getRequired()` is returning `null` when it should be `true`, but only when the required body param is the only one. If there is also a path param, then `body.getRequired()` returns `true`.

This is coming fro

[2018-09-09 21:15] ndbroadbent commented on #1004
Figured out a quick hack for my own use-case, since all my body params are required. I just put this in my custom generator classes:

[code]

[2018-09-10 00:32] wing328 commented on #999
Yup, that's usually what we do.

We can add an option "aspNetCoreVersion" to support future version (e.g. 2.2, 2.3, etc).

[2018-09-10 01:50] wing328 commented on #999
@SeanFarrow as a starting point, what about updating the templates in https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/aspnetcore to make it work with ASP.net core 2.1 ?

[2018-09-10 02:45] SeanFarrow commented on #999
@wing328,
Yes, I'll do that. Do you want me to just update the template and then look at other things later, like the fact that if UseSwashbuckle is not specified, we don't need to generate some of the filters, so they shouldn't be present in the final output in my view.

[2018-09-10 02:53] wing328 commented on #999
Yup, we can deal with those later as it should not be difficult to skip with a CLI option.

[2018-09-10 03:07] SeanFarrow commented on #999
Ok,I’ll work on that today/tomorrow.
Does the C# generator support authorization, or is that something we need to add later?
Finally, is there a sample spec I can use to generate code to check the template is working as expected?

From: William Cheng <notifications@github.com>
Sent: 10 September 2018 03:54
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <s

[2018-09-10 04:34] wing328 commented on #999
Seems like there's no authorization support at the moment as I couldn't find the mustache tag `authMethods` in  https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/aspnetcore

[2018-09-10 05:02] SeanFarrow commented on #999
Ok,that’s whatI thought, but just wanted to check.

From: William Cheng <notifications@github.com>
Sent: 10 September 2018 05:35
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support Asp.net core 2.1 (#999)

Seems like there's no author

[2018-09-10 05:09] wing328 commented on #999
@SeanFarrow we can work with you to add the authorization support later (which should be pretty straightforward)

[2018-09-10 06:39] ybelenko commented on #955
@jimschubert
Thanks, for descriptive answer. It will save my time a lot.

Maybe you right that `TEXT` is better when `maxLength` isn't specified. What you think about `array` and `object` types? I ignore these properties right now, because to me `array` equals additional table `one to many` relationship and `object` is also means foreign key to record from another table.

Sure, I want to add cli o

[2018-09-10 06:51] SeanFarrow commented on #999
@wing328,
Do we want to upgrade swashbuckle, the current version is 3.0.0 and we are currently referencing 2.4. It makes sense to upgrade everything if we are going to move frameworks. I'm assuming this will ship in v3.3.0 of the generator?

[2018-09-10 07:41] wing328 commented on #999
Sure as Swashbuckle 3.0.0 also contains breaking changes: https://github.com/domaindrivendev/Swashbuckle.AspNetCore/releases/tag/v3.0.0

It's scheduled on this coming Friday so we'll definitely include it if it's ready by that time.

[2018-09-10 07:49] SeanFarrow commented on #999
Ok, should be able to get a pr out by the end of the day.
How do I generate a pet store sample server, so I can test the changes quickly? I’m running on Windows.

From: William Cheng <notifications@github.com>
Sent: 10 September 2018 08:42
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
S

[2018-09-10 09:38] tnmtechnologies commented on #634
I've just run into the same problem with the jaxrs-resteasy (3.2.0).
I will also be happy to help testing it if you need some help.

[2018-09-10 13:32] wing328 commented on #955
@ybelenko I don't have a clear answer. I did a keyword search ("mysql decimal") in Github and found a few occurrences of the following:

[code]

I suggest we use it as a starting point and later provide instructions to the users on how to customize it to meet their requirement.

[2018-09-10 14:46] wing328 commented on #999
To update the petstore sample, please run `bin\windows\aspnetcore-petstore-server.bat` at the root folder of this project.

[2018-09-10 15:44] SeanFarrow commented on #999
Ok, I can’t seem to find that bat file.
Everything seems to build though.
I’ll submit a pr in the next few hours.

From: William Cheng <notifications@github.com>
Sent: 10 September 2018 15:47
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#

[2018-09-10 15:50] wing328 commented on #999
Here is the URL to the batch file: https://github.com/OpenAPITools/openapi-generator/blob/master/bin/windows/aspnetcore-petstore-server.bat

[2018-09-10 15:54] SeanFarrow commented on #999
Ok, got, give me an hour or so to update the sample.

From: William Cheng <notifications@github.com>
Sent: 10 September 2018 16:51
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support Asp.net core 2.1 (#999)

Here is the URL to the bat

[2018-09-10 16:04] wing328 commented on #999
Please take your time. Let us know if you need any help.

[2018-09-10 17:09] wing328 commented on #999
Nope, we'll squash your commits into one as part of the merge.

[2018-09-10 19:42] chatelao opened #1010 "Trivial question: How to resolve / handle "$ref""
Hi folks,

* How to I resolve one/all "$ref"?
* Is there an Wiki Page for this question?

Hope this is a 5 second question for most auf you 👍

Regards
Olivier

[2018-09-10 22:01] jimschubert commented on #999
To comment on this as far as ASP.NET Core 2.1, I'd prefer to just update fully to 2.1 and not leave support for 2.0. 2.1 is LTS while 2.0 is not, so I don't see a reason for us to maintain a 2.0 option. I wouldn't consider this a breaking change as the generator isn't currently written with an intention to regenerate over existing code.

.NET Core 2.0 will end-of-life at the end of this month.

[2018-09-10 22:54] gierschv commented on #206
Same issue here (FlatIO/api-client-python#1), I believe a whitelist of mime-types could be helpful here.

[2018-09-11 02:12] jimschubert commented on #962
I've looked into this, and it doesn't seem like a simple version update resolved the issue. The newer version of Kotlin DSL is not binary compatible with the version consumed by the gradle-plugin, and it causes failures on `TaskContainerScope`. Naively updating the versions would make 4.10 the minimal supported version of gradle. I'll open a PR with a potential fix for evaluation in a bit.

[2018-09-11 02:16] wing328 commented on #999
@jimschubert thanks for reviewing this.

After I reviewed #1008 (only changes to mustache templates), I would suggest adding an option to select the framework with ASP.NET core 2.1 being the default and we'll mark 2.0 as deprecated so that we can remove it in the future release. That way we can merge the enhancement into 3.3.x branch targeted to be released this Friday.

[2018-09-11 02:33] SeanFarrow commented on #999
@jimschubert,
That’s exactly what I was thinking. I’ve upgraded everything to Asp.Net Core 2.1.

From: Jim Schubert <notifications@github.com>
Sent: 10 September 2018 23:02
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support Asp.net c

[2018-09-11 02:36] SeanFarrow commented on #999
@wing328,
What do I need to do to make that happen, I’m assuming this will need updates to the generater? Therefore should we do this as a separate issue/pr?
Could we do this after Friday, given that 2.2 will be coming later this year, so it would make sense then.
If we did this after Friday, could we still merge the template changes for 2.1 for Friday?

From: William Cheng <notifications@github.c

[2018-09-11 02:48] wing328 commented on #999
@SeanFarrow I can add it after merging your PR (as I just did something similar for another enhancement related to Java Feign version upgrade)

[2018-09-11 02:49] jimschubert commented on #955
@ybelenko I use postgresql now. No relational database system is perfect, but Postgres has way fewer "gotchas" than MySQL (at least in my use cases).  MySQL, up until 5.8/8.0 or whatever the recent release was, didn't support common SQL functionality that I use such as CTEs and windowing functions.

It also has very unintuitive transactional behavior. As an example if you mix InnoDB and MyISAM in

[2018-09-11 02:49] SeanFarrow commented on #999
@wing328,
I’m happy to do the work, as it gives me more exposure to Java, I’d just need to understand what would be required.

From: William Cheng <notifications@github.com>
Sent: 11 September 2018 03:48
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-ge

[2018-09-11 02:56] jimschubert commented on #955
Also, I agree with @wing328 that `DECIMAL(20, 8)` would be a reasonable default for decimal, float, and double. This gives 12 integer digits to the left of the period and 8 to the right. So the maximum value here would be:

[code]

Or:

999,999,999,999.99999999

Realistically, there are probably very few applications working with values representing 1 trillion and higher.

Some people might disagr

[2018-09-11 03:02] wing328 commented on #999
@SeanFarrow sure, you will need to add a CLI option (e.g. aspNetCoreVersion) to support "2.0", "2.1" and put the templates (the existing one for v2.0) in a separate folder. We'd a very similar change for Dart to support Dart v2 recently and https://github.com/OpenAPITools/openapi-generator/pull/754/files#diff-79347eb38a35fa462a0c2b03aa771e75R129 is a good starting point.

Please let me know if you

[2018-09-11 03:05] SeanFarrow commented on #999
@wing328,
That sounds doable.
I’ll do this either later in the week or this weekend, if that works for you given the release on Friday?

From: William Cheng <notifications@github.com>
Sent: 11 September 2018 04:02
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/

[2018-09-11 04:02] wing328 commented on #999
@SeanFarrow if we (you or me) add it after the minor release (3.3.x) this Friday, we may need to wait for 2 months as we plan to change the minor release schedule to bi-monthly: https://github.com/OpenAPITools/openapi-generator/issues/956

[2018-09-11 04:05] SeanFarrow commented on #999
@wing328,
OK, given my currently available time this week, it’s probably best you tackle this, sorry!

From: William Cheng <notifications@github.com>
Sent: 11 September 2018 05:02
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support As

[2018-09-11 04:13] wing328 commented on #999
No worry. I'll do it later today and keep you posted.

[2018-09-11 06:35] sylvainmoindron commented on #962
if i use "org.openapitools:openapi-generator-gradle-plugin:3.3.0-SNAPSHOT" I will have your change ? how do i have to compile your commit localy ?

[2018-09-11 07:32] gierschv commented on #206
No, I didn't have time to work on this, I found this issue by looking into another bug.

Another idea for the whitelist: we could have `application/octet-stream` whitelisted by default and add a vendor param in the spec to add additional mime types (e.g. `x-disable-decoding-content-types: [...]`). In my use case, I have at least MIDI/MP3/WAV content types that can be returned by some endpoints.

[2018-09-11 09:03] fehnomenal opened #1012 "h"
##### Description

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-09-11 09:03] #1012 closed

[2018-09-11 09:32] wing328 commented on #999
I've updated https://github.com/OpenAPITools/openapi-generator/pull/1008 with the option "aspnetCoreVersion" (default to 2.1). Please have a look when you've time.

[2018-09-11 09:43] ybelenko commented on #955
Well, default value is important, but I mean is there any rational way to calculate that value based on `example`, `minimum`, `maximum`, `default` properties? Should we try to analyze that properties to give most matching value?

[2018-09-11 10:12] wing328 commented on #955
We can use additional information provided in the spec to try to come up with a better default but I would suggest looking into those as a day-2 requirement if users complain about the default value that we chose.

[2018-09-11 11:43] jimschubert commented on #955
I would only set a default if `default` is provided. Max length (on strings) helps define the data type. Min/max would be more like constraints. For pattern constraints, we may need to resort to triggers.

For older versions of MySQL I don't think triggers are enabled by default- at least they weren't in 5.6 with AWS default configuration (see [this SO post](https://stackoverflow.com/a/10381716)).

[2018-09-11 12:00] jimschubert commented on #962
@sylvainmoindron you can compile on this branch by changing to
modules/openapi-generator-gradle-plugin and installing the artifact

[code]

To test this, you can use the sample under the modules/openapi-generator-gradle-plugin/samples/local-spec directory. You _might_ need to comment out the sonatype snapshots resolver in that file to pull the local snapshot (at least, I have to do this with Gradl

[2018-09-11 12:50] wing328 commented on #955
@ybelenko understood. I know you're trying to start the discussion earlier as you always think ahead 👍

[2018-09-11 13:03] sylvainmoindron commented on #962
@jimschubert thank for your help (i'm new to gitlab i fumbled a little to find your branch).
Your code compile and install on my PC succefuly.
And my gradle 4.10 project now générate correctly my class from my apenapi.yml file.
(I also tested with gradle 4.9 and it work)

[2018-09-11 13:32] ybelenko commented on #955
General question to all. It's not clear what to do with complex model vars(`array`, `object`, `\\Model\\User`). Should we skip them in table creation for now? @wing328 is suggesting to set them as `VARCHAR(255)` as temporarely solution.

[2018-09-11 14:36] chatelao commented on #1010
No, references inside a file. E.g.:

$ref:'#/components/schemas/my_type'

William Cheng <notifications@github.com> schrieb am Di., 11. Sep. 2018,
12:21:

[2018-09-11 17:21] cheparinV opened #1013 "[Java][retrofit2] Add the part name in the annotation for MultipartBody.Part."
##### Description

For `MultipartBody.Part` the part name is generated in the annotation.In Retrofit2 it is forbidden:

[javadoc](https://square.github.io/retrofit/2.x/retrofit/index.html?retrofit2/http/Part.html)

##### openapi-generator version
current maser [(2d99836)](https://github.com/OpenAPITools/openapi-generator/commit/2d99836e9047d74e958910aca1aa38b34e584daa)

##### OpenAPI declaration f

[2018-09-11 17:39] wing328 commented on #1010
OK, then I think examples are the best way to show how it works: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/petstore.yaml (and search for `$ref`)

[2018-09-11 19:26] krnchee opened #1017 "Generating Unique Module Names"
##### Description

[PYTHON] I have two API specs, but the generator for python produces the same module name (openapi_client) for each one. I need to import both into a project. How can I configure the generator to produce to unique package names under the lib directory?

##### openapi-generator version

 3.0.0

##### OpenAPI declaration file content or url

N/A

##### Command line used for genera

[2018-09-11 19:40] chatelao commented on #1010
The examples are not my problem, but how are they resolved (if at all)
inside the generators?

Sorry for this questions, hope wenn will Find it out 😊

William Cheng <notifications@github.com> schrieb am Di., 11. Sep. 2018,
19:39:

[2018-09-12 01:44] jimschubert commented on #955
@ybelenko I would think defined models (`\Model\User`) could be a property referring to the table by id (`user_id references user(id)`). For array/object, I would choose something that's capable of storing these (like JSON, see [docs](https://dev.mysql.com/doc/refman/5.7/en/json.html)).

[2018-09-12 05:43] anilj1 commented on #1017
This is exactly the question/problem I am also having. It is important to know how to generate the python package with API specification specific name. Without it, when I install the package into my virtual python variable (and even in default system level paths), it overwrites the previous 'openapi_client' package.

Can someone please provide the way to generate unique/API specific python package

[2018-09-12 06:16] SeanFarrow commented on #999
@wing328,
This looks good, can we close/merge? Have the docs been updated?

From: William Cheng <notifications@github.com>
Sent: 11 September 2018 10:33
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support Asp.net core 2.1 (#999)

I've

[2018-09-12 07:33] ybelenko commented on #955
Good point about foreign key, I think the same. But it's obvious that I cannot implement it right now, because we know nothing about primary keys in both tables(current and referenced). Don't know what workaround to use for now... thinking about simple `INT` or `VARCHAR(255)` maybe.

And about `JSON` - it's great column type, but too modern.  `JSON` requires MySQL 5.7.8. As fallback solution we sh

[2018-09-12 07:35] fujigon opened #1018 "[Java][Jersey] Add support for BeanValidation @Valid annotation"
##### Description
Java Jersey generator has same issue with https://github.com/swagger-api/swagger-codegen/issues/4738 (fixed by https://github.com/swagger-api/swagger-codegen/pull/7807 for jaxrs-cxf)

Without `@Valid`, constraint annotations will not be evaluated.
So we need to add not only constraint annotations such as `@NotNull`, but also `@Valid`.

##### openapi-generator version

current mas

[2018-09-12 07:53] #257 closed

[2018-09-12 07:53] #638 closed

[2018-09-12 07:53] #768 closed

[2018-09-12 09:30] fujigon opened #1022 "[Java][JaxRS][Server] (Suggestion) too many duplicated template files"
##### Description

Currently, there're several JaxRS server related generators.
- https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSCXFCDIServerCodegen.java
- https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXR

[2018-09-12 10:01] #986 closed

[2018-09-12 10:43] wing328 commented on #999
@SeanFarrow PR merged. Thanks for your PR.

Do you have a Twitter account? We'll promote the enhancement via https://twitter.com/oas_generator

I'll update the documentation later if needed.

[2018-09-12 10:48] SeanFarrow commented on #999
@wing328,
No problem, I’ve just followed that account. My twitter handle is @SeanRFarrow

From: William Cheng <notifications@github.com>
Sent: 12 September 2018 11:43
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Support Asp.net core 2.

[2018-09-12 10:54] luzhanov opened #1023 "[Scala] (Suggestion) Use status family during response processing"
##### Description

Suggestion: Use status family during response processing similar to the Java codegen does for processing the response body:

- extract the status family
- only when family is SUCCESSFUL body gets processed

##### openapi-generator version

3.3.0 (master)

[2018-09-12 12:48] wing328 commented on #956
OK. Let's start with the upcoming minor release 3.3.0, which has been rescheduled to Oct 1st (Mon) to follow the bi-monthly release schedule

[2018-09-12 12:55] wing328 commented on #999
👌

[2018-09-12 12:55] #999 closed

[2018-09-12 14:44] irishshagua opened #1025 "[Kotlin] Inheritance is not properly represented in CodegenModel properties"
##### Description
Using an api with inheritance (using oneOf for a response body type) there is duplication of some properties in the CodegenModel object. In the child CodegenModel the fields which are specific to the child are being duplciated in the allVars property. Also, the isInherited field isn't being correctly populated.

##### openapi-generator version
3.3.0-SNAPSHOT

##### OpenAPI declar

[2018-09-12 16:00] fmartinou commented on #962
Hello @jimschubert ,
I've tested your branch on my project with Gradle 4.9 and 4.10 and it works well as expected.
Thank you!

[2018-09-12 17:45] wing328 commented on #999
Tweet: https://twitter.com/oas_generator/status/1039932534258167808

Please help retweet to promote the enhancement

[2018-09-12 20:41] anilj1 commented on #1017
Hi, for now, I programmatically, modified the setup.py file (after it is generated) and changed the value of NAME variable. This workaround has helped solve this problem and I am able to 'install' the individual python module.

Hope this helps others to follow the step and solve this problem in interim. This however should happen more formally from the code generator.

[2018-09-12 22:13] anilj1 commented on #1017
Programmatic modification of the NAME variable in setup.py is not helping as it is not really changing the module name "openapi_client" when it installs the package. Can someone please provide a correct method to address this issue? Thank you.

[2018-09-12 23:13] #760 closed

[2018-09-13 00:49] wing328 commented on #1023
Thanks for the PR but your commit (as shown in the Commits tab) is not linked to your Github account, which means this PR won't count as your contribution in https://github.com/OpenAPITools/openapi-generator/graphs/contributors.

Let me know if you need help fixing it.

Ref: https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-can-i-update-commits-that-are-not-linked-to-my-github-account

[2018-09-13 05:34] jmini commented on #1018
**Related issues/PRs**

I think it was also reported here: https://github.com/swagger-api/swagger-codegen/issues/7651

[2018-09-13 09:49] fujigon commented on #1018
Thanks for your investigation.
I read it and yes, the issue you told seems the same problem.

My understanding is that the problem is still exist both in openapi-generator and swagger-codegen.
I already filed a PR to fix this problem to openapi-generator project.

https://github.com/OpenAPITools/openapi-generator/pull/1019
Could you kindly review it?

Thanks!

[2018-09-13 12:54] #989 closed

[2018-09-13 12:56] wing328 commented on #1017
Have you guys tried to customize the `packageName`?
[code]

For more information, please refer to https://github.com/OpenAPITools/openapi-generator/blob/master/docs/customization.md

[2018-09-13 13:07] anilj1 commented on #1017
Thanks! No, we did not know about this. How do we pass or use these options? I did not see an example in the link you provided.

I tried like the two options I provided above, but it did not help either.
--package-name my_client_pkg --project-name my_client_proj

Note that I am using openapi-generator-3.2.0.

[2018-09-13 13:12] anilj1 commented on #1017
Ok, I saw a note on how to use this..
Supported config options can be different per language. Running config-help -g {lang} will show available options. These options are applied via configuration file (e.g. config.json) or by passing them with -D{optionName}={optionValue}. (If -D{optionName} does not work, please open a ticket and we'll look into it)

I tried them as this.
-D{packageName}={my_cli

[2018-09-13 13:16] anilj1 commented on #1017
Hello wind328, it worked through using the config file approach!! Thanks a lot for your help!! I will log a bug as it is not working with -D option.

[2018-09-13 14:31] jmini commented on #1017
-D{packageName}={my_client_pkg} -D{projectName}={my_client_proj}

Why the bracket?

I think it should be:
[code]

(not tested, but it should work)

[2018-09-13 15:56] anilj1 commented on #1017
Yes, I tested this already and it worked for me. I just removed some of my intermediate posts and put a more appropriate one as an update.

[2018-09-13 16:36] #1017 closed

[2018-09-13 16:37] wing328 commented on #1017
Let us know if you guys still need any help. Closing this for the time being.

[2018-09-13 16:54] wing328 opened #1033 "Fix parameter's default value"
##### Description

Currently the parameter's default value is obtained via the following code
[code]
We need to revise it to skip the null check in the default codegen and let the generator to handle it (with null value) instead.

We will need to revise all generators as the change impacts default codegen.

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.co

[2018-09-14 09:13] thomasphansen opened #1036 "[PHP] array of objects as parameter not supported"
##### Description
PHP generator is not able to handle an array of objects as parameter to a path.

This is the code that handles the $httpBody, inside the {{operationId}}Request method, in /modules/openapi-generator/src/main/resources/php/api.mustache:
[code]
As you can see, this code will  json_encode strClass objects, relay on the "toString()" method for normal object and simply add the paramete

[2018-09-14 23:07] intelliot opened #1040 "[README] Usage instructions do not work - README is out-of-date"
##### Description

#### The README [currently says](https://github.com/OpenAPITools/openapi-generator/blob/fe0f2cf/README.md#3---usage):

You can build a client against the [Petstore API](https://raw.githubusercontent.com/openapitools/openapi-generator/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml) as follows:

[code]

(On Windows, run `.\bin\windows\java-petstore.bat` inst

[2018-09-15 15:17] srchulo opened #1041 "Generated JS client should include request/response interceptors, too"
##### Description

I'd like to know when any request in my generated Swagger client fails, but there is no request/response interceptor support for the generated JS client. I like using a generated client more as I feel this is more natural.

[2018-09-16 08:00] #1013 closed

[2018-09-16 12:37] macjohnny commented on #1040
I think you are right, this is the file to use now, as it generates all different versions in one command.

This will run the generator with this command:
[code]

This is still correct, as it generates a java client with the given petstore file.

Feel free to open a PR to improve the readme as you suggested, this is always welcome.

[2018-09-16 14:36] #1018 closed

[2018-09-16 15:18] stcarrez opened #1043 "[Ada] Operation security scopes are ignored when generating the server"
##### Description

When you declare an operation with a security section, this defines the security models and
scopes which are required by the operation. This information is partially used, and in particular
the operation required scopes are not available to the model generator.

For example, if we define two OpenAPI 3.0 operations with same
security but two different scopes:

[code]

and the sec

[2018-09-16 20:00] bgadrian opened #1046 "Javascript modules, autocomplete does not work"
Hello,

I have an issue with the Javascript generated client.
I cannot make the autocomplete (intellij or intellisense) to recognize the generated modules (api or models).

![vscode-no-type](https://user-images.githubusercontent.com/830001/45599830-5fccfe80-b9fb-11e8-835f-f7e941d8bb80.png)

I tried all the supported settings with a custom jsconfig https://code.visualstudio.com/docs/languages/jscon

[2018-09-17 06:26] kemokemo opened #1047 "[Go] Add a generator for the gin framework"
##### Description

I respect the generator of `go-server`.
Just like this, I also want a generator using [gin](https://github.com/gin-gonic/gin).

##### Suggest a fix/enhancement

How about `go-gin-server` as the name of generator?

[2018-09-17 07:40] wing328 commented on #1047
@kemokemo thanks for offering help to create a server generator for Go Gin framework.

`go-gin-server` sounds good to me. If you need any help, please let us know.

[2018-09-17 07:57] srividhyak27 commented on #798
Tried removing the "anyOf" as suggested above. Get the below error

Even after skipping validating with spec, the enum class is not generated.

Is there some other way around this ?

Thanks,
Srividhya

[2018-09-17 09:24] tnmtechnologies opened #1050 "[Java][jaxrs-resteasy] generated class without attribute"
##### Description

The yaml definitions are available in the _OpenAPI declaration file content or url paragraph_.
The generated source code for the EpsBearerId type is the following one:

[code]

The issue is that it holds no attribute.

##### openapi-generator version

3.2.3

##### OpenAPI declaration file content or url

Here are the following definitions that lead to the issue in the generated

[2018-09-17 10:10] tnmtechnologies opened #1051 "[Java][jaxrs-resteasy] wrong matching between yaml enum value starting with a digit and its java code"
##### Description

A yaml enum value like _5GMM_ is translated into java enum value __5GMM_.
Because of that, the supported value at runtime is now __5GMM_ which doesn't match the yaml definition.

##### openapi-generator version

3.2.3

##### OpenAPI declaration file content or url

In file TS29518_Namf_Communication.yaml
[code]

Then the generated java source code for enum N1MessageClass is :
[c

[2018-09-17 10:39] jmini commented on #1051
An enum value can not start with a number. It produce this compile error:

---

Enums are correct in other jaxrs/java generators. There you get something like this:

[code]

Probably the enum template for `jaxrs-resteasy` was never updated.

---

Can you file a Pull Request for this? Do you need help?

[2018-09-17 13:08] tnmtechnologies commented on #1051
I understand the use of a prefix character like underscore when an enum value starts with a digit.

Which version of generator did you use?

For my side with version 3.2.3 and jaxrs-generator generator, the enum class is like this :
[code]

[2018-09-17 14:53] cspotcode commented on #865
@TiFu If I want to take a stab at implementing this issue, which branch should I base my code on?

[2018-09-18 01:59] wari commented on #741
Just wondering if this will get fixed or I will have to remove the duplicates manually whenever I generate code from this particular API.

[2018-09-18 02:27] wing328 commented on #741
@wari I'll take another look later today

[2018-09-18 06:01] emile-jumo opened #1053 "[JAVA] Client generated with deprecated code."
##### Description
I use swagger to define my API and generate clients form the swagger spec. When I generated the Java client using swagger-codegen a class called `RFC3339DateFormat.java` was generated and it extends `ISO8601DateFormat` which is deprecated.

Do you suggest that I replace it manually with the preferred class `StdDateFormat`? Or is there configuration that I should set to use `StdDa

[2018-09-18 06:15] macjohnny commented on #1050
@tnmtechnologies ~~I think your definition is wrong, you are defining a model `EpsBearerId`, which in turn simply is a primitive type `integer`~~ it looks like it is possible to use primitives as a model, see https://swagger.io/specification/#schemaObject
so this should be fixed. maybe @jmini has an idea how to fix it?

As a workaround, you could either define `EpsBearerId` as an `object`
[code]
o

[2018-09-18 11:16] wing328 commented on #1010
@canadaduane openapi-generator relies on the swagger-parser library to parse the spec into Java POJO.

[2018-09-18 15:09] chatelao commented on #1010
Okay, thank you. I will have a look at it.

William Cheng <notifications@github.com> schrieb am Di., 18. Sep. 2018,
13:16:

[2018-09-18 15:19] cbornet commented on #323
The PR has been merged and will be part of connexion 2.0 : https://github.com/zalando/connexion/milestone/10

[2018-09-18 18:42] Kiran-Sivakumar opened #1057 "[okhttp-gson] Add Support for OAuth Access Token Retry"
##### Description

The okhttp-gson Java library does not currently have support for automatic OAuth access token retry. This is a problem for developers using generated SDKs as they have to re-implement token retry logic manually for every SDK. Other libraries, such as volley, retrofit, and retrofit2, already have this functionality built-in. I would like to have this for okhttp-gson as well, usin

[2018-09-19 07:10] wing328 opened #1060 "[ASP.net CORE] Enhancement list"
##### Description

- add .NET core version to the auto-generated [README](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/aspnetcore/2.1/README.mustache#L1)
- update Dockerfile with "microsoft/aspnetcore-build:2.1" instead: https://github.com/OpenAPITools/openapi-generator/pull/1008#discussion_r218474034
- add nullable support (ref: https:

[2018-09-19 07:34] noritama opened #1061 "[JavaScript] Content-Type: application/json on GET(also HEAD,DELETE) requests"
##### Description

The same problem as https://github.com/OpenAPITools/openapi-generator/issues/476 is also occurring in javaScript.

##### openapi-generator version

```master``` and ```4.0.x```

##### OpenAPI declaration file content or url

Use ```ping.yaml```.

##### Command line used for generation

[code]

##### Steps to reproduce

Generate client.

##### Related issues/PRs

https://github.c

[2018-09-19 10:27] #1025 closed

[2018-09-19 11:01] ackintosh commented on #1036
@thomasphansen
Just merged the PR. :octocat: Thanks for your contribution!

[2018-09-19 11:04] etherealjoy commented on #745
@bocse
Sorry for the late reply, I was out, did you change something in the spec
https://raw.githubusercontent.com/deepviss/deepviss-server-example/master/src/main/resources/deep-viss.json

It is now compiling. I made some fixes with #943 and I wonder if it solved this issue as well.

[2018-09-19 11:15] thomasphansen commented on #1036
My pleasure! :) And thanks for the nice work! :)

[2018-09-19 11:43] #1036 closed

[2018-09-19 11:49] ackintosh commented on #989
@skydoctor
The enhancement will be released on Oct 1st (v3.3.0). Thanks for reporting this issue!

[2018-09-19 16:11] tnmtechnologies commented on #1050
@macjohnny thank you for your workaround proposal.  The second one works. The first one adds an id attribute not required.
The EpsBearerId definition is significant at the yaml level as some other ones too. They are business models.

[2018-09-20 07:43] etherealjoy commented on #398
@wing328
I tested this for `go` and `cpp-qt5` and it seems to work.

[2018-09-20 07:54] etherealjoy commented on #398
@wing328
I tested this for go and cpp-qt5 and it seems to work.

[2018-09-20 08:23] mdulisch opened #1068 "[CSHARP] Multi Level inheritance is not building"
##### Description

If you build a definition with multiple level inheritance, the compiler will not build the generated code.
There are two problems.
1. the constructor only has the readWrite variables (no possibility to set read only variables)
2. The "parentVars" list of the model of the generator does only list the vars of the direct parent.

##### openapi-generator version

3.2.3

##### OpenAP

[2018-09-20 11:29] #398 closed

[2018-09-20 11:29] #1057 closed

[2018-09-20 11:31] #1043 closed

[2018-09-20 11:49] wing328 commented on #323
UPDATE: @cbornet has made a fix (workaround) to the Python Flask generator before connexion 2.0 is officially released.

Please give it a try

[2018-09-21 04:13] #1040 closed

[2018-09-21 16:13] wing328 opened #1079 "Update paramToString in Elm generator to handle other types"
##### Description

In https://github.com/OpenAPITools/openapi-generator/pull/1075, we've fixed uuid handling in `paramToString`, we probably want to do the same for other types such as boolean, date, datetime, etc.

##### openapi-generator version

latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/1075

##### Suggest a fix/enhancement

Similar to https

[2018-09-21 16:51] wing328 commented on #1047
PR merged. Thanks for your contribution!

[2018-09-21 16:51] #1047 closed

[2018-09-21 17:56] smasala opened #1080 "Colons declared in model property names removed"
##### Description

As discussed with @wing328:

https://github.com/swagger-api/swagger-codegen/issues/4290#issuecomment-423464753. We have some models where the JSONProperty is set to a colon notated name. Due to the fact that the colons are automatically removed from the property name, the interfaces generated (typescript) are no longer identical with the JSON produced. We then need to resort to

[2018-09-21 19:09] rtfeldman commented on #342
I'm not sure if I understand correctly, so I wanted to check:

Is the intended design that it is impossible to end up with a generated client which uses relative URLs?

For example, should the following HTTP request be impossible to generate?

...and should it instead have to be an absolute URL?

[2018-09-21 22:06] wheezil opened #1081 "Feature request: Support overwrite-only-changed"
##### Description

When using code-generators in an incremental build, it is time-consuming to have the generator touch all output files and cascade into build dependencies, even if nothing has changed.  While one can usualy make build systems only generate code when the input specification has changed, it is not always possible.  Even then, it would be nice to only update the changed files, so th

[2018-09-22 08:10] anandshah05 opened #1082 "[Golang][client] undefined optional error in generated go code"
##### Description

The generated go code for the yaml file, contains optional struck but missing optional import statement

##### openapi-generator version

3.2.0
same issue on master

##### OpenAPI declaration file content or url

auth.yaml

openapi: 3.0.0
info:
  version: 1.0
  title: AUTH API
paths:
  /ue-authentications/{authCtxId}/eap-session:
    post:
      operationId: EapAkaPrime
      pa

[2018-09-22 08:51] dario-frongillo commented on #701
Yes all it works please close the issue.
thnx a lot

[2018-09-22 09:06] dario-frongillo opened #1085 "JAVA-SPRING model generation: disable swagger annotations import"
##### Description

Hi i m using java spring generator and i did not find an option to disable the import of
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
inside my model code generated.
Checking  the source code openapi-generator-3.2.3\modules\openapi-generator\src\main\resources\JavaSpring\model.mustache
i found that the ApiModel and ApiModelProperty are

[2018-09-22 09:07] dario-frongillo commented on #1085
Suggest a fix/enhancement : add a proprs to control swagger annotations

[2018-09-22 17:26] #701 closed, assigned to nobody

[2018-09-23 12:15] wheezil opened #1086 "Feature request: strict(er) validation option"
##### Description

It is all too easy, especially for newbies, to write OpenAPI specifications that look good but which are incorrect, for example trying to use "long" or "date" as types instead of formats for string.  This results in unexpected generated code and incorrect specification relative to intent.  While the generator does issue warnings to the logger, these messages are easy to miss or

[2018-09-23 17:39] infogulch opened #1087 "Invalid code gen when property $refs another object property"
##### Description

When an object property `$ref`erences another object property, as in `properties: page: $ref: '#/components/schemas/PaginationEnvelope/properties/page'`, generated code expects the last path element (`page` in this case) to exist as a type, but since it's a property it doesn't exist as a type and generated code fails to compile.

This occurs in at least Java and Go. I suspect ot

[2018-09-23 20:32] wheezil commented on #1086
OK, I'm separating this into error() and warning() methods, and I'll accumulate a list and see what `validate --recommend` is doing.  One link I hit is that some of the LOGGER.warn() I want to capture are in contexts that have no access to the DefaultCodegen object.  I can make warning() and error() static for DefaultCodegen (which is what I've done now), but perhaps moving those out of DefaultCod

[2018-09-23 21:12] wheezil commented on #1086
I've figured out how to install the option, and separated messages into a singelton.
[See diff here](https://github.com/OpenAPITools/openapi-generator/compare/master...wheezil:strict-mode?expand=1)

[2018-09-23 22:11] wheezil commented on #1087
Apologies if this is a dumb question...  Perhaps we should be talking about two different things: $ref vs $is?  Is it always possible to decide which of these operations is intended by context?

[2018-09-24 04:54] jmini commented on #795
Hi @igbch, @michbeck100, @arthurdm,

Any pointer on how what we described as "(Stage 1)" in this issue works? (doc: [static OpenAPO files](https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#static-openapi-files)).

I have tried to run a simple project with:

* Open-Liberty
* Thorntail (aka WildFly Swarm)

I did not managed to get it r

[2018-09-24 07:56] smasala commented on #1080
@wing328 We've now migrated over to OpenAPI Generator from Swagger Code Gen. The colons are now present in the typescript interface property names but without quotation marks.

[code]

[2018-09-24 08:24] rubms opened #1088 "[C#] Bug with enum classes referenced from other objects"
##### Description

The C# auto-generated code for enum classes referenced from other objects is generated with errors, so that the auto-generated code does not compile.

The `EnumClass` in the sample below is auto-generated like
[code]
This code does not compile. Instead it should be generated like
[code]

##### openapi-generator version

Reproduced with OpenAPI generator v3.2.3.

##### OpenAPI de

[2018-09-24 12:18] Newspaperman57 opened #1092 "[PHP-slim][Bug] Security schemes are always basic in generated code"
##### Description
The PHP-slim generator always generates basic authentication, regardless of what is described in the YAML-file.
The included yaml-file describes an endpoint with bearer-authentication, but php-slim generates a basic-authentication instead.

##### openapi-generator version
Compiled from commit 8fb3b707a1c4eb462b068bf2c2d20d570d4bb1d9 on master-branch.
3.3.0 SNAPSHOT Also has this

[2018-09-24 12:54] wheezil commented on #1087
Yes, sorry I was speaking about a hypothetical other operator.  Can you link to the Linode API for my own study?

[2018-09-24 13:00] macjohnny commented on #1092
maybe @ybelenko has an idea?

[2018-09-24 13:10] infogulch commented on #1087
Ah I see. I'm not sure I see the full utility of an $is op over a slightly more flexible $ref, at least for this case. Maybe it would let you skip repeating whole sections at any point in the tree? Actually that seems like it might be pretty useful.

Yes it is linked under the "OpenAPI declaration file content" section in the issue. Sorry I didn't make it more obvious, here it is again: https://de

[2018-09-24 13:59] ybelenko commented on #1092
First of all, only Basic security scheme is implemented in current PHP Slim generator. Other security schemes are ignored for now.
https://github.com/OpenAPITools/openapi-generator/blob/8fb3b707a1c4eb462b068bf2c2d20d570d4bb1d9/modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache#L87-L94
Looks correct, please check if `$basicAuth` closure is applied to wrong endpoints, i

[2018-09-24 14:37] Newspaperman57 commented on #1092
Okay, thanks. I will implement what i need by hand then

[2018-09-24 14:37] #1092 closed

[2018-09-24 14:49] macjohnny commented on #1092
@Newspaperman57 you could also try to improve https://github.com/OpenAPITools/openapi-generator/blob/8fb3b707a1c4eb462b068bf2c2d20d570d4bb1d9/modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache#L87-L94 so that other users can benefit, too.

[2018-09-24 15:12] wheezil opened #1095 "Invalid code generated for missing discriminator property, but validation passes"
##### Description

A spec with missing discriminator property passes validation, but generates invalid (Java) code.

##### openapi-generator version

3.3.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Validate succeeds
[code]

But java code generation:
`java -cp openapi-generator-cli.jar org.openapitools.codegen.OpenAPIGenerator generate

[2018-09-24 15:17] mwoodland opened #1096 "[Spring] can't handle multiple responses"
##### Description

We have an OpenAPI spec file where we've defined multiple possible responses for an operation, however when the Spring code is generated the generated @RequestMapping method is only capable of returning the first response defined.

##### openapi-generator version

3.2.3

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
[code]

##### S

[2018-09-24 21:39] wheezil commented on #1086
More candidates in ModelUtil:
[code]

[2018-09-25 00:07] stevwan opened #1097 "[csharp-nancyfx] Endpoints returning an Async Array calls non-existent Task.ToArray()"
##### Description

The Async API generated for csharp-nancyfx invokes a non-existent function: Task.ToArray(), causing compile time and runtime errors.

##### openapi-generator version

3.2.3

##### OpenAPI declaration file content or url

Cut down version of the default pet store
[code]

Config file used for code generation:
[code]
{{#returnType}}{{#isListContainer}}.ToArray(){{/isListContainer}}

[2018-09-25 09:37] stevwan commented on #1097
I’m happy to create the pull request. You ok with the proposed solution? I haven’t tested all config / option combinations.

[2018-09-25 09:59] ybelenko commented on #1092
The major difficult to implement other security schemes was that it's rational to use welltested 3rd party middlewares. And it's important for all middlewares to follow same code pattern. I've done an investigation and found that most of authentication middlewares for Slim accept `authenticator` function.

Ref: [Middleware for Slim Framework v.3x](https://github.com/slimphp/Slim/wiki/Middleware-fo

[2018-09-25 12:11] wing328 commented on #1097
@stevwan yup, let's try with your proposed solution.

[2018-09-25 12:13] dr4ke616 opened #1106 "[KOTLIN][SPRING] Better Handling of Optional/Default Types"
##### Description

Few very minor bugs around how default values and required fields are handled in `requestBody`s and `parameters`. In particular in correct use of nullable types (`?`).

- Request bodies are not respecting the `required` field when provided. Therefore types are not being correctly set as null-able in controller method signatures.

[code]

The above definition yields the below cod

[2018-09-25 12:40] dr4ke616 opened #1108 "[KOTLIN/CORE] [SPRING] Invalid default value for form requests."
##### Description

In `requestBody`, when using `application/x-www-form-urlencoded` content type, each property is defaulted with `null` as a string, even if no default is set. See [here](https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt#L139) and note the `defaultValue="null"`.

It is pos

[2018-09-25 15:59] twosigmajab opened #1110 "Use relative imports in generated Python packages"
Please see https://github.com/swagger-api/swagger-codegen/issues/8738

[2018-09-25 18:13] wheezil opened #1112 "Invalid request body reference passes validation, but throws NPE in codegen"
##### Description

A spec with an invalid request body reference will pass validation, but get NullPointerException during codegen.

The NPE happens in DefaultCodegen.fromRequestBody:
[code]

schema is not found, and ModelUtils.getSchemaFromRequestBody returns null.

##### openapi-generator version

3.3.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

Config file:
[code]

##### C

[2018-09-25 19:28] wheezil opened #1113 "[JAVA] Cannot use single discriminator field for two-level inheritance"
##### Description

I would like to use "inheritance" via allOf in the spec, and I'd like more than one level for my request schemas.  This will allow me to have models all share a common base, but then further split them into categories.  It seems that openapi-generator supports this, and validates such a spec, but the Java codegen does not produce valid code.

##### openapi-generator version

3.3

[2018-09-25 19:48] wheezil opened #1114 "[JAVA] snake-case discriminator generates invalid code"
##### Description

Using "inheritance" via allOf is useful.  However, if the discriminator field is "snake case", the Java codegen produces invalid code.

##### openapi-generator version

3.3.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

java -jar OPENAPIJAR.jar generate -o genjava -g java -i snake_case_discriminator.json -c rpdmcpp.conf

[2018-09-26 09:43] antbell opened #1118 "[Scala-Akka] Add default values to optional model fields"
##### Description

The `scala-akka` client does not generate default values for optional model field. Note that they are correctly generated by the `scala-httpclient` generator.

##### openapi-generator version

`3.3.0`, `4.x`.

##### Suggest a fix/enhancement

The template for `scala-akka` model is missing `= None`

[2018-09-26 10:48] #1106 closed

[2018-09-26 11:33] kemokemo opened #1122 "[Golang][go-gin-server]can not use the param of the path"
##### Description

The path with param does not be generated properly. ex) `/pet/{petId}`

##### openapi-generator version

3.3.0-SNAPSHOT
(master)

##### OpenAPI declaration file content or url

extracted_petstore.yaml

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

##### Related issues/PRs

Issue #1047
PR #1048

##### Suggest a fix/enhancement

`routers.go` gen

[2018-09-26 11:38] kemokemo commented on #1122
I am sorry that the operation check was insufficient. I'll try fix this.
The `{{{path}}}` parameter passed to the `routers.mustache` have to be converted.

[2018-09-26 13:19] CyrilleBenard commented on #768
Fix confirmed :+1:

[2018-09-26 13:42] jinta opened #1123 "[Spring] Data models not generated if referenced ($ref) in parameters in remote reference"
##### Description
Data model (schema) objects are not being generated if they are located in a remote reference and are not directly referenced.
I'm using the maven plugin to generate the interfaces only which does not fail when run with the definition file (in this case YAML) but I get a compilation error when building my project because of the missing data model.

##### openapi-generator version

[2018-09-26 14:13] bodograumann commented on #370
I’m starting out with openapi-codegen and this message is confusing me. Imho `object` is a perfectly reasonable type wrt JSON schema. It can also be found here http://openapi-map.apihandyman.io/?version=2.0.

[2018-09-26 15:32] kemokemo commented on #1122
Hmm..
The `gin` has the specification https://github.com/gin-gonic/gin/issues/388. I did not know until today.
I think that it's their design decision.

By modifying `GoGinServerCodegen.java`, I can generate the intended code on my local branch.
However, stub code generated from the standard `petstore.yaml` due to the specification of gin above does not work with the following error.

[code]

The

[2018-09-26 15:55] wing328 commented on #1122
The other generators (e.g. finch) has a similar patch to correct the path parameter. Let me know if you need the code snippet to fix the same in the Go Gin generator.

[2018-09-26 16:00] wing328 commented on #1122
We can document this in the auto-generated README as a known issue with a reference to https://github.com/gin-gonic/gin/issues/388

Users can manually fix it by updating the path to workaround the issue for the time being.

[2018-09-27 04:23] chenliu0831 opened #1125 "[Schema] Inline description and vendor extensions under allOf is not recognized"
##### Description
We have an use-case where `description` and vendor extensions are put inside `allOf` as inline schema. However those inlined fields went missing from the input to the generator as well as the final generated code.  See below:

[code]

Debug output run with `-DdebugModels` which should be the same to any generators. Notice how top level `x-model-base` is getting picked up in vendo

[2018-09-27 10:10] rubms opened #1126 "[C#] Child models in allOf clause not compiling because parent does not implement BaseValidate"
##### Description

The auto-generated C# models that are children in allOf clauses don't compile because they are attempting to invoke a `BaseValidate` method that should be implemented by the parent object, but is not implemented.

##### openapi-generator version

v3.3.0 (master snapshot)

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

java -jar ope

[2018-09-27 11:31] rubms commented on #1126
Filed the #1127 pull request that fixes this issue.

[2018-09-27 13:45] mwoodland opened #1129 "[Spring] Add support for Spring HATEOAS"
I'm currently using the OpenAPI Spring generator to generate interface that I'm then using to implement my API.

I'm currently using templates to add the relevant bits of code when generating, however I think this would be something that could be part of the generator itself.

[2018-09-27 13:50] CyrilleBenard commented on #922
I also identify the "same" bug issue within an **array of string**, not only array of objects. I quoted "same" because the generated code is not done in the same way and the compilation error is not exactly the same.

[2018-09-27 14:31] mwoodland opened #1131 "[Spring] Add support for overriding parent in pom file"
Currently I'm using the templates folder to change the pom generation so I can specify the parent, but I think this is a feature that could be a part of the generator itself.

[2018-09-27 18:23] johnkoerner opened #1133 "[javascript, typescript-node] HTTP / Bearer Scheme does not generate clients that use Bearer Tokens"
##### Description

Setting up an API that uses a [bearer token](https://swagger.io/docs/specification/authentication/bearer-authentication/) should result in clients that send the `Bearer XXXX` value in the Authorization header. However the `javascript` and `typescript-node` clients generate code that wants to send a username/password combination in the header.

##### openapi-generator version

3.

[2018-09-27 20:42] coolaider commented on #746
+ same issue

setting the property `generateSupportingFiles=true` helped

[2018-09-27 20:56] Shockolate opened #1134 "[typescript-node] Inheritance not working - allOf with multiple $refs"
##### Description

Inheritance/composition appears to not be working when using `allOf` with multiple `$ref`s.
Perhaps there is something fundamental about inheritance and this tool that I'm not understanding?

When it's only two `$ref`s in the `allOf`, a similar result occurs.

##### openapi-generator version

I have observed this in 3.2.3 (latest stable), 3.3.0-SNAPSHOT, and 4.0.0-SNAPSHOT.

###

[2018-09-28 08:38] macjohnny commented on #1134
i think this issue is related to / a duplicate of https://github.com/OpenAPITools/openapi-generator/issues/927

[2018-09-28 09:08] haitongz commented on #812
@jmini What about this feature? thanks

[2018-09-28 09:51] guwenbin1991 opened #1135 "[erlang]Bug, upgrade erlang-server generated cowboy code's version, from 1.x to 2.x"
[erlang]Bug, upgrade erlang-server generated cowboy code's version from 1.x to 2.x
##### Description
we're trying to generate erlang-server framework , but issue happens.
we found that the generated code's version is too low for us. we're using 2.4 cowboy, but the generated code still has 1.x API in cowboy. we suggest that we could upgrade the cowboy's API version.

take openapi_api.erl as example

[2018-09-28 10:55] smasala opened #1137 "Java Generics creating special characters in file names when generating typescript files"
##### Description

When generating `typescript` files from Java classes that use generics, filenames are created with special characters. These characters themselves are not a problem, however they are not identical to the import declared in another generated file.

`class MyClass<MyGenericType>` ->generates -> `MyClass«MyGenericType».ts`.

`SomeOtherGeneratedFile.ts` -> imports -> `import { MyCla

[2018-09-28 13:49] CyrilleBenard commented on #922
Anyone may work on this bug issue ?
This kind of issue have heavy repercussions on the code generation because the generated model is wrong and so all its "users" or instantiations make a compilation failure... It seems that some related models are not generated in this case.
It's a chain reaction that makes the debugging and furthers evaluations really hard.
Any help would be really appreciated :

[2018-09-28 14:18] demonfiddler commented on #586
By way of agreement, @rienafairefr, yes, different generators treat supporting files differently and in addition, supporting files from multiple generator invocations are necessarily identical. Supporting files can contain references to api and model packages, which makes them non-interchangeable. This presents a particular problem if the generator always puts them in the same place. If you want m

[2018-09-28 14:38] Shockolate commented on #1134
Apparently, my search skills are lacking...
Closing because of Dup.

[2018-09-28 14:38] #1134 closed

[2018-09-28 16:46] wing328 opened #1138 "Traivs CI failure due to newer version of TS installed"
##### Description

Travis CI reports the following issue:
[code]

We suspect the issue is due to a newer version of TS installed

##### openapi-generator version

Latest master

##### Suggest a fix/enhancement

Tried installing TS v3.0.3 but no luck as the job still fails: https://travis-ci.org/OpenAPITools/openapi-generator/builds/434688785 so need to investigate further.

[2018-09-28 18:00] Shockolate commented on #1086
@jimschubert what is required to make this generator support multiple entries in an `allOf`?
Context: #927 #1134

[2018-09-28 19:19] johnkoerner opened #1139 "[typescript-node] Import missing when additional properties point to $ref on the root of a schema"
##### Description
When `additionalProperties` are on the root of a schema and they point to a `$ref` of another schema, the generated code for the API does not include the `import` statement for the model. The generated code attempts to use the model, but the code fails to compile due to the missing import.

##### openapi-generator version

3.3.0-SNAPSHOT

##### OpenAPI declaration file content or

[2018-09-28 20:45] mxinden opened #1140 "[elm] failed to generate map from object with additionalProperties"
##### Description

I am trying to generate an elm client based on an OpenAPI spec (see below). The spec contains a map (`labelSet`) represented as an object with the `additionalProperties` field and no `properties` field like described in the [swagger docs](https://swagger.io/specification/v2/).

Generating the client with the command mentioned below generates an invalid `LabelSet.elm` file.

####

[2018-09-28 23:33] kemokemo commented on #1122
@wing328 Thank you so much for your advise!
I am sorry that I caught a cold and the response was delayed.

I will post a PR with the following changes.
- fix the 'the param of the path' issue
- add a known issue and workaround to the README

[2018-09-29 08:55] wing328 commented on #1140
@mxinden thanks for reporting the issue.

cc @trenneman

[2018-09-29 10:54] trenneman commented on #1140
@mxinden Thanks for reporting. `additionalProperties` has not been supported so far. This will hopefully be resolved in #1144.

[2018-09-29 11:33] trenneman commented on #309
Thanks for reporting @andys8. Will be dealt with in #1144.

[2018-09-30 10:32] andrewkav opened #1145 "[go-server] Support go custom tags"
##### Description
Sometimes there is a necessity to add extra tags to generated models. For example when using validators based on go tags.
Example of generated code:
[code]

##### openapi-generator version
3.3.0

##### OpenAPI declaration file content or url
-

##### Command line used for generation
-

##### Steps to reproduce
-

##### Related issues/PRs
-

##### Suggest a fix/enhancement
Suggest

[2018-10-01 02:33] iBicha commented on #853
Sorry it's taking me a while to respond. I've been meaning to respond with proper feedback for some time now but I didn't get the time around it. Will do asap

[2018-10-01 06:07] xBlackCat opened #1147 "Plugin is unusable with Gradle 4.10.2"
##### Description

After upgrading Gradle up to v4.10.2 I can't run build script anymore.
Use openapi-generator-gradle-plugin v3.2.3
All works fine with Gradle 4.8.x

Build always failed at line
[code]

with exception:
`2018-10-01 08:51:53,214 [1695916]   WARN - nal.AbstractExternalSystemTask - Cause: org.gradle.kotlin.dsl.NamedDomainObjectContainerScope.invoke(Ljava/lang/String;Lkotlin/reflect/KC

[2018-10-01 07:27] #1079 closed

[2018-10-01 10:15] demonfiddler opened #1150 "[JavaScript] index.js and ApiClient.js generated to incorrect location"
##### Description

Prior to the swagger-codegen -> openapi-generator fork, JavaScriptClientCodegen had already been broken, and remains so. The breakage is that two of the supporting files, ApiClient.js and index.js, are now generated to the hard-coded ${output}/src directory, ignoring the sourceFolder configuration parameter. This can break their module references to the api and model modules if

[2018-10-01 15:07] igbluz commented on #795
I just open a [sample1-helloworld](https://github.com/igbluz/micros-sample1) on github for demonstration how to use openAPI v3 with OpenLiberty v18.0.0.3. It does not use any swagger package. Does it help?

[2018-10-01 16:43] srividhyak27 opened #1155 "NPE when responses are referenced from external yaml files"
##### Description

Exception in code-gen when responses are referenced from external yaml files

[code]

##### openapi-generator version

	<groupId>org.openapitools</groupId>
	<artifactId>openapi-generator-maven-plugin</artifactId>
	<version>3.3.0-SNAPSHOT</version>

Same issue with 3.2.3 version as well.

##### OpenAPI declaration file content or url

[code]
In common.yaml, responses are defined

[2018-10-02 08:32] demonfiddler commented on #1150
@macjohnny I'll see if I have the time available but I might be reassigned to another task soon. My primary focus is finishing a PR for some enhancements to the JAXRS-CXF generator. Will let you know.

[2018-10-02 09:39] wing328 commented on #1155
Please provide the spec so that the community can more easily repeat the issue and help you out.

[2018-10-02 16:01] demonfiddler opened #1158 "[Java][JAX-RS][CXF] Enhancement: Options to generate fully functional method bodies passing fully populated test data"
##### Description

The JAX-RS/CXF generator currently emits partially populated stubs for service and test methods, which have to be completed with manual coding. For a complex specification it can be a lot of work to get to the point where you have something that actually runs and is testable. This enhancement proposes the addition of new generator options thus:

Option|Type|Description
------|--

[2018-10-03 04:56] srividhyak27 commented on #1155
Updated the issue with yaml content.

Thanks,
Srividhya

[2018-10-03 06:16] Newspaperman57 commented on #1092
@ybelenko Sorry, i changed over to using Python as my backend as i have used it before and would be easier than learning a new framework in PHP from scratch, now when i had to write it from bottom myself.

[2018-10-03 07:41] wing328 opened #1159 "Add a OCaml client generator"
##### Description

We would like to create an [OCaml](https://ocaml.org/) client generator so that OCaml developers can find it more easily to consume REST APIs.

Similar to how some other generators (e.g. R, Lua, PowerShell) are created, we will use the reverse engineering process to create the OCaml client generator.

- create OCaml petstore samples (implemented at least 2 endpoints to start wit

[2018-10-03 07:54] fujigon commented on #992
confirmed that this issue is fixed with current master 4e8844273be501a879321b317da9f12c83f23b2b ,
 probably because of updating swagger-parser to 2.0.4 https://github.com/OpenAPITools/openapi-generator/pull/787

[2018-10-03 07:55] #992 closed

[2018-10-03 07:55] wing328 commented on #1147
@xBlackCat thanks for reporting the issue

cc @jimschubert

[2018-10-03 07:56] fujigon commented on #992
@jmini @wing328
thanks for fixing. confirmed it works. I closed the issue.

[2018-10-03 15:14] CyrilleBenard opened #1163 "[C++][cpp-restsdk] Simple request / response (string) is not well handled. Compilation failed"
##### Description

A simple query with a simple response (string) does not compile.
The generated code shows a miscalled method that does not exist (std::string::fromJson)

The compilation error looks like :
[code]

##### openapi-generator version

Current master 3.3.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Generate :
[code]

Compil

[2018-10-03 19:03] raghuraman1 opened #1164 "[JavaSpring]openapi-generator-maven-plugin with <async>false</async>"
Hi,
 I am using the openapi-generator-maven-plugin with these versions: 3.3.1-SNAPSHOT (thats master ).
I came across this bug.  Please see code snippet below of the pom.xml alongwith my suggestions for the fix.. Let me know if I should raise a PR.

Unrelated
Thanks.
R
Please note value of asynch: <async>false</async>.

`

                <plugin>
                              <groupId>org.openapi

[2018-10-04 08:06] #1080 closed

[2018-10-04 08:20] Vik-Git opened #1167 "Using anyOf under responses results in [object] as returnBaseType after generation"
##### Description
When making use of anyOf for the response of a get request the returnBaseType becomes the type object. I would have expected it to be either one of the types provided with anyOf or the super component "CookieStationEventType" in my example below.

Is it possible to use anyOf for the responses  and still have a returnBaseType (or any different operation property) that provides a m

[2018-10-04 09:42] CyrilleBenard opened #1168 "[C++][Pistache-server] #include "json.hpp" is needed - Compilation failed"
##### Description

With a simple input YAML file, the generator omits to include the json.hpp file.

Usually, the generator seems to satisfy this include inside the ModelBase.h but in this case, there is no model that are generated, so ModelBase.h is not included inside the api file, and consequently the needed json.hpp is not included.

The compilation error looks like :

[code]

##### openapi-ge

[2018-10-04 10:54] ackintosh commented on #340
https://github.com/OpenAPITools/openapi-generator/issues/340#issuecomment-400013067

I agree with that. I'll file a PR to improve so. 😉

[2018-10-04 12:41] CyrilleBenard opened #1170 "[C++][Pistache-server] string with pattern (regex) are not treated"
##### Description
The generator does not consider the pattern "inside" a string type. I mean, when the openapi file describes the below syntax :

[code]

The generator does not take into account the pattern restriction. No dedicated code is generated

##### openapi-generator version

Current master : 3.3.1-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for

[2018-10-04 14:07] mvpratap opened #1171 "[JAVA] external $ref is not resolving"
Hi i am new to openapi-generator, i just want to make an single yaml file by resolving external $ref in that yaml file.

but when i tried to do such i am not able to resolve fully. used the latest master code, attached the yamls used and output.

[openapigenarator.txt](https://github.com/OpenAPITools/openapi-generator/files/2446640/openapigenarator.txt)

[2018-10-04 15:08] CyrilleBenard opened #1174 "[C++][cpp-restsdk] ModelBase.h should be included. Compilation failed"
##### Description

The generator does not include the ModelBase.h file whereas it generates code that uses a method that is defined in it (see toJson, toHttpContent, ... etc)

The compilation error looks like :
[code]

##### openapi-generator version

Current master : 3.3.1-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Generate :
[code]

C

[2018-10-04 15:49] adamdecaf commented on #208
What version was this deployed in? I'm running v3.3.0 and had to use `in: header` rather than `in: cookie`.

https://github.com/moov-io/api/commit/34d9c167708df3aaee1e0274dd61271c469d2178#diff-fe030a7c1568b3decf599edf399be7f4R2025

You can clone/fork that project and just run `make` to build inside a docker image.  I can simplify it if needed.

[2018-10-04 15:51] adamdecaf commented on #208
Previously the `localVarHeaderParams["{{keyParamName}}"] = key` line wasn't being added. The mentioned PR looks to make `isKeyInCookie` the same as `isKeyInHeader` for this case, but I'm not totally sure.

https://github.com/moov-io/go-client/pull/2/files#diff-6a8fb16a6861d334f925cfca38f19a85R454

[2018-10-04 16:40] alotia opened #1175 "Use 'const' for cpp getters even when the return type is an aggregate"
##### Description

We are using openapi-generator to generate C++ classes from Java. For primitive types, the C++ getter method has 'const' qualifier, but when aggregates are specified, the method does not have have the const qualifier. Can a 'const' be added for getter methods even when the return type is an aggregate? (I am not very familiar with C++, and maybe there is a reason this is not bein

[2018-10-04 16:47] adamdecaf opened #1176 "[Go] Is github.com/antihax/optional necessary?"
##### Description

Hey! Thanks for the OpenAPI v3 support with Go. I was wondering about [`github.com/antihax/optional`](https://github.com/antihax/optional) after generating a Go client. Is that library necessary? Could it just be unexported methods?

I ask because that project has one commit with no readme. What happens if that repository is taken over and a nefarious commit is pushed?

I'll off

[2018-10-04 17:53] wing328 commented on #1176
cc @antihax

[2018-10-04 17:55] antihax commented on #1176
Best option is to vendor or fork it and modify the template.

The problem is we can't predict the package name inside of the template.

[2018-10-04 21:01] adamdecaf commented on #1176
What about shipping the functions needed in a file (write it with the template)? i.e. `optional.go`

[2018-10-05 14:52] wing328 commented on #1175
cc @ravinikam (2017/07) @stkrwork (2017/07) @fvarose (2017/11) @etherealjoy (2018/02) @martindelille (2018/03)

[2018-10-05 15:28] #340 closed

[2018-10-05 16:30] etherealjoy commented on #1175
cpp-qt5-qhttpengine-server has const getter and const ref setters args

https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h#L53

https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h#L54

[code]
Sadly I fear breaking too m

[2018-10-05 18:03] Kiran-Sivakumar opened #1181 "[Java][okhttp-gson] Bug when specifying grant-type (flow) for OAuth token retry"
##### Description

The okhttp-gson Java library has support for automatic OAuth access token retry. The grant-type use for this functionality is specified using the "flow" value provided in the OpenAPI specification. However, the way in which this is performed (using the Java enum valueOf method) results in an IllegalArgumentException being thrown. This is because "flow" values do not correspond 1

[2018-10-05 18:25] delenius opened #1182 "[JavaScript] discriminator/polymorphism not supported"
##### Description

AFAICT, the generated JavaScript clients do not support polymorphism using the `discriminator` mechanism.

##### openapi-generator version

3.3.0-SNAPSHOT

##### Suggest a fix/enhancement

It seems to me that, if the `discriminator` is present, the `constructFromObject` method in the superclass needs to look at its value and call the appropriate `constructFromObject` in the righ

[2018-10-06 00:39] #1122 closed

[2018-10-06 03:53] ackintosh commented on #1155
@srividhyak27 Thanks for the issue!
I've tested code generation with the YAML files below (based on which you reported).
But I couldn't reproduce the issue. Something wrongs my steps to reproduce?

---

#### openapi.yaml

[code]

#### common.yaml

[code]

---

[code]

[code]

[code]

[2018-10-06 19:17] ity42 opened #1185 "[Typescript-Angular] Generated code for OpenAPI3.0 spec can not be build/packaged"
##### Description

Multiple messages like: "Cannot find module '../model/uNKNOWNBASETYPE'." while doing npm run build in client-api-folder, resulting in an Exit Status 111.

##### openapi-generator version

https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/3.3.1-SNAPSHOT/openapi-generator-cli-3.3.1-20181005.160335-9.jar

##### OpenAPI declaration file c

[2018-10-06 19:56] #1033 closed

[2018-10-07 11:52] osharav commented on #1138
Hi, this seems to be a result of a change in the https://github.com/DefinitelyTyped/DefinitelyTyped repo.
They have deprecated the ClientResponse interface in node 10.
To resolve (at least until the generator uses the new IncomingMessage interface), the type definitions for node 8 should be used:
yarn add @types/node@8.10.34
Regards,
Omer.

[2018-10-07 12:01] wing328 commented on #1138
Thanks Omer. Do you mind submitting a PR with the suggested fix?

[2018-10-07 19:42] osharav commented on #1138
@wing328 Here you go: #1190 pull request waiting to be merged, passed all tests.

[2018-10-08 06:49] jmini commented on #1147
isn't this a duplicate of #962?
@xBlackCat can you retry with `3.3.0`?

[2018-10-08 07:02] wari commented on #741
Thanks, @ity42 for reporting, I know I'm not the only here with this issue. Do you have the URL of the YAML or JSON file?

[2018-10-08 07:58] tomi77 commented on #741
Whats about this: Create `*Opts` structs in `model_*_opts.go` files. for example:
- `GetAboutUserOpts` move to `model_about_user_opts.go`
- `GetAboutUserMsgVpnOpts` move to `model_about_user_msg_vpn_opts.go`
- `GetAboutUserMsgVpnsOpts` move to `model_about_user_msg_vpns_opts.go`
and so on…

[2018-10-08 09:39] #1181 closed

[2018-10-08 11:52] #1137 closed

[2018-10-08 12:04] nirodg opened #1194 "[Jaxrs Resteasy] Unused/missing imports and partial javadocs"
##### Description

Generating code from a swagger json file with openapi-generator-cli.jar needs additional refactoring due the unused imports and partial defined javadocs (_only applies for the server side_)

##### openapi-generator version

openapi-generator-cli-3.3.0.jar

##### OpenAPI declaration file content or url
https://github.com/tmforum-apis/TMF641_ServiceOrder/blob/master/Service_Orderi

[2018-10-08 12:25] nirodg opened #1196 "[JaxRs Resteasy] Enums following standards"
##### Description

Generating server code using the jaxrs-resteasy profile defines ENUMs following the standards, the requests will contain a enum in uppercase but it won't match the enum defined on the swagger schema and we will get a server error.

##### openapi-generator version

openapi-generator-cli-3.3.0.jar

##### OpenAPI declaration file content or url

https://github.com/tmforum-apis/TMF6

[2018-10-08 13:39] mikezx6r commented on #819
There is a kotlin-spring language generator under development. Have you checked it out? Depending on your needs, it may be adequate.

I'm watching it right now, but there's still a few issues/changes I'd like to see. Going to provide feedback/proposals to people working on it.

If you have `allOf` in an object reference, and depending on which commit you're on, it either attempts to use inheritanc

[2018-10-08 17:57] ity42 commented on #741
@wari: sorry, indirect link only; another example is:
psd2-api 1.2 Update 2018-08-17.yaml on https://www.berlin-group.org/nextgenpsd2-downloads
(I just tried it with openapi-generator-cli-3.3.1-20181008.101417-13.jar, still same symptoms)

[2018-10-08 18:09] colelawrence opened #1199 "[rust client] Feature: Generic requests–agnostic of transportation or tokio"
##### Description

For my own application, I just finished updating the rust-client implementation from using `hyper 0.11` to using `hyper 0.12` ([see diff of conversion](https://github.com/colelawrence/openapi-generator/commit/649ad73cd226ea3b31c06b0a8499fb73227ce070))

I thought that I had to do this in order to be able to use the client generator with my generated `rust-server`, because all of

[2018-10-08 19:23] colelawrence commented on #1199
I think we could do something like a trait producing [`http::Request`](https://docs.rs/http/0.1.13/http/request/struct.Request.html) and mapping [`http::Response`](https://docs.rs/http/0.1.13/http/response/struct.Response.html) into `U` for each endpoint. Would `http 0.1.13` be a good library to allow other crates to depend on? or map from?

[2018-10-09 01:49] feihongmeilian commented on #1135
@wing328

[2018-10-09 02:27] wing328 commented on #263
The project is now buildable with JDK9 via https://github.com/OpenAPITools/openapi-generator/pull/1188

[2018-10-09 07:34] MrJustreborn commented on #1171
I'm facing the same problem.
I have similar YAMLs with `$ref` to another file.

I'm getting `[WARNING] #/components/schemas/Logo is not defined`.
But it is defined is the second YAML.

I'm using v3.3.0 with the maven plugin.

[2018-10-09 07:38] fujigon opened #1201 "[General] nested "required" doesn't work"
##### Description
openapi-generator doesn't recognized nested "required" of schemas.

##### openapi-generator version

current master 56c4751e74ca80e6004897230dac9f3ee6523459

##### OpenAPI declaration file content or url

https://gist.github.com/fujigon/3690e1c285ed0a1e06e344bf306725f4

##### Command line used for generation

[code]

##### Steps to reproduce

When I execute the generator with the

[2018-10-09 08:55] wing328 opened #1203 "Update brew formula to support JDK9"
##### Description

In the next stable release, we'll need to update the brew formula to use "1.8+" instead of "1.8".

Before that, we'll need to test the project with JDK9 and JDK10.

##### openapi-generator version

Latest master

##### Related issues/PRs

https://github.com/OpenAPITools/openapi-generator/pull/1188

##### Suggest a fix/enhancement

We'll update the following line:

https://github

[2018-10-09 09:12] dr4ke616 commented on #819
@mikezx6r this issue can actually be closed now, as the first implementation of a Kotlin spring-boot was implemented in PR #820

[2018-10-09 09:12] #819 closed

[2018-10-09 09:15] wing328 commented on #1138
@osharav thanks for the contribution. Closing this issue.

[2018-10-09 09:15] #1138 closed

[2018-10-09 09:52] tnmtechnologies opened #1204 "[Java][jaxrs-resteasy] add @Valid when bean validation is enabled"
##### Description

This issue is like the #1018 but for java jaxrs-resteasy generator.

##### openapi-generator version

3.3.0

##### OpenAPI declaration file content or url

see #1018

##### Command line used for generation

see #1018
##### Steps to reproduce

see #1018
##### Related issues/PRs

#1018
##### Suggest a fix/enhancement

The fix should be close to #1019 but of course for jaxrs-restea

[2018-10-09 10:39] bjgill commented on #1199
`rust-server` gives a model of how you might want to go about this. We autogenerate an API trait (called by the client and implemented by the server) that hides away all mention of specific web frameworks - it even abstracts away the fact that we're using HTTP. See https://github.com/OpenAPITools/openapi-generator/blob/master/samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-

[2018-10-09 11:22] mikezx6r opened #1205 "[KotlinSpring] Generated model is invalid if 'inheritance' is used"
##### Description

The Kotlin Spring generator currently generates inheritance of data classes if a schema/type uses `allOf` and `$ref`. Kotlin data classes do not support inheritance, so this is invalid code.

The generator will need to generate properties from the main object, as well as the sub-object directly.

##### openapi-generator version
3.2.3, 3.3.0 and 3.3.1-SNAPSHOT

##### OpenAPI decl

[2018-10-09 12:16] kqr opened #1206 "[PHP] Missing model inheritance in generated client when schema has both oneOf and properties"
##### Description

When a schema contains both `properties` and `oneOf`, I expect openapi-generator to create multiple PHP classes with inheritance. In the example schema below, I expect

- One PHP class called `Fruit`, which has a protected member `color` with getters and setters.
- One PHP class called `Apple`, which inherits from `Fruit` and extends it with protected member `kind`, and, crucial

[2018-10-09 13:33] cbornet commented on #1129
Can you give more details on what you're doing ? HATEOAS is not really a good match for OpenAPI as it aims for dynamic APIs whereas OpenAPI describes static ones.
Also can you explain how you use the generated code ? It seems to me that it will only add a `self` link to the endpoint which doesn't have great value in itself

[2018-10-09 13:45] mwoodland commented on #1129
The key reason for using HATEOAS in my use case is to make the APIs discoverable. Please also note that HATEOAS is one of the guiding constraints for REST services and I am trying to produce RESTful APIs. Although the APIs will in my case be static they will contain for example nested objects, and pagination.

With nested objects rather than embedding the entire object I will be embedding a summar

[2018-10-09 14:18] cbornet commented on #1129
Yes, that's my point : HATEOAS is about dynamic self-discoverable APIs which means you shouldn't need OpenAPI (since you're discovering the API and it can change any moment). That said, if you use spring-hateoas as a framework to just add hypermedia links in your reponses and not as a true "engine of application state" then I can see the point.

[2018-10-09 14:34] chenliu0831 commented on #1125
Could someone take a look? Thanks!

[2018-10-09 15:01] TiFu commented on #802
Also #727.

The past 1 1/2 months have been insanely busy for me. I hope I will have some more time to work on this again.

[2018-10-09 15:05] colelawrence commented on #1199
@bjgill, I realized later on how much more comprehensive the client in `rust-server` is compared to the client in `rust`
For reference, I was able to adjust the existing api to generate something like this

[code]

[code]

This way, we can write a wrapper around `ApiRequest<U>` to actually execute it.
[code]

[2018-10-09 15:12] mwoodland commented on #1129
I don't think generated APIs and self-discoverable APIs are mutually exclusive, and I don't think APIs have to be dynamic for there to be value in them being discoverable. The point is that you don't need to have documentation explaining the structure of the data that your REST APIs are representing, that you can work this out for yourself from the links.

I'm not entirely sure what you mean by dy

[2018-10-09 15:36] demtnt commented on #746
Confirmed. In gradle plugin case You need to add system property e.g.

`
task buildAPI(type: org.openapitools.generator.gradle.plugin.tasks.GenerateTask){
[...]
    systemProperties = [
            supportingFiles: 'ApiUtil.java'
    ]
 [...]
}
`

[2018-10-09 15:53] colelawrence commented on #1199
Just sharing my findings above. I have more to learn about how the `rust-server` does its piece.

[2018-10-09 16:13] wing328 opened #1208 "Decommission unused options"
##### Description

Some generators such as Java client generator have too many options: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/java.md (which has like 50 options)

Before the 4.0.x release, we want to review and potentially decommission the "unused" options or options that can be replaced by modifying the templates.

##### openapi-generator version

4.0.x

##

[2018-10-09 16:28] cbornet commented on #1208
Yes, much needed. See this one :smile:
[code]

[2018-10-09 16:45] bjgill commented on #1199
I think it's simpler than that. You should be able to do something like:

[code]

This does look like a gap in the `rust-server` docs/example, though. I'll raise an issue.

[2018-10-09 16:50] bjgill opened #1209 "[rust-server] no example of how to string clients and servers together"
##### Description

One of the key features of `rust-server` is that you can straightforwardly string clients and servers together. It's quite sad that we don't actually provide any docs/examples as to how you do this.

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

Seen in h

[2018-10-09 16:54] wing328 commented on #1209
What about adding an auto-generated README to cover that in the Rust server generator?

[2018-10-09 16:58] colelawrence commented on #1199
@bjgill how do I create that client-from those example locations I linked? That's what's tripping me up. For my use case, I'm generating a client to interact with the Google Calendar API v3, using a swagger file I found for it online.
Do I create a separate `tokio_core::reactor::Core` at my top level? how would I specify an `./path-to/ca.pem` for Google Calendar (I don't know a lot about certifica

[2018-10-10 10:16] bjgill commented on #1199
That's a rather gaping hole in the example. You need to use the same tokio core for both client and server, but `tokio_proto::TcpServer` doesn't allow you to pass in or get back out a handle to the tokio core.

I think you'd need to use `TcpListener` instead. Maybe something like the following?
[code]

Alternatively, if performance is not a major problem, a hacky workaround would be to create a ne

[2018-10-10 10:16] bjgill commented on #1209
This actually turns out to be quite complicated. Merely plugging a client and server together is easy. The complex part is creating both a client and server that are running on the same async core.

I know it's possible, but I've not done so myself.

[2018-10-10 13:39] colelawrence commented on #1199
@bjgill, thank you very much for the guidance!

[2018-10-10 14:13] bjgill opened #1215 "[rust-server] no support for native CA certificate store"
##### Description

`rust-server` doesn't provide a simple method (or example) to create an HTTPS client/server that authenticates servers/clients against the system's native CA certificate store.

Instead, `rust-server` is designed so that you provide the path to a single CA certificate.

This means that using `rust-server` to talk to servers on the public web (e.g. Google) can be quite a pain.

#

[2018-10-10 19:54] delenius opened #1216 "[JavaScript] Duplicate superclass constructor calls"
##### Description

The JavaScript client generator generates two calls to the superclass constructor. For example, in `samples/client/petstore/javascript/src/model/Dog.js`, we have

[code]
and also
[code]

Looking at the code, one of the calls comes from the `parent` property, and one from `interfaceModels`.

I'm not sure where those values ultimately come from. "interfaceModels" is not an openapi

[2018-10-10 21:45] colelawrence commented on #1199
Notice that current rust-server surfaces this error for https connections
Metaswitch/swagger-rs#43
https://github.com/Metaswitch/swagger-rs/pull/44/commits/6488ec3a22d27dfdad28a099b6e038b888cf7d6b

[2018-10-10 22:48] Kiran-Sivakumar opened #1217 "[Java] Generated Java APIs often have too many method parameters"
##### Description

APIs often have a lot of optional parameters. This does not cause a problem for SDKs generated in languages that inherently support methods with optional parameters. However, in Java, arguments must be explicitly specified for all parameters, even the ones marked as "optional" in the specification. This can make OpenAPI-generated Java SDKs incredibly cumbersome to use.

##### op

[2018-10-11 01:53] jimschubert commented on #1208
Alternatively, I don't know that the option count is what's wrong here. There are 12 libraries and with the current structure of a generator, the only way to add an option related to a single generator (like `feignVersion`) is to add that option to the top-level scope and it's "available" to all libraries for the generator.

I think this problem could easily be fixed by changing to selecting gener

[2018-10-11 12:57] bjgill opened #1221 "[rust-server] HTTPS support is currently linux-only"
##### Description

See https://github.com/Metaswitch/swagger-rs/issues/43. If you try to use HTTPS on a non-linux platform, you'll hit `unimplemented!("See issue #43 (https://github.com/Metaswitch/swagger-rs/issues/43)")`

##### openapi-generator version

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

Found

[2018-10-11 12:58] bjgill commented on #1199
Ah, yes - I and I suspect many other users of `rust-server` are linux-only. I've just raised #1221 to make this limitation more visible.

[2018-10-11 14:55] ghost opened #1222 "Rust codegen creates incorrectly escaped parameter names"
##### Description

Generating Rust APIs for Kubernetes or any other API using parameters names which match keywords generates invalid rust since the escaped parameters names are invalid.

The swagger file contains "continue" as a parameter. This gets escaped by the codegen to “_continue”. Unfortunately this fails to compile when used in a format macro:

[code]

##### OpenAPI declaration file conte

[2018-10-11 22:29] julianazuniga commented on #1185
Do you have the package.json file? I can not even run npm install

[2018-10-12 08:57] wing328 commented on #1147
@xBlackCat glad to hear the issue has been resolved for you.

[2018-10-12 08:57] #1147 closed

[2018-10-12 08:58] wing328 commented on #962
Please test with v3.3.0, which has resolved a similar issue reported by another user.

Closing this for the time being. We'll reopen it if it's still an issue.

[2018-10-12 08:58] #962 closed

[2018-10-12 09:01] sylvainmoindron commented on #962
i switched to version 3.3.0 with gradle 3.10 and it work fine

[2018-10-12 09:20] CyrilleBenard commented on #548
@etherealjoy could you expose or better, modify the Pistache integration to got a uniform behavior between all languages ? I mean, avoid the specific Pistache mapping "One Tag list" => "One End point" as explained previously. It would be nice to have this feature and obviously, more usable.

[2018-10-12 09:39] jbumueller opened #1226 "Query Parameters of type integer in format int64 seem to create a broken spring API"
##### Description

Created a API Spec with a query parameter of type integer, with format int64 which results to Long in Java. Leads to a broken spring Api with thr following signature:

[code]

10l should be 10 instead, otherwise a numberFormatException occurs.

##### openapi-generator version

On the Master (3.3.0)

##### OpenAPI declaration file content or url

##### Command line used for gener

[2018-10-12 11:44] cunningr opened #1227 "openapi-generator creates invalid python code when removing underscore from names"
Description

There seem to many other examples of this for other languages but for python client generation the option of modelPropertyNaming=original has no effect.

We have a vendor published schema that uses item names such as '_id'. To make things worse, within the same object, they use both 'id' and '_id' which after client code generation in python results in;

Traceback (most recent call la

[2018-10-12 11:48] cunningr opened #1228 "[Python/General] Underscore Conversion Method Does not Work with Acronyms"
This is copied over from swagger-codegen project as it exists in openapi-generator code also.  This is the originally reported [issue](https://github.com/swagger-api/swagger-codegen/issues/8780);

--------------------------copied over-------------------------------------

Description

In DefaultCodegen.java the underscore method does not work with acronyms, initialisms, or any multi capital letter

[2018-10-12 17:55] aaronbeall commented on #347
Where can I find documentation on the template variables that swagger-codegen produces in the latest version? We are using a custom template based on TypeScript-Fetch (in order to fix/modify some things about it) and similar to the OP after trying to upgrade I found that the differences are quite substantial...

[2018-10-12 19:04] adamdecaf opened #1229 "[Go] UNKNOWN_BASE_TYPE and incorrect v2 selection"
##### Description

I'm trying to generate a Go client with the following spec: https://github.com/adamdecaf/openapitools-unknown_base_type-bug

However, the generation fails:

[code]

I don't know why `v2` is mentioned. This is a v3.0.1 OpenAPI file, not v2.

##### openapi-generator version

v3.3.0 v3.3.1-SNAPSHOT and v3.4.0-SNAPSHOT (as of 2018-10-12)

##### Command line used for generation

Run

[2018-10-12 20:05] etherealjoy commented on #548
@CyrilleBenard
Please try out #1230 to see this feature

[2018-10-13 03:39] cognifloyd commented on #579
I found the inclination and so went digging through the Java even though I'm a rookie with Java. I started with swagger-codegen and then came to do the same here and discovered that the Java side is done.
- OpenAPITools/openapi-generator#873
- OpenAPITools/openapi-generator#889
- OpenAPITools/openapi-generator#930

And go figure. I didn't know what I was doing in swagger-codegen (because I'm using

[2018-10-13 03:45] wing328 commented on #579
@cognifloyd I've submitted https://github.com/OpenAPITools/openapi-generator/pull/1073 before. Is that what you're looking for?

(sorry that I forgot to update about this enhancement before)

[2018-10-13 03:47] cognifloyd commented on #579
Wow. yeah. That's great! :tada: Thank you @wing328 for doing that. Now to play with and use it.

[2018-10-13 03:47] #579 closed

[2018-10-13 03:51] wing328 commented on #579
@cognifloyd you're welcome. Please give it a try and let us know if you've any feedback.

[2018-10-13 06:58] jmini commented on #68
I track here the changes we are interested in for a `2.0.6` release.

* https://github.com/swagger-api/swagger-parser/pull/880 (fix for issue https://github.com/swagger-api/swagger-parser/issues/879)

[2018-10-13 10:08] TiFu commented on #347
I'm not sure if there's documentation for it, but you can print the available template variables. See
https://github.com/openapitools/openapi-generator/wiki/Mustache-Template-Variables for more information. If you search the code base for `debugOperations` you can also find the other debug switches.

[2018-10-13 20:31] cspotcode opened #1233 "[TypeScript/JavaScript] Emit all necessary info as metadata object; defer as much as possible to a runtime library"
##### Description

This is related to discussion in #802 about re-thinking the various TypeScript generators as a single generator that is far more configurable.

Philosophically, I think the new generator should generate as little code as possible via the generator, delegating as much behavior as possible to a runtime that is driven by a "spec metadata" structure.  This enables a better developer

[2018-10-14 11:35] etherealjoy commented on #934
In `cpprest` this is a file stream. It is not a string.

[2018-10-14 14:54] etherealjoy commented on #922
@CyrilleBenard
This one is difficult to solve. It is a problem for all generators with strict types liek c++.
[code]

Changing above spec to below is solvable though.
[code]

[2018-10-14 14:56] pecigonzalo commented on #590
@wing328 could you provide an example for lets say, `python` on how to use them? Im willing to update some of them.

[2018-10-14 15:06] wing328 commented on #590
@pecigonzalo thanks for offering help. Let me create an example using the Ruby generator. Will keep you posted.

[2018-10-15 09:03] lukstei opened #1243 "[Java] [WebClient] Custom error handling of HTTP responses not possible"
##### Description

Custom error handling of HTTP responses not possible, because of the catch-all line in:

https://github.com/OpenAPITools/openapi-generator/blob/e22c7c1c8aca41d7135bb7f3c9e54de173bd50f7/modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache#L486

##### openapi-generator version

3.3.0

##### OpenAPI declaration file content or url

any

##### Com

[2018-10-15 10:17] SeanFarrow opened #1245 "[C#] Provide the capability to use types from the Nodatime library for dates"
As discussed with @wing328, it would be nice to add the capability to support nodatime as a date/time library in the asp.net core server generator.
Longer term, it would be nice to support this in the client too, but I'd suggest waiting for the refactor from @JimSchubert to happen first.

[2018-10-15 13:03] wing328 opened #1246 "PHP 5.x reaches the end of life by the end of 2018"
##### Description

PHP 5.x reaches the end of life by the end of 2018 so we need to upgrade our PHP clients, servers to use PHP 7.x as the default.

Ref: http://php.net/supported-versions.php

##### openapi-generator version

I suggest we do it as part of the 4.0.0 release (next major release)

##### Suggest a fix/enhancement

If anyone wants to help on this, please reply to let us know.

[2018-10-15 15:05] jimschubert commented on #1245
@SeanFarrow do you mean built-in support via date option? Have you found that import/type mappings aren't working to enable this?

[2018-10-15 16:50] wing328 commented on #956
Thanks for the feedback. So far we've not heard any report of regressions between patch release.

We hope the smaller patch release will be easier to upgrade.

[2018-10-15 17:56] SeanFarrow commented on #1245
@JimSchubert,
I mean support using a commandline option, like the Kotlin client generator does.

From: Jim Schubert <notifications@github.com>
Sent: 15 October 2018 16:06
To: OpenAPITools/openapi-generator <openapi-generator@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [OpenAPITools/openapi-generator] [C#] Provide the capabil

[2018-10-15 18:47] atomfrede opened #1250 "[Java] [Spring] provide optionals also for model fields"
##### Description
Follow up of discussion with @cbornet https://twitter.com/atomfrede/status/1051787697201827840

When setting `useOptional=true` only query parameter are affected. All model fields are are not affected.

Why is that useful? When using [json-patch-merge ](https://tools.ietf.org/html/rfc7386) a field not send is different from a value explicitly set to null. Where in the first case