[2019-11-20 17:09] Fjolnir-Dvorak commented on #4075
And if the user does not have git or has active changed we could check that and stop the generator from running which can be disabled with a --force flag. It is the responsibility of the user to be sure to save and backup everything before running a code-generator, not ours.

[2019-11-20 18:16] sebastien-rosset opened #4559 "[Go] Generate go interfaces to handle polymorphic substitution"
##### Description

This is a suggestion to generate go interfaces in the go code.

The OAS spec supports polymorphism and inheritance. One area that seems to be problematic in the generated go code is when a schema refers to a type that has multiple sub-types, and the actual sub-type is determined at run-time by the api service. The go code is generated with a pointer to a struct (not an interface

[2019-11-20 21:57] jimschubert commented on #4558
This is supported by the new (currently undocumented) `batch` command. I know you've tried that, what other details are you looking for here? Are you suggesting that we move that same config deserialization to a top-level invocation without the `generate` or `batch` commands?

[2019-11-20 23:38] 4brunu opened #4560 "[BUG][Swift4] The test suite is failing because it contains build errors"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-21 01:34] winterbesos opened #4562 "[BUG] Dart mustache model toJson doesn't handle the situation which the property is object or array"
https://github.com/OpenAPITools/openapi-generator/blob/96bbab98a47c702c9b05f7f2bf06f485071dbd23/modules/openapi-generator/src/main/resources/dart2/class.mustache#L86

If there is a property is an object or an array, it dose not handle this situation.

[2019-11-21 02:30] #4362 closed

[2019-11-21 02:32] wing328 opened #4563 "Unalias schema in getTypeDeclaration when not generating model for alias"
##### Description

Defining a schema for an array type, and referencing it as the items type in another array doesn't generate valid code. It happened for me in Java and go-experimental that I'm using, but might be the case for other languages as well.

https://github.com/OpenAPITools/openapi-generator/pull/4527 fixes the issue for Go and Java. We will need to do it for all other generators.

If a

[2019-11-21 03:25] ackintosh commented on #4541
@cjprinse Thanks for reporting this issue! I think your suggestion is good. ✨

If you want to address this issue, please let me know. I could help you. 😃

[2019-11-21 07:45] mgwoj commented on #4467
I think this story can be closed now.

[2019-11-21 07:47] mgwoj commented on #4460
I think it can be closed as it is included in https://github.com/OpenAPITools/openapi-generator/pull/4505

[2019-11-21 08:29] MartinDelille commented on #4558
Ok I didn't tried the `batch`, only the `generate` with the `--config` option.

It doesn't work in the last release (4.2.1) but maybe it is for the next one?

[code]

[2019-11-21 08:40] wing328 commented on #4558
You need to pass the config file via `-c` or `--config`, e.g.
[code]

[2019-11-21 08:54] MartinDelille commented on #4558
Ok now I understand how the `bash` works.

Since `inputSpec` is specified in the configuration, it shouldn't be needed in the command line argument then? I checked and it is ignored now while it is used in many configuration files like https://github.com/OpenAPITools/openapi-generator/blob/master/bin/ci/python-petstore.json#L3

[2019-11-21 09:44] bodograumann commented on #4119
It is actually true for all templates:
https://github.com/OpenAPITools/openapi-generator/blob/3adfdfafea183dfc4a1edf9a8df42f68657f662c/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java#L448-L450

Not sure what the intention was, but maybe this should also be handled with `generateAliasAsModel`, as it’s an alias for `object`.

[2019-11-21 10:28] #4539 closed

[2019-11-21 10:40] bodograumann commented on #3602
We have just encountered the same behaviour as @Na3blis. The problem is that, while `DefaultGenerator` does generate the model definition file in the `generateModels` method, `DefaultCodegen` does not reference them in the `fromRequestBody` method.

I'll try to fix it.

[2019-11-21 10:50] MartinDelille opened #4567 "[BUG] Missing configuration is silently ignored"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-21 10:53] wing328 commented on #4567
I already filed https://github.com/OpenAPITools/openapi-generator/pull/4557 so moving forward an exception will be thrown instead of just logging an error.

[2019-11-21 12:32] nekkiy commented on #4368
fixed in https://github.com/OpenAPITools/openapi-generator/pull/4565

[2019-11-21 13:12] #4551 closed

[2019-11-21 13:47] wing328 commented on #4559
@sebastien-rosset thanks for starting a discussion on this.

cc @antihax (2017/11) @bvwells (2017/12) @grokify (2018/07) @kemokemo (2018/09) @bkabrda (2019/07)
(technical committee members)

[2019-11-21 14:59] jimschubert commented on #4558
@MartinDelille to clarify, those scripts that move args to JSON are only supported by the `batch` command, not by `generate`.

Run `help batch` for options.

[2019-11-21 15:01] misterspeedy opened #4568 "[BUG] sharp-giraffe-server creates project with Nuget ref to a deleted package"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? (N/A)
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to

[2019-11-21 15:02] misterspeedy commented on #4568
@nmfisher Tagging you for visibility.  Thanks for the generally awesome work on the F# generators.  I'd submit a PR myself if I knew what I was doing in this area. ;-)

[2019-11-21 15:06] MartinDelille commented on #4558
With the latest release:

[code]

I tried to compile from master but have the same result.

[2019-11-21 15:29] YishTish commented on #4552
Yes, I've been debating that question myself for a while...
Here's the thing - the controller can't send much. If the structure of the request doesn't comply with the OpenAPI contract, it gets rejected before hitting my code.
The next place where the request can fail is in the service level - does the data exist? does it conflict with existing data? Maybe we lost connection with the database? All

[2019-11-21 15:48] #3473 closed

[2019-11-21 15:55] Fjolnir-Dvorak commented on #3428
sorry that this issue is not yet patched in live. I still don't have all responses from the other code generator maintainers. I updated the project and will ask if it will be OK to potentially break the other generators since there are no maintainers listed or they didn't respond.

[2019-11-21 18:07] jimschubert commented on #4558
@MartinDelille please note that the command is `batch` (i.e. run multiple operations) and not `bash` (i.e. the Unix shell called bash).

[code]

Given your config (plus required outputDir property, removing invalid argument `action`, updating to valid arg `generatorName`):

[code]

You can generate as:

[code]

This produces:

[code]

The reason this is called `batch` is because you can pass multi

[2019-11-21 18:19] jimschubert commented on #4558
And a note on shared configs. I added support to the batch command to use a directive-type property called `!include` to merge in shared configs.

You could create a file at `shared/common.yaml`:

[code]

And remove `inputSpec` from the configs listed in my previous comment, in favor of `!include`. This would point to the path either relative to your "root" (current) directory, or customized. For

[2019-11-22 03:06] #4560 closed

[2019-11-22 06:03] wing328 commented on #4567
Closed via #4557

[2019-11-22 06:03] #4567 closed

[2019-11-22 09:21] MartinDelille commented on #4558
Sorry I feel so stupid! 😅

This is indeed working very well!

The only thing I would suggest is assuming that `--includes-base-dir` use the current folder as default.

[2019-11-22 09:44] g17 opened #4575 "[BUG] openapi-yaml generator does not handle requestBody references correctly"
##### Description

I use the OpenAPI generator to merge a set of OpenAPI yaml files into one single file. That is done within a Maven build using the ```openapi-generator-maven-plugin```.

After executing the generator the ```requestBody``` parts in the resulting yaml file have duplicated content. One version of the content is referenced correctly using the  ```$ref``` keyword. The duplicated cont

[2019-11-22 09:53] g17 commented on #4575
For easier reproduction I created a small github repository: https://github.com/g17/openapi-generator-bug-4575

[2019-11-22 10:53] geoah commented on #1745
I'm seeing the same issue in both 4.2.2-SNAPSHOT (70954ca) and 5.0.x (7f05cf0).
Are there any plans or ideas on how to fix this?

[2019-11-22 12:14] charmygarg opened #4576 "[BUG] OpenAPI 4.0.2 not able to generating anyOf models."
##### Description

I have created a swagger file `openapi: 3.0.0` having Account and Contact as references in anyOf something like this:
[code]
##### openapi-generator version

4.0.2

##### Steps to reproduce

After running `mvn generate-sources` command swagger generates models in /target folder. The issue here is that swagger is not able to generate class `AnyOfAccountContact` which it should be

[2019-11-22 14:46] LBoraz commented on #2195
still occurs in 4.2.0

[2019-11-22 15:32] mdelvecchio-wasabi opened #4579 "[BUG] Default values, min, max, etc. are missing from generated Go models for object properties"
#### Bug Report Checklist

- [* ] Have you provided a full/minimal spec to reproduce the issue?
- [* ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [* ] What's the version of OpenAPI Generator used?  -> 4.2.1
- [ *] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bo

[2019-11-22 16:02] jimschubert commented on #4558
I opened #4572 to "officially" document this command.

[2019-11-22 16:03] jimschubert commented on #4558
I modified in #4572 to point to the "rooted" directory by default. Please check master and let me know that you think.

[2019-11-22 16:23] MartinDelille commented on #4558
It's AWESOME! It does everything I need.

[2019-11-22 16:23] #4558 closed

[2019-11-22 16:25] macjohnny commented on #4576
have you tried the latest version?

[2019-11-22 17:43] jimschubert opened #4582 "[BUG] DefaultCodegen#writeOptional should honor options such as skipOverwrite/codegen ignore"
##### Description

Rules for skipping 50-100 files across a handful of generators is not intuitive.

##### openapi-generator version

all

##### Steps to reproduce

* Add any text to `samples/openapi3/client/petstore/ruby/spec/spec_helper.rb`
* Commit a WIP commit
* Run `openapi-generator batch --verbose bin/ci/openapi3-ruby-client-petstore.json`
* Notice no diff because the file is silently skipp

[2019-11-22 17:47] andys8 opened #4583 "[REQ] [Elm] generate list of enum values"
There enum generation results in a tagged union like this:

[code]

It would be super nice if there would also be an enumeration in form of a `List` or `Set`. This way it's made sure that the list of values is complete.

[code]

This is basically solving a feature the language `Elm` is currently missing and maybe a bit more than what to expect from the generator but it would be super nice :)

[2019-11-22 17:48] jasonculverhouse opened #4584 "[BUG] CodegenSecurity hasMore not maintained"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-22 19:14] Shogoki opened #4586 "[BUG][python-flask] converting to and from dict with camelCase properties"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used? --> **4.2.1**
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description

[2019-11-23 05:33] wing328 commented on #4582
I think we discussed this before. .openapi-generator-ignore can not be used to replace writeOptional since the former won't generate the file at all while the later will generate the file if it's not present.

[2019-11-23 14:27] syatyo opened #4590 "[REQ] [Swift] Select response queue"
### Is your feature request related to a problem? Please describe.
In swift4 APIClient, Main queue is used for response callback queue.  In some cases, I want to use other queue.

## Describe the solution you'd like
Pass queue to function argument that we want  to use.

## Describe alternatives you've considered
1.  Add queue parameter to API like `static var queue: DispatchQueue = .main` in APIs.

[2019-11-23 14:39] spprichard commented on #2721
Is there any progress on this?

I have a requirement that the networking layer of the generated code does not use Alamofire. Due to Alamofire not being compatible with Linux. Being able to swap out the networking layer of the generated code for something that can run on Linux is what I would need for my current project. Is this possible?

[2019-11-23 15:29] syatyo commented on #4590
similar to #2000

[2019-11-23 19:05] jimschubert commented on #4582
@wing328 I think at the very least, we should have an option to modify this behavior. Currently, it doesn't honor skipOverwrite or anything similar. I would personally find it surprising behavior, because we have no way to communicate it to users.

[2019-11-24 09:40] 4brunu opened #4593 "[BUG] [swift] wrong json encoding in some enums"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-24 11:02] 4brunu commented on #4593
After applying the argument `-DdebugOperations`, the debug json related to the parameter category is:
[code]

As far as I can tell, there is no way to know that this parameter is an enum in the mustache files.
The only option that I see is to make all variable types call `.encodeToJSON()`.
Am I missing something?

[2019-11-24 15:01] 4brunu commented on #2721
@spprichard What library or so will you use on Linux to make the network requests?

The Swift 4 generator already allows you to use a custom network stack with the network library that you want, but it will take some work.

If you want to go that path, you will need to subclass [RequestBuilder]( https://github.com/OpenAPITools/openapi-generator/blob/8cf34ca80f380a1ae5cee9e4360a1c21762e7ec6/samples

[2019-11-24 17:22] sebastien-rosset commented on #3844
My observation is the generated update_params_for_auth() function loops through all security schemes listed in the OpenAPI spec for the operation and updates the attributes (cookie, header, query) whether or not the auth settings are initialized.

A service could require more than one authentication method, so we need to be able to specify which security scheme to use. For example, if the OpenAPI

[2019-11-24 18:10] sebastien-rosset commented on #4559
I've noticed the same problem occurs in the generated Python client.

[2019-11-24 21:14] bvwells commented on #4559
Another possibility to solve this is to use struct embedding. I've seen this used in other go based swagger generators such go-swagger.

Could be a simple enough approach to solve the issue...

[2019-11-24 22:00] sebastien-rosset commented on #4559
Are you referring to the following: if type B has "allOf" type A (and potentially other properties), then go struct B embeds go struct A? If so, yes, this would be great to have better modeling of inheritance, as opposed to flattening all structs. But I'm not sure how this will address the use case I have raised here.

[2019-11-24 23:44] spprichard commented on #2721
Hey @4brunu,

Any network framework that can compile for Linux. Is there anyway to exclude Alamofire altogether? Also, is there a guide for this?

[2019-11-25 04:48] sebastien-rosset opened #4600 "[BUG][Python] "SyntaxError: more than 255 arguments" when a data type has 255 or more properties"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-25 07:42] #4480 closed

[2019-11-25 08:08] #4584 closed

[2019-11-25 09:19] #4555 closed

[2019-11-25 09:52] 4brunu commented on #2721
You can do this manually, but it's not ideal.
The other way is using library option to choose the http stack.
The kotlin generator, uses the library option to choose the http library for example.

[2019-11-25 11:50] tndata opened #4604 "[BUG] [csharp-netcore] Don't check integers if they are null"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-25 14:34] #4535 closed

[2019-11-25 17:59] sebastien-rosset opened #4606 "[BUG][Go] Support allOf inheritance with embedded go structs"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-26 03:56] #4590 closed

[2019-11-26 09:01] #4510 closed

[2019-11-26 14:30] andreluizf opened #4612 "[BUG] [java] incompatible types: double cannot be converted to java.math.BigDecimal"
hello i'm using version 4.2.1

my json is in the following format

![Captura de tela de 2019-11-26 11-29-36](https://user-images.githubusercontent.com/3831600/69642128-0ec58b00-1040-11ea-9f47-8878be179233.png)

and the generated code looks like this

![Captura de tela de 2019-11-26 11-26-18](https://user-images.githubusercontent.com/3831600/69641830-a080c880-103f-11ea-991b-6fbcf536ce21.png)

this

[2019-11-26 20:36] #4428 closed

[2019-11-26 21:15] ybelenko opened #4615 "[REQ] Log colouration"
### Is your feature request related to a problem? Please describe.

Right now it's hard to distinguish `WARN`/`DEBUG`/`ERROR` console messages in Macos Terminal. Most of time I ignore these messages, because it looks like `INFO` noise to me. When you generate the same build over and over again you just check error exit code or something red/yellow coloured in terminal output. If everything white o

[2019-11-26 21:18] ybelenko commented on #4615
If you think this is useful feature and we need colors in console output, please add 👍  or any other emote to this message. It's kind of a poll.

[2019-11-26 22:37] LiNk-NY commented on #3367
Hi William, @wing328, Leo @Leo-Rutschmann
I would still like to work on auto-generating an `enum`-like structure in R. 
I saw this post on SO that might help: https://stackoverflow.com/questions/33838392/enum-like-arguments-in-r
If I can get a minimal example for testing. I can give it a go. 

[2019-11-27 03:38] sebastien-rosset commented on #4600
@spacether , do you have a recommendation to address this issue for Python?  I see several OAS code generators (Java, cpp, go, swift, dart...) don't have this limitation because they don't create functions with a long list of arguments. One exception is the Erlang code generator does create a list of arguments, and Erlang has a max limit of 256 arguments per function.
Of course, I would argue an O

[2019-11-27 06:04] wing328 commented on #4615
Have you considered using https://github.com/mihnita/java-color-loggers ?

[2019-11-27 06:07] wing328 commented on #4615
Or use the following as stated in the readme:

https://github.com/mihnita/java-color-loggers#log4j-2

[2019-11-27 06:14] ybelenko commented on #4615
@wing328 Looks promising. Can we add this package to project dependencies or every user should install it manually?

[2019-11-27 06:19] wing328 commented on #4615
We can include it in the project itself.

[2019-11-27 06:23] ybelenko commented on #4615
@wing328 Yeah, that's what I want, definitely!

[2019-11-27 09:15] #4289 closed

[2019-11-27 10:04] #3803 closed

[2019-11-27 12:37] Mordag opened #4621 "[REQ][Kotlin][Client] Enum fallback"
I have noticed that the current implementation of moshi does not offer an easy (generated) way to offer an enum fallback. The fallback is needed in the case if any enum gets a new parameter (via the actual api). If the server is sending back a response including this new enum value and the client does not have this new value, the related json parser will crash.

Server: MyEnum: values: MY_VALUE_A,

[2019-11-27 13:43] Leo-Rutschmann commented on #3367
Hi Marcel @LiNk-NY, sorry for not replying - I am busy at university right now (which is why I don't find time to fix the issue until january). Unfortunately I cannot send you any examples of my work on this because I have done all of it at a summer job and I don't have any access to those files. Thus I'll try to give you a description of what I did:
In my quick fix version, I added a new template

[2019-11-27 13:55] gonozalviii opened #4623 "[BUG][TYPESCRIPT] date-timing-parsing is truncating the time"
##### Description

When declaring a field with `type: string, format: data-time` I expect to get date and time information. Current behavior is that only date information is available. This is a change in behavior to versions prior 4.2.1 and breaks interoperability with other languages like java-spring (Date cannot be parsed into OffsetDateTime).

##### openapi-generator version

Bug was introduce

[2019-11-27 15:21] dborie opened #4625 "[BUG] From + Json endpoint issue"
Hi,

#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2019-11-27 19:28] jimschubert commented on #4615
The project uses logback, not log4j. You'd need to follow the guides provided by logback, which would require an additional package.

[2019-11-27 19:52] JakeSummers opened #4626 "[BUG][typescript-fetch] When using a openapi.json with AnyOf different date formats, invalid TS is generated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-27 20:23] krystalmonolith opened #4627 "[BUG] Cannot suppress "[WARNING] Output directory does not exist, or is inaccessible. No file (.openapi-generator-ignore) will be evaluated." message."
#### Bug Report Checklist

- [n/a] Have you provided a full/minimal spec to reproduce the issue?
- [n/a] Have you validated the input using an OpenAPI validator
- [openapi-generator-maven-plugin:4.0.2] What's the version of OpenAPI Generator used?
- [yes] Have you search for related issues/PRs?
- [See Description] What's the actual output vs expected output?

##### Description

Everything in my ap

[2019-11-27 20:31] krystalmonolith commented on #4627
What are the use case(s) for this warning message?

Proposed Fix #1: REMOVE THE WARNING COMPLETELY.
Proposed Fix #2: Change it to INFO and include the missing path in the message..

[2019-11-28 04:31] tanmen opened #4629 "[BUG][typescript-rxjs] Unnecessary imports occurs when using allOf"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-28 08:46] janweinschenker commented on #4506
To prevent the contents of the package `invalidPackageName` from being generated, add the option `<generateSupportingFiles>false</generateSupportingFiles>`.

Using the options

`<generateApis>false</generateApis>`
`<generateSupportingFiles>false</generateSupportingFiles>`

will do what you intend, if I understood you correctly, i.e. will just generate the models.

Maybe this is just an issue of `n

[2019-11-28 11:33] macjohnny commented on #1133
implemented for typescript-node in https://github.com/OpenAPITools/openapi-generator/pull/4633

[2019-11-28 11:34] #4629 closed

[2019-11-28 12:40] pascal-splotches opened #4636 "[BUG][PHP] Unable to generate working client based on API-Platform OAS3 definition"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-28 12:55] #4593 closed

[2019-11-28 12:59] mitsuru793 opened #4637 "[BUG] Not resolve relative path to split files in generate command"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-28 14:21] MCOfficer commented on #2613
Apparently this was part of v4.2.1, should this be closed?

[2019-11-28 14:32] michal-filip opened #4639 "[BUG][typescript-fetch] Usage of Date(string) constructor yields Invalid Date on Edge"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-11-28 14:39] thomasphansen opened #4641 "[BUG][PHP] Parameters: style not fully implemented (relates to #4042)"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor

[2019-11-28 14:57] michal-filip commented on #4639
This is an incomplete solution which so far works well in my project. Including it as-is would however cause issues to users whose dates don't conform to RFC3339 (although they should as per [docs](https://swagger.io/docs/specification/data-models/data-types/#format))
https://github.com/michal-filip/openapi-generator/commit/426f939281965e3943868d7d6af15c75ac40c23e

[2019-11-28 15:12] reitsma commented on #4104
Just to add a use case: Mine is very simple. I just want the JAXRS interface files and the model, i.e. I use the jaxrs-spec generator.

Looking at my current hand-crafted code and serialization/deserialization done through Resteasy and JsonB, I use no annotations at all. So, a simple first step is to omit the generation of annotations for a specific serializationLibrary. In addition, I don't use p

[2019-11-28 15:24] #2613 closed

[2019-11-28 16:45] viclovsky opened #4642 "[REQ] Generate Rest-assured client for Kotlin and Scala"
### Is your feature request related to a problem? Please describe.
Rest-assured client is generated only for java language. Sometimes we need to have test client for a different language for instance on which our server is implemented.

## Describe the solution you'd like
It would be great if openapi-generator generates rest-assured client for Scala and Kotlin.
Rest-assured supports specified modu

[2019-11-28 18:15] rolandg333 opened #4643 "[Gradle Plugin]: openApiValidate - how to validate multiple yaml files ?"
##### Description

i can validate a single .yaml file using

openApiValidate {
    inputSpec = 'file.yaml'
}

But my project has several .yaml files.
I would like to validate them all before packing them up into a .zip artifact on a build step.

How ?

##### openapi-generator version
id 'org.openapi.generator' version '4.2.1'

[2019-11-28 19:35] aschugunov commented on #2062
Are there any ideas about how to fix it?

[2019-11-28 22:01] bda618 opened #4644 "[KOTLIN] Kotlin constructor for NotNull enum properties is not initialized correctly"
##### Description

[KOTLIN] Constructor initialization for data Kotlin class and NotNull enum properties is not initialized correctly.

As result a build will fail with an error: "Classifier <> does not have a companion object, and thus must be initialized here".

##### openapi-generator version

openapi-generator-cli-4.1.2.jar

##### Steps to reproduce

package com.org.model

import java.util.Obj

[2019-11-29 00:12] baurchanu commented on #2053
4Googlers:
You can disable this OOTB validation by using custom formats for date / time.
yaml
[code]
pom.xml
[code]

[2019-11-29 04:04] jonschoning commented on #3459
I just saw this bug now, unfortunately.  I'll take a look, thanks.

[2019-11-29 04:04] jonschoning commented on #2968
I just saw this bug now, unfortunately.  I'll take a look, thanks for reporting.

[2019-11-29 04:53] #4621 closed

[2019-11-29 07:55] sem4phor commented on #1905
Can this be closed? I believe this is fixed since we use formdata bodies and the genereated fetch client code looks like this:

[code]

[2019-11-29 08:25] #4641 closed

[2019-11-29 09:31] rolfschau opened #4647 "Perl client code not using auth settings"
#### Bug Report Checklist
openapi-generator 4.2.0

##### Description

I'm just experimenting with the perl client sources . So far it works, however I had to modify the code, which, I think, shouldn't  be necessary. The problem was, to pass auth settings to Role.pm.  Role.pm has an attribute cfg which takes all the params passed to the parameter $tokens. it then builds a WWW::OpenAPIClient::Config

[2019-11-29 10:21] avaliaexpert commented on #1888
Encountered the same issue with version 4.2.1

[2019-11-29 12:34] ivo500 opened #4650 "[BUG] StackOverflowError in DefaultCodegen.addProperties when a schemas with same name are referenced directly and indirectly"
#### Bug Report Checklist

- [Y ] Have you provided a full/minimal spec to reproduce the issue?
- [ Y] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?  4.2.1
- [Y ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
java.lang.StackOverflow

[2019-11-29 14:51] semtexzv commented on #3386
What is the state of this issue ? This currently blocks our project on OpenApi 3.

[2019-11-29 19:12] pychoude opened #4651 "[BUG][Kotlin] required yet nullable schema properties are not optional in generated models"
##### Description
Some schemas have required but nullable properties in our open API specification. These are mapped to non-optional in the generated models.

##### openapi-generator version

4.2.0

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

Similar issue in Java: https://github.com/OpenAPITools/

[2019-11-29 23:57] jonschoning commented on #3459
cf: https://github.com/kubernetes-client/haskell/issues/67

[2019-11-30 14:16] spprichard commented on #2721
@4brunu Where can I find docs on which libraries are supported for swift4? I see that I can pass a value to the `--library` flag, but don't know what values it can take. Here is the command I am trying currently
`swagger-codegen generate -i http://petstore.swagger.io/v2/swagger.json -l swift4 --library PromiseKit -o /tmp/test/`

This was done after installing swagger-codegen via brew, as I am on M

[2019-11-30 15:59] spacether opened #4653 "[REQ] [CORE] Please store primitive schema validations in CodegenModel"
### Is your feature request related to a problem? Please describe.

When a spec with primitive models(type=string/number/integer/boolean) then that model's validations are not included when the model for that type is generated in Java.

Looking at this samples spec:
[code]
Our produced model will keep the enums in the StringEnum model, but it will discard and not store the pattern in the StringReg

[2019-11-30 17:18] spacether opened #4654 "[BUG] [CORE] -DdebugOpenAPI option no longer works"
#### Bug Report Checklist

Debugging a spec with the -DdebugOpenAPI no longer works
However the -DdebugSupportingFiles still works and allows us to see the results from the
OpenApi spec parsing

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's t

[2019-12-01 11:43] Mordag commented on #4651
@pychoude I have created a PR based on your suggestion. Let me know what you think.

[2019-12-01 17:13] DanielRuf commented on #2939
Everything in the generated file is for a browser environment as it seems (uses `window`and much more).

[2019-12-01 17:21] DanielRuf opened #4656 "[BUG] typescript-node mixes require and import"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-01 21:33] DanielRuf opened #4657 "[BUG] malformed inline yaml string for nodejs-express-server with petstore3"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-01 21:33] DanielRuf commented on #4657
Removing a few lines of the multiline string fixes this.

[2019-12-01 21:34] DanielRuf commented on #4657
Changing the multiline string to a singleline string fixes this.

[2019-12-01 21:44] DanielRuf opened #4658 "[BUG] php-symfony creates wrong folder structure"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-01 22:35] DanielRuf opened #4659 "[BUG] php-symfony creates wrong inline parameter"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-02 06:19] twof opened #4662 "[BUG] List of missing or broken APIs moving from swagger-codegen to openapi-generator"
#### Bug Report Checklist
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?

##### Description
I'm transitioning from swagger-codegen to openapi-generator and some errors are being thrown after updating my gradle.build file.

- Subclasses of `DefaultCodegen(), CodegenConfig` can't override
  - `preprocessSwagger(swagger:)`
  - `getSwaggerType(propert

[2019-12-02 07:31] twof commented on #4662
Relevant files can be found here:
https://github.com/Yelp/swagger-gradle-codegen/blob/master/plugin/src/main/java/com/yelp/codegen/KotlinGenerator.kt
https://github.com/Yelp/swagger-gradle-codegen/blob/master/plugin/src/main/java/com/yelp/codegen/Main.kt
https://github.com/Yelp/swagger-gradle-codegen/blob/master/plugin/src/main/java/com/yelp/codegen/SharedCodegen.kt

It's actually a different proj

[2019-12-02 10:09] dkarlovi commented on #510
Since https://github.com/OpenAPITools/openapi-generator/pull/2657 was merged, does that mean Handlebars is now fully supported?

[2019-12-02 10:20] sdirnstorfer opened #4668 "[REQ] Client:Python Add default parameters to function definition"
### Is your feature request related to a problem? Please describe.

The original API declares a parameter with a default value. This value does not
show as default value in the python function definition. As a consequence I get less than optional IDE support for my functions and need to retype the value.

## Describe the solution you'd like

If the openapi defnition contains a default field in the

[2019-12-02 11:04] richardwhiuk commented on #4584
I meant to delete hasMore entirely - you can do it in yaml with `{{#^last}}`

[2019-12-02 11:21] #4383 closed

[2019-12-02 11:35] ndbroadbent commented on #86
Hello! My company has just [decided to support Crystal language](https://twitter.com/getdocspring/status/1201456718556717056), and we use openapi-generator, so I would love to work on this and release a Crystal API client for my service.

(I just realized that I should be supporting openapi-generator as well, so I've also [set up a monthly donation on opencollect](https://opencollective.com/getdoc

[2019-12-02 14:31] SsIDit opened #4669 "[BUG][KOTLIN] Invalid project structure when using @Parcelize"
##### Description

When I use gradle plugin to generate kotlin client with additional parameters for generating parcelable model, I get project with missing dependencies:
[code]
When I looked through mustache templates, I realised that there is no any android dependencies, but project needs them to use @Parcelize annotation.
##### openapi-generator version - 4.2.2

##### Command line used for gene

[2019-12-02 15:58] Jdonn1995 commented on #1095
Has anyone been able to resolve this? I've been receiving the same issue.

I'm fairly certain my issue has to do with the `allOf` keyword. Here is an example of what isn't working

[code]

When i generated the code without the `allOf` keyword, I was able to make a successful API call, but now i'm getting the same `missing discriminator field: <>` as above

[2019-12-02 17:56] sebastien-rosset opened #4671 "[BUG][Java] Discriminator propertyName incorrectly lowercased"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-02 18:19] sebastien-rosset commented on #4671
@bbdouglas  @sreeshas  @jfiala  @lukoyanov  @cbornet @jeff9finger  @karismann @Zomzog  @lwlee2608

[2019-12-02 19:15] cjbrooks12 commented on #4669
I just ran into this issue generating a Kotlin Multiplatform client. It would be nice to be able to have the `@Parcelize` annotations added with `expect`/`actual` declarations, so the models have `Parcelable` implementations for the Android client, but just get ignored on other platforms.

[2019-12-02 20:27] tobymurray opened #4673 "[BUG][Java] Generated code fails compilation; using wrong object for generated model"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [x] Bounty to sponsor the fix (

[2019-12-02 20:48] jorissteyn commented on #4636
If your models are hydrated without JSON-LD specific fields, this means your API did not send a JSON-LD response.

Digging into the issue I found the culprit in `HeaderSelector`. The client objects use `HeaderSelector` to format the `Accept` header:

[code]

But the selector simply ignores `application/ld+json` if a `application/json` is present:

[code]

This behaviour is wrong, I believe the `Ac

[2019-12-02 20:52] eriktim commented on #4583
Thanks for the suggestion @andys8. I've added this to the major refactoring that's on its way.

[2019-12-03 03:55] mikezx6r commented on #2526
Sorry I'm late to the party, but the PR does not close this ticket. It provides a delegate interface that must be implemented by code, which is not what I was hoping for. I did mention it in my comment above, but I think it got lost in the discussion around typing.

What I'm looking for is something like this for a CustomerApi.

[code]

The idea is that one would create a CustomerController that e

[2019-12-03 04:13] pmonty opened #4675 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

Want to be able to return the response headers when necessary

## Describe the solution you'd like

Trying to generate a typescript api with `*WithHttpInfo` methods in it.

## Additional context

Kind of new to openapi and got a feeling this might already be possible... 😅

[2019-12-03 08:40] ffMathy commented on #1943
I'm hitting this exact scenario as well.

The weird part is that changing it from `_long` to `long` manually in the generated `.d.ts` file does not cause a compilation error - so why is this library preventing keyword usage?

I think it is allowed as properties for interfaces, so I don't know why we are trying to prevent that.

Also, if it isn't allowed, can't we use square bracket notation?

E.g.

[2019-12-03 09:19] cjuenger opened #4679 "[BUG][NODEJS-EXPRESS-SERVER] Body data will not be processed."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-03 10:46] naivefun opened #4680 "[REQ] How to add Principal parameter to Spring interface method?"
It's quite normal to inject Principal or ServerRequest object into method parameters, is there a way to support this?

[2019-12-03 12:03] rasmusfaber opened #4681 "[BUG] NPE when validating schema with allOf with inline values"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description

Using a schem

[2019-12-03 13:35] macjohnny commented on #4656
@DanielRuf would you like to implement a fix?

[2019-12-03 14:58] jorgerod opened #4687 "[BUG] [Java]: webclient: Error in the reactive client when the path variables are a list"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-03 15:26] valeriocomo opened #4688 "[REQ] Debug mode additional property for python-flask generator"
### Is your feature request related to a problem? Please describe.

Debug mode additional property is missing for python flask generator.

## Describe the solution you'd like

I'd like to have this additional property in order to enable flask live reload feature.

## Describe alternatives you've considered

I used to manually edit generated code, adding the flag in __main__.py,. I also edited the

[2019-12-03 16:08] gigaga opened #4690 "[BUG] Ruby models order in inheritance case"
##### Description

By generating a ruby client, the models order defined in `openapi_client.rb` is incorrect in case where there is some inheritance.

##### openapi-generator version

[code]

##### OpenAPI declaration file content or url

petstore.yaml

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

1. After generating, build gem `gem build openapi_client.gemspec

[2019-12-03 18:24] tnmtechnologies opened #4692 "[JavaJaxRS][resteasy] enum value starting with a digit"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-03 20:56] bda618 commented on #3271
I have a similar issue for Kotlin, when declaring array of objects (which have properties), model is not generated.

openapi-generator version
4.2.1
OpenAPI declaration file content or url

<pre>
 Errors:
      type: array
      description: List of status messages
      items:
          type: object
          properties:
            Code:
              type: string
              description: The

[2019-12-03 21:33] spacether commented on #4600
@sebastien-rosset
Sorry, I didn't see this before I am first seeing it now.
The most robust way to handle this in python is to switch our inputs to models to use:
- positional arguments *args
- named arguments **kwargs
The python-experimental generator already uses named arguments to pass in optional parameters here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-gen

[2019-12-03 22:12] EranAvidor commented on #4690
👍 experiencing the same issue.

[2019-12-03 23:02] sebastien-rosset commented on #4600
Sounds good. How about if we apply the same "python-experimental" technique to the \_\_init\_\_ function in the "python" mustache template? This will make it backward compatible and support more than 255 arguments. I can do that.

[2019-12-04 00:07] spacether commented on #4600
@sebastien-rosset that sounds great!
So this would be for kwargs only right?
It probably makes sense for an *args update to be left as future work.

[2019-12-04 03:13] wing328 commented on #4653
Given the following parameter description (which describes the same HTTP request payload):
[code]

[code]

Are you saying defining the schema (string with pattern in this case) inline or using `$ref` should generate the code differently?

[2019-12-04 03:17] wing328 commented on #4653
`generateAliasAsModel` was introduced for backward compatibility in 4.x. We wanted to stop support generating array/map as a model but there were requests from IBM developers who prefer this way.

[2019-12-04 03:19] wing328 commented on #4653
A little bit more background on `isAlias`. It was introduced before we'd proper support of dereferencing schema. Now we've much better support of dereferencing schema, it may be removed in the future when we clean up the code.

[2019-12-04 03:21] wing328 commented on #4653
If I remember correctly, it was introduced to support enum class in Java (and of course not every language supports enum class natively)

[2019-12-04 03:31] wing328 commented on #4653
For example the Python generator sets model.isAlias=true for StringRegex when using the Python client generator
model.isAlias is turned on if the name of the model is in the typeAliases

Is it more correct to say that the Python generator doesn't generate models for primitive type at the moment but it seems to have the potential to do so using `isAlias`?

[2019-12-04 03:38] wing328 commented on #4653
[code]

[code]

I would suggest you open an issue via https://github.com/OAI/OpenAPI-Specification/issues to see if `StringRegex` defined above can be treated as a model instead of a primitive type (an alias to primitive type in this case).

[2019-12-04 09:22] #4687 closed

[2019-12-04 09:25] #2035 closed

[2019-12-04 09:36] wing328 commented on #86
@ndbroadbent thanks for becoming a sponsor of openapi-generator.

Looking forward to your PR for the Crystal client generator. If you need help, please let me know.

[2019-12-04 09:48] mosesonline opened #4698 "[REQ] typescript node should generate additional properties correctly"
### Is your feature request related to a problem? Please describe.

When an api decription has declared additional properties I cannot use the generated model for typescript-node.

## Describe the solution you'd like

The generated model should have attributes with the type of the addional properties.

[code]
=>
[code]
## Describe alternatives you've considered

none

## Additional context

none

[2019-12-04 12:33] bricox commented on #2845
I'm trying to use this with the 4.2.2 version and can't compile because of the missing AnyOf references.  This is failing for me with both c# and java.  Is it fixed in that version?

[2019-12-04 12:59] ityuhui opened #4700 "[BUG] [C-libcurl] The name of field in a struct cannot get escaped when it is the keywords of C such "enum, continue, etc" or includes "-""
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-04 13:36] wing328 commented on #4700
@ityuhui thanks for reporting the issue. We need to override the toParamName method to handle these cases.

Please refer to other generators (e.g. ruby) on how toParamName is implemented.

[2019-12-04 14:13] cvgaviao opened #4702 "[BUG] ModelUtils uses wrong variable to log inheritance problem"
##### Description

A wrong variable are being used to log, then a `null` value are written in the console:

[code]
This way it is impossible to identify which schema is not fulfilling the inheritance requirements.
##### openapi-generator version

4.2.3-SNAPSHOT

##### Suggest a fix
ModelUtils line 930 and 944.
I'm gonna fix and send a PR.

[2019-12-04 15:39] 4brunu opened #4705 "[BUG][Kotlin] models properties order change when they become optional's"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-04 15:54] VonUniGE commented on #3768
I've succeed using OAuth2 authentication by patching the client, but I would like to add this at the generator level.

Can you give me some guidance on this ? Where to start ?

[2019-12-05 00:33] jimschubert commented on #4653
This seems like it's not just string and pattern, but numbers with min/max and the inclusive and exclusive constraints are probably also affected.

I think this is more an issue with our ADT for CodegenModel and CodegenProperty. If we alias a model to a property, I think we need to retain all of the JSON Schema validation properties.

[2019-12-05 01:05] spacether commented on #4653
It would depend upon what the specific generators do with it.
For python-experimental yes, we want to connect the request.body to a primitive model which stores the validations inside it.

[2019-12-05 01:15] spacether commented on #4653
We use isAlias models to store primitive schemas in object models. It's a hack and is conceptually very close to generating primitve models. The python-experimental ModelSimple models only store one property, and that property is a non-object type.

For example here is the model OuterNumber ModelSimple class which stores a float with validations:
https://github.com/OpenAPITools/openapi-generator/b

[2019-12-05 01:30] ityuhui commented on #4700
Thank you @wing328
I will take a look at the toParamName

[2019-12-05 01:40] spacether commented on #4653
I agree

[2019-12-05 09:27] dngconsulting commented on #3869
It it possible to fix this compilation error also ?

[code]
Thanx

Sami

[2019-12-05 09:28] macjohnny commented on #3869
@dngconsulting yes, I would be happy to review your pull-request.

[2019-12-05 09:45] wing328 commented on #3768
The Python client template can be found in https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/python. Please update it accordignly and let us know if you need help with the PR.

[2019-12-05 11:58] #4698 closed

[2019-12-05 13:33] zolv opened #4710 "[BUG] Missing model files when using embedded/splitted spec files"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-05 13:52] gszyszka commented on #4496
I'm also seeing an issue with gradle 6.0 and plugin [v4.2.2](https://github.com/OpenAPITools/openapi-generator/releases/tag/v4.2.2)

* What went wrong:
An exception occurred applying plugin request [id: 'org.openapi.generator']

* Exception is:
org.gradle.api.plugins.InvalidPluginException: An exception occurred applying plugin request [id: 'org.openapi.generator']
        at org.gradle.plugin.use

[2019-12-05 15:57] #4025 closed

[2019-12-05 16:05] #4651 closed

[2019-12-05 16:17] dngconsulting commented on #3869
@macjohnny here we go => #4711 hoping that the merge will be as quick as your answer ;-)

[2019-12-06 04:52] UkonnRa opened #4715 "[REQ] JAVA NATIVE - Please add Async Handler support"
### Is your feature request related to a problem? Please describe.

Now the java generator can only generate sync handler using Java native handler, but in fact `java.net.http.HttpClient` also support async handler, so I hope this feature can be added

## Describe the solution you'd like

Add a `native-async` sub-library, and generate async handler

[2019-12-06 06:11] twof commented on #4662
Some of this was resolved with info from https://github.com/OpenAPITools/openapi-generator/compare/migration

[2019-12-06 08:04] UkonnRa commented on #3650
Thanks for the great work! But I found that this plugin will JUST generate the files outside the `target` folder and does not mark it as `src_managed`?

[2019-12-06 08:17] twof commented on #4662
Remaining issues:
- Missing or private properties on CodegenConfigurator

[code]

- Is there a `RefSchema` type? I'm looking for a replacement for `RefProperty` and `RefModel`.
- Is the `ModelImpl` equivalent just `Schema`?
- How to I get access to the type that an operation consumes.
[code]
- Is there an `UntypedProperty` equivalent?

[2019-12-06 09:28] MartinDelille opened #4717 "openapi-generator batch could not find api.yaml"
##### Description

I have to folder:
- `/Users/martin/dev/test/src` containing:
  - `petstore.yaml`
  - `config.yaml`
  - a `generated` folder where the code should be generated
- `/Users/martin/dev/test/build` where the code is generated from (`pwd`)

When generating the client from the `build` folder with the `batch` command, the `petstore.yaml` file is not found.

##### openapi-generator versio

[2019-12-06 09:37] wing328 commented on #3650
I've filed https://github.com/upstart-commerce/sbt-openapi-generator/pull/3 to update openapi-generator-cli to the latest version.

[2019-12-06 09:38] wing328 commented on #3650
@UkonnRa I would suggest you open an issue in https://github.com/upstart-commerce/sbt-openapi-generator instead.

[2019-12-06 12:46] YanDoroshenko commented on #3650
@wing328 @UkonnRa Thanks for your contributions, all merged.

[2019-12-06 13:19] gszyszka opened #4718 "[BUG] LogForging security issue in ApiClient.java"
The java code generated with options:
    generatorName = 'java'
    library = 'resttemplate'
contains security issue in the moethod:
`private void logRequest(HttpRequest request, byte[] body) throws UnsupportedEncodingException {
            log.info("URI: " + request.getURI());
            log.info("HTTP Method: " + request.getMethod());
            log.info("HTTP Headers: " + headersToString(re

[2019-12-06 14:17] PeterJFerrarotto opened #4719 "[REQ] [typescript-axios] - application/x-www-form-urlencoded - use model as parameter for high-level api function"
### Is your feature request related to a problem? Please describe.

I use OpenIdConnect for authorization, which requires the token endpoint to accept a complex model. Unfortunately, it also requires the use of application/x-www-form-url-encoded. It will successfully generate the model for it (OpenIdConnectRequest), with all values properly notated to be nullable/default undefined.
However, when i

[2019-12-06 17:50] jimschubert commented on #4717
@MartinDelille where does `api.yaml` exist in your structure? I only see `petstore.yaml`.

[2019-12-06 18:30] MartinDelille commented on #4717
@jimschubert Sorry my example was not very clear because I did it with my own `api.yaml` file. I rewrote the issue with `petstore.yaml` file.

Hope it make more sense now!

[2019-12-06 20:56] nbrugger-tgm commented on #3248
Why is the issue not closed?
Is the bug still there or isn't it tested?

[2019-12-06 23:27] EranAvidor commented on #4690
Update:
I patched the generated code with a script and turns out that the generated ruby classes are broken as well.
Downgraded to plugin version [v4.1.1](https://github.com/OpenAPITools/openapi-generator/releases/tag/v4.1.1) and the generated client is working. It also required me to downgrade `gradle`.
The bug was introduced in [v4.1.2](https://github.com/OpenAPITools/openapi-generator/releases/

[2019-12-07 02:25] UkonnRa opened #4722 "[REQ] Update to the latest http4s and Cats"
@tbrown1979, according to https://github.com/http4s/http4s/issues/390, now http4s is already using Cats and its environment(circe, cats-effect, etc.), please update the template, THX

[2019-12-07 08:10] wing328 commented on #4653
It should be independent of generators. The below specs describe the same exact payload and should output the same code.

[2019-12-07 08:35] spacether commented on #4653
One solution would be to add a field supportsPrimitiveModels to a generator. All of those which have it set to false would fully dereference primitive schemas where they are used. That's what we are currently doing. Those which have it set to true could generate primitive models and use them where referenced.

[2019-12-07 08:51] spacether commented on #4653
@wing328 do you have any ideas on how we can fix these two primitive model validation use cases?
- I could send an invalid string for StringRegex from the client side
- the server could send back an invalid string for StringRegex

[2019-12-07 14:01] cvgaviao commented on #4710
OpenAPI 3.0.2 do not allows you to reference a path the way you are doing. You are allowed to reference parameters, headers, responses, schemas, but not path !

[code]

[2019-12-07 14:02] cvgaviao commented on #4710
OpenAPI 3.0.2 do not allows you to reference a path the way you are doing. You are allowed to reference parameters, headers, responses, schemas, but not path !

[code]

[2019-12-07 16:32] jimschubert commented on #4515
@lwlee2608 can you run your spec through an online validator? `oneOf` should be an array of Schemas, but what you've presented as an example shouldn't be valid. Additionally, `oneOf` technically shouldn't have any additional properties besides `discriminator`, although I've seen this numerous times.

For example, using this spec:

[code]

You should see multiple errors in OpenAPI Generator's valid

[2019-12-07 16:54] wing328 commented on #4653
In the official spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md), there's no such thing called "primitive model". Again I would recommend you open an issue with your suggestion on "primitive model" so that they can start a discussion on it and may eventually include it in the next official release.

For your use cases, what about enhancing CodegenParameter (for req

[2019-12-07 18:36] spacether commented on #4653
The spec storee Schemas. Per the spec those schemas can define primitives. We make models from those schemas.
Spec Information
- Swagger Spec: Definitions stores Schema objects which can be primitives and include format/enum etc https://swagger.io/specification/v2/#schemaObject
- Openapi Spec: Components stores Schema objects which can be primitives and include format/enum etc https://github.com/O

[2019-12-07 18:40] spacether commented on #4653
Adding the CodegenParameter to the response operation could let us store validations and enums. We may already be covered in the request as I think it uses CodegenParameters.

[2019-12-07 19:36] jimschubert commented on #4653
@spacether I think there's some confusion around the discussion above because of "primitive model validations". There's no such thing as a "primitive model" validation and what you're referring to is primitive "model validations".

I think the discussion in the issue is sidetracked by some miscommunication around the above. If we refer to the "model validations" rather as schema validation propert

[2019-12-07 20:16] spacether commented on #4653
@jimschubert I agree with your assessment. I am writing about schema validations for primitive types. Yes the response checks should fail. For the record our enum models are describing types that are string etc including primitive types.

[2019-12-07 21:49] jimschubert commented on #4653
@spacether would you be willing to evaluate this branch? https://github.com/jimschubert/openapi-generator/tree/minor-schema-validations-bug

The bug I found was a somewhat silly programmatic issue, considering we're intending to remove ClientInputOpts:

[code]

Without this change, the test I shared above will fail because some parts of the OpenAPI object model aren't able to be referenced properl

[2019-12-08 06:57] lwlee2608 commented on #4515
@jimschubert
I have run the validator before it is valid. The schema file I was using can be found [here](https://raw.githubusercontent.com/lwlee2608/openapi-generator-testbed/oneOf-%234515/api.yaml)

[2019-12-08 07:02] lwlee2608 commented on #4515
full-blown original 3gpp schema file can be found [here](https://www.3gpp.org/ftp/Specs/latest/Rel-15/OpenAPI/TS29571_CommonData.yaml)

[2019-12-08 07:38] spacether commented on #4653
@jimschubert the interface definition would solve my concern about the response not including the validations and enums info. Our current definition of CodegenResponse.java is missing this info at: openapi-generator/modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java

@wing328 @jimschubert if this information were included in the response then I could delete the p

[2019-12-08 12:07] ybelenko opened #4726 "[REQ][PHP] Follow PSR-12 Coding Style Guide"
### Is your feature request related to a problem? Please describe.

From [PSR-2 Coding Style Guide](https://www.php-fig.org/psr/psr-2/):

## Describe the solution you'd like

1. [x] ~~Change PHP style guide link at [Guidelines For Contributing](https://github.com/OpenAPITools/openapi-generator/blob/master/CONTRIBUTING.md#style-guide) to [PSR-12 Extended Style Guide](https://github.com/php-fig/fig-

[2019-12-08 17:07] luStopai opened #4729 "[Java][Question] Use already existing class"
Hi

I'm struggling trying to map an enum to an already existing enum

Let's say I have this enum defined in my openapi.json

[code]
and that I already have this enum in my project in com.example.enums.TestEnum.

According to the documentation (https://openapi-generator.tech/docs/usage#target-external-models) first I have to use --language-specific-primitives=TestEnum "in order to keep the codegen

[2019-12-08 18:04] jimschubert commented on #4653
@spacether while prototyping my above proposal, I found a few issues with CodegenParameter as well. I have a fix that I've shared with the core team, and if it looks good I'll open a PR. I didn't start with the PR in case there are concerns about the changes to the types that I'm unaware of causing conflicts (example: getIExclusiveMaximum in CodegenParameter is spelled incorrectly, but I don't kno

[2019-12-08 19:45] vontell commented on #4668
I am also looking for this sort of feature

[2019-12-08 22:50] spacether commented on #3471
@yuji38kwmt the generators generally do not make models for non object or array types like string. The only exception to that rule is for enum classes.
Are you interested in type checking what you send to an api and receive back?
if so that is built in to the python-experimental generator.

[2019-12-09 05:17] rainercedric23 opened #4732 "[NodeJS] Open API generator for nodejs with middleware (how to implement it nicely)"
### Is your feature request related to a problem? Please describe.

In the generated code of NodeJS Server, is there a way we can implement a middleware?

## Describe the solution you'd like

 I want to implement a middleware that intercepts requests after openapi router successfully validates the request, it will only run on specific controllers ie. JWT validate base on stored tokens in MongoDB l

[2019-12-09 06:44] wing328 commented on #4732
cc @YishTish

[2019-12-09 09:49] gold-kou opened #4733 "[BUG] [GO] can't generate codes with xml tag"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor

[2019-12-09 10:30] VonUniGE commented on #3768
I can add additional properties that are used by the Mustache templates from the command line, such as:

    openapi-generator generate --additional-properties=hasAuthMethods=true,authMethods=true,isOAuth=true -g python -i my-api.json -o out

But how to set context dependant properties from the command line ?

I would like to set properties in api.mustache line 223:

       # Authentication settin

[2019-12-09 12:59] #3139 closed

[2019-12-09 14:19] fl034 commented on #2966
@wing328 could you please look into this?
I'm having the same error. Can't migrate to 4.X.X because of this.

[2019-12-09 14:21] vontell commented on #4668
This is also applicable to other client libraries that support default function/method parameters, such as Kotlin.

[2019-12-09 15:02] jbtrystram opened #4736 "[REQ] outputs field causing the error when parsing fails"
### Is your feature request related to a problem? Please describe.

I am trying your tool to generates documentation from an apenAPI spec YAML file. I have given a go to the tools, and it fails with :
`xception in thread "main" java.lang.NullPointerException: element cannot be mapped to a null key` which appears to be an error in my spec file.
However my spec file is fine with the swaggerUI visual

[2019-12-09 16:41] keke122765 opened #4738 "[BUG] Description"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-09 16:49] zolv commented on #4710
Then why isn't it failing on validation?
I've checked also using [Spectral](https://stoplight.io/open-source/spectral/) validator and it is also fine.

I've tried Your suggestion:

`api.yml`:
[code]

`api-sub.yml`:
[code]

But still the same - only `Parent.java` is generated.

[2019-12-09 16:55] 4brunu opened #4739 "[REQ][kotlin][client] make serializer configurable"
### Is your feature request related to a problem? Please describe.

The serializers provided by the kotlin client generator are not configurable.
It would be nice to have a way to specify different type adapters for gson and Moshi.

## Describe the solution you'd like

A solution to this would be exposing the builder and making the instance of gson and Moshi lazy to provide an opportunity to hook

[2019-12-09 16:59] 4brunu opened #4741 "[REQ][kotlin][client] expose http status code on errors"
### Is your feature request related to a problem? Please describe.

Currently when the server returns and http status code showing the error it's not possible to access it.

## Describe the solution you'd like

A solution would be exposing the http status code in `ClientException` and `ServerException`.

## Additional context

I need to check the http status code that the server has returned, but

[2019-12-09 17:21] spacether commented on #4114
Another solution here would be to switch from nose to pytest.
It is actively maintained per pypi: https://pypi.org/project/pytest/#history

More people/projects may prefer it per the number of github stars.
Pytest: https://github.com/pytest-dev/pytest 5.2k stars
Nose: https://github.com/nose-devs/nose 1.3k stars

[2019-12-09 17:36] cvgaviao commented on #4423
@wing328, could you please take a look on this issue and the provided PR?

[2019-12-09 18:03] spacether commented on #1260
@ryanfox why would the string solution not work in your use case?
Why not make it a string enum?
[code]

[2019-12-09 18:57] luStopai opened #4745 "[BUG][Maven] importMappings not working"
Hi

maven plugin is not working as expected when trying to use an already existing class.

Here (https://openapi-generator.tech/docs/usage#target-external-models) are the instructions to generate code using a existing class.

It works when using openapi-generator client. When I execute this
[code]
Then Pet.java, as expected, does not exist in src/main/java/org/openapitools/client/model/

But when

[2019-12-09 18:57] luStopai commented on #4729
Closed. Created a much clearer bug report #4745

[2019-12-09 18:57] #4729 closed

[2019-12-09 19:33] 4brunu opened #4746 "[BUG][kotlin][client] missing implementation of allowRequiredAsNullable"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-09 20:02] TimoGlastra opened #4748 "[BUG][TYPESCRIPT] Property names should not be sanitized, but quoted instead"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-09 20:13] macjohnny commented on #4719
the relevant files are located here: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-axios

[2019-12-10 01:27] ityuhui commented on #4700
Hi @wing328

I found "baseName" cannot be escaped for the keyword, only "name" can.
I checked this part in cpp-rest-sdk-client and cpp-qt5-client, they do not use "baseName", but use "name". So I have made the [PR](https://github.com/OpenAPITools/openapi-generator/pull/4735)

[2019-12-10 03:44] spacether commented on #2093
This has been resolved by the above pr

[2019-12-10 03:44] #2093 closed

[2019-12-10 07:31] N4zroth commented on #4245
Would you want to still have the possibility to generate "old" code, or do you want to replace it with  the newer version?
Additionally, springfox isn't really maintained anymore, so a transistion to e. g. springdoc would make sense.

[2019-12-10 07:36] wing328 commented on #4245
My take is to replace it with the newer version. If users want the older version, they can use an old version of OpenAPI Generator for that.

[2019-12-10 09:57] AIexG opened #4752 "[REQ] Refactoring break allModels variable into seperate method"
### Is your feature request related to a problem? Please describe.

Specific code generators might need to override `updateAllModels()`.

## Describe the solution you'd like

Breaking `updateAllModels()` variable `allModels` indexing apart into `getAllModels()` to prevent code duplication.

## Describe alternatives you've considered

## Additional context

I'm currently trying to improve the cpp-r

[2019-12-10 10:29] AIexG commented on #4239
For now I've switched from using `oneOf` inside array items to creating a simple schema referencing the schemas previously in `oneOf`. The request stays the same, just a new model gets created. Creates a favorable result.

[code]

[2019-12-10 11:08] Mordag commented on #4746
@4brunu I implemented this feature for the kotlin client. Did I miss something? I am happy to fix any bugs related to this feature.

[2019-12-10 11:16] 4brunu commented on #4746
@Mordag No It works ok, the problem was that this change changed a lot of things in my project, but after a better look at it, I think the previous generated code was wrong.
Thanks for the contribution by the way 👍

[2019-12-10 11:16] #4746 closed

[2019-12-10 11:53] angelomichel commented on #2154
Anyone found a way to generate the OneOf- type with an adapted mustache script? I also have this issue...

[2019-12-10 12:36] 4brunu commented on #2721
If anyone would like to help, I'm trying to implement support for URLSession.
I created this repo with an example of the generated code.
https://github.com/4brunu/openapi-generator-swift-nsurlsession

This is the class with the Alamofire implementation
https://github.com/4brunu/openapi-generator-swift-nsurlsession/blob/master/openapi/OpenAPIClient/Classes/OpenAPIs/AlamofireImplementations.swift

I

[2019-12-10 12:54] AIexG opened #4757 "[REQ] detect circular refs in models / detect if container contains models"
### Is your feature request related to a problem? Please describe.

If a schemas has a property with a ref, which references the current schema in a circle (or loop/cycle), generators in some languages (e.g. C++) might have problems with finding the classes referenced.

Example:
Store -> Pet -> Person -> Store
Store references Pet directly and Person indirectly as Person references Store again.
Pe

[2019-12-10 13:52] #4541 closed

[2019-12-10 14:04] ltomes opened #4760 "[BUG] Typescript missing import for interfaces generated from additionalProperties"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description
Typescript mis

[2019-12-10 14:33] AIexG commented on #4736
If you have an inline object inside an `allOf`, try to break the object into its own schema and use a `$ref` instead. You can also provide a minimal example specification, which should help narrowing the issue down.

[2019-12-10 15:05] ltomes commented on #4760
@djnalluri it appears that https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L26 does not contain all interface imports (specifically imports generated from `additionalProperties` does that assessment seem correct to you (It looks like you have been in this file most recently)?

[2019-12-10 17:13] djnalluri commented on #4760
I can confirm that the issue is reproducible on the latest release (4.2.2). I haven't worked with the generator beyond the mustache file but the bug is most likely in [TypeScriptAngularClientCodegen.java](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java) or its parent class.

[2019-12-10 17:53] lehphyro commented on #4268
What needs to happen to have this issue fixed?

[2019-12-10 18:00] guidoknoll opened #4763 "[BUG][TYPESCRIPT-RXJS] Format Date is converted to Date-Time"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

Hey,

when ge

[2019-12-10 20:59] lk-jeffpeck opened #4766 "[BUG] "petstore" hardcoded in tox.ini template"
See here:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/tox.mustache#L19

[2019-12-10 21:26] lk-jeffpeck commented on #763
Can anyone post an example usage? This would be helpful.

[2019-12-11 01:02] stuz5000 opened #4767 "Can avoid requirement to supply header parameters at every native API call?"
My API has a number of header parameters that appear in almost every operation.
Generally, these are constant for the client though the use of the API and its convenient to supply them as header parameters for all requests.  So,
instead of generating an API that requires I call

```operation(headerParam1, headerParam2, headerParam3, ...other params ... )```

is it possible to have the generated AP

[2019-12-11 01:50] ityuhui commented on #4700
The issue is fixed by the [PR](https://github.com/OpenAPITools/openapi-generator/pull/4735)

[2019-12-11 01:50] #4700 closed

[2019-12-11 08:52] Christian-Seiler commented on #2721
@4brunu I've also started to look into an implementation here: [Christian-Seiler/openapi-generator](https://github.com/Christian-Seiler/openapi-generator/tree/feature/swift-5)

I would love to help, however I'm not sure how much I could contribute.

[2019-12-11 09:07] 4brunu commented on #2721
I'm also not sure how to split this into tasks.
But since yesterday I made some progress with the URLSession implementation.
I would appreciate the code review and testing once it's done.

[2019-12-11 11:58] res13 commented on #2888
same for jaxrs-jersey.
This problem did not exist in version 3.3.4.
@wing328 any chances for a fix in next release?

[2019-12-11 12:20] joke opened #4770 "[BUG][typescript-angular] allOf not working without additional properties"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

The typescrip

[2019-12-11 13:17] coder82 opened #4771 "[BUG] The Kotlin client with basic authentication doesn't compile"
##### Description

I simply generate the kotlin client with basic authentication specified in the yaml file and what is generated does not compile due to a missing import.

##### openapi-generator version

4.2.2

##### OpenAPI declaration file content or url
This is an extract of the yaml:
[code]
(for YAML code) or
[code]

##### Command line used for generation

I am using the gradle generator:
[c

[2019-12-11 14:17] wing328 commented on #2238
Please use the discriminator object if you want inheritance instead of model composition: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#discriminator-object

[2019-12-11 15:50] ikesau commented on #4626
Also experiencing this issue when using `Tuple`s and `Literal`s from Python 3.7's type annotations.

[2019-12-11 19:44] dhoffer commented on #2845
This is still broken in 4.2.2 using 'spring' generator...when will this be fixed?  The generated code does not contain the inheritance defined in the openapi schema.

[2019-12-11 19:55] facundomedica commented on #4771
+1

[2019-12-11 20:40] markus-wa commented on #2238
Thanks for clearing this up @wing328  🙂

[2019-12-11 20:40] #2238 closed

[2019-12-11 22:16] iddan opened #4773 "[REQ] Option to not generate go.mod and go.sum"
### Is your feature request related to a problem? Please describe.

Currently, the generated go client library always includes go.mod and go.sum files.

## Describe the solution you'd like

I would like to have an option in the configuration file to not generate go.mod and go.sum files.

## Describe alternatives you've considered

Currently, to overcome the issue I remove the generated files after

[2019-12-12 01:40] cvgaviao commented on #4710
Yep, I'm wrong... sorry.
It was the tool and parser that I was using before that did not supported $ref in paths.  [OpenAPI spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#path-item-object) supports it.

My referenced schemas in another file are being generated without problems, but none of them is being referenced in a `mapping` statement. Maybe this is not suppor

[2019-12-12 07:16] wing328 commented on #4773
What about using .openapi-generator-ignore to skip files you don't want in the code generation process?

[2019-12-12 07:29] Hardtack commented on #2976
@macjohnny

OpenAPI spec itself should be independent of the implementations. But, according to [your comment](https://github.com/OpenAPITools/openapi-generator/issues/2976#issuecomment-506339972), You seem like to say the schema definition in OpenAPI can be override by the implementation.

In this case of issue, @affanshahid defined a schema with _snake_case_ naming. But, If someone implement ser

[2019-12-12 07:42] mortifactor commented on #4562
I ran into this problem too. It seems that it has been fixed in dart-dio part of generator: https://github.com/OpenAPITools/openapi-generator/pull/4401

[2019-12-12 08:00] wing328 commented on #2845
@bricox I think we've only added better anyOf support (beta) to the Ruby client generator. We welcome contributions to make similar enhancements to other generators.

[2019-12-12 08:01] wing328 commented on #2845
That's something we fixed in 4.x (which means the previous implementation was incorrect with reference to the OAS v3 spec). Please use discriminator moving forward for inheritance.

[2019-12-12 08:36] wing328 commented on #4766
Thanks for reporting the issue. I've filed #4776 to fix it.

[2019-12-12 08:38] wing328 commented on #4733
Don't think this will work.

Can you try `--additional-properties withXml=true` instead?

I can confirm the templates still use `withXml`

[2019-12-12 08:54] rizwansaeed commented on #3725
Is the change in behaviour a feature or bug? We're planning to move to the `csharp-netcore` implementation but this is currently blocking us. Will adding `x-nullable: true` be required going forward in order to get the behaviour from 4.0.3?

Thanks

[2019-12-12 09:18] #4771 closed

[2019-12-12 09:30] wing328 commented on #3725
@rizwansaeed `nullable` property will determine the behavior moving forward.

The previous implementation was based on OAS v2, which does not support nullable (later it's supported via x-nullable)

[2019-12-12 09:32] #3725 closed

[2019-12-12 10:12] jbtrystram commented on #4736
I solved the issue of allOf  by using the branch of @rasmusfaber  (https://github.com/rasmusfaber/openapi-generator/commit/ad64c9d28e67e3264de1ca4953c68d0e22c645d1 ) . But my point was that it was not easy to find that my issue was the inline object.
But I  had other instances where the parser does output the line it is not happy with, so I suppose what i want is already implemented :)
I'll close

[2019-12-12 10:12] #4736 closed

[2019-12-12 10:21] gold-kou commented on #4733
@wing328
Thanks for your reply.

Although tried `--additional-properties withXml=true`, json tag still remains 🤔

[code]

BTW, the reason why i used `-p` is what i got the below message when used `-D`.

[code]

[2019-12-12 10:28] gigaga opened #4777 "[BUG] ApiException does not contains Error object"
##### Description
After generating Java client, in case of error, ApiException is thrown but it doesn't contains the Error object defined in specs file.

##### openapi-generator version
release : 4.2.2

##### OpenAPI declaration file content or url
Below my spec file where Error object should be returned in case http status code is not 200.

[code]

##### Command line used for generation
[code]
wi

[2019-12-12 10:46] wing328 commented on #4733
[code]
That's what we use in the Go Petstore (xml) shell script so it looks to me the following is correct:
` --additional-properties withXml=true`

[2019-12-12 10:50] wing328 commented on #4733
Just did a test with the following and it works for me:
[code]
and here is the Pet model:
[code]

Can you try the latest stable docker image instead?

[2019-12-12 11:08] iddan commented on #4773
That would do, even though I'm not sure how to do that. But I think there should be an explicit option for this as it has semantic meaning.

[2019-12-12 11:34] skorunka commented on #2845
Hod do you guys set `supportsMultipleInheritance` for `typescript-angular` generator?
I did try `--additional-properties supportsMultipleInheritance=true` with no success. There is also no mention about this parametre in here: https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/typescript-angular.md
Thanks.

[2019-12-12 12:46] alexander-matthiesen opened #4778 "[REQ] Add a markdown generator"
### Is your feature request related to a problem? Please describe.

Currently we are trying to convert our OpenAPI-Specification into a markdown format that we can use this generated markdown in mkdocs.

## Describe the solution you'd like

I would like to have a generator that converts oas2 and oas3 files to .md files

## Describe alternatives you've considered

I tried swagger2md or even convert

[2019-12-12 13:21] #4766 closed

[2019-12-12 13:21] wing328 commented on #4766
PR merged. Please try again with the latest master.

[2019-12-12 13:28] jimschubert commented on #4778
The `html-markdown` generator outputs HTML with the CommonMark documentation support required by OpenAPI Specification. In other words, your description text can contain Markdown, and that sample script demonstrates that it will result in valid HTML.

That said, most of our generators output Markdown docs. I think it makes a lot of sense to have something standalone.

We do have an asciidoc genera

[2019-12-12 13:40] alexander-matthiesen commented on #4778
Hey Jim, thanks for the fast reply and the additional information. Unfortunately the asciidoc didn't work for me as I tried.
Currently I'm trying to implement the example from here https://openapi-generator.tech/docs/new-generator because that is a markdown-generator but we didn't have one implemented.
Would be nice if someone who already has implemented a generator could take a look at that.

[2019-12-12 15:20] kevinoid commented on #3725
@wing328 Are you saying [`required`](https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-5.15) should have no effect in OAS3?

[2019-12-12 15:48] ltomes commented on #4760
Got it, I will see if I can pull someone else in who contributes to that file.

@djairhogeuens
It looks like `additionalProperties` in the schema are not imported properly into our typescript files.
 The services build out as expected/use the additionalProperties, but the imports are missing.

I suspect [line 449](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-genera

[2019-12-12 17:17] jimschubert commented on #4778
@alexander-matthiesen I wrote the document you've linked. What exactly did you need looked at? I'd be happy to look into it.

When I'd created the document, I think there was a comment that we didn't need a standalone generator because our generators all support markdown. I think rather than require users to figure out exclusions and customization, that it makes sense to have a standalone to compl

[2019-12-12 18:00] alexander-matthiesen commented on #4778
Ah great! First let me say that is is very well written and it has brought me to my goal.
For now I have implemented my own oas to markdown generator with that "tutorial". It would be a little easier when a markdown-generator is already there. The customization could still be done over the template_dir but the whole pull and build process if something changes isn't that great for a software-develo

[2019-12-12 19:01] djairhogeuens commented on #4760
@ltomes I am afraid that I won't be able to guide you any further as I'm also not familiar with the deeper internals. What you are saying seems correct to me after quickly analyzing the code but I would have to go through it with a debugger myself to be sure. You can definitely tag me to have a look when you have a pull request.

[2019-12-12 19:34] jimschubert commented on #4778
Thanks for the clarification. This is how I understood the original request, but I was confused by the question to review. I thought maybe there was a missing pull request or something.

[2019-12-12 20:09] andrzejwp commented on #4208
+1 looks like it's still present in 4.2.2 as well

[2019-12-12 20:52] dhoffer commented on #2845
It turns out that using the discriminator in the base class did fix the code generation but then at runtime I get errors as it's apparently not valid to have a discriminator in only the base class, at runtime it complains about not being able to find an id or something in the derived class.  I have not used discriminators before.  As I read the online docs they don't seem to be relevant for allOf

[2019-12-13 07:21] ityuhui opened #4782 "[BUG] [C-libcurl] If the name of a function parameter gets escaped for C keyword, the other parts in function must use the escaped parameter name"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-13 09:14] #4636 closed

[2019-12-13 09:20] wing328 commented on #4733
If it's still an issue, please ping me via Slack.

Closing this for the time being.

[2019-12-13 09:20] #4733 closed

[2019-12-13 09:47] jerome-jutteau opened #4783 "[REQ][GO] AWSv4 signature"
### Is your feature request related to a problem? Please describe.

In order to make calls to an API using Access Key and Secret Key signature, I would need to sign my requests using [AWSv4 signature](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html)

### Describe the solution you'd like

I propose to use official `github.com/aws/aws-sdk-go/aws/signer/v4` and patch go templat

[2019-12-13 10:51] ala85 commented on #3718
Hi, any update on the above? instantiationTypes field is not really helpful at current state for collections other than plain ArrayList.

[2019-12-13 10:51] jbtrystram commented on #3152
I am seeing the same issue on the asciidoc generator. The description isn't accessible from each operation context. The field is properly parsed because adding `{{this}}` outside of the `{{#apiInfo}}` loop does outputs the description field in the `path` objects.

[2019-12-13 11:51] saschagr opened #4786 "[BUG][JAVA] SpringCodegen (<library>spring-boot</library>) and BeanValidation for type: string and format: email does not work"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-13 14:48] maxper75 opened #4789 "[BUG] Inheritance and Maps canno coexist"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description

The attached

[2019-12-13 17:50] spacether opened #4790 "[REQ] Propose Feature Matrix for for Generators"
### Is your feature request related to a problem? Please describe.

It is not clear to the generator users what swagger and openapi features are supported by our generators.

## Describe the solution you'd like

I propose adding a feature matrix like the one shown below.
We can run unit tests in CI which may pass or fail to generate our feature matrix.
A test passing fills int X or true to show th

[2019-12-13 17:53] spacether commented on #4790
@jimschubert this may be redundant with your https://github.com/OpenAPITools/openapi-generator/issues/840
but my proposal decouples our matrix from any java classes instead requiring that we write tests to demonstrate the features.

[2019-12-13 18:04] spacether commented on #4790
It looks like my suggestion is covered in https://github.com/OpenAPITools/openapi-generator/issues/503

[2019-12-13 21:04] jimschubert commented on #4790
@spacether the metadata for #840 is in PR currently. Once merged, it'll require review by maintainers of each generator.

The idea is that once that metadata is in a good place, we can define a test structure which validates these features without the need to rely on spot checking sample output. For instance, if I say that a generator supports OAuth and I've defined that in metadata, I can write a

[2019-12-13 21:11] spacether commented on #4790
This ticket is redundant and @jimschubert's description and prior tickets linked to above are a better solution.

[2019-12-13 21:11] #4790 closed

[2019-12-14 05:31] jimschubert commented on #4790
@spacether let me know if you'd be interested in evaluating some of the above work I've mentioned. I'll try to remember to tag you in related PRs.

[2019-12-14 10:46] zslajosfalvi commented on #2888
Sorry guys if I'm bother you with such problems, but I think this should be a very basic and fundamental feauture of the code generator.
Without it I can't generate proper Object definitions.
Currently I have to stick with version 3.3.4 because non of the new versions fixed this problem nor the issue #2058 or any other issues I created and are still open.
Is there any chance to get fixed this prob

[2019-12-14 14:11] Xambey commented on #4763
+ very important issue

[2019-12-14 14:33] Xambey commented on #4763
Related with: #4623

[2019-12-14 21:36] spacether commented on #4790
Thanks @jimschubert I am interested in keeping an eye on this and demonstrating it in the future on generators like the Python ones.

[2019-12-15 00:55] batousik commented on #4433
Had to time to look into the issue. As a fast fix for now, I have changed the path of openapi.yaml to a hardcoded full path to a file. And placed the file on a system.

[2019-12-15 15:43] CoreOxide opened #4796 "[BUG][Python] form-data parameter generated in snake_case, but actually passed in camelCase"
##### Description

When passing a file to a 'form/data' field in the generated client, the actual file payload is None.

We have a JSON file where we declared the 'file' parameter with a camelCase name (upgradePackage). When generating the client from this JSON file, we can see that the name is converted to snake_case in our generated controller, and the argument is now called 'upgrade_package'.

[2019-12-16 08:28] wing328 commented on #3725
@kevinoid no, I didn't say that.

Please open a new issue with minimal spec to reproduce the issue as this issue refers to the change in the type: nullable by default to nullable depending on the `nullable` attribute (or x-nullable in OAS2)

[2019-12-16 08:31] wing328 commented on #2845
There should be no need to set `supportsMultipleInheritance`, which is set to true for languages that support multiple inheritances (e.g. C++)

[2019-12-16 08:33] wing328 commented on #2845
We do not maintain the doc under "swagger.io"

For the official definition of `discriminator`, please refer to https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#composition-and-inheritance-polymorphism

[2019-12-16 09:39] Tsovak opened #4799 "[BUG] [Golang] Bug make the http Body readable again"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-16 11:41] 4brunu commented on #2721
For those interested, I just created the PR https://github.com/OpenAPITools/openapi-generator/pull/4802 that add support for URLSession instead of Alamofire.
It's possible to choose between Alamofire and URLSession with the library option.
Since this is a big PR, I would appreciate any feedback and help with testing.

[2019-12-16 13:35] bkabrda commented on #15
Hey folks 👋  I took a shot at implementing this for Java jackson clients in #4785 - I'd be glad for any feedback and/or additional testing of my code. Thanks!

[2019-12-16 13:51] purple-dragon opened #4803 "[BUG][Java][Spring] multiple files upload"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-16 13:52] tanmen opened #4804 "[BUG][typescript-axios] Unnecessary imports occurs when using nested model in allOf"
#### Bug Report Checklist
- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor

[2019-12-16 14:36] olegsu commented on #1176
What is the status of it?
I just tried to run the golang generator with error: `github.com/antihax/optional@v0.0.0-20180406194304-ca021399b1a6: invalid pseudo-version: does not match version-control timestamp (2018-04-07T02:43:04Z)`

[2019-12-16 16:04] KyDenZ opened #4806 "[typescript] filter is not used"
### Is your feature request related to a problem? Please describe.

By generating the openapi file of Loopback 4, each route can contain a filter. It is well generated by the generator, but in the code it is not used. (Tested with Axios, fetch in TypeScript)

## Describe the solution you'd like

When a function waits for a filter, this should be sent in the request

## Additional context
[code]

R

[2019-12-16 16:49] MikeMcGarry opened #4807 "[REQ] Python Improved Model Template"
### Is your feature request related to a problem? Please describe.

When using an IDE e.g. PyCharm with SDKs generated using the openapi-generator in Python. The docstring in the "__init__" method for any models is next to useless. All it says by default is

` """{modelName} - a model defined in OpenAPI". """`

There is therefore little value in the type hints and docstring when developing using a

[2019-12-16 17:04] mtohmaz opened #4808 "[BUG] [JAVA] Using an object to pass query params ends up using the toString of that class"
##### Description

When specifying the query parameters for an endpoint as an object and generate a Java SDK using openapi-generator-cli, it will actually use the class's toString as the query parameter values instead. For example, here is a sample config I have for openapi  version 3.

[code]

After generating the java SDK and make a request like so:

[code]

The request is received by my endpoin

[2019-12-16 20:36] DK99 commented on #2791
Is there someone working on supporting oneOf and anyOf to be generated by the C# client generator?

[2019-12-17 05:19] surajgautam commented on #4803
How did you fix it? I am also facing the same issue. :(

[2019-12-17 07:21] purple-dragon commented on #4803
@surajgautam  no solution for now :(

[2019-12-17 08:14] #4752 closed

[2019-12-17 08:45] purple-dragon commented on #1468
@mcac0006   unhandledException  looks a global flag ? which will generate "throws Exception" for all APIs?  if so, is there a way to tell generator which API need throws, which API doesn't need it?

[2019-12-17 08:46] purple-dragon commented on #1468
https://github.com/swagger-api/swagger-codegen/pull/7437
there is one related issue to remove "throws Exception" F.Y.I.

[2019-12-17 08:49] mcac0006 commented on #1468
Hi @purple-dragon,

I don't think there is that level of granularity in the codegen, besides declaring the `operationId` inside the spec. Therefore, `unhandledException` would be inherited to all endpoints.

[2019-12-17 08:54] purple-dragon commented on #1468
thank you @mcac0006

[2019-12-17 08:55] wing328 commented on #4782
e.g. originalParamName

Try `{{baseName}}`

[2019-12-17 09:20] codex70 opened #4814 "[REQ] CodegenModelFactory no longer supports different models"
In previous versions of the code generator you could pass through the types of classes that you wanted to use for creating code in the generator. We have extended the spring classes to generate a custom server, but this requires logic not available in the default code.
## Describe the solution you'd like

Ideally the previous implementation to be re-implemented.

## Describe alternatives you've co

[2019-12-17 09:57] purple-dragon opened #4815 "[REQ] "throws Exception" for specified APIs"
### Is your feature request related to a problem? Please describe.

[code]

it generate APIs as below, no "throws Exception" generated, but we really need "throws" in some cases:
[code]

I found two related PR
1. remove "throws Exception"
https://github.com/swagger-api/swagger-codegen/issues/7437
2. add "throws Exception" with unhandledException flag, it's global flag for all APIs
https://github.c

[2019-12-17 12:14] surajgautam commented on #4803
Hi there,

I managed to generate MultipartFile[] files by using:

content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files[]:
                  type: array
                  items:
                    type: string
                    format: binary

[2019-12-17 14:50] mdelvecchio-wasabi commented on #4579
So I take it that this is just not part of the openapi-generator functionality?  That openapi-generator just ignores default, min, and max values?

If so, I guess I need to look elsewhere.

Can someone comment please?

Thanks.

[2019-12-17 16:15] kevinoid opened #4816 "[BUG][C#] Should use nullable types for non-required properties"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-17 17:03] cjuenger opened #4817 "[BUG] [TypeScript-Angular] It is not possible to receive 'text/plain' responses with a generated client."
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-17 17:38] jirikuncar commented on #590
I have a PR #4755 with a support for multiple servers in Go experimental client.

[2019-12-17 18:18] hpollak opened #4818 "[REQ] [donet-core] Support for dotnet core 3.1"
It leads not in a unresolveable Problem to use csharp-netcore to generate client-code for .netcore 2.x but Dotnet-core 3.1 has LTS. You can port the generated code to 3.1 but 3.1 should supported by the generator.
I generated the Code from kubernetes.json - Swagger-File.

It works after a view corrections, but there are a lot of warnings (CS0472) caused by the null-checks, the functions use types

[2019-12-17 18:48] wrssmi commented on #2192
Support of multipleOf in `CodegenProperty` **and** `CodegenParameter` should be implemented. Currently only CodegenParameter has the field multipleOf.

[2019-12-17 18:59] facundomedica opened #4819 "[BUG][Kotlin] Query params are converted from snake_case to camelCase"
##### Description

A query param that is in snake case is converted to camelCase in the generated code, so the requests do `myendpoint?deviceId=AAAAA` instead of `myendpoint?device_id=AAAAA`

[code]

##### openapi-generator version

[code]

##### OpenAPI declaration file content or url

[code]

[2019-12-17 19:11] wrssmi opened #4820 "[BUG] apiNameSuffix missing openapi-generator-maven-plugin"
##### Description
It is not possible to set the apiNameSuffix via openapi-generator-maven-plugin

##### openapi-generator version
4.2.2

##### Suggest a fix
add Parameter to openapi-generator-maven-plugin as modelNameSuffix

[2019-12-17 19:28] aholbreich commented on #476
A desired fix! any timeline?

[2019-12-17 19:59] mtohmaz commented on #4808
@lwlee2608 @Zomzog @karismann is there any update regarding this? Wanted to know if this is a known issue that will be fixed soon

[2019-12-17 21:34] tkinz27 opened #4822 "[BUG] Python Generated Code is always parsing responses as json even if the response type is string"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-17 21:36] tkinz27 commented on #4822
Sorry i know this is not the most complete bug rep

[2019-12-18 01:30] wing328 opened #4823 "Python (2.x) Flask tests in Travis failed"
[code]

Ref: https://travis-ci.org/OpenAPITools/openapi-generator/builds/625992917

We've commented out the tests in pom.xml for the time being.

[2019-12-18 02:04] wing328 commented on #4818
@hpollak we definitely welcome contributions to support dotnet core 3.1. May I know if you've time to contribute the enhancement?

cc @mandrean (2017/08), @jimschubert (2017/09), @frankyjuang (2019/09)

[2019-12-18 06:07] wing328 commented on #1176
Are you using the latest stable version?

在 2019年12月16日週一 下午10:36，Oleg Sucharevich <notifications@github.com> 寫道：

[2019-12-18 07:28] #4623 closed

[2019-12-18 07:42] olegsu commented on #1176
@wing328 latest I guess from example with Docker https://github.com/OpenAPITools/openapi-generator#16---docker
[code]

[2019-12-18 08:41] wing328 commented on #1176
Please do a docker pull first

在 2019年12月18日週三 下午3:42，Oleg Sucharevich <notifications@github.com> 寫道：

[2019-12-18 08:56] wing328 commented on #4823
@aadibajpai can you please take a look when you've time? It could be similar to #3286

[2019-12-18 09:00] aadibajpai commented on #4823
Sorry, I'm totally plagued by other stuff now. No time at all :(

[2019-12-18 09:06] wing328 commented on #4823
No worry. Thanks for the prompt reply.

[2019-12-18 10:45] tmakin opened #4829 "[BUG][aspnetcore] Documentation : operationModifier can't be partial"
##### Description
Very minor issue.

The help text for `aspnetcore` generator suggests that the `operationModifier` option can be partial. This is not possible in c# and is not implemented in the generator (it's just the help text that is wrong)
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerC

[2019-12-18 14:41] prodanov opened #4832 "[REQ] Allow JavaJaxRsSpec Generator to generate asynchronous APIs"
### Is your feature request related to a problem? Please describe.

I'm using the model generation and API generation of the JaxRsSpec generator and I like it a lot as it gives me a lot of freedom in implementing the server. Quite Specific I'm using it with Quarkus and in order to have asynchronous routes in quarkus you API has to return CompletionStage<SomeResponseType>. CompletionStage is a clas

[2019-12-18 14:43] prodanov commented on #4832
Actually I have a fix locally that is pretty simple. With a bit more effort I can prepare a PR.

[2019-12-18 15:00] jirikuncar opened #4833 "[BUG][Go] respect initialisms or acronyms in names"
#### Description

Names in generated Go clients do not respect recommended [style](https://github.com/golang/go/wiki/CodeReviewComments#initialisms).

[code]

##### openapi-generator version

all

##### Related issues/PRs

https://github.com/golang/go/wiki/CodeReviewComments#initialisms

##### Suggest a fix

Override `GoExperimentalCodegen.toParamName` method.

[2019-12-18 16:00] macjohnny commented on #4817
duplicate of https://github.com/OpenAPITools/openapi-generator/issues/2035

[2019-12-18 16:00] #4817 closed

[2019-12-18 16:16] #4804 closed

[2019-12-18 17:46] 4brunu opened #4834 "[BUG][kotlin][client] Wrong date-time object by default"
- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https:

[2019-12-18 18:03] hpollak commented on #4818
@wing328 I will try to find time for contribution

[2019-12-18 20:12] ktalebian opened #4836 "[REQ] Possible to generate a client directly from server resource endpoint?"
I'm adding a SwaggerBundle to my dropwizard application and it adds a `/openapi.{json|yaml}` endpoint and generates the OpenAPI spec from using the `io.swagger.v3.oas.annotation` annotations that I have.

Is it possible to use this endpoint as the input spec path instead of a file? Alternatively, is there a maven generator to generate the OpenAPI spec file from the resource endpoint that I can the

[2019-12-19 02:23] zawataki opened #4837 "[REQ][Java] Enum name should have underscore in case the value is pascal case"
### Is your feature request related to a problem? Please describe.
If string enum value in OpenAPI definition is pascal case, the enum name on generated Java client will be named without underscores like below:
[code]

## Describe the solution you'd like
I think that should be named with underscores for readability like below:
[code]

## Describe alternatives you've considered
Nothing.

## Additio

[2019-12-19 03:30] #4786 closed

[2019-12-19 05:04] zawataki commented on #1053
I ran into the same problem using the latest `v4.2.2` release and `dateLibrary: java8`.

[2019-12-19 05:54] ityuhui commented on #4782
Thank you @wing328

I will submit a PR for this issue.

[2019-12-19 06:53] Christian-Seiler commented on #2721
I've tested your Code with my API, and have no issues so far.

One thing I'd like to note however. Could you add CaseIterable to the enum model template?

[2019-12-19 06:59] MiguelAraCo commented on #2610
Getting the same error while trying to generate an HTML representation of the API.

[2019-12-19 08:02] emileonhardt opened #4840 "[BUG][JAVA][spring-mvc] Generated Code for Map of Maps Return Type does not compile"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-19 08:40] ityuhui commented on #4782
This issue is fixed by the [PR #4838](https://github.com/OpenAPITools/openapi-generator/pull/4838)

[2019-12-19 08:40] #4782 closed

[2019-12-19 09:20] 4brunu opened #4842 "[REQ][Swift] make Enum's conform to CaseIterable protocol"
### Is your feature request related to a problem? Please describe.

It would be nice to make the enums conform to CaseIterable protocol for the Swift compiler to be able to generate a property called `allCases` that provides an array of all cases in the enum.

## Describe the solution you'd like

I will try to create a PR that makes the enum's conform to this protocol.

[2019-12-19 09:41] 4brunu commented on #2721
@Christian-Seiler Just to make sure, you did test the URLSession implementation, right? (I'm asking because I have several open PR's right now 🙂 )
I have also created https://github.com/OpenAPITools/openapi-generator/pull/4843 to add CaseIterable to the enum's.

[2019-12-19 09:59] Lumyo opened #4844 "[typescript-fetch] Multipart/form-data doesnt work with in with openapi 3.0.1"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

- [ ] [Optional] Bounty to spons

[2019-12-19 10:24] winterwurzel opened #4845 "[BUG][JAVA] incorrect consumes for formData even though defined"
##### Description

I have several OpenApi v2 files which consume both regular JSON-data and formData. Even though consumes is defined at root level via:
[code]
I still get the following warning:
[code]
Producing an unusable DefaultApi with calls containing UNKNOWN_BASE_TYPE as parameters where "in: formData" is defined.

##### openapi-generator version

openapi-generator-cli-4.2.2.jar

##### OpenA

[2019-12-19 11:37] Christian-Seiler commented on #2721
@4brunu Yes. I'm testing #4802

I've run in an issue there:

When calling ```routeGetWithRequestBuilder().execute{ ... }```

```Requestbuilder.execute``` gets called instead of ```URLSessionRequestBuilder.execute```

If I separate the initialisation and execute into:

        let builder = routeGetWithRequestBuilder()

        print(builder)

        builder.execute { (response, error) -> Void in

[2019-12-19 12:08] 4brunu commented on #2721
Hum that's weird...
I have tested it now and it's working.
It's works also on the units tests.
Check here for example

https://github.com/4brunu/openapi-generator/blob/cfc33d3c7314a8874d9fb90cd673226f828082ce/samples/client/petstore/swift4/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift#L33-L40

Can you create a sample project that show's the issue please?

[2019-12-19 12:16] ffMathy commented on #4748
I agree with this. Everything should always be wrapped in quotes. There is no downside to doing so.

[2019-12-19 12:36] Marvin1912 commented on #3718
Hi @ala85
unfortunately I'm not able to push any changes on a feature branch. Unless someone grant me the rights, there's nothing I can do.

[2019-12-19 13:53] Christian-Seiler commented on #2721
I've got it to work.

The issue was when I added the api as a swift package to the project. Once I created an Xcode project, built the framework and imported that, the result came in correctly.

[2019-12-19 13:55] jirikuncar commented on #440
There is a same problem in Go(-experimental).

[code]

when using a param with `Accept: application/json; param=foo` only the `application/json` type from 300+ responses gets picked up.

[code]

[2019-12-19 14:18] wing328 commented on #4833
There were discussions on this before. I think the best way is to provide an option allowing users to provide a mapping (e.g. HTTP => Http) on special words that need to be handled differently.

[2019-12-19 16:09] dsudzy commented on #2384
Im still experiencing this issue with typescript-node  `Namespace '"http"' has no exported member 'ClientResponse'. return new Promise<{ response: http.ClientResponse; body: string;  }>((resolve, reject).`  I am using version generator version 4.2.3. was the fix #2452 added to this release?

[2019-12-19 16:16] vmorris opened #4847 "[BUG] [PYTHON] Python client decodes file to string and fails to write bytes"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-19 17:04] #4467 closed

[2019-12-19 17:07] #4460 closed

[2019-12-19 17:32] mgwoj opened #4848 "[BUG] [AsciiDoc] Add option to not generate metadata"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-19 18:15] spacether commented on #4807
@MikeMcGarry the python-experimental model classes have description of their class variables and the arg and kwarg inputs for the model. See an example here:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python-experimental/petstore_api/models/pet.py#L114

Does that meet your needs?
If so, we may want to also sue that code in the python client.
Note: we also

[2019-12-19 18:29] spacether commented on #4807
Related: https://github.com/OpenAPITools/openapi-generator/issues/4600

[2019-12-20 00:03] jimschubert commented on #4778
Added a new generator via #4811.

[2019-12-20 08:31] skchande opened #4849 "Openapi-generator uses imports that do not exist"
##### Description

I am using openapi-codegen version 4.2.2 and openapi specification 3.0.0 on a Windows 10 Enterprise 64bit system to generate a java server API from a yaml file.
I also opened a stackoverflow question to get a possible answer. But currently I'm not sure if I have to look for the error at my place or at openapi-codegen. Therefore I have opened my first issue here today. If this is

[2019-12-20 09:18] mathias-scheer opened #4850 "[BUG] jaxrs-cxf producing xml annotations with enum (instead of json)"
##### Description
Java enums are produced with annotations of javax.**xml**.bind.annotation.* whereas it should be com.fasterxml.*jackson*.annotation.* only. But those **JSON** annotations are missing, though it’s jax-rs!

##### File which contains the bug
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/enumClass.mustache

Th

[2019-12-20 09:42] #4705 closed

[2019-12-20 10:06] #4741 closed

[2019-12-20 10:08] #4739 closed

[2019-12-20 11:00] skorunka commented on #2845
@wing328 Alright, but how to set `supportsInheritance` to `true` for `typescript-angular` ?

[2019-12-20 11:42] skorunka commented on #2845
@wing328 According to the link you have provided for discriminator object, it's not required for simple inheritance. With latest version `1.0.8-4.2.2` the inheritance for `typescript-angular` is not generated at all. With `0.0.7-3.3.4` it works as expected. I'm a bit confused with the communication in this thread so could you please gimme a hint if I should stick with 3.3.4 or the inheritance is f

[2019-12-20 15:20] #4834 closed

[2019-12-20 16:44] man-at-home commented on #4848
I think this could be useful. At the moment I integrate the output into an orchid site, but including into other markup would be another option.

In the meantime, you could reach the same effect with a customized template (/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache), removing unwanted markup there, but I will look into it.

[2019-12-20 17:20] rahulsom opened #4851 "[REQ] Support AbortController in Typescript-Fetch"
### Is your feature request related to a problem? Please describe.

The Fetch API supports attaching a signal, and using that to abort requests. This is particularly helpful when building SPAs which background a lot of requests, and the user navigates to an area of the app where some requests are no longer useful. It improves performance for the user if we can cancel pending requests so newer requ

[2019-12-20 17:53] nmische commented on #4799
I just ran into this issue yesterday and was planning to submit a similar bug report. Is there a PR open to address this issue?

[2019-12-21 02:01] #4778 closed

[2019-12-22 06:14] #4114 closed

[2019-12-22 08:31] #4783 closed

[2019-12-22 08:32] wing328 commented on #4722
May I know if you've time to contribute the enhancement?

[2019-12-22 12:23] ybelenko commented on #4726
@wing328 Don't you think we should keep it open until all PHP generators adjust their linters to comply PSR-12? Or they can leave a message about current code formatting status at least?

[2019-12-22 18:49] rafalkrupinski commented on #763
@Jyhess any help here? :)

[2019-12-23 05:46] wing328 commented on #4726
Right, just reopened.

[2019-12-23 10:09] Tohnmeister commented on #3935
I stumbled upon this issue too. I've created a fork and a commit that fixes this issue. Although I'm a bit in doubt whether it's the correct way to go. Mainly due to being unfamiliar with openapi-generator and possible other ways to fix this issue.

You can see the commit over here: https://github.com/Tohnmeister/openapi-generator/commit/e89977e92d582651763f4dbccc04d908f0650e3d#diff-f61af8a4c4eb27

[2019-12-23 11:21] mgwoj commented on #4848
Thank you @man-at-home for super fast fix. It works very well.

[2019-12-23 11:21] #4848 closed

[2019-12-23 14:27] Tohnmeister commented on #3304
Wouldn't adding `id` to the reserved word list in https://github.com/OpenAPITools/openapi-generator/blob/2949b53820b450bd149938370aaa78f05168bcb2/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java#L104 be sufficient?

[2019-12-23 14:39] sesamzoo commented on #4492
@donaldswartz, `GenerateTask`'s parameters would need to be annotated, so the link should be https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt

[2019-12-24 13:24] Tsovak commented on #4799
@nmische  I searched the existed PR but could not find it. I tried to open PR but I didn't have access. So we need to wait for the OpenAPI Team.

[2019-12-24 16:03] richardwhiuk commented on #4271
@AsadMGradex I'm disappointed you've had a bad experience with the Rust Server generator.

I've raised a PR to fix the compatibility issues with Rust 1.39 - keeping up with the Rust ecosystem is a fair effort at the moment.

I'm assuming that the rest of your comment is a reference to the generator currently producing code which targets OpenSSL 0.9 / Hyper 0.11?

Sadly, these are all breaking chan

[2019-12-24 17:07] coreysprague opened #4865 "[BUG] [dart][dart-dio] generator doesn't supported nested schemas whose name contains the word "List" or "Map""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? master
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to

[2019-12-24 17:46] tbrown1979 commented on #4722
@UkonnRa @wing328 I don't have the time to contribute this update, sorry. Hopefully someone else can pick this up in the future!

[2019-12-24 19:29] ericpetrowiakjelli opened #4866 "[BUG][JAVA][JAX-RS Jersey 2] Generated api for a Post with multipart/form-data is not able to upload file"
#### Bug Report Checklist

- [ X] Have you provided a full/minimal spec to reproduce the issue?
- [ X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ X] What's the version of OpenAPI Generator used?
- [ X] Have you search for related issues/PRs?
- [ X] What's the actual output vs expected output?

##### Description
I am tryi

[2019-12-25 07:07] nmandya commented on #1976
Is there any update on this? I just tried with both version 4.2.2 and 4.2.3 and the schemas defined under components/schemas and referenced using $ref are not included in the generated HTML documentation. Thanks.

[2019-12-25 18:42] spacether commented on #4823
This appears to be caused by the connexion library.
The library was allowing installations on newer versions which didn't support py27.
This diff https://github.com/OpenAPITools/openapi-generator/pull/4765
Pins the connexion library to working versions for older python versions. @wing328 this may now be working in master. I am away from a computer and unable to test iy right now.

[2019-12-25 20:35] 4brunu commented on #2721
***TLDR:*** In the new Swift 5 generator, which http client should be the default option? URLSession or Alamofire?

Hey, I have created a Swift 5 generator here https://github.com/OpenAPITools/openapi-generator/pull/4086.
But I have one question that I would like to have your opinions.
In this new generator, I have introduced support for URLSession.
My question is, which one should be the default

[2019-12-25 22:18] 4brunu opened #4867 "[BUG][kotlin][client] Request date converter wrong default behaviour"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-25 22:42] Christian-Seiler commented on #2721
I think URLSession should be default.

I've tested the URLSession implementation and use it in my project. I have found no issues so far.

[2019-12-26 07:05] #3503 closed

[2019-12-26 15:15] Xambey commented on #4170
@macjohnny I suggest putting this in the settings. I do not agree that the date should be just a string. In the project that I am developing, the date is transmitted in ISO format (ex 2019-12-26T14:46:56+00:00 - date or 2019-12-26T14:46:56Z - date time) and this standard is used a lot. The option that you offer will result in the parameter having the date format specified by the locale (this is ne

[2019-12-26 16:46] sebastien-rosset opened #4868 "[BUG] NPM high severity vulnerabilities while running UTs"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-26 17:27] Xambey commented on #4170
PR for fix https://github.com/OpenAPITools/openapi-generator/pull/4869

[2019-12-26 18:35] ericpetrowiakjelli commented on #4866
I have also tried to set the library to jersey1. This does make a multipart request, however due to the schema, it looks like it only sends the class as a string.
The schema that is used is com.sun.jersey.multipart.FormDataBodyPart. Which I guess is not something that is able to be converted into the multipart field and is treated like a regular java class.

Do I need to update the yaml file to ch

[2019-12-27 07:04] anoop4tech opened #4871 "Using graphql-schema generator gives files with extention ".graphql", However spring requires with extenstion ".graphqls" files"
##### Description
Using graphql-schema generator gives files with extention ".graphql", However spring requires with extenstion ".graphqls" files

##### openapi-generator version
openapi-generator-cli
Version 4.2.2

##### OpenAPI declaration file content or url
http://petstore.swagger.io/?displayOperationId=false

##### Command line used for generation
openapi-generator generate -i petStore-OpenAP

[2019-12-27 08:02] wing328 commented on #4871
Looks like `.graphql` is the official one: https://github.com/graphql/graphql-spec/issues/203#issuecomment-242140024

What about asking https://www.baeldung.com/spring-graphql to support `.graphql` instead?

[2019-12-27 12:24] Tohnmeister opened #4873 "[BUG] [python-flask] invalid `.from_dict` generated when using object as query parameter"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
4.2.2
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
I would've expected this to

[2019-12-27 15:40] jmini commented on #4820
This is already the case for me:

All additional properties can be specified in an `<additionalProperties>` section. Example:

[code]

Or did I not understood your question?

[2019-12-27 16:36] blackdev1l opened #4875 "[REQ][Typescript-Axios] string format date should be Date params and not String"
### Is your feature request related to a problem? Please describe.

given the example:
[code]

when i generate a typescript-axios client, the method `userGet` method created is this:

[code]
it should be `day: Date` instead of `day: string`, if i generate the client using `format: date-time` i got the expected behavior:

[code]
## Describe the solution you'd like

I think it should be easy to impr

[2019-12-27 16:37] blackdev1l commented on #4875
paging @TiFu (2017/07) @taxpon (2017/07) @sebastianhaas (2017/07) @kenisteward (2017/07) @Vrolijkx (2017/09) @macjohnny (2018/01) @nicokoenig (2018/09) @topce (2018/10) @akehir (2019/07) @petejohansonxo (2019/11)

[2019-12-27 20:55] spacether opened #4876 "[REQ] python-experimental remove special handling of primitive models with validations and enums"
### Is your feature request related to a problem? Please describe.

Per our master branch update, operation responses now include validations and enums.
Direction from the core team has been to not produce models of primitive types
https://github.com/OpenAPITools/openapi-generator/commit/88efb28506be04db6a11a81cfcc3ebefa4e8d833

## Describe the solution you'd like

Update the Python-experimental e

[2019-12-27 23:32] #4271 closed

[2019-12-28 00:53] dalewking opened #4878 "[Dart][BUG] Dart Generation does not work correctly unless all files are generated"
### Is your feature request related to a problem? Please describe.

Related to #3828. Due to the way "part" is used in apilib.moustache you cannot filter out generated apis, models, or support files because each is referred to with a part statement even if they are not generated.

## Describe the solution you'd like

That part statements are not generated if the particular file is excluded from ge

[2019-12-28 19:36] selankon opened #4879 "[BUG] [Javascript] Deserialization problem on model responses"
##### Description

When a response is defined on the .yml as an object, there are a problem with the serialization of the response: the object is empty.

This happen because the response object should be parsed as JSON before enter to the `constructFromObject` function, used to serialize.

##### openapi-generator version

[code]
##### OpenAPI declaration file content or url

[code]
##### Command l

[2019-12-28 21:22] GeorgeHahn opened #4880 "[REQ] `useTags` config option for csharp-netcore"
I would like to be able to generate a client for a whole API rather than a client for each tag.

It looks like the java client generator offers a `useTags` option that can create a combined API client. This would be great to have in the csharp-netcore generator.

[2019-12-29 01:38] sebastien-rosset opened #4881 "[BUG] [Go] Missing support for additionalProperties in golang"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-12-29 03:40] fengchangfight opened #4882 "[Announcement] How does open api generator handle api gateway url routing to different actual service endpoint"
let's say I'm using spring cloud gateway which is routing url /api/v1/foo to the actual service endpoint /api/what/the/heck hold by springboot, obviously I need to have path set to /api/v1/foo in the swagger yaml file because this is what is exposing to the user, but that would end in having the generated interface code with @RequestMapping(value="/api/v1/foo") rather than @RequestMapping(value="/

[2019-12-29 06:55] #3295 closed

[2019-12-29 08:00] Mordag commented on #4867
@4brunu I've worked on this PR. The reason for keeping "toString" was to avoid breaking code. Before the toString method was always used. It is true that the toString is indeed the incorrect behaviour, but I would say offering the choice between the old and new way is much better.

[2019-12-29 08:21] #2195 closed

[2019-12-29 10:18] 4brunu commented on #4867
@Mordag First of all thanks for your PR 😃
I think you are right, we should keep the toString option to give a choice to the users.
But I think the toJson should be the default option, because it's the correct behaviour, and if someone needs the old behaviour they can enable it.
What do you think?

[2019-12-29 12:25] olegsu commented on #3829
Any update on the PR guys?

[2019-12-29 12:37] Mordag commented on #4867
Yeah that sounds good. :+1:

[2019-12-29 15:52] ethan92429 opened #4885 "[Python] Recursive/Cyclic definitions cause import error in Python-experimental"
The problem is that with the changes to have the class property types used directly, circular type referencing or recursive definitions doesn't seem to work anymore:

##### OpenAPI declaration file content or url
[code]

This should be a valid spec, but the generated python attempts to reference the Dog class in the definition of the Dog class - which clearly doesn't work. This causes a circular i

[2019-12-29 16:39] ethan92429 commented on #4885
@spacether I attempted a fix. See here: #4886

[2019-12-29 16:54] 4brunu commented on #2721
@Christian-Seiler thanks for your opinion, I have changed the default http client to URLSession.
If someone could please help to review the Swift 5 generator PR https://github.com/OpenAPITools/openapi-generator/pull/4086 I would appreciate 🙂

[2019-12-29 18:11] selankon opened #4887 "[BUG][DART] Method listFromJson isn't defined on array of enums"
### Description

When I define inside an object a property that is an array of enums, the generated code call a method `listFromJson` that is not defined inside the enum model causing build problems.

##### openapi-generator version

[code]
##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Just copy the .yml definition

[2019-12-29 22:43] spacether commented on #4653
The concerns raised here have been addressed in the above #4762 diff
Models an operations now store validations and enums on operation.request.parameter, and operation.response. Even if we have no primitive models we have access to all the required validation and enum requirements for primitive, map and array data in those locations.
Prior to that PR, operation.response did not include validation

[2019-12-29 22:43] #4653 closed

[2019-12-29 23:21] jimschubert commented on #4653
@spacether thank you for verifying the fix and for summarizing here!

[2019-12-30 02:37] jimschubert commented on #4423
Fixed by #4503 please evaluate and let us know if it needs to be reopened.

[2019-12-30 02:37] #4423 closed

[2019-12-30 02:37] jimschubert commented on #1685
Fixed by #4503 please evaluate and let us know if it needs to be reopened.

[2019-12-30 02:37] #1685 closed

[2019-12-30 02:38] jimschubert commented on #2928
Fixed by #4503 please evaluate and let us know if it needs to be reopened.

[2019-12-30 02:38] #2928 closed

[2019-12-30 02:38] jimschubert commented on #3058
Fixed by #4503 please evaluate and let us know if it needs to be reopened.

[2019-12-30 02:38] #3058 closed

[2019-12-30 05:09] davinchia commented on #417
This is also biting me with the following spec and 4.2.2:

[code]

this gives
[code]

and the discriminator is set to the class's name instead of the specified mapping. There also isn't any `JsonTypeInfo` annotations on the classes.

[2019-12-30 07:18] wrssmi commented on #4820
`CodeGenMojo.modelNamePrefix` and `modelNameSuffix` is available `CodeGenMojo.apiNameSuffix` not. Why should I use `additionalProperties` in that case?

[2019-12-30 08:09] jmini commented on #4837
You could use `x-enum-varnames` to influence the name of the enum:

[code]

[2019-12-30 09:57] sagikazarmark opened #4890 "[REQ] Support RFC7807 problem response type"
### Is your feature request related to a problem? Please describe.

[RFC7807](https://tools.ietf.org/html/rfc7807) is an error response specification. It comes with its own Content-Types:

- `application/problem+json`
- `application/problem+xml`

Unfortunately the Content-Type checks does not match these.

I use the generator for generating Go code, the affected lines are https://github.com/OpenAP

[2019-12-30 15:15] ivarreukers commented on #417
Note that if you upgrade to an OpenAPI specification instead of swagger 2.0 and use f.e. the `<library>jersey2</library>` then it does work. Also check out this stackoverflow post: https://stackoverflow.com/questions/59252417/generate-a-property-as-schema-definition-in-openapi-3-0

[2019-12-30 19:23] akutz commented on #741
I'm still hitting this issue with the Golang generator for the [HAProxy dataplane API](https://www.haproxy.com/documentation/dataplaneapi/latest/). You can download their OpenAPI spec file from the top of the linked page (a direct link isn't working).

[2019-12-30 20:46] akutz commented on #741
FWIW, I wrote a quick `Makefile` target to remove the duplicate options and fix any vestigial imports:

[code]

[2019-12-30 23:55] davinchia commented on #417
Might be mistaken - this should be on OpenApi 3.0.

Silly me. The `JsonTypeInfo` annotations are Jackson, while the default uses Gson, which has terrible polymorphic support and probably explains why this is misbehaving. Confirm changing to Jersey2 fixed it. Thanks @ivarreukers!

[2019-12-31 03:48] searlin opened #4892 "[BUG][C#] There is no Default memeber in Configration for the example document"
Regarding to the C# client language, the auto generated readme says below:

![doc](https://user-images.githubusercontent.com/10204632/71609427-4e454100-2bc3-11ea-96b3-981162831c6e.png)

But there is no Default defined in the Configuration class, thus if I use the example, it can’t be built successfully

[2019-12-31 16:08] tonymurphy commented on #50
I was trying to use openapi to generate a client for keycloak - and it doesn't work because requestBody of content type `application/x-www-form-urlencoded` don't seem to be supported? it's not clear in the documentation tbh

`openapi: 3.0.0
info:
  title: Keycloak Open ID Connect API
  version: '1.0'
  description: Open API Definition for Authentication
servers:
  - url: 'http://localhost:8080'

[2019-12-31 19:26] AProts opened #4894 "[typescript-node][BUG] create getter/setter for `defaultHeaders` property"
**Steps to reproduce**
1. generate apiclient for typescript-node
2. check `defaultHeaders` property in apiclient class: it's not possible to get or set it

 version of OpenAPI Generator used: Master (4.2.3-SNAPSHOT)

**Actual output**
protected defaultHeaders : any = {};
let localVarHeaderParams: any = (<any>Object).assign({}, this.defaultHeaders);

**Expected output**
protected _defaultHeaders :

[2019-12-31 19:43] AProts opened #4895 "[typescript-node][BUG] all supported authentication method (not configured) applied to request"
**Actual output**
[code]

**Expected output**
[code]

#### Bug Report Checklist

- [+] Have you provided a full/minimal spec to reproduce the issue?
- [+] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [+] What's the version of OpenAPI Generator used?
- [+] Have you search for related issues/PRs?
- [+] What's the actual output

[2020-01-01 20:07] ryannjohnson opened #4902 "[BUG][Typescript-node] Cannot find name 'RequestFile'"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-01 22:47] spacether opened #4904 "[BUG] [CORE] Composed Schema discriminator map incorrect with oneOf/anyOf"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-01 22:56] spacether commented on #4904
For reference, if we used:
[code]
We hit a stack overflow because ModelUtils..getAllParentsName infinitely loops back and forth between parent and child schemas, as does the method addProperties

[2020-01-01 23:21] devhl-labs opened #4905 "[REQ] [C#] Add a CancellationToken to overloads"
When generating C# from an API's specifications, can we have overloads added that will allow us to pass in a cancellation token?  This way the caller can cancel the request if needed without waiting for whatever the timeout value is.

Below looks like a similar request for a different generator:

https://github.com/OpenAPITools/openapi-generator/issues/3383

[2020-01-02 05:26] #4823 closed

[2020-01-02 09:20] AlexanderUldall commented on #3718
Hello @wing328 is this something you or another core contributor could assist with?

[2020-01-02 09:31] wing328 commented on #3718
@Marvin1912 please have a look at https://github.com/OpenAPITools/openapi-generator/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements on how to submit a PR with your enhancement.

[2020-01-02 11:12] tonymurphy opened #4908 "Java Maven Feign x-www-form-urlencoded codegen broken"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-02 12:21] #699 closed

[2020-01-02 12:21] #2721 closed

[2020-01-02 12:21] #4842 closed

[2020-01-02 13:09] #230 closed

[2020-01-02 13:09] wing328 commented on #1966
The fix is available in the newly-added swift5 generator so closing this one instead.

[2020-01-02 13:09] #1966 closed

[2020-01-02 14:08] godrose opened #4909 "[BUG][JAVA] Unable to compile newly added generator code"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

##### openapi-generator version

Version: 4.2.3

##### Steps to repro
Follow the steps outlined at https://openapi-generator.tech/docs/c

[2020-01-02 17:07] ethan92429 opened #4912 "[Python] Multilevel inheritance discriminator support"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? 4.2.3
- [x] Have you search for related issues/PRs? Yes - they are #4446
- [x] What's the actual output vs expected output?
- [ ]

[2020-01-02 17:27] spacether commented on #4912
Can you please submit your proped PR fromhttps://github.com/ethan92429/openapi-generator/commit/f606cfb1f1d6dbeecd96536f7ef2bcf51a743591
As a fix for this issue?

[2020-01-02 17:53] ethan92429 commented on #4912
@spacether, #4913 is submitted as a PR - still nowhere close to final, it isn't performant for my use case, so I'd like some advice on how to improve that and whether or not this is inline with the OAS.

[2020-01-03 00:03] rahulsom commented on #4851
It looks like the `Configuration` has a `fetchAPI` field that is a function. That can be overridden to add a `signal` that comes from the `AbortController`. That is perfectly usable for this use case.

[2020-01-03 00:03] #4851 closed

[2020-01-04 08:56] dario-frongillo opened #4923 "[REQ] Validator request/response"
### Is your feature request related to a problem? Please describe.

I need a tool that validate the response of an api if it is compliant respect OpenApi specification.
## Describe the solution you'd like

Openapi generator support the validator generation ?

[2020-01-04 13:40] Mordag commented on #4867
@4brunu I think this issue can be closed, or?

[2020-01-04 18:49] 4brunu commented on #4867
@Mordag you are right, thanks for reminding me 🙂

[2020-01-04 18:49] #4867 closed

[2020-01-04 20:57] krizic opened #4925 "AbstractTypeScriptClientCodegen.java@223 returns empty string in case name = "=""
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-05 00:48] LiNk-NY commented on #3367
Update: I started working on an `modelEnum.mustache` file and made modifications to the existing `model.mustache`. See it at https://github.com/LiNk-NY/openapi-generator/tree/enum
I'm still working on making changes to the API file.
@Leo-Rutschmann

[2020-01-05 15:37] ntfc commented on #746
A workaround is to place the generated `ApiUtil.java` in your `src/main/java` (under the same package name as defined by `apiPackage`). This allows you to use `generateSupportingFiles = false` without compilation issues

[2020-01-05 16:36] Kiikurage commented on #4183
Hi. I'm interested in this. What's the current status? If anyone isn't working on this actively, can I take over this?

[2020-01-05 18:39] spacether commented on #4881
One solution would be to use this package:
https://github.com/Ompluscator/dynamic-struct/blob/master/README.md
to make a dynamic struct.

Another would be the one that you describe above. For the map solution, would it also make sense to define a getter and setter method on the struct? Should the user need to know if a property is normal or additional?

[2020-01-05 19:26] sebastien-rosset commented on #4881
https://github.com/Ompluscator/dynamic-struct/blob/master/README.md
to make a dynamic struct.

Presumably the tool would generate dynamic structs with dynamicstruct.ExtendStruct, which would extend the "static" model with additional properties. However, it looks like during unmarshaling, the JSON data representing the static fields is not unmarshaled into the original static struct. For example, h

[2020-01-05 21:13] spacether commented on #4881
The implementation is up to you or whoever builds it.
I don't have a preference on how it's done. Also I'm only an approver in the python technical committee so this is just a topic I am interested in.
At work I have been using Go so it is interesting to see how we are adding features in the go generator. This topic is also interesting because I added additionalproperties in python-experimental.

[2020-01-05 21:28] sebastien-rosset commented on #4881
Got it. Actually, I used python-experimental and Java to look at how it could be done.

Agreed.

I don't have something specific in mind at this point, other than very high level. It's not very clear to me whether code maintainers are opinionated or not, so before I submit a PR, it would be good to know if it's ok to depend on an external library, and how that library is vetted.

[2020-01-05 22:06] spacether commented on #4881
It looks like using external packages has been okay in the past per:
- https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/go/go-petstore/go.mod#L4
- https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/go-experimental/go-petstore/go.mod#L6
Not sure how vetting is done. On the python side I would want the library to be stable and

[2020-01-06 08:43] rhuanbarreto commented on #2955
I would love to have the knowledge to change it, but Java is not my main language. But if someone stumbles upon this issue and has the knowledge, I would appreciate a fix!

[2020-01-06 09:09] #4902 closed

[2020-01-06 09:15] macjohnny commented on #4875
you can use a type-mapping to achieve your customization, see https://openapi-generator.tech/docs/usage#type-mappings-and-import-mappings

using `string` for `format: date` makes sense, because `Date` contains additional time information. this is also used in other typescript generators

[2020-01-06 09:15] #4875 closed

[2020-01-06 12:48] digaus commented on #4770
Can confirm this... Fix would be nice

[2020-01-06 14:21] macjohnny commented on #4894
fixed by https://github.com/OpenAPITools/openapi-generator/pull/4896

[2020-01-06 14:21] #4894 closed

[2020-01-06 14:22] macjohnny commented on #4895
fixed by https://github.com/OpenAPITools/openapi-generator/pull/4896

[2020-01-06 14:22] #4895 closed

[2020-01-06 18:55] LiNk-NY commented on #3367
**Update**: I don't have an example API template with 'enum's in it.
Perhaps this can be added to the petstore API?

See the comparison here:
https://github.com/OpenAPITools/openapi-generator/compare/master...LiNk-NY:enum

[2020-01-06 21:24] ximon18 commented on #2151
Hi @GeneticGenesis,

So far the feedback has been only positive. Could you please create the PR?

Cheers,

Ximon _(not part of the openapi-generator project, just another user)_

[2020-01-06 21:46] rafmagns-skepa-dreag opened #4933 "[REQ] Remove support for unsupported Python versions"
## Request
This is unrelated to any issues I've encountered.

As Python 2.7 hit EOL last week, are there plans to remove support for Python 2.7 (as well as any lingering support for Python 3.x < 3.5) since it is no longer maintained?

[Handy chart of which Python versions are being supported](https://python-release-cycle.glitch.me)

It would help clean up a bit of the code and remove `six` as a de

[2020-01-06 22:40] sagikazarmark commented on #4890
Would you accept a PR for the suggested change?

[2020-01-06 22:48] spacether commented on #4933
I am open to keeping or removing older python versions.
It is unclear to me what % of our users are suing older or unsupported versions of python.
Core Team:
@wing328 (2015/07)
@jimschubert (2016/05)
@cbornet (2016/05)
@ackintosh (2018/02)
@jmini (2018/04)
@etherealjoy (2019/06)
Do we have any records of this?
Do the companies/projects using openapi generator tell us which generator they are using

[2020-01-06 22:54] spacether commented on #4933
It doesn't look like we have a specific python style guide that we use.
For reference we run flake8 as part of our test suite in py27 and python3:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python/test_python2.sh#L26

[2020-01-07 05:36] #4671 closed

[2020-01-07 10:30] asantos00 opened #4936 "MirageJS openAPI Generator"
##### What is it?
[MirageJS](https://miragejs.com/) is an API mocking library that lets you build, test and share a complete working JavaScript application without having to rely on any backend services.

People use mirage to develop locally when their server is not done/not finished so they can do all the normal work as if they're working with a real API but they're going against mirage. It provi

[2020-01-07 14:48] sebastien-rosset commented on #4868
I see the "found 33 high severity vulnerabilities" message whenever the Travis CR - continuous-integration/travis-ci/pr task is running.

[code]

[2020-01-08 06:25] nicolascouvrat opened #4947 "[BUG][Java] Add support for validation of strings in arrays"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

When having a

[2020-01-08 14:15] wing328 commented on #4933
Nope generally we don't but as you probably aware there's a PR to add support for Python 2.6.

We've not received any private feedback from companies to support a particular EOL programming language (e.g. PHP 4.x)

https://github.com/OpenAPITools/openapi-generator/blob/master/CONTRIBUTING.md#style-guide

We can make an announcement to set a particular date/version to remove Python 2.x support from

[2020-01-08 15:01] stevenvdr commented on #3159
I think the generator is looking at the referenced definition to assign the `nullable` property (https://github.com/ackintosh/openapi-generator-1/blob/10e42461f5099d6c63e4592299f1baca93711f12/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L2248)

Workaround that works for me is by defining the referenced definition as nullable: eg in the example
[code]

[2020-01-09 00:22] louis-lau commented on #3224
I was really confused there until I found this issue, I thought I was doing something wrong but I followed the instructions (of which there aren't a lot) to the letter. This does not sound hard to fix?

[2020-01-09 02:53] jimschubert commented on #1811
Vendor Extensions, Supporting Files may make more sense as a `--dry-run` option for the `generate` command or something similar.  Features should be doable once #3614 is merged, and I envision either outputting a table to the generator doc page or creating an overall matrix like kangax's ES6 compat page (https://kangax.github.io/compat-table/es6/) or jwt.io' library option support display (https:/

[2020-01-09 04:04] shertu opened #4950 "[REQ] Use window.location.host for server root in typescript-fetch"
### Is your feature request related to a problem? Please describe.

When using the typescript-fetch generator, the default basepath when no server or host is specified is **not dynamic** and defaults to the static value of `"http://localhost".replace(/\/+$/, "");`

## Describe the solution you'd like

It would be a nice feature for the default basepath to be dynamic, e.g. ` `https://${window.locat

[2020-01-09 09:50] rgembalik commented on #4849
Any news on this one? I have a similar problem in the javascript generator - creating e.g. `require('./OneOfstringnull')` reference, but without generating actual `OneOfstringnull.js` model.

[2020-01-09 14:11] jannikov opened #4951 "CSharpNetCoreClientCodegen generate nullable TimeSpan"
##### Description

Hi guys. Is there possibility generate nullable TimeSpan from scheme. I have --type-mappings arg in command line. It it map type correctly but nullable description is not involved.

Thank you for your help!

##### openapi-generator version

4.22

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -g csharp-ne

[2020-01-09 15:35] kevinoid opened #4952 "[BUG][C#] IllegalArgumentException if string enum value ends with backslash"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-09 15:48] pascalwhoop opened #4953 "[BUG] python-flask controller test uses true instead of True"
Boolean values get parsed badly in flask.

[code]

leads to
[code]

in the `test_default_controller.py`. Note the `true` instead of `True`

I believe a fix is to wrap [this line](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python-flask/controller_test.mustache#L27) the `{{{example}}}` which is a JSON document into a
[code]
multi line p

[2020-01-09 15:58] kevinoid opened #4954 "[BUG][C#] Shouldn't replace tab, cr, lf in string enum values"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-09 15:58] pascalwhoop commented on #4953
I also noticed that if the API defines a minimum and maximum length for an array, this test fails because it expects a 200 but the example generates an array with a different length which gives back a `400 Bad Request`. Where does the example get generated? I'm happy to PR this but I will need a bit of guidance by a maintainer

[2020-01-09 19:04] dhoffer opened #4955 "[REQ] Make the plugin thread-safe so it can be used in multi-threaded Maven builds."
This is a request to make maven plugin thread safe in order to take advantage of maven multi threaded builds which is a requirement for our larger builds.  Currently we cannot use this plugin in larger projects that require multiple threads to build.

[2020-01-10 02:46] tanner0101 opened #4957 "Add Support for Swift's AsyncHTTPClient"
[AsyncHTTPClient](https://github.com/swift-server/async-http-client) is a new HTTP client library for Swift built on [SwiftNIO](https://github.com/apple/swift-nio). This library utilizes non-blocking IO which makes it ideal for use Swift servers.

From what I can tell OpenAPI Generator currently supports generating Swift 5 clients based on URLSession, Alamofire, and RxSwift. It would be great if w

[2020-01-10 05:48] sebastien-rosset commented on #3768
For OAuth2, there are plenty of libraries: https://oauth.net/code/python/, each with pros and cons. There may be others as well.

[2020-01-10 06:01] ffMathy commented on #3451
An exported type can also be used anywhere, no?

[2020-01-10 06:02] loeti82 commented on #3768
Thank you for the links. I use https://github.com/requests/requests-oauthlib (mentioned in the overview you provided) already.

[2020-01-10 09:13] mitchnull opened #4961 "[REQ] expose parentContainer to templates, add itemsDepth property to container items"
I'm extending the models generated from swaggers with a deepCopy() method for java. For this I need to generate code based on the property types, but in case the baseType is List or Map, the detailed type information is lost to the templates (see: generateAliasAsModel).

I propose exposing the "parentContainer" type in these cases similar to how "items" are exposed for container properties.

The o

[2020-01-10 10:07] wiktormk opened #4963 "[BUG] type: array is not taken into account when content is multipart/form-data"
##### Description
type: array is not taken into account when content is multipart/form-data

generated java code:

    @ApiOperation(value = "upload files", nickname = "uploadFiles", notes = "", response = UploadActionStatus.class, tags={  })
    @ApiResponses(value = {
        @ApiResponse(code = 200, message = "files upload status", response = UploadActionStatus.class),
        @ApiResponse(code

[2020-01-10 11:01] dngconsulting opened #4964 "[Question] [typescript-fetch] How you handle timeout network request ?"
Hi,

How guys do you handle network request timeout with typescript-fetch generator ? Fetch doesn't support request timeout configuration and you run into issues like requests waiting infinitely ...
As I don't create directly the fetch queries (SwaggeCodeGen generates all boilerplate code), how to handle that important case ?

Thanks for your responses.

Sami

[2020-01-10 13:49] MorKaragh opened #4967 "[Question] Is it possible to generate pure java 8 api client ?"
Hi, everybody!
Sorry for asking questions here, but I haven't found any answers on the web.

I need to generate ApiClient, and I need it to be compatible with java8 runtime.
Maven openapi-generator-maven-plugin generates classes depending on java.net.http.HttpClient, which is not available in java8.

**Is it possible to generate pure java8 client with openapi-generator-maven-plugin?**

piece of my

[2020-01-10 14:11] 4brunu commented on #4957
Hey, here are some tips on how to add another http client library to swift 5 generator, if someone wants to take this task. I can help with guidance and code review.

The first thing it's to subclass [RequestBuilder]( https://github.com/OpenAPITools/openapi-generator/blob/cbc12543a9c949ca0eacc73db5f8c383bf3d0a75/samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs.swift#L17)

[2020-01-10 15:13] calebmiller010 commented on #1970
Hi @selliera it's been awhile since I've checked on this, but it appears based on [this comment of yours](https://github.com/OpenAPITools/openapi-generator/pull/2883#issuecomment-498137294) that this is no longer an issue? Should I go ahead and close this out?

[2020-01-10 15:37] selliera commented on #1970
Hello,

Yes, you can close the issue, indeed, this is no longer a problem.

Thanks !

antoine

On Fri, Jan 10, 2020 at 4:13 PM calebmiller010 <notifications@github.com>
wrote:

[2020-01-10 15:51] bodograumann opened #4968 "[BUG] [TYPESCRIPT] Array model of alias to array model is missing inner type argument"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-10 16:15] #1970 closed

[2020-01-10 16:56] mohanaraosv commented on #27
So then it doesn't support **OpenAPI 3.0.0** or is it fixed in any other PR.

[2020-01-10 17:08] mohanaraosv commented on #3668
So if we update the mustache templates doesn't it work as expected

[2020-01-10 19:23] RichardBruskiewich commented on #2311
@wing328 has there been any  progress on implementing this OpenAPI tag in your code generator?  I have just attempted an OpenAPI  tool code generation  just  now on a 3rd party  specification which liberally uses the OneOf tag.

[2020-01-10 19:54] maarre opened #4970 "Polymorphic typed arrays are not supported in java code generation"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [ x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x ] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2020-01-11 12:22] froehlichA opened #4972 "[REQ] [Dart] Add Bearer token support to Dart2.x generation"
### Is your feature request related to a problem? Please describe.

The Dart2.x client generator currently only has support for the `ApiKeyAuth`, `HttpBasicAuth` and `OAuth` authentification schemes (available in `lib/auth/`), which are defined for the OpenAPI security schemes `type: apiKey`, `type: http, scheme: basic` and `type: oauth2` respectively. No support for Bearer token authentication (`

[2020-01-11 12:54] bodograumann commented on #4968
The code generation seems to also work properly with the java `spring` template.

I have traced the source of the wrong type declaration to the codegen's `getTypeDeclaration` method, specifically the `ModelUtils.isArrayScheme` case.
Compare typescript and java:
https://github.com/OpenAPITools/openapi-generator/blob/4627c7d5343e97635ce5cfaffb1f8140348b0adc/modules/openapi-generator/src/main/java/or

[2020-01-11 13:06] ka-zo opened #4973 "[BUG] [DART] The constructors of generated nested class declarations do not instantiate fields."
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue? yes
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? yes
- [ ] What's the version of OpenAPI Generator used? v4.2.2
- [ ] Have you search for related issues/PRs? yes
- [ ] What's the actual output vs expected output? I expect class

[2020-01-11 13:47] ka-zo opened #4974 "[BUG] [DART] All generated enums are commented, they are not usable."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue? yes, see issue  #4973
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? yes
- [x] What's the version of OpenAPI Generator used? v4.2.2
- [x] Have you search for related issues/PRs? yes
- [x] What's the actual output vs expected outp

[2020-01-11 14:43] stapel commented on #4537
Pretty much nothing in kotlin, except maybe comments and KDocs, should be html-encoded, the codegen handles that.

[2020-01-11 20:47] jimschubert opened #4976 "[REQ] Standardize vendor extension naming conventions"
### Is your feature request related to a problem? Please describe.

Vendor extensions are not intuitive, and are case sensitive. They're also not fully documented on the wiki at https://github.com/OpenAPITools/openapi-generator/wiki/Vendor-Extensions

## Describe the solution you'd like

* We should standardize this to avoid confusion, probably kebab lower case (`x-objc-operationid` rather than `x

[2020-01-11 21:21] jimschubert commented on #840
Closed via #3614

[2020-01-11 21:21] #840 closed

[2020-01-12 02:05] jimschubert commented on #4368
closed via #4977, #4565

Thank you for the bug report and the analysis about the root cause. I've verified that #4565 does indeed resolve issues around arrays of embedded and referenced enums.

With that change, you will now see a list of Schemas properly referencing the embedded class:

[code]

I'm not sure if there's support for modifying the enum name currently, but this looks structurally as I

[2020-01-12 02:05] #4368 closed

[2020-01-12 07:38] zawataki commented on #4837
@jmini  Thank you for letting me know the alternative. I will try it.

[2020-01-12 13:33] wing328 commented on #4880
An "API" class/file will be generated for each tag (e.g. `pet` => `PetApi.cs`) instead of a separate client for each tag.

[2020-01-12 15:01] Marvin1912 commented on #3718
PR created.

[2020-01-13 01:56] wing328 commented on #4976
We mention the naming convention in https://github.com/OpenAPITools/openapi-generator/blob/master/CONTRIBUTING.md#style-guide

[code]

[2020-01-13 05:32] maarre commented on #4970
Just generate the same code as for

[code]
Then it is possible to define the polymorphims in the schema. The implementation will not be type safe but this is the current status.

[2020-01-13 05:50] jimschubert commented on #4976
I agree with the script, but there are a couple other points I mentioned which I think need clarification:

* Would we require all words be separated by hyphen?
* The wiki page is out of sync with actual extensions

I wonder if it might be possible to store vendor extensions and descriptions in a map, and allow dumping this map by a `--dry-run` option on generate? I don't think there's a good way

[2020-01-13 13:54] gmariotti commented on #3414
Is Jackson support still planned for Kotlin?

[2020-01-13 16:28] binaryunary commented on #2701
This may be related to this issue. In my case duplicate models are generated even without cyclic references. The generator version I'm using is the Dockerized 4.2.3-SNAPSHOT.

I have the following layout:
[code]

`catalog-api.yml` is the 'root' spec that includes individual APIs e.g. `movies-api.yml`. For `movies-api.yml` the dependency graph is as follows:
[code]
You can see the reproducible exam

[2020-01-13 18:52] stevenbrookes opened #4989 "[BUG] oneOf Could not process model"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

Running opena

[2020-01-13 19:07] spacether opened #4990 "[Swift4] CI tests on master for Swift4 are failing"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-13 19:41] spacether commented on #4990
The broken test was already commented out in a separate diff 11 hours ago

[2020-01-13 19:41] #4990 closed

[2020-01-13 22:28] spacether opened #4994 "[BUG] php-slim4-server tests are failing in CI"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-14 06:12] wing328 commented on #4836
Nope, it's not possible. OpenAPI Generator only takes a JSON/YAML file (OpenAPI spec/doc) as the input

[2020-01-14 11:30] ybelenko commented on #4994
Fixed via #4995

[2020-01-14 11:30] #4994 closed

[2020-01-14 13:22] wing328 commented on #4976
I think that's what we suggest at the moment e.g. x-objc-operation-id, x-java-feign-retry-limit

Yes, I don't think the users have kept it up-to-date.

Don't prefer another option. What about showing it in `config-help` instead.

Instead of documenting these extensions in the wiki, we can of course store it somewhere else such as a map as you've pointed. I think the key challenge is who's going to

[2020-01-14 13:32] ybelenko commented on #4513
@Sroose Thanks for feedback.

I'll add another layer of middleware that checks if request has been authorized by any auth schema.

[2020-01-14 14:38] #1226 closed

[2020-01-14 15:12] alexander-matthiesen opened #4997 "[BUG] [MARKDOWN] Generated Links from nested objects not match with generated Folders"
#### Description

If an OpenAPI-Specificationhas nested objects for example responses or other objects, the generated model-folder isn't reachable via a link in the model.mustache field.

##### openapi-generator version

Markdown-Generator version 4.2.3-SNAPSHOT

##### Suggest a fix

Not generation the module name like "object_nested1_nested2" instead use ObjectNested1Nested2 that it matches the g

[2020-01-14 15:52] spacether commented on #4989
@stevenbrookes can you please paste in the schema definition for Expectation? That will help us understand how to fix this issue.

[2020-01-14 16:11] spacether commented on #4953
The sample for flask is generated at https://github.com/OpenAPITools/openapi-generator/blob/master/bin/python-server-flask-petstore.sh
To fix this issue you may need to edit this generator:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFlaskConnexionServerCodegen.java

[2020-01-14 21:15] DavidBiesack opened #4999 "[BUG][typescript-axios] emits wrong collection format code for parameter"
##### Description

generator for `typescript-axios` and other `typescript-*` generators
incorrectly generates `pipe` when the collection format is `pipes`.

##### openapi-generator version

4.2.3-SNAPSHOT

##### OpenAPI declaration file content or url

`pipes.yaml`:
[code]

##### Command line used for generation

[code]

##### Steps to reproduce

run the above command.
The generated `__sdk/api.ts`

[2020-01-15 00:02] jimschubert commented on #4976
@wing328 In the linked issue where I referenced this one, I reviewed our wiki before proposing the change to `x-oneOfName`. I proposed `x-oneOf-name` because our guidelines aren't clear (even the contributing docs don't clarify the questions I raised, at least for me).

Regarding putting the extensions on `config-help`, that would only be possible if the extensions are available as a populated fie

[2020-01-15 03:32] ackintosh commented on #3358
I'm addressing to this issue for the `kotlin-spring` generator with my colleague @yutaka0m. 😃

[2020-01-15 08:21] fleskesvor commented on #4537
I'm experiencing the same issue with generated Kotlin with version 4.2.2 of the Gradle plugin.

[2020-01-15 08:47] wing328 commented on #4997
Can you provide a spec so that we can more easily repeat the issue?

[2020-01-15 09:15] alexander-matthiesen commented on #4997
Here you go, the Problem is with the nested Objects for example "Owner" in "TestCard".

[code]

[2020-01-15 09:20] alexander-matthiesen opened #5003 "[BUG] [MARKDOWN] EscapeUnsafeCharacters Warning in Default-Generator"
##### Description

In the current Markdown-Generator, a Warning is written that says the following:
`[main] WARN  o.o.codegen.DefaultCodegen - escapeUnsafeCharacters should be overridden in the code generator with proper logic to escape unsafe characters`
I think that is something that is legacy from the creation of the default Markdown-Generator. Make this Warning sense if I just use the Generato

[2020-01-15 10:29] ysdidenko opened #5004 "500 error"
From today morning getting this error:
"status":500,"error":"Internal Server Error","message":"Could not initialize class io.swagger.v3.parser.OpenAPIV3Parser","path":"/api/gen/clients/typescript-angular"

Any idea? Thank you!

[2020-01-15 11:12] MartinDelille opened #5005 "Improve default openapi-generator output"
##### Description

The current `openapi-generator` output is very verbose and not so usefull in fact:

[code]

It should be more usefull to display the default commands (validate, generate, ...).

##### openapi-generator version

4.2.2

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

[code]

##### Steps to reproduce

Just type `openapi-generator` in a sh

[2020-01-15 12:34] Linus-Boehm commented on #4964
See https://github.com/OpenAPITools/openapi-generator/issues/4851

[2020-01-15 12:41] kuhnroyal commented on #4887
Also running into this.

[2020-01-15 12:44] Anvil opened #5007 "[BUG] [Bash] HTTP Headers passed as `key:value` are not detected as such"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))? N/A
- [ ] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sp

[2020-01-15 12:56] boenrobot opened #5008 "[BUG][tyescript-axios] withSeparateModelsAndApi option throws exception"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

I would like

[2020-01-15 13:24] muttleyxd opened #5010 "[REQ] Support for unsigned integers"
### Is your feature request related to a problem? Please describe.

I didn't find any information about support for unsigned integers in OpenAPI Specification.
I dunno how much of an issue it is for interpreted/JIT languages, but I'd see this as a annoyance for C++ (introducing a lot of unnecessary casts between my code and generated code, which is also an opportunity for a bug (imagine calling `t

[2020-01-15 19:08] davidjayb commented on #4208
This is still an issue. Adding the --debug option to Maven seems to pick up the template directory

[2020-01-16 04:50] spacether opened #5011 "[BUG] CircleCi tests failing because Maven now requires https downloads"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-16 07:02] etherealjoy commented on #5010
Unfortunately there are no unsigned in OAS.

Regarding the casting you can play with template functions for the getter to do the correct job of returning the right values and signed/unsigned.

[2020-01-16 09:00] wing328 opened #5014 "[REQ] Swift Vapor server generator"
### Is your feature request related to a problem? Please describe.

We would like to create a Swift Vapor server generator similar to what we've done for NodeJS Express and other server generators.

Ref: https://github.com/vapor/vapor

I'm working with @vkill on this new generator.

[2020-01-16 09:24] #5011 closed

[2020-01-16 12:35] yasammez commented on #2192
To fully resolve this issue, one would need tmeplates which make use of `multipleOf`. For Java there is the problem that no bean validation annotation provided in `javax.validation` is applicable. Writing a custom annotation and validator is easy,

[code]

[code]

however I do not know where to put these and if the project would be open to templates like this. So my question is: would you accept a

[2020-01-16 13:18] wing328 commented on #5010
I think a possible workaround is to use extensions, e.g. x-unsigned (and of course we need to update the generator to take into considerations such extensions)

[2020-01-16 17:34] zalito12 commented on #2053
Hi! Note this is not working when you have your query parameters definied inside an object, for example:

[code]

If I'm correct the `@DateTimeFormat` annotation also works in class fields. Has anyone face this problem too?

[2020-01-16 22:44] alecxvs opened #5018 "[REQ] Add Basic Bearer authentication to Go clients"
### Is your feature request related to a problem? Please describe.

Other languages (Java, Ruby) have basic bearer support, so I've updated my api definition to use that. Previously I was using OAuth 2 and renaming references to access token as bearer token. I suspect this will cause issues now with the Go client however.

## Describe the solution you'd like

Add basic bearer auth scheme for Golan

[2020-01-17 09:24] alexander-matthiesen commented on #4997
The Error occurs when using the attached mustache-templates.

[templates.zip](https://github.com/OpenAPITools/openapi-generator/files/4076092/templates.zip)

[2020-01-17 14:59] binaryunary opened #5024 "[BUG] Duplicate Enums are being generated rather than enum type being referenced in model"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-17 15:53] sebastien-rosset opened #5025 "[PHP] Code generator does not use/validate "scheme" security attribute"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-17 17:20] esoni88 opened #5026 "[Spring-java] required readonly attribute generate not null field"
Hi All,
regard required, readOnly and writeOnly open api specification report:

If a readOnly or writeOnly property is included in the required list, required affects just the relevant scope – responses only or requests only. That is, read-only required properties apply to responses only, and write-only required properties – to requests only.

so if i declare a field required and read-only means t

[2020-01-18 02:11] jimschubert commented on #1811
See also #4976

[2020-01-18 03:54] sebastien-rosset commented on #4976
In my case, it wasn't a "complaint". I was evaluating which tool to use (oss and commercial). The limited documentation of open API tools was definitely a struggle, including lack of vendor extensions, though in the end I did end up using it.

[2020-01-18 07:49] wing328 opened #5030 "[REQ] Put the enum values in multiple lines to avoid using E501"
### Is your feature request related to a problem? Please describe.

For https://github.com/OpenAPITools/openapi-generator/pull/5019#discussion_r368043780

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-01-18 10:20] spacether commented on #5030
It would also be nice to remove any other E501s that we can

[2020-01-18 13:47] jimschubert commented on #4976
You've probably already found this in documentation, but you can currently get details about what's bound to templates using the debug system properties (e.g. `-DdebugOpenAPI`). More details about each are in the asides of https://openapi-generator.tech/docs/templating#operations

I'm working on https://github.com/OpenAPITools/openapi-generator/projects/5 which is aimed at decoupling much of our c

[2020-01-18 14:41] jimschubert commented on #4582
To expand on my concerns…

Currently the method `writeOptional` will write a file if it doesn't exist, and skip if it does exist.

If I'm a user and I define my ignore file as:

[code]

I'm saying to ignore all files, except anything with a `models` in the package. With `writeOptional`, any generator deciding that a supporting file doesn't exist on the filesystem will write it out even though the

[2020-01-18 15:30] kingdun3284 opened #5032 "[BUG] typescript-axios query parameter is empty when type is an array of object"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
`Send a request with an array of object in query parameter and be able to find that the value of that query parameter is empty`
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
3

[2020-01-18 21:47] jimschubert commented on #4582
I noticed that working on #5036 that my previous comments centered around "file writes" when it's actually only conditionally registering in `supportingFiles` (but someone could easily modify DefaultCodegen to delete/write if they wanted). My previous comment about honoring the ignore file isn't relevant because supportingFiles would be processed all in the same way. Since the method is very confu

[2020-01-19 01:24] #705 closed

[2020-01-19 06:42] tomasbjerre commented on #33
I'm missing this as well. I would propose doing this with PMD and Spotbugs, using maven-plugins.

 * Add maven-plugins to parent pom
   * https://spotbugs.readthedocs.io/en/latest/maven.html (and in the future with Gradle https://spotbugs.readthedocs.io/en/latest/gradle.html)
   * https://maven.apache.org/plugins/maven-pmd-plugin/ (and in the future with Gradle https://docs.gradle.org/current/user

[2020-01-19 07:27] wing328 opened #5039 "[Python][Server] add tests for enums (string, numeric)"
### Is your feature request related to a problem? Please describe.

-  add tests for enums (string, numeric) after switching to fake petstore spec.

For https://github.com/OpenAPITools/openapi-generator/pull/5019#issuecomment-575969784

[2020-01-20 09:05] satyamurthy1847 opened #5050 "[QUESTION] [C++] Need help on "type/format conversion in Yaml" for open-api-generator"
Hi ,

We have an yaml specified in the following way for a field.

field1:
   type: string
   format: uint64

So, the data for this field is coming as a string but need to be interpreted as uint64.

Is there any option in the open api generator which creates the classes with format instead of the type. Basically, even the fromJson routines, can they be able to do this conversion automatically and

[2020-01-20 09:25] tilowestermann commented on #1096
I wonder that this issue has such a low activity. Is there any recommended workaround, or do you plan to fix it in an upcoming release?

[2020-01-20 09:40] eriktim commented on #4583
This is now part of the upcoming 5.0.0 release.

[2020-01-20 09:40] #4583 closed

[2020-01-20 09:40] eriktim commented on #310
This is now part of the upcoming 5.0.0 release.

[2020-01-20 09:40] #310 closed

[2020-01-20 09:42] eriktim commented on #3578
In the upcoming 5.0.0 release both `date` and `date-time` are now `Posix` values. Be aware that in case of `date` not the exact `Posix` value gets transmitted as the time is stripped off.

[2020-01-20 09:42] #3578 closed

[2020-01-20 09:45] eriktim commented on #1589
Please give this a try with the upcoming 5.0.0 release. The Elm generator is heavily refactored there so I feel free to open a new issue of you run into similar issues there.

[2020-01-20 09:45] #1589 closed

[2020-01-20 11:05] Sebastiencreoff opened #5053 "[Question] Handle custom code."
##### Description

Hello, I found this package which looks awesome to generate API easily and be able to do mapping between documentation and code.
I just do not find a tutorial to include this tool inside a project.
For what I understood at the moment is:
1 - Create your yaml file folliwing the OpenApi specification (ok)
2 - Generate my API with your tool. (ok)
3 - Implement my own code ?
4 - Add

[2020-01-20 11:08] nschilling opened #5054 "[REQ][Slim4] Add package name and version to composer.json"
### Is your feature request related to a problem? Please describe.

I'm using php-slim4 to generate server code for our API. I want to integrate the generated package in our project with composer using a [custom repository of type "path"](https://getcomposer.org/doc/05-repositories.md#path).
Unfortunately the composer.json generated by php-slim4 is missing the required keys `name` and `version`.

[2020-01-20 14:51] wing328 commented on #5054
Do you mind contributing the enhancement with a PR?

[2020-01-20 21:28] etherealjoy commented on #5050
Unfortunately type `string` cannot have a format `uint64`. So you will need to read the string and do the conversion manually.

There are inbuilt support for binary, date etc but not for `uint64` however.

[2020-01-20 21:37] #5024 closed

[2020-01-21 00:35] djnalluri opened #5062 "[BUG][typescript-angular] Security definition collision in API key lookup"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-21 09:05] jaroslawZawila opened #5067 "Bearer token not supported for scala-akka client."
Current implementation does not generate bearer token basic authentication from OpenApi 3.x. Instead if specified in the spec file, it generates basic auth with username and password instead of bearer token.

[2020-01-21 09:19] wing328 commented on #5067
Right. I wonder if you have time to file a PR for the enhancement.

I can show you some good starting points.

[2020-01-21 09:36] jaroslawZawila commented on #5067
I already have one but I have problem to create PR from my fork as github gives me unicorn :(

[2020-01-21 13:36] elierotenberg commented on #2939
I'm personally using the generated openapi client for server-side testing only.
In my case, simply defining a dummy `global.FormData` property was enough to avoid `instanceof FormData` throwing (and always returning false).
[code]

If you actually need to use FormData, I'd suggest using something like [this](https://github.com/form-data/form-data) instead of an empty class.

[2020-01-21 13:57] saephir commented on #3905
I'm dropping this workaround just in case:

Define `typeMapping` in `pom.xml` (or analogous Gradle config):

[code]

and use `binary-string` in the OpenAPI specification:

[code]

[2020-01-21 13:57] Karthons opened #5070 "[REQ] Regular expression for selective generation"
I have an API that has a lot of enpoints, split into multiple apis. I just need models with a specific prefix.

A solution would be, to allow regular expressions in the csv that are used for selective generation.

Example: generate -Dmodels="/WP-.*/",LoremIpsumModel
Which would generate all models starting with WP-  and the LoremIpsumModel.

Of course I could delete the unneeded generated files. T

[2020-01-21 14:06] Lomkex1 commented on #4905
This would be very useful

[2020-01-21 14:35] wing328 commented on #5070
That's what I would suggest.

[2020-01-21 22:04] axbusch opened #5072 "[REQ] C Handle openapi polymorphism better"
### Is your feature request related to a problem? Please describe.

I have an API which uses polymorphism. If status code is 200 i get back the defined result and the generated C code returns a struct with all the data i need. (this is fine)

But in case of an error (code 4xx) my API returns an error with status code, error strings etc.

The problem is, via apiClient_t  i can only get the status c

[2020-01-21 23:40] roddy opened #5073 "[BUG][typescript-angular] Model properties with underscore prefix generates invalid file names/imports using kebab-case file naming"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-22 01:23] sebastien-rosset opened #5074 "[BUG][Go-experimental] Syntax error in generated petstore openapi3 samples"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2020-01-22 07:09] NicolaeGP opened #5076 "[REQ] [Kotlin] client generator support for coroutines"
### Is your feature request related to a problem? Please describe.
I am trying to generate a kotlin client using retrofit 2.6.* and make use of coroutines but that is not given as an option in the generator

## Describe the solution you'd like
Addition of a parameter in the generator that will generate a kotlin client with coroutines.

## Describe alternatives you've considered
The addition of cor

[2020-01-22 07:12] NicolaeGP commented on #3135
@kroegerama check out #5076  Perhaps it would be something simple for you to add since you already have support for coroutines in your generator.

[2020-01-22 10:34] jvs64893 opened #5077 "[Bug][Java] jaxrs-cxf-client missing annotation when generating Enum"
##### Description

Integer Enums are generated with missing @JsonCreator annotation and causing InvalidFormatException while deserialization.

[code]

The Enum is defined for values {1, 2, 3} but the deserialization is trying to work with the index, so it is wrong for values 1 and 2 and fails for value 3.

##### openapi-generator version

4.2.2

##### OpenAPI declaration file content or url

yaml

[2020-01-22 10:50] eicki opened #5078 "withXml generated code broken for JavaSpring and Java Resttemplate generators with wrapped collections"
##### Description

I tried to add xml support for our openapi specs we defined. We use JavaSpring generator for the server and RestTemplate generator for the client.
As a test I tried
[code]
taken from [OpenApi 3.0.2 Spec](http://spec.openapis.org/oas/v3.0.2#xml-object).
Along with the option withXml the generated code is not correct.
For the client (Resttemplate generator) it generates:
[code]
Th

[2020-01-22 13:20] NicolaeGP commented on #2979
+1
Happening on 4.2.2

[2020-01-22 14:09] macjohnny commented on #5073
@roddy would you like to contribute a fix?

[2020-01-22 14:09] macjohnny commented on #5032
@kingdun3284 would you like to contribute a fix?

[2020-01-22 14:49] AIexG commented on #5053
You could edit/copy the template files for your language located at `/modules/openapi-generator/src/main/resources`. To avoid compiling the whole generator again you can append a custom template directory in the CLI with the flag `-t <path-to-dir>`. When adding your changes to the templates instead of the generated source files you wont loose anything!