[2018-12-14 14:37] wing328 commented on #1458
@anthowm please declare it inline for the time being as `content` does not support reference at the moment.

[2018-12-14 14:52] macjohnny commented on #1672
@ybelenko can you help here?

[2018-12-14 16:52] ybelenko commented on #1672
@el2ro Thanks for interest to MysqlSchema generator, I wasn't sure that somebody needs it.

We were thinking about perfect DB schema a lot. You can checkout community discussion at #955

We've ended up with conclusion that all data types that is difficult to implement in the first version will mapped to `JSON`(`TEXT` as backup for old MySQL).

Can't agree with you, in a perfect world I would prefe

[2018-12-14 17:51] viralanomaly commented on #1669
I believe the stack trace is related to this warning from above:
[code]

The exception seems to happen when schema is null on line 329 of ModelUtils, which I expect is because of that undefined warning.  That warning is how I came to suspect getSimpleRef in ModelUtils.

[2018-12-14 21:49] yknx4 commented on #1587
+1

[2018-12-15 01:59] anthowm commented on #1458
I currently use OAS 3.0 this is my yml for 1 image only (Generator version 3.3.3
[code]
With this spec I get something like (name?: string, type?: string, imageUrls?: Blob, observe?: 'events', reportProgress?: boolean) in my typescript service

For Array
[code]
With this spec I get something like (name?: string, type?: string, imageUrls?: Blob[], observe?: 'events', reportProgress?: boolean) in my

[2018-12-15 08:37] #1659 closed

[2018-12-15 08:40] wing328 commented on #1633
The reason why we introduce the option as a workaround is that we're not using any library in JS/TS to handle the serialization/deserialization between native objects and JSON so currently and therefore we can't handle edge cases such as "date-time" in the JSON key name.

We can implement our own serializer/deserializer like what we did in Python/Ruby/PHP, etc. Let me know if you've time to make t

[2018-12-15 09:12] wing328 commented on #1654
@dacloutier thanks for the fix. Closing this issue.

[2018-12-15 09:12] #1654 closed

[2018-12-15 15:11] ErikGrimes opened #1680 "[BUG] [Spring] openapi-generator generates an incorrect stub for types named "Resource""
##### Description

openapi-generator generates an incorrect spring stub for types named "Resource"

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content or url

*api.yaml*
[code]
*schema.json*
[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Invoke the command line above using the included api definitions.

##### Expected output

*Resources

[2018-12-15 16:13] ErikGrimes opened #1682 "[BUG] [BUG] openapi-generator generates an incorrect spring stub for types named "List""
##### Description

openapi-generator generates an incorrect spring stub for types named "List"

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url
*api.yaml*
[code]
*schema.json*
[code]

##### Command line used for generation
[code]
##### Steps to reproduce

Invoke the command line above using the included api definitions.

##### Expected output

*ListApi.java*

[2018-12-16 11:17] wing328 commented on #927
I've filed: https://github.com/OpenAPITools/openapi-generator/issues/927 and here is what I got for [allOfMultiParent.yaml](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/allOfMultiParent.yaml)

[code]

This is far from complete but I think at least we're heading the right direction.

[2018-12-16 15:00] ErikGrimes opened #1685 "[BUG] [Java] [Spring] openapi-generator generates incorrect type information for multilevel inheritance"
##### Description

The openapi-generator spring generator generates incorrect @JsonSubTypes for multilevel inheritance

[code]
##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

*api.yaml*
[code]
##### Command line used for generation

[code]

##### Steps to reproduce

Invoke the command line about with the provided api.yaml

##### Expected Output:

*Animal.java

[2018-12-17 01:40] ramzimaalej opened #1688 "[REQ] Add support to micronaut framework"
- [ ] Support maven build
- [ ] Support gradle build
- [ ] Support Java
- [ ] Support Kotlin

[2018-12-17 02:30] rainmanhhh opened #1689 "[REQ] Divide api.ts for typescript-fetch"
### Is your feature request related to a problem? Please describe.

## Describe the solution you'd like
if there're many apis, generated api.ts will be very very long. how about divide api.ts into ApiXXX, ApiYYY.ts, ...?

## Describe alternatives you've considered

## Additional context

[2018-12-17 05:57] jmini commented on #1651
Fixed with #1569

[2018-12-17 05:57] #1651 closed

[2018-12-17 07:09] hebra opened #1691 "[BUG] Description spring generator not escaping backslashes"
##### Description

Trying to generate Java code from the [Vimeo OpenAPI spec](https://github.com/vimeo/openapi).
That spec (api.yaml) uses backslashes in some of the strings (e.g. tag definitions).
Using the openapi gradle plugin 3.3.4 the generator 'spring' with any of it libraries (spring-boot, spring-mvc, spring-cloud) generates code which does not escape backslashes properly.

##### openapi-ge

[2018-12-17 09:05] hebra opened #1692 "[BUG][Java] generator creates inconsistent class name and class file name"
##### Description
Trying to generate a Java client from the [Vimeo OpenAPI spec](https://github.com/vimeo/openapi).
Using the openapi gradle plugin 3.3.4 with the generator 'java with any of it libraries (jersey1, jersey2, feign etc.) generates a class where the file name and the class name are inconsistent in regards to letter cases, leading to java compilation errors.

##### openapi-generator ve

[2018-12-17 09:15] wing328 commented on #1458
@anthowm can you ping me via https://gitter.im (ID: wing328) when you've time this week to work together on the issue?

My timezone is +0800.

[2018-12-17 09:35] jmini opened #1693 "Support for enum descriptions (x-enum-descriptions)"
With https://github.com/OpenAPITools/openapi-generator/issues/893#issuecomment-416617460 we have introduced support for the `x-enum-varnames` extension.

In a similar way `x-enum-descriptions` should be supported:

[code]

The java generator could add some Javadoc on top of the enum value.

[2018-12-17 09:57] topce commented on #927
**Thank you @wing328 !**
If fix also this problem by coping all properties in new interface (original problem of this issue).
it generate something like this
[code]
**I prefer generated code like before with extended interfaces or intersection types  (less code , less complicated, less duplication of code** ).
By the way it looks that 2 import lines are not necessary anymore .

[2018-12-17 10:04] barzoj opened #1694 "[BUG] [go-server] openapi-generator doesn't take into account servers overrides on path level"
##### Description

openapi-generator doesn't take into account servers overrides on path level

##### openapi-generator version

[code]
##### OpenAPI declaration file content or url

test.yaml
[code]
##### Command line used for generation

[code]

##### Current output
[code]

##### Expected output
[code]

[2018-12-17 10:20] jabby opened #1695 "[BUG][Java][Spring]`allowUnicodeIdentifiers` to false does not sanitize parameter names"
##### Description

When `allowUnicodeIdentifiers` is set to true, the parameters name are not sanitize in the spring generated source code.

##### openapi-generator version

The openapi-generator version is the current master.

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

Command line:

[code]

And the configuration file

[code]

##### Steps to rep

[2018-12-17 10:27] jabby opened #1696 "[BUG][Java][Spring] Sanitize tag name when use the option useTags is set to true"
##### Description

The Api name is sanitize for the class name and for the value of @Api swagger tag. I think it should only be sanitized for  the class name.

##### openapi-generator version

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation

Command line:

`java -jar ~/git/github/openapi-generator/modules/openapi-generator-cli/target/openapi-generator-c

[2018-12-17 12:17] bjgill commented on #1590
I think I've got a fix for this issue for rust-server. I'm hoping to be able to deliver it within the week.

[2018-12-17 12:22] jmini commented on #1437
PR #1569 is merged, can you test your issue with `4.0.0-SNAPSHOT` ?

[2018-12-17 12:54] #1644 closed

[2018-12-17 13:58] sruehl opened #1697 "[Java] Default values for string-type header parameters are generated with two sets of quotes"
##### Description

Completely identical to #540 just that this time the problem exits for header values.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

java -jar openapi-generator-cli.jar generate -g spring -i openapi.yaml

##### Steps to reproduce

##### Related issues/PRs

#540

##### Suggest a fix

#708 <-

[2018-12-17 14:01] sruehl commented on #1633
ok I suggest we keep this open till somebody (me, whoever) finds time to fix this.

[2018-12-17 15:02] john3300 commented on #1437
I tested it with today's `SNAPSHOT` build and it works great.  Thank you!

[2018-12-17 15:03] wing328 commented on #1437
@john3300 thanks for the confirmation.

[2018-12-17 15:03] #1437 closed

[2018-12-17 17:41] akehir commented on #1458
@wing328 : Is it ok if I contact you tomorrow as well?

The question is, is it required to use openapi 3.0 specification instead of openapi 2.0? As I'm saying, the variable is set incorrectly / the openapi 2.0 code results in an incorrect default behaviour and is not parsed at all.

You can see in my first comment (here: https://github.com/OpenAPITools/openapi-generator/issues/1458#issue-381188266

[2018-12-17 18:50] tnmtechnologies opened #1698 "[Java][jaxrs/resteasy] add @Valid to getter methods when bean validation is enabled"
##### Description

When bean validation is enabled, @Valid misses on getter methods of model classes.

It is ok for the api part thanks to #1237    .

##### openapi-generator version

Issue found in version 3.3.3

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

#1237
#1019

##### Suggest a fix

I think that

[2018-12-17 21:17] dacloutier commented on #1654
Hi @wing328,
Could it be possible to promote this to a 3.3.5 fix branch?

This issue is causing us some headaches and it would really help me make the swith from the swagger-gen plugin to the open-api

Thanks in advance.

[2018-12-17 23:05] ErikGrimes opened #1699 "[BUG] [Spring] Generated @JsonSubTypes.Type value is incorrect for a model name with underscores"
##### Description

Given a model with an underscore in the name, the generated
[code]
does not match the generated model class file name.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]
(for YAML code) or
##### Command line used for generation

```openapi-generator generate -g spring ```

##### Steps to reproduce

Invoke the command line above with th

[2018-12-18 02:07] wing328 commented on #1437
@john3300 are you free for a quick chat about your use case? I'm reachable via the email address in my Gtihub profile.

[2018-12-18 09:34] jmini opened #1701 "[core] support for 'x-enum-varnames' for enums in arrays"
##### Description

While I was working on #1693 I have discovered an other case that is not working with `x-enum-varnames`: when the enum is defined in a list.

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

[code]

[2018-12-18 10:08] d-date opened #1702 "[Swift4] enum cases are disappeared"
##### Description

All of enum cases are disappeared.

##### openapi-generator version

4.0.0 (master)

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

./bin/swift4-all.sh

##### Steps to reproduce

<img width="291" alt="screen shot 2018-12-18 at 19 04 46" src="https://user-images.githubusercontent.com/20222809/50146869-18a32200-02f8-11e9-98e1-4e79967

[2018-12-18 10:08] d-date commented on #1702
@wing328 could you check that including codegen.java?

[2018-12-18 10:52] wing328 commented on #1702
@d-date sure let me try to repeat the issue.

[2018-12-18 13:36] wing328 commented on #1435
UPDATE: I've filed https://github.com/swagger-api/swagger-parser/pull/967 to preserve the body parameter name in the parser

[2018-12-18 13:54] madshargreave commented on #802
@acornett Do you know of any temporary workarounds for this or will I have to avoid using enums all-together?

[2018-12-18 15:36] wing328 commented on #1623
@jmalin-signalfx do you need help filing a fix? Let us know.

[2018-12-18 16:37] wing328 commented on #1702
@d-date I've filed https://github.com/OpenAPITools/openapi-generator/pull/1706 to fix the issue.

[2018-12-18 20:56] john3300 opened #1707 "[BUG][HTML] Vendor-specific media type breaks Example Data"
##### Description

Using a vendor-specific media type causes the `Example data` section of the operation listing to be empty. Vendor-specific media types are fully supported by OpenAPI Spec 3.0 according to the 'Media Type Names' section on this page: https://swagger.io/docs/specification/media-types/

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

[2018-12-18 21:46] TiFu commented on #802
@acornett noted. Although I have no timeline for finishing the prototype of the overhaul at this time.

[2018-12-18 22:58] dtucker61 opened #1708 "[BUG] [cpp-qt5][cpp-qt5-qhttpengine-server] type:string format:byte handled differently by the two generators"
##### Description
I am generating both client and server side code using a same API specification file (see sample file below).
My API spec defines a component of type 'object' that contains a single 'properties' of type: string, format: byte.
When I generate the cpp-qt5-qhttpengine-server code, the model generate contains a private member of type 'QByteArray', and the setter and getter method's p

[2018-12-19 05:34] ravthiru opened #1709 "[BUG] Model classes generation with oneOf and allOf"
##### Description

Generated model classes does not have references when using **oneOf** and **allOf**

Pet Model class does not have Contact1 or Contact2

##### openapi-generator version

**openapi-generator-maven-plugin 3.3.4**

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix

[2018-12-19 06:43] ravthiru commented on #940
We are still seeing this issue with 3.3.4 version, Is this issue fixed ?

[2018-12-19 13:34] acornett commented on #802
@madshargreave I have been able to dig into it enough to develop a work around.  I will see about working on a more concrete proposal (or if my schedule really opens up maybe a pull request!)

[2018-12-19 15:44] dtucker61 commented on #1708
Addendum:  I see the same behavior when I use 'type: string' without the 'format: byte' modifier.  In this case, the server-side generates code that looks like:
  QString getProperties() const;
  void setProperties (const QString &properties) ;

while the client side generates:
QString *getProperties() const
void setProperties(const QString* &properties) ;

Seems to be a problem with API types tha

[2018-12-19 15:57] ErikGrimes opened #1713 "[BUG] [Spring] Externally defined subtypes are not resolved when referenced through the root"
##### Description
Given the setup below, the generator only generates Animal and AnimalFarmEntry. The should also generate Cat and Dog.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url
*api.yaml*
[code]
*schema.yaml*
[code]

##### Command line used for generation

```openapi-generate generate -g spring -i api.yaml -i generated```

##### Steps to reproduce

Inv

[2018-12-19 16:41] john3300 opened #1714 "[BUG] $ref to common parameter not being resolved"
##### Description

Validation is failing to resolve a `$ref` in the parameter list to a common parameter defined outside the operation.  Neither refs local to the same file nor refs to external files work.  Both should.  I've tried it with both Swagger 2.0 and OAS 3.0 specs, both fail the same way.
[code]

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or u

[2018-12-19 16:46] john3300 commented on #1714
I can't see how to add a label to this issue, but I think it should also have `Issue: Regression`

[2018-12-19 17:26] spacether opened #1715 "[REQ] Add xml support to python client"
### Is your feature request related to a problem? Please describe.

The python client does not generate xml code for models defined in a json/yaml swagger/openapi spec.

The python client appears to be missing xml serialization and may be missing deserialization.

When one autogenerates a python client for an endpoint that produces and consumes
application/xml, upon using the python client for tha

[2018-12-19 17:32] john3300 opened #1716 "[REQ][HTML] YAML multiline string formatting of descriptions should be translated to HTML"
### Is your feature request related to a problem? Please describe.

When using the literal style indicator (`|`) in a block scalar for a description, the formatting is ignored when inserted into HTML.

[code]

But right now this come out as `First line Second line` in the rendered HTML.

## Describe the solution you'd like

When the literal style indicator is specified in the YAML, a `<br>` tag sh

[2018-12-19 20:34] jimschubert commented on #1714
@john3300 Did this work with another tool or a previous version of the generator? It seems to me this is an issue with swagger parser.

If it previously worked, can you provide the previous version of openapi-generator so we can look at the regression?

[2018-12-19 20:45] dtucker61 commented on #1708
Sorry, did not mean to close the issue.

[2018-12-20 04:46] spacether opened #1717 "[BUG] Python client models are missing the swagger model xml dict information"
##### Description

Python client models are missing the swagger model (yaml/json) xml dict information

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -i carrierapi.yaml -l python -o ./carrierapi -DpackageName=carrierapi

##### Steps to reproduce

Generate the client per the above com

[2018-12-20 08:20] wing328 commented on #1715
As a starting point, I've created a new branch https://github.com/OpenAPITools/openapi-generator/tree/python_with_xml to add the "withXML" option to Python client generator.

[2018-12-20 10:09] wing328 opened #1719 "DeprecationWarning: ssl_context is deprecated, use ssl=context instead"
##### Description
Deprecation warning found in the Travis CI for the Python client:

[code]

##### openapi-generator version

Latest master

##### Suggest a fix

Follow the suggestion to use `ssl=context ` instead

cc @taxpon (2017/07) @frol (2017/07) @mbohlool (2017/07) @cbornet (2017/09) @kenjones-cisco (2017/11) @tomplus (2018/10)

[2018-12-20 10:48] ackintosh commented on #641
@rajanmodi The group parameter support in PHP client has been implemented by @wing32 and released as v3.3.2. Please give it a try. 😉

---

#### Samples

- Spec

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml#L774

- Generated code

https://github.com/OpenAPITools/openapi-generator/b

[2018-12-20 10:48] #641 closed

[2018-12-20 14:12] jmini commented on #68
I track here the changes we are interested in for a `2.0.8` release.

* https://github.com/swagger-api/swagger-parser/pull/969 (fix for issue https://github.com/swagger-api/swagger-parser/issues/968)
* https://github.com/swagger-api/swagger-parser/pull/967 (fix for issue https://github.com/swagger-api/swagger-parser/issues/966)

[2018-12-20 15:30] #1701 closed

[2018-12-20 15:30] jmini commented on #1701
PR #1703 is merged

[2018-12-20 16:32] john3300 commented on #1714
It works fine with 3.3.4.

[2018-12-20 21:14] danikarik commented on #1500
@wing328 Hi! Why the issue was removed from milestone?

[2018-12-21 04:19] marcoaltieri opened #1726 "[REQ] Enhance configurability of the OkHttpClient used by Java+retrofit2"
##### Description
The class ApiClient generated for Java+retrofit2 is not easily configurable.
The default constructor of the class calls the method createDefaultAdapter().
This method configures the "adapter builder" that is later used go create the services as shown below:

[code]

##### Swagger-codegen version
swagger-codegen-maven-plugin 2.3.1

##### Command line used for generation
[code]

##

[2018-12-21 07:44] iintothewind opened #1728 "[BUG] @NotNull(message = "MISSING_REQUIRED_PARAMETER") was not generated for some fields"
##### Description

We are GDG team maintaining API spec: (branch v1.0)
ApiSpecifications-R/customer.DocumentsSpecification.git
We found some required fields defined in json files are not generated with `@NotNull(message = "MISSING_REQUIRED_PARAMETER") ` which make validation error.
Here are some examples:
In `schema/risk_common/schema/common_components_v3/schema/money.json`, `currency_code` is a r

[2018-12-21 13:17] ybelenko commented on #1672
Closed as not a bug

[2018-12-21 13:17] #1672 closed

[2018-12-21 13:54] wing328 commented on #1627
UPDATE: I've filed OpenAPITools/openapi-generator#1729 to add an option "generateAliasAsModel", e.g.

[2018-12-21 14:07] wing328 commented on #1462
We're addressing some issues related to how alias to map/array is handled and working on some enhancements related to the parser, and therefore we'll delay the 4.0.0-beta release to the end of this month.

[2018-12-21 15:28] ackintosh opened #1731 "[REQ] "dateLibrary" option for Kotlin"
### Is your feature request related to a problem? Please describe.

Even though [KotlinSpringServer](https://github.com/OpenAPITools/openapi-generator/blob/9e1cce2e7b2fefa742c4992215c59998fb9fb311/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java) generates a java.time.OffsetDateTime property from `date-time`, I often need LocalDateTime inste

[2018-12-21 15:32] ackintosh commented on #1731
If my suggestion makes sense, I'll working on the issue. 💨

cc: @jimschubert (2017/09) @dr4ke616 (2018/08)

[2018-12-21 17:00] dalewking opened #1733 "[BUG][Kotlin] Generated Serializer for ApiClient does not support UUID"
##### Description

Generating a Kotlin client for an API that uses UUIDs in the model, the generated ApiClient doesn't work because the generated Moshi serializer does not have a type adapter for UUID. Unfortunately, there is no way to inject the type adapter yourself.

##### openapi-generator version

4.0.0

##### OpenAPI declaration file content or url

Any API with UUID should demonstrate the p

[2018-12-21 18:40] jimschubert commented on #1731
@ackintosh I don't like using `dateLibrary` to mix both library and library options. For example, how would you extend this to change default date formats from YYYY-MM-DD to MM-DD-YYYY or something other?

Are you unable to generate code as expected by defining these import and type mappings options at the command line?

Would it make sense to evaluate some way to provide user-preferences for type

[2018-12-21 18:57] vmorris opened #1734 "[python] delete path response type ignored"
##### Description

`DELETE` paths ignore any specified return type. The RFC indicates that if a DELETE request returns 200, the body should contain status information.

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation
`openapi-generator-cli generate -i index.json -g python -o myapi_client/ -DpackageName=myapi_clien

[2018-12-21 20:02] hyiltiz commented on #712
This would be awesome to get merged. My program is now running single process because I'd rather have `tqdm` running than to have 3 more cores to process data, but is much slower.

[2018-12-21 20:03] tomplus commented on #1719
@wing328 thanks for merging fix :+1:

[2018-12-21 20:03] #1719 closed

[2018-12-22 05:56] ackintosh commented on #1731
Yes, it will be better solution than adding `dateLibrary` if that exists. 💡

[2018-12-22 06:11] ackintosh commented on #1731
Oh, I've noticed `--type-mappings` and `--import-mappings` options just now. 👀 I'm trying the options.

[2018-12-22 07:01] ackintosh commented on #1731
I've tried `--type-mappings date-time=java.time.LocalDateTime` and `--type-mappings DateTime=java.time.LocalDateTime` but the option seems be overwritten by following 👀 :

- [KotlinSpringServerCodegen.java](https://github.com/OpenAPITools/openapi-generator/blob/314b4cc54f68c32552901ad872615b56119ce9a9/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCode

[2018-12-22 13:47] jimschubert commented on #1731
@ackintosh I've opened #1740 for your evaluation.

If the change resolves your immediate needs, I'd like to open another issue to track the possibility of having default configs which can get merged into external user configs.

For instance, if you passed `-c myconfig.json` where `myconfig.json` defined your command line options… I think it would be nice to read in `~/.openapi-generator/default.js

[2018-12-22 15:30] ackintosh commented on #1731
@jimschubert Thanks! I'll have a look soon. ✨

[2018-12-23 09:40] zigen opened #1745 "[BUG][Golang][Client] `composed-OneOf` become undefined"
##### Description

`composed-oneOf` generates undefined type `OneOfObjA`.
[here is generated code](https://github.com/zigen/openapi-generator-go-client-oas3-repro/blob/master/go-sample-api/api_default.go#L99)
this api should return one of `ObjA` or `ObjB`.
but Golang doesn't have such feature to describe `TypeA | TypeB`.

FYI https://developers.google.com/protocol-buffers/docs/reference/go-generat

[2018-12-23 13:40] ackintosh commented on #1733
Thanks for reporting the issue!

Related issue @ moshi :  https://github.com/square/moshi/pull/75

[2018-12-23 14:35] softarts commented on #192
I still sae this in 3.4.0 with python generated code:
RetrieveCustomWordsResponse:
      allOf:
      - $ref: '#/components/schemas/CommonResponse'
      - type: object
        properties:
          name:
            type: string
            description: the name
          words:
            type: array
            items:
              type: string
            description:  the desc
the generated

[2018-12-23 15:30] softarts commented on #192
just tried 4.0.0 snapshot, it is fixed.@wing328

[2018-12-23 15:35] wing328 commented on #192
@softarts Thanks for the confirmation. Happy holidays!

[2018-12-23 16:20] spacether commented on #1715
Thanks! I will work on developing the xml feature in that branch

[2018-12-23 17:11] spacether opened #1747 "[BUG] Python-Client Tests, 13 tests fail"
##### Description

When running the client tests for the sample petstore python client, 13 of the tests fail on the master branch.

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

petstore sample used by the client tests in the openapi-generator repo

##### Command line used for generation

`mvn integration-test`

##### Steps to reproduce

1. cd to `

[2018-12-23 17:37] spacether opened #1748 "[REQ] v2 swagger spec, some defaults unset in models"
### Is your feature request related to a problem? Please describe.

When defining default values in the swagger spec, they are only used as defaults in the python client models if the type of the variable is a string or boolean.

## Describe the solution you'd like

Please include those default arguments in the python models.
Please also include type checking validation of the input so if the user

[2018-12-23 17:50] wing328 commented on #1747
Likely due to bad data in the public petstore server. In Travis (and other CIs), we're running a local petstore server to avoid such issues when running the Python petstore tests: https://github.com/OpenAPITools/openapi-generator/blob/master/pom.xml#L1039-L1041

[2018-12-23 21:04] ybelenko commented on #1577
As you may already notice. Nope, referenced PR adds token authentication feature to PHP Slim Server generator only.

@tomplus As new Python committee, can you answer this?

[2018-12-24 06:54] jmini commented on #1435
PR #1721 was merged.

@advance512 can you verify if your issue is fixed with the latest `4.0.0-SNAPSHOT`?

[2018-12-24 06:55] jmini commented on #376
PR #1721 was merged.

@etherealjoy can you verify if your issue is fixed with the latest `4.0.0-SNAPSHOT`?

[2018-12-24 08:19] zigen opened #1749 "[BUG] DefaultCodegen should generate OneOf<ObjA,ObjB> from composed-oneof, but got Oneof<ObjA>"
##### Description

DefaultCodegen cannot generate composed oneof type properly. this generates the type which includes only first type of `Schema.oneOf`.

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

`3_0/composed-oneof.yaml`

##### Command line used for generation

`./mvnw test`

##### Steps to reproduce

[DefaultCodegenTest.java:252](https://git

[2018-12-24 09:46] #1749 closed

[2018-12-24 23:15] ericraymond opened #1755 "[BUG][python-flask] Generator fails to create required imports for models"
##### Description

Model are created the lack the required imports to run correctly.  This fails for petstore example!

##### openapi-generator version

Failed for 3.3.4 and lastest from master branch

##### OpenAPI declaration file content or url

https://raw.githubusercontent.com/OpenAPITools/openapi-petstore/master/src/main/resources/openapi.yaml

##### Command line used for generation

Options

[2018-12-25 01:49] spacether commented on #1748
This appears to be caused by java code from the swagger-api organization. I have opened an issue with them at:
https://github.com/swagger-api/swagger-core/issues/3065

[2018-12-25 14:09] ackintosh commented on #1731
Thanks for the PR. I've checked that the options works well. 😌

[2018-12-25 14:09] #1731 closed

[2018-12-25 19:46] Jamakase commented on #393
@wing328 Any progress on this issue? Can I help somehow?

[2018-12-26 02:46] wing328 commented on #1745
@zigen thanks for opening an issue. I wonder how Go GRPC client handles "oneOf" and potentially we can reuse similar code if the license permits so that we don't need to reinvent the wheel.

[2018-12-26 08:16] etherealjoy commented on #376
@jmini
I will check and update.

[2018-12-26 10:11] #1755 closed

[2018-12-26 11:13] Yogarine opened #1763 "[PHP][BUG] Query params of type array are incorectly serialized as "multi""
##### Description

Individual query params with type `array` and no `style` defined are incorrectly always serialized as "multi", while I believe it should be just comma-seperated.

In `io.swagger.v3.parser.util.OpenAPIDeserializer.getParameter()` (~line 1411) if a property is "in" `query` and of type `array`, it sets the `style` to `form`. The property `Parameter.explode` is then always set to tr

[2018-12-26 13:33] tomplus commented on #1577
As we can find here [/resources/python/configuration.mustache](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/configuration.mustache#L234) the bearer token will work only if the type equals `oauth2`.

[2018-12-26 15:20] #376 closed

[2018-12-26 21:01] ericraymond commented on #1755
Thanks @wing328 !

[2018-12-26 23:52] ericraymond commented on #1714
FYI if you expand the ref the issue goes away (not that it helps much):

[code]

[2018-12-26 23:59] #1733 closed

[2018-12-27 00:05] ackintosh commented on #1733
@dalewking  The issue has been fixed by #1746 , which is merged into master branch. Please give it a try with latest master. 😌

[2018-12-27 02:44] wing328 commented on #1755
@ericraymond no problem (and thanks for opening an issue for tracking). Can you try the latest snapshot version to see if it resolves the problem for you?

[2018-12-27 02:56] ericraymond commented on #1755
It did seem to address the issue.

I'm now stuck on: https://github.com/OpenAPITools/openapi-generator/issues/1714

[2018-12-27 03:46] wing328 commented on #1755
@ericraymond to me, that one looks like a regression in swagger parser. Please use the workaround you've mentioned for the time being.

[2018-12-27 14:40] bigkrp commented on #1493
Same issue

[2018-12-27 15:03] vmorris commented on #1577
I'm not real familiar with mustache.. Shouldn't we be able to add another block for type `http`? Perhaps a default if `oauth2` is not set?

[2018-12-28 04:43] alex-korobko opened #1766 "[go-gin-server] Add nullable support"
##### Description

It seems like `nullable` is not supported yet for primitive types in model generation for Go . I checked for go-gin-server generation but it seems to be language wide issue.

##### openapi-generator version
`openapi-generator version
3.3.4
`

##### OpenAPI declaration file content or url
Here is the simple model to check
https://editor.swagger.io/?url=https://gist.github.com/ale

[2018-12-28 04:50] alex-korobko commented on #1766
BTW when openapi-generator generates references, it uses pointers.
For example, for the spec
[code]
the generated model contains pointer to the ProductDimensions struct
[code]

[2018-12-28 12:26] nardil opened #1769 "JSR 303 – Nested validation"
##### Description

Generated bean classes doesn't have `@Valid` annotation on inner objects so only the root element is validated.

##### openapi-generator version

3.0.x

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix

[2018-12-28 12:45] zigen commented on #1745
FYI
proto :
[code]

part of generated output with `$ protoc api.proto --go_out=./` :
[code]

protoc-gen-go generates with field tag `oneof` , and [go proto lib](https://github.com/golang/protobuf/blob/master/proto/lib.go) parse it.
https://github.com/golang/protobuf/blob/master/proto/properties.go#L247
https://github.com/golang/protobuf/blob/master/proto/properties.go#L375
https://github.com/golan

[2018-12-29 07:01] wing328 opened #1774 "[BUG] Issue with `bin/utils/export_docs_generators.sh`"
##### Description

Run `./bin/utils/export_docs_generators.sh`, which shows the following issues (partial result):

[code]

##### openapi-generator version

latest master

##### Suggest a fix

If anyone wants to help with this issue, please reply to let us know.

[2018-12-29 10:51] wing328 commented on #1551
Closed via #1725

[2018-12-29 10:51] #1551 closed

[2018-12-30 10:08] wing328 commented on #1714
@john3300 can you try with `--skip-validate-spec`? I tried to repeat the issue with the spec you provided but couldn't after using the `--skip-validate-spec` option.

[2018-12-30 10:09] wing328 commented on #1755
@ericraymond please also try the `--skip-validate-spec` option to see if it helps.

[2018-12-30 10:30] wing328 commented on #1448
@canaz to contribute, please fork this repo to start with. I'm reachable via https://gitter.im if you need help on that.

[2018-12-30 10:38] zhemant opened #1780 "[REQ][General] Set boolean flags in case of enum in non-primitive type"
### Is your feature request related to a problem? Please describe.

In case when enum class is present, places, where this variable is used, is defined as a nonprimitive type and remaining flags are set to false. In low-level language like C, enum is needed to be handed in a special way, not like the nonprimitive type used normally for other classes.

## Describe the solution you'd like

Setting i

[2018-12-30 15:40] mindhaq commented on #1112
I have a similar problem, but no NPE. Instead:

    [main] WARN  o.o.codegen.DefaultCodegen - codegenModel is null. Default to UNKNOWN_BASE_TYPE

I moved a `requestBody` definition to `components/requestBodies` and added a $ref (I would consider this a refactoring), and then got that error.

[2018-12-30 15:51] mindhaq opened #1782 "[KOTLIN][SPRING] Required requestBody should not be optional"
##### Description

In my operation definition, I have a requestBody with `required: true`. However, the generated code makes the parameter in the controller and subsequent service optional.

##### openapi-generator version

I tried 3.3.4 and current master

##### OpenAPI declaration file content or url

Spec:
[code]

Generated code:
[code]

Parameter SysMailFormData is optional, which it shouldn't

[2018-12-30 18:02] spacether commented on #1747
I will ignore these tests locally

[2018-12-30 19:45] lubinson opened #1783 "[JAVA] Add CodegenProperty.isEnumModel for Model of Enum"
##### Description

I found there has no property to identify a field is Model (isModel=true) and also Enum. For example:

[code]

##### openapi-generator version

openapi-generator-cli-4.0.0-20181124.163833-43

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

NA
##### Steps to reproduce

1, run code generate
2, add {{isEnum}}, {{isModel}} in pojo.musta

[2018-12-31 02:02] #766 closed

[2018-12-31 02:04] #1250 closed

[2018-12-31 20:34] ericraymond commented on #1714
Above test file works via the gradle plugin with validateSpec =  false.  It complains about the error, but seems to continue.

Larger test case is failing on another issue.   This test case would further test the generated code.   Will investigate and comment/log bugs as necessary.

[2018-12-31 20:52] ericraymond commented on #1657
FYI, getting similar issue when running against my file with latest 4.0 snapshot.  If it would be helpful I can try to extract a test case that strips out the rest of the file.

Relevant part seems to be:
[code]

[code]

[2018-12-31 21:35] adamdecaf commented on #1112
I had the same problem and after moving them into `components.schemas` rather than `components.requestBodies` (as a `$ref` towards `components.schemas`) that problem went away.

[2018-12-31 21:36] alex-korobko commented on #1766
Thanks for the attention to the issue, @ackintosh !  I'd be glad to help to fix the issue, if you guys provide some initial guidance.

[2019-01-02 07:20] wing328 opened #1790 "[Announcement] Manually install openapi-generator 4.0.0-beta via Homebrew"
Since Homebrew no longer accepts formula referring to beta releases, please use the following to install openapi-generator 4.0.0-beta:

[code]
(one may need to uninstall it first by running `brew uninstall openapi-generator`)

[2019-01-02 09:28] ashuto-sh opened #1792 "[BUG][Java][spring][maven] FileNotFoundException when spec file is present in another jar"
##### Description

When using openapi-generator-maven-plugin to generate sources with a yaml spec present in another jar, the models and other operation files are generated successfully but towards the end FileNotFoundException is thrown. Probably this might be due to classloader.

##### openapi-generator version

4.0.0-beta

##### Pom file configuration

[code]

##### Suggest a fix
Probable solut

[2019-01-02 11:50] marcoaltieri opened #1795 "[BUG] The script new.sh generates a wrong package for test classes."
##### Description
The script new.sh creates test classes with a wrong package if the generator name contains dashes.

##### openapi-generator version
Since the new.sh was introduced.

##### Command line used for generation
`./new.sh -n java-something -s -t`

##### Steps to reproduce
Execute:
`./new.sh -n java-something -s -t`

The script generates the class:
`modules/openapi-generator/src/test/jav

[2019-01-02 13:41] Woodham commented on #1792
I think the same line of code is breaking remote `inputSpec`s? If the `inputSpec` is a URL then it also breaks with a `FileNotFoundException` (naturally because a url isn't a file).

[2019-01-03 07:26] jochengern opened #1801 "[C++][Pistache Server] const-conflict in generated code"
Hello,
when I generate code for a pistache server, the code generator for the pistache server generates code that does not compile due to a conflict in the usage of a const-declaration.
The following is the snippet out of my yaml-file that seems to be the cause for the error:
'''yaml
...
components:
...
  schemas:
  ...
    ResultArrayValue:
      type: object
      properties:
        value:

[2019-01-03 09:07] macjohnny commented on #224
closed with #1613

[2019-01-03 09:07] #224 closed

[2019-01-03 14:26] ftes opened #1805 "[BUG][Spring] Too many quotes in generated spring annotation (4.0.0-beta)"
##### Description

Same issue as described for v3 in #1697, which was fixed for v3 in #708.

##### openapi-generator version

4.0.0-beta

##### OpenAPI declaration file content or url

[Spec](https://github.com/ftes/openapi-generator-v4-default-value-bug/blob/master/src/main/resources/default-string-value-in-header.yaml):
[code]

[Generated source](https://github.com/ftes/openapi-generator-v4-defa

[2019-01-03 15:15] samuelAle commented on #1374
The fix is published in v4.0.0-beta

Not sure what the timeline is for 4.0.0, but it would be nice to get this in the next stable release

[2019-01-03 17:28] spacether opened #1807 "[BUG] swagger 2.0 spec is missing an xml example with all xml fields"
##### Description

The example swagger 2.0 spec is here: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml
It includes some xml examples, but they only include the name and wrapped xml fields
Please add an example which includes
- name
- attribute
- wrapped
- prefix

fields so it can b

[2019-01-03 19:52] #1290 closed

[2019-01-04 01:43] hebra commented on #1692
After fixing #1691 I was able to verify that the issue is also present for the Spring-flavours of generated Java code, making this a basic issue across all the Java generators.

[2019-01-04 04:33] jimschubert opened #1811 "[REQ] Feature Request Description"
### Is your feature request related to a problem? Please describe.

Yes. The barrier to entry for authoring templates or custom generators should be minimized.

## Describe the solution you'd like

config-help should provide some options for displaying more than CLI-only generation flags.

Examples:

* `--authoring` => could provide the embeddedTemplateDir as this isn't always the same as the gene

[2019-01-04 06:10] spacether opened #1812 "[REQ] Python client, use given values for required enums of length 1"
### Is your feature request related to a problem? Please describe.

If a user describes a required parameter with an enum of length one, they are defining what the parameter's value should be. Please load in that value into any endpoint or models that use it.

## Describe the solution you'd like

Please set the default values for those parameters in the model initialization and the endpoint method

[2019-01-04 10:15] abrahamaa commented on #527
Hi,
Am trying to generate golang code from a openapi v3 yaml file using openapi generator but am getting these error. Can you help identify what i might be doing wrong.

java -jar modules/openapi-generator-cli/target/openapi-generator-cli.jar generate -i /Users/abraham/Desktop/NSSF/openapi-3.yaml  -g go-server -o /Users/abraham/Desktop/NSSF/nrfDiscovery

sample ERROR:

[main] WARN  o.o.codegen.uti

[2019-01-04 13:20] SzymonKlimuk opened #1813 "http://api.openapi-generator.tech/api-docs has localhost as a host"
##### Description

In the OAS 2.0 definition serves under the following link:
http://api-latest-master.openapi-generator.tech/api-docs

the host is set to "localhost"

So when I consume that spec I cannot contact your API on http://api.openapi-generator.tech

[2019-01-04 14:44] abrahamaa commented on #527
hi, i have tried with 2 and 3 / but still having error. Am new to golang env and i may be doing somthing wrong. here is the full error if you can help:

abraham@afriyie:~/openapi-generator$ java -jar modules/openapi-generator-cli/target/openapi-generator-cli.jar generate -i ///Users/abraham/Desktop/NSSF/openapi-3.yaml -g go-server -o /Users/abraham/Desktop/NSSF
[main] WARN  io.swagger.v3.parser.Op

[2019-01-04 15:00] tomghyselinck commented on #1662
The (_post_) 4.0.0-beta version of the tool gives us the following error:

    wget \
        'https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/4.0.0-SNAPSHOT/openapi-generator-cli-4.0.0-20190104.042328-150.jar' \
        -O 'openapi-generator-cli-4.x.jar'
    rm -rf ./multi-level-inheritance/
    java -jar openapi-generator-cli-4.x.jar generate -i ./m

[2019-01-04 15:04] tomghyselinck commented on #1657
@ericraymond I think what you see might be related to some buggy (or _lack of_) _multi-level inheritance_ support.

See also https://github.com/OpenAPITools/openapi-generator/issues/1662#issuecomment-451467329

[2019-01-04 15:10] tomghyselinck commented on #1662
This may be related to #583?

[2019-01-04 15:11] tomghyselinck commented on #1657
The issue from @ericraymond may also be related to #583?

[2019-01-04 18:40] markus-wa commented on #527
It's probably best if you open a new issue then. I doubt the OpenAPITools team will check closed issues. 🙂

[2019-01-04 20:39] mindhaq opened #1815 "[BUG][CLIENT][JAVA] artifactVersion is not taken from specification"
##### Description

When the options for the generator do not provide `artifactVersion`, in the generated `pom.xml`, the `<version>` is always `1.0.0`. It should be the version provided in the openapi specification file.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

[code]

##### Steps to reproduce

Cr

[2019-01-04 20:42] spacether opened #1816 "[BUG] Python3 client deserialization mutates string data"
##### Description

When deserializing utf-8 string data in the python3 client, the client incorrectly adds a lot of whitespace.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

openapi-generator generate -i carrierapi.yaml -g python -o ./carrierapi -DpackageName=carrierapi

##### Steps to reproduce

Ingest the b

[2019-01-04 21:24] tobymurray opened #1817 "[REQ][Java] Produce sources jar for non-Android projects"
### Is your feature request related to a problem? Please describe.
The generated Java projects can produce a jar, that jar can be used as a dependency in another project. When consuming that jar, productivity suffers a bit because the sources are not available via a standard dependency management tool (gradle/maven/ivy). This means a user has to either look at the class file, or open up the genera

[2019-01-04 21:26] jacobblock opened #1818 "[BUG][openapi-generator-gradle-plugin] A problem occurred evaluating project ':app'. > ASCII"
##### Description

Created a default Android Studio 3.2.1 project with gradle-4.10 and added

`classpath 'org.openapitools:openapi-generator-gradle-plugin:3.3.4'`

Configuration fails with the error:

##### openapi-generator version

Versions 3.3.1 through 3.3.4 result in the same error. Version 3.3.0 works.

##### Command line used for generation

`gradlew --stacktrace --debug`

##### Steps to re

[2019-01-05 02:37] jimschubert commented on #411
I've found what appears to be a solid approach to publishing the Gradle artifact as part of the travis ci build.

@jmini https://github.com/osmlab/atlas/wiki/Gradle,-Travis-CI-and-Maven-Central looks like an approach that I'd be more comfortable evaluating than the link to the sparkling-water repo above. Would you have any concerns with evaluating this approach? If not, I'll work on integrating it

[2019-01-05 10:37] wing328 commented on #1818
@jacobblock thanks for reporting the issue

cc @jimschubert

[2019-01-05 19:31] nathan5280 commented on #1666
On the suggested fixes in the petstore example.
2. Updated the default_controller.py
[code]
which worked fine.
1. If I add the x-body-name to the requestBody/schema
[code]
or the components/schemas/NewPet
[code]
the x-body-name isn't copied through to the generated spec in openapi_server/openapi/openaip.yaml.  If I manually add it to this file here
[code]
everything works fine.

Thanks for the inf

[2019-01-05 20:30] jimschubert commented on #1818
Thanks for reporting it. I'll take a look. I've run the generator on Gradle 4.10.2 since the linked fix
 for 4.10 support (which was published in 3.3.0), so I'll have to keep looking.

The only two other changes since 3.3.0 are:

* Replacing System properties for `GeneratorProperties` (https://github.com/OpenAPITools/openapi-generator/commit/98ae7a816c0af87202fe7cc61a8605f448533f6a#diff-2e87581015

[2019-01-05 21:56] jimschubert commented on #1818
@jacobblock I'm unable to reproduce the error you're seeing. I've tried this on a freshly downloaded Android Studio 3.2.1, where I've created a mostly default Android app for phones & tables (with and without the automatically generated Activities). I've then followed these steps each time to evaluate:

* `gradle -v` => 4.10.2
* `gradle build` => success
* `./gradlew -v` => 4.6 (this is the defaul

[2019-01-05 22:37] nathan5280 opened #1823 "[BUG] Python pattern re.search('r incorrect in generated server model"
Generators aren't consistently escaping the regex patterns for python and python-flask.

##### Description
openapi-codegen  python and python-flask generate different regex escapes.

Generated Client
[code]
Generated Server
[code]
The client seems fine, but the server is double escaped.

##### openapi-generator version

docker image https://hub.docker.com/r/openapitools/openapi-generator-cli/

###

[2019-01-06 08:08] etherealjoy opened #1827 "[BUG] cpp-pistache - missing support for object without properties/additionalProperties"
##### Description

When the model or inline type is type object only with no `additionalProperties` or `properties` the compilation failed due to reference to Object type.
[code]

##### openapi-generator version

`master`

##### OpenAPI declaration file content or url

[code]
##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

#1637
##### Suggest a fix

[2019-01-06 08:11] etherealjoy commented on #1379
Closing this issue as not a bug.

[2019-01-06 08:11] #1379 closed

[2019-01-06 08:48] etherealjoy commented on #1572
@grmcdorman @CyrilleBenard
For pistache it is already solved on latest `master` branch.
Please open a different issue for `cpprest-sdk`, it is lacking quite a bit in such features.

[2019-01-06 13:42] jimschubert commented on #1818
@wing328 do you have access to Windows and Android Studio to see if this is OS-specific?

The only thing I've seen referenced in Android for Guava is 0.15, and it doesn't seem like a good idea for us to downgrade 0.26 to 0.15.  If anyone is familiar with the Android toolchain, please correct me if I'm wrong.

[2019-01-06 17:19] #1801 closed

[2019-01-06 21:51] spacether opened #1831 "[BUG] Java codegen does not check classVarName against reserved keywords"
##### Description

The java client codegen does not check the classVarName variables agains the reserved list of keywords.
Because of this, when I built the java rest-assured client sample, it generated a class method with the name default, which is a reserved keyword in java.
My CircleCI test failure is here:
https://circleci.com/gh/OpenAPITools/openapi-generator/4075#tests/containers/1
Generated

[2019-01-07 00:28] spacether opened #1832 "[CI] Python Tests Failing in TravisCI"
##### Description

CITesting in travis appears to be broken due to some kind of versioning error.
Per here: https://travis-ci.org/OpenAPITools/openapi-generator/builds
Master branch tests are failing

##### openapi-generator version

master

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

N/A

##### Steps to reproduce

Re-run the master branch TravisCI t

[2019-01-07 09:20] john-dev opened #1834 "[BUG] Spring Generator wrong Path parsing"
##### Description

When generating for spring, having a "." (dot) in the username does replace the path's with a "/" (slash) on MacOS.
For example "/Users/foo.bar/" will end up being "/Users/foo/bar/".

##### openapi-generator version

4.0.0-beta (maven)

##### Command line used for generation

see maven plugin options

##### Steps to reproduce

simply generate with a username that has a "." (dot)

[2019-01-07 17:36] spacether commented on #1832
Per the latest TracisCI builds, TravisCI is now downloading pytest==4.1.0 and pytest-cov==2.6.1 so this error has gone away. However, using an earlier version of pytest-cov (which our requirements.txt allows) would still result in this failure.
Suggest pinning to newer versions of pytest and pytest-cov to prevent this error in the future. These versions are:
pytest>= 3.6.0
pytest-cov>=2.6.1

[2019-01-07 19:56] advance512 commented on #1714
I can confirm this happens with 4.0.0 nightly and JavaScript generator.

I like the validation, so we'll wait until it is working before migrating to 4.0.0.

[2019-01-07 20:05] advance512 commented on #1435
@jmini This was not solved with 4.0.0-SNAPSHOT (openapi-generator-cli-4.0.0-20190107.160352-165.jar).

I still see bad diffs:

[code]

This is a problem with having inline schemas inside parameters. It is fixed when a ref is used instead, to a definition.

[2019-01-07 20:06] advance512 commented on #1435
@wing328 too

[2019-01-07 21:53] dtucker61 commented on #1708
Downloaded the 4.0.0 beta generator .jar file && replaced the 3.3.4 .jar file in our build environment.
The new .jar works to generate code that compiles and links using both the cpp-qt5-client and cpp-qt5-qhttpengine-server. Initial assessment -- this appears to work. Thanks much for your assistance.

Will continue testing on this side.

PS -- Found a typo in one of the cpp-qt5-qhttpengine-server

[2019-01-07 23:27] spacether opened #1840 "[REQ] Delete orphaned models and tests from 2.0 samples"
### Is your feature request related to a problem? Please describe.

This is a general cleanup task

## Describe the solution you'd like

When working on a python PR I noticed that the models animal_farm and string_boolean_map
no longer exist in the 2.0 sample spec.
Let's delete them from the the samples folder in the repo as they are no longer functional.
https://github.com/OpenAPITools/openapi-ge

[2019-01-07 23:35] Gabrn commented on #1133
Same issue for typescript-axios

[2019-01-08 08:08] wing328 commented on #1133
May I know if anyone has time to add the `bearer` support?

[2019-01-08 08:11] wing328 commented on #1133
May I know if anyone has time to add the bearer support? or sponsor the fix via BountySource similar to these bounties?

- https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-enum-type-that-is-used-with-ref
- https://www.bountysource.com/issues/66124155-javascript-parameters-naming-in-functions-documentation-and-file-name-is-wrong

[2019-01-08 09:15] tomghyselinck commented on #1665
@ericraymond, @wing328  : I suppose it may be fixed with #1758?

[2019-01-08 10:47] tsiq-karold commented on #1374
@samuelAle I can confirm that this fixes the problem in my case.  Would be great to get it into a release soon.

[2019-01-08 11:02] mm-matthias commented on #1593
I have the same problem, here's a minimal example:

This problem still persists if I do something like:

[code]
gives
`attribute paths.'/my/endpoint/'(get).security is not of type array`

Reason is probably a bug in Jackson YAML, like mentioned here: https://stackoverflow.com/questions/46689801/yaml-jackson-anchor-keys-of-array .

[2019-01-08 11:10] tomghyselinck commented on #1657
The issue from @ericraymond may also be related to #583?

[2019-01-08 11:12] tomghyselinck commented on #1657
@ericraymond : @wing328 is working on a fix in #1842

[2019-01-08 11:13] tomghyselinck commented on #1662
@ericraymond : @wing328 is working on a fix in #1842

[2019-01-08 11:57] tomghyselinck commented on #1709
#1842 might be a solution for you.
See also #1657, #1662, #1663 and #1664

[2019-01-08 11:57] etherealjoy commented on #1708
Ahh OK, please close this and create a different one.
Many thanks for the feedback..

[2019-01-08 11:59] tomghyselinck commented on #1693
This is also useful for Python docstrings.

[2019-01-08 12:00] zadam opened #1846 "[REQ] Java generator should be able to use BigDecimal instead of float for "float" number in generated Model classes."
### Is your feature request related to a problem? Please describe.

Let's say we have this definition:

      amount:
        type: "number"
        format: "float"
        description: "Amount of money"

Java generator will create model class with property `amount` of java type `Float`. This is good for most uses, but it's infamously bad for storing money.

Swagger spec itself is agnostic about h

[2019-01-08 12:13] ackintosh commented on #1782
@mindhaq Thanks for reporting this! I'm working on the issue.

[2019-01-08 12:41] sruehl opened #1848 "[BUG] [Typescript] [Axios] invalid syntax produced when using headers"
##### Description

using headers produces invalid code.
`localVarHeaderParameter['{{baseName}}'] = {{paramName}}.join(COLLECTION_FORMATS["{{collectionFormat}}"]));` should be `localVarHeaderParameter['{{baseName}}'] = {{paramName}}.join(COLLECTION_FORMATS["{{collectionFormat}}"]);`
look for the last closing right parenthesis ')'

[typescript-axios/api.mustache#L175](https://github.com/OpenAPITools

[2019-01-08 12:43] Drezil opened #1849 "[BUG][Haskell] server/client does not serialize/unserialize data correctly"
##### Description

Arguments for the function used in speicial-char-replacement got flipped upstream in some version of the dependencies.

##### openapi-generator version

master

##### Steps to reproduce

try any api with haskell-backend and use a special-char in the name of a parameter/value.

##### Suggest a fix

PR incoming.

[2019-01-08 13:51] wing328 commented on #1133
UPDATE: https://github.com/OpenAPITools/openapi-generator/pull/1470 includes the enhancement: https://github.com/OpenAPITools/openapi-generator/pull/1470/files#diff-d7978f0dcc3f8a06f35df3b87c156d4dR33

[2019-01-08 13:52] #1708 closed

[2019-01-08 13:54] ircecho opened #1852 "[BUG][JAVA] Compilation error related to OAuth when compiling java client"
##### Description

When I try to compile our java client libraries, there are compilation errors:

[code]

##### openapi-generator version

In the latest master fbf570e7bdeb98364669dfb47815875e623f80b3 at the time, this problem is present. This seems to be brought about by commit ed5bd5ffb0835ddfaa5672497dad8b49725ac029 . The earlier version 233ce093e508340ec526f1ffd4595c44796d4833 is still fully

[2019-01-08 14:20] iddqd1 opened #1853 "[BUG][Python] invoker-package does not work for python generator"
##### Description

invoker-package is completly ignored for -g python

##### openapi-generator version

4.0.0-beta

##### OpenAPI declaration file content or url
https://api-staging.sallysalary.dk/swagger.json

##### Command line used for generation

openapi-generator  generate --invoker-package salarydk   -i swagger.json -g python  -o salarydk-python
##### Steps to reproduce

Try to generate any

[2019-01-08 14:34] iddqd1 commented on #1853
Workaround is to create config file config.json with content:
{
    "packageName": "yourInvokerPackagename"
}

[2019-01-08 15:04] dtucker61 opened #1855 "[BUG][cpp-qt5] template has extraneous characters"
##### Description

Typo in mustache file (apirequest.cpp.mustache) for cpp-qt5-qhttpengine-server.
Line 80 is currently:
[code]
Note the extra `(` following `fromStringValue`.

The line should be:
[code]

##### openapi-generator version

Current version (4.0.0) and at least on prior (3.3.4)

##### Steps to reproduce

Generate code from the following spec:
[code]
##### Suggest a fix

Remove the ext

[2019-01-08 15:33] tomghyselinck opened #1856 "[BUG][Python-Flask] Unit tests: Missing snake_case vs. camelCase/PascalCase conversion on path parameters"
##### Description

We have an OpenAPI 3.0 spec file with parameterized `path`s. The path parameters are defined as `camelCase`.
When generating Python unit tests (place-holders) for `python-flask`:
the `test_*.py` files format the request path as:

    '/data/{remoteId}'.format(remote_id=56)

Execution of the tests gives us an error:

    python3 -m openapi_server.test.test_default_controller

Ret

[2019-01-08 15:37] tomghyselinck commented on #1671
Please note that the same issue is seen in the `__init__.py` of the tests (after fixing code related to #1856):

    (cd python-flask-pythonic-params && python3 -m openapi_server.test.test_default_controller)

Returns:
[code]

Now in file `python-flask-pythonic-params/openapi_server/test/__init__.py`:
Change line:

    app.add_api('openapi.yaml')

to

    app.add_api('openapi.yaml', pythonic_param

[2019-01-08 15:50] mohamnag opened #1857 "[REQ] Add documentation for each server stub generator about how to use it"
### Is your feature request related to a problem? Please describe.

I just found this project and as a new user it took me a lot of time to find out how the generated code (for server stubs) is supposed to be used.

For example I was interested in two generators `spring` and `kotlin-spring`. One is generating controller classes that have additional methods which can easily be overwritten in a subc

[2019-01-08 16:35] ericbl opened #1858 "[BUG] C# allof inheritance ok, but local properties mssing"
##### Description
As already mentioned in few bugs, the allof still has issues.

I want to generate C# code from a swagger file in which I use allOf to create inheritance.
The generated child class should inherits the parent class and has its own properties.

The generated code (see below) received only the inheritance, without the local properties: the properties defined for the child class were

[2019-01-08 16:44] wing328 commented on #1858
@ericbl please try the latest snapshot: https://github.com/OpenAPITools/openapi-generator#11---compatibility (JAR or docker images)

[2019-01-09 07:05] harikrishnanmurthy opened #1861 "How can we set List to null by default in models?"
While generating Java models from OpenAPI spec (v3.0.0) using openapi-generator-maven-plugin, all the Lists in java class are initialized by default to new ArrayList<>(). How do we prevent this?

##### Description

We have an attribute defined as an array in our OpenAPI spec. While trying to generate the Java model classes, the resulting List is initialized by default to new ArrayList<>(). This is

[2019-01-09 11:58] Catscratch commented on #1792
Same here. It would also be nice to use an external server address as inputSpec, like WSDL stub generation works.

E.g.
`<inputSpec>https://petstore.swagger.io/v2/swagger.json</inputSpec>`

[2019-01-09 15:24] sruehl opened #1865 "[BUG] [Typescript] [Axios] Header does not support complex-objects"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-en

[2019-01-09 15:40] sruehl commented on #1865
same applies to java btw where toString on the object will then be called which produces something like `CustomHeader@132213`

[2019-01-09 16:39] wing328 commented on #1865
@sruehl thanks for reporting the issue. I think no generator has yet added the support for the complex object in the header parameters.

For the suggested fix, I wonder if you can open a PR so that we can review the change more easily.

[2019-01-09 16:46] sruehl commented on #1865
sure I can try

[2019-01-09 18:08] jmini commented on #1693
@tomghyselinck: absolutely. The idea is to contribute this feature into the core. Then templates needs to be updated to use this feature if it makes sense.

Example:
https://github.com/OpenAPITools/openapi-generator/pull/1752/commits/20697ec21fe38406101b2e568843d1b560d7fd1d#diff-c7ad5f298a44b19ad127f9a5fbcbd356

Can you open a PR to add the support in Python docstrings?

[2019-01-09 20:35] nathan5280 opened #1866 "[REQ] Python-Flask - Python 3.7 util._deserialization"
### Is your feature request related to a problem? Please describe.
Unable to deserialize model objects when using Python 3.7.

When running with Python 3.7 openapi_server.util._deserialize fails because typing.GenericMeta was removed from 3.7.

## Describe the solution you'd like

I'm not sure on where we are at with support for 3.7, but I worked on this fix and figured I should pass it along for

[2019-01-09 21:18] silasbw opened #1867 "[REQ] [TypeScript-Node] support setting the content-type header per-call"
### Is your feature request related to a problem? Please describe.

Some API endpoints accept multiple content-types with the same data format.  For example, many of the Kubernetes API PATCH endpoints accept JSON data format, but with several different possible content-types (*e.g.*, application/strategic-merge-patch+json, application/merge-patch+json, or application/json-patch+json).

The typescr

[2019-01-09 21:35] alex-korobko commented on #1766
Created PR with updated mustache files for all types of Go lang generators.
https://github.com/OpenAPITools/openapi-generator/pull/1869

[2019-01-10 01:30] jjlin commented on #1714
This issue was carried over from https://github.com/swagger-api/swagger-parser/issues/911.

Upstream has an open PR: https://github.com/swagger-api/swagger-parser/pull/977

[2019-01-10 02:57] jimschubert opened #1871 "Document x-enum-varnames and x-enum-descriptions as vendor extensions"
##### Description

Add `x-enum-varnames` and `x-enum-descriptions` to documentation.

##### Related issues/PRs

Introduced via #1752, `x-enum-descriptions` should be added to the new doc site which will be introduced by #1770.

While reviewing #1752, I also noticed `x-enum-varnames` which is not accounted for in the existing docs that I had migrated to the docusaurus site. Once #1770 is merged, th

[2019-01-10 04:17] jimschubert commented on #1818
Sorry for taking so long to respond back. I've had to renew my Parallels Desktop subscription and make some drive space in order to install Android Studio in my Windows VM.

I was able to get this working. I'm not sure if this is considered a hack or not, and it is a mixture of solutions I found in the following pages:

* https://developer.android.com/studio/known-issues
* https://issuetracker.goo

[2019-01-10 05:03] jmini commented on #411
If I understood the article correctly, they perform the "upload to nexus" part not with normal gradle publish task but with a custom `uploadAndRelease.sh` script.

Why not... but it sounds complicated to me.

---

Following the links and the issues, I have the feeling that a gradle solution exists:
https://github.com/Codearte/gradle-nexus-staging-plugin#2-why-my-release-build-on-travis-suddenly-st

[2019-01-10 05:04] wing328 commented on #1818
I think we should document the workaround in case someone is looking for one. I've labeled this issue with "Issue: Workaround available" for the time being.

[2019-01-10 08:01] jmini commented on #1605
Was fixed by @wing328 in #1838

See https://github.com/OpenAPITools/openapi-generator/pull/1838/files#diff-59b7d0fdab4b182e8edfb0cbaccd2bf4

[2019-01-10 08:01] #1605 closed

[2019-01-10 08:45] jmini commented on #1871
On gitter @wing328 pointed to:
https://github.com/OpenAPITools/openapi-generator/wiki/Vendor-Extensions

Should I update this page or wait for #1770 to be merged?

[2019-01-10 09:10] sruehl commented on #1848
#1864 was merged

[2019-01-10 09:10] #1848 closed

[2019-01-10 10:30] svdHero opened #1873 "[BUG][C++][cpp-pistache-server] HTTP authentication (basic/bearer) missing from generated code"
##### Description
When I add an HTTP authentication scheme like ,e.g., Basic or Bearer to my specification, the genereated C++ Pistache code does neither provide username/password nor the bearer token to the called template method. In fact, nowhere in the generated code does any authentication/authorization logic appear.

##### openapi-generator version
Release 3.3.4

##### OpenAPI declaration fil

[2019-01-10 10:46] sruehl commented on #1865
@wing328 I added a proposal with #1874.
(At least for typescript, java should be done similar then)

[2019-01-10 11:34] myk3v commented on #525
Unfortunately, it seems that this issue persists with generator option `"library": "reqwest"` #1258
@bcourtine

[2019-01-10 12:38] jimschubert commented on #1871
@jmini please wait for #1770, as I've already migrated the docs and will edit them to link to the new locations after the site is up and running.

[2019-01-10 12:46] jimschubert commented on #1818
@wing328 Thanks. I think we can document on the README, then just refer users to the README from other relevant doc locations. My concern was that it was a hack and that some generators might not work, but we can just add a caveat.

[2019-01-10 12:52] jimschubert commented on #411
@jmini the plugin you've linked only closes and promotes the repository. Our issue is one phase earlier, where the upload splits into multiple repositories.

The scripted solution just uses Sonatype's API to upload the artifacts. It's not too different from what the plugin is doing, except that it supports creating the repository where the plugin does not.

Three are two maven plugins, we're using

[2019-01-10 12:57] myk3v commented on #1505
Would it be possible to take @colelawrence's [hyper version bump](https://github.com/colelawrence/openapi-generator/commit/649ad73cd226ea3b31c06b0a8499fb73227ce070)?

[2019-01-10 13:17] codemasterover9000 opened #1875 "[typescript-angular] Support custom types (serialization/deserialization/imports) (momentjs)"
Hi,

I would like to be able to support custom types. This would mean:
- Parameters in services are serialized from the custom type
- Members of models are serialized/deserialized on receive/send.
- Imports for the custom types are included where required.

My concrete case is that I want to use momentjs for date/time types in models and as parameters.

What I tried to do was:
- Use a typemapping

[2019-01-10 13:54] bcourtine commented on #525
@myk3v Thanks for the ping. I will look at this.

[2019-01-10 15:52] rzane opened #1877 "[BUG][typescript-fetch] Schema with type object generates undefined function"
##### Description

I'm generating a `typescript-fetch` client using OpenAPI Generator 4.0.0-beta. After running the generator, the following functions are included in the output, but they are not defined:

* `anyFromJSON`
* `anyToJSON`

Also, the type for the property is `any`, but it should be `object` I think?

##### openapi-generator version

4.0.0-beta

##### OpenAPI declaration file content o

[2019-01-10 16:06] rzane opened #1878 "[BUG][typescript-fetch] Additional properties are treated as array"
##### Description

##### Description

I'm generating a `typescript-fetch` client using OpenAPI Generator 4.0.0-beta. After running the generator, I notice that the resulting code attempts to coerce a dictionary to an array. According [the documentation](https://swagger.io/docs/specification/data-models/dictionaries/), a dictionary can be defined by specifying `additionalProperties`.

##### openapi

[2019-01-10 22:36] gkamperis opened #1880 "[BUG] typescript-angular api.service template contains unused locals"
##### Description
file
   https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache

contains the below comment
   /* tslint:disable:no-unused-variable member-ordering */

attempting to avoid linting errors.

However, this prevents fixers (like prettier-tslint, etc) to actually attempt and fix the the unused l

[2019-01-11 00:53] bjgill commented on #1505
Unfortunately, that is for `rust`, not `rust-server`.

There are actually two Rust generators, with unhelpful naming:
- `rust` is a client-only generator
- `rust-server` generates a crate that acts as both client and server. It is designed to abstract away the HTTP layer

The two are very different in their internal structure, and use different versions of hyper.

[2019-01-11 04:10] jimschubert commented on #1857
@mohamnag thanks for opening this issue. I agree the documentation for nearly all generators requires a quality and usability check. More clearly documenting how to use the project is on our short-term roadmap (and I have an open PR (#1770) to introduce a new guide-based project site.

Most of our server generators are meant to be stubs only, and so many of them generate controller classes (or wha

[2019-01-11 06:07] emadelwany opened #1882 "[BUG] TypeScript-Fetch: Headers passed in configurations are dropped in API calls"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-enu

[2019-01-11 06:09] etherealjoy commented on #1855
Fixed with #1859

[2019-01-11 06:09] #1855 closed

[2019-01-11 07:42] john-dev commented on #1834
Hello @jimschubert

i am using openapi 4.0.0-beta to gernate a spring server using maven.
Attached, the configuration i use.

`<build>
		<sourceDirectory>src/main/java</sourceDirectory>
		<plugins>
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>build-helper-maven-plugin</artifactId>
				<executions>
					<execution>
						<id>add-source</id>
						<phase>generate-sources</pha

[2019-01-11 08:35] mohamnag commented on #1857
Thanks for the through response. Now that I have worked with the `kotlin-spring` generator, I found out that it actually supports the generation gap pattern but for that it should be configured properly.

I also agree with you that it is impossible for all languages to follow exactly same pattern. Lots of them have different solutions and the solution should match the mindset of developers in targ

[2019-01-11 11:45] myk3v commented on #1505
`rust-server` indeed is more elaborate. Thanks for the heads-up. I was not aware of it.

[2019-01-11 11:50] MaksimRT opened #1885 "[REQ] Add ability to use modelNamePrefix/modelNameSuffix for Kotlin language"
I can't generate Dto models in Kotlin, because it doesn't use modelNamePrefix/modelNameSuffix properties(

Right now I have to use Java models due to this issue.

I use openapi-generator-maven-plugin 3.3.2

## Describe the solution you'd like

It is already imlemented in Java. Look at AbstractJavaCodegen.toModelName()

[code]

[2019-01-11 11:54] macjohnny commented on #802
see also https://github.com/OpenAPITools/openapi-generator/pull/1884

[2019-01-11 13:08] ircecho commented on #1852
Workaround if you do not have OAuth:
[code]
before running `mvn`.

@wing328 Maybe you can have a look at this bug since it seems to have been introduced by one of your commits.

[2019-01-11 13:14] wing328 commented on #1852
@ircecho are you using the latest master? it should be fixed by https://github.com/OpenAPITools/openapi-generator/pull/1872

[2019-01-11 13:23] jimschubert commented on #1834
Thanks for this @john-dev. So to clarify… when you say "path" are you referring to the directory output location? I may have misread this as if you were generating an API with an endpoint called `/Users` where the path parameter was being converted.

[2019-01-11 13:31] jimschubert commented on #1857
For contributors, here's a checklist that any of us can toggle the checkbox after reviewing or modifying server stub generator documentation.

I think we should standardize on:

* Including links to the framework's documentation
* Including links back to openapi-generator
* Explanation of usage
* If supported by the generator, how to efficiently regenerate over existing code

Are there any other c

[2019-01-11 13:46] john-dev commented on #1834
Yes i do.
Attached you will find the complete output..

As you can see, the path should be "/Users/**m.brown**/git/epartio-restserver/...."  but it is "Users/**m/brown**/git/epartio-restserver/..."

[code]

[2019-01-11 14:30] grmcdorman commented on #1572
Will do when I get appropriate details from my manager. Have also made very extensive changes to the C++ code generation:

- Support for developer-provided custom content-type encoding/decoding (e.g. BSON or msgpack)
- Support for reusing the HTTP client connection (current code reopens the connection every time)
- Support for using std::chrono::system_clock::time_point for date/time values instea

[2019-01-11 15:23] demtnt opened #1886 "[BUG] [Spring] Description"
##### Description
I would like to generate spring server only API (with out model). And I have found out that generated V1Api.java interface have different content depending of presens system property -Dmodels=""

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content
[code]

##### Command line used for generation

java -jar openapi-generator-cli.jar generate -g spring -Dapi

[2019-01-11 16:04] gerardbosch opened #1888 "[BUG] [Spring] Defining a schema called Resource leads in a wrong generated model using org.springframework.core.io.Resource instead"
##### Description

I am using openapi-generator version 3.3.0 as the openapi-generator-maven-plugin for Spring language.

If I define an OpenAPI schema called Resource, like the following,

[code]

no `Resource` model class is genrated. And what I get is the following: the schemas that reference or contain the avobe `Resource`, what actually have is the following example:

[code]

So it looks like

[2019-01-11 16:11] awrichar opened #1889 "[BUG] Nested components are generated with no type"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-en

[2019-01-11 16:21] wing328 commented on #1880
@gkamperis as you've suggested, please a fixer as a workaround for the time being. You can do so in the file post-processing hook. For example, using prettier to format the code:
[code]
and switch on post file processing via `--enable-post-process-file` (CLI)

[2019-01-11 17:18] jimschubert commented on #1840
One approach to this, I think, would be to update all samples scripts to delete the apis/models/docs folders explicitly.

[2019-01-11 17:30] awrichar opened #1891 "[BUG] "defaultController" property of python-flask has no effect"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponsor the fix ([example](https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-en

[2019-01-11 17:31] jimschubert commented on #1886
This is possibly affecting all generators, as model exclusion is done in `DefaultGenerator` and setting `-Dmodels=""` appears to not only prevent models from being written but also prevents them from being processed into the internal structures we use for API generation.

[2019-01-11 17:40] melissapalmer commented on #896
I'm still experiencing a problem with the  way the ` produces =` of  `@RequestMapping` is being generated.
Using yaml `openapi: 3.0.0` with `openapi-generator-maven-plugin`  version `3.3.4`

In my case the code being generated is as follows:
[code]

YAML used was:
[code]

[2019-01-11 17:45] spacether commented on #1866
We have a test in the python swagger 2.0 spec which tests deserialization here:
https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python/tests/test_deserialization.py
As similar test could be added to python-flask to verify solutions to this bug.

[2019-01-11 20:51] oscarCrespo commented on #927
Thanks for fixing this, we're experimenting the same issue. Will this changes applied to the **Typescript-Axios** template as well?

[2019-01-11 23:40] Fjolnir-Dvorak opened #1893 "[REQ] Code Refactoring: strucuring modules/openapi-generator/src/main/java/org/openapitools/codegen/languages into one package per language"
At first I found a bug in the python generator and thought of fixing it. Looking for the broken file I found the directory modules/openapi-generator/src/main/java/org/openapitools/codegen/languages containing 120 toplevel files.

Sollution:
I would like to create a pull request where I sort all these 120 files into one directory per language so that the directory modules/openapi-generator/src/main

[2019-01-11 23:46] Fjolnir-Dvorak opened #1894 "[REQ] Creating a new generator using Kotlin as language"
I want to create a new python generator that is inspired by the Haskell generator. The current python-generator for a server is not usable without editing the generated code. I want to create a new one where no single code change is necessary to get a working server to ease the process of updating the server without the need to merge the code changes manually.

I really appreciate the language Kot

[2019-01-12 04:17] jimschubert commented on #1894
I'm a little confused by the request. We have 2 Kotlin server generators and a Kotlin client generator which supports a handful of libraries/options.

Your description discusses python and Haskell generators and then comments about liking Kotlin. Are you looking for instructions to contribute a new generator for a framework that you're creating? If so, please use the kotlin-spring or kotlin genera

[2019-01-12 05:53] mrvdot commented on #1133
Once #1470 is merged, I should be able to update the JS/TS clients. I need it fixed in `typescript-axios` for a current project anyway.

[2019-01-12 09:10] Fjolnir-Dvorak commented on #1894
I do not want to write a kotlin generator for now. I want to write a python generator in kotlin

[2019-01-12 13:35] wing328 commented on #1894
Can you please elaborate on that before creating a new generator? Is the issue with the Python Flask generator of Python AIOHTTP server?

cc @Jyhess (creator of Python AIOHTTP server generator?

cc @taxpon (2017/07) @frol (2017/07) @mbohlool (2017/07) @cbornet (2017/09) @kenjones-cisco (2017/11) @tomplus (2018/10)

[2019-01-12 15:03] jimschubert commented on #1894
I see, thanks for the clarification!

I had discussed using Kotlin with the core team, and we decided to stay with Java as we perform some large refactors over the next couple of releases… then we'd evaluate again later. I also like Kotlin (it's what I've written [intellij-openapi-generator](https://github.com/jimschubert/intellij-openapi-generator) in).

openapi-generator supports three generator

[2019-01-12 16:08] Fjolnir-Dvorak opened #1898 "[REQ] Bare boned git for custom generator creation"
Introduction:
As it was mentioned by @jimschubert in #1894 it is possible to create a new generator which is not embedded into the core module. For that the generator can create a template which can be changed and edited into a new custom generator unknown to everybody in the wild wild world: My intention is to simplify this procedure and to make it easier for everyone out there to find other cust

[2019-01-12 16:26] Fjolnir-Dvorak opened #1899 "[BUG] [Python][Python-Flask] packageName dots are not replaced to slashes"
##### openapi-generator version
4.0.0-SNAPSHOT

##### Description

- [x] Have you provided a full/minimal spec to reproduce the issue?
    - Any spec. The bug is about additionalProperties.
- [x] What's the version of OpenAPI Generator used?
    - 4.0.0-SNAPSHOT
- [x] Have you search for related issues/PRs?
    - yes. related, but different:
        - #1853
        - #1302
- [x] What's the actual

[2019-01-12 17:43] jimschubert commented on #1894
@Fjolnir-Dvorak  to clarify, we don't have plans to extract out generators to separate projects/modules or repos. Our plans are centered around refactoring the core code such that we can better hide internals and expose a cleaner public API to be consumed by authors of both custom generators and custom templates.

For details, you can check out our [Roadmap](https://github.com/OpenAPITools/openapi

[2019-01-12 17:49] Fjolnir-Dvorak commented on #1894
Ok, thank you. I guess that the main question if kotlin can be used as an alternative to java to write the code was rejected leaving the new question open if a new generator should be implemented as a core-generator or as a module where  I do not know how users should find whose in the wonky wide web which was not the primary question of this ticket so I guess the question is answered and I can cl

[2019-01-12 17:49] #1894 closed

[2019-01-12 22:13] jimschubert opened #1901 "[REQ] Support OpenAPI 3.x links"
### Is your feature request related to a problem? Please describe.

Currently, openapi-generator doesn't support OpenAPI Specification's links.

<details>
<summary>Expand for full sample spec</summary>

[code]
</details>

Links are defined like this:

[code]

And referenced like this:

[code]

## Describe the solution you'd like

Links should provide templates with a means to generate links in res

[2019-01-13 00:10] mrvdot commented on #1133
Working on this at https://github.com/mrvdot/openapi-generator/tree/enable-bearer-auth-js-ts. This is my first change for the generator, so any comments/critiques are welcome.

- [ ] typescript-axios
- [ ] typescript-fetch
  - I added the bearer auth to this, however couldn't get the generated API to work (appears to be something wrong with the configuration class). Will review again after updatin

[2019-01-14 04:42] doctau opened #1904 "[REQ][Java] Add covariant overrides for inherited allOf setters"
When generating a model class which is an allOf, the Java generators make it a subclass (of the first allOf entry anyway) with all the getter/setter methods inherited from the parent. This means that if you are using the fluent setters, the result of calling any inherited setter is the parent not the subclass. It would be useful if it returned the subclass.

For example, consider this fragment
`

[2019-01-14 04:44] ackintosh commented on #1782
@mindhaq  https://github.com/OpenAPITools/openapi-generator/pull/1847 has been merged into master so please give it a try with latest master when you have time. 😉

[2019-01-14 05:39] emadelwany opened #1905 "[BUG] TypeScript Fetch client doesn't support multipart/form-data body"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-14 08:09] john-dev commented on #1834
Thanks for the quick support @jimschubert - we will try the new commit in the next days!

[2019-01-14 11:32] jmini commented on #15
I think I will give the marker-interface approach a try in the Java-client generators:

For those schemas:

[code]

I would generate:

* A marker interface `MainObj` (=> right now with with the latest `4.0.0 SNAPSHOT` version, there is nothing generated. This creates compile error `cannot find symbol class MainObj` because of the import `import org.openapitools.client.model.MainObj` which is prese

[2019-01-14 17:03] wing328 commented on #15
@jmini sounds good to me 👍

[2019-01-14 19:00] spacether opened #1908 "[BUG] Python client, optional parameters filtered using is None"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [] [Optional] Bounty to sponsor

[2019-01-14 22:46] xorcus opened #1909 "[BUG][JAVA] AbstractGenerator.java leaks mustache template file handles in templateDir - blocker when using templateDir with gradle plugin due to long running gradle daemons"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
=> default petstore is perfectly fine
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
=> yes
- [x] What's the version of OpenAPI Generator used?
=> 3.3.4
- [x] Have you search for related issues/PRs?
=> yes, no match identified
-

[2019-01-15 00:09] csimmons0 commented on #1507
@wing328 I'm getting the same error in one of my generated clients. I tested the spec in the validator that you linked, and it passed. The code that's failing looks suspicious. It looks like it's trying to access the openapi_types member of a model object, but openapi_types is a member of the class, not the model instance. That said, I looked at the history of api_client.mustache, and it looks lik

[2019-01-15 00:11] csimmons0 commented on #1507
@Amoki Did you ever resolve the issue?

[2019-01-15 02:40] na-o-ys opened #1910 "[BUG][typescript-node] Generated package causes compilation errors when the host package specified `"module": "es6"`"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-15 08:35] smasala opened #1913 "[BUG] anyOf causes incorrect import paths - openapi spec v3.0.0"
##### Description

When using `$ref` with `nullable` and `anyOf` the generated output is incorrect in the sense that the imported path and definition name is prefixed with the key `anyOf`.

[code]

##### openapi-generator version

`4.0.0-beta` and `latest/master`

##### OpenAPI declaration file content or url

[code]

##### Command line used for generation

[code]

[2019-01-15 11:50] StenzelRichard opened #1914 "[C#] CodeGen-CLI: Polymorphic Discriminator Mapping does not work"
Using the discriminator object by propertyName works fine.
Using the discriminator object in conjunction with "mapping" does not work. I.e. when extending the propertyName - value mapping with values other than class names, it does not work.

This type of mapping is needed, whenever the derived class-names do not match with the content of a certain attribute value.

https://github.com/OAI/OpenAPI-

[2019-01-15 13:09] marceloverdijk opened #1915 "[Java][Spring] How to inject HttpServletResponse in controller"
Is is possible to inject a `HttpServletResponse` in a generated controller method?

[2019-01-15 13:25] jmini opened #1916 "[REQ] support for x-const extension"
## Description

Sometimes in a Schema, you know that one of the property must be set to a specific value.
For those cases it would be great to be able to define the value as `x-const` extension in a Schema

### Example:

For a user creation call like this one:
[code]

The Request Body looks like this:
[code]

For the corresponding `UserBody` schema, you know that the `type` attribute must be set t

[2019-01-15 14:54] TheOneAndOnlyAndreKempe opened #1918 "[JAVASpring][Question] How to access vendor specific extension attached to path?"
##### Description

I'm trying to generate specific annotations depending on vendor-extension-fields specified per-path. Using the scopes from `securitySchemes`, this worked without problems. Retrieving request-and-operation-specific extensions gives me true headaches.

Can you please give me a hint how to access those values? Or is this currently not possible?

##### openapi-generator version
3.3.

[2019-01-15 15:07] jimschubert commented on #1857
@ybelenko one concern I would have with adding the template authors is that we can't update the code once someone generates it, so embedded author information is immediately "stale". For instance, if you've authored MySQL and lose interest in this project after 6 months, a consumer might message you directly after a year and ask for support. I think it would be sufficient to link to the project di

[2019-01-15 15:46] andrew-matteson opened #1919 "[BUG] Python generated code is incorrect when including 'oneOf'"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-15 16:04] andrew-matteson opened #1920 "[BUG][Python] Generated Python Code with `oneOf` and `required` is incorrect"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-15 22:30] samoretc opened #1922 "C# client response headers invalid parsing"
This issue was reported in swagger-codegen [here](https://github.com/swagger-api/swagger-codegen/issues/6389).

The values in the headers dictionary in the ApiResponse class are not getting properly set since the type of the header values in the IHTTP headers interface is an `IEnumerable<string>`. This means that the x.Value.ToString() from the following code snippet evaluates to  System.Collectio

[2019-01-16 02:03] wing328 commented on #1922
@samoretc thanks for reporting the issue. May I know if you've tried the `csharp-refactor` generator to see if it has the same issue?

[2019-01-16 02:05] wing328 commented on #1918
What about the following?

[code]

[2019-01-16 02:06] wing328 commented on #1916
@jmini the suggestion sounds good to me to start with 👍

[2019-01-16 02:09] wing328 commented on #1914
@StenzelRichard thanks for reporting the issue. Can you please ping me via https://gitter.im (ID: wing328)? I can work with you to get it fixed.

(we also have the `csharp-refactor` generator but likely it has the same issue)

[2019-01-16 02:10] wing328 commented on #1904
Which version are you using? Please try the latest master if you've not yet done so.

[2019-01-16 02:31] #1867 closed

[2019-01-16 05:12] hebra commented on #1692
It looks like the issue is fixed on the latest code on master.

[2019-01-16 05:59] wing328 commented on #1692
@hebra thanks for confirming the issue has been addressed in the latest master.

[2019-01-16 05:59] #1692 closed

[2019-01-16 06:00] #231 closed

[2019-01-16 06:01] wing328 commented on #231
Closing this as there's no update.

[2019-01-16 06:01] wing328 commented on #263
I think this can be closed.

[2019-01-16 06:01] #263 closed

[2019-01-16 06:02] #507 closed

[2019-01-16 06:03] wing328 commented on #472
UPDATE: we've added the option `generateAliasAsModel` (default: false) to cater differente use cases.

[2019-01-16 06:03] #472 closed

[2019-01-16 07:16] jmini commented on #15
Interesting case in [oneOf.yaml](https://github.com/OpenAPITools/openapi-generator/blob/v4.0.0-beta/modules/openapi-generator/src/test/resources/3_0/oneOf.yaml):

[code]

It seems to be possible to add `properties` and `oneOf` in the same schema. I am not sure what the semantic is in this case, but we might need to support this as well.

The interface pattern that I have described here, only works

[2019-01-16 07:59] TheOneAndOnlyAndreKempe commented on #1918
This proposal supposes that there is one gloabally valid definition of `x-allowed-user-roles`. However, my scenario is like this:
[code]
Now when method-annotations are created, I need to know which user-roles have been set the current.

[2019-01-16 12:13] TheOneAndOnlyAndreKempe commented on #1918
Hi,

my last reply os erroneous, there was an error in my api.yaml-file that led my into this statement, I'm sorry for that.
The approach proposed by wing328 works as I need it.

Only one last question. I need to concatenate the items by ", ". The code looks like this `@PreAuthorize("hasAnyRole({{#vendorExtensions.x-allowed-user-roles}}'{{{.}}}'{{#hasMore}}, {{/hasMore}}{{/vendorExtensions.x-allow

[2019-01-16 13:02] GeneticGenesis commented on #1714
I assume this happens in all client generators - maybe we can remove the `client:HTML` tag?

[2019-01-16 13:32] thomas-hugon opened #1925 "[BUG] Regression on JSonSubType.Type naming due to PR #536"
The issue was fixed in swagger codegen [here](https://github.com/swagger-api/swagger-codegen/pull/5736/files) but has been reintroduce with commit 0a52f56ba42853d18896820d4e9eb560e05bb1e9 in PR #536

The problem is that the name of the type in JSonSubType.Type annotation doesn't include the suffix or preffix when used with modelNamePrefix or modelNameSuffix option.

[2019-01-16 14:13] wing328 commented on #1714
@john3300 please use `--skip-validate-spec` for the time being until the issue (false alarm) is addressed in the swagger parser.

[2019-01-16 14:14] wing328 commented on #1714
@GeneticGenesis done

[2019-01-16 14:15] tedepstein commented on #34
@wing328 , @ackintosh, @emilianobonassi , with regard to an alternative OpenAPI v3 parser and object representation: you might want to look at [KaiZen OpenAPI Parser]( https://github.com/RepreZen/KaiZen-OpenAPI-Parser).

It's written in Java, but it also includes its own metadata description of an OAS3 object model, with mappings to the JSON/YAML representation of an OAS3 document. The classes and

[2019-01-16 14:17] jmini opened #1927 "[BUG][jaxrs-jersey] Generating @DefaultValue("null") for query parameter with referenced enum is wrong"
##### Description

Generatated `@DefaultValue("null")` in the `Api` file is wrong.

With the provided example, in `SomeApi`:

[code]

Should be `@DefaultValue("RED")` in order for the server to start.

##### openapi-generator version

There was no issue with `3.2.0`. Reproducible with `3.3.4` and `4.0.0-SNAPSHOT`

##### OpenAPI declaration file content or url

[code]

##### Command line used for g

[2019-01-16 14:43] gaborigloi commented on #1322
Hmm, has this been completed by #1470 ?
I keep running into an error when starting the generated aiohttp Python server: :thinking:
[code]

[2019-01-16 15:04] wing328 commented on #1322
Yes, should be completed by #1470

cc @Jyhess

[2019-01-16 16:20] keesvanlierop commented on #1882
This is maybe because of the generated configuration class constructor does not extend baseOptions? From configuration.ts:

`constructor(param: ConfigurationParameters = {}) {
        this.apiKey = param.apiKey;
        this.username = param.username;
        this.password = param.password;
        this.accessToken = param.accessToken;
        this.basePath = param.basePath;
 }`

[2019-01-16 16:22] Amoki commented on #1507
I fixed my spec and it works! Even if my spec errors were not related to this field, it was the problems.
Thanks!

[2019-01-16 16:22] #1507 closed

[2019-01-16 16:45] zadam opened #1928 "[Spring] Generated controllers ignore basePath"
I have the following line in the openapi file:

[code]

I would expect generated controllers (interfaces) would use this basePath as prefix for all the paths, but they don't contain this "v1" and just use resource path:

[code]

I'm using latest stable release 3.3.4.

[2019-01-16 19:25] Gabrn commented on #1133
Any news on this?

[2019-01-16 21:54] willianscfa commented on #1866
Thanks for the hard work put in this tool!

I had the same problem with swagger-codegen and ended up migrating to openapi-codegen for unrelated reasons. My work around is on this issue https://github.com/swagger-api/swagger-codegen/issues/8921, in case anyone is interested.

It does not depends on the ```typing_inspect```, altough I am not sure that is relevant for every use case. However, my work

[2019-01-16 23:17] mrvdot commented on #1133
@Gabrn typescript-axios and typescript-fetch are done, and you're welcome to build from the repo mentioned above if you need those now. I probably won't have time for the others until this weekend

[2019-01-17 00:04] samoretc commented on #1922
I just tried, and it does have the same issue.

[2019-01-17 06:40] zhoub opened #1931 "[REQ] Better Structure for Go Server Project"
### Is your feature request related to a problem? Please describe.

Hi,

Now the go-server creates a project like this
[code]

## Describe the solution you'd like

Shall we create a structure similar to the go-swagger generates folders.
[code]

Thanks !

[2019-01-17 13:53] wing328 commented on #1913
@smasala in your example, what does the correct TS code look like?

I can work with you to add the proper support of `anyOf` for TS

[2019-01-17 14:00] Jyhess commented on #1322
@gaborigloi thanks for this report. I missed to generate __init__.py.
I will fix it asap.

[2019-01-17 15:06] waza-ari commented on #1577
In my opinion that should be changed, as the OpenApi allows Bearer authentication without OAuth.

[2019-01-17 16:48] davidwcarlson commented on #457
I am running into the same issue with BearerAuth.  It looks like the recent commit 80ca67cf took care of the changes to DefaultGenerator to correctly set the existing BasicBasic and BasicBearer variables.

In response to @jason-cohen's concerns about highjacking OAuth, my pull request https://github.com/OpenAPITools/openapi-generator/pull/1930 adds a new BearerAuth object and uses it if the BasicB

[2019-01-17 19:51] jmini commented on #1916
I have discovered that in combination with the `default` attribute, OpenAPI-Generator is producing the expected output.

[code]

With the rest-assured client:

[code]

Is producing the expected output:

[code]

I think there is no need to introduce a new extension for this.

This issue can be closed for now, as I have a way to solve my requirement.

[2019-01-17 19:53] #1916 closed

[2019-01-17 20:12] jimschubert commented on #1922
@samoretc do you have a minimal test server that this can be reproduced on?

Regarding csharp-refactor, I've just tested this out with a valid multiple-header response:

[code]

And RestSharp internally concatenates this to a CSV such that this test:

[code]

Prints out `Header1,Header2`.

Regarding the `csharp` generator, I'll work with the current PR to get this in soon.

[2019-01-17 20:51] christoph-dahlen commented on #746
Using the following Maven fragment in pom.xml generates ApiUtil source file, but also some additional files which then contain errors due to unresolved dependencies. How can I limit supporting files generation to ApiUtil.java only?

      <plugin>
        <groupId>org.openapitools</groupId>
        <artifactId>openapi-generator-maven-plugin</artifactId>
        <version>3.3.4</version>
        <ex

[2019-01-17 20:52] gbrown-ce opened #1938 "[BUG] C# Inner Enum Generation Fails build"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-17 21:07] #1938 closed

[2019-01-18 04:39] wing328 commented on #1931
@zhoub thanks for the suggestion. I'm definitely not against that.

The current project structure is very similar to the one in Go Gin: https://github.com/OpenAPITools/openapi-generator/tree/master/samples/server/petstore/go-gin-api-server

My take is to adopt one or the other but not both.

For `go-swagger` project structure, what's the advantage?

[2019-01-18 06:20] cognifloyd opened #1940 "[REQ] Add generator for Apigee Edge Policy Bundles"
I would like to use OpenAPI 3.0 instead of 2.0.
I want to use Apigee edge as my API proxy, but Apigee only supports creating proxies based on 2.0.
Luckily server stub and client sdk is good enough with 3.0, so that leaves getting the proxy as my last hurdle to using 3.0.

## Describe the solution you'd like

OpenAPI-generator could generate Apigee policy bundles similar to openapi2apigee.
https://

[2019-01-18 09:03] macjohnny commented on #1928
you can manually add the base path to your `application.yml`:
[code]

[2019-01-18 10:03] zadam commented on #1928
That sets the prefix globally for all controllers, even those not from this openapi file (health checks etc.) which is not what would be expected.

You might also want to expose multiple versions of the same API on the same service.

[2019-01-18 10:15] ashunam opened #1941 "generated code for Vertx does not work due to use of swagger2 parser"
The default maven project generated does not work. Project was generated for vertx.
Issue seem to be due to use of SwaggerParser 2 in code which looks for attribute'swagger' in openapi.json which is not present.

##### openapi-generator version

version 3.3.4.

##### OpenAPI declaration file content or url

[2019-01-18 10:32] wing328 commented on #1322
@gaborigloi the issue has been fixed with #1933. Please give it another try with the latest master.

@Jyhess thanks for the quick turnaround in fixing the issue.

[2019-01-18 10:32] #1322 closed

[2019-01-18 10:34] StenzelRichard commented on #1914
I checked the generator "csharp-refactor" => it had the same issue, as you expected

[2019-01-18 11:14] gaborigloi commented on #1322
Thanks for the fix @Jyhess. Now it worked fine when using v2 specifications with a `basePath`.

However I ran into this connexion error when not specifying a `basePath` in a v2 specification or when using openapi v3 (which does not seem to have `basePath`):
[code]
Realized that the reason for this is that in connexion `self._only_one_api` was false. When calling the `connexion.AioHttpApp` construc

[2019-01-18 13:17] smasala commented on #1913
@wing328 that would be better of course.

The correct TS in the case of proper `anyOf` support would be:

[code]

[2019-01-18 14:15] macjohnny commented on #1928
@zadam you are right, it should be fixed in the generator. my comment is just a workaround

[2019-01-18 16:42] StenzelRichard commented on #1914
@wing328: you are faster than the speed of light 👍

when using:
"discriminator": {
          "propertyName": "pet_type"
}

then
[JsonConverter(typeof(JsonSubtypes), "PetType")]
[JsonSubtypes.KnownSubType(typeof(Lizard), "Lizard")]
[JsonSubtypes.KnownSubType(typeof(Cat), "Cat")]
[JsonSubtypes.KnownSubType(typeof(Dog), "Dog")]
public partial class Pet : IEquatable, IValidatableObject....

should be

[2019-01-18 17:22] wing328 commented on #1914
Done. Please have another look.

Yup, I'll share more details with you next week (too tired today...)

Have a nice weekend.

[2019-01-18 20:30] seanlaff opened #1943 "[BUG] Params named "default" get replaced with "_default", resulting in incompatible clients"
##### Description

My api has a request object that contains a key called `default`, however when I generate client code from this spec, it gets converted to `_default`. Since my api expects `default`, the generated client code does not work.

I'm guessing this is escaping that happens in java since `default` is a java keyword. Is there any way around this?

Expected generated:
[code]
Actual gener

[2019-01-19 04:06] doctau commented on #1904
I was using 3.3.4, but I'll try master shortly. Thanks

[2019-01-19 12:50] jmini commented on #1943
related issue: #13 - even in java there is some problem with the "default" keyword.

[2019-01-19 15:11] UkuLoskit opened #1944 "[BUG] Ruby generator creates invalid Ruby code for integer enums"
#### Bug Report Checklist

##### Description
Ruby generator creates invalid Ruby code for integer enums, the produced enum does take into account Ruby syntactical rules for identifiers which only allow identifiers starting with underscore or a non-integer.

##### openapi-generator version

The issue exists in both the latest master (4.0.0) and 3.3.4.

##### OpenAPI declaration file content or url

[2019-01-19 23:49] tomplus opened #1946 "[BUG] default basePath is different than in swagger-codegen"
##### Description

The openapi-generator has default basePath defined here:

https://github.com/OpenAPITools/openapi-generator/blob/c51f333f6c9d0a58366879e85dafb4c0b0afdc2d/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java#L40

but the swagger-codegen has `https://localhost`  - the schema is different:

https://github.com/swagger-api/swagger-codegen/blob/c4c5

[2019-01-20 04:41] ceefour commented on #1324
I got hit by this too today. Additional info, still happened on 4.0.0-beta.

#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] W

[2019-01-20 04:42] ceefour commented on #1324
@aDuffit please edit the issue title and prepend it with `[BUG] ` to hopefully get better attention.

[2019-01-20 05:30] ceefour opened #1947 "[BUG] typescript-fetch should not use namespaces (SyntaxError: Namespaces are not supported.)"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-20 14:52] ybelenko commented on #1857
@jimschubert  Really? Let's take PHP Slim server generator as example that I'm responsible for. To migrate from 3.x version to 4.x version user must:
* Upgrade to PHP7 or higher
* Move all implementation from `index.php` into user defined classes

How is that not important? Maybe some users will not upgrade when migration requires too much effort.

Where we should place these links(at the bottom,

[2019-01-20 15:55] ceefour commented on #8
I just hit bit this. still happened on 4.0.0.beta.

[2019-01-20 16:51] #1623 closed

[2019-01-20 16:52] wing328 commented on #1623
@jmalin-signalfx The issue has been fixed by @jmini. Please pull the latest master to give it a try.

[2019-01-20 17:40] jimschubert commented on #1857
@ybelenko Your PHP example assumes that a user will be regenerating a server over existing generated or hand-written code. I have a feeling that this is a very small set of our users. The migration steps you present are things that should already be included in the generator's requirements.

Consider a first-time user of the generator for 4.x. They'll be starting fresh, and having a "migration gui

[2019-01-21 06:39] jmini commented on #1693
PR to generate the javadoc (using the JaxRS generator): https://github.com/OpenAPITools/openapi-generator/pull/1951

[2019-01-21 10:10] jmini commented on #1871
I will update https://github.com/OpenAPITools/openapi-generator/blob/master/docs/templating.md#extensions

[2019-01-21 15:30] jaaufauvre opened #1955 "[REQ][javascript] Ability to intercept requests and dynamically compute an authorization header value"
Hi,

### Is your feature request related to a problem? Please describe.

I generated a client library using `openapi-generator-cli` and the following command:
[code]
I'm now searching for a way to inject an OAuth header computed from the request.

## Describe the solution you'd like

The ability to pass superagent request interceptors or "authenticators" to the `ApiClient` instance.

## Describe a

[2019-01-21 15:32] macjohnny commented on #1947
@ceefour sounds good. do you want to file a PR for that?

[2019-01-21 18:45] mudged commented on #798
Is there any update on this? I'm also seeing this issue when generating a java client (maven plugin v 4.0.0-beta)

[2019-01-22 00:43] actionbronson commented on #1376
What's the deal with this?  Is there another way?  I would like to see it go in at one point!

[2019-01-22 07:49] wing328 commented on #1946
@tomplus thanks for reporting this. I'll update the migration guide accordingly.

[2019-01-22 08:00] denyo commented on #1947
@ceefour your suggestion

works as long as their isn't another enum with the same name.

For instance with the pet store examples that's the case and you end up with the following error within the models barrel:
[code]

So to prevent this I'd suggest to prefix the enum with the namespace.

[2019-01-22 08:41] ceefour commented on #1947
I agree with @denyo, that would work for all cases. 👍🏾

Optionally there could be a configuration option to disable namespace prefixing if the API author is sure their enum names never conflict. But generally I agree with @denyo's solution.

[2019-01-22 09:12] gregie156 opened #1961 "[BUG] can't override model.mustache, api.mustache"
##### Description
The bug occurs when I provide a template folder for the generator, with model.mustache in it.
Instead of generating output, the tool just generates a stacktrace.

Looks like the problem doesn't happen if I replace other templates. Only models.mustache.

##### openapi-generator version
I used the docker-based openapi-generator-cli version 4.0.0-SNAPSHOT
I was trying to generate ty

[2019-01-22 16:47] hellboy81 opened #1963 "[BUG] Possible issue with Json subtypes and enums"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-22 17:06] tsiq-karold commented on #1376
I have a PR open for a while which I'd love to get included but I've not had any response on it.  https://github.com/OpenAPITools/openapi-generator/pull/1582

[2019-01-22 18:40] mikezx6r commented on #1205
Just tested, and this is fixed in 4.0.0-beta. A data class is generated with all the properties explicitly defined rather than attempting invalid inheritance. Now just need that to be released ;)

[2019-01-23 00:51] adamdecaf commented on #1694
I have a similar problem:

<details>
<summary>openapi.yaml</summary>

[code]

</details>

However, `GetFiles` has the following:

[code]

I expected:

[code]

For comparison, the other endpoint works as expected:

[code]

[2019-01-23 00:52] adamdecaf commented on #1694
Also, executing these requests on the [Swagger Editor](https://editor.swagger.io/) works as expected, so this seems to be a bug in this project. Can someone point me to look somewhere to PR a fix?

[2019-01-23 07:41] wing328 commented on #1946
Closed via https://github.com/OpenAPITools/openapi-generator/pull/1957

[2019-01-23 07:41] #1946 closed

[2019-01-23 07:48] wing328 commented on #1944
Closed via #1945

[2019-01-23 07:48] #1944 closed

[2019-01-23 07:49] wing328 commented on #1943
@seanlaff have you tried the `modelPropertyNaming` option?
[code]

[2019-01-23 07:54] #1914 closed

[2019-01-23 09:04] ashunam commented on #1941
@lopesmcc

[2019-01-23 09:22] DavePilks opened #1966 "[BUG] Calls off multiple threads cannot run concurrently in Swift 4"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?

##### Description

When creating the `ResponseData` object in `AlamofireImplementations.swift`, no dispatch queue is passed into the `init`. This means that `Alamofire` defaults to `DispatchQueue.main`.

If

[2019-01-23 12:00] mikezx6r commented on #392
I have also looked at this, and assuming both @aanno2 and I are interpreting the spec correctly, the issue here is in the parser and not the templates.

The parser appears to 'see' the `security` entry on the path, and then loads the scopes from the components section rather than taking the list from the path's security entry (and possibly ensuring they all exist in the components security.

The t

[2019-01-23 13:06] fahadshakeel1989 opened #1968 "[BUG][JAVA] Required array object in yaml is wrongly translated for Bean Validation in Java Server Code"
#### Bug Report Checklist

- [N] Have you provided a full/minimal spec to reproduce the issue?
- [Y] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [3.3.0 ] What's the version of OpenAPI Generator used?
- [ Y] Have you search for related issues/PRs?
- [ Y] What's the actual output vs expected output?
- [ ] [Optional] Bounty to

[2019-01-23 13:42] jaaufauvre commented on #1955
A workaround can be to overridde `applyAuthToRequest` the following way:

[code]

[2019-01-23 16:36] calebmiller010 opened #1970 "[BUG][JAX-RS Jersey 2] Generating @DefaultValue for query parameter Arrays causing server startup failure"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description
When generatin

[2019-01-23 17:21] spacether commented on #623
I am working on a PR which will fix this issue. The problem is that the mustache files iterate through #vars. #vars does not include the variables inherited from the allOf class. However, the requiredVars and optionalVars DO include those needed properties. My fix will iterate over the requiredVars and optionalVars.

[2019-01-23 18:04] adamdecaf commented on #1694
I tried my examples with `-g php` and the same unexpected `/files` path was given, so is this a problem with all codegen?

[2019-01-23 19:40] barzoj commented on #1694
Well, we will probably need to run examples against all generators to verify if it’s a generic issue or not.

[2019-01-24 03:40] ackintosh commented on #1831
note: the fix for this issue is included in https://github.com/OpenAPITools/openapi-generator/pull/1883

[2019-01-24 03:56] spacether commented on #1831
@ackintosh I removed the fix from that PR per feedback from Wing

[2019-01-24 04:07] ackintosh commented on #1831
Oh sorry for the wrong comment. 💦

[2019-01-24 06:02] ceefour commented on #802
I apologize if this is just a simple analogy not real code, I'm not familiar with how it works.

Library on runtime, generates:

[code]

then the runtime handles most of the logic, generator is simple.

Library on generator:

[code]

`requestfunc` implementation is dependent on generator. More logic on generator, but runtime is simple.

So in my view, both approaches have similar overall complexit

[2019-01-24 10:45] StenzelRichard opened #1973 "[c#] [BUG] The value of components\schemas\object\Discriminator\PropertyName should not be changed"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-24 17:16] mikezx6r commented on #392
Upon further investigation, the actual Swagger Parser correctly retrieves the information. It appears the Code Generator is incorrectly interpreting it, and passing it to the templates. I think the issue is in DefaultGenerator, so getting close to a PR for this.

[2019-01-24 18:51] mikezx6r opened #1975 "[REQ] Spring Server generators should allow for adding OAuth2 Preauthorize annotations based on scope"
Using OAuth JWT scopes and Spring Security's PreAuthorize annotation requires the PreAuthorize annotation to be on the same method as the Mapping related annotation.

With the current generators (Java/Kotlin), the Mapping annotation is in generated code, so manually adding the PreAuthorize annotation can't be done without modifying generated code.

It would be good if the generator had a flag for

[2019-01-24 21:55] jphorx opened #1976 "[BUG] [codegen] external $ref in parameters not getting resolved"
##### Description
When attempting to generate code from an OpenAPI document that included $ref , all of the references failed to be resolved and are included in files in the same directory.  I've seen other's report this issue before, but it is supposed to be resolved in the version I tested with.

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

https://githu

[2019-01-24 23:14] samoretc commented on #1922
Thank you for getting the fix into `csharp`.  It works now.

I'm trying to decide if I should switch to use `csharp-refactor` instead of `csharp`.  What are the differences and pros/cons between the two generators? I have not been able to compile the client library generated from `csharp-refactor`.

[2019-01-25 01:14] wing328 commented on #1922
@samoretc eventually we'll replace `csharp` with `csharp-refactor` and deprecate the existing `csharp` generator.

Can you share the details? Please try the latest master which has a few enhancements/fixes to csharp-refactor client.

[2019-01-25 05:43] ranjitkumar2k10 opened #1977 "legal issues of editing the generated stub code and opensource that generated code"
##### Description
We are working for an organization and as an orgnanization we are planning to opensource a project which is using openAPI2.0 and 3.0 specifications.

we are planning to generate the stub server and client code using openapi-generator
on top of generated code we may need edit the generated code like example model files, router file (or) main file (or) api_default files etc.. accor

[2019-01-25 06:31] kent-williams opened #1979 "[BUG][Python] Incorrect command in python-aiohttp server README"
##### Description

There is an incorrect command to launch tests in the python-aiohttp server README.

The following:
`
sudo pip install -r test-requirements.txt
`
Should be:
`
sudo pip3 install -r test-requirements.txt
`

This particular python-aiohttp generator and test dependencies requires Python 3.5.2+, as stated previously in the README.
##### openapi-generator version

Latest Master
##### O

[2019-01-25 06:57] ranjitkumar2k10 commented on #1977
thanks for clarification.

is it ok to keep for modified mustach templates in our repo according to our requirement.

[2019-01-25 07:06] wing328 commented on #1977
Yes, Apache v2 license doesn't mandate making the modified source code or template files public but we definitely recommend contributing back to the official repo as it will make upgrading to the latest version easier in the future.

Like any other questions on licensing, you are recommended to check with the legal department in your company.

[2019-01-25 07:12] ranjitkumar2k10 commented on #1977
sure.. thanks for the clarifications, if there is any changes will definitely do the contributors back.

[2019-01-25 07:12] #1977 closed

[2019-01-25 07:13] wing328 commented on #1979
@kent-williams thanks for reporting the issue. May I know if you've time to contribute a PR to update the readme accordingly?

[2019-01-25 10:56] mlrv commented on #1943
Same problem with the `var` keyword in Typescript. Is there any workaround that doesn't involve manually modifying the generated files?

[2019-01-25 13:15] ajdergute opened #1981 "[BUG][JavaSpring] Enum default value is only set if defined inline in schema"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? (3.3.4)
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty t

[2019-01-25 13:57] jmini commented on #1981
I think this is the same issue as in https://github.com/OpenAPITools/openapi-generator/issues/1927, `toDefaultValue` in `AbstractJavaCodegen` needs to unalias the schema.

[2019-01-25 14:05] mikezx6r commented on #1975
As this will target the Java and Kotlin Spring generators, I'd appreciate any thoughts or feedback you have on this. I think adding a new config property 'use.spring.security.oauth' which would add the appropriate `@PreAuthorize("hasAuthority('SCOPE_read:pets')")` annotation alongside the `@Mapping` annotation on the interface/controller method/function would be the way to go.

I will also look at

[2019-01-25 15:53] kent-williams commented on #1979
@wing328 Yes, I'd be happy to.

[2019-01-25 17:30] MBcom opened #1983 "[REQ] Add Authorize and bearer roles/scopes support to aspnetcore"
### Is your feature request related to a problem? Please describe.
* on generating the aspnetcore server package - (bearer) authentication are ignored and roles/scopes specfied for each operation are ignored too
* it would be time saving if the generator would generate the missing annotations

## Describe the solution you'd like

* add an `[Authorize]` Annotation for each route
* if there is an be

[2019-01-25 17:51] MBcom opened #1985 "[BUG] [typescript-angular] bearer auth is handled like basic auth"
#### Bug Report Checklist

- [x ] Have you provided a full/minimal spec to reproduce the issue?
- [x ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ x] What's the version of OpenAPI Generator used?
- [x ] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to s

[2019-01-25 18:04] MBcom opened #1988 "[BUG] [typescript-angular] local package installation fails because of link issue"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x ] What's the version of OpenAPI Generator used?
- [ x] Have you search for related issues/PRs?
- [x ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to spo

[2019-01-25 18:56] mskoh52 opened #1990 "[BUG] [Python-Flask] invalid code generated when spec contains parameter with ref to array"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? 3.3.4
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to

[2019-01-25 20:10] etherealjoy commented on #1873
but pistache is http server not https, how will you use bearer and basic with http?

[2019-01-25 20:35] jimschubert commented on #1922
Also, I was waiting for an example of how to reproduce this bug as I all not about to get RestSharp to consider these headers as anything other than a CSV (being combined within RestSharp).

I have a fix for csharp-refactor which is similar to the one above, I can open it as a PR later.

[2019-01-26 07:57] spacether opened #1991 "[BUG] [Python] $ref references to non-object types not working correctly"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-26 12:36] wing328 commented on #1991
OuterEnum is an enum model, which is allowed in some languages (e.g. Java).

For Python, `OuterEnum`is generated as https://github.com/OpenAPITools/openapi-generator/blob/master/samples/client/petstore/python/petstore_api/models/outer_enum.py

Does currently implementation of outer_enum.py make sense to you?

cc @taxpon (2017/07) @frol (2017/07) @mbohlool (2017/07) @cbornet (2017/09) @kenjones-cis

[2019-01-26 13:40] wing328 commented on #1966
@DavePilks thanks for reporting the issue. Do you mind filing a PR with the suggested fix so that we can review it more easily?

[2019-01-26 13:43] wing328 commented on #1940
@cognifloyd we definitely welcome contributions for another generator.

I would also suggest contacting @anil614sagar to see if we can join forces to create the generator.

[2019-01-26 20:57] Funghorn commented on #1663
Are there currently any workarounds for this? If not for 3rd spec, then maybe for the 2nd (without using oneOf, since, afaik, it is not supported).

[2019-01-26 21:39] spacether commented on #1991
It does not make sense to me for the following reasons.
Given the example:
[code]
When instantiating RefModel we have the following issues:
- Parameters that use $ref references are all set as non-nullable even though we defined them as nullable (openapi 3.0 spec feature)
- Values assigned in parameters are not checked against the possible enum values in their models
- When instantiating non-objec

[2019-01-27 03:42] ackintosh opened #1992 "[REQ] Make available logging controll in openapi-generator command"
### Is your feature request related to a problem? Please describe.

Related issue: https://github.com/OpenAPITools/openapi-generator/issues/989

The option `-Dlog.level` is available to controll logging level. but `openapi-generator` command installed via homebrew doesn't respect the option.

## Describe the solution you'd like

I think we should pass `$JAVA_OPTS` as third argument of `write_jar_s

[2019-01-27 03:44] ackintosh commented on #1992
I'm working on this issue. 💨

[2019-01-27 08:01] wing328 commented on #1990
@mskoh52 I would suggest try the latest master and use the option `generateAliasAsModel` to not generate the "Fail" as model.

[2019-01-27 17:42] BenjaminHae commented on #1002
I think this can be solved by adding the tag `controller.service_arguments` to the services.

[2019-01-27 18:02] BenjaminHae opened #1996 "[BUG] Symfony4 StrictJsonDeserializationVisitor::visitString declaration incompatible"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-27 22:01] rienafairefr opened #1997 "[BUG] nullable enum property"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?   3.3.0
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?

##### Description

If en

[2019-01-28 02:43] bradenmacdonald opened #1998 "[BUG] [typescript-fetch] Request Parameter Interfaces Conflict with remove-operation-id-prefix"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-28 04:56] DavePilks commented on #1966
It is in the works, just a bit busy at the moment but I should get something out by the end of the week.

[2019-01-28 04:57] wing328 commented on #1966
@DavePilks thanks. Let us know if you need any help.

[2019-01-28 07:54] joeboyscout04 commented on #1966
Related to https://github.com/OpenAPITools/openapi-generator/issues/230? Is there a way we can pass the queue so caller can control which queue it's on?

[2019-01-28 08:18] jmini commented on #1981
I have pushed #2001 to solve this issue.

[2019-01-28 09:15] #1985 closed

[2019-01-28 09:37] Findus79 opened #2003 "[BUG] cpp-restsdk generator produces broken code"
##### Description

When generating the interface for the sample json using cpp-restsdk generator, the resulting cpp is not compilable. One error is the generated helper function

    template <typename T>
    utility::string_t toString(const T value)
    {
        std::ostringstream out;
        out << std::setprecision(std::numeric_limits<T>::digits10) << std::fixed << value;
        return out.s

[2019-01-28 12:36] jfastnacht opened #2004 "[BUG][PHP] Replace `File.separator` in PHP generators with `/` (Windows)"
##### Description

In the PHP Codegen files (e.g. AbstractPhpCodegen.java and PhpSymfonyServerCodegen.java) there is a lot of usage of the `File.seperator` placeholder. While it doesn't make a difference for Linux and Mac users, it does for Windows users of the codegen, especially if the placeholder, which will become a backslash, is mixed with hardcoded forward slashes. In PHP there is no reason

[2019-01-28 13:53] mvniekerk opened #2006 "[BUG][CI/CD] broken on Shippable due to Yarn packages"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used? 4.0.0
- [X] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [x] [Optional] Bounty to

[2019-01-28 14:13] jfastnacht commented on #2004
The changes needed weren't too huge. Tried to generate PHP code with it which caused no more changes in the paths of the samples.

[2019-01-28 14:47] seanlaff opened #2008 "[BUG] extension refs are not supported"
##### Description

The generator ignores OpenAPI extension references because this conditional has whitelist of references

https://github.com/OpenAPITools/openapi-generator/blob/046db19a8590f3557ae1e04be75792bbeb39cb69/modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java#L279-L287

I'm using the GRPC-gateway to generate openAPI spec for my gRPC apis, and it uses

[2019-01-28 15:05] jfastnacht opened #2009 "[REQ] Add TYPO3 extension client template"
## Describe the solution you'd like

Add a new client template to generate extensions for the TYPO3 CMS.

[2019-01-28 15:54] jmini commented on #1871
PR: #2010

[2019-01-28 16:11] sakari opened #2011 "[BUG][PHP] oneOf produces type `OneOfModelAModelB` in Model $openAPITypes"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?script-client-produces-a-wrong-obj

[2019-01-28 16:22] wing328 commented on #2011
@sakari thanks for offering help. Sure we can work together on that. Do you mind pinging me via https://gitter.im (ID: wing328) so that we can come up with a plan to add the support of oneOf (and potentially anyOf)?

[2019-01-28 16:45] seanlaff commented on #2008
I realize this is not simple as adding another check for `#/x-` in the `getSimpleRef()` function because that function takes the shortened string and passes it to funcitons like `getParameter`, `getApiResponse`, etc

[code]

What would be the best way to rewrite these functions to be extensions aware? Responses, parrams, bodys, etc can all be attached to extension references.

[2019-01-28 17:31] fahadshakeel1989 commented on #1968
Closing the bug since it is working fine if we use minItems for Array objects as per OpenAPI Specification. It is generating @size against minItems.

[2019-01-28 17:31] #1968 closed

[2019-01-28 18:32] BenjaminHae commented on #1996
I've tried to fix it by myself: https://github.com/BenjaminHae/openapi-generator/tree/symfony4-fixes
But now I'm on a different type of error:
[code]

[2019-01-28 18:34] svdHero commented on #1873
That's missing the point. I merely reported wrong behavior in the generator. How TLS is provided has nothing to do with this issue.

However, there are (at least) two options:

1. Use an nginx as a proxy for HTTPS.
1. Use Pistache's built-in HTTPS functionality which has just been added, see https://github.com/oktal/pistache/pull/226

In any case, it should be the generator's job to translate the

[2019-01-28 23:17] dlazerka opened #2012 "[BUG] [Kotlin] Optional parameters"
#### Bug Report Checklist

- [+] Have you provided a full/minimal spec to reproduce the issue?
- [+] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [+] What's the version of OpenAPI Generator used?
- [+] Have you search for related issues/PRs?
- [+] What's the actual output vs expected output?
Generated argument types are `kot

[2019-01-29 03:41] chrisdrobison opened #2014 "[BUG] csharp-refactor generated client doesn't build in .net core but works with csharp generator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [x] [Optional] Bounty to sponso

[2019-01-29 11:17] tnmtechnologies opened #2018 "[Java][jaxrs 2.1/resteasy] compilation error because of @PATCH"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-29 12:55] jmini commented on #2018
Thank you for opening this issue.

The JaxRS generator needs some love anyway... See #27.

In thorntail it would be much better to use [MicroProfile OpenAPI](https://github.com/eclipse/microprofile-open-api) but we do not have the generator for it yet.

---

I agree with your idea for the patch, having `@io.swagger.jaxrs.PATCH` fully qualified.

Can you send a Pull Request for that?

Let me know i

[2019-01-29 12:56] #1871 closed

[2019-01-29 13:32] svenpanne commented on #1302
I have submitted a patch for the client part in #2016 and will look at the server part, soon.

[2019-01-29 13:34] svenpanne commented on #1302
BTW: `generateSourceCodeOnly` is currently broken, too, fixed in #2015.

[2019-01-29 14:34] wing328 commented on #2014
cc @jimschubert who refactored the csharp client generator

[2019-01-29 14:49] jimschubert commented on #2014
Thanks, this is most likely just missing a reference

[2019-01-29 15:56] hendrytl commented on #1694
It is an issue with csharp as well.

[2019-01-29 18:19] loganknecht commented on #2008
+1 on this. I really wish I could use references 😭

[2019-01-29 18:19] loganknecht commented on #1976
+1 on this. I really wish I could use references 😭

[2019-01-30 04:32] wing328 commented on #1053
Have you considered the `dateLibrary` option?

[code]

[2019-01-30 07:13] jmini commented on #1976
From the stacktrace, it seems that the problem is located in Swagger-Parser library.

Please have a look at how [Swagger-Parser](https://github.com/swagger-api/swagger-parser/) is parsing your file and try to produce a minimal example. Sample Java Snippet:

[code]

Maven coordinates of the dependency for your test project:

[code]

Let me know if you need help.

[2019-01-30 09:06] wing328 commented on #1997
@rienafairefr thanks for reporting the issue and suggesting the fix. What about doing that in the template with {{#isNullable}} ... {{/isNulalble}} instead of updating the allowed_values?

[2019-01-30 10:17] tnmtechnologies commented on #2018
Thanks.
I will do my best to send a PR asap.

[2019-01-30 13:41] SaratKumarM commented on #15
Do the OpenApi-Generator support OneOf / Any-Of combinations?

[2019-01-30 14:17] wing328 commented on #1577
#1999 merged into master. Please try the latest master (snapshot, docker image, etc).

Closing this for the time being.

[2019-01-30 14:17] #1577 closed

[2019-01-30 14:42] bejohu opened #2022 "[BUG][Python][Python-Aiohttp] util._deserialize throws AttributeError in Python 3.7"
##### Description

[code]

* `typing.GenericMeta` is [not available](https://github.com/python/typing/issues/468) in Python 3.7
* Relying on `__extra__` is [not recommended](https://github.com/python/typing/issues/136#issuecomment-138174590)

##### openapi-generator version

4.0.0-SNAPSHOT

##### Suggested fix

In `_deserialize` in [util.mustache](modules/openapi-generator/src/main/resources/pytho

[2019-01-30 16:17] CyrilleBenard opened #2024 "[BUG] [C++][Pistache-server] Object defined inside the body content does not compile"
##### Description
When the YAML file describes the use of an object inside the body content (without any content type like application/json), the generator produces a model file called InlineObject.h (and cpp) but to use it, the generator set the wrong include file name :

[code]
instead of

[code]

It seems that there is a confusion between the file name and the class name

[code]

##### openapi-

[2019-01-30 20:10] drl-max opened #2025 "[BUG] Spaces in Windows user path breaks build"
##### Description

Cannot run `mvn`

##### openapi-generator version

Any

##### OpenAPI declaration file content or url

N/A

##### Command line used for generation

`mvn` or `mvn test`

##### Steps to reproduce

1. Use Windows
2. Have a space in your username
3. Run `mvn`

##### Related issues/PRs

Not sure if there are other issues that are being caused by this problem

##### Suggest a fix

Tha

[2019-01-30 23:15] timbedard opened #2026 "[BUG][PYTHON] Reserved word escaping breaks python naming conventions"
##### Description

The [current method](https://github.com/OpenAPITools/openapi-generator/blob/046db19a8590f3557ae1e04be75792bbeb39cb69/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java#L348) of escaping reserved words in variable names involves appending a leading underscore (`_`) to the variable name. Per [PEP8](https://www.python.org/dev/peps/pe

[2019-01-31 01:25] ivan-gomes opened #2028 "[BUG] [PYTHON] additionalProperties not supported"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-01-31 02:47] #561 closed

[2019-01-31 04:45] ranjitkumar2k10 opened #2030 "openapi schema 3.0 yaml warnings"
1) i created my yaml with openapi 3.0 specification
2) generated the go server stub code  and getting below warnings.

1) WARN  - o.o.codegen.utils.ModelUtils - Multiple schemas found, returning only the first one
2) WARN  o.o.codegen.DefaultCodegen - The following schema has undefined (null) baseType. It could be due to form parameter defined in OpenAPI v2 spec with incorrect consumes. A correct

[2019-01-31 09:13] mvehar opened #2031 "[BUG][PHP] non-null, negative value cannot be serialized (empty array, false, etc)"
##### Description

non-null, negative value cannot be serialized (empty array, false, etc). problem is IF statement in generated controllers (**request**?$this->serialize(...)).

##### openapi-generator version
3.3.4, sma eproblem on 4.0.0

##### Command line used for generation

PHP symphony templates
##### Steps to reproduce

Generate pet store, implement listPets with returning empty array, che

[2019-01-31 09:38] wing328 commented on #2030
Which version are you using? If you're not using latest master, please give it a try.

[2019-01-31 14:34] tnmtechnologies commented on #2018
@jmini  @wing328  I have sent a Pull Request. Unfortunately the tests failed on CircleCI ([https://circleci.com/gh/OpenAPITools/openapi-generator/4576#tests/containers/2](https://circleci.com/gh/OpenAPITools/openapi-generator/4576#tests/containers/2)) .
The errors seem to be related to uncommited changes about php-ze-ph generator which is out of my changes.
How could we fix them?

[2019-01-31 14:52] Fredx87 opened #2035 "[BUG] [typescript-angular] Missing handling of text responses"
##### Description

When the returned content type of an API is a text type (e.g. `text/plain`), the Angular generated service doesn't set the `responseType: text` option (as shown in Angular documentation: https://angular.io/guide/http#requesting-non-json-data)

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content or url
[code]

##### Command line used for generation
`dock

[2019-01-31 17:31] timbedard commented on #2026
Furthermore, since the naming of the internal attributes of the generated models follows the PEP8 convention, the internal attributes for names such as `_pass` become `__pass` which ends up invoking name mangling for that attribute, making `__pass` externally accessible (for introspection purposes) as `_ExampleModel__pass` rather than `__pass`.

[2019-01-31 21:44] dalinarkholin commented on #802
Any timeline on this? I just ran into this issue trying to upgrade to babel 7 only to realize that namespaces are not supported.

[2019-02-01 05:15] ranjitkumar2k10 commented on #2030
Even when I tried to generate with https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/4.0.0-SNAPSHOT/openapi-generator-cli-4.0.0-20190125.032857-237.jar

****i am getting below errors:** and core also not generating**
[root@steady-lab 3.0_withlatestjar]# java -jar openapi-generator-cli.jar  generate -i Mp1.yaml -t mustach_templates -g go-server -o .
Exce

[2019-02-01 05:53] wing328 commented on #2030
There's a checklist when opening an issue. Please spend some time to go through that.

[2019-02-01 07:02] #525 closed

[2019-02-01 07:56] ajdergute commented on #1981
Thank's a lot for this superfast bug fix. I tried it today with 4.0.0-beta2 and it works.

[2019-02-01 08:02] zslajosfalvi opened #2037 "Model not generated for free-form object for Java client"
[code]

I used Maven OpenAPI codegen 4.0.0 beta2 with config

[code]

SinglePayment
HungarianCreditTransferIG2
model classes gets generated, but HungarianCreditTransfer not.

I get the following INFO message:
[INFO] Model PeriodicHungarianCreditTransfer not generated since it's a free-form object

Maybe this looks like not a bug, but I need the HungarianCreditTransfer class in my code.
Is it possi

[2019-02-01 08:17] jmini commented on #2037
Thank you for trying `4.0.0-beta2`

I tend to agree with you, if `HungarianCreditTransfer` = allOf ( `SinglePayment`, `HungarianCreditTransferIG2`) then it is not a free-form object.

---

There is a flag `generateAliasAsModel` that you can set to true but I am not sure if it will impact the generation in your case.

---

Maybe related issue: #453

[2019-02-01 08:41] TiFu commented on #802
@dalinarkholin Unfortunately, I don't have an ETA at this time. Totally depends on how much time I have in the next few weeks and afterwards.

[2019-02-01 10:49] mnicic opened #2038 "[Typescript][Angular] Disabling `authMethods` not supported?"
##### Description

I'm trying to generate Angular code but with some customizations.
For example, I want to skip authenticate part in the service by setting `authMethods` to `false` in the configuration file. But this is not respected - the authentication code is still there.

Is it possible? Am I missing something?

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or

[2019-02-01 11:40] zslajosfalvi commented on #2037
I tried this option but it has no effect on the code generation.
The HungarianCreditTransfer class is still not generated.

[2019-02-01 11:42] xurxoham opened #2040 "[REQ] [C++] Improved C++ model code generation"
### Is your feature request related to a problem? Please describe.

Model class generation for Pistache server C++ generator can be vastly improved. This changes, though, break with existing code but also get rid of unnecessary polymorphism and code complexity. Since this is a C++ language feature, other C++ code generators could leverage this improvement as well.

## Describe the solution you'd l

[2019-02-01 16:25] wing328 commented on #2037
@zslajosfalvi thanks for reporting the issue. I think I know where to fix it and will try to submit a PR over the weekend.

[2019-02-01 17:37] lwoerdeman opened #2043 "[Java][okhttp-gson] Bug building generated client with localVariablePrefix set"
##### Description
The open api generator for the default client (ok http) fails to compile after generating client with

##### openapi-generator version
3.3.4

##### OpenAPI declaration file content or url
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/api.mustache

##### Command line used for generation
java -jar op

[2019-02-01 17:58] fantavlik commented on #1714
I believe this could be the fix? Hoping it gets merged soon. https://github.com/swagger-api/swagger-parser/pull/977

[2019-02-02 03:48] wing328 commented on #2043
@lwoerdeman thanks for reporting the issue. i think what I'll do it to completely remove the option and prefix all local varaible wiith `localVar` similar to what we've done in other languages.

[2019-02-02 10:51] jmini commented on #1462
`4.0.0-beta2` has been released:
https://github.com/OpenAPITools/openapi-generator/releases/tag/v4.0.0-beta2

Coordinates on maven central:
[code]

[2019-02-02 18:12] wing328 commented on #2043
@lwoerdeman I've filed https://github.com/OpenAPITools/openapi-generator/pull/2045. Please have a look when you've time.

[2019-02-03 01:14] wing328 commented on #2043
@lwoerdeman we want to reduce the number of options as we got feedback from users the generators contain too many options.

The original goal of the option is to avoid parameter naming conflicts and we can still do that without the option (just like what we've done in other generators)

If you feel strongly to keep that option, can you elaborate on the reasons/your use cases?

[2019-02-03 05:12] kanekv commented on #1215
@bjgill would it be easier to support `reqwest` as an option?

[2019-02-03 17:15] ranjitkumar2k10 commented on #2030
Are these warnings are due to spec is properly aligned with 3.0 also

[2019-02-04 08:59] macjohnny commented on #2038
@mnicic could you please post a minimal reproduction example and the part of the generated code that is not correct?
We use the generated code without authentication.

[2019-02-04 09:00] mroland91 opened #2050 "[BUG] [Golang] unexported name is generated for enum"
##### Description
When I generate Go model code for an enum where a value starts with a number then the generated const will be unexported.

Actual:
// List of AccessType
const (
        **_3_GPP_ACCESS AccessType = "3GPP_ACCESS"**
        NON_3_GPP_ACCESS AccessType = "NON_3GPP_ACCESS"
)

Expected e.g.:
// List of AccessType
const (
        ACCESS_TYPE_3_GPP_ACCESS AccessType = "3GPP_ACCESS"

[2019-02-04 09:04] macjohnny commented on #2035
@Fredx87 thanks for opening this issue. would you like to give it a try and implement the requested feature?
here are some starting points:
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache#L322

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/o

[2019-02-04 09:26] Hellspam opened #2051 "[BUG] [Bash] Exception when generating bash for slack web api spec"
##### Description

When using the latest openapi-generator with the spec for slack - https://api.slack.com/specs/openapi/v2/slack_web.json - I get an exception:
[code]

##### openapi-generator version

3.3.4

##### OpenAPI declaration file content or url

https://api.slack.com/specs/openapi/v2/slack_web.json

##### Command line used for generation

`java -jar openapi-generator-cli.jar generate -g

[2019-02-04 09:48] mnicic commented on #2038
Used command:

[code]

Content of `config.json`:
[code]

[2019-02-04 09:50] macjohnny commented on #2038
@mnicic the default petstore file is well known, it is more helpful to simply copy the part that relates to this issue. moreover, please post the generated code that should be changed.

[2019-02-04 10:19] mnicic commented on #2038
Generated file `pet.service.ts` contains auth methods (part `// authentication (petstore_auth) required`):

[code]

[2019-02-04 10:35] macjohnny commented on #2038
@mnicic I don't find any `authMethods` configuration option as declared in your `.json` configuration, see
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java#L42-L101

The reason for the
[code]
part being generated is that
the spec defines an auth method for the api endpoints:

[2019-02-04 11:22] mnicic commented on #2038
Yes, I assumed that `security` part from the YAML specifications causes this.

But should the decision-flow be put in different direction - to give control over the generating the code?
Actually, a spec could be something that is not maintained by myself. I just want to generate the code from third-party spec by defining some settings - like settings to control `authMethods` or `providedInRoot` or

[2019-02-04 13:03] macjohnny commented on #2038
given the specification, the options should help to control variants of code generation. but the options should not override definitions imposed by the specification, since it is by definition that the requirements for the api communication are in the specification.

[2019-02-04 13:10] tnmtechnologies commented on #2018
@jmini @wing328 CircleCI failure is fixed

[2019-02-04 13:17] #219 closed

[2019-02-04 13:36] mnicic commented on #2038
Ah... Understand! My assumptions was different...
Thanks for the clarification.

The issue can be closed i think...

[2019-02-04 13:36] #2038 closed

[2019-02-04 13:38] tomghyselinck commented on #1658
A similar issue has been reported in #1899

[2019-02-04 14:12] #2037 closed

[2019-02-04 14:48] macjohnny opened #2053 "[BUG] Spring Boot fails to parse LocalDate query parameter"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-04 15:13] ossinkine commented on #1996
JsonDeserializationVisitor became final since 2.0.0-RC1 https://github.com/schmittjoh/serializer/commit/2340794e3a5bf75a5da7f199c5970ab4b48793c4.
So it seems we can't use inheritance anymore and should use composition.

[2019-02-04 16:23] zslajosfalvi commented on #2037
Thanks for the fix.
However I have to wait for the new beta or final release since I don't build the code from source.

[2019-02-04 16:35] bjgill commented on #1215
It'd certainly be possible. Switching the HTTP client library seems likely to be quite painful, however.

[2019-02-04 16:38] wing328 commented on #2037
@zslajosfalvi you can use the SNAPSHOT version instead: https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-cli/4.0.0-SNAPSHOT/

[2019-02-04 16:51] zslajosfalvi commented on #2037
Thanks.
Actually I use the Maven plugin to run the code generator.
Has it also have a snapshot version?

[2019-02-04 17:03] jmini commented on #2037
@zslajosfalvi Yes there is one:
https://oss.sonatype.org/content/repositories/snapshots/org/openapitools/openapi-generator-maven-plugin/4.0.0-SNAPSHOT/

Depending on your setting, you might need `https://oss.sonatype.org/content/repositories/` as `pluginRepository` in your pom or setting xml.

[2019-02-04 20:43] mrzeszotarski opened #2054 "[BUG] [Java][RESTEASY] Multipart requests in generated client doesn't work"
##### Description

Generated Resteasy Java client throws Exception `javax.ws.rs.ProcessingException: RESTEASY003215: could not find writer for content-type multipart/form-data type: java.util.LinkedHashMap` when sending multipart request.

##### openapi-generator version
4.0.0-SNAPSHOT
##### OpenAPI declaration file content or url
https://petstore.swagger.io/v2/swagger.json

##### Command line use

[2019-02-05 04:21] decet opened #2055 "[PHP] "-l slim" in CLI suggested in wiki flagged as deprecated. Update docs to "-l php-slim""
##### Description

Referencing wiki at wiki/Server-stub-generator-HOWTO, -l slim is suggested for generating server stubs. That'll get you a warning that it's deprecated, and to use -l php-slim, like so:

[main] WARN  o.o.c.config.CodegenConfigurator - The name 'slim' is a deprecated. Please update to the new name of 'php-slim'.

Update the wiki to reflect non-deprecated flag.

##### openapi-gener

[2019-02-05 06:34] zslajosfalvi opened #2056 "[BUG] [Java client]"
If I use this component definitions

[code]
and generate an API for

[code]
with Maven plugin I get an invalid Java code generated:

`import hu.cib.psd2.model.xs2a.OneOfHungarianCreditTransferResponseCrossBorderCreditTransferResponsePeriodicHungarianCreditTransferResponse;	`

[code]
The generator doesn't recognize the common parent BaseResponse, instead it refers to a non existing
OneOfHungarianCr

[2019-02-05 06:59] zslajosfalvi opened #2058 "[BUG] [Java client] oneOf is not handling inheritance properly"
If I'm using this component defintions:

[code]

I have multiple problems with the generated code:

1.
AccountReferenceIban and AccountReferenceBban doesn't extend AccountReference.

[code]
2.
SinglePayment has a

`  private OneOfAccountReferenceIbanAccountReferenceBban debtorAccount = null;`

that refers a non existing class.
Insted it should use the common parent AccountReference.

[2019-02-05 07:13] wing328 commented on #2058
You need to use the `discriminator` field for polymorphism

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#composition-and-inheritance-polymorphism

[2019-02-05 07:21] zslajosfalvi commented on #2058
Unfortunatly I don't have a discriminator field.
I know normally there should be one in such cases, but the data type defintion is not done by me, instead I get from somewhere else.
To handle properly the inheritance I use a custom non generated class instead of the generated AccountReference.

[code]

[2019-02-05 09:23] wing328 commented on #2058
[code]

Looks like it's the correct use of `oneOf based on the requirement you provided.

[2019-02-05 10:44] staaouat commented on #540
I'm facing the same problem with the versions cli-3.3.4 and cli-4.0.0-SANPSHOT

[2019-02-05 10:57] staaouat opened #2061 "[JAVA] Compilation error on DatasetApi ( defaultValue=""*:*"" )"
##### Description
An error (defaultValue=""*:*"") occured on the gerated class DatasetApi from generating the server jaxrs-resteasy-eap.

In general all languges that generate defaultValue, has the same problem(the value of the defaultValue is generated with unnecessary double quotes ).

##### openapi-generator version

openapi-generator-cli-4.0.0-20190204

##### OpenAPI declaration file content o

[2019-02-05 11:04] staaouat commented on #1805
I'm facing the same problem

[2019-02-05 11:05] staaouat commented on #1697
I'm facing the same problem.

[2019-02-05 13:06] lztcf opened #2062 "[BUG] Failed to add required=false"
**Description:**
There is not required=false in in RequestPart from generated API source code.

We call API without file (possibly by specification of API), then we receive:
`2019-01-31 13:18:52.506  WARN 13343 --- [nio-2004-exec-5] .w.s.m.s.DefaultHandlerExceptionResolver : Resolved [org.springframework.web.multipart.support.MissingServletRequestPartException: Required request part 'file' is not

[2019-02-05 16:28] legzo opened #2063 "[bug][Kotlin] Default typeMapping for 'date' should be LocalDate"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?

##### Description

When a spec s

[2019-02-05 16:33] ericozzi opened #2064 "[BUG] Generated Python unit tests hard code 200 response for POST actions"
##### Description

Using OpenAPI3 to generate our Python based service. We are attempting to use HTTP response code 201 for POST operations. However, the OpenAPI generated unit tests hard code expect a 200 response. So, the unit test fails. See https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python-flask/controller_test.mustache#L50.

Open

[2019-02-05 17:58] bicatu commented on #1150
Hi, any updates on this issue? Maybe remove the js as an available language until this gets solved?

[2019-02-05 23:10] timbedard opened #2066 "[BUG] [PYTHON] generateSourceCodeOnly value is not checked properly"
##### Description

This is the code from PythonClientCodegen.java that checks the config property for `generateSourceCodeOnly`:
[code]
It's pretty obvious that when the config json includes:
[code]
...the above code will incorrectly set `generateSourceCodeOnly` to `true`.

##### openapi-generator version

4.0.0

##### OpenAPI declaration file content or url

< any valid declaration file >

##### C

[2019-02-06 01:03] autopp opened #2067 "[BUG] String interpolation in Ruby client code dose not work"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-06 04:10] autopp opened #2069 "[BUG] Generated Ruby client contains syntax errors when pattern of properties includes single-quote"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-06 06:59] #2067 closed

[2019-02-06 08:48] wing328 commented on #2069
Thanks for reporting the issue. Your suggestion sounds good to me.

[2019-02-06 09:57] autopp opened #2070 "The execution of `bin/openapi3/{LANG}-petshop.sh` is not included in PR checklist"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-06 13:08] tomghyselinck commented on #1693
@jmini: I will try to do so in the next weeks

[2019-02-06 13:47] tomghyselinck opened #2075 "[BUG][Python] Bug in Cookie authentication"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-06 14:19] jaumard opened #2076 "[BUG] allOf to generate a model"
I'm using this definition to simulate genericity of paging result:
[code]

I'm expecting this to generate a `ProductList` model that contains `PaginateResults ` and the additional one. Problem is that it doesn't generate `ProductList` at all only `PaginateResults` and `Product`. And the generated method return only a `PaginateResults` which is incorrect.

I checked under `DefaultCodegen::getSchema

[2019-02-06 15:05] tomghyselinck opened #2077 "[REQ][Python] Python client Cookie authentication should be transparent"
### Is your feature request related to a problem? Please describe.

In summary:
Cookie authentication is currently not "_transparent_" to the API user.
We need to set the cookie ourselves once authenticated to the server.

1. We use cookie authentication in an OpenApi 3.0 spec.
1. We generate a Python client
1. Perform a "_login_" operation on the REST API (using the `openapi_client.DefaultApi.log

[2019-02-06 17:08] wing328 commented on #2076
As discussed over IM, before we improve the inline model resolver to works better with inline allOf, a workaround is to define the model with allOf separately and use $ref instead.

[2019-02-06 17:11] wing328 commented on #2066
I think it should be fixed by https://github.com/OpenAPITools/openapi-generator/pull/2015. Please give the latest master a try.

Closing this for the time being. We'll reopen if it's still an issue.

[2019-02-06 17:12] jaumard commented on #2076
Thanks for the workaround !

[2019-02-06 17:12] wing328 commented on #2055
@decet thanks for reporting the issue. Please feel free to update the wiki page directly as the wiki documentation is meant to be maintained by the community.

[2019-02-06 17:55] spacether opened #2078 "[BUG] [Python] Models with only additionalProperties are not generated"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-06 18:07] marcoaltieri opened #2079 "[BUG] Maven plugin ignore sourceFolder for test classes"
##### Description
I am using the maven plugin to generate the code.
The following xml snippet shows the configuration:
[code]
The API and model classes are generated in the expected folder src/gen/java, but the test classes are still generated in src/test/java
##### openapi-generator version

Latest version

##### OpenAPI declaration file content or url
Any definition
##### Command line used for g

[2019-02-06 18:36] nabil86 opened #2080 "[JAVA] generate a wrong class using inheritence and discriminator"
##### Description

Given this config:

[code]
in pom conf
`modelNamePrefix>Api</modelNamePrefix>`
is ignored for inheritence

##### openapi-generator version

 Since 3.2.0

[2019-02-06 20:27] barzoj commented on #1694
it seems to be fixed in `4.0.0-beta2`, at least for `go-server`

Please verify for other generators

[2019-02-06 20:28] #1694 closed

[2019-02-06 22:01] timbedard commented on #2066
Searched but still missed it. Thanks.

[2019-02-07 00:50] autopp opened #2081 "[BUG] Generated Ruby client contains syntax errors when option for enum includes single-quote"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-07 00:55] autopp commented on #2069
Thank you for checking. I will create a PR to resolve this with #2081 together.

[2019-02-07 02:37] decet commented on #2055
I believe I have to be a "repository collaborator" to edit that wiki, and I am not.
Perhaps move the wiki material into the code repository, and change it with pull requests?
That would reduce the level of trust required for a change, and increase the scutiny.

[2019-02-07 03:29] wing328 commented on #2080
@nabil86 can you try the following instead (without type:object)?
[code]

[2019-02-07 04:08] wing328 commented on #2062
@lztcf can you try the latest master? I remember there's a fix for required properties in the inline schema.

Links to the SNAPSHOT version can be found in the project's README

[2019-02-07 04:14] #2070 closed

[2019-02-07 04:17] wing328 commented on #2066
generateSourceCodeOnly = convertPropertyToBoolean(CodegenConstants.SOURCECODEONLY_GENERATION);
}

Do you mind filing a PR with your suggested fix if it's still an issue?

[2019-02-07 04:33] GynnRickerbyNZPost opened #2082 "[BUG] [Java] Bean Validation for min/max incorrect when exclusive set"
When a field has a minimum/maximum specified, with the exclusive parameter set, e.g.
[code]

The generated Java Bean Validation code isn't correct.
E.g. Current incorrect code:
[code]
Expected code:
[code]

Tested with Spring Generator (both spring-boot and spring-cloud libraries), but I believe all Java libraries are using the same validation generation code.

[2019-02-07 08:51] nabil86 commented on #2080
It does'nt work.
As mentioned before if I change generator's version from 3.3.4  to 3.1.2 it generates what I want.

[2019-02-07 11:33] karismann opened #2085 "[BUG] [Java] Getter/Setter naming convention not followed in generated models"
##### Description

When generating a client library, the getters/setters for a field `pId` are `getPId()` and `setPId()`.
As per naming conventions, this is wrong :
* https://stackoverflow.com/questions/2948083/naming-convention-for-getters-setters-in-java
* https://download.oracle.com/otn-pub/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/beans.101.pdf?AuthParam=1548672501_cd9f95cc049ee0220b70f6c448b2

[2019-02-07 13:02] legzo commented on #2063
@jimschubert , @dr4ke616 : what's your take on that ?

[2019-02-07 13:33] exfly opened #2087 "[BUG]Spring can't generate complex Pet and Error one controller"
##### Description

spring cant generate Inheritance and Polymorphism openapi

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

If you post the code inline, please wrap it with
[code]
##### Command line used for generation

`#!/bin/env sh
docker run --rm \
  -v ${PWD}:/local openapitools/openapi-generator-cli generate \
  -i /local/src/main/resources/o

[2019-02-07 14:11] jimschubert commented on #2063
@legzo I do think this would be considered a bug. There's always a workaround with type mappings in that you can specify them on the command line. Some generators may set certain mappings in such a way that user overrides aren't supported (as with Kotlin client json types).

If you're able to open a PR, that would be awesome. I'm in a crunch at work and it's been taking away from my open source co

[2019-02-07 14:13] jimschubert commented on #2063
I've tagged this as client/server related, since this is in the base class. Will evaluate the full impact later.

[2019-02-07 15:43] advance512 commented on #1429
@wing328 please claim the bounty at:
https://www.bountysource.com/issues/66123212-javascript-client-produces-a-wrong-object-for-a-string-enum-type-that-is-used-with-ref

Thanks!

[2019-02-07 16:04] autopp opened #2088 "[BUG] Generated Ruby client may contains unexpected interpolation when using pattern"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-07 16:15] tnmtechnologies opened #2089 "[JavaJaxrsResteasy] #1423 was fixed in 3.3.3 but not in 3.3.4"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-07 16:17] spacether commented on #2075
Our auth pattern is to keep all info in the configuration auth dict and then load it in when requests are made.

How about using the in cookie solution and load the configuration value into the cookie if it is not already there. If cookie auth is used, and the login route is hit, set the value of the cookie key in the auth configuration. That keeps this auth type following our current patterns.

[2019-02-07 18:38] nathan5280 opened #2090 "[BUG] [Python] nullable reference not generating any_of_x"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-07 21:18] timbedard commented on #2066
Nah, #2015 fixed it.

[2019-02-07 21:18] #2066 closed

[2019-02-07 21:39] willianscfa commented on #1947
@macjohnny
Having the same problem, could file a PR if someone guide me through it, I'm not familiar with the code base. Can you point me in the right direction? Module, files to check etc... ?

[2019-02-07 23:06] timbedard opened #2092 "[BUG] Parameter example strings rendered without quotes in docs"
##### Description

For several generators (tested Python, Java, and JavaScript), parameter `example` strings are rendered without quotes for example code in docs, resulting in invalid example code. It's worth noting that values for the `default` property of parameters _are_ rendered correctly.

##### openapi-generator version

4.0.0

##### OpenAPI declaration file content or url

[code]

##### Com

[2019-02-07 23:15] spacether opened #2093 "[BUG] [Python] library .travis.yaml omits python 3.6 and 3.7"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-08 02:22] wing328 commented on #2093
@spacether yup, the file likely is outdated as it has not been updated for a long time. Please submit a PR when you've time.

When I've time, I'll also take a look at the Travis files in other libs (e.g. Ruby, PHP, etc) to ensure it contains the latest supported versions.

[2019-02-08 03:51] #2043 closed

[2019-02-08 06:46] #2087 closed

[2019-02-08 07:17] macjohnny commented on #1947
@willianscfa the starting point for the code generation template is here:
https://github.com/OpenAPITools/openapi-generator/blob/0a2fb8db8fb0d573b3cf4727943ada8cabddbb99/modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache#L93-L112

the controller is here https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapi

[2019-02-08 09:11] grEvenX opened #2094 "[Java] Vulnerability in version of gradlew generated by default"
##### Description

While generating scala-httpclient, Java or android clients, they all use an old template for `gradle-wrapper.properties.mustache` pointing to Gradle version 2.6.
Our dependency vulnerability scanner picked up on this version being vulnerable as it allows allows remote attackers to execute arbitrary code via a crafted serialized object
See https://nvd.nist.gov/vuln/detail/CVE-201

[2019-02-08 11:10] hellboy81 commented on #910
I have trouble with  [old jackson-datatype-jsr310-2.9.8 dep](https://github.com/FasterXML/jackson-modules-java8/issues/101).

Is there possible to use `jackson-datatype-jdk8` instead of `jsr310`

[2019-02-08 13:43] karismann opened #2096 "[BUG] [angular-typescript] Wrong Typescript Version for Angular 6 with Npm"
##### Description

Unable to `npm run build` the sample typescript-angular-v6-provided-in-root\builds\with-npm because the typescript version is not correct :

##### openapi-generator version

4.0.0-SNAPSHOT

##### Related issues/PRs

https://github.com/angular/angular/blob/master/CHANGELOG.md#600-2018-05-03

##### Suggest a fix

`tsVersion`  ">=2.1.5 <2.7.0"  value should be replaced by ">=2.7.2

[2019-02-08 15:22] legzo commented on #2063
Hi @jimschubert, thanks for your feedback.

As a matter of fact I overrid the mapping in the config of the generator, so there is a work around. However I find it deceptive that out of the box Jackson is not able to deserialize a model that is propertly typed and formatted in the json.

I'll make a PR and you'll decide what to do with it :)

Thank you for your open-source contrib by the way. Much

[2019-02-08 16:59] timbedard commented on #2026
The `escapeReservedWord` method is also called when a name begins with a number, so those will need to be handled differently in some way. That's probably for the best anyway, since it's currently a bit of a misnomer that `escapeReservedWord` is called on a name that isn't a reserved word.

[2019-02-08 17:27] spacether commented on #1747
@wing328 is there a shell script that I can invoke to run the server locally and get these tests to pass?
Which one do we use when testing the samples? I can't tell from the pom.xml file.

[2019-02-08 17:40] karismann opened #2098 "[BUG] OpenApi 2 client generator refparameters not separated by slash"
##### Description

In an openAPI 2.0 declaration, if you have two ref parameters not separated by "/" , the client generator send the error :

##### openapi-generator version

4.0.0-SNAPSHOT
worked before with swagger codegen 2.2.3

##### OpenAPI declaration file content or url

[code]

[2019-02-08 17:46] dskvr commented on #559
This is a common problem in all swagger generators. Basically, if you're using OAS, design your API to provide consistent responses.

[2019-02-08 19:33] samuelAle opened #2099 "[BUG] Transitive library issue"
#### Bug Report Checklist

- [Yes ] Have you provided a full/minimal spec to reproduce the issue?

- [yes] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [3.3.2+] What's the version of OpenAPI Generator used?
- [yes ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

Expected: Build su

[2019-02-09 07:41] autopp opened #2100 "[BUG] The generated Ruby client's code violates its own Rubocop rule."
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-09 07:50] autopp commented on #2100
'Server: Python' is an inappropriate label. 😞

[2019-02-09 08:58] autopp commented on #2100
I found other violations in current samples:
[code]

[code]

[code]

I would like to fix it so as to eliminate these violations.

[2019-02-09 09:00] autopp commented on #2100
@ackintosh Thanks to remove label!

[2019-02-09 14:08] #1997 closed

[2019-02-09 14:18] wing328 commented on #2098
@karismann what about skipping the validation for the time being as a workaround?

[2019-02-09 14:19] #1002 closed

[2019-02-09 14:51] A-Joshi opened #2101 "[REQ] aspnetcore Make code generation configurable"
### Is your feature request related to a problem? Please describe.

* Trying to get the aspnetcore generator to generate interfaces only. This will be akin to the Java Spring support where we generate the interfaces for the API and let the servers implement the interface. The difficulty is that a lot of irrelevant code is generated and it should be easy to turn it off via the configuration.
* The

[2019-02-09 14:51] #457 closed

[2019-02-09 14:54] wing328 commented on #457
https://github.com/OpenAPITools/openapi-generator/pull/1972 by @davidwcarlson has been merged into master. Please give it a try with the latest master.

[2019-02-09 17:49] mskoh52 commented on #1990
Confirming that it things work properly in latest master. Thanks!

[2019-02-09 17:49] #1990 closed

[2019-02-10 00:29] #2100 closed

[2019-02-10 07:28] #1433 closed

[2019-02-10 13:25] autopp commented on #2069
This is similar to #2081, but the cause was different.

[2019-02-10 14:47] wing328 commented on #2055
You're right. The wiki page is now "admin" only so I've updated it myself.

I'll look into the setting later (again) to see if we can allow the users to edit the wiki directly.

[2019-02-10 14:47] #2055 closed

[2019-02-10 18:43] dskvr opened #2108 "[REQ] Use Quicktype for models where possible"
### Is your feature request related to a problem? Please describe.

The model generators for in both `openapi-generator` and `swagger-codegen` are inherently deficient, having minimal coverage for the swagger 3.0. The deficiencies I'm referring to are related to the following specs
- anyOf
- allOf

I've tested my schemas against both swagger generators and then quicktype. Please see the following

[2019-02-10 19:37] dskvr commented on #2076
Hey @wing328, this workaround doesn't actually work. Please see #2108

[2019-02-10 20:01] spacether commented on #2075
Two useful test cases could be:
in one host will have two cookie authentication types:
cookieAuthA
cookieAuthB
Have route loginA use cookieAuthA
Have route loginB use cookieAuthB
Have route /cookieNeededA use cookieAuthA
Have route /cookieNeededB use cookieAuthB

[2019-02-11 05:49] jimschubert commented on #1898
Thanks for the suggested feature request. I like the idea of trying to make this use case of OpenAPI Generator a little less intimidating. However, I think the full list of suggestions would greatly increase the maintenance footprint for the core team and/or the community. I'll explain, then end with a few suggestions.

We already offer a `meta` generator, which outputs the bare minimum of files r

[2019-02-11 05:52] jimschubert commented on #1818
@wing328 I'm finally working on getting caught up on some past issues. I was wondering if you had a suggestion about where we can link to the troubleshooting section we have documented by https://github.com/OpenAPITools/openapi-generator/commit/466100dec0303004529192f40cb15bbc326ab745?  Maybe in the FAQ? I was hesitant to add it there, because it's not "frequently asked".

[2019-02-11 05:59] Downchuck commented on #1547
@someone1 Did you see this fixed? I'm seeing the same behavior in 4.0.0-beta2

[2019-02-11 07:11] jmini opened #2111 "[Parser] Decouple code from Swagger-Core"
I would like to investigate if it is possible to replace usage of

[code]

With the interfaces defined in Eclipse MicroProfile:

[code]

To model existing OpenAPI specifications, the Eclipse MicroProfile is using a model that is really similar to what Swagger-Core is providing.
But it follows the JavaEE principle: there is a clear API with interfaces and different vendors can implement them.

With

[2019-02-11 07:12] jmini commented on #2108
Can you try with `4.0.0-beta2`?

[2019-02-11 08:25] karismann commented on #2098
You're right, when we use the `--skip-validate-spec` to generate the client, all works.
But this error message is not supposed to appear.

[2019-02-11 08:38] dskvr commented on #2108
Will do :+1:

[2019-02-11 13:10] macjohnny commented on #2096
@karismann @wing328 can you close this issue? it was merged with https://github.com/OpenAPITools/openapi-generator/pull/2097

[2019-02-11 13:13] #2096 closed

[2019-02-11 14:03] karismann opened #2116 "[typescript-angular] Update default Angular version from 4.3 to 7.0 (NPM Client)"
Angular 4.0.0 LTS [ended](https://angular.io/guide/releases#support-policy-and-schedule) on September 23, 2018. It should be safe now to upgrade the default Angular build version to the latest major version (7.0.0).

Upgrading would also prevent people who use Angular >= 6.0 can't get a working package without adding `--additional-properties ngVersion=7` to the generate script.

original issue :

[2019-02-11 14:27] tomghyselinck commented on #2075
Hi @spacether,

Thank you for your reply.

I also support you suggestion.

Please note that this implementation will also need support at `def update_params_for_auth(self, headers, querys, auth_settings)` in `modules/openapi-generator/src/main/resources/python/api_client.mustache`:

[code]

Furthermore, there may also be the need to define the priority of the `self.cookie` vs `self.configuration.a

[2019-02-11 14:32] tomghyselinck commented on #2075
Maybe a more extended useful test case (using two authentication tokens) could be:
1. cookieAuthA
1. cookieAuthB
1. Have route /cookieNeededA use cookieAuthA (_should fail_)
1. Have route /cookieNeededB use cookieAuthB (_should fail_)
1. Have route loginA use cookieAuthA
1. Have route /cookieNeededA use cookieAuthA
1. Have route /cookieNeededB use cookieAuthB (_should fail_)
1. Have route loginB u

[2019-02-11 15:20] rienafairefr opened #2118 "[BUG][Python] file upload seems broken"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?   latest master
- [X] Have you search for related issues/PRs?

##### Description

When using a `multipart/form-data` request body

[2019-02-11 15:51] tomghyselinck commented on #1663
@wing328 Since #1664 and/or #1842 I see some improvement but the Python client models still miss the parent properties which gives me some issues when trying to return an object of a type "_in the middle of the type hierarchy_" (e.g. `Dog` in the attached project):
* The member fields of the parent object(s) are _always_ missing: (`Bird`, `Cat`, `Dog` miss `petThing` from the `Pet` base/parent obj

[2019-02-11 15:59] hatappi opened #2119 "[BUG] [Go] object nullable not working"
##### Description
output json using Go `struct`.
When there is no value in strcut, it may not be displayed in json.
In such a case I will use pointer.

However, if specify `nullable: true` for the object in the definition file, it will not be output with a pointer.
For integer and string pointers are given.

##### openapi-generator version
- 3.3.4
- 4.0.0-SNAPSHOT

##### OpenAPI declaration file c

[2019-02-11 16:14] karismann opened #2120 "[BUG] [typescript-angular] Incorrect OperationId Generated (starting with number)"
##### Description

If you have an input declaration with an `operationId `starting with a number, the angular client generator doesn't transform this `operationId `and the code generated is incorrect with the TS1351 error :

`"An identifier or keyword cannot immediately follow a numeric literal."`

##### openapi-generator version

4.0.0-SNAPSHOT

##### OpenAPI declaration file content or url

[cod

[2019-02-11 16:17] #1996 closed

[2019-02-11 16:32] #2081 closed

[2019-02-11 17:03] tcjcodes commented on #2099
Stacktrace:

[code]

[2019-02-11 17:17] dojeda commented on #1991
I think I encountered this bug on an API that has the following structure:

[code]

I tried to trim as much as possible in order to keep only the elements related to this issue. I left the enum just to show that enums are handled correctly.

The problem here is the `$ref` to a property in a schema. This generates a model with the following map:
[code]
which then fails when deserializing the respon

[2019-02-11 18:40] spacether commented on #1991
@dojeda
When using $ref linkings, I have never seen them refer to the inner properties of a model.
So your inline definition here:
[code]
Your spec would be easier to understand if you defined the Page, Pages, and Total models at:
[code]
Each of those models would demonstrate from the same issue that I am describing above
where they are non-object models.
From your error it looks like the codegen

[2019-02-11 18:57] jacobweber commented on #925
I think this should be re-opened. My understanding is that Swagger spec allows free-form objects using `type: object`.

[2019-02-11 19:01] dojeda commented on #1991
Thanks for the response @spacether,

I had never seen `$ref` to the inner properties of a model before either, until I read linode's specification, which is what I used as inspiration for my paginated responses: https://developers.linode.com/api/v4/openapi.yaml
I know I can refactor this out into a schema, but I liked the way linode solved this problem. I don't think this is more or less readable

[2019-02-11 23:31] jacobweber opened #2124 "Android: list of enums generates syntax error due to mustache HTML encoding"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-11 23:52] jacobweber opened #2125 "[BUG] swift4: not handling array parameters"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-12 00:18] jacobweber opened #2126 "[BUG] javascript: unexpected token import"
#### Bug Report Checklist

- [X] Have you provided a full/minimal spec to reproduce the issue?
- [X] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [X] What's the version of OpenAPI Generator used?
- [X] Have you search for related issues/PRs?
- [X] What's the actual output vs expected output?
- [ ] [Optional] Bounty to sponso

[2019-02-12 00:59] tcjcodes commented on #2099
Also fails for `"org.openapitools:openapi-generator-gradle-plugin:4.0.0-beta"`

[2019-02-12 01:27] tcjcodes commented on #1714
This seems to fail when `in: path` but `in: query` params will work.

The workaround for gradle works: `openApiGenerate { .... validateSpec = false }`

[2019-02-12 02:19] spacether commented on #1991
Making them base level models may make them generated. I know that an array model is generated but per this issue, even if it is generated it will not store data like you need it to. Can you file a separate ticket on the inline models not being generated?

[2019-02-12 03:57] fujigon opened #2127 "[BUG][Java] default value in referenced Enum produces corrupted code"
#### Bug Report Checklist

- [ ] Have you provided a full/minimal spec to reproduce the issue?
- [ ] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [ ] What's the version of OpenAPI Generator used?
- [ ] Have you search for related issues/PRs?
- [ ] What's the actual output vs expected output?

##### Description
Refed Enum wit

[2019-02-12 04:33] jmini commented on #1323
It sounds like https://github.com/OpenAPITools/openapi-generator/issues/1981 what I have tried to address with https://github.com/OpenAPITools/openapi-generator/pull/2001

During my tests and for @ajdergute it seems to work.

So we need to understand what additional case you need to support.

[2019-02-12 04:47] jmini commented on #2127
For me this is a duplicate of https://github.com/OpenAPITools/openapi-generator/issues/1927

With the path:
[code]

And following schema:
[code]

With the latest `4.0.0-SNAPSHOT` the current status is that the `@DefaultValue` is generated, but it contains the value `@DefaultValue("Red")` where the enum name should be used `@DefaultValue("RED")` to match the enum value name: `org.openapitools.model

[2019-02-12 05:35] fujigon commented on #2127
Thanks for reply.
The problem is that
[here](https://github.com/fujigon/openapi-generator/commit/cab6857d908c436b78622c68335b40da727d732c#r32279593) causes build break.

[2019-02-12 06:55] tomghyselinck commented on #1662
See also https://github.com/OpenAPITools/openapi-generator/issues/1663#issuecomment-462378702 for a related issue where we can't use the `discriminator.propertyName` from a parent object.

[2019-02-12 06:57] jmini commented on #1927
After merge of PR #2001, there is still work to do:

With the path:
[code]

And following schema:
[code]

With the latest `4.0.0-SNAPSHOT` the current status is that the `@DefaultValue` is generated, but it contains the value `@DefaultValue("Red")` where the enum name should be used `@DefaultValue("RED")` to match the enum value name: `org.openapitools.model.BasicColor.RED("Red")`

[2019-02-12 07:06] jmini commented on #2127
Thank you for the analysis. I knew that PR #2001 was not sufficient in some corner cases... but the situation is worse than I thought.

If you have following enum Schemas:

[code]

And following schema:

[code]

Then only the string case is correctly managed.
I have the feeling that almost all java generator are affected by the issue.

Let me change the title of this issue.

[2019-02-12 07:09] jmini commented on #1981
Some follow up is requested: see #2127

[2019-02-12 10:09] dojeda commented on #1991
Just to be sure, when you say making them base level models, you mean changing to something like:
`$ref:  '#/components/schemas/Page'` ?

[2019-02-12 11:50] sysmat commented on #855
When in responses using headers

[code]

env:
[code]
error:
[code]

[2019-02-12 14:05] jimschubert opened #2131 "[plugin][maven] Additional Properties (possibly others) missing from plugin README"
##### Description

While answering a question in gitter, I found that the maven plugin's README doesn't list `additionalProperties` as an option for configuration.

This should be added, and other available properties should be checked for missing doc.

##### openapi-generator version

master

##### OpenAPI declaration file content or url

##### Command line used for generation

##### Steps to rep

[2019-02-12 14:22] clojj commented on #15
What is the status of "oneOf" issues ?
We'd like to generate from a spec which has several oneOf... not only as requestBody, but also as responseBody

[2019-02-12 15:17] spacether commented on #1991
Yes, that's what I meant.

[2019-02-12 16:07] jmini commented on #855
@sysmat Your problem is that you do not have a Schema defined in your header.

It works when you write:
[code]

I have proposed an PR to use String when nothing is defined. See #2133. Fell free to continue the discussion there.

[2019-02-12 17:47] tcjcodes commented on #2099
**Workaround**:

[code]

[2019-02-12 17:54] jacobweber commented on #2125
Also happening with `-g java -Dlibrary=okhttp-gson`.

[2019-02-12 18:26] #2120 closed

[2019-02-12 18:54] silkentrance opened #2135 "[BUG] Vendor extensions aka custom properties not available when property type is a $ref with Java code generator"
#### Bug Report Checklist

- [x] Have you provided a full/minimal spec to reproduce the issue?
- [x] Have you validated the input using an OpenAPI validator ([example](https://apidevtools.org/swagger-parser/online/))?
- [x] What's the version of OpenAPI Generator used?
- [x] Have you search for related issues/PRs?
- [x] What's the actual output vs expected output?
- [ ] Have you a PR ready for thi

[2019-02-12 19:10] silkentrance commented on #2135
Oh well, this is related to the swagger parser and the swagger models. Any chance of forking these, too?

[2019-02-12 19:16] silkentrance commented on #2135
It seems we need a different approach here. Will try to come up with a solution that is conforming to the JSON Schema Specification... darn.

[2019-02-12 19:16] #2135 closed

[2019-02-12 19:48] #2004 closed

[2019-02-12 21:31] jmini commented on #855
@sysmat you can try with the latest `4.0.0-SNAPSHOT`

[2019-02-12 22:40] nhultz commented on #1053
I ran into this same problem today while using `dateLibrary: java8` in my config.

Looks like the java generator is pinned to use `jackson-databind:2.8.11.3` and ISO8601DateFormat was marked as deprecated in `2.9` and above.

If you use your own `build.gradle` (like I was trying to do) that uses the later version of jackson-databind, you'll get the deprecated warning.

Confirmed this is still happ

[2019-02-13 08:07] rienafairefr commented on #206
I've pushed a PR that I think addresses this issue, #2134